{% from 'includes/forms.html' import required, optional %}
{% from 'developers/includes/macros.html' import some_html_tip %}

{% if addon.has_profile() %}
  <h2>{{ _('Manage Your Developer Profile') }}</h2>
{% else %}
  <h2>{{ _('Create a Developer Profile') }}</h2>
{% endif %}

<div class="island">
<p>
  {{ _("Your developer profile will tell users about you, why you made this
        app, and what's next for the app. This profile can be useful for
        any developer interested in connecting with users.") }}
</p>

<div class="brform c">
  <label class="optional above-the-field" for="the_reason" data-for="the_reason">
    {{ profile_form.the_reason.label }}
    {{ optional() }}
  </label>
  <p class="help">
    {% trans %}
      Whether it was an idea while in line at the grocery store or the
      solution to one of life's great problems, share your story.
    {% endtrans %}
  </p>
  {{ profile_form.the_reason.errors }}
  {{ profile_form.the_reason }}
  {{ some_html_tip() }}

  <label class="above-the-field" for="the_future" data-for="the_future">
    {{ profile_form.the_future.label }}
    {{ optional() }}
  </label>
  <p class="help">
    {% trans %}
      Telling your users what's coming soon will give them something to
      look forward to.
    {% endtrans %}
  </p>
  {{ profile_form.the_future.errors }}
  {{ profile_form.the_future }}
  {{ some_html_tip() }}
</div>
<footer class="listing-footer">
  <button>
    {{ _('Save Changes') if addon.has_profile() else _('Create Profile') }}
  </button>
</footer>
</div>
