{% set urls = [
  (addon.get_dev_url(), _('Edit Listing')),
  (addon.get_dev_url('owner'), loc('Manage Authors')),
  (addon.get_dev_url('profile'), _('Manage Developer Profile')),
  (addon.get_dev_url('payments'), _('Manage Payments')),
  (addon.get_dev_url('versions'), loc('Manage Status')),
] %}
{% if addon.is_premium() and waffle.switch('allow-refund') %}
  {% do urls.insert(4, (addon.get_dev_url('refunds'), _('Manage Refunds'))) %}
{% endif %}
{% if addon.is_premium() or addon.premium_type == amo.ADDON_FREE_INAPP %}
  {% do urls.insert(4, (addon.get_dev_url('paypal_setup'), loc('Manage PayPal'))) %}
{% endif %}
{% if addon.is_webapp() and addon.premium_type in amo.ADDON_INAPPS
      and waffle.switch('in-app-payments') %}
  {% do urls.insert(4,
    (addon.get_dev_url('in_app_config'), _('Manage In-App Payments'))
  ) %}
{% endif %}

<section class="secondary manage" role="complementary">
  <div class="island" id="edit-addon-nav">
    <ul class="refinements">
      {% for url, title in urls %}
        <li{% if request.path.startswith(url) %} class="selected"{% endif %}>
          <a href="{{ url }}">{{ title }}</a></li>
      {% endfor %}
    </ul>
  </div>
</section>
