{% set urls = [
  (addon.get_dev_url(), _('Edit Listing'))
] %}

{% if addon.is_packaged %}
  {% do urls.append((addon.get_dev_url('versions'), _('Status &amp; Versions'))) %}
{% else %}
  {% do urls.append((addon.get_dev_url('versions'), _('Status'))) %}
{% endif %}

{% if waffle.switch('iarc') %}
  {% do urls.append(
    (addon.get_dev_url('ratings'), _('Content Ratings'))
  ) %}
{% endif %}

{% if not waffle.switch('disabled-payments') or addon.is_premium() %}
  {% do urls.append((addon.get_dev_url('payments'),
                     _('Compatibility & Payments'))) %}
  {% if addon.is_webapp() and addon.premium_type in amo.ADDON_INAPPS
        and waffle.switch('in-app-payments') %}
    {% do urls.insert(4,
      (addon.get_dev_url('in_app_config'), _('In-App Payments'))
    ) %}
  {% endif %}
{% else %}
  {% do urls.append((addon.get_dev_url('payments'),
                     _('Compatibility'))) %}
{% endif %}

{% do urls.append((addon.get_dev_url('owner'), _('Team Members'))) %}
{% do urls.append((addon.get_url_path(), _('View Listing'))) %}


{% set other_urls = [] %}
{% if waffle.switch('comm-dashboard') %}
  {% do other_urls.append(
    (addon.get_comm_thread_url(), _('Messages'))
  ) %}
{% endif %}

{# TODO: Re-enable with new URL when per-app stats are ready for Monolith.
{% do other_urls.append(
  (addon.get_stats_url(), _('Statistics'))
) %}
#}

{% if waffle.switch('view-transactions') %}
  {% do other_urls.append(
    (url('mkt.developers.transactions')|urlparams(app=addon.id), _('Transactions')),
  ) %}
{% endif %}


<section class="secondary manage" role="complementary">
  <div class="island edit-addon-nav">
    <ul class="refinements">
      {% for url, title in urls %}
        <li{% if request.path.startswith(url) %} class="selected"{% endif %}>
          <a href="{{ url }}">{{ title }}</a></li>
      {% endfor %}
    </ul>
  </div>

  {% if other_urls %}
    <div class="island edit-addon-nav">
      <ul class="refinements">
        {% for url, title in other_urls %}
          <li{% if request.path.startswith(url) %} class="selected"{% endif %}>
            <a href="{{ url }}">{{ title }}</a></li>
        {% endfor %}
      </ul>
    </div>
  {% endif %}
</section>
