{% macro sort_vital(addon, field) %}
  {% if field not in ('created', 'updated') %}
    <span class="vital downloads">
      {{ addon|weekly_downloads }}
    </span>
  {% endif %}
  {% if field in ('created', 'updated') %}
    <span class="vital updated">
      {% if field == 'created' %}
        {# L10n: {0} is a date. #}
        {{ _('Added {0}')|f(addon.created|datetime) }}
      {% else %}
        {# L10n: {0} is a date. #}
        {{ _('Updated {0}')|f(addon.last_updated|datetime) }}
      {% endif %}
    </span>
  {% endif %}
{% endmacro %}

<h3>
  {% set dl_url = product.get_url_path() %}
  {% if dl_src %}
    {% set dl_url = dl_url|urlparams(src=dl_src) %}
  {% endif %}
  <img class="icon" src="{{ product.get_icon_url(64) }}">
    {{ product.name }}
</h3>
<p class="authors">{{ product.listed_authors[0].name }}</p>
{{ market_button(product) }}
<div class="vitals c">
  {{ product.average_rating|float|stars }}
  {{ sort_vital(product, 'downloads') }}
  {% if field in ('created', 'updated') %}
    {{ sort_vital(product, field) }}
  {% endif %}
</div>
