<ul class="paginator">
  <li class="prev">
    {% if pager.has_previous() %}
      <a href="{{ pager.url|urlparams(page=pager.previous_page_number()) }}">{{ _('Prev') }}</a>
    {% else %}
      {{ _('Prev') }}
    {% endif %}
  </li>
  <li class="page">
    {{ ngettext('Page {n}', 'Page {n}', pager.number)|f(n=pager.number) }}
  </li>
  <li class="next">
    {% if pager.has_next() %}
      <a href="{{ pager.url|urlparams(page=pager.next_page_number()) }}">{{ _('Next') }}</a>
    {% else %}
      {{ _('Next') }}
    {% endif %}
  </li>
</ul>
