{% from 'amo/site_nav.html' import section %}

{% set slims = (
    ('my-apps', _('My Purchases'), url('users.purchases')),
) %}

{% set extras = (
    ('downloads', _('Most Popular')),
    ('free', _('Top Free')),
    ('paid', _('Top Paid')),
    ('rating', _('Highest Rated')),
) %}

{% set collection_extras = (
    ('featured', _('Featured')),
    ('users', _('Most Followers')),
    ('created', _('Newest')),
) %}

<nav id="site-nav" class="app-nav menu-nav c" role="navigation">
  {# TODO(apps): Finalize these links. #}
  <ul>
    {{ section('explore-cats', _('Categories'), url('apps.list'), extras, cats) }}
    {% for id, title, link in slims %}
      <li class="slim" id="{{ id }}"><a href="{{ link }}">{{ title }}</a></li>
    {% endfor %}
{#
    <li id="collections">
    {% with base_url = url('collections.list') %}
      <a href="{{ base_url }}">{{ _('Collections') }}</a>
      <ul>
        {% for sort, title in collection_extras %}
          <li><em><a href="{{ base_url|urlparams(sort=sort) }}">{{ title }}</a></em></li>
        {% endfor %}
        <hr>
        <li><a href="{{ url('collections.mine') }}">
          {{ _("Collections I've Made") }}</a></li>
        <li><a href="{{ url('collections.following') }}">
          {{ _("App Collections I'm Following") }}</a></li>
        <li><a href="{{ url('collections.mine', 'favorites') }}">
          My Favorite Apps</a></li>
      </ul>
    {% endwith %}
    </li>
#}
    <li id="more">
      <a href="#">{{ _('More&hellip;') }}</a>
      <ul>
        <li id="submit-app"><a href="{{ url('devhub.submit_apps.1') }}">
          {{ _('Submit an App') }}</a></li>
        {#<li><a href="#">How to use Apps</a></li>#}
        <li><a href="https://addons.mozilla.org">Firefox Add-ons</a></li>
      </ul>
    </li>
  </ul>
</nav>
