{% extends "impala/base.html" %}
 
{% block user_login_include %}
  {% with devhub_backlink="True" %} 
    {% include "impala/user_login.html" %}
  {% endwith %}
{% endblock %}

{% if addon %}
  {% set editable_body_class = "no-edit" if not check_addon_ownership(request, addon, dev=True) %}
{% endif %}
{% block bodyclass %}developer-hub gutter {{ editable_body_class }}{% endblock %}

{% block bodyattrs %}
{% if addon %}data-default-locale="{{ addon.default_locale|lower }}"{% endif %}
{% endblock %}

{% block title %}{{ dev_page_title() }}{% endblock %}

{% block extrahead %}
  {{ css('zamboni/devhub_impala') }}
{% endblock %}

{% block aux_nav %}
  <li class="nomenu">
    <a class="return" href="{{ url('home') }}">{{ _('Back to Add-ons') }}</a>
  </li>
{% endblock %}

{% block site_header_title %}
  {% include "devhub/nav.html" %}
{% endblock %}

{% block search_form %}
{% include "devhub/search.html" %}
{% endblock %}

{% block js %}
  {{ js('zamboni/devhub') }}
{% endblock %}

{% set hide_mobile_link=True %}

{% block footer_extras %}
  <img class="footerlogo" src="{{ static('img/developers/hub-logo-footer.png') }}" alt="">
{% endblock %}
