{% extends 'devhub/base_impala.html' %}

{% if query %}
  {% set title = _('{0} :: Search')|f(query) %}
{% else %}
  {% set title = _('Search') %}
{% endif %}
{% block title %}{{ dev_page_title(title) }}{% endblock %}

{% block content %}
{% if query %}
<h1>{{ _('Search Results for "{0}"')|f(query) }}</h1>
{% else %}
<h1>{{ _('Search Results') }}</h1>
{% endif %}

<div id="search-results" role="main" class="listing island hero c">
  <div id="resultcount" class="hidden">{{ _('Please enter some search terms.') }}</div>
  <div id="cse">
    <p>{{ _('Loading results&hellip;') }}</p>
  </div>
  <div id="no-devsearch-results" class="hidden">
    <p class="no-results">{{ _('No results found.') }}</p>
  </div>
</div>
{% endblock %}
{% block js_extras %}
  <!-- Google Custom Search Element -->
  <script src="https://www.google.com/jsapi"></script>
  <script src="{{ static('js/zamboni/devhub_search.js') }}"></script>
{% endblock %}
