{% extends "devhub/base.html" %}

{% block title %}{{ dev_page_title(title) }}{% endblock %}

{% block content %}
<header>
  <h2>{{ title }}</h2>
</header>
<form method="post" id="create-addon" class="item new-addon-file">
  {% csrf_token %}
  <p>
  {% trans %}
    Use the field below to upload your add-on package.
  {% endtrans %}
  {% if appversion_form %}
    {% trans webext_doc_url='https://developer.mozilla.org/en-US/Add-ons/WebExtensions' %}
      Note that this tool only works with legacy add-ons.
      WebExtension APIs are thoroughly <a href="{{ webext_doc_url }}">documented here</a>.
    {% endtrans %}
    </p>
    <p>
    {% trans %}
      After upload, a series of automated validation tests will
      run to check compatibility with the following
      application version:
    {% endtrans %}
    </p>
    <section id="addon-compat-upload">
      {% for elem in ('application', 'app_version') %}
        <label id="label-{{ elem }}" for="id_{{ elem }}">
          {{ appversion_form[elem].label }}</label>
        <span id="elem-{{ elem }}">{{ appversion_form[elem] }}</span>
      {% endfor %}
    </section>
  {% else %}
    {% trans %}
      After upload, a series of automated validation tests will be
      run on your file.
    {% endtrans %}
    </p>
  {% endif %}
  <section id="upload-file" class="validate-addon">
    <div class="list-addon">
      <label>{{ _('Do you want your add-on to be distributed on this site?') }}</label>
      {{ new_addon_form.channel }}
    </div>
    <input type="file" id="upload-addon"
      data-upload-url="{{ url('devhub.standalone_upload') }}"
      data-upload-url-listed="{{ url('devhub.standalone_upload') }}"
      data-upload-url-unlisted="{{ url('devhub.standalone_upload_unlisted') }}"">
  </section>
</form>
{% endblock content %}
