{% extends "developers/base_impala.html" %}

{% set title = _('Manage My Submissions') %}

{% block title %}{{ hub_page_title(title) }}{% endblock %}

{% block content %}
  <header class="hero">
    {#{{ hub_breadcrumbs(items=[(None, _('My Submissions'))]) }}#}
    <h1>{{ title }}</h1>
  </header>
  <section id="dashboard" class="island listing primary full">
    {% if not addons %}
      <h2>{{ _('Welcome to the Developer Dashboard') }}</h2>
      <p>
        You haven't yet submitted an app to the Firefox Marketplace.
        Once you've <a href="https://developer.mozilla.org/apps">
        created your app</a>, click Submit Your App below.
      </p>
      <p class="listing-footer button-wrapper">
        <a href="{{ url('submit.app') }}"
           class="button prominent">{{ _('Submit An App') }}</a>
      </p>
    {% else %}
      {{ impala_addon_listing_header(request.get_full_path(),
                                     search_filter=filter) }}
      <div class="items">
        {{ hub_addon_listing_items(addons.object_list) }}
      </div>
      {{ addons|impala_paginator }}
    {% endif %}
  </section>
{% endblock %}
