{% extends "developers/base_impala.html" %}

{% set title = _('Edit Listing') %}

{% block title %}
{{ hub_page_title(title, addon) }}
{% endblock %}

{% macro empty_unless(truthy) %}
    {% if truthy %}
        {{ caller() }}
    {% else %}
        <span class="empty">{{ _('None') }}</span>
    {% endif %}
{% endmacro %}


{% block content %}
<header>
  {{ hub_breadcrumbs(addon) }}
  {{ l10n_menu(addon.default_locale) }}
  <h1>{{ title }}</h1>
</header>

<section class="primary manage" role="main">
  <div id="edit-addon" class="devhub-form">

    <div class="edit-addon-section" id="edit-app-basic">
      {% include 'developers/apps/edit/basic.html' %}
    </div>

    <div class="edit-addon-section" id="edit-app-language">
      {% include 'developers/apps/edit/language.html' %}
    </div>

    <div class="edit-addon-section edit-media" id="edit-addon-media"
         data-checkurl="{{ addon.get_dev_url('ajax.image.status') }}">
      {% include 'developers/apps/edit/media.html' %}
    </div>

    <div class="edit-addon-section" id="edit-addon-details">
      {% include 'developers/apps/edit/details.html' %}
    </div>

    <div class="edit-addon-section" id="edit-addon-support">
      {% include 'developers/apps/edit/support.html' %}
    </div>

    <div class="edit-addon-section edit-technical" id="edit-app-technical">
      {% include 'developers/apps/edit/technical.html' %}
    </div>

    {% if action_allowed('Apps', 'Configure') or action_allowed('Apps', 'ViewConfiguration') %}
      <div class="edit-addon-section edit-media" id="edit-addon-admin"
           data-checkurl="{{ addon.get_dev_url('ajax.image.status') }}">
        {% include 'developers/apps/edit/admin.html' %}
      </div>
    {% endif %}
  </div>
</section>

{% include 'developers/includes/addons_edit_nav.html' %}

{% endblock %}
