{% extends 'developers/base_impala.html' %}

{% set title = _('Developer Profile') %}
{% block title %}{{ hub_page_title(title, addon) }}{% endblock %}

{% block content %}
  <header>
    {{ hub_breadcrumbs(addon, items=[(None, title)]) }}
    {{ l10n_menu(addon.default_locale) }}
    <h1>{{ title }}</h1>
  </header>

  <section class="primary manage">
    {% set remove_url = addon.get_dev_url('profile.remove') %}
    {% if addon.has_full_profile() %}
      <div id="status-bar" class="notification-box c">
        <form method="post" action="{{ remove_url }}">
          {{ csrf() }}
          {{ _('Your developer profile is set to be <b>public</b>.')|safe }}
          <button type="submit">{{ _('Remove Profile') }}</button>
        </form>
      </div>
    {% elif addon.has_profile() %}
      {# Is partially completed? #}
      <div id="status-bar" class="notification-box c">
        <form method="post" action="{{ remove_url }}">
          {{ csrf() }}
          {{ _('Your developer profile will be <b>public</b> when it '
               'is fully completed.')|safe }}
          <button type="submit">{{ _('Remove Profile') }}</button>
        </form>
      </div>
    {% endif %}
    <form id="profile-form" class="devhub-form" method="post">
      {{ csrf() }}
      {% include 'developers/includes/addons_create_profile.html' %}
    </form>
  </section>

  {% include 'developers/includes/addons_edit_nav.html' %}
{% endblock %}
