{% extends 'developers/base_impala.html' %}

{% set title = _('Manage Status') %}
{% block title %}{{ hub_page_title(title, addon) }}{% endblock %}

{% macro status(msg) %}
  <strong class="status {{ mkt_status_class(addon) }}">{{ msg }}</strong>
{% endmacro %}

{% block content %}
  <header>
    {{ hub_breadcrumbs(addon, items=[(None, title)]) }}
    <h1>{{ title }}</h1>
  </header>
  <section id="edit-addon" class="primary devhub-form manage">
    <h2>{{ _('Current Status') }}</h2>
    <div class="island" id="version-status">
      <p class="status">
        {% if addon.disabled_by_user and addon.status != amo.STATUS_DISABLED %}
          {{ status(_('You have <b>disabled</b> this app.')|safe) }}
          {{ _("Your app's listing is disabled and will not appear in the
                Firefox Marketplace. You may re-enable it at any time below.") }}
        {% elif addon.status == amo.STATUS_NULL %}
          {{ status(_('This app is <b>incomplete</b>.')|safe) }}
          <a href="{{ url('submit.app.resume', addon.app_slug) }}">
            {{ _('Please complete your app.') -}}
          </a>
        {% elif addon.status == amo.STATUS_PENDING %}
          {{ status(_('This app is <b>awaiting review</b>.')|safe) }}
          {{ _('You will receive an email when the review is complete.') }}
        {% elif addon.status == amo.STATUS_PUBLIC %}
          {{ status(_('This app is <b>public</b>.')|safe) }}
        {% elif addon.status == amo.STATUS_DISABLED %}
          {{ status(_('This app has been <b>disabled by Mozilla</b>.')|safe) }}
          {{ _("Your app was disabled by a site administrator. If you have any
                questions, please email app-reviews@mozilla.org.") }}
        {% elif addon.status == amo.STATUS_REJECTED %}
          {{ status(_('This app has been <b>rejected</b> by a Firefox Marketplace reviewer.')|safe) }}
        {% elif addon.status == amo.STATUS_PUBLIC_WAITING %}
          {{ status(_('Your app has been <b>approved but is not public</b>.')|safe) }}
          {{ _('It is awaiting your approval to make public.') }}
        {% endif %}
        {% if not (addon.is_disabled or addon.is_incomplete()) %}
          <a href="https://developer.mozilla.org/en/Apps/Marketplace_Review"
             target="_blank">{{ _('Learn more') }}</a>
        {% endif %}
        {% if addon.status == amo.STATUS_REJECTED %}
          <form method="post">
            {{ csrf() }}
            {% if rejection %}
              <section class="island swagger" id="rejection">
                <h3>
                  {% trans reviewer=rejection.user.name %}
                    Reviewed by <b>{{ reviewer }}</b>
                  {% endtrans %}
                  <time datetime="{{ rejection.created|isotime }}"
                        title="{{ rejection.created|babel_datetime }}">
                    ({{ rejection.created|timesince }})</time>
                </h3>
                <blockquote>
                  {{ rejection.details.comments }}
                </blockquote>
              </section>
              <p>
                {% trans %}
                  Once you have addressed these concerns, you may resubmit your
                  app below.
                {% endtrans %}
              </p>
            {% endif %}
            {{ form_field(form.release_notes, opt=True) }}
            <p><button type="submit" name="resubmit-app">{{ _('Resubmit App') }}</button></p>
          </form>
        {% elif addon.status == amo.STATUS_PUBLIC_WAITING %}
          <form method="post" action="{{ addon.get_dev_url('publicise') }}">
            {{ csrf() }}
            <p><button type="submit">{{ _('Make App public') }}</button></p>
          </form>
        {% endif %}
      </p>
      <p class="version-status-actions listing-footer">
        {% if check_addon_ownership(request, addon, dev=True) %}
          {% if addon.disabled_by_user and addon.status != amo.STATUS_DISABLED %}
            <a href="{{ addon.get_dev_url('enable') }}" class="button" id="enable-addon">
              {{ _('Enable App') }}</a>
          {% elif not addon.is_disabled %}
            <a href="#" class="button" id="disable-addon">
              {{ _('Disable App') }}</a>
          {% endif %}
        {% endif %}
        {% if check_addon_ownership(request, addon) and addon.can_be_deleted() %}
          <a href="#" class="button delete-button" id="delete-addon">
            {{ _('Delete App') }}</a>
        {% endif %}
      </p>
    </div>

    {% if addon.is_packaged %}
      {% set versions = addon.versions.all() %}
      {% if versions %}
        <h2>{{ _('Packaged Versions') }}</h2>
        <div class="island c">
          <ul id="version-list">
            {% for version in versions %}
              <li>
                <h4><a href="{{ addon.get_dev_url('versions.edit', [version.pk]) }}">Version {{ version.version }}</a></h4>
                <small>
                  {% if addon.disabled_by_user %}
                    <span class="{{ mkt_file_status_class(addon, version) }}"><b>{{ _('Disabled') }}</b></span>
                  {% else %}
                    <span class="{{ mkt_file_status_class(addon, version) }}"><b>{{ version.status|join(', ') }}</b></span>
                  {% endif %}
                </small>
                <small>Submitted <span title="{{ version.created|isotime }}">{{ version.created|datetime }}</span></small>
                <div class="buttons">
                  <a href="{{ version.all_files[0].get_url_path('devhub') }}" class="button download">{{ _('Download') }}</a>
                  {# TODO: Install and delete buttons #}
                </div>
              </li>
            {% endfor %}
          </ul>
        </div>
      {% endif %}

      <h2>{{ _('Upload New Version') }}</h2>
      <div class="island">
        <form method="post" id="create-addon" class="item">
          {{ csrf() }}
          <p>
          {% trans %}
            Use the fields below to upload your packaged app. After upload, a
            series of automated validation tests will be run on your file.
          {% endtrans %}
          </p>
          <div id="submit-upload upload-file">
            <div class="hidden">{{ upload_form.upload }}</div>
            <input type="file" id="upload-app" data-upload-url="{{ url('mkt.developers.upload') }}">
            {{ upload_form.errors }}
            <div class="submission-buttons addon-submission-field">
              <button class="prominent addon-upload-dependant" disabled id="submit-upload-file-finish" type="submit" name="upload-version">
                {{ _('Continue') }}
              </button>
            </div>
          </div>
        </form>
      </div>
    {% endif %}

  </section>

  <div id="modals">
    {% if addon.can_be_deleted() %}
      <div id="modal-delete" class="modal modal-delete">
        {% include "developers/apps/listing/delete_form.html" %}
      </div>
    {% endif %}
    {% if not addon.disabled_by_user and not addon.is_disabled %}
      <div id="modal-disable" class="modal">
        <form method="post" action="{{ addon.get_dev_url('disable') }}">
          {{ csrf() }}
          <h3>{{ _('Disable App') }}</h3>
          <p>
            {{ _('Disabling your app will prevent it from appearing anywhere
                  in the Firefox Marketplace.') }}
          </p>
          <p>
            <label>{{ _('Are you sure you wish to disable your app?') }}</label>
          </p>
          <p class="listing-footer">
            <button type="submit">{{ _('Disable App') }}</button>
            {{ _('or') }} <a href="#" class="cancel close">{{ _('Cancel') }}</a>
          </p>
        </form>
        <a href="#" class="close">{{ _('Cancel') }}</a>
      </div>
    {% endif %}
  </div>
  {% include 'developers/includes/addons_edit_nav.html' %}
{% endblock %}
