{% extends 'developers/base_impala.html' %}
{% from 'developers/includes/macros.html' import queue_position with context %}

{% if addon.is_packaged %}
  {% set title = _('Manage Status & Versions') %}
{% else %}
  {% set title = _('Manage Status') %}
{% endif %}
{% block title %}{{ hub_page_title(title, addon) }}{% endblock %}

{% macro status(msg) %}
  <strong class="status {{ mkt_status_class(addon) }}">{{ msg }}</strong>
{% endmacro %}

{% block content %}
  <header>
    {{ hub_breadcrumbs(addon, items=[(None, title)]) }}
    <h1>{{ title }}</h1>
  </header>
  <section id="edit-addon" class="primary devhub-form manage">
    <h2>{{ _('Current Status') }}</h2>
    <div class="island" id="version-status" data-status="{{ addon.status }}">
      <div class="status-info">
        {% if addon.disabled_by_user and addon.status != amo.STATUS_DISABLED %}
          {{ status(_('You have <b>delisted</b> this app.')|safe) }}
        {% elif addon.status == amo.STATUS_NULL %}
          {% if addon.is_premium() and addon.is_complete()[0] %}
            {{ status(_('This app is <b>incomplete</b> because it is missing payment information.')) }}
            <a href="{{ addon.get_dev_url('payments') }}">
              {{- _('Set Up Payments') -}}
            </a>
          {% else %}
            {{ status(_('This app is <b>incomplete</b>.')|safe) }}
            <a href="{{ url('submit.app.resume', addon.app_slug) }}">
              {{- _('Please complete your app.') -}}
            </a>
          {% endif %}
        {% elif addon.status == amo.STATUS_PENDING %}
          <p>{{ status(_('This app is <b>pending review</b> by a Firefox Marketplace reviewer.')|safe) }}</p>
          {{ queue_position(addon, 'p') }}
          {{ _('You will receive an email when the review is complete.') }}
        {% elif addon.status == amo.STATUS_PUBLIC %}
          {{ status(_('This app is <b>public</b>.')|safe) }}
        {% elif addon.status == amo.STATUS_DISABLED %}
          {{ status(_('This app has been <b>disabled by Mozilla</b>.')|safe) }}
          {% trans email=emaillink(settings.MKT_REVIEWERS_EMAIL) %}
            Your app was disabled by a site administrator. If you have any
            questions, please email {{ email }}.
          {% endtrans %}
        {% elif addon.status == amo.STATUS_BLOCKED %}
          {{ status(_('Your app has been <b>blocked by Mozilla</b>.')|safe) }}
          {% trans email=emaillink(settings.MKT_REVIEWERS_EMAIL) %}
            Your app was blocked by a site administrator. If you have any
            questions, please email {{ email }}.
          {% endtrans %}
        {% elif addon.status == amo.STATUS_REJECTED %}
          {{ status(_('This app has been <b>rejected</b> by a Firefox Marketplace reviewer.')|safe) }}
        {% elif addon.status == amo.STATUS_PUBLIC_WAITING %}
          {{ status(_('Your app has been <b>approved but is not public</b>.')|safe) }}
          {{ _('It is awaiting your approval to make public.') }}
        {% endif %}
        {% if not (addon.is_disabled or addon.is_incomplete()) %}
          <a href="https://developer.mozilla.org/en-US/docs/Apps/Marketplace_Review"
             target="_blank">{{ _('Learn more') }}</a>
        {% endif %}
        {% if addon.status == amo.STATUS_REJECTED %}
            {% if rejection %}
              <div class="island swagger" id="rejection">
                <h3>
                  {% trans reviewer=rejection.user.name %}
                    Reviewed by <b>{{ reviewer }}</b>
                  {% endtrans %}
                  <time datetime="{{ rejection.created|isotime }}"
                        title="{{ rejection.created|babel_datetime }}">
                    ({{ rejection.created|timesince }})</time>
                </h3>
                <blockquote>
                  {{ rejection.details.comments }}
                </blockquote>
              </div>
              <p>
                {% if addon.is_packaged %}
                  {% trans resubmit_url='#upload-new-version' %}
                    Once you have addressed these concerns, you may <a href="{{ resubmit_url }}">resubmit your
                    app below</a>.
                  {% endtrans %}
                {% else %}
                  {% trans %}
                    Once you have addressed these concerns, you may resubmit your
                    app below.
                  {% endtrans %}
                {% endif %}
              </p>
            {% endif %}
            {% if not addon.is_packaged %}
              <form method="post">
                {{ csrf() }}
                {{ form_field(form.notes, opt=True) }}
                <p><button type="submit" name="resubmit-app">{{ _('Resubmit App') }}</button></p>
              </form>
            {% endif %}
        {% elif addon.status == amo.STATUS_PUBLIC_WAITING %}
          <form method="post" action="{{ addon.get_dev_url('publicise') }}">
            {{ csrf() }}
            <p><button type="submit">{{ _('Make App public') }}</button></p>
          </form>
        {% endif %}
      </div>
    </div>

    {% if check_addon_ownership(request, addon, dev=True) %}
      {% set is_disabled = addon.disabled_by_user and addon.status != amo.STATUS_DISABLED %}
      <div class="island c">
        <h2>{{ _('List App') if is_disabled else _('Delist App') }}</h2>
        <p>
          {% if is_disabled %}
            {% trans %}
              Your app's listing is disabled and will not appear in the Firefox
              Marketplace. You may re-list it at any time.
            {% endtrans %}
          {% else %}
            {% trans %}
              Delisting your app will prevent it from appearing anywhere in the
              Marketplace.
            {% endtrans %}
          {% endif %}
        </p>
        <p class="listing-footer">
          {% if is_disabled %}
            <a href="{{ addon.get_dev_url('enable') }}" class="button" id="enable-addon">
              {{ _('List App') }}</a>
          {% elif not addon.is_disabled %}
            <a href="#" class="button" id="disable-addon">
              {{ _('Delist App') }}</a>
          {% endif %}
        </p>
      </div>
    {% endif %}

    {% if check_addon_ownership(request, addon) and addon.can_be_deleted() %}
      <div class="island c">
        <h2>{{ _('Delete App') }}</h2>
        <p>
          {% trans %}
          Deleting your app will permanently delete it from the site. <strong>There is no going back.</strong>
          {% endtrans %}
        </p>
        <p class="listing-footer">
          <a href="#" class="button bad delete-button" id="delete-addon">
            {{ _('Delete App') }}</a>
        </p>
      </div>
    {% endif %}

    {% if addon.is_packaged %}
      {% set versions = addon.versions.all() %}
      {% if versions %}
        <h2>{{ _('Packaged Versions') }}</h2>
        <div class="island c">
          <ul id="version-list">
            {% for version in versions %}
              <li>
                <h4><a href="{{ addon.get_dev_url('versions.edit', [version.pk]) }}">Version {{ version.version }}</a></h4>
                <small>
                  {% if addon.disabled_by_user %}
                    <span class="{{ mkt_file_status_class(addon, version) }}"><b>{{ _('Disabled') }}</b></span>
                  {% else %}
                    <span class="{{ mkt_file_status_class(addon, version) }}"><b>{{ version.status|join(', ') }}</b></span>
                  {% endif %}
                </small>
                <small>Submitted <span title="{{ version.created|isotime }}">{{ version.created|datetime }}</span></small>
                {% if version.all_files[0].status != amo.STATUS_BLOCKED %}
                  <div class="buttons">
                    <a href="{{ version.all_files[0].get_url_path('') }}" class="button download">{{ _('Download') }}</a>
                    <a href="#" class="button bad delete-button delete-version" data-version="{{ version.id }}">{{ _('Delete') }}</a>
                  </div>
                {% endif %}
              </li>
            {% endfor %}
          </ul>
        </div>
      {% endif %}

      <h2 id="upload-new-version">{{ _('Upload New Version') }}</h2>
      <div class="island">
        <form method="post" id="upload-webapp" class="item">
          {{ csrf() }}
          <p>
          {% trans %}
            Upload a new version of this packaged app. New versions must be
            reviewed before they will be available for install.
          {% endtrans %}
          </p>
          <div id="upload-file">
            <div class="hidden">{{ upload_form.upload }}</div>
            <input type="file" id="upload-app" data-upload-url="{{ url('mkt.developers.upload') }}">
            {% if upload_form.non_field_errors() or upload_form.upload.errors %}
              <div class="post-validation-errors">
                {{ upload_form.non_field_errors() }}
                {{ upload_form.upload.errors }}
              </div>
            {% endif %}
            <div class="submission-buttons addon-submission-field">
              <button class="prominent upload-file-submit" disabled id="submit-upload-file-finish" type="submit" name="upload-version">
                {{ _('Continue') }}
              </button>
            </div>
          </div>
        </form>
      </div>

      {% if addon.is_packaged and addon.status == amo.STATUS_PUBLIC and action_allowed('Apps', 'Configure') %}
        <h2>{{ _('Blocklist App') }}</h2>
        <div class="island">
          <form method="post" id="blocklist-app" action="{{ addon.get_dev_url('blocklist') }}">
            <p>
            {% trans %}
              Blocklisting an app will upgrade the users to a special version
              which will make the app unusable on their Firefox OS devices.
              This will also remove this app from public pages until a new
              version is submitted and approved. These changes cannot be
              undone. Please proceed with caution.
            {% endtrans %}
            </p>
            {{ csrf() }}
            <input type="submit" value="{{ _('Blocklist') }}">
          </form>
        </div>
      {% endif %}

    {% endif %}

  </section>

  <div id="modals">
    {% if addon.can_be_deleted() %}
      <div id="modal-delete" class="modal modal-delete">
        {% include "developers/apps/listing/delete_form.html" %}
      </div>
    {% endif %}
    {% if not addon.disabled_by_user and not addon.is_disabled %}
      <div id="modal-disable" class="modal">
        <form method="post" action="{{ addon.get_dev_url('disable') }}">
          {{ csrf() }}
          <h3>{{ _('Delist App') }}</h3>
          <p>
            <label>{{ _('Are you sure you wish to delist your app?') }}</label>
          </p>
          <p class="listing-footer">
            <button type="submit">{{ _('Delist App') }}</button>
            {{ _('or') }} <a href="#" class="cancel close">{{ _('Cancel') }}</a>
          </p>
        </form>
      </div>
    {% endif %}
    {% if addon.is_packaged %}
      <div id="modal-delete-version" class="modal modal-delete" data-versions="{{ version_strings }}">
        <form method="post" action="{{ addon.get_dev_url('versions.delete') }}">
          {{ csrf() }}
          <h3 data-tmpl="{{ _('Delete Version &quot;{version}&quot;') }}"></h3>
          <p id="last-version" class="hidden">{{ _('Deleting the only version will result in the following:') }}</p>
          <p id="not-last-version" class="hidden">{{ _('Deleting this version will result in the following:') }}</p>
          <ul class="indent">
            <li>{{ _('all associated user reviews will be deleted') }}</li>
            <li id="last-version-other" class="hidden">{{ _('the app status will be marked as &quot;incomplete&quot;') }}</li>
            <li id="last-version-pending" class="hidden">{{ _('the app will be removed from our review queue') }}</li>
            <li id="last-version-public" class="hidden">{{ _('the app will not be listed in our public pages') }}</li>
          </ul>
          <p>{{ _('These changes cannot be undone.') }}</p>
          <p class="call-to-action">{{ _('Are you sure you wish to delete this version?') }}</label></p>
          <input type="hidden" name="version_id" class="version-id">
          <p class="listing-footer">
            <button type="submit">{{ _('Delete Version') }}</button>
            {{ _('or') }} <a href="#" class="cancel close">{{ _('Cancel') }}</a>
          </p>
        </form>
      </div>
    {% endif %}

  </div>
  {% include 'developers/includes/addons_edit_nav.html' %}
{% endblock %}
