<p>Thanks for submitting your {{ addon_name }} add-on to <a href="https://addons.mozilla.org">addons.mozilla.org</a> (AMO)! Your add-on listing will go live shortly in our gallery here: <a href="{{ detail_url }}">{{ detail_url }}</a></p>

<p>Please keep in mind that while your add-on has been screened and approved for listing, other reviewers may look into it in the future and determine that it requires changes or should be removed from the gallery. If that occurs, you will receive a separate notification with details and next steps.</p>

<p>For more information about the review process and policies, please visit <a href="https://developer.mozilla.org/Add-ons/AMO/Policy/Reviews">https://developer.mozilla.org/Add-ons/AMO/Policy/Reviews</a>.</p>

<hr />
Attract Users, Stay Updated, &amp; Get in Touch
<hr />

<p>Add-ons help personalize the web experience for millions of users who have installed Firefox, and we want to help make your users happy! If you have not already done so, we recommend checking out these resources:</p>

<ul>
<li>Help users discover and install your add-on by learning how to create an appealing listing: <a href="https://developer.mozilla.org/Add-ons/Listing">https://developer.mozilla.org/Add-ons/Listing</a></li>
<li>Want your add-on featured on AMO? Learn more: <a href="https://developer.mozilla.org/Add-ons/AMO/Policy/Featured">https://developer.mozilla.org/Add-ons/AMO/Policy/Featured</a></li>
<li>Join our mailing list to stay up-to-date with news and events relevant to add-on developers, including a subscription to our quarterly newsletter, about:addons: <a href="https://addons.mozilla.org/firefox/users/edit#acct-notify">https://addons.mozilla.org/firefox/users/edit#acct-notify</a></li>
<li>Follow the Add-ons Blog to stay up-to-date on the latest news: <a href="https://blog.mozilla.org/addons">https://blog.mozilla.org/addons/</a></li>
<li>For more add-on developer resources, please visit MDN web docs: <a href="https://developer.mozilla.org/Add-ons">https://developer.mozilla.org/Add-ons</a></li>
<li>Want to ask a question or file a bug report? These are the best ways to contact us: <a href="https://developer.mozilla.org/Add-ons#Contact_us">https://developer.mozilla.org/Add-ons#Contact_us</a></li>
</ul>

<p>Happy developing!</p>

<p>
-- <br/>
Mozilla Add-ons<br/>
<a href="https://addons.mozilla.org">https://addons.mozilla.org</a><br/>
</p>
