{% extends 'developers/base_impala.html' %}

{% set range = view.range %}

{% block bodyclass %}developer-hub statistics{% endblock %}

{% block extrahead %}
  {{ css('mkt/stats') }}
  <link rel="stylesheet"
        href="{{ media('css/zamboni/jquery-ui/custom-1.7.2.css') }}">
{% endblock %}

{% block paypal_js %}{% endblock %}

{% block title %}
  {# L10n: {0} is the app name #}
  {{ _('Marketplace Statistics Dashboard') }}
{% endblock %}

{% block content %}
<section id="stats">
  <header class="c">
    <hgroup class="c">
      <h1>
        {{ _('Marketplace Statistics Dashboard') }}
      </h1>
    </hgroup>

    {% include 'includes/criteria.html' %}

  </header>

  {% include 'sitestats/includes/stats_nav.html' %}

  <div id="lm" class="loadmessage">
    <span>{{ _('Loading the latest data&hellip;') }}</span>
  </div>
  <div class="primary statistics"
    data-report="{{ report }}"
    {% if view.last %}
    data-range="{{ view.last }}"
    {% endif %}
    {% if view.start and view.end %}
    data-range="custom"
    data-start_date="{{ view.start }}"
    data-end_date="{{ view.end }}"
    {% endif %}
    data-base_url="{{ stats_base_url }}">
    <div class="island chart">
      <div id="head-chart">
      </div>
      <div class="no-data-overlay">
        <p>{{ _('No data available.') }}</p>
      </div>
    </div>
    {% block stats %}
    {% endblock %}
    {% block csvtable %}
      <div class="island">
        {% block csvtitle %}{% endblock %}
        <div class="tabular csv-table">
          <div class="table-box">
            <table>
              <thead>
              </thead>
            </table>
          </div>
          <footer>
            <nav class="paginator c" role="navigation">
              <p class="range">
              </p>
              <p class="rel">
                <a href="#"
                   class="button prev disabled">
                  &#x25C2; {{ _('Previous') }}</a>
                <a href="#"
                   class="button next">
                  {{ _('Next') }} &#x25B8;</a>
              </p>
            </nav>
          </footer>
        </div>
      </div>
    {% endblock %}
    <div class="hidden">
      <div id="fieldMenuPopup" class="popup">
        <form id="fieldMenu">
          <ul id="fieldList">
          </ul>
        </form>
      </div>
    </div>
  </div>
  <div id="popup-container">
    <div class="modal" id="stats-note">
      <a class="close">{{ _('close') }}</a>
      {% block stats_note %}{% endblock %}
    </div>
    {% include 'stats/popup.html' %}
  </div>
</section>
{% endblock %}

{% block js %}
  <!--[if IE]>
    <script
      src="{{ media('js/lib/excanvas.compiled.js') }}">
    </script>
  <![endif]-->
  {{ js('mkt/stats') }}
{% endblock %}
