<section class="DevHub-Banner scheme-default">
  <div class="DevHub-content-container DevHub-content-container--banner">
    <div class="DevHub-callout-box DevHub-callout-box--banner">
      <h2>{{ _('Build best-in-class extensions and themes') }}</h2>
      <div>
        <p>
          {% trans %}
            Whether you’re new to extension development, polishing up or porting an
            existing extension or theme, or creating a custom enterprise solution,
            we’ve got the resources to support you.
          {% endtrans %}
        </p>
        <a href="{{ settings.EXTENSION_WORKSHOP_URL }}">{{ _('Visit the Extension Workshop') }}</a>
      </div>
    </div>
  </div>
</section>
