<footer class="DevHub-Footer content show-on-desktop {% if user_authenticated %}scheme-light{% endif %}">
  <div>
    <h3 class="DevHub-Footer-sections-header">Resources</h3>

    <div class="DevHub-Footer-sections">
      <div class="DevHub-Footer-section">
        <h4>Documentation</h4>
        <ul>
          <li><a href="#">Add-ons</a></li>
          <li><a href="#">WebExtensions</a></li>
          <li><a href="#">Themes</a></li>
        </ul>
      </div>

      <div class="DevHub-Footer-section">
        <h4>Community</h4>
        <ul>
          <li><a href="#">About</a></li>
          <li><a href="#">Forum</a></li>
          <li><a href="#">Blog</a></li>
          <li><a href="#">Contact Us</a></li>
        </ul>
      </div>

      <div class="DevHub-Footer-section">
        <h4>Support</h4>
        <ul>
          <li><a href="#">Review Policies</a></li>
          <li><a href="#">FAQ</a></li>
          <li><a href="#">Report Bug</a></li>
          <li><a href="#">Site Status</a></li>
        </ul>
      </div>

      <div class="DevHub-Footer-section">
        <h4>Tools</h4>
        <ul>
          <li><a href="#">Add-on Validator</a></li>
          <li><a href="#">Compatibility Checker</a></li>
          <li><a href="#">Compatibility Reporter</a></li>
        </ul>
      </div>

      <div class="DevHub-Footer-section">
        <h4>Promote</h4>
        <ul>
          <li><a href="#">Get Your Add-on Featured</a></li>
          <li><a href="#">"Get The Add-on" button</a></li>
        </ul>
      </div>

      <div class="DevHub-Footer-section">
        <h4>Legal</h4>
        <ul>
          <li><a href="#">Report Trademark Abuse</a></li>
          <li><a href="#">Privacy Policy</a></li>
          <li><a href="#">Legal Notices</a></li>
        </ul>
      </div>
    </div>

    <h3 class="DevHub-Footer-sections-header">Contribute</h3>

    <div class="DevHub-Footer-sections">
      <div class="DevHub-Footer-section">
        <h4>Review Add-ons</h4>
        <p>
          Volunteer reviewers help keep add-ons safe and
          reliable to use. They enjoy great perks too!
        </p>
        <a href="#">Join us!</a>
      </div>

      <div class="DevHub-Footer-section">
        <h4>Write Some Code</h4>
        <p>
          Help make add-ons better by contributing your coding skills.
        </p>
        <a href="#">Get started</a>
      </div>

      <div class="DevHub-Footer-section">
        <h4>More Ways to Participate</h4>
        <p>
          You don't need coding skills to help keep Firefox
          the most customizable browser available!
        </p>
        <a href="#">See how</a>
      </div>
    </div>
  </div>
</footer>
