<footer class="DevHub-Footer content show-on-desktop {% if user_authenticated %}scheme-light{% endif %}">
  <div>
    <h3 class="DevHub-Footer-sections-header">{{ _('Resources') }}</h3>

    <div class="DevHub-Footer-sections">
      <section class="DevHub-Footer-section">
        <h4>{{ _('Documentation') }}</h4>
        <ul>
          <li><a href="https://developer.mozilla.org/en-US/Add-ons">{{ _('Add-ons') }}</a></li>
          <li><a href="https://developer.mozilla.org/en-US/Add-ons/WebExtensions">{{ _('Extensions') }}</a></li>
          <li><a href="https://developer.mozilla.org/en-US/Add-ons/Themes/Background">{{ _('Themes') }}</a></li>
          <li><a href="https://developer.mozilla.org/en-US/Add-ons/WebExtensions/Porting_a_Google_Chrome_extension">{{ _('Porting') }}</a></li>
        </ul>
      </section>

      <section class="DevHub-Footer-section">
        <h4>{{ _('Community') }}</h4>
        <ul>
          <li><a href="{{ url('pages.about') }}">{{ _('About') }}</a></li>
          <li><a href="https://discourse.mozilla-community.org/c/add-ons">{{ _('Forum') }}</a></li>
          <li><a href="https://blog.mozilla.org/addons/">{{ _('Blog') }}</a></li>
          <li><a href="https://developer.mozilla.org/en-US/Add-ons#Contact_us">{{ _('Contact Us') }}</a></li>
        </ul>
      </section>

      <section class="DevHub-Footer-section">
        <h4>{{ _('Support') }}</h4>
        <ul>
          <li><a href="https://developer.mozilla.org/en-US/Add-ons/AMO/Policy">{{ _('Policies') }}</a></li>
          <li><a href="https://addons.mozilla.org/faq">{{ _('FAQ') }}</a></li>
          <li><a href="https://developer.mozilla.org/en-US/Add-ons/AMO/Policy/Contact">{{ _('Report Bug') }}</a></li>
          <li><a href="https://status.mozilla.org">{{ _('Site Status') }}</a></li>
        </ul>
      </section>

      <section class="DevHub-Footer-section">
        <h4>{{ _('Tools') }}</h4>
        <ul>
          <li><a href="https://github.com/mozilla/web-ext">{{ _('Web-Ext: build & test extensions') }}</a></li>
          <li><a href="{{ url('devhub.validate_addon') }}">{{ _('Add-on Validator') }}</a></li>
          <li><a href="{{ url('devhub.check_addon_compatibility') }}">{{ _('Compatibility Checker') }}</a></li>
          <li><a href="{{ url('devhub.api_key') }}">{{ _('Manage API Keys') }}</a></li>
        </ul>
      </section>

      <section class="DevHub-Footer-section">
        <h4>{{ _('Promote') }}</h4>
        <ul>
          <li><a href="https://developer.mozilla.org/en-US/Add-ons/AMO/Policy/Featured">{{ _('Get Your Add-on Featured') }}</a></li>
          <li><a href="https://blog.mozilla.org/addons/2015/11/10/promote-your-add-ons-with-the-get-the-add-on-button/">{{ _('"Get The Add-on" button') }}</a></li>
        </ul>
      </section>

      <section class="DevHub-Footer-section">
        <h4>{{ _('Legal') }}</h4>
        <ul>
          <li><a href="https://www.mozilla.org/about/legal/fraud-report/">{{ _('Report Trademark Abuse') }}</a></li>
          <li><a href="https://www.mozilla.org/privacy/websites/">{{ _('Privacy Policy') }}</a></li>
          <li><a href="https://www.mozilla.org/about/legal/">{{ _('Legal Notices') }}</a></li>
        </ul>
      </section>
    </div>

    <h3 class="DevHub-Footer-sections-header">{{ _('Contribute') }}</h3>

    <div class="DevHub-Footer-sections">
      <section class="DevHub-Footer-section">
        <h4>{{ _('Review Add-ons') }}</h4>
        <p>
          {% trans %}
          Volunteer reviewers help keep add-ons safe and
          reliable to use. They enjoy great perks too!
          {% endtrans %}
        </p>
        <a href="https://wiki.mozilla.org/Add-ons/Reviewers">{{ _('Join us!') }}</a>
      </section>

      <section class="DevHub-Footer-section">
        <h4>{{ _('Write Some Code') }}</h4>
        <p>
          {% trans %}
          Help make add-ons better by contributing your coding skills.
          {% endtrans %}
        </p>
        <a href="https://wiki.mozilla.org/Add-ons/Contribute/Code">{{ _('Get started') }}</a>
      </section>

      <section class="DevHub-Footer-section">
        <h4>{{ _('More Ways to Participate') }}</h4>
        <p>
          {% trans %}
          You don't need coding skills to help keep Firefox
          the most customizable browser available!
          {% endtrans %}
        </p>
        <a href="https://wiki.mozilla.org/Add-ons/Contribute">{{ _('See how') }}</a>
      </section>
    </div>

    <div class="DevHub-Footer-sections DevHub-Footer-LanguageSwitcher">
      <section class="DevHub-Footer-section">
        {% include 'includes/lang_switcher.html' %}
      </section>
    </div>
  </div>
</footer>
