<section class="DevHub-get-involved content scheme-default">
  <div class="DevHub-content-container DevHub-content-container--get-involved">
    <div class="DevHub-callout-box DevHub-callout-box--get-involved">
      <div class="DevHub-content-image-wrapper DevHub-content-image-wrapper--get-involved">
        <img class="DevHub-content-image DevHub-content-image--get-involved"
             src="{{ STATIC_URL }}img/developers/new-landing/get-involved.svg" alt="">
      </div>
      <div>
        <h3>{{ _('Get involved') }}</h3>
        <p>
          {% trans %}
          Connect with thousands of developers and discover more ways you can
          contribute to the extension ecosystem.
          {% endtrans %}
        </p>
        <a href="https://wiki.mozilla.org/Add-ons/Contribute">{{ _('Learn more about the developer community') }}</a>
      </div>
    </div>
  </div>
</section>
