<section class="DevHub-manage-your content scheme-light">
  <div class="DevHub-content-container DevHub-content-container--manage">
    <div class="DevHub-content-copy DevHub-content-copy--manage">
      <h3 class="DevHub-content-header DevHub-content-header--manage">{{ _('Manage Your Add-on') }}</h3>
      <a href="{{ login_link() }}" class="Button">{{ _('Sign In to Edit and Update Your Add-on') }}</a>
    </div>
    <div class="DevHub-content-copy DevHub-content-copy--evolution">
      <div class="DevHub-callout-box DevHub-ext-ladder-icon">
        <h3 class="DevHub-callout-header">{{ _('Evolution in Add-on Development') }}</h3>
        <p class="DevHub-callout-copy">
          {% trans %}
          WebExtensions are becoming the standard for add-on development
          in Firefox. This and other changes in Firefox may affect developers
          of legacy add-ons.
          {% endtrans %}
        </p>
        <a href="https://developer.mozilla.org/Add-ons/WebExtensions/Porting_a_legacy_Firefox_add-on" class="Button Button--evolution">{{ _('Find Out if Your Add-on is Affected') }}</a>
      </div>
    </div>
  </div>
</section>
