<section class="DevHub-manage-your content scheme-light">
  <div class="DevHub-content-container DevHub-content-container--manage">
    <div class="DevHub-content-copy DevHub-content-copy--manage">
      <h3 class="DevHub-content-header DevHub-content-header--manage">{{ _('Manage Your Add-on') }}</h3>
      <a href="{{ login_link() }}" class="Button">{{ _('Sign In to Edit and Update Your Add-on') }}</a>
    </div>
    <div class="DevHub-content-copy DevHub-content-copy--evolution">
      <div class="DevHub-callout-box DevHub-ext-ladder-icon">
        <h3 class="DevHub-callout-header">{{ _('Help us improve the developer experience') }}</h3>
        <p class="DevHub-callout-copy">
          {% trans %}
          We’re interested in your feedback about the extension development experience!
          Take our short survey to let us know what kinds of documentation,
          APIs, and tools would be most useful to your development work.
          {% endtrans %}
        </p>
        <a href="https://qsurvey.mozilla.com/s3/Extension-Developer-survey" class="Button Button--evolution">{{ _('Take Survey') }}</a>
      </div>
    </div>
  </div>
</section>
