<section class="DevHub-manage-your content scheme-light">
  <div class="DevHub-content-container DevHub-content-container--manage">
    <div class="DevHub-content-copy DevHub-content-copy--manage">
      <h3 class="DevHub-content-header DevHub-content-header--manage">{{ _('Manage Your Add-on') }}</h3>
      <a href="{{ login_link() }}" class="Button">{{ _('Sign In to Edit and Update Your Add-on') }}</a>
    </div>
    <div class="DevHub-content-copy DevHub-content-copy--evolution">
      <div class="DevHub-callout-box DevHub-ext-ladder-icon">
        <h3 class="DevHub-callout-header">{{ _('Write one code base for many browsers') }}</h3>
        <p class="DevHub-callout-copy">
          {% trans amo_link_open='<a href="https://addons.mozilla.org/">'|safe, amo_link_close='</a>'|safe %}
          With the WebExtensions API, it’s easy to create extensions
          that will run on Firefox, Chrome, Opera, and Edge with only 
          a few small changes. Learn more about the differences in 
          extension development between the four major browsers and 
          how you can make your extension cross-browser compatible.
          {% endtrans %}
        </p>
        <a href="https://developer.mozilla.org/en-US/docs/Mozilla/Add-ons/WebExtensions/Build_a_cross_browser_extension" class="Button Button--evolution">{{ _('View Best Practices for Cross-Browser Development') }}</a>
      </div>
    </div>
  </div>
</section>
