<nav class="DevHub-Navigation content {% if user_authenticated %}scheme-light{% else %}scheme-medium{% endif %}">
  <div>
    <ul>
      <li>
        <a href="{{ url('devhub.index') }}" class="Logo {% if user_authenticated %}Logo--loggedin{% endif %}">
          <span>{{ _('Add-on Developer Hub') }}</span>
        </a>
      </li>

      {% if user_authenticated %}
        <li class="show-on-desktop"><a href="{{ url('devhub.addons') }}">
          {{ _('My Add-ons') }}
        </a></li>
      {% endif %}

      <li class="hide-on-desktop"><a href="https://developer.mozilla.org/en-US/Add-ons">
        {{ _('Docs') }}
      </a></li>
      <li class="show-on-desktop"><a href="https://developer.mozilla.org/en-US/Add-ons">
        {{ _('Documentation') }}
      </a></li>

      <li><a href="https://developer.mozilla.org/en-US/Add-ons#Contact_us">
        {{ _('Support') }}
      </a></li>

      <li><a href="https://blog.mozilla.org/addons/">
        {{ _('Blog') }}
      </a></li>

      {% if user_authenticated %}
        <li class="DevHub-Navigation-SignOut"><a href="{{ url('users.logout') }}?to={{ url('devhub.index') }}">
          {{ _('Sign Out') }}
        </a></li>

        <li class="avatar"><a href="{{ user.get_url_path() }}">
          <img src="{{ request.user.picture_url }}" alt="{% if not request.user.picture_type %}{{ _('No Photo') }}{% else %}{{ _('User Photo') }}{% endif %}" />
        </a></li>
      {% else %}
        <li class="show-on-desktop DevHub-Navigation-Register">
          {% trans register=register_link(), login=login_link() %}
            <a href="{{ register }}">Register</a> or <a href="{{ login }}">Sign In</a>
          {% endtrans %}
        </li>
      {% endif %}
    </ul>
  </div>
</nav>
