<nav class="DevHub-Navigation {% if user_authenticated %}DevHub-Navigation--signedin{% endif %}">
  <ul>
    <li>
      <a href="#" class="Logo {% if user_authenticated %}Logo--secondary{% endif %}">
        <span>{{ _('Add-on Developer Hub') }}</span>
      </a>
    </li>

    {% if user_authenticated %}
      <li class="show-on-desktop"><a href="#">{{ _('My Add-ons') }}</a></li>
    {% endif %}

    <li class="hide-on-desktop"><a href="#">{{ _('Docs') }}</a></li>
    <li class="show-on-desktop"><a href="#">{{ _('Documentation') }}</a></li>

    <li class="show-on-desktop"><a href="#">{{ _('Support') }}</a></li>
    <li><a href="#">{{ _('Support') }}</a></li>
    <li><a href="#">{{ _('Blog') }}</a></li>
    {% if user_authenticated %}
      <li class="avatar"><a href="#"><img src="{{ request.user.picture_url }}" /></a></li>
    {% else %}
      <li class="show-on-desktop"><a href="#">{{ _('Sign In') }}</a></li>
    {% endif %}
  </ul>
</nav>
