<section class="DevHub-Overview content scheme-medium">
  <div>
    <h1>{{ _('Customize Firefox') }}</h1>
    <p>
      {% trans html_link="https://developer.mozilla.org/docs/Web/HTML", js_link="https://developer.mozilla.org/docs/Web/JavaScript", css_link="https://developer.mozilla.org/docs/Web/CSS" %}
      Add-ons let millions of Firefox users enhance their browsing experience.
      If you know <a href="{{ html_link }}">HTML</a>, <a href="{{ js_link }}">JavaScript</a>, and <a href="{{ css_link }}">CSS</a>,
      you already have all the necessary skills to make a great add-on.
      {% endtrans %}
    </p>
    <a href="https://developer.mozilla.org/Add-ons" class="Button Button--primary">{{ _('Learn How to Make an Add-on') }}</a>
  </div>
</section>
