<section class="DevHub-Overview content scheme-medium">
  <div>
    <h1>{{ _('Customize Firefox') }}</h1>
    <p>
      {% trans %}
        Whether you’re new to extension development, polishing up or porting an
        existing extension or theme, or creating a custom enterprise solution,
        we’ve got the resources to support you.
      {% endtrans %}
    </p>
    <a href="{{ settings.EXTENSION_WORKSHOP_URL }}" class="Button Button--primary">{{ _('Learn how to make an extension') }}</a>
  </div>
</section>
