<section class="DevHub-port-chrome content scheme-light">
  <div class="DevHub-content-container">
    <div class="DevHub-content-copy">
      <h2 class="DevHub-content-header">{{ _('Port a Chrome Extension') }}</h2>
      <p>
        {% trans %}
        Firefox supports WebExtension APIs, which in most cases are
        compatible with the extension APIs supported by Chrome, Opera
        and Edge, so your extensions will run in Firefox with just a few
        changes.
        {% endtrans %}
      </p>
      <a href="https://developer.mozilla.org/en-US/Add-ons/WebExtensions/Porting_a_Google_Chrome_extension" class="Button">{{ _('Learn How') }}</a>
    </div>
    <div class="DevHub-content-image-wrapper DevHub-content-image-wrapper--port-chrome">
      <img class="DevHub-content-image"
           src="{{ STATIC_URL }}img/developers/new-landing/port-chrome.png"
           srcset="{{ STATIC_URL }}img/developers/new-landing/port-chrome.png 1x,
                 {{ STATIC_URL }}img/developers/new-landing/port-chrome-2x.png 2x"
           alt="" />
     </div>
  </div>
</section>
