{% extends "browse/impala/base_listing.html" %}

{% block primary %}
<section class="primary">
  <h1>{{ title }}</h1>
  <div class="island hero c listing">
    {% if feed_url %}
      <a href="{{ feed_url }}" id="subscribe">{{ _('Subscribe') }}</a>
    {% endif %}
    {{ impala_addon_listing_header(request.get_full_path(), search_filter=filter) }}
    <div class="items">
      {{ impala_addon_listing_items(addons.object_list, sorting, src=src) }}
    </div>
    {{ addons|impala_paginator }}
  </div>
</section>
{% endblock %}
