{% extends "impala/base_shared.html" %}

{% set title = _('Dictionaries & Language Packs') %}

{% block title %}{{ page_title(title) }}{% endblock %}
{% block bodyclass %}dictionaries{% endblock %}

{% if request.APP.browser %}
  {% set install_dict = _('Install Dictionary') %}
  {% set install_pack = _('Install Language Pack') %}
{% else %}
  {% set install_dict = _('Download Dictionary') %}
  {% set install_pack = _('Download Language Pack') %}
{% endif %}

{% macro langtool(addons, text) %}
  {% for addon in addons %}
  <p>
    <a href="{{ url('addons.detail', addon.slug) }}">{{ text }}</a>
    ({{ addon.file_size|filesizeformat(binary=True) }})
    {% if addon.locale_disambiguation %}
      <br>({{ addon.locale_disambiguation }})
    {% endif %}
  </p>
  {% endfor %}
{% endmacro %}

{% block content %}
<header>
  <h1>{{ title }}</h1>
  <h3>{% trans app_name=request.APP.pretty %}
  Installing a dictionary add-on will add a new language option to your
  {{ app_name }} spell-checker, which checks your spelling when you fill out Web
  forms. Language pack add-ons change the language of the entire application.
  {% endtrans %}</h3>
</header>
<section class="island full">
  {% if this_locale_addons %}
    <h2>{{ _('Available in your locale') }}</h2>
    <table>
      <caption>{{ _('List of language packs and dictionaries available in your locale.') }}</caption>
      <thead>
        <tr>
          <th colspan="2">{{ _('Language') }}</th>
          <th>{{ _('Dictionary') }}</th>
          <th>{{ _('Language Pack') }}</th>
        </tr>
      </thead>
      <tbody>
        {% for lang, locale in this_locale_addons %}
        <tr>
          <th>{{ locale.display }}</th>
          <td lang="{{ lang }}">{{ locale.native }}</td>
          <td>{{ langtool(locale.dicts, install_dict) }}</td>
          <td>{{ langtool(locale.packs, install_pack) }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  {% endif %}
  <h2>{{ _('All locales') }}</h2>
  <table>
    <caption>{{ _('List of language packs and dictionaries.') }}</caption>
    <thead>
      <tr>
        <th colspan="2">{{ _('Language') }}</th>
        <th>{{ _('Dictionary') }}</th>
        <th>{{ _('Language Pack') }}</th>
      </tr>
    </thead>
    <tbody>
      {% for lang, locale in all_locales_addons %}
      <tr>
        <th>{{ locale.display }}</th>
        <td lang="{{ lang }}">{{ locale.native }}</td>
        <td>{{ langtool(locale.dicts, install_dict) }}</td>
        <td>{{ langtool(locale.packs, install_pack) }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</section>
{% endblock %}
