{% extends "base.html" %}

{% set title = _('Search Tools') %}

{% block title %}
{% if category %}
  {# L10n: {0} is a category name, like "Music". #}
  {{ page_title(_('{0} :: Search Tools')|format_html(category.name)) }}
{% else %}
  {{ page_title(title) }}
{% endif %}
{% endblock %}

{% block extrahead %}
{% with key = category.id if category %}
  {{ category_arrow(key, prefix='p') }}
{% endwith %}
{% endblock %}

{% block rss_feed %}
  {% set feed = url('browse.search-tools.rss', category.slug) if category else url('browse.search-tools.rss') %}
  <link rel="alternate" type="application/rss+xml" title="RSS"
        href="{{ feed }}?sort={{ filter.field }}">
{% endblock rss_feed %}

{% block content %}
<div class="primary" role="main">
  <header>
    {% if category %}
      <hgroup>
        <h2>{{ category.name }}</h2>
    {% else %}
      <hgroup>
        <h2>{{ title }}</h2>
    {% endif %}
      {% with cnt=addons.paginator.count %}
        <h3>{{ ngettext('<b>{0}</b> add-on', '<b>{0}</b> add-ons', cnt)
                |format_html(cnt|numberfmt) }}</h3>
      {% endwith %}
      </hgroup>
  </header>
  <div class="featured listing {{ 'search-tools-for-cat' if category else '' }}">
    <div class="featured-inner">
      {{ addon_listing_header(url('browse.search-tools', category=category.slug),
                              filter.opts, filter.field) }}
      {{ addon_listing_items(addons.object_list, src='category',
                             show_date=filter.field) }}
      <div class="listing-footer">
        {{ addons|paginator }}
      </div>
    </div>
  </div>
</div>

<div class="secondary" role="complementary">
  {% if APP == amo.FIREFOX %}
    <div id="search-tools-sidebar" class="other-categories highlight">
      <hgroup>
        <h3>{{ _('Search Extensions') }}</h3>
        <h4>{{ _('Add search-related functionality to Firefox') }}</h4>
      </hgroup>
      <ul>
        {% for key, title_ in search_extensions_filter.opts_dict.items() %}
          <li id="p-{{ key }}">
            <a href="{{ url('browse.extensions', category='search-tools')|urlparams(sort=key) }}">
                  {{ title_ }}</a>
          </li>
        {% endfor %}
      </ul>
      <div class="divider"></div>
      <hgroup>
        <h3>{{ _('Search Providers') }}</h3>
        <h4>{{ _('Find new providers for your search bar') }}</h4>
      </hgroup>
      <ul>
      {% for cat in categories %}
        <li id="p-{{ cat.id }}">
          <a href="{{ url('browse.search-tools', cat.slug) }}">
            {{ cat.name }}</a>
        </li>
      {% endfor %}
      </ul>
    </div>
  {% endif %}
  <div class="highlight" id="additional-resources">
    <h3>{{ _('Additional Resources') }}</h3>
    <ul class="xoxo">
      {# L10n: {0} is an app name, like Firefox. #}
      <li>{{ _('Learn more about the <a href="https://support.mozilla.org/kb/use-search-bar-firefox">search bar</a> in {0}')|format_html(APP.pretty) }}</li>
      <li>{{ _('Browse through even more search providers at <a href="http://mycroftproject.com/">mycroftproject.com</a>') }}</li>
      <li>{% trans amo_mdn_link_open='<a href="https://developer.mozilla.org/en-US/Creating_OpenSearch_plugins_for_Firefox">'|safe, amo_mdn_link_close='</a>'|safe %}
             {{ amo_mdn_link_open }}Make your own{{ amo_mdn_link_close }} search tool
          {% endtrans %}
      </li>
    </ul>
  </div>
</div>
{% endblock %}
