{% extends "base_side_categories.html" %}

{% block title %}{{ page_title(_('Application Versions')) }}{% endblock %}

{% block rss_feed %}
<link rel="alternate" type="application/rss+xml" title="RSS"
      href="{{ url('apps.appversions.rss') }}">
{% endblock %}

{% block content %}
<h2>{{ _('Valid Application Versions') }}</h2>
<p>{% trans %}
Add-ons submitted to Mozilla Add-ons must have a manifest file with at least
one of the below applications supported. Only the versions listed below are
allowed for these applications.
{% endtrans %}</p>

<p>{% trans amo_version_link_open='<a href="https://developer.mozilla.org/en-US/Add-ons/WebExtensions/manifest.json/applications">'|safe,
            amo_version_link_close='</a>'|safe %}
      Please be aware that WebExtensions will not accept a "*" in {{ amo_version_link_open }}strict_min_version{{ amo_version_link_close }}.
   {% endtrans %}
</p>

{% for app in apps %}
<div class="appversion prose">
  <h3>
    <img src="{{ static('img/app-icons/small/' +  app.short + '.png') }}" alt="">
    {{ app.pretty }}
  </h3>
  <ul>
    <li>{{ _('GUID') }}: <code>{{ app.guid }}</code></li>
    <li>{{ _('Versions') }}: <code>{{ versions[app.id]|join(', ') }}</code></li>
  </ul>
</div>
{% endfor %}

<p>
  {% trans amo_manifests_mdn_link_open='<a href="http://developer.mozilla.org/en/docs/Install_Manifests">'|safe,
            amo_manifests_mdn_link_close='</a>'|safe %}
    If your supported application does not require a manifest file, you still
    must include one with the required properties as specified
    {{ amo_manifests_mdn_link_open }}here{{ amo_manifests_mdn_link_close }}.
  {% endtrans %}
</p>

{% endblock %}
