{% set search_form = SimpleSearchForm(request, search_cat) %}
<form id="search" action="{{ url('search.search') }}">
  <input id="search-q" type="text" name="q" required title=""
         class="text {% if not search_form.q.data %}placeholder{% endif %}"
         placeholder="{{ search_form.placeholder() }}"
         value="{{ search_form.q.data or '' }}">
  {{ search_form.cat }}
  {{ search_form.appver }}
  {{ search_form.platform }}
  <button class="search-button" type="submit" title="{{ _('Search') }}"
         src="{{ media('img/zamboni/global/btn-search.png') }}"></button>
</form>
