{% if user.is_authenticated() %}
  <li class="account">
    <a href="#" class="user" title="{{ user.email }}">
      {{- user.get_profile().welcome_name -}}
    </a>
    {% if account_links %}
      <ul>
        {% for link in account_links %}
          <li><a href="{{ link.href }}">{{ link.text }}</a></li>
        {% endfor %}
      </ul>
    {% endif %}
  </li>
  <li class="nomenu logout">
    <a href="{{ url('users.logout') }}">Log out</a>
  </li>
{% else %}
  <li class="account anonymous nomenu logout">
    {# TODO(jbalogh): reverse #}
    {% trans reg="/users/register", login=login_link() %}
      <a href="{{ reg }}">Register</a> or <a href="{{ login }}">Log in</a>
    {% endtrans %}
  </li>
{% endif %}

{% if user.is_authenticated() %}
  {% if tools_links and tools_links|count > 1 %}
    <li class="tools">
      <a href="#">{{ tools_title }}</a>
      <ul>
        {% for link in tools_links %}
          <li><a href="{{ link.href }}">{{ link.text }}</a></li>
        {% endfor %}
      </ul>
    </li>
  {% else %}
    <li class="context tools nomenu">
      <a href="{{ tools_links[0].href }}">{{ tools_links[0].text }}</a>
    </li>
  {% endif %}
{% endif %}
