{% if settings.REGION_STORES %}
  <form class="go" id="region-form" method="get">
    <label for="region">{{ _('Region') }}:</label>
    <select id="region" name="region">
      {% for code, region in mkt.regions.REGIONS_CHOICES_SLUG -%}
        <option value="{{ code }}"{% if code == request.REGION.slug %} selected{% endif %}>
          {{ region.name }}</option>
      {%- endfor %}
    </select>
    {% for key, value in request.GET.items() %}
      {% if key != 'region' %}
        <input type="hidden" name="{{ key }}" value="{{ value }}">
      {% endif %}
    {% endfor %}
    <noscript><button type="submit">{{ _('Go') }}</button></noscript>
  </form>
{% endif %}
<form class="go" id="lang-form" method="get">
  <label for="language">{{ _('Language') }}:</label>
  <select id="language" name="lang" dir="ltr">
    {% for code, name in LANGUAGES|dictsort -%}
      <option value="{{ code }}"{% if code == request.LANG|lower %} selected{% endif %}>
        {{ name }}</option>
    {%- endfor %}
  </select>
  {% for key, value in request.GET.items() %}
    {% if key != 'lang' %}
      <input type="hidden" name="{{ key }}" value="{{ value }}">
    {% endif %}
  {% endfor %}
  <noscript><button type="submit">{{ _('Go') }}</button></noscript>
</form>
