<div id="{{ id }}" class="trans tab-wrapper" data-field="{{ name }}">
  <ul class="tab-nav"> {# Avoid flash-of-unstyled-content #}
  {% for lang, widget in widgets|dictsort %}
    <li><a href="#trans_{{ name }}_{{ lang }}" title="{{ languages[lang] }}">
      {{ lang }}</a></li>
  {% endfor %}
    <li><a class="add" href="#trans_{{ name }}_new">+</a></li>
    <li><button class="delete">-</button></li>
  </ul>
  {% for lang, widget in widgets|dictsort %}
    <div class="transbox">{{ widget|safe }}</div>
  {% endfor %}
  <div class="transbox-new" id="trans_{{ name }}_new">
    <p>{{ _('Select a locale to add a new {0}.')|f(name) }}</p>
    <select id="trans_{{ id }}" data-field="{{ name }}">
      {% for lang, title in languages|dictsort %}
        <option {% if lang in widgets %}disabled{% endif %}
                value="{{ lang }}" title="{{ languages[lang] }}">
          {{ lang }} ({{ title }})
        </option>
      {% endfor %}
    </select>
    <button class="add">{{ _('Add Locale') }}</button>
  </div>
</div>
