{% extends "mobile/base.html" %}

{% block title %}{{ page_title(addon.name) }}{% endblock %}

{% block page %}
  <div class="listview">
    <div class="item">
      <img class="icon" width="32" height="32" src="{{ addon.icon_url }}">
      <h3>{{ addon.name }}</h3>
      {# TODO: make this a secret link #}
      <h4 class="author">{{ _('by') }} {{ users_list(addon.listed_authors) }}</h4>
      <div class="installer">
        <a class="button install">Add to Firefox</a>
        {# TODO: privacy policy (in button.html right now) #}
      </div>
    </div>
  </div>
  <div class="copy">
    <p id="summary">
      {{ addon.summary|nl2br }}
    </p>
    <div class="menu">
      <a class="expando readmore" href="#full-description">Read More</a>
    </div>
    <p id="full-description" class="expando-managed">
      {{ addon.description|nl2br }}
    </p>
  </div>

  {% set previews = addon.previews.all() %}
  {% if previews %}
  <div id="screenshots" class="carousel">
    <ul>
      {# TODO: lazy-load all, or at least the third and up. #}
      {# Avoid extra white-space in here- we need it collapsed. #}
      {% for preview in previews -%}
        <li>
          <a href="{{ preview.image_url }}" title="{{ preview.caption }}">
            <img src="{{ preview.thumbnail_url }}"></a>
        </li>
      {%- endfor %}
    </ul>
    <a href="#" class="control next">&raquo;</a>
    <a href="#" class="control prev">&laquo;</a>
  </div>
  {% endif %}

  <a class="listview" href="{{ url('reviews.list', addon.slug) }}">
    <div class="icon">
      {{ addon.average_rating|stars }}
    </div>
    {% trans num=addon.total_reviews, cnt=addon.total_reviews|numberfmt %}
      See All Reviews
    {% pluralize %}
      See All {{ cnt }} Reviews
    {% endtrans %}
  </a>

  <details>
    <table>
      <tr>
        <th>{{ _('Updated') }}</th>
        <td>
          <time datetime="{{ addon.last_updated|isotime }}">{{
            addon.last_updated|datetime }}</time>
        </td>
      </tr>
      {% if addon.homepage %}
        <tr>
          <th>{{ _('Website') }}</th>
          <td>
            <strong><a href="{{ addon.homepage|external_url }}">{{
              addon.homepage }}</a></strong>
          </td>
        </tr>
      {% endif %}
      {% if addon.compatible_apps[APP] %}
        <tr>
          <th>{{ _('Works with') }}</th>
          <td>{{ addon.compatible_apps[APP] }}</td>
        </tr>
      {% endif %}
      <tr>
        <th>{{ _('Downloads', 'list_sortby_downloads') }}</th>
        <td>{{ addon.total_downloads|numberfmt }}</td>
      </tr>
      <tr>
        <th>{{ _('Version') }}</th>
        <td>
          <ul class="versions">
            {% set version = addon.current_version %}
            <li>
              <a href="{{ url('addons.versions', addon.slug, version.version) }}">
                {# L10n: {0} is a version number. #}
                {{ _('{0} (Release Notes)')|f(version.version) }}</a>
            </li>
            <li>
              <a href="{{ url('addons.versions', addon.slug) }}">
                {{ _('View All Versions') }}</a>
            </li>
            {% if addon.current_beta_version %}
              <li><a href="#">{{ _('View Beta Version') }}</a></li>
              <div id="beta">
                <div class="warning highlight">
                  <h3>{{ _('Caution') }}</h3>
                  <p>{% trans %}
                  The Beta Channel lets you test an experimental new version of
                  this add-on before it's released to the general public. Once
                  you install the beta version, you will continue to get updates
                  from this channel.
                  {% endtrans %}</p>
                </div>
                <ul>{{ mobile_version_detail(addon, addon.current_beta_version, src='beta') }}</ul>
              </div>
            {% endif %}
          </ul>
        </td>
      </tr>
    </table>
  </details>

  {% if addon.support_url %}
    <a class="listview" href="{{ addon.support_url|external_url }}">
      {{ _('Visit the Support Site') }}</a>
  {% endif %}
  {% if addon.supuport_email %}
    {# TODO: make this a listview, get the emaillink js #}
    {{ emaillink(addon.support_email.localized_string,
                 _('Ask the Author a Question')) }}
  {% endif %}
{% endblock %}
