<div id="eula">
  <div id="eula-content">
    <h2>{{ _('License Agreement') }}</h2>
    <div id="eula-text">
      {% trans name = addon.name %}
        {{ name }} requires that you accept the following End-User
        License Agreement before installation can proceed:
      {% endtrans %}
      <div id="eula-body">
        {{ addon.eula }}
      </div>
    </div>
    <section id="eula-menu">
      <div>
        <a href="#" class="button affirmative">{{ _('Accept') }}</a>
        <a href="#" class="button negative">{{ _('Cancel') }}</a>
      </div>
    </section>
  </div>
</div>
