{% extends "mobile/base.html" %}

{% block title %}{{ _('Add-ons for {0}')|f(request.APP.pretty) }}{% endblock %}

{% block header %}
  <header id="home-header">
    {% include "mobile/header.html" %}
    <hgroup>
      <h1 class="site-title">
        {% set appicon = 'firefox' if request.APP == amo.MOBILE else request.APP.short %}
        <a href="{{ url('home') }}"
          title="{{ _('Return to the {0} Add-ons homepage')|f(request.APP.pretty) }}">
          <img alt="{{ request.APP.pretty }}" src="{{ media('img/zamboni/app_icons/' + appicon + '.png') }}">
          {{ _('Mobile Add-ons') }}
        </a>
      </h1>
      <h2>{{ _('Easy ways to personalize.') }}</h2>
      <a href="#" id="learnmore">{{ _('Learn More') }}&raquo;</a>
      <div id="learnmore-msg">
        Add-ons are applications that let you personalize Firefox with extra
        functionality and style. Whether you mistype the name of a website or can't
        read a busy page, there's an add-on to improve your on-the-go browsing.
      </div>
    </hgroup>
    {% include "search/mobile/search.html" %}
  </header>
{% endblock %}

{% block page %}
  <nav class="tabs" data-manages="addon-lists">
    <ul>
      <li class="selected"><a href="#listing-featured">{{ _('Featured') }}</a></li>
      <li><a href="#listing-popular">{{ _('Popular') }}</a></li>
      <li><a href="#listing-categories">{{ _('Categories') }}</a></li>
    </ul>
  </nav>
  <div id="addon-lists" class="slider">
    <div id="listing-featured" class="tab-pane selected">
      <ul id="list-featured" class="listview">
        {{ addon_listing_items_mobile(featured, show_date=key,
                                       src='homepagebrowse') }}
        <li><a href="{{ url('browse.featured') }}">
          {{ _('View all Featured add-ons') }}</a></li>
      </ul>
    </div><div id="listing-popular" class="tab-pane">
      <ul id="list-popular" class="listview">
        {{ addon_listing_items_mobile(popular, show_date=key,
                                       src='homepagebrowse') }}
        <li><a href="{{ url('browse.extensions')|urlparams(sort='popular') }}">
          {{ _('View all Popular add-ons') }}</a></li>
      </ul>
    </div><div id="listing-categories" class="tab-pane">
      {% set categories, types = sidebar(request.APP or amo.FIREFOX) %}
      <ul id="list-popular" class="listview">
        {% for c in categories %}
        <li><a href="{{ c.get_url_path() }}">
          {{ c.name }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <h2>{{ _('More Add-ons') }}</h2>
  <ul class="listview">
    <li><a href="{{ url('browse.extensions')|urlparams(sort='rating') }}">
      {{ _('Highest Rated') }}</a></li>
    <li><a href="{{ url('browse.extensions')|urlparams(sort='created') }}">
      {{ _('Newest') }}</a></li>
    {# <li><a href="{{ url('collections.list') }}">
      {{ _('Collections') }}</a></li> #}
  </ul>
{% endblock page %}
