/** header and main navigation bar */
.section {
    max-width: 75em;
}

.developer-hub #content-main, 
.developer-hub #dashboard {
  min-height: 30em;
}

#title {
    margin-top: 1.5em;
    margin-bottom: 0.7em;
}

#aux-nav ul.change a.return {
    display: block;
    padding: 0.7em 1em 0.5em 1em;
}

#navbar a, #navbar a:active, #navbar a:hover, #navbar a:focus, #navbar a:visited {
    color: white;
    text-decoration: none;
    cursor: pointer;
}
#navbar {
    display: block;
    background-image: url(../../img/amo2009/bg/heading-dark-blue.jpg);
    background-repeat: repeat-x;
    background-position: bottom left;
    background-color: #305083;
    border:  1px solid #021437;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    margin: 0 0 1.5em 0;
    color: white;
    font-size: 1.231em;
    white-space: nowrap;
    overflow: hidden;
}
#navbar ul.top {
    overflow: visible;
}
#navbar li.top,
#navbar li.search {
    float: left;
    border-right: 1px solid #455c87;
    list-style: none;
}
#navbar li.top a.controller {
    display: block;
    padding: .5em 1.3em;
    margin: 0;
}
#navbar li.top a.controller {
    border-right: 1px solid #1e2e4c;
}
#navbar li.search {
    float: right;
    border: none;
}
#navbar li.top:hover,
#navbar li.top.selected {
    background-image: url(../../img/amo2009/bg/heading-dark-blue-highlighted.png);
}
#navbar li.top ul {
    display: none;
    position: absolute;
    z-index: 1;
    top: auto;
    margin-left: -1px;
}
#navbar li.top ul,
#navbar li.top ul li:last-child {
    -moz-border-radius-bottomleft: 8px;
    -webkit-border-bottom-left-radius: 8px;
    border-bottom-left-radius: 8px;
    -moz-border-radius-bottomright: 8px;
    -webkit-border-bottom-right-radius: 8px;
    border-bottom-right-radius: 8px;
}
#navbar li.top:hover ul {
    display: block;
}
#navbar li ul li {
    background-image: url(../../img/amo2009/bg/heading-dark-blue-highlighted.png);
    background-repeat: repeat-x;
    background-position: bottom left;
    background-color: #305083;
    border-bottom: 1px solid #5a7297;
}
#navbar li ul li:hover {
    background-image: url(../../img/amo2009/bg/heading-dark-blue.jpg);
}
#navbar li ul li a {
    display: block;
    padding: .5em 1.3em;
    border-bottom: 1px solid #3f4f6a;
}
#navbar li.top ul li:last-child,
#navbar li.top ul li:last-child a {
    border: none;
}

#navbar li.search form {
    position: relative;
    padding: .3em .5em .1em 1.3em;
    margin: 0;
}
#navbar #query {
    background-image: url(../../img/developers/devhub_search.png);
    background-repeat: no-repeat;
    background-position: 0.3em center;
    background-color: white;
    color: #888;
    min-width: 15em;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    padding: .1em 0 .1em 1.6em;
    cursor: pointer;
}
.html-rtl #navbar #query {
    background-position: 98% center;
    padding: .1em 1.6em .1em 0;
}
#navbar #search-submit {
    margin: -.1em 0 .1em .1em;
    padding: 0 .0 .2em 0;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    background-color:#6FB727;
    background-image:url(../../img/amo2009/bg/button-green.jpg);
    background-position:left center;
    background-repeat:repeat-x;
    border:1px solid #B9D999;
}
#navbar #search-submit img {
    width: 16px;
    height: 16px;
    background-image: url(../../img/developers/go-arrow.png);
    background-repeat: no-repeat;
    vertical-align: bottom;
    margin: 0;
    padding: 0;
    display: inline;
    border: none;
}
.html-rtl #navbar #search-submit img {
    background-image: url(../../img/developers/go-arrow_rtl.png);
}

/** content */
p.summary {
    font-size: 120%;
    line-height: 150%;
}
.secondary .highlight ul:last-child {
    margin-bottom: 0;
}

.secondary .button-wrapper {
    text-align: center;
}

.secondary .highlight a.button {
    font-weight: normal;
    padding: 0.25em 0.7em 0.25em 0.7em;
}

.highlight dl {
    margin-bottom: 0.5em;
}

.hub-blog p {
    text-align: right;
}

/* docs/reference */
#reference h3 {
    font-size: 180%;
}
#reference ul.reflist {
    padding: 0;
}
#reference ul.reflist li {
    border-bottom: inherit;
    padding: 1.5em;
}
#reference ul.reflist li:last-child {
    border: none;
}
#reference ul.reflist li .refname {
    margin-right: 1em;
    font-size: 130%;
    font-weight: bold;
}
.html-rtl #reference ul.reflist li .refname {
    margin-right: 0em;
    margin-left: 1em;
    font-size: 130%;
    font-weight: bold;
}
#reference ul.reflist li p {
    margin-bottom: 0;
}

/** docs/policies, docs/casestudies */
.hubtext h1, .hubtext h2, .hubtext h3, .hubtext h4,
.hubtext h5 {
    font-family: georgia, serif;
    font-weight: normal;
    color: #011234;
    margin: .6em 0 .2em;
}
.hubtext h1 {
    font-size: 2em;
}
.hubtext h2 {
    font-size: 1.8em;
}
.hubtext h3 {
    font-size: 1.6em;
}
.hubtext h4 {
    font-size: 1.4em;
}
.hubtext h5 {
    font-size: 1.2em;
}
#policy-detail #license-disclosure {
    display: none;
}
#policy-detail ul {
    list-style: disc;
    margin-left: 2em;
}

/** docs/policies */
#policy-detail h1 {
    font-size: 2.154em;
    color: #C63717;
    margin: .5em 0;
}

/** docs/casestudies */
.casestudies .blocks .item {
    float: none;
    width: auto;
    height: auto;
    padding: 2em;
}
.casestudies .blocks .item .logo {
    float: left;
    width: 30%;
    text-align: right;
}
.html-rtl .casestudies .blocks .item .logo {
    float: right;
}
.casestudies .blocks .item .info {
    margin-left: 35%;
}
.html-rtl .casestudies .blocks .item .info {
    margin-left: 0;
    margin-right: 35%;
}
.casestudies .blocks .item .logo img {
    max-width: 100%;
    max-height: 7em;
}
#casestudy .activity h3 {
    border-bottom: 2px dotted #C9E8F3;
    margin-bottom: 0.35em;
    margin-top: 0;
    padding-bottom: 0.35em;
    padding-top: 1.125em;
}
#casestudy .activity strong {
    font-family: georgia,serif;
    font-size: 1.3em;
    font-weight: normal;
}
#casestudy .activity cite {
    color: #868686;
    font-family: georgia,serif;
}
.casestudies a.action {
    background-image: url(../../img/arr-next.png);
    background-repeat: no-repeat;
    background-position: left center;
    padding-left: 1em;
}
.html-rtl .casestudies a.action {
    background-image: url(../../img/arr-prev.png);
    background-repeat: no-repeat;
    background-position: right center;
    padding-left: 0;
    padding-right: 1em;
}

#casestudy .secondary {
    width: 22%;
}
#casestudy .info {
    width: 22%;
    float: left;
}
.html-rtl #casestudy .info {
    float: right;
}
#casestudy .hubtext {
    margin: 0 25%;
}
#casestudy .hubtext img {
    max-width: 100%;
    border-right: 2px solid #C9E8F3;
    border-bottom: 2px solid #C9E8F3;
    padding: 0 .4em .4em 0;
    margin: 1em 0;
}
.html-rtl #casestudy .hubtext img {
    border-left: 2px solid #C9E8F3;
    border-right: none;
    padding: 0 0 .4em .4em;
}
#casestudy .pull {
    position: absolute;
    right: 0;
    max-width: 22%;
}
.html-rtl #casestudy .pull {
    left: 0;
    right: auto;
}
#casestudy img.pull {
    max-width: 22%;
    margin-top: 0;
}
#casestudy .pull img {
    margin: 0 auto;
}
#casestudy .pull p.caption {
    margin: 0;
    padding: 0;
    color: #868686;
    font-style: italic;
    font-family: georgia, serif;
}
#casestudy blockquote {
    margin: 1em;
    padding-left: .2em;
}
.html-rtl #casestudy blockquote {
    padding-left: 0;
    padding-right: .2em;
}
#casestudy blockquote:before {
    display: block;
    float: left;
    margin-left: -0.5em;
    margin-top: .3em;
    line-height: 0;
    height: 0;
    width: 0;
    color: #B5D9E5;
    font-family: georgia,serif;
    font-size: 400%;
    content: '\201C';
}
.html-rtl #casestudy blockquote:before {
    display: none;
}
#casestudy blockquote p {
    margin-bottom: .5em;
    color: #868686;
    font-family: georgia,sans-serif;
}
#casestudy blockquote.pull {
    max-width: 19%;
}
#casestudy blockquote.pull:before {
    font-size: 500%;
}
#casestudy blockquote.pull p {
    font-size: 130%;
    line-height: 140%;
}
#casestudy blockquote.long {
    font-style: normal;
}
#casestudy blockquote.long p {
    margin: 0.5em 0;
}
#casestudy .info .blocks .item {
    display: block;
    float: none;
    width: 90%;
    min-width: 0;
}
#casestudy .info img {
    max-width: 100%;
    max-height: 7em;
    vertical-align: middle;
}
#casestudy .info .dotted,
#casestudy .info .detailspage {
    margin: 0 0 .5em 0;
    padding: 0 0 .5em 0;
}
#casestudy .info .dotted {
    border-bottom: 2px dotted #C9E8F3;
}
#casestudy .info .dotted strong {
    display: block;
}
#casestudy .info .dotted a.more {
    margin-left: 1em;
}
#casestudy .info .detailspage {
    margin-top: 1.5em;
}

/** docs/how-to */
.table-listing .item .main-info h4 {
    line-height: 1.3em;
}
.table-listing .item .main-info h4 .label {
    display: inline;
    font-family: georgia,serif;
    font-size: 1em;
    font-style: italic;
}

/** search */
#search #resultcount {
    font-size: 1.385em;
    margin-bottom: .5em;
}
#search #cse {
    border: 4px solid #B5D9E5;
    background-color: #B5D9E5;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    margin-bottom: 2em;
    clear: both;
}
#search .gsc-control-cse {
    background-color: #fff;
    border: 1px solid #2E5186;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
#search .gsc-tabsArea {
    background-color: #F0F8FC;
    background-image: url(../../img/amo2009/bg/listing-header.gif);
    background-repeat: repeat-x;
    background-position: bottom left;
    border-bottom: 1px solid #A5BFCE;
    -webkit-border-top-right-radius: 3px;
    -webkit-border-top-left-radius: 3px;
    -moz-border-radius: 3px 3px 0 0;
    border-radius: 3px 3px 0 0;
    padding: 0.1em 0 0.1em 0.25em;
    margin: 0;
    overflow: hidden;
}
#search .gsc-tabHeader,
#search .gsc-cursor-page,
#search .gsc-trailing-more-results {
    display: inline;
    margin: 0 0.25em;
    padding: 0.3em 0.8em;
    line-height: 2.5;
    background-color: transparent;
    color: #223355;
    font-weight: bold;
    text-decoration: none;
    border: 1px solid transparent;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    white-space: nowrap;
}
#search .gsc-tabHeader.gsc-tabhActive,
#search .gsc-cursor-current-page {
    color: #fff;
    background-color: #223355;
    border-color: #001133;
    border-width: 1px 0 0 1px;
}
#search .gsc-resultsHeader {
    display: none;
}
#search .gsc-results {
    width: 100%;
}
#search .gsc-result {
    margin: 0;
    padding: 1em;
    position: relative;
    background-color: #FFFFFF;
    background-image: url(../../img/amo2009/bg/listing-item.png);
    border-bottom: 1px solid #D6E9F0;
    overflow: hidden;
    clear: both;
    background-repeat: repeat-x;
    background-position: left bottom;
}
#search .gsc-result tbody {
    border: none;
}
#search .gs-title, #search .gs-title *, #search a.gs-title {
    font-size: 1.1em;
    font-weight: bold;
    text-decoration: none;
    color: #0055EE;
}
#search .gs-title:hover * {
    color: #003595;
}
#search .gs-visibleUrl-short {
    color: #73AA41;
}
#search .gsc-cursor-box {
    background-color: #FFFFFF;
    background-image: url(../../img/amo2009/bg/listing-footer.gif);
    background-repeat: repeat-x;
    background-position: left top;
    border-top: 1px solid #A5BFCE;
    -webkit-border-bottom-right-radius: 3px;
    -webkit-border-bottom-left-radius: 3px;
    -moz-border-radius: 0 0 3px 3px;
    border-radius: 0 0 3px 3px;
    margin: -1px 0 0 0;
    position: relative;
    z-index: 10;
    overflow: hidden;
    padding:0.3em 1em 0.5em;
}
#search .gsc-cursor-page:hover,
#search .gsc-trailing-more-results:hover {
    background-color: #BDDDE8;
}
#search .gsc-cursor-current-page:hover {
    background-color: #223355;
}

#poweredby-cse {
    float: right;
    text-align: right;
    color: #000000;
    font-size: 0.85em;
}

.newsletter .highlight p {
    margin: 0.5em 0;
}
.newsletter .highlight form,
.newsletter .highlight h3 {
    margin: 0;
}
.newsletter .highlight form {
    text-align: center;
}
.newsletter .highlight input[type="text"] {
    width: 100%;
}

.featured-inner.hub-intro {
    background: #fff url(../../img/amo2009/developers/hub-addon-fox.png) 362px bottom
    no-repeat;
    padding: 25px 0 0 26px;
}

.html-rtl .featured-inner.hub-intro {
    padding: 25px 0 0 10px;
}

.hub-intro-wrapper {
    width:350px;
}

.hub-intro-wrapper a.significant {
    padding-right: 0.5em;
}

.html-rtl .hub-intro-wrapper {
    float:left;
}

.hub-intro h2 {
    margin-top:0;
    line-height:0.8em;
}

.hub-intro h2 span {
    display:block;
    font-size:83%;
}

.hub-intro p {
    font-size:123.1%;
    line-height:1.4em;
}

.hub-intro a.button {
    font-size: 138.5%;
}

.hub-directory {
    float: left;
    width:48%;
}

.hub-directory:nth-child(2n) {
    float: right;
}

.hub-directory h3 {
    padding-bottom: 0.4em;
    margin:0;
}

.hub-directory h4 {
    font-size: 116%;
}

.hub-directory h3, .hub-directory li {
    border-bottom: 1px solid #B5D9E5;
}

.hub-directory li {
    padding: 7px 0 7px 47px;
    position: relative;
}

.html-rtl .hub-directory li {
    padding: 7px 47px 7px 0;
}

.hub-directory li.featured {
    -moz-border-radius: 0;
    margin: 0;
    background: #ECF7FB;
    border-top: 0;
    border-left: 0;
    border-right: 0;
}

.hub-directory p {
    margin: 0;
    line-height: 1.4em;
}

.hub-directory span {
    left: 2px;
    top: 10px;
    padding: 13px 10px 15px 15px;
    position: absolute;
    background: url(../../img/amo2009/developers/hub-directory-sprite.png) top left no-repeat;
}

.html-rtl .hub-directory span {
    left: auto;
    right: 2px;
}

.hub-blog .icon {
    float:right;
    -moz-border-radius:none;
    padding:0;
    margin: 4px 0 0 0;

}

.hub-blog, .hub-calendar {
    line-height: 1.2em;
}

.hub-blog dt, .hub-calendar dt {
    margin-top: 0.9em;
}

.html-rtl .hub-blog h3 {
    padding-right: 20px;
}

.hub-blog h3 a {
    font-weight: normal;
}

.hub-blog dd {
    color: #223355;
    font-size: 85%;
}

.hub-calendar dd {
    display: inline;
}

.hub-calendar .date {
    font-weight: bold;
    color: #223355;
}

.hub-calendar .location {
    color: #57708C;
}

.hub-developer {
    background: #EAF7FB;
    width: 100%;
}

.hub-developer .featured-inner {
    background: #fff url(../../img/amo2009/developers/feed-addon-list-bg.gif) top left repeat-y scroll;
    overflow: hidden;
    position: relative;
}

.html-rtl .hub-developer .featured-inner {
    background-position: top right;
}

.addon-list {
    width: 200px;
    padding: 25px 0 0 21px;
    background: #EAF7FB;
    border-right: 1px solid #AEC3CF;
    float: left;
}

.html-rtl .addon-list {
    padding: 25px 21px 0 0;
    border-right: none;
    border-left: 1px solid #AEC3CF;
    float: right;
}
.addon-list ul {
    margin-bottom: 0;
    padding-bottom: 10px;
}

.addon-list h3 {
    margin:0 0 0.5em 0;
    font-size: 1.5em;
}

.addon-list li a {
    padding: 10px 0 10px 45px;
    margin-right:21px;
    display:block;
    border-bottom: 1px dotted #AEC3CF;
}

.html-rtl .addon-list li a {
    margin-right: 0;
    margin-left: 21px;
    padding: 10px 45px 10px 0;
}

.addon-list li a:visited {
    color: #0055EE;
}

.addon-list li a .icon {
    background: transparent;
    position: absolute;
    top: 0;
    left: 0;
}

.html-rtl .addon-list li a .icon {
    left: auto;
    right: 0;
}

.addon-list li {
    position: relative;
}

.addon-list li:last-child a {
    border-bottom: none;
}

.addon-list li.active {
   background: url(../../img/amo2009/icons/addon-arrow.png) center right no-repeat;
   margin: 0 -1px 0 0;
}

.html-rtl .addon-list li.active {
    background: url(../../img/amo2009/icons/addon-arrow-rtl.png) center left no-repeat;
    margin: 0 0 0 -1px;
}

.addon-list li.active a {
    font-weight:bold;
}

.addon-list li.more {
    font-size: 0.85em;
}

.addon-list li.more a {
    background: url(../../img/amo2009/icons/arrows.gif) 22px -107px no-repeat;
    border-bottom: none;
    padding-top: 5px;
    padding-bottom: 5px;
}

.addon-feed-loading {
    float: right;
    display: none;
}

.html-rtl .addon-feed-loading {
    float: left;
}

.secondary .addon-list {
    border-right: none;
}

.html-rtl .secondary .addon-list {
    border-left: none;
}

.secondary .addon-list li.active {
   background: none;
   margin: 0;
}

.secondary .addon-list li a {
    font-weight: normal;
}

.secondary .addon-list li.active a {
    font-weight: bold;
}

.addon-feed-outer-wrapper {
    float: right;
    margin-left: -25em;
    width: 100%;
}

.html-rtl .addon-feed-outer-wrapper {
    float: left;
    margin-right: -25em;
    margin-left: 0;
}

.addon-feed-wrapper {
    background: #fff;
    margin-left: 221px;
    border-left: 1px solid #AEC3CF;
    padding: 0 0 45px 0;
}

.html-rtl .addon-feed-wrapper {
    margin-left: 0px;
    margin-right: 221px;
    border-left: none;
    border-right: 1px solid #AEC3CF;
}

.feed-page .addon-feed-wrapper {
    margin-left: 0;
}
.html-rtl .feed-page .addon-feed-wrapper {
    margin-right: 0;
}

.addon-feed-rss {
    float: right;
    padding: 8px 8px 0 8px;
}

.html-rtl .addon-feed-rss {
    float: left;
}

.addon-feed, .addon-feed h3 {
    color: #444;
}

.addon-feed {
    padding: 20px 20px 0;
}

.addon-feed h3 {
    margin-top:0;
}

.addon-feed img.rss-icon {
    float: right;
}

.html-rtl .addon-feed img.rss-icon {
    float: left;
}

.addon-events {
    margin: 0;
    min-height: 240px;
}

.addon-event {
    padding: 0.5em 0 0.7em 25px;
    position: relative;
    border-bottom: 1px dotted #ccc;
}

.html-rtl .addon-event {
    padding: 0.5em 25px 0.7em 0;
}

.addon-event .icon {
    background: url(../../img/amo2009/icons/news-feed-sprite.png) 0 0 no-repeat;
    padding: 8px;
    position:absolute;
    top: 0.75em;
    left: 0;
}

.html-rtl .addon-event .icon {
    right: 0;
    left: auto;
}

#addon-feed .addon-event {
    padding: 0.5em 0 0.7em 36px;
}

.html-rtl #addon-feed .addon-event {
    padding: 0.5em 36px 0.7em 0;
}

#addon-feed .addon-event .icon {
    left: 10px;
}

.html-rtl #addon-feed .addon-event .icon {
    right: 10px;
    left: auto;
}

#addon-feed .addon-event .addon-icon {
    padding: 8px;
    position:absolute;
    top: 0;
    left: 0;
}

.html-rtl #addon-feed .addon-event .addon-icon {
    left: auto;
    right: 0;
}

#addon-feed .addon-event.with-addon-icon {
    padding: 0.5em 0 0.7em 74px;
}

.html-rtl #addon-feed .addon-event.with-addon-icon {
    padding: 0.5em 74px 0.7em 0;
}

#addon-feed .addon-event.with-addon-icon .icon {
    left: 48px;
}

.html-rtl #addon-feed .addon-event.with-addon-icon .icon {
    right: 48px;
    left: auto;
}

.addon-event p {
    margin: 0;
}

.addon-event .date {
    font-size: 0.8em;
    color: #7F7F7F;
    line-height: 1em;
}

.older-activity {
    font-size: 0.85em;
    border-bottom: none;
    padding-left: 0;
}

.older-activity a {
    padding-left: 25px;
    background: transparent url(../../img/amo2009/icons/arrows.gif) no-repeat scroll  4px -116px;
}

.addon-info {
    margin: 0;
    margin-bottom: 0;
    background: #EAF7FB;
    border-top: 1px solid #AEC3CF;
    padding: 7px 28px 7px 0;
    position: absolute;
    bottom: 0;
    width: 65%;
}

.html-rtl .addon-info {
    padding: 7px 0 7px 28px;
}

.addon-info li {
    margin: 0 0 0 20px;
    float:left;
    padding:4px 0 4px;
}

.html-rtl .addon-info li {
    margin: 0 20px 0 0;
    float: right;
}

.tools span {
    background-position: -57px 0;
    padding: 16px;
}

.documentation span {
    background-position: -25px 0;
    padding: 16px 16px 16px 17px;
}

.addon-info a {
    background: transparent url(../../img/amo2009/icons/news-feed-sprite.png) no-repeat scroll 0 0;
    padding: 4px 0 4px 20px;
}

.html-rtl .addon-info a {
    padding: 4px 20px 4px 0;
    background-position: 0 right;
}

.addon-info .edit {
    background-position: 0 -537px;
}

.html-rtl .addon-info .edit {
    background-position: right -537px;
}

.addon-info .statistics {
    background-position: 0 -897px;
}

.html-rtl .addon-info .statistics {
    background-position: right -897px;
}

.addon-info .status {
    background-position: 0 -1040px;
}

.html-rtl .addon-info .status {
    background-position: right -1040px;
}

.addon-info .versions {
    background-position: 0 -501px;
}

.html-rtl .addon-info .versions {
    background-position: right -501px;
}
/** BG positions for news feed, auto-generated **/
.addon_active .icon{ background-position: 0 0; }
.addon_created .icon{ background-position: 0 -36px; }
.addon_inactive .icon{ background-position: 0 -72px; }
.approved .icon{ background-position: 0 -108px; }
.author_added .icon{ background-position: 0 -144px; }
.author_removed .icon{ background-position: 0 -180px; }
.categories_modified .icon{ background-position: 0 -216px; }
.collection .icon{ background-position: 0 -252px; }
.contributions_modified .icon{ background-position: 0 -288px; }
.custom .icon{ background-position: 0 -324px; }
.descriptions_edited .icon{ background-position: 0 -360px; }
.escalated .icon{ background-position: 0 -396px; }
.file_added .icon{ background-position: 0 -432px; }
.file_deleted .icon{ background-position: 0 -468px; }
.page_white_stack .icon{ background-position: 0 -504px; }
.pencil .icon{ background-position: 0 -540px; }
.preview_add .icon{ background-position: 0 -576px; }
.preview_delete .icon{ background-position: 0 -612px; }
.preview_edit .icon{ background-position: 0 -648px; }
.properties_edited .icon{ background-position: 0 -684px; }
.recommended_add .icon{ background-position: 0 -720px; }
.recommended_remove .icon{ background-position: 0 -756px; }
.request_info .icon{ background-position: 0 -792px; }
.retained .icon{ background-position: 0 -828px; }
.review_added .icon{ background-position: 0 -864px; }
.stats .icon{ background-position: 0 -900px; }
.stats_private .icon{ background-position: 0 -936px; }
.stats_public .icon{ background-position: 0 -972px; }
.status .icon{ background-position: 0 -1008px; }
.status_2 .icon{ background-position: 0 -1044px; }
.status_nominate .icon{ background-position: 0 -1080px; }
.tag_added .icon{ background-position: 0 -1116px; }
.tag_blue .icon{ background-position: 0 -1152px; }
.tag_removed .icon{ background-position: 0 -1188px; }
.version_added .icon{ background-position: 0 -1224px; }
.version_deleted .icon{ background-position: 0 -1260px; }
.version_edited .icon{ background-position: 0 -1296px; }
.versions_compat_add .icon{ background-position: 0 -1332px; }

/** "I like this!" boxes **/
.like-this.not-liked .unlike,
.like-this.liked .likeit {
    display: none;
}

.like-this .numlikes {
    background-image: url('../../img/amo2009/icons/thumbs.png');
    background-repeat: no-repeat;
    padding-left: 1.5em;
    margin-top: 0.5em;
}

.html-rtl .like-this .numlikes {
    padding-right: 1.5em;
}

.like-this.not-liked .numlikes {
    background-position: left 40%;
}

.like-this.liked .numlikes {
    background-position: left -2%;
}

.html-rtl .like-this.not-liked .numlikes {
    background-position: right 40%;
}

.html-rtl .like-this.liked .numlikes {
    background-position: right -2%;
}

.like-this.not-liked button.link:not(:hover) span {
    color: #888;
    opacity: 0.9;
}
/** END "I like this!" boxes **/

.developer-hub #footer .secondary img {
    max-width: none;
    width: auto;
}

/* Getting Started */
#getting-started {
    font-size: 1.1em;
}
#getting-started .right-image {
    padding: 1em;
}
.html-ltr #getting-started .right-image {
    float: right;
}
.html-rtl #getting-started .right-image {
    float: left;
}
#getting-started h3 {
    margin-top: 0;
}
#getting-started .big-link {
    text-align: center;
}
#getting-started .big-link a {
    background-color: #C8E8F3;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    padding: 0.5em 1em;
    font-weight: bold;
    margin: 0 1em;
}

/** Add-on Builder **/
#builder > ul {
    margin-bottom: 4em;
}

#builder li {
    border-bottom: 1px dotted #a5c9d5;
}

#builder li:last-child {
    border-bottom: none;
}

#builder li {
    padding: 0.5em 0;
}

#builder li:first-child {
    padding-top: 0;
}

#builder li label:not(.checkbox-label) {
    width: 10em;
}

#builder .appversion-picker,
#builder li label:not(.checkbox-label),
#builder li .builder_input {
    float: left;
}

#builder .app-versions .builder_input {
    float: none;
    margin: 0;
}

#builder textarea {
    width: inherit;
}

#builder li .builder_input {
    padding: 0.2em;
    padding-bottom: 0.1em;
    margin-right: 0.5em;
}

#builder .funky ul {
    -moz-column-count: 2;
}

#builder .funky li {
    border: none;
    padding: 0 0 0.2em;
}

.checkbox-label {
    font-weight: normal;
}

#builder .required > label:after {
    content:' *';
}

#builder .errors {
    color: red;
}

#builder .help {
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    background-color: #c8e8f3;
    padding: 0.5em;
    position: absolute;
    right: 3em;
    max-width: 22%;
    margin-top: -1em;
}

#builder .checkbox-help {
    right: 12em;
    margin-top: -2em;
}

#builder .help:before {
    content: url('../../img/amo2009/icons/help-arrow.png');
    position: absolute;
    left: -1em;
    top: 1em;
}

#builder li .help {
    visibility: hidden;
}

#builder .builder_input:focus ~ .help{
    visibility: visible;
}

#builder li:hover > .checkbox-help {
    visibility: visible;
}

.builder-download {
    background-image: url('../../img/default_icon.png');
    background-repeat: no-repeat;
    font-size: 1.8em;
    margin-left: 1em;
    padding-left: 1.8em;
    background-position: left center;
}
/** END Add-on Builder **/

.beta-notice {
    background-color: #C8E8F3;
    padding: 1em;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    margin-bottom: 1em;
    border: 1px solid #2E5186;
}
.beta-notice h3 {
    margin: 0 0 0.5em;
}
.beta-notice p {
    margin: 0;
}

/* =Notices ***/
.notice.no-privs-box {
    padding-left: 30px;
    background: #ffe url('../../img/developers/privileges.png') no-repeat 5px 1em;
    display: none;
}
.html-rtl .notice.no-privs-box {
    padding-left: auto;
    padding-right: 30px;
    background-position: 100% 50%;
}

.notice-success {
    border: 1px solid #a6e4be;
    background: #cfffe1 url('../../img/stats/tick.png') no-repeat 5px 1em;
    margin-bottom: 5px;
    padding: 5px 5px 5px 30px;
}
.html-rtl .notice-success {
    background-position: 100% 50%;
    padding: 5px 25px 5px 5px;
}

.notice-error {
    border: 1px solid #e7bfb1;
    background: #fff1eb url('../../img/developers/exclamation.png') no-repeat 5px 1em;
    margin-bottom: 5px;
    padding: 5px 5px 5px 30px;
}
.html-rtl .notice-error {
    background-position: 100% 1em;
    padding: 5px 25px 5px 5px;
}

.notice span, 
.notice-error span, 
.notice-success span {
    font-weight: bold;
}
.notice-success ul,
.notice-error ul,
.notice-success li,
.notice-error li {
    margin-bottom: 0;
}
.notice {
    background-color: #ffe;
    border: 1px solid #dde;
    padding: 10px;
    margin-bottom: 15px;
}
.notice p {
  margin-bottom: .25em;
}
.notice.noscript {
    padding-left: 30px;
    background: #ff9 url('../../img/developers/noscript.png') no-repeat 5px 50%;
}
.html-rtl .notice.noscript {
    padding-left: auto;
    padding-right: 30px;
    background-position: 100% 50%;
}
.preview-box .error-message {
    display: none;
    background-image: url('../img/developers/preview_delete.png');
}
.preview-box.errors .error-message {
    display: block;
}

.nominate.add-button {
    background-image: url('../../img/developers/status_nominate.png');
}
.complete.add-button {
    background-image: url('../../img/developers/tick.png');
}
.make-active.add-button {
    background-image: url('../../img/developers/status_active.png');
}
.make-inactive.add-button {
    background-image: url('../../img/developers/status_inactive.png');
}
.to-sandbox.add-button {
    background-image: url('../../img/developers/arrow_down.png');
}
.to-public.add-button {
    background-image: url('../../img/developers/arrow_up.png');
}


.criteria {
    margin-left: 10px;
}
.html-rtl .criteria {
    margin-left: auto;
    margin-right: 10px;
}
.criteria li {
    list-style: none;
    padding-left: 20px;
}
.html-rtl .criteria li {
    padding-left: auto;
    padding-right: 20px;
}
.criteria .pass {
    background: url('../../img/developers/tick.png') no-repeat left center;
}
.criteria .fail {
    background: url('../../img/developers/cross.png') no-repeat left center;
}
.criteria .meh {
    background: url('../../img/developers/asterisk_yellow.png') no-repeat left center;
}

.save-changes {
    display: none;
    background: transparent url('../img/../developers/exclamation.png') no-repeat 5px 50%;
    padding: 5px 0 5px 30px;
    border: 1px solid #5D6C8C;
    margin: 5px;
}
.html-rtl .save-changes {
    background-position: 100% 50%;
    padding: 5px 25px 5px 0;
}
#add-author p {
    margin-bottom: 5px;
}
#add-author #add-error {
    background: transparent url('../img/developers/exclamation.png') no-repeat 5px 50%;
    color: #CC3333;
    padding: 5px 0 5px 30px;
    display: none;
}
.html-rtl #add-author #add-error {
    background-position: 100% 50%;
    padding: 5px 25px 5px 0;
}
#add-author #add-loading {
    display: none;
}


.inline-delete-button {
    border: 1px solid transparent;
    border-bottom: none;
}
.inline-delete-button.uses-image.open {
    text-align: center;
    background-color: #fff1eb;
    border: 1px solid #e7bfb1;
    border-bottom-color: #fff1eb;
    -moz-border-radius: 6px 6px 0 0;
    -webkit-border-top-left-radius: 6px;
    -webkit-border-top-right-radius: 6px;
    border-radius: 6px 6px 0 0;
}
.inline-delete-button.uses-button.open .remove-button.trigger {
    background-color: #fff1eb;
    border: 1px solid #e7bfb1;
    border-bottom: 0;
    -moz-border-radius: 6px 6px 0 0;
    -webkit-border-bottom-left-radius: 0;
    -webkit-border-bottom-right-radius: 0;
    border-radius: 6px 6px 0 0;
}
.inline-delete-box {
    position: absolute;
    z-index: 10;
    display: none;
    margin-left: -378px;
    margin-top: -2px;
    padding: 10px;
    width: 380px;
    color: #2D3B58;
    background-color: #fff1eb;
    border: 1px solid #e7bfb1;
    -moz-border-radius: 6px 0 6px 6px;
    -webkit-border-radius: 6px;
    -webkit-border-top-right-radius: 0;
    border-radius: 6px 0 6px 6px;
}
.html-rtl .inline-delete-box {
    margin-left: auto;
    margin-right: -378px;
    -moz-border-radius: 0 6px 6px 6px;
    -webkit-border-radius: 6px;
    -webkit-border-top-left-radius: 0;
    border-radius: 0 6px 6px 6px;
}
.uses-button .inline-delete-box {
    right: 0;
    margin: 2px 22px 0 0;
    width: 50%;
}
.html-rtl .uses-button .inline-delete-box {
    right: auto;
    left: 0;
    margin: 2px 0 0 22px;
}
.inline-delete-box p {
    margin: 0 !important;
    padding: 0;
    text-align: center;
}
.inline-delete-box .remove-button {
    border-color: #CC3333;
    color: #2D3B58;
}
.inline-delete-box .button {
    color: #2D3B58;
}

.developer-hub h2 img {
  vertical-align: baseline; 
  margin: 0 8px 0 2px;
}

.html-rtl .developer-hub h2 img {
  margin: 0 2px 0 8px;
}

/* =Dashboard */
.actionbar:after { /* clear floats */
  content: ".";
  display: block;
  clear: both;
  height: 0;
  visibility: hidden;
}

.actionbar .action {
  width: 23%;
  float: left;
  margin-right: 1.8%;
}
.html-rtl .actionbar .action {
  float: right;
  margin-right: 0;
  margin-left: 1.8%;
}

.actionbar .view {
  display: block;
  font-weight: bold;
  background: transparent 0 .2em no-repeat;
  padding: .2em 0 .2em 22px;
  border-bottom: 1px solid #d6e9f0;
}
.html-rtl .actionbar .view {
  padding: .2em 22px .2em 0;
  background-position: 100% .2em;
}

.action .action-details {
  font-size: 0.925em;
}
.action .action-details em {
  font-style: normal;
  font-weight: bold;
}
.action .action-details .ver-files {
  display: block;
  margin-top: -.25em;
  font-size: 0.925em;
  color: #666;
}

.action .action-details .recentactivity {
  display: block;
  padding: .2em 0 .2em 22px;
  background: transparent 0 .2em no-repeat;
  background-image: url(../../img/developers/actionbar/recent.png);
}

.html-rtl .action .action-details .recentactivity {
  background-position: 100% .2em;
  padding: .2em 22px .2em 0;
}

/* Edit main */
#edit-listing {
  margin: 0;
  padding: 10px;
}

#edit-listing dt:first-child {
  margin-top: 0;
}

#edit-listing dt a {
  font-size: 1.1em;
  padding: .2em 0 .2em 22px;
  background: transparent 0 0 no-repeat;
}
.html-rtl #edit-listing dt a {
  padding: .2em 22px .2em 0;
  background-position: 100% 0;
}

#edit-listing .edit-authors a { background-image: url(../../img/developers/actionbar/edit_authors.png); }
#edit-listing .edit-categories a { background-image: url(../../img/developers/actionbar/edit_categories.png); }
#edit-listing .edit-tags a { background-image: url(../../img/developers/actionbar/edit_tags.png); }
#edit-listing .edit-descriptions a { background-image: url(../../img/developers/actionbar/edit_descriptions.png); }
#edit-listing .edit-properties a { background-image: url(../../img/developers/actionbar/edit_properties.png); }
#edit-listing .edit-profile a { background-image: url(../../img/developers/actionbar/edit_profile.png); }
#edit-listing .edit-contributions a { background-image: url(../../img/developers/actionbar/edit_contributions.png); }

p.smallmargin {
  margin-bottom: .5em;
}
label.indented {
  padding: 0 20px;
}

/* =Subnav (sidebar) */
#dev-subnav-edit h3 a {
  font-weight: normal;
}

#dev-subnav-edit .actionbar {
  margin: 0 -5px;
}

#dev-subnav-edit li {
  padding: 1px 5px 1px 25px;
  background: transparent 5px 50% no-repeat;
}
.html-rtl #dev-subnav-edit li {
  padding: 1px 25px 1px 5px;
  background-position: 99% 50%;
}

#dev-subnav-edit li.selected {
  background-color: #DEF1F8;
}

#dev-subnav-edit .edit, .actionbar .edit .view { background-image: url(../../img/developers/actionbar/edit.png); }
#dev-subnav-edit .displaypage { background-image: url(../../img/developers/actionbar/displaypage.png); }
#dev-subnav-edit .recentactivity { background-image: url(../../img/developers/actionbar/recent.png); }
#dev-subnav-edit .status, .actionbar .status .view { background-image: url(../../img/developers/actionbar/status.png); }
#dev-subnav-edit .statistics, .actionbar .statistics .view { background-image: url(../../img/developers/actionbar/stats.png); }
#dev-subnav-edit .versions, .actionbar .versions .view { background-image: url(../../img/developers/actionbar/versions.png); }
#dev-subnav-edit .previews { background-image: url(../../img/developers/actionbar/previews.png); }

#dev-subnav .indented {
  padding-left: 20px;
  font-size: 0.925em;
  line-height: 1.4;
  margin-bottom: 0.25em;
}
.html-rtl #dev-subnav .indented { 
  padding-left: 0;
  padding-right: 20px;
}

#dev-subnav .container li {
  font-size: 0.925em;
  padding: 1px 5px 1px 30px;
  margin: 0 -5px 0 -25px;
  background-position: 0 50%;
}
.html-rtl #dev-subnav .container li {
  padding: 1px 30px 1px 5px;
  margin: 0 -25px 0 -5px;
}

/* Categories */
.edit-categories-box h4 img {
  vertical-align: middle;
  margin: 0 8px 0 2px;
}
.html-rtl .edit-categories-box h4 img {
  margin: 0 2px 0 8px;
}

fieldset#addon-categories {
  padding-right: 50%;
  position: relative;
  border: 0;
}
.html-rtl fieldset#addon-categories {
  padding-right: 0;
  padding-left: 50%;
}

#addon-categories .edit-categories-descriptions {
  width: 45%;
  position: absolute;
  right: 20px;
  top: 0;
}
.html-rtl #addon-categories .edit-categories-descriptions {
  left: -50%;
  right: auto;
}

#author-table, 
#versions-table, 
#files-table, 
#edit-versions-targetapps-table {
  width: 100%;
}

/* Developer profile & contributions page. */
#create-dev-profile button {
    margin-top: 1em;
}

#create-dev-profile h3, 
#start-asking h3, 
#submission-area h3, 
#step-intro h3 {
  margin-top: 0;
}

#step-intro h4 {
    font-size: 120%;
    margin-bottom: .5em;
}
#step-intro h4:before {
    content: '\25B6';
    margin-right: .5em;
}
.html-rtl #step-intro h4:before {
    content: '\25C0';
    margin-right: 0;
    margin-left: .5em;
}

#step-intro .recommended {
    margin-left: 1em;
    padding-left: 20px;
    background: url('../../img/developers/tick.png') left center no-repeat;
    line-height: 16px;
    font-weight: bold;
}
.html-rtl #step-intro .recommended {
    margin-left: 0;
    margin-right: 1em;
}

#step-intro .deciding {
    font-weight: bold;
}

#listed-info label {
    width: 25%;
    float: left;
    text-align: right;
    margin-right: 1em;
    display: block;
}
#listed-info textarea {
    width: 70%;
}
#listed-info .graybox p {
    clear: both;
}

.intro #contributions,
.intro #dev-profile {
    display: none;
}

#currently.asking {
    background-color: #e6fae0;
    border: 1px solid #d5e6ce;
}

#currently.not-asking {
    background-color: #fbfbfb;
    border: 1px solid #e6e6e6;
}

#currently.asking button {
    color: #2e8d23;
}

#currently.not-asking button {
    color: #1d587f;
}

#currently p:last-of-type {
    float: right;
}

#currently p:first-of-type {
    float: left;
}

button.link {
    background: none;
    border: none;
    cursor: pointer;
    margin: 0;
    padding: 0;
    text-align: left;
    font-size: 100%;
}

button.link span {
    text-decoration: underline;
}

#contributions label {
    font-weight: bold;
}

#contributions input[type=radio] + label {
    font-weight: normal;
}

#contrib-account div {
    float: left;
}

#contrib-account div:nth-of-type(3) {
    margin: 0 2em;
}

.help,
#contributions form input:not([type=hidden]) + p {
    font-size: 90%;
}

#currently {
    font-size: 90%;
    padding: 0 1em;
    margin: 1em 0;
}

#currently p {
    padding: 0;
    margin: 0.5em 0;
}

ul.radio {
    list-style-type: none;
    margin: 0;
}

ul.radio label {
    display: inline;
}

ul.radio input {
    margin-left: 0;
}

/* Change Status Page */
div.status {
    font-size: 115%;
}
h4.status span {
    font-weight: bold;
}
.status-0 { color: gray; }
.status-1,
.status-2,
.status-3 { color: navy; }
.status-4 { color: green; }
.status-5 { color: red; }

.inactive-0 { color: green; }
.inactive-1 { color: red; }

.actions {
    width: 100%;
}
.actions .action {
    text-align: left;
    vertical-align: middle;
    min-width: 25%;
    padding-bottom: 5px;
}
.html-rtl .actions .action {
    text-align: right;
}
.actions .description {
    color: #5D6C8C;
}

#hosting-change-confirm {
    display: none;
}
#hosting-change-confirm .confirm {
    text-align: center;
}
/* END addon status page */

/* Buttons */
.add-button,
.remove-button,
.edit-button,
.action-button {
    background: #fefefe url('../../img/developers/add.png') no-repeat 10px 50%;
    padding: 3px 15px 3px 35px;
    border: 1px solid #ccc;
    white-space: nowrap;
    -moz-border-radius: 13px;
    -webkit-border-radius: 8px;
    border-radius: 10px;
}
.remove-button {
  background-image: url('../../img/developers/delete.png');
}
.edit-button {
  background-image: url('../../img/developers/edit.png');
}
.html-rtl .add-button,
.html-rtl .remove-button,
.html-rtl .edit-button,
.html-rtl .action-button {
    background-position: 95% 50%;
    padding: 3px 35px 3px 15px;
}
.nominate.add-button {
    background-image: url('../../img/developers/status_nominate.png');
}
.complete.add-button {
    background-image: url('../../img/developers/tick.png');
}
.make-active.add-button {
    background-image: url('../../img/developers/status_active.png');
}
.make-inactive.add-button {
    background-image: url('../../img/developers/status_inactive.png');
}
.to-sandbox.add-button {
    background-image: url('../../img/developers/arrow_down.png');
}
.to-public.add-button {
    background-image: url('../../img/developers/arrow_up.png');
}

.criteria {
    margin-left: 10px;
}
.html-rtl .criteria {
    margin-left: auto;
    margin-right: 10px;
}
.criteria li {
    list-style: none;
    padding-left: 20px;
}
.html-rtl .criteria li {
    padding-left: auto;
    padding-right: 20px;
}
.criteria .pass {
    background: url('../../img/developers/tick.png') no-repeat left center;
}
.criteria .fail {
    background: url('../../img/developers/cross.png') no-repeat left center;
}
.criteria .meh {
    background: url('../../img/developers/asterisk_yellow.png') no-repeat left center;
}
.html-rtl .criteria .pass,
.html-rtl .criteria .fail,
.html-rtl .criteria .meh {
    background-position: right center;
}

/* Versions and Upload ***/
.version-delete-area {
    text-align: right;
}
.html-rtl .version-delete-area {
    text-align: left;
}
#targetApps select {
    width: 100%;
}
#fileList,
#targetApps {
    margin: 0 0;
}
#targetApps td.separator,
#fileList td.separator {
    padding: 0 15px;
}
#license-translationbox {
    margin-top: 1em;
}
#step-agreement #dev-agreement {
    background-color: #EEEEEE;
    margin: 0 5% 10px;
    padding: 10px;
    max-height: 300px;
    overflow: auto;
    border: 1px solid #AAA;
    font-size: 85%;
}
#license-disclosure {
  font-size: 95%;
}

#step-agreement,
#upload-success,
#upload-loading,
#complete-loading,
#upload-error {
    display: none;
}

#upload-error {
    margin-top: 10px;
}
#upload-error-content,
#addon-created-content,
#version-created-content,
#file-created-content {
    padding: 5px 10px;
}

#file-upload .disabled {
    color: gray;
}
.action-button-container, 
.add-button-container {
  margin: .5em 0;
}

/** tags styles  **/
.addon-tags .usertag .tagitem {
	padding-left: 20px;
	background-image: url(../../img/amo2009/icons/icons.png);
	background-repeat: no-repeat;
	background-position: 0px -600px;
}
.addon-tags .developertag .tagitem {
	padding-left: 20px;
	background-repeat: no-repeat;
	background-image: url(../../img/amo2009/icons/icons.png);
	background-position: 0 -1400px;
}

.addon-tags li .removetag {
	display:none;
}
.addon-tags li.hover .removetag,
#tags .nojs li .removetag {
	display:inline;
    background: transparent url(../../img/amo2009/icons/cross.png) no-repeat left;
    border: none;
    margin: 0;
    text-indent: -1000px;
}

#new-app-picker {
    padding-left: 20px;
    display: none;
}
.html-rtl #new-app-picker {
    padding-left: auto;
    padding-right: 20px;
}

label.new-preview {
  display: block;
  margin-bottom: 1em;
}

#create-dev-profile ul, 
#start-asking ul {
  list-style: disc;
  margin: 0 20px 1.5em;
}
