/*
Internet Explorer fixes
Original Author: Richard Rutter, clearleft.com
*/

body {
    font-size: 87.5%; /* assume 16px by default and transform to 14px */
}

form fieldset .container {
    top: -0.692em; /* fudge to deal with IE fieldset margin/padding */
}

.button /* fixes buttons looking squiffy in IE7 */ {
    display: block;
    float: left;
}

#footer .secondary img {
    width: auto;
}

.expanded-search-form .advanced {
    padding-top: 1em;
}

/** Search form **/
.search-form .basic {
    min-height: 3em;
}
/** END Search form **/

/** add-on details page **/
.addon-cats li {
    padding: 0 .5em;
    margin: 0;
    border-left: 1px solid #444;
}
.addon-cats li.first {
    padding-left: 0;
    border-left: none;
}
.addon-cats li:after {
    content: "";
}

.highlight .more-info {
    /* More categories links */
    clear: left;
    display: block;
    float: none;
}
/** END add-on details page **/

/** Collection barometer fixes **/
.barometer .bars,
.barometer .upbar, .barometer .downbar,
.barometer .upvotes, .barometer .downvotes {
    float: left;
}

.html-rtl .barometer .bars,
.html-rtl .barometer .upbar, .html-rtl .barometer .downbar,
.html-rtl .barometer .upvotes, .html-rtl .barometer .downvotes {
    float: right;
}

.html-rtl .barometer {
    clear: right;
}

.barometer .bars {
    width: 7em;
}

.item .barometer .bars {
    width: 5em;
}
/** END Collection barometer fixes **/

/* .teaser-items li:not(:first-child) */
.teaser-items li {
    display: none;
}

#t-introduction {
    display: list-item;
}

.collections-landing {
    background-image: url(../../img/amo2009/illustrations/logo-collections-220x270.png);
    background-position: 95% 30px;
}
