{% macro heading(addon, amo, collection) %}
  <h3>
    {% if collection %}
      {% set collection_path = "?src=collection&collection_id=" + collection.uuid %}
    {% else %}
      {% set collection_path = "" %}
    {% endif %}

    <a href="{{ addon.get_url_path() + collection_path }}">
      <img class="icon" width="32" height="32" src="{{ addon.icon_url }}" alt="">
      {{ addon.name }}</a>
    <span>
      {{ addon_users_list(addon) }}
    </span>
  </h3>
{% endmacro %}

{% macro item_info(addon, amo, show_date, show_downloads=False) %}
  {{ reviews_link(addon) }}
  <p class="downloads">
    {% if show_downloads or addon.type == amo.ADDON_SEARCH %}
      {% with num=addon.weekly_downloads %}
        {# L10n: {0} is the number of downloads. #}
        {{ ngettext("<strong>{0}</strong> weekly download",
                    "<strong>{0}</strong> weekly downloads",
                    num)|format_html(num|numberfmt)|safe }}
      {% endwith %}
    {% else %}
      {% with num=addon.average_daily_users %}
        {# L10n: {0} is the number of users. #}
        {{ ngettext("<strong>{0}</strong> user",
                    "<strong>{0}</strong> users",
                    num)|format_html(num|numberfmt)|safe }}
      {% endwith %}
    {% endif %}
  </p>
  <p class="updated">
    {% if show_date in ['created', 'new', 'newest'] %}
    {{ _('Added {0}')|format_html(addon.created|date) }}
    {% elif show_date == 'updated' %}
    {# L10n: {0} is a date #}
    {{ _('Updated {0}')|format_html(addon.last_updated|date) }}
    {% endif %}
  </p>
{% endmacro %}
