{% extends "developers/base.html" %}

{% set title = _('Manage Developer Profile') %}
{% block title %}{{ hub_page_title(title, addon) }}{% endblock %}

{% block content %}
<header>
  {{ hub_breadcrumbs(addon, items=[(None, title)]) }}
  {{ l10n_menu(addon.default_locale) }}
  <h1>{{ title }}</h1>
</header>
<section class="primary island manage">
  {% set remove_url = addon.get_dev_url('profile.remove') %}
  {% if addon.has_full_profile() %}
    <div id="status-bar">
      <p>{% with url=addon.meet_the_dev_url() %}
        Your <a href="{{ url }}">developer profile</a> will be
        <strong>public</strong>.
      {% endwith %}</p>
      <form method="post" action="{{ remove_url }}">
        {{ csrf() }}
        <button type="submit">{{ _('Remove Profile') }}</button>
      </form>
    </div>
  {% elif addon.has_profile() %}
    <div id="status-bar">
      <p>{% with url=addon.meet_the_dev_url() %}
        Your <a href="{{ url }}">developer profile</a> will be
        <strong>public</strong>.
      {% endwith %}</p>
      <form method="post" action="{{ remove_url }}">
        {{ csrf() }}
        <button type="submit">{{ _('Remove Profile') }}</button>
      </form>
    </div>
  {% endif %}
  <form id="profile-form" class="devhub-form" method="post"
        action="{{ request.path }}">
    {{ csrf() }}
    {% include 'developers/includes/addons_create_profile.html' %}
    <p class="listing-footer">
      <button>
        {{ _('Save Changes') if addon.has_profile() else _('Create Profile') }}
      </button>
    </p>
  </form>
</section>
{% include "developers/includes/addons_edit_nav.html" %}
{% endblock %}
