{% extends "impala/base_shared.html" %}

{% set app = request.APP.pretty %}
{% set title = _('Add-on Compatibility Report for {app} {version}')|f(app=app, version=version) %}
{% block title %}{{ page_title(title) }}{% endblock %}

{% block bodyclass %}compat{% endblock %}

{% block content %}
<header>
  {{ impala_breadcrumbs([(None, _('{app} {version} Compatibility')|f(app=app, version=version))]) }}
  <h1>{{ title }}</h1>
</header>
<section class="island full c">
{% if results %}
{% set titles = {
  'prev': _('Top 95% compatible with previous version'),
  'top_95': _('Top 95% of all add-ons'),
  'all': _('All active add-ons'),
} %}

<form class="go" action="" id="compat-form">
  <label>{{ _('App') }}: {{ form.appver }}</label>
  {{ form.type }}
  <noscript><button type="submit">{{ _('Go') }}</button></noscript>
</form>

<table>
  <thead>
    <tr>
      <th></th>
      {% with key, (total, facets) = compat_levels[0] %}
        {% for version, _ in facets %}
          <th>{{ version }}</th>
        {% endfor %}
      {% endwith %}
    </tr>
  </thead>
  <tbody>
    {% for key, (total, facets) in compat_levels %}
      {% if total %}
      <tr>
        <th>{{ titles[key] }}</th>
        {% for version, count in facets %}
          <td>{{ (100 * count / total)|round(2) }}% ({{ count }})</td>
        {% endfor %}
      </tr>
      {% endif %}
    {% endfor %}
  </tbody>
</table>

<h2 class="c">
  {% if show_previous %}
    {{ _('Details for add-ons compatible with previous version:') }}
    <a href="{{ request.get_full_path()|urlparams(previous=None) }}"
       class="button">{{ _('Show all versions') }}</a>
  {% else %}
    {{ _('Details for add-ons compatible with all versions:') }}
    <a href="{{ request.get_full_path()|urlparams(previous=1) }}"
       class="button">{{ _('Show previous version only') }}</a>
  {% endif %}
</h2>
<table>
  <tbody>
    {% for addon in usage_addons.object_list %}
    <tr>
      <td><a href="{{ url('addons.detail', addon.slug) }}">{{ addon.name }}</a></td>
      <td>{{ addon.max_version }}</td>
      {% with num = addon.usage %}
        <td>{{ ngettext('{0} user', '{0} users', num)|f(num|numberfmt) }}</td>
        <td>({{ (100 * num / usage_total)|round(2) }}%)</td>
      {% endwith %}
    </tr>
    {% endfor %}
  </tbody>
</table>

{{ usage_addons|impala_paginator }}

{% else %}
  <p class="no-results">{{ _('No results found.') }}</p>
{% endif %}
</section>
{% endblock %}
