{% extends "impala/base.html" %}

{% set app = request.APP.pretty %}
{% set title = _('Add-on Compatibility Report for {app} {version}')|f(app=app, version=version) %}
{% block title %}{{ page_title(title) }}{% endblock %}

{% block bodyclass %}compat{% endblock %}

{% block content %}
<header>
  {{ impala_breadcrumbs([(None, _('{app} {version} Compatibility')|f(app=app, version=version))]) }}
  <h1>{{ title }}</h1>
</header>
<section class="island full c">
{% set titles = {
  'prev': _('Top 95% compatible with previous version'),
  'top_95': _('Top 95% of all add-ons'),
  'all': _('All active add-ons'),
} %}

<form class="go" action="" id="compat-form">
  <label>{{ _('App') }}: {{ form.appver }}</label>
  {{ form.type }}
  <button type="submit">Go</button>
</form>

<table>
  <thead>
    <tr>
      <th></th>
      {% with key, (total, facets) = compat_levels[0] %}
        {% for version, _ in facets %}
          <th>{{ version }}</th>
        {% endfor %}
      {% endwith %}
    </tr>
  </thead>
  <tbody>
    {% for key, (total, facets) in compat_levels %}
      {% if total %}
      <tr>
        <th>{{ titles[key] }}</th>
        {% for version, count in facets %}
          <td>{{ (100 * count / total)|round(2) }}% ({{ count }})</td>
        {% endfor %}
      </tr>
      {% endif %}
    {% endfor %}
  </tbody>
</table>
<ul>
</ul>

<h2>{{ _('Details for add-ons compatible with previous version:') }}</h2>
<table>
  <tbody>
    {% for addon in usage_addons.object_list %}
    <tr>
      <td><a href="{{ url('addons.detail', addon.slug) }}">{{ addon.name }}</a></td>
      <td>{{ addon.max_version }}</td>
      <td>{{ addon.usage|numberfmt }} users </td>
      <td>({{ (100 * addon.usage / usage_total)|round(2) }}%)</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{{ usage_addons|impala_paginator }}
</section>
{% endblock %}
