{% extends "base.html" %}

{% set query_term = query %}

{% block title %}
  {% if query %}
    {# L10n: {0} is the string the user was searching for #}
    {{ page_title(_('Collection Search Results for {0}')|f(query)) }}
  {% else %}
    {{ page_title(_('Collection Search Results')) }}
  {% endif %}
{% endblock %}

{% block content %}
<div class="primary" role="main">
  <header class="results-head">
    <h2>{{ _('Search Results') }}</h2>
    <h3 class="results-count">{{ showing(query, pager) }}</h3>
  </header>
  <div class="featured listing">
    {% if pager.object_list %}
      <div class="featured-inner">
        <div class="listing-header">
          <form class="item-sort go" data-no-csrf>
            <div>
              {{ form.cat }}
              {% if request.GET.get('q') %}
                {{ form.q }}
              {% endif %}
              {% if request.GET.get('pp') %}
                {{ form.pp }}
              {% endif %}
              {{ form.sort.label_tag() }}
              {{ form.sort }}
            </div>
          </form>
        </div>
        {{ collection_listing_items(pager.object_list, field=opts.sort) }}
      </div>
      {% if pager.paginator.num_pages > 1 %}
        <div class="listing-footer">{{ pager|paginator }}</div>
      {% endif %}
    {% else %}
      {% include 'search/no_results.html' %}
    {% endif %}
  </div>
</div> {# /primary #}

<div class="secondary" role="complementary">
  {% include 'bandwagon/includes/collection_sidebar.html' %}
</div>

{% endblock %}
