{% extends "impala/base_shared.html" %}
{% from 'includes/forms.html' import pretty_field, required_note %}

{% set title = _('Reply to review by {0}')|format_html(review.user.name) %}

{% block bodyclass %}reviews gutter{% endblock %}

{% block title %}{{ page_title(title) }}{% endblock %}

{% block content %}

  <h1>{{ title }}</h1>

  <div class="secondary">
    {{ addon|sidebar_listing }}
  </div>

  <div class="primary island hero" id="reviews">
    {% include "ratings/review.html" %}
    <form method="post" class="prettyform c"
          action="{{ url('addons.ratings.reply', addon.slug, review.id) }}">
      {% csrf_token %}
      <fieldset>
        <h2>{{ _('Write a Reply') }}</h2>
        <ul>
          {{ pretty_field(form.body, label=_('Reply')) }}
        </ul>
      </fieldset>
      <footer>
        {{ required_note() }}
        <button type="submit">{{ _('Submit') }}</button>
        {# L10n: this string is following a <button>. #}
        {% trans url=addon.ratings_url %}
          or <a href="{{ url }}">Cancel</a>
        {% endtrans %}
      </footer>
    </form>
  </div>
  {{ report_review_popup() }}
{% endblock %}
