{% extends "impala/base_shared.html" %}

{# L10n: {0} is an add-on name. #}
{% block title %}{{ page_title(_('{0} :: Reviews')|format_html(addon.name)) }}{% endblock %}

{% block bodyclass %}reviews gutter{% endblock %}

{% block rss_feed %}
  {% if page == 'list' %}
  <link  rel="alternate" type="application/rss+xml"
         title="RSS" href="{{ addon.ratings_url }}format:rss">
  {% endif %}
{% endblock %}

{% block content %}
  {% block review_header %}
  <header>
    <hgroup>
      {% if page == 'list' %}
        <h1>{{ _('Reviews for {0}')|format_html(addon.name) }}</h1>
        {% with num = reviews.paginator.count %}
          {# L10n: {0} is a number. #}
          <h3>{{ ngettext('<b>{0}</b> review for this add-on',
                          '<b>{0}</b> reviews for this add-on',
                          num)|format_html(num|numberfmt) }}</h3>
        {% endwith %}
      {% elif reply %}
        {# L10n: {0} is a developer's name. #}
        <h1>{{ _('Developer reply by {0}')|format_html(reply.user.name) }}</h1>
      {% elif reviews.object_list %}
        <h1>{% trans cnt=reviews.object_list|length, addon=addon.name,
                     user=reviews.object_list[0].user.name %}
          Review for {{ addon }} by {{ user }}
        {% pluralize %}
          Reviews for {{ addon }} by {{ user }}
        {% endtrans %}</h1>
      {% else %}
        <h1>{{ _('No reviews found.') }}</h1>
      {% endif %}
    </hgroup>
  </header>
  {% endblock %}

  <div class="secondary">
    <section>
      {{ addon|sidebar_listing }}
    </section>
    {% if addon.total_ratings %}
      <section class="average-rating">
        {{ addon.average_rating|float|stars }}
        {% trans total=addon.total_ratings|numberfmt %}
          <strong>Average</strong> ({{ total }})
        {% endtrans %}
      </section>
    {% else %}
      <section class="no-rating">
        <strong>{{ _('Not yet rated') }}</strong>
      </section>
    {% endif %}
    <section>
      {% include "ratings/grouped_ratings.html" %}
    </section>
    <section>
      {% if addon.can_review(user) %}
        <a class="button" id="add-review" href="{{ url('addons.ratings.add', addon.slug) }}">
          {{ _('Write a New Review') }}</a>
      {% endif %}
    </section>
  </div>
  <div class="primary island hero c" id="reviews" role="main">
    {% block review_list %}
    {% if not reviews.object_list %}
      {% if addon.can_review(user) %}
        <p id="add-first-review"><a href="{{ url('addons.ratings.add', addon.slug) }}">
          {{ _('Be the first to write a review.') }}</a><p>
      {% else %}
        <p id="no-add-first-review">
          {{ _('This add-on has not yet been reviewed.') }}</p>
      {% endif %}
    {% endif %}
    {% for review in reviews.object_list %}
      {% include "ratings/review.html" %}
      {% if review.id in replies %}
        {% with review=replies[review.id] %}
          {% include "ratings/review.html" %}
        {% endwith %}
      {% endif %}
    {% endfor %}
    {{ reviews|impala_paginator }}
    {% endblock review_list %}
    {{ edit_review_form() }}
    {{ edit_review_reply_form() }}
  </div>
  {{ report_review_popup() }}
{% endblock content %}
