{% extends "impala/base_shared.html" %}

{% block title %}The War on Spam{% endblock %}

{% block content %}
<h1>Do these smell like SPAM to you?</h1>

{% set keys = (
  ('matches', 'Needs more Creativity'),
  ('urls', 'HyperLink OverFlow'),
  ('numbers', 'Overwhelmingly Productive'),
) %}

{% set trans = {
  'urls': 'containing urls',
  'numbers': 'creating too many reviews',
  'matches': 'duplicate content',
} %}

{% for key, title in keys %}
  {% if buckets[key] %}
    <div>
      <h3>{{ title }}</h3>
      {% for review in buckets[key] %}
        <form method="post" style="margin-bottom: 2em">
          {{ csrf_input }}
          {% with addon = review.addon %}
            {% include "ratings/review.html" %}
          {% endwith %}
          <p style="margin-bottom: .4em">
            For <a href="{{ review.addon.get_url_path() }}">{{ review.addon.name }}</a>
            &mdash; flagged for {{ trans[key] }}.
          </p>
          <input type="hidden" name="review" value="{{ review.id }}">
          <input type="hidden" name="addon" value="{{ review.addon_id }}">
          <input type="submit" name="del_user" value="Delete User">
          <input type="submit" name="del_review" value="Delete Review">
          <input type="submit" name="ok" value="OK With Me">
        </form>
      {% endfor %}
    </div>
  {% endif %}
{% endfor %}

<p>These are the reasons we're flagging: <code>{{ buckets.keys()|pprint }}</code></p>
{% endblock %}
