{% extends "bandwagon/impala/base_collection.html" %}

{% set url_base = url('i_collections.list') %}
{% set title = filter.title %}

{% block title %}{{ page_title(title) }}{% endblock %}

{% block primary %}
<section class="primary">
  {% if request.GET %}
    {{ impala_breadcrumbs([(url('i_collections.list'), _('Collections')),
                           (None, filter.title)]) }}
    <h1>{{ title }}</h1>
  {% else %}
    {{ impala_breadcrumbs([(None, _('Collections'))]) }}
    <masthead class="hero" id="collections-landing">
      <h1>{{ title }}</h1>
      <p>
        {% trans url=url('collections.add') %}
          Collections are groups of related add-ons that anyone can create and
          share. Explore collections created by other users or
          <a href="{{ url }}">create your own</a>.
        {% endtrans %}
      </p>
    </masthead>
  {% endif %}
  <div class="island hero c listing">
    <a href="{{ feed_url }}" id="subscribe">{{ _('Subscribe') }}</a>
    {{ impala_addon_listing_header(url_base, filter.opts, sorting, filter.extras) }}
    {% if sorting != 'featured' %}
      {{ collections|impala_paginator }}
    {% endif %}
    <div class="items">
      {{ impala_collection_listing_items(collections.object_list, filter.field) }}
    </div>
    {% if sorting != 'featured' %}
      {{ collections|impala_paginator }}
    {% endif %}
  </div>
</section>
{% endblock %}
