{% if grouped_ratings and addon.total_reviews %}
  <div>
    <ul class="grouped_ratings" data-total="{{ addon.total_reviews }}">
    {% for rating, count in grouped_ratings|sort(reverse=True) %}
      {% set pct = ( count|float / addon.total_reviews * 100 )|round( method='floor' ) %}
      <li class="c">{{ rating|stars }}
        <div class="rating_bar" data-num-reviews="{{ count }}">
          <span class="bar" style="width:{{ pct }}%">
            <span class="num_ratings">{{ count }}</span>
          </span>
        </div>
      </li>
    {% endfor %}
    </ul>
  </div>
{% endif %}