<h1 class="site-title">
{% macro heading(app, text, icon) -%}
<a href="{{ url('home') }}" title="{{ _('Return to the {0} Add-ons homepage')|format_html(request.APP.pretty) }}">
  {% if request.APP == amo.FIREFOX %}
  <img alt="{{ APP.pretty }}" src="{{ static('img/icons/firefox.png')|safe }}">
  {% elif request.APP == amo.THUNDERBIRD %}
  <img alt="{{ APP.pretty }}" src="{{ static('img/icons/thunderbird.png')|safe }}">
  {% else %}
  <img alt="{{ APP.pretty }}" src="{{ static('img/app-icons/med/' + icon + '.png')|safe }}">
  {% endif %}
  {{ text }}
</a>
{%- endmacro %}
{% if request.APP == amo.FIREFOX %}
  {{ heading('Firefox', _('Add-ons'), 'firefox') }}
{% elif request.APP == amo.THUNDERBIRD %}
  {{ heading('Thunderbird', _('Add-ons'), 'thunderbird') }}
{% elif request.APP == amo.SEAMONKEY %}
  {{ heading('SeaMonkey', _('Add-ons'), 'seamonkey') }}
{% elif request.APP == amo.ANDROID %}
  {{ heading('Android', _('Android Add-ons'), 'firefox') }}
{% else %}
  {{ heading('', _('Add-ons'), 'generic') }}
{% endif %}
</h1>
