{% set search_url = url('search.search') %}
{% if not search_placeholder and not search_cat %}
  {% set search_placeholder = 'all' %}
{% endif %}
{% set search_form = SimpleSearchForm(request, search_cat) %}
<form id="search" action="{{ search_url }}" data-no-csrf>
  <input id="search-q" type="text" name="q" autocomplete="off" title=""
         class="text {% if not search_form.q.data %}placeholder{% endif %}"
         placeholder="{{ search_form.placeholder(search_placeholder) }}"
         value="{{ query_term|default('') }}">
  {% if search_form.cat.value() %}
    {{ search_form.cat }}
  {% endif %}
  {% if search_cat != 'themes' %}
    {{ search_form.appver }}
    {{ search_form.platform }}
  {% endif %}
  <button class="search-button" type="submit" title="{{ _('Search') }}"
         src="{{ static('img/zamboni/global/btn-search.png') }}"></button>
  <div id="site-search-suggestions"
       data-cat="{{ search_placeholder or search_cat }}"
       data-src="{{ url('search.suggestions') }}"></div>
</form>
