<p>
    <a href="{{ url('files.redirect', selected['id'], selected['short']) }}">
        {{- _('Download {0}').format(selected['filename']) -}}
    </a><br/>
    {% if selected['msg'] %}<b class="error">{{ selected['msg'] }}</b><br/>{% endif %}
    {% trans version=selected['version'], size=selected['size']|filesizeformat(binary=True),
             sha256=selected['sha256'], mimetype=selected['mimetype'] %}
        Version: {{ version }} &bull;
        Size: {{ size }} &bull;
        SHA256 hash: {{ sha256 }} &bull;
        Mimetype: {{ mimetype }}
    {% endtrans %}
</p>
