{% extends "files/base.html" %}
{% block title -%}
    {% if diff %}
        {{ _('File Compare :: Reviewer tools') }}
    {% else %}
        {{ _('File Viewer :: Reviewer tools') }}
    {% endif %}
{% endblock %}

{% block content %}
<div id="metadata" class="js-hidden"
     data-id="{{ addon.id }}"
     data-name="{{ addon.name }}"
     data-slug="{{ addon.slug }}"
     data-version="{{ version }}"
     data-validate-url="{{ validate_url }}"
     {% if validation_data %}data-validation="{{ validation_data|json }}"{% endif %}
     data-validation-failed="{{ _("Validation failed:") }}"></div>

<div class="modal highlighter-output-broken js-hidden">
  <h2>{{ _('File content not supported for syntax highlighting') }}</h2>
  <p>
   {% trans link_start='<a href="https://github.com/mozilla/addons-server/issues/">'|safe, link_end='</a>'|safe %}
    The output can be broken, please be careful and {{ link_start }}report an issue{{ link_end }} immediately!
    {% endtrans %}
  </p>
  <p>
    <a class="close">{{ _('close') }}</a>
  </p>
</div>

<h3>
  <a href="{{ file_link['url'] }}">{{ addon.name }} {{ version }}</a>
  {% if file.platform != amo.PLATFORM_ALL.id %}({{ file.get_platform_display() }}){% endif %}
</h3>
<div id="breadcrumbs-wrapper">
  <form method="POST" id="diff-selector" data-no-csrf>
    {{ form.left }}
    {{ form.right }}
    <input type="submit" value="{{ _('Go') }}">
  </form>
</div>
<div id="file-viewer" class="featured">
  <div class="featured-inner">
    <div id="file-viewer-inner">
      <div id="messages">
        {% if not status %}
          <p class="waiting" id="extracting" data-url="{{ poll_url }}">
            {{ _('Add-on file being processed, please wait.') }}
          </p>
        {% endif %}
        <div id="validating" class="js-hidden">
          <span class="waiting">{{ _('Fetching validation results...') }}</span>
        </div>
      </div>
      <div id="files">
        <div id="files-inner">
          {% if files %}
            <div id="files-wrapper">
              <div id="files-tree">
                <h4>{{ _('Files:') }}</h4>
                {{ file_tree(files, key) }}
                {% if diff and files_deleted %}
                  <h4>{{ _('Deleted files:') }}</h4>
                  {{ file_tree(files_deleted, key) }}
                {% endif %}
              </div>
            </div>
            <div id="controls">
              <div id="controls-inner">
                <div id="toggle-known-container">
                  <input type="checkbox" id="toggle-known"/>
                  <label for="toggle-known">{{ _('Hide known files') }}</label>
                </div>
                <div id="jetpack-version" class="js-hidden">
                  <label>{{ _('Add-on SDK Version:') }}</label>
                  <span></span>
                </div>
                <div id="tab-stops-container">
                  <label class="control" for="tab-stops">{{ _('Tab stops:') }}</label>
                  <input id="tab-stops" type="number" size="1" />
                </div>

                <table id="commands">
                  <tr id="files-up">
                    <th><code title="{{ _('Up file') }}">k</code></th>
                    <td><a href="#" class="command">{{ _('Up file') }}</a></td>
                  </tr>

                  <tr id="files-down">
                    <th><code title="{{ _('Down file') }}">j</code></th>
                    <td><a href="#" class="command">{{ _('Down file') }}</a></td>
                  </tr>

                  <tr id="files-change-prev">
                    {% if diff %}
                      <th><code title="{{ _('Previous diff') }}">p</code></th>
                      <td><a href="#" class="command">{{ _('Previous diff') }}</a></td>
                    {% else %}
                      <th><code title="{{ _('Previous note') }}">p</code></th>
                      <td><a href="#" class="command">{{ _('Previous note') }}</a></td>
                    {% endif %}
                  </tr>

                  <tr id="files-change-next">
                    {% if diff %}
                      <th><code title="{{ _('Next diff') }}">n</code></th>
                      <td><a href="#" class="command">{{ _('Next diff') }}</a></td>
                    {% else %}
                      <th><code title="{{ _('Next note') }}">n</code></th>
                      <td><a href="#" class="command">{{ _('Next note') }}</a></td>
                    {% endif %}
                  </tr>

                  <tr id="files-expand-all">
                    <th><code title="{{ _('Expand all') }}">e</code></th>
                    <td><a href="#" class="command">{{ _('Expand all') }}</a></td>
                  </tr>

                  <tr id="files-hide">
                    <th><code title="{{ _('Hide or unhide tree') }}">h</code></th>
                    <td><a href="#" class="command">{{ _('Hide or unhide tree') }}</a></td>
                  </tr>

                  <tr id="files-wrap">
                    <th><code title="{{ _('Wrap or unwrap text') }}">w</code></th>
                    <td><a href="#" class="command">{{ _('Wrap or unwrap text') }}</a></td>
                  </tr>

                  <tr><th></th> <td><a href="{{ file_link['url'] }}" class="command">{{ file_link['text'] }}</a></td></tr>
                </table>
              </div>
            </div>
          {% elif not files and status %}
            <div>{{ _('No files in the uploaded file.') }}</div>
          {% endif %}
        </div>
      </div>
      <div id="thinking" class="js-hidden">
        <p class="waiting">
        {{ _('Fetching file.') }}
        </p>
      </div>
      {% include "files/content.html" %}
    </div>
  </div>
</div>

{% endblock %}
