{% extends "impala/base_shared.html" %}

{% block title %}
  {{ page_title(_('Add-on Compatibility Reporter')) }}
{% endblock %}

{% block extrahead %}
  <style>
    p {
      margin-bottom: 1em;
    }
    .numbered li::-moz-list-number {
      font-size: 2em;
      border: 1px solid black;
    }
    #message {
      padding-left: 250px;
      background: url(/media/img/illustrations/addons-robot.png) no-repeat left 30%;
    }
  </style>
{% endblock %}

{% block content %}
  <section id="message" class="copy prose">
    <h1>{{ _('Add-on Compatibility Reporter has been installed') }}</h1>

    <p>
      {% trans %}
        It’s easy to help us make sure add-ons are updated in time for the
        release of the next version of Firefox.
      {% endtrans %}
    </p>

    <h2>
      {{ _('Here’s how to get started reporting add-on compatibility:') }}
    </h2>

    <ol class="numbered">
      <li>
        {% trans %}
          As you start browsing and using your add-ons, take careful note
          of anything that seems different from when you last used the
          extension. This might be a display glitch, such as a menu item
          missing, or something more serious, like the add-on not working
          at all or showing errors.
        {% endtrans %}
      </li>
      <li>
        {% trans %}
          Once you know whether a particular add-on works properly or has
          problems, open the Add-ons Manager and click Compatibility next
          to the add-on to let Mozilla know what you found in your testing.
          Submitting a report will help us tell the add-on developer
          whether their add-on is working properly in this version or might
          need some fixes.
        {% endtrans %}
      </li>
    </ol>

    <p>
      {% trans url='https://forums.addons.mozilla.org/' %}
        If you upgrade to a new version of Firefox or update your add-ons,
        your reports for the old versions will be hidden to allow you to test
        the new version. If you have any questions, please ask in
        <a href="{{ url }}">our forums</a>.
      {% endtrans %}
    </p>
    <p>
      {% trans %}
        Thousands of add-ons are made by our community every year, and your
        assistance with compatibility testing helps us make sure these add-ons
        stay useful as we strive to provide a great user experience.
      {% endtrans %}
    </p>
    <h2>{{ _('Thank you!') }}</h2>
  </section>
{% endblock %}
