{% set collection = promo.collection %}
<li class="panel">
  <div id="{{ promo.id }}" class="feature collection {{ promo.cls }}">
    <hgroup>
      <h2>{{ promo.title }}</h2>
      {% if promo.subtitle %}
        <h3>{{ promo.subtitle }}</h3>
      {% endif %}
    </hgroup>
    <ul class="addons">
      {% for addon in addons %}
        <li{% if addon.type == amo.ADDON_PERSONA %} class="persona-feature"{% endif %}>
          <a href="{{ services_url('discovery.addons.detail', addon.slug,
                                   src='discovery-promo') }}" target="_self">
            {% if addon.type == amo.ADDON_PERSONA %}
              <h3>{{ addon.name }}</h3>
              {{ disco_persona_preview(addon.persona, linked=False) }}
            {% else %}
              <img src="{{ addon.icon_url }}" width="32" height="32">
              <h3>{{ addon.name }}</h3>
              <p class="desc">{{ descriptions.get(addon.id, addon.summary|strip_html) }}</p>
            {% endif %}
          </a>
        </li>
      {% endfor %}
    </ul>
    <p class="more">
    {% trans name=collection.name,
             url=collection.get_url_path()|urlparams(src='discovery-promo') %}
    Find more add-ons in the <a href="{{ url }}">{{ name }}</a> collection.
    {% endtrans %}</p>
  </div>
</li>
