<li class="panel">
  <div class="feature collection {{ cls }}">
  <h2>{{ title }}</h2>
    <ul class="addons">
      {% for addon in addons %}
        <li>
          <a href="{{ addon.get_url_path()|urlparams(src='discovery-pane') }}">
            <img src="{{ addon.icon_url }}" width="32" height="32">
            <h3>{{ addon.name }}</h3>
            <p class="desc">{{ addon.summary.localized_string|strip_html }}</p>
          </a>
        </li>
      {% endfor %}
    </ul>
    <p class="more">{% trans name=collection.name, url=collection.get_url_path() %}
    Find more add-ons in the <a href="{{ url }}">{{ name }}</a> collection.
    {% endtrans %}</p>
  </div>
</li>
