<li class="panel">
  <div id="contest-winners">
    <ul class="pages">
      <li class="page">
        <div id="caroline" class="contest-winner feature promo">
          <a href="{{ url('addons.detail', 'firebug')|urlparams(src='hp-contest-winners') }}" target="_blank"><span></span></a>
        </div>
      </li><li class="page">
        <div id="jason" class="contest-winner feature promo">
          <a href="{{ url('addons.detail', 'downthemall')|urlparams(src='hp-contest-winners') }}" target="_blank"><span></span></a>
        </div>
      </li><li class="page">
        <div id="josh" class="contest-winner feature promo">
          <a href="{{ url('addons.detail', 'lastpass-password-manager')|urlparams(src='hp-contest-winners') }}" target="_blank"><span></span></a>
        </div>
      </li>
    </ul>
    <nav class="pager">
      <a href="#" class="dot selected"></a>
      <a href="#" class="dot"></a>
      <a href="#" class="dot"></a>
    </nav>
  </div>
</li>
