{%- if pick -%}
<li class="panel">
  <div id="monthly" class="feature promo">
    <hgroup>
      <h2>{{ _("Mozilla&rsquo;s Pick of the Month!")|safe }}</h2>
    </hgroup>
    <div class="wrap">
      <div>
        <img src="{{ pick.image }}">
        {% set addon = pick.addon %}
        <h3>{{ addon.name }}</h3>
        <div>
          <p>{{ pick.blurb }}</p>
          {% if module_context == 'discovery' %}
            {{ install_button(addon, src='discovery-promo') }}
          {% else %}
            {{ install_button(addon, src='hp-btn-promo', impala=True) }}
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</li>
{%- endif -%}
