<li class="panel">
  <div id="monthly" class="feature">
    <h2>{{ _("Mozilla&rsquo;s Pick of the Month!")|safe }}</h2>
    <div>
      <h3>{{ addon.name }}</h3>
      <div>
        <p>{% trans %}
        Copy ShortURL lets you instantly create a short URL for web pages
        that you visit, so you can easily share links with friends.
        {% endtrans %}</p>
        {{ install_button(addon, src='discovery-promo') }}
        {# TODO: this will break if the add-on changes screenshots. #}
      </div>
      <img src="{{ addon.all_previews[1].image_url }}">
    </div>
  </div>
</li>
