{% extends 'developers/skeleton_impala.html' %}

{% block title %}{{ _('Lookup Tool') }}{% endblock %}

{% block bodyclass %}account-lookup{% endblock %}

{% block masthead %}
<h1 id="masthead" class="site-title prominent">
  <a href="{{ url('lookup.home') }}">
    {% trans %}
      <small>Marketplace</small> Lookup Tool
    {% endtrans %}
  </a>
</h1>
{% endblock %}

{% block extrahead %}
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
  {{ css('mkt/lookup') }}
{% endblock %}

{% block site_header_title %}
{% endblock %}

{% block js %}
  <span class="hidden lookup-meta"
        data-search-limit="{{ mkt.constants.lookup.SEARCH_LIMIT }}"
        data-max-results="{{ mkt.constants.lookup.MAX_RESULTS }}">
  {{ js('mkt/lookup') }}
{% endblock %}

{# Hiding these for the Marketplace Editor Tools until consumer pages are done. #}
{% block header_search %}{{ super() if not settings.MARKETPLACE }}{% endblock %}
{% block footer %}{{ super() if not settings.MARKETPLACE }}{% endblock %}
