{% extends 'lookup/base.html' %}

{% block breadcrumbs %}
{% endblock %}

{% block content %}
  {% include 'lookup/includes/transaction_search.html' %}

  <section class="island c">
    <h1>
      {% trans tx_url = url('lookup.transaction_summary', uuid) %}
        Transaction Lookup results for <a href="{{ tx_url }}">Transaction {{ uuid }}</a>
      {% endtrans %}
    </h1>

    {% if contrib %}
      <section id="prose">
        <dl>
          <dt>{{ _('Transaction ID') }}</dt><dd>{{ contrib.uuid }}</dd>
          <dt>{{ _('Date') }}</dt><dd>{{ contrib.created|datetime('%B %e, %Y %H:%M:%S') }}</dd>
          <dt>{{ _('Type') }}</dt><dd>{{ type }}</dd>
          <dt>{{ _('Buyer') }}</dt>
          <dd>
            <div>{{ emaillink(contrib.user.email) }}</div>
          </dd>
          <dt>{{ _('App') }}</dt>
          <dd>
            <a href="{{ app.get_detail_url() }}">{{ app.name }}</a>
          </dd>
          <dt>{{ _('Price Tier') }}</dt><dd>{{ contrib.price_tier }}</dd>
          {% if related %}
            <dt>{{ _('Related Transaction') }}</dt>
            <dd>
              <a href="{{ url('lookup.transaction_summary', related.uuid) }}">
                {{ related.uuid }}
              </a>
            </dd>
          {% endif %}
        </dl>
      </section>
    {% else %}
      {{ no_results() }}
    {% endif %}

    <div class="refund-transaction c">
      <dl>
        <dt>{{ _('Refund Status') }}</dt>
        <dd>{{ refund_status or _('Unrequested') }}</dd>
      </dl>
      {% if action_allowed('Transaction', 'Refund') and is_refundable %}
        <form method="post"
              action="{{ url('lookup.transaction_refund', uuid) }}">
          {{ csrf() }}
          {{ tx_refund_form }}
          <button>{{ _('Refund this transaction') }}</button>
        </form>
      {% endif %}
    </div>

{% endblock %}
