{% extends 'lookup/base.html' %}

{% block breadcrumbs %}
{% endblock %}

{% block content %}
  {% include 'lookup/includes/transaction_search.html' %}

  <section class="island c">
    <h1>
      {% trans tx_url = url('lookup.transaction_summary', uuid) %}
        Transaction Lookup results for <a href="{{ tx_url }}">Transaction {{ uuid }}</a>
      {% endtrans %}
    </h1>

    {% if tx %}
      <section id="prose">
        <dl>
          <dt>{{ _('Transaction ID') }}</dt>
          <dd>{{ uuid }}</dd>
          <dt>{{ _('Date') }}</dt>
          <dd>{{ tx.date }}</dd>
          {% if tx.buyer %}
            <dt>{{ _('Buyer') }}</dt>
            <dd>{{ tx.buyer|user_link }}</dd>
          {% endif %}
          {% if tx.seller %}
            <dt>{{ _('Seller') }}</dt>
            <dd>{{ tx.seller|user_link }}</dd>
          {% endif %}
          <dt>{{ _('Amount') }}</dt>
          <dd>{{ tx.amount|numberfmt }}</dd>
        </dl>
      </section>
    {% else %}
      {{ no_results() }}
    {% endif %}

    {% if action_allowed('Transaction', 'Refund') %}
      <form class="refund-transaction c" method="post"
            action="{{ url('lookup.transaction_refund', uuid) }}">
        {{ csrf() }}
        {{ tx_refund_form }}
        <button>{{ _('Refund this transaction') }}</button>
      </form>
    {% endif %}

{% endblock %}
