{% extends 'lookup/base.html' %}

{% block breadcrumbs %}
{% endblock %}

{% block content %}
  {% include 'lookup/includes/user_search.html' %}

  <section class="island c">
    {{ user_header(account, _('Account Lookup results for'), is_admin) }}

    <section id="prose">
      <h2>{{ _('General') }}</h2>
      <dl>
        <dt>{{ _('Display Name') }}</dt>
        <dd>{{ account.display_name }}</dd>
        <dt>{{ _('Username') }}</dt>
        <dd>{{ account.username }}</dd>
        <dt>{{ _('Email') }}</dt>
        <dd>{{ account.email }}</dd>
        <dt>{{ _('Registered') }}</dt>
        <dd>{{ account.created|babel_datetime }}</dd>
        <dt>UGC</dt>
        <dd>?</dd>
        <dt>{{ _('Groups') }}</dt>
        <dd>
        {% for group in account.groups.all() %}
          <div>{{ group }}</div>
        {% endfor %}
        </dd>
      </dl>
    </section>

    <section id="payment-info">
      <h2>{{ _('Payments') }}</h2>
      <dl>
        <dt>{{ _('PayPal linked') }}:</dt>
        <dd class="pretty-list">
          {% for email in paypal_ids %}
            <div>{{ email }}</div>
          {% else %}
            <div>{{ _('None') }}</div>
          {% endfor %}
        </dd>
        <dt>{{ _('Marketplace Credit') }}:</dt>
        <dd>TODO</dd>
        <dt>{{ _('Payments') }}:</dt>
        <dd>{{ _('apps purchased') }}: {{ app_summary['app_total'] }}
                            {{ app_summary['app_amount']|format_currencies }}</dd>
        <dd>{{ _('in-app payments') }}: {{ app_summary['inapp_total'] }}
                            {{ app_summary['inapp_amount']|format_currencies }}</dd>
        <dt>{{ _('Refunds') }}:</dt>
        <dd>{{ refund_summary['requested'] }} {{ _('requested' ) }}</dd>
        <dd>{{ refund_summary['approved'] }} {{ _('auto-approved') }}</dd>
        {% if portal_url and waffle.switch('bango-portal') %}
          <dt>{{ _('Bango portal') }}:</dt>
          <dd><a href="{{ portal_url }}">View transactions</a></dd>
        {% endif %}
      </dl>
    </section>

    <section id="developer-info">
      <h2>{{ _('Developer Program') }}</h2>
      <dl>
        <dt>{{ _('Read agreement') }}:</dt>
        <dd>
          {% if account.read_dev_agreement %}
            {{ account.read_dev_agreement|datetime }}
          {% else %}
            {{ _('No') }}
          {% endif %}
        </dd>
        <dt>{{ _('Addresses') }}:</dt>
        <dd>
          <div class="info-box">
          {% for pd in payment_data %}
            <p>{{ pd.full_name }}</p>
            {% if pd.business_name %}
              <p>{{ pd.business_name }}</p>
            {% endif %}
            <p>{{ pd.address_one }}</p>
            {% if pd.address_two %}
              <p>{{ pd.address_two }}</p>
            {% endif %}
            <p>{{ pd.city }}, {{ pd.state }} {{ pd.post_code }}</p>
            <p>{{ pd.country }}</p>
          {% else %}
            {{ _('None') }}
          {% endfor %}
          </div>
        </dd>
        <dt>{{ _('Submissions') }}:</dt>
        <dd class="product-lookup-list">
          {% for addon in user_addons %}
          <div><a href="{{ addon.get_url_path() }}">
                  {% if addon.name %}
                    {{ addon.name }}
                  {% else %}
                    {{ _('Unnamed') }}
                  {% endif %}
               </a>
                ({{ amo.ADDON_TYPE[addon.type] }})</div>
          {% endfor %}
        </dd>
      </dl>
      {{ user_addons|impala_paginator }}
    </section>

    <section id="delete-user">
      <h2>{{ _('Delete User') }}</h2>
      {% if not account.deleted %}
        <p>
          {% trans %}
            Deleting this user will <strong>permanently</strong> delete this
            user's account.
          {% endtrans %}
        </p>
        <button class="open-delete-modal manage">{{ _('Delete User') }}</button>
        <div class="modal modal-delete modal-hidden">
          <form method="post" action="{{ url('lookup.user_delete', account.id) }}">
            {{ csrf() }}
            <h3>{{ _('Delete User') }}</h3>
            <p class="warning">{{ _('Are you sure you wish to delete this user?') }}</p>
            <p>{{ delete_form }}</p>
            <p class="listing-footer c">
              <button class="bad delete-button" type="submit">{{ _('Delete User') }}</button>
              <a href="#" class="close cancel button">{{ _('Cancel') }}</a>
            </p>
          </form>
          <a class="close">{{ _('Cancel') }}</a>
        </div>
      {% else %}
        <p class="error">{{ _('This user has already been deleted.') }}</p>
        <dl>
          <dt>{{ _('Deleted by') }}</dt>
          <dd>{{ emaillink(delete_log.user.email, delete_log.user.username) }}</dd>
          {% if delete_log.details.reason %}
            <dt>{{ _('Reason') }}</dt>
            <dd>{{ delete_log.details.reason }}</dd>
          {% endif %}
        </dl>
      {% endif %}
    </section>

  </section>
{% endblock %}
