{% extends 'lookup/base.html' %}

{% block breadcrumbs %}
{% endblock %}

{% block content %}
  {% include 'lookup/includes/user_search.html' %}

  <section class="island c">
    {{ user_header(account, _('Account Activity results for'), is_admin,
                   'activity') }}

    <section id="activity-info">
      <h2>{{ _('Account Updates') }}</h2>
      <ol class="simple-log">
        {% for item in user_items %}
        <li class="item">
          <p>
            <span class="action {{ log_action_class(item.action) }}"></span>
            {{ item }}
          </p>
          <p class="timestamp">
          {% trans user=item.user, ago=item.created|timesince,
                   iso=item.created|isotime,
                   pretty=item.created|babel_datetime %}
          <time datetime="{{ iso }}" title="{{ pretty }}">{{ ago }}</time>
          by {{ user }}
          {% endtrans %}
          </p>
        </li>
        {% endfor %}
      </ol>
      {# Show this if the account belongs to an admin/reviewer #}
      <h2>{{ _('Administrative Actions') }}</h2>
      <ol class="simple-log">
        {% for item in admin_items %}
        <li class="item">
          <p>
            <span class="action {{ log_action_class(item.action) }}"></span>
            {{ item }}
          </p>
          <p class="timestamp">
          {% trans user=item.user, ago=item.created|timesince,
                   iso=item.created|isotime,
                   pretty=item.created|babel_datetime %}
          <time datetime="{{ iso }}" title="{{ pretty }}">{{ ago }}</time>
          by {{ user }}
          {% endtrans %}
          </p>
        </li>
        {% endfor %}
      </ol>
      {% if collections %}
      <h2>{{ _('Collections Created') }}</h2>
      <ul class="product-lookup-list">
      {% for collection in collections %}
        <li>
          {# TODO: fix get_url_path() #}
          <a href="#{# collection.get_url_path() #}">
            {{ collection.name }}
          </a>
        </li>
      {% endfor %}
      </ul>
      {% endif %}
    </section>
  </section>
{% endblock %}
