{% extends 'developers/base_impala.html' %}

{% set range = view.range %}

{% block bodyclass %}developer-hub statistics{% endblock %}

{% block extrahead %}
  {{ css('mkt/stats') }}
  <link rel="stylesheet"
        href="{{ media('css/zamboni/jquery-ui/custom-1.7.2.css') }}">
{% endblock %}

{% block paypal_js %}{% endblock %}

{% block content %}
<section id="stats">
  <header class="c">
    <hgroup class="c">
      <h1 class="addon">
        {{ _('Apps Statistics Dashboard') }}
      </h1>

      {# In-app dropdown selector #}
      {% if inapps and check_contrib_stats_perms(addon) %}
        <form class="product-select" method="get">
          <select class="product">
            <option value="{{ addon.get_stats_url(action=report) }}">{{ addon.name }}</option>
            {% for inapp_name in inapps %}
              <option
                  {% if inapp_name == inapp %}
                    selected="selected"
                  {% endif %}
                  value="{{ addon.get_stats_inapp_url(
                         action=report, inapp=inapp_name) }}">
                {{ inapp_name }}
              </option>
            {% endfor %}
          </select>
          <noscript><button type="submit">{{ _('Go') }}</button></noscript>
        </form>
      {% endif %}
    </hgroup>

    {% include 'devstats/includes/criteria.html' %}

  </header>

  {% include 'devstats/includes/stats_nav.html' %}

  <div id="lm" class="loadmessage">
    <span>{{ _('Loading the latest data&hellip;') }}</span>
  </div>
  {# Initial stats will be `installs` only. Uncomment when others are done.
  <div class="secondary">
    {{ report_menu(request, report, obj=addon) }}
    {% block stats_note_link %}{% endblock %}
    <pre id="dbgout"></pre>
  </div>
  #}
  <div class="primary statistics"
    data-report="{{ report }}"
    {% if view.last %}
    data-range="{{ view.last }}"
    {% endif %}
    {% if view.start and view.end %}
    data-range="custom"
    data-start_date="{{ view.start }}"
    data-end_date="{{ view.end }}"
    {% endif %}
    data-base_url="{{ stats_base_url }}">
    <div class="island chart">
      <div id="head-chart">
      </div>
      <div class="no-data-overlay">
        <p>{{ _('No data available.') }}</p>
      </div>
    </div>
    {% block stats %}
    {% endblock %}

    {# Dev stats will not show a paginated table - just the export links. #}
    {% block csvtable %}
      <div class="stats-export">
        {% block csvtitle %}{% endblock %}
      </div>
    {% endblock %}

    <div class="hidden">
      <div id="fieldMenuPopup" class="popup">
        <form id="fieldMenu">
          <ul id="fieldList">
          </ul>
        </form>
      </div>
    </div>
  </div>
  <div id="popup-container">
    <div class="modal" id="stats-note">
      <a class="close">{{ _('close') }}</a>
      {% block stats_note %}{% endblock %}
    </div>
    {% include 'stats/popup.html' %}
  </div>
</section>
{% endblock %}

{% block js %}
  <!--[if IE]>
    <script
      src="{{ media('js/lib/excanvas.compiled.js') }}">
    </script>
  <![endif]-->
  {{ js('mkt/stats') }}
{% endblock %}
