{% from "includes/forms.html" import pretty_field, tip %}
{% from "devhub/includes/macros.html" import some_html_tip %}
{% extends "developers/base_impala.html" %}

{% set title = _('Submit Theme') %}
{% block title %}{{ page_title(title) }}{% endblock %}

{% block content%}
  {{ hub_breadcrumbs(items=[(None, _('Submit Theme'))]) }}
  <h1>{{ _('Submit a Theme') }}</h1>
  <section id="submit-details" class="primary">
    <div id="submit-persona">
    <h3>{{ _('Listing Information') }}</h3>
    <form action="" method="post" class="devhub-form submit-media"
          id="submit-media" enctype="multipart/form-data">
      {{ csrf() }}
      <header id="general-details" class="island swagger c">
        <table>
          <tr{% if form.name.errors %} class="error"{% endif %}>
            <th>
              <label for="{{ form.name.auto_id }}">
                {{ _('Theme Name') }}
              </label>
            </th>
            <td>
              {{ form.name }}
              {{ form.name.errors }}
            </td>
          </tr>
          <tr{% if form.slug.errors %} class="error"{% endif %}>
            <th>
              <label for="{{ form.slug.auto_id }}">
                {{ _('Theme URL') }}
              </label>
              {{ tip(None, _('Select a unique URL for your detail page. '
                             'By default we use your Theme name to create '
                             'this URL.')) }}
            </th>
            <td>
              <div class="edit_with_prefix c">
                <span>{{ settings.SITE_URL }}/&hellip;/</span>{{ form.slug }}
              </div>
              {{ form.slug.errors }}
            </td>
          </tr>
        </table>
      </header>

      <div id="addon-categories-edit">
        <div class="addon-app-cats">
          {{ form_field(form.category) }}
        </div>
      </div>

      {{ form_field(form.summary, opt=True, hint=True,
                    cc_startswith=form.summary.auto_id,
                    cc_maxlength=form.summary.field.max_length) }}

      <div class="brform simple-field c">
        <h3>{{ _('Theme License') }}</h3>
        <div id="cc-chooser"{% if form.license.value() %} class="hidden"{% endif %}>
          {{ form.license }}
          {{ form.license.errors }}
          <span class="license-part">{{ _("Can others share your Theme, as long as you're given credit?") }}</span>
          <ul class="radios">
            <li>
              <label>
                <input type="radio" name="cc-attrib" value="0">
                {{ _('Yes') }}
                {{ tip(None, _('The licensor permits others to copy, distribute, '
                               'display, and perform the work, including for '
                               'commercial purposes.')) }}
              </label>
            </li>
            <li>
              <label>
                <input type="radio" name="cc-attrib" value="1">
                {{ _('No') }}
                {{ tip(None, _('The licensor permits others to copy, distribute, '
                               'display, and perform the work for non-commercial '
                               'purposes only.')) }}
              </label>
            </li>
          </ul>
          <span class="license-part">{{ _('Can others make commercial use of your Theme?') }}</span>
          <ul class="radios">
            <li>
              <label>
                <input type="radio" name="cc-noncom" value="0">
                {{ _('Yes') }}
                {{ tip(None, _('The licensor permits others to copy, distribute, '
                               'display, and perform the work, including for '
                               'commercial purposes.')) }}
              </label>
            </li>
            <li>
              <label>
                <input type="radio" name="cc-noncom" value="1">
                {{ _('No') }}
                {{ tip(None, _('The licensor permits others to copy, distribute, '
                               'display, and perform the work for non-commercial '
                               'purposes only.')) }}
              </label>
            </li>
          </ul>
          <span class="license-part">{{ _('Can others create derivative works from your Theme?') }}</span>
          <ul class="radios">
            <li>
              <label>
                <input type="radio" name="cc-noderiv" value="0">
                {{ _('Yes') }}
                {{ tip(None, _('The licensor permits others to copy, distribute, '
                               'display and perform the work, as well as make '
                               'derivative works based on it.')) }}
              </label>
            </li>
            <li>
              <label>
                <input type="radio" name="cc-noderiv" value="1">
                {{ _('Yes, as long as they share alike') }}
                {{ tip(None, _('The licensor permits others to distribute derivative'
                               'works only under the same license or one compatible '
                               "with the one that governs the licensor's work.")) }}
              </label>
            </li>
            <li>
              <label>
                <input type="radio" name="cc-noderiv" value="2">
                {{ _('No') }}
                {{ tip(None, _('The licensor permits others to copy, distribute and '
                               'transmit only unaltered copies of the work — not '
                               'derivative works based on it.')) }}
              </label>
            </li>
          </ul>
          <div id="persona-license">
            <p>{{ _('Your Theme will be released under the following license:') }}</p>
            <p id="cc-license" class="license icon"></p>
            <p class="select-license">
              <a href="#">{{ _('Select a different license.') }}</a>
            </p>
          </div>
        </div>
        <div id="persona-license-list"{% if not form.license.value() %} class="hidden"{% endif %}>
          <ul class="radios">
            {% for license in amo.PERSONA_LICENSES %}
              <li><label><input type="radio" name="license" value="{{ license.id }}">
                {{ license.name }}</label></li>
            {% endfor %}
          </ul>
        </div>
      </div>

      <div id="persona-design">
        <h3>{{ _('Theme Upload') }}</h3>
        <ul>
          <li id="persona-header" class="row">
            {{ pretty_field(form.header, label=_('Select a header image for your Theme.'),
                            tag=None, req=True) }}
            {{ form.header_hash }}
            {{ form.header_hash.errors }}
            <ul class="note">
              <li>{{ _('3000 &times; 200 pixels') }}</li>
              <li>{{ _('300 KB max') }}</li>
              <li>{{ _('PNG or JPG') }}</li>
              <li>{{ _('Aligned to top-right') }}</li>
            </ul>
            <ul class="errorlist"></ul>
            <img class="preview">
            <a href="#" class="reset">
              {{ _('Select a different header image') }}</a>
          </li>
          <li id="persona-footer" class="row">
            {{ pretty_field(form.footer, label=_('Select a footer image for your Theme.'),
                            tag=None, req=True) }}
            {{ form.footer_hash }}
            {{ form.footer_hash.errors }}
            <ul class="note">
              <li>{{ _('3000 &times; 100 pixels') }}</li>
              <li>{{ _('300 KB max') }}</li>
              <li>{{ _('PNG or JPG') }}</li>
              <li>{{ _('Aligned to bottom-left') }}</li>
            </ul>
            <ul class="errorlist"></ul>
            <img class="preview">
            <a href="#" class="reset">
              {{ _('Select a different footer image') }}</a>
          </li>
        </ul>
        <h3>{{ _('Theme Colors') }}</h3>
        <ul class="colors">
          {{ pretty_field(form.textcolor, label=_('Foreground Text'),
                          tooltip=_('This is the color of the tab text.')) }}
          {{ pretty_field(form.accentcolor, label=_('Background'),
                          tooltip=_('This is the color of the tabs.')) }}
        </ul>
      </div>
      <div id="persona-preview">
        <h3>{{ _('Theme Preview') }}</h3>
        <div class="persona persona-large persona-preview">
          <div class="persona-viewer" data-browsertheme>
            <div class="details">
              <span class="title" id="persona-preview-name">
                {{ _("Your Theme's Name") }}</span>
              <span class="author">
                {% trans user=amo_user.username,
                         profile_url=url('users.profile', amo_user.id) %}
                  by <a href="{{ profile_url }}" target="_blank">{{ user }}</a>
                {% endtrans %}
              </span>
            </div>
          </div>
        </div>
      </div>
      <button class="prominent">{{ _('Submit Theme') }}</button>
    </form>
  </div>
  </section>
{% endblock %}
