version: 2
updates:
- package-ecosystem: pip
  directory: "/requirements"
  schedule:
    interval: daily
  open-pull-requests-limit: 99
  ignore:
  - dependency-name: django
    versions:
    - ">= 4"
  - dependency-name: billiard
    versions:
    - ">= 4"
  - dependency-name: celery
    versions:
    - ">= 6"
  - dependency-name: elasticsearch
    versions:
    - ">= 8"
  - dependency-name: elasticsearch-dsl
    versions:
    - ">= 8"
  - dependency-name: kombu
    versions:
    - ">= 6"
  - dependency-name: vine
    versions:
    - ">= 6"
  - dependency-name: idna
    versions:
    - ">= 3"
  - dependency-name: amqp
    versions:
    - ">= 6"
  - dependency-name: click
    versions:
    - ">= 9"
  - dependency-name: google-cloud-bigquery
    versions:
    - ">= 3.0.0"
  - dependency-name: protobuf
    versions:
    - ">= 4.0.0"
