{% extends 'reviewers/base.html' %}

{% import 'reviewers/themes/macros.html' as macros %}

{% block extrahead %}
  {{ css('zamboni/themes_review') }}
{% endblock %}

{% block queue_menu %}
  {{ macros.dropdown_menu('queues', _('Queues'), queue_tabnav_themes(),
                          'queue' in request.path) }}
{% endblock %}

{% block log_menu %}
  {{ macros.dropdown_menu('logs', _('Logs'), logs_tabnav_themes(),
                          'logs' in request.path) }}
{% endblock %}

{% block navbar %}
  <div id="navbar">
    <ul class="top">
      <li class="top">
        <a href="{{ url('reviewers.themes.list') }}" class="controller">
          {{ _('Queues') }}</a>
        <ul>
          {% for url_name, tab, name in queue_tabnav_themes() %}
            <li><a href="{{ url(url_name) }}">
              {{ name }}
            </a></li>
          {% endfor %}
        </ul>
      </li>
      <li class="top">
        <a href="{{ url('reviewers.themes.logs') }}" class="controller">{{ _('Logs') }}</a>
        <ul>
          {% for url_name, tab, name in logs_tabnav_themes() %}
            <li><a href="{{ url(url_name) }}">
              {{ name }}
            </a></li>
          {% endfor %}
        </ul>
      </li>
    </ul>
  </div>
{% endblock %}
