{% extends 'reviewers/themes/base.html' %}

{% block extrahead %}
  {{ css('zamboni/themes_review') }}
{% endblock %}

{% block content %}
  <section id="reviewers-score-bar" class="island full c">
    {{ reviewers_score_bar(addon_type=amo.ADDON_PERSONA) }}
  </section>

  <section>
    <div class="featured" id="reviewers-stats-charts">
      <div class="listing-header c">
        <div class="reviewer-stats-title">
          <a href="{{ url('reviewers.themes.list') }}">
            {{ ngettext('{num} Pending Theme Review',
                        '{num} Pending Theme Reviews',
                        queue_counts['themes'])|format_html(num=queue_counts['themes']) }}
          </a>
        </div>
        {% if action_allowed(amo.permissions.THEME_ADMIN_TOOLS_VIEW) %}
          <div class="reviewer-stats-title">
            <a href="{{ url('reviewers.themes.list_flagged') }}">
              {{ ngettext('{num} Flagged Review',
                          '{num} Flagged Reviews',
                          queue_counts['flagged_themes'])|format_html(num=queue_counts['flagged_themes']) }}
            </a>
          </div>
          <div class="reviewer-stats-title">
            <a href="{{ url('reviewers.themes.list_rereview') }}">
              {{ ngettext('{num} Update',
                          '{num} Updates',
                          queue_counts['rereview_themes'])|format_html(num=queue_counts['rereview_themes']) }}
            </a>
          </div>
        {% endif %}
        <div class="reviewer-stats">
          {% if action_allowed(amo.permissions.THEME_ADMIN_TOOLS_VIEW) %}
            {% set queue_types = ['pending_themes', 'flagged_themes', 'rereview_themes'] %}
          {% else %}
            {% set queue_types = ['pending_themes'] %}
          {% endif %}
        </div>
      </div>
    </div>
  </section>

  <section class="c">
    <div class="featured" id="reviewers-stats">
      <div class="listing-header c">
        <div class="reviewer-stats-title"><span>{{ _('Total Reviews') }}</span></div>
        <div class="reviewer-stats-title"><span>{{ _('Reviews This Month') }}</span></div>
      </div>
      <div class="reviewer-stats">
        <div class="reviewer-stats-table">
          <div>
            <table>
              {% for row in reviews_total %}
                <tr>
                  <td>{{ row.user__display_name|d(row.user__username, true) }}</td>
                  <td class="int">{{ row['approval_count']|numberfmt }}</td>
                </tr>
              {% endfor %}
            </table>
          </div>
        </div>
        <div class="reviewer-stats-table">
          <div>
            <table>
              {% for row in reviews_monthly %}
                <tr>
                  <td>{{ row.user__display_name|d(row.user__username, true) }}</td>
                  <td class="int">{{ row['approval_count']|numberfmt }}</td>
                </tr>
              {% endfor %}
            </table>
          </div>
        </div>
      </div>
    </div>
  </section>

{% endblock %}
