{% extends "reviewers/themes/base.html" %}

{% if flagged %}
  {% set title_text = _('Flagged Themes') %}
{% else %}
  {% set title_text = _('Theme Review Queue') %}
{% endif %}

{% block title %}
  {{ reviewer_page_title(title_text) }}
{% endblock %}

{% block extrahead %}
  {{ css('zamboni/themes_review') }}
{% endblock %}

{% block content %}

<h2 class="theme-queue-header">{% block page_header %}{{ title_text }}{% endblock %}</h2>
<nav class="theme-review island c">
  <strong>{{ _('Queues') }}:</strong>
  <ul>
    {% for named_url, tab_code, text in queue_tabnav_themes_interactive() %}
      <li{% if tab == tab_code %} class="active"{% endif %}>
        <a href="{{ url(named_url) }}">{{ text }}</a>
      </li>
    {% endfor %}
  </ul>
</nav>

<span class="queue-context" data-actions="{{ actions }}"
      data-flagged="{{ flagged }}"></span>

{% set sidebar_class = "absolute" %}
{% if theme_count == 1 %}{% set sidebar_class = "absolute" %}{% endif %}
{% if single_theme %}{% set sidebar_class = "absolute single" %}{% endif %}
{% if theme_count > 1 %}{% set sidebar_class = "align fixed" %}{% endif %}
<div class="sidebar"><div class="{{ sidebar_class }}">
  {% block queue_options %}
    <form class="box options" data-no-csrf>
      <h2>{{ _('Review Options') }}</h2>
      <fieldset>
        <div class="option"> <label for="rq-advance">
            <input type="checkbox" id="rq-advance" value="advance" checked>
            {{ _('Auto-advance after review') }}
          </label>
        </div>
        <div class="option">
          <label for="rq-shortcuts">
            <input type="checkbox" id="rq-shortcuts" value="shortcuts" checked>
            {{ _('Enable keyboard shortcuts') }}
          </label>
        </div>
      </fieldset>
    </form>
  {% endblock %}

  {% if reviewable %}
    <div class="box shortcuts">
      <h2>{{ _('Keyboard Shortcuts') }}</h2>
      <ul>
        {% block multi_theme_nav_shortcuts %}
          <li><strong>J</strong> <span>{{ _('Next Theme') }}</span></li>
          <li><strong>K</strong> <span>{{ _('Previous Theme') }}</span></li>
        {% endblock %}
        <li><strong>A</strong> <span>{{ _('Approve') }}</span></li>
        <li><strong>R</strong> <span>{{ _('Reject') }}</span></li>
        <li><strong>D</strong> <span>{{ _('Duplicate') }}</span></li>
        {% if not flagged and not rereview %}
          <li><strong>F</strong> <span>{{ _('Flag') }}</span></li>
        {% endif %}
        <li><strong>M</strong> <span>{{ _('Request More Info') }}</span></li>
      </ul>
    </div>
  {% endif %}

  <a class="button" href="{{ url('reviewers.themes.history') }}">{{ _('Your Review History') }}</a>
  {% block sidebar %}{% endblock %}

  {% if reviewable and theme_count %}
    <button id="commit" type="submit">
      {% if theme_count == 1 %}
        {{ _('Commit Review') }}
      {% else %}
        {{ _('Commit Reviews') }}
      {% endif %}
    </button>
    <div id="queue-details">
       {{ _('{0} out of {1} reviewed').format('<span id="reviewed-count">0</span>'|safe,
                                              '<span id="total">%d</span>'|safe % theme_count) }}
    </div>
  {% endif %}
</div></div>

<div class="theme-queue details single">
  {% if not theme_count %}
    <h3>{{ _('There are currently no Themes to review.') }}</h3>
  {% endif %}

  <form id="theme-queue-form" action="{{ url('reviewers.themes.commit') }}" method="post">
    {% csrf_token %}
    {{ formset.management_form }}
    {% include 'reviewers/themes/themes.html' %}
  </form>
  {% block review_history %}{% endblock %}
</div>
{% endblock %}
