{% extends "reviewers/themes/queue.html" %}

{% set single_theme = theme %}
{% if rereview %}
  {% set single_theme = theme.theme %}
{% endif %}

{% set title_text_child = _('Theme Review for {0}')|format_html(single_theme.addon.name) %}

{% block title %}
  {{ reviewer_page_title(title_text_child) }}
{% endblock %}

{% block page_header %}
  {{ title_text_child }}
{% endblock %}

{% block queue_options %}{% endblock %}

{% block multi_theme_nav_shortcuts %}{% endblock %}

{% block history %}{% endblock %}

{% block reviewer %}
  {% if hasOneToOne(single_theme, 'themelock') %}
    <dt>{{ _('Reviewer') }}</dt><dd>{{ emaillink(single_theme.themelock.reviewer.email) }}</dd>
  {% endif %}
{% endblock %}

{% block sidebar %}
  {% if single_theme.addon.is_public() %}
    <a class="button" href="{{ single_theme.addon.get_url_path() }}">
      {{ _('View Listing') }}
    </a>
  {% else %}
    <a class="button" href="{{ single_theme.addon.get_dev_url() }}">
      {{ _('Edit Listing') }}
    </a>
  {% endif %}
{% endblock %}

{% block review_history %}
  <h2 class="history-header">{{ _('Review History') }}</h2>
  {% include "reviewers/themes/history_table.html" %}
{% endblock %}
