{% from 'includes/forms.html' import required %}

{% for theme, form in theme_formsets %}
  {% if rereview %}
    {% set header_url = theme.header_url %}
    {% set footer_url = theme.footer_url %}
    {% set reupload = theme %}
    {% set theme = theme.theme %}
  {% endif %}
  <div class="theme" data-id="{{ loop.index0 + (initial_count or 0) }}">
    {{ form }}
    <h2>
      <a href="{{ url('reviewers.themes.single', theme.addon.slug) }}">{{ theme.addon.name }}</a>
      {% if theme.dupe_persona and hasOneToOne(theme.dupe_persona, 'addon') %}
        <a class="dupe" href="{{ theme.dupe_persona.addon.get_url_path() }}">
          {{ _('(Probable Duplicate Submission)') }}
        </a>
      {% endif %}
    </h2>
    <div class="status">
      <span class="status-text"></span>
      <span class="clear-review"></span>
    </div>
    <dl class="meta">
      <dt>{{ _('Artist') }}</dt>
      <dd>
        {% set author = theme.addon.listed_authors[0] %}
        {% if author %}
          <a href="{{ url('users.profile', author.username) }}">
            {{ author.username }}
          </a>
        {% endif %}
      </dd>
      <dt>{{ _('Categories') }}</dt>
      <dd>
        {% for category in theme.addon.categories.all() %}
          <a href="{{ category.get_url_path() }}">{{ category.name }}</a>{{ ', ' if not loop.last }}
        {% endfor %}
      </dd>
      <dt>{{ _('Submitted') }}</dt><dd>{{ theme.addon.created|date('Y-m-d') }}</dd>
      <dt class="license">{{ _('License') }}</dt><dd>{{ license_link(theme.license) }}</dd>
    </dl>
    <dl class="meta">
      {% if hasOneToOne(theme, 'themelock') and theme.themelock.reviewer != request.user %}
        <dt>{{ _('Reviewer') }}</dt><dd>{{ emaillink(theme.themelock.reviewer.email) }}</dd>
      {% endif %}
    </dl>

    <div class="preview">
      <img src="{{ header_url or theme.header_url }}" width="1250" height="100" alt="">
    </div>
    <div class="header zoombox">
      <img src="{{ header_url or theme.header_url }}" width="2500" height="200" alt="" data-browsertheme="{{ theme.json_data }}">
    </div>
    {% if footer_url or theme.footer_url %}
      <div class="footer zoombox">
        <img src="{{ footer_url or theme.footer_url }}" width="2500" height="100" alt="" data-browsertheme="{{ theme.json_data }}">
      </div>
    {% endif %}

    {% if theme.addon.description %}
      <div class="desc"><strong>{{ _('Description') }}: </strong>
        {{ theme.addon.description }}
      </div>
    {% endif %}
    {% set logs = theme.addon.addonlog_set.all() %}
    {% if logs.exists() %}
      <div class="desc"><strong>{{ _('Past Review Notes') }}</strong>
        <ul>
          {% for log in logs %}
            <li>
              {# l10n: {previous review action taken on theme}: {comment about review action} #}
              {% if log.activity_log.details.action == 0 %}
                {{ _('More Info Requested: {0}')|format_html(log.activity_log.details.comment) }}
              {% elif log.activity_log.details.action == 1 %}
                {{ _('Flagged: {0}')|format_html(log.activity_log.details.comment) }}
              {% endif %}
            </li>
          {% endfor %}
        </ul>
      </div>
    {% endif %}

    {% if reviewable %}
      <div class="choices">
        <div class="group">
          <button class="moreinfo">{{ _('Request More Info') }} &#9662;</button>
        </div>
        <div class="group">
          {% if not flagged and not rereview %}
            <button class="flag">{{ _('Flag') }} &#9662;</button>
          {% endif %}
          <button class="duplicate">{{ _('Duplicate') }} &#9662;</button>
          <button class="reject">{{ _('Reject') }} &#9662;</button>
        </div>
        <div class="group">
          <button class="approve">{{ _('Approve Theme') }}</button>
        </div>
      </div>

      <div class="c"></div>

      {% macro required_styled() -%}
        <strong class="error-required">{{ required() }} {{ _('Field required') }}</strong>
      {%- endmacro %}

      <div class="duplicate-dropdown rq-dropdown">
        <label>{{ _('Enter the ID or URL of the duplicate') }}:</label>
        <textarea></textarea>
        {{ required_styled() }}
        <button>{{ _('Continue') }}</button>
      </div>
      <div class="reject-reason-dropdown rq-dropdown">
        <label>{{ _('Select a reason for rejection') }}:</label>
        <ul>
          {% for reject_id, val in reject_reasons.items() %}
            <li class="reject_reason" data-id="{{ reject_id }}">
              <strong>{{ reject_id }}</strong>
              <span>{{ val }}</span>
            </li>
          {% endfor %}
        </ul>
      </div>
      <div class="reject-reason-detail-dropdown rq-dropdown">
        <label>{{ _('Describe your reason for rejection') }}:</label>
        <textarea></textarea>
        {{ required_styled() }}
        <button>{{ _('Continue') }}</button>
      </div>
      <div class="moreinfo-dropdown rq-dropdown{% if rereview %} rereview{% endif %}">
        <label>{{ _('Ask a question to the artist') }}:</label>
        <textarea></textarea>
        {{ required_styled() }}
        <button>{{ _('Continue') }}</button>
      </div>
      {% if not flagged and not rereview %}
        <div class="flag-dropdown rq-dropdown">
          <label>{{ _('Describe your reason for flagging') }}:</label>
          <textarea></textarea>
          {{ required_styled() }}
          <button>{{ _('Continue') }}</button>
        </div>
      {% endif %}
    {% endif %}

  </div>
{% endfor %}
