{% extends 'developers/base_impala.html' %}
{% from 'developers/includes/macros.html' import required %}

{% set title = _('Manage In-App Payments') %}
{% block title %}{{ hub_page_title(title, addon) }}{% endblock %}

{% set can_edit = check_addon_ownership(request, addon) %}
{% block bodyclass %}
  {{ super() }}{% if not can_edit %} no-edit{% endif %}
{% endblock %}

{% block content %}
<header>
  {{ hub_breadcrumbs(addon, items=[(None, title)]) }}
  <h1>{{ title }}</h1>
</header>
<section id="in-app-config" class="primary devhub-form island" role="main">
  <form class="item in-app-config" method="post" action="{{ request.path }}">
    <p>
      {{ loc('The Mozilla Marketplace allows your app to take in-app payments.
             The <a href="{guide}">in-app payment guide</a> explains how to
             configure your app for payments with the parameters below.
             ')|f(guide='https://developer.mozilla.org/en/Apps/In-app_payments')|safe }}
    </p>
    {{ csrf() }}
    <table>
      <tr>
        <th class="label">{{ _('Application Domain') }}</th>
        <td>https://{{ addon.app_domain }}</td>
      </tr>
      <tr>
        <th><label for="id_postback_url">{{ _("Postback URL") }} {{ required() }}</label></th>
        <td>
          {{ inapp_form.postback_url }}
          {{ inapp_form.postback_url.errors }}
          <span class="hint">{{ inapp_form.postback_url.help_text }}</span>
        </td>
      </tr>
      <tr>
        <th><label for="id_chargeback_url">{{ _("Chargeback URL") }} {{ required() }}</label></th>
        <td>
          {{ inapp_form.chargeback_url }}
          {{ inapp_form.chargeback_url.errors }}
          <span class="hint">{{ inapp_form.chargeback_url.help_text }}</span>
        </td>
      </tr>
      <tr id="in-app-public-key">
        <th class="label">{{ _('Application Key') }}</th>
        {% if inapp_config %}
          <td><input type="text" value="{{ inapp_config.public_key }}" readonly></td>
        {% else %}
          <td class="not-generated">({{ _('Not yet generated.') }})</td>
        {% endif %}
      </tr>
      <tr id="in-app-private-key">
        <th class="label">{{ _('Application Secret') }}</th>
        {% if inapp_config %}
          <td>
            <button data-url="{{ addon.get_dev_url('in_app_secret') }}"
                    class="generator">{{ _('Show secret') }}</button>
            <input type="text" class="secret" type="text" value="" readonly>
          </td>
        {% else %}
          <td class="not-generated">({{ _('Not yet generated.') }})</td>
        {% endif %}
      </tr>
    </table>
    <div class="listing-footer">
      <button type="submit">{{ _('Save Changes') }}</button>
    </div>
  </form>
</section>
{% include "developers/includes/addons_edit_nav.html" %}
{% endblock %}
