{% extends 'developers/base_impala.html' %}
{% from 'developers/includes/macros.html' import required %}

{% set title = _('In-App Payment Keys') %}
{% block title %}{{ hub_page_title(title, addon) }}{% endblock %}

{% block content %}
<header>
  {{ hub_breadcrumbs(addon, items=[(None, title)]) }}
  <h1>{{ title }}</h1>
</header>
<section class="island" role="main">
  <div id="in-app-config" class="devhub-form">
    <form class="item in-app-config" method="post" action="{{ request.path }}">
      {{ csrf() }}
      <p class="learn-mdn active"><a href="https://developer.mozilla.org/en-US/docs/Apps/In-app_payments" target="_blank">
        {% trans %}Learn more about <b>in-app payments</b> on MDN.{% endtrans -%}
      </a></p>
      <p class="preamble">
      {% trans submit=url('submit.app') %}
        The following key/secret will only allow you to simulate in-app payments
        while you develop your app. To generate a key for real in-app payments
        you must <a href="{{ submit }}">submit</a> your app, set up your payment
        credentials, and generate a new key specifically for that app.
      {% endtrans %}
      </p>
      <table>
        <tr id="in-app-public-key">
          <th class="label">{{ _('Application Key') }}</th>
          {% if key %}
            <td><input type="text" value="{{ key.public_id() }}" readonly></td>
          {% else %}
            <td class="not-generated">({{ _('Not yet generated.') }})</td>
          {% endif %}
        </tr>
        <tr id="in-app-private-key">
          <th class="label">{{ _('Application Secret') }}</th>
          {% if key %}
            <td>
              <button data-url="{{ url('mkt.developers.apps.in_app_key_secret',
                                       key.pk) }}"
                      class="generator">{{ _('Show secret') }}</button>
              <input type="text" class="secret" type="text" value="" readonly>
            </td>
          {% else %}
            <td class="not-generated">({{ _('Not yet generated.') }})</td>
          {% endif %}
        </tr>
      </table>
      <div class="listing-footer">
        <button type="submit">{{ _('Reset secret') if key else _('Generate Keys') }}</button>
      </div>
    </form>
  </div>
</section>
{% endblock %}
