{% extends 'developers/base_impala.html' %}

{% set title = loc('Checking Setup') %}}
{% block title %}{{ hub_page_title(title, addon) }}{% endblock %}

{% block content %}
  <header>
    {{ hub_breadcrumbs(addon, items=[(addon.get_dev_url('paypal_setup'),
                                      loc('Manage PayPal')),
                                     (None, title)]) }}
    <h1>{{ title }}</h1>
  </header>
  <section class="primary payments island devhub-form" role="main">
    {% if check.passed %}
      <p>{{ loc('Your PayPal account appears to be configured correctly.') }}</p>
    {% else %}
      <h2>{{ loc('Errors') }}</h2>
      <p>{{ loc('There were some problems with your account when
                 checking PayPal. Please correct these as soon as possible.') }}</p>
      <ul>
        {% for error in check.errors %}
          <li class="status-fail">{{ error }}</li>
        {% endfor %}
      </ul>
      {% if not check.state['permissions'] %}
        <p><strong>{{ loc('You will need to visit PayPal to setup the
                           permissions for this PayPal account.') }}</strong></p>
      {% endif %}
    {% endif %}
    <footer class="listing-footer">
    <a class="button" href="{{ addon.get_dev_url('paypal_setup') }}">Return</a>
    <a href="{{ addon.get_dev_url('paypal_setup_bounce') }}" class="button">{{ loc('Setup Permissions') }}</a>
    </footer>
  </section>
  {% include "developers/includes/addons_edit_nav.html" %}
{% endblock %}
