{% extends 'developers/base_impala.html' %}

{% set title = loc('Manage PayPal') %}}
{% block title %}{{ hub_page_title(title, addon) }}{% endblock %}

{% block content %}
  <header>
    {{ hub_breadcrumbs(addon, items=[(None, title)]) }}
    <h1>{{ title }}</h1>
  </header>
  <section class="primary payments devhub-form" role="main">
    {% if addon.paypal_id %}
    <div class="island">
      <p><strong>{{ loc('PayPal email address for this app.') }}</strong></p>
      <p class="indent">{{ addon.paypal_id }}
      <footer class="listing-footer">
        <a class="button" href="#" id="paypal-change-address">Change paypal email</a>
      </footer>
    </div>

    <div class="island js-hidden" id="paypal-change-address-form">
      <h2>Change your PayPal account</h2>
      <p>{{ loc('Changing your PayPal account will mean setting up permissions
                 tokens again on the Marketplace and updating your data.') }}</p>
      <form method="post">
        {{ csrf() }}
        <div class="brform paypal-inline paypal devhub-form">
          {{ form_field(form.business_account) }}
          {{ form_field(form.email) }}
        </div>
        <footer class="listing-footer">
          <button type="submit">{{ _('Change') }}</button>
        </footer>
      </form>
    </div>

    <div class="island" id="paypal-id-verify" data-url="{{ addon.get_dev_url('paypal_setup_check') }}">
      <p class="loading-submit">{{ loc('Checking your PayPal account configuration.') }}</p>
      <div class="paypal-pass js-hidden">
        <p><strong>{{ loc('Check passed.') }}</strong></p>
        <p>{{ loc('Everything looks good for selling your app on the marketplace.') }}</p>
      </div>
      <div class="paypal-fail js-hidden">
        <p><strong>{{ loc('Check failed.') }}</strong></p>
        <p>{{ loc('There are errors on your paypal account that will need to be fixed.') }}</p>
        <ul></ul>
     </div>
     <footer class="listing-footer">
        <a class="button" href="{{ addon.get_dev_url('paypal_setup_bounce') }}">
          Set up permissions</a>
      </footer>
    </div>

    {% else %}
    <div class="island">
      <form method="post" class="devhub-form">
        {{ csrf() }}
        <div class="brform c paypal-inline paypal devhub-form">
          <p>{{ loc('Do you already have a PayPal Premier or business-level account?
                     If not we will redirect you to PayPal to create an account.
                     Return here when done to complete your setup.') }}</p>
          {{ form_field(form.business_account) }}
          {{ form_field(form.email) }}
          <p>{{ loc('Learn about <a href="{0}">different PayPal account types</a>.')|f("https://www.paypal.com/cgi-bin/webscr?cmd=xpt/Marketing/general/PayPalAccountTypes-outside")|xssafe }}</p>
        </div>
        <footer class="listing-footer">
          <button type="submit">{{ _('Continue') }}</button>
          {% trans cancel=addon.get_dev_url('paypal_setup') %}
            or <a href="{{ cancel }}">Cancel</a>
          {% endtrans %}
        </footer>
      </form>
    </div>
    {% endif %}
    </section>
  {% include 'developers/includes/addons_edit_nav.html' %}
{% endblock %}
