{% extends 'developers/base_impala.html' %}

{% block title %}{{ hub_page_title(title, addon) }}{% endblock %}

{% block content %}
  <header>
    {{ hub_breadcrumbs(addon, items=[(addon.get_dev_url('payments'),
                                      _('Manage Payments')),
                                     (None, title)]) }}
    <h1>{{ title }}</h1>
  </header>
  <section class="primary payments island devhub-form" role="main">
    <form method="post">
      {{ csrf() }}
      <fieldset class="contact">
        <div class="row">
          <div class="field">
            {{ form.first_name.label_tag() }}
            {{ form.first_name }}
            {{ form.first_name.errors }}
          </div>
          <div class="field">
            {{ form.last_name.label_tag() }}
            {{ form.last_name }}
            {{ form.last_name.errors }}
          </div>
        </div>
        <div class="row wide">
          <div class="field">
            <label for="id_address_one">Address</label>
            {{ form.address_one }}
            {{ form.address_one.errors }}
          </div>
        </div>
        <div class="row wide">
          <div class="field">
            {{ form.address_two }}
            {{ form.address_two.errors }}
          </div>
        </div>
        <div class="row">
          <div class="field">
            {{ form.city.label_tag() }}
            {{ form.city }}
            {{ form.city.errors }}
          </div>
          <div class="field">
            {{ form.state.label_tag() }}
            {{ form.state }}
            {{ form.state.errors }}
          </div>
          <div class="field">
            {{ form.post_code.label_tag() }}
            {{ form.post_code }}
            {{ form.post_code.errors }}
          </div>
        </div>
        <div class="row">
          <div class="field">
            {{ form.country.label_tag() }}
            {{ form.country }}
            {{ form.country.errors }}
          </div>
        </div>
        <div class="row">
          <div class="field">
            {{ form.phone.label_tag() }}
            {{ form.phone }}
            {{ form.phone.errors }}
          </div>
        </div>
      </fieldset>
      <footer class="listing-footer">
        <form action="{{ addon.get_dev_url('payments') }}" method="get">
          <button type="submit">{{ _('Cancel') }}</button>
        </form>
        <button type="submit">{{ button }}</button>
      </footer>
    </form>
  </section>
  {% include "developers/includes/addons_edit_nav.html" %}
{% endblock %}
