{% extends "developers/base.html" %}

{% set title = _('Manage Paypal: Request permission') %}}
{% block title %}{{ hub_page_title(title, addon) }}{% endblock %}

{% block content %}
<header>
  {{ hub_breadcrumbs(addon, items=[(None, title)]) }}
  <h2>{{ title }}</h2>
</header>
<section class="primary payments devhub-form" role="main">
  <p>{{ loc('In order to process refunds you approve through the Marketplace
            as well as automatic refunds we need you to give permission to us
            in PayPal. We also request permission to read your account information
            from PayPal.') }}</p>
  <a href="{{ paypal_url }}" class="button">Set up permissions</button>
</section>
{% include "developers/includes/addons_edit_nav.html" %}
{% endblock %}

