{% extends "developers/base.html" %}

{% set title = _('Manage Paypal: Checking set up') %}}
{% block title %}{{ hub_page_title(title, addon) }}{% endblock %}

{% block content %}
<header>
  {{ hub_breadcrumbs(addon, items=[(None, title)]) }}
  <h2>{{ title }}</h2>
</header>
<section class="primary payments devhub-form" role="main">
  {% if check.passed %}
    <p>{{ loc('Your PayPal account appears to be configured correctly.') }}</p>
  {% else %}
    <p>{{ loc('There were some problems with your account when
               checking PayPal. Please correct these as soon as possible.') }}</p>
    <h3>{{ loc('Errors') }}</h3>
    <ul>
      {% for error in check.errors %}
        <li>{{ error }}</li>
      {% endfor %}
    </ul>
  {% endif %}
  <p><a class="button" href="{{ addon.get_dev_url('paypal_setup') }}">Continue</a></p>
</section>
{% include "developers/includes/addons_edit_nav.html" %}
{% endblock %}

