{% extends "developers/base.html" %}

{% set title = _('Manage Paypal: Confirm details') %}}
{% block title %}{{ hub_page_title(title, addon) }}{% endblock %}

{% block content %}
<header>
  {{ hub_breadcrumbs(addon, items=[(None, title)]) }}
  <h2>{{ title }}</h2>
</header>
<section class="primary payments devhub-form" role="main">
    <form method="post">
        {{ csrf() }}
        {{ form }}
        <button type="submit">{{ _('Continue') }}</button>
        {% trans cancel=addon.get_dev_url('paypal_setup') %}
            or <a href="{{ cancel }}">Cancel</a>
        {% endtrans %}
    </form>
</section>
{% include "developers/includes/addons_edit_nav.html" %}
{% endblock %}

