{% extends 'developers/base_impala.html' %}
{% from 'developers/includes/macros.html' import empty_unless, required, some_html_tip, tip %}

{% set title = _('Compatibility & Payments') %}
{% block title %}{{ hub_page_title(title, addon) }}{% endblock %}

{% set can_edit = check_addon_ownership(request, addon) %}
{% block bodyclass %}
  {{ super() }}{% if not can_edit %} no-edit{% endif %}
{% endblock %}

{%- macro button(form, item, can_change=True) -%}
  {% set tag = 'a' if can_change else 'span' %}
  <div class="wrapper">
    <{{ tag }}
     {{ {'href': '#',
         'id': item[0],
         'class': 'island choice' +
                  (' selected' if form.device_data[item[0]] else '') +
                  (' unclickable' if not can_change else ''),
         'data-value': item[0],
         'title': DEVICE_LOOKUP[item[0]]
        }|xmlattr }}>
      <h3>{{ item[1] }}</h3>
      {%- if can_change -%}
        <div class="listing-footer">
          <input type="checkbox" {{ 'checked' if form.device_data[item[0]] }}>
        </div>
      {%- endif -%}
    </{{ tag }}>
  </div>
{%- endmacro %}

{% block content %}
  <header>
    {{ hub_breadcrumbs(addon, items=[(None, title)]) }}
    <h1>{{ title }}</h1>
  </header>
  <section class="primary payments devhub-form" role="main">
    <form action="{{ addon.get_dev_url('payments') }}" method="post">
      {{ csrf() }}
      <input type="hidden" name="toggle-paid" value="" />

      <div class="hidden">
        {{ form.free_platforms }}
        {{ form.paid_platforms }}
      </div>

      <section id="submit-payment-type" class="island hasappendix {{ 'tabbable ' if payments_enabled or is_paid }}">
        <div class="free tab {{ 'active' if not is_paid }}">
          {% if payments_enabled or is_paid %}
            <h2 id="free-tab-header"><a href="#">{{ _('Free') }}</a></h2>
          {% else %}
            <h2>{{ _('App Compatibility') }}</h2>
          {% endif %}
          <div class="error">{{ form.errors.free_platforms }}</div>
          {%- for item in form.fields['free_platforms'].choices -%}
            {{ button(form, item, can_change=not is_paid and not is_packaged) }}
          {%- endfor %}
          {% if is_paid %}
            <div id="free-tab-save" class="update-payment-type">
              <button data-type="free">{{ _('Change to Free') }}</button>
              {{ _('Changing to Free will put your app back into review.') }}
            </div>
          {% else %}
            <div id="compat-save-button" class="hidden update-payment-type">
              <button>{{ _('Save Changes') }}</button>
            </div>
          {% endif %}
        </div>

        {% if payments_enabled or is_paid %}
          <div class="paid tab {{ 'active' if is_paid }}">
            <h2 id="paid-tab-header">
              {%- if no_paid -%}
                <a href="#" class="tooltip disabled"
                   title="{{ _('Paid mode requires that your app only supports Firefox OS.') }}">
                   {{- _('Paid / In-app') -}}
                </a>
              {%- else -%}
                <a href="#">{{ _('Paid / In-app') }}</a>
              {%- endif -%}
            </h2>
            <div class="error">{{ form.errors.paid_platforms }}</div>
            {%- for item in form.fields['paid_platforms'].choices -%}
              {{ button(form, item, can_change=False) }}
            {%- endfor %}
            {% if not is_paid and not no_paid %}
              <div id="paid-tab-save" class="update-payment-type">
                <button data-type="paid">{{ _('Change to Paid') }}</button>
                {{ _('Changing to Paid will put your app back into review.') }}
              </div>
            {% endif %}
            <div class="helpful-links">
              {% trans payments_url='https://developer.mozilla.org/en-US/docs/Apps/Marketplace_Payments',
                       receipts_url='https://developer.mozilla.org/en-US/docs/Apps/Validating_a_receipt' %}
               Learn about <a href="{{ payments_url }}" target="_blank">different payment types</a>.<br />
               Learn about <a href="{{ receipts_url }}" target="_blank">validating purchase receipts</a>.
              {% endtrans %}
            </div>
          </div>
        {% endif %}
      </section>

      {% if is_paid %}
      <div id="paid-island">
        {{ disabled_payments_notice() }}
        <h2>{{ _('Prices and payment accounts') }}</h2>
        {% if is_incomplete %}
          <div class="island warning">
            {%- trans %}
              Your app is currently incomplete. Select a payment account and
              price tier to restore it.
            {% endtrans -%}
          </div>
        {% endif %}
        <section class="island payments">
          <table>
            <tbody>
              <tr>
                <th><label data-for="price">{{ _('Price') }}</label></th>
                <td>
                  {{ form.price.errors }}
                  {{ form.price }}
                </td>
              </tr>
              <tr>
                <th>
                  {{ tip(_('In-App Payments'),
                         _("Does your app use Mozilla's in-app payments platform?")) }}
                </th>
                <td class="allow-inapp">
                  {{ form.allow_inapp.errors }}
                  {{ form.allow_inapp }}
                </td>
              </tr>
              <tr>
                <th>
                  {{ tip(_('This is a paid upgrade of'),
                         _('If you have a free app, you can link and promote '
                           'your premium app next to the free version here.')) }}
                </th>
                <td>
                  {% if upsell_form.fields['upsell_of'].queryset.count() %}
                    {{ upsell_form.upsell_of.errors }}
                    {{ upsell_form.upsell_of }}
                    <p class="note">
                      {% trans %}
                        Linking this app will promote your premium app next to the free
                        version.
                      {% endtrans %}
                    </p>
                  {% else %}
                    <div class="extra">
                      {{- _('No free apps') -}}
                    </div>
                  {% endif %}
                </td>
              </tr>
              <tr>
                <th><label data-for="accounts">{{ _('Payment Account') }}</label>
                </th>
                <td>
                  <div id="bango-account-list" data-url="{{ url('mkt.developers.bango.payment_accounts_form') }}">
                    {{ bango_account_list_form.errors }}
                    {% include 'developers/payments/includes/bango_accounts_form.html' %}
                  </div>
                  <a href="#" class="payment-account-actions" data-action="add">
                    {{- _('Add or manage payment accounts') -}}
                  </a>
                </td>
              </tr>
            </tbody>
          </table>

          <div class="listing-footer">
            <button>{{ _('Save Changes') }}</button>
          </div>
        </section>
      </div>
      {% endif %}

      <h2>{{ _('Regions and listings') }}</h2>
      {% if region_form.has_inappropriate_regions() %}
        <div class="island warning">
          {% trans %}
            Your app will no longer be listed in certain regions because those
            regions do not support payments. We have transferred your region
            choices. Please review the changes before saving.
          {% endtrans %}
        </div>
      {% endif %}
      <section id="regions" class="island">
        {{ region_form.non_field_errors() }}
        {{ region_form.regions.label }}
        <p class="toggles">
          <a href="#" class="all">{{ _('Select All') }}</a> &middot;
          <a href="#" class="none">{{ _('None') }}</a>
        </p>
        {{ region_form.regions.errors }}
        <div class="checkbox-choices"
             data-disabled="{{ region_form.disabled_regions|json }}">
          {{ region_form.regions }}
        </div>
        {% if region_form.disabled_regions %}
          <p class="note disabled-regions">
            <a href="https://developer.mozilla.org/en-US/docs/Apps/Marketplace_Review" target="_blank">
              {{ _('Learn why some regions are restricted.') }}</a>
          </p>
        {% endif %}
        <div class="other-regions">
          {{ region_form.other_regions }}
          {{ region_form.other_regions.label_tag() }}
          {{ region_form.other_regions.errors }}
          <div class="hint note">
            {%- trans %}
              Your app will be displayed in the worldwide Marketplace and
              in any regional marketplace that is added in the future.
              You will receive an email notification when a new region
              is added.
            {% endtrans -%}
          </div>
        </div>
        <button>{{ _('Save Changes') }}</button>
      </section>
    </form>
  </section>
  {% include 'developers/includes/addons_edit_nav.html' %}
  {% include 'developers/payments/includes/account_list.html' %}
  {% include 'developers/payments/includes/add_payment_account_bango.html' %}
  {% include 'developers/payments/includes/edit_payment_account_bango.html' %}
  {% include 'developers/payments/includes/accept_terms.html' %}
{% endblock %}
