{% extends 'developers/base_impala.html' %}
{% from 'developers/includes/macros.html' import empty_unless, required, some_html_tip, tip %}

{% set title = _('Compatibility & Payments') %}
{% block title %}{{ hub_page_title(title, addon) }}{% endblock %}

{% set can_edit = check_addon_ownership(request, addon) %}
{% block bodyclass %}
  {{ super() }}{% if not can_edit %} no-edit{% endif %}
{% endblock %}

{%- macro button(form, item, can_change=True) -%}
  {% set tag = 'a' if can_change else 'span' %}
  <div class="wrapper">
    <{{ tag }}
     {{ {'href': '#',
         'id': item[0],
         'class': 'island choice' +
                  (' selected' if form.device_data[item[0]] else '') +
                  (' unclickable' if not can_change else ''),
         'data-value': item[0],
         'title': DEVICE_LOOKUP[item[0]]
        }|xmlattr }}>
      <h3>{{ item[1] }}</h3>
      {%- if can_change -%}
        <div class="listing-footer">
          <input type="checkbox" {{ 'checked' if form.device_data[item[0]] }}>
        </div>
      {%- endif -%}
    </{{ tag }}>
  </div>
{%- endmacro %}

{% block content %}
  <header>
    {{ hub_breadcrumbs(addon, items=[(None, title)]) }}
    <h1>{{ title }}</h1>
  </header>
  <section class="primary payments devhub-form" role="main">
    <form action="{{ addon.get_dev_url('payments') }}" method="post">
      {{ csrf() }}
      <input type="hidden" name="toggle-paid" value="" />

      <div class="hidden">
        {{ form.free_platforms }}
        {{ form.paid_platforms }}
      </div>

      <section id="submit-payment-type">
        {% if not payments_enabled and not is_paid %}
          <h2>{{ _('App Compatibility') }}</h2>
        {% endif %}

        <div class="island hasappendix{{ ' tabbable ' if payments_enabled or is_paid }}">
          <div class="free tab {{ 'active' if not is_paid }}">
            {% if payments_enabled or is_paid %}
              <h2 id="free-tab-header"><a href="#">{{ _('Free') }}</a></h2>
            {% endif %}
            <div class="error">{{ form.errors.free_platforms }}</div>
            {%- for item in form.fields['free_platforms'].choices -%}
              {{ button(form, item, can_change=not is_paid) }}
            {%- endfor %}
            {% if is_paid %}
              <div id="free-tab-save" class="update-payment-type">
                <button data-type="free">{{ _('Change to Free') }}</button>
                {{ _('Changing to Free will put your app back into review.') }}
              </div>
            {% else %}
              <div id="compat-save-button" class="hidden update-payment-type">
                <button>{{ _('Save Changes') }}</button>
              </div>
            {% endif %}
          </div>

          {% if payments_enabled or is_paid %}
            {% set paid_platforms = form.fields['paid_platforms'].choices %}
            {% set has_multiple_paid_platforms = paid_platforms|length > 1 %}
            <div class="paid tab {{ 'active' if is_paid }}">
              <h2 id="paid-tab-header">
                {%- if no_paid -%}
                  <a href="#"
                     {% if not has_multiple_paid_platforms -%}
                       class="tooltip disabled"
                       title="{{ _('Paid mode requires that your app only supports Firefox OS.') }}"
                     {%- endif -%}
                    >{{ _('Paid / In-app') }}</a>
                {%- else -%}
                  <a href="#">{{ _('Paid / In-app') }}</a>
                {%- endif -%}
              </h2>
              <div class="error">{{ form.errors.paid_platforms }}</div>
              {%- for item in paid_platforms -%}
                {{ button(form, item, can_change=has_multiple_paid_platforms) }}
              {%- endfor %}
              {% if not is_paid and not no_paid or has_multiple_paid_platforms %}
                <div id="paid-tab-save" class="update-payment-type">
                  <button data-type="paid">{{ _('Change to Paid') }}</button>
                  {{ _('Changing to Paid will put your app back into review.') }}
                </div>
              {% endif %}
              <div class="helpful-links">
                {% trans payments_url='https://developer.mozilla.org/en-US/docs/Apps/Marketplace_Payments',
                         receipts_url='https://developer.mozilla.org/en-US/docs/Apps/Validating_a_receipt' %}
                 Learn about <a href="{{ payments_url }}" target="_blank">different payment types</a>.<br />
                 Learn about <a href="{{ receipts_url }}" target="_blank">validating purchase receipts</a>.
                {% endtrans %}
              </div>
            </div>
          {% endif %}
        </div>
      </section>

      {% if is_paid %}
      <h2>{{ _('Payment Accounts') }}</h2>

      <div id="paid-island">
        {{ disabled_payments_notice() }}
        <div id="paid-island-incomplete" class="island warning{% if not is_incomplete %} hidden{% endif %}">
          {%- trans %}
            Your app is currently incomplete. Select a payment account and
            price point to restore it.
          {% endtrans -%}
        </div>
        <section class="island payments">
          <table>
            <tbody>
              <tr>
                <th><label data-for="accounts">{{ _('Payment Account') }}</label></th>
                <td>
                  <div id="bango-account-list" data-url="{{ url('mkt.developers.bango.payment_accounts_form') }}">
                    {{ bango_account_list_form.errors }}
                    {% include 'developers/payments/includes/bango_accounts_list.html' %}
                  </div>
                  {% if can_edit and bango_account_list_form.is_owner %}
                    <a href="#" class="payment-account-note" id="payment-account-action" data-action="add">
                      {{- _('Add, manage or view transactions for your payment account') -}}
                    </a>
                  {% endif %}
                </td>
              </tr>
            </tbody>
          </table>
          <div class="listing-footer">
            <button>{{ _('Save Changes') }}</button>
          </div>
        </section>
      </div>
      {% endif %}

      {% if is_paid %}
      <h2>{{ _('Prices and Countries') }}</h2>

      <div id="paid-regions-island">
        <section id="regions" class="island">
          <table>
            <tbody>
              <tr>
                <th><label data-for="price">{{ _('Price') }}</label></th>
                <td>
                  {{ form.price.errors }}
                  {{ form.price }}
                </td>
              </tr>
              <tr>
                <th>
                  {{ tip(_('In-App Payments'),
                         _("Does your app use Mozilla's in-app payments platform?")) }}
                </th>
                <td class="allow-inapp">
                  {{ form.allow_inapp.errors }}
                  {{ form.allow_inapp }}
                </td>
              </tr>
              <tr>
                <td colspan="2" class="region-container">
                  <div id="region-list" class="checkbox-choices regions"
                       data-api-error-msg="{{ _('A server error occurred. Please try again later.') }}"
                       data-disabled-regions="{{ region_form.disabled_regions|json }}"
                       data-all-paid-region-ids="{{ all_paid_region_ids_by_slug|json }}"
                       data-special-regions="{{ region_form.special_region_ids|json }}"
                       data-special-region-statuses="{{ region_form.special_region_statuses|json }}"
                       {# XXX: We are not using JS gettext because we have had some bugs with JS extraction lately. #}
                       data-special-region-l10n="{{ region_form.special_region_messages|json }}"
                       data-not-applicable-msg="{{ _('Not applicable') }}"
                       data-payment-methods="{{ payment_methods|json }}"
                       data-pricelist-api-url="{{ api_pricelist_url }}"
                       data-tier-zero-id="{{ tier_zero_id }}">
                    <h3>{{ _('Regions') }}</h3>
                    {{ region_form.regions.errors }}

                    {% include 'developers/payments/includes/regions_toggle.html' %}

                    <div class="paid-regions">
                      <h4>{{ _('Available Regions') }}</h4>

                      {% include 'developers/payments/includes/special_regions.html' %}

                      <p class="hint note">
                        {% trans status_url='/developers/docs/payments/status' %}
                          Check out the <a href="{{ status_url }}">status page</a> to see what
                          countries are currently enabled for sale.
                        {% endtrans %}
                      </p>

                      <p class="hint note">
                        {{ _('Your app will be available in the following selected regions:') }}
                      </p>
                      <table id="paid-regions">
                        <thead>
                          <tr>
                            <th><span class="region-heading">{{ _('Region') }}</span></th>
                            <th>{{ _('Retail price') }}
                              <span class="local-currency-heading">({{ _('local currency') }})</span></th>
                            <th>{{ _('Billing method') }}</th>
                          </tr>
                        </thead>
                        <tbody class="checkbox-choices">
                          {% for id in all_paid_region_ids_by_slug %}
                            <tr data-region="{{ id }}"></tr>
                          {% endfor %}
                        </tbody>
                      </table>
                    </div>

                    <h4>{{ _("Other regions") }}</h4>
                    <p class="hint note">
                      {% trans %}
                        Your app will become available in the following
                        selected regions once payments become available
                        based on your chosen price point. To exclude
                        your app from appearing in a region, you may
                        uncheck that region before saving.
                      {% endtrans %}
                    </p>
                    {% include 'developers/payments/includes/region_form.html' %}

                  </div>
                </td>
              </tr>
            </tbody>
          </table>
          <div class="listing-footer">
            <button class="button">{{ _('Save Changes') }}</button>
          </div>
        </section>
      </div>
      {% else %}
      {# Non-paid app region lists #}
      <h2>{{ _('Regions and Listings') }}</h2>

      <div id="regions-island">
        <section id="regions" class="island">
          {% include 'developers/payments/includes/special_regions.html' %}
          {% include 'developers/payments/includes/regions_toggle.html' %}
          {% include 'developers/payments/includes/region_form.html' %}
          <div class="listing-footer">
            <button class="button">{{ _('Save Changes') }}</button>
          </div>
        </section>
      </div>
      {% endif %}

      {% if is_paid %}
      <h2>{{ _('Promote as upgrade to free version') }}</h2>

      <div id="paid-upsell-island">
        {{ disabled_payments_notice() }}
        <section class="island upsell">
          <table>
            <tbody>
              <tr>
                <th>
                  {{ tip(_('This is a paid upgrade of'),
                         _('If you have a free app, you can link and promote '
                           'your premium app next to the free version here.')) }}
                </th>
                <td>
                  {% if upsell_form.fields['upsell_of'].queryset.count() %}
                    {{ upsell_form.upsell_of.errors }}
                    {{ upsell_form.upsell_of }}
                    <p class="note">
                      {% trans %}
                        Linking this app will promote your premium app next to the free
                        version.
                      {% endtrans %}
                    </p>
                  {% else %}
                    <div class="extra">
                      {{- _('No free apps') -}}
                    </div>
                  {% endif %}
                </td>
              </tr>
            </tbody>
          </table>
          <div class="listing-footer">
            <button>{{ _('Save Changes') }}</button>
          </div>
        </section>
      </div>
      {% endif %}
    </form>
  </section>

  {% include 'developers/includes/addons_edit_nav.html' %}
  {% include 'developers/payments/includes/account_list.html' %}
  {% include provider.templates['add'] %}
  {% include provider.templates['edit'] %}
  {% include 'developers/payments/includes/accept_terms.html' %}
{% endblock %}
