{% extends 'developers/base_impala.html' %}

{% set title = _('Manage Refunds') %}
{% block title %}{{ hub_page_title(title, addon) }}{% endblock %}

{% macro base_th() %}
  <th>{{ _('Transaction ID') }}</th>
  <th>{{ _('User') }}</th>
  <th>{{ _('Price') }}</th>
  <th>{{ _('Purchased') }}</th>
  <th>{{ _('Refund Requested') }}</th>
{% endmacro %}

{% macro base_td(refund, amo) %}
  {% set c = refund.contribution %}
  <td class="long txn">{{ c.transaction_id }}</td>
  <td class="user">{{ c.user|user_link }}</td>
  <td class="price">{{ c.get_amount_locale() }}</td>
  {# Fligtar wants relative timestamps for pending refunds only. #}
  {% if refund.status == amo.REFUND_PENDING %}
    <td class="long purchased-date" title="{{ c.created|babel_datetime }}">
      {{ c.created|timesince }}
    </td>
    <td class="long requested-date" title="{{ refund.requested|babel_datetime }}">
      {{ refund.requested|timesince }}
    </td>
  {% else %}
    <td class="long purchased-date">
      {{ c.created|babel_datetime }}
    </td>
    <td class="long requested-date">
      {{ refund.requested|babel_datetime }}
    </td>
  {% endif %}
{% endmacro %}

{% macro action_form(refund) %}
  {% set c = refund.contribution %}
  {# TODO: Ajaxify this. And allow mass refunds/declines with checkboxes. #}
  <form method="post" action="{{ c.get_refund_url() }}">
    {{ csrf() }}
    <input type="hidden" name="transaction_id" value="{{ c.transaction_id }}">
    <button type="submit" class="good tooltip" name="issue"
      title="{{ _('Issue Refund') }}"></button>
    <button type="submit" class="bad tooltip" name="decline"
      title="{{ _('Decline Refund') }}"></button>
  </form>
{% endmacro %}

{% macro approved_row(refund, odd_row) %}
  <tr data-refundid="{{ refund.id }}"
    class="refund{% if odd_row %} stripe{% endif %}">
    {{ base_td(refund, amo) }}
    <td class="long approved-date">{{ refund.approved|babel_datetime }}</td>
  </tr>
  {% if refund.refund_reason %}
    <tr data-refundid="{{ refund.id }}" class="reason">
      <td colspan="0">
        <b>{{ _('Refund Reason:') }}</b>
        {{ refund.refund_reason }}
      </td>
    </tr>
  {% endif %}
{% endmacro %}

{% block content %}
  <header>
    {{ hub_breadcrumbs(addon, items=[(None, title)]) }}
    <h1>{{ title }}</h1>
  </header>
  {{ disabled_payments_notice() }}
  <section id="refunds" class="primary payments devhub-form" role="main">
    {% if not addon.needs_paypal() %}
      <div id="enable-payments" class="error item">
        {{ _('Your app is not currently accepting payments.') }}
        <p class="item-actions">
          <a href="{{ addon.get_dev_url('payments') }}">
            {{ _('Set up payments.') }}</a>
        </p>
      </div>
    {% else %}

      <ul id="refund-nav" class="tabbed">
        <li class="active">
          <a href="#">
            {{ amo.REFUND_STATUSES[amo.REFUND_PENDING] }}
            <em>({{ pending.paginator.count }})</em>
          </a>
        </li>
        <li>
          <a href="#">
            {{ amo.REFUND_STATUSES[amo.REFUND_APPROVED] }}
            <em>({{ approved.paginator.count }})</em>
          </a>
        </li>
        <li>
          <a href="#">
            {{ amo.REFUND_STATUSES[amo.REFUND_APPROVED_INSTANT] }}
            <em>({{ instant.paginator.count }})</em>
          </a>
        </li>
        <li>
          <a href="#">
            {{ amo.REFUND_STATUSES[amo.REFUND_DECLINED] }}
            <em>({{ declined.paginator.count }})</em>
          </a>
        </li>
        <li>
          <a href="#">
            {{ amo.REFUND_STATUSES[amo.REFUND_FAILED] }}
            <em>({{ failed.paginator.count }})</em>
          </a>
        </li>
      </ul>

      <div id="wrapper-pending" class="island tabcontent">
        {% if not pending.paginator.count %}
          <p id="queue-pending" class="no-results">
            {{ _('No pending refunds.') }}
          </p>
        {% else %}
          <table id="queue-pending">
            <thead>
              <tr>
                {{ base_th() }}
                <th>{{ _('Action') }}</th>
              </tr>
            </thead>
            <tbody>
              {% for refund in pending.object_list %}
                {# Use the "cycle" tag when/if we upgrade Jinja #}
                <tr data-refundid="{{ refund.id }}"
                  class="refund{% if loop.index % 2 != 0 %} stripe{% endif %}">
                  {{ base_td(refund, amo) }}
                  <td class="action">
                    {{ action_form(refund) }}
                  </td>
                </tr>
                {% if refund.refund_reason %}
                  <tr data-refundid="{{ refund.id }}" class="reason">
                    <td colspan="0">
                      <b>{{ _('Refund Reason:') }}</b>
                      {{ refund.refund_reason }}
                    </td>
                  </tr>
                {% endif %}
              {% endfor %}
            </tbody>
          </table>
        {% endif %}
        {{ pending|impala_paginator }}
      </div>

      <div id="wrapper-approved" class="island tabcontent hidden">
        {% if not approved.paginator.count %}
          <p id="queue-approved" class="no-results">
            {{ _('No approved refunds.') }}
          </p>
        {% else %}
          <table id="queue-approved">
            <thead>
              <tr>
                {{ base_th() }}
                <th>{{ _('Approved') }}</th>
              </tr>
            </thead>
            <tbody>
              {% for refund in approved.object_list %}
                {% set odd_row = loop.index % 2 != 0 %}
                {{ approved_row(refund, odd_row) }}
              {% endfor %}
            </tbody>
          </table>
        {% endif %}
        {{ approved|impala_paginator }}
      </div>

      <div id="wrapper-instant" class="island tabcontent hidden">
        {% if not instant.paginator.count %}
          <p id="queue-instant" class="no-results">
            {{ _('No instantly approved refunds.') }}
          </p>
        {% else %}
          <table id="queue-instant">
            <thead>
              <tr>
                {{ base_th() }}
                <th>{{ _('Approved') }}</th>
              </tr>
            </thead>
            <tbody>
              {% for refund in instant.object_list %}
                {% set odd_row = loop.index % 2 != 0 %}
                {{ approved_row(refund, odd_row) }}
              {% endfor %}
            </tbody>
          </table>
        {% endif %}
        {{ instant|impala_paginator }}
      </div>

      <div id="wrapper-declined" class="island tabcontent hidden">
        {% if not declined.paginator.count %}
          <p id="queue-declined" class="no-results">
            {{ _('No declined refunds.') }}
          </p>
        {% else %}
          <table id="queue-declined">
            <thead>
              <tr>
                {{ base_th() }}
                <th>{{ _('Declined') }}</th>
              </tr>
            </thead>
            <tbody>
              {% for refund in declined.object_list %}
                <tr data-refundid="{{ refund.id }}"
                  class="refund{% if loop.index % 2 != 0 %} stripe{% endif %}">
                  {{ base_td(refund, amo) }}
                  <td class="long declined-date">
                    {{ refund.declined|babel_datetime }}
                  </td>
                </tr>
                {% if refund.rejection_reason %}
                  <tr data-refundid="{{ refund.id }}" class="reason">
                    <td colspan="0">
                      <b>{{ _('Rejection Reason:') }}</b>
                      {{ refund.rejection_reason }}
                    </td>
                  </tr>
                {% endif %}
              {% endfor %}
            </tbody>
          </table>
        {% endif %}
        {{ declined|impala_paginator }}
      </div>

      <div id="wrapper-failed" class="island tabcontent hidden">
        {% if not failed.paginator.count %}
          <p id="queue-failed" class="no-results">
            {{ _('No failed refunds.') }}
          </p>
        {% else %}
          <table id="queue-failed">
            <thead>
              <tr>
                {{ base_th() }}
                <th>{{ _('Failed') }}</th>
              </tr>
            </thead>
            <tbody>
              {% for refund in failed.object_list %}
                <tr data-refundid="{{ refund.id }}"
                  class="refund{% if loop.index % 2 != 0 %} stripe{% endif %}">
                  {{ base_td(refund, amo) }}
                  <td class="action">
                    {{ action_form(refund) }}
                  </td>
                  <td class="long failed-date">
                    {{ refund.failed|babel_datetime }}
                  </td>
                </tr>
                {% if refund.rejection_reason %}
                  <tr data-refundid="{{ refund.id }}" class="reason">
                    <td colspan="0">
                      <b>{{ _('Failure Reason:') }}</b>
                      {{ refund.rejection_reason }}
                    </td>
                  </tr>
                {% endif %}
              {% endfor %}
            </tbody>
          </table>
        {% endif %}
        {{ failed|impala_paginator }}
      </div>

    {% endif %}
  </section>
  {% include 'developers/includes/addons_edit_nav.html' %}
{% endblock %}
{% block js %}
  <script async src="{{ media('js/devreg/refunds.js') }}"></script>
{% endblock %}
