{% extends "developers/base.html" %}
{% from 'developers/includes/macros.html' import some_html_tip %}

{% set title = _('Manage Payments') %}
{% block title %}{{ hub_page_title(title, addon) }}{% endblock %}

{% block content %}
  <header>
    {{ hub_breadcrumbs(addon, items=[(None, title)]) }}
    <h1>{{ title }}</h1>
  </header>
  <section class="primary payments island devhub-form" role="main">
    <h2>{{ _('Step 4. Confirm') }}</h2>
    {% if webapp %}
      <p>
        {{ loc('Please review your Marketplace enrollment details below.
                Once you enroll in Marketplace, your app must be reviewed for
                compliance with Marketplace policies before it will be
                available for sale.') }}
      </p>
    {% else %}
      <p>{% trans %}Please review your Marketplace enrollment details below.
      Once you enroll in Marketplace, your add-on must be reviewed for
      compliance with Marketplace policies before it will be available for sale.
      {% endtrans %}</p>
    {% endif %}
    <form method="post">
      {{ csrf() }}
      <h3 class="indent">{{ addon.name }}</h3>
      <ul class="indent">
        <li>{% trans price=premium.price %}Price {{ price }}{% endtrans %}</li>
        {% if upsell %}
        <li>{% trans name=upsell.free.name %}Premium upgrade to {{ name }}{% endtrans %}</li>
        {% endif %}
      </ul>
      <footer class="listing-footer">
        <button type="submit">{{ _('Enroll in Marketplace') }}</button>
        {% trans cancel=addon.get_dev_url('payments') %}
          or <a href="{{ cancel }}">Cancel</a>
        {% endtrans %}
      </footer>
    </form>
  </section>
  {% include "developers/includes/addons_edit_nav.html" %}
{% endblock %}
