{% extends 'developers/base_impala.html' %}

{% set title = _('Manage Payments') %}
{% block title %}{{ hub_page_title(title, addon) }}{% endblock %}

{% block content %}
  <header>
    {{ hub_breadcrumbs(addon, items=[(None, title)]) }}
    {% if not settings.APP_PREVIEW %}
      {{ l10n_menu(addon.default_locale) }}
    {% endif %}
    <h1>{{ title }}</h1>
  </header>
  <section class="primary payments island devhub-form" role="main">
    <h2>{{ _('Step 3. Upsell Settings') }}</h2>
    <form method="post">
      {{ csrf() }}
      {% include 'developers/payments/includes/upsell.html' %}
      <footer class="listing-footer">
        <button type="submit">{{ _('Continue') }}</button>
        {% trans cancel=addon.get_dev_url('payments') %}
          or <a href="{{ cancel }}">Cancel</a>
        {% endtrans %}
      </footer>
    </form>
  </section>
  {% include 'developers/includes/addons_edit_nav.html' %}
{% endblock %}
