{% from 'detail/includes/price.html' import price %}
{% from 'developers/includes/macros.html' import iarc_rating_icon %}

<div id="summary">
  <h2>{{ _('Details') }}</h2>
  <dl>
    <dt>{{ _('ID') }}</dt>
    <dd>{{ product.id }}</dd>
    <dt>{{ _('Type') }}</dt>
    <dd>
      {% if product.is_packaged %}
        {% if version.is_privileged %}
          {{ _('Privileged Packaged app') }}
        {% else %}
          {{ _('Packaged app') }}
        {% endif %}
      {% else %}
        {{ _('Hosted app') }}
      {% endif %}
    </dd>
    <dt>{{ _('Status') }}</dt>
    <dd{% if product.status == amo.STATUS_BLOCKED %} class="warn"{% endif %}>{{ amo.STATUS_CHOICES[product.status] }}
      {% if product.in_rereview_queue() %}&middot; <b id="queue-rereview">{{ _('In re-review queue') }}</b>{% endif %}
      {% if product.in_escalation_queue() %}&middot; <b id="queue-escalation">{{ _('In escalation queue') }}</b>{% endif %}
    </dd>
    <dt>{{ _('Manifest URL') }}</dt>
    <dd>
      {% if product.is_packaged %}
        <a target="_blank" href="{{ product.get_manifest_url(reviewer=True) }}">{{ product.get_manifest_url(reviewer=True) }}</a>
      {% else %}
        <a target="_blank" href="{{ product.manifest_url }}">{{ product.manifest_url }}</a>
      {% endif %}
      <a href="#" id="view-manifest" data-manifest="{{ product.manifest_url }}"
         data-url="{{ url('reviewers.apps.review.manifest', product.app_slug) }}">
        <b>{{ _('View') }}</b></a>
    </dd>
    {% if product.app_domain %}
    <dt>{{ _('App domain') }}</dt>
    <dd>
      {{ product.app_domain }}
      {% if product.punycode_app_domain != product.app_domain %}
        <br>
        {% trans punycode_app_domain=product.punycode_app_domain %}
          <strong>IDN domain!</strong> punycode version: {{ punycode_app_domain }}
        {% endtrans %}
      {% endif %}
    </dd>
    {% endif %}
    {% if product.is_packaged and product.latest_version %}
      <dt>{{ _('Signed Zip') }}</dt>
      {% with package_url=url('reviewers.signed', product.app_slug, product.latest_version.id) %}
        <dd><a href="{{ package_url|absolutify }}">{{ package_url|absolutify }}</a>
      {% endwith %}
    {% endif %}
    <dt>{{ _('Default Locale') }}</dt>
    <dd>{{ product.default_locale }}</dd>
    <dt>{{ _('Price') }}</dt>
    <dd>{{ price(request, product) }}
      {% if product.is_premium() %}
        &middot;
        <span id="receipt-check-result"
              data-url="{{ url('receipt.check', product.guid) }}"></span>
      {% endif %}
    </dd>
    <dt>{{ _('Ratings') }}</dt>
    <dd class="content-ratings">
      {% for content_rating in product.content_ratings.order_by('ratings_body') %}
        {{ iarc_rating_icon(content_rating) }}
      {% else %}
        <strong>{{ _('This app has not yet been rated') }}</strong>
      {% endfor %}
    </dd>
    <dt>{{ _('Updated') }}</dt>
    <dd class="addon-updated">
      <time datetime="{{ product.last_updated|isotime }}">
        {{ product.last_updated|datetime }}</time>
    </dd>
    {% if product.homepage %}
      <dt>{{ _('Website') }}</dt>
      <dd>
        <a href="{{ product.homepage|external_url }}">
          {{ product.homepage }}</a>
      </dd>
    {% endif %}
    <dt>{{ _('Developer Name') }}</dt>
    <dd>{{ version.developer_name }}</dd>
    {% if product.compatible_apps[APP] %}
      <dt>{{ _('Works with') }}</dt>
      <dd>{{ product.compatible_apps[APP] }}</dd>
    {% endif %}
    {% if product.total_reviews %}
      <dt>{{ _('Rating') }}</dt>
      <dd>{{ impala_reviews_link(product) }}</dd>
    {% endif %}
    <dt>{{ _('Total Downloads') }}</dt>
    <dd class="meta-stats">
      <b class="total-downloads">{{ product.total_downloads|numberfmt }}</b>
      {% if product.public_stats %}
        <a href="{{ product.get_stats_url() }}">{{ _('View Statistics') }}</a>
      {% endif %}
    </dd>
    <dt>{{ _('Weekly Downloads') }}</dt>
    <dd class="meta-stats">
      <b class="weekly-downloads">{{ product.weekly_downloads|numberfmt }}</b>
    </dd>
    <dt>{{ _('Abuse Reports') }}</dt>
    <dd class="abuse-reports">
      <a href="{{ url('reviewers.apps.review.abuse', product.app_slug) }}">
        <b>{{ product.abuse_reports.count()|numberfmt }}</b></a>
    </dd>
    {% with device_types = product.device_types %}
      {% if device_types %}
        <dt>{{ _('Device Types') }}</dt>
        <dd>
          {% for device in device_types %}
            {{ device.name }}{% if not loop.last %}, {% endif %}
          {% endfor %}
        </dd>
      {% endif %}
    {% endwith %}
    {% if product.privacy_policy %}
      <dt>{{ _('Privacy Policy') }}</dt>
      <dd>
        <a href="{{ product.get_detail_url('privacy') }}">
          {{ _('View Privacy Policy') }}</a>
      </dd>
    {% endif %}
    <dt>{{ _('Team Members') }}</dd>
    <dd>
      {% for author in product.authors.all() %}
        <a href="{{ author.get_url_path() }}">
          {{ author.name }}</a>{% if not loop.last %}, {% endif %}
      {% endfor %}
    </dd>
    <dt>{{ _('Categories') }}</dt>
    <dd>
      {% for category in product.categories.all() %}
        <a href="{{ category.get_url_path() }}">
          {{ category.name }}</a>{% if not loop.last %}, {% endif %}
      {% endfor %}
    </dd>
    {% if flags %}
      <dt>{{ _('Flags') }}</dt>
      <dd>{{ flags|join(', ') }}</dd>
    {% endif %}
    <dt>{{ _('Requirements') }}</dt>
    <dd>{{ feature_list|join(', ') }}</dd>
  </dl>
</div>


  {% set previews = product.all_previews %}
  {% if product.description or previews %}
  <h2 id="more-about">{{ _('Description') }}</h2>
  <div class="article userinput">
    <p{{ product.description|locale_html }}>{{ product.description|nl2br }}</p>

    {% if previews %}
      <h2>{{ _('Images') }}</h2>
      {% for preview in previews %}
        <a class="screenshot thumbnail" rel="jquery-lightbox"
           href="{{ preview.image_url }}">
          <img src="{{ preview.thumbnail_url }}">
        </a>
      {% endfor %}
    {% endif %}

  </div>{# /article #}
  {% else %}
    <h2 id="more-about">{{ _('More about this app') }}</h2>
    <div class="article userinput">
      <em class="no-results">
        {{ _('Nothing to see here! The developer did not include any details.') }}
      </em>
    </div>
  {% endif %}

{% if reviews is defined %}
  {{ review_list_box(addon=product, reviews=reviews) }}
{% endif %}

{% if review_form %}
  {% if request.user.is_authenticated() %}
    {{ review_add_box(addon=product) }}
  {% endif %}
{% endif %}

{% if abuse_form %}
  {{ addon_report_abuse(hide=True, addon=product) }}
{% endif %}
