{% macro dropdown_menu(type, title, tabs, is_selected) %}
{# type -- string (e.g. 'queue', 'log')
   title -- translation string (e.g. _('Queues'))
   tabs -- list of url/tab_code/tab_text tuples
   is_selected -- boolean condition to highlight this element #}
  {% if tabs %}
    <li{% if is_selected %} class="selected"{% endif %}>
      <a href="{{ tabs[0][0] }}" class="controller trigger-{{ type }}">{{ title }}</a>
      <ul>
        {% for url_, tab_code, text in tabs %}
          <li><a href="{{ url_ }}">{{ text }}</a></li>
        {% endfor %}
      </ul>
    </li>
  {% endif %}
{% endmacro %}

{% macro mobile_overlay(type, title, tabs) %}
{# type -- string (e.g. 'queue', 'log')
   title -- translation string (e.g. _('Queues'))
   tabs -- list of named_url/tab_code/tab_text tuples #}
  <form id="{{ type }}-tab-overlay" class="hidden" role="dialog" data-type="action">
    <header>{{ title }}</header>
    <menu class="nav-action-menu">
      <div>
        {% for url_, tab_code, text in tabs %}
          <button data-url="{{ url(url_) }}">{{ text }}</button>
        {% endfor %}
      </div>
      <button data-url="#cancel">{{ _('Cancel') }}</button>
    </menu>
  </form>
{% endmacro %}

{% macro tabnav(type, tab, tabs, no_search_toggle) %}
{# type -- string (e.g. 'queue', 'log')
   tabs -- list of named_url/tab_code/tab_text tuples #}
  <ul class="tabnav{{ ' search-toggle' if not no_search_toggle }}">
    {% for named_url, tab_code, text in tabs %}
      <li{% if tab == tab_code %} class="selected trigger-{{ type }}"{% endif %}>
        <a href="{{ named_url }}">{{ text }}</a>
        <div class="tabnav-sprite hidden"></div>
      </li>
    {% endfor %}
  </ul>
{% endmacro %}

{% macro log_filter(type, form) %}
  {# type -- string (e.g. 'apps', 'themes') #}
  <div id="log-filter" class="log-filter-outside island">
    <form action="{{ url('reviewers.' + type + '.logs') }}" method="get">
      <div class="date_range">
        {{ form.start.label_tag() }}
        {{ form.start }}
        {{ form.end.label_tag() }}
        {{ form.end }}
        {{ form.search.label_tag() }}
        {{ form.search }}

        {# L10n: "Filter" is a button label (verb) #}
        <button type="submit">{{ _('Filter') }}</button>
      </div>
    </form>
  </div>
{% endmacro %}

{% macro app_flags(app) %}
  {% if app.is_packaged %}
    <div class="sprite-reviewer sprite-reviewer-packaged-app" title="{{ _('Packaged App') }}"></div>
    {% if app.latest_version.is_privileged %}
      <div class="sprite-reviewer sprite-reviewer-privileged-app" title="{{ _('Privileged App') }}"></div>
    {% endif %}
  {% endif %}
  {% if app.status == amo.STATUS_BLOCKED %}
    <div class="sprite-reviewer sprite-reviewer-blocked" title="{{ _('Blocklisted App') }}"></div>
  {% endif %}

  {% if app.premium_type == amo.ADDON_PREMIUM_INAPP %}
    <div class="sprite-reviewer sprite-reviewer-premium inapp" title="{{ _('Premium with In-App') }}"></div>
  {% elif app.premium_type == amo.ADDON_FREE_INAPP %}
    <div class="sprite-reviewer sprite-reviewer-premium free inapp" title="{{ _('Free with In-App') }}"></div>
  {% elif app.is_premium() %}
    <div class="sprite-reviewer sprite-reviewer-premium" title="{{ _('Premium App') }}"></div>
  {% endif %}

  {% if app.current_version.has_info_request %}
    <div class="sprite-reviewer sprite-reviewer-info" title="{{ _('More Information Requested') }}"></div>
  {% endif %}
  {% if app.current_version.has_editor_comment %}
    <div class="sprite-reviewer sprite-reviewer-editor" title="{{ _('Contains Editor Comment') }}"></div>
  {% endif %}
{% endmacro %}
