<div id="reviews-flagged">
  <form method="post" class="item">
    {% if queue_counts[tab] != 0 and DESKTOP %}
      <div class="review-saved">
        <button type="submit">{{ _('Process Reviews') }}</button>
      </div>
    {% endif %}
    {{ csrf() }}
    {{ reviews_formset.management_form }}
    {% for review in reviews_formset.forms %}
      <div class="review-flagged">
        {% if DESKTOP %}
          <div class="review-flagged-actions">
            {{ review.errors }}
            <strong>{{ _('Moderation actions:') }}</strong>
            {{ review.id }}
            {{ review.action }}
          </div>
        {% endif %}
        <h3>
          <a href="{{ review.instance.addon.get_url_path() }}">{{ review.instance.addon.name }}</a>
          {%- if review.instance.title %}: {{ review.instance.title }}{% endif %}
        </h3>
        {% if DESKTOP %}
          <p>
            {% trans user=review.instance.user|user_link, date=review.instance.created|datetime,
                     stars=review.instance.rating|stars, locale=review.instance.title.locale %}
              by {{ user }} on {{ date }}
              {{ stars }} ({{ locale }})
            {% endtrans %}
            {% if waffle.switch('reviews-translate') %}
            - <a class="translate" rel="nofollow" target="_blank"
                 href="{{ url('reviewers.review_translate', review.instance.addon.slug, review.instance.id, LANG) }}">
                 {{ _('translate') }}
              </a>
            {% endif %}
          </p>
        {% else %}
          <p>
            {% trans user=review.instance.user|user_link,
                     date=review.instance.created|datetime,
                     stars=review.instance.rating|stars,
                     locale=review.instance.title.locale %}
              {{ stars }}
              by {{ user }} on {{ date }} ({{ locale }})
            {% endtrans %}
          </p>
        {% endif %}
        <p class="description">{{ review.instance.body|nl2br }}</p>
        <ul class="reviews-flagged-reasons">
          {% for reason in review.instance.reviewflag_set.all() %}
            <li>
              <div>
                {% trans user=reason.user|user_link, date=reason.modified|babel_datetime,
                         reason=flags[reason.flag] %}
                <strong>{{ reason }}</strong>
                <span class="light">Flagged by {{ user }} on {{ date }}</span>
                {% endtrans %}
              </div>
              {{ reason.note }}
            </li>
          {% endfor %}
        </ul>
        {% if not DESKTOP %}
          <div class="review-flagged-actions hidden">
            {{ review.errors }}
            <strong>{{ _('Moderation actions:') }}</strong>
            {{ review.id }}
            {{ review.action }}
          </div>
        {% endif %}
      </div>
    {% endfor %}
    {% if queue_counts[tab] == 0 %}
      <div class="no-results">{{ _('All reviews have been moderated. Good work!') }}</div>
    {% else %}
      <div class="review-saved review-flagged">
        <button type="submit">{{ _('Process Reviews') }}</button>
      </div>
    {% endif %}
  </form>
</div>

