{% from 'site/helpers/form_row.html' import form_row %}

{% if search_form %}
  <div id="queue-search"{% if not DESKTOP %} class="mobile-queue-search"{% endif %} data-api-url="{{ search_url }}">
    <form class="c">
      <label for="{{ search_form.q.auto_id }}">{{ search_form.q.label }}</label>
      {{ search_form.q }}
      <button class="button" type="submit"><span>{{ _('Search') }}</button>
      <a class="toggle-queue-search" href="#">{{ _('Advanced Search') }}</a>
      <a id="clear-queue-search" class="hidden" href="{{ url('reviewers.apps.queue_%s' % tab) }}">({{ _('Clear Search') }})</a>

      <div class="advanced-search c{% if not adv_searching %} hidden{% endif %}">
        <div class="basic-filters">
          {# TODO: Add back 'admin_review', 'has_editor_comment', 'has_info_request', 'waiting_time_days' when they are in elasticsearch. #}
          {{ form_row(search_form, ('status', 'app_type')) }}
        </div>
        <div class="device-type-select">
          {{ form_row(search_form, ('device',)) }}
        </div>
        <div class="premium-type-select">
          {{ form_row(search_form, ('premium_types',)) }}
        </div>
      </div>
      {{ search_form.limit }}

    </form>
  </div>
{% endif %}
