{% from 'site/helpers/form_row.html' import form_row %}

{% if search_form %}
  <div class="queue-search island c" data-api-url="{{ search_url }}"
                                     data-review-url="{{ url('reviewers.apps.review', '__slug__') }}">
    <form class="c">
      {{ search_form.q }}
      <input type="hidden" name="lang" value="any" />
      <button class="search button" type="submit"><span>{{ _('Search') }}</span></button>
      <a class="toggle-queue-search" href="#">{{ _('Advanced Search') }}</a>
      <span class="clear-queue-search hidden">
        | <a>{{ _('Clear Search') }}</a>
      </span>

      <div class="advanced-search desktop c hidden">
        <div class="form-elems c">
          {{ form_row(search_form, ('status', 'app_type', 'device',
                                    'premium_types')) }}
          {# TODO: Add back 'admin_review', 'waiting_time_days' when they are
             in elasticsearch. #}
          {{ form_row(search_form, ('has_editor_comment', 'has_info_request', 'is_escalated')) }}
        </div>
      </div>
      {{ search_form.limit }}
    </form>
  </div>
{% endif %}
