{% set urls = [
  (stats_url('overview'), _('Overview')),
  (stats_url('installs'), _('Installs')),
] %}

{% set sales_filters = [
  ('revenue', stats_url('revenue'), _('Amount Earned')),
  ('sales', stats_url('sales'), _('Units Sold')),
  ('refunds', stats_url('refunds'), _('Units Refunded'))
] %}

<section class="secondary">
  <div class="report-menu" id="side-nav">
    <ul>
      {% for link, title in urls %}
        <li{% if url_quote(request.path) == link %} class="selected active"{% endif %}>
          <a href="{{ link }}">{{ title }}</a></li>
      {% endfor %}

      {% if ((addon.is_premium() or inapps) and check_contrib_stats_perms(addon)) %}

        {% for action, link, title in sales_filters %}
          {% set match_links = [
            link, stats_url(action, metric='currency'),
            stats_url(action, metric='source'),
          ] %}

          {# If a breakdown view is selected, the parent view is still active. #}
          <li{% if url_quote(request.path) in match_links %} class="selected active"{% endif %}>
            <a href="{{ link }}">{{ title }}</a></li>

          {% set breakdown_links = [
            (stats_url(action, metric='currency'), _('by Currency')),
            (stats_url(action, metric='source'), _('by Source')),
          ] %}
          {% for link, title in breakdown_links %}
            <li class="secondary-nav {{ 'selected active' if url_quote(request.path) == link }}">
              <a href="{{ link }}">{{ title }}</a>
            </li>
          {% endfor %}

        {% endfor %}
      {% endif %}

    </ul>
  </div>
</section>
