[submodule "media/img/amo2009"]
	path = media/img/amo2009
	url = git://github.com/jbalogh/amo2009-img.git
[submodule "media/css"]
	path = media/css
	url = git://github.com/jbalogh/amo2009-css.git
[submodule "media/js"]
	path = media/js
	url = git://github.com/davedash/amo-js.git
[submodule "configs"]
	path = configs
	url = git://github.com/davedash/amo-configs
[submodule "lib/product_details/json"]
	path = lib/product_details/json
	url = git://github.com/jbalogh/mozilla-product-details.git
[submodule "locale"]
	path = locale
	url = git://github.com/clouserw/amo-locales.git
