.env
*.egg-info
settings_local.py*
settings_local_*.py
local_settings.py
shellng_local.py
*.py[co]
.*.sw?
pip-log.txt
docs/_gh-pages
docs/api/_build
build*.py
.DS_Store
*.js.tmp
*.css.tmp
*-min.css
*-all.css
*-min.js
*-all.js
*.less.css
*.styl.css
.nose*
tmp/*
.pytest_cache/*
node_modules
.npm/
static/css/node_lib/*
static/js/node_lib/*
*.signed.zip
*.po~
*.mo
site-static/*
user-media/*
guarded-addons/*
.tox/
MANIFEST
docker/artifacts/*
logs/*
supervisord.pid
.ipython
docker*.yml
.cache
.vscode
