[submodule "templates/global"]
	path = templates/global
	url = https://github.com/mozilla/django-moz-header.git
[submodule "media/css/global"]
	path = media/css/global
	url = https://github.com/mozilla/django-moz-header.git
[submodule "media/js/global"]
	path = media/js/global
	url = https://github.com/mozilla/django-moz-header.git
[submodule "vendor"]
	path = vendor
	url = https://github.com/mozilla/zamboni-lib.git
