.env
*.egg-info
settings_local.py*
settings_local_*.py
local_settings.py
shellng_local.py
*.py[co]
.*.sw?
.coverage
.vagrant
pip-log.txt
docs/_gh-pages
docs/api/_build
src/olympia/lib/product_json/.gitignore
src/olympia/lib/product_json/*.json
src/olympia/lib/product_json/.last_update
src/olympia/lib/product_json/*.json.last_modified
src/olympia/lib/product_json/regions/*.json
src/olympia/lib/product_json/regions/.last_update
src/olympia/lib/product_json/regions/*.json.last_modified
build*.py
web/media/build_id.txt
web/media/manifest.appcache
web/media/external/*
.DS_Store
.idea
/media/img/uploads
*.js.tmp
*.css.tmp
*-min.css
*-all.css
*-min.js
*-all.js
*.less.css
*.styl.css
vendor
.nose*
tmp/*
cache/*
dist/*
tags
vagrantconfig_local.yaml
vagrant/manifests/classes/custom.pp
node_modules
.npm/
static/css/node_lib/*
static/js/node_lib/*
commonplace_projects
web/media/fireplace
web/media/rocketfuel
web/media/commbadge
web/media/marketplace-stats
*.signed.zip
*.po~
site-static/*
user-media/*
guarded-addons/*
.tox/
.cache/
MANIFEST
docker/artifacts/*
logs/*
supervisord.pid
.ipython
docker*.yml
