*.css.tmp
*.egg-info
*.js.tmp
*.less.css
*.mo
*.po~
*.py[co]
*.signed.zip
*.styl.css
*-all.css
*-all.js
*-min.css
*-min.js
.*.sw?
.cache
.DS_Store
.env
.ipython
.mysql_history
.nose*
.npm/
.pdbhistory
.pytest_cache
.ssh
.tox/
.vscode
backups
build*.py
buildx-bake-metadata.json
deps/*
docker*.yml
docker/artifacts/*
docs/_build
docs/_gh-pages
docs/api/_build
docs/topics/models
local_settings.py
MANIFEST
node_modules
pip-log.txt
private/
.ruff_cache
settings_local.py*
settings_local_*.py
shellng_local.py
site-static/*
src/olympia/discovery/strings.jinja2
static-build/*
static/css/node_lib/*
static/js/node_lib/*
storage/*
tmp/*

# End of .gitignore. Please keep this in sync with the top section of .dockerignore

# do not ignore the following files
!docker-compose.private.yml
!docker-compose.minimal.yml
!docker-compose.tools.yml
!private/README.md
