language: python
sudo: false

python:
  - 2.7

env:
  global:
    - secure: "bYe6WOTAnlS8Ru4ODWSSOnHffxcN23NkKZh4M0eO510HvZGCMB4zZn8afiVKGXd1YqsoRfMXTBZJ0yBcFEvWnyH7S4kd+7d1PpNS4kgLVKtLCW5d7Wc5GA6uh1jWLS+zKFBNN5sZ8OVc7rCsLCBRDEoI94wBKYwDX2Kk1WKylz8="
  matrix:
  - TOXENV=flake8
  - TOXENV=docs
  - TOXENV=assets
  - TOXENV=es
  - TOXENV=addons
  - TOXENV=devhub
  - TOXENV=reviewers
  - TOXENV=amo
  - TOXENV=users
  - TOXENV=main

cache:
  pip: true
  directories:
    - node_modules

services:
  - mysql
  - memcached
  - elasticsearch
  - redis

addons:
  apt:
    sources:
      - elasticsearch-5.x
    packages:
      - swig
      - oracle-java8-set-default
      - elasticsearch
      - gettext

before_install:
  - mysql -e 'create database olympia;'

install:
  - nvm current
  - nvm deactivate
  - nvm install 6
  - nvm use 6
  - pip install --upgrade pip wheel setuptools tox==1.8.1
  - ./scripts/start-autograph.sh

before_script:
  - mysql --version
  - node --version
  - java -version
  - curl -v http://localhost:9200/

script:
  - |
    if [[ $TRAVIS_EVENT_TYPE != "cron" ]]; then
      RUNNING_IN_CI=True tox -v
    fi
  - |
    if [[ $TRAVIS_EVENT_TYPE == "cron" ]]; then
      bash scripts/travis-extract-l10n.sh
    fi

notifications:
  irc:
    channels:
      - "irc.mozilla.org#amo-bots"
    on_success: change
    on_failure: always

git:
  depth: 1
