language: python
python:
  - "2.6"
env:
  - TOX_ENV=flake8
  - TOX_ENV=docs
  - TOX_ENV=assets
  - TOX_ENV=es
  - TOX_ENV=addons-devhub-editors
  - TOX_ENV=main
services:
  - memcached
before_install:
  - sudo apt-get install swig
  - wget https://download.elasticsearch.org/elasticsearch/elasticsearch/elasticsearch-1.3.2.deb && sudo dpkg -i elasticsearch-1.3.2.deb
  - sudo /usr/share/elasticsearch/bin/elasticsearch -d -D es.path.data=/tmp -D es.gateway.type=none -D es.index.store.type=memory -D es.discovery.zen.ping.multicast.enabled=false
install:
  - pip install tox
before_script:
  - mysql -e 'create database olympia;'
script:
  - tox -v -e $TOX_ENV --recreate
notifications:
  irc:
    channels:
      - "irc.mozilla.org#amo-bots"
    on_success: change
    on_failure: always
