language: python
dist: xenial

python:
  - 3.6

addons:
  apt:
    packages: &global_deps
      - cmake
      - swig
      - elasticsearch
      - gettext
      - librsvg2-bin
      - pngcrush
      - uuid
      - libgit2-dev

jobs:
  fast_finish: true
  include:
    - { env: TOXENV=codestyle }
    - { env: TOXENV=docs }
    - { env: TOXENV=assets }
    - { env: TOXENV=addons-versions-files-ratings }
    - { env: TOXENV=es ES_VERSION=5.x }
    - { env: TOXENV=es ES_VERSION=6.x }
    - { env: TOXENV=devhub }
    - { env: TOXENV=reviewers-and-zadmin }
    - { env: TOXENV=amo-lib-locales-and-signing }
    - { env: TOXENV=main }

env:
  global:
    - secure: "bYe6WOTAnlS8Ru4ODWSSOnHffxcN23NkKZh4M0eO510HvZGCMB4zZn8afiVKGXd1YqsoRfMXTBZJ0yBcFEvWnyH7S4kd+7d1PpNS4kgLVKtLCW5d7Wc5GA6uh1jWLS+zKFBNN5sZ8OVc7rCsLCBRDEoI94wBKYwDX2Kk1WKylz8="
    - AUTOGRAPH_SERVER_URL: http://localhost:5500

cache:
  pip: true
  directories:
    - node_modules
    - $HOME/.gimme

services:
  - mysql
  - memcached
  - redis

before_install:
  - mysql -e 'create database olympia;'
  - export GOPATH=$HOME/go
  - export PATH=$HOME/usr/local/go/bin:$GOPATH/bin:$PATH
  # Unfortunately we require the most recent libmagic-dev version to make use of more recent
  # JSON detection features which we require for the code-manager related APIs
  - echo "deb http://archive.ubuntu.com/ubuntu eoan main" | sudo tee -a /etc/apt/sources.list
  - sudo apt-get update -qq
  - sudo apt-get install -t eoan libmagic-dev libmagic1 libmagic-mgc
  - echo "text/markdown                                   md markdown" | sudo tee -a /etc/mime.types
  - |
    if [ $TOXENV == "es" ]; then
        if [ $ES_VERSION == "6.x" ]; then
            curl -s -O https://artifacts.elastic.co/downloads/elasticsearch/elasticsearch-6.8.8.deb
            sudo dpkg -i --force-confnew elasticsearch-6.8.8.deb
            sudo sed -i.old 's/-Xms1g/-Xms128m/' /etc/elasticsearch/jvm.options
            sudo sed -i.old 's/-Xmx1g/-Xmx128m/' /etc/elasticsearch/jvm.options
            echo -e '-XX:+DisableExplicitGC\n-Djdk.io.permissionsUseCanonicalPath=true\n-Dlog4j.skipJansi=true\n-server\n' | sudo tee -a /etc/elasticsearch/jvm.options
            sudo chown -R elasticsearch:elasticsearch /etc/default/elasticsearch
        fi
        sudo systemctl start elasticsearch
    fi

install:
  - nvm current
  - nvm deactivate
  - nvm install 10
  - nvm use 10
  - pip install --no-deps -r requirements/travis_base.txt

before_script:
  - mysql --version
  - node --version
  - java -version
  - |
    if [ $TOXENV == "es" ]; then
        sudo ls -alR /etc/elasticsearch/;
        sudo cat /etc/elasticsearch/elasticsearch.yml;
        sudo cat /etc/elasticsearch/jvm.options;
        sleep 10;
        sudo ls -alR /var/log/elasticsearch/;
        sudo cat /var/log/elasticsearch/elasticsearch.log;
        curl -v http://localhost:9200/;
    fi
  - sudo touch /addons-server-docker-container

script:
  - |
    if [ $TRAVIS_EVENT_TYPE != "cron" ]; then
      if [ $TOXENV == "amo-lib-locales-and-signing" ] || [ $TOXENV == "reviewers-and-zadmin" ] ; then
         docker run --name autograph -d -p 5500:5500 -v $(pwd)/scripts/:/scripts/ mozilla/autograph:3.3.2 /go/bin/autograph -c /scripts/autograph_travis_test_config.yaml
      fi
      RUNNING_IN_CI=True tox
    fi
  - |
    if [ $TRAVIS_EVENT_TYPE == "cron" ]; then
      # Only run the extraction on "main" environment to avoid creating
      # 8 pull requests for each tox environment.
      if [ $TOXENV == "main" ]; then
          bash scripts/travis-extract-l10n.sh
      fi
    fi

after_script:
  - docker stop autograph

notifications:
  slack:
    if: branch = master
    rooms:
      - secure: VuUiui/fUMV6cXrYpTXrzLnYurcsJQOeczWA2rvsq8fCFjSe4MXMgv/kF/2b7F7O8mmEgQAUGozJAaChmYCiwDFOtki7bUBGl6yOm5OWW1ZnkTxObXB7pKG/aFT0VoF4EKIRp46M4tT8yqZ0m+CXP8/rITE0aLJoz/xmGzOaCc8=
    on_success: change
    on_failure: always

git:
  depth: 1
