language: python
sudo: false

python:
  - 2.7

env:
  global:
    - secure: "bYe6WOTAnlS8Ru4ODWSSOnHffxcN23NkKZh4M0eO510HvZGCMB4zZn8afiVKGXd1YqsoRfMXTBZJ0yBcFEvWnyH7S4kd+7d1PpNS4kgLVKtLCW5d7Wc5GA6uh1jWLS+zKFBNN5sZ8OVc7rCsLCBRDEoI94wBKYwDX2Kk1WKylz8="
    - AUTOGRAPH_SERVER_URL: http://localhost:5500
  matrix:
  - TOXENV=codestyle
  - TOXENV=docs
  - TOXENV=assets
  - TOXENV=es
  - TOXENV=addons
  - TOXENV=devhub
  - TOXENV=reviewers
  - TOXENV=amo-locales-and-signing
  - TOXENV=users-and-accounts
  - TOXENV=main

cache:
  pip: true
  directories:
    - node_modules
    - $HOME/.gimme

addons:
  apt:
    sources:
      - elasticsearch-5.x
    packages:
      - swig
      - elasticsearch
      - gettext
      - librsvg2-bin
      - pngcrush

services:
  - mysql
  - memcached
  - elasticsearch
  - redis

before_install:
  - mysql -e 'create database olympia;'
  - export GOPATH=$HOME/go
  - export PATH=$HOME/usr/local/go/bin:$GOPATH/bin:$PATH

install:
  - nvm current
  - nvm deactivate
  - nvm install 6
  - nvm use 6
  - pip install --upgrade pip wheel setuptools tox==2.9.1

before_script:
  - mysql --version
  - node --version
  - java -version
  - curl -v http://localhost:9200/

script:
  - |
    if [[ $TRAVIS_EVENT_TYPE != "cron" ]]; then
      if [[ $TOXENV == "amo-locales-and-signing" ]]; then
         docker run --name autograph -d -p 5500:5500 -v $(pwd)/scripts/:/scripts/ mozilla/autograph:latest /go/bin/autograph -c /scripts/autograph_travis_test_config.yaml
      fi
      RUNNING_IN_CI=True tox
    fi
  - |
    if [[ $TRAVIS_EVENT_TYPE == "cron" ]]; then
      # Only run the extraction on "main" environment to avoid creating
      # 8 pull requests for each tox environment.
      if [[ $TOXENV == "main" ]]; then
          bash scripts/travis-extract-l10n.sh
      fi
    fi

after_script:
  - docker stop autograph

notifications:
  irc:
    channels:
      - "irc.mozilla.org#amo-bots"
    on_success: change
    on_failure: always

git:
  depth: 1
