language: python
sudo: false
python:
  - "2.6"
env:
  - TOX_ENV=flake8
  - TOX_ENV=docs
  - TOX_ENV=assets
  - TOX_ENV=es
  - TOX_ENV=addons-devhub-editors
  - TOX_ENV=main
services:
  - memcached
before_install:
  - scripts/travis_es.sh
  - /tmp/elasticsearch/elasticsearch-1.3.2/bin/elasticsearch -d -D es.path.data=/tmp -D es.gateway.type=none -D es.index.store.type=memory -D es.discovery.zen.ping.multicast.enabled=false
install:
  - pip install tox
before_script:
  - mysql -e 'create database olympia;'
script:
  - RUNNING_IN_CI=True tox -v -e $TOX_ENV --recreate
notifications:
  irc:
    channels:
      - "irc.mozilla.org#amo-bots"
    on_success: change
    on_failure: always
