language: python
sudo: false

python:
  - 2.7

jobs:
  fast_finish: true
  allow_failures:
    - python: 3.6
  include:
    - { stage: python2, env: TOXENV=codestyle }
    - { stage: python2, env: TOXENV=docs }
    - { stage: python2, env: TOXENV=assets }
    - { stage: python2, env: TOXENV=es }
    - { stage: python2, env: TOXENV=addons }
    - { stage: python2, env: TOXENV=devhub }
    - { stage: python2, env: TOXENV=reviewers-and-zadmin }
    - { stage: python2, env: TOXENV=amo-locales-and-signing }
    - { stage: python2, env: TOXENV=users-accounts-and-ratings }
    - { stage: python2, env: TOXENV=main }
    - { stage: python3, python: 3.6, env: TOXENV=codestyle}
    - { stage: python3, python: 3.6, env: TOXENV=docs }
    - { stage: python3, python: 3.6, env: TOXENV=assets }
    - { stage: python3, python: 3.6, env: TOXENV=es }
    - { stage: python3, python: 3.6, env: TOXENV=addons }
    - { stage: python3, python: 3.6, env: TOXENV=devhub }
    - { stage: python3, python: 3.6, env: TOXENV=reviewers-and-zadmin }
    - { stage: python3, python: 3.6, env: TOXENV=amo-locales-and-signing }
    - { stage: python3, python: 3.6, env: TOXENV=users-accounts-and-ratings }
    - { stage: python3, python: 3.6, env: TOXENV=main }

env:
  global:
    - secure: "bYe6WOTAnlS8Ru4ODWSSOnHffxcN23NkKZh4M0eO510HvZGCMB4zZn8afiVKGXd1YqsoRfMXTBZJ0yBcFEvWnyH7S4kd+7d1PpNS4kgLVKtLCW5d7Wc5GA6uh1jWLS+zKFBNN5sZ8OVc7rCsLCBRDEoI94wBKYwDX2Kk1WKylz8="
    - AUTOGRAPH_SERVER_URL: http://localhost:5500

cache:
  pip: true
  directories:
    - node_modules
    - $HOME/.gimme

addons:
  apt:
    sources:
      - elasticsearch-5.x
    packages:
      - cmake
      - swig
      - elasticsearch
      - gettext
      - librsvg2-bin
      - pngcrush
      - uuid

services:
  - mysql
  - memcached
  - elasticsearch
  - redis

before_install:
  - mysql -e 'create database olympia;'
  - export GOPATH=$HOME/go
  - export PATH=$HOME/usr/local/go/bin:$GOPATH/bin:$PATH
  - export LIBGIT2=$(pwd)/libgit2/install/
  - export LD_LIBRARY_PATH=$(pwd)/libgit2/install/lib

install:
  - nvm current
  - nvm deactivate
  - nvm install 8
  - nvm use 8
  - pip install --upgrade pip wheel setuptools tox==3.2.1 tox-travis==0.10
  - ./scripts/travis-install-libgit2.sh

before_script:
  - mysql --version
  - node --version
  - java -version
  - curl -v http://localhost:9200/

script:
  - |
    if [[ $TRAVIS_EVENT_TYPE != "cron" ]]; then
      if [[ $TOXENV == "amo-locales-and-signing" ]]; then
         docker run --name autograph -d -p 5500:5500 -v $(pwd)/scripts/:/scripts/ mozilla/autograph:2.3.2 /go/bin/autograph -c /scripts/autograph_travis_test_config.yaml
      fi
      RUNNING_IN_CI=True tox
    fi
  - |
    if [[ $TRAVIS_EVENT_TYPE == "cron" ]]; then
      # Only run the extraction on "main" environment to avoid creating
      # 8 pull requests for each tox environment.
      if [[ $TOXENV == "main" ]]; then
          bash scripts/travis-extract-l10n.sh
      fi
    fi

after_script:
  - docker stop autograph

notifications:
  irc:
    channels:
      - "irc.mozilla.org#amo-bots"
    on_success: change
    on_failure: always

git:
  depth: 1
