language: python
dist: xenial

python:
  - 3.6

jobs:
  fast_finish: true
  include:
    - { env: TOXENV=codestyle }
    - { env: TOXENV=docs }
    - { env: TOXENV=assets }
    - { env: TOXENV=es }
    - { env: TOXENV=addons-versions-files-ratings }
    - { env: TOXENV=devhub }
    - { env: TOXENV=reviewers-and-zadmin }
    - { env: TOXENV=amo-lib-locales-and-signing }
    - { env: TOXENV=main }

env:
  global:
    - secure: "bYe6WOTAnlS8Ru4ODWSSOnHffxcN23NkKZh4M0eO510HvZGCMB4zZn8afiVKGXd1YqsoRfMXTBZJ0yBcFEvWnyH7S4kd+7d1PpNS4kgLVKtLCW5d7Wc5GA6uh1jWLS+zKFBNN5sZ8OVc7rCsLCBRDEoI94wBKYwDX2Kk1WKylz8="
    - AUTOGRAPH_SERVER_URL: http://localhost:5500

cache:
  pip: true
  directories:
    - node_modules
    - $HOME/.gimme

addons:
  apt:
    sources:
      - elasticsearch-5.x
    packages:
      - cmake
      - swig
      - elasticsearch
      - gettext
      - librsvg2-bin
      - pngcrush
      - uuid

services:
  - mysql
  - memcached
  - elasticsearch
  - redis

before_install:
  - mysql -e 'create database olympia;'
  - export GOPATH=$HOME/go
  - export PATH=$HOME/usr/local/go/bin:$GOPATH/bin:$PATH
  # Unfortunately we require the most recent libmagic-dev version to make use of more recent
  # JSON detection features which we require for the code-manager related APIs
  - echo "deb http://archive.ubuntu.com/ubuntu disco main" | sudo tee -a /etc/apt/sources.list
  - sudo apt-get update -qq
  - sudo apt-get install -t disco libmagic-dev libmagic1 libmagic-mgc

install:
  - nvm current
  - nvm deactivate
  - nvm install 8
  - nvm use 8
  - pip install --no-deps -r requirements/travis_base.txt

before_script:
  - mysql --version
  - node --version
  - java -version
  - curl -v http://localhost:9200/
  - sudo touch /addons-server-docker-container

script:
  - |
    if [ $TRAVIS_EVENT_TYPE != "cron" ]; then
      if [ $TOXENV == "amo-lib-locales-and-signing" ] || [ $TOXENV == "reviewers-and-zadmin" ] ; then
         docker run --name autograph -d -p 5500:5500 -v $(pwd)/scripts/:/scripts/ mozilla/autograph:3.3.2 /go/bin/autograph -c /scripts/autograph_travis_test_config.yaml
      fi
      RUNNING_IN_CI=True tox
    fi
  - |
    if [ $TRAVIS_EVENT_TYPE == "cron" ]; then
      # Only run the extraction on "main" environment to avoid creating
      # 8 pull requests for each tox environment.
      if [ $TOXENV == "main" ]; then
          bash scripts/travis-extract-l10n.sh
      fi
    fi

after_script:
  - docker stop autograph

notifications:
  slack:
    secure: dxBgnk1N6Tj4I0zJzZ1qmbJKelXz2oMi6onYHldpuGPh+tDBfoU6IHA6mqUrrP0CXX2RPWh0G0W3w8jVDw4CInp0VpNW64P2JBvl7JqVxUYFZPBO2MSjLai02+x+YyDFuN4OxPnuuRtcapq74Jl9kzQ0KEflZ3B2wptUvkE2+rk=
    on_success: change
    on_failure: always

git:
  depth: 1
