version: "2.4"

services:
  worker:
    depends_on:
      - customs

  customs:
    build:
      context: ./private/addons-customs-scanner
    environment:
      - ALLOWED_ORIGIN=http://olympia.test
      - PORT=10101
    links:
      - "nginx:olympia.test"
    depends_on:
      - web
