x-env-mapping: &env
  # https://docs.docker.com/compose/environment-variables/envvars-precedence/
  env_file:
    - .env
  environment:
    - CELERY_BROKER_URL=amqp://olympia:olympia@rabbitmq/olympia
    - CELERY_RESULT_BACKEND=redis://redis:6379/1
    - DATABASES_DEFAULT_URL=mysql://root:@mysqld/olympia
    - ELASTICSEARCH_LOCATION=elasticsearch:9200
    - MEMCACHE_LOCATION=memcached:11211
    - MYSQL_DATABASE=olympia
    - MYSQL_ROOT_PASSWORD=docker
    - OLYMPIA_SITE_URL=http://olympia.test
    - PYTHONDONTWRITEBYTECODE=1
    - PYTHONUNBUFFERED=1
    - PYTHONBREAKPOINT=ipdb.set_trace
    - TERM=xterm-256color
    - HISTFILE=/data/olympia/docker/artifacts/bash_history
    - HISTSIZE=50000
    - HISTIGNORE=ls:exit:"cd .."
    - HISTCONTROL=erasedups
    - CIRCLECI
    - DATA_BACKUP_SKIP

x-olympia: &olympia
  <<: *env
  image: ${DOCKER_TAG:-}
  # We don't want docker compose to manage the image for us.
  # We sometimes build the image locally and sometimes pull from a registry
  # but docker compose should always assume the image is available.
  pull_policy: never
  # We drop down to a different user through entrypoint.sh, but starting as
  # root allows us to fix the ownership of files generated at image build
  # time through the ./docker/entrypoint.sh script.
  user: root
  platform: linux/amd64
  entrypoint: ["/data/olympia/docker/entrypoint.sh"]

services:
  olympia_volumes:
    <<: *olympia
    # We could let this container exit 0, but docker compose --wait
    # interprets this as a failure, even with a passing healtcheck.
    # so we just sleep indefinitely instead.
    command: ["sleep", "infinity"]
    volumes:
      # used by: web, worker, nginx
      - ${HOST_MOUNT_SOURCE:?}:/data/olympia
      - ${HOST_MOUNT_SOURCE:?}deps:/data/olympia/deps
      - ./site-static:/data/olympia/site-static
      - ./storage:/data/olympia/storage
  worker:
    <<: *olympia
    command: [
      "DJANGO_SETTINGS_MODULE=settings",
      "watchmedo",
      "auto-restart",
      "--directory=/data/olympia/src",
      "--pattern=*.py",
      "--recursive",
      "--no-restart-on-command-exit",
      "--",
      "celery -A olympia.amo.celery:app worker -E -c 2 --loglevel=INFO",
    ]
    volumes:
      - ${HOST_MOUNT_SOURCE:?}:/data/olympia
      - ${HOST_MOUNT_SOURCE:?}deps:/data/olympia/deps
      - ./storage:/data/olympia/storage
    extra_hosts:
     - "olympia.test:127.0.0.1"
    restart: on-failure:5
    healthcheck:
      test: ["CMD-SHELL", "./manage.py monitors --services celery_worker --skip-checks"]
      interval: 30s
      retries: 3
      start_interval: 1s
    depends_on:
      - olympia_volumes
      - mysqld
      - elasticsearch
      - redis
      - memcached
      - rabbitmq
      - autograph

  web:
    extends:
      service: worker
    command:
      - uwsgi --ini /data/olympia/docker/uwsgi.ini
    healthcheck:
      test: ["CMD-SHELL", "./manage.py monitors --services localdev_web --skip-checks"]
      interval: 30s
      retries: 3
      start_interval: 1s
    volumes:
      - ./static-build:/data/olympia/static-build
      - ./site-static:/data/olympia/site-static

  nginx:
    image: nginx
    volumes:
      - data_nginx:/etc/nginx/conf.d
      - ${HOST_MOUNT_SOURCE:?}:/srv
      - ./site-static:/srv/site-static
      - ./storage:/srv/storage
    ports:
      - "80:80"
    networks:
      default:
        aliases:
          - olympia.test
    depends_on:
      - olympia_volumes

  memcached:
    image: memcached:1.4
    # Remove this once we upgrade to a version that provides multi-platform images
    platform: linux/amd64

  mysqld:
    image: mysql:8.0
    environment:
      - MYSQL_ALLOW_EMPTY_PASSWORD=yes
      - MYSQL_DATABASE=olympia
    ports:
    - "3306:3306"
    volumes:
      - data_mysqld:/var/lib/mysql
    command:
      # Optimize for development speed over durability
      - --innodb-flush-log-at-trx-commit=0
      - --innodb-buffer-pool-size=64M
      - --innodb-log-buffer-size=8M
      - --innodb-log-file-size=32M
      # Skip DNS lookups
      - --skip-name-resolve
      # Disable performance schema for faster startup
      - --performance-schema=OFF
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost", "--silent"]
      start_interval: 1s
      timeout: 2s
      start_period: 10s
      retries: 3

  elasticsearch:
    image: docker.elastic.co/elasticsearch/elasticsearch:7.17.3
    environment:
      # Disable all xpack related features to avoid unrelated logging
      # in docker logs. https://github.com/mozilla/addons-server/issues/8887
      # This also avoids us to require authentication for local development
      # which simplifies the setup.
      - xpack.security.enabled=false
      - xpack.monitoring.enabled=false
      - xpack.graph.enabled=false
      - xpack.watcher.enabled=false
      - "discovery.type=single-node"
      - "ES_JAVA_OPTS=-Xms512m -Xmx512m"
    mem_limit: 2g

  redis:
    image: redis:6.2

  rabbitmq:
    image: rabbitmq:3.12
    hostname: olympia
    expose:
      - "5672"
    environment:
      - RABBITMQ_DEFAULT_USER=olympia
      - RABBITMQ_DEFAULT_PASS=olympia
      - RABBITMQ_DEFAULT_VHOST=olympia

  autograph:
    image: mozilla/autograph:3.3.2
    platform: linux/amd64
    command: /go/bin/autograph -c /data/autograph/autograph_localdev_config.yaml
    volumes:
      - data_autograph:/data/autograph

  addons-frontend:
    <<: *env
    image: mozilla/addons-frontend:latest
    platform: linux/amd64
    environment:
      # We change the proxy port (which is the main entrypoint) as well as the
      # webpack port to avoid a conflict in case someone runs both addons-server
      # and addons-frontend locally, with the frontend configured to access
      # addons-server locally.
      - PROXY_PORT=7010
      - WEBPACK_SERVER_PORT=7011
    ports:
      # We need to expose this port so that statics can be fetched (they are
      # exposed using webpack and not by the node app server).
      - 7011:7011
    command: yarn amo:olympia

networks:
  default:
    driver: bridge
    enable_ipv6: false

volumes:
  # Volumes for the production olympia mounts
  # allowing to conditionally mount directories
  # from the host or from the image to <path>
  # in the running docker container.
  # If OLYMPIA_MOUNT_SOURCE matches (data_olympia_)
  # then we use the production volume mounts. Otherwise
  # it will map to the current directory ./<name>
  # (data_olympia_)<name>:/<path>
  data_olympia_:
  data_olympia_deps:
  # Volume for rabbitmq/redis to avoid anonymous volumes
  data_rabbitmq:
  data_redis:
  data_mysqld:
    # Keep this value in sync with Makefile-os
    # External volumes must be manually created/destroyed
    name: addons-server_data_mysqld
    external: true
  # Volume for nginx configuration
  data_nginx:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: ${PWD}/docker/nginx
  # Volume for autograph configuration
  data_autograph:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: ${PWD}/docker/autograph
