name: test_actions

services:
  base:
    image: scratch
    working_dir: /workdir
    volumes:
      - .:/workdir

  actionlint:
    extends: base
    image: rhysd/actionlint:1.7.8@sha256:96d4a8c87dbbfb3bdd324f8fdc285fc3df5261e2decc619a4dd7e8ee52bbfd46

  zizmor:
    extends: base
    image: ghcr.io/zizmorcore/zizmor:1.16.3@sha256:f09cee55087d54e7a162fc255ffe82ef942f68e683f967c8a6471ffe35e7ec64
    environment:
      - GH_TOKEN
