name: test_actions

services:
  base:
    image: scratch
    working_dir: /workdir
    volumes:
      - .:/workdir

  actionlint:
    extends: base
    image: rhysd/actionlint:1.7.8@sha256:96d4a8c87dbbfb3bdd324f8fdc285fc3df5261e2decc619a4dd7e8ee52bbfd46

  zizmor:
    extends: base
    image: ghcr.io/zizmorcore/zizmor:1.16.2@sha256:f49ba23d190f90cb837e7e117803cbf96f5632bc65417d7e2fdb04f606e19c17
    environment:
      - GH_TOKEN
