services:
  worker:
    depends_on:
      - customs
      - source-builder

  customs:
    build:
      context: ./private/addons-customs-scanner
    environment:
      - ALLOWED_ORIGIN=http://olympia.test
      - PORT=10101
    links:
      - "nginx:olympia.test"
    depends_on:
      - web

  source-builder:
    build:
      context: ./private/addons-builder
    environment:
      - PORT=10200
    expose:
      - 10200
    links:
      - "nginx:olympia.test"
    depends_on:
      - web
