[tool.black]
line-length = 88
target-version = ['py310']
skip-string-normalization = true
extend-exclude = '''
(
 /(
   docs
   | static
   | \.git
  )/
  | src/.*/migrations/.*\.py
  | src/olympia/translations/tests/testapp/migrations/.*\.py
)
'''

[tool.ruff]
exclude = [
    "docs",
    "static",
    ".git",
    "*/migrations/*.py",
]
ignore = [
  "B017",  # `assertRaises(Exception)` should be considered evil
  "B018",  # Found useless attribute access. Either assign it to a variable or remove it.
  "B028",  # No explicit `stacklevel` keyword argument found
  "B904",  # Within an `except` clause, raise exceptions with `raise ... from err|None`
  "B905"   # `zip()` without an explicit `strict=` parameter
]
line-length = 88
select = [
    "B",  # flake8-bugbear
    "E",  # pycodestyle errors
    "F",  # pyflakes
    "I",  # isort
    "Q",  # flake8-quotes
    "W",  # pycodestyle warnings
]

[tool.ruff.flake8-quotes]
inline-quotes = "single"

[tool.ruff.isort]
combine-as-imports = true
lines-after-imports = 2
section-order = ["future", "standard-library", "django", "third-party", "first-party", "local-folder"]
[tool.ruff.isort.sections]
"django" = ["django"]

[tool.pytest.ini_options]
addopts = "-vs --reuse-db --showlocals --tb=short"
python_files = "test*.py"
norecursedirs = [
  "node_modules",
  "locale",
  "static",
  "media",
  "site-static",
  "user-media",
  "tmp",
  "templates",
  "fixtures",
  "migrations",
  ".*",
  "*.egg",
  "dist",
  "cache",
  "venv",
  "__pycache__",
]
DJANGO_SETTINGS_MODULE = "settings_test"
# Ignoring csp deprecation warnings, we have control over the module and
# currently it warns for child-src which is deprecated in CSPv3 but we're still
# on CSP 2 while CSP 3 is still in working draft (sept 2018)
filterwarnings = [
  "default",
  "ignore:::csp.utils",
  # Ignore ResourceWarning for now. It's a Python 3 thing :-/
  "ignore::ResourceWarning",
]
markers = [
  "es_tests: mark a test as an elasticsearch test.",
  "needs_locales_compilation: mark a test as needing compiled locales to work.",
  "allow_external_http_requests: mark a test to allow external http requests and disable responses.",
  "static_assets: Tests that are depending on `compress_assets` and require to be separated with other tests.",
  "internal_routes_allowed: mark a test as needing INTERNAL_ROUTES_ALLOWED=True.",
]
