# This file pulls in everything a developer needs.  If it's a basic package
# needed to run the site, it belongs in requirements-prod.txt.  If it's a
# package for developers (testing, docs, etc.), it goes in this file.  IT wants
# to pull in a minimal set of packages to get a running site.

-r requirements-prod.txt

Sphinx==0.6.3

-e git://github.com/jbalogh/check.git#egg=check
-e git://github.com/robhudson/django-debug-toolbar.git#egg=django_debug_toolbar
-e git://github.com/jbalogh/django-debug-cache-panel#egg=cache_panel
-e git://github.com/django-extensions/django-extensions.git#egg=django_extensions
-e git://github.com/dcramer/django-devserver.git#egg=django_devserver
werkzeug
ipython==0.10
sqlparse==0.1.1
Fabric==0.9.0

-e git://github.com/jbalogh/test-utils.git#egg=test-utils
-e git://github.com/jbalogh/django-nose.git@c4660eed1961ee052d4aaeab007e723b5ea07d14#egg=django_nose
nose==0.11.1
coverage==3.2b4
selenium==1.0.1
mock==0.6.0
pyquery==0.4

pylint
