-e svn+http://code.djangoproject.com/svn/django/trunk@12578#egg=Django
Jinja2==2.3.1
MySQL-python==1.2.3c1
python-memcached==1.45
Babel==0.9.5
phpserialize==1.2
#pyquery==0.4
South==0.7
pytz==2010e
GitPython==0.1.7
celery==1.0.2
# This is required by celery, but celery's setup.py does bad things and
# packaging doesn't pick it up.
importlib==1.0.2

-e git://github.com/jbalogh/django-multidb-router.git#egg=django-multidb-router
-e git://github.com/jbalogh/django-cache-machine.git#egg=django-cache-machine
-e git://github.com/jbalogh/jingo.git#egg=jingo
-e git://github.com/jsocol/bleach.git#egg=bleach
-e git://github.com/jbalogh/schematic.git#egg=schematic
-e git://github.com/clouserw/tower.git#egg=tower
-e git://github.com/jbalogh/django-queryset-transform.git#egg=django-queryset-transform
-e git://github.com/jsocol/commonware.git#egg=commonware
