<table class="data-grid">
  <thead>
    <tr class="listing-header">
      {% for column in table.columns %}
        {% if column.order_by_alias == column.order_by_alias.next %}
          {% set cls, sprite = '', 'both' %}
        {% elif column.order_by_alias.is_descending %}
          {% set cls, sprite = 'ordered', 'desc' %}
        {% elif column.order_by_alias.is_ascending %}
          {% set cls, sprite = 'ordered', 'asc' %}
        {% endif %}
        <th class="{{ cls }}">
          {% if column.orderable %}
            <a href="{{ request.get_full_path()|urlparams(sort=column.order_by_alias.next) }}" class="sort-icon ed-sprite-sort-{{ sprite }}">
              {{ column }}
            </a>
          {% else %}
            {{ column }}
          {% endif %}
        </th>
      {% endfor %}
    </tr>
  </thead>
    <tbody>
      {% for row in page.object_list %}
      <tr>
        {% for value in row %}
          <td>{{ value|xssafe }}</td>
        {% endfor %}
      </tr>
      {% endfor %}
    </tbody>
</table>

{% if page.has_other_pages() %}
  <div class="data-grid-content data-grid-bottom">
  {{ page|paginator }}
  </div>
{% endif %}
