{% extends "zadmin/base.html" %}

{% block title %}{{ page_title('Manage {0}')|format_html(addon.name) }}{% endblock %}

{% block content %}
<h2>Manage {{ addon.name }}</h2>
<form method="post">
  <p>
    <a href="{{ addon.get_url_path() }}">Public Listing</a> |
    <a href="{{ addon.get_dev_url() }}">Edit Add-on</a>
  </p>
  <p>
    <label>Status:</label> {{ form.status }}<br>
  </p>
  {% if versions %}
  <h3>Versions &amp; Files</h3>
    <table>
      <thead>
        <tr>
          <th>Date</th>
          <th>Version</th>
          <th>Channel</th>
          <th>File ID</th>
          <th>Platform</th>
          <th>Status</th>
          <th>Hash</th>
        </tr>
      </thead>
      <tbody>
      {% for v in versions %}
        <tr>
          <td>{{ v.created|date }}</td>
          <td>
            {% if v.channel == amo.RELEASE_CHANNEL_LISTED %}
              <a href="{{ url('reviewers.review', addon.slug) }}" title="{{ v.id }}">{{ v.version }}</a>
            {% else %}
              <a href="{{ url('reviewers.review', 'unlisted', addon.slug) }}" title="{{ v.id }}">{{ v.version }}</a>
            {% endif %}
          </td>
          <td>{{ v.get_channel_display() }}</td>
          {% with files = file_map.get(v.id, []) %}
            {% if files %}
              {% for file in files %}
                {% if not loop.first %}</tr><tr><td colspan="3">{% endif %}
                <td><a href="{{ url('files.list', file.id) }}" title="{{ file.filename }}">{{ file.id }}</a></td>
                <td>{{ file.get_platform_display() }}</td>
                <td>
                  {% if not file.version.deleted %}
                    {{ form_map[file.id].status }}
                  {% else %}
                    Deleted{{ form_map[file.id].status|hidden_field }}
                  {% endif %}
                  {% for hidden in form_map[file.id].hidden_fields() %}
                    {{ hidden }}
                  {% endfor %}
                </td>
                <td><a href="{{ url('zadmin.recalc_hash', file.id)|urlparams(page=pager.number) }}" class="recalc" title="{{ file.hash }}">Recalc Hash</a></td>
              {% endfor %}
            {% else %}
              <td colspan="4"></td>
            {% endif %}
          {% endwith %}
        </tr>
      {% endfor %}
    </table>
  {% endif %}
  <p><input type="submit" value="Update Statuses"></p>
  {{ formset.management_form }}
  {{ csrf_input }}
  {% if pager.paginator.num_pages > 1 %}
    <div class="listing-footer">
      {{ pager|paginator }}
    </div>
  {% endif %}
</form>

{% endblock %}
