{% set hide_header = True %}
{% extends "base.html" %}

{% block title %}:: AMO Admin{% endblock %}

{% block site_header_title %}
  <h1><a href="{{ url('zadmin.index') }}">Site Administration</a></h1>
{% endblock %}

{% block site_css %}
  {{ css('zamboni/css') }}
  {{ css('zamboni/devhub') }}
  {{ css('zamboni/admin') }}
{% endblock %}

{% block bodyattrs %}
data-default-locale="en-us"
{% endblock %}

{% block js %}
    {{ js('zamboni/admin') }}
{% endblock %}

{% block search_form %}
{% endblock %}

{% macro ul(links, section) %}
  <ul>
    {% for title, link in links[section] %}
      <li><a href="{{ link }}">{{ title }}</a></li>
    {% endfor %}
  </ul>
{% endmacro %}

{% set links = admin_site_links() %}

{% block navbar %}
<div id="navbar">
  <ul class="top">
    <li class="top">
      <a href="{{ url('zadmin.home') }}" class="controller">
        Manage {{ 'Add-ons' }}
      </a>
      {{ ul(links, 'addons') }}
    </li>
    <li class="top">
      <a href="" class="controller">Manage Users</a>
      {{ ul(links, 'users') }}
    </li>
    <li class="top">
      <a href="" class="controller">Site Settings and Environment</a>
      {{ ul(links, 'settings') }}
    </li>
    <li class="top">
      <a href="" class="controller">Server Tools</a>
      {{ ul(links, 'tools') }}
    </li>
  </ul>
</div>
{% endblock %}

{% block footer %}{% endblock %}
