{% extends "zadmin/base.html" %}

{% block title %}{{ page_title('Celery Stats') }}{% endblock %}

{% block content %}
<h2>Celery Stats</h2>
<p>The time is {{ now|datetime }}.</p>
<form method="post">
  {{ csrf_input }}
  <input name="reset" type="submit" value="Reset">
</form>

<h3 id="pending">Pending Tasks</h3>
<table>
  <thead>
    <tr>
      <th>Task Name</th>
      <th>Count</th>
    </tr>
  </thead>
  <tbody>
    {% for task, count in pending|dictsort %}
      {% if count|int %}
      <tr>
        <td>{{ task }}</td>
        <td>{{ count }}</td>
      </tr>
      {% endif %}
    {% endfor %}
  </tbody>
</table>

<h3 id="failures">Failed Tasks</h3>
<table>
  <thead>
    <tr>
      <th>Task Name</th>
      <th>Count</th>
    </tr>
  </thead>
  <tbody>
    {% for task, count in failures|dictsort %}
      <tr>
        <td>{{ task }}</td>
        <td>{{ count }}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>

<h3 id="total">Total Tasks Run</h3>
<table>
  <thead>
    <tr>
      <th>Task Name</th>
      <th>Count</th>
    </tr>
  </thead>
  <tbody>
    {% for task, count in totals|dictsort %}
      <tr>
        <td>{{ task }}</td>
        <td>{{ count }}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}
