{% extends "zadmin/base.html" %}

{% block title %}{{ page_title('Admin Pages') }}{% endblock %}

{% block content %}

<div class="content">
    <aside>
        <h2>Admin Log</h2>
        {% if log %}
        <ul>
          {% for item in log %}
            <li class="item">
              {{ item }}
              <span class="activity-timestamp">
              {% trans user=item.user|user_link, ago=item.created|timesince %}
              {{ ago }} by {{ user }}
              {% endtrans %}
              </span>
            </li>
          {% endfor %}
          <p><a href="{{ url("admin:activity_activitylog_changelist") }}">more...</a></p>
        </ul>
        {% else %}
            <p>No entries.</p>
        {% endif %}
    </aside>
</div>
{% endblock %}
