{% extends "zadmin/base.html" %}

{% block title %}Language Pack Updates {{ super() }}{% endblock %}

{% block content %}
<h2>Language Pack Updates</h2>

<form action="{{ url('zadmin.langpacks') }}" method="post"
      id="admin-fetch-langpacks">
  {% csrf_token %}
  <div>
    <span class="edit_with_prefix">
      <span>{{ base_url }}</span><input type="text" id="id_path" name="path"
                                        value="{{ default_path }}" size="50">
    </span>
    <button type="submit">Update</button>
  </div>
</form>

<table>
  <thead>
    <tr>
      <th>Add-on</th>
      <th>Target Locale</th>
      <th>Default Locale</th>
      <th>Version</th>
      <th>Created</th>
      <th>Updated</th>
    </tr>
  </thead>
  <tbody>
  {% for addon in addons %}
    <tr>
      <td>
        <a href="{{ addon.get_url_path() }}">{{ addon.name }}</a>
      </td>
      <td>
        {{ addon.target_locale }}
      </td>
      <td>
        {{ addon.default_locale }}
      </td>
      <td>
        {% set latest_version=addon.find_latest_version(channel=amo.RELEASE_CHANNEL_LISTED) %}
        {% if latest_version %}
          <a href="{{ url('reviewers.review', addon.slug) }}">{{ latest_version }}</a>
        {% endif %}
      </td>
      <td>{{ addon.created|date('%Y-%m-%d %H:%M:%S') }}</td>
      <td>{{ addon.last_updated|date('%Y-%m-%d %H:%M:%S') }}</td>
    </tr>
  {% endfor %}
  </tbody>
</table>
{% endblock content %}
