{% extends "zadmin/base.html" %}

{% block title %}{{ page_title('Fake Email') }}{% endblock %}

{% block extrahead %}
<style>
  #messages li:not(:first-child) {
    border-top: 1px solid #000;
  }
</style>
{% endblock %}

{% block content %}
<h2>Fake Email</h2>
<p>This is a log of all the fake emails that have been sent.</p>
<form method="post">
  {{ csrf_input }}
  <button>Clear The Log</button>
</form>

<ul id="messages">
  {% for msg in mail %}
    <li id="msg-{{ loop.revindex }}">
      <a href="#msg-{{ loop.revindex }}">#{{ loop.revindex }}</a>
      <pre>{{ msg }}</pre>
    </li>
  {% endfor %}
</ul>
{% endblock %}
