{% extends "zadmin/base.html" %}

{% block title %}{{ page_title('Memcache') }}{% endblock %}

{% block content %}
<h2>Memcache</h2>
<div class="primary featured">
  <h3>Status</h3>
  {% for cache in stats %}
  <h4>{{ cache[0] }}</h4>
  <table>
    {% for k, v in cache[1].items() %}
    <tr>
      <td>{{ k }}</td>
      <td>{{ v }}</td>
    </tr>
    {% endfor %}
  </table>
  {% endfor %}
  <h3>Clear</h3>
  <form method="post" class="featured-inner object-lead user-input">
    {% csrf_token %}
    <fieldset>
    <p class="instruct">Are you sure you want to clear memcache?</p>
    {{ form }}
  </fieldset>
    <div class="fm-control">
      <button>Clear memcache</button>
    </div>
  </form>
</div>
{% endblock %}
