{% extends "admin/base.html" %}

{% block title %}{{ page_title('Settings!') }}{% endblock %}

{% block content %}
<style>
  #settings td {
    font-family: monospace;
  }
  #settings th a {
    visibility: hidden;
  }
  #settings tr:hover th a {
    visibility: visible;
  }
</style>
<h2>Settings!</h2>
<table id="settings">
  <tbody>
    {% for key, value in settings_dict|dictsort %}
      <tr>
        <th id="{{ key|slugify }}">
          {{ key }} <a href="#{{ key|slugify }}">¶</a>
        </th>
        <td>{{ value|pprint }}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
