{% extends 'zadmin/base.html' %}

{% set title = 'Site Events' %}

{% block title %}{{ page_title(title) }}{% endblock %}

{% block extrahead %}
  <link rel="stylesheet"
        href="{{ static('css/zamboni/jquery-ui/custom-1.7.2.css') }}">
{% endblock %}

{% block content %}
  <h2>{{ title }}</h2>

  <form method="post">
    {% csrf_token %}
    {{ form.as_p() }}
    <input type="submit" value="Add New Event">
  </form>

  <table>
    <thead>
      <tr>
        <th>ID
        <th>Type
        <th>Start
        <th>End
        <th>Description
        <th>URL
        <th colspan=2>Actions
    <tbody>
      {% for event in events %}
        <tr>
          <td>{{ event.id }}
          <td>{{ site_event_type(event.event_type) }}
          <td>{{ event.start }}
          <td>{{ event.end }}
          <td>{{ event.description }}
          <td>{{ event.more_info_url }}
          <td><a href="{{ url('zadmin.site_events', event.id) }}">edit</a>
          <td><a href="{{ url('zadmin.site_events.delete', event.id) }}">remove</a>
      {% else %}
        <tr><td colspan=0>No Records Found.
      {% endfor %}
  </table>
{% endblock %}
