{% extends "zadmin/base.html" %}

{% set title = 'Bulk Addon Validation' %}
{% block title %}{{ page_title(title) }}{% endblock %}

{% block content %}
<section id="admin-validation"
         data-status-url="{{ url('zadmin.job_status') }}">
  <h2>{{ title }}</h2>
  {{ form.errors }}
  <form action="{{ url('zadmin.start_validation') }}" method="post">
  {% csrf_token %}
  <div class="form-row">
    {% for elem in ('application', 'curr_max_version', 'target_version') %}
      <label id="label-{{ elem }}" for="id_{{ elem }}">{{ form[elem].label }}</label>
      <span id="elem-{{ elem }}">{{ form[elem] }}</span>
    {% endfor %}
  </div>
  <div class="form-row last-row">
    <label for="id_finish_email">{{ form['finish_email'].label }}</label>
    <span id="elem-finish_email">{{ form['finish_email'] }}</span>
      <button type="submit">Start validation</button>
  </div>
  </form>
  <div class="featured daily-message">
    <div class="featured-inner validation-intro">
      <ul>
        <li>The latest versions for all addons that support an app <em>in
        between</em> <b>Current Max Version</b> and <b>Target Max Version</b>
        will be validated for compatibility with the target. You can then
        choose to upgrade those versions or email the developers about
        failures.</li>
        <li>If we find any public versions that
        <em>already</em> support a newer app/version then nothing is tested
        nor auto upgraded.</li>
        <li>If we find any beta versions or versions
        under review then those are validated/upgraded <em>in addition to the
        latest public version</em>.</li>
      </ul>
    </div>
  </div>
  <table>
    <tr>
      <th>ID</th>
      <th>Tests Started</th>
      <th>Tests Finished</th>
      <th>Application</th>
      <th>Current Version</th>
      <th>Target Version</th>
      <th>Tested</th>
      <th>Failing</th>
      <th>Passing</th>
      <th>Exceptions</th>
      <th>Actions</th>
    </tr>
    {% for job in validation_jobs %}
    <tr class="job-result"
        data-is-complete="{{ job.is_complete(as_int=True) }}"
        data-job-id="{{ job.pk }}">
      <td>{{ job.pk }}</td>
      <td>{{ job.created }}</td>
      <td class="tests-finished">{{ job.completed }}</td>
      <td>{{ amo.APPS_ALL[job.application].pretty }}</td>
      <td>{{ job.curr_max_version.version }}</td>
      <td>{{ job.target_version.version }}</td>
      <td class="tested">{{ job.stats['total'] }}</td>
      <td class="failing">{{ job.stats['failing'] }}</td>
      <td class="passing">{{ job.stats['passing'] }}</td>
      <td class="exceptions">{{ job.stats['errors'] }}</td>
      <td>
        {% if job.completed %}
          <a href="{{ url('zadmin.validation_summary', job.pk) }}">
              View Summary
          </a>

          <br/>

          <a href="#" class="set-max-version v-popup"
                      data-job-version="{{ job.target_version.version }}"
                      data-job-url="{{ url('zadmin.notify', job.pk) }}"
                      data-job-count-passing="{{ job.stats['passing'] }}"
                      data-job-count-failing="{{ job.stats['failing'] }}"
                      >Notify and set max versions</a>
          {% if job.preview_notify_mail_link %}
            [<a href="{{ job.preview_notify_mail_link }}">Download Email Log</a>]
          {% endif %}
        {% endif %}
      </td>
    </tr>
    {% endfor %}
  </table>
</section>

<div class="hidden">
    <div class="popup" id="notify">
        <form method="post" data-url="{{ url('zadmin.notify.syntax') }}">
            {% csrf_token %}
            <p>{# placeholder for form text #}</p>
            <p>Available variables: {{ ', '.join(notify_form.variables) }}</p>
            <p class="js-hidden error"></p>
            <div>
                {{ notify_form.as_p() }}
            </div>
            <button type="submit">Continue</button>
            <span class="cancel"><a href="#">{{ _('Cancel') }}</a></span>
        </form>
    </div>
</div>
{% endblock %}
