#header:after,
.amo-header:after,
.header-search form:after {
    content: ".";
    display: block;
    clear: both;
    height: 0;
    visibility: hidden;
}


@font-face { 
    font-family: 'MetaBlack';
    src: url('https://www.mozilla.com/img/fonts/MetaWebPro-Black.woff') format('woff');
    font-weight: bold; 
    font-style: normal;
}

/*----------------------------------
    Header
----------------------------------*/

#header {
    background: #33589f;
    background: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0, rgb(42,65,135)),
        color-stop(1, rgb(59,105,177))
    );
    background: -moz-linear-gradient(
        center bottom,
        rgb(42,65,135) 0%,
        rgb(59,105,177) 100%
    );
    background: linear-gradient(
        center bottom,
        rgb(42,65,135) 0%,
        rgb(59,105,177) 100%
    );
    height: 57px;
    margin: 10px auto 0;
    font-family: verdana;
    -moz-box-shadow: 0 3px rgba(0,0,0,0.1), inset 0 -4px rgba(0,0,0,0.1);
    -webkit-box-shadow: 0 3px rgba(0,0,0,0.1), inset 0 -4px rgba(0,0,0,0.1);
    box-shadow: 0 3px rgba(0,0,0,0.1), inset 0 -4px rgba(0,0,0,0.1);
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    text-align: center;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3B69B1', endColorstr='#2D488D',GradientType=0 ); /* ie */
/*    width: 980px;*/
}

#header h1 {
    margin: 0;
    float: left;
    font-family: MetaBold;
}

#header h1 a,
#header h1 a:link,
#header h1 a:visited {
    display: block;
    height: 57px;
    width: 110px;
    background: url(../../img/zamboni/global/header-logos.png) 15px 0 no-repeat;
    text-indent: -9999px;
    overflow: hidden;
    -moz-transition: background 0.2s ease-in-out;
}

#header h1 a:hover,
#header h1 a:active {
    background: -moz-radial-gradient(center 45deg, ellipse closest-side, rgba(255,255,255,0.3) 0%, rgba(255,255,255,0) 100%),
        url(../../img/zamboni/global/header-logos.png) 15px 0 no-repeat;
    -moz-transition: background 0.2s ease-in-out;
}

#nav-main {
    display: inline-block;
    text-align: left;
}

#nav-main, #nav-main ul, #nav-main li {
    list-style: none;
}

#nav-main ul {
    float: left;
    z-index: 99;
    left: auto;
    margin: 0;
    padding: 0;
}

#nav-main li {
    float: left;
    background: none;
    margin: 0;
    padding: 0;
    position: relative;
}

#nav-main a,
#nav-main span {
    display: block;
    color: #fff;
    font-weight: bold;
    font-size: 13px;
}

#nav-main ul {
    font-family: "Trebuchet MS", MetaBlack, sans-serif;
}

#nav-main ul ul {
    font-family: "Trebuchet MS", sans-serif;
}

#nav-main ul {
    border-right: 1px solid rgb(83,115,176);
    border-left: 1px solid rgb(47,80,140);
}

#nav-main ul {
    border-right-color: rgba(255,255,255,0.15);
    border-right-color: rgba(255,255,255,0.15);
    border-left-color: rgba(0,0,0,0.2);
}

#nav-main ul li a,
#nav-main ul li span {
    padding: 18px 15px 0 15px;
    height: 39px;
    display: block;
    float: left;
    text-transform: uppercase;
    border-left: 1px solid rgb(83,115,176);
    border-right: 1px solid rgb(47,80,140);
}

#nav-main ul li a {
    border-left-color: rgba(255,255,255,0.15);
    border-right-color: rgba(0,0,0,0.2);
}

#nav-main li ul {
    position: absolute;
    left: -999em;
    opacity: 0;
}

#nav-main li:hover ul,
#nav-main li.sfhover ul {
    margin-top: 57px;
    left: 0;
    opacity: 1;
    -moz-transition: opacity 0.2s ease-in-out;
    -webkit-transition: opacity 0.2s ease-in-out;
}

#nav-main ul li ul li {
  float: none;
}

#nav-main ul li a,
#nav-main ul li a:link,
#nav-main ul li a:visited {
    color: #fff;
    text-decoration: none;
    -moz-transition: background 0.2s linear;
    -webkit-transition: background 0.2s linear;
}

#nav-main ul li.current a,
#nav-main ul li.current a:link
#nav-main ul li.current a:visited {
    -webkit-transition: none;
}

#nav-main ul li a:hover,
#nav-main ul li a:active {
    color: #fff;
    background: #263c7b;
    background: rgba(38,60,123,0.9);
    -moz-transition: background 0.1s ease-in;
    -webkit-transition: background 0.1s ease-in;
}

#nav-main ul li.current span,
#nav-main ul li.current a,
#nav-main ul li.current a:link,
#nav-main ul li.current a:visited {
    height: 35px;
}

#nav-main ul li li.current span,
#nav-main ul li li.current a,
#nav-main ul li li.current a:link,
#nav-main ul li li.current a:visited,
#nav-main ul li.current li a,
#nav-main ul li.current li a:link,
#nav-main ul li.current li a:visited {
    height: auto;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

#nav-main ul li.current a:hover,
#nav-main ul li.current a:active {
    -moz-box-shadow: inset 0 -5px rgba(102,155,225,0.8);
    -webkit-box-shadow: inset 0 -5px rgba(102,155,225,0.8);
    box-shadow: inset 0 -5px rgba(102,155,225,0.8);
}

#nav-main ul li.current {
    border-bottom: 4px solid #5784bf;
    -moz-box-shadow: inset 0 -5px #669be1;
    -webkit-box-shadow: inset 0 -5px #669be1;
    box-shadow: inset 0 -5px #669be1;
}

#nav-main ul ul li.current {
    border-bottom: 0;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

#nav-main ul ul,
#nav-main ul ul li {
    height: auto;
    border: 0;
}

#nav-main ul ul {
    border-top: 0;
    padding: 0 0 4px 0;
    width: 190px;
    background: #263c7b;
    background: rgba(38,60,123,0.9);
    -webkit-border-bottom-right-radius: 4px;
    -webkit-border-bottom-left-radius: 4px;
    -moz-border-radius-bottomright: 4px;
    -moz-border-radius-bottomleft: 4px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    -moz-box-shadow: 0 3px rgba(0,0,0,0.1), inset 0 -4px rgba(0,0,0,0.1), 0 5px 10px rgba(0,0,0,0.2);
    -webkit-box-shadow: 0 3px rgba(0,0,0,0.1), inset 0 -4px rgba(0,0,0,0.1), 0 5px 10px rgba(0,0,0,0.2);
    box-shadow: 0 3px rgba(0,0,0,0.1), inset 0 -4px rgba(0,0,0,0.1), 0 5px 10px rgba(0,0,0,0.2);
    text-shadow: 1px 1px 0 #1b3b6a, 0 0 5px #1b3b6a;
}

#nav-main ul li ul li a,
#nav-main ul li ul li a:link,
#nav-main ul li ul li a:visited,
#nav-main ul li ul li span {
    padding: 5px 15px;
    margin: 0;
    height: auto;
    float: none;
    display: block;
    font-size: 11px;
    font-weight: normal;
    border: 0;
    background-image: none;
    position: relative;
    text-transform: none;
    -moz-transition: background 0.1s ease-in;
    -webkit-transition: background 0.1s ease-in;
}

#nav-main ul li ul li a:hover,
#nav-main ul li ul li a:active {
    background: #263c7b;
    background: rgba(38,60,123,0.9);
    padding-top: 4px;
    padding-bottom: 4px;
    border-bottom: 1px solid #496288;
    border-top: 1px solid #162f55;
    -moz-transition: background 0.1s ease-out;
    -webkit-transition: background 0.1s ease-out;
}

#header a.mozilla {
    color: #a0c8da;
    font-family: georgia, serif;
    font-weight: normal;
    font-style: italic;
    float: right;
    display: block;
    text-align: center;
    padding-top: 17px;
    height: 44px;
    font-size: 18px;
    width: 133px;
}

#header a.mozilla:hover,
#header a.mozilla:active {
    text-decoration: none;
    background: -moz-radial-gradient(center 45deg, ellipse closest-side, rgba(255,255,255,0.3) 0%, rgba(255,255,255,0) 100%);
    -moz-transition: opacity 0.2s ease-in-out;
    -webkit-transition: opacity 0.2s ease-in-out;
}

#header a.mozilla span {
    background: url(../../img/zamboni/global/header-logos.png) 1px -73px no-repeat;
    overflow: hidden;
    text-indent: -9999px;
    width: 64px;
    max-height: 21px;
    _height: 21px;
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: top;
    zoom: 1;
    *display: inline;
}

#nav-access {
    display: none;
}

.amo-header {
    height: 128px;
    font-family: Georgia;
}

.amo-header a {
    color: #3d6db5;
}

/** Search */

div.header-search {
    margin: 0;
    width: 380px;
    clear: right;
    float: right;
}

div.header-search input.text {
    width: 285px;
}

div.header-search span.wrap {
    width: 288px;
}

div.header-search form {
    margin: 0;
    border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    padding: 6px;
}

div.header-search span.wrap {
    background: #fff url(../../img/zamboni/global/icon-search.png) no-repeat 7px center;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    float: left;
    padding: 2px 0 0 36px;
}

div.header-search input.text {
    border: none;
    outline: none;
    box-shadow: none;
    font-size: 16px;
    width: 200px;
    height: 26px;
    line-height: 25px;
}

div.header-search input.submit {
    box-shadow: none;
    float: left;
    height: 33px;
    margin: 0 0 0 6px;
    width: 37px;
}

.site-title {
    padding-top: 20px;
}

.site-title a,
.site-title a:visited,
.site-title a:hover,
.site-title a:focus {
    font-family: MetaBlack, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    color: #444;
    font-size: 48px;
    line-height: 60px;
    text-decoration: none;
    text-transform: uppercase;
    vertical-align: top;
}

.site-title img {
    vertical-align: bottom;
}

/*----------------------------------
    Footer
----------------------------------*/

#footer {
    background: #33559b url(../../img/zamboni/global/bg-footer.png) 0 0 repeat-x;
    clear: both;
    color: #476FBE;
    display: block;
    font-family: Georgia, serif;
    min-width: 978px;
    padding: 123px 0 5px 0;
}

#footer-logo a,
#footer-logo a:link,
#footer-logo a:visited {
    display: block;
    height: 57px;
    width: 110px;
    background: url(../../img/zamboni/global/header-logos.png) 15px 0 no-repeat;
    text-indent: -200px;
    overflow: hidden;
    -moz-transition: background 0.2s ease-in-out;
}

#footer-logo a:hover,
#footer-logo a:active {
    background: -moz-radial-gradient(center 45deg, ellipse closest-side, rgba(255,255,255,0.3) 0%, rgba(255,255,255,0) 100%),
url(../../img/zamboni/global/header-logos.png) 15px 0 no-repeat;
    -moz-transition: background 0.2s ease-in-out;
}

#footer a:link,
#footer a:visited {
    color: #669BE1;
    text-decoration: none;
}

#footer a:hover,
#footer a:active {
    color: #fff;
    text-decoration: underline;
}

#footer-contents {
    margin: auto;
    text-align: left;
    width: 980px;
}

#footer-contents[dir="rtl"] {
    text-align: right;
}

#footer-logo {
    display: inline;
    float: left;
    margin: 0 50px 0 10px;
}

#footer-logo a,
#footer-logo a:link,
#footer-logo a:visited {
    font-size: 28px;
    padding: 0;
}

#footer-menu,
#footer-menu ul {
    left: auto;
    list-style: none;
    margin: 0;
    padding: 0;
}

#footer-menu li {
    background: none;
    display: inline;
    float: left;
    font-weight: bold;
    list-style-type: none;
    margin: 15px 10px 0 0;
    padding: 0;
    position: relative;
    width: 115px;
}

#footer-menu li a,
#footer-menu li a:link,
#footer-menu li a:visited,
#footer #lang_form label {
    color: #fff;
    font-family: MetaBlack, "Trebuchet MS", sans-serif;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
}

#footer li li a:link,
#footer li li a:visited {
    color: #669BE1;
    font-family: Georgia, serif;
    font-size: 13px;
    font-weight: normal;
    text-transform: none;
}

#footer li li a:hover,
#footer li li a:active {
    color: #fff;
}

#footer-menu ul li ul {
    margin: 4px 0 15px;
}

#footer-menu li.last {
    margin-right: 0;
}

#footer-menu ul ul li {
    display: block;
    float: none;
    font-weight: normal;
    margin: 0;
    padding: 0 0 0.3em;
    width: auto;
}

#footer #footer-right {
    float: right;
    width: 180px;
}

#footer #lang_form {
    margin: 0 0 15px 27px;
}

#footer #lang_form label {
    display: block;
    margin: 10px 0 4px;
}

#footer #lang_form select {
    font-family: sans-serif;
    font-size: 11px;
    width: 140px;
}

#footer #lang_form div {
    display: inline;
}

#footer #copyright {
    clear: both;
}

#footer #copyright p {
    font-size: 85%;
    margin-bottom: 0.5em;
}

#footer #copyright a:hover,
#footer #copyright a:active {
    text-decoration: underline;
}

#footer #footer-links {
    font-size: 85%;
}

/* AMO-stuff */

#footer .section {
    min-height: 0;
    padding-bottom: 20px;
}

#footer-content {
    margin-top: 10px;
}

#footer-logo {
    margin-left: 3px;
    width: 10%;
}
#footer-menu {
    display: table;
    width: 70%;
}
#footer-menu ul {
    display: table-row;
}
#footer-menu li {
    display: table-cell;
    width: 10%;
    padding-top: 11px;
    float: none;
}

.footer-devhub-link {
    width: 25%;
}

#footer-right img {
    position: absolute;
    right: 25px;
    top: -64px;
}

#social-footer {
    height: 68px;
    margin-bottom: 4px;
    display: table;
    font-size: 18px;
    font-style: italic;
    width: 80%;
    color: white;
}

#social-footer a:after {
    content: ' »';
}

#social-footer a:link,
#social-footer a:visited {
    color: white;
}

#social-footer ul {
    display: table-row;
}

#social-footer ul li {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

#social-footer ul li:first-child {
    line-height: 1.2em;
    font-size: 17px;
    width: 128px;
}

#social-footer ul li:first-child b {
    display: block;
    font-family: MetaBlack;
    font-style: normal;
    font-size: 22px;
    text-transform: uppercase;
}

