{% extends 'detail/protected_app.html' %}

{% block title %}{{ mkt_page_title(product.name) }}{% endblock %}

{% block extrahead %}
  {{ css('mkt/themes') }}
{% endblock %}

{% block content %}
  {{ mkt_breadcrumbs(items=[(url('themes.browse'), _('Themes')),
                            (None, product.name)]) }}
  <h1 id="top">{{ _('Theme Details') }}</h1>
  {% if not (is_dev or is_admin) and not product.is_public() %}
    <section class="product-details">
      <h1>
        {% if 'id' in request.GET %}
          <b class="num">#{{ product.id }}</b>
        {% endif %}
        {{ product.name }}
      </h1>
    </section>
    {{ notification(product, amo, mkt, is_dev) }}
  {% else %}
    <section class="product-details">
      <div class="vitals">
        <h1>
          {% if 'id' in request.GET and (is_dev or is_admin) %}
            <b class="num">#{{ product.id }}</b>
          {% endif %}
          {{ product.name }}
        </h1>
        <h2 class="authors">{{ users_list(theme.listed_authors, size=3) }}</h2>
        {% if categories %}
          <p class="cats">
            {% for category in categories %}
              <a href="{{ category.get_url_path() }}">
                {{ category }}
              </a>{% if not loop.last %}, {% endif %}
            {% endfor %}
          </p>
        {% endif %}
        <p class="downloads">
          {{ product|weekly_downloads }}
        </p>
        <div class="theme-details description" data-id="{{ theme.id }}">
          {{ theme_preview(theme, linked=False) }}
          <p{{ product.description|locale_html }}>
            {{ product.description|nl2br }}
          </p>
        </div>
        <div class="actions">
          {# TODO: Enable this when available. #}
          {# if is_dev }
            <p><a href="{{ product.get_dev_url() }}" class="button manage">
              {{ _('Manage') }}</a></p>
          {% endif #}
          <a class="button theme-install" href="#">{{ _('Add to Firefox') }}</a>
          <div class="theme-details c">
            <dl class="updated">
              <dt>{{ _('Updated') }}</dt>
              <dd>
                <time datetime="{{ product.modified|isotime }}">
                  {{ product.modified|datetime }}
                </time>
              </dd>
            </dl>
            <dl>
              {# TODO: re-enable this once ratings are done.
              <dt>{{ _('Rating', 'advanced_search_form_rating') }}</dt>
              <dd>{{ reviews_link(product) }}</dd> #}
              <dt>{{ _('Daily Users') }}</dt>
              <dd>
                <span class="downloads">
                  {{ theme.popularity|numberfmt }}
                </span>
              </dd>
            </dl>
            {% if theme.license %}
              <div class="license-info c">
                <span>{{ _('License') }}</span>
                {{ license_link(theme.license) }}
              </div>
            {% endif %}
          </div>
        </div>
      </section>

      {% include "detail/includes/ratings.html" %}

      <section class="product-details">
        <div id="more-themes" class="theme-details c">
          {% cache category_themes %}
            {% if category_themes %}
            <div id="more-category" class="theme-list c">
              {# L10n: {0} is a category name, such as Nature #}
              <h3>
                {% trans category=categories[0].get_url_path(), name=categories[0].name %}
                  More <a href="{{ category }}">{{ name }}</a> Themes
                {% endtrans %}
              </h3>
              <div class="article">
                {% for other in category_themes %}
                  {{ theme_preview(other.persona, size='small') }}
                {% endfor %}
              </div>
            </div>
            {% endif %}
          {% endcache %}

          {% cache author_themes %}
            {% if author_themes %}
            <div id="more-artist" class="theme-list">
              <h3>
                {% if author_gallery %}<a href="{{ author_gallery }}">{% endif %}
                {{ _('More by this Artist') }}{% if author_gallery %}</a>{% endif %}
              </h3>
              <div class="article">
                {% for other in author_themes %}
                  {{ theme_preview(other.persona, size='small') }}
                {% endfor %}
              </div>
            </div>
            {% endif %}
          {% endcache %}
        </div>
      </div>
    </section>
  {% endif %}
{% endblock %}
{% block js %}{{ js('mkt/themes') }}{% endblock %}
