{% extends "mobile/base.html" %}

{% block title %}{{ page_title(_('Collections')) }}{% endblock %}

{% block page %}
<hgroup>
  <h2>{{ _('COLLECTIONS') }}</h2>
  <h3>{{ _('Groups of related add-ons that anyone can create.') }}</h3>
</hgroup>

<div class="menu">
  {% with base_url = url('collections.list') %}
    {{ mobile_sort_by(base_url, filter.opts, filter.field) }}
  {% endwith %}
</div>

<div class="collection-listing">
  <ul class="listview">
    {{ collection_listing_items_mobile(collections.object_list) }}
  </ul>
</div>

{{ collections|mobile_paginator }}
{% endblock %}
