{% extends 'ecosystem/base.html' %}
{% from 'ecosystem/macros.html' import navigation with context %}

{% block title %}
  {{ hub_page_title() }} | {{ title }}
{% endblock %}

{% block content %}
  <div class="doc-wrapper reference-apps">
    {{ navigation(page) }}

    <article>
      <h1>{% block reference_title %}{% endblock %}</h1>

      <div id="app-preview">
        {% block screenshots %}{% endblock %}
        <div class="app-summary">
          {% block app_summary %}{% endblock %}
        </div>
      </div>

      <div id="app-details">
        <h2>{{ _('Description') }}</h2>
        {% block app_description %}{% endblock %}
        {% block app_web_apis %}{% endblock %}
        {% block app_custom_elements %}{% endblock %}
        {% block app_third_party %}{% endblock %}
      </div>

      <div id="view-code">
        {% block app_code %}{% endblock %}
      </div>
    </article>
  </div>
{% endblock %}
