{% extends 'ecosystem/reference_apps/app.html' %}
{% from "ecosystem/macros.html" import navigation,
        third_party_lib, web_api, custom_elements with context %}

{% block title %}
  {{ hub_page_title() }} | {{ _('Chrono') }}
{% endblock %}

{% block reference_title %}{{ _('Chrono') }}{% endblock %}

{% block screenshots %}
  <img class="current-screenshot"
       src="{{ media('img/ecosystem/reference-apps/chrono1.jpg') }}">
  <ul id="screenshots">
    <li>
      <img src="{{ media('img/ecosystem/reference-apps/chrono1.jpg') }}"
           title="{{ _('Start Screen') }}"
           alt="{{ _('Start Screen') }}">
    </li>
    <li>
      <img src="{{ media('img/ecosystem/reference-apps/chrono2.jpg') }}"
           title="{{ _('Timer') }}"
           alt="{{ _('Timer') }}">
    </li>
    <li>
      <img src="{{ media('img/ecosystem/reference-apps/chrono3.jpg') }}"
           title="{{ _('Lap History') }}"
           alt="{{ _('Lap History') }}">
    </li>
  </ul>
{% endblock %}

{% block app_description %}
  <section>
    {% trans walkthrough_link='https://hacks.mozilla.org/2012/11/hacking-firefox-os/' %}
      Chrono is a simple chronometer with lap counter, built to highlight
      various aspects of the Firefox OS development process.
      <a href="{{ walkthrough_link }}" class="walkthrough">
         Read the full developer walkthrough
      </a>
    {% endtrans %}
  </section>
{% endblock %}

{% block app_web_apis %}
  <section>
    <h2>{{ _('Web API Usage') }}</h2>
    <ul>
      <li>
        {{ web_api('appcache') }}
        <p>
          {% trans %}
            Chrono does not require a network connection to run.
          {% endtrans %}
        </p>
      </li>
      <li>
        {{ web_api('open_web_apps') }}
        <p>
          {% trans %}
            Uses the Open Web Apps installation API to allow installation
            on the device independently on Marketplace.
          {% endtrans %}
        </p>
      </li>
    </ul>
  </section>
{% endblock %}

{% block app_custom_elements %}
  <section>
    <h2>{{ _('Custom Elements') }}</h2>
    <ul>
      <li>
        {{ custom_elements('gaia') }}
        <p>
          {% trans %}
            Chrono uses the same UI components as the built-in apps.
          {% endtrans %}
        </p>
      </li>
    </ul>
  </section>
{% endblock %}

{% block app_third_party %}
  <section>
    <h2>{{ _('Third-party Libraries') }}</h2>
    <ul>
      <li>
        {{ third_party_lib('volo') }}
        <p>
          {% trans %}
            Uses a volo.js script to optimize app before release,
            i.e. by auto-generating an appcache manifest.
          {% endtrans %}
        </p>
      </li>
      <li>
        {{ third_party_lib('jquery') }}
        <p>
          {% trans %}
            Uses jQuery to simplify common tasks such as DOM manipulation.
          {% endtrans %}
        </p>
      </li>
      <li>
        {{ third_party_lib('requirejs') }}
        <p>
          {% trans %}
            Uses RequireJS to split JavaScript code into more easily
            maintainable modules.
          {% endtrans %}
        </p>
      </li>
    </ul>
  </section>
{% endblock %}

{% block app_code %}
  <a href="https://github.com/alcacoop/gaia-chrono-app/"
     class="app-source button">{{ _('View Source') }}</a>
{% endblock %}

{% block app_summary %}
  <div class="summary">
    <h4>{{ _('Difficulty') }}: <span>{{ _('Easy') }}</span></h4>
  </div>
  <div class="summary">
    <h4>{{ _('Code Breakdown') }}:</h4>
    <ol>
      <li>{{ _('100% JavaScript') }}</li>
    </ol>
  </div>
{% endblock %}
