{% extends 'ecosystem/reference_apps/app.html' %}
{% from "ecosystem/macros.html" import navigation,
        third_party_lib, web_api with context %}

{% block title %}
  {{ hub_page_title() }} | {{ _('Face Value') }}
{% endblock %}

{% block reference_title %}{{ _('Face Value') }}{% endblock %}

{% block screenshots %}
  <img class="current-screenshot"
       src="{{ media('img/ecosystem/reference-apps/face-value1.jpg') }}">
  <ul id="screenshots">
    <li>
      <img src="{{ media('img/ecosystem/reference-apps/face-value1.jpg') }}"
           title="{{ _('Euros to Canadian Dollars') }}"
           alt="{{ _('Euros to Canadian Dollars') }}">
    </li>
    <li>
      <img src="{{ media('img/ecosystem/reference-apps/face-value2.jpg') }}"
           title="{{ _('Canadian Dollars to Euros') }}"
           alt="{{ _('Canadian Dollars to Euros') }}">
    </li>
    <li>
      <img src="{{ media('img/ecosystem/reference-apps/face-value3.jpg') }}"
           title="{{ _('Conversion Selector') }}"
           alt="{{ _('Conversion Selector') }}">
    </li>
  </ul>
{% endblock %}

{% block app_description %}
  <section>
    {% trans walkthrough_link='http://facevalueapp.com/behind-the-scenes' %}
      Face Value is a currency conversion app that does things differently:
      instead of converting arbitrary amounts it shows you the actual
      denominations in the country you're visiting. It lets you think in
      your home currency even with a foreign currency in your pocket.
      <a href="{{ walkthrough_link }}"
         class="walkthrough">
         Read the full developer walkthrough
      </a>
    {% endtrans %}
  </section>
{% endblock %}

{% block app_folder_structure %}
  <section>
    <h2>{{ _('Folder Structure') }}</h2>

    <pre>
  - <a href="https://github.com/tofumatt/face-value/tree/master/test">test/</a> (<a href="http://casperjs.org/">casperjs</a> {{ _('integration tests') }})
  - <a href="https://github.com/tofumatt/face-value/tree/master/www">www/</a> ({{ _('client-side code/styles') }})
  - <a href="https://github.com/tofumatt/face-value/tree/master/www/index.html">www/index.html</a> ({{ _('base HTML file') }})
  - <a href="https://github.com/tofumatt/face-value/tree/master/www/js/templates">www/js/templates/</a> ({{ _('EJS/HTML templates') }})</pre>

    <p>
      {%- trans %}
        The <code>CordovaLib</code>, <code>assets</code>, <code>cordova</code>,
        <code>face-value.xcodeproj</code>, and <code>face-value</code> folders
        contain Cordova files used to create a packaged iOS web app that can
        be submitted to the iOS App Store.
      {% endtrans -%}
    </p>
  </section>
{% endblock %}

{% block app_web_apis %}
  <section>
    <h2>{{ _('Web API Usage') }}</h2>
    <ul>
      <li>
        {{ web_api('localstorage') }}
        <p>
          {% trans %}
            Remembers user preferences and saves exchange rates for
            offline use.
          {% endtrans %}
        </p>
      </li>
      <li>
        {{ web_api('appcache') }}
        <p>
          {% trans %}
            Works great offline, only requires online connection when
            updated exchange rates are desired.
          {% endtrans %}
        </p>
      </li>
    </ul>
  </section>
{% endblock %}

{% block app_third_party %}
  <section>
    <h2>{{ _('Third-party Libraries') }}</h2>
    <ul>
      <li>
        {{ third_party_lib('node') }}
        <p>
          {% trans %}
            Both server and client code are written in JavaScript.
          {% endtrans %}
        </p>
      </li>
      <li>
        {{ third_party_lib('zepto') }}
        <p>
          {% trans %}
            The lightweight jQuery-like library simplifies common
            tasks such as DOM manipulation.
          {% endtrans %}
        </p>
      </li>
      <li>
        {{ third_party_lib('backbone') }}
        <p>
          {% trans %}
            By using backbone's data bindings, Face Value ensures that
            changes to the backend (such as exchange rate updates)
            are automatically reflected on the frontend.
          {% endtrans %}
        </p>
      </li>
    </ul>
  </section>
{% endblock %}

{% block app_code %}
  <a href="https://github.com/tofumatt/face-value/"
     class="app-source button">{{ _('View Source') }}</a>
  <a href="https://github.com/tofumatt/face-value/archive/master.zip"
     class="app-source button">{{ _('Download') }}</a>
{% endblock %}

{% block app_summary %}
  <div class="summary">
    {# L10N: This is the difficulty level of the app. #}
    <h4>{{ _('Difficulty:') }} <span>{{ _('Medium') }}</span></h4>
  </div>
  <div class="summary">
    <h4>{{ _('Code Breakdown') }}:</h4>
    <ol>
      <li>{{ _('2%') }} HTML</li>
      <li>{{ _('16%') }} CSS</li>
      <li>{{ _('82%') }} JavaScript</li>
    </ol>
  </div>
{% endblock %}
