{% extends 'ecosystem/reference_apps/app.html' %}
{% from "ecosystem/macros.html" import navigation,
        third_party_lib, web_api with context %}

{% block title %}
  {{ hub_page_title() }} | {{ _('Roller') }}
{% endblock %}

{% block reference_title %}{{ _('Roller') }}{% endblock %}

{% block screenshots %}
  <img class="current-screenshot"
       src="{{ media('img/ecosystem/reference-apps/roller1.jpg') }}">
  <ul id="screenshots">
    <li>
      <img src="{{ media('img/ecosystem/reference-apps/roller1.jpg') }}"
           title="{{ _('Default Feed View') }}"
           alt="{{ _('Default Feed View') }}">
    </li>
    <li>
      <img src="{{ media('img/ecosystem/reference-apps/roller2.jpg') }}"
           title="{{ _('Writing a Status Update') }}"
           alt="{{ _('Writing a Status Update') }}">
    </li>
    <li>
      <img src="{{ media('img/ecosystem/reference-apps/roller3.jpg') }}"
           title="{{ _('Liking a Post') }}"
           alt="{{ _('Liking a Post') }}">
    </li>
  </ul>
{% endblock %}

{% block app_description %}
  <section>
    {% trans walkthrough_link='https://github.com/ednapiranha/roller/tree/master/doc/development_process.md' %}
      Roller is a micro blog app that allows you to post text, upload an
      image or paste a link that has an image extension such as jpg, gif,
      png or jpeg.
      <a href="{{ walkthrough_link }}"
         class="walkthrough">
         Read the full developer walkthrough
      </a>
    {% endtrans %}
  </section>
{% endblock %}

{% block app_third_party %}
  <section>
    <h2>{{ _('Third-party Libraries') }}</h2>
    <ul>
      <li>
        {{ third_party_lib('node') }}
        <p>
          {% trans %}
            Both server and client code are written in JavaScript.
          {% endtrans %}
        </p>
      </li>
      <li>
        {{ third_party_lib('redis') }}
        <p>
          {% trans %}
            An advanced key-value store.
          {% endtrans %}
        </p>
      </li>
    </ul>
  </section>
{% endblock %}

{% block app_code %}
  <a href="https://github.com/ednapiranha/roller/"
     class="app-source button">{{ _('View Source') }}</a>
{% endblock %}

{% block app_summary %}
  <div class="summary">
    <h4>{{ _('Difficulty') }}: <span>{{ _('Advanced') }}</span></h4>
  </div>
  <div class="summary">
    <h4>{{ _('Code Breakdown') }}:</h4>
    <ol>
      <li>{{ _('100% JavaScript') }}</li>
    </ol>
  </div>
{% endblock %}
