{% extends 'ecosystem/reference_apps/app.html' %}
{% from "ecosystem/macros.html" import navigation,
        third_party_lib, web_api with context %}

{% block title %}
  {{ hub_page_title() }} | {{ _('Webfighter') }}
{% endblock %}

{% block reference_title %}{{ _('Webfighter') }}{% endblock %}

{% block screenshots %}
  <img class="current-screenshot"
       src="{{ media('img/ecosystem/reference-apps/webfighter1.jpg') }}">
  <ul id="screenshots">
    <li>
      <img src="{{ media('img/ecosystem/reference-apps/webfighter1.jpg') }}"
           title="{{ _('Webfighter game sample') }}"
           alt="{{ _('Webfighter game sample') }}">
    </li>
    <li>
      <img src="{{ media('img/ecosystem/reference-apps/webfighter2.jpg') }}"
           title="{{ _('Webfighter game sample') }}"
           alt="{{ _('Webfighter game sample') }}">
    </li>
    <li>
      <img src="{{ media('img/ecosystem/reference-apps/webfighter3.jpg') }}"
           title="{{ _('Enemy damage') }}"
           alt="{{ _('Enemy damage') }}">
    </li>
  </ul>
{% endblock %}

{% block app_description %}
  <section>
    {% trans marketplace_link='https://marketplace.firefox.com/app/webfighter',
             walkthrough_link='https://github.com/jlongster/webfighter/blob/master/docs/making-of.md' %}
      Webfighter is an R-Type and Tyrian inspired game where you must hunt
      down an alien bug and destroy it. As a side-scrolling shooter, pick up
      various weapons to blast your way through enemies. In addition to
      destroying the alien bug, kill as many enemies as possible to get the
      highest score.
      <a href="{{ marketplace_link }}">View on the marketplace</a>
      <a href="{{ walkthrough_link }}"
         class="walkthrough">Read the full developer walkthrough</a>
    {% endtrans %}
  </section>
{% endblock %}

{% block app_web_apis %}
  <section>
    <h2>{{ _('Web API Usage') }}</h2>
    <ul>
      <li>
        {{ web_api('canvas') }}
        <p>
          {%- trans %}
            Used to generate the game graphics.
          {% endtrans -%}
        </p>
      </li>
      <li>
        {{ web_api('fullscreen') }}
        <p>
          {%- trans %}
            Allows the game to be played in fullscreen mode.
          {% endtrans -%}
        </p>
      </li>
      <li>
        {{ web_api('in_app_payments') }}
        <p>
          {%- trans %}
            The player can purchase items in a store that will aid their quest.
            This shows the workflow for in-app payments.
          {% endtrans -%}
        </p>
      </li>
    </ul>
  </section>
{% endblock %}

{% block app_code %}
  <a href="https://github.com/jlongster/webfighter"
     class="app-source button">{{ _('View Source') }}</a>
  <a href="https://github.com/jlongster/webfighter/archive/master.zip"
     class="app-source button">{{ _('Download') }}</a>
{% endblock %}

{% block app_summary %}
  <div class="summary">
    {# L10N: This is the difficulty level of the app. #}
    <h4>{{ _('Difficulty:') }} <span>{{ _('Medium') }}</span></h4>
  </div>
  <div class="summary">
    <h4>{{ _('Code Breakdown') }}:</h4>
    <ol>
      <li>{{ _('2%') }} HTML</li>
      <li>{{ _('6%') }} CSS</li>
      <li>{{ _('92%') }} JavaScript</li>
    </ol>
  </div>
{% endblock %}
