{% if grouped_ratings and product.total_reviews %}
  <ul class="grouped-ratings" data-total="{{ product.total_reviews }}">
    {% for rating, count in grouped_ratings|sort(reverse=True) %}
      {% set pct = (count|float / product.total_reviews * 100)|round(method='floor') %}
      <li class="c">{{ rating|stars }}
        <div class="rating-bar" data-num-reviews="{{ count }}">
          <span class="bar" style="width:{{ pct }}%">
            <span class="num-ratings">{{ count }}</span>
          </span>
        </div>
      </li>
    {% endfor %}
  </ul>
{% endif %}
