<header class="product c">
  <div class="visual">
    <img src="{{ product.get_icon_url(64) }}">
  </div>
  <div>
    <h1 class="hidden">{{ product.name }}</h1>
    <h1 class="multi">
      <small>{{ title }}</small>
      <span>{{ product.name }}</span>
    </h1>
    <p class="average-rating{{ ' no-rating' if not product.average_rating }}">
      {% if product.average_rating %}
        {{ product.average_rating|float|stars }}
        <span>
          {% trans cnt=product.total_reviews,
                   num=product.total_reviews|numberfmt %}
            {{ num }} review
          {% pluralize %}
            {{ num }} reviews
          {% endtrans %}
        </span>
      {% else %}
        {{ _('Not yet rated') }}
      {% endif %}
    </p>
  </div>
</header>
{% if grouped_ratings and product.total_reviews %}
  <ul class="grouped-ratings" data-total="{{ product.total_reviews }}">
    {% for rating, count in grouped_ratings|sort(reverse=True) %}
      {% set pct = (count|float / product.total_reviews * 100)|round(method='floor') %}
      <li class="c">{{ rating|stars }}
        <div class="rating-bar" data-num-reviews="{{ count }}">
          <span class="bar" style="width:{{ pct }}%">
            <span class="num-ratings">{{ count }}</span>
          </span>
        </div>
      </li>
    {% endfor %}
  </ul>
{% endif %}
