{% macro addon_list(list, limit=5) %}
<ul>
{# These are JSON add-ons from the API, not Addon objects. #}
{% for addon in list[:5] %}
  <li data-guid="{{ addon.guid }}" data-summary="{{ addon.summary }}">
    <a href="{{ addon.learnmore }}">
      <img src="{{ addon.icon }}">{{ addon.name }}</a>
  </li>
{% endfor %}
</ul>
{% endmacro %}

<!DOCTYPE html>
<html lang="{{ LANG }}" dir="{{ DIR }}">
  <head>
    <title>{{ _('Add-on Discovery Pane') }}</title>
    {{ css('zamboni/discovery-pane') }}
  </head>
  <body class="html-{{ DIR }}">

    <section id="what-are-addons">
      <h1>{{ _('What are Add-ons?') }}</h1>
      <p>
        {% if APP == amo.FIREFOX %}
          {% trans %}
          Firefox Add-ons are applications that let you personalize your
          Firefox Web browser. An add-on can be a time-saving sidebar, a
          shortcut to your favorite sites, or a themed look. There are
          thousands of add-ons to choose from and nearly 2 billion Firefox
          Add-ons have been downloaded by more than 100 million people. Start
          discovering add-ons today!
          {% endtrans %}
        {% else %}
          {% trans app=APP.pretty %}
          Add-ons are applications that let you personalize {{ app }}. An
          add-on can be a time-saving sidebar, a helpful toolbar, or a themed
          look.  There are thousands of add-ons to choose from and nearly 2
          billion add-ons have been downloaded by more than 100 million people.
          Start discovering add-ons today!
          {% endtrans %}
        {% endif %}
      </p>
    </section>
    {% if user.is_authenticated() %}
      <section id="my-account">
        <h1>{{ _('Welcome, {0}')|f(request.amo_user.welcome_name) }}</h1>
        {% trans url=url('home') -%}
          You're logged in to your <a href="{{ url }}">Mozilla Add-ons</a> account.
        {%- endtrans %}
        <ul>
          <li>
            <a href="{{ remora_url('/users/edit') }}">{{ _('My Profile') }}</a>
          </li>
          <li>
            <a href="{{ remora_url('/collections/mine') }}">{{ _('My Collections') }}</a>
          </li>
        </ul>
      </section>
    {% else %}
      <section id="mission">
        {% trans url="TODO" -%}
          Thanks for using Firefox and supporting
          <a href="{{ url }}">Mozilla's mission</a>!
        {%- endtrans %}
        <table>
          {% if addon_downloads %}
            <tr>
              <th>{{ _('Add-ons downloaded') }}</th>
              <td>{{ addon_downloads|numberfmt }}</td>
            </tr>
          {% endif %}
        </table>
      </section>
    {% endif %}

    <section id="main">
      {% for module in modules %}
        {{ module.render()|safe }}
      {% endfor %}
    </section>
    <section id="top-addons">
      <h1>{{ _('Top Add-ons') }}</h1>
      {{ addon_list(top_addons) }}
    </section>

    <section id="featured-addons">
      <h1>{{ _('Featured add-ons') }}</h1>
      {{ addon_list(featured) }}
    </section>
    <section id="recs">
      <h1>{{ _('Get Personal') }}</h1>
      <p>{% trans %}
      Tell us what add-ons you're using and we'll suggest new add-ons you might
      like based on similar users. <a href="#learn-more">Learn more&hellip;</a>
      {% endtrans %}</p>
      <button>{{ _('Turn on recommendations') }}</button>
    </section>
    <section id="links">
      <p>{{ _('More ways to customize') }}</p>
      <ul>
        <li><a href="{{ url('home') }}">{{ _('Browse all add-ons') }}</a></li>
        <li><a href="{{ remora_url('/themes') }}">
          {{ _('See all themes & Personas') }}</a></li>
      </ul>
      <p><font face="comic sans" color="tomato">
        <font size="5">DISCLAIMER:</font> This is not done.</font>
      <font size=2 color="darkorchid">More improvements to this page coming soon!</font></p>
    </section>
  </body>
</html>
