{% macro addon_list(list, limit=5, sidebar=False) %}
<ul>
{# These are JSON add-ons from the API, not Addon objects. #}
{% for addon in list[:5] %}
  <li data-guid="{{ addon.guid }}" data-summary="{{ addon.summary }}">
    <a href="{{ addon.learnmore|urlparams(src='discovery-pane') }}">
      <img src="{{ addon.icon }}" width="32" height="32">
      {% if sidebar %}
        {{ addon.name }}
      {% else %}
        <h3>{{ addon.name }}</h3>
        <p class="desc">{{ addon.summary }}</p>
      {% endif %}
    </a>
  </li>
{% endfor %}
</ul>
{% endmacro %}

{% set app = request.APP.pretty %}

<!DOCTYPE html>
<html lang="{{ LANG }}" dir="{{ DIR }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=700">
    <title>{{ _('Discover Add-ons') }}</title>
    {{ css('zamboni/discovery-pane') }}
    <base target="_blank" href="{{ settings.SITE_URL }}">
  </head>
  <body class="html-{{ DIR }}">
    <header>
      <section id="intro">
      <h1><img src="{{ MEDIA_URL }}img/zamboni/discovery_pane/logo-addons.png"
               width="87" height="82">{{ _('What are Add-ons?') }}</h1>
      <p>
        {% trans %}
        Add-ons are applications that let you personalize {{ app }} with extra
        functionality or style. Try a time-saving sidebar, a weather notifier,
        or a themed look to make {{ app }} your own.
        {% endtrans %}
        <a href="{{ url('home') }}" class="button">{{ _('Learn More') }}</a>
      </p>
      </section>


    {% if user.is_authenticated() %}
      <section id="my-account">
        <p>{{ _('Welcome, {0}')|f(request.amo_user.welcome_name) }}</p>
        <div>
          <a href="{{ url('users.edit') }}">{{ _('My Profile') }}</a>
          &bull;
          <a href="{{ url('collections.user', request.amo_user.username) }}">
            {{ _('My Collections')}}</a>
        </div>
      </section>
    {% else %}
      <section id="mission">
         <p>{% trans url="http://www.mozilla.org/" -%}
          Thanks for using {{ app }} and supporting
          <a href="{{ url }}">Mozilla's mission</a>!
          {%- endtrans %}</p>
        {% if addon_downloads %}
          <p id="download-count">
            {{ _('Add-ons downloaded') }}:
            <strong>{{ addon_downloads|numberfmt }}</strong>
          </p>
        {% endif %}
      </section>
    {% endif %}
    </header>

    <section id="main">

      <section id="main-feature">
        <ul id="nav-features">
          <li id="nav-prev"><a href="#" class="prev">{{ _('Previous') }}</a></li>
          <li id="nav-next"><a href="#" class="next">{{ _('Next') }}</a></li>
        </ul>

        <ul class="slider">
        {% for module in modules %}
          {{ module.render()|safe }}
        {% endfor %}
        </ul>
      </section>

      <section id="featured-addons">
        <h2>{{ _('Featured Add-ons') }}</h2>
        <div class="addons">
          {{ addon_list(featured) }}
        </div>
      </section>
    </section>


    <section id="sub">
      <section id="top-addons">
        <h2>
          {{ _('Top Add-ons') }}
        </h2>
        {{ addon_list(top_addons, 5, sidebar=True) }}
        <p class="all">
          <a href="{{ url('browse.extensions') }}">{{ _('See all ') }}</a>
        </p>
      </section>
      <section id="more-ways">
        <h2>{{ _('More ways to customize') }}</h2>
        <ul>
          <li id="more-addons">
            <a href="{{ url('browse.extensions') }}">{{ _('Browse all add-ons') }}</a>
          </li>
          <li id="more-personas">
            <a href="{{ url('browse.themes') }}">
                {{ _('See all themes and Personas') }}</a>
          </li>
        </ul>
        <p class="help">
          This page isn't finished quite yet; look for more
          improvements coming soon!
        <!--
          {% trans -%}
          Need help with an add-on?
          <a href="#"><strong>Get support</strong></a>
          {%- endtrans %}
        -->
        </p>
      </section>

    </section>

    {{ js('zamboni/discovery-pane') }}

  </body>
</html>
