{% from "addons/macros.html" import vital %}
{% set details_link = addon.get_url_path()|urlparams(src=dl_src) %}
<div class="addon hovercard">
    <div class="icon">
      <a href="{{ details_link }}">
      {% if lazyload %}
      <img src="{{ addon.get_icon_url(32) }}" alt="{{ _('Icon for {0}')|format_html(addon.name) }}">
      {% else %}
        <img data-defer-src="{{ addon.get_icon_url(32) }}" alt="{{ _('Icon for {0}')|format_html(addon.name) }}"
             src="{{ static('img/addon-icons/default-32.png') }}">
      {% endif %}
      </a>
    </div>
    <div class="summary">
      <a href="{{ details_link }}">
        <h3>{{ addon.name }}</h3>
        {% with cat = addon.get_category(APP.id) %}
          {% if cat %}
            <div class="category more-info">{{ cat }}</div>
          {% endif %}
        {% endwith %}
      </a>
      {{ vital(addon, vital_summary) }}
      {% if vital_summary == 'downloads' %}
        {{ vital(addon, 'rating') }}
      {% endif %}
    </div>
  <div class="more">
    {{ install_button(addon, impala=True) }}
    <span class="addon-summary">
      {{ addon.summary|truncate(250)|nl2br }}
    </span>
    <div class="byline">
      {% trans users=users_list(addon.listed_authors, size=2) %}
        by {{ users }}
      {% endtrans %}
    </div>
    {% if vital_more %}
      <div class="vitals">
        {{ vital(addon, vital_more) }}
      </div>
    {% endif %}
  </div>
</div>
