{% set _obj = version if amo.HAS_COMPAT[addon.type] else addon %}
{% set compat = _obj.compatible_apps[APP] if _obj else None %}

<div class="install-shell">
<div class="install {{ button.install_class|join(' ') }}"
     {% include 'addons/includes/button_data_attributes.html' %}>
  <p class="install-button">
    {% set links = button.links() %}
    {% if not links %}
      {{ _('No compatible versions') }}
    {% endif %}
    {% for link in links %}
      {% set extra = "platform " + link.os.shortname if link.os else "" %}
      {% include 'addons/includes/install_button.html' %}
      {% if button.show_download_anyway and link.download_url %}
        <span class="download-anyway {{ extra }}"><a href="{{ link.download_url }}" download>{{ _('Download Anyway') }}</a></span>
      {% endif %}
    {% endfor %}
  </p>
</div> {# install #}


{% if button.detailed %}
  <div class="detailed">
  {% if addon.privacy_policy %}
    <a class="privacy-policy badge" href="{{ url('addons.privacy', addon.slug) }}">
      {{ _('Privacy Policy') }}
    </a>
  {% endif %}
  {% if addon.eula %}
    <a class="eula badge" href="{{ url('addons.eula', addon.slug) }}">
      {{ _('End-User License Agreement') }}
    </a>
  {% endif %}
  {% if addon.should_show_permissions(version) %}
    <a class="webext-permissions badge" href="#">
      {% if not version.all_files[0].is_webextension %}
        <img src="{{ static('img/developers/test-warning.png') }}" alt="{{ _('[Warning]') }}"
		>{% endif %}{{ _('Permissions') }}
    </a>
  {% endif %}
  </div>
  {% if addon.is_unreviewed() %}
    <p class="warning">
      {% trans %}
	This add-on has not been reviewed by Mozilla.
      {% endtrans %}
    </p>
  {% elif button.experimental %}
    <p class="warning">{% trans %}
      This add-on has been marked as experimental by its developers
    {% endtrans %} </p>
  {% endif %}
{% endif %}
</div> {# install-shell #}
