{% set b = button %}
{% set _obj = version if amo.HAS_COMPAT[addon.type] else addon %}
{% set compat = _obj.compatible_apps[APP] if _obj else None %}

<div class="install-shell">
<div class="install {{ b.install_class|join(' ') }}"
     {% include 'addons/includes/button_data_attributes.html' %}>
  <p class="install-button">
    {% set links = b.links() %}
    {% if not links %}
      {{ _('No compatible versions') }}
    {% endif %}
    {% if settings.ADD_TO_MOBILE %}
      {% if APP == amo.MOBILE %}
        {% if request.user.is_authenticated() %}
          {% set action = url('collections.alter', request.user.username, 'mobile', 'add') %}
        {% endif %}
        {% if installed %}
          {% set extra, text = 'status ok', _('Added to Mobile') %}
        {% else %}
          {% set text = _('Add to Mobile') %}
        {% endif %}
        <form method="post" action="{{ action }}">
          {{ csrf() }}
          <input type="hidden" name="addon_id" value="{{ addon.id }}">
          <button class="button mobile {{ extra }} {{ b.button_class|join(' ') }}">
            <b></b>
            <span>{{ text }}</span>
          </button>
        </form>
      {% endif %}
    {% endif %}
    {% for link in links %}
      {% set extra = "platform " + link.os.shortname if link.os else "" %}
      {% include 'addons/includes/install_button.html' %}
    {% endfor %}
  </p>
</div> {# install #}


{% if b.detailed %}
  <div class="detailed">
  {% if addon.privacy_policy %}
    <a class="privacy-policy badge" href="{{ url('addons.privacy', addon.slug) }}">
      {{ _('Privacy Policy') }}
    </a>
  {% endif %}
  {% if addon.eula %}
    <a class="eula badge" href="{{ url('addons.eula', addon.slug) }}">
      {{ _('End-User License Agreement') }}
    </a>
  {% endif %}
  {% if waffle.switch('webext-permissions') and addon.should_show_permissions(version) %}
    <a class="webext-permissions badge" href="#">
      {% if not version.all_files[0].is_webextension %}
        <img src="{{ static('img/developers/test-warning.png') }}" alt="{{ _('[Warning]') }}"
		>{% endif %}{{ _('Permissions') }}
    </a>
  {% endif %}
  </div>
  {% if addon.is_unreviewed() %}
    <p class="warning">
      {% trans url=url('pages.faq') + "#unreviewed" %}
	This add-on has not been reviewed by Mozilla.
	<a href="{{ url }}">Learn more</a>
      {% endtrans %}
    </p>
  {% elif b.experimental %}
    <p class="warning">{% trans url=url('pages.faq') + "#experimental" %}
      This add-on has been marked as experimental by its developers
    {% endtrans %} </p>
  {% endif %}
{% endif %}

{% if version.is_compatible %}
  {% with reasons=version.is_compatible[1] %}
    <div class="d2c-reasons-popup popup">
      <p>{% trans app=APP.pretty %}
        This add-on is not compatible with your version of {{ app }} because of
        the following:
      {% endtrans %}</p>
      <ul>{% for reason in reasons %}<li>{{ reason }}</li>{% endfor %}</ul>
    </div>
  {% endwith %}
{% endif %}
<p>
    <a id="downloadAnyway" hidden="true">{{ _('Download Anyway') }}</a>
</p>
</div> {# install-shell #}
