{% extends "impala/base_shared.html" %}
{% from "addons/macros.html" import addon_flags %}

{% set is_author = request.check_ownership(addon, require_owner=False) %}
{% set is_reviewer = action_allowed(amo.permissions.ADDONS_REVIEW) %}
{% set is_admin = action_allowed(amo.permissions.REVIEWS_ADMIN) %}

{% block title %}{{ page_title(addon.name) }}{% endblock %}
{% block bodyclass %}gutter addon-details {{ super() }}{% endblock %}

{% block extrahead %}
  {% if settings.ENGAGE_ROBOTS and addon.status == amo.STATUS_NOMINATED %}
    <meta name="robots" content="noindex">
  {% endif %}
  <meta property="og:title" content="{{ addon.name }}">
  <meta property="og:type" content="website">
  <meta property="og:image" content="{{ addon.get_icon_url(64)|absolutify }}">
  <meta property="og:url" content="{{ addon.get_url_path()|absolutify }}">
  <meta property="og:description" content="{{ addon.summary|striptags }}">
{% endblock %}

{% block header_content %}
<div itemscope itemtype="http://schema.org/WebApplication">
  <link itemprop="SoftwareApplicationCategory" href="http://schema.org/OtherApplication" />
  <aside class="secondary addon-vitals">

    {# This assumes we'll never charge for add-ons. Ha. #}
    <span itemprop="offers" itemscope itemtype="http://schema.org/Offer">
      <meta itemprop="price" content="$0" />
      <meta itemprop="priceCurrency" content="USD" />
      <link itemprop="availability" href="http://schema.org/InStock" />
    </span>

    <div itemprop="aggregateRating" itemscope="" itemtype="http://schema.org/AggregateRating">
      <meta content="{{ addon.average_rating }}" itemprop="ratingValue">
      {{ addon.average_rating|stars(large=True) }}

      <div>
        <a id="reviews-link" href="{{ addon.ratings_url }}">
          {% trans cnt=addon.total_ratings, num=addon.total_ratings|numberfmt %}
            <span itemprop="ratingCount">{{ num }}</span> user review
          {% pluralize %}
            <span itemprop="ratingCount">{{ num }}</span> user reviews
          {% endtrans %}
        </a>
      </div>
    </div>

    {% if addon.show_adu() %}
      {% set cnt = addon.average_daily_users %}
      {% if cnt %}
        {% set cnt_id = 'daily-users' %}
        {% set cnt_pretty = ngettext(
          '{0} user', '{0} users', cnt)|format_html(cnt|numberfmt) %}
      {% endif %}
    {% else %}
      {% set cnt = addon.weekly_downloads %}
      {% if cnt %}
        {% set cnt_id = 'weekly-downloads' %}
        {% set cnt_pretty = ngettext('{0} weekly download',
          '{0} weekly downloads', cnt)|format_html(cnt|numberfmt) %}
      {% endif %}
    {% endif %}
    {% if cnt %}
      <div id="{{ cnt_id }}">
        {% if addon.public_stats or is_author %}
          <a class="stats" title="{{ _('View statistics') }}"
             href="{{ url('stats.overview', addon.slug) }}">{{ cnt_pretty }}</a>
        {% else %}
          {{ cnt_pretty }}
        {% endif %}
        <meta itemprop="interactionCount" content="UserDownloads:{{ addon.total_downloads }}" />
      </div>
    {% endif %}

    <div class="widgets">
      {{ favorites_widget(addon) }}
      {% include 'addons/includes/collection_add_widget.html' %}
    </div>
    {% if is_author %}
      <p class="manage-button"><a href="{{ addon.get_dev_url() }}" class="button developer prominent"><span>{{ _('Manage') }}</span></a></p>
    {% endif %}
    {% if is_reviewer %}
      <p class="manage-button"><a href="{{ url('reviewers.review', addon.slug) }}" class="button"><span>{{ _('Add-on Review') }}</span></a></p>
    {% endif %}
    {% if is_admin %}
      <p class="manage-button"><a href="{{ url('zadmin.addon_manage', addon.slug) }}" class="button"><span>{{ _('Admin Manage') }}</span></a></p>
    {% endif %}
  </aside>

  {% set version = addon.current_version %}

  {# All this depends on the addon or version, and nothing needs the user,
     so we can cache it all against the addon. #}
  <section class="primary addon-description-header">
    <div id="addon" class="island c" role="main" data-id="{{ addon.id }}">
      <hgroup>
        {# L10n: {0} is an add-on name. #}
        <img id="addon-icon" itemprop="image" src="{{ addon.get_icon_url(64) }}" class="icon" alt="{{ _('Icon of {0}')|format_html(addon.name) }}">
        <h1 class="addon"{{ addon.name|locale_html }}>
          <span itemprop="name">{{ addon.name }}</span>
          {% if version %}
            <span class="version-number" itemprop="version">{{ version.version }}</span>
            {{ addon_flags(addon, version) }}
          {% endif %}
        </h1>
        <h4 class="author">{{ _('by') }} {{ users_list(addon.listed_authors) }}</h4>
      </hgroup>
      <p id="addon-summary" itemprop="description" {{ addon.summary|locale_html }}>{{ addon.summary|nl2br }}</p>
      {% if version %}
        {{ big_install_button(addon, show_warning=False, impala=True) }}
      {% endif %}
      {% if addon.is_featured(APP, LANG) %}
        <div class="banner-box">
          <div class="banner featured">{{ _('Featured') }}</div>
        </div>
      {% endif %}
    </div>

    {{ dependencies_note(addon) }}

    {% if addon.contributions %}
      <div class="notice c author">
        <div class="button-wrapper">
          <a class="button contribute prominent" id="contribution-url-button"
             target="_blank" rel="noopener"
             href="{{ addon.contributions|external_url }}">
            <b></b>{{ _('Contribute') }}
          </a>
        </div>
        <h3>{{ _('Enjoy this add-on?') }}</h3>
        <p>
        {% trans %}
          The developer of this add-on asks that you help support its
          continued development by making a small contribution.
        {% endtrans %}
        </p>
      </div>
  {% endif %}
  </section>
</div>
{% endblock header_content %}

{% block content %}

{% set version = addon.current_version %}

{% if addon.type != amo.ADDON_PERSONA %}
  {% if addon.current_previews|length > 0 %}
    <section class="previews">
      <div class="carousel">
        <a href="#" class="control prev">&laquo;</a>
        <a href="#" class="control next">&raquo;</a>
        <ul id="preview" class="slider">
          {%- for preview in addon.current_previews -%}
            <li class="panel">
              <a class="screenshot thumbnail" rel="jquery-lightbox"
                 href="{{ preview.image_url }}" title="{{ preview.caption }}">
                {# L10n: {0} is an index. #}
                <img src="{{ preview.thumbnail_url }}" alt="{{ _('Add-on screenshot #{0}')|format_html(loop.index) }}">
              </a>
            </li>
          {%- endfor -%}
        </ul>
      </div>
    </section>
    <div id="lightbox">
      <section>
        <div class="content">
          <a class="close" href="#">Close</a>
        </div>
        <div class="controls">
          <a href="#" class="control next">&raquo;</a>
          <a href="#" class="control prev">&laquo;</a>
          <div class="caption"><span></span></div>
        </div>
      </section>
    </div>
  {% endif %}
{% endif %}

<aside class="secondary metadata c">
  <ul class="links">
    {% if addon.homepage %}
      <li><a class="home" href="{{ addon.homepage|external_url }}">
        {{ _('Add-on home page') }}</a></li>
    {% endif %}
    {% if addon.support_url %}
      <li><a class="support" href="{{ addon.support_url|external_url }}">{{ _('Support site') }}</a></li>
    {% endif %}
    {% if addon.support_email %}
      <li>{{ emaillink(addon.support_email.localized_string,
                       _('Support E-mail')) }}</li>
    {% endif %}
  </ul>
  {% if version %}
    <ul>
      <li>{{ _('Version {0}')|format_html(version.version) }} <a class="scrollto" href="#detail-relnotes">{{ _('Info') }}</a></li>
      <li>{% trans %}Last Updated:{% endtrans %} {{ version.created|date }}</li>
      <li class="source-license">
        {% set license = version.license %}
        {% if license %}
          {% if license.url %}
            {% trans url = license.url,
                     name = license if license.builtin else _('Custom License') %}
              Released under <a href="{{ url }}">{{ name }}</a>
            {% endtrans %}
          {% else %}
            {% trans url = version.license_url(),
                     name = license if license.builtin else _('Custom License') %}
              Released under <a href="{{ url }}">{{ name }}</a>
            {% endtrans %}
          {% endif %}
        {% endif %}
      </li>
    </ul>
  {% endif %}
</aside>

<section class="primary island c">
  <h2>{{ _('About this Add-on') }}</h2>
  <div class="prose">
  {% if addon.description %}
    <div id="addon-description" class="prose" {{ addon.description|locale_html }}>{{ addon.description|nl2br }}</div>
  {% else %}
    <div id="addon-description" class="prose" {{ addon.description|locale_html }}>{{ addon.summary|nl2br }}</div>
  {% endif %}
  </div>
</section>

<div id="more-webpage" class="primary c" data-more-url="{{ addon.get_url_path(more=True) }}"></div>

{% if version or addon.developer_comments %}
<section class="primary island more-island">
  {% if addon.developer_comments %}
    <section class="expando" id="developer-comments">
      <h2>{{ _('Developer’s Comments') }}<a class="toggle" href="#developer-comments"><b></b></a></h2>
      <div class="content prose">
        <p{{ addon.developer_comments|locale_html }}>
          {{ addon.developer_comments|nl2br }}</p>
      </div>
    </section>
  {% endif %}

  {% if version %}
    <section id="detail-relnotes" class="expando">
      <h2>{{ _('Version Information') }}<a class="toggle" href="#detail-relnotes"><b></b></a></h2>
      <div class="content listing">
        <div class="items">
          {{ version_detail(addon, version, src=version_src, impala=True) }}
        </div>
        <p class="more c">
          <a class="more-info" href="{{ url('addons.versions', addon.slug) }}">
            {{ _('See complete version history') }}
          </a>
        </p>
      </div>
    </section>
  {% endif %}
</section>

{% endif %}

</div>
{# The rest of the detail page content is in details-more.html.
   We want above-the-fold to return and render really fast so we pull
   in reviews and links to other add-ons with js. #}
{% endblock content %}

{% block popups %}
  {% if addon.privacy_policy %}
    <div class="modal" id="privacy-policy">
      <a href="#" class="close">{{ _('close') }}</a>
      <h2>{{ _('Privacy Policy') }}</h2>
      <div class="prose">
        {{ addon.privacy_policy|nl2br }}
      </div>
    </div>
  {% endif %}
  {% if addon.should_show_permissions() %}
    <div class="modal" id="webext-permissions">
      <a href="#" class="close">{{ _('close') }}</a>
      <h2>{{ _('Permissions') }}</h2>
      {% if addon.current_version.all_files[0].is_webextension %}
        {% set permissions = addon.current_version.all_files[0].webext_permissions %}
        <div class="prose">
          <p>
          {{ _('Some add-ons ask for permission to perform certain functions (example: a tab management add-on will ask permission to access your browser’s tab system).') }}
          </p><p>
          {{ _('Since you’re in control of your Firefox, the choice to grant or deny these requests is yours. Accepting permissions does not inherently compromise your browser’s performance or security, but in some rare cases risk may be involved.') }}
          </p>
        </div>
        <div>
          <p>
            {# l10n: This is a header of a list of things the add-on can do. #}
            <h3>{{ _('This add-on can:') }}</h3>
            <ul class="webext-permissions-list">
              {% for perm in permissions %}
                <li class="webext-permissions-list">{{ perm.description|e }}</li>
              {% endfor %}
            </ul>
          </p>
        </div>
      {% else %}
        <div class="prose">
          <img src="{{ static('img/developers/test-warning.png') }}" alt="{{ _('[Warning]') }}">
          <p>
          {{ _('Some add-ons ask for permission to perform certain functions. Since you’re in control of your Firefox, the choice to grant or deny these requests is yours.') }}
          </p><p>
          {{ _('Please note this add-on uses legacy technology, which gives it access to all browser functions and data without requesting your permission.') }}
          </p>
        </div>
      {% endif %}
    </div>
  {% endif %}
  {% if addon.eula %}
    <div class="modal" id="eula">
      <a href="#" class="close">{{ _('close') }}</a>
      <h2>{{ _('End-User License Agreement') }}</h2>
      <div class="prose">
        {{ addon.eula|nl2br }}
      </div>
    </div>
  {% endif %}
  {% if review_form and request.user.is_authenticated() %}
      {{ impala_review_add_box(addon=addon) }}
  {% endif %}
  {% if abuse_form %}
    <div id="abuse-modal" class="modal">
      <a href="#" class="close">{{ _('close') }}</a>
      <h2>{{ _('Report Abuse') }}</h2>
      {{ addon_report_abuse(hide=False, addon=addon) }}
    </div>
  {% endif %}
{% endblock %}
