{% extends "impala/base_shared.html" %}

{% block title %}{{ page_title(addon.name) }}{% endblock %}
{% block bodyclass %}gutter{% endblock %}

{% block content %}
<aside class="secondary">
  {{ addon|sidebar_listing }}
</aside>

<div class="primary">
  <div class="notification-box error {{ 'removed' if addon.disabled_by_user else 'disabled' }}">
    {% if addon.disabled_by_user %}
      {{ _('This add-on has been removed by its author.') }}
    {% elif addon.status == amo.STATUS_DISABLED %}
      {{ _('This add-on has been disabled by an administrator.') }}
    {% endif %}
  </div>
</div>
{% endblock content %}
