{% from "addons/macros.html" import vital %}
{% if addons %}
  {% set vital_type = {'updated': 'updated',
                       'created': 'created',
                       'rating': 'rating',
                       'popular': 'downloads',
                       'users': 'adu'}.get(sorting, 'adu') %}
  <ul class="listing-grid theme-grid c">
    {% for addon in addons %}
      <li>
        <div class="hovercard addon theme">
          <a href="{{ addon.get_url_path()|urlparams(src=dl_src) }}">
            <div class="summary">
              <h3>{{ addon.name }}</h3>
              <div><img src="{{ addon.thumbnail_url }}" alt=""></div>
            </div>
          </a>
          <div class="more">
            {{ install_button(addon, impala=True) }}
            {{ addon.summary|truncate(250)|nl2br }}
            <div class="byline">
              {% trans users=users_list(addon.listed_authors, size=2) %}
                by {{ users }}
              {% endtrans %}
            </div>
            {% if vital_type != 'adu' %}
              {{ vital(addon, 'adu') }}
            {% endif %}
          </div>
          {{ vital(addon, vital_type) }}
        </div>
      </li>
    {% endfor %}
  </ul>
{% else %}
<div class="featured-inner">
  <div class="listing-header">
    <p class="no-results">
      {{ _('No results found.') }}
    </p>
  </div>
</div>
{% endif %}
