{% extends "base_modal.html" if request.is_ajax() else "impala/base_shared.html" %}

{% block title %}{{ _('Not allowed') }}{% endblock %}

{% block content %}
  <section class="primary">
    {% trans %}
      <h1>Oops! Not allowed.</h1>
      <p>You tried to do something that you weren't allowed to.</p>
    {% endtrans %}
    {% if because_csrf %}
      {% trans %}
      <p>Try going back to the previous page, refreshing
      and then trying again.</p>
      {% endtrans %}
    {% endif %}
  </section>
{% endblock %}
