<!-- Not in a trans block on purpose; we don't want to get into
   any legal ambiguities between the english version and a translation. -->

<!-- When updating, don't forget to change the Last Updated date -->

<div id="dev-agreement" class="rounded">

<p>Last Update: <strong>July 7, 2011</strong></p>

<p>
  If you upload or otherwise make available add-on software, Firefox "Theme"
  designs or any other information or material
  (each an &#8220;<strong><abbr title="addons.mozilla.org">AMO</abbr>
  Contribution</strong>&#8221;) by means of the services provided by Mozilla
  Corporation (&#8220;<strong>Mozilla</strong>&#8221;) via the
  addons.mozilla.org website or any of its subdomains (&#8220;<strong>AMO
  Services</strong>&#8221;), you (the &#8220;<strong>Contributor</strong>&#8221;)
  and the AMO Contribution are subject to the following terms, and
  Mozilla’s Privacy Policy,
  <a href="http://www.mozilla.org/legal/">website notices</a>

  and other policies, guidelines or requirements that may be posted on an AMO
  Services website, such as the Policies on Specific Add-on Practices described
  on the Review Process page and the Themes Guidelines
  (the &#8220;<strong>Terms</strong>&#8221;). By submitting an AMO Contribution,
  you demonstrate your agreement to these Terms. If you are an individual acting
  as a representative of a corporation or other legal entity that wishes to use any
  AMO Services, you represent and agree that you accept the Terms on behalf of
  such entity. If you have any questions about these terms or the AMO Service,
  please email:
  {{ emaillink('marketplace-staff@mozilla.org', _('marketplace-staff@mozilla.org')) }}
</p>
<ol>
  <li>
    <p>
      <strong>Responsibility for AMO Contributions.</strong>
      You represent and warrant that:
    </p>

    <ul>
      <li>
        if any information about the user or usage of the AMO Contribution is
        collected or transmitted outside of the user's computer, the details of this
        collection will be provided in the description of the AMO Contribution and
        you will provide a link to a privacy policy detailing how the information is
        managed and protected;
      </li>
      <li>
        the descriptions and other data you provide about the AMO Contribution are
        true to the best of your knowledge;
      </li>
      <li>
        if the AMO Contribution is an add-on, such add-on is accompanied by an
        accessible license that describes the rights of users;
      </li>
      <li>
        you have all the legal rights needed to post, display, perform, use, reproduce
        and transmit your AMO Contribution over the web, worldwide, as well as the
        rights to authorize others (including Mozilla) to do the same. For more information
        on what this means, please see the <a href="#rrd">Rights Representation Details
        section</a> below; and
      </li>
      <li>
        to the extent the AMO Contribution contains any commercial identifiers such as a
        trademark, service mark, or trade dress, you have worldwide rights to use and to
        authorize the use of the artwork, designs, emblems, names, and other elements
        under the law (such as under fair use principles).
      </li>
    </ul>
  </li>
  <li>

    <p>
      <strong>Licenses.</strong>
      Mozilla encourages you to make your AMO Contribution available under an
      open source license such as the MPL for source code and a Creative Commons
      license for creative works. If you choose not to use such a license, then
      you will need to grant Mozilla the following license in order for us to
      provide the AMO Services; You grant to Mozilla and its
      affiliates a non-exclusive, worldwide, royalty-free, sublicensable license
      to distribute, transmit, reproduce, publish, publicly and privately
      perform and display and otherwise use the AMO Contribution, including any
      updates, solely in connection with Mozilla’s provision of the AMO
      Services. Mozilla and its affiliates may also (i) bundle and/or package,
      and permit users to bundle and/or package, your AMO Contribution
      with third party AMO Contributions for delivery and promotion of the AMO
      Contributions to users; (ii) maintain and/or update your AMO
      Contribution for the purpose of providing compatibility with current and
      new versions of Firefox or other Mozilla software that the AMO
      Contribution interoperates with and (iii) include your name, logo and/or
      AMO Contribution title in menus and other categories relating to the
      selection of AMO Contributions.
    </p>
  </li>
  <li>
   <p>
     <strong>Management of AMO Services.</strong>

     Mozilla may manage the AMO Services in a manner designed to facilitate the
     integrity and proper functioning of the AMO Services without limitation or
     liability. The following is a list of exemplary activities that Mozilla in
     its sole discretion may undertake as part of its management of the AMO
     Services: (i) monitor, test and review AMO Contributions; (ii) remove or
     disable AMO Contributions or change their listing or description; (iii)
     move an AMO Service and related AMO Contributions to a new domain or
     website; (iv) rate limit, throttle and/or block requests or access to any
     AMO Service; (v) use, modify or remove authentication requirements for
     access to AMO Services; and (vi) collect statistics and other data
     regarding your AMO Contribution, which may be made publicly available
     through the AMO API (as described below).
    </p>
  </li>
  <li>
    <p>
      <strong>AMO <abbr title="Application Programming Interface">API</abbr>.</strong>
      As part of the AMO Services, Mozilla provides the addons.mozilla.org API
      (&#8220;<strong>AMO API</strong>&#8221;), which allows you to get
      information about certain AMO Contributions distributed by Mozilla via the
      AMO Service and is currently served via calls to
      https://services.addons.mozilla.org/api/.
      You may use the AMO API solely to retrieve data made publicly available by
      Mozilla via the AMO API, which data may be used solely for your own
      reasonable business purposes or personal use. In addition to the
      restrictions otherwise set forth in the Terms regarding AMO Services
      generally, you agree that you are responsible for your use of and
      contribution to the AMO API and you will not:
    </p>

    <ul>
      <li>
        hide or mask from Mozilla the identity of your service as it uses the
        AMO API, including by failing to follow required identification
        conventions; or
      </li>
      <li>
        use the AMO API for any application that replicates or attempts to
        replicate the Mozilla AMO Service or experience
        unless your use of the AMO API is non-confusing. By non-confusing,
        Mozilla means that people should always know with whom they are dealing
        and where the information or software they are downloading came from.
        Websites and software that are not produced by Mozilla shouldn’t imply,
        either directly or by omission, that they are.
      </li>
    </ul>
    <br />
  </li>

  <li>
    <p>
      <strong>Firefox Sync Add-ons.</strong>
      If your AMO Contribution utilizes any Firefox Sync APIs
      or software, you agree (a) that you and your AMO Contribution will use
      the Firefox Sync APIs solely for their intended purpose; (b) that your
      AMO Contribution will not hide or mask its identity as it uses Mozilla’s
      hosted Firefox Sync services and/or Firefox Sync APIs, including by
      failing to follow required identification conventions; and (c) that
      you and your AMO Contribution will not use the Firefox Sync APIs for
      any application or service that replicates or attempts to replicate
      Mozilla’s hosted Firefox Sync services or experience unless such use
      is non-confusing. Your AMO Contribution shall not imply, either directly
      or by omission, that it is produced or endorsed by Mozilla.
    </p>
  </li>
  <li>
    <p>
      <strong>Ownership, Reservation of Mozilla's Rights.</strong>

      You are welcome to use the AMO Services subject to these Terms, and
      Mozilla grants you the right to do so. Mozilla and its licensors reserve
      all other rights in the AMO Services. Further, nothing in the Terms shall
      be deemed to grant you any right to use the trademarks, trade names,
      service marks, or trade dress of Mozilla or its licensors and Mozilla
      hereby reserves all right, title and interest therein. For information on
      our trademarks, please see our
      <a href="http://www.mozilla.org/foundation/trademarks/">Trademark and Logo Usage Policies</a>.
    </p>
  </li>
  <li>
    <p>
      <strong>Disclaimer of Warranties. The AMO Services are provided
        &#8220;as-is&#8221;. Mozilla, its contributors, licensors, and distributors,
        disclaim all warranties,</strong>
        whether express or implied, including without limitation, implied
        warranties of merchantability, fitness for a particular purpose and
        non-infringement. Some jurisdictions do not allow the exclusion or
        limitation of implied warranties, so this disclaimer may not apply to
        you.
      </strong>

    </p>
  </li>
  <li>
    <p>
      <strong>Limitation of Liability. Except as required by law, Mozilla,
        its contributors, licensors, and distributors will not be liable for any</strong>
        indirect, special, incidental, consequential, punitive, or exemplary <strong>damages
        arising out of or in any way relating to the use of AMO Services</strong>
        and their <strong>collective liability</strong>
        under these Terms <strong>will not exceed US$500</strong> (five hundred US dollars). Some
        jurisdictions do not allow the exclusion or limitation of certain damages,
        so this exclusion and limitation may not apply to you.
      </strong>
    </p>
  </li>
  <li>
    <p>
      <strong>Indemnification for AMO Contributions.</strong>
      If anyone brings a claim against Mozilla related to your actions or the AMO
      Contributions, you will indemnify and hold Mozilla harmless from and against
      all damages, losses, and expenses of any kind (including reasonable legal fees
      and costs) related to such claim.
    </p>
  </li>
  <li>
    <p>
      <strong>Changes to the Terms.</strong>
      Mozilla may update these Terms as necessary from time to time. The updated Terms
      will only apply to AMO Contributions submitted after the update and you will be
      presented with the revised Terms the next time you submit an AMO Contribution.
      These Terms may not be modified or cancelled without Mozilla’s written agreement.
    </p>
  </li>
  <li>
    <p>
      <strong>Eligibility.</strong>

      You represent that you are of legal age to form a binding contract and
      that you are not a person barred from receiving or using the AMO Services
      under the laws of any country, including the country in which you are
      resident or from which you use the AMO Services.
    </p>
  </li>
  <li>
    <p>
      <strong>Export Control.</strong>
      Export and import laws, restrictions, and regulations of the United States
      and other foreign agencies may apply.
    </p>
  </li>

  <li>
    <p>
      <strong>Miscellaneous.</strong>
      These Terms are governed by the laws of the state of California, U.S.A.,
      excluding its conflict of law provisions. If any portion of these Terms is
      held to be invalid or unenforceable, the remaining portions will remain in
      full force and effect. In the event of a conflict between a translated
      version of these Terms and the English language version, the English
      language version shall control. Mozilla’s subsidiaries and affiliates
      shall be third party beneficiaries of these Terms, entitled to enforce and
      rely upon the provisions hereof.
    </p>
  </li>
  <li>
    <p>
      <strong>Termination.</strong>

      You may terminate your use of the AMO Services at any time. Mozilla may
      modify or discontinue the AMO Services at its sole discretion.
    </p>
  </li>
</ol>

<h3 id="rrd">Rights Representation Details</h3>
<p>When you represent and warrant that you have all the legal rights needed to
post and transmit your AMO Contributions over the web as well as the rights to authorize
others to use, distribute, and modify your AMO Contributions, you mean that:</p>
<ul>
    <li><p>
        Either you are the owner of the copyright and all other rights in your
        AMO Contributions; or you have a perpetual, worldwide, unrestricted license to
        use, distribute, and modify for any purpose and in any medium, every element
        of your AMO Contributions and authorize others to do the same; or you have worldwide
        rights to freely use, distribute, and modify your AMO Contributions, or any elements
        of your AMO Contributions you don’t own or have a license to, and to authorize others
        to do the same, under a legal doctrine such as fair use; and
    </p></li>
    <li><p>
        To the extent your AMO Contributions contain any commercial identifiers such as
        trademarks or trade dress, you have worldwide rights to use and to authorize
        the use of such commercial identifiers under the law (such as via a license
        or under fair use principles); and
    </p></li>
    <li><p>
        To the extent your AMO Contributions contain any name, image, likeness, voice, or
        contact or location information of a person other than yourself, you have full
        rights to the use of, and to authorize further uses of, the name, image, likeness,
        voice, or contact or location information of that person in your AMO Contributions; and
    </p></li>
    <li><p>
        Your AMO Contributions do not violate any applicable law or regulation nor violate
        any rights of any third party.
    </p></li>
</ul>

</div>
