<ul class="license">
    {% if license.icons %}
        {% for icon in license.icons.split() %}
            <li class="icon {{ icon }}"></li>
        {% endfor %}
    {% endif %}
    <li class="text">
        {% if license.url %}
            {% if license.some_rights %}
                <a href="{{ license.url }}" title="{{ license.name }}">{{ _('Some rights reserved') }}</a>
            {% else %}
                <a href="{{ license.url }}">{{ license.name }}</a>
            {% endif %}
        {% else %}
            {{ license.name }}
        {% endif %}
    </li>
</ul>
