{% if num_pages > 1 %}
  <ol class="pagination">
    {% for x in range(1, num_pages) %}
    <li {{ x|class_selected(pager.number) }}>
      <a href="{{ pager.add_query(page=x) }}">{{ x }}</a>
    </li>
    {% endfor %}
    <li rel="next">
      <a href="{{ pager.add_query(page=pager.next_page_number()) }}">
        {{ _('Next') }}
      </a>
    </li>
  </ol>
  <div class="num-results">
    {% trans begin=pager.start_index(), end=pager.end_index() %}
      Results <strong>{{ begin }}</strong>&ndash;<strong>{{ end }}</strong>
      of {{ count }}
    {% endtrans %}
  </div>
{% endif %}
