{% if addon_type == amo.ADDON_THEME %}
  {% set extras = (
      ('users', _('Most Popular')),
      ('rating', _('Top Rated')),
      ('created', _('Newest')),
      ('featured', _('Featured')),
  ) %}
{% elif addon_type == amo.ADDON_WEBAPP %}
  {% set extras = (
      ('downloads', _('Most Popular')),
      ('free', loc('Top Free')),
      ('paid', loc('Top Paid')),
      ('rating', _('Highest Rated')),
  ) %}
{% else %}
  {% set extras = (
      ('featured', _('Featured')),
      ('users', _('Most Popular')),
      ('rating', _('Top Rated')),
  ) %}
{% endif %}
<nav id="side-nav" class="c" data-addontype="{{ addon_type }}">
  <h2>{{ _('Explore') }}</h2>
  <ul id="side-explore">
    {% for sort, title in extras %}
      <li class="s-{{ sort }}"><em><a href="{{ base_url|urlparams(sort=sort) }}">{{ title }}</a></em></li>
    {% endfor %}
  </ul>
  <h2>{{ _('Categories') }}</h2>
  <ul id="side-categories">
    {% for cat in categories %}
      <li id="c-{{ cat.id }}"><a href="{{ cat.get_url_path() }}">{{ cat.name }}</a></li>
    {% endfor %}
  </ul>
</nav>
