@import 'lib';

#addon {
    font-size: 1.2em;
    font-family: @sans-stack;
    position: relative;
    padding: 20px 20px 20px 104px;
    .icon {
        position: absolute;
        top: 20px;
        left: 20px;
        margin: 0 12px 1em 0;
    }
    h1 {
        padding-right: 54px;
    }
    .install {
        display: inline-block;
        margin-right: 1em;
    }
    .extra {
        margin-top: 8px;
        display: inline-block;
    }
    .notavail {
        font-family: @sans-stack;
        font-size: 12px;
        line-height: 12px;
        padding: 1px 0 1px 18px;
        margin-right: 14px;  /* Match the padding of .install. */
        background: url(../../img/impala/no.png) 0 30% no-repeat;
        white-space: nowrap;
    }
    .badge {
        font-size: 14px;
        margin-right: 1em;
    }
}
.html-rtl #addon {
    padding: 20px 104px 20px 20px;
    .icon {
        left: auto;
        right: 20px;
        margin: 0 0 1em 12px;
    }
    h1 {
        padding-right: 0;
        padding-left: 54px;
    }
    .notavail {
        padding: 1px 18px 1 0;
        margin-right: 0;
        margin-left: 14px;
    }
}

.version-number {
    color: #999;
    font-size: .8em;
}

.notice {
    .border-radius(5px);
    .box-shadow(0 -1px 0 #D7E1ED inset, 0 1px 0 rgba(0, 0, 0, 0.05));
    border: 1px solid #CCD6E3;
    padding: 14px 14px 14px 104px;
    background: #E3EDFA;
    margin-bottom: 1em;
    h3 {
        font-style: italic;
        font-size: 16px;
    }
    p {
        margin-top: .5em;
    }
    b {
        color: #333;
    }
}

.notice.author {
    min-height: 64px;
    position: relative;
    .aux {
        float: right;
        margin-left: 7px;
        text-align: center;
        p {
            font-size: 11px;
        }
    }
    .continue {
        display: block;
        margin-top: .25em;
    }
    .avatar {
        height: 64px;
        width: 64px;
        position: absolute;
        left: 20px;
        top: 1em;
    }
    #contribute-box {
        display: none;
    }
}

.notice.performance-note {
    background: url("../../img/impala/turtle.png") no-repeat 28px 16px #FFF8DC;
    border-color: #e2dbbf;
    .box-shadow(0 -1px 0 #F7F0D5 inset, 0 1px 0 rgba(0, 0, 0, 0.05));
}

.addon-vitals {
    .stars {
        margin: 0 0 4px;
    }
    font-size: 16px;
    line-height: 1.4em;
    .widgets {
        margin: 23px 0 8px;
        font-size: 14px;
        .widget {
            color: #999;
            display: block;
        }
    }
    .stats {
        padding-right: 20px;
        b {
            color: #333;
        }
        color: @medium-gray;
        background: url("../../img/impala/stats.png") no-repeat right top;
        &:hover {
            color: @link;
            background-position: right -20px;
        }
    }
}

.gutter aside {
    color: @medium-gray;
    padding-top: 1em;
}

.addon-reviews > div {
    margin-bottom: 1em;
    font-size: 14px;
}

.widget {
    padding-left: 21px;
    background: url(../../img/impala/widgets.png) no-repeat 0 4px;
    &:hover {
        color: @link;
    }
    &.favorite {
        &.faved {
            .sprite-pos(2, 20, 4px);
        }
        &:hover {
            .sprite-pos(1, 20, 4px);
        }
    }
    &.collection-add {
        .sprite-pos(3, 20, 4px);
        &:hover {
            .sprite-pos(4, 20, 4px);
        }
    }
    &.share {
        .sprite-pos(5, 20, 4px);
        &:hover {
            .sprite-pos(6, 20, 4px);
        }
    }
    &.ajax-loading {
        background: url(../../img/zamboni/loading-white.gif) no-repeat 0 2px !important;
    }
}
.html-rtl {
    .widget {
        padding-right: 21px;
        padding-left: 0;
        background-position: right 4px;
        &.favorite {
            &.faved {
                .sprite-pos-right(2, 20, 4px);
            }
            &:hover {
                .sprite-pos-right(1, 20, 4px);
            }
        }
        &.collection-add {
            .sprite-pos-right(3, 20, 4px);
            &:hover {
                .sprite-pos-right(4, 20, 4px);
            }
        }
        &.share {
            .sprite-pos-right(5, 20, 4px);
            &:hover {
                .sprite-pos-right(6, 20, 4px);
            }
        }
        &.ajax-loading {
            background-position: right 2px;
        }
    }
}

.previews {
    background: -moz-radial-gradient(top,
                                     ellipse farthest-side,
                                     rgba(16, 83, 130, 0.5),
                                     rgba(16, 83, 130, 0)),
                -moz-radial-gradient(bottom,
                                     ellipse farthest-side,
                                     rgba(16, 83, 130, 0.5),
                                     rgba(16, 83, 130, 0)),
                -moz-linear-gradient(left,
                                     #F4F8FC,
                                     rgba(255,255,255,0),
                                     #F4F8FC),
                -moz-linear-gradient(top,
                                     rgba(255,255,255,0),
                                     #F4F8FC 50px,
                                     #F4F8FC 180px,
                                     rgba(255,255,255,0));
    background-size: 100% 5px, 100% 5px, auto, auto;
    background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
    background-position: 0 0, 0 bottom, 0 0, 0 0;
    overflow: hidden;
    clear: both;
    position: relative;
    margin: 2em 0;
    padding: 30px 5%;
    li a {
        display: block;
        margin: 0 auto;
        text-align: center;
        height: 150px;
        width: 200px;
        background: #fff;
        padding: 5px;
        border: 1px solid #ccc;
        img {
            display: inline-block;
            vertical-align: middle;
        }
    }
    .panel {
        width: 100% / 3;
        a {
            display: block;
            text-align: center;
        }
    }
    .control {
        &.next {
            background: -moz-linear-gradient(left, fadeOut(#fff, 100%), #fff 50%);
        }
        &.prev {
            background: -moz-linear-gradient(left, #fff 50%, fadeOut(#fff, 100%));
        }
    }
}

.previews, #lightbox {
    .control {
        display: block;
        position: absolute;
        height: 100%;
        width: 5%;
        text-decoration: none;
        font-size: 48px;
        font-family: @serif-stack;
        text-align: center;
        line-height: 200px;
        top: 0;
        z-index: 100;
        -moz-transition: .3s color;
        &.next {
            right: 0;
        }
        &.prev {
            left: 0;
        }
        &.disabled {
            color: #ccc;
        }
    }
}

.metadata {
    li {
        line-height: 1.4em;
        border: none;
        a {
            padding: 0;
            display: inline;
            line-height: 1;
        }
        a:hover {
            background: transparent;
            text-decoration: underline;
        }
    }
    .links {
        font-size: 14px;
        margin-bottom: 1em;
        li {
            margin-bottom: 4px;
        }
        a {
            padding-left: 18px;
        }
        .support, .home {
            background: url(../../img/impala/home.png) no-repeat left -18px;
        }
        .email {
            background: url(../../img/impala/email.png) no-repeat left -18px;
        }
        .support-gs {
            background: url(../../img/impala/getsatisfaction.png) no-repeat left -18px;
        }
    }
}
#tagbox {
    li, a {
        border: none;
        display: inline;
        padding: 0 1px 0 0;
        line-height: 1.2em;
    }
    li:not(:last-child):after {
        content: '\00B7';
    }
}

#privacy-policy {
    overflow: hidden;
    position: relative;
    padding: 1em;
    h1 {
        line-height: 25px;
    }
    .copy {
        height: 400px;
        padding: 1em 0 0;
        overflow: auto;
    }
}
.banner-box {
    position: absolute;
    top: -1px;
    right: -1px;
    height: 100px;
    width: 100px;
    overflow: hidden;
    pointer-events: none;
}
.banner {
    padding: 6px 60px;
    background: #489615;
    text-transform: uppercase;
    font: bold 13px serif;
    font-family: @sans-stack;
    color: #fff;
    font-weight: bold;
    text-align: center;
    position: absolute;
    top: 0px;
    right: 0px;
    .transform(translate(50%, -50%) rotate(45deg) translateY(55px));
}

.version {
    margin-top: .5em;
    ul {
        padding-left: 4px;
    }
    .install {
        display: inline-block;
        margin-bottom: 1em;
    }
}

.secondary .addon {
    hgroup {
        position: relative;
        padding-left: 40px;
        img {
            position: absolute;
            left: 0;
            top: 0;
            width: 32px;
            height: 32px;
        }
        h1 {
            font: bold 16px/18px @serif-stack;
            text-transform: none;
            margin: 0 0 4px;
            padding: 0;
        }
        h4 {
            font-size: 12px;
            line-height: 14px;
        }
    }
}

span.no-restart,
span.featured {
    background-color: #e8933a;
    border-radius: 2px;
    color: #fff;
    display: inline-block;
    font: bold 9px/11px Arial;
    margin-left: 4px;
    padding: 3px 6px;
    text-transform: uppercase;
    vertical-align: 3px;
}
span.featured {
    background-color: #093;
}
