@import 'lib';

.app-nav {
    margin: 0 !important;
}

#apps-promo {
    background: #fff no-repeat 95% 100%;
    background-image: url(../../img/apps/promo.png),
                      -moz-linear-gradient(#e4f5fb, #fff 50px);
    background-image: url(../../img/apps/promo.png),
                      -webkit-linear-gradient(#e4f5fb, #fff 50px);
    .background-size(43% auto, auto);
    float: none;
    p {
        .border-box;
        font-size: 16px;
        width: 60%;
    }
    h2 {
        font: 32px/32px MetaBlack;
        text-transform: uppercase;
    }
}

.html-rtl #apps-promo {
    background-position: 0 100%;
    p {
        width: 53% !important;
    }
}

#apps-learn {
    border: 1px solid @border-blue;
    .border-radius(5px);
    .border-box;
    .box-shadow(0 0 1px rgba(0, 0, 0, .1));
    display: table;
    margin-bottom: 15px;
    padding: 0;
    h3 {
        color: @orange;
        font: italic 18px @serif-stack;
    }
    .copy {
        min-height: 205px;
        padding: 14px;
    }
    ul {
        margin-top: 1em;
    }
    h3 + p {
        margin-top: .5em;
    }
    li {
        background: url(../../img/apps/lab.png) 0 1px no-repeat;
        padding-left: 20px;
    }
    li + li {
        margin-top: 7px;
    }
    .user, .dev, .adventure {
        background-position: 50px 185%;
        background-repeat: no-repeat;
        .border-box;
        display: table-cell;
        min-width: 33%;
        width: 33%;
    }
    .dev, .adventure {
        border-left: 1px solid #ccc;
    }
    .user {
        background-image: url(../../img/apps/user.jpg);
        .border-radius(5px 0 0 5px);
        .copy {
            background-color: rgba(221,238,255,.9);  /* #def */
        }
    }
    .dev {
        background-image: url(../../img/apps/dev.jpg);
        .copy {
            background-color: rgba(255,255,238,.9);  /* #ffe */
        }
        li {
            background-image: url(../../img/apps/wrench.png);
        }
    }
    .adventure {
        background-image: url(../../img/apps/adventure.jpg);
        .border-radius(0 5px 5px 0);
        .copy {
            background-color: rgba(255,238,238,.9);  /* #fee */
        }
    }
}

.html-rtl #apps-learn {
    .adventure {
        border: 0;
    }
    .dev {
        border-right: 1px solid #ccc;
    }
}
