@import 'lib';

.pager {
    font-family: @head-serif;
    display: block;
    .prev, .next {
        height: 20px;
        width: 16px;
        margin: 0;
        overflow: hidden;
        text-indent: 0;
        font-size: 20px;
        .border-radius(0);
        background: transparent;
        color: lighten(@link, 20%);
        &:hover {
            color: darken(@link, 10%);
            background: transparent;
        }
    }
    a {
        display: inline-block;
        text-align: center;
        position: relative;
        vertical-align: bottom;
        padding: 2px 4px 6px;
        margin-bottom: 4px;
        overflow: hidden;
        b {
            display: block;
            text-indent: -1000em;
            height: 8px;
            width: 8px;
            .border-radius(4px);
            background: #ddd;
        }
        &.selected b {
            background: #447BC4;
        }
        &:hover {
            text-decoration: none;
            b {
                background: #888;
            }
        }
    }
}
.island .pager {
    float: right;
}
.html-rtl .island .pager {
    float: left;
}