#ajax_collections_list {
    margin: 0 0 .5em 0;
    li {
        cursor: pointer;
        padding: 5px 0 3px 30px;
        background-repeat: no-repeat;
        background-position: 0 4px;
        background-image: url(../../img/zamboni/icons/checks.png);
    }
    li:hover {
        background-position: 0 -36px;
    }
    li.selected {
        background-position: 0 -76px;
    }
    li.ajax-loading {
       background-image: url(../../img/zamboni/loading-white.gif);
       background-position: left bottom;
    }
}

#ajax_new_collection {
    border-top: 1px dashed #aecfda;
    padding: .5em 0 0 30px;
    margin: 0;
}

#add-to-collection {
    padding: 1em;
    form {
        margin-bottom: 0;
        #id_description {
            height: 6em;
        }
    }
    .register-button {
        margin: 1em 0;
    }
}

#slug_value {
    font-weight: bold;
    color: #222;
}

#collection-form-slug,
#clear-recents {
    font-size: .9em;
}

#collection-favorites-opts li {
    display: inline-block;
    margin-right: 1em;
}

.collections-details #id_name {
    display: block;
    -moz-box-sizing: border-box;
    width: 100%;
}

#collection_listed {
    margin-bottom: 1.5em;
    ul label {
        font-weight: normal;
    }
}

#slug_value {
    font-weight: bold;
    color: #222;
}

#collection-form-slug,
#clear-recents {
    font-size: .9em;
}

#collection-favorites-opts li {
    display: inline-block;
    margin-right: 1em;
}

.collections-details #id_name {
    display: block;
    -moz-box-sizing: border-box;
    width: 100%;
}

#collection_listed {
    margin-bottom: 1.5em;
}

#collection_listed ul label {
    font-weight: normal;
}
