.copy {
    b {
        font-weight: bold;
    }
    ul {
        list-style: disc outside none;
        margin: 0 0 0 20px;
    }
    ol {
        list-style: decimal outside none;
        margin: 0 0 0 20px;
    }
    blockquote {
        margin-bottom: 0;
    }
}