@import 'lib';

.p-light {
    color: #777;
    font-size: 17px;
    line-height: 1.3em;
}

#devhub-promo {
    margin-bottom: 2em;

    &.fox {
        background-image: url("../../img/developers/hub-addon-fox.png");
        background-color: #fff;
        background-position: 420px center;
        background-repeat: no-repeat;

        div.promo-container {
            width: 425px;
        }
    }
    &.jetpack {
        h2 {
            font-style: italic;
            strong {
                font-weight: bold;
            }
        }
        div.builder-videos {
            float: right;
            margin-bottom: 2em;
            margin-left: 1em;
            a {
                text-decoration: none;
                display: inline-block;
                img {
                    background-color: #fff;
                    display: inline-block;
                    border: 1px solid #BCDCF2;
                    .border-radius(4px);
                    .box-shadow(0 2px 3px #D1E5F4);
                    margin-left: 1em;
                    opacity: 0.8;
                    padding: 6px;
                }
                &:hover img {
                    opacity: 1;
                }
            }
            div {
                padding: 5px 0 0 15px;
            }
        }
        p {
            .p-light;
        }
    }
    h2 {
        font-family: @serif-stack;
        color: @red;
        font-size: 25px;
        margin-bottom: 0.5em;
        strong {
            font-size: 34px;
            display: block;
        }
    }
}

#jetpack-overlay {
    background-color: rgba(0, 0, 0, 0.6);
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    text-align: center;
    video {
        .border-box;
        max-height: 100%;
        padding: 1em;
        width: 100%;
    }
}

#jetpack {
    ul {
        color: #777;
        font-size: 14px;
        list-style: disc;
        padding-bottom: 1em;
        list-style-position: inside;
        li {
            padding-bottom: 5px;
        }
    }

    h2.section {
        font-family: Georgia;
        font-size: 25px;
        font-style: italic;
        margin-bottom: 0.5em;
    }
    p {
        .p-light;
        margin-bottom: 1em;
    }
    .island p {
        font-size: 14px;
    }
    h2 a {
        font-weight: bold;
    }
    .cols-light {
        div {
            padding: 0 2em;
            margin: 2em 0;
            border-left: 2px dotted #C6E1FF;
            &:first-child {
                border-left: 0 none;
            }
            h3 {
                color: #555;
                font-weight: bold;
                font-size: 1.3em;
                margin-bottom: 0.5em;
            }
            p {
                font-size: 1em;
            }
        }
    }
    .jetpack-builder, .jetpack-sdk {
        padding: 1em 0 1em 100px;
        position: relative;
        img {
            position: absolute;
            top: 10px;
            left: 5px;
        }
    }
    .jetpack_footer {
        color: #555;
        margin-top: 1em;
        text-align: center;
    }
}

.html-rtl #devhub-promo {
    div.promo-container {
        float: left;
    }
}

.devhub-icon {
    background-image: url("../../img/developers/hub-directory-sprite.png");
    display: block;
}

.devhub-icon-docs {
    .icon {
        .devhub-icon;
        background-position: -25px 0;
    }
    .item-icon(32px, 32px);
}

.devhub-icon-discuss {
    .icon {
        .devhub-icon;
        background-position: 7px 0;
        background-repeat: no-repeat;
    }
    .item-icon(32px, 32px);
}
.devhub-icon-tools {
    .icon {
        .devhub-icon;
        background-position: -57px 0;
    }
    .item-icon(32px, 32px);
}

.devhub-sidebar {
    border-bottom: 1px solid #ccc;
    div.item {
        border-top: 1px solid #ccc;
        h3 {
            font-size: 15px;
            font-weight: bold;
            padding: 1em 0;
        }
        p {
            color: #555;
            font-family: @sans-stack;
            line-height: 1.3em;
            margin-bottom: 1em;
        }
    }
}

/* Blog Posts on sidebar */
.secondary ul.blog_posts {
    margin-bottom: 0;
    li {
        border: medium none;
        padding-bottom: 1em;
        font-family: verdana;
        font-size: 0.9em;
        a {
            line-height: 1.2em;
        }
    }
    a {
        display: inline;
        padding: 0;
        margin: 0;
    }
    .activity-timestamp {
        display: block;
        color: #999;
        padding: 0;
    }
}

.secondary h3 a.subscribe-feed {
    background: url(../../img/zamboni/icons/subscribe-icons.png) no-repeat;
    display: inline-block;
    line-height: 16px;
    height: 16px;
    padding: 0;
    margin-left: 0.2em;
    text-indent: -9999px;
    width: 16px;
    &:hover {
        background-position: 0 -16px;
    }
}

#upload-file {
    #validate-field {
        display: table;
        width: 100%;
        margin: 0;
        border: 1px solid @teal;
        overflow: hidden;
        .border-radius(5px);
        #upload-webapp-url {
            .border-box;
            border: 0 none;
            font-family: @sans-stack;
            font-size: 1.3em;
            margin: 0;
            padding: 4px;
            width: 100%;
            &.loading {
                background-image: url("../../img/zamboni/loading-white.gif");
                background-position: 98% center;
                background-repeat: no-repeat;
            }
            &:-moz-placeholder {
                color: #ccc;
            }
            &::-webkit-placeholder {
                color: #cbcbcb;
            }
            &:invalid {
                background-color: #FEE7E7;
                border-bottom-color: red;
                border-left-color: red;
                border-top-color: red;
                box-shadow: 0 0 !important;
            }
        }
        > div {
            display: table-cell;
            &.vf-text {
                width: 100%;
            }
            &.vf-button button {
                .border-radius(0);
                border: none;
                border-left: 1px solid @teal;
                font-family: @sans-stack;
                font-size: 1.3em;
                line-height: 1em;
                margin: 0;
                padding: 5px;
            }
        }
    }
}

#required-addons {
    ul {
        margin: 0;
    }
    input.autocomplete {
        width: 300px;
    }
    .dependencies {
        margin: 0 0 .5em;
        > li {
            padding-bottom: .5em;
            position: relative;
            &:last-child {
                margin-bottom: .5em;
            }
            a.remove {
                float: none;
                position: absolute;
                right: 0;
                top: 2px;
            }
        }
        div {
            background: #eee no-repeat 6px 50%;
            .background-size(12px auto);
            border: 1px solid @teal;
            color: @medium-gray;
            padding: 2px 5px 2px 25px;
            width: 280px;
        }
    }
    .errorlist {
        margin: .5em 0 .25em;
    }
}
