@import 'lib';

.items:first-child .item:first-child {
    .info, .action {
        border: 0;
     }
}

.listing .item {
    h3 img {
        left: 25px;
        height: 64px;
        width: 64px;
    }
    .info {
        padding-left: 102px;
    }
    .item-info {
        border-left: 1px dotted @border-blue;
        float: right;
        margin-left: 2%;
        padding-left: 2%;
        width: 15em;
        > .downloads,
        > .users {
            color: @green;
            margin-top: 0;
        }
    }
    .item-actions {
        float: none;
        a {
            color: @note-gray;
            &.more-actions {
                display: block;
                position: relative;
                &:after {
                    border-color: @note-gray transparent transparent;
                    border-style: solid;
                    border-width: 3px 3px 0;
                    content: "";
                    margin: 5px 0 0 4px;
                    position: absolute;
                    height: 0;
                    top: 0;
                    width: 0;
                }
                &:hover:after {
                    border-top-color: #05e;
                }
            }
        }
        h5 {
            font-size: 1em;
            margin-right: 4px;
        }
        h5, > ul, > ul > li {
            color: @note-gray;
            display: inline-block;
        }
        h5:after {
            content: ":";
        }
        > ul > li {
            display: inline-block;
            &:not(:last-child):after {
                background-color: @note-gray;
                border-radius: 5em;
                content: "";
                display: inline-block;
                height: 2px;
                margin: 0 2px 4px;
                width: 2px;
            }
        }
    }
    &:hover {
        a {
            color: @link;
        }
        h5 {
            color: @dark-gray;
        }
    }
}

.html-rtl .listing .item {
    .info {
        padding-right: 102px;
    }
    .item-info {
        float: left;
        border: 0;
        border-right: 1px dotted @border-blue;
        margin: 0 2% 0 0;
        padding: 0 2% 0 0;
    }
}
