@import 'lib';

.amo-header {
    font-family: @head-sans;
    margin-bottom: 35px;
}

#masthead {
    padding-top: 35px;
    max-width: 600px;
}

#aux-nav {
    float: right;
}
.html-rtl #aux-nav {
    float: left;
}

.site-title img {
    float: left;
    margin-right: 10px;
}
.html-rtl .site-title img {
    float: right;
    margin: 0 0 0 12px;
}

.site-title {
    margin-bottom: 7px;
    a {
        color: #333;
        text-decoration: none;
        small {
            color: #333;
            display: block;
            font-size: 0.6em;
            line-height: 0.5em;
        }
    }
    a:hover, a:focus {
        color: #043b84;
        text-shadow: 0 0 40px #fff,
                     0 0 20px #fff,
                     0 0 10px #fff;
    }
    &.prominent a, strong {
        color: #D64203;
        &:hover {
            text-shadow: 0 0 #fff; // Color = stupid minifier hack
        }
    }
}

/** site navigation */

.menu-nav {
    font-size: 12px;
    margin-left: 64px;
    z-index: 50;

    &.no-img {
        margin-left: 0;
    }

    > ul {
        > li {
            float: left;
            position: relative;
            > a {
                position: relative;
                font-weight: bold;
                z-index: 60;
                border-style: solid;
                .border-radius(3px 3px 0 0);
                border-color: transparent;
                border-width: 1px 1px 0;
            }
            &:hover {
                > a {
                    background: #fff;
                    border-color: #98B2C9 #98B2C9 #fff;
                    .box-shadow(0 0 4px rgba(0, 0, 0, 0.4));
                }
                > ul {
                    display: block;
                }
                &:after {
                    content: "";
                    width: 200px;
                    z-index: 62;
                    height: 5px;
                    background: #fff;
                    position: absolute;
                    top: 18px;
                    left: 1px;
                }
            }
            > ul {
                width: 190px;
                position: absolute;
                top: 17px;
                z-index: 59;
                padding: 8px;
                display: none;
                background: #fff;
                border: 1px solid #98B2C9;
                .border-radius(0 3px 3px);
                .box-shadow(0 0 4px rgba(0, 0, 0, 0.4));
                a {
                    text-decoration: none;
                    display: block;
                    padding: 6px 8px;
                    word-wrap: break-word;
                    &:hover {
                        background: #ebf4fe;
                    }
                }
                &.two-col {
                    .columns(2, 8px);
                    width: 340px;
                }
            }
        }
        em a:hover {
            background: #e1edfb;
        }
    }
    hr {
        border: 0;
        margin: 6px 8px;
        border-top: 1px dotted #ccc;
    }
    em {
        background: #F4F8FC;
        display: block;
        font-weight: bold;
    }
}

.html-rtl {
    .menu-nav {
        margin-left: 0;
        margin-right: 64px;
    }
    .menu-nav > ul > li {
        border-left: 0;
        border-right: 1px solid #9FA7AF;
        float: right;
        left: auto;
        right: -9px;

        &:hover:after {
            left: auto;
            right: 1px;
        }
    }
}

#site-nav {
    > ul {
        > li {
            border-left: 1px solid #9FA7AF;
            left: -9px;
            &:first-child {
                border: 0;
            }
            > a {
                padding: 4px 8px;
                line-height: 12px;
                text-transform: uppercase;
            }
        }
    }
}

#aux-nav {
    > ul {
        > li:not(:first-child):before {
            content: "";
            display: block;
            position: absolute;
            top: 0;
            left: -1px;
            width: 1px;
            height: 32px;
            background: -moz-linear-gradient(#9FA7AF, fadeout(#9FA7AF, 100%)) no-repeat left top;
            background-size: 1px 100%;
        }
        > li {
            margin-left: 1px;
            > a {
                display: block;
                line-height: 32px;
                height: 32px;
                padding: 0 1em;
                .border-radius(0);
                &:after {
                    display: inline-block;
                    vertical-align: middle;
                    top: 12px;
                    left: 4px;
                    margin: 0 0 0 4px;
                    content: "\00a0";
                    width: 0;
                    height: 0;
                    border: 4px solid transparent;
                    border-style: solid;
                    border-top-color: #666;
                }
            }
            &:hover {
                z-index: 63;
            }
            &:after {
                top: 32px;
            }
            > ul {
                top: 31px;
            }
            &.nomenu {
                a {
                    display: inline-block;
                    &:after {
                        display: none;
                    }
                }
                &:hover {
                    a {
                        background: transparent;
                        .box-shadow(0 0 inset);
                        border-color: transparent;
                    }
                    &:after {
                        content: none;
                    }
                }
            }
            &.logout {
                &.anonymous {
                    a:first-child {
                        padding-right: 4px;
                    }
                }
                &:before {
                    background: 0;
                }
                a {
                    padding-left: 4px;
                    font-weight: normal;
                }
            }
        }
    }
    .other-apps {
        a {
            padding-left: 24px;
            background-repeat: no-repeat;
            background-position: left center;
        }
    }
    .firefox, .mobile {
        a {
            background-image: url(../../img/app-icons/16/firefox.png);
        }
    }
    .thunderbird a {
        background-image: url(../../img/app-icons/16/thunderbird.png);
    }
    .sunbird a {
        background-image: url(../../img/app-icons/16/sunbird.png);
    }
    .seamonkey a {
        background-image: url(../../img/app-icons/16/seamonkey.png);
    }
}
.html-rtl {
    #aux-nav > ul > li > a:after {
        margin: 0 4px 0 0;
        right: 4px;
        left: auto;
    }
}
/** search box */

.header-search {
    position: absolute;
    top: 63px;
    right: 0;
    background: #1B5898;
    .gradient-two-color(#2E89CA, #1B5898);
    .border-radius(5px);
    .box-shadow(0 -2px 0 rgba(0, 0, 0, 0.5) inset, 0 2px 0 rgba(0, 0, 0, 0.1));
    padding: 5px 7px 7px;
    width: 280px;
}
.html-rtl .header-search {
    left: 0;
    right: auto;
}

button.search-button {
    background: #84C63C url("../../img/icons/go-arrow.png") center no-repeat;
    background-image: url("../../img/icons/go-arrow.png"),
                      -moz-linear-gradient(#84C63C, #489615);
    background-image: url("../../img/icons/go-arrow.png"),
                      -webkit-linear-gradient(#84C63C, #489615);
    border: 0;
    float: right;
    vertical-align: bottom;
    cursor: pointer;
    height: 30px;
    width: 36px;

    .border-radius(6px);
    .box-shadow(0 1px rgba(0, 0, 0, 0.1), 0 -2px rgba(0, 0, 0, 0.1) inset);
}
.html-rtl button.search-button {
    float: left;
    -moz-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
}

.header-search input {
    background: url(../../img/icons/search.png) no-repeat scroll 8px center #fff;
    float: left;
    border: 0 none;
    .border-radius(4px);
    .box-shadow(0 0 2px rgba(0, 0, 0, 0.4) inset);
    font-family: "Trebuchet MS";
    font-size: 14px;
    height: 30px;
    padding: 0 0 0 32px;
    width: 206px;
}
.html-rtl .header-search input {
    float: right;
    padding: 0 32px 0 0;
    background-position: 212px center;
}

.site-balloon {
    position: relative;
    margin-top: 22px;
    padding: 15px 45px 15px 15px;
    border: 2px solid #E3873B;
    background: #FCEFB7;
    font-family: Arial;
    font-size: 14px;
    color: #333;
    display: none;
    .border-radius(10px);
    h3, p {
        display: inline;
    }
    h3, strong {
        font-weight: bold;
    }
    &:before, &:after {
        content: '';
        display: block;
        width: 0;
        height: 0;
        position: absolute;
        border-left: 18px solid #E3873B;
        border-top: 18px solid transparent;
    }
    &:before {
        left: 34px;
        top: -18px;
    }
    &:after {
        left: 36px;
        top: -13px;
        border-left-color: #FCEFB7;
    }
    p a {
        color: #c40000;
        font-weight: bold;
    }
}

.site-balloon, #lightbox, .modal {
    .close {
        position: absolute;
        overflow: hidden;
        right: 1em;
        top: 1em;
        width: 25px;
        height: 25px;
        margin: 0;
        .border-radius(4px);
        background: url(../../img/impala/banner-close.png) no-repeat 0 0;
        text-indent: -1000em;
        &:hover {
            background-color: #c40000;
            background-position: -25px 0;
        }
    }
}
.site-balloon .close {
    margin: auto;
    top: 0;
    bottom: 0;
}

.html-rtl {
    .site-balloon, #lightbox, .modal {
        padding: 15px 15px 15px 45px;
        &:before, &:after {
            border-color: transparent;
            border-right: 18px solid #E3873B;
            border-top: 18px solid transparent;
            left: auto;
        }
        &:before {
            right: 34px;
            top: -18px;
        }
        &:after {
            right: 36px;
            top: -13px;
            border-right-color: #FCEFB7;
        }
        .close {
            right: auto;
            left: 15px;
        }
    }
}


/* All Manner of Banner */
.firstvisit #site-welcome {
    display: block;
}
#mobile-banner {
    font-size: 1.3em;
}
@media (max-width: 500px) {
    #mobile-banner {
        display: inline-block;
    }
}
.badbrowser {
    #site-welcome, #mobile-banner {
        display: none !important;
    }
}
.home #site-welcome {
    display: none !important;
}
.developer-hub .site-balloon {
    display: none !important;
}


