.trans {
    [lang] {
        display: none;
        &:first-child {
            display: block;
        }
    }
    .init-trans {
        display: none;
    }
    .cloned {
        color: #ccc;
        font-style: italic;
    }
}
