// Colors
@link: #447BC4;
@note-gray: #999;
@red: #C63717;


// Font Stacks
@sans-stack: "helvetica neue", arial, helvetica, sans-serif;
@head-sans: "trebuchet ms", sans-serif;
@serif-stack: Georgia, serif;
@mono-stack: "andale mono", monospace;

// Mixins
.border-radius(@radius) {
    border-radius: @radius;
    -moz-border-radius: @radius;
    -webkit-border-radius: @radius;
}

.box-shadow(@shadow) {
    box-shadow: @shadow;
    -moz-box-shadow: @shadow;
    -webkit-box-shadow: @shadow;
}
.box-shadow(@shadow, @shadow2) {
    box-shadow: @shadow, @shadow2;
    -moz-box-shadow: @shadow, @shadow2;
    -webkit-box-shadow: @shadow, @shadow2;
}
.box-shadow(@shadow, @shadow2, @shadow3) {
    box-shadow: @shadow, @shadow2, @shadow3;
    -moz-box-shadow: @shadow, @shadow2, @shadow3;
    -webkit-box-shadow: @shadow, @shadow2, @shadow3;
}

.columns(@count, @gap: 1em) {
    column-count: @count;
    -moz-column-count: @count;
    -webkit-column-count: @count;
    column-gap: @gap;
    -moz-column-gap: @gap;
    -webkit-column-gap: @gap;
}

.gradient-two-color(@color1, @color2) {
    background-image: -webkit-gradient(linear, left bottom, left top, from(@color1), to(@color2));
    background-image: linear-gradient(@color1, @color2);
    background-image: -moz-linear-gradient(@color1, @color2);
    background-image: -webkit-linear-gradient(@color1, @color2);
}

.sprite(@url, @pos, @spacing, @offset) {
    background: url(@url) no-repeat;
    background-position: 0 (@spacing * @pos * -1 + @offset) + 0px;
}
.sprite-pos(@pos, @spacing, @offset) {
    background-position: 0 (@spacing * @pos * -1 + @offset) + 0px;
}

@white-trans: fadeOut(#fff, 100%);
.checkerboard() {
    background: -moz-repeating-linear-gradient(left, #ccc, #ccc 2px, @white-trans 2px, @white-trans 4px);
}