@import 'lib';

#subscribe,
#sorter,
#sorter ul {
    line-height: 18px;
}

#subscribe {
    /* TODO(cvan): sprite-ify */
    background: url(../../img/impala/feed.png) no-repeat 0 50%;
    float: right;
    padding-left: 16px;
}

.html-rtl #subscribe {
    float: left;
}

#sorter {
    font-family: @sans-stack;
    font-size: 11px;
    h3, ul, form {
        color: @note-gray;
        float: left;
        margin: 0;
    }
    li {
        float: left;
        margin: 0;
        &:first-child a {
            border-left-width: 0;
        }
        &.selected a {
            color: @orange;
            font-weight: bold;
            text-decoration: none;
        }
        a {
            border-left: 1px solid #ccc;
            padding: 0 6px;
        }
    }
    label {
        border-left: 1px solid #eee;
        font-weight: normal;
        margin: 0 6px;
        padding-left: 12px;
    }
    select {
        margin-left: 6px;
    }
}

.html-rtl #sorter {
    float: right;
    h3, ul, form {
        float: right;
    }
    li {
        float: right;
        &:first-child a {
            border-left-width: 1px;
        }
        &:last-child a {
            border-left: none;
        }
    }
    label {
        border: none;
        border-right: 1px solid #eee;
        padding: 0 12px 0 0;
    }
    select {
        margin: 0 6px 0 0;
    }
}

.no-results {
    text-align: center;
    padding: 20px;
    box-shadow: 0 1px #fff;
    opacity: .5;
    font: bold 24px @sans-stack;
}

.listing .items {
    display: table;
}

.listing .item {
    color: @note-gray;
    display: table-row;
    width: 100%;
    &:hover,
    &.static {
        background-color: fadeOut(@border-blue, 90%);
        .install-shell {
            visibility: visible;
        }
    }
    &.incompatible {
        &:hover {
            .action {
                border-color: @border-blue;
                opacity: 1;
            }
            .extra .notavail {
                color: @error-red;
            }
        }
        .info, .action {
            border-color: darken(@border-blue, 10%);
            opacity: 0.4;
        }
        .install-shell {
            font: 10px/12px Arial, sans-serif;
            visibility: visible;
            .install, br {
                display: none;
            }
        }
    }
    h3 {
        font-size: 16px;
        font-weight: bold;
        line-height: 18px;
        img {
            display: block;
            position: absolute;
            left: 25px;
            height: 32px;
            width: 32px;
        }
        .author {
            color: @medium-gray;
            font-size: 12px;
            a {
                color: #333;
            }
        }
    }
    h3,
    .desc {
        margin: 0 0 5px;
    }
    p {
        font-size: 12px;
    }
    .vitals {
        margin-top: 2px;
        div {
            display: inline-block;
            font-size: 11px;
            margin: 0;
            &.rating a {
                color: @note-gray;
            }
            &.adu,
            &.followers {
                color: @green;
            }
            &.adu:before,
            &.updated:before {
                color: @note-gray;
                content: '\00B7';
            }
        }
    }
    .info,
    .action {
        border-top: 1px dotted @border-blue;
        display: table-cell;
        padding: 20px 0;
    }
    .info {
        padding-left: 58px;
    }
    .install-shell {
        padding: 0 10px;
        text-align: right;
        visibility: hidden;
        p {
            text-align: left;
            &.install-button {
                margin: 0;
            }
        }
        .extra {
            margin: 0;
            .notavail {
                color: @note-gray;
            }
        }
        .button, .extra {
            white-space: nowrap;
        }
    }
    .collector-note,
    .performance-note {
        background-color: #e0effd;
        float: left;
        line-height: 18px;
        margin-top: 0.5em;
        padding: 2px 4px;
    }
    .performance-note {
        background-color: #fff3cc;
        color: @medium-gray;
    }
}

.paginator + .item,
#sorter + .items {
    margin-top: 1em;
}

.item + .paginator,
.items + .paginator {
    padding-top: 1em;
    border-top: 1px dotted @border-blue;
}

.html-rtl .listing .item {
    .collector-note,
    .performance-note {
        float: right;
    }
    h3 img {
        left: auto;
        right: 25px;
    }
    .info {
        padding: 20px 58px 20px 0;
    }
}

.item:hover {
    .item-actions > li > a {
        color: @link;
    }
}
.item-actions {
    font-family: @sans-stack;
    float: right;
    font-size: 11px;
    margin-top: 1em;
    margin-bottom: 2px;
    color: #aaa;
    > li {
        float: left;
        > a {
            font-weight: normal;
            color: #aaa;
            -moz-transition: color .2s;
            -webkit-transition: color .2s;
            transition: color .2s;
        }
        &:not(:first-child) {
            list-style-type: disc;
            margin-left: 1.6em;
        }
    }
}
.html-rtl .item-actions {
    float: left;
    > li {
        float: right;
    }
}
.item-note {
    float: left;
    color: @medium-gray;
    font: italic 0.9em @sans-stack;
    margin-bottom: 2px;
    margin-top: 1em;
}
