@import 'lib';

.login {
    #id_username,
    #id_password {
        width: 200px;
    }
    #remember-me {
        padding-left: 135px;
    }
    .island.hero {
        width: 510px;
        margin-right: 0;
    }
    .primary fieldset {
        margin: 1em 0 0;
        padding: 0;
    }
}