#more-webpage {
    display: none;
}
.island .expando .content {
    display: block;
}
.island .expando .toggle {
    display: none;
}
/* we want to show the no-apps balloon when JS is disabled. */
#site-noinstall-apps {
    display: block;
}
