@import 'lib';

.stars {
    display: inline-block;
    vertical-align: middle;
    width: 63px;
    height: 12px;
    background: url(../../img/impala/stars.png) no-repeat left top;
    text-indent: -9999px;
    margin-right: 4px;
    &.stars-4 { background-position: -13px 0; }
    &.stars-3 { background-position: -26px 0; }
    &.stars-2 { background-position: -39px 0; }
    &.stars-1 { background-position: -52px 0; }
    &.large {
        display: block;
        background: url(../../img/impala/stars-16.png) no-repeat left top;
        width: 89px;
        height: 16px;
        &.stars-4 { background-position: -18px 0; }
        &.stars-3 { background-position: -36px 0; }
        &.stars-2 { background-position: -54px 0; }
        &.stars-1 { background-position: -70px 0; }
    }
}

.html-rtl .stars {
    text-indent: 9999px;
    margin-right: 0;
    margin-left: 4px;
}
