@import 'lib';

html {
    background: #fff url(../../img/zamboni/global/bg-header.png) left top repeat-x;
}

body {
    border-top: 2px solid #686868;
}

#page {
    max-width: 960px;
    width: 960px;
    margin: 0 auto;
    position: relative;
}

a {
    text-decoration: none;
    color: @link;
    &:hover {
        text-decoration: underline;
    }
}

.primary {
    position: relative;
}

.primary, .html-rtl.gutter .primary {
    margin-left: 210px;
    .primary {
        margin-right: 210px;
        margin-left: 0;
    }
    .secondary {
        float: right;
    }
}
.secondary, .html-rtl.gutter .primary {
    float: left;
    width: 180px;
}

.html-rtl, .gutter {
    .primary {
        margin-left: 0;
        margin-right: 210px;
        .primary {
            margin-right: 0;
            margin-left: 210px;
        }
        .secondary {
            float: left;
        }
    }
    .secondary {
        float: right;
    }
}

.gutter .island {
    float: none;
}

.secondary {
    ul, ol {
        margin-bottom: 28px;
        font-size: 12px;
    }
    li {
        border: 1px solid rgba(3, 48, 81, 0.2);
        border-width: 0 0 1px 0;
        position: relative;
        &:first-child {
            border-top-width: 1px;
        }
        a.selected {
            color: #333;
            font-weight: bold;
        }
        a:hover {
            background: #ECF5FE;
        }
    }
    nav li {
        a:after {
            content: '\203a';
            position: absolute;
            right: 6px;
            top: -2px;
            font-family: Georgia;
            font-weight: normal;
            font-size: 18px;
            color: #dadada;
            color: rgba(0,0,0, .125);
        }
        a:hover:after,
        a:focus:after,
        a.selected:after {
            color: inherit;
            display: inline;
        }
    }
    h2 {
        font-size: 14px;
    }
    li a, h2 {
        display: block;
        padding: 0 6px;
        text-decoration: none;
        line-height: 28px;
    }
}

#breadcrumbs {
    margin-bottom: 1.2em;
    font-family: @serif-stack;
    color: #666;
    li {
        display: inline;
        &:before {
            content: '\00bb';
            font-size: 1.3em;
            font-weight: bold;
        }
        &:first-child:before {
            content: none;
        }
    }
}

.js-hidden, #popup-staging {
    display: none;
}
