@import 'lib';

/************************************/
/*             TYPOGRAPHY           */
/************************************/

@font-face {
    font-family: 'MetaBlack';
    src: url('https://www.mozilla.com/img/fonts/MetaWebPro-Black.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}


body {
    font-family: @copy-stack;
    font-style: normal;
    font-size: 13px;
}

h1 {
    font-size: 40px;
    font-family: MetaBlack;
    letter-spacing: -1px;
    text-transform: uppercase;
}

pre, code, kbd, tt, samp, tt {
    font-family: @mono-stack;
}

.island h2 {
    color: #333;
    font-family: @head-serif;
    font-size: 18px;
    font-style: italic;
    margin-bottom: .5em;
}

.secondary h2 {
    font-family: @copy-stack;
    font-weight: bold;
    text-transform: uppercase;
    color: #484848;
}
