@import 'lib';

/************************************/
/*             TYPOGRAPHY           */
/************************************/

@font-face {
    font-family: 'MetaBlack';
    src: url('https://www.mozilla.com/img/fonts/MetaWebPro-Black.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}


body {
    font-family: @sans-stack;
    font-style: normal;
    font-size: 13px;
}

h1 {
    font-size: 40px;
    font-family: MetaBlack;
    letter-spacing: -1px;
    text-transform: uppercase;
}

h4 {
    font-size: 14px;
}

pre, code, kbd, tt, samp, tt {
    font-family: @mono-stack;
}

.primary, .modal {
    h2 {
        color: #333;
        font-family: @serif-stack;
        font-style: italic;
    }
    p {
        font-size: 14px;
        margin-top: 1em;
        color: #666;
        line-height: 1.3em;
    }
}

.gutter {
    .primary, .secondary {
        font-family: @serif-stack;
    }
    .secondary h3 {
        font-style: italic;
    }
}

.defaultlink {
    font: normal 12px @sans-stack;
    text-transform: none;
    margin-left: .5em;
}

.island, .modal {
    h2 {
        font-size: 18px;
        margin-bottom: .5em;
        .seeall {
            .defaultlink
        }
    }
}

.secondary h2 {
    font-family: @sans-stack;
    font-style: normal;
    font-weight: bold;
    text-transform: uppercase;
    color: #484848;
    .seeall {
        .defaultlink
    }
}

.error {
    color: @red;
}