@import 'lib';

.user-input {
  width: 100%;
  .border-box;
}
.prettyform {
    .avatar {
        border: 5px solid #fff;
        box-shadow: 1px 1px 3px #B2C8E0;
        display: inline-block;
        margin-left: 135px;
        width: 100px;
    }
    .more {
        font-size: 0.8em;
    }
    #acct-notify .check {
        text-transform: none;
    }
    .user-notifications {
        li {
            margin-bottom: 0;
        }
        h3 {
            color: #777;
            font-size: 1.5em;
            font-weight: normal;
            margin-bottom: .5em;
            .more {
                font-size: 0.6em;
            }
        }
        p.note {
            clear: both;
            font-style: italic;
            width: 300px;
        }
    }
    #change-acct-password {
        font-weight: bold;
    }
    #acct-password {
        p.note {
            margin-bottom: 1em;
            margin-left: 135px;
            margin-top: 1em;
        }
    }
}

span.emaillink {
    direction: rtl;
    unicode-bidi: bidi-override;
    .i {
        display: none;
    }
}

table.person-info {
    width: 100%;
    th, td {
        border-top: 1px solid @border-black;
        padding: 8px 0;
    }
    th {
        color: #333;
        line-height: 15px;
        width: 40%;
    }
    tr:first-child {
        th, td {
            border-top: none;
        }
    }
    td {
        padding-top: 0;
    }
    ol {
        list-style: decimal;
        margin: 0 0 0 1.5em;
    }
}

img.avatar {
    border: 3px solid #fff;
}
.user-role {
    font-weight: bold;
    color: @dark-gray;
    margin: 0 4px 1em;
    text-align: center;
}

img.icon {
    padding: 4px;
}

.meet {
    &.about {
        .hero h1 {
            margin: 1em 0;
        }
    }
    .notice.author {
        padding-left: 14px;
        .avatar {
            display: none;
        }
    }
    .island {
        > h3:first-child {
            margin: 0;
        }
        > section {
            float: none;
            padding: 0 14px 0 0;
            width: auto;
        }
        .secondary {
            width: 208px;
        }
    }
}

.html-rtl.meet .island > section {
    padding: 0 0 0 14px;
}
