{% extends "base_modal.html" %}

{% block classes %}paypal-modal{% endblock %}

{% block content %}
<section class="paypal-parent paypal-thank-you">
  <h2>{{ loc('Payment received') }}</h2>
  <h5>{{ loc('Thank you!') }}</h5>
  <p>Close this window to continue.</p>
  <p class="mozilla-mission">
  {% with learn_more='http://www.mozilla.org/causes' %}
    Your purchase helps support Mozilla's mission.
    <a href="{{ learn_more }}" target="_blank">Learn more</a>
  {% endwith %}
  </p>
</section>
{% endblock %}
