{% extends "ecosystem/base.html" %}
{% from "ecosystem/macros.html" import navigation with context %}

{% block title %}
  {{ _('Mozilla') }} | {{ _('Building Blocks') }} | {{ title }}
{% endblock %}

{% block siteheader %}
  {% include 'ecosystem/header.html' %}
{% endblock %}

{% block extrahead %}
  {{ css('mkt/ecosystem') }}
  {{ css('mkt/xtags') }}
{% endblock %}

{% block bodyclass %}secondary-landing{% endblock %}

{% block content %}
  {{ navigation('design') }}
  <div class="design-wrapper">
    {% include 'ecosystem/mdn_documentation/design_nav.html' %}

    <article class="marketing-block">
      <h1>{{ title }}</h1>

      <h2>{{ _('Description') }}</h2>
      <p>
        {% block description %}{% endblock %}
      </p>

      <h2>{{ _('Use It') }}</h2>
      <p>
        {% block use_it %}{% endblock %}
      </p>

      <div class="tips">
        {% block tips %}{% endblock %}
      </div>

      <h2>{{ _('Try It!') }}</h2>
      <div class="sample-run-js">
        {% block code_live %}{% endblock %}
      </div>

      {% block related_links %}{% endblock %}
    </article>
  </div>
{% endblock %}

{% block js %}
  {{ js('mkt/xtags') }}
{% endblock %}
