{% extends "ecosystem/design/xtag.html" %}

{% block description %}
  A picker lets the user quickly choose time, date or other information
  such as a location from a predefined set of values. It also ensures the
  data is entered in the correct format.
{% endblock %}

{% block use_it %}
  When you want the user to pick a time, date or other information from
  a set of values.
{% endblock %}

{% block tips %}
  <h2>Do's</h2>
  <ul>
    <li>use it with a finite selection of predefined values, like time or
      date.</li>
  </ul>
  <h2>Dont's</h2>
  <ul>
    <li>don't use a picker for action items. Consider a dropdown menu or a
      select list instead.</li>
  </ul>
{% endblock %}

{% block code_live %}
  <x-picker>
  </x-picker>
{% endblock %}

{% block related_links %}
  <p>
    Related: <a href="{{ url('ecosystem.building_xtag',
      xtag='dropdown') }}">Dropdown menu</a>,
      <a href="{{ url('ecosystem.building_xtag',
      xtag='select_list') }}">Select list</a>
  </p>
{% endblock %}
