{% extends "ecosystem/design/xtag.html" %}

{% block description %}
  An alert popup dialog is a small window which demands user input related
  to the current activity. It disables all current activities and only
  disappears after the user confirms an action or dismisses the dialog.
{% endblock %}

{% block use_it %}
  When the current activity absolutely requires user input, usually validation
  (e.g.&quot;delete all contacts?&quot;) or authorization (e.g. &quot;enable
  GPS?&quot;).
{% endblock %}

{% block tips %}
  <h2>Do's</h2>
  <ul>
    <li>use action oriented questions or statements (e.g. &quot;delete all
      contacts?&quot;).</li>
    <li>use action labels such as &quot;Save&quot; instead of
      &quot;OK&quot; on the buttons.</li>
    <li>short questions or statements</li>
    <li>as a rule of thumb, place the primary button like &quot;Save&quot;
      on the right, and the secondary button like &quot;Discard&quot; or
      &quot;Reset&quot; on the left.</li>
    <li>visually reduce the importance of secondary button like
      &quot;Cancel&quot; (e.g. use a gray background for the secondary
      button).</li>
  </ul>

  <h2>Dont's</h2>
  <ul>
    <li>don't use a title unless the action has severe consequences (e.g.
      Warning: &quot;delete all contacts?&quot;).</li>
    <li>don't use negation in your question or statement</li>
    <li>don't use an alert when the action is trivial and reversible. Use
      a toast instead.</li>
    <li>don't use an alert to prompt for make trivial choices. Consider a
      select list instead.</li>
  </ul>
{% endblock %}

{% block code_live %}
  <x-alert data-fade-duration="500" data-secondary-text="Cancel">
    <h3>Delete all contacts?</h3>
    Contacts will be deleted forever!
  </x-alert>
{% endblock %}

{% block related_links %}
  <p>
    Related: <a href="{{ url('ecosystem.building_xtag',
      xtag='toast') }}">Toast popup</a>,
      <a href="{{ url('ecosystem.building_xtag',
      xtag='select_list') }}">Select list</a>
  </p>
{% endblock %}
