{% extends "ecosystem/design/xtag.html" %}

{% block use_it %}
  When you want to provide information that does not require user input and
  when you are certain the user is focusing on the screen.
{% endblock %}

{% block tips %}
  <h2>Do's</h2>
  <ul>
    <li>use very little text.</li>
  </ul>

  <h2>Dont's</h2>
  <ul>
    <li>don't use it to provide information irrelevant to the user's activity at
      that moment.</li>
    <li>don't use it when action is required. Use an alert popup or select
      list instead.</li>
    <li>don't use it when the consequence of the user action is serious. Use
      an alert popup instead.</li>
  </ul>
{% endblock %}

{% block code_live %}
  <a id="trigger-toast" class="button">Trigger</a>
  <div id="demo-block"></div>
{% endblock %}

{% block related_links %}
  <p>
    Related: <a href="{{ url('ecosystem.building_xtag',
      xtag='alert') }}">Alert popup</a>,
      <a href="{{ url('ecosystem.building_xtag',
      xtag='select_list') }}">Select list</a>
  </p>
{% endblock %}
