{% extends "ecosystem/design/xtag.html" %}

{% block description %}
  A select list is a popup dialog that presents a list of options related
  to the current activity. It disables all current activities and only
  disappears after the user confirms an action or dismisses the dialog. A
  normal list allows the user to select one item, and a multi-select list
  allows multiple selections. It can include text, image, or both.
{% endblock %}

{% block use_it %}
  When the user has to choose one or more items from a list.
{% endblock %}

{% block tips %}
  <h2>Do's</h2>
  <ul>
    <li>include a title when possible.</li>
  </ul>
  <h2>Dont's</h2>
  <ul>
    <li>include more than one line of text for each list item.</li>
  </ul>
{% endblock %}

{% block code_live %}
  <x-select-list data-fade-duration="500" data-multi-select="true">
    <h3>Attach</h3>
    <ul>
      <li>Items</li>
      <li>More items</li>
      <li>Even more items</li>
      <li>Too many items</li>
    </ul>
  </x-select-list>
{% endblock %}

{% block related_links %}
  <p>
    Related: <a href="{{ url('ecosystem.building_xtag',
      xtag='toast') }}">Toast popup</a>,
      <a href="{{ url('ecosystem.building_xtag',
      xtag='alert') }}">Alert popup</a>,
      <a href="{{ url('ecosystem.building_xtag',
      xtag='dropdown') }}">Dropdown menu</a>
  </p>
{% endblock %}
