{% extends "ecosystem/design/xtag.html" %}

{% block description %}
  A list is a group of vertically arranged elements which can consists
  of text, icons, checkboxes, radio buttons, etc. A list often has a
  title and separators.
{% endblock %}

{% block use_it %}
  When you want to organize information for scanning and/or to present options.
{% endblock %}

{% block tips %}
  <h2>Do's</h2>
  <ul>
    <li>be concise so that it is easy to scan.</li>
    <li>use a section divider if the items could be grouped.</li>
  </ul>

  <h2>Dont's</h2>
  <ul>
    <li>don't visually overload users by including too much information
      in one row.</li>
  </ul>
{% endblock %}

{% block code_live %}
  <x-listview id="listview4">
    <x-listitem>item 1</x-listitem>
    <x-listitem>item 2</x-listitem>
    <x-listitem>item 3</x-listitem>
    <x-listitem>item 4</x-listitem>
  </x-listview>

  <x-listview id="listview3">
    <x-section>
      <x-header>Section 1</x-header>
      <x-listitem>item 1</x-listitem>
      <x-listitem>item 2</x-listitem>
    </x-section>
    <x-section>
      <x-header>Section 2</x-header>
      <x-listitem>item 1</x-listitem>
      <x-listitem>item 2</x-listitem>
      <x-listitem>item 3</x-listitem>
      <x-listitem>item 4</x-listitem>
    </x-section>
    <x-section>
      <x-header>Section 3</x-header>
      <x-listitem>item 1</x-listitem>
      <x-listitem>item 2</x-listitem>
    </x-section>
    <x-section>
      <x-header>Section 4</x-header>
      <x-listitem>item 1</x-listitem>
      <x-listitem>item 2</x-listitem>
    </x-section>
  </x-listview>
{% endblock %}

{% block related_links %}
  <p>
    Related: Grid List
  </p>
{% endblock %}
