{% extends "ecosystem/design/xtag.html" %}

{% block extrahead %}
  {{ css('mkt/ecosystem') }}
{% endblock %}

{% block description %}
  Slide box moves either horizontally or vertically, but not both.
{% endblock %}

{% block use_it %}
  When you want the users to browse through multiple slides (ex:
  an image gallery) and the user should be aware of the current
  activity (ex: the user has chosen to browser in the image gallery).
{% endblock %}

{% block tips %}
  <h2>Do's</h2>
  <ul>
    <li>use slide box for previous/ next navigation</li>
  </ul>
  <h2>Dont's</h2>
  <ul>
    <li>it is risky to use slide box as your primary navigation without
      any other indications that the boxes can slide. Also, there’s no
      direct translation of the slide movement on non- touch devices.
      Consider adding visual indications like an arrow, or display a
      portion of the previous and next elements.</li>
  </ul>
{% endblock %}

{% block code_live %}
  <x-slidebox>
  </x-slidebox>
{% endblock %}
