{% extends "impala/base_side_categories.html" %}
{% set title = _('Site Credits') %}

{% block title %}{{ page_title(title) }}{% endblock %}

{% block content %}

<section class="island prose full primary c">

<h1>{{ title }}</h1>
<p>
  {% trans %}
  Mozilla would like to thank the following people for their contributions to
  the addons.mozilla.org project over the years:
  {% endtrans %}
</p>

<h2>{{ _('Developers &amp; Administrators') }}</h2>
<p>{{ users_list(developers) }}</p>

<h2>{{ _('Localizers') }}</h2>
<table>
  <tbody>
    <tr>
      {% for lang, users in localizers %}
        <td>{{ lang }}</td>
        <td>{{ users_list(users) }}</td>
        {% if loop.index % 2 == 0 %}</tr><tr>{% endif %}
      {% endfor %}
    </tr>
  </tbody>
</table>

<h2>{{ _('Reviewers') }}</h2>
{% for num in [10000, 5000, 2000, 1000, 500, 100, 10] %}
  {% with users=reviewers[num] %}
    {% if users %}
      <h3>
        {# L10n: {0} is a number (e.g. 1000). #}
        {{ _('More than {0} add-on reviews')|format_html(num) }}
      </h3>
      <p>
      {% for user in users %}
        <a href="{{ url('users.profile', user.user__username) }}">{{ user.user__display_name }}</a>{% if not loop.last %}, {% endif %}
      {% endfor %}
      </p>
    {% endif %}
  {% endwith %}
{% endfor %}

<h2>{{ _('Other Contributors') }}</h2>
<p>{{ users_list(other_contribs) }}</p>

<h2>{{ _('Past Developers &amp; Administrators') }}</h2>
<p>{{ users_list(past_developers) }}</p>

<h2>{{ _('Software and Images') }}</h2>
<ul>
  <li>{{ _('Some icons used are from the <a href="http://www.famfamfam.com/lab/icons/silk/">famfamfam Silk Icon Set</a>, licensed under a <a href="http://creativecommons.org/licenses/by/2.5/">Creative Commons Attribution 2.5 License</a>.') }}</li>
  <li>{{ _('Some icons used are from the <a href="http://www.fatcow.com/free-icons/">FatCow Farm-Fresh Web Icons Set</a>, licensed under a <a href="http://creativecommons.org/licenses/by/3.0/us/">Creative Commons Attribution 3.0 License</a>.') }}</li>
  <li>{{ _('Some pages use elements of <a href="http://shop.highsoft.com/highcharts.html">Highcharts</a> (non-commercial), licensed under a <a href="http://creativecommons.org/licenses/by-nc/3.0/">Creative Commons Attribution-NonCommercial 3.0 License</a>.') }}</li>
</ul>

<p>
{% trans url = 'http://wiki.mozilla.org/AMO' %}
For information on contributing, please see our <a href="{{ url }}">wiki page</a>.
{% endtrans %}
</p>

</section>

{% endblock %}
