{% extends "impala/base_shared.html" %}

{% block title %}
  {{ page_title(_('Developer FAQ')) }}
{% endblock %}

{% block extrahead %}
  <style>
    .faq {
      font-size: 1.1em;
    }
    .faq h2 {
      font-size: 1.5em;
      margin: 1em 0;
    }
    .faq h3 {
      font-weight: bold;
      margin: 1em 0;
    }
    .faq ul {
      margin-bottom: 1em;
    }
    .faq ul li {
      margin-bottom: 0;
    }
  </style>
{% endblock %}

{% block content %}
  <aside class="secondary">
    <h2>{{ _('Sections') }}</h2>
    <ul>
      <li><a href="#developing">{{ _('Developing an Add-on') }}</a></li>
      <li><a href="#support-resources">{{ _('Support Resources') }}</a></li>
      <li><a href="#contributing">{{ _('Contributing your Add-on') }}</a></li>
      <li><a href="#review-process">{{ _('Add-on Review Process') }}</a></li>
      <li><a href="#managing">{{ _('Managing Your Add-on') }}</a></li>
      <li><a href="#user-reviews">{{ _('User Reviews') }}</a></li>
      <li><a href="#license">{{ _('References for Open Source Licenses') }}</a></li>
    </ul>
  </aside>
  <section class="prose faq primary">
    <h1>{{ _('Add-on Developer FAQ') }}</h1>

    <h2 id="developing">{{ _('Developing an Add-on') }}</h2>

    {% trans addons_link_open='<a href="https://developer.mozilla.org/en-US/Add-ons">'|safe,
             link_close='</a>'|safe %}
      <h3>How do I build an Add-on?</h3>
      <p>
        Mozilla provides documentation on how to build an add-on via the
        {{ addons_link_open }}Mozilla Developer Network{{ link_close }}.
      </p>
    {% endtrans %}

    <h3>{{ _('What is a ".xpi" file?') }}</h3>
    <p>
      {% trans %}
        Extensions are packaged and distributed in ZIP files or Bundles, with
        the XPI (pronounced "zippy") file extension.
      {% endtrans %}
    </p>

    <h3>{{ _('What is XUL?') }}</h3>
    <p>
      {% trans %}
        XUL (XML User Interface Language) is Mozilla's XML-based language
        that lets you build feature-rich cross platform applications. It
        provides user interface widgets like buttons, menus, toolbars,
        trees, etc that can be used to enhance add-ons by modifying parts
        of the browser UI.
      {% endtrans %}
    </p>
    <p>
      {% trans webext_link_open='<a href="https://developer.mozilla.org/en-US/Add-ons/WebExtensions">'|safe,
               portlegacy_link_open='<a href="https://developer.mozilla.org/en-US/Add-ons/WebExtensions/Porting_a_legacy_Firefox_add-on">'|safe,
               link_close='</a>'|safe %}
      <strong>Note:</strong> XUL is considered a legacy technology in Firefox, and add-ons using XUL will no longer load starting from 
      Firefox 57. Please use {{ webext_link_open}}WebExtensions{{ link_close }} APIs to develop new add-ons. If you have a legacy add-on,
      consider migrating it to WebExtensions. For information on migrating a legacy add-on, please visit
      {{ portlegacy_link_open }}Porting a legacy Firefox add-on{{ link_close }}.
      {% endtrans %}
    </p>

    <h3>{{ _('How do I test for compatibility with the latest version of Mozilla software?') }}</h3>
    <p>
      {% trans  %}
        To ensure compatibility with the latest Mozilla software, it's important
        to download updates as they become available and test your add-on to
        ensure that it is still functioning as expected. Since these releases at
        times introduce architectural changes that may impact the functionality of your
        add-on, it's important to be actively involved in the beta process to ensure
        that your add-on users are not negatively impacted upon final release of Mozilla software.
      {% endtrans %}
    </p>

    {# L10n: Heading for a list of resources for developers #}
    <h2 id="support-resources">{{ _('Support Resources') }}</h2>

    <h3>{{ _('I need some advice building my add-on. Where can I find help?') }}</h3>
    <ul>
      <li>
        irc://irc.mozilla.org/
        <ul>
          {# L10n: #extdev is the name of the IRC channel.  do not change. #}
          <li>{{ _('#extdev (for add-on development discussions)') }}</li>
          {# L10n: #amo is the name of the IRC channel.  do not change. #}
          <li>{{ _('#amo (for support relating to hosting your add-on on AMO)') }}</li>
          {# L10n: #webextensions is the name of the IRC channel.  do not change. #}
          <li>{{ _('#webextensions (for discussions about developing and porting to WebExtensions)') }}</li>
          </ul>
      </li>
      <li><a href="https://discourse.mozilla-community.org/c/add-ons">
        {{ _('Add-ons forum') }}
      </a></li>
      </ul>

    <h3>{{ _('Does Mozilla offer development services?') }}</h3>
    <p>{{ _('No.') }}</p>

    <h3>{{ _('Are there 3rd party developers that I can hire to build my add-on?') }}</h3>
    <p>
      {% trans forum_url='https://discourse.mozilla-community.org/c/add-ons',
               list_url='https://www.mozilla.org/about/forums/#projectwide-forums',
               mz_url='http://forums.mozillazine.org/',
               wiki_url='https://wiki.mozilla.org/Consulting' %}
       Yes. You may find 3rd party developers via the
       <a href="{{ forum_url }}">Add-ons forum</a>,
       <a href="{{ list_url }}">mozilla.jobs list</a>,
       <a href="{{ mz_url }}">mozillaZine forums</a> or
       <a href="{{ wiki_url }}">the Mozilla Wiki</a>.
        Please note that Mozilla does not offer developer recommendations.
      {% endtrans %}
    </p>

    <h2 id="contributing">{{ _('Contributing your Add-on') }}</h2>

    <h3>{{ _('Can I host my own add-on?') }}</h3>
    <p>
      {% trans amo_url='https://addons.mozilla.org' %}
        Yes. Many developers choose to host their own add-ons. Choosing to
        host your add-on on <a href="{{ amo_url }}">Mozilla's add-on site</a>,
        though, allows for much greater exposure to your add-on due to the
        large volume of visitors to the site.
      {% endtrans %}
    </p>

    <h3>{{ _('Can Mozilla host my add-on?') }}</h3>
    <p>
      {% trans url='https://addons.mozilla.org' %}
        Yes. You can host your add-on on <a href="{{ url }}">Mozilla's add-on website</a>.
      {% endtrans %}
    </p>

    <h3>{{ _('What is AMO?') }}</h3>
    <p>
      {% trans %}
        Mozilla's AMO (<a href="https://addons.mozilla.org">https://addons.mozilla.org</a>) is
        the incubator that helps developers build, distribute, and support
        fantastic consumer products powered by Mozilla. It provides you the
        tools and infrastructure necessary to manage, host and expose your
        add-on to a massive base of Mozilla users.
      {% endtrans %}
    </p>

    <h3>{{ _('Does Mozilla keep my account information private?') }}</h3>
    <p>
      {% trans url='https://www.mozilla.org/en-US/privacy/websites/' %}
      Yes. Our <a href="{{ url }}">Privacy Policy</a> describes how your information is managed by Mozilla.
      {% endtrans %}
    </p>

    <h3>{{ _('What are the "developer tools" listed on AMO?') }}</h3>
    <p>
      {% trans %}
        The "Developer Tools" dashboard is the area that provides you the
        tools to successfully manage your add-ons. It provides the
        functionality necessary to submit your add-ons to AMO, manage add-on
        information, and review statistics.
      {% endtrans %}
    </p>

    <h3>{{ _('Does Mozilla have a policy in place as to what is an acceptable submission?') }}</h3>
    <p>
      {% trans policy_link_open='<a href="https://developer.mozilla.org/en-US/Add-ons/AMO/Policy/Reviews">'|safe,
               guide_link_open='<a href="https://wiki.mozilla.org/Add-ons/Reviewers/Guide">'|safe, link_close='</a>'|safe %}
        Yes. Mozilla's {{ policy_link_open }}Add-on Review Policies{{ link_close }} describe what is
        an acceptable submission. This policy is subject to change without
        notice. In addition, the Add-on Reviewer Team uses the
        {{ guide_link_open }}Add-on Review Guide{{ link_close}} to ensure that your add-on meets
        specific guidelines for functionality and security.
      {% endtrans %}
    </p>

    <h3>{{ _('How do I submit my add-on?') }}</h3>
    <p>
      {% trans review_policy_link_open='<a href="https://developer.mozilla.org/en-US/Add-ons/AMO/Policy/Reviews">'|safe,
               link_close='</a>'|safe %}
        The Developer Tools dashboard will allow you to upload and submit
        add-ons to AMO. You must be a registered AMO user before you can
        submit an add-on. Before submitting your add-on be sure to you have
        read the {{ review_policy_link_open }}Add-on Review Policies{{ link_close }} to
        ensure that your add-on has met our guidelines.
      {% endtrans %}
    </p>

    <h3>{{ _('What operating system do I choose for my add-on?') }}</h3>
    <p>
      {% trans %}
        You must choose the operating systems on which your add-on will
        successfully function.
      {% endtrans %}
    </p>

    <h3>{{ _('What category do I choose for my add-on?') }}</h3>
    <p>
      {% trans %}
        The choice of category is dependent on what type of audience you are
        targeting and the functionality of your add-on. If you're unsure of
        which category your add-on falls into, please choose "Other". The AMO
        team may re-categorize your add-on if it's determined that it's
        better suited in a different category.
      {% endtrans %}
    </p>

    <h3>{{ _('Can I specify a license agreement for using my add-on?') }}</h3>
    <p>
      {% trans %}
        Yes. You can specify a license agreement when submitting your add-on.
        You can also add or update a license agreement via the Developer
        Tools dashboard after your add-on has been submitted.
      {% endtrans %}
    </p>

    <h3>{{ _('Can I include a privacy policy for my add-on?') }}</h3>
    <p>
      {% trans %}
        Yes. You can specify a privacy policy when submitting your add-on.
        You can also add or update a privacy policy via the Developer Tools
        dashboard after your add-on has been submitted.
      {% endtrans %}
    </p>

    <h2 id="review-process">{{ _('Add-on Review Process') }}</h2>

    <h3>{{ _('Must my add-on be reviewed?') }}</h3>
    <p>
      {% trans url='https://wiki.mozilla.org/Add-ons/Reviewers/Guide' %}
        New and updated add-ons may be suject to reviewed to ensure
        that Mozilla users have a stable and safe experience. The guidelines
        outlined in the <a href="{{ url }}">Add-on Review Guide</a> are used
        to review add-on submissions.
      {% endtrans %}
    </p>

    <h3>{{ _('Who reviews my add-on?') }}</h3>
    <p>
      {% trans url='https://wiki.mozilla.org/Add-ons/Reviewers/Guide' %}
        Add-ons are reviewed by the Add-on Reviewers, a group of talented
        developers that volunteer to help the Mozilla project by reviewing
        add-ons to ensure a stable and safe experience for Mozilla users.
        When communicating with a reviewer, please be courteous, patient and
        respectful as they are working hard to ensure that your add-on is
        set up correctly and follows the guidelines outlined in the
        <a href="{{ url }}">Add-on Review Guide</a>.
      {% endtrans %}
    </p>

    <h3>{{ _('What are the guidelines used to review my add-on?') }}</h3>
    <p>
      {% trans url='https://wiki.mozilla.org/Add-ons/Reviewers/Guide' %}
        The Add-on Reviewer Team follows the <a href="{{ url }}">Add-on Review
        Guide</a> when testing an add-on. It is important that add-on developers
        review this guide to ensure that common problem areas are addressed
        prior to submitting their add-on. This will greatly assist in avoiding
        review issues.
      {% endtrans %}
    </p>

    <h3>{{ _('How long will it take for my add-on to be reviewed?') }}</h3>
    <p>
      {% trans %}
        We cannot give a time estimate as to how long it will take before an
        add-on is reviewed. Many factors affect the time including the:
      {% endtrans %}
    </p>
    <ul>
      {# L10n: part of a list (<li>) #}
      <li>{{ _('number of add-on submissions') }}</li>
      {# L10n: part of a list (<li>) #}
      <li>{{ _('complexity of an add-on’s code') }}</li>
      {# L10n: part of a list (<li>) #}
      <li>{{ _('number of problem areas discovered') }}</li>
    </ul>
    <p>
      {% trans g_url="https://wiki.mozilla.org/Add-ons/Reviewers/Guide" %}
       This is why it's very important to read the
       <a href="{{ g_url }}">Add-on Review Guide</a> to ensure that your add-on is setup
       as expected.
      {% endtrans %}
    </p>

    <h2 id="managing">{{ _('Managing Your Add-on') }}</h2>

    <h3>{{ _('How can I see how many times my add-on has been downloaded?') }}</h3>
    <p>
      {% trans %}
        The Statistics Dashboard found in the Developer Tools dashboard
        provides information that can help you determine your add-on
        downloads since you've submitted it to AMO.
      {% endtrans %}
    </p>

    <h3>{{ _('How can I see how many active users are using my add-on?') }}</h3>
    <p>
      {% trans %}
        The Statistics Dashboard found in the Developer Tools dashboard
        provides information that can help you determine how many users have
        been actively using your add-on since you've submitted it to AMO.
      {% endtrans %}
    </p>

    <h3>{{ _('How do I submit an update for my add-on?') }}</h3>
    <p>
      {% trans %}
        You can submit an update for your add-on via the Developer Tools
        dashboard by choosing the option "Upload a new version" and uploading
        a new .xpi file for your add-on.
      {% endtrans %}
    </p>

    <h3>{{ _('Does my update need to be reviewed by reviewers?') }}</h3>
    <p>
      {% trans %}
        Add-on updates may be subject to review just the same as new
        submissions.
      {% endtrans %}
    </p>

    <h2 id="user-reviews">{{ _('User Reviews') }}</h2>

    <h3>{{ _('How do I reply to a user who has posted a negative review of my add-on?') }}</h3>
    <p>
      {% trans %}
        A developer may reply to any review posted to their add-on as long as
        they are logged into AMO. In addition, any user can flag a review as:
      {% endtrans %}
    </p>
    <ul>
      {# L10n: part of a list (<li>) #}
      <li>{{ _('Spam or otherwise non-review content') }}</li>
      {# L10n: part of a list (<li>) #}
      <li>{{ _('Inappropriate language/dialog') }}</li>
      {# L10n: part of a list (<li>) #}
      <li>{{ _('Misplaced bug report or support request') }}</li>
      {# L10n: part of a list (<li>) #}
      <li>{{ _('Other (provides a pop-up prompt for information)') }}</li>
    </ul>
    <p>
      {% trans %}
        Currently, AMO does not provide a mechanism to directly communicate
        with the author of a user review.
      {% endtrans %}
    </p>

    <h3>{{ _('Can I request that a review be removed if the review is negative?') }}</h3>
    <p>
      {% trans %}
        No. We do not remove negative reviews from add-ons unless they are
        found to be false.
      {% endtrans %}
    </p>

    <h3>{{ _('Can I request that a review be removed if the review is inaccurate?') }}</h3>
    <p>
      {% trans %}
        If an author contacts us and asks for a review containing false or
        inaccurate information to be removed, we will review the post and
        consider removing it.
      {% endtrans %}
    </p>

    <h2 id="license">{{ _('References for Open Source Licenses') }}</h2>
    <p>
      {% trans %}
        Do you need more information about the various open source licenses? Are you
        confused as to which license you should select? What rights does a specific
        license grant? While nothing replaces reading the full terms of a license,
        below are some sites that contain information about some of the key open
        source licenses that may help you sort out the differences between them. These
        sites are being provided solely for your convenience and as a reference for
        your personal use. These resources do not constitute legal advice nor should
        they be used in lieu of such advice. Mozilla neither guarantees nor is
        responsible for the content of these sites or your reliance on such content.
      {% endtrans %}
    </p>

    <h3><a href="https://www.mozilla.org/MPL/">https://www.mozilla.org/MPL/</a></h3>
    <p>
      {% trans %}
        In addition to the full text of the Mozilla Public
        License("MPL"), this also provides an annotated version
        of the MPL and an <abbr title="Frequently Asked Questions">FAQ</abbr>
        to help you if you want to use or distribute code licensed under it.
      {% endtrans %}
    </p>

    <h3>
      <a href="https://community.kde.org/Policies/Licensing_Policy">
        https://community.kde.org/Policies/Licensing_Policy
      </a>
    </h3>
    <p>
      {% trans %}
        A table summarizing and comparing how some of the key open source
        licenses treat distributions, proprietary software linking, and
        redistribution of code with changes.
      {% endtrans %}
    </p>

    <h3>
      <a href="http://www.gnu.org/licenses/license-list.html">
        http://www.gnu.org/licenses/license-list.html
      </a>
    </h3>
    <p>
      {% trans %}
        Free Software Foundation provides short summaries of the key open
        source licenses, including whether the license qualifies as a free
        software license or a copyleft license. Also includes a discussion
        of what constitutes a free software license or a copyleft license
        (e.g., a Copyleft license is a general method for making a program
        or other work free, and requiring all modified and extended versions
        of the program to be free as well.)
      {% endtrans %}
    </p>

    <h3>
      <a href="http://opensource.org/licenses/category">
        http://opensource.org/licenses/category
      </a>
    </h3>
    <p>
      {% trans %}
        Open Source Initiative provides the terms of some of the key open
        source licenses.
      {% endtrans %}
    </p>
    <h3>
      <a href="https://en.wikipedia.org/wiki/Comparison_of_free_and_open-source_software_licenses">
        https://en.wikipedia.org/wiki/Comparison_of_free_and_open-source_software_licenses
      </a>
    </h3>
    <p>{{ _('A comparison of known open source licenses on Wikipedia.') }}</p>
    <h3>
      <a href="http://choosealicense.com/">
        http://choosealicense.com/
      </a>
    </h3>
    <p>{{ _('A site to provide non-judgmental guidance on choosing a license for your open source project.') }}</p>
</section>
{% endblock %}
