<!DOCTYPE html>
<!-- This Source Code Form is subject to the terms of the Mozilla Public
   - License, v. 2.0. If a copy of the MPL was not distributed with this
   - file, You can obtain one at http://mozilla.org/MPL/2.0/. -->

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Firefox Pioneer</title>
    <link rel="stylesheet" href="{{ STATIC_URL }}css/shield_study_16/main.css" type="text/css" />
  </head>
  <body>
      <div class="container">
        <div class="title-container">
          <h1 class="title">Firefox Pioneer</h1>
            <a href="https://addons.mozilla.org/firefox/downloads/latest/firefox-pioneer/?src=shield-study-16"><button class="button primary large">start now</button></a>
        </div>
        <div class="content"><p>Mozilla wants to better understand the health of the web, how users interact with it, and how people use their browsers.</p>
<p>In order to do so, we need to collect and analyze data about web browsing habits. We would like to identify a group of users willing to share this information with us. Data collection will happen in the background while you use Firefox, and your browser may occasionally change behavior slightly.</p>
<p><strong>Participation in Firefox Pioneer is strictly voluntary.</strong></p>
<h1 id="what-will-happen-next">What Will Happen Next</h1>
<p><strong>If you agree</strong> to participate:</p>
<ol>
<li>A preference will change to note that you are willing to participate in Pioneer studies.  Continue using Firefox as you normally would.</li>
<li>Periodically, we will enroll you in studies looking at some aspect of Firefox or the web in general. These studies will collect varying information about your browsing behavior, possibly including what web pages you visit and how you interact with them.</li>
<li>Periodically, we may ask participants a yes/no question about what they are currently doing with the browser. As with all of Firefox Pioneer, choosing to answer these questions will be entirely optional.</li>
</ol>
<h1 id="leaving-pioneer">Leaving Pioneer</h1>
<p>Users are welcome to opt out of any individual study or to leave the Firefox Pioneer group entirely.</p>
<ol>
<li>Type <code>about:addons</code> into the location bar and press <code>Enter</code>.</li>
<li>If you see an addon called <code>Firefox Pioneer</code>, click <strong>Remove</strong>.</li>
</ol>
<p>If you do not see an addon:</p>
<ol>
<li>Type <code>about:studies</code> into the location bar, and press <code>Enter</code>.</li>
<li>All the studies that are currently running will be listed. To opt out of a specific study, click on the <code>Disable</code> button next to the study.</li>
<li>To opt out of Firefox Pioneer entirely, click on the &quot;End Participation&quot; button at the top of the page.</li>
<li>Opting out of a study will immediately stop collection of data associated with that study and remove any changes made to the browser as part of the study. Opting out of Firefox Pioneer will immediately stop all Pioneer studies currently being run, and you will not be added to any new ones.</li>
</ol>
<p>Opting out of an individual study will not cause you to be removed from future studies. You can rejoin a study by clicking the &quot;Enable&quot; button next to that study. If you wish to rejoin the Firefox Pioneer Group, you may do so by clicking on the &quot;Begin Participation&quot; button at the top of the page .</p>
<h1 id="your-privacy">Your Privacy</h1>
<p>Mozilla understands the sensitivity of the data it may collect in some Pioneer studies and works hard to keep your data private and secure:</p>
<ul>
<li>We will not attempt to collect cookies, account names, passwords, email addresses, or POST form values.</li>
<li>The <strong>data you submit is encrypted in Firefox</strong> and not decrypted until it is on a server that is not connected to the wider internet.</li>
<li>This data will be linked to a randomly generated ID we only use for Firefox Pioneer. It is used to keep a specific user&#39;s data together on the server and helps us improve our analysis.</li>
<li>No data will be collected from inside Private Browsing windows.</li>
<li>Proposed studies will be reviewed by a panel consisting of privacy experts, internet researchers and web security engineers to ensure that the data being collected is appropriate and respects the user’s privacy.</li>
<li>Individual data will never be shared publicly or sold. Only a small number of researchers will have access to raw data. If we share aggregate information from an studies, we will disclose it in a way that minimizes the risk of participants being identified.</li>
</ul>
<h1 id="you-help-make-firefox-better">You Help Make Firefox Better</h1>
<p>At Mozilla, we pride ourselves on building products for you, the user! That’s why we need your help.</p>
<p>By participating in this group, you will help us to make better decisions on your behalf and shape the future of Firefox!</p>
<h2 id="firefox-pioneer-is-brought-to-you-by">Firefox Pioneer is brought to you by</h2>
<p>Pioneer Group</p>
<ul>
<li>Toby Elliot</li>
<li>Martin Lopatka</li>
<li>Rebecca Weiss</li>
</ul>
<p>Firefox Strategy and Insights Team</p>
<ul>
<li>Matt Grimes</li>
<li>Gregg Lind</li>
</ul>
</div>
    </div>
  </body>
</html>
