<!DOCTYPE html>
<!-- This Source Code Form is subject to the terms of the Mozilla Public
   - License, v. 2.0. If a copy of the MPL was not distributed with this
   - file, You can obtain one at http://mozilla.org/MPL/2.0/. -->
<html>

<head>
  <meta charset="utf-8" />
  <title>Plugin Safety</title>
  <link rel="stylesheet" href="{{ STATIC_URL }}css/shield_study_11/main.css" type="text/css" />
</head>

<body>
  <div class="container">
    <div class="title-container">
        <h1 class="title">Plugin Safety</h1>
        <a href="https://addons.mozilla.org/firefox/downloads/latest/plugin-safety/?src=shield-study-11">
            <button class="button primary large">
              {% trans %}
                Start Now
              {% endtrans %}
            </button>
        </a>
    </div>
    <div class="content">
      <p>
        {% trans %}
          Mozilla wants to figure out the best way to keep our users safe if they choose to use third-party software such as plugins. Participating in this study will help us find out!
        {% endtrans %}
      </p>
      <h2 id="what-will-happen-next">
        {% trans %}
          What will happen next
        {% endtrans %}
      </h2>
      <p>
        {% trans %}
          <strong>If you agree</strong> to participate:
        {% endtrans %}
      </p>
      <ol>
        <li>
          {% trans %}
            We may add security and plugin control features to Firefox to help with online security and performance.
          {% endtrans %}
        </li>
        <li>
          {% trans %}
            Continue using Firefox as you normally would. Depending on how you use the Web, you may not notice any changes.
          {% endtrans %}
        </li>
        <li>
          {% trans %}
            After a few weeks, the study will end on its own. Your Firefox will go back to normal.
          {% endtrans %}
        </li>
        <li>
          {% trans %}
            We will ask you to fill out a quick optional survey to tell us about your experience. The survey should take less than 5 minutes to complete.
          {% endtrans %}
        </li>
      </ol>
      <h2 id="leaving-the-study">
        {% trans %}
          Leaving the study
        {% endtrans %}
      </h2>
      <p>
        {% trans %}
          The study will expire on its own in a few weeks. You may leave the study early. To do so, follow these steps:
        {% endtrans %}
      </p>
      <ol>
        <li>
          {% trans %}
            Type about:addons into the location bar, and press enter.
          {% endtrans %}
        </li>
        <li>
          {% trans %}
            Find Plugin Safety in the addons list.
          {% endtrans %}
        </li>
        <li>
          {% trans %}
            Click the remove button.
          {% endtrans %}
        </li>
        <li>
          {% trans %}
            If you opt out of the study early we will ask you to fill out a survey. We’re interested in hearing about your experience, even if you didn’t participate in the entire study.
          {% endtrans %}
        </li>
      </ol>
      <p>
        {% trans %}
          Opting out of a study does not prevent you from participating in future studies.
        {% endtrans %}
      </p>
      <h2 id="your-privacy">
        {% trans %}
          Your privacy
        {% endtrans %}
      </h2>
      <h3 id="all-shield-studies">
        {% trans %}
          All Shield Studies
        {% endtrans %}
      </h3>
      <p>
        {% trans %}
          Every Shield Study collects data about important study events, such as install, uninstall, daily usage, and end of study. Studies also include an optional survey.
        {% endtrans %}
      </p>
      <p>
        {% trans url='https://gecko.readthedocs.io/page/toolkit/components/telemetry/telemetry/index.html' %}
          This data is associated with <a href="{{ url }}">Firefox Telemetry collection</a>.
        {% endtrans %}
      </p>
      <h3 id="this-particular-study">
        {% trans %}
          This particular Study
        {% endtrans %}
      </h3>
      <p>
        {% trans %}
          In addition to the data collected by all Shield Studies, Mozilla will collect information about: 
        {% endtrans %}
      </p>
      <ul>
        <li>
          {% trans %}
            Websites you visit that try to use plugins, and what content on the site requires the plugin;
          {% endtrans %}
        </li>
        <li>
          {% trans %}
            How you interact with plugin content on those sites, including whether and how you choose to allow the plugin to run.
          {% endtrans %}
        </li>
      </ul>
      <p>
        {% trans %}
          Mozilla will keep this information private; any data will only be shared in aggregate or anonymized form.
        {% endtrans %}
      </p>
      <p>
        {% trans url='https://github.com/squarewave/shield-study-essential-flash/blob/master/docs/metrics.md' %}
          You can learn more about the data collection for this study <a href="{{ url }}">here</a>.
        {% endtrans %}
      </p>
      <h2 id="you-help-make-firefox-better">
        {% trans %}
          You Help Make Firefox Better
        {% endtrans %}
      </h2>
      <p>
        {% trans %}
          At Mozilla, we pride ourselves on building products for you, the user! That’s why we need your help. By participating in this study, you will help us to make better decisions on your behalf and directly shape the future of Firefox!
        {% endtrans %}
      </p>
      <h2 id="brought-to-you-by-">
        {% trans %}
          Brought to you by:
        {% endtrans %}
      </h2>
      <ul>
        <li>Felipe Gomes</li>
        <li>Benjamin Smedberg</li>
        <li>Kirk Steuber</li>
        <li>Doug Thayer</li>
      </ul>
    </div>
  </div>
</body>

</html>
