<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Help Make Firefox Faster</title>
    <link rel="stylesheet" href="{{ STATIC_URL }}css/shield_study/main.css">
    <script src="{{ STATIC_URL }}/js/node_lib/jquery.js"></script>
    <script src="{{ STATIC_URL }}/js/zamboni/analytics.js"></script>
    <script src="{{ STATIC_URL }}/js/shield_study/main.js"></script>
  </head>
  <body>
    <header class="blue">
      <div id="main-header" class="content-wrapper">

        <h1>
          <span class="firefox-logo"></span>
          <span>Firefox</span>
        </h1>

      </div>
    </header>

    <div class="spacer"></div>
    <div class="details-header-wrapper">
      <div class="details-header content-wrapper">
        <h1 data-hook="title">Help Make Firefox Faster</h1>
        <div class="experiment-controls">
          <a id="opt-in" class="button primary large" href="https://addons.mozilla.org/firefox/downloads/latest/x-screen-performance-study-1/">Start Performance Study</a>
        </div>
      </div>
    </div>

    <div class="content-wrapper">

<hr>
<p>Mozilla wants to know which performance settings in Firefox work best for most users.   Start this study and help us figure them out!</p>
<h2 id="what-will-happen-next">What will happen next</h2>
<p><strong>If you agree</strong> to participate:</p>
<ol>
<li>We will modify some settings in Firefox.</li>
<li>Continue using Firefox as you normally would.  You may notice changes.</li>
<li>After 7 days, the study will end on its own. Your Firefox will go back to normal.</li>
<li>We will ask you to fill out a quick <strong>optional survey</strong> to tell us about your experience. The survey should take less than 5 minutes to complete.</li>
</ol>
<h2 id="leaving-the-study">Leaving the study</h2>
<p>The study will expire on its own in 7 days.  You may leave the study early.  To do so, follow these steps:</p>
<ol>
<li>Type <code>about:addons</code> into the location bar, and press enter.</li>
<li>Find <code>x-screen-draw-performance-shield-study-1</code> in the addons list.</li>
<li>Click the <code>remove</code> button.</li>
<li>If you opt out of the study early we will ask you to fill out a survey. We’re interested in hearing about your experience, even if you didn’t participate in the entire study.</li>
</ol>
<p>Opting out of a study does not prevent you from participating in future studies.</p>
<h2 id="data-we-will-collect">Data we will collect</h2>
<ul>
<li>General Firefox Usage Data, in accordance with the <a href="https://www.mozilla.org/en-US/privacy/">Firefox Privacy Policy</a></li>
<li>Your responses to the follow-up survey</li>
</ul>
<h2 id="we-can-t-do-this-alone">We can’t do this alone</h2>
<p>At Mozilla, we pride ourselves on building products for you, the user! That’s why we need your help.</p>
<p>By participating in this study, you will help us to make better decisions on your behalf and directly shape future versions of Firefox!</p>
    </div>

    <footer id="main-footer" class="content-wrapper">
      <div id="footer-links">
      <a data-l10n-id="footerLinkLegal" href="https://www.mozilla.org/about/legal/" class="boilerplate">Legal</a>
      <a data-l10n-id="footerLinkPrivacy" href="https://www.mozilla.org/privacy/" class="boilerplate">Privacy</a>
      <a data-l10n-id="footerLinkCookies" href="https://www.mozilla.org/privacy/websites/#cookies" class="boilerplate">Cookies</a>
      <a data-l10n-id="footerLinkContribute" href="https://www.mozilla.org/contribute/signup/" class="boilerplate">Contribute</a>
      </div>
    </footer>
  </body>
</html>
