<!DOCTYPE html>
<!-- This Source Code Form is subject to the terms of the Mozilla Public
   - License, v. 2.0. If a copy of the MPL was not distributed with this
   - file, You can obtain one at http://mozilla.org/MPL/2.0/. -->

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Containers</title>
    <link rel="stylesheet" href="{{ STATIC_URL }}css/shield_study_15/main.css" type="text/css" />
  </head>
  <body>
      <div class="container">
        <div class="title-container">
          <h1 class="title">Containers</h1>
            <a href="https://testpilot.firefox.com/files/shield-study-containers/signed-addon.xpi"><button class="button primary large">Try Containers</button></a>
        </div>
        <div class="content"><p>Mozilla wants to know if Containers help organize tasks and protect your online identity by keeping some aspects of your online use separate from others. Participating in this study will help us find out!</p>
<h2 id="what-will-happen-next">What will happen next</h2>
<p><strong>If you agree</strong> to participate:</p>
<ol>
<li>We will add additional functionality to Firefox that provides Containers for your tabs.</li>
<li>You will see a new browser icon and panel to manage your Containers and Container tabs.</li>
<li>You will see a new menu when you long-press on the "+" button in tab bar.</li>
<li>Continue using Firefox - with or without Container tabs.</li>
<li>After 28 days, the study will end on its own. Your Firefox will go back to normal. Any Containers you created and used during the study will be removed.</li>
<li>We will ask you to fill out a quick <em>optional survey</em> to tell us about your experience. The survey should take less than 5 minutes to complete.</li>
</ol>
<h2 id="leaving-the-study">Leaving the study</h2>
<p>The study will expire on its own in 28 days.  You may leave the study early.  To do so, follow these steps:</p>
<ol>
<li>Type <code>about:addons</code> into the location bar, and press enter.</li>
<li>Find <code>Containers Experiment</code> in the <strong>extensions</strong> list pane.</li>
<li>Click the <code>remove</code> button.</li>
<li>If you opt out of the study early we will ask you to fill out a survey. We’re interested in hearing about your experience, even if you didn’t participate in the entire study.</li>
</ol>
<p>Opting out of a study does not prevent you from participating in future studies.</p>
<h2 id="your-privacy">Your privacy</h2>
<h3 id="all-shield-studies">All Shield Studies</h3>
<p>Every Shield Study collects data about important study events, such as install, uninstall, daily usage, and end of study. Studies also include an optional survey.</p>
<p>This data is associated with <a href="https://gecko.readthedocs.io/en/latest/toolkit/components/telemetry/telemetry/index.html">Firefox Telemetry collection</a>.</p>
<h3 id="this-particular-study">This Particular Study</h3>
<p>In addition to the data collected by all Shield Studies and your voluntary answers to the followup survey, here are the <strong>key things you should know</strong> about what is happening when you participate in this study:</p>
<ul>
<li>To learn which elements of Containers are most helpful to you, we will collect information about your interactions with Containers and Container tabs, such as which Containers you are using, and the number of tabs in a Container.</li>
<li>We will also collection information about the performance of Containers, such as how often Container tabs are automatically reloaded.</li>
<li>Containers will NOT send information about open pages - neither page content, nor meta information, nor URLs.</li>
</ul>
<p>You can learn more about the data collection for this study <a href="https://github.com/mozilla/testpilot-containers/blob/master/docs/metrics.md">on our metrics document.</a></p>
<h2 id="you-help-make-firefox-better">You help make Firefox better</h2>
<p>At Mozilla, we pride ourselves on building products for you, the user! That’s why we need your help.  You help us by letting us observe how you use new features and by telling us your opinions about them.</p>
<p>By participating in this study, you will help us make better decisions on your behalf and directly shape the future of Firefox.</p>
<h2 id="brought-to-you-by">Brought to you by</h2>
<ul>
<li>Tanvi Vyas</li>
<li>Jonathan Kingston</li>
<li>Andrea Marchesini</li>
<li>Kamil Jozwiak</li>
<li>Luke Crouch</li>
<li>Fang Shih</li>
<li>Mark Liang</li>
<li>Morpheus Chen</li>
<li>John Gruen</li>
</ul>
</div>
    </div>
  </body>
</html>
