<!DOCTYPE html>
<!-- This Source Code Form is subject to the terms of the Mozilla Public
   - License, v. 2.0. If a copy of the MPL was not distributed with this
   - file, You can obtain one at http://mozilla.org/MPL/2.0/. -->

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Search Shield Study</title>
    <link rel="stylesheet" href="{{ STATIC_URL }}css/shield_study_8/main.css" type="text/css" />
  </head>
  <body>
      <div class="container">
        <div class="title-container">
          <h1 class="title">Search Shield Study</h1>
            <a href="https://addons.mozilla.org/firefox/downloads/latest/unified-urlbar-shield-study/?src=shield-study-8"><button class="button primary large">Try Search Shield Study</button></a>
        </div>
        <div class="content"><h1 id="optimizing-firefox-search">Optimizing Firefox Search</h1>
<p>Mozilla wants to know if we can improve the default search experience in Firefox. Participating in this study will help us find out!</p>
<h2 id="what-will-happen-next">What will happen next</h2>
<p>** If you agree to participate:</p>
<ol>
<li>We will add additional features to Firefox that modify the default search experience</li>
<li>Continue using Firefox as you normally would. You may not notice any changes immediately.</li>
<li>After 30 days, the study will end on its own. Your Firefox will go back to normal.</li>
<li>We will ask you to fill out a quick optional survey to tell us about your experience. The survey should take less than 5 minutes to complete.</li>
</ol>
<h2 id="leaving-the-study">Leaving the study</h2>
<p>The study will expire on its own in 30 days. You may leave the study early. To do so, follow these steps:</p>
<ol>
<li>Type about:addons into the location bar, and press enter.</li>
<li>Find Search Shield Study in the addons list.</li>
<li>Click the remove button.</li>
<li>If you opt out of the study early we will ask you to fill out a survey. We’re interested in hearing about your experience, even if you didn’t participate in the entire study.</li>
</ol>
<p>Opting out of a study does not prevent you from participating in future studies.</p>
<h2 id="your-privacy">Your privacy</h2>
<h3 id="all-shield-studies">All Shield Studies</h3>
<p>Every Shield Study collects data about important study events, such as install, uninstall, daily usage, and end of study. Studies also include an optional survey.</p>
<p>This data is associated with Firefox <a href="https://gecko.readthedocs.io/en/latest/toolkit/components/telemetry/telemetry/index.html">Telemetry collection</a>.</p>
<h3 id="this-particular-study">This particular Study</h3>
<p>In addition to the data collected by all Shield Studies, here are the key things you should know about what is happening when you participate in this study:</p>
<ul>
<li>We will track basic information about your search behavior in Firefox. This includes using the in-product search tools and information about the search providers you may visit.</li>
<li>No actual search queries will be collected. We will look at numbers of searches performed.</li>
<li>No information will be collected while in Private Browsing mode</li>
</ul>
<p>You can <a href="https://github.com/mak77/unified-urlbar-shield-study/blob/master/docs/metrics.md">learn more about the data collection for this study here</a>.</p>
<h2 id="you-help-make-firefox-better">You Help Make Firefox Better</h2>
<p>At Mozilla, we pride ourselves on building products for you, the user! That’s why we need your help.</p>
<p>By participating in this study, you will help us to make better decisions on your behalf and directly shape the future of Firefox!</p>
<h2 id="brought-to-you-by-">Brought to you by:</h2>
<ul>
<li>Javaun Moradi</li>
<li>Panagiotis Astithas</li>
<li>Marco Bonardo</li>
<li>Firefox Strategy and Insights</li>
</ul>
</div>
    </div>
  </body>
</html>
