{% extends "impala/base_shared.html" %}

{% block title %}
  {{ page_title(_('Sunbird')) }}
{% endblock %}

{% block extrahead %}
  <style>
    p {
      margin-bottom: 1em;
    }
    .numbered li::-moz-list-number {
      font-size: 2em;
      border: 1px solid black;
    }
    #message {
      padding-left: 285px;
      min-height: 256px;
      background: url(/media/img/app-icons/256/sunbird.png) no-repeat left 30%;
    }
  </style>
{% endblock %}

{% block content %}
  <section id="message" class="copy prose">
    <h1>{{ _('Sunbird has retired') }}</h1>

    <p>
      {% trans %}
      Development on the Sunbird project has halted and its final release was
      on March 30, 2010. We've been proud to host Sunbird add-ons on this site
      but as the project is no longer maintained we have disabled our support
      for the add-ons.
      {% endtrans %}
    </p>

    <p>
    {% trans tb_url="https://www.mozilla.org/en-US/thunderbird/",
             lightning_url="https://addons.mozilla.org/thunderbird/addon/2313/" %}
       We recommend upgrading to <a href="{{ tb_url }}">Thunderbird</a> and <a href="{{ lightning_url }}">Lightning</a>.
    {% endtrans %}
    </p>

    <p>
      <a href="http://www.mozilla.org/projects/calendar/sunbird/">{{ _('Read more about Sunbird') }}</a>
    </p>
  </section>
{% endblock %}
