@import '../impala/lib'
#home-header, .mini-header
  margin 0 14px
.moz-menu
  transition(0.5s top ease)
  position relative
  top 0
  z-index 100
  .tab
    border-radius(0 0 6px 6px)
    box-shadow(0 -3px rgba(0, 0, 0, 0.2) inset)
  .tab a
    background url(../../img/zamboni/global/wordmark.png) no-repeat 8px 6px
    display block
    height 30px
    line-height 22px
    text-align right
    color #fff
    font-style italic
    padding 8px 25px
    &:after
      top 18px
      border 6px solid transparent
      border-top-color #fff
.mini-header .moz-menu .tab
  width 104px
  float right
  overflow hidden
  position relative
  a
    text-indent -9999px
    text-align left
.html-rtl .mini-header .moz-menu .tab
  float left
  a
    text-indent 9999px
.moz-menu .menu-items
  position absolute
  width 100%
  left -14px
  right -14px
  bottom 46px
  li
    border-bottom 1px solid #294976
    border-top 1px solid #537ab4
    background-color #3a67af
    height 50px
    width 100%
    padding 0 14px
  a
    font bold (17px / 26px) HEAD_SANS
    color #fff
    display block
    height 26px
    padding 12px 0
    text-transform uppercase
.mini-header .moz-menu .menu-items
  bottom 0
.moz-menu.expand
  top 312px
  .tab a:after
    transform(rotate(180deg))
header hgroup
  margin 8px 0
  position relative
  padding-left 80px
.html-rtl header hgroup
  padding-left 0
  padding-right 80px
.html-rtl .mini-header hgroup
  padding-right 0
header nav
  ul
    float left
    padding 14px 0
    li
      float left
      line-height 14px
    a
      color LINK
      display block
  #auth-nav
    float right
.html-rtl header nav
  ul, li
    float right
  #auth-nav
    float left
header #auth-nav li
  &.user
    font-weight bold
  border-left 1px solid #ccc
  margin-left 7px
  padding-left 7px
.html-ltr header #auth-nav li:first-child, .html-rtl header #auth-nav li:last-child
  border-left 0
  margin-left 0
  padding-left 0
.mini-header .site-title
  padding 4px 80px 0 0
  a
    font-size 28px
    line-height 50px
.html-rtl .mini-header .site-title
  padding 4px 0 0 120px
#home-header
  hgroup
    min-height 75px
    margin-bottom 8px
  h1
    padding-top 4px
  h2
    margin 4px 0
    color MEDIUM_GRAY
  .site-title img
    position absolute
    left 0
    top 0
.mini-header hgroup
  margin-top 0
  padding 2px 0 0
.html-rtl #home-header .site-title img
  left auto
  right 0
.site-title
  a
    color #000
    font (36px / 32px) SERIF_STACK
    text-decoration none
    text-transform uppercase
  span
    display block
.mini-header .site-title img
  float left
  height 50px
  margin-right 6px
.html-rtl .mini-header .site-title img
  float right
  margin 0 0 0 6px
#home-header #search
  margin 0
#learnmore-msg
  border-radius(1em)
  box-shadow(0 0 3px rgb(0, 0, 0, 1))
  transition(0.3s opacity ease)
  background #444
  color #fff
  font (14px / 1.3) SANS_STACK
  margin 12px 14px 0
  max-width 260px
  opacity 0
  padding 14px
  pointer-events none
  position absolute
  left 0
  z-index 100
  &.show
    opacity 1
    pointer-events auto
  &:after
    content "\00a0"
    display block
    position absolute
    z-index 100
    top -28px
    left 94px
    width 0
    height 0
    border 15px solid transparent
    border-bottom-color #444
    pointer-events none
#learnmore
  color LINK
  padding 4px 0
.get-fx-message
  border-radius(6px)
  border 1px solid #e3873b
  background rgb(252, 239, 183, 1) url(../../img/zamboni/icons/alert-32x32.png) 11px center no-repeat
  clear both
  display none
  font-size 105%
  margin-top 12px
  line-height 1.1em
  padding 12px 12px 10px 56px
