.notification-box {
    line-height: 1.25;
    margin: 10px 0;
    padding: 10px;

    h2 {
        font-size: 20px;
    }
    p {
        font-size: 18px;
        margin-top: 10px;
    }
}
.notification-box.error {
    background-color: #FFA5A5;
    color: #444;
}
