{% extends "discovery/base.html" %}

{% block bodyclass %}detail{% endblock %}

{% block bodyattrs %}
data-pane-url="{{ services_url('discovery.pane', ':version:', ':platform:') }}"
{% endblock %}

{% block title %}{{ page_title(addon.name) }}{% endblock %}

{% block content %}
  <section id="main">
    <header>
      <h1 class="addon">
        <img class="icon" src="{{ addon.icon_url }}">
        {{ addon.name }}
        {% set version = addon.current_version %}
        {% if version and not addon.is_selfhosted() %}
          <span class="version">{{ version.version }}</span>
        {% endif %}
      </h1>
      <h2 class="author">
        {{ _('by') }} {{ users_list(addon.listed_authors) }}
      </h2>
      <p id="back"><a href="#" target="_self">{{ _('Back to Add-ons') }}</a></p>
    </header>
    {% block main %}{% endblock %}
  </section>
  {% block secondary %}{% endblock %}
{% endblock %}

{% block js %}
  {{ js('zamboni/discovery-addons') }}
  <script async defer src="{{ url('addons.buttons.js') }}/build:{{ BUILD_ID_JS }}"></script>
{% endblock %}
