<div id="content-wrapper">
    <div>
    {% if viewer %}
        {% if viewer.selected %}
            <pre id="content" class="wrapped">{{ content }}</pre>
        {% endif %}
        {% if selected and not selected['directory'] %}
            {% include "files/file.html" %}
        {% endif %}
    {% endif %}
    {% if diff %}
        {% if left and right %}
                <div class="diff-bar js-hidden"></div>
                <pre id="diff" class="wrapped js-hidden"></pre>
                <pre class="left js-hidden">{{ left }}</pre>
                <pre class="right js-hidden">{{ right }}</pre>
        {% endif %}
        {% if selected and not selected['directory'] %}
            {% if diff.left %}
                {% with selected = diff.left.selected %}
                    {% include "files/file.html" %}
                {% endwith %}
            {% endif %}
            {% if diff.right %}
                {% with selected = diff.right.selected %}
                    {% include "files/file.html" %}
                {% endwith %}
            {% endif %}
        {% endif %}
    {% endif %}
    </div>
</div>
