<div id="content-wrapper">
    <div>
        <div id="diff-wrapper">
            <div class="diff-bar js-hidden"></div>
            {# We need to put file content in attribues, rather than as
               text children of the pre nodes, to prevent the DOM parser from
               stripping leading and trailing whitespace, which is important
               for matching line numbers. #}
            {% if viewer %}
                {% if viewer.selected and not viewer.selected['binary'] %}
                    <div id="content" data-brush="{{ viewer.selected['syntax'] }}" data-content="{{ content }}"></div>
                {% endif %}
            {% elif diff %}
                {% if left or right %}
                    <div id="diff" data-brush="{{ diff.left.selected['syntax'] }}"
                         data-left="{{ left }}" data-right="{{ right }}"></div>
                {% endif %}
            {% endif %}
        </div>
        {% if viewer %}
            {% if viewer.selected %}
                {% with selected = viewer.selected %}
                    {% include "files/file.html" %}
                {% endwith %}
            {% endif %}
        {% elif diff %}
            {% if diff.left and diff.left.selected %}
                {% with selected = diff.left.selected %}
                    {% include "files/file.html" %}
                {% endwith %}
            {% endif %}
            {% if diff.right and diff.right.selected %}
                {% with selected = diff.right.selected %}
                    {% include "files/file.html" %}
                {% endwith %}
            {% endif %}
        {% endif %}
    </div>
</div>
