{% extends "files/base.html" %}
{% block title -%}
    {% if diff %}
        {{ _('File Compare :: Editor tools') }}
    {% else %}
        {{ _('File Viewer :: Editor tools') }}
    {% endif %}
{% endblock %}

{% block content %}
<div id="metadata" class="js-hidden"
     data-name="{{ addon.name }}"
     data-slug="{{ addon.slug }}"
     data-version="{{ version }}"></div>

<h3>
    <a href="{{ file_link['url'] }}">{{ addon.name }} {{ version }}</a>
    {% if file.platform.id != amo.PLATFORM_ALL.id %}({{ file.platform }}){% endif %}
</h3>
<ol id="top" class="breadcrumbs">
    <li><a href="{{ file_link['url'] }}">{{ addon.name }}</a></li>
    <li><a href="{{ url('addons.versions', addon.slug) }}">{{ version }}</a></li>
</ol>
<div id="file-viewer" class="featured">
    <div class="featured-inner">
        {% if not status %}
            <p class="waiting" id="extracting" data-url="{{ poll_url }}">
                {{ _('Add-on file being processed, please wait.') }}
            </p>
            <div class="notification-box error js-hidden"></div>
        {% endif %}
        <div id="files">
            {% if files %}
                <h4>{{ _('Files:') }}</h4>
                {{ file_tree(files, key) }}
                {% if diff and files_deleted %}
                    <h4>{{ _('Deleted files:') }}</h4>
                    {{ file_tree(files_deleted, key) }}
                {% endif %}
                <p id="controls">
                    <div id="tab-stops-container">
                        <label class="control" for="tab-stops">{{ _('Tab stops:') }}</label>
                        <input id="tab-stops" type="range" size="1" />
                    </div>
                </p>
                <table id="commands">
                    <tr><th><code>k</code></th> <td><a href="#" id="files-up">{{ _('Up file') }}</a></td></tr>
                    <tr><th><code>j</code></th> <td><a href="#" id="files-down">{{ _('Down file') }}</a></td></tr>
		{% if diff %}
                    <tr><th><code>[c</code></th> <td><a href="#" id="files-change-prev">{{ _('Previous change') }}</a></td></tr>
                    <tr><th><code>]c</code></th> <td><a href="#" id="files-change-next">{{ _('Next change') }}</a></td></tr>
		{% endif %}
                    <tr><th><code>e</code></th> <td><a href="#" id="files-expand-all">{{ _('Expand all') }}</a></td></tr>
                    <tr><th><code>h</code></th> <td><a href="#" id="files-hide">{{ _('Hide or unhide tree') }}</a></td></tr>
                    <tr><th><code>w</code></th> <td><a href="#" id="files-wrap">{{ _('Wrap or unwrap text') }}</a></td></tr>
                    <tr><th></th> <td><a href="{{ file_link['url'] }}">{{ file_link['text'] }}</a></td></tr>
                </table>
            {% elif not files and status %}
                <div>{{ _('No files in the uploaded file.') }}</div>
            {% endif %}
        </div>
        <div id="thinking" class="js-hidden">
            <p class="waiting">
                {{ _('Fetching file.') }}
            </p>
        </div>
        {% include "files/content.html" %}
    </div>
</div>

{% endblock %}
