{% extends "files/base.html" %}

{% block bodyclass %}inverse{% endblock %}

{% block content %}
<h3>
    <a href="{{ file_link['url'] }}">{{ addon.name }} {{ version }}</a>
    {% if file.platform.id != amo.PLATFORM_ALL.id %}({{ file.platform }}){% endif %}
</h3>
<ol class="breadcrumbs">
    <li>{{ addon.name }}</li>
    <li>{{ version }}</li>
    <li id="breadcrumb">{{ selected['filename'] }}</li>
</ol>
<div id="file-viewer" class="featured">
    <div class="featured-inner">
        {% if not status %}
            <p class="waiting" id="extracting" data-url="{{ poll_url }}">
                {{ _('Add-on file being processed, please wait.') }}
            </p>
            <div class="notification-box error js-hidden"></div>
        {% endif %}
        <div id="files">
            {% if files %}
                {{ file_tree(files, selected) }}
            {% endif %}
            {% if files %}
            <div id="commands">
                <div><code>j</code> <a href="#" id="files-prev">{{ _('Previous file') }}</a></div>
                <div><code>k</code> <a href="#" id="files-next">{{ _('Next file') }}</a></div>
                <div><code>e</code> <a href="#" id="files-expand-all">{{ _('Expand all') }}</a></div>
                <div><code>h</code> <a href="#" id="files-hide">{{ _('Hide or unhide tree') }}</a></div>
                <div><code>w</code> <a href="#" id="files-wrap">{{ _('Wrap or unwrap text') }}</a></div>
                <div><a class="no-key" href="{{ file_link['url'] }}">{{ file_link['text'] }}</a></div>
            </div>
            {% elif not files and status %}
                <div>{{ _('No files in the uploaded file.') }}</div>
            {% endif %}
        </div>
        <div id="thinking" class="js-hidden">
            <p class="waiting">
                {{ _('Fetching file.') }}
            </p>
        </div>
        <div id="content-wrapper">
            {% if msg %}
                <p class="notification-box warning">{{ msg }}</p>
            {% endif %}
            <div>
            {% if viewer %}
                {% if selected and not selected['binary'] and not selected['directory'] and content %}
                    <pre id="content" class="wrapped">{{ content }}</pre>
                {% endif %}
                {% if selected and not selected['directory'] %}
                    {% include "files/file.html" %}
                {% endif %}
            {% endif %}
            {% if diff %}
                {% if diff.is_diffable() %}
                    <p class="notification-box info">
                    {% if diff.is_different() %}
                        {{ _('Files are different.') }}<br/>
                      {% else %}
                        {{ _('Files are the same.') }}<br/>
                    {% endif %}
                    </p>
                {% endif %}
                {% if text_one and text_two %}
                        <pre id="diff" class="wrapped js-hidden"></pre>
                        <pre class="left js-hidden">{{ text_one }}</pre>
                        <pre class="right js-hidden">{{ text_two }}</pre>
                {% endif %}
                {% if selected and not selected['directory']%}
                    {% if diff.one %}
                        {% with selected = diff.one, file = diff.file_one.file %}
                            {% include "files/file.html" %}
                        {% endwith %}
                    {% endif %}
                    {% if diff.two %}
                        {% with selected = diff.two, file = diff.file_two.file %}
                            {% include "files/file.html" %}
                        {% endwith %}
                    {% endif %}
                {% endif %}
            {% endif %}
            </div>
        </div>
    </div>
</div>

{% endblock %}
