{% extends "devhub/base.html" %}

{% block title %}
{{ dev_page_title(_('Recent Activity for My Add-ons')) }}
{% endblock %}

{% block rss_feed %}
{# TODO: Add ``<link>`` to 'Recent Activity' RSS feed. #}
{% endblock %}

{% block content %}
<header>
  {{ dev_breadcrumbs(items=[(None, _('Recent Activity'))]) }}
  <h2>{{ _('Recent Activity for My Add-ons') }}</h2>
</header>

<section class="primary" role="main">
  <div class="listing results">
    <div class="results-inner">

{# TODO(cvan): Add item for each activity update. #}
      <div class="item">
        <p><a href="#">Version 1.3</a> of <a href="#">Test Pilot</a> added.</p>
        <p>30 min ago by <a href="#">Mozilla Labs</a></p>
      </div>

    </div>
  </div>
</section>

<section class="secondary" role="complementary">
  <div id="refine-results" class="highlight">

    <h3>{{ _('Refine Activity') }}</h3>

    <div id="refine-addon">
      <h5>{{ _('Add-on') }}</h5>

      <ul class="refinements">
{# TODO(cvan): Add list items for each refinement item. #}
        <li class="selected">
          <a href="#">{{ _('All My Add-ons') }}</a>
        </li>
        <li><a href="#">{{ _('Firefox Sync') }}</a></li>
        <li><a href="#">{{ _('Personas Plus') }}</a></li>
        <li><a href="#">{{ _('Test Pilot') }}</a></li>

        {# for item in addons #}
        {# include 'devhub/includes/refinement.html' #}
        {# endfor #}
      </ul>
    </div>

    <div id="refine-activity">
      <h5>{{ _('Activity') }}</h5>

      <ul class="refinements">
{# TODO(cvan): Add list items for each refinement item. #}
        <li class="selected">
          <a href="#">{{ _('All Activity') }}</a>
        </li>
        <li><a href="#">{{ _('Add-on Updates') }}</a></li>
        <li><a href="#">{{ _('Add-on Status') }}</a></li>
        <li><a href="#">{{ _('User Collections') }}</a></li>
        <li><a href="#">{{ _('User Reviews') }}</a></li>

        {# for item in activities #}
        {# include 'devhub/includes/refinement.html' #}
        {# endfor #}
      </ul>
    </div>

  </div> {# refine-results #}
  <p class="secondary-feed">
{# TODO(cvan): Add URL for feed. #}
    <a href="#" class="subscribe">{{ _('Subscribe to this feed') }}</a>
  </p>
</section>
{% endblock %}
