{% extends "devhub/base.html" %}

{% block title %}
{{ dev_page_title(_('Recent Activity for My Add-ons')) }}
{% endblock %}

{% block rss_feed %}
{# TODO(davedash): Add ``<link>`` to 'Recent Activity' RSS feed. #}
{% endblock %}

{% block content %}
<header>
  {{ dev_breadcrumbs(items=[(None, _('Recent Activity'))]) }}
  <h2>{{ _('Recent Activity for My Add-ons') }}</h2>
</header>

<section class="primary" role="main">
  <div class="listing results">
    <div class="results-inner">
      {% if pager.object_list %}
        {% for item in pager.object_list %}
        <div class="item">
          <p>{{ item|safe }}</p>
          <p>
          {% trans user=item.user|user_link, ago=item.created|timesince %}
          {{ ago }} by {{ user }}
          {% endtrans %}
          </p>

        </div>
        {% endfor %}
      {% else %}
        <p class="no-results">{{ _('No results found.') }}</p>
      {% endif %}
    </div>
    {% if pager.has_other_pages() %}
      <div class="listing-footer">{{ pager|paginator }}</div>
    {% endif %}
  </div>
</section>

<section class="secondary" role="complementary">
  <div id="refine-results" class="highlight">

    <h3>{{ _('Refine Activity') }}</h3>

    <div id="refine-addon">
      <h5>{{ _('Add-on') }}</h5>

      <ul class="refinements">
        {% for item in addons %}
        {% include 'includes/refinement.html' %}
        {% endfor %}
      </ul>
    </div>

    <div id="refine-activity">
      <h5>{{ _('Activity') }}</h5>

      <ul class="refinements">
        {% for item in activities %}
        {% include 'includes/refinement.html' %}
        {% endfor %}
      </ul>
    </div>

  </div> {# refine-results #}
  <p class="secondary-feed">
{# TODO(cvan): Add URL for feed. #}
    <a href="#" class="subscribe">{{ _('Subscribe to this feed') }}</a>
  </p>
</section>
{% endblock %}
