{% extends "devhub/base.html" %}

{% set title = _('Edit Add-on Listing') %}

{% block title %}
{{ dev_page_title(title, addon) }}
{% endblock %}

{% macro empty_unless(truthy) %}
    {% if truthy %}
        {{ caller() }}
    {% else %}
        <span class="empty">{{ _('None') }}</span>
    {% endif %}
{% endmacro %}

{% macro tip(name, tip) %}
  <span class="label">{{ name }}</span>
  <span class="help tooltip" title="{{ tip }}">?</span>
{% endmacro %}


{% block content %}
<header>
  {{ dev_breadcrumbs(addon) }}
  <h2>{{ title }}</h2>
</header>

<section class="primary" role="main">
<div id="edit-addon">

  <div class="edit-addon-section" id="edit-addon-basic">
    {% include 'devhub/includes/addon_edit_basic.html' %}
  </div>

  <div class="edit-addon-section" id="edit-addon-details">
    {% include 'devhub/includes/addon_edit_details.html' %}
  </div>

  <div class="edit-addon-section" id="edit-addon-support">
    {% include 'devhub/includes/addon_edit_support.html' %}
  </div>

  <div class="edit-addon-section" id="edit-addon-technical">
    {% include 'devhub/includes/addon_edit_technical.html' %}
  </div>

</div>
</section>

{% include 'devhub/includes/addons_edit_nav.html' %}

{% endblock %}
