{% extends "devhub/base.html" %}

{% set title = _('Manage Authors & License') %}
{% block title %}
{{ dev_page_title(title, addon) }}
{% endblock %}

{% block content %}
<header>
  {{ dev_breadcrumbs(addon) }}
  <h2>{{ title }}</h2>
</header>
<section id="edit-addon" class="primary" role="main">
<form method="post" class="item" action="">
  {{ csrf() }}
  <div class="item_wrapper">
    <table>
      {{ user_form.management_form|safe }}
      <tr>
        <th>{{ _('Authors') }}</th>
        <td>
          {{ user_form.non_form_errors()|safe }}
          <ul id="author_list">
          {% for form in user_form.forms %}
          <li class="author initial">
            <span class="handle">&nbsp;</span>
            {{ form.user.errors|safe }}
            {{ form.user|safe }}
            {{ form.role|safe }}
            {{ form.listed|safe }}{{ form.listed.label_tag()|safe }}
            {{ form.id|safe }}
            <span class="js-hidden delete">{{ form.DELETE|safe }}{{ form.DELETE.label_tag()|safe }}</span>
            <span class="js-hidden position">{{ form.position|safe }}</span>
            <a href="#" class="remove">x</a>
          </li>
          {% endfor %}
        </td>
      </tr>
      {% if version %}
        <tr>
          <th>{{ _('License') }}</th>
          <td>
            {{ license_form.builtin|safe }}
            <div class="license-other {{ 'js-hidden' if not (license_form.initial.builtin == license_other_val or license_form.errors) }}"
              data-val="{{ license_other_val }}">
              {{ license_form.non_field_errors()|safe }}
              {{ license_form.name.errors|safe }}
              {{ license_form.name.label_tag()|safe }}
              {{ license_form.name|safe }}
              {{ license_form.text.errors|safe }}
              {{ license_form.text.label_tag()|safe }}
              {{ license_form.text|safe }}
            </div>
          </td>
        </tr>
      {% endif %}
      <tr>
        <th>{{ _('EULA') }}</th>
        <td>
          {{ policy_form.has_eula|safe }}
          {{ policy_form.has_eula.label_tag()|safe }}
          <div class="eula {{ 'hidden' if not policy_form.initial.has_eula }}">
            {{ policy_form.eula.errors|safe }}
            {{ policy_form.eula.label_tag()|safe }}
            {{ policy_form.eula|safe }}
          </div>
        </td>
      </tr>
      <tr>
        <th>{{ _('Privacy Policy') }}</th>
        <td>
          {{ policy_form.has_priv|safe }}
          {{ policy_form.has_priv.label_tag()|safe }}
          <div class="priv {{ 'hidden' if not policy_form.initial.has_priv }}">
            {{ policy_form.privacy_policy.errors|safe }}
            {{ policy_form.privacy_policy.label_tag()|safe }}
            {{ policy_form.privacy_policy|safe }}
          </div>
        </td>
      </tr>
    </table>
  </div>
  <div class="listing-footer"><button type="submit">{{ _('Save Changes') }}</button></div>
</form>
{% with form=user_form.empty_form %}
<div id="user-form-template" class="hidden">
  <li class="blank">
    <span class="handle">&nbsp;</span>
    {{ form.user|safe }}
    {{ form.role|safe }}
    {{ form.listed|safe }}{{ form.listed.label_tag()|safe }}
    <span class="js-hidden">{{ form.DELETE|safe }}{{ form.DELETE.label_tag()|safe }}</span>
    <span class="js-hidden position">{{ form.position|safe }}</span>
    <a href="#" class="remove">x</a>
  </li>
</div>
{% endwith %}
</section>
{% include "devhub/includes/addons_edit_nav.html" %}
{% endblock %}
