{% extends "devhub/base.html" %}

{% set title = _('Manage Authors & License') %}
{% block title %}
{{ dev_page_title(title, addon) }}
{% endblock %}

{% block content %}
<header>
  {{ dev_breadcrumbs(addon) }}
  <h2>{{ title }}</h2>
</header>
<section class="primary" role="main">
<form method="post" action="">
  {{ csrf() }}
  <table>{{ user_form|safe }}</table>
  {% if version %}
    <table>{{ license_form|safe }}</table>
  {% endif %}
  <table>{{ policy_form|safe }}</table>
  <button type="submit">GO GO GO</button>
</form>
</section>
{% include "devhub/includes/addons_edit_nav.html" %}
{% endblock %}
