{% extends "devhub/base.html" %}

{% set title = _('Manage Payments') %}
{% block title %}{{ dev_page_title(title, addon) }}{% endblock %}

{% block content %}
<header>
  {{ dev_breadcrumbs(addon) }}
  <h2>{{ title }}</h2>
</header>
<section class="primary" role="main">
  <div id="intro">
    <h3>{{ _('Contributions') }}</h3>
    <p>{{ _('Voluntary contributions provide a way for users to support your add-on financially. With contributions, you can:') }}</p>
    <ul>
      <li>{{ _('Ask for donations in most places your add-on appears') }}</li>
      <li>{{ _('Allow users to make payments with a credit card or PayPal account') }}</li>
      <li>{{ _('Receive contributions in your PayPal account or send them to a charity') }}</li>
    </ul>
    <a href="#setup" class="button">{{ _('Set Up Contributions') }}</a>
  </div>

  <div id="setup">
    <h3>{{ _('Set up Contributions') }}</h3>
    <p>{{ _('Fill in the fields below to begin asking for voluntary contributions from users.') }}</p>
    <form method="post" action="">
      {{ csrf() }}
      <table>{{ contrib_form|safe }}</table>
      <table>{{ charity_form|safe }}</table>
      <button type="submit">GO GO GO</button>
    </form>
  </div>
</section>
{% include "devhub/includes/addons_edit_nav.html" %}
{% endblock %}
