{% set in_devhub = request.path.startswith(('/developers/', '/reviewers/')) %}
{% if logged %}
  <ul>
    <li>
      <a href="/settings">
        <em>{{ request.amo_user.email }}</em>
        {{ _('Edit Account Settings') }}</a>
    </li>
    {% if amo_user.is_app_developer %}
      <li><a href="{{ url('mkt.developers.apps') }}">{{ _('My Submissions') }}</a></li>
    {% endif %}
    {% if in_devhub %}
      <li><a href="{{ url('home') }}">{{ _('Return to the Marketplace') }}</a></li>
    {% endif %}
    <li><a href="{{ url('users.logout') }}" class="sync logout">{{ _('Sign Out') }}</a></li>
  </ul>
{% endif %}
