{% if request.is_ajax() and not SKIP_FRAGMENT %}
  {% extends 'mkt/fragment.html' %}
{% endif %}
{% set logged = request.user.is_authenticated() %}
<!DOCTYPE html>
<html lang="{{ LANG }}" dir="{{ DIR }}"
  {% if settings.USE_APPCACHE and OFFLINE_MANIFEST %}
    {{ appcache_manifest_link()|safe }}
  {% endif %}>
  <head>
    <meta charset="utf-8">
    {% if not settings.ENGAGE_ROBOTS %}
      <meta name="robots" content="noindex">
    {% endif %}
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    {% block extrameta %}{% endblock %}
    <title>{% block title %}{{ _('Mozilla Marketplace') }}{% endblock %}</title>

    <link rel="shortcut icon" type="image/x-icon"
          href="{{ MEDIA_URL }}img/mkt/logos/128.png" sizes="128x128">
    <link rel="shortcut icon" type="image/x-icon"
          href="{{ MEDIA_URL }}img/mkt/logos/64.png" sizes="64x64">
    <link rel="shortcut icon" type="image/x-icon"
          href="{{ MEDIA_URL }}img/mkt/logos/32.png" sizes="32x32">

    {% block site_css %}
      {{ css('mkt/consumer') }}
    {% endblock %}

    {% block extrahead %}{% endblock %}

    {% block debug %}
      {% include "mobile/head_debug.html" %}
    {% endblock %}
    {% if logged %}
      <meta name="csrf" content="{{ csrf_token }}">
    {% endif %}
  </head>
  <body class="html-{{ DIR }} {% block bodyclass %}{% endblock %}"
        {% if waffle.switch('anonymous-free-installs') %}data-allow-anon-installs="true"{% endif %}
        data-user="{{ user_data(amo_user)|json }}"
        data-readonly="{{ settings.READ_ONLY|json }}"
        data-media-url="{{ MEDIA_URL }}"
        data-login-url="{{ url('users.browserid_login') }}"
        data-collect-timings="{{ url('mkt.timing.record') }}:{{ collect_timings_percent }}"
        {% if not logged %}data-recaptcha="{{ settings.RECAPTCHA_PUBLIC_KEY }}"{% endif %}
        {% block bodyattrs %}{% endblock %}>

    {% block siteheader %}
      {% include 'mkt/header.html' %}
    {% endblock %}

    <div id="page" class="c" role="main">
      {# `outer_content` is for stuff you want above `content` on every page. #}
      {% block outer_content %}
        {% include 'site/messages/display.html' %}
      {% endblock %}
      {% block content %}
      {% endblock %}
    </div>

    {% block sitefooter %}
      <footer id="site-footer" class="c">
        <div class="account{{ ' authenticated' if logged }}">
          {% if logged %}
            {% trans profile_url=request.user.get_profile().get_url_path(),
                     user=request.amo_user.email %}
              Signed in as <a href="{{ profile_url }}">{{ user }}</a>
            {% endtrans %}
            <a href="{{ url('users.logout') }}" class="logout">
              ({{ _('Log Out') }})</a>
          {% else %}
            <a class="button browserid" href="#">{{ _('Log in / Register') }}</a>
          {% endif %}
        </div>
        <nav class="footer-links c" role="navigation">
          {% if logged %}
            {% for link in tools_links %}
              <a href="{{ link.href }}" rel="external">{{ link.text }}</a>
            {% endfor %}
            {% if request.can_view_consumer %}
              <a href="{{ url('account.purchases') }}">{{ _('Account History') }}</a>
              <a href="{{ url('account.settings') }}">{{ _('Account Settings') }}</a>
            {% endif %}
          {% endif %}
          <a href="{{ url('site.privacy') }}">{{ _('Privacy Policy') }}</a>
        <a href="{{ url('site.terms') }}">{{ _('Terms of Use') }}</a>
        </nav>
        {% include 'site/includes/languages.html' %}
      </footer>
    {% endblock %}

    {% include 'purchase/start.html' %}
    {% include 'purchase/message.html' %}

    <script type="text/template" id="noApps">
      <div class="noApps">You need to be using<br>
      <a href="http://nightly.mozilla.org/" target="_blank">
      Firefox Nightly</a><br>to install this app.</div>
    </script>

    {% if not logged %}
      <div id="login" class="overlay">
        <section>
          <div class="new">
            <h2>{{ _('Please sign in') }}</h2>
            <p>
              {# TODO(copy): Localize when BrowserID is called Persona. #}
              {% with personaid_url='https://browserid.org/' %}
                Just log in or register with your
                <a href="{{ personaid_url }}">BrowserID</a> account below.
              {% endwith %}
            </p>
            <footer>
              <a class="button browserid" href="#">{{ _('Log in / Register') }}</a>
            </footer>
          </div>
          <div class="old">
            <h2>Additional authorization required</h2>
            <form method="post" action="{{ url('users.login') }}"
                  class="form-grid">
              <div class="simple-field row c">
                <div class="form-label">
                  <label for="id_username">Email address</label>
                </div>
                <div class="form-col">
                  <input id="id_username" name="username" maxlength="50" type="email">
                </div>
              </div>
              <div class="simple-field row c password">
                <div class="form-label">
                  <label for="id_password">Password</label>
                </div>
                <div class="form-col">
                  <input name="password" id="id_password" type="password">
                </div>
              </div>
              <input type="hidden" name="rememberme" value="1">
              <footer class="listing-footer">
                <button id="login-submit" type="submit">Log in</button>
              </footer>
            </form>
          </div>
        </section>
      </div>
    {% endif %}

    <svg height="0">
      <mask id="tabMaskStart" maskUnits="objectBoundingBox" maskContentUnits="objectBoundingBox">
        <rect width="1" height="1" x="0" y="0.5" fill="white" />
        <circle cx="1" cy="0.5" r="0.5" fill="white" />
        <circle cx="-.1" cy="0.4" r="0.6" />
      </mask>
      <mask id="tabMaskEnd" maskUnits="objectBoundingBox" maskContentUnits="objectBoundingBox">
        <rect width="1" height="1" x="0" y="0.5" fill="white" />
        <circle cx="0" cy="0.5" r="0.5" fill="white" />
        <circle cx="1.1" cy="0.4" r="0.6" />
      </mask>
    </svg>

    <style>
      .tabnav span:before {
        mask: url(#tabMaskStart);
        -webkit-mask-box-image: url(#tabMaskEnd);
      }
      .tabnav span:after {
        mask: url(#tabMaskEnd);
        -webkit-mask-box-image: url(#tabMaskEnd);
      }
    </style>

    {% block dbgoverlay %}{% endblock %}

    {# js #}
    {% block site_js %}
      <script src="{{ static(url('jsi18n')) }}"></script>
      {# When bug 755694 is solved, expose the shim again. #}
      {# <script src="https://myapps.mozillalabs.com/jsapi/include.js"></script> #}
      {% if not logged %}
        {# We need Persona for only non-authenticated users. #}
        <script async defer src="https://browserid.org/include.js"></script>
        <script type="text/javascript" src="{{ settings.RECAPTCHA_AJAX_URL }}"></script>
      {% endif %}
      {{ js('mkt/consumer') }}
    {% endblock %}

    {% block paypal_js %}
      {% if logged %}
        {# We need PayPal for only authenticated users. #}
        <script async defer src="{{ settings.PAYPAL_JS_URL }}"></script>
      {% endif %}
    {% endblock %}

    {% block js %}{% endblock %}
  </body>
</html>
