{% extends 'mkt/base_mobile.html' %}

{% block splash %}
{% endblock %}

{% set bodyclass = (bodyclass or '') + ' desktop' %}

{% block site_css %}
  {{ css('mkt/consumer-desktop') }}
{% endblock %}

{% block consumer_js %}
  {{ js('mkt/consumer-desktop') }}
{% endblock %}

{% block overlays %}
  {# TODO: Load this as an XHR in the overlay so we can get an anonymous CSRF. #}
  {% if logged %}
    <div id="feedback-overlay" class="overlay">
      <section class="bare">
        <header>
          <h1>{{ _('Feedback') }}</h1>
          <a href="#" class="header-button icon right dismiss">{{ _('Cancel') }}</a>
        </header>
        {{ feedback_form() }}
      </section>
    </div>
  {% endif %}
{% endblock %}

{% block sitefooter %}
  <footer id="directory-footer" class="c">
    <div class="pad">
      <div class="group">
        <a class="devhub" href="{{ url('ecosystem.landing') }}">
          <h1>
            {% trans %}
              Develop apps for<br>
              the Marketplace!
            {% endtrans %}
          </h1>
          <b>{{ _('Visit the Developer Hub') }}</b>
        </a>
      </div>
      {% if logged and footer_links %}
        <div class="group">
          {% for link in footer_links -%}
            <a href="{{ link.href }}" class="sync">{{ link.text }}</a>
          {%- endfor %}
          <a href="{{ url('account.settings') }}"
             class="region region-{{ request.REGION.slug }}">
            {{ LANGUAGES[request.LANG|lower] }}</a>
        </div>
      {% endif %}
      <div class="group">
        <a href="{{ url('ecosystem.landing') }}">{{ _('Developer Hub') }}</a>
        <a href="{{ url('site.feedback') }}" class="{{ 'submit-feedback' if logged else 'feedback' }}">{{ _('Feedback') }}</a>
        <a href="https://support.mozilla.org/products/marketplace">{{ _('Support') }}</a>
      </div>
      {% if not logged or not footer_links %}
        <div class="group">
          <a href="{{ url('account.settings') }}"
             class="region region-{{ request.REGION.slug }}">
            {{ LANGUAGES[request.LANG|lower] }}</a>
        </div>
      {% endif %}
    </div>
  </footer>
  {% include 'mkt/footer.html' %}
{% endblock %}
