{% set FORCE_MOBILE = 'force-mobile ' if waffle.switch('force-mobile-layout') %}
{% set logged = request.user.is_authenticated() %}
{% set titletag = mkt_page_title(pagetitle) if pagetitle else _('Firefox Marketplace') %}
{% set pagetitle = pagetitle or '' %}
{% set headertitle = headertitle or pagetitle %}
{% set cache_fragment = cache_fragment or 'cache' %}

{% if (request.is_ajax() or FORCE_FRAGMENT) and not SKIP_FRAGMENT %}
  {% extends 'mkt/fragment.html' %}
{% endif %}

<!DOCTYPE html>
<html lang="{{ LANG }}" dir="{{ DIR }}">
  <head>
    <meta charset="utf-8">
    {% if not settings.ENGAGE_ROBOTS %}
      <meta name="robots" content="noindex">
    {% endif %}
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    {% if request.user.is_authenticated() %}
      <meta name="DCS.dcsaut" content="yes">
    {% endif %}
    {% block extrameta %}{% endblock %}
    <title>{{ titletag }}</title>

    <link rel="shortcut icon" href="{{ MEDIA_URL }}img/mkt/aurora_fav.ico">

    <link rel="apple-touch-icon"
          href="{{ MEDIA_URL }}img/mkt/icons/mkt_icon_57.png">
    <link rel="apple-touch-icon" sizes="72x72"
          href="{{ MEDIA_URL }}img/mkt/icons/mkt_icon_72.png">
    <link rel="apple-touch-icon" sizes="114x114"
          href="{{ MEDIA_URL }}img/mkt/icons/mkt_icon_114.png">
    <link rel="apple-touch-icon" sizes="144x144"
          href="{{ MEDIA_URL }}img/mkt/icons/mkt_icon_144.png">

    {% block site_css %}
      {{ css('mkt/consumer') }}
    {% endblock %}

    {% block extrahead %}{% endblock %}

    {% block debug %}
      {% include "mobile/head_debug.html" %}
    {% endblock %}
    {% if logged %}
      <meta name="csrf" content="{{ csrf_token }}">
    {% endif %}
  </head>
  <body class="html-{{ DIR }} {{ CARRIER }} {{ FORCE_MOBILE }} {{ bodyclass }}"
        {% if waffle.switch('anonymous-free-installs') %}data-allow-anon-installs="true"{% endif %}
        data-allow-installs="{{ allow_installs()|json }}"
        data-user="{{ user_data(request.amo_user)|json }}"
        data-readonly="{{ settings.READ_ONLY|json }}"
        data-media-url="{{ MEDIA_URL }}"
        data-login-url="{{ url('users.browserid_login') }}"
        data-collect-timings="{{ url('mkt.timing.record') }}:{{ collect_timings_percent }}"
        data-simulate-nav-pay="{{ settings.SIMULATE_NAV_PAY|json }}"
        data-page-type="{{ pagetype or 'leaf' }}"
        data-enable-search-suggestions="{{ waffle.switch('enable-search-suggestions-gaia')|json }}"
        {% if not logged %}data-recaptcha="{{ settings.RECAPTCHA_PUBLIC_KEY }}"{% endif %}
        {% block bodyattrs %}{% endblock %}>

    {% block siteheader %}
      {% with headertitle = headertitle,
              titletag = titletag,
              pagetitle = pagetitle %}
        {% include 'mkt/header.html' %}
      {% endwith %}
    {% endblock %}

    {% if not allow_installs() and not request.GAIA %}
      <div class="incompatible-browser incompatible-mobile">
        <div>
          <a href="{{ 'https://market.android.com/details?id=org.mozilla.firefox_beta' if request.MOBILE else 'https://www.mozilla.org/en-US/mobile/beta/' }}" class="download" target="_blank">
            <span class="helper"></span>
            <span>
              {% if request.MOBILE %}
                {% trans %}
                  You must use Firefox Beta to install Firefox apps. <b>Download</b>
                {% endtrans %}
              {% else %}
                {% trans %}
                  You must use Firefox Beta on your Android phone to install Firefox apps. <b>Learn more</b>
                {% endtrans %}
              {% endif %}
            </span>
          </a>
          <a href="#" class="close" title="{{ _('Close') }}">{{ _('Close') }}</a>
        </div>
      </div>
    {% endif %}

    <div id="container">
      <div id="page" role="main"
           data-context="{{
             {'type': pagetype or 'leaf',
              'cache': cache_fragment,
              'hash': get_media_hash(),
              'title': titletag,
              'headertitle': headertitle,
              'bodyclass': bodyclass or '',
              'parent': page_parent or '',
              'category': category.name ~ '' if category else ''}|json }}">
        {# `outer_content` is for stuff you want above `content` on every page. #}
        {% block outer_content %}
          {% include 'site/messages/display.html' %}
        {% endblock %}
        {% block content %}
        {% endblock %}
      </div>
    </div>

    {% block sitefooter %}
      <footer id="site-footer" class="{{ 'authenticated' if logged else 'anonymous' }} c{{ ' reviewer' if is_reviewer }}">
        <div class="account {{ 'authenticated' if logged else 'anonymous' }}">
          {% if logged %}
            {% trans user=request.amo_user.email %}
              Signed in as <b>{{ user }}</b>
            {% endtrans %}
            <a href="{{ url('users.logout') }}" class="sync logout">
              ({{ _('Log Out') }})</a>
          {% else %}
            <a class="button browserid" href="#">{{ _('Log in / Register') }}</a>
          {% endif %}
        </div>
        <nav class="footer-links c" role="navigation">
          <p>
            {% if logged %}
              {% for link in tools_links -%}
                <a href="{{ link.href }}" class="sync" rel="external"
                   {{- ' target="%s"' % link.target if (request.MOBILE and link.target) }}>{{ link.text }}</a>
              {%- endfor %}
              {% if request.can_view_consumer %}
                {# TODO: Coming soon with payments. #}
                {#<a href="{{ url('account.purchases') }}">{{ _('Account History') }}</a>#}
                <a href="{{ url('account.settings') }}">{{ _('Account Settings') }}</a>
              {% endif %}
            {% else %}
              <a href="{{ url('ecosystem.landing') }}" target="_blank">
                {{ _('Developer Hub') }}
              </a>
            {% endif %}
          </p>
          <p>
            <a href="{{ url('site.privacy') }}">{{ _('Privacy Policy') }}</a>
            <a href="{{ url('site.terms') }}">{{ _('Terms of Use') }}</a>
          </p>
        </nav>
      </footer>
    {% endblock %}

    {% include 'purchase/start.html' %}
    {% include 'purchase/message.html' %}
    {% include 'ratings/edit.html' %}
    {% include 'ratings/reply.html' %}
    {% include 'ratings/edit_reply.html' %}

    <script type="text/template" id="noApps">
      <div class="noApps">You need to be using<br>
      <a href="http://nightly.mozilla.org/" target="_blank">
      Firefox Nightly</a><br>to install this app.</div>
    </script>

    {% if not logged %}
      <div id="login" class="overlay">
        <section>
          <div class="new">
            <h2>{{ _('Please sign in') }}</h2>
            <p>
              {% trans url='https://login.persona.org/' %}
                Just log in or register with your
                <a href="{{ url }}">Persona</a> account below.
              {% endtrans %}
            </p>
            <footer>
              <a class="button browserid" href="#">{{ _('Log in / Register') }}</a>
            </footer>
          </div>
          <div class="old">
            <h2>Additional authorization required</h2>
            <form method="post" action="{{ get_login_link() }}"
                  class="form-grid">
              <div class="simple-field row c">
                <div class="form-label">
                  <label for="id_username">Email address</label>
                </div>
                <div class="form-col">
                  <input id="id_username" name="username" maxlength="50" type="email">
                </div>
              </div>
              <div class="simple-field row c password">
                <div class="form-label">
                  <label for="id_password">Password</label>
                </div>
                <div class="form-col">
                  <input name="password" id="id_password" type="password">
                </div>
              </div>
              <input type="hidden" name="rememberme" value="1">
              <footer class="listing-footer">
                <button id="login-submit" type="submit">Log in</button>
              </footer>
            </form>
          </div>
        </section>
      </div>
    {% endif %}

    <!-- screenshot tray template-->
    <script type="text/template" id="single-preview">
      <li>
        <a class="screenshot thumbnail {typeclass}"
           href="{fullUrl}" title="{caption}">
          <img alt="{caption}" src="{thumbUrl}">
        </a>
      </li>
    </script>

    <!-- screenshot tray template-->
    <script type="text/template" id="preview-tray">
      <div class="slider">
        <ul class="content">{previews}</ul>
      </div>
      <div class="dots">{dots}</div>
    </script>

    <!-- screenshot lightbox -->
    <div id="lightbox">
      <section>
        <ul class="content">
        </ul>
        <a class="close" href="#">{{ _('Close') }}</a>
      </section>
    </div>

    {% block offline_pixel %}
      <iframe id="offline-pixel" src="{{ url('offline.stub') }}"></iframe>
    {% endblock %}

    {% block dbgoverlay %}{% endblock %}

    {# js #}
    {% block site_js %}
      <script src="{{ static(url('jsi18n'))|urlparams(lang=LANG) }}"></script>
      {# When bug 755694 is solved, expose the shim again. #}
      {# <script src="https://myapps.mozillalabs.com/jsapi/include.js"></script> #}
      <script async defer src="{{ settings.BROWSERID_JS_URL }}"></script>
      {% if not logged %}
        {# We need RECAPTCHA for only non-authenticated users. #}
        <script type="text/javascript" src="{{ settings.RECAPTCHA_AJAX_URL }}"></script>
      {% endif %}
      {{ js('mkt/consumer') }}
      {% if settings.REMOTE_JS_DEBUG %}
        <script src="{{ settings.REMOTE_JS_DEBUG }}/nowjs/now.js"></script>
        <script src="{{ media('js/debug/remote_debug.js') }}"></script>
      {% endif %}
      {% if request.GET.debug %}
        {{ js('mkt/debug') }}
      {% endif %}

    {% endblock %}

    {% block paypal_js %}
      {% if logged and waffle.switch('enabled-paypal') %}
        {# We need PayPal for only authenticated users. #}
        <script async defer src="{{ settings.PAYPAL_JS_URL }}"></script>
      {% endif %}
    {% endblock %}

    {% block js %}{% endblock %}
  </body>
</html>
