{% if request.is_ajax() and not SKIP_FRAGMENT %}
  {% extends 'mkt/fragment.html' %}
{% endif %}
{% set FORCE_MOBILE = 'force-mobile ' if waffle.switch('force-mobile-layout') %}
{% set logged = request.user.is_authenticated() %}
<!DOCTYPE html>
<html lang="{{ LANG }}" dir="{{ DIR }}"
  {% if settings.USE_APPCACHE and OFFLINE_MANIFEST %}
    {{ appcache_manifest_link()|safe }}
  {% endif %}>
  <head>
    <meta charset="utf-8">
    {% if not settings.ENGAGE_ROBOTS %}
      <meta name="robots" content="noindex">
    {% endif %}
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    {% block extrameta %}{% endblock %}
    <title>{% block title %}{{ _('Firefox Marketplace') }}{% endblock %}</title>

    <link rel="shortcut icon" type="image/x-icon"
          href="{{ MEDIA_URL }}img/mkt/logos/128.png" sizes="128x128">
    <link rel="shortcut icon" type="image/x-icon"
          href="{{ MEDIA_URL }}img/mkt/logos/64.png" sizes="64x64">
    <link rel="shortcut icon" type="image/x-icon"
          href="{{ MEDIA_URL }}img/mkt/logos/32.png" sizes="32x32">

    {% block site_css %}
      {{ css('mkt/consumer') }}
    {% endblock %}

    {% block extrahead %}{% endblock %}

    {% block debug %}
      {% include "mobile/head_debug.html" %}
    {% endblock %}
    {% if logged %}
      <meta name="csrf" content="{{ csrf_token }}">
    {% endif %}
  </head>
  <body class="html-{{ DIR }} {{ CARRIER }} {{ FORCE_MOBILE }}"
        {% if waffle.switch('anonymous-free-installs') %}data-allow-anon-installs="true"{% endif %}
        data-user="{{ user_data(amo_user)|json }}"
        data-readonly="{{ settings.READ_ONLY|json }}"
        data-media-url="{{ MEDIA_URL }}"
        data-login-url="{{ url('users.browserid_login') }}"
        data-collect-timings="{{ url('mkt.timing.record') }}:{{ collect_timings_percent }}"
        data-simulate-nav-pay="{{ settings.SIMULATE_NAV_PAY|json }}"
        {% if not logged %}data-recaptcha="{{ settings.RECAPTCHA_PUBLIC_KEY }}"{% endif %}
        {% block bodyattrs %}{% endblock %}>


    {% block siteheader %}
      {% include 'mkt/header.html' %}
    {% endblock %}

    <div id="container">
      <div id="page" role="main"
           data-type="{% block pagetype %}leaf{% endblock %}"
           data-bodyclass="{% block bodyclass %}{% endblock %}">
        {# `outer_content` is for stuff you want above `content` on every page. #}
        {% block outer_content %}
          {% include 'site/messages/display.html' %}
        {% endblock %}
        {% block content %}
        {% endblock %}
      </div>
    </div>

    {% block sitefooter %}
      <footer id="site-footer" class="c">
        <div class="account {{ 'authenticated' if logged else 'anonymous' }}">
          {% if logged %}
            {% trans user=request.amo_user.email %}
              Signed in as <b>{{ user }}</b>
            {% endtrans %}
            <a href="{{ url('users.logout') }}" class="sync logout">
              ({{ _('Log Out') }})</a>
          {% else %}
            <a class="button browserid" href="#">{{ _('Log in / Register') }}</a>
          {% endif %}
        </div>
        <nav class="footer-links c" role="navigation">
          <p>
            {% if logged %}
              {% for link in tools_links %}
                <a href="{{ link.href }}" class="sync" rel="external">{{ link.text }}</a>
              {% endfor %}
              {% if request.can_view_consumer %}
                {# TODO: Coming soon with payments. #}
                {#<a href="{{ url('account.purchases') }}">{{ _('Account History') }}</a>#}
                <a href="{{ url('account.settings') }}">{{ _('Account Settings') }}</a>
              {% endif %}
            {% endif %}
          </p>
          <p>
            <a href="{{ url('site.privacy') }}">{{ _('Privacy Policy') }}</a>
            <a href="{{ url('site.terms') }}">{{ _('Terms of Use') }}</a>
          </p>
        </nav>
      </footer>
    {% endblock %}

    {% include 'purchase/start.html' %}
    {% include 'purchase/message.html' %}
    {% include 'ratings/edit.html' %}
    {% include 'ratings/reply.html' %}
    {% include 'ratings/edit_reply.html' %}

    <script type="text/template" id="noApps">
      <div class="noApps">You need to be using<br>
      <a href="http://nightly.mozilla.org/" target="_blank">
      Firefox Nightly</a><br>to install this app.</div>
    </script>

    {% if not logged %}
      <div id="login" class="overlay">
        <section>
          <div class="new">
            <h2>{{ _('Please sign in') }}</h2>
            <p>
              {% trans url='https://persona.org/' %}
                Just log in or register with your
                <a href="{{ url }}">Persona</a> account below.
              {% endtrans %}
            </p>
            <footer>
              <a class="button browserid" href="#">{{ _('Log in / Register') }}</a>
            </footer>
          </div>
          <div class="old">
            <h2>Additional authorization required</h2>
            <form method="post" action="{{ get_login_link() }}"
                  class="form-grid">
              <div class="simple-field row c">
                <div class="form-label">
                  <label for="id_username">Email address</label>
                </div>
                <div class="form-col">
                  <input id="id_username" name="username" maxlength="50" type="email">
                </div>
              </div>
              <div class="simple-field row c password">
                <div class="form-label">
                  <label for="id_password">Password</label>
                </div>
                <div class="form-col">
                  <input name="password" id="id_password" type="password">
                </div>
              </div>
              <input type="hidden" name="rememberme" value="1">
              <footer class="listing-footer">
                <button id="login-submit" type="submit">Log in</button>
              </footer>
            </form>
          </div>
        </section>
      </div>
    {% endif %}

    <!-- screenshot tray template-->
    <script type="text/template" id="single-preview">
      <li>
        <a class="screenshot thumbnail {typeclass}"
           href="{fullUrl}" title="{caption}">
          <img alt="{caption}" src="{thumbUrl}">
        </a>
      </li>
    </script>

    <!-- screenshot tray template-->
    <script type="text/template" id="preview-tray">
      <div class="slider">
        <ul class="content">{previews}</ul>
      </div>
      <div class="dots">{dots}</div>
    </script>

    <!-- screenshot lightbox -->
    <div id="lightbox">
      <section>
        <div class="content">
          <a class="close" href="#">{{ _('Close') }}</a>
        </div>
        <div class="controls">
          <a href="#" class="control next">&raquo;</a>
          <a href="#" class="control prev">&laquo;</a>
          <div class="caption"><span></span></div>
        </div>
      </section>
    </div>

    {% block dbgoverlay %}{% endblock %}

    {# js #}
    {% block site_js %}
      <script src="{{ static(url('jsi18n')) }}"></script>
      {# When bug 755694 is solved, expose the shim again. #}
      {# <script src="https://myapps.mozillalabs.com/jsapi/include.js"></script> #}
      {% if not logged %}
        {# We need Persona for only non-authenticated users. #}
        <script async defer src="https://login.persona.org/include.js"></script>
        <script type="text/javascript" src="{{ settings.RECAPTCHA_AJAX_URL }}"></script>
      {% endif %}
      {{ js('mkt/consumer') }}
    {% endblock %}

    {% block paypal_js %}
      {% if logged and waffle.switch('enabled-paypal') %}
        {# We need PayPal for only authenticated users. #}
        <script async defer src="{{ settings.PAYPAL_JS_URL }}"></script>
      {% endif %}
    {% endblock %}

    {% block js %}{% endblock %}
  </body>
</html>
