<div id="page" role="main"
     data-context="{{
       {'type': pagetype or 'leaf',
        'uri': request.FRAGMENT_URI or '',
        'title': titletag,
        'headertitle': headertitle,
        'bodyclass': bodyclass or '',
        'category': category.name ~ '' if category else ''}|json }}">
  {# `outer_content` is for stuff you want above `content` on every page. #}
  {% block outer_content %}
    {% include 'site/messages/display.html' %}
  {% endblock %}
  {% block content %}
  {% endblock %}
</div>
