<div id="page" role="main"
     data-context="{{
       {'type': pagetype or 'leaf',
        'uri': request.FRAGMENT_URI or '',
        'cache': cache_fragment,
        'hash': get_media_hash(),
        'title': titletag or '',
        'headertitle': headertitle or '',
        'bodyclass': bodyclass or '',
        'parent': page_parent or '',
        'category': category.name ~ '' if category else ''}|json }}">
  {# `outer_content` is for stuff you want above `content` on every page. #}
  {% block outer_content %}
    {% include 'site/messages/display.html' %}
  {% endblock %}
  {% block content %}
  {% endblock %}
</div>
{# do not remove the following line. See fragments.js for why. #}
<!-- </fragment> -->
