<header id="site-header" class="c{{ ' no-consumer' if not request.can_view_consumer }}">
  <section class="main">
    {% if DESKTOP %}
      <h1 class="site"><a href="{{ url('home') }}">Firefox Marketplace</a></h1>
    {% endif %}
    <h1 class="page">{{ headertitle }}</h1>
    <nav role="navigation">
      <a href="{{ url('home') }}" class="header-button icon home left" title="{{ _('Home') }}"></a>
      {% if not DESKTOP %}
        <a href="{{ url('account.settings') if
                    request.user.is_authenticated() else
                    url('account.feedback') }}"
           class="header-button icon settings left" title="{{ _('Settings') }}"></a>
      {% else %}
        {% if logged %}
          <div class="account-links">
            <a href="{{ url('account.settings') }}" class="header-button icon settings sticky" title="{{ _('Settings') }}"></a>
            <ul>
              <li>
                <a href="{{ url('account.settings') }}">
                  <em>{{ request.amo_user.email }}</em>
                  {{ _('Edit Account Settings') }}</a>
              </li>
              <li><a href="{{ url('account.purchases') }}">{{ _('My Apps') }}</a></li>
              {% if amo_user.is_app_developer %}
                <li><a href="{{ url('mkt.developers.apps') }}">{{ _('My Submissions') }}</a></li>
              {% endif %}
              <li class="submit-feedback"><a href="{{ url('account.feedback') }}">{{ _('Feedback') }}</a></li>
              <li><a href="{{ url('users.logout') }}" class="sync logout">{{ _('Sign Out') }}</a></li>
            </ul>
          </div>
        {% else %}
          <a href="#" class="header-button browserid">{{ _('Sign In') }}</a>
        {% endif %}
      {% endif %}
      <a href="#" id="nav-back" class="header-button icon back left" title="{{ _('Back') }}"><b></b></a>
      <a href="#" class="header-button icon search right" title="{{ _('Search') }}"></a>
      {% if not DESKTOP %}
        <a href="#" class="header-button cancel right">{{ _('Cancel') }}</a>
        <a href="#" class="header-button filter right">{{ _('Filter') }}</a>
      {% endif %}
      <a href="#" class="header-button icon expand right" title="{{ _('Expand') }}"></a>
      {% block search %}
        {% set data = {'cat': category.id} if category else request.GET %}
        {% set search_form = SimpleSearchForm(data) %}
        <form method="GET" id="search" action="{{ url('search.search') }}">
          <label for="search-q">{{ _('Search') }}</label>
          <input id="search-q" type="search" name="q" autocomplete="off" title=""
                 placeholder="{{ category.name if category else _('Search') }}"
                 data-placeholder-default="{{ _('Search') }}"
                 {% if search_form.q.value() %}value="{{ search_form.q.value() }}"{% endif %}>
          {% if search_form.cat.value() %}
            {{ search_form.cat }}
          {% endif %}
        </form>
      {% endblock %}
    </nav>
    <div id="site-search-suggestions" data-cat="apps" data-src="{{ url('search.suggestions') }}"></div>
  </section>
</header>

<div class="overlay nav-overlay"></div>
