<header id="site-header" class="c">
  <section>
    <h1 class="logo"><a href="{{ url('home') }}">{{ _('Mozilla Marketplace') }}</a></h1>
    {% if request.can_view_consumer %}
    <nav role="navigation">
      <a href="{{ url('home') }}" class="header-button home"><b></b></a>
      <a href="#" class="header-button filter">{{ _('Filter') }}</a>
      {% block search %}
        {% set data = {'cat': category.id} if category else request.GET %}
        {% set search_form = SimpleSearchForm(data) %}
        <form id="search" action="{{ url('search.search') }}">
          <input id="search-q" type="text" name="q" autocomplete="off" title=""
                 placeholder="{{ _('Search') }}"
                 value="{{ search_form.q.value() }}">
          {% if search_form.cat.value() %}
            {{ search_form.cat }}
          {% endif %}
          <div id="site-search-suggestions"
               data-cat="apps" data-src="{{ url('search.suggestions') }}"></div>
          <div id="find"></div>
          <button id="search-go">{{ _('Search') }}</button>
        </form>
      {% endblock %}
    </nav>
    {% endif %}
  </section>
</header>
<div class="overlay nav-overlay"></div>
