<header id="site-header">
  <section>
    <h1><a href="">{{ _('Mozilla Marketplace') }}</a></h1>
    <nav>
    </nav>
    {% block search %}
      {% set search_form = SimpleSearchForm(request) %}
      <form action="{{ url('search.search') }}">
        <input id="search-q" type="text" name="q"
               placeholder="{{ search_form.placeholder(search_placeholder) }}"
               value="{{ search_form.q.value() }}">
        {% if search_form.cat.value() %}
          {{ search_form.cat }}
        {% endif %}
      </form>
    {% endblock %}
  </section>
</header>
