{% extends "admin/base.html" %}

{% block title %}{{ page_title('Jetpack') }}{% endblock %}

{% block extrahead %}
<style>
  .upgrade { color: green; }
  #jetpacks tbody { font-family: monospace; }
</style>
{% endblock %}

{% set minver, maxver = upgrader.jetpack_versions() %}
{% set upgrading = upgrader.version() %}
{% set repack_status = upgrader.files() %}

{% block content %}
<h2>Jetpack</h2>
<p>Jetpacks built with SDK versions <b>{{ minver }} &ndash; {{ maxver }}</b> will be upgraded.</p>
<p>Should it be something different?</p>
<form method="post" action="">
  {{ csrf() }}
  <input name="minver" value="{{ minver }}">
  to
  <input name="maxver" value="{{ maxver }}">
  <button>Hit it.</button>
</form>
<p>Make sure builder.amo knows about the max version! And ask someone to fix <a href="https://bugzilla.mozilla.org/show_bug.cgi?id=658375">bug 658375</a>.</p>

<h3>Jetpack Files ({{ jetpacks|length }})</h3>
<p>These are all the jetpack files we know about. Disabled files and add-ons are excluded.</p>
{% if upgrading %}
  <p>We're running an upgrade to Jetpack <b>{{ upgrading }}</b> right now! Patience, my child.</p>
{% else %}
  <p>Files in green will be upgraded to <b>{{ maxver }}</b> when you press the button.</p>
  {% if settings.SEND_REAL_EMAIL %}
    <p>Note: upgrade emails <b>will be sent</b> to developers.</p>
  {% else %}
    <p>Upgrade emails <b>will not</b> be sent to developers. You can find the logged emails at <a href="{{ url('zadmin.mail') }}">admin/mail</a>.</p>
  {% endif %}
{% endif %}
<form method="post" action="">
  {{ csrf() }}
  {% if upgrading %}
    <input type="submit" name="cancel" value="Cancel the upgrade">
  {% else %}
    <input type="submit" name="upgrade" value="Upgrade to Jetpack {{ maxver }}">
  {% endif %}
</form>

<table>
  <thead>
    <tr>
      <th>Jetpack Version</th>
      <th>Count</th>
    </tr>
  </thead>
  <tbody>
    {% for version, count in by_version.items()|sort %}
    <tr>
      <td>{{ version }}</td>
      <td>{{ count }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<table id="jetpacks">
  <thead>
    <tr>
      <th>Add-on</th>
      <th>Version</th>
      <th>Status</th>
      <th>Jetpack</th>
      <th>File</th>
      {% if upgrading %}
        <th>Upgrade</th>
      {% endif %}
    </tr>
  </thead>
  <tbody>
    {% for file in jetpacks %}
    <tr {% if file.needs_upgrade %}class="upgrade"{% endif %}>
      <td><a href="{{ url('devhub.versions', file.version.addon_id) }}">{{ file.version.addon_id }}</a></td>
      <td><a href="{{ url('devhub.versions.edit', file.version.addon_id, file.version.id) }}">{{ file.version.version }}</a></td>
      <td>{{ amo.STATUS_CHOICES[file.status] }}</td>
      <td>{{ file.jetpack_version }}</td>
      <td><a href="{{ file.get_url_path('', '') }}">{{ file.id }}</a></td>
      {% if upgrading %}
        {% if file.id|string in repack_status %}
          {% with repack = repack_status[file.id|string] %}
            <td>{{ repack['status'] }} {{ repack['time']|timesince }}</td>
          {% endwith %}
        {% else %}
          <td></td>
        {% endif %}
      {% endif %}
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
