{% extends "admin/base.html" %}

{% block title %}{{ page_title("Spammers! Pr0nmongers! Infringers! Down with them all!") }}{% endblock %}

{% block bodyclass %}proper-lists admin-mass-delete{% endblock %}

{% block content %}

<h1><acronym title="We do what we must, because we can">{{ _("Confirm Mass Deletion") }}</acronym></h1>

{% if unknown_urls %}
<h3>{{ _("Uknown URLs:") }}</h3>
<p>{{ _("The following URLs could not be mapped to objects:") }}</p>
<ul id="unknown-urls">
  {% for url in unknown_urls %}
    <li>{{ url }}</li>
  {% endfor %}
</ul>
{% endif %}

<h3>{{ _("The following objects and dependent objects will be deleted:") }}</h3>

{% for type, objects in deletion_helper.object_types.iteritems() %}
  <h4>{{ _('%s objects:')|format(type) }}</h4>
  <ul id="delete-confirm-{{ type }}">
    {% for object in objects %}
      <li id="delete-confirm-{{ type }}-{{ object.pk }}"><a href="{{ object.get_url_path() }}">{{ object|string }}</a>
        <ul>
          {% for type_, count in deletion_helper.count_related(object) %}
            <li id="delete-confirm-{{ type }}-{{ object.pk }}-{{ type_ }}">
              {{ _('%(count)d %(type)s objects')|format(count=count, type=type_) }}
            </li>
          {% endfor %}
        </ul>
      </li>
    {% endfor %}
  </ul>
{% endfor %}

<div class="admin-mass-delete-caution">
  <h2>{{ _("Caution!") }}</h2>

  <div>
    <img src="{{ MEDIA_URL }}img/zamboni/admin/warning-you.jpg">
  </div>
  <caption>
    {% trans %}
      <p>
        With great power comes great <em>don't screw around with this</em>.
        This action is irreversible. Please do not take it lightly! Please
        triple-check the above object list.
      <p>
      <p><em>I'm watching you.</em></p>
    {% endtrans %}
  </caption>
</div>

<form method="post" action="{{ url('zadmin.mass_delete.confirm') }}">
  {{ csrf() }}
  {{ confirm_form.as_p() }}
  <button type="submit">Kill them with <em>napalm</em> fire!</button>
</form>

{% endblock %}
