{% extends "admin/base.html" %}

{% block title %}Update Prices {{ super() }}{% endblock %}

{% block extrahead %}
<style>form { margin-bottom: 1em }</style>
{% endblock %}

{% block content %}
  {% if result %}
    <p>{% for row in result %}{{ row }}{% if not loop.last %}<br>{% endif %}{% endfor %}</p>
  {% endif %}
  <p>
    This form accepts a tab delimited CSV file containing prices and currencies.
    Columns can be in any order. Do not include any currency symbols.
    Format:
    <pre>
      USD   CAD   BRL
      0.99  1.99  2.99
      1.99  2.99  3.99
    </pre>
  </p>
  <form enctype="multipart/form-data" method="post">
    {{ csrf() }}
    {{ form }}
    <input type="submit" value="Update">
  </form>
{% endblock %}
