{% from "includes/forms.html" import tip %}
{% from "devhub/includes/macros.html" import link_if_listed_else_text %}

{% macro status_and_tip(addon, tip, url='') %}
  {% if not url %}
    {% set url = addon.get_dev_url('versions') %}
  {% endif %}
  <a href="{{ url }}">
    {% if addon.status != amo.STATUS_DISABLED and addon.disabled_by_user %}
      <span class="{{ status_class(addon) }}"><b>{{ _('You have disabled this add-on') }}</b></span>
    {% else %}
      <span class="{{ status_class(addon) }}"><b>{{ addon.STATUS_CHOICES[addon.status] }}</b></span>
    {% endif %}
  </a>
  <span class="tip tooltip" title="{{ tip }}">?</span>
{% endmacro %}

<li>
  <strong>
    {{ _('Status:') }}

    {% if addon.disabled_by_user and addon.status != amo.STATUS_DISABLED %}
        {{ status_and_tip(addon,
                          _("Your add-on's listing is disabled and is not showing "
                            "anywhere in our gallery or update service.")) }}
    {% elif addon.status == amo.STATUS_NULL %}
        {{ status_and_tip(addon, _('Please complete your add-on.'),
                          url=url('devhub.submit.resume', addon.slug)) }}
    {% elif addon.status == amo.STATUS_PENDING %}
        {{ status_and_tip(addon, _('You will receive an email when the review is complete.')) }}
    {% elif addon.status == amo.STATUS_UNREVIEWED %}
        {{ status_and_tip(addon,
                          _("You will receive an email when the review is complete. Until "
                            "then, your add-on is not listed in our gallery but can be "
                            "accessed directly from its details page.")
                          if addon.is_listed else
                          _("You will receive an email when the review is "
                            "complete and your add-on is signed.")) }}
    {% elif addon.status == amo.STATUS_NOMINATED %}
        {{ status_and_tip(addon,
                          _("You will receive an email when the review is complete. Until "
                            "then, your add-on is not listed in our gallery but can be "
                            "accessed directly from its details page. ")
                          if addon.is_listed else
                          _("You will receive an email when the review is "
                            "complete and your add-on is signed.")) }}
    {% elif addon.status == amo.STATUS_PUBLIC %}
        {{ status_and_tip(addon,
                          _("Your add-on is displayed in our gallery and users are "
                            "receiving automatic updates.")
                          if addon.is_listed else
                          _("Your add-on has been signed and can be bundled with an "
                            "application installer.")) }}
    {% elif addon.status == amo.STATUS_DISABLED %}
        {{ status_and_tip(addon,
                          _("Your add-on was disabled by a site administrator and is no "
                            "longer shown in our gallery. If you have any questions, "
                            "please email amo-admins@mozilla.org."),
                            url=(addon.get_dev_url('versions') + '#version-upload')) }}
    {% elif addon.status == amo.STATUS_LITE %}
        {{ status_and_tip(addon,
                          _("Your add-on is displayed in our gallery as experimental "
                            "and users are receiving automatic updates. Some features "
                            "are unavailable to your add-on.")
                          if addon.is_listed else
                          _('Your add-on has been signed.')) }}
    {% elif addon.status == amo.STATUS_LITE_AND_NOMINATED %}
        {{ status_and_tip(addon,
                          _("You will receive an email when the full review is complete. "
                            "Until then, your add-on is displayed in our gallery as "
                            "experimental and users are receiving automatic updates. "
                            "Some features are unavailable to your add-on.")
                          if addon.is_listed else
                          _("You will receive an email when the full review is "
                            "complete, making you able to bundle your add-on with an "
                            "application installer.")) }}
    {% endif %}
  </strong>
</li>

<li>
  <strong>{{ _('Visibility:') }}</strong>
  {% if not addon.is_disabled and addon.is_listed %}
    {{ _('Listed') }}
  {% elif addon.is_disabled and addon.is_listed %}
    {{ _('Hidden') }}
  {% elif not addon.is_listed %}
    {{ _('Unlisted') }}
  {% endif %}
</li>

</li>
{% if addon.current_version %}
  <li>
    <strong>{{ _('Current Version:') }}</strong>
    {{ link_if_listed_else_text(addon.current_version, addon.current_version) }}
    <span class="tip tooltip" title="{{ _('This is the version of your add-on that will '
                                          'be installed if someone clicks the Install '
                                          'button on addons.mozilla.org. It is only '
                                          'relevant for listed add-ons.') }}">?</span>
  </li>
{% endif %}
{% if addon.type == amo.ADDON_EXTENSION and amo.FIREFOX in addon.compatible_apps %}
<li class="e10s-compatibility e10s-{{ addon.feature_compatibility.get_e10s_classname() }}">
  <strong>{{ _('Multi Process Status:') }}</strong>
  <b>{{ addon.feature_compatibility.get_e10s_display() }}</b>
  <span class="tip tooltip" title="{{ _('Your add-on compatibility with Multi Process Firefox (e10s).') }}">?</span>
</li>
{% endif %}
{% if sorting == 'created' %}
  <li class="date-created">
    <strong>{{ _('Created:') }}</strong>
      {# L10n: {0} is a date. dennis-ignore: E201 #}
      {{ addon.created|datetime(_('%%b %%e, %%Y')) }}
  </li>
{% else %}
  <li class="date-updated">
    <strong>{{ _('Last Updated:') }}</strong>
      {# L10n: {0} is a date. dennis-ignore: E201 #}
      {{ addon.last_updated|datetime(_('%%b %%e, %%Y')) }}
  </li>
{% endif %}
{% if addon.latest_version and addon.latest_version != addon.current_version %}
  <li>
    <strong>{{ _('Next Version:') }}</strong>
    {{ link_if_listed_else_text(addon.latest_version, addon.latest_version.version) }}
    <span class="tip tooltip" title="{{ _('This is the newest uploaded version, however it isn’t live on the site yet.') }}">?</span>
  </li>
{% endif %}
{% with position = get_position(addon) %}
  {% if position and position.pos and position.total %}
    <li class="queue-position" title="{{ _('Queues are not reviewed strictly in order') }}">
      <strong>{{ _('Queue Position:') }}</strong>
      {% trans position=position.pos|numberfmt,
               total=position.total|numberfmt %}
        {{ position }} of {{ total }}
      {% endtrans %}
    </li>
  {% endif %}
{% endwith %}
