{% set show_listed=addon.has_listed_versions() %}
{% set urls = [
  (addon.get_dev_url(), _('Edit Information')),
  (addon.get_dev_url('owner'), _('Manage Authors & License')),
  (addon.get_dev_url('versions'), _('Manage Status & Versions')),
  ] %}
{% set latest_version=addon.find_latest_version(None) %}

<section class="secondary" role="complementary">
  <div class="addon-status">
    <ul class="addon-details">
      {% include "devhub/includes/addon_details.html" %}
    </ul>
    <p class="addon-upload">
      {% if (addon.has_complete_metadata() or addon.status != amo.STATUS_NULL) and not addon.is_disabled %}
        <strong>
          {% set version_upload_url = url('devhub.submit.version', addon.slug) %}
          <a href="{{ version_upload_url }}"
             class="version-upload">
            {{ _('Upload New Version') }}</a>
        </strong>
        &middot;
      {% endif %}
      <a href="{{ addon.get_dev_url('versions') }}">{{ _('View All' ) }}</a>
    </p>
  </div>
  <div class="highlight" id="edit-addon-nav">
    <ul class="refinements">
      {% for url, title in urls %}
        <li {% if url in request.path %}class="selected"{% endif %}>
          <a href="{{ url }}">{{ title }}</a></li>
      {% endfor %}
    </ul>
    <ul class="refinements">
      {% if show_listed %}
      <li><a href="{{ addon.get_url_path() }}">
        {{ _('View Listing') }}</a></li>
      {% endif %}
      {% if action_allowed(amo.permissions.ADDONS_EDIT) %}
        <li><a href="{{ url('reviewers.review', addon.slug) }}">
          {{ _('Listed Review Page') }}</a></li>
        <li><a href="{{ url('reviewers.review', 'unlisted', addon.slug) }}">
          {{ _('Unlisted Review Page') }}</a></li>
      {% endif %}
      {% if action_allowed(amo.permissions.REVIEWS_ADMIN) %}
        <li><a href="{{ url('zadmin.addon_manage', addon.slug) }}">
          {{ _('Admin Manage') }}</a></li>
      {% endif %}
      <li><a href="{{ url('devhub.feed', addon.slug) }}">
        {{ _('View Recent Changes') }}</a></li>
      {% if not theme %}
        {% if show_listed %}
          <li class="view-stats"><a href="{{ url('stats.overview', addon.slug) }}">
            {{ _('View Statistics Dashboard') }}</a></li>
        {% endif %}
        {% if latest_version and not latest_version.is_webextension %}
          <li class="compat-reports">
            <a href="{{ url('compat.reporter_detail', addon.guid) }}">
              <span>{{ _('Compatibility Reports') }}</span>
              <br />
              {% set compat_counts = get_compat_counts(addon) %}
              <b class="failure" title="{{ _('{0} failure reports')|format_html(compat_counts.failure) }}">
                {{ compat_counts.failure|numberfmt }}</b>
              <b class="success" title="{{ _('{0} success reports')|format_html(compat_counts.success) }}">
                {{ compat_counts.success|numberfmt }}</b>
            </a>
          </li>
        {% endif %}
      {% endif %}
    </ul>
  </div>
</section>
