<div id="modal-confirm-android-compatibility" class="modal">
  <form method="POST" action="#">
    <h3> {{ _("Firefox for Android compatibility") }} </h3>
    <p> {% trans %} Did you explicitly test your add-on with Firefox for Android ? See <a target="_blank" rel="noopener noreferrer" href="https://extensionworkshop.com/documentation/develop/developing-extensions-for-firefox-for-android/">Developing extensions for Firefox for Android</a> for more information. {% endtrans %}</p>
    <div class="modal-actions">
        <button type="submit">{{ _("Yes, my add-on is compatible with Firefox for Android") }}</button>
        <a href="#" class="close button delete-button">{{ _("No, I don't know or it is not compatible ") }}</a>
    </div>
  </form>
</div>
