<div id="modal-confirm-android-compatibility" class="modal">
  <form method="POST" action="#">
    <h3>{{ _("Firefox Android compatibility") }}</h3>
    <p>{% trans %}Did you test your extension to ensure it works as expected on Firefox Android? If not, please see <a target="_blank" rel="noopener noreferrer" href="https://extensionworkshop.com/documentation/develop/developing-extensions-for-firefox-for-android/">Developing extensions for Firefox Android</a> for test guidance before submitting.{% endtrans %}</p>
    <div class="modal-actions">
        <button type="submit">{{ _("Yes, I’ve tested my Firefox Android extension") }}</button>
        <a href="#" class="close button delete-button">{{ _("No, I have not tested for Android compatibility") }}</a>
    </div>
  </form>
</div>
