<h3>{{ distro_tag(amo.CHANNEL_LISTED)}} {{ _('Listing visibility') }}</h3>
<div class="item" id="addon-current-state">
  <div class="item_wrapper">
    {% if addon.status == amo.STATUS_REJECTED %}
        <label><input name="addon-state" value="disabled" type="radio"
                {% if addon.status == amo.STATUS_DISABLED %}disabled="disabled"{% endif %}
                {% if not addon.is_disabled %}checked="checked"{% endif %}
                data-url="{{ addon.get_dev_url('enable') }}"
                class="enable-addon">
        {{ _("{label_open}Listing Content Rejected:{label_close} Won't be included in "
            "search results, and its product page will be unavailable. "
            "New listed version submissions won't be accepted in this state, "
            "but existing versions awaiting review will be reviewed, "
            "and approved versions remain usable by existing users.")|format_html(
            label_open='<strong>'|safe, label_close='</strong>'|safe, site_url=settings.SITE_URL)|safe }}</label>
    {% else %}
        <label><input name="addon-state" value="listed" type="radio"
                {% if addon.status == amo.STATUS_DISABLED %}disabled="disabled"{% endif %}
                {% if not addon.is_disabled %}checked="checked"{% endif %}
                data-url="{{ addon.get_dev_url('enable') }}"
                class="enable-addon">
        {{ _("{label_open}Visible:{label_close} Visible to everyone on {site_url} and included "
            "in search results and product pages.")|format_html(
            label_open='<strong>'|safe, label_close='</strong>'|safe, site_url=settings.SITE_URL)|safe }}</label>
    {% endif %}

    <br>
    <label><input name="addon-state" value="hidden" type="radio"
                {% if addon.status == amo.STATUS_DISABLED %}disabled="disabled"{% endif %}
                {% if addon.is_disabled %}checked="checked"{% endif %}
                class="disable-addon">
    {{ _("{label_open}Invisible:{label_close} Won't be included in search results, and its product page will "
            "indicate you disabled it. New version submissions for product "
            "won't be accepted in this state.")|format_html(
            label_open='<strong>'|safe, label_close='</strong>'|safe) }}</label>

    {% if addon.status == amo.STATUS_REJECTED %}
        <div id="content-review-rejection">
            {{ _('Our review found that your listing content violates the following Mozilla policy or policies:') }}
            <div class="rejection-policies">
                <ul>
                {% for text in rejection_policy_texts %}
                    <li>{{ text }}</li>
                {% endfor %}
                </ul>
                {% if rejection_manual_reasoning_text %}<span class="manual-reasoning">
                    {{ rejection_manual_reasoning_text }}.
                </span>{% endif %}
            </div>
            {{ _('To address these issues, please update your listing and request another review of the content.') }}
            <div class="request-review">
              {% if rejection_review_requested %}
                <button class="disabled" disabled>
                    {{ _('Review requested already, awaiting review') }}
                </button>
              {% else %}
                <button class="rejected-review-request"
                    data-url="{{ addon.get_dev_url('rejected_review_request') }}">
                    {{ _('I confirm I have addressed the issues, and request a review') }}
                </button>
              {% endif %}
            </div>
        </div>

    {% endif %}
  </div>
</div>
