<div class="binary-source{% if not field.errors %} edit_initially_hidden{% endif %}">
  <p>
    {{ _('If your add-on contains minified, concatenated or otherwise machine-generated code other than known '
         'libraries, upload its sources for review.') }}<br />
    {{ _('Please include instructions on how to reproduce the final add-on file, '
         'either in a README file or the Notes to Reviewer for this version.') }}<br />
    <a href="{{ settings.EXTENSION_WORKSHOP_URL }}/documentation/publish/source-code-submission/?utm_source=addons.mozilla.org&utm_medium=devhub&utm_content=submission-flow"
      target="_blank" rel="noopener noreferrer">{{
      _('Read more about the source code review policy.') }}</a>
  </p>
  {{ field.errors }}
  <div>{{ field }}</div>
</div>
