{% from 'includes/forms.html' import required_note %}

{% extends 'mkt/base.html' %}

{% set title = _('Add a review') %}
{% set page_title = _('Add a review for {0}')|f(product.name) %}
{% block title %}{{ mkt_page_title(page_title) }}{% endblock %}

{% block content %}
  {{ mkt_breadcrumbs(product, [(None, title)]) }}
  <section id="submit-review" class="friendly">
    <form method="post">
      {{ csrf() }}
      <header class="product c">
        <div class="visual">
          <img src="{{ product.get_icon_url(64) }}">
        </div>
        <div>
          <h1>{{ title }}</h1>
          {{ form_field(form.rating, label=_('How would you rate this?'), tag='p') }}
        </div>
      </header>
      <p class="reminder">
        {% trans %}
          Please keep reviews clean, avoid the use of improper language, and do
          not post any personal information.
        {% endtrans %}
      </p>
      {{ form_field(form.body, label=_('Your review'), hint=True,
                    cc_for=form.body.auto_id,
                    cc_maxlength=form.body.field.max_length, tag='p') }}
      {{ required_note() }}
      <p class="form-footer">
        <button type="submit" class="fat">
          {{ _('Submit review') }}
        </button>
        <span class="or">
          {{ _('or') }} <a href="{{ product.get_detail_url() }}">{{ _('Cancel') }}</a>
        </span>
      </p>
    </form>
  </section>
{% endblock %}
