{% from 'includes/forms.html' import required_note %}

{# TODO:
#
# This page should be replaced with an overlay: http://cl.ly/0o1E1z0i0M3B1C1B2D3e
#
#}

{% extends 'mkt/base.html' %}

{% if not has_review %}
  {% set title = _('Add a review') %}
{% else %}
  {% set title = _('Edit review') %}
{% endif %}

{% block bodyclass %}review-add{% endblock %}

{% block content %}
  <h1 id="top">{{ title }}</h1>
  <section id="submit-review" class="friendly">
    <form method="post">
      {{ csrf() }}
      <p class="reminder">
        {% trans %}
          Please keep reviews clean, avoid the use of improper language, and do
          not post any personal information.
        {% endtrans %}
      </p>
      {{ form_field(form.rating, label=_('How would you rate this?'),
                    tag='div', cls='rating') }}
      {{ form_field(form.body, label=_('Your review'), hint=True,
                    cc_for=form.body.auto_id,
                    cc_maxlength=form.body.field.max_length, tag='div') }}
      {{ required_note() }}
      <p class="form-footer submit-review">
        <button type="submit" class="fat">
          {{ _('Submit review') }}
        </button>
      </p>
        {% if support_url %}
          <p class="support-link c">
          {% trans %}
            Visit <a href="{{ support_url }}" target="_blank">support</a>
            for assistance with this app.
          {% endtrans %}
          </p>
        {% elif support_email %}
          <p class="support-link c">
          {% trans support_email = emaillink(support_email) %}
            Contact {{ support_email }} for assistance with this app.
          {% endtrans %}
          </p>
        {% endif %}
    </form>
  </section>
{% endblock %}
