{% extends 'mkt/base.html' %}
{% set amo_user = request.amo_user if request.user.is_authenticated() else None %}

{% set title = _('Reviews') %}
{% set page_title = _('Reviews for {0}')|f(product.name) %}
{% block title %}{{ mkt_page_title(page_title) }}{% endblock %}

{% block bodyclass %}reviews listing{% endblock %}

{% block content %}
  {{ mkt_breadcrumbs(product, [(None, _('Reviews'))]) }}
  <section id="review-listing">

  {% block review_header %}
    {{ rating_header(product, title) }}
    <p id="add-review">
      <a href="{{ product.get_ratings_url('add') }}" class="button fat">
        {{ _('Add a review') }}</a></p>
<!--
        {% if page == 'list' %}
          <img src="{{ product.get_icon_url(64) }}">
          <h1>{{ title }}</h1>
        {% elif reply %}
          {# L10n: {0} is a developer's name. #}
          <h1>{{ _('Developer reply by {0}')|f(reply.user.name) }}</h1>
        {% elif ratings.object_list %}
          <h1>
            {% trans cnt=ratings.object_list|length, addon=product.name,
                     user=ratings.object_list[0].user.name %}
              Review for {{ addon }} by {{ user }}
            {% pluralize %}
              Reviews for {{ addon }} by {{ user }}
            {% endtrans %}
          </h1>
        {% else %}
          <h1>{{ _('No reviews found.') }}</h1>
        {% endif %}
-->
  {% endblock %}

  <section class="reviews c" id="reviews">
    {% if ratings.object_list %}
      <div class="c" id="reviews-info">
      </div>
      <ul id="review-list">
        {% for review in ratings.object_list %}
          {% include 'ratings/rating.html' %}
          {% if review.id in replies %}
            <a href="#" class="view-reply">{{ _('1 reply') }}</a>
            {% with review=replies[review.id] %}
              {% include 'ratings/rating.html' %}
            {% endwith %}
          {% endif %}
        {% endfor %}
      </ul>
      {# TODO: Show only if more reviews to be shown (bug 764078). #}
      <a href="#" class="load-more">{{ _('More reviews') }}</a>
      {{ ratings|impala_paginator }}
    {% else %}
      {% if product.can_review(amo_user) %}
        <p id="add-first-review"><a href="{{ product.get_ratings_url('add') }}">
          {{ _('Be the first to write a review.') }}</a><p>
      {% else %}
        <p id="no-add-first-review">
          {{ _('This app has not yet been reviewed.') }}</p>
      {% endif %}
    {% endif %}
  </section>
{% endblock %}
