{% extends 'mkt/base.html' %}
{% set amo_user = request.amo_user if request.user.is_authenticated() else None %}

{% block bodyclass %}reviews-listing{% endblock %}

{% block extrahead %}
  {{ super() }}
  <link rel="alternate" type="application/rss+xml"
        title="RSS" href="{{ request.get_full_path() }}format:rss">
{% endblock %}

{% block content %}
  <h1 id="top">{{ _('Reviews') }}</h1>
  {% block review_header %}
    <section id="review-listing">
      <p id="add-review">
        <a href="{{ product.get_ratings_url('add') }}" class="button fat">
          {{ _('Add a review') if not has_review else _('Edit review') }}
        </a>
      </p>
    </section>
  {% endblock %}

  <section class="{{ 'replies' if reply }} c" id="reviews">
    {% if ratings.object_list or reply %}
      {{ rating_flag() }}
      <ul id="review-list"
          data-edit-url="{{ product.get_ratings_url('add') }}">
        {% for review in ratings.object_list %}
          {% include 'ratings/rating.html' %}
        {% endfor %}

        {% if reply %}
          {% with review=reply.reply_to %}
            {% include 'ratings/rating.html' %}
          {% endwith %}
          {% with review=reply %}
            {% include 'ratings/rating.html' %}
          {% endwith %}
        {% endif %}
      </ul>
      {{ ratings|impala_paginator }}
    {% elif not reply %}
      {% if product.can_review(amo_user) %}
        <p id="add-first-review"><a href="{{ product.get_ratings_url('add') }}">
          {{ _('Be the first to write a review.') }}</a><p>
      {% else %}
        <p id="no-add-first-review">
          {{ _('This app has not yet been reviewed.') }}</p>
      {% endif %}
    {% endif %}
  </section>
{% endblock %}
