{% set perms = review_perms or {} %}
{% if flags %}
  {% set is_flagged = flags[review.id] %}
{% endif %}

<li id="review-{{ review.id }}" data-rating="{{ review.rating }}"
    data-flag-url="{{ product.get_ratings_url('flag', args=[review.id]) }}"
    data-edit-url="{{ product.get_ratings_url('add') }}"
    class="review{{ ' flagged' if is_flagged }} c">
  <div class="review-inner">
    {% if profile %}
      <h3 class="review-heading-profile">
        <a href="{{ product.get_detail_url() }}">
          <img class="icon icon-profile" src="{{ product.get_icon_url(64) }}">
          {{ product.name }}
        </a>
      </h3>
    {% endif %}
    {{ review.rating|stars(large=True) }}
    <span class="byline">
      {# TODO: Re-link user profile pages if desktop implements them. #}
      {% trans user_name=review.user.name %}
        by <strong>{{ user_name }}</strong>
      {% endtrans %}
      {% if product.is_packaged and review.version != product.current_version %}
        {% trans version=review.version.version %} for previous version {{ version }}{% endtrans %}
      {% endif %}
      {% if (perms.is_admin or perms.is_editor) and review.ip_address != '0.0.0.0' %}
        <span>[{{ review.ip_address }}]</span>
      {% endif %}
    </span>
    <div class="body">
      {{ review.body|nl2br }}
    </div>
    {% if request.user.is_authenticated() and not details_page %}
      <ul class="actions">
        {% if is_flagged %}
          <li class="flagged">{{ _('Flagged for review') }}</li>
        {% elif review.user_id != request.user.id %}
          <li><a class="flag post" data-action="report" href="#">{{ _('Report') }}</a></li>
        {% endif %}
        {% if review.user_id == request.user.id %}
          <li><a class="edit" data-action="edit" href="#">{{ _('Edit') }}</a></li>
        {% endif %}
        <li{% if not check_review_delete(review) %} class="hidden"{% endif %}><a
          href="{{ product.get_ratings_url('delete', args=[review.id]) }}"
          class="delete post" data-action="delete">{{ _('Delete') }}</a></li>
      </ul>
    {% endif %}
    {% if not details_page %}
      <span class="timestamp">{{ review.created|timelabel }}</span>
    {% endif %}
  </div>
</li>
