<script type="text/template" id="reply-review-template">
  <section>
    <form class="friendly" method="post" action="{action}">
      <h2>{{ _('Reply Review') }}</h2>
      <p class="brform simple-field c">
        <textarea id="id_body" rows="2" cols="40" name="body"></textarea>
        <div class="char-count" data-maxlength="150" data-for="id_body"></div>
      </p>
      <footer class="form-footer">
        <button type="submit" class="fat">
          {{ _('Submit reply') }}
        </button>
        <button class="button cancel fat">
          {{ _('Cancel') }}
        </button>
      </footer>
    </form>
  </section>
</script>
