{# This now handles "new review", "edit review", "new reply", "edit reply". #}
<script type="text/template" id="review-template">
  <section{% if DESKTOP %} class="bare"{% endif %}>
    {% if DESKTOP %}
      <header class="header">
        <h1 class="title">{title}</h1>
        <a href="#" class="header-button icon cancel dismiss">
          {{ _('Cancel') }}
        </a>
      </header>
    {% endif %}
    <form class="friendly" method="post" action="{action}">
      {{ csrf() }}
      {% if not DESKTOP %}
        <h2>{title}</h2>
      {% endif %}
      <p class="brform simple-field rating c">
        {% if DESKTOP %}
          <label for="id_rating">{{ _('Rate:') }}</label>
        {% endif %}
        <select name="rating" id="id_rating" required>
          <option value="1">{{ _('1') }}</option>
          <option value="2">{{ _('2') }}</option>
          <option value="3">{{ _('3') }}</option>
          <option value="4">{{ _('4') }}</option>
          <option value="5">{{ _('5') }}</option>
        </select>
      </p>
      <p class="brform simple-field c">
        <textarea id="id_body" rows="2" cols="40" name="body" required>{body}</textarea>
        {% if not DESKTOP %}
          <div class="char-count" data-maxlength="150" data-for="id_body"></div>
        {% endif %}
      </p>
      <footer class="form-footer c">
        {% if DESKTOP %}
          <button disabled type="submit">{{ _('Submit') }}</button>
          <div class="char-count" data-maxlength="150" data-for="id_body"></div>
        {% else %}
          <button disabled type="submit" class="fat">
            {{ _('Submit') }}
          </button>
          <button class="button cancel fat">
            {{ _('Cancel') }}
          </button>
        {% endif %}
      </footer>
    </form>
  </section>
</script>
