{% set search_url = url('search.search') %}
{% if not search_placeholder and not search_cat %}
  {% set search_placeholder = 'all' %}
{% endif %}
{% set search_form = SimpleSearchForm(request, search_cat) %}
<form id="search" action="{{ search_url }}" data-no-csrf>
  <input name="q" type="search" value="{{ query.q if query else '' }}"
         placeholder="{{ search_form.placeholder(search_placeholder) }}">
  {% if search_form.cat.value() %}
    {{ search_form.cat }}
  {% endif %}
  {{ search_form.appver }}
  {{ search_form.platform }}
  <button type="submit" value="">
    <svg width="22" height="23" xmlns="http://www.w3.org/2000/svg" version="1.1"><polygon fill="#ffffff" points="22,12 11,23 8,20 14,14 0,14 0,10 14,10 8,4 11,1"/></svg>
  </button>
</form>
