<form method="post" action="{{ action }}" class="{% if is_ajax %}ajax-submit {% endif %}featured-inner object-lead user-input">
  {{ csrf() }}
  {% if form.non_field_errors() %}
      <div class="notification-box error">
        <ul>
        {% for error in form.non_field_errors() %}
        <li><h2>{{ error }}</h2></li>
        {% endfor %}
        </ul>
      </div>
  {% endif %}
  {% if waffle.switch('browserid-login') %}
  <fieldset id="browserid-login">
    <a href="#" class="browserid-login button"
      data-url="{{ url('users.browserid_login') }}"
      data-profile-form-url="{{ url('users.complete_profile_form') }}">
      {{ loc('Log in / Register') }}
    </a>
    <div class="user-message">
      {% trans %}
      Are you an <a href="#" id="show-normal-login">admin or editor</a>?
      {% endtrans %}
    </div>

  </fieldset>
  {% endif %}
  <div class="login-option grid prettyform">
    <fieldset id="normal-login">
      <ul>
        <li>
        <label for="id_username">{{ _('Email address') }}</label>
        {{ form.username }}
        {{ form.username.errors }}
        </li>
        <li>
        <label for="id_password">{{ _('Password') }}</label>
        {{ form.password }}
        {{ form.password.errors }}
        </li>
        <li id="remember-me">
        <label for="id_rememberme" class="check">
          {{ form.rememberme }}
          {{ _('Remember me on this computer') }}
        </label>
        {{ form.rememberme.errors }}
        </li>
        {% if form.recaptcha %}
        {{ form.recaptcha_shown }}
        {{ recaptcha(form) }}
        {% endif %}
        <li class="footer-submit">
          <button id="login-submit" type="submit">{{ _('Log in') }}</button>
        </li>
      </ul>
    </fieldset>
  </div>
</form>
{% if waffle.switch('browserid-login') %}
  <div id="login-complete-profile"></div>
{% endif %}
