{% extends "impala/base.html" %}

{% block title %}{{ page_title(_('User Login')) }}{% endblock %}

{% block bodyclass %}login{% endblock %}

{% block js %}
  {% if waffle.switch('browserid-login') %}
    <script src="https://browserid.org/include.js"></script>
  {% endif %}
  {% if form.recaptcha %}
    {% include("amo/recaptcha_js.html") %}
  {% endif %}
{{ js('zamboni/login') }}
{% endblock %}

{% block content %}

<div class="primary">
  <div class="secondary">
      <div id="login-help" class="article">
          <h2>{{ _('Login Problems?') }}</h2>
          <ul>
              <li><a href="{{ url('users.register') }}">{{ _("I don't have an account.") }} </a></li>
              <li><a href="{{ url('users.pwreset') }}">{{ _("I forgot my password.") }}</a></li>
          </ul>
      </div>
  </div>
  <section class="island hero primary prettyform grid">
    <h1>{{ _('Log In') }}</h1>
    {% if waffle.switch('browserid-login') %}
      <button class="browserid-login" type="submit"
              data-url="{{ url('users.browserid_login') }}">
        {{ _('Log in with BrowserID') }}
      </button>
    </div>
    {% endif %}
    {% include "users/login_form.html" %}
  </section>
</div>
{% endblock content %}
