<form method="post" action="{{ action }}"
      class="{% if is_ajax %}ajax-submit {% endif %}listing-footer{% if login_source_form %} login-source-form{% else %} login-form{% endif %}">
  {{ csrf() }}
  {% if form.non_field_errors() %}
      <div class="notification-box error">
        <ul>
        {% for error in form.non_field_errors() %}
        <li>{{ error }}</li>
        {% endfor %}
        </ul>
      </div>
  {% endif %}
  <div class="login-option grid devhub-form prettyform">
    <fieldset id="normal-login">
      <ul>
        <li{% if form.username.errors %} class="error"{% endif %}>
        <label for="id_username">{{ _('Email address') }}</label>
        {{ form.username }}
        {{ form.username.errors }}
        </li>
        <li class="login-field {% if form.password.errors %} error{% endif %}">
        <label for="id_password">{{ _('Password') }}</label>
        {{ form.password }}
        {{ form.password.errors }}
        </li>
        <li id="remember-me"
            class="login-field {% if form.rememberme.errors %}error{% endif %}">
        <label for="id_rememberme" class="check">
          {{ form.rememberme }}
          {{ _('Remember me on this device') }}
        </label>
        {{ form.rememberme.errors }}
        </li>
        {% if form.recaptcha %}
          {{ form.recaptcha_shown }}
          {{ form.recaptcha }}
          {{ form.recaptcha.errors }}
        {% endif %}
      </ul>
      <div class="listing-footer footer c">
        <button id="login-submit" class="login-button" type="submit">{{ _('Log in') }}</button>
        <button class="login-source-button" type="submit">{{ _('Continue') }}</button>
      </div>
    </fieldset>
  </div>
</form>
