<form method="post" action="{{ action }}" class="{% if is_ajax %}ajax-submit {% endif %}listing-footer">
  {{ csrf() }}
  {% if form.non_field_errors() %}
      <div class="notification-box error">
        <ul>
        {% for error in form.non_field_errors() %}
        <li>{{ error }}</li>
        {% endfor %}
        </ul>
      </div>
  {% endif %}
  {% if waffle.switch('browserid-login') %}
  <fieldset id="browserid-login">
    <a href="#" class="browserid-login button prominent"
      data-url="{{ url('users.browserid_login') }}">
      {{ loc('Log in / Register') }}
    </a>
    <div class="user-message">
      <p>
          {% trans %}
          <a href="#" id="show-normal-login">Are you an admin or editor?</a>
          {% endtrans %}
      </p>
    </div>
  </fieldset>
  {% endif %}
  <div class="login-option grid devhub-form prettyform">
    <fieldset id="normal-login">
      <ul>
        <li{% if form.username.errors %} class="error"{% endif %}>
        <label for="id_username">{{ _('Email address') }}</label>
        {{ form.username }}
        {{ form.username.errors }}
        </li>
        <li{% if form.password.errors %} class="error"{% endif %}>
        <label for="id_password">{{ _('Password') }}</label>
        {{ form.password }}
        {{ form.password.errors }}
        </li>
        <li id="remember-me"
            {% if form.rememberme.errors %}class="error"{% endif %}>
        <label for="id_rememberme" class="check">
          {{ form.rememberme }}
          {{ _('Remember me on this computer') }}
        </label>
        {{ form.rememberme.errors }}
        </li>
        {% if form.recaptcha %}
          {{ form.recaptcha_shown }}
          {{ recaptcha(form) }}
        {% endif %}
      </ul>
      <footer class="listing-footer c">
        <div>
          <button id="login-submit" type="submit">{{ _('Log in') }}</button>
          {% if waffle.switch('browserid-login') %}
            <a href="#" class="browserid-login browserid-login-alt button premium"
               data-url="{{ url('users.browserid_login') }}">
              {{ loc('Use BrowserID') }}
            </a>
          {% endif %}
        </div>
      </footer>
    </fieldset>
  </div>
</form>
