{% extends "impala/base_shared.html" %}

{% block title %}{{ page_title(_('User Login')) }}{% endblock %}

{% block bodyclass %}login{% endblock %}

{% block js %}
  {% if form.recaptcha %}
    {% include "amo/recaptcha_js.html" %}
  {% endif %}
{% endblock %}

{% block content %}

<div class="primary">
  {% include "users/login_help.html" %}
  <section class="island hero primary grid prettyform">
    {% if switch_is_active('fxa-auth') %}
      <h1>{{ _('Enter your email') }}</h1>
    {% else %}
      <h1>{{ _('Log In') }}</h1>
    {% endif %}
    {% include "users/login_form.html" %}
  </section>
</div>
{% endblock content %}

