{% extends "impala/base_shared.html" %}
{% block title %}{{ page_title('Payment Profile') }}{% endblock %}

{% block content %}
  {% include 'users/includes/navigation.html' %}
  <section class="primary">
    {{ impala_breadcrumbs([(None, loc('Payment Profile'))]) }}
    <h1>{{ loc('Payment Profile') }}</h1>
    {% if preapproval.paypal_key %}
      <form id="preapproval" method="post" action="{{ url('users.payments', 'remove') }}">
        {{ csrf() }}
        <p>{{ loc('Your pre-approval is set up.') }}</p>
        <p><button>{{ loc('Remove pre-approval') }}</button></p>
      </form>
    {% else %}
      <form id="preapproval" method="post" action="{{ url('users.payments.preapproval') }}">
        {{ csrf() }}
        <p>{{ loc('Setting up PayPal pre-approval allows you to buy
                   apps quickly on this site. They also allow you to use
                   in-app purchases that go through this site.') }}</p>
        <p>{{ loc('You can cancel pre-approval at any time by returning
                   to this page.') }}</p>
        <p><button>{{ loc('Set up pre-approval') }}</button></p>
      </form>
    {% endif %}
  </section>
{% endblock %}
