{% if settings.APP_PREVIEW %}
  {% set WEBAPPS = True %}
{% endif %}
{% extends "impala/base_shared.html" %}
{% from "addons/macros.html" import price, refund_info %}
{% set amo_user = request.amo_user if request.user.is_authenticated() else None %}

{% block title %}{{ page_title('My Purchases') }}{% endblock %}

{% block content %}
  {% include 'users/includes/navigation.html' %}
  <section class="primary">
    {{ impala_breadcrumbs([(None, _('My Purchases'))]) }}
    <h1>{{ _('My Purchases') }}</h1>
    <div class="island hero c listing">
      {% if single %}
        <div id="sorter" class="c">
          <ul><li><a class="opt" href="{{ url('users.purchases') }}">{{ _('Show all purchases') }}</a></li></ul>
        </div>
      {% else %}
        {{ impala_addon_listing_header(url_base, filter.opts, sorting, filter.extras) }}
      {% endif %}
      <div class="items">
        {% for addon in addons.object_list %}
          {% set is_refunded = addon.is_refunded(request.amo_user) %}
          {% set is_chargeback = addon.is_chargeback(request.amo_user) %}
            <div class="item addon ignore-compatibility {{ 'refunded' if is_refunded or is_chargeback }}">
              <div class="info">
                <h3>
                  <a href="{{ addon.get_url_path() }}">
                    <img src="{{ addon.icon_url }}">{{ addon.name }}</a>
                </h3>
                <p class="desc">{{ addon.description|truncate(250)|nl2br }}</p>
                <div class="vitals c">
                  {{ price(addon) }}
                  {{ refund_info(amo, addon, contributions,
                                 is_refunded, is_chargeback) }}
                </div>
              </div>
            </div>
        {% else %}
          {# TODO(apps): Finalize copy. #}
          <p class="no-results">You have no purchases.</p>
        {% endfor %}
      </div>
    </div>
  </div>
</section>
{% endblock %}
