{% extends "impala/base.html" %}

{% block title %}{{ page_title('My Purchases') }}{% endblock %}
{% block content %}
{% include 'users/includes/navigation.html' %}

{% for purchase in purchases.object_list %}
<p>{{ purchase.addon.name }}</p>
{% trans date=purchase.created, amount=purchase.amount, url='' %}
<p>Purchased {{ date }} for {{ amount }} - <a href="{{ url }}">Request Support</a></p>
{% endtrans %}
{{ purchases|paginator }}
{% else %}
  <p>You have no purchases.</p>
{% endfor %}

{% endblock %}
