{% extends "base.html" %}

{% block title %}{{ page_title(_('Password Reset')) }}{% endblock %}

{% block content %}
<div class="primary" role="main">

  {% if validlink %}
    <h2>{{ _('Password Reset') }}</h2>
    <div class="primary featured">
      <form method="post" action="" class="featured-inner object-lead user-input">
        {{ csrf() }}
        <fieldset>
          <ul>
            <li>
              <label for="id_new_password1">
                {{ _('New password') }} <abbr class="req" title="{{ _('required') }}">*</abbr>
              </label>
              {{ form.new_password1|safe }}
              {{ form.new_password1.errors|safe }}
            </li>
            <li>
              <label for="id_new_password2">
                {{ _('Confirm password') }} <abbr class="req" title="{{ _('required') }}">*</abbr>
              </label>
              {{ form.new_password2|safe }}
              {{ form.new_password2.errors|safe }}
            </li>
          </ul>
        </fieldset>
        <div class="fm-control">
          <button type="submit">{{ _('Update') }}</button>
        </div>
      </form>
    </div>

  {% else %}

    <div class="notification-box error">
      <h2>{{ _('Password reset unsuccessful') }}</h2>
      <div>{{ _('The password reset link was invalid, possibly because it has already been used.  Please request a new password reset.') }}</div>
    </div>

  {% endif %}

</div>
{% endblock content %}
