{% extends "base.html" %}
{% from 'includes/forms.html' import required %}

{% block title %}{{ page_title(_('New User Registration')) }}{% endblock %}
{% block js %}
<script type="text/javascript" src="{{ settings.RECAPTCHA_URL }}"></script>
{% endblock %}
{% block content %}

<div class="primary" role="main">
  <h2>{{ _('Register') }}</h2>
  <div class="primary featured">
    {% include "messages.html" %}
    {% if form %}
      <form method="post" action="" class="featured-inner object-lead user-input">
        {{ csrf() }}
        <fieldset>
          <ul>
            <li>
              <label for="id_username">{{ _('Username') }} {{ required() }}</label>
              {{ form.username|safe }}
              {{ form.username.errors|safe }}
            </li>
            <li>
              <label for="id_display_name">{{ _('Display name') }}</label>
              {{ form.display_name|safe }}
              {{ form.display_name.errors|safe }}
            </li>
            <li>
              <label for="id_homepage">{{ _('Homepage') }}</label>
              {{ form.homepage|safe }}
              {{ form.homepage.errors|safe }}
            </li>
            <li>
              <label for="id_email">{{ _('Email Address') }} {{ required() }}</label>
              {{ form.email|safe }}
              {{ form.email.errors|safe }}
            </li>
            <li class="check">
              <label for="id_emailhidden" class="check">
                {{ form.emailhidden|safe }}
                {{ _('Hide email address from other users') }}
              </label>
              {{ form.emailhidden.errors|safe }}
            </li>
            <li>
              <label for="id_password">{{ _('Password') }} {{ required() }}</label>
              {{ form.password|safe }}
              {{ form.password.errors|safe }}
            </li>
            <li>
              <label for="id_password2">{{ _('Confirm password') }} {{ required() }}</label>
              {{ form.password2|safe }}
              {{ form.password2.errors|safe }}
            </li>
            <li>
            {% if settings.RECAPTCHA_PRIVATE_KEY %}
            <label for="recaptcha_response_field">
              {{ _('Are you human?') }} {{ required() }}
            </label>
            {% trans %}
              <p>
                Please enter <strong>both words</strong> below,
                <strong>separated by a space</strong>.
              </p>
              <p>
                If this is hard to read, you can
                <a href="#" id="recaptcha_different">try different words</a> or
                <a href="#" id="recaptcha_audio">listen to something</a> instead.
              </p>
            {% endtrans %}
            <div id="recaptcha_image"></div>
            <p>
              <input type="text" name="recaptcha_response_field"
                     id="recaptcha_response_field" size="30" />
            </p>
            <p><a href="#" id="recaptcha_help">{{ _("What's this?") }}</a></p>
            {{ form.recaptcha.errors|safe }}
            {% else %}
            <p>
              Welcome Robots, ReCaptcha has been disabled for your convenience.
              Spam at Wil.
            </p>
            {% endif %}
            </li>
          </ul>
        </fieldset>
        <div class="fm-control">
          <button type="submit">{{ _('Register') }}</button>
        </div>
      </form>
    {% endif %}
  </div>{# .primary #}
  <div class="secondary" id="register-help">
    <div class="article prose">
      <h3>{{ _('Why register?') }}</h3>
      {% trans legal="http://www.mozilla.com/about/legal.html",
               privacy="http://www.mozilla.com/privacy-policy.html" %}
          <p>Registration on AMO is <strong>not required</strong> if you
          simply want to download and install public add-ons.</p>
          <p>You only need to register if:</p>
            <ul>
              <li>You want to submit reviews for add-ons</li>
              <li>You want to keep track of your favorite add-on collections or create one yourself</li>
              <li>You are an add-on developer and want to upload your add-on for hosting on AMO</li>
            </ul>
          <p>Upon successful registration, you will be sent a confirmation
          email to the address you provided. Please follow the instructions
          there to confirm your account.</p><p>If you like, you can read our
          <a href="{{ legal }}" title="Legal Notices">Legal Notices</a> and
          <a href="{{ privacy }}" title="Privacy Policy">Privacy Policy</a>.</p>
      {% endtrans %}
    </div>
</div>{# .secondary #}
</div>{# .primary #}

{% endblock content %}
