<form method="post" action="{{ url('users.abuse', profile.pk) }}">
  <fieldset class="abuse">
    {% if hide %}
    <legend><a href="{{ remora_url('developers/docs/policies/contact') }}">{{ _('Report user') }}</a></legend>
    {% endif %}
    <ol {% if hide %}class="hide"{% endif %}>
      <li>
        <p>{% trans %}Please describe why you are reporting this user,
        such as for spam or an inappropriate picture.{% endtrans %}</p>
      </li>
      <li>
        {{ csrf() }}
        {% if abuse_form.has_recaptcha %}
          {{ recaptcha(abuse_form) }}
        {% endif %}
        {{ abuse_form.text|safe }}
        {{ abuse_form.text.errors|safe }}
      </li>
      <li>
        <button type="submit">{{ _('Send Report') }}</button>
        {% if hide %}
        or <button type="reset" class="link">{{ _('Cancel') }}</button>
        {% endif %}
      </li>
    </ol>
  </fieldset>
</form>
