<table class="{{ table_class }}">
  <caption>{{ _('Developer Information') }}</caption>
  <tbody>
    <tr>
      <th>{{ _('Name') }}</th>
      <td class="fn n">{{ profile.name }}</td>
    </tr>
    {% if profile.location %}
      <tr>
        <th>{{ _('Location') }}</th>
        <td class="adr">{{ profile.location }}</td>
      </tr>
    {% endif %}
    {% if profile.occupation %}
      <tr>
        <th>{{ _('Occupation') }}</th>
        <td class="role">{{ profile.occupation }}</td>
      </tr>
    {% endif %}
    {% if profile.homepage %}
      <tr>
        <th>{{ _('Homepage') }}</th>
        <td><a class="url" href="{{ profile.homepage|external_url }}">
          {{ profile.homepage }}</a></td>
      </tr>
    {% endif %}
    {% if not profile.emailhidden %}
      <tr>
        <th>{{ _('Email address') }}</th>
        <td>{{ emaillink(profile.email) }}</td>
      </tr>
    {% endif %}
    <tr>
      <th>{{ _('User since') }}</th>
      <td>{{ profile.created|datetime }}</td>
    </tr>
    <tr>
      <th>
        {{ _('Number of add-ons developed') }}
      </th>
      <td class="num-addons">
        {% with num=profile.num_addons_listed %}
          {% if num == 0 %}
             {{ _('{0} add-ons')|f(num) }}
          {% else %}
            <a href="{{ '#my-submissions' if is_profile else profile.get_url_path() }}">
              {% trans num=num %}
                {{ num }} add-on
              {% pluralize %}
                {{ num }} add-ons
              {% endtrans -%}
            </a>
          {% endif %}
        {% endwith %}
      </td>
    </tr>
    <tr>
      <th>
        {{ _("Average rating of developer's add-ons") }}
      </th>
      <td>{{ profile.averagerating|float|stars }}</td>
    </tr>
  </tbody>
</table>
