<!DOCTYPE html>
<html lang="{{ LANG }}" dir="{{ DIR }}">
  <head>
    {% block site_css %}
      {{ css('zamboni/mobile') }}
    {% endblock %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, maximum-scale=1">
    <title>{% block title %}{{ _('Mozilla Add-ons') }}{% endblock %}</title>

    <link rel="shortcut icon" type="image/x-icon"
          href="{{ media('img/favicon.ico') }}">

    {% block rss_feed %}{% endblock %}

    {# L10n: {0} is an application, like Firefox. #}
    <link title="{{ _('{0} Add-ons')|f(APP.pretty) }}"
          rel="search" type="application/opensearchdescription+xml"
          href="{{ url('amo.opensearch') }}" />

    {% include "mobile/head_debug.html" %}

    {% block extrahead %}{% endblock %}
  </head>
  <body class="html-{{ DIR }} {{ request.APP.short }} lang-{{ LANG }} {% block bodyclass %}{% endblock %}"
        data-app="{{ request.APP.short }}"
        data-appname="{{ request.APP.pretty }}"
        data-appid="{{ request.APP.id }}"
        data-min-beta-version="{{ settings.MIN_BETA_VERSION }}"
        data-anonymous="{{ (not request.user.is_authenticated())|json }}"
        data-readonly="{{ settings.READ_ONLY|json }}"
        data-media-url="{{ MEDIA_URL }}"
        {% if waffle.switch('marketplace') and request.amo_user %}
          data-purchases="{{ request.amo_user.purchase_ids()|join(',') }}"
        {% endif %}
        {% if request.ALLOWS_PJAX %}
          data-use-pjax="1"
          data-pjax-container="{{ settings.PJAX_SELECTOR }}"
        {% endif %}
        {% block bodyattrs %}{% endblock %}>

    <div id="page">
      {% block header %}
        <header class="mini-header">
          {% include "mobile/header.html" %}
          <hgroup>
            <h1 class="site-title">
              {% set appicon = 'firefox' if request.APP in (amo.MOBILE, amo.ANDROID) else request.APP.short %}
              <a href="{{ url('home') }}"
                title="{{ _('Return to the {0} Add-ons homepage')|f(request.APP.pretty) }}">
                <img alt="{{ request.APP.pretty }}" src="{{ media('img/zamboni/app_icons/' + appicon + '.png') }}">
                {# TODO(gkoberger): This is a temp change; fix properly #}
                {% if settings.APP_PREVIEW %}
                  Mobile Apps
                {% else %}
                  {{ _('Mobile Add-ons') }}
                {% endif %}
              </a>
            </h1>
          </hgroup>
          {% if not (settings.APP_PREVIEW or WEBAPP) %}
            <div class="get-fx-message">
              {{ _('You need Firefox to install add-ons. <a href="http://mozilla.com/mobile">Learn More&nbsp;&raquo;</a>') }}
            </div>
          {% endif %}
          <nav>
            <ul>
              {% block back_link %}
                <li>
                  <a href="{{ url('home') }}" id="home">
                    <svg width="18" height="16"><polygon fill="#447BC4" points="9,0 18,9 15,9 15,16 11,16 11,11 7,11 7,18 3,16 3,9 0,9"/></svg>
                    {{ _('Mobile Home') }}</a>
                </li>
              {% endblock %}
            </ul>
            {% block aux_nav %}
              {% include "mobile/header_auth.html" %}
            {% endblock %}
          </nav>
        </header>
      {% endblock %}

      <section id="content" class="{% block contentclass %}{% endblock %}">
        {% block page %}
        {% endblock page %}
      </section>
    </div>
    <footer id="footer">
      {% include "includes/lang_switcher.html" %}
      {% block footer %}
        <a class="desktop-link" href="#">{{ _('View full site') }}</a>
        <p id="footer-links">
          <a href="http://mozilla.com/privacy-policy.html">{{ _('Privacy Policy') }}</a> &nbsp;|&nbsp;
          <a href="http://mozilla.com/about/legal.html">{{ _('Legal Notices') }}</a>
        </p>
      {% endblock footer %}
    </footer>
    {% block staging %}
    {% endblock %}
    {# js #}
    {% block site_js %}
      <script src="{{ static(url('jsi18n')) }}"></script>
      {{ js('zamboni/mobile') }}
      {% if waffle.switch('browserid-login') %}
        <script async defer src="{{ settings.BROWSERID_JS_URL }}"></script>
      {% endif %}
    {% endblock %}
    {% block js %}{% endblock %}
  </body>
</html>
