{% extends "qunit/base.html" %}

{% block init_scripts %}
  {{ js('impala') }}
  {{ js('zamboni/devhub') }}
{% endblock %}

{% block fixtures %}
  {# The following HTML can be applied to #qunit-fixture in test setup #}

  <div id="exists">
    <span class="exists"></span>
  </div>

  <div id="csrf-template">
    <input id="csrfmiddlewaretoken" value="<csrf-from-input>">
  </div>

  <div id="l10n-translation">
    <div data-name="summary" class="trans" id="trans-summary">
      <textarea lang="en-us" name="summary_en-us" cols="40" rows="10"
                id="id_summary_0" style="display: block;">
      Firebug integrates with Firefox to put a wealth of development tools...
      </textarea>
      <textarea lang="ja" name="summary_ja" cols="40" rows="10" id="id_summary_1"
                style="display: none;">
      Firebug は、Web ページを閲覧中にクリック一つで使える豊富な開発ツールを Firefox に統合します。あなたはあらゆる
      </textarea>
    </div>
  </div>
  <div id="l10n-menu">
    <ul>
      <li><a href="#en-us" class="default-locale">English (US)</a></li>
      <li><a href="#ja">日本語</a></li>
      <li><a href="#id">Bahasa Indonesia</a></li>
    </ul>
  </div>

  <div id="buttons">
    <h2 class="addon"><span class="version"></span></h2>
    <div id="addon-summary">
        <table>
            <tr class="addon-compatible"><td></td></tr>
            <tr class="addon-updated"><td><time></time></td></tr>
        </table>
    </div>
    <div class="install-shell">
        <div class="install featuredaddon"
             data-version-supported="false">
        </div>
    </div>
    <div class="backup-button hidden">
        <div class="install-shell">
            <div class="install featuredaddon"
                 data-min=""
                 data-max=""
                 data-version="0.2"
                 data-compatible-apps="Fx 1.0"
                 data-lastupdated-isotime="today"
                 data-lastupdated-datetime="today"
                 data-version-supported="true">
            </div>
        </div>
    </div>
  </div>
    <div id="files-wrapper">
      <div id="files">
      <ul>
        <li>
            <a class="file" href="">someurl</a>
        </li>
        <li>
            <a class="directory closed" href="">foo</a>
        </li>
        <ul class="js-hidden">
            <li>
                <a class="file" href="someurl">foo/bar.txt</a>
            </li>
        </ul>
      </ul>
      </div>
    </div>
    <div id="paypal">
        <div class="contribute">
            <a href="/paykey?src=direct" class="suggested-amount">Contribute</a>
        </div>
    </div>
    <div id="password-strength">
        <input type="password" data-min-length="8" />
    </div>

  <div id="personas">
    <legend>Persona License</legend>
    <input type="hidden" name="license" id="id_license">
    <div id="cc-chooser">
      <h3>Can others share your Persona, as long as you're given credit?</h3>
      <ul>
        <li><label><input type="radio" name="cc-attrib" value="0"> Yes</label></li>
        <li><label><input type="radio" name="cc-attrib" value="1"> No</label></li>
      </ul>
      <h3>Can others make commercial use of your Persona?</h3>
      <ul>
        <li><label><input type="radio" name="cc-noncom" value="0"> Yes</label></li>
        <li><label><input type="radio" name="cc-noncom" value="1"> No</label></li>
      </ul>
      <h3>Can others create derivative works from your Persona?</h3>
      <ul>
        <li><label><input type="radio" name="cc-noderiv" value="0"> Yes</label></li>
        <li><label><input type="radio" name="cc-noderiv" value="1"> Yes, as long as they share alike</label></li>
        <li><label><input type="radio" name="cc-noderiv" value="2"> No</label></li>
      </ul>
      <div id="persona-license">
        <p>Your Persona will be released under the following license:</p>
        <p id="cc-license" class="license icon"></p>
        <p class="select-license">
          <a href="#">Select a different license.</a>
        </p>
      </div>
    </div>
    <div id="persona-license-list" class="hidden">
      <h3>Select a license for your Persona.</h3>
      <ul>
        <li><label><input type="radio" name="license" value="7"> All Rights Reserved</label></li>
        <li><label><input type="radio" name="license" value="9"> Creative Commons Attribution 3.0</label></li>
        <li><label><input type="radio" name="license" value="10"> Creative Commons Attribution-NonCommercial 3.0</label></li>
        <li><label><input type="radio" name="license" value="11"> Creative Commons Attribution-NonCommercial-NoDerivs 3.0</label></li>
        <li><label><input type="radio" name="license" value="8"> Creative Commons Attribution-Noncommercial-Share Alike 3.0</label></li>
        <li><label><input type="radio" name="license" value="12"> Creative Commons Attribution-NoDerivs 3.0</label></li>
        <li><label><input type="radio" name="license" value="13"> Creative Commons Attribution-ShareAlike 3.0</label></li>
      </ul>
    </div>
  </div>

  <div id="acr">
    <div class="site-tip" id="acr-pitch" style="display: none">
      Some ACR propaganda goes here. <a href="#" class="close">x</a>
    </div>
    <div class="install-shell">
      <div class="install featuredaddon" data-addon="1865"
           data-name="Adblock Plus" data-min="3.0" data-max="9.0">
        <p class="install-button">
          <a data-hash="sha256:2bb766a" class="button download">Download Now</a>
        </p>
      </div>
    </div>
  </div>

  <div id="acr-override" class="listing">
    <div class="items">
      <div class="item addon">
        <div class="install-shell">
          <div data-addon="1865" data-name="Adblock Plus" data-min="1.0" data-max="99.9">
            <p class="install-button">
              <a data-hash="sha256:2bb766a" class="button download" href=""><span>Download Now</span></a>
            </p>
          </div>
        </div>
      </div>
      <div class="item addon">
        <div class="install-shell">
          <div data-addon="3615" data-name="Delicious Bookmarks" data-min="3.6" data-max="7.*">
            <p class="install-button">
              <a data-hash="sha256:2bb766a" class="button download" href=""><span>Download Now</span></a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="browserid-test">
    <section class="primary"></section>
      <a class="browserid-login" href="#"
         data-url="/nowhere">BrowserID Login</a>
  </div>
  <div id="upsell-test">
    <form action="/en-US/developers/addon/status-watch/payments" method="post">
      <div class="brform">
        <div><ul>
            <li><label for="id_do_upsell_0"><input type="radio" name="do_upsell" value="0" id="id_do_upsell_0" checked="checked"> I don't have a free add-on to associate.</label></li>
            <li><label for="id_do_upsell_1"><input type="radio" name="do_upsell" value="1" id="id_do_upsell_1"> This is a premium upgrade to:</label></li>
        </ul>
        </div>
        <div class="indent">
          <div><select id="id_free" name="free">
              <option selected="selected" value=""></option>
          </select></div>
          <div><textarea name="text" cols="40" rows="10" id="id_text"></textarea></div>
        </div>
      </div>
      <button type="submit">Save Changes</button>
    </form>
  </div>

  <div id="search-suggestions">
    <form id="search" action="/en-us/firefox/search/">
      <input id="search-q" type="text" name="q" required autocomplete="off" title=""
             class="text placeholder" placeholder="search for add-ons" value="">
      <input type="hidden" name="cat" value="all" id="id_cat">
      <div id="site-search-suggestions" data-src="/askjeeves"></div>
    </form>
  </div>

  <div id="pjax-search">
    <div id="search-facets">
      <ul class="facets island pjax-trigger"></ul>
    </div>
    <div id="pjax-results"></div>
  </div>

  <div id="balloons">
    <div class="site-balloon" id="site-noinstall-apps">
      <p>
        It seems your browser does not support Open Web Apps. Consider
        downloading <a href="#">Mozilla Firefox</a>,
        a fast, free way to surf the Web!
      </p>
      <a href="#" class="close">Close</a>
    </div>
  </div>

  <div id="amo-promos">
    <section id="promos" class="island">
      <div>
        <ul class="slider">
          <li class="panel"><section id="starter"></section></li>
          <li class="panel"><section id="ryff"></section></li>
        </ul>
      </div>
    </section>
  </div>

  <div id="apps-error-msg">
    {% include 'addons/includes/apps_error_msg.html' %}
  </div>

  <!-- Install button tests - it's possible not all combinations are being tested here -->
  <!-- app, warning, mobile -->
  <div id="install-button-warning">
    {% with addon={'is_premium': Mock(return_value=False),
                   'is_webapp': Mock(return_value=True),
                   'can_be_purchased': Mock(return_value=False)},

            b={'show_warning': True,
               'addon': {'get_url_path': Mock(return_value='http://testurl.com')},
               'show_eula': False,
               'show_contrib': False,
               'xpiurl': 'http://xpiurl.com',
               'button_class': ['download', 'prominent']},

            link={'url': 'http://testurl.com',
                  'os': {'name': 'windows'},
                  'file': {'hash': '1337'}},

            shared_url=Mock(return_value='http://sharedurl.com'),
            waffle={'switch': Mock(return_value=False)},
            request={'MOBILE': True} %}

      {% include 'addons/includes/install_button.html' %}
    {% endwith %}
  </div>

  <!-- app, eula, mobile -->
  <div id="install-button-eula">
    {% with addon={'is_premium': Mock(return_value=False),
                   'is_webapp': Mock(return_value=True),
                   'can_be_purchased': Mock(return_value=False)},

            b={'show_warning': False,
               'addon': {'get_url_path': Mock(return_value='http://testurl.com')},
               'show_eula': True,
               'show_contrib': False,
               'xpiurl': 'http://xpiurl.com',
               'button_class': ['download', 'prominent']},

            link={'url': 'http://testurl.com',
                  'os': {'name': 'windows'},
                  'file': {'hash': '1337'}},

            shared_url=Mock(return_value='http://sharedurl.com'),
            waffle={'switch': Mock(return_value=False)},
            request={'MOBILE': True} %}

      {% include 'addons/includes/install_button.html' %}
    {% endwith %}
  </div>

  <!-- premium, mobile -->
  <div id="install-button-premium">
    {% with addon={'is_premium': Mock(return_value=True),
                   'is_webapp': Mock(return_value=False),
                   'can_be_purchased': Mock(return_value=False)},

            b={'show_warning': False,
               'addon': {'get_url_path': Mock(return_value='http://testurl.com')},
               'show_eula': False,
               'show_contrib': False,
               'xpiurl': 'http://xpiurl.com',
               'button_class': ['download', 'prominent']},

            link={'url': 'http://testurl.com',
                  'os': {'name': 'windows'},
                  'file': {'hash': '1337'}},

            shared_url=Mock(return_value='http://sharedurl.com'),
            waffle={'switch': Mock(return_value=False)},
            request={'MOBILE': True} %}

      {% include 'addons/includes/install_button.html' %}
    {% endwith %}
  </div>

  <!-- contrib, mobile -->
  <div id="install-button-contrib">
    {% with addon={'is_premium': Mock(return_value=False),
                   'is_webapp': Mock(return_value=False),
                   'can_be_purchased': Mock(return_value=False)},

            b={'show_warning': False,
               'addon': {'get_url_path': Mock(return_value='http://testurl.com')},
               'show_eula': False,
               'show_contrib': True,
               'xpiurl': 'http://xpiurl.com',
               'button_class': ['download', 'prominent']},

            link={'url': 'http://testurl.com',
                  'os': {'name': 'windows'},
                  'file': {'hash': '1337'}},

            shared_url=Mock(return_value='http://sharedurl.com'),
            waffle={'switch': Mock(return_value=False)},
            request={'MOBILE': True} %}

      {% include 'addons/includes/install_button.html' %}
    {% endwith %}
  </div>

  <!-- can be purchased, mobile -->
  <div id="install-button-purchasable">
    {% with addon={'is_premium': Mock(return_value=False),
                   'is_webapp': Mock(return_value=False),
                   'can_be_purchased': Mock(return_value=True)},

            b={'show_warning': False,
               'addon': {'get_url_path': Mock(return_value='http://testurl.com')},
               'show_eula': False,
               'show_contrib': False,
               'xpiurl': 'http://xpiurl.com',
               'button_class': ['download', 'prominent']},

            link={'url': 'http://testurl.com',
                  'os': {'name': 'windows'},
                  'file': {'hash': '1337'}},

            shared_url=Mock(return_value='http://sharedurl.com'),
            waffle={'switch': Mock(return_value=False)},
            request={'MOBILE': True} %}

      {% include 'addons/includes/install_button.html' %}
    {% endwith %}
  </div>

  <!-- marketplace, mobile, can be purchased -->
  <div id="install-button-marketplace">
    {% with addon={'is_premium': Mock(return_value=False),
                   'is_webapp': Mock(return_value=False),
                   'can_be_purchased': Mock(return_value=True)},

            b={'show_warning': False,
               'addon': {'get_url_path': Mock(return_value='http://testurl.com')},
               'show_eula': False,
               'show_contrib': False,
               'xpiurl': 'http://xpiurl.com',
               'button_class': ['download', 'prominent']},

            link={'url': 'http://testurl.com',
                  'os': {'name': 'windows'},
                  'file': {'hash': '1337'}},

            shared_url=Mock(return_value='http://sharedurl.com'),
            waffle={'switch': Mock(return_value=True)},
            request={'MOBILE': True} %}

      {% include 'addons/includes/install_button.html' %}
    {% endwith %}
  </div>

  <!-- app, marketplace, mobile, can be purchased -->
  <div id="install-button-app-marketplace">
    {% with addon={'is_premium': Mock(return_value=False),
                   'is_webapp': Mock(return_value=True),
                   'can_be_purchased': Mock(return_value=True)},

            b={'show_warning': False,
               'addon': {'get_url_path': Mock(return_value='http://testurl.com')},
               'show_eula': False,
               'show_contrib': False,
               'xpiurl': 'http://xpiurl.com',
               'button_class': ['download', 'prominent']},

            link={'url': 'http://testurl.com',
                  'os': {'name': 'windows'},
                  'file': {'hash': '1337'}},

            shared_url=Mock(return_value='http://sharedurl.com'),
            waffle={'switch': Mock(return_value=True)},
            request={'MOBILE': True} %}

      {% include 'addons/includes/install_button.html' %}
    {% endwith %}
  </div>

  <!-- app, premium, mobile -->
  <div id="install-button-app-premium">
    {% with addon={'is_premium': Mock(return_value=True),
                   'is_webapp': Mock(return_value=True),
                   'can_be_purchased': Mock(return_value=False)},

            b={'show_warning': False,
               'addon': {'get_url_path': Mock(return_value='http://testurl.com')},
               'show_eula': False,
               'show_contrib': False,
               'xpiurl': 'http://xpiurl.com',
               'button_class': ['download', 'prominent']},

            link={'url': 'http://testurl.com',
                  'os': {'name': 'windows'},
                  'file': {'hash': '1337'}},

            shared_url=Mock(return_value='http://sharedurl.com'),
            waffle={'switch': Mock(return_value=False)},
            request={'MOBILE': True} %}

      {% include 'addons/includes/install_button.html' %}
    {% endwith %}
  </div>

  <!-- app, contrib, mobile -->
  <div id="install-button-app-contrib">
    {% with addon={'is_premium': Mock(return_value=False),
                   'is_webapp': Mock(return_value=True),
                   'can_be_purchased': Mock(return_value=False)},

            b={'show_warning': False,
               'addon': {'get_url_path': Mock(return_value='http://testurl.com')},
               'show_eula': False,
               'show_contrib': True,
               'xpiurl': 'http://xpiurl.com',
               'button_class': ['download', 'prominent']},

            link={'url': 'http://testurl.com',
                  'os': {'name': 'windows'},
                  'file': {'hash': '1337'}},

            shared_url=Mock(return_value='http://sharedurl.com'),
            waffle={'switch': Mock(return_value=False)},
            request={'MOBILE': True} %}

      {% include 'addons/includes/install_button.html' %}
    {% endwith %}
  </div>

  <!-- app, can be purchased, mobile -->
  <div id="install-button-app-purchasable">
    {% with addon={'is_premium': Mock(return_value=False),
                   'is_webapp': Mock(return_value=True),
                   'can_be_purchased': Mock(return_value=True)},

            b={'show_warning': False,
                'addon': {'get_url_path': Mock(return_value='http://testurl.com')},
                'show_eula': False,
                'show_contrib': False,
                'xpiurl': 'http://xpiurl.com',
                'button_class': ['download', 'prominent']},

            link={'url': 'http://testurl.com',
                  'os': {'name': 'windows'},
                  'file': {'hash': '1337'}},

            shared_url=Mock(return_value='http://sharedurl.com'),
            waffle={'switch': Mock(return_value=False)},
            request={'MOBILE': True} %}

      {% include 'addons/includes/install_button.html' %}
    {% endwith %}
  </div>

  <!-- marketplace, app, warning, mobile -->
  <div id="install-button-mp-warning">
    {% with addon={'is_premium': Mock(return_value=False),
                   'is_webapp': Mock(return_value=True),
                   'can_be_purchased': Mock(return_value=False)},

            b={'show_warning': True,
               'addon': {'get_url_path': Mock(return_value='http://testurl.com')},
               'show_eula': False,
               'show_contrib': False,
               'xpiurl': 'http://xpiurl.com',
               'button_class': ['download', 'prominent']},

            link={'url': 'http://testurl.com',
                  'os': {'name': 'windows'},
                  'file': {'hash': '1337'}},

            shared_url=Mock(return_value='http://sharedurl.com'),
            waffle={'switch': Mock(return_value=True)},
            request={'MOBILE': True} %}

      {% include 'addons/includes/install_button.html' %}
    {% endwith %}
  </div>

  <!-- marketplace, app, eula, mobile -->
  <div id="install-button-mp-eula">
    {% with addon={'is_premium': Mock(return_value=False),
                   'is_webapp': Mock(return_value=True),
                   'can_be_purchased': Mock(return_value=False)},

            b={'show_warning': False,
               'addon': {'get_url_path': Mock(return_value='http://testurl.com')},
               'show_eula': True,
               'show_contrib': False,
               'xpiurl': 'http://xpiurl.com',
               'button_class': ['download', 'prominent']},

            link={'url': 'http://testurl.com',
                  'os': {'name': 'windows'},
                  'file': {'hash': '1337'}},

            shared_url=Mock(return_value='http://sharedurl.com'),
            waffle={'switch': Mock(return_value=True)},
            request={'MOBILE': True} %}

      {% include 'addons/includes/install_button.html' %}
    {% endwith %}
  </div>

  <!-- marketplace, premium, mobile -->
  <div id="install-button-mp-premium">
    {% with addon={'is_premium': Mock(return_value=True),
                   'is_webapp': Mock(return_value=False),
                   'can_be_purchased': Mock(return_value=False)},

            b={'show_warning': False,
               'addon': {'get_url_path': Mock(return_value='http://testurl.com')},
               'show_eula': False,
               'show_contrib': False,
               'xpiurl': 'http://xpiurl.com',
               'button_class': ['download', 'prominent']},

            link={'url': 'http://testurl.com',
                  'os': {'name': 'windows'},
                  'file': {'hash': '1337'}},

            shared_url=Mock(return_value='http://sharedurl.com'),
            waffle={'switch': Mock(return_value=True)},
            request={'MOBILE': True} %}

      {% include 'addons/includes/install_button.html' %}
    {% endwith %}
  </div>

  <!-- marketplace, contrib, mobile -->
  <div id="install-button-mp-contrib">
    {% with addon={'is_premium': Mock(return_value=False),
                   'is_webapp': Mock(return_value=False),
                   'can_be_purchased': Mock(return_value=False)},

            b={'show_warning': False,
               'addon': {'get_url_path': Mock(return_value='http://testurl.com')},
               'show_eula': False,
               'show_contrib': True,
               'xpiurl': 'http://xpiurl.com',
               'button_class': ['download', 'prominent']},

            link={'url': 'http://testurl.com',
                  'os': {'name': 'windows'},
                  'file': {'hash': '1337'}},

            shared_url=Mock(return_value='http://sharedurl.com'),
            waffle={'switch': Mock(return_value=True)},
            request={'MOBILE': True} %}

      {% include 'addons/includes/install_button.html' %}
    {% endwith %}
  </div>

{% endblock %}
