{% extends "base.html" %}

{% block title %}{{ page_title(_('Create a New Collection')) }}{% endblock %}
{% block bodyclass %}collection-create{% endblock %}
{% block content %}

<div class="primary" role="main">
  <header>
    {{ breadcrumbs([ (remora_url('collections'), _('Collections')),]) }}

    <h2>{{ _('Create a New Collection') }}</h2>
  </header>

  {% include 'bandwagon/includes/addedit_errors.html' %}

  <div class="featured">
    <div class="featured-inner">
      <form method="post" action="{{ url('collections.add') }}"
            enctype="multipart/form-data">
        {% include 'bandwagon/includes/addedit.html' %}
        {% include 'bandwagon/includes/addon_selector.html' %}

        <p class="note">
          {% trans legal='http://www.mozilla.com/about/legal.html#site' %}
            As noted in our
            <a href="{{ legal }}">Legal Notices</a>, individual collection
            arrangements are governed by the Creative Commons Attribution
            Share-Alike License
          {% endtrans %}
        </p>

        <p>
          <input type="submit" value="{{ _('Create Collection') }}">
        </p>
      </form>
    </div>
  </div>
</div>
<div class="secondary">
  {% include 'bandwagon/includes/collection_sidebar.html' %}
</div>

{% endblock %}
