<div id="collections-new" class="collections-details">
  <h3>{{ _('Start a New Collection') }}</h3>

  <form>
    <fieldset>
      {{ field(form.name, _('Name:')) }}
      {% set slug_base = url('collections.user', user.get_profile().username, add_prefix=False) %}
      <p id="collection-form-slug">
        {{ form.errors['slug']|safe }}
        <label>{{ form.slug.label|safe }}</label>
        <span id="slug_edit"><span>{{ slug_base }}</span>{{ form.slug|safe }}</span>
        <span id="slug_readonly">
          {{ slug_base }}<span id="slug_value"></span>
          <a id="edit_slug" href="#">{{ _('Edit') }}</a>
        </span>
      </p>
      <p>
        <label for="id_description">{{ form.description.label|safe }}</label> {{ _('(optional)') }}
        {{ form.description|safe }}
      </p>
       <label>{{ form.listed.label }}</label>
       {{ form.listed|safe }}
    </fieldset>

    <p class="note">
      {% trans legal='http://www.mozilla.com/about/legal.html#site' %}
        As noted in our
        <a href="{{ legal }}">Legal Notices</a>, individual collection
        arrangements are governed by the Creative Commons Attribution
        Share-Alike License
      {% endtrans %}
    </p>


    <p>
      <input type="submit" value="{{ _('Create Collection') }}">
      {% trans %}or <a id="collections-new-cancel" href="#">Cancel</a>{% endtrans %}
    </p>
  </form>
</div>
