{% extends "base.html" %}

{% set titles = {
    'featured': _('Featured Collections'),
    'popular': _('Popular Collections'),
    'rating': _('Highest Rated Collections'),
    'created': _('Recently Added Collections'),
} %}

{% set base_url = url('collections.list') %}

{% block title %}{{ page_title(titles[filter.field]) }}{% endblock %}

{% block extrahead %}{{ category_arrow(filter.field, prefix='p') }}{% endblock %}

{% block content %}
<div class="primary">
  {% if request.GET %}
    <header>
      {% set crumbs = [(url('collections.list'), _('Collections')),
                       (None, filter.title)] %}
      {{ breadcrumbs(crumbs) }}
      <h2>{{ titles[filter.field] }}</h2>
    </header>
  {% else %}
    <div class="featured">
      <div class="featured-inner collections-landing">
        {% set crumbs = [(None, _('Collections'))] %}
        {{ breadcrumbs(crumbs) }}
        <h2>{{ _('Collections') }}</h2>
        <p>
          {% trans url=url('collections.add') %}
            Collections are groups of related add-ons that anyone can create and
            share. Explore collections created by other users or
            <a href="{{ url }}">create your own</a>.
          {% endtrans %}
        </p>
      </div>
    </div>
  {% endif %}
  <div class="featured listing">
    {{ addon_listing_header(base_url, filter.opts, filter.field,
                            show_unreviewed=False) }}
    <div class="featured-inner">
      {{ collection_listing_items(collections.object_list,
                                  show_weekly=filter.field == 'popular',
                                  show_date=filter.field) }}
    </div>
    {% if collections.has_other_pages() %}
      <div class="listing-footer">{{ collections|paginator }}</div>
    {% endif %}
  </div>
</div>

<div class="secondary">
  {% include 'bandwagon/includes/collection_sidebar.html' %}

  <div>
    <h3>{{ _('Add-on Collector') }}</h3>
    <p>{% trans app=request.APP.pretty %}
      <img id="addon-collector-logo" src="{{ MEDIA_URL }}img/amo2009/illustrations/logo-collections-download-146x159.png"
           width="146" height="159">
      Get updates on followed collections or manage your own collections directly
      from {{ app }} with this add-on.
    {% endtrans %}</p>
    <a href="{{ remora_url('/pages/collector') }}" class="more-info n">
      {{ _('Check out Add-on Collector') }}</a>
  </div>
</div>
{% endblock %}
