{% for c in collections %}
<div class="item">
  <div class="item-info">
    <ul>
      <li>{{ barometer(c) }}</li>
      <li class="subscribers">
        {% if show_weekly %}
          {% trans cnt=c.weekly_subscribers, num=c.weekly_subscribers|numberfmt %}
            <strong>{{ num }}</strong> new watcher
          {% pluralize %}
            <strong>{{ num }}</strong> new watchers
          {% endtrans %}
        {% else %}
          {# L10n: People "watch" collections to get notified of updates.
                   Like Twitter followers. #}
          {% trans cnt=c.subscribers, num=c.subscribers|numberfmt %}
            <strong>{{ num }}</strong> watcher
          {% pluralize %}
            <strong>{{ num }}</strong> watchers
          {% endtrans %}
        {% endif %}
      </li>
      <li class="modified">
        {{ _('Updated {0}')|f(c.modified|datetime) }}
      </li>
    </ul>
    {% if request.user.is_authenticated() %}
      <div class="collection_widgets">
        <a title="{{ _('Stop Watching') if c.is_subscribed(user) else _('Watch this Collection') }}"
           class="watch{{ ' watching' if c.is_subscribed(user) }}"
           href="{{ c.get_url_path() + 'watch' }}"></a>
        {#
        <a title="{{ _('Share this Collection') }}" class="share" href="#"></a>
        <a title="{{ _('Copy this Collection') }}" class="copy" href="#"></a>
        #}
        {% if request.check_ownership(c, require_owner=False) %}
          <a title="{{ _('Edit this Collection') }}" class="edit" href="{{ c.edit_url() }}"></a>
        {% endif %}
      </div>
    {% endif %}
  </div>
  <h3>
    <a href="{{ c.get_url_path() }}">
      <img class="icon" width="32" height="32" src="{{ c.icon_url }}">
      {{ c.name }}
    </a>
    <span>{{ _('by {0}')|f(c.author|user_link)|safe }}</span>
  </h3>
  <blockquote>{{ c.description }}</blockquote>
</div>
{% endfor %}
