<div class="collection_widgets{{ ' condensed' if condensed }} widgets">
{% if request.user.is_authenticated() %}
  {% set is_watching = c.id in request.amo_user.watching %}
  {% set watch_msg = _('Stop Following') if is_watching else _('Follow this Collection') %}
      <a title="{{ (_('Stop Following') if is_watching else _('Follow this Collection')) if condensed }}"
         class="widget tooltip watch{{ ' watching' if is_watching }}{{ ' condensed' if condensed }}"
         href="{{ c.watch_url() }}">{{ watch_msg if not condensed }}</a>
{% endif %}
        {{ sharing_widget(c, condensed=condensed) }}
{% if request.user.is_authenticated() %}
      {#
      <a title="{{ _('Copy this Collection') }}" class="copy" href="#"></a>
      #}
      {% if request.check_ownership(c, require_owner=False) and condensed %}
        <a title="{{ _('Edit this Collection') }}" class="widget edit tooltip" href="{{ c.edit_url() }}"></a>
      {% endif %}
{% endif %}
</div>
