{% cache pages %}
<ul class="listing-grid c {{ columns }}">
{% for page in pages %}
  {% set first_page = loop.first %}
  <section>
  {% for collection in page %}
    <li>
      <div class="item collection addon">
        <a href="{{ collection.get_url_path() }}">
          <div class="icon">
            {% if first_page %}
              <img src="{{ collection.icon_url }}">
            {% else %}
              <img data-defer-src="{{ collection.icon_url }}" src="{{ media('img/addon-icons/default-32.png') }}">
            {% endif %}
          </div>
          <div class="summary">
            <h3>{{ collection.name }}</h3>
            <p class="desc">{{ collection.description }}</p>
          </div>
        </a>
        <div class="more">
          {% trans num=collection.subscribers|numberfmt %}
            <span>{{ num }}</span> follower
          {% pluralize %}
            <span>{{ num }}</span> followers
          {% endtrans %}
        </div>
      </div>
    </li>
  {% endfor %}
  </section>
{% endfor %}
</ul>
{% endcache %}
