<div class="addon-favorite {{ faved_class }}{{ ' condensed' if condensed else '' }}"
  data-addonid="{{ addon.id }}"
  data-addurl="{{ add_url }}"
  data-removeurl="{{ remove_url }}"
  data-favedtext="{{ faved_text }}"
  data-unfavedtext="{{ unfaved_text }}"
  >
  {% if condensed %}
    <span class="msg">
      {% if is_favorite %}
        {{ faved_text }}
      {% else %}
        {{ unfaved_text }}
      {% endif %}
    </span>
  {% else %}
    <span><a class="msg" href="#">
      {% if is_favorite %}
        {{ faved_text }}
      {% else %}
        {{ unfaved_text }}
      {% endif %}
    </a></span>
  {% endif %}
</div>
