{% from "addons/listing/macros.html" import heading, item_info %}
{% set collection = collection or None %}
{% cache addons, extra=[collection] %}
{% for addon in addons %}
  <div class="item">
    {{ heading(addon, collection=collection) }}
    <div class="item-info">
      {{ install_button(addon, collection=collection) }}
      {{ item_info(addon, amo, show_added_date) }}
    </div>
    <blockquote>
      {% if addon.is_persona() %}
        {{ persona_preview(addon.persona, linked=False) }}
      {% else %}
        <div>{{ addon.summary|truncate(250)|nl2br }}</div>
      {% endif %}
      {{ support_addon(addon) }}
    </blockquote>
    {% if notes and notes[addon.id] %}
    <blockquote>
      <strong>{{ _("Collector's Note") }}</strong>
      {{ notes[addon.id] }}
    </blockquote>
    {% endif %}
  </div>
{% endfor %}
{% endcache %}
