{% for addon in addons %}
  <li class="item">
    <a href="{{ addon.get_url_path() }}">
      <img class="icon" width="32" height="32" src="{{ addon.icon_url }}">
      <h3>{{ addon.name }}</h3>
      <details>
        <span class="desc">{{ addon.summary|strip_html()|truncate(250) }}</span>
        <div>
          {% if sort in ('newest', 'created') %}
            {{ _('Added {0}')|f(addon.created|datetime) }}
          {% elif sort == 'updated' %}
            {{ _('Updated {0}')|f(addon.last_updated|datetime) }}
          {% elif sort in ('weeklydownloads', 'popular') %}
            {% with num=addon.weekly_downloads %}
              {# L10n: {0} is the number of downloads. #}
              {{ ngettext("<strong>{0}</strong> weekly download",
                          "<strong>{0}</strong> weekly downloads",
                          num)|f(num|numberfmt)|safe }}
            {% endwith %}
          {% else %}
            {% with num=addon.total_reviews %}
              {% if num %}
                {{ addon.average_rating|float|stars }}
              {% else %}
                <i>{{ _('Not Yet Rated') }}</i>
              {% endif %}
            {% endwith %}
          {% endif %}
        </div>
      </details>
      {% if src == 'search' %}
        {{ mobile_install_button(addon, show_warning=False) }}
      {% endif %}
    </a>
  </li>
{% endfor %}
