{% macro heading(addon, collection) %}
  <h3>
    {% if collection %}
      {% set collection_path = "?src=collection&collection_id=" + collection.uuid %}
    {% else %}
      {% set collection_path = "" %}
    {% endif %}

    <a href="{{ addon.get_url_path() + collection_path }}">
      <img class="icon" width="32" height="32" src="{{ addon.icon_url }}"
          alt="{{ addon.name }}">
      {{ addon.name }}</a>
    <span>
      {% trans users=users_list(addon.listed_authors) %}
        by {{ users }}
      {% endtrans %}
    </span>
  </h3>
{% endmacro %}

{% macro item_info(addon, amo, show_date) %}
  {{ addon|reviews_link }}
  {% if addon.status != amo.STATUS_LISTED %}
    <p class="downloads">
      {% with num=addon.weekly_downloads %}
        {# L10n: {0} is the number of downloads. #}
        {{ ngettext("<strong>{0}</strong> weekly download",
                    "<strong>{0}</strong> weekly downloads",
                    num)|f(num|numberfmt)|safe }}
      {% endwith %}
    </p>
    <p class="updated">
      {% if show_date in ['created', 'new', 'newest'] %}
      {{ _('Added {0}')|f(addon.created|datetime) }}
      {% elif show_date == 'updated' %}
      {{ _('Updated {0}')|f(addon.last_updated|datetime) }}
      {% endif %}
    </p>
  {% endif %}
{% endmacro %}
