{# addon, version, request #}
<div class="version {{ itemclass }}" id="version-{{ version.version }}">
  <h3><a href="{{ url('addons.versions', addon.id, version.version) }}"
        title="{{ _('Permanent link to this version') }}">
       {{ _('Version {0}', 'addon_display_header_version')|f(version.version) }}</a>
    <span title="{{ version.created|isotime }}">{{
      version.created|datetime }}</span>
    {% if version.has_files %}
      <span>{{ _('{0} KB')|f(version.all_files[0].size|int|numberfmt) }}</span>
    {% endif %}
  </h3>

  <div class="item-info">
    {{ install_button(addon, version=version) }}

    {% if version.compatible_apps %}
      <h5>{{ _('Works with:') }}</h5>
      <ul>
        {% for compat in version.compatible_apps.values() %}
          <li>{{ compat }}</li>
        {% endfor %}
      </ul>
    {% endif %}
  </div>

  <blockquote>
    <div class="prose userinput" {{ version.releasenotes|locale_html }}>
      {{ version.releasenotes|nl2br }}
    </div>
  </blockquote>

  {# License #}
  {% if version.license %}
    {% set license = version.license %}
    <h5>
      {{ _('Source Code License') }}
      {# TODO reverse URL #}
      <span><a href="{{ remora_url('/pages/faq#license') }}">
        {{ _("What's this?", 'addons_display_a_license_what') }}
      </a></span>
    </h5>
    {% if license.builtin %}
      {{ license_link(license) }}
    {% else %}
      <a href="{{ version.license_url() }}">
        {{ license.name }}</a>
    {% endif %}
  {% endif %}

  {% if addon.view_source and request.user.is_authenticated() and version.has_files %}
      {# TODO reverse URL #}
      <br/><a class="source-code" href="{{ remora_url('/files/browse/{0}'|f(version.all_files[0].pk)) }}">
        {{ _('View the source') }}</a>
  {% endif %}
  {% if show_versions_link and not addon.is_selfhosted() %}
    <nav class="further-navigation">
      <a class="more-info" href="{{ url('addons.versions', addon.id)}}">
        {{ _('View all versions') }}
      </a>
    </nav>
  {% endif %}
</div>
