{# addon, version, request #}
<div class="version {{ itemclass }}">
  {% set versions_url = url('addons.versions', addon.id) %}
  <h4><a href="{{ versions_url }}#version-{{ version.version }}"
        title="{{ _('Permanent link to this version') }}">
       {{ _('Version {0}', 'addon_display_header_version')|f(version.version) }}</a>
    &mdash;
    <span title="{{ version.created|isotime }}">{{
      version.created|datetime }}</span>
    {% if version.has_files %}
      &mdash;
      <span>{{ _('{0} KB')|f(version.all_files[0].size|int|numberfmt) }}</span>
    {% endif %}
  </h4>

  {{ install_button(addon, version=version) }}

  {% if addon.compatible_apps %}
    <h5>{{ _('Works with:') }}</h5>
    <ul>
      {% for compat in addon.compatible_apps.values() %}
        <li>{{ compat }}</li>
      {% endfor %}
    </ul>
  {% endif %}

  <div class="prose userinput" {{ version.releasenotes|locale_html }}>
    {{ version.releasenotes }}
  </div>

  {# License #}
  {% if version.license %}
    <h5>
      {{ _('Source Code License') }}
      {# TODO reverse URL #}
      <a href="{{ remora_url('/pages/developer_faq#license') }}">
        {{ _("What's this?", 'addons_display_a_license_what') }}
      </a>
    </h5>
    {# TODO reverse URL #}
    <a href="{{ remora_url('/versions/license/{0}'|f(version.id)) }}">
      {{ version.license.name }}</a>
  {% endif %}

  <ul class="further-navigation">
    {% if addon.view_source and request.user.is_authenticated() and version.has_files %}
      <li>
        {# TODO reverse URL #}
        <a href="{{ remora_url('/files/browse/{0}'|f(version.all_files[0].pk)) }}">
          {{ _('View the source') }}</a>
      </li>
    {% endif %}
    {% if show_versions_link and not addon.is_selfhosted() %}
      <li>
        <a href="{{ versions_url }}">
          {{ _('View All Versions') }}
        </a>
      </li>
    {% endif %}
  </ul>
</div>
