<!DOCTYPE html>
<html lang="{{ LANG }}" dir="{{ DIR }}">
  <head>
    {{ inline_css('zamboni/mobile') }}
    {% block site_css %}{% endblock %}
    <script></script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, maximum-scale=1">
    <title>{% block title %}{{ _('Mozilla Add-ons') }}{% endblock %}</title>

    <link rel="shortcut icon" type="image/x-icon"
          href="{{ static('img/favicon.ico') }}">

    {% block rss_feed %}{% endblock %}

    {# L10n: {0} is an application, like Firefox. #}
    <link title="{{ _('{0} Add-ons')|f(APP.pretty) }}"
          rel="search" type="application/opensearchdescription+xml"
          href="{{ url('amo.opensearch') }}" />

    {% include "mobile/head_debug.html" %}

    {% block extrahead %}{% endblock %}
  </head>
  <body class="html-{{ DIR }} mobile {{ request.APP.short }} lang-{{ LANG }} {% block bodyclass %}{% endblock %}"
        data-app="{{ request.APP.short }}"
        data-appname="{{ request.APP.pretty }}"
        data-appid="{{ request.APP.id }}"
        data-min-beta-version="{{ settings.MIN_BETA_VERSION }}"
        data-anonymous="{{ (not request.user.is_authenticated())|json }}"
        data-readonly="{{ settings.READ_ONLY|json }}"
        data-media-url="{{ MEDIA_URL }}"
        data-static-url="{{ STATIC_URL }}"
        data-fxa-config="{{ fxa_config()|json }}"
        {% block bodyattrs %}{% endblock %}>

    <div id="page">
      {% block header %}
        <header class="mini-header">
          <hgroup>
            <h1 class="site-title">
              {% set appicon = 'firefox' if request.APP in (amo.MOBILE, amo.ANDROID) else request.APP.short %}
              <a href="{{ url('home') }}">
                <img src="{{ static('img/zamboni/app_icons/' + appicon + '.png') }}" alt="">{{ _('Add-ons') }}
              </a>
            </h1>
          </hgroup>
          <div class="get-fx-message">
            {% if ios_user %}
              {{ _('Add-ons are not currently available on Firefox for iOS.') }}
            {% else %}
              {{ _('You need Firefox to install add-ons. <a href="http://mozilla.com/mobile">Learn More&nbsp;&raquo;</a>') }}
            {% endif %}
          </div>
          <nav>
            <ul>
              {% block back_link %}
                <li>
                  <a href="{{ url('home') }}" id="home">
                    <svg width="18" height="16"><polygon fill="#447BC4" points="9,0 18,9 15,9 15,16 11,16 11,11 7,11 7,18 3,16 3,9 0,9"/></svg>
                    {{ _('Mobile Home') }}</a>
                </li>
              {% endblock %}
            </ul>
            {% block aux_nav %}
              {% include "mobile/header_auth.html" %}
            {% endblock %}
          </nav>
        </header>
      {% endblock %}

      {% include 'messages.html' %}

      <section id="content" class="{% block contentclass %}{% endblock %}">
        {% block page %}
        {% endblock page %}
      </section>
    </div>
    <footer id="footer">
      {% include "includes/lang_switcher.html" %}
      {% block footer %}
        <a class="desktop-link" href="#">{{ _('View full site') }}</a>
        <p id="footer-links">
          <a href="http://www.mozilla.org/privacy/websites/">{{ _('Privacy Policy') }}</a> &nbsp;|&nbsp;
          <a href="http://www.mozilla.org/legal/">{{ _('Legal Notices') }}</a>
        </p>
      {% endblock footer %}
    </footer>
    {% block staging %}
    {% endblock %}
    {# js #}
    {% block site_js %}
      <script src="{{ CDN_HOST }}{{ cache_buster(url('jsi18n')) }}"></script>
      {{ js('zamboni/mobile') }}
    {% endblock %}
    {% block js %}{% endblock %}
  </body>
</html>
