<div class="moz-menu">
  <ul class="menu-items">
    <li><a href="http://www.mozilla.com/mobile/">{{ _('Mozilla Firefox') }}</a></li>
    <li><a href="http://www.mozilla.com/firefox/features/">{{ _('Features') }}</a></li>
    <li><a href="http://mozilla.com/firefox/">{{ _('Desktop') }}</a></li>
    <li><a href="http://addons.mozilla.org/">{{ _('Add-Ons') }}</a></li>
    <li><a href="http://support.mozilla.com/">{{ _('Support') }}</a></li>
    <li><a href="http://mozilla.org/">{{ _('Visit Mozilla') }}</a></li>
  </ul>
  <div class="tab"><a href="#">{# L10n: a link #}{{ _('menu') }}</a></div>
</div>
