{% extends 'detail/protected_app.html' %}

{% set amouser = request.amo_user if request.user.is_authenticated() else None %}
{% set can_review = product.can_review(amouser) %}
{% set purchased = amouser and product.pk in amouser.purchase_ids() %}

{% block title %}{{ mkt_page_title(product.name) }}{% endblock %}

{% block bodyclass %}detail{% endblock %}

{% block extrahead %}
  {{ super() }}
  <link rel="alternate" type="application/rss+xml" title="RSS"
   href="{{ product.get_ratings_url('list') }}format:rss">
  {% for preview in product.all_previews %}
    <link rel="prefetch" href="{{ preview.image_url }}">
  {% endfor %}
{% endblock %}

{# Breadcrumbs show just one category for now. #}
{% set cats = product.all_categories %}
{% set first_cat = cats[0] if cats else None %}

{% block content %}
  {% include 'purchase/error.html' %}
  {{ mkt_breadcrumbs(items=[(url('browse.apps'), _('Apps')),
                            (None, product.name)]) }}
{% if not (is_dev or is_admin) and not product.is_public() %}
  <section class="product-details">
    <h1>
      {% if 'id' in request.GET %}
        <b class="num">#{{ product.id }}</b>
      {% endif %}
      {{ product.name }}
    </h1>
  </section>
  {{ notification(product, amo, is_dev) }}
{% else %}
  <section class="product-details">
    {{ market_tile(product) }}
    <div class="actions">
      {% if is_dev %}
        <p><a href="{{ product.get_dev_url() }}" class="button manage wide">
          {{ _('Manage') }}</a></p>
      {% endif %}
      {% if is_reviewer %}
        <p><a href="{{ url('reviewers.apps.review', product.app_slug) }}"
              class="button good reviewer wide" target="_blank">
          {% if product.is_pending() %}{{ _('Approve / Reject') }}{% else %}{{ _('Review History') }}{% endif %}</a></p>
      {% endif %}
    </div>
  </section>
  {% if product.all_previews %}
    <section class="previews slider full">
      <div class="alt-slider">
        <div class="controls">
          <a href="#" class="prev-page"></a>
          <a href="#" class="next-page"></a>
        </div>
        <ul class="content">
          {%- for preview in product.all_previews -%}
            <li>
              <a class="screenshot thumbnail arrow{{ ' video' if preview.filetype == 'video/webm' }}"
                 href="{{ preview.image_url }}" title="{{ preview.caption }}">
                <div class="img" style="background-image:url({{ preview.thumbnail_url }})"></div>
              </a>
            </li>
          {%- endfor -%}
        </ul>
      </div>
    </section>
  {% endif %}

  {{ notification(product, amo, is_dev) }}

  <section id="installed">
    <div>
      <p>
        {{ _('Installed!') }}
      </p>
      <p class="how mac">
        {% trans %}
          Launch this app from your <b>Applications</b> directory.
        {% endtrans %}
      </p>
      <p class="how windows">
        {% trans %}
          Launch this app from your <b>Windows desktop</b> or
          <b>Start &#9658; All Programs</b>.
        {% endtrans %}
      </p>
      <p class="how linux">
        {% trans %}
          Launch this app from your <b>Dash</b>, <b>Application picker</b>,
          or <b>Applications menu</b>.
        {% endtrans %}
      </p>
    </div>
  </section>
  <div id="purchased-message"></div>

  <section class="description infobox full">
    <div>
      <p class="summary">
        {{ product.summary|nl2br }}
        {% if product.description %}
          <a href="#" class="collapse narrow">{{ _('More&hellip;') }}</a>
        {% endif %}
      </p>
      {% if product.description or product.developer_comments %}
        <div class="collapse">
          {% if product.description %}
            <div class="more">{{ product.description|nl2br }}</div>
          {% endif %}
          {% if product.developer_comments %}
            <h3>{{ _('Developer Comments') }}</h3>
            <div class="developer-comments">{{ product.developer_comments }}</div>
          {% endif %}
        </div>
      {% endif %}
    </div>
  </section>

  <section id="support" class="support c">

    {% if waffle.switch('ratings') %}
      <div id="{% if reviews %}reviews-detail{% else %}reviews{% endif %}">
        <div class="review-stars-header">
          <h3 class="wide">{{ _('Reviews') }}</h3>
          {% if reviews %}
            <a class="overall-reviews average-rating arrow"
               href="{{ product.get_ratings_url() }}">
              {{ product.average_rating|float|stars }}
              <span>
                {% trans cnt=product.total_reviews,
                         num=product.total_reviews|numberfmt %}
                  {{ num }} review
                {% pluralize %}
                  {{ num }} reviews
                {% endtrans %}
              </span>
            </a>
          {% endif %}
        </div>
        <div class="review-stars">
          {% include 'ratings/helpers/grouped_ratings.html' %}
          {% if not reviews %}
            <p class="not-rated">{{ _('This app is not yet rated.') }}</p>
          {% endif %}
          {% if can_review %}
            <p><a class="overall-reviews add-edit-review arrow" id="add-first-review"
               href="{{ product.get_ratings_url('add') }}">
              {{ _('Edit Your Review') if has_review else _('Submit a Review')
              }}</a></p>
          {% endif %}
        </div>

        {% if reviews %}
         {{ rating_flag() }}
          <div class="reviews-sidebar">
            <ol class="latest-reviews-list">
              {% for review in reviews %}
                {% with product = review.addon, show_addon = True %}
                  {% include "ratings/rating.html" %}
                {% endwith %}
              {% endfor %}
            </ol>
            <p class="view-more-reviews">
              <a class="arrow" href="{{ product.get_ratings_url('list') }}">{{ _('View More') }}</a>
            </p>
          </div>
        {% endif %}
      </div>
    {% endif %}

    {# TODO: When we retool desktop/tablet to look like mobile, we will for sure
             pare this down. But until then... code duplication :( #}
    <ul class="narrow c">
      {% if False %}
        {# TODO: Link to Request Support page if I've purchased (up front or in-app). What about for free?
                 https://bugzilla.mozilla.org/show_bug.cgi?id=760287 #}
        <li><a href="" class="arrow">{{ _('Support') }}</a></li>
      {% endif %}
      {% if product.support_email %}
        <li class="support-email">
          {{ emaillink(product.support_email.localized_string,
                       _('Support Email')) }}
        </li>
      {% endif %}
      {% if product.support_url %}
        <li class="support-url">
          <a href="{{ product.support_url|external_url }}">
            {{ _('Support Site') }}</a>
        </li>
      {% endif %}
      {% if product.homepage %}
        <li><a href="{{ product.homepage|external_url }}">{{ _('Homepage') }}</a></li>
      {% endif %}
      {% if product.is_public() or is_reviewer %}
        {% if product.privacy_policy %}
          <li><a href="{{ product.get_detail_url('privacy') }}">
            {{ _('Privacy Policy') }}</a></li>
        {% endif %}
        {% if waffle.switch('app-stats') and product.public_stats %}
          <li><a href="{{ url('mkt.stats.overview', product.app_slug) }}">
            {{ _('Statistics') }}</a></li>
        {% endif %}
      {% endif %}
      {% if abuse_form %}
        <li><a href="{{ product.get_detail_url('abuse') }}">
          {{ _('Report Abuse') }}</a></li>
      {% endif %}
    </ul>
    {% set upsell = product.upsell %}
    {% if upsell %}
      {% set prm = upsell.premium_addon %}
      {% if prm %}
        <a id="upsell" class="narrow"
           href="{{ prm.get_url_path()|urlparams(src='mkt-detail-upsell') }}">
           <span class="avail">{{ _('Premium version available') }}</span>
           <img class="icon" src="{{ prm.get_icon_url(16) }}">
           <span class="name">{{ prm.name }}</span>
        </a>
      {% endif %}
    {% endif %}

    <dl class="narrow">
      <dt>{{ _('Published') }}</dt>
      <dd>{{ product.created|timelabel }}</dd>
    </dl>

    <ul class="wide">
      {% if product.support_email or product.support_url %}
        <li class="contact-support">
          <h3>{{ _('Contact Support') }}</h3>
          {% if product.support_email %}
            <p class="support-email">
              {{ emaillink(product.support_email.localized_string,
                           _('Support Email'), 'arrow') }}
            </p>
          {% endif %}
          {% if product.support_url %}
            <p class="support-url">
              <a class="arrow" href="{{ product.support_url|external_url }}">
                {{ _('Support Site') }}</a>
            </p>
          {% endif %}
        </li>
      {% endif %}
      {% if product.homepage %}
        <li class="homepage">
          <h3>{{ _('App Homepage') }}</h3>
          <p>
            <a class="arrow" href="{{ product.homepage|external_url }}">
              {{ product.homepage }}</a>
          </p>
        </li>
      {% endif %}
      {% if product.is_public() or is_reviewer %}
        {% if product.privacy_policy or product.public_stats %}
          <li class="more-info c">
            <h3>{{ _('More Info') }}</h3>
              <p class="privacy">
                <a class="arrow" href="{{ product.get_detail_url('privacy') }}">
                  {{ _('Privacy Policy') }}
                </a>
              </p>
            {% if waffle.switch('app-stats') and product.public_stats %}
              <p class="view-stats">
                <a class="arrow" href="{{ url('mkt.stats.overview', product.app_slug) }}">
                  {{ _('Statistics') }}
                </a>
              </p>
            {% endif %}
          </li>
        {% endif %}
        <li class="published">
          <h3>{{ _('Published') }}</h3>
          <p>
            {{ product.created|timelabel }}
          </p>
        </li>
      {% endif %}
      {% if abuse_form %}
        <li class="abuse">
          <h3>{{ _('Report Abuse') }}</h3>
          <p><a class="arrow" href="{{ product.get_detail_url('abuse') }}">
            {{ _('Report') }}</a></p>
        </li>
      {% endif %}
    </ul>
  </section>
{% endif %}
{% endblock %}
