{% extends 'mkt/base.html' %}

{% block content %}
  <section class="product-details">
    <div class="visual">
      <img class="icon" src="{{ product.get_icon_url(64) }}" />
    </div>
    <div class="vitals">
      <h2>{{ product.name }}</h2>
      <h3 class="authors">{{ users_list(product.listed_authors) }}</h3>
      <p class="downloads">
        {% trans cnt=product.weekly_downloads,
                 num=product.weekly_downloads|numberfmt %}
          {{ num }} weekly download
        {% pluralize %}
          {{ num }} weekly downloads
        {% endtrans %}
      </p>
      {{ device_list(product) }}
      <a href="{{ product.get_detail_url('privacy') }}">
        {{ _('Privacy Policy') }}</a>
      {% if product.all_categories %}
        <h3 class="categories">{{ _('Categories') }}</h3>
        <span class="vital">
          {{ product.all_categories|join(' &middot; ')|safe }}
        </span>
      {% endif %}
    </div>
    <div class="actions">
      {{ market_button(product) }}
    </div>
  </section>
  <section class="full description">
    <p>{{ product.description }}</p>
  </section>

  {% if product.all_previews|length %}
    <section class="previews slider full">
      <ul>
        {%- for preview in product.all_previews -%}
          <li>
            <a class="screenshot thumbnail"
               href="{{ preview.image_url }}" title="{{ preview.caption }}">
              <img src="{{ preview.thumbnail_url }}">
            </a>
          </li>
        {%- endfor -%}
      </ul>
    </section>
  {% endif %}
{% endblock %}
