{% extends 'lookup/base.html' %}

{% block title %}{{ mkt_page_title(product.name) }}{% endblock %}

{% block content %}
  <section class="island c">
    {{ app_header(product, 'activity') }}

    <section id="activity-info" class="column-b">
      <h2>{{ product.name }} - {{ _('Activity') }}</h2>
      <ol class="simple-log">
        {% for item in user_items %}
        <li class="item">
          <p class="action {{ log_action_class(item.action) }}">
            {{ item }}
          </p>
          <p class="timestamp">
          {% trans user=item.user|user_link, ago=item.created|timesince,
                   iso=item.created|isotime,
                   pretty=item.created|babel_datetime %}
          <time datetime="{{ iso }}" title="{{ pretty }}">{{ ago }}</time>
          by {{ user }}
          {% endtrans %}
          </p>
        </li>
        {% endfor %}
      </ol>
      {{ user_items|impala_paginator }}
      {% if admin_items %}
      <h2>{{ _('Administrative Actions') }}</h2>
      <ol class="simple-log">
        {% for item in admin_items %}
        <li class="item">
          <p class="action {{ log_action_class(item.action) }}">
            {{ item }}
          </p>
          <p class="timestamp">
          {% trans user=item.user|user_link, ago=item.created|timesince,
                   iso=item.created|isotime,
                   pretty=item.created|babel_datetime %}
          <time datetime="{{ iso }}" title="{{ pretty }}">{{ ago }}</time>
          by {{ user }}
          {% endtrans %}
          </p>
        </li>
        {% endfor %}
      </ol>
      {{ admin_items|impala_paginator }}
      {% endif %}
    </section>
  </section>
{% endblock %}
