{% extends 'detail/protected_app.html' %}

{% block title %}
  {# L10n: {0} is the name of the app. #}
  {{ mkt_page_title(_('Privacy Policy for {0}')|f(product.name)) }}
{% endblock %}

{% block content %}
  {{ mkt_breadcrumbs(product, [(None, _('Privacy Policy'))]) }}
  {% if not (is_dev or is_admin) and not product.is_public() %}
    <section class="product-details">
      <h1>{{ product.name }}</h1>
    </section>
    {{ notification(product, amo, is_dev) }}
  {% else %}
    {{ notification(product, amo, is_dev) }}
    <section>
      <div class="prose">
        <h1>{{ _('Privacy Policy') }}</h1>
        <div class="policy-statement">{{ product.privacy_policy|nl2br }}</div>
      </div>
    </section>
  {% endif %}
{% endblock %}
