{% extends 'mkt/base.html' %}

{% block extrahead %}
  {% if settings.ENGAGE_ROBOTS and not product.is_public() %}
    <meta name="robots" content="noindex">
  {% endif %}
{% endblock %}

{% set is_dev = check_ownership(product, require_author=True) %}

{# Reviewers should be able to see pending apps. #}
{% if not is_admin and is_reviewer and product.is_pending() %}
  {% set is_admin = True %}
{% endif %}

{% macro notification(product, amo, is_dev) %}
  {% if not product.is_public() %}
    <section id="product-status" class="full notification-box">
      <div>
        {% if is_dev or is_admin %}
          {% if product.status in (amo.STATUS_NULL, amo.STATUS_REJECTED) or
                product.disabled_by_user %}
            {% trans %}
              This app is currently <b>invisible</b> to other users.
            {% endtrans %}
          {% elif product.status == amo.STATUS_PENDING %}
            {% trans %}
              This app is <b>awaiting review</b>.
            {% endtrans %}
            {{ _('You will receive an email when the review is complete.') }}
          {% elif product.status == amo.STATUS_PUBLIC_WAITING %}
            {% trans %}
              This app has been <b>approved but is not public</b>.
            {% endtrans %}
            {{ _('It is awaiting your approval to make public.') }}
          {% elif product.status == amo.STATUS_DISABLED %}
            {% trans %}
              This app has been <b>disabled by Mozilla</b>.
            {% endtrans %}
            {% trans email=emaillink(settings.MKT_REVIEWERS_EMAIL) %}
              If you have any questions about this, please email {{ email }}.
            {% endtrans %}
          {% endif %}
          {% trans status_url=product.get_dev_url('versions') %}
            Visit its
            <a href="{{ status_url }}" target="_blank">Manage Status page</a>
            to learn more.
          {% endtrans %}
        {% else %}
          {% if product.status == amo.STATUS_NULL %}
            {% trans %}
              This app is <b>incomplete</b>.
            {% endtrans %}
          {% elif product.status == amo.STATUS_PENDING %}
            {% trans %}
              This app is <b>awaiting review</b>.
            {% endtrans %}
          {% elif product.status == amo.STATUS_PENDING %}
            {% trans %}
              This app is <b>approved but is not public</b>.
            {% endtrans %}
          {% elif product.status == amo.STATUS_PUBLIC_WAITING %}
            {% trans %}
              This has has been <b>approved</b> but is unavailable until its
              developer makes it public.
            {% endtrans %}
          {% elif product.status == amo.STATUS_REJECTED %}
            {% trans %}
              This app has been <b>rejected</b> and is unavailable until its
              developer submits a new version.
            {% endtrans %}
          {% elif product.status == amo.STATUS_DISABLED %}
            {% trans %}
              This app has been <b>disabled by Mozilla</b> and is no longer
              available.
            {% endtrans %}
          {% elif product.disabled_by_user %}
            {% trans %}
              This app has been <b>disabled by its developer</b> and is no
              longer available.
            {% endtrans %}
          {% endif %}
          {% if not (product.is_disabled or product.is_incomplete()) %}
            <a href="https://developer.mozilla.org/en/Apps/Marketplace_Review"
               target="_blank">{{ _('Learn more') }}</a>
          {% endif %}
        {% endif %}
      </div>
    </section>
  {% endif %}
{% endmacro %}
