{% extends 'mkt/base.html' %}

{% block extrahead %}
  {% if settings.ENGAGE_ROBOTS and not product.is_public() %}
    <meta name="robots" content="noindex">
  {% endif %}
{% endblock %}

{% set is_dev = check_ownership(product) %}
{% set is_author = check_ownership(product, require_author=True) %}

{# Reviewers should be able to see pending apps. #}
{% if not is_admin and is_reviewer and product.is_pending() %}
  {% set is_admin = True %}
{% endif %}

{% macro notification(product, amo, mkt, is_dev, unrated_brazil_game) %}
  {# Determine whether this app needs a rating. #}
  {% set needs_a_rating = (is_dev or is_admin) and
                          product.listed_in(category='games') and
                          not product.content_ratings_in(mkt.regions.BR, 'games') %}
  {% if unrated_brazil_game or needs_a_rating %}
    <section id="product-rating-status" class="full notification-box">
      <div>
        {% if needs_a_rating %}
          <p class="toggle">
            {% trans %}
              This app may be unavailable in some countries. <a href="#">Learn more.</a>
            {% endtrans %}
          </p>
          <div class="hidden">
            <p>
              {% trans %}
                Your app is currently unavailable for users in Brazil.
              {% endtrans %}
            </p>
            <p>
              {% trans dejus_url=mkt.ratingsbodies.DJCTQ.url,
                       apply_url='http://portal.mj.gov.br/classificacao/services/DocumentManagement/FileDownload.EZTSvc.asp?DocumentID={A7810EFB-09FC-40CF-A9D0-9829CB5C5BFC}&ServiceInstUID={59D015FA-30D3-48EE-B124-02A314CB7999}' %}
                The <a href="{{ dejus_url }}" target="_blank">Department of Justice, Rating, Titles and Qualification (DEJUS)</a> reviews all games, movies, and television programs distributed in Brazil. And they can review yours, too! <a href="{{ apply_url }}" target="_blank">Fill out this form</a> and mail it to:
              {% endtrans %}
            </p>
            <p>
              <address>
                Coordenação de Classificação Indicativa<br>
                Esplanada dos Ministérios, Bloco T,<br>
                Ministério da Justiça, Anexo II, Sala 321<br>
                CEP 70064-901 Brasília/DF
              </address>
            </p>
            <p>
              {% trans email=emaillink(settings.MKT_REVIEWERS_EMAIL) %}
                Once you get your rating (usually within 20 days), email it to {{ email }} so we can apply it to your app.
              {% endtrans %}
            </p>
          </div>
        {% elif unrated_brazil_game %}
          <p>
            {% trans %}
              This app is <b>unavailable in your region</b> since a qualification rating is mandatory for all games released in Brazil.
            {% endtrans %}
          </p>
        {% endif %}
      </div>
    </section>
  {% endif %}
  {% if not product.is_public() %}
    <section id="product-status" class="full notification-box">
      <div>
        {% if is_dev or is_admin %}
          {% if product.status in (amo.STATUS_NULL, amo.STATUS_REJECTED) or
                product.disabled_by_user %}
            {% trans %}
              This app is currently <b>invisible</b> to other users.
            {% endtrans %}
          {% elif product.status == amo.STATUS_PENDING %}
            {% trans %}
              This app is <b>awaiting review</b>.
            {% endtrans %}
            {{ _('You will receive an email when the review is complete.') }}
          {% elif product.status == amo.STATUS_PUBLIC_WAITING %}
            {% trans %}
              This app has been <b>approved but is not public</b>.
            {% endtrans %}
            {{ _('It is awaiting your approval to make public.') }}
          {% elif product.status == amo.STATUS_DISABLED %}
            {% trans %}
              This app has been <b>disabled by Mozilla</b>.
            {% endtrans %}
            {% trans email=emaillink(settings.MKT_REVIEWERS_EMAIL) %}
              If you have any questions about this, please email {{ email }}.
            {% endtrans %}
          {% elif product.status == amo.STATUS_BLOCKED %}
            {% trans %}
              This app has been <b>blocked by Mozilla</b>.
            {% endtrans %}
            {% trans email=emaillink(settings.MKT_REVIEWERS_EMAIL) %}
              If you have any questions about this, please email {{ email }}.
            {% endtrans %}
          {% endif %}
          {% trans status_url=product.get_dev_url('versions') %}
            Visit its
            <a href="{{ status_url }}" target="_blank">Manage Status page</a>
            to learn more.
          {% endtrans %}
        {% else %}
          {% if product.status == amo.STATUS_NULL %}
            {% trans %}
              This app is <b>incomplete</b>.
            {% endtrans %}
          {% elif product.status == amo.STATUS_PENDING %}
            {% trans %}
              This app is <b>awaiting review</b>.
            {% endtrans %}
          {% elif product.status == amo.STATUS_PENDING %}
            {% trans %}
              This app is <b>approved but is not public</b>.
            {% endtrans %}
          {% elif product.status == amo.STATUS_PUBLIC_WAITING %}
            {% trans %}
              This has been <b>approved</b> but is unavailable until its
              developer makes it public.
            {% endtrans %}
          {% elif product.status == amo.STATUS_REJECTED %}
            {% trans %}
              This app has been <b>rejected</b> and is unavailable until its
              developer submits a new version.
            {% endtrans %}
          {% elif product.status == amo.STATUS_DISABLED %}
            {% trans %}
              This app has been <b>disabled by Mozilla</b> and is no longer
              available.
            {% endtrans %}
          {% elif product.status == amo.STATUS_BLOCKED %}
            {% trans %}
              This app has been <b>blocked by Mozilla</b> and is no longer
              available.
            {% endtrans %}
          {% elif product.disabled_by_user %}
            {% trans %}
              This app has been <b>disabled by its developer</b> and is no
              longer available.
            {% endtrans %}
          {% endif %}
          {% if not (product.is_disabled or product.is_incomplete()) %}
            <a href="https://developer.mozilla.org/en/Apps/Marketplace_Review"
               target="_blank">{{ _('Learn more') }}</a>
          {% endif %}
        {% endif %}
      </div>
    </section>
  {% endif %}
{% endmacro %}
