{% extends "blocklist/base.html" %}

{% block title %}{{ page_title(_('Blocked Add-ons')) }}{% endblock %}

{% set details = item.details %}

{% block content %}
{{ breadcrumbs([(url('blocked.list'), _('Blocklist')),
                (None, details.name)]) }}

<section class="blocked">
  {# L10n: {0} is an add-on name. #}
  <h1>{{ _('<b>{0}</b> has been blocked for your protection.')|fe(details.name)|clean|nl2br }}</h1>
  <dl>
    <dt>{{ _('Why was it blocked?') }}</dt>
    <dd>{{ details.why|clean|nl2br }}</dd>
    <dt>{{ _('Who is affected?') }}</dt>
    <dd>{{ details.who|clean|nl2br }}</dd>
    <dt>{{ _('What does this mean?') }}</dt>
    <dd>
    {% if item.severity and item.severity == 1 %}
      <p>{% trans %}
        Users are strongly encouraged to disable the problematic add-on or plugin,
        but may choose to continue using it if they accept the risks described.
      {% endtrans %}</p>
    {% else %}
      <p>{% trans %}
        The problematic add-on or plugin will be automatically disabled and no
        longer usable.
      {% endtrans %}</p>
    {% endif %}

    {% trans app = APP.pretty,
             criteria = "http://wiki.mozilla.org/Blocklisting",
             support = "http://support.mozilla.com/kb/Add-ons Blocklist" %}
    When Mozilla becomes aware of add-ons, plugins, or other third-party
    software that seriously compromises {{ app }} security, stability, or
    performance and meets <a href="{{ criteria }}">certain criteria</a>, the
    software may be blocked from general use.  For more information, please read
    <a href="{{ support }}">this support article</a>.
    {% endtrans %}</dd>
  </dl>
  {% if details.bug %}
    <footer>{% trans date = details.created|datetime, link = details.bug %}
      Blocked on {{ date }}. <a href="{{ link }}">View block request</a>.
    {% endtrans %}</footer>
  {% else %}
    <footer>{% trans date = details.created|datetime %}
      Blocked on {{ date }}.
    {% endtrans %}</footer>
  {% endif %}
</div>

{% endblock %}
