@import '../impala/lib';

.dashboard .island {
    float: left;
    .users {
        color: #390;
    }
}

.submission-type-tabs {
    margin-bottom: 8px;
    a {
        background: #FCFDFE;
        .gradient-two-color(#FCFDFE, #F4F8FC);
        border: 1px solid @border-blue;
        border-radius: 5px 5px 0 0;
        .box-shadow(0 -2px 0 rgba(204, 223, 243, 0.3) inset, 0 0 1px rgba(0, 0, 0, 0.1));
        padding: 8px 14px;
    }
    a.active {
        color: @orange;
        cursor: default;
        font-weight: bold;
        &:hover {
            text-decoration: none;
        }
    }
}

.action-needed {
    p {
        color: @medium-gray;
        font-size: 14px;
        line-height: 16px;
    }
    .button-wrapper {
        margin: 1em 0 0;
        text-align: center;
    }
}

p.submit-cta {
    margin-bottom: 1em;
    padding: 0;
    + p.submit-cta {
        margin-bottom: 1.5em;
    }
    .button {
        display: block;
        font-size: 13px;
    }
}

.more-actions-popup {
    ul:first-child {
        border-bottom: 1px dotted @border-blue;
        margin-bottom: -.5em;
        padding-bottom: .5em;
    }
    li a {
        display: block;
    }
}

.older-activity {
    font-size: 0.9em;
    a {
        display: block;
    }
}

h3 a.subscribe-feed {
    background: url(../../img/zamboni/icons/subscribe-icons.png) no-repeat;
    display: inline-block;
    line-height: 16px;
    height: 16px;
    padding: 0;
    margin-left: 0.2em;
    text-indent: -9999px;
    width: 16px;
    &:hover {
        background-position: 0 -16px;
    }
}

.compat-error-popup.popup {
    min-height: 80px;
}

.theme-dashboard {
    position: static;
}

h2.theme-count {
    margin-bottom: 20px;
}
