@import 'lib'
.miniColors-trigger
  border 4px solid BORDER_BLUE
  display inline-block
  height 18px
  margin 0 .25em 1px 0
  outline none
  vertical-align bottom
  width 20px
.html-rtl .miniColors-trigger
  margin 0 0 1px .25em
.miniColors-selector
  background #fff
  border solid 1px #bbb
  border-radius(5px)
  box-shadow(0 0 6px rgba(0, 0, 0, 0.25))
  height 150px
  padding 5px
  position absolute
  width 175px
.miniColors-colors, .miniColors-hues
  background center no-repeat
  cursor crosshair
  height 150px
  position absolute
  top 5px
.miniColors-colors
  background-image url(../../img/impala/colorpicker/gradient.png)
  left 5px
  width 150px
  height 150px
.miniColors-hues
  background-image url(../../img/impala/colorpicker/rainbow.png)
  left 160px
  width 20px
.miniColors-colorPicker
  background url(../../img/impala/colorpicker/circle.gif) center no-repeat
  height 11px
  position absolute
  width 11px
.miniColors-huePicker
  border-bottom 2px solid #000
  height 0
  position absolute
  left -3px
  width 26px
