.api-credentials dl {
    display: grid;
    grid-template-columns: fit-content(50%) 1fr;
}

.api-credentials dd, .api-credentials dt {
    font-size: 1.1em;
    margin: 0 1em 0 0;
    padding: 0.2em 0;
}

.api-credentials code {
    outline: 1px solid gray;
    padding: 0.2em
}
