@import './lib';

.show-fxa-migration-banner #fxa-migration-banner {
    display: block;
}

.login-source-form .login-field,
.login-source-form .login-button,
.login-source-form #recap-container {
    display: none;
}

.login-form .login-source-button {
    display: none;
}

.notification-box.fxa {
    background: lighten(@button-green-light, 7.5%);
    border-color: @button-green-light;

    h2 {
        color: white;
        font-family: @head-sans;
    }
}
