@import 'lib';

.login {
    #captcha {
        padding: 0 8px;
        position: relative;

        label {
            display: none;
        }
        input {
            width: 312px;
            margin: 0 auto;
        }
    }
    #recaptcha_image {
        margin: 1em auto 0;
        padding: 1em;
        background: #fff;
        border: 1px solid #B2C8E0;
        .border-radius(3px);
        + p {
            text-align: center;
        }
    }
    .recaptcha-container {
        position: relative;
    }
    .user-message {
        display: none;
    }
}
