#more-webpage {
    display: none;
}
.island .expando .content {
    display: block;
}
.island .expando .toggle {
    display: none;
}
/* we want to show the no-apps balloon when JS is disabled. */
#site-nojs-apps {
    display: block;
}

form.go button {
    display: inherit;
}

#search-facets .facets .facet:after {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    transform: rotate(90deg);
}

.html-rtl #search-facets .facets .facet:after {
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    transform: rotate(-90deg);
}

#search-facets .facets .facet:hover {
    cursor: inherit;
}

#search-facets .facets .facet:hover li a {
    pointer-events: auto;
}

#search-facets .facets .facet li a {
    display: block;
}

#search-facets ul + ul {
    margin-top: 1em;
}
