{% extends "base.html" %}

{% block title %} Reviewer Tools – Add-ons for Firefox {% endblock %}
{% block title %} New Add-on Pre-review – Add-ons for Firefox {% endblock %}
{% block title %} Updated Add-on Pre-review – Add-ons for Firefox {% endblock %}
{% block title %} Reviewer Performance – Add-ons for Firefox {% endblock %}
{% block title %} Add-on Review Log – Add-ons for Firefox {% endblock %}
{% block title %} Auto-approved Add-ons – Add-ons for Firefox {% endblock %}
{% block title %} Content Review – Add-ons for Firefox {% endblock %}
{% block title %} New Theme Pre-review – Add-ons for Firefox {% endblock %}
{% block title %} Updated Theme Pre-review – Add-ons for Firefox {% endblock %}
{% block title %} Flagged Theme Review – Add-ons for Firefox {% endblock %}
{% block title %} Theme Review Log – Add-ons for Firefox {% endblock %}
{% block title %} Review Moderation – Add-ons for Firefox {% endblock %}
{% block title %} Reviewer Moderation Log – Add-ons for Firefox {% endblock %}
{% block title %} Unlisted Add-ons – Add-ons for Firefox {% endblock %}
{% block title %} Deleted Themes Log – Add-ons for Firefox {% endblock %}
{% block title %} Expired Information Requests – Add-ons for Firefox {% endblock %}


{% block bodyclass %}reviewer-tools {% endblock %}

{% block site_header_title %}
<div class="reviewer-menu">
  <h1 class="site-title amo">
    <a href="{{ url('reviewers.dashboard') }}" title="{{ _('Return to the Reviewer Tools dashboard') }}">
      <strong>{{ _('Reviewer Tools') }}</strong>
    </a>
  </h1>
</div>
{% endblock %}

{% block header_search %}{% endblock %}

{% block extrahead %}
  {{ css('zamboni/devhub') }}
  {{ css('zamboni/reviewers') }}
{% endblock %}

{% block js %}
  {{ js('zamboni/reviewers') }}
{% endblock %}

{% block outer_content %}
  {% include "reviewers/includes/daily-message.html" %}
  {% include "messages.html" %}
{% endblock %}

{# Hide 'View new site' link in footer #}
{% set hide_mobile_link=True %}
