{% extends "reviewers/base.html" %}

{% block content %}
<div id="reviewers_main">

  <div class="featured" id="reviewers-stats-charts">
    <div class="featured-inner">
      <div class="listing-header">
        <div class="reviewer-stats-title">
          <a href="{{ url('reviewers.queue_nominated') }}">
            {{ ngettext('New Add-on ({num})',
                        'New Add-ons ({num})',
                        queue_counts_total['nominated'])|format_html(num=queue_counts_total['nominated']) }}
          </a>
        </div>
        <div class="reviewer-stats-title">
          <a href="{{ url('reviewers.queue_pending') }}">
            {{ ngettext('Update ({num})',
                        'Updates ({num})',
                        queue_counts_total['pending'])|format_html(num=queue_counts_total['pending']) }}
          </a>
        </div>
      </div>

      <div class="reviewer-stats">
        {% for type in ('nominated', 'pending'): %}
          <div class="reviewer-stats-table">
            <div class="reviewer-stats-dark">
              <strong>{{ _('Current waiting times:') }}</strong>
              <div class="reviewer-waiting">
                {% for (d, duration) in durations: %}
                {% set total = progress[d][type] %}
                <div class="waiting_{{ d }} tooltip"
                     data-delay="100"
                     style="width:{{ percentage[type][d] }}%"
                     title="{{ duration }} ::
                            {{ ngettext('{0} add-on', '{0} add-ons', total)|format_html(total) }}
                            &bull; {{ _('{0}%%')|format_html(percentage[type][d]|round|int) }}"></div>
                {% endfor %}
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>

  <div class="featured" id="reviewers-stats">
    <div class="featured-inner">
      <div class="listing-header">
        <div class="reviewer-stats-title three-col"><span>{{ _('Total Reviews') }}</span></div>
        <div class="reviewer-stats-title three-col"><span>{{ _('Reviews This Month') }}</span></div>
        <div class="reviewer-stats-title three-col"><span>{{ _('New Reviewers') }}</span></div>
      </div>
      <div class="reviewer-stats">
        <div class="reviewer-stats-table three-col">
          <div>
            <table>
              {% for row in reviews_total: %}
              <tr>
                <td>{{ row['user__display_name'] or row['user__username'] }}</td>
                <td class="int">{{ row['approval_count']|numberfmt }}</td>
              </tr>
              {% endfor %}
            </table>
          </div>
          {% if reviews_total_position > reviews_max_display %}
            <div>{{ _("You're #{0} with {1} reviews")|format_html(reviews_total_position, reviews_total_count) }}</div>
          {% endif %}
        </div>
        <div class="reviewer-stats-table three-col">
          <div>
            <table>
              {% for row in reviews_monthly: %}
              <tr>
                <td>{{ row['user__display_name'] or row['user__username'] }}</td>
                <td class="int">{{ row['approval_count']|numberfmt }}</td>
              </tr>
              {% endfor %}
            </table>
          </div>
          {% if reviews_monthly_position > reviews_max_display %}
            <div>{{ _("You're #{0} with {1} reviews")|format_html(reviews_monthly_position, reviews_monthly_count) }}</div>
          {% endif %}
        </div>
        <div class="reviewer-stats-table three-col">
          <div>
            <table>
              {% for reviewers in new_reviewers %}
              <tr>
                <td>
                  <a href="{{ url('users.profile', reviewers['user'].username) }}">
                    {{ reviewers['user'].name }}
                  </a>
                </td>
                <td class="date" title="{{ reviewers['created']|datetime }}">
                  {{ reviewers['created']|timesince }}
                </td>
              </tr>
              {% endfor %}
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="listing results">
    <div class="results-inner">
      <div class="listing-header">
        <a href="{{ url('reviewers.queue_moderated') }}">
        {# L10n: num = number of reviews in the queue #}
        {{ ngettext('Moderated Review ({num})',
                    'Moderated Reviews ({num})',
                    queue_counts_total['moderated'])|format_html(num=queue_counts_total['moderated']) }}</a>
      </div>
      {% for item in eventlog %}
      <div class="row">
        {{ item.to_string('reviewer') }}
        {% if item.details %}
        <a href="{{ url('reviewers.eventlog.detail', item.id) }}">
          {{ _('More details.') }}
        </a>
        {% endif %}
        {% with ago=item.created|timesince, iso=item.created|isotime,
                 pretty=item.created|datetime %}
          <time datetime="{{ iso }}" title="{{ pretty }}">{{ ago }}</time>
        {% endwith %}
      </div>
      {% endfor %}
    </div>
  </div>
</div>

{% endblock %}
