{% extends 'reviewers/base.html' %}

{% set pagetitle = _('Reviewer Leaderboard') %}

{% block content %}

<header class="c">
  <h1>{{ pagetitle }}</h1>
</header>

<section class="island">

  {% if not scores %}
    <p>{{ _('No review points awarded yet.') }}</p>
  {% else %}
      <table id="leaderboard" class="data-grid">
        <thead>
          <tr>
            <th>{{ _('Rank') }}</th>
            <th>{{ _('Name') }}</th>
            <th class="number">{{ _('Score') }}</th>
          </tr>
        </thead>
        <tbody>
          {% for user in scores %}
            <tr>
              <th class="rank">{{ loop.index }}</th>
              <td class="name">{{ user.name }}</td>
              <td class="number">{{ user.total|numberfmt }}</td>
            </tr>
            {% if user.level != '' %}
              <tr>
                <th colspan="3" class="level">{{ user.level }}</th>
              </tr>
            {% endif %}
          {% endfor %}
        </tbody>
      </table>
  {% endif %}

</section>

{% endblock %}
