{% extends "reviewers/base.html" %}

{% block bodyclass %}{{ super() }} {{ " content-review" if tab == "content_review" else "" }}{% endblock %}

{% block content %}

<div id="reviewers-score-bar" class="c">
  {{ reviewers_score_bar(types=point_types) }}
</div>

<ul class="tabnav">
  {% for this, loc, text in queue_tabnav() %}
  <li class="{% if tab==this %}selected{% endif %}"><a href="{{ url('reviewers.%s' % loc) }}">{{ text }}</a></li>
  {% endfor %}
</ul>

<div class="queue-outer">
  <div class="queue-inner">
    {% if search_form %}
    <div class="queue-search">
      <form method="get" data-no-csrf>
        <input type="hidden" id="id_searching" name="searching" value="True" />
        <label for="id_text_query">{{ search_form['text_query'].label }}</label>
        {{ search_form['text_query'] }}
        <button type="submit">{{ _('Search') }}</button>
        <a class="toggle-queue-search" href="#">{{ _('Advanced Search') }}</a>
        {% if search_form.data and search_form.data['searching'] %}
        (<a class="clear-queue-search" href="{{ url('reviewers.{0}queue_{1}'.format('unlisted_' if unlisted else '', tab)) }}">{{ _('clear search') }}</a>)
        {% endif %}
        <div class="advanced-search">
          <div class="column1">
            <div class="form-row">
              {% for elem in ('needs_admin_code_review', 'application_id') %}
                {% if search_form[elem] %}
                    <label for="id_{{ elem }}">{{ search_form[elem].label }}</label>
                    <div class="form-elem">{{ search_form[elem] }}</div>
                {% endif %}
              {% endfor %}
            </div>
          </div>
          <div class="column2">
            <div class="form-row">
              {% for elem in ('addon_type_ids', 'deleted') %}
                {% if search_form[elem] %}
                    <label for="id_{{ elem }}">{{ search_form[elem].label }}</label>
                    <div class="form-elem">{{ search_form[elem] }}</div>
                {% endif %}
              {% endfor %}
            </div>
          </div>
        </div>
      </form>
    </div>
    {% endif %}
    {% if page.has_other_pages() %}
      <div class="data-grid-content data-grid-top">
      {{ page|paginator }}
      </div>
    {% endif %}

    {% if tab == 'moderated' %}
      <div id="reviews-flagged">
        <form method="post" class="item">
          <div class="review-saved">
            <button type="submit">{{ _('Process Reviews') }}</button>
          </div>
          {% csrf_token %}
          {{ reviews_formset.management_form }}
          {% for review in reviews_formset.forms %}
          <div class="review-flagged{%- if not check_review_delete(review.instance) %} disabled{% endif %}">
            <div class="review-flagged-actions">
              {{ review.errors }}
              <strong>{{ _('Moderation actions:') }}</strong>
              {{ review.id }}
              {{ review.action }}
            </div>
            <h3>
              <a href="{{ review.instance.addon.get_url_path() }}">
                {{ review.instance.addon.name }}</a>
            </h3>
            <p>
            {% trans user=review.instance.user|user_link, date=review.instance.created|date,
                     stars=review.instance.rating|stars, locale=review.instance.body.locale %}
              by {{ user }} on {{ date }}
              {{ stars }} ({{ locale }})
            {% endtrans %}
            </p>
            <p class="description">{{ review.instance.body|nl2br }}</p>
            <ul class="reviews-flagged-reasons">
              {% for reason in review.instance.ratingflag_set.all() %}
              <li>
              <div>
                {% trans user=reason.user|user_link, date=reason.modified|datetime,
                         reason=flags[reason.flag] %}
                <strong>{{ reason }}</strong>
                <span class="light">Flagged by {{ user }} on {{ date }}</span>
                {% endtrans %}
              </div>
              {{ reason.note }}
              </li>
              {% endfor %}
            </ul>
          </div>
          {% endfor %}
          {% if page.paginator.count == 0 %}
            <div class="no-results">{{ _('All reviews have been moderated. Good work!') }}</div>
          {% else %}
            <div class="review-saved review-flagged">
              <button type="submit">{{ _('Process Reviews') }}</button>
            </div>
          {% endif %}
        </form>
      </div>
    {% else %}
      <table id="addon-queue" class="data-grid" data-url="{{ url('reviewers.queue_viewing') }}">
        <thead>
          <tr class="listing-header">
              <th>&nbsp;</th>
              {% for column in table.columns %}
                {% if column.order_by_alias == column.order_by_alias.next %}
                  {% set cls, sprite = '', 'both' %}
                {% elif column.order_by_alias.is_descending %}
                  {% set cls, sprite = 'ordered', 'desc' %}
                {% elif column.order_by_alias.is_ascending %}
                  {% set cls, sprite = 'ordered', 'asc' %}
                {% endif %}
                <th class="{{ cls }}">
                  {% if column.orderable %}
                    <a href="{{ request.get_full_path()|urlparams(sort=column.order_by_alias.next) }}" class="sort-icon ed-sprite-sort-{{ sprite }}">
                      {{ column }}
                    </a>
                  {% else %}
                    {{ column }}
                  {% endif %}
                </th>
              {% endfor %}
          </tr>
        </thead>
        <tbody>
          {% for row in page.object_list %}
          <tr data-addon="{{ row.record.addon_id or row.record.id }}" class="addon-row" id="addon-{{ row.record.addon_id or row.record.id }}" data-review-log="{{ row.record.review_log_id }}">
            <td><div class="addon-locked"></div></td>
            {% for value in row %}
              <td>{{ value|xssafe }}</td>
            {% endfor %}
            <td>&nbsp;</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
      {% if page.paginator.count == 0 %}
        <div class="no-results">{{ _('There are currently no add-ons of this type to review.') }}</div>
      {% endif %}
    {% endif %}
    {% if page.has_other_pages() %}
      <div class="data-grid-content data-grid-bottom">
      {{ page|paginator }}
      </div>
    {% endif %}
  </div>
</div>

<div id="helpfulLinks">
{{ _('Helpful Links:') }}
<a href="{{ url('devhub.docs', doc_name='policies') }}">{{ _('Add-on Policy') }}</a>
|
<a href="https://wiki.mozilla.org/Add-ons/Reviewers/Guide">{{ _("Reviewer's Guide") }}</a>
</div>

<div class="popup" id="popup-notes" data-version-url="{{ url('reviewers.queue_version_notes') }}" data-review-url="{{ url('reviewers.queue_review_text') }}"></div>

{% endblock %}
