<div class="content">
  <h3>{{ _('Add-ons in Your Collection') }}</h3>
  <p>
    {% trans %}
    To include an add-on in this collection, enter its name
    in the box below and hit enter.  You can also use the
    <strong>Add to Collection</strong> links throughout the
    site to include add-ons later.
    {% endtrans %}
  </p>
</div>

<fieldset>
  <table id="addons-list">
    <thead>
      <tr>
        <th>{{ _('Add-on') }}</th>
        <th>{{ _('Added') }}</th>
        <th>{{ _('Comment') }}</th>
        <th>{{ _('Remove') }}</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td colspan="4" class="input">
          <input id="addon-ac" placeholder="{{ _('Enter the name of the add-on to include') }}" class="long placeholder" data-src="{{ url('search.ajax') }}" />
          <button id="addon-select">
            {{ _('Add to Collection') }}
          </button>
        </td>
      </tr>
      {% for addon in addons %}
      <tr>
        <td class="item">
          <input type="hidden" value="{{ addon.id }}" name="addon">
          <img src="{{ addon.icon_url }}">
          <h3>{{ addon.name }}</h3>
          <p class="comments{% if comments[addon.id] %} hascomment{% endif %}">
            <textarea name="addon_comment">{{ comments[addon.id] }}</textarea>
          </p>
        </td>
        {% if meta %}
          <td>{{ meta[addon.id].created|timesince }}</td>
        {% else %}
          <td>{{ _('Pending') }}</td>
        {% endif %}
        <td><a title="{{ _('Add a comment') }}" class="comment">{{ _('Comment') }}</a></td>
        <td class="remove"><a title="{{ _('Remove this add-on from the collection') }}" class="remove">{{ _('Remove') }}</a></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</fieldset>
