@import (less) '../../common/normalize.css';
@import 'fonts';

// Grid
@grid-max: 960px;
@extra-small: ~"only screen and (max-width: 399px)";
@small: ~"only screen and (min-width: 400px)";
@medium: ~"only screen and (min-width: 700px)";
@large: ~"only screen and (min-width: 1024px)";
@retina: ~"only screen and (min-resolution: 1.5dppx)";

// Fonts
@font-primary: 'Fira Sans', sans-serif;

// Colors
@color-text: #333;
@color-items: #fff;
@color-callout-border: #FDC900;

// Color Schemes
// Default
@color-scheme-default-background: #ffffff;

// Light
@color-scheme-light-text: #333;
@color-scheme-light-background: #f3f5f8;

// Medium
@color-scheme-medium-text: #fff;
@color-scheme-medium-background: #0568ba;
@color-scheme-medium-items: #29c978;

// Dark
@color-scheme-dark-text: #fff;
@color-scheme-dark-background: #1d3770;
@color-scheme-dark-items: #40d38d;

// Buttons
@color-button-default: #0996F8;
@color-button-primary: #29c978;

// Common styles
* {
  font-family: @font-primary;
  // widths take into account padding + borders.
  box-sizing: border-box;
}

*::before,
*::after {
  box-sizing: content-box;
}

img {
  height: auto;
  max-width: 100%;
}

html {
  // prevent horizontal scrollbars.
  overflow-x: hidden;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-flow: column;
  line-height: 1.35;
}

h1 {
  font-size: 40px;
  line-height: 1.2;
  margin-bottom: 0;
  margin-top: 20px;
  margin-top: 0;
}

h2,
h3 {
  font-size: 32px;
}

h1,
h2,
h3 {
  font-weight: 500;
}

@media @medium {
  h1, h2, h3 {
    font-weight: 400;
  }
}

// Mixins / Utilities
@import 'utils';

// Common component utilities
@import 'common';

// Generic Components
@import 'button';
@import 'logo';
@import 'navigation';

// Content sections
@import 'sections/overview';
@import 'sections/more-information';
@import 'sections/my-addons';

// Footer
@import 'footer';
