.content {
  width: 100%;

  > div {
    color: @color-text;
    padding: 20px 20px;

    @media @medium {
      margin: 0 auto;
      max-width: @grid-max;
      padding: 20px 60px;
    }
  }

  p,
  li {
    color: @color-text;
    font-weight: 300;
  }
}

.scheme-default {
  background-color: @color-scheme-default-background;
}

.scheme-light {
  background-color: @color-scheme-light-background;

  p,
  li {
    color: @color-scheme-light-text;
  }

  &:before,
  &:after {
    background-color: @color-scheme-light-background;
  }
}

.scheme-medium {
  background-color: @color-scheme-medium-background;

  p,
  li {
    color: @color-scheme-medium-text;
  }

  &:before,
  &:after {
    background-color: @color-scheme-medium-background;
  }
}

.scheme-dark {
  background-color: @color-scheme-dark-background;

  p,
  li {
    color: @color-scheme-dark-text;
  }

  &:before,
  &:after {
    background-color: @color-scheme-dark-background;
  }
}

.DevHub-content-container {
  display: flex;
  position: relative;
}

.DevHub-content-header {
  font-size: 40px;
  max-width: 66%;
}

.DevHub-content-image-wrapper {
  max-width: 33%;
  padding: 30px 0 30px 30px;
  position: absolute;
  right: 20px;
  top: 20px;
  z-index: 2;
}


.DevHub-content-copy {
  position: relative;
  z-index: 4;
}

@media @small {
  .DevHub-content-copy {
    max-width: 66%;
  }

  .DevHub-content-image-wrapper {
    max-width: 33%;
  }
}


@media @medium {
  .DevHub-content-copy,
  .DevHub-content-image-wrapper {
    max-width: 50%;
  }

  .DevHub-content-copy {
    margin: 0 auto 40px auto;
  }

  .DevHub-content-container {
    overflow: visible;
  }

  .DevHub-content-header {
    max-width: 100%;
    margin: 60px 0 20px;
  }

  .DevHub-content-image-wrapper {
    position: relative;
    top: 10px;
    width: 100%;

    &::before {
      content: '';
      display: block;
      // Pad out the wrapper to a percentage
      // based on the wrapper's width.
      padding-bottom: 65%;

      .DevHub-publish-addon & {
        padding-bottom: 50%;
      }
    }
  }

  .DevHub-content-image {
    position: absolute;
    top: 50px;
    right: 0;
    left: 20px;
    bottom: 0;
  }

  .DevHub-content-image--alt {
    top: -70px;
    min-width: 350px;
  }
}
