<!DOCTYPE html>
<html lang="{{ LANG }}" dir="{{ DIR }}">
  <head>
    <meta charset="utf-8">
    {% if not settings.ENGAGE_ROBOTS %}
      <meta name="robots" content="noindex">
    {% endif %}
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <title>{{ _('Firefox Marketplace') }}</title>

    <link rel="shortcut icon" href="{{ MEDIA_URL }}img/mkt/aurora_fav.ico">

    {{ css('mkt/offline') }}

  </head>
  <body class="html-{{ DIR }} {{ CARRIER }} offline">

    <header id="site-header" class="c">
      <section>
        <h1>{{ _('Firefox Marketplace') }}</h1>
      </section>
    </header>

    <div id="container">
      <div id="page" role="main"
           data-context="{{
             {'type': 'offline',
              'cache': 'no',
              'hash': 'offline',
              'title': _('Firefox Marketplace'),
              'headertitle': _('Firefox Marketplace'),
              'bodyclass': 'offline',
              'parent': '',
              'category': ''}|json }}">
        {% block content %}
          <section class="infobox">
            <h3>
              {{ _('Sorry, you need to be online to access the Marketplace.') }}
            </h3>
            <div>
              <button id="reload">{{ _('Try Again') }}</button>
            </div>
          </section>
        {% endblock %}
      </div>
    </div>

    {% block dbgoverlay %}{% endblock %}

    <script>
      function reload() {
        if (navigator.onLine) {
          window.location = localStorage.from || '/';
          delete localStorage.from;
        } else {
          window.location.reload();
        }
      }
      window.onfocus = window.ononline = reload;
      document.getElementById('reload').addEventListener('click', reload, false);
    </script>
  </body>
</html>
