.DevHub-Banner {
    max-width: @grid-max;
}
.DevHub-callout-box--banner {
    background: no-repeat bottom left url(../../../img/developers/new-landing/banner-background.svg);
    margin-top: 20px;
    padding-bottom: 160px;

    > div {
        display: inline;
    }

    @media @large {
        margin: 20px 80px;
        padding-top: 40px;
        padding-bottom:100px;
        >div:first-child {
            float: left;
            margin: 0px 20px;
            max-width: 45%;
            min-height: 100%;
        }
    }
}
