.DevHub-MoreInformation {
  > div {
    display: flex;
    flex-flow: column;
    justify-content: space-between;

    @media @large {
      flex-flow: row nowrap;
      padding: 60px 20px 80px;
    }
  }
}

.DevHub-BlogPosts,
.DevHub-Tools {
  line-height: 1.5;
  margin: 20px 0 auto;
  max-width: 420px;

  h2,
  h2 a {
    color: @color-scheme-dark-text;
    font-size: 32px;
    margin: 0;
  }

  h2 a {
    .link(@color-scheme-dark-text);
  }

  ul {
    list-style: none;
    padding: 0;

    li {
      a {
        .link(@color-scheme-dark-items);
      }

      p {
        margin-top: 0;
      }
    }
  }
}

.DevHub-BlogPosts {
  .read-more {
    .link(@color-scheme-dark-items);

    font-weight: 600;
  }

  ul {
    margin-right: 20px;

    html[dir=rtl] & {
      margin-right: auto;
      margin-left: 20px;
    }
  }

}

.DevHub-Tools {
  ul {
    li {
      a {
        font-size: 24px;
        font-weight: 600;
      }
    }
  }
}
