.DevHub-MyAddons-copy {
  max-width: 32em;
}

.DevHub-MyAddons-List {
}

.DevHub-MyAddons-Item {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #e4e4e4;
  padding-bottom: 25px;
}

.DevHub-MyAddons-LastUpdated {
  margin-left: auto;
  align-self: flex-end;
}

.DevHub-MyAddons-ItemDetails {
  margin-left: 25px;

  span {
    font-size: 24px;
    font-weight: 400;
  }

  a {
    margin-left: 5px;
    font-size: 15px;
    text-decoration: none;
    color: @color-button-default;
  }
}

.DevHub-MyAddons-Icon {
  width: 48px;
  height: 48px;
}

.DevHub-MyAddons-ActionButtons {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}

.DevHub-MyAddons-AllSubmissions {
  font-size: 15px;
  text-decoration: none;
  color: @color-button-default;
}

.DevHub-MyAddons-Submit {
  margin-left: auto;
}
