.DevHub-Overview {
  @media @medium {
    text-align: center;
  }

  h1 {
    color: @color-scheme-medium-text;
  }

  p {
    font-size: 24px;
    margin: 20px auto;
    max-width: 560px;

    > a {
      color: @color-scheme-medium-text;
    }

    @media @small {
      font-size: 20px;
    }
  }
}
