.DevHub-Overview {
  @media @medium {
    > div {
      background-image: url(../../../img/developers/new-landing/header-background.svg);
      background-repeat: no-repeat;
      // background size set to 100% of width
      // with the height being set to auto.
      background-size: 100%;
      padding: 70px 20px 80px;
    }
  }

  @media @medium {
    text-align: center;
  }

  h1 {
    color: @color-scheme-medium-text;
  }

  p {
    font-size: 24px;
    margin: 20px auto;
    max-width: 560px;

    > a {
      .link(@color-scheme-medium-text, @decoration: underline);
    }

    @media @small {
      font-size: 20px;
    }
  }
}
