.DevHub-content-container.submit-or-manage {
    flex-wrap: wrap;
}

.DevHub-content-image-wrapper--submit-or-manage-addon {
    text-align: right;

    html[dir=rtl] & {
        text-align: left;
    }
}
