<!DOCTYPE html>
<html{% if appcache %} manifest="{{ url('commonplace.appcache')|urlparams(repo=repo) }}"{% endif %}>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1">
    <title>Firefox Marketplace</title>
    <meta property="og:title" content="Firefox Marketplace">
    <meta property="og:type" content="website">
    <meta property="og:image" content="{{ media('fireplace/img/logos/128.png') }}">
    <meta name="description" content="{{ _('The Firefox Marketplace is the official source of apps for the Web Platform.') }}">
    <link rel="icon" href="{{ media('fireplace/img/logos/128.png') }}" sizes="128x128">
    <link rel="icon" href="{{ media('fireplace/img/logos/64.png') }}" sizes="64x64">
    <link rel="icon" href="{{ media('fireplace/img/logos/32.png') }}" sizes="32x32">
    <link rel="stylesheet" href="{{ media(repo + '/css/splash.styl.css') }}">
    <link rel="stylesheet" href="{{ media(repo + '/css/include.css') }}">
    <link title="Firefox Marketplace"
          rel="search" type="application/opensearchdescription+xml"
          href="{{ url('opensearch') }}">
    <meta name="fragment" content="!">
  </head>
  <body class="home" data-languages="{{ settings.AMO_LANGUAGES|json }}" data-settings="{{ site_settings|json }}" data-build-id-js="{{ BUILD_ID_JS }}" data-media="{{ MEDIA_URL }}" data-flags="{{ flags|json }}" data-repo="{{ repo }}">

    <noscript><p>Sorry, you need JavaScript to access the Marketplace.</p></noscript>
    <div id="splash-overlay"><div class="throbber"></div></div>

    <header id="site-header" class="header site-header"></header>
    <aside id="incompatibility-banner"></aside>

    <div class="cloak"></div>
    <main>
      <div id="cat-dropdown"></div>
      <div id="cat-list"></div>
      <div id="page" class="page" role="main"></div>
    </main>

    <footer id="site-footer"></footer>

    <!-- screenshot lightbox -->
    <div id="lightbox">
      <section>
        <ul class="content"></ul>
        <a class="close" href="#">&times;</a>
      </section>
    </div>

    <script src="{{ settings.BROWSERID_JS_URL or 'https://login.persona.org/include.js' }}" defer></script>
    <script type="text/javascript" src="{{ media(repo + '/js/l10n.js') }}"></script>
    <script type="text/javascript" src="{{ media(repo + '/js/include.js') }}" defer></script>

  </body>
</html>
