{% extends "base.html" %}
{% from "browse/macros.html" import secondary_categories %}

{% set name = category.name if category else filter.title %}
{% set title = _('Personas') if is_homepage else _('{0} Personas')|f(name) %}
{% set url_base = url('browse.personas', category.slug) %}

{% block title %}{{ page_title(title) }}{% endblock %}

{% block extrahead %}
{% if not is_homepage %}
{% with key = category.id if category else filter.field %}
  {{ category_arrow(key, prefix='p') }}
{% endwith %}
{% endif %}
{% endblock %}

{% macro persona_categories() %}
{{ secondary_categories(_('Personas'), 'browse.personas', categories, filter) }}
{% endmacro %}
