{% extends "browse/personas/base.html" %}


{% block content %}
<div class="primary" role="main">
  <header>
    {{ breadcrumbs([(url('browse.personas'), _('Personas')), (None, title)]) }}
    <h2>{{ title }}</h2>
  </header>
  <div class="featured listing">
    <div class="featured-inner">
      {{ addon_listing_header(url_base, filter.opts, filter.field,
                              show_unreviewed=False) }}
      {{ persona_grid(addons.object_list) }}
      <div class="listing-footer">
        {{ addons|paginator }}
      </div>
    </div> {# featured-inner #}
  </div>
</div>

{{ persona_categories() }}
{% endblock content %}
