<div class="file-info light">
  <strong><a href="{{ file.get_absolute_url(attachment=True) }}" class="reviewers-install"
      data-type="{{ amo.ADDON_SLUGS[addon.type] }}">Download file</a></strong>
  &middot;
  <a href="{{ url('devhub.file_validation', addon.slug, file.id) }}">Validation results</a>
  &middot;
  <a 
    class="assay"
    href="vscode://mozilla.assay/review/{{addon.guid}}/{{version}}"
    title="Download this version in the VS Code addon reviewer"
    >
      Open in VSC
  </a>
  &middot;
  <a
    href="{{ code_manager_url('browse', addon.pk, version.pk) }}"
    title="Browse all files in this version"
    >
      Browse contents
  </a>
  {% if base_version_pk and version == latest_not_disabled_version %}
  &middot;
  <a
    class="compare"
    href="{{ code_manager_url('compare', addon.pk, version.pk, base_version_pk) }}"
    title="Compare this version to the last reviewed version"
  >
    Compare with last reviewed
  </a>
  {% endif %}
</div>
<div>
  {% if file.permissions %}
    <div class="file-permissions"><h5>Permissions:</h5> {{ ', '.join(file.permissions) }}</div>
  {% endif %}
  {% if file.optional_permissions %}
    <div class="file-permissions"><h5>Optional permissions:</h5> {{ ', '.join(file.optional_permissions) }}</div>
  {% endif %}
  {% if file.host_permissions %}
    <div class="file-permissions"><h5>Host permissions:</h5> {{ ', '.join(file.host_permissions) }}</div>
  {% endif %}
</div>
