<ul id="scorebar">
  <li>

    <h3>{{ _('Recent Points') }}</h3>
    {% if points %}
      <table class="data-grid">
        <tbody>
          {% for p in points %}
            <tr>
              <td>{{ amo.REVIEWED_CHOICES[p.note_key] }}</td>
              <td class="number">+{{ p.score }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    {% else %}
      <p>{{ _('No points awarded yet.') }}</p>
    {% endif %}

  </li>
  <li>

    <h3>{{ _('Top Reviewers (past 7 days)') }}</h3>
    {% if leader_top %}
      <table class="data-grid">
        <tbody>
          {% for r in leader_top %}
            <tr{% if r.rank == user_rank %} class="you-are-here"{% endif %}>
              <td>{{ r.rank }}</td>
              <td>{{ r.name }}</td>
              <td class="number">{{ r.total|numberfmt }}</td>
            </tr>
          {% endfor %}
          {% if leader_near %}
            <tr><td colspan="3">...</td></tr>
            {% for r in leader_near %}
              <tr{% if r.rank == user_rank %} class="you-are-here"{% endif %}>
                <td>{{ r.rank }}</td>
                <td>{{ r.name }}</td>
                <td class="number">{{ r.total|numberfmt }}</td>
              </tr>
            {% endfor %}
          {% endif %}
        </tbody>
      </table>
    {% else %}
      <p>{{ _('No top reviewers yet.') }}</p>
    {% endif %}

  </li>
  <li>

    <h3>{{ _('All Time') }}</h3>
    {# L10n: {0} is a number, like "480". #}
    <p class="total">{{ _('You have <span>{0}</span> points.')|format_html(total|numberfmt) }}</p>
    <p><a href="{{ url('reviewers.leaderboard') }}">{{ _('Reviewer Leaderboard') }}</a></p>

  </li>
</ul>
