{% extends "mobile/base.html" %}

{% set title = _('My Purchases') %}
{% block title %}{{ page_title(title) }}{% endblock %}

{% block contentclass %}purchases{% endblock %}

{% block page %}
  <h2>{{ title }}</h2>
  {% if single %}
    <div id="sort-menu">
      <a class="label" href="{{ url('users.purchases') }}">
        {{ _('Show all purchases') }}</a>
    </div>
  {% else %}
    {{ mobile_sort_by(request.path, selected=sorting, search_filter=filter) }}
  {% endif %}
  <div id="purchases" class="addon-listing">
    <ul class="listview">
      {{ addon_listing_items_mobile(addons.object_list, src='category',
                                    sort=sorting, show_refunds=True) }}
    </ul>
  </div>
  {{ addons|mobile_paginator }}
{% endblock %}
