{% extends 'acct_lookup/base.html' %}

{% block breadcrumbs %}
{% endblock %}

{% block content %}
  {% include 'acct_lookup/includes/app_search.html' %}

  <section class="island c">
    {{ app_header(app, 'summary') }}

    <section class="column-b">
      <dl>
        <dt>{{ _('Authors') }}</dt>
        <dd>
          {% for usr in authors %}
            <div>{{ usr.display_name }}</div>
          {% endfor %}
        </dd>
        <dt>{{ _('Mozilla Contact') }}</dt>
        <dd>
          {% if app.mozilla_contact %}
            <a href="mailto:{{ app.mozilla_contact }}">{{ app.mozilla_contact }}</a>
          {% else %}
            {{ _('None') }}
          {% endif %}
        </dd>
        <dt>{{ _('Manifest') }}</dt>
        <dd><a target="_blank" href="{{ app.manifest_url }}">{{ app.manifest_url }}</a></dd>
        <dt>{{ _('Type') }}</dt>
        <dd>
          {{ amo.ADDON_TYPE[app.type] }};
          {{ amo.ADDON_PREMIUM_TYPES[app.premium_type] }}
          {% if price %}
            ({{ price.get_price_locale() }})
          {% endif %}
        </dd>
        <dt>{{ _('Submitted') }}</dt>
        <dd>{{ app.created|babel_datetime }}</dd>
        <dt>{{ _('Status') }}</dt>
        <dd>{{ amo.STATUS_CHOICES[app.status] }}</dd>
        <dt>{{ _('Abuse Reports') }}</dt>
        <dd>{{ abuse_reports }}</dd>
        <dt>{{ _('Permissions') }}</dt>
        <dd>TBD: permissions not supported yet</dd>
        <dt>{{ _('Downloads') }}</dt>
        <dd class="pretty-list">
          <div>{{ _('last 24 hours') }}: {{ downloads['last_24_hours'] }}</div>
          <div>{{ _('last 7 days') }}: {{ downloads['last_7_days'] }}</div>
          <div>{{ _('all time') }}: {{ downloads['alltime'] }}</div>
        </dd>
      </dl>
    </section>

    <section class="column-c">
      <h2>{{ _('Payments') }}</h2>
      <dl>
        <dt>{{ _('Purchases') }}</dt>
        <dd>TBD: bug 765764</dd>
        <dt>{{ _('Refunds') }}</dt>
        <dd>TBD: bug 765765</dd>
        <dt>{{ _('Methods') }}</dt>
        <dd>TBD: bug 765767</dd>
      </dl>
    </section>
  </section>
{% endblock %}
