<h1>
  {{ title }}
  <a href="{{ url('acct_lookup.user_summary', account.id) }}"
     title="{{ _('Account Summary') }}">{{ account.display_name }}</a>
  ({{ account.pk }})
</h1>

<section id="avatar">
  <img class="avatar" src="{{ account.picture_url }}">
  <nav class="shortcuts">
    <ul>
      <li>
        <a href="{{ account.get_url_path() }}" class="button">
          {{ _('Public Profile') }}
        </a>
      </li>
      <li>
        <a href="{{ url('acct_lookup.user_activity', account.id) }}"
           class="button">
          {{ _('Activity') }}
        </a>
      </li>
      <li>
        <a href="{{ url('acct_lookup.user_purchases', account.id) }}"
           class="button">
          {{ _('Purchases') }}
        </a>
      </li>
      <li>
        {# TODO: is this sexy or what? #}
        <a href="javascript:alert('not yet implemented');" class="button">
          {{ _('Edit Account') }}
        </a>
      </li>
    </ul>
  </nav>
</section>
