<p>Thanks for submitting your {{ addon_name }} add-on to <a href="https://addons.mozilla.org">addons.mozilla.org</a> (AMO)! Your add-on listing will go live shortly in our gallery here: <a href="{{ detail_url }}">{{ detail_url }}</a></p>

<p>Please keep in mind that while your add-on has been screened and approved for listing, other reviewers may look into it in the future and determine that it requires changes or should be removed from the gallery. If that occurs, you will receive a separate notification with details and next steps.</p>

<p>For more information about the review process and policies, please visit <a href="{{ settings.EXTENSION_WORKSHOP_URL }}/documentation/publish/add-on-policies/">{{ settings.EXTENSION_WORKSHOP_URL }}/documentation/publish/add-on-policies/</a>.</p>

<hr />
Attract Users, Stay Updated, &amp; Get in Touch
<hr />

<p>Add-ons help personalize the web experience for millions of users who have installed Firefox, and we want to help make your users happy!</p>

<p>To learn how to help users discover your extension, stay up-to-date with news from the add-ons community, or contact the add-ons team, please visit <a href="{{ settings.EXTENSION_WORKSHOP_URL }}/documentation/manage/resources-for-publishers/">{{ settings.EXTENSION_WORKSHOP_URL }}/documentation/manage/resources-for-publishers/</a>.</p>>

<p>Happy developing!</p>

<p>
-- <br/>
Mozilla Add-ons<br/>
<a href="https://addons.mozilla.org">https://addons.mozilla.org</a><br/>
</p>
