<p>Thanks for submitting your {{ addon_name }} add-on to <a href="https://addons.mozilla.org">addons.mozilla.org</a> (AMO)!{% if listed %} Upon approval, your add-on listing will appear on our website here: <a href="{{ detail_url }}">{{ detail_url }}</a>{% endif %}</p>

<p>Please note that your add-on can be subject to human review at any time. Some submissions might be held for up to a few days for human review before they get approved. While your add-on might be screened and automatically approved, reviewers may look into it later and determine that it requires changes{% if listed %} or should be removed from the website{% endif %}. If that occurs, you will receive a separate notification with details and next steps.</p>

<p>For more information about the review process and policies, please visit <a href="https://extensionworkshop.com/documentation/publish/add-on-policies/">https://extensionworkshop.com/documentation/publish/add-on-policies/</a>.</p>

{% if listed %}
<hr />
Attract Users, Stay Updated, &amp; Get in Touch
<hr />
{% endif %}

<p>Add-ons help personalize the web experience for millions of users who have installed Firefox, and we want to help make your users happy!</p>

<p>To {% if listed %}learn how to help users discover your extension, {% endif %}stay up-to-date with news from the add-ons community, or contact the add-ons team, please visit <a href="https://extensionworkshop.com/documentation/manage/resources-for-publishers/">https://extensionworkshop.com/documentation/manage/resources-for-publishers/</a>.</p>

<p>Happy developing!</p>

<p>
-- <br/>
Mozilla Add-ons<br/>
<a href="https://addons.mozilla.org">https://addons.mozilla.org</a><br/>
</p>
