{% extends 'mkt/base.html' %}

{% if category %}
  {% set title = category.name %}
  {% set heading = title %}
  {% set crumbs = [(url('browse.apps'), _('Apps')),
                   (None, title)] %}
{% else %}
  {% set title = _('Apps') %}
  {% set heading = title %}
  {% set crumbs = [(None, title)] %}
{% endif %}

{% block title %}{{ mkt_page_title(title) }}{% endblock %}

{% block content %}
  {{ mkt_breadcrumbs(product, crumbs, cls='dark') }}
  <section id="browse-featured" class="featured full">
    <div>
      {% if not category %}
        <h1 class="hidden">{{ _('Apps') }}</h1>
      {% endif %}
      <h2 class="sticky">{{ title if category else _('Featured') }}</h2>
    </div>
  </section>
  <section class="featured full slider">
    {{ featured|promo_slider(feature=True, src='mkt-cat') }}
  </section>
  {% if popular %}
    <section class="popular subheading full">
      <div>
        <h2 class="see-all c">
          <a href="{{ request.path|urlparams(category=category.slug or None,
                                             sort='popular') }}">
          <span>{{ _('By popularity') }}</span> <em>{{ _('See all') }}</em></a>
        </h2>
      </div>
    </section>
    <section class="popular grid full">
      {{ popular|promo_grid(src='mkt-cat') }}
    </section>
  {% else %}
    {{ no_results() }}
  {% endif %}
  {{ category_slider() }}
{% endblock %}
