{% extends "legacy_discovery/addons/base.html" %}

{% block main %}
{% if addon.type == amo.ADDON_PERSONA %}
  {{ disco_persona_preview(addon.persona, linked=False, caption=True) }}
{% endif %}

<p{{ addon.summary|locale_html }}>{{ addon.summary|nl2br }}</p>

<ul id="install">
  <li class="install-action">
    {{ install_button(addon, show_warning=True, detailed=False) }}
  </li>
  <li><a href="{{ url('addons.detail', addon.slug, src='discovery-learnmore') }}"
         id="learn-more" class="button">{{ _('Learn More') }}</a></li>
  {% if addon.privacy_policy %}
    <li class="privacy"><a href="{{ url('addons.privacy', addon.slug, src='discovery-learnmore') }}">
      {{ _('View Privacy Policy') }}</a></li>
  {% endif %}
  {% if addon.eula %}
    <li class="eula"><a href="{{ url('addons.eula', addon.slug, src='discovery-learnmore') }}">
      {{ _('View End-User License Agreement') }}</a></li>
  {% endif %}
</ul>

{{ dependencies_note(addon, 'discovery') }}

{% if addon.type != amo.ADDON_PERSONA %}
  {% if addon.current_previews|length > 0 %}
    <div id="images">
      <ul class="nav-images">
        <li class="nav-prev"><a href="#" class="prev">{{ _('Previous') }}</a></li>
        <li class="nav-next"><a href="#" class="next">{{ _('Next') }}</a></li>
      </ul>
      <ul class="slider">
        {%- for preview in addon.current_previews -%}
          <li class="panel">
            <a class="screenshot thumbnail" rel="jquery-lightbox"
               href="{{ preview.image_url }}" title="{{ preview.caption }}">
              <img src="{{ preview.thumbnail_url }}" alt="">
            </a>
          </li>
        {%- endfor -%}
      </ul>
    </div>
  {% endif %}
{% endif %}

<ul class="addon-info">
  <li>
    <h3>{{ _('Rating') }}</h3>
    {{ reviews_link(addon) }}
  </li>
  <li>
    <h3>{{ _('Active Users') }}</h3>
    <p class="users">{{ addon.average_daily_users|numberfmt }}</p>
  </li>
  <li>
  {% if addon.is_persona() %}
    <h3>{{ _('Created') }}</h3>
    <p><time datetime="{{ addon.created|isotime }}">{{
      addon.created|date }}</time></p>
  {% else %}
    <h3>{{ _('Last Updated') }}</h3>
    <p><time datetime="{{ addon.last_updated|isotime }}">{{
      addon.last_updated|date }}</time></p>
  {% endif %}
  </li>
  {% if addon.homepage %}
    <li>
      <h3>{{ _('Website') }}</h3>
      <p><a href="{{ addon.homepage|external_url }}">{{ addon.homepage }}</a></p>
    </li>
  {% endif %}
</ul>
{% endblock %}

{% block secondary %}
<section id="addon-reviews">
  {{ review_list_box(addon=addon, reviews=reviews) }}
</section>
{% endblock %}
