{% extends "legacy_discovery/addons/base.html" %}

{% block title %}
  {# L10n: {0} is the name of the add-on #}
  {{ page_title(_('End-User License Agreement for {0}')|format_html(addon.name)) }}
{% endblock %}

{% block bodyclass %}{{ super() }} eula{% endblock %}

{% block main %}
<h3>{{ _('End-User License Agreement') }}</h3>
<p>
  {% trans addon_name=addon.name %}
    {{ addon_name }} requires that you accept the following End-User License
    Agreement before installation can proceed:
  {% endtrans %}
</p>
<article id="eula">
  <p>{{ addon.eula|nl2br }}</p>
</article>
<ul id="install" class="install-action">
  <li>
    {{ install_button(addon, version=version, show_warning=False) }}
  </li>
  <li><a href="{{ services_url('discovery.addons.detail', addon.slug, src=src) }}" class="button">
    {{ _('Cancel Installation') }}</a></li>
</ul>
{% endblock %}
