{% extends "inapp_pay/base.html" %}

{% block screen_content %}
<header>
  {{ _('Marketplace') }}
</header>
<div>
    <h3>{{ _('Payment Error') }}
    {% if exc_class %}
        : {{ exc_class }}
    {% endif %}
    </h3>
    {% if exc_message %}
      <p>{{ exc_message }}</p>
    {% else %}
    <p>
      {{ _('There was an error processing your payment. Please try again.') }}
      {% if config and config.addon.support_email and config.addon.support_url %}
        {% set _email = '<a href="mailto:%s">%s</a>' % (config.addon.support_email, config.addon.support_email) %}
        {# L10n: first parameter is the support URL. Second parameter is the developer's email. #}
        {{ _('If the problem persists, request <a href="{0}">support from the app</a> or contact the developer: {1}')|f(config.addon.support_url, _email)|safe }}
      {% endif %}
    </p>
    {% endif %}
</div>
<footer>
  <a class="button close" href="#">{{ _('Close window') }}</a>
</footer>
{% endblock %}
