{% extends "inapp_pay/base.html" %}

{% block screen_content %}
<header>
  {{ _('Marketplace') }} &mdash; {{ _("Couldn't complete purchase") }}
</header>
<div>
  <p class="no-wallet">
    {% trans %}
      In-app purchases require payment pre-approval. Would you like to
      set this up now?
    {% endtrans %}
  </p>
</div>
<footer>
    <a class="button" id="setup-preauth" target="_blank"
       href="{{ url('inapp_pay.preauth') }}">
        {{ _('Set up pre-approval') }}
    </a>
    <a class="button close" href="#">{{ _('No thanks') }}</a>
</footer>
{% endblock %}
