{% extends "inapp_pay/base.html" %}

{% block screen_content %}
<header>
  {{ _('Marketplace') }} &mdash; {{ product.name }}
</header>
<div>
  <div class="product-details">
    <h2>{{ item }}</h2>
    <p>{{ description }}</p>
  </div>
  <form method="post" action="{{ url('inapp_pay.pay') }}">
    {{ csrf() }}
    <input type="hidden" name="req" value="{{ signed_request }}">
    <div class="actions">
      <button href="#" class="button purchase">{{ currency }} {{ price }}</button>
    </div>
  </form>
</div>
<footer>{{ _('refunds are not available for in-app purchases') }}</footer>
{% endblock %}
