{% extends "inapp_pay/base.html" %}

{% block screen_content %}
<header>
  {{ _('Marketplace') }} &mdash; {{ product.name }}
</header>
<div>
  <div class="product-details">
    <div class="icon">
      <img src="{{ img }}">
    </div>
    <h2>{{ item }}</h2>
    <p>{{ description }}</p>
  </div>
</div>
<footer>
  <form method="post" action="{{ url('inapp_pay.pay') }}">
    {{ csrf() }}
    <input type="hidden" name="req" value="{{ signed_request }}">
    <button href="#" class="button purchase"
            data-purchasing-label="{{ _('Purchasing&hellip;') }}">
              {{ currency }} {{ price }}
    </button>
  </form>
</footer>
{% endblock %}
