<nav id="side-nav" class="report-menu" role="navigation">
  <ul>
    <li data-report="overview" data-layout="overview">
      <a href="{{ url('mkt.stats.overview', addon.app_slug) }}">
        {{ _('Overview') }}
      </a>
    </li>
    {# TODO: Sales stats should only show up for premium apps. #}
    <li data-report="sales">
      <a href="{{ url('mkt.stats.sales', addon.app_slug) }}">
        {{ _('Sales') }}
      </a>
    </li>
    <li data-report="installs">
      <a href="{{ url('mkt.stats.installs', addon.app_slug) }}">
        {{ _('Installs') }}
      </a>
    </li>
    <li data-report="usage">
      <a href="{{ url('mkt.stats.usage', addon.app_slug) }}">
        {{ _('Usage') }}
      </a>
    </li>
  </ul>
</nav>
