{% from 'includes/forms.html' import required, optional, tip %}
{% from 'developers/includes/macros.html' import some_html_tip %}

{% macro simple_label(field, label, opt, req, tooltip, hint) %}
  <label class="{{ 'choice' if choice }}" for="{{ field.auto_id }}">
    {{ label }}
  </label>

  {% if field.field.required and req != False %}{{ required() -}}{% endif %}
  {% if opt %}{{ optional() -}}{% endif %}

{% endmacro %}

{% if tag %}
  <{{ tag }} class="brform simple-field c {{ cls }}{{ ' error' if field.errors }}">
{% endif %}
{% set choice = field|is_choice_field %}
  {% if not tooltip %}{% set tooltip = field.help_text %}{% endif %}

  {% if grid %}
    <div class="form-label">
  {% else %}
    {% if choice %}{{ field.as_widget() }}{% endif %}
  {% endif %}

  {{ simple_label(field, label, opt, req, tooltip, hint) }}

  {% if grid %}
    </div>
    <div class="form-col">
      {% if choice %}
        {{ field.as_widget() }}
        {{ simple_label(field, label, opt, req, tooltip, hint) }}
      {% endif %}
  {% endif %}

  {% if not choice %}
    {{ field.as_widget(attrs=attrs) }}
  {% endif %}

  {% if hint and tooltip %}
    <span class="hint">{{ field.help_text }}</span>
  {% endif %}

  {% if some_html %}
    {{ some_html_tip() }}
  {% endif %}

  {% if cc_maxlength %}
    <div class="char-count" data-maxlength="{{ cc_maxlength }}"
      {% if cc_startswith %}
        data-for-startswith="{{ cc_startswith }}"
      {% endif %}
      {% if cc_for %}
        data-for="{{ cc_for }}"
      {% endif %}></div>
  {% endif %}

  {{ field.errors }}

  {% if grid %}</div>{% endif %}
{% if tag %}
  </{{ tag }}>
{% endif %}
