{% from 'includes/forms.html' import required, optional, tip %}
{% if tag %}
  <{{ tag }} class="brform simple-field {{ class }}{{ ' error' if field.errors }}">
{% endif %}
{% set choice = field|is_choice_field %}
  <label class="{{ 'choice' if choice }}" for="{{ field.auto_id }}">
    {{ label or field.label }}
  </label>
  {% if choice %}{{ field.as_widget() }}{% endif %}
  {% if field.field.required and req != False %}{{ required() -}}{% endif %}
  {% if opt %}{{ optional() -}}{% endif %}

  {% if not tooltip %}{% set tooltip = field.help_text %}{% endif %}
  {% if not hint and tooltip %}{{ tip(None, tooltip) }}{% endif %}

  {% if not choice %}
    {{ field.as_widget(attrs=attrs) }}
  {% endif %}

  {% if hint and tooltip %}
    <span class="hint">{{ field.help_text }}</span>
  {% endif %}
  {{ field.errors }}
{% if tag %}
  </{{ tag }}>
{% endif %}
