<h1>{{ title }}</h1>
<p>
  {% trans %}
    Please use the articles below to find answers to some of the
    most common questions and issues encountered in the Marketplace.
  {% endtrans %}
</p>
<ul id="resources">
  <li><a href="https://developer.mozilla.org/en/Apps/Platform-specific_details" target="_blank">
    {{ _('App Installation FAQ') }} &raquo;</a></li>
  <li><a href="https://developer.mozilla.org/en/Apps/FAQs/Payments" target="_blank">
    {{ _('Purchasing Apps') }} &raquo;</a></li>
  <li><a href="https://www.paypal.com/help" target="_blank">
    {{ _('How to contact PayPal support') }} &raquo;</a></li>
</ul>
<p>
  {% trans url=url('support', contribution.pk, 'mozilla') %}
    If you looked through the above resources and still have a
    question, please <a href="{{ url }}">contact us</a>.
  {% endtrans %}
</p>
