<h1>{{ _('App Support') }}</h1>
<p>
  {% trans %}
    For support questions regarding this app's functionality,
    please visit the app author's support website to search for
    a solution:
  {% endtrans %}
</p>
<p class="support-url">
  <a href="{{ product.support_url }}" target="_blank">{{ product.name }}</a>
</p>
<p>
  {% trans url=url('support', contribution.pk, 'author') %}
    If you are unable to find the answer to your question at the above support
    website, please <a href="{{ url }}">contact the author</a>.
 {% endtrans %}
</p>
