@import '../impala/lib';

/************************************/
/*             LISTVIEWS            */
/************************************/

.listview,
.infobox {
    margin: 14px 14px 1em;
    border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border: 1px solid #ddd;
    background-color: #f4f4f4;
    display: block;
}
.infobox {
    padding: 10px;
}
.listview li {
    border-top: 1px solid #ccc;
    font-size: 1em;
    &:first-child {
        border: 0;
    }
}
.listview li > a,
a.listview {
    color: #444;
    font-family: @serif-stack;
    font-size: 1.1em;
    display: block;
    overflow: hidden;
    text-decoration: none;
    padding: 10px;
    position: relative;
}
.html-rtl .listview li > a,
.html-rtl a.listview {
    padding-left: 34px;
}
.listview .item > a,
.listview div.item {
    padding: 10px;
    font-size: 1em;
}
.listview li.item a {
    padding: 10px 10px 0;
}
.listview li > a:before,
a.listview:before {
    content: " ";
    display: block;
    width: 10px;
    height: 16px;
    position: absolute;
    right: 10px;
    top: 50%;
    margin-top: -8px;
    background: url(../../img/zamboni/mobile/arrow.svg) no-repeat center center;
}
.html-rtl .listview li > a:before,
.html-rtl a.listview:before {
    right: auto;
    left: 10px;
    background: url(../../img/zamboni/mobile/arrow.svg) no-repeat center center;
    -moz-transform: scaleX(-1);
}
.icon {
    float: left;
    margin-right: 8px;
}
.html-rtl .icon {
    float: right;
    margin-left: 8px;
    margin-right: 0;
}

.item {
    line-height: 1.3em;
    h3 {
        font-size: 1.1em;
    }
    .desc {
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    details {
        font-size: .9em;
        margin: 0 12px 10px 36px;
        padding: 0 14px;
    }
    .vital {
        color: green;
        padding-left: .5em;
        &:before {
            color: #aaa;
            content: "\B7";
            padding-right: .25em;
        }
        &:first-child {
            padding: 0;
            &:before {
                display: none;
            }
        }
        &.purchase {
            color: @note-gray;
        }
    }
    .stars, i, .vital {
        display: block;
        float: left;
    }
}
.html-rtl .item {
    details {
        margin: 0 36px 10px 12px;
    }
    .stars, i, .vital {
        float: right;
    }
    .vital {
        padding: 0 .5em 0 0;
        &:first-child {
            padding: 0;
        }
    }
    .price:before,
    .purchase:before {
        padding: 0 0 0 .25em;
    }
}

#purchases .item {
    &.refunded {
        opacity: .6;
        .refund-notice {
            font-weight: bold;
            margin: 0;
            padding: 10px 11px;
            text-align: right;
        }
    }
    .action {
        font: 11px/13px @sans-stack;
        padding-top: 10px;
        .refund-notice + ul {
            margin-top: 10px;
        }
        ul {
            border-left: 1px dotted fadeOut(@green, 60%);
            color: @green;
            font-size: 11px;
            padding-left: 10px;
            li {
                border: 0;
            }
            a {
                font-weight: bold;
                padding: 0 .5em;
            }
        }
    }
}

.html-rtl #purchases .item {
    .refund-notice {
        text-align: left;
    }
    .action ul {
        border: 0;
        border-right: 1px dotted fadeOut(@green, 60%);
        padding: 0 10px 0 0;
    }
}
