<div id="contribute-box" class="jqmWindow modal">
  <form action="{{ url('addons.contribute', addon.slug) }}" method="post" data-no-csrf="anon-only">
    {{ csrf() }}
    <input type="hidden" name="source" value="{{ contribution_src }}"/>
    <h2>{{ _('Make a Contribution') }}</h2>
    <p class="support">
      {% with addon_name=addon.name, paypal_url='http://paypal.com' %}
        {% if not addon.charity %}
          {% trans %}
            Help support the continued development of
            <strong>{{ addon_name }}</strong> by making a small contribution
            through <a href="{{ paypal_url }}">PayPal</a>.
          {% endtrans %}
        {% elif addon.charity_id == amo.FOUNDATION_ORG %}
          {% trans %}
            To show your support for <b>{{ addon_name }}</b>, the developer asks
            that you make a donation to the <a href="{{ charity_url }}">{{ charity_name }}</a>
            through <a href="{{ paypal_url }}">PayPal</a>.
          {% endtrans %}
        {% else %}
          {% trans %}
            To show your support for <b>{{ addon_name }}</b>, the developer asks
            that you make a small contribution to <a href="{{ charity_url }}">{{ charity_name }}</a>
            through <a href="{{ paypal_url }}">PayPal</a>.
          {% endtrans %}
        {% endif %}
      {% endwith %}
    </p>

    <h4>{{ _('How much would you like to contribute?') }}</h4>
    <div class="error" id="contrib-too-much"
         data-max-amount="{{ settings.MAX_CONTRIBUTION }}">
        {{ _('The maximum contribution amount is {0}.')|f(
           settings.MAX_CONTRIBUTION|currencyfmt('USD')) }}
    </div>
    <div class="error" id="contrib-too-little">
        {{ _('The minimum contribution amount is {0}.')|f(
           0.01|currencyfmt('USD')) }}
    </div>
    <div class="error" id="contrib-not-entered">
        {{ _('Contribution amount must be a number.') }}
    </div>
    <div class="error" id="paypal-error">
    </div>
    <ul>
      {% if has_suggested %}
      <li>
        <input type="radio" name="type" value="suggested"
               id="contrib-suggested" checked="checked"/>
        <label for="contrib-suggested">
          {# L10n: {0} is a currency amount (e.g., $5.00) #}
          {{ _('A one-time suggested contribution of {0}')|f(
            addon.suggested_amount|currencyfmt('USD')) }}
        </label>
      </li>
      {% endif %}
      <li>
        <input type="radio" name="type" value="onetime"
               id="contrib-onetime"
               {% if not has_suggested %}checked="checked"{% endif %}/>
        <label>
          {# L10n: {0} is a currency symbol (e.g., $),
                   {1} is an amount input field #}
          {{ _('A one-time contribution of {0} {1}')|fe(
            '$', '<input type="text" name="onetime-amount" value=""/>'|safe) }}
        </label>
      </li>
    </ul>

    <h4 class="comment">
      <label for="contrib-comment">
        {{ _('Leave a comment or request with your contribution.') }}
      </label>
    </h4><span>{{ _('(optional)') }}</span>
    <textarea name="comment" id="contrib-comment" maxlength="{{ comment_limit }}"></textarea>
    <span class="commentlen"></span>

    <div id="contribute-actions">
        <button id="contribute-confirm" type="submit" class="prominent">
          {{ _('Make Contribution') }}
        </button>
        <span class="js-hidden ajax-loading">{{ _('Contacting PayPal') }}</span>
        <span class="cancel"><a href="#">{{ _('No Thanks') }}</a></span>
    </div>
    <div id="paypal-complete" class="js-hidden">
        <strong>{{ _('Contribution made, thank you.') }}</strong>
    </div>

  </form>
</div>{# /contribute-box #}
