{% extends "impala/base_side_categories.html" %}
{% from "addons/macros.html" import addon_heading %}

{% block title %}
  {# L10n: {0} is the name of the add-on. #}
  {{ page_title(_('End-User License Agreement for {0}')|format_html(addon.name)) }}
{% endblock %}

{% set addon_type = addon.type %}
{% set detail_url = addon.get_url_path() %}

{% block primary %}
<section class="primary" id="eula">
  <hgroup class="hero">
    {{ addon_heading(addon, version) }}
  </hgroup>
  <div class="prose">
    <h2>{{ _('End-User License Agreement') }}</h2>
    <p>
      {% trans addon_name = addon.name %}
        {{ addon_name }} requires that you accept the following
        End-User License Agreement before installation can proceed:
      {% endtrans %}
    </p>
    <div class="policy-statement">{{ addon.eula|nl2br }}</div>
    <div class="policy-install">
      {{ install_button(addon, version=version,
                        show_warning=False, impala=True) }}
    </div>
    <p class="policy-back">
      <a href="{{ detail_url }}">{{ _('Back to {0}…')|format_html(addon.name) }}</a>
    </p>
  </div>
</section>
{% endblock %}
