{% extends "impala/base_shared.html" %}

{% block title %}{{ _('Add-ons for {0}')|format_html(request.APP.pretty) }}{% endblock %}

{% block bodyclass %}home{% endblock %}

{% block header_content %}
  {% if request.APP in (amo.FIREFOX, amo.ANDROID) %}
    <section class="island" id="promos" data-promo-url="{{ url('addons.homepage_promos') }}">
      <div>
        <ul class="slider">
        </ul>
      </div>
    </section>
  {% endif %}
{% endblock header_content %}


{% block content %}
{# IT looks for this comment with nagios, don't remove it. #}
<!-- aww yeah -->
{% endblock content %}

{% block extrahead %}
{% endblock %}
