{% macro vital(addon, type) %}
  <div class="vital">
    {% if type in ('updated', 'created') %}
      <span class="updated">
        {% if type == 'updated' %}
          {# L10n: {0} is a date. #}
          {{ _('Updated {0}')|format_html(addon.last_updated|datetime) }}
        {% else %}
          {# L10n: {0} is a date. #}
          {{ _('Added {0}')|format_html(addon.created|datetime) }}
        {% endif %}
      </span>
    {% elif type == 'rating' %}
      {{ impala_reviews_link(addon, link_to_list=True) }}
    {% elif type in ('downloads', 'adu') %}
      {% if type == 'downloads' %}
        <span class="downloads adu">
          {% trans cnt=addon.weekly_downloads,
                   num=addon.weekly_downloads|numberfmt %}
            {{ num }} weekly download
          {% pluralize %}
            {{ num }} weekly downloads
          {% endtrans %}
        </span>
      {% else %}
        <span class="adu">
          {% set adu=addon.persona.popularity if addon.is_persona() else addon.average_daily_users %}
          {% trans cnt=adu, num=adu|numberfmt %}
            {{ num }} user
          {% pluralize %}
            {{ num }} users
          {% endtrans %}
        </span>
      {% endif %}
    {% endif %}
  </div>
{% endmacro %}

{% macro addon_flags(addon, version) %}
    {% if version %}
      {% if version.is_restart_required %}
        <span class="is-restart-required">{{ _('Requires Restart') }}</span>
      {% elif version.is_webextension or version.is_mozilla_signed %}
        <a href="https://support.mozilla.org/kb/firefox-add-technology-modernizing" class="is-webextension" title="{{ _('This add-on is built with new technology that is compatible with Firefox 57 and beyond.') }}">
          {{ _('Compatible with Firefox 57+') }}
        </a>
      {% endif %}
    {% endif %}
{% endmacro %}

{% macro addon_heading(addon, version) %}
  <h1{{ addon.name|locale_html }}>
    {{ addon.name }}
    {% if version %}
      <span class="version">{{ version.version }}</span>
    {% endif %}
  </h1>
{% endmacro %}

{% macro sort_vital(addon, field) %}
  {% if field in ('popular', 'downloads') or not addon.show_adu() %}
    <div class="adu downloads">
      {% with num=addon.weekly_downloads %}
        {# L10n: {0} is the number of downloads. #}
        {{ ngettext('{0} weekly download', '{0} weekly downloads',
                    num)|format_html(num|numberfmt) }}
      {% endwith %}
    </div>
  {% else %}
    <div class="adu">
      {% with num=addon.average_daily_users %}
        {# L10n: {0} is the number of users. #}
        {{ ngettext('{0} user', '{0} users', num)|format_html(num|numberfmt) }}
      {% endwith %}
    </div>
  {% endif %}
  {% if field in ('created', 'updated') %}
    <div class="updated">
      {% if field == 'created' %}
        {# L10n: {0} is a date. #}
        {{ _('Added {0}')|format_html(addon.created|datetime) }}
      {% else %}
        {# L10n: {0} is a date. #}
        {{ _('Updated {0}')|format_html(addon.last_updated|datetime) }}
      {% endif %}
    </div>
  {% endif %}
{% endmacro %}
