<tbody>
  <tr>
    <th>{{ _('Updated') }}</th>
    <td>
      <time datetime="{{ addon.modified|isotime }}">{{
        addon.modified|date }}</time>
    </td>
  </tr>
  <tr class="artist">
    <th>{{ _('Artist') }}</th>
    <td>{{ users_list(addon.listed_authors, max_text_length=20) or
      persona.display_username }}</td>
  </tr>
  <tr>
    <th>{{ _('Rating') }}</th>
    <td>{{ reviews_link(addon) }}</td>
  </tr>
  <tr class="meta-stats">
    <th>{{ _('Daily Users') }}</th>
    <td>
      <strong class="downloads">{{ persona.popularity|numberfmt }}</strong>
    </td>
  </tr>
  {% if persona.license %}
    <tr>
      <th>{{ _('License') }}</th>
      <td>{{ license_link(amo.PERSONA_LICENSES_IDS[persona.license]) }}</td>
    </tr>
  {% endif %}
</tbody>
