{% extends "base.html" %}

{% block title %}{{ page_title(addon.name) }}{% endblock %}
{% block bodyclass %}inverse{% endblock %}
{% block content %}

{% set is_artist = request.check_ownership(addon, require_owner=False) %}

<hgroup>
  <h2 class="addon"{{ addon.name|locale_html }}>
    <img src="{{ addon.icon_url }}" class="icon" alt="" />
    <span>
      {{ addon.name }}
    </span>
  </h2>
  <h4 class="author">{{ _('by') }} {{ users_list(addon.listed_authors) or persona.display_username }}</h4>
</hgroup>

{% include "addons/includes/persona_pending_notice.html" %}

<div id="persona" class="primary" role="main" data-id="{{ addon.id }}">
  {% if not persona.addon.is_pending() or request.check_ownership(addon, require_owner=False) %}
    {# If theme is pending, only artist should see theme listing. #}
    {% include "addons/includes/persona.html" %}
  {% endif %}

  <div id="more-personas">
    {% if category_personas %}
      <div id="more-category" class="persona-list {{ 'persona-list-3col' if not author_personas else 'persona-list-2col' }}">
        {# L10n: {0} is a category name, such as Nature #}
        <h3>{{ _('More {0} Themes')|f(categories[0].name) }}</h3>
        <div class="article">
          {% for other in category_personas %}
            {{ persona_preview(other.persona, size='small') }}
          {% endfor %}
        </div>
        {# L10n: {0} is a category name, such as Nature #}
        <a href="{{ categories[0].get_url_path() }}" class="more-link">{{ _('See all {0} Themes')|f(categories[0].name) }}</a>
      </div>
    {% endif %}

    {% if author_personas %}
      <div id="more-artist">
        <h3>{{ _('More by this Artist') }}</h3>
        <div class="article">
          {% for other in author_personas %}
            {{ persona_preview(other.persona, size='small') }}
          {% endfor %}
        </div>
        {% if author_gallery %}
          <a href="{{ author_gallery }}" class="more-link">{{ _('See all Themes by this Artist') }}</a>
        {% endif %}
      </div>
    {% endif %}
  </div>{# /more-personas #}

  {{ review_list_box(addon=addon, reviews=reviews) }}
  {% if request.user.is_authenticated() %}
    {{ review_add_box(addon=addon) }}
  {% endif %}

  {% if abuse_form %}
    {{ addon_report_abuse(hide=True, addon=addon) }}
  {% endif %}
</div>{# /primary #}

<div id="persona-side" class="secondary" role="navigation">
  {% if categories %}
  <div class="category-list">
    <h3 class="compact-bottom">{{ _('Categories') }}</h3>
    <ul>
      {# TODO reverse URL #}
      {% for category in categories %}
      <li>
        <a href="{{ category.get_url_path() }}" class="category">{{ category }}</a>
      </li>
      {% endfor %}
    </ul>
  </div>
  {% endif %}

  {{ tags_box(addon=addon, tags=user_tags) }}

</div>{# /secondary #}
{% endblock content %}
