{% extends "impala/base_side_categories.html" %}
{% from "addons/macros.html" import addon_heading %}

{% block title %}
  {# L10n: {0} is the name of the add-on. #}
  {{ page_title(_('Privacy Policy for {0}')|fe(addon.name)) }}
{% endblock %}

{% set addon_type = addon.type %}
{% set version = addon.current_version %}
{% set detail_url = addon.get_url_path() %}

{% block primary %}
<section class="primary">
  <hgroup class="hero">
    {# L10n: The Privacy Policy for this add-on. #}
    {{ addon_heading(addon, version) }}
  </hgroup>
  <div class="prose">
    <h2>{{ _('Privacy Policy') }}</h2>
    <div class="policy-statement">{{ addon.privacy_policy|nl2br }}</div>
    <p class="policy-back">
      <a href="{{ detail_url }}">{{ _('Back to {0}…')|fe(addon.name) }}</a>
    </p>
  </div>
</section>
{% endblock %}
