<form method="post" action="{{ url('addons.abuse', addon.slug) }}" data-no-csrf="anon-only">
  {% csrf_token %}
  <fieldset class="abuse">
    {% if hide %}
    <legend><a href="{{ url('devhub.docs', 'policies/contact') }}"
               class="abuse-image">{{ _('Report Abuse') }}</a></legend>
    {% endif %}
    <ol {% if hide %}style="display: none"{% endif %}>
      <li>
        <p>{% trans amo_policy_link_open='<a href="https://developer.mozilla.org/en-US/Add-ons/AMO/Policy">'|safe,
                    link_close='</a>'|safe %}
              If you suspect this add-on violates {{ amo_policy_link_open }}our policies{{ link_close }} or
              has security or privacy issues, please use the form below to describe your
              concerns. Please do not use this form for any other reason.
           {% endtrans %}
        </p>
      </li>
      <li>
        {{ abuse_form.text }}
        {{ abuse_form.text.errors }}
      </li>
      {% if abuse_form.has_recaptcha %}
        {{ abuse_form.recaptcha }}
        {{ abuse_form.recaptcha.errors }}
      {% endif %}
      <li class="footer-submit">
        <button type="submit">{{ _('Send Report') }}</button>
        {% if hide %}
        {{ _('or') }} <a href="#" class="cancel">{{ _('Cancel') }}</a>
        {% endif %}
      </li>
    </ol>
  </fieldset>
</form>
