{% if not addon.has_author(user) %}
  <h3>{{ _('What do you think?') }}</h3>
  <div id="review-box" class="highlight">
    {% if not user.is_authenticated() %}
      <p>
        {% trans login=login_link() %}
          Please <a href="{{ login }}">log in</a> to submit a review
        {% endtrans %}
      </p>
    {% endif %}

    <form disabled method="post" action="{{ url('addons.ratings.add', addon.slug) }}">
      {% set attrs = {} if user.is_authenticated() else {'disabled': 'disabled'} %}
      {% csrf_token %}
      {{ field(review_form.body, _('Review:'), **attrs) }}
      {{ field(review_form.rating, _('Rating:'), **attrs) }}
      <input type="submit" value="{{ _('Submit review') }}" {{ attrs|xmlattr }}>
    </form>

    <div>
      <p>
        {% trans %}
          Please do not post bug reports here. We do not make your email
          address available to add-on developers, so they can't contact you
          to resolve your issue.
        {% endtrans %}
      </p>
      {% if addon.support_url or addon.support_email %}
      <p>
        {% trans support='#support' %}
          See this add-on's <a href="{{ support }}">support section</a> to find out if assistance is available.
          You can also try asking the <a href="https://discourse.mozilla-community.org/c/add-ons/add-on-support">add-on community</a> for help.
        {% endtrans %}
      </p>
      {% endif %}
      <p><a href="{{ url('pages.review_guide') }}">{{ _('Review Guidelines') }}</a></p>
    </div>

  </div>{# /#review-box #}
{% endif %}{# /is_author #}
