{% extends "base_side_categories.html" %}

{% block title %}It's an Add-on Buffet!{% endblock %}

{% macro item(addon, version=None) %}
<div class="item" id="{{ addon.tag|slugify }}">
  <hgroup style="float: left">
    <h3><a href="{{ addon.get_url_path() }}">{{ addon.name }}</a></h3>
    <h5><a href="#{{ addon.tag|slugify }}">({{ addon.tag }})</a></h5>
  </hgroup>
  <div class="item-info">
    {{ install_button(addon, version) }}
    <pre>
    </pre>
  </div>
  <blockquote>{{ addon.summary }}</blockquote>
</div>
{% endmacro %}

{% block content %}
<div class="featured listing">
  <div class="featured-inner">
    {% for addon in addons %}
      {{ item(addon) }}
    {% endfor %}
    {{ item(beta, beta.current_beta_version) }}
  </div>
</div>
{% endblock %}
