{% extends 'base_modal.html' if request.is_ajax() else
           ('mkt/base.html' if '/developers/' not in request.path else
            'developers/base_impala.html') %}

{% set title = _('Not Allowed') %}
{% set pagetitle = mkt_page_title(title) %}
{% block title %}{{ pagetitle }}{% endblock %}

{% set pagetype = 'notice' %}

{% block content %}
  <section class="primary">
      <h1 id="top">{{ _('Not Allowed') }}</h1>
      <h2>{{ _('Oops! Not allowed.') }}</h2>
      <p>{{ _("You tried to do something that you weren't allowed to.") }}</p>
    {% if because_csrf %}
      <p>{{ _('Try going back to the previous page, refreshing and trying
              again.') }}</p>
    {% endif %}
  </section>
{% endblock %}
