{% extends 'base_modal.html' if request.is_ajax() else
           ('mkt/base.html' if '/developers/' not in request.path else
            'developers/base_impala.html') %}

{% set pagetitle = _('Not Allowed') %}

{% if not DESKTOP %}
  {% set pagetype = 'notice' %}
{% endif %}

{% block content %}
  <section class="main primary">
      <h2>{{ _('Oops! Not allowed.') }}</h2>
      <p>{{ _("You tried to do something that you weren't allowed to.") }}</p>
    {% if because_csrf %}
      <p>{{ _('Try going back to the previous page, refreshing and trying
              again.') }}</p>
    {% endif %}
  </section>
{% endblock %}
