{% extends 'base_modal.html' if request.is_ajax() else
           ('mkt/base.html' if '/developers/' not in request.path else
            'developers/base_impala.html') %}

{% set pagetitle = _('Page Not Found') %}

{# TODO(apps): Finalize copy. #}

{% block content %}
  <section class="main primary">
    <h1>{{ _("We're sorry, but we can't find what you're looking for.") }}</h1>
    <div class="island prose">
      <p>
        {{ _("The page or file you requested wasn't found on our site. It's
             possible that you clicked a link that's out of date, or typed in
             the address incorrectly.") }}
      </p>
      <ul>
        <li>{{ _("If you typed in the address, please double check the
                 spelling.") }}</li>
        <li>
            {% trans home=url('home') %}
              Visit the <a class="sync" href="{{ home }}">Firefox Marketplace
              front page</a>.
            {% endtrans %}
        </li>
      </ul>
    </div>
  </section>
{% endblock %}
