{% extends 'base_modal.html' if request.is_ajax() else
           ('mkt/base.html' if '/developers/' not in request.path else
            'developers/base_impala.html') %}

{% block title %}{{ mkt_page_title(_('Not Found')) }}{% endblock %}

{# TODO(apps): Finalize copy. #}

{% block content %}
{% trans %}
  <section class="primary">
    <header>
      <h1>We're sorry, but we can't find what you're looking for.</h1>
    </header>
    <div class="island prose">
      <p>
        The page or file you requested wasn't found on our site. It's possible that
        you clicked a link that's out of date, or typed in the address incorrectly.
      </p>
      <ul>
        <li>If you typed in the address, please double check the spelling.</li>
        <li>
          If you followed a link from somewhere, please let us know at
          <a href="mailto:webmaster@mozilla.com">webmaster@mozilla.com</a>.
          Tell us where you came from and what you were looking for, and we'll do
          our best to fix it.
        </li>
      </ul>
    </div>
  </section>
{% endtrans %}
{% endblock %}
