{% extends 'base_modal.html' if request.is_ajax() else
           ('mkt/base.html' if '/developers/' not in request.path else
            'developers/base_impala.html') %}

{% set pagetitle = _('Server Error') %}

{# TODO(apps): Finalize copy. #}

{% block content %}
  <section class="main primary">
    <h1>{{ _('Oops! We had an error.') }}</h1>
    <div class="island hero prose">
      <p>{{ _("We'll get to fixing that soon.") }}</p>
      <p>
        {{ _('You can try refreshing the page, or try again later.') }}
      </p>
    </div>
  </section>
{% endblock %}

{# Hide "Internal Server Error" message. #}
{% block outer_content %}{% endblock %}
