{% extends 'developers/base_impala.html' %}

{% block title %}{{ _('Oops') }}{% endblock %}

{# TODO(apps): Finalize copy. #}

{% block content %}
  <section class="primary">
    <header>
      <h1>Oops! We had an error.</h1>
    </header>
    <div class="island hero prose">
      <p>We'll get to fixing that soon.</p>
      <p>
        You can try refreshing the page, or try again later.
      </p>
    </div>
  </section>
{% endblock %}

{# Hide "Internal Server Error" message. #}
{% block outer_content %}{% endblock %}
