{% extends 'base_modal.html' if request.is_ajax() else
           ('mkt/base.html' if '/developers/' not in request.path else
            'developers/base_impala.html') %}

{% set title = _('Oops') %}
{% set pagetitle = title %}
{% block title %}{{ pagetitle }}{% endblock %}

{# TODO(apps): Finalize copy. #}

{% block content %}
  <section class="primary">
    <h1>{{ title }}</h1>
    <div class="island hero prose">
      <p class="paypal-error-message">
         We tried to communicate with PayPal to complete that request, but
         we got an error back. It could be on our end or it might be on the other.
      </p>
      <p>You can try refreshing the page, or try again later.</p>
    </div>
  </section>
{% endblock %}

{# Hide "Internal Server Error" message. #}
{% block outer_content %}{% endblock %}
