{% extends 'mkt/base.html' %}

{% set title = _('Coming Soon') %}

{% block title %}{{ mkt_page_title(title) }}{% endblock %}

{% block pagetype %}notice{% endblock %}

{% block content %}
<section id="walled" class="primary">
  <header>
    <h1 id="top">{{ title }}</h1>
  </header>
  <div class="island prose">
    <p>
      {{ _("Sorry, these pages for the Firefox Marketplace aren't ready yet.") }}
    </p>
    <h2>Have an app to submit?</h2>
    <p id="access-devhub">
      {{ _('The Marketplace Developers site is still open.') }}
      <a href="{{ url('ecosystem.landing') }}" target="_blank">
        {{ _('Upload your app') }} &raquo;
      </a>
    </p>
  </div>
</section>
{% endblock %}
