{% if not format %}
  {% extends 'mkt/base.html' %}
{% endif %}

{% set title = _('Privacy Policy') %}
{% set pagetitle = title %}
{% set pagetype = 'alpha' %}

{% block content %}
  <h1 id="top">{{ title }}</h1>
  <section id="privacy-policy" class="main primary prose">
    <div class="container prose">
    <h1>{{ title }}</h1>

    <p>Note: The proposed full version of the Privacy Policy for the Firefox Marketplace is currently under review and comment on our <a target="_blank" href="http://groups.google.com/group/mozilla.governance/topics">governance mailing list</a>.</p>
    <p>When the Firefox Marketplace is fully launched, we will ask for your consent to the final Privacy Policy.</p>

    <h2>Firefox Marketplace Privacy Policy</h2>
    <p>February 23, 2012</p>

    <p>The Firefox Marketplace is a publicly available market maintained by Mozilla that allows developers to distribute their Apps (applications written using open web technologies that can run on multiple platforms) or Add-ons (extensions and themes that allow you to extend the functionality of the Firefox browser) to users for use on any device that can access the open web. &nbsp;This policy describes how Mozilla deals with any info we get with respect to the Firefox Marketplace. We have separate privacy policies for our other products and services.</p>

    <h3>What we consider to be personal information</h3>
    <p>We consider &quot;personal information&quot; to mean either information which identifies you, like your name or email address; or a combination of several pieces of information which couldn&#39;t identify you on their own, but which could become identifiable to you when put together.</p>
    <p>Also, if we store personal information with other information that is not personal, we consider the combination to be personal information.</p>

    <h3>How we collect information about you</h3>
    <p>There are four ways we collect information about you:</p>
    <ol>
      <li>You give it to us directly, perhaps through a form (like when you sign up to receive our Marketplace email newsletter updates or when you purchase an App or Add-on);</li>
      <li>We collect it automatically (like your IP address when your browser makes requests to our web servers);</li>
      <li>Someone else tells us something about you (like when a payment provider shares your email address after you make a purchase); or</li>
      <li>We try and understand more about you based on information you&#39;ve already given us (like suggesting what Apps you might be interested in based on your purchase history).</li>
    </ol>

    <blockquote>
      <h4>Some specifics</h4>
      <p>The Firefox Marketplace uses cookies to help Mozilla identify and track visitors, their usage of Firefox Marketplace, and their website access preferences across multiple requests and visits to the Firefox Marketplace in order for us to understand how users use the Firefox Marketplace and to make your experience better. You can opt-out of this practice by following the instructions <a href="http://www.mozilla.org/en-US/opt-out.html">here</a>.</p>
      <p>When you log in with BrowserID to the Firefox Marketplace, the BrowserID service sends us your email address. You can browse the Firefox Marketplace without logging in to BrowserID, however, you cannot install an App or purchase an Add-on without logging into the Firefox Marketplace with BrowserID. If you have an existing Mozilla Add-ons account, you will be prompted to sign in with a BrowserID account before you can install an App or purchase an Add-on.</p>
      <p>Firefox sends daily messages to Mozilla with metadata that helps ensure that you have the latest updates when you install an Add-on. Please see the <a href="http://www.mozilla.org/en-US/legal/privacy/firefox.html">Firefox Privacy Policy</a> for more information on our Automated Update Service. You can opt out of these messages by following the instructions <a href="https://blog.mozilla.com/addons/how-to-opt-out-of-add-on-metadata-updates/">here</a>.</p>
      <p>We collect the search terms you enter to find Apps or Add-ons and your interactions with the various parts of the Marketplace to better understand, in the aggregate, how users interact with the Firefox Marketplace. We don&rsquo;t tie this information to your BrowserID account.</p>
    </blockquote>

    <h3>What we will do with your info</h3>
    <p>We use your information to help us provide better products and services to you. When you give us personal information, we will use it in the manner to which you consent.</p>

    <blockquote>
      <h4>Some specifics</h4>
      <p>We may use your email address to inform you of transactional messages from the Firefox Marketplace, and you may elect to receive additional communications from us. If you signed up to receive but no longer wish to receive electronic marketing communications from Mozilla about the Firefox Marketplace, you can opt-out from receiving these communications by following the &ldquo;unsubscribe&rdquo; instructions in any such communication you receive. You can manage the email and notification settings for Mozilla-sent email in your Marketplace Profile.</p>
      <p>If you write App or Add-on reviews, create a collection, or create other content in the Firefox Marketplace, your display name or username will be displayed publicly.</p>
      <p>You may optionally fill in details of your public user profile, such as a homepage or profile picture, which will be displayed publicly.</p>
      <p>If you purchase an App, we sign your receipt with the Persona user name (usually an email address) that you registered with the Firefox Marketplace through Persona. Apps you have installed may periodically communicate with Mozilla or an App developer for purposes of receipt/ownership verification, usage information, or other reasons as described in the individual App&rsquo;s privacy policy. You should check an App&rsquo;s privacy policy to make sure you are okay with their information handling practices before installing or using an App.</p>
      <p>When you purchase an App or Add-on from a developer, they may receive information about you from your selected payment provider, as described in that payment provider&rsquo;s privacy policy.</p>
      <p>We help you maintain a history of your transactional activity (like which Apps you have purchased). No financial information (such as credit card info that you have used to make purchases in the Firefox Marketplace) is collected, retained or used by Mozilla.</p>
      <p>For an enhanced Marketplace experience, you may opt in to link your Marketplace account with your accounts on social networks. This is entirely optional and your accounts may be un-linked by you at any time. Once your account is un-linked, we do not continue to store or use information about your social graph or contacts from the social network you had linked. Individual Apps or Add-ons may allow you to link to your social network accounts and you should check the privacy policy of each App or Add-on to understand how they use your info.</p>
      <p>If you ask us to send an App or Add-on to your phone, we will ask for your phone number and, with your permission, save it for future convenience. You may remove it by editing your Marketplace Profile.</p>
      <p>If you are a developer who submits an App or Add-on to the Firefox Marketplace, we will ask for detailed information about your product that may be displayed publicly, unless otherwise noted. If you wish to use payments in your product, we will ask for your real legal name and address in order to validate your identity and manage the Firefox Marketplace.</p>
      <p>Add-ons installed in Firefox and other Mozilla products may check for new versions of those Add-ons with the Firefox Marketplace each day. Additionally, Firefox may check for updates to other metadata related to Add-ons (e.g., updated descriptions, ratings, etc.) as described in the <a href="http://www.mozilla.org/en-US/legal/privacy/firefox.html">Firefox Privacy Policy</a>. &nbsp;In aggregate, these update checks are used by Mozilla to determine the number of active users of an Add-on or App. You may opt out of the metadata transfer as described <a href="http://blog.mozilla.com/addons/how-to-opt-out-of-add-on-metadata-updates/">here</a>, and Add-on updates as described <a href="http://blog.mozilla.com/addons/how-to-turn-off-add-on-updates/">here</a>.</p>
      <p>The Get Add-ons page of the Add-ons Manager in Firefox may include the Add-ons you have installed in order to provide relevant recommendations of other Add-ons to install, as described in the <a href="http://www.mozilla.org/en-US/legal/privacy/firefox.html">Firefox Privacy Policy</a>. You may opt out of this as described <a href="http://blog.mozilla.com/addons/how-to-opt-out-of-add-on-metadata-updates/">here</a>.</p>
    </blockquote>

    <h3>When we share your info</h3>
    <p>Mozilla is an open organization, and we publish information that we think will make our products better or help foster an open web. Whenever we publish information about our users, we&#39;ll remove anything that we believe can identify you.</p>
    <p>If we share your personal information, we only share it with employees, contractors and service providers who have contractually promised to handle or use the data in ways that are approved by Mozilla. If our corporate structure or status changes (e.g., if we restructure, are acquired, or go bankrupt) we&#39;ll pass on your information to a successor or affiliate.</p>

    <blockquote>
      <h4>Some specifics</h4>
      <p>When you install a paid or free App, we send a digital receipt of that App to the developer of the App. This is to facilitate interactions between you and that developer as well as allow the developer to electronically authorize uses of the App. The digital receipt contains your Persona username (usually your email address) as well as other information. You can find a more detailed description of receipts and the information they contain <a href="https://wiki.mozilla.org/Apps/WebApplicationReceipt">here</a>. &nbsp;Additionally, if you request support or a refund for an App or Add-on through the Marketplace, we give the developer your email address so they can reply to you. A developer&rsquo;s use of your email address or digital receipt is subject to their privacy policy. You should check an App&rsquo;s privacy policy to make sure you are okay with their information handling practices before installing or using an App.</p>
      <p>We share non-personal aggregated statistics with developers on the usage of their software, such as platform (Windows, Android, etc.) and browser version information. We provide the information as a distribution of numbers and not tied to an email address, unique ID or other identifiable piece of information.</p>
      <p>Mozilla does not currently process payments on its users behalf. When you make a purchase in the Marketplace, the information that you give to your selected payment provider is governed by that provider&rsquo;s privacy policy. &nbsp;A list of third-party vendors that are authorized payment processors for the Marketplace are available here.[Link TBD] &nbsp;Developers may also use their own payment providers &ndash; please check the privacy policy of any payment provider you use to make sure you are comfortable with their privacy practices.</p>
      <p>A list of third party vendors that process information on Mozilla&rsquo;s behalf related to the Firefox Marketplace can be found here.[Link TBD]</p>
    </blockquote>

    <h3>How we store and protect your info</h3>
    <p>We work hard to protect your information. We take steps to make sure that anyone (like an authorized employee or contractor) who sees your personal information has a good reason and is only allowed to do Mozilla-approved things with it.</p>
    <p>Despite our efforts, we can&#39;t guarantee that malicious agents can&#39;t break in and access your data. If we find out about a security breach, we&#39;ll try hard to let you know so that you can take appropriate protective steps. We only keep information as long as we need to do the thing we collected it for. Once we don&#39;t need it any more, we&#39;ll destroy it unless we are forced by law to keep it longer.</p>

    <h3>International Privacy</h3>
    <p>Privacy laws and expectations vary from country to country. We&#39;re a global company and our computers are in several different places around the world. We also use service providers whose computers may also be in various countries. This means that any information we have about you might end up on one of those computers in another country, and that country may have a different level of data protection regulation than yours.</p>

    <h3>Legal Process</h3>
    <p>When a government agency or civil litigant asks for your personal info, we&#39;ll only give it to them if we have a good faith belief that:</p>
    <ul>
      <li>the law requires us to or,</li>
      <li>it is reasonably necessary to do so to prevent harm to someone.</li>
    </ul>
    <p>We follow the law whenever we receive requests about you and we&#39;ll notify you any time we are asked to hand over your personal info like this unless we&#39;re legally prohibited from doing so, or circumstances require otherwise.</p>

    <h3>Children</h3>
    <p>Unless specifically stated otherwise, our services are not directed to individuals under the age of 13. If you are under 13, please do not provide us with your personally identifiable information. If you are the parent and believe that your child who is under 13 has provided us with personally identifiable information, please contact us here.</p>

    <h3>Changes to this Policy and our Contact Information</h3>
    <p>Sometimes, we change our privacy policies. When we do, we&#39;ll post a notice about the change on the Firefox Marketplace.</p>
    <p>If you want to make a correction to your information, or you have any questions about our privacy policies, please get in touch with:</p>
    <p>
      <address>
        Mozilla Corporation<br>
        Attn: Legal Notices &mdash; Privacy<br>
        650 Castro Street, Suite 300<br>
        Mountain View, CA 94041-2072<br>
        Phone: +1-650-903-0800<br>
        <a href="http://mozilla.org/privacy/#contactus">Send us an email</a>
      </address>
    </p>
    </div>
  </section>

{% endblock %}
