<!DOCTYPE html>
<html lang="{{ LANG }}" dir="{{ DIR }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% if not settings.ENGAGE_ROBOTS %}
      <meta name="robots" content="noindex">
    {% endif %}
    {% block extrameta %}{% endblock %}

    <title>{% block title %}{{ dev_page_title() }}{% endblock %}</title>

    <link rel="shortcut icon" type="image/x-icon"
          href="{{ STATIC_URL }}img/favicon.ico">

    {% block rss_feed %}{% endblock %}

    {# L10n: {0} is an application, like Firefox. #}
    <link title="{{ _('{0} Add-ons')|f(APP.pretty) }}"
          rel="search" type="application/opensearchdescription+xml"
          href="{{ url('amo.opensearch') }}" />

    {% block site_css %}
      {{ css('devhub/css') }}
    {% endblock %}

    {% block extrahead %}{% endblock %}

    {% if request.user.is_authenticated() %}
      <meta name="csrf" content="{{ csrf_token }}">
    {% endif %}

    {{ js('preload') }}
  </head>
  <body class="html-{{ DIR }} {{ request.APP.short }} {% block bodyclass %}{% endblock %}"
        data-raven-dsn="{{ settings.RAVEN_DSN }}"
        data-raven-urls="{{ settings.RAVEN_ALLOW_LIST }}"
        {% block bodyattrs %}{% endblock %}>

    {% include 'devhub/new-landing/components/navigation.html' %}

    {% if not request.user.is_authenticated() %}
      <section class="DevHub-Header">
        <h1>{{ _('Customize Your Firefox') }}</h1>
        <p>
          {% trans %}
          Add-ons let millions of Firefox users enhance their browsing experience.
          If you know <a href="#">HTML</a>, <a href="#">JavaScript</a>, and <a href="#">CSS</a>,
          you already have all the necessary skills to make a great add-on.
          {% endtrans %}
        </p>
        <a href="#" class="Button Button--primary">Learn How to make an Add-on</a>
      </section>
    {% endif %}

    {% block site_js %}
    {% endblock %}
  </body>
</html>
