{% extends "impala/base.html" %}

{% block bodyclass %}apps{% endblock %}

{% block site_header_title %}
  <h1 class="site-title">
    <a href="{{ url('apps.home') }}">{{ _('Apps') }}</a>
  </h1>
  {% include "webapps/site_nav.html" %}
{% endblock %}

{% block aux_nav %}{% endblock %}

{% block amo_balloons %}
  <div class="site-balloon" id="site-noinstall-apps">
    <p>
      {% trans url='http://mozilla.org/firefox/?src=amo' %}
        It seems your browser does not support Open Web Apps. Consider 
        downloading <a href="{{ url }}">Mozilla Firefox</a>,
        a fast, free way to surf the Web!
      {% endtrans %}
    </p>
    <a href="#" class="close">{{ _('Close') }}</a>
  </div>
{% endblock %}

{% block footer %}
  {% include "amo_footer_small.html" %}
{% endblock %}
