{% extends "impala/base_side_categories.html" %}

{% if category %}
  {% set title = category.name %}
{% else %}
  {% set title = {'featured': _('Featured Extensions'),
                  'users': _('Most Popular Extensions'),
                  'rating': _('Top-Rated Extensions'),
                  'created': _('Newest Extensions'),
                  'name': _('Extensions by Name'),
                  'popular': _('Extensions by Weekly Downloads'),
                  'updated': _('Recently Updated Extensions'),
                  'hotness': _('Up & Coming Extensions')}.get(sorting) %}
{% endif %}

{% block title %}
  {{ page_title(title) }}
{% endblock %}

{% if not request.MOBILE %}
  {% block bodyclass %}s-{{ sorting }}{% endblock %}

  {% if category %}
    {% block extrahead %}
      <style>
        #c-{{ category.id }} a {
            background: #ecf5fe;
            color: #333;
            font-weight: bold;
        }
        #c-{{ category.id }} a:after {
            color: inherit;
        }
      </style>
    {% endblock %}
  {% endif %}
{% endif %}

{% if category %}
  {% set feed = url('browse.extensions.rss', category.slug) %}
{% else %}
  {% set feed = url('browse.extensions.rss') %}
{% endif %}

{% set feed_url = feed|urlparams(sort=sorting) %}

{% block rss_feed %}
  <link rel="alternate" type="application/rss+xml" title="RSS"
        href="{{ feed_url }}">
{% endblock %}

{% if category %}
  {% set base_url = url('browse.extensions', category.slug) %}
{% else %}
  {% set base_url = url('browse.extensions') %}
{% endif %}
