{% extends "impala/base_side_categories.html" %}

{% block title %}
  {{ page_title(category.name if category else _('Extensions')) }}
{% endblock %}

{% block bodyclass %}listing s-{{ sorting }}{% endblock %}

{% if category %}
  {% block extrahead %}
    <style>
      #c-{{ category.id }} a {
          background: #ecf5fe;
          color: #333;
          font-weight: bold;
      }
      #c-{{ category.id }} a:after {
          color: inherit;
      }
    </style>
  {% endblock %}
{% endif %}

{% set sort = {'featured': 'featured',
               'created': 'newest',
               'popular': 'popular',
               'users': 'users',
               'rating': 'averagerating'}.get(sorting, 'updated') %}

{% if category %}
  {% set feed = url('browse.extensions.rss', category.slug) %}
{% else %}
  {% set feed = url('browse.extensions.rss') %}
{% endif %}

{% set feed_url = feed|urlparams(sort=sort) %}

{% block rss_feed %}
  <link rel="alternate" type="application/rss+xml" title="RSS"
        href="{{ feed_url }}">
{% endblock %}
