{% extends "browse/impala/base_listing.html" %}

{% if category %}
  {% set url_base = url('i_browse.extensions', category.slug) %}
{% else %}
  {% set url_base = url('i_browse.extensions') %}
{% endif %}

{% set extras = (
    ('featured', _('Featured')),
    ('users', _('Most Popular')),
    ('rating', _('Top Rated')),
    ('updated', _('Last Updated')),
) %}

{% block primary %}
<section class="primary">
  {% if category %}
    {{ impala_breadcrumbs([(url('i_browse.extensions'), _('Extensions')),
                           (None, category.name)]) }}
  {% else %}
    {{ impala_breadcrumbs([(None, _('Extensions'))]) }}
  {% endif %}
  {% with heading = {'featured': _('Featured Extensions'),
                     'created': _('Newest Extensions'),
                     'users': _('Most Popular Extensions'),
                     'popular': _('Most Popular Extensions'),
                     'rating': _('Top Rated Extensions'),
                     'updated': _('Last Updated Extensions')}[sorting] %}
    <h1>{{ category.name if category else heading }}</h1>
  {% endwith %}
  <div class="island hero c listing">
    <header>
      <a href="{{ feed_url }}" class="feed">{{ _('Subscribe') }}</a>
      {{ impala_addon_listing_header(url_base, extras, sorting) }}
    </header>
    {{ impala_addon_listing_items(addons.object_list, src='category',
                                  show_date=sorting) }}
    {% if sorting != 'featured' %}
      {{ addons|impala_paginator }}
    {% endif %}
  </div>
</section>
{% endblock %}
