{% extends "impala/base.html" %}
{% from 'includes/forms.html' import required, pretty_field %}

{% set title = _('Reply to review by {0}')|f(review.user.name) %}

{% block bodyclass %}reviews gutter{% endblock %}

{% block title %}{{ page_title(title) }}{% endblock %}

{% block content %}

  {{ impala_breadcrumbs([(addon.type_url(impala=True), amo.ADDON_TYPES[addon.type]),
                  (addon.get_url_path(impala=True), addon.name),
                  (url('i_reviews.list', addon.slug), _('Reviews')),
                  (None, _('Reply'))]) }}
  <h1>{{ title }}</h1>

  <div class="secondary">
    {{ addon|sidebar_listing }}
  </div>

  <div class="primary island hero" id="reviews">
    {% include "reviews/impala/review.html" %}
    <div class="c">
      <h2>{{ _('Write a Reply') }}</h2>
      <form method="post" class="prettyform" 
            action="{{ url('i_reviews.reply', addon.slug, review.id) }}">
        {{ csrf() }}
        <fieldset>
          <ul>
            {{ pretty_field(form.title, label=_('Title')) }}
            {{ pretty_field(form.body, label=_('Reply')) }}
          </ul>
        </fieldset>
        <footer>
          <button type="submit">{{ _('Submit review') }}</button>
          {# L10n: this string is following a <button>. #}
          {% trans url=url('i_reviews.list', addon.slug) %}
            <a href="{{ url }}">Cancel</a>
          {% endtrans %}
        </footer>
      </form>
    </div>
  </div>
  {{ report_review_popup() }}
{% endblock %}
