{% extends "base.html" %}

{% block title %}:: AMO Admin{% endblock %}

{% block site_header_title %}
<a href="{{ url('admin.home') }}" title="keep it real fliggy">Site Administration</a>
{% endblock %}

{% block extrahead %}
<link rel="stylesheet" media="screen,projection,tv"
      href="{{ MEDIA_URL }}css/admin-mozilla.css">
<link rel="stylesheet" media="screen,projection,tv"
      href="{{ MEDIA_URL }}css/developers.css">
{% endblock %}

{% block navbar %}
<div id="navbar">
  <ul class="top">
    <li class="top">
      <a href="#" class="controller">Manage Add-ons</a>
      <ul>
        <li><a href="{{ url('admin:addons_blacklistedguid_changelist') }}">
          Banned GUIDs</a></li>
        <li><a href="{{ url('admin:addons_feature_changelist') }}">
          Featured Add-ons</a></li>
        <li><a href="{{ url('admin.flagged') }}">
          Flagged Add-ons</a></li>
        <li><a href="{{ url('admin:addons_addon_changelist') }}">
          Manage an Add-on</a></li>
      </ul>
    </li>
    <li class="top">
      <a href="#" class="controller">Manage Users</a>
      <ul>
        <li><a href="{{ url('admin:access_group_changelist') }}">
          Configure Groups</a></li>
        <li><a href="{{ url('admin:users_user_changelist') }}">
          Manage a User</a></li>
      </ul>
    </li>
    <li class="top">
      <a href="#" class="controller">Site Settings</a>
      <ul>
        <li><a href="{{ url('admin:applications_application_changelist') }}">
          Applications</a></li>
        <li><a href="{{ url('admin:editors_cannedresponse_changelist') }}">
          Canned Response</a></li>
        <li><a href="{{ url('admin:addons_category_changelist') }}">
          Categories</a></li>
      </ul>
    </li>
    <li class="top">
      <a href="#" class="controller">Server Config</a>
    </li>
  </ul>
</div>
{% endblock %}
