{% extends 'devhub/base_impala.html' %}

{% macro docs_ul(docs) %}
  <ul class="listing-list">
    {% for icon, link, heading, desc in docs %}
      <li class="devhub-icon-{{ icon }}">
        <a href="{{ link }}">
          <div class="icon"></div>
          <div class="summary">
            <h3>{{ heading }}</h3>
            <p class="desc">{{ desc }}</p>
          </div>
        </a>
      </li>
    {% endfor %}
  </ul>
{% endmacro %}

{% block content %}
  <section id="homepage" class="primary full">
    <div id="apps-promo" class="island">
      <h2>{{ loc('What Are Apps?') }}</h2>
      <p class="intro">
        {{ loc('Apps are websites that users can install and run from
                Web-enabled devices. They are built using standard Web
                technologies with additional metadata that allows the User
                Agent to discover, install, launch, and grant them additional
                privileges.') }}
      </p>
      <p><a href="{{ url('devhub.submit_apps.1') }}" class="button prominent">
        {{ loc('Submit an App') }}</a></p>
    </div>

    <div class="cols">
      <div class="col-3">
        <div class="island">
          <h2>{{ loc('Creating Apps') }}</h2>
{# TODO(cvan): I'll change the URLs when the MDN locale redirects are fixed (bug 702479). #}
{%

set docs = (
    ('docs',
     'https://developer.mozilla.org/en/Apps/Getting_Started',
     loc('Getting Started'),
     loc('This walk-through can quickly give you an understanding of what it
          takes to turn an ordinary site into an app.'),
    ),
    ('docs',
     'https://developer.mozilla.org/en/Apps/For_mobile_app_developers',
     loc('For Mobile App Developers'),
     loc("If you already develop mobile applications, here's how to make
          Web-based apps."),
    ),
    ('docs',
     'https://developer.mozilla.org/en/Apps/For_Web_developers',
     loc('For Web Developers'),
     loc("If you already develop Web sites or applications, here's how to make
          them into installable apps."),
    ),
    ('docs',
     'https://developer.mozilla.org/en/Apps/Platform-specific_details',
     loc('App Installation'),
     loc("Platform-specific notes about how apps are installed and run on the
          user's device or system."),
    ),
    ('docs',
     'https://developer.mozilla.org/en/Apps/Using_apps_offline',
     loc('Using Apps Offline'),
     loc('How to design apps so that they can be cached and used without an
          Internet connection.'),
    ),
)

%}
          {{ docs_ul(docs) }}
        </div>
      </div>
      <div class="col-3">
        <div class="island">
          <h2>{{ loc('Create &amp; Connect')|safe }}</h2>
{%

set docs = (
    ('discuss',
     'irc://irc.mozilla.org#openwebapps',
     loc('IRC Channel: #openwebapps on irc.mozilla.org'),
     loc('Discuss development, brainstorm ideas, and make connections
          in the world of apps.'),
    ),
    ('discuss',
     'https://developer.mozilla.org/en/Apps/FAQs',
     loc('Frequently Asked Questions'),
     loc('What is the difference between an app and a website? How can I
          promote my app? How will I get paid? Such questions are answered in
          the FAQ.'),
    ),
    ('tools',
     'https://developer.mozilla.org/en/Apps#section_3',
     loc('Reference Information'),
     loc('Learn about the structure and content of the app manifest,
          the app start-up library, device APIs (geolocation,
          orientation, camera), and apps JavaScript API.'),
    ),
)

%}
          {{ docs_ul(docs) }}
        </div>
      </div>
      <div class="col-3">
        <div class="island">
          <h2>{{ loc('Firefox Marketplace') }}</h2>
{%

set docs = (
    ('docs',
     'https://developer.mozilla.org/en/Apps/Submitting_an_app',
     loc('Submitting an App'),
     loc('Step-by-step instructions, including setting a price and setting up a
          PayPal refund token.'),
    ),
    ('docs',
     'https://developer.mozilla.org/en/Apps/Giving_refunds',
     loc('Giving Refunds'),
     loc('Keeping both your customers and PayPal happy.'),
    ),
)

%}
          {{ docs_ul(docs) }}
        </div>
        <div class="island">
          <h2>{{ loc('Game Apps') }}</h2>
{%

set docs = (
    ('docs',
     'https://developer.mozilla.org/en/Apps/Developing_game_apps',
     loc('Developing Game Apps'),
     loc('Considerations for game apps, such as identity, multi-player, offline
          use, and purchases.'),
    ),
    ('docs',
     'https://developer.mozilla.org/en/Apps/Game_engines_and_libraries',
     loc('Game Engines and Libraries'),
     loc('Engines and libraries that are useful for developing game apps.'),
    ),
)

%}
          {{ docs_ul(docs) }}
        </div>
      </div>
    </div>
  </section>
{% endblock %}
