{% extends "devhub/base.html" %}
{% from "includes/forms.html" import pretty_field %}

{% set title = _('Add-on Packager') %}
{% block title %}{{ dev_page_title(title) }}{% endblock %}
{% block bodyclass %}packager inverse {{ super() }}{% endblock %}

{% block content %}
<section class="primary">
  <header>
    {{ dev_breadcrumbs(addon, items=[(None, title)]) }}
    <h2>{{ title }}</h2>
  </header>
  <form method="post" id="packager" class="item" action="">
    {{ csrf() }}
    <p class="summary">
    {% trans %}
      Enter some basic information about your add-on below and select which
      interface components to start with, and your custom-built add-on will be
      ready for download.
    {% endtrans %}
    </p>
    <fieldset>
      <legend>{{ _('Describe your add-on') }}</legend>
      <p>
      {% trans %}
        First, you need to enter some basic information about your add-on. This
        will be displayed in the Add-ons Manager when your extension is installed.
      {% endtrans %}
      </p>
      {{ basic_form.non_field_errors() }}
      <ul>
        {{ pretty_field(basic_form.name, _('Add-on Name'), req=True) }}
        {{ pretty_field(basic_form.description, _('Description')) }}
        {{ pretty_field(basic_form.version, _('Add-on Version'), req=True) }}
        {{ pretty_field(basic_form.id, _('Unique ID'), req=True) }}
        {{ pretty_field(basic_form.package_name, _('Package Name'), req=True) }}
      </ul>
    </fieldset>
    <fieldset>
    <legend>{{ _("Who's working on your add-on?") }}</legend>
      <p>
      {% trans %}
        Tell us about the people or companies behind this add-on. This information
        appears in the add-on's About dialog.
      {% endtrans %}
      </p>
      <ul>
        {{ pretty_field(basic_form.author_name, _('Primary Author'), req=True) }}
        {{ pretty_field(basic_form.contributors, _('Contributors')) }}
      </ul>
    </fieldset>
    <fieldset>
      <legend>{{ _('Where will your add-on run?') }}</legend>
      <p>
        {% trans %}
        Select the applications and versions that your add-on will support. The
        versions that you select will be the only versions that your add-on will
        be installable on. Make sure you only select applications and versions
        that you intend to test your add-on with.
        {% endtrans %}
      </p>
      <div id="supported-apps">
        <label>{{ _('Supported Applications and Versions') }}</label>
        {{ compat_forms.management_form }}
        {{ compat_forms.non_form_errors() }}
        <ul class="choices">
          {% for compat in compat_forms %}
            <li class="row">
              {{ pretty_field(compat.enabled, tag=None, class='app ' + compat.app.short) }}
              {{ pretty_field(compat.min_ver, tag='span') }}
              {{ pretty_field(compat.max_ver, tag='span') }}
              {{ compat.non_field_errors() }}
            </li>
          {% endfor %}
        </ul>
      </div>
    </fieldset>
    <fieldset>
      <legend>{{ _('Choose pre-built features') }}</legend>
      <p>
        {% trans %}
        Get started quickly by selecting user interface components to include in
        your add-on package. We'll include documented code for each item you
        select so your extension will work out of the box.
        {% endtrans %}
      </p>
      <ul class="choices">
        {% for feature in features_form %}
          {{ pretty_field(feature) }}
        {% endfor %}
      </ul>
    </fieldset>
    <footer>
      <button>{{ _('Submit and Build') }}</button>
    </footer>
  </form>
</section>

<aside class="secondary">
  <div class="highlight">
    <h3>{{ _('Advanced Building') }}</h3>
    <p>
      {% trans url="http://www.mozdev.org/projects/wizard/" %}
      Want to create XULRunner applications, XPCOM components, and other advanced
      skeletons? Visit the <a href="{{ url }}">MozDev Project Wizard</a>.
      {% endtrans %}
    </p>
  </div>
</aside>
{% endblock content %}
