{% set search_form = SimpleSearchForm(request, None) %}
<form action="{{ remora_url('/developers/search') }}" method="get">
  <span class="wrap">
    <input type="text" name="q" required
           class="text {% if not search_form.q.data %}placeholder{% endif %}"
           value="{{ search_form.q.data or '' }}"
           placeholder="{{ _('Search developer documentation') }}">
  </span> {# search-query #}
  <input type="image" class="submit go-button" src="{{ settings.MEDIA_URL }}img/zamboni/global/btn-search.png" title="{{ _('Search') }}">
</form>
