{% extends "base_modal.html" if request.is_ajax() else "impala/base_shared.html" %}

{% block title %}{{ _('Not allowed') }}{% endblock %}

{% block content %}
  <section class="primary">
    <h1>{{ _('Oops! Not allowed.') }}</h1>
    <p>
      {{ _("You tried to do something that you weren't allowed to.") }}
    </p>
  </section>

  <section class="primary">
    {#
      Temporary code for debugging. The text is based on Django's default CSRF
      view content.
    #}
    {% if no_referer %}
      <p>
        {% trans %}
        You are seeing this message because this HTTPS site requires a
        'Referer header' to be sent by your Web browser, but none was
        sent. This header is required for security reasons, to ensure
        that your browser is not being hijacked by third parties.
        {% endtrans %}
      <p>
        {% trans %}
        If you have configured your browser to disable 'Referer' headers,
        please re-enable them, at least for this site, or for HTTPS
        connections, or for 'same-origin' requests.
        {% endtrans %}
      </p>
    {% endif %}

    {% if no_cookie %}
      <p>
        {% trans %}
        You are seeing this message because this site requires a CSRF
        cookie when submitting forms. This cookie is required for
        security reasons, to ensure that your browser is not being
        hijacked by third parties.
        {% endtrans %}
      </p>
      <p>
        If you have configured your browser to disable cookies, please
        re-enable them, at least for this site, or for 'same-origin'
        requests.
      </p>
    {% endif %}

    {% if reason %}
    <p>Reason given for failure:</p>
    <pre>
    {{ reason }}
    </pre>
    {% endif %}
    <p>Other debug data</p>
        <p>request_is_secure: <pre>{{ request_is_secure }}</pre></p>
        <p>referer: <pre>{{ referer }}</pre></p>
        <p>X-Forwarded-Proto: <pre>{{ x_forwarded_proto }}</pre></p>
        <p>Port: <pre>{{ port }}</pre></p>
        <p>Host: <pre>{{ host }}</pre></p>
        <p>good referer: <pre>{{ good_referer }}</pre></p>
        <p>X-Forwarded-Port: <pre>{{ x_forwarded_port }}</pre></p>
        <p>Server port: <pre>{{ server_port }}</pre></p>

      </li>
    </ul>
  </section>
{% endblock %}
