{% extends "base_side_categories.html" %}

{% block title %}{{ _('Not Found') }}{% endblock %}

{% block content %}
{% trans rec=url('browse.extensions')|urlparams(sort='featured'), search=url('search.search'), home=url('home') %}
<h1>We're sorry, but we can't find what you're looking for.</h1>

<p>
  The page or file you requested wasn't found on our site. It's possible that
  you clicked a link that's out of date, or typed in the address incorrectly.
</p>

<ul>
  <li>If you typed in the address, please double check the spelling.</li>
  <li>
    If you followed a link from somewhere, please 
    <a href="https://github.com/thundernest/addons-server/issues/new/">file an issue</a>.
    Tell us where you came from and what you were looking for, and we'll do
    our best to fix it.
  </li>
</ul>

<p>Or you can just jump over to some of the popular pages on our website.</p>

<ul>
  <li>Are you interested in a <a href="{{ rec }}">list of featured add-ons</a>?</li>
  <li>
    Do you want to <a href="{{ search }}">search for add-ons</a>? You may go to the
    <a href="{{ search }}">search page</a> or just use the search field above.
  </li>
  <li>
    If you prefer to start over, just go to the
    <a href="{{ home }}">add-ons front page</a>.
  </li>
 </ul>
{% endtrans %}
{% endblock %}
