{% extends "base_side_categories.html" %}

{% block title %}{{ page_title(_('Maintenance in progress')) }}{% endblock %}

{% block content %}

<h2>{{ _('Maintenance in progress') }}</h2>
{% if request.method == 'POST' %}
  <p>{% trans %}
    This feature is temporarily disabled while we perform website maintenance.
    Please use your browser's Back button and try again a little later.
  {% endtrans %}</p>
{% else %}
  <p>{% trans %}
    Some features on this page are temporarily disabled while we perform
    website maintenance. Please try again a little later.
  {% endtrans %}</p>
{% endif %}
{% endblock %}
