{% set links = [
    (_('My Profile'), amo_user.get_url_path()),
    (_('Account Settings'), url('users.edit')),
] %}
{% if not webapp %}
  {% do links.append((_('My Collections'), url('collections.mine'))) %}
  {% if amo_user.favorite_addons %}
    {% do links.append((_('My Favorites'),
                        url('collections.mine', 'favorites'))) %}
  {% endif %}
{% endif %}
{% if waffle.switch('marketplace') %}
  {% do links.append((_('My Purchases'), url('users.purchases'))) %}
{% endif %}

{% if waffle.flag('allow-pre-auth') %}
  {% do links.append((loc('Payment Profile'), url('users.payments'))) %}
{% endif %}

<div id="secondary-nav" class="secondary">
  <h2>{{ _('My Account') }}</h2>
  <ul>
    {% for title, link in links %}
      <li><a href="{{ link }}"{% if request.path == link %} class="selected"{% endif %}>
        {{ title }}</a></li>
    {% endfor %}
  </ul>
</div>
