{% extends "base.html" %}

{% block title %}{{ page_title(_('Password Reset')) }}{% endblock %}

{% block content %}
<div class="primary" role="main">

  {% if validlink %}

    <form method="post" action="">
      {{ csrf() }}
      <div id="user-edit" class="tab-wrapper">
        <div id="user-account" class="tab-panel">
          <fieldset>
            <h3>{{ _('Password Reset') }}</h3>
            <ul>
              <li>
                <label for="id_new_password1">{{ _('New password') }}</label>
                {{ form.new_password1|safe }}
                {{ form.new_password1.errors|safe }}
              </li>
              <li>
                <label for="id_new_password2">{{ _('Confirm password') }}</label>
                {{ form.new_password2|safe }}
                {{ form.new_password2.errors|safe }}
              </li>
            </ul>
          </fieldset>
        </div>
        <div class="listing-footer">
          <button type="submit">{{ _('Update') }}</button>
        </div>
      </div>
    </form>

  {% else %}

    <h1>{{ _('Password reset unsuccessful') }}</h1>
    <p>{{ _('The password reset link was invalid, possibly because it has already been used.  Please request a new password reset.') }}</p>

  {% endif %}

</div>
{% endblock content %}
