{% set addon_type = amo.ADDON_PERSONA %}
{% extends "impala/base_side_categories.html" %}

{% from "includes/forms.html" import pretty_field, tip %}
{% from "devhub/includes/macros.html" import some_html_tip %}

{% set title = _('Create a New Theme') %}

{% block title %}{{ page_title(title) }}{% endblock %}

{% block primary %}
<section class="primary">
  {{ impala_breadcrumbs([(url('browse.personas'), _('Themes')),
                         (None, _('Create'))]) }}
  <h1>{{ title }}</h1>
  <div class="island hero prettyform" id="submit-persona">
    <form method="post">
      {{ csrf() }}
      {{ form.unsaved_data }}
      <fieldset>
        <legend>{{ _('Theme Details') }}</legend>
        <ul>
          {{ pretty_field(form.name, label=_('Give your Theme a name.'), validate=True) }}
          {{ pretty_field(form.category, label=_('Select the category that best describes your Theme.'),
                          class='row radios addon-cats', validate=True) }}
          <li class="row">
            {{ pretty_field(form.tags, label=_('Add some tags to describe your Theme.'), tag=None, opt=True, validate=True) }}
            <span class="note">
              {{ ngettext('Comma-separated, minimum of {0} character.',
                          'Comma-separated, minimum of {0} characters.',
                          amo.MIN_TAG_LENGTH)|f(amo.MIN_TAG_LENGTH) }}
              {{ _('Example: dark, cinema, noir. Limit 20.') }}
            </span>
          </li>
          <li class="row c">
            {{ pretty_field(form.summary, label=_('Describe your Theme.'),
                            tooltip=_("A short explanation of your theme's
                                      basic functionality that is displayed in
                                      search and browse listings, as well as at
                                      the top of your theme's details page."),
                            tag=None, opt=True, validate=True) }}
            <div class="note">
              {{ some_html_tip() }}
              <span class="char-count" data-for="{{ form.summary.auto_id }}"
                    data-maxlength="{{ form.summary.field.max_length }}"></span>
            </div>
          </li>
        </ul>
      </fieldset>
      <fieldset>
        <legend>{{ _('Theme License') }}</legend>
        <div id="cc-chooser"{% if form.license.value() %} class="hidden"{% endif %}>
          {{ form.license }}
          {{ form.license.errors }}
          <h3>{{ _("Can others share your Theme, as long as you're given credit?") }}</h3>
          <ul class="radios">
            <li>
              <label>
                <input type="radio" name="cc-attrib" value="0">
                {{ _('Yes') }}
                {{ tip(None, _('The licensor permits others to copy, distribute, '
                               'display, and perform the work, including for '
                               'commercial purposes.')) }}
              </label>
            </li>
            <li>
              <label>
                <input type="radio" name="cc-attrib" value="1">
                {{ _('No') }}
                {{ tip(None, _('The licensor permits others to copy, distribute, '
                               'display, and perform the work for non-commercial '
                               'purposes only.')) }}
              </label>
            </li>
          </ul>
          <h3>{{ _('Can others make commercial use of your Theme?') }}</h3>
          <ul class="radios">
            <li>
              <label>
                <input type="radio" name="cc-noncom" value="0">
                {{ _('Yes') }}
                {{ tip(None, _('The licensor permits others to copy, distribute, '
                               'display, and perform the work, including for '
                               'commercial purposes.')) }}
              </label>
            </li>
            <li>
              <label>
                <input type="radio" name="cc-noncom" value="1">
                {{ _('No') }}
                {{ tip(None, _('The licensor permits others to copy, distribute, '
                               'display, and perform the work for non-commercial '
                               'purposes only.')) }}
              </label>
            </li>
          </ul>
          <h3>{{ _('Can others create derivative works from your Theme?') }}</h3>
          <ul class="radios">
            <li>
              <label>
                <input type="radio" name="cc-noderiv" value="0">
                {{ _('Yes') }}
                {{ tip(None, _('The licensor permits others to copy, distribute, '
                               'display and perform the work, as well as make '
                               'derivative works based on it.')) }}
              </label>
            </li>
            <li>
              <label>
                <input type="radio" name="cc-noderiv" value="1">
                {{ _('Yes, as long as they share alike') }}
                {{ tip(None, _('The licensor permits others to distribute derivative'
                               'works only under the same license or one compatible '
                               "with the one that governs the licensor's work.")) }}
              </label>
            </li>
            <li>
              <label>
                <input type="radio" name="cc-noderiv" value="2">
                {{ _('No') }}
                {{ tip(None, _('The licensor permits others to copy, distribute and '
                               'transmit only unaltered copies of the work — not '
                               'derivative works based on it.')) }}
              </label>
            </li>
          </ul>
          <div id="persona-license">
            <p>{{ _('Your Theme will be released under the following license:') }}</p>
            <p id="cc-license" class="license icon"></p>
            <p class="select-license">
              <a href="#">{{ _('Select a different license.') }}</a>
            </p>
          </div>
        </div>
        <div id="persona-license-list"{% if not form.license.value() %} class="hidden"{% endif %}>
          <h3>{{ _('Select a license for your Theme.') }}</h3>
          <ul class="radios">
            {% for license in amo.PERSONA_LICENSES %}
              <li><label><input type="radio" name="license" value="{{ license.id }}">
                {{ license.name }}</label></li>
            {% endfor %}
          </ul>
        </div>
      </fieldset>
      <fieldset id="persona-design">
        <legend>{{ _('Theme Design') }}</legend>
        <ul>
          <li id="persona-header" class="row">
            {{ pretty_field(form.header, label=_('Select a header image for your Theme.'),
                            tag=None, req=True) }}
            {{ form.header_hash.as_widget(attrs={'required': ''}) }}
            {{ form.header_hash.errors }}
            <ul class="note">
              <li>{{ _('3000 &times; 200 pixels') }}</li>
              <li>{{ _('300 KB max') }}</li>
              <li>{{ _('PNG or JPG') }}</li>
              <li>{{ _('Aligned to top-right') }}</li>
            </ul>
            <ul class="errorlist"></ul>
            <img class="preview">
            <a href="#" class="reset">
              {{ _('Select a different header image') }}</a>
          </li>
          <li id="persona-footer" class="row">
            {{ pretty_field(form.footer, label=_('Select a footer image for your Theme.'),
                            tag=None, req=True) }}
            {{ form.footer_hash.as_widget(attrs={'required': ''}) }}
            {{ form.footer_hash.errors }}
            <ul class="note">
              <li>{{ _('3000 &times; 100 pixels') }}</li>
              <li>{{ _('300 KB max') }}</li>
              <li>{{ _('PNG or JPG') }}</li>
              <li>{{ _('Aligned to bottom-left') }}</li>
            </ul>
            <ul class="errorlist"></ul>
            <img class="preview">
            <a href="#" class="reset">
              {{ _('Select a different footer image') }}</a>
          </li>
        </ul>
        <h3>{{ _('Select colors for your Theme.') }}</h3>
        <ul class="colors">
          {{ pretty_field(form.textcolor, label=_('Foreground Text'),
                          tooltip=_('This is the color of the tab text.'),
                          validate=True) }}
          {{ pretty_field(form.accentcolor, label=_('Background'),
                          tooltip=_('This is the color of the tabs.'),
                          validate=True) }}
        </ul>
      </fieldset>
      <fieldset id="persona-preview">
        <legend>{{ _('Preview') }}</legend>
        <div class="persona persona-large persona-preview">
          <div class="persona-viewer" data-browsertheme>
            <div class="details">
              <span class="title" id="persona-preview-name">
                {{ _("Your Theme's Name") }}</span>
              <span class="author">
                {% set amo_user = request.amo_user %}
                {% trans user=amo_user.username,
                         profile_url=url('users.profile', amo_user.id) %}
                  by <a href="{{ profile_url }}" target="_blank">{{ user }}</a>
                {% endtrans %}
              </span>
            </div>
          </div>
        </div>
      </fieldset>
      <p class="legal">
        <label>
          {{ form.agreed.as_widget(attrs={'required': ''}) }}
          {% trans tos_url='https://wiki.mozilla.org/Marketplace/Reviewers/Themes/TOS',
                   guidelines_url='https://wiki.mozilla.org/Marketplace/Reviewers/Themes/Guidelines' %}
            By submitting your Theme, you agree to the <a href="{{ tos_url }}" target="_blank">Themes Terms of Service</a>. Your Theme is subject to approval according to the standards established in the <a href="{{ guidelines_url }}" target="_blank">Review Guidelines</a>.
          {% endtrans %}
        </label>
        {{ form.agreed.errors }}
      </p>
      <p class="listing-footer"><button class="button prominent" disabled type="submit">{{ _('Submit Theme') }}</button></p>
    </form>
  </div>
</section>
{% endblock %}
