{% set addon_type = amo.ADDON_PERSONA %}
{% extends "impala/base_side_categories.html" %}

{% block title %}{{ page_title(_('Submission Complete')) }}{% endblock %}

{% block primary %}
<section class="primary">
  <h1>{{ _("You're done!") }}</h1>
  <div class="prose">
    <p>
    {% trans %}
      Your theme has been submitted to the Review Queue. You'll receive an
      email once it has been reviewed, typically within 24 hours.
    {% endtrans %}
    </p>
    <h2>{{ _('Next steps:') }}</h2>
    <ul class="done-next-steps">
      <li>
        {% trans edit_url=url('devhub.themes.edit', addon.slug) %}
          Provide more details about your theme by
          <a href="{{ edit_url }}">editing its listing</a>.
        {% endtrans %}
      </li>
      <li>
        {% trans feed_url=url('devhub.feed', addon.slug) %}
          View and subscribe to your theme's
          <a href="{{ feed_url }}">activity feed</a> to stay updated on
          reviews, collections, and more.
        {% endtrans %}
      </li>
      <li>
        {% trans forums_url='https://forums.mozilla.org/addons/viewforum.php?f=30' %}
          Join the conversation in our <a href="{{ forums_url }}">forums</a>.
        {% endtrans %}
      </li>
    </ul>
  </div>
</section>
{% endblock %}
