{% extends "impala/base_shared.html" %}

{% set title = _('Add-on Compatibility Reports') %}
{% block title %}{{ page_title(title) }}{% endblock %}

{% block bodyclass %}compat{% endblock %}

{% block content %}
<section class="secondary">
  <section>
    {% trans url_ = url('addons.detail', '15003') %}<p>
    Reports submitted to us through the
    <a href="{{ url_ }}">Add-on Compatibility Reporter</a> are collected here
    for developers to view. These reports help us determine which add-ons will
    need help supporting an upcoming Firefox version.
    </p>{% endtrans %}
    {% if addons %}
      <h2>{{ _('Reports for your Add-ons') }}</h2>
      <ul>
        {% for addon in addons %}
          <li><a href="{{ url('compat.reporter_detail', addon.guid) }}">
            {{ addon.name }}</a></li>
        {% endfor %}
      </ul>
    {% endif %}
  </section>
</section>
<section class="primary">
  <header>
    <h1>{{ title }}</h1>
  </header>
  <section class="island hero">
    <p class="enter">{{ _("Enter the GUID of an add-on below to view any reports we've received.") }}</p>
    <form data-no-csrf>
      <input name="guid" value="{{ query }}" id="compat-query">
    </form>
  </section>
</section>
{% endblock %}
