{% extends "developers/base_impala.html" %}

{% set title = _('Test receipt details') %}

{% block title %}{{ hub_page_title(title) }}{% endblock %}

{% block content %}
  {{ hub_breadcrumbs(items=[(url('mkt.developers.apps.testing'), _('Testing')), (None, _('Test receipt details'))]) }}
  <header class="submit-header c">
  <h1>{{ title }}</h1>
  </header>

  <section id="test-install" class="island spacer primary manage">
    <h2><a href="#">{{ _('Test receipt details') }}</a></h2>
    <p>
      {% trans %}
        This is a placeholder page for the receipt details. If you'd installed
        a real app from the Marketplace, this page would show more details.
      {% endtrans %}
    </p>
  </section>

  {% include 'developers/includes/testing_nav.html' %}
{% endblock %}
