{% extends "developers/base_impala.html" %}

{% set title = _('Test App Installation') %}

{% block title %}{{ hub_page_title(title) }}{% endblock %}

{% block content %}
  {{ hub_breadcrumbs(items=[(url('mkt.developers.apps.testing'), _('Testing')), (None, title)]) }}
  <header class="submit-header c">
  <h1>{{ title }}</h1>
  </header>

  <section id="test-install" class="primary manage" role="main">
    <div class="island devhub-form">
      <p>
        {% trans %}
          Test installation of your app before uploading to the marketplace.
          You can choose different kinds of receipts to test your receipt handling.
        {% endtrans %}
      </p>

      <form data-recordUrl="{{ url('receipt.test.issue') }}">
        {{ csrf() }}
        <fieldset class="contact">
          <div class="row">
            <label>{{ _('Receipt type') }}</label>
            {{ form.receipt_type }}
          </div>
          <div class="row">
            <label>{{ _('Manifest location') }}</label>
            <input type="text" id="manifest-url" name="manifest" class="xl"
                 placeholder="http://" data-upload-url="{{ upload_hosted_url }}">
          </div>
        </fieldset>
        <div class="listing-footer">
          <button type="submit" class="disabled" id="validate_app">{{ _('Install') }}</button>
        </div>
      </form>
    </div>
  </section>

  {% include 'developers/includes/testing_nav.html' %}
{% endblock %}
