<form class="container form-grid feedback-form" method="post" id="feedback-form" action="{{ url('account.feedback') }}">
  {{ csrf() }}

  <div class="simple-field c{{ ' error' if fform.feedback.errors }}">
    {{ fform.feedback.errors }}
    {{ fform.feedback }}
  </div>

  {% with form = fform %}
    {% include 'site/helpers/potato-recaptcha.html' %}
  {% endwith %}

  {{ fform.platform }}
  {{ fform.chromeless }}
  {{ fform.from_url }}

  <footer class="form-footer c">
    <button type="submit">{{ _('Send') }}</button>
  </footer>
</form>
