{% set contributions = contributions.get(product.pk, []) %}
{% if contributions %}
  <ul class="vitals contributions">
    {% set last_contrib = contributions[-1].type in [amo.CONTRIB_PURCHASE, amo.CONTRIB_INAPP]
                          and contributions[-1].id %}
    {% for contribution in contributions %}
      {# Show "Request Support" link if this is the last contribution
         and is a purchase. #}
      {% set get_support = (contribution.id == last_contrib) and show_link %}
      <li>
          {% if contribution.type in [amo.CONTRIB_PURCHASE, amo.CONTRIB_INAPP] %}
            <span class="purchase{{ ' supportable' if get_support }}">
              {% if contribution.type == amo.CONTRIB_INAPP %}
                {% trans date=contribution.created|datetime,
                         amt=contribution.get_amount_locale() %}
                  In-app purchase {{ date }} for {{ amt }}
                {% endtrans %}
              {% else %}
                {% trans date=contribution.created|datetime,
                         amt=contribution.get_amount_locale() %}
                  Purchased {{ date }} for {{ amt }}
                {% endtrans %}
              {% endif %}
            </span>
            {% if get_support or (show_link and contribution.type == amo.CONTRIB_INAPP) %}
              <a class="request-support"
                 href="{{ url('support', contribution.pk) }}">
                {{ _('Request Support') }}</a>
            {% endif %}
          {% elif contribution.type == amo.CONTRIB_REFUND %}
            <span class="purchase refund">
              {% trans date=contribution.created|datetime,
                       amt=contribution.get_amount_locale() %}
                Refunded {{ date }} for {{ amt }}
              {% endtrans %}
            </span>
          {% elif contribution.type == amo.CONTRIB_CHARGEBACK %}
            <span class="purchase reverse">
              {% trans date=contribution.created|datetime,
                       amt=contribution.get_amount_locale() %}
                Reversed {{ date }} for {{ amt }}
              {% endtrans %}
            </span>
          {% endif %}
      </li>
    {% endfor %}
  </ul>
{% endif %}
