{% extends 'mkt/base.html' %}

{% block content %}
  <section>
    <img alt="" src="{{ addon.get_icon_url(64) }}" />
    <h2>{{ addon.name }}</h2>
    <h3 class="authors">{{ users_list(addon.listed_authors) }}</h3>
    <ul class="unstyled compatibility-list">
      <li><span class="label">Phones</span></li>
      <li><span class="label">Tablets</span></li>
    </ul>
    <a id="purchase" class="button">FREE</a>
    <p class="description">{{ addon.description }}</p>
  </section>

  {% if addon.type != amo.ADDON_PERSONA %}
    {% if addon.all_previews|length > 0 %}
      <section class="previews slider row">
        <ul>
          {%- for preview in addon.all_previews -%}
            <li>
              <a class="screenshot thumbnail" rel="jquery-lightbox"
                 href="{{ preview.image_url }}" title="{{ preview.caption }}">
                <img src="{{ preview.thumbnail_url }}">
              </a>
            </li>
          {%- endfor -%}
        </ul>
      </section>
    {% endif %}
  {% endif %}
{% endblock %}