<section class="secondary" role="complementary">
  <aside id="l10n-motd" class="notice">
    {# L10n: Header to an info box in the sidebar #}
    <h2>{{ _('Good to know') }}</h2>
    {{ localizers_sidebar_motd() }}
    {% if locale_code %}
      <hr />
      {{ localizers_sidebar_motd(lang=locale_code) }}
    {% endif %}
  </aside>

  <aside class="notice">
    <h2>{{ _('Want the bigger picture?') }}</h2>
    <a class="button" href="http://localize.mozilla.org">
      {{ _('Visit localize.mozilla.org') }}
    </a>
  </aside>

  {% if locale_code %}
    <div>
      <h2>{{ _('Options') }}</h2>
      <ul>
        <li>
          <a href="{{ url('localizers.categories', locale_code) }}">{{ _('Categories') }}</a>
        </li>
      </ul>
    </div>

    {% if is_localizer %}
    <div>
      <h2>{{ _('Need Help?') }}</h2>
      <p>
        <a class="button" target="_blank" href="http://www.mozilla.org/community/developer-forums.html#dev-l10n-web">
          {{ _('Visit the Newsgroup') }}
        </a>
      </p>

      {% if members %}
        <h3>{{ _('E-Mail Your Team:') }}</h3>
        <ul>
          {% for member in members %}
            <li><a href="mailto:{{ member.email }}">{{ member.display_name }}</a></li>
          {% endfor %}
        </ul>
      {% endif %}
    </div>
    {% endif %}
  {% endif %}
</section>
