{% extends "localizers/base.html" %}

{% block title %}{{ page_title(_('Localizer Dashboard')) }}{% endblock %}

{% block content %}

  <header>
    {{ impala_breadcrumbs([(url('localizers.dashboard'), _('Localization Dashboard'))]) }}
    <h1>{{ _('Mozilla Add-ons Localization') }}</h1>
  </header>

  {{ localizers_sidebar() }}

  <div class="primary c">
    <section class="notice">
      <h2>{{ _('Want to help?') }}</h2>
      <p>{{ _('AMO is available in so many languages thanks to the help of people like you!') }}</p>
      <p><a class="button" target="_blank" href="https://wiki.mozilla.org/AMO:Localizers">
        {{ _('Get started with AMO L10n') }}
      </a></p>
    </section>
    <section class="island hero c">
      <h2>{{ _('Existing AMO locales') }}</h2>
      <table style="width:100%">
        <thead>
          <tr>
            <th>{{ _('Locale code') }}</th>
            <th colspan="2">{{ _('Locale name') }}</th>
          </tr>
        </thead>
        <tbody>
          {% for lang in amo_languages %}
          <tr>
            <td>{{ lang }}</td>
            <td>
              <a href="{{ url('localizers.locale_dashboard', lang) }}">
                {{ languages[lang]['native'] }}
              </a>
            </td>
            <td>
              {{ languages[lang]['English'] }}
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </section>
  </div>

{% endblock content %}
