x-alert {
  position: fixed;
  padding: 15px 25px;
  text-align: center;
  background: #222;
  color: #eee;

  /* so that the alert popup doesn't flash for a split second on load */
  opacity: 0;
}

x-alert {
  /* flex box container to center inner elements */
  display: -webkit-box;
  display:    -moz-box;
  display:     -ms-box;
  display:      -o-box;
  display:         box;

  display: -webkit-flex;
  display:    -moz-flex;
  display:     -ms-flex;
  display:      -o-flex;
  display:         flex;

  -webkit-box-align: center;
     -moz-box-align: center;
      -ms-box-align: center;
       -o-box-align: center;
          box-align: center;

  -webkit-align-items: center;
     -moz-align-items: center;
      -ms-align-items: center;
       -o-align-items: center;
          align-items: center;

  -webkit-box-pack: center;
     -moz-box-pack: center;
      -ms-box-pack: center;
       -o-box-pack: center;
          box-pack: center;

  -webkit-justify-content: center;
     -moz-justify-content: center;
      -ms-justify-content: center;
       -o-justify-content: center;
          justify-content: center;

  -webkit-box-orient: vertical;
     -moz-box-orient: vertical;
      -ms-box-orient: vertical;
       -o-box-orient: vertical;
          box-orient: vertical;

  -webkit-flex-direction: column;
     -moz-flex-direction: column;
      -ms-flex-direction: column;
       -o-flex-direction: column;
          flex-direction: column;
}

x-alert[data-location='bottom'] {
  top: auto;
  bottom: 10px;
}

x-alert[data-location='top'] {
  top: 10px;
  bottom: auto;
}

x-alert h1, x-alert h2, x-alert h3, x-alert h4, x-alert h5, x-alert h6 {
  margin-top: 0;
  padding-bottom: 5px;
  border-bottom: 1px solid #bbb;
}

.x-alert-primary, .x-alert-secondary {
  display: inline-block;
  padding: 5px 15px;
  background: #ccc;
  color: #222;
  text-decoration: none;
  margin-top: 20px;
  margin-right: 10px;

  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
      -ms-border-radius: 5px;
       -o-border-radius: 5px;
          border-radius: 5px;
}
