x-toast {
  display: none;
  position: fixed;
  bottom: 10px;
  padding: 15px 25px;
  text-align: center;
  background: #222;
  color: #eee;
}

x-toast[data-location="top"] {
  top: 10px;
  bottom: auto;
}

x-toast[data-show] {
  display: block;
}

x-toast .close {
  position: absolute;
  top: 0;
  right: 5px;
  color: #eee;
  text-decoration: none;
}
