x-listview {
  display: block;
  overflow: auto;
  padding: 4px;
}
x-listview > x-section{
  margin-top: 8px;
  display: block;

}
x-listview > x-section:first-child{
  margin: 0;
  padding: 0;
}
x-listview > x-section > x-header {
  font-size: 1.5em;
  border-bottom: solid 1px #000;
  margin-bottom: 5px;
  padding-left:10px;
  line-height: 1em;
  display: block;
}
x-listview x-listitem {
  font-size: 1em;
  margin: 0;
  padding: 1px 0 0 10px;
  border-bottom: solid 1px #ddd;
  display: block;
}
x-listitem[selected]{
  background-color: #eef;
}
