x-slider {
  display: block;
}
x-slider label {

}

x-slider div.x-slider-container {
  display: box;
  display: -o-box;
  display: -ms-box;
  display: -moz-box;
  display: -webkit-box;
  width: 100%;

}
x-slider div.x-slider-min {
  box-flex: 0;
  -o-box-flex: 0;
  -ms-box-flex: 0;
  -moz-box-flex: 0;
  -webkit-box-flex: 0;
}
x-slider div.x-slider-max {
  box-flex: 0;
  -o-box-flex: 0;
  -ms-box-flex: 0;
  -moz-box-flex: 0;
  -webkit-box-flex: 0;
}
x-slider div.x-slider-range {
  box-flex: 1;
  -o-box-flex: 1;
  -ms-box-flex: 1;
  -moz-box-flex: 1;
  -webkit-box-flex: 1;
  margin: 0 5px 0 5px;
  border: solid 1px red;

}
x-slider div.x-slider-knob {
  width: 10px;
  border: solid 1px #000;
  cursor: pointer;
  transform: translate(-50%);
  -webkit-transform: translate(-50%);
}
body.x-tag-slider-drag{
  user-select: none;
  -o-user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  cursor: ew-resize;
}
body.x-tag-slider-drag div.x-slider-knob {
  cursor: ew-resize;
}
