
x-tabbox, x-tabs, x-tab {
  display: inline-block;
  display: box;
  display: -o-box;
  display: -ms-box;
  display: -moz-box;
  display: -webkit-box;
}

x-tabbox, x-tabpanels, x-tabpanel {
  box-orient: vertical;
  -o-box-orient: vertical;
  -ms-box-orient: vertical;
  -moz-box-orient: vertical;
  -webkit-box-orient: vertical;
}

x-tabs, x-tab, x-tabpanels {
  box-flex: 0;
  -o-box-flex: 0;
  -ms-box-flex: 0;
  -moz-box-flex: 0;
  -webkit-box-flex: 0;
}

x-tab {
  cursor: default;
}

x-tab[selected="true"] {
  text-decoration: underline;
}

x-tabpanels > x-tabpanel {
  display: none;
}

x-tabpanels, x-tabpanels > *[selected="true"] {
  display: block;
}

x-tabbox[tab-orient="left"], x-tabbox[tab-orient="right"] {
  box-orient: horizontal;
  -o-box-orient: horizontal;
  -ms-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -webkit-box-orient: horizontal;
}

x-tabbox[tab-orient="bottom"] {
  box-direction: reverse;
  -o-box-direction: reverse;
  -ms-box-direction: reverse;
  -moz-box-direction: reverse;
  -webkit-box-direction: reverse;
}

x-tabbox[tab-orient="left"] x-tabs,
x-tabbox[tab-orient="right"] x-tabs,
x-tabbox[tab-orient="left"] x-tabpanels,
x-tabbox[tab-orient="right"] x-tabpanels {
  box-flex: 1;
  -o-box-flex: 1;
  -ms-box-flex: 1;
  -moz-box-flex: 1;
  -webkit-box-flex: 1;
  box-orient: vertical;
  -o-box-orient: vertical;
  -ms-box-orient: vertical;
  -moz-box-orient: vertical;
  -webkit-box-orient: vertical;
}

x-tabbox[tab-orient="right"] {
  box-direction: reverse;
  -o-box-direction: reverse;
  -ms-box-direction: reverse;
  -moz-box-direction: reverse;
  -webkit-box-direction: reverse;
}

x-tabbox[tab-orient="right"] x-tabs, x-tabbox[tab-orient="bottom"] x-tabs{
  -webkit-box-direction: normal;
}
