{% set amo_user = request.amo_user if request.user.is_authenticated() else None %}
{% if not amo_user %}
  <h2 id="add-review">{{ _('Add a Review') }}</h2>
  <section class="copy">
    <a href="{{ shared_url('reviews.add', addon) }}" class="login-button button">{{ _('Log in to add a review') }}</a>
  </section>
{% elif addon.can_review(amo_user) %}
  <h2 id="add-review">{{ _('Add a Review') }}</h2>
  <form method="post" class="form-mobile review-form" id="review-form"
        action="{{ shared_url('reviews.add', addon) }}">
    {{ csrf() }}
    <p>
      <label for="id_title">{{ _('Title:') }} <span class="optional">{{ _('(optional)') }}</span></label>
      {{ form.title }}
    </p>
    {{ field(form.rating, _('Rating:')) }}
    {{ field(form.body, _('Review:')) }}
    <p><input type="submit" value="{{ _('Submit review') }}" class="button"></p>
  </form>
{% endif %}
