{% set amo_user = request.amo_user if request and request.user.is_authenticated() else None %}
{% if addon.total_reviews %}
  <a class="listview" href="{{ shared_url('reviews.list', addon) }}">
    <div class="icon">
      {{ addon.average_rating|stars }}
    </div>
    {% trans num=addon.total_reviews, cnt=addon.total_reviews|numberfmt %}
      See All Reviews
    {% pluralize %}
      See All {{ cnt }} Reviews
    {% endtrans %}
  </a>
{% elif addon.can_review(amo_user) %}
  <a class="listview" id="add-review" href="{{ shared_url('reviews.add', addon) }}">
    {{ _('Be the first to write a review.') }}</a>
{% endif %}
