{% extends 'mkt/base.html' %}

{% set headertitle = _('Firefox Marketplace') %}
{% set pagetype = 'root' %}

{% set bodyclass = 'home' %}

{% block content %}
  <section id="featured-home" class="featured full">
    <ul class="grid c">
      {% for app in featured -%}
        <li>
          {{- market_tile(app, src='mkt-home') -}}
        </li>
      {% endfor %}
    </ul>
  </section>
  {% if CARRIER == 'sony' %}
    <section class="main categories">
      <h2>{{ _('Categories') }}</h2>
      <ul class="grid">
        <li>
          <a class="mkt-tile category" href="{{ url('browse.apps') }}">
            <div class="icon cat-sony"></div>
            <h3 class="linefit">Sony</h3>
          </a>
        </li>
        <li>
          <a class="mkt-tile category" href="{{ url('browse.apps', 'games') }}">
            <div class="icon cat-games"></div>
            <h3 class="linefit">{{ _('Games') }}</h3>
          </a>
        </li>
        <li>
          <a class="mkt-tile category" href="{{ url('browse.apps', 'news-weather') }}">
            <div class="icon cat-news-weather"></div>
            <h3 class="linefit">{{ _('News') }}</h3>
          </a>
        </li>
        <li>
          <a class="mkt-tile category" href="{{ url('browse.apps', 'music') }}">
            <div class="icon cat-music"></div>
            <h3 class="linefit">{{ _('Music') }}</h3>
          </a>
        </li>
        <li>
          <a class="mkt-tile category" href="{{ url('browse.apps', 'health-fitness') }}">
            <div class="icon cat-health-fitness"></div>
            <h3 class="linefit">{{ _('Health') }}</h3>
          </a>
        </li>
        <li>
          <a class="mkt-tile category" href="{{ url('browse.apps', 'education') }}">
            <div class="icon cat-education"></div>
            <h3 class="linefit">{{ _('Education') }}</h3>
          </a>
        </li>
        {% if not request.MOBILE %}
          <li>
            <a class="mkt-tile category" href="{{ url('browse.apps', 'utilities') }}">
              <div class="icon cat-utilities"></div>
              <h3 class="linefit">{{ _('Utilities') }}</h3>
            </a>
          </li>
          <li>
            <a class="mkt-tile category" href="{{ url('browse.apps', 'photos-media') }}">
              <div class="icon cat-photos-media"></div>
              <h3 class="linefit">{{ _('Photos &amp; Video') }}</h3>
            </a>
          </li>
        {% endif %}
      </ul>
    </section>
  {% else %}
    {{ category_slider(rand=True, limit=9 if request.MOBILE else 12) }}
  {% endif %}
{% endblock %}
