{% extends 'mkt/base.html' %}

{% block bodyclass %}home{% endblock %}

{% block content %}
  <section class="homepage-promo full">
    <div>
      <h1>{{ _('Opening soon.') }}</h1>
      <p>
        {% trans %}
          We're inviting Mozillians to take the Marketplace for a test drive
          and discover the best the Web has to offer.
          Download apps, give them a try and let us know what you think.
          Thanks for your support!
        {% endtrans %}
      </p>
      <a href="https://wiki.mozilla.org/Marketplace/Mozillian_Preview"
         class="button arrow" target="_blank">{{ _('Test & give feedback') }}</a>
    </div>
  </section>
  <section id="home-featured" class="featured full">
    <div>
      <h2>{{ _('Featured') }}</h2>
    </div>
  </section>
  <section class="featured full slider">
    {{ featured|promo_slider(feature=True) }}
  </section>
  {% if popular %}
    <section id="home-popular" class="popular full">
      <div>
        <h2><a href="{{ url('browse.apps')|urlparams(sort='popular') }}">
          {{ _('Popular') }}</a></h2>
      </div>
    </section>
    <section class="popular slider full">
      {{ popular|promo_slider }}
    </section>
  {% endif %}
  {{ category_slider() }}
{% endblock %}
