{% extends 'mkt/base.html' %}

{% block content %}
<section id="walled">
  <div>
    <h1>Check back soon!</h1>
    <p>
      The Marketplace is currently only available to invited Mozillians.
      If you're an active Mozilla contributor and would like access, please
      send your vouched
      <a href="https://mozillians.org/" target="_blank">mozillians.org</a>
      profile link to {{ emaillink('marketplace-testing@mozilla.org') }}.
    </p>
    <h1>Have an app to submit?</h1>
    <p id="access-devhub">
      The Marketplace Developers site is still open.
      <a href="{{ url('submit.app') }}">Upload your app &raquo;</a>
    </p>
  </div>
</section>
{% endblock %}
