{% extends 'mkt/base.html' %}

{% set headertitle = _('Firefox Marketplace') %}
{% set pagetype = 'root' %}

{% set bodyclass = 'home' %}

{% block content %}
  <section id="featured-home" class="featured full">
    <ul class="grid c">
      {# Set class="featured" on the featured tile <li>. #}
      {% for app in featured -%}
        <li>
          {{- market_tile(app, src='mkt-home') -}}
        </li>
      {% endfor %}
    </ul>
  </section>
  {% if DESKTOP %}
    {{ category_slider(rand=True, limit=12) }}
  {% else %}
    {{ category_slider() }}
  {% endif %}
{% endblock %}
