<h1>Check back soon!</h1>
<p>
  The Marketplace is currently only available to invited Mozillians.
  If you're an active Mozilla contributor and would like access, please
  send your vouched
  <a href="https://mozillians.org/" target="_blank">mozillians.org</a>
  profile link to <span class="emaillink-wrapper">{{ emaillink('marketplace-testing@mozilla.org') }}</span>.
</p>
<div class="still-open">
  <h1>Have an app to submit?</h1>
  <p>
    The Marketplace Developers site is still open.
    <a href="{{ url('ecosystem.landing') }}" target="_blank">Upload your app &raquo;</a>
  </p>
</div>
