{% extends 'ecosystem/base.html' %}
{% from "ecosystem/macros.html" import navigation with context %}

{% block title %}
  {{ hub_page_title() }} | {{ title }}
{% endblock %}

{% block content %}
  <div class="doc-wrapper">
    {{ navigation(page) }}

    <article>
      <h1>{{ title }}</h1>

      <ul class="app-generator-preview">
        {% for app in app_generators -%}
          <li>
            <a href="javascript:;" class="generator-{{ app.css_name }}"
               data-generator="generator-{{ app.css_name }}">
              {{ app.title }}
            </a>
          </li>
        {% endfor -%}
      </ul>


      <ul class="app-generator-detail">
        {% for app in app_generators -%}
          <li id="generator-{{ app.css_name }}"
              {% if app.css_name == 'app-stub' %}class="on"{% endif %}>
            <h2>{{ app.title }}</h2>
            <div class="layout-preview">
              <img src="{{ media('img/ecosystem/%s' % app.preview) }}">
            </div>
            <div class="layout-detail">
              <p>{{ app.description }}</p>
              <h3>{{ _('Features')}}</h3>
              <ul class="features">
                {% for feature in app.features -%}
                  <li>{{ feature|xssafe }}</li>
                {% endfor -%}
              </ul>
              <a href="{{ app.download }}"
                 class="app-source button" id="download-link">
                 {{ _('Download Template') }}</a>
            </div>
          </li>
        {% endfor -%}
      </ul>
    </article>
  </div>
{% endblock %}

{% block js %}
  {{ js('mkt/ecosystem') }}
{% endblock %}
