{% extends 'developers/base_impala.html' %}

{% block title %}{{ hub_page_title() }}{% endblock %}

{% block extrahead %}
  {{ css('mkt/ecosystem') }}
{% endblock %}

{% block site_header_title %}{% endblock %}

{% block account_links %}
  <div class="devhub-links {{ 'logged' if logged }}">
    <a href="//developer.mozilla.org/Apps/Reference">
      {{- _('API Reference') -}}
    </a>
    <a href="{{ url('ecosystem.support') }}">{{ _('Support') }}</a>
    <a href="{{ url('submit.app') }}" class="submit">
      {{- _('Submit an app') -}}
    </a>
    <a href="{{ url('home') }}" class="submit">
      {{- _('Marketplace') -}}
    </a>
    {% if not logged %}
      <a href="#" class="browserid">{{ _('Sign In') }}</a>
    {% endif %}
  </div>
{% endblock %}

{% block site_nav_footer %}
  <div id="site-map-footer">
    <div class="pad">
      <ul>
        <li>
          <h2>{{ _('Design') }}</h2>
          <ol>
            <li>
              <a href="{{ url('ecosystem.design_concept') }}">
                {{- _('Concept: A great app') }}</a>
            </li>
            <li>
              <a href="{{ url('ecosystem.design_fundamentals') }}">
                {{- _('Design Fundamentals') }}</a>
            </li>
            <li>
              <a href="{{ url('ecosystem.design_ui') }}">
                {{- _('UI Guidelines') }}</a>
            </li>
          </ol>
        </li>
        <li>
          <h2>{{ _('Build') }}</h2>
          <ol>
            <li>
              <a href="{{ url('ecosystem.build_quick') }}">
                {{- _('Quick Start') }}</a>
            </li>
            <li>
              <a href="{{ url('ecosystem.firefox_os_simulator') }}">
                {{- _('Firefox OS Simulator') }}</a>
            </li>
            <li>
              <a href="{{ url('ecosystem.build_reference') }}">
                {{- _('Reference Apps') }}</a>
            </li>
          </ol>
        </li>
        <li>
          <h2>{{ _('Publish') }}</h2>
          <ol>
            <li>
              <a href="{{ url('ecosystem.publish_deploy') }}">
                {{- _('Deploying your app') }}</a>
            </li>
            <li>
              <a href="{{ url('ecosystem.publish_hosted') }}">
                {{- _('Hosted Apps') }}</a>
            </li>
            <li>
              <a href="{{ url('ecosystem.publish_packaged') }}">
                {{- _('Packaged Apps') }}</a>
            </li>
          </ol>
        </li>
      </ul>
    </div>
  </div>
{% endblock %}

{% block js %}
  {{ js('mkt/ecosystem') }}
{% endblock %}
