{% extends 'developers/base_impala.html' %}

{% block title %}{{ hub_page_title() }}{% endblock %}

{% block extrahead %}
  {{ css('mkt/ecosystem') }}
{% endblock %}

{% block site_header_title %}{% endblock %}

{% block devhub_categories %}
  <div id="site-nav" class="devhub-categories">
    <div class="pad">
      <nav class="menu-nav app-nav no-img" role="navigation">
        <ul class="c">
          <li>
            <a href="{{ url('ecosystem.documentation',
                        page='purpose') }}"
               {% if category == 'design' %}class="selected"{% endif %}>
              {{ _('Design') }}
            </a>
          </li>
          <li>
            <a href="{{ url('ecosystem.documentation', page='html5') }}"
               {% if category == 'build' %}class="selected"{% endif %}>
              {{ _('Build') }}</a>
          </li>
          <li>
            <a href="{{ url('ecosystem.documentation',
                        page='mkt_hosting') }}"
               {% if category == 'publish' %}class="selected"{% endif %}>
              {{ _('Publish') }}</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
{% endblock %}

{% block site_nav_footer %}
  <div id="site-map-footer">
    <div class="pad">
      <ul>
        <li>
          <h2>{{ _('Design') }}</h2>
          <ol>
            <li>
              <a href="{{ url('ecosystem.documentation',
                 page='principles') }}"
                 title="{{ _('Design Principles') }}">
                {{ _('Design Principles') }}
              </a>
            </li>
            <li>
              <a href="{{ url('ecosystem.documentation',
                 page='patterns') }}"
                 title="{{ _('Design Patterns') }}">
                {{ _('Design Patterns') }}
              </a>
            </li>
            <li>
              <a href="{{ url('ecosystem.documentation',
                 page='custom_elements') }}"
                 title="{{ _('Custom Elements') }}">
                {{ _('Custom Elements') }}
              </a>
            </li>
          </ol>
        </li>
        <li>
          <h2>{{ _('Build') }}</h2>
          <ol>
            <li>
              <a href="{{ url('ecosystem.documentation', page='html5') }}"
                 title="{{ _('HTML5') }}">
                {{ _('HTML5') }}
              </a>
            </li>
            <li>
              <a href="{{ url('ecosystem.documentation', page='devtools') }}"
                 title="{{ _('Dev Tools') }}">
                {{ _('Dev Tools') }}
              </a>
            </li>
            <li>
              <a href="{{ url('ecosystem.documentation', page='templates') }}"
                 title="{{ _('App Templates') }}">
                {{ _('App Templates') }}
              </a>
            </li>
          </ol>
        </li>
        <li>
          <h2>{{ _('Publish') }}</h2>
          <ol>
            <li>
              <a href="{{ url('ecosystem.documentation',
                 page='mkt_hosting') }}"
                 title="{{ _('Hosting') }}">
                {{ _('Hosting') }}
              </a>
            </li>
            <li>
              <a href="{{ url('ecosystem.documentation',
                 page='mkt_submission') }}"
                 title="{{ _('Marketplace Submission') }}">
                {{ _('Marketplace Submission') }}
              </a>
            </li>
          </ol>
        </li>
      </ul>
    </div>
  </div>
{% endblock %}
