{% extends 'ecosystem/base.html' %}
{% from "ecosystem/macros.html" import navigation with context %}

{% block title %}
  {{ hub_page_title(_('Intro to Manifests')) }}
{% endblock %}

{% block content %}
  <div class="doc-wrapper">
    {{ navigation('build_manifests') }}

    <article>
      <h1>{{ _('Intro to Manifests') }}</h1>
      <dl>
        <dt>{{ _('Why does my app need an app manifest?') }}</dt>
        <dd>
          {%- trans url_api='//developer.mozilla.org/docs/WebAPI',
                    url_geo='//developer.mozilla.org/docs/Using_geolocation' %}
            The app manifest provides useful information about an app (such
            as name, author, icon, and description) in a simple document
            usable by both users and app stores. Most importantly, it will
            contain a list of <a href="{{ url_api }}">Web APIs</a> (such as
            <a href="{{ url_geo }}">geolocation</a>) that your App needs.
            This allows users to make informed decisions about apps before
            installing them.
          {% endtrans -%}
        </dd>
        <dt>
          {%- trans url='//developer.mozilla.org/docs/Using_Application_Cache' %}
            Is the Open Web app manifest the same thing as the manifest
            used for Google Chrome extensions and installable web apps? Or
            the W3C Widgets manifest? Or the HTML5 <a href="{{ url }}">cache
            manifest</a>?
          {% endtrans -%}
        </dt>
        <dd>
          {%- trans %}
            No to all of these. The Open Web app manifest is probably most
            similar to the Google manifest, but they are not identical. It
            is hoped that the Open Web apps manifest will become a standard.
          {% endtrans -%}
        </dd>
        <dt>{{ _('What is an origin?') }}</dt>
        <dd>
          {%- trans %}
            The origin of an app is the protocol, domain, and port of the URL
            together. Each of the following URLs is a different origin:
          {% endtrans -%}
          <ul>
            <li>
              <code>'http://example.com</code>
            </li>
            <li>
              <code>http://example.com:8080</code> {{ _('(different port)') }}
            </li>
            <li>
              <code>https://example.com</code> {{ _('(different protocol)') }}
            </li>
            <li>
              <code>http://www.example.com</code>
            </li>
            <li>
              <code>http://myapp.example.com</code> {{ _('(subdomain)') }}
            </li>
          </ul>
        </dd>
        <dd>
          {{ _('The following URLs are the same origin:') }}
          <ul>
            <li>
              <code>http://Example.com:80</code>
            </li>
            <li>
              <code>http://example.com</code>
            </li>
          </ul>
        </dd>
      </dl>
      <dl>
        <dd>
          {{ _('The following URLs are the same origin:') }}
          <ul>
            <li>
              <code>http://example.com/drawingApp</code>
            </li>
            <li>
              <code>http://example.com/notesApp</code>
            </li>
          </ul>
        </dd>
      </dl>
      <dl>
        <dt>
          {%- trans %}
            Why do I have to host the app manifest at the same origin as my
            app?
          {% endtrans -%}
        </dt>
        <dd>
          {%- trans %}
            We assume that only you can host an app manifest at the same
            origin as your app. This means your users can install your app
            with confidence, knowing that the installation is based on your
            app manifest and not someone else's. Users should have this
            confidence whether they're installing your app from Firefox OS
            Marketplace, from some other app store, or from your own website
            if you are self-publishing your app.
          {% endtrans -%}
        </dd>
        <dd>
          {%- trans %}
            If the app manifest were not hosted at the same origin as the app
            itself, there would be nothing to prevent third parties from
            making apps directly out of content hosted at your origin. Even
            worse, third parties could create an app manifest using your
            branding that would trick users into installing an app that was a
            facade for stealing passwords or other improper behavior.
          {% endtrans -%}
        </dd>
        <dt>
          {%- trans %}
            Does this mean I can't embed images or JavaScript from other
            origins?
          {% endtrans -%}
        </dt>
        <dd>
          {%- trans %}
            No. The origin restriction is on content (HTML pages) only.
            Images and other embedded resources can be located elsewhere (for
            example, on a content delivery network), except for the app's
            icon, which must be served from the app's origin.
          {% endtrans -%}
        </dd>
        <dt>{{ _('Can I have more than one app at my origin?') }}</dt>
        <dd>
          {%- trans %}
            No, there can be only one app per origin. If multiple apps were
            allowed for a single origin, they would live in a single web
            sandbox &mdash; they could examine each other's localStorage, do
            Ajax requests to each other's APIs, or even steal access to
            privileged APIs that should have been granted to only one of the
            apps. This would be especially dangerous for domains that publish
            user-generated content from many users.
          {% endtrans -%}
        </dd>
        <dd>
          {# L10n: Do not localize text in <code></code> #}
          {%- trans url='//developer.mozilla.org/docs/Apps/Adding_a_subdomain' %}
            We recommend that you use a separate subdomain for each of your
            apps. For example, <code>spreadsheet.mycoolapps.com</code> for
            one app and <code>texteditor.mycoolapps.com</code> for another.
            For more information, see <a href="{{ url }}">Adding a
            subdomain for an app</a>.
          {% endtrans -%}
        </dd>
        <dd>
          {%- trans %}
            Many resources and permissions on the Web are already scoped to a
            single origin. By defining an app and an origin as the same thing
            we use the same security restrictions that are used elsewhere on
            the Web and in HTML5.
          {% endtrans -%}
        </dd>
        <dt>
          {%- trans %}
            Why not just upload the app manifest directly to the Firefox OS
            Marketplace?
          {% endtrans -%}
        </dt>
        <dd>
          {%- trans %}
            There are several benefits to hosting the manifest at your domain
            and providing the app manifest URL to the Marketplace:
          {% endtrans -%}
          <ul>
            <li>
              {%- trans %}
                We intend that the Marketplace (and other app stores) will
                periodically revisit all the app manifests at the provided
                URLs and check them for updates. This avoids the need for
                you to re-upload your app manifest for each update.
              {% endtrans -%}
            </li>
            <li>
              {%- trans %}
                The Marketplace will pass both the original app manifest
                contents as well as its URL to the user's device. This allows
                the device to check for unexpected changes in the app
                manifest that might indicate tampering. This will be
                especially important for apps that use Web APIs (for
                geolocation for example).
              {% endtrans -%}
            </li>
          </ul>
          {%- trans %}
            <strong>Note:</strong> As of this writing, we are still designing
            a process by which the Marketplace will pass an updated app
            manifest to the user's device.
          {% endtrans -%}
        </dd>
        <dt>
          {# L10n: Do not localize text in <code></code> #}
          {%- trans %}
            Why does my Web server have to use the proper HTTP
            <code>Content-Type</code> header when serving my app manifest?
          {% endtrans -%}
        </dt>
        <dd>
          {%- trans %}
            This restriction prevents users of a website that allows
            user-generated content (for example, a pastebin site) from
            inadvertently or inappropriately claiming that entire website
            as their app.
          {% endtrans -%}
        </dd>
        <dt>{{ _('Should I use HTTPS to serve my app manifest?') }}</dt>
        <dd>
          {%- trans %}
            Yes, it is a good idea. We anticipate that the Firefox OS
            Marketplace will require any app using Web APIs (such as
            geolocation) to serve its app manifest over HTTPS as an
            additional defense against man-in-the-middle attacks. If you use
            HTTPS for your manifest, you must also use it for all the pages
            on your site.
          {% endtrans -%}
        </dd>
        <dt>
          {%- trans %}
            What if someone else submits my app to the Firefox OS
            Marketplace?
          {% endtrans -%}
        </dt>
        <dd>
          {%- trans %}
            In the unfortunate event that someone guesses the URL to your
            app manifest and submits it to the Firefox OS Marketplace before
            you do, please file a complaint with the Marketplace support
            team.
          {% endtrans -%}
        </dd>
      </dl>
      <h2>{{ _('See also') }}</h2>
      <p>
        <a href="//developer.mozilla.org/docs/Apps/Manifest">
          {{- _('App manifest') }}</a>
      </p>
    </article>
  </div>
{% endblock %}
