{% extends 'ecosystem/base.html' %}
{% from "ecosystem/macros.html" import navigation with context %}

{% block title %}
  {{ hub_page_title(_('App Generator')) }}
{% endblock %}

{% block content %}
  <div class="doc-wrapper">
    {{ navigation('build_app_generator') }}

    <article>
      <h1>{{ _('App Generator') }}</h1>

      <ul class="app-generator-preview">
        {% for app in app_generators -%}
          <li>
            <a href="javascript:;" class="generator-{{ app.css_name }}"
               data-generator="generator-{{ app.css_name }}">
              {{- app.title }}</a>
          </li>
        {% endfor -%}
      </ul>
      <ul class="app-generator-detail">
        {% for app in app_generators -%}
          <li id="generator-{{ app.css_name }}"
              {% if app.css_name == 'app-stub' %}class="on"{% endif %}>
            <h2>{{ app.title }}</h2>
            <div class="layout-preview">
              <img src="{{ media('img/ecosystem/%s' % app.preview) }}">
            </div>
            <div class="layout-detail">
              <p>{{ app.description }}</p>
              <h3>{{ _('Features')}}</h3>
              <ul class="features">
                {% for feature in app.features -%}
                  <li>{{ feature|xssafe }}</li>
                {% endfor -%}
              </ul>
              <a href="{{ app.download }}"
                 class="app-source button" id="download-link">
                 {{- _('Download Template') }}</a>
            </div>
          </li>
        {% endfor -%}
      </ul>
      <h2>{{ _('Introduction to App Generator Templates') }}</h2>
      <p>
        {%- trans %}
          To help you start writing web apps quickly, we provide a few
          templates which has a lot already set up. Each template is a
          static web project with tools to help build and deploy.
        {% endtrans -%}
      </p>
      <p>{{ _('What you get:') }}</p>
      <ul>
        <li>{{ _('A minimal and well-formed HTML structure') }}</li>
        <li>{{ _('Prebuilt') }} <code>manifest.webapp</code></li>
        <li>
          {%- trans %}
            JavaScript libraries for interacting with the Marketplace
          {% endtrans -%}
        </li>
        <li>
          {{- _('require.js for structuring your JavaScript code') -}}
        </li>
        <li>
          {{- _('volo for automating local development and deployment') }}
        </li>
        <li>{{ _('pre-built layouts (from some of the templates)') }}</li>
      </ul>
      <p>
        {%- trans url='https://github.com/mozilla/mortar' %}
          You can download the templates above, or view all the available
          templates in the <a rel="external" href="{{ url }}">mortar</a>
          repo.
        {% endtrans -%}
      </p>
      <h2>{{ _('Starting with the App Stub Template') }}</h2>
      <p>
        {%- trans url='https://github.com/mozilla/mortar-app-stub' %}
          You can simply use git to get the template from <a rel="external"
          href="{{ url }}">this repo</a>:
        {% endtrans -%}
      </p>
      <pre>
        git clone git@github.com:mozilla/mortar-app-stub.git myapp
      </pre>
      <p>
        {%- trans url='http://nodejs.org' %}
          Using volo is recommended, however. volo is a tool for automating
          projects, and you'll use it with this template, so go ahead and
          install it. You first need node.js, which you can download from
          <a rel="external" href="{{ url }}">here</a>. Once you have node,
          install volo:
        {% endtrans -%}
      </p>
      <pre>{{ _('npm install -g volo') }}</pre>
      {# L10n: Do not localize text in <code></code> #}
      <p>{{ _('Now you can just use the <code>create</code> command:') }}</p>
      <pre>{{ _('volo create myproject mozilla/mortar-app-stub') }}</pre>
      <p>
        {# L10n: Do not localize text in <code></code> #}
        {%- trans %}
          When future templates are available, you can use the same
          <code>create</code> command with different template URLs.
        {% endtrans -%}
      </p>
      <h2>{{ _('What Now?') }}</h2>
      <p>
        {# L10n: Do not localize text in <code></code> #}
        {%- trans %}
          All your HTML, CSS, and JavaScript are under the <code>www</code>
          directory, so start coding! You'll see a bunch of stuff in there,
          but feel free to remove anything you don't need.
        {% endtrans -%}
      </p>
      <p>
        {# L10n: Do not localize text in <code></code> #}
        {%- trans url_require='http://requirejs.org',
                  url_zepto='http://zeptojs.com',
                  url_payments='//developer.mozilla.org/docs/Apps/In-app_payments',
                  url_receipts='//developer.mozilla.org/docs/Apps/Validating_a_receipt' %}
          The template uses <a rel="external"
          href="{{ url_require }}">require.js</a> to manage JavaScript. If
          you look in <code>www/js/app.js</code> you'll see that it defines
          the main module and loads a few libraries like
          <a rel="external" href="{{ url_zepto }}">zepto</a>. The Marketplace
          JavaScript library is also included, which enables
          <a href="{{ url_payments }}">in-app payments</a> and
          <a href="{{ url_receipts }}">receipt verification</a>. You don't
          need this if you're a free app without in-app payments.
        {% endtrans -%}
      </p>
      <p>{{ _("Below that, you'll see the line:") }}</p>
      <pre>{{ _('define(function(require) {') }}</pre>
      <p>
        {# L10n: Do not localize text in <code></code> #}
        {%- trans url='http://requirejs.org/docs/api.html' %}
          That defines the main module for your app, and you should start
          coding within the function. You can use <code>require</code> to
          load in other modules, the same way zepto is loaded. Check out the
          <a rel="external" href="{{ url }}">require.js API</a> to learn
          more about modules.
        {% endtrans -%}
      </p>
      <p>
        {# L10n: Do not localize text in <code></code> #}
        {%- trans %}
          <strong>Note</strong>: By default, modules are loaded from
          <code>www/js/lib</code>. If you want to load something from
          <code>www/js</code>, which is your working directory, use the
          syntax <code>require('./mylib')</code> instead of just
          <code>require('mylib')</code>
        {% endtrans -%}
      </p>
      <p>
        {# L10n: Do not localize text in <code></code> #}
        {%- trans %}
          You can edit CSS in <code>www/css/app.css</code>. Typically you
          should <code>@import</code> additional CSS files at the top of
          this file instead of using the <code>&lt;link&gt;</code> tag to
          include them. This allows the volo optimizer to inline all the CSS
          when building for deploying.
        {% endtrans -%}
      </p>
      <p>
        {%- trans %}
          Finally, volo provides several helpful commands that you can use:
        {% endtrans -%}
      </p>
      <pre>
        {%- trans %}
          $ volo serve         # Fire up a local development server
          $ volo add &lt;library&gt; # Add the JavaScript library
          $ volo build         # Build an optimized version of the app into www-built
          $ volo ghdeploy      # Deploy the built version to github (need to build first)
        {% endtrans -%}
      </pre>
      <p>
        {# L10n: Do not localize text in <code></code> #}
        {%- trans %}
          All of these must be run at the root of your project. There are a
          few other commands and you can view the full list by simply typing
          <code>volo</code>.
        {% endtrans -%}
      </p>
      <p>
        {# L10n: Do not localize text in <code></code> #}
        {%- trans %}
          <strong>Note:</strong> volo itself only has a few built-in
          commands. The app template provides the <code>serve</code>,
          <code>build</code>, <code>ghdeploy</code>, and other commands.
        {% endtrans -%}
      </p>
      <h2>{{ _('Tutorial') }}</h2>
      <p>
        {%- trans url='//developer.mozilla.org/docs/Apps/Tutorials/Weather_app_tutorial' %}
          For more information about this template, see the
          <a href="{{ url }}">Weather App Tutorial</a> which shows you
          step-by-step how to build a weather app with this template. It
          dives into the volo commands more specifically and explains the
          template in more detail.
        {% endtrans -%}
      </p>
    </article>
  </div>
{% endblock %}
