{% extends "ecosystem/base.html" %}

{% block title %}{{ _('Building Apps') }} | {{ super() }}{% endblock %}

{% block bodyclass %}secondary-landing{% endblock %}

{% block extrahead %}
  {{ css('mkt/ecosystem') }}
{% endblock %}

{% block siteheader %}
  {% include 'ecosystem/header.html' %}
{% endblock %}

{% block content %}
  <div id="landing-page">
    <h1>{{ _('Developers') }}</h1>
    <section class="primary full marketing-block">
      <ul class="marketing-horz four-cols">
        <li>
          <h2>
            <a href="{{ url('ecosystem.documentation', page='apps') }}">
              {{ _('Get Started') }}
            </a>
          </h2>
        </li>
        <li>
          <h2>
            <a href="{{ url('ecosystem.documentation', page='design_guidelines') }}">
              {{ _('Design') }}
            </a>
          </h2>
        </li>
        <li>
          <h2>
            <a href="{{ url('ecosystem.documentation', page='devtools') }}">
              {{ _('SDK') }}
            </a>
          </h2>
        </li>
        <li>
          <h2>
            <a href="{{ url('ecosystem.documentation',
               page='mkt_submission') }}">
              {{ _('Publish') }}
            </a>
          </h2>
        </li>
      </ul>
    </section>
  </div>
{% endblock %}
