{% extends 'ecosystem/base.html' %}
{% from "ecosystem/macros.html" import navigation with context %}

{% block title %}
  {{ hub_page_title(_('Payments')) }}
{% endblock %}

{% block content %}
  <div class="doc-wrapper">
    {{ navigation('build_payments') }}
    <article>
      <h1>Payments</h1>
      <p>There are two kinds of payments made by app end users in the Firefox
        Marketplace: a payment made to purchase an app (a paid app), and a
        payment made to buy something after the app is installed (an in-app
        payment). This page covers the flow for building and submitting apps
        that use both kinds of payments.</p>
      <p>The <a href="https://developer.mozilla.org/docs/Web/Apps/Reference">
        App development API reference</a> is a central place to
        find a lot of useful links to all steps in the process. More details on
        payments are given below.</p>
      <h2>Decide on a Packaging Model (Packaged vs. Hosted)</h2>
      <p>Before learning about payments, it will help to decide whether your
        app should be packaged or hosted. And if you need a packaged app, it
        will need to follow a Content Security Policy (CSP). See the references
        below for information about these things.</p>
      <ul>
        <li>
          <a href="https://developer.mozilla.org/docs/Web/Apps/Packaged_apps">
            Packaged apps</a>
          <p>Explains the difference between a packaged app and a hosted app.
            Talks a little about the CSP that is required when you use a
            packaged app.</p>
        </li>
        <li>
          <a href="https://wiki.mozilla.org/Apps/Security#Default_CSP_policy">
            Content Security Policy</a>
          <p>Explains CSP implications.</p>
        </li>
      </ul>
      <h2>Building a Paid App</h2>
      <p>When an app is sold on the Marketplace, a digital receipt for the sale
        is created. Although it is not required that your app verify the
        receipt, you should do it to help prevent pirating of your app. To
        do this, you code your app so it verifies the receipt when the app
        runs.</p>
      <h2>Verifying Receipts</h2>
      <p>Here are some references on verifying receipts.</p>
      <ul>
        <li>
          <a href="https://hacks.mozilla.org/2013/02/building-a-paid-app-for-firefox-os"
             rel="external">Building a Paid App for Firefox OS</a>
          <p>High-level overview of paid apps and has useful links for more
            information.</p>
        </li>
        <li>
          <a href="https://developer.mozilla.org/docs/Web/Apps/Publishing/Marketplace_Payments">
            Marketplace Payments</a>
          <p>Some information about paid apps. Also has in-app payment
            information.</p>
        </li>
        <li>
          <a href="https://developer.mozilla.org/docs/Web/Apps/Publishing/Validating_a_receipt">
            Validating a Receipt</a>
          <p>Implementation details about verifying receipts.</p>
        </li>
        <li>
          <a href="https://github.com/mozilla/receiptverifier"
             rel="external">receiptverifier Library</a>
          <p>A Mozilla-maintained JavaScript helper library for client-side
            receipt validation. Has documentation on using it and includes an
            example of using it server side.</p>
        </li>
        <li>
          <a href="https://wiki.mozilla.org/Apps/WebApplicationReceipt">
            Web Application Receipt</a>
          <p>Detailed information on what a receipt is.</p>
        </li>
      </ul>
      <h2>Submitting a Paid App to the Marketplace</h2>
      <ul>
        <li>
          <a href="https://developer.mozilla.org/docs/Web/Apps/Publishing/Submitting_an_app">
            Submitting an App to the Firefox Marketplace</a>
          <p>General instructions on submitting an app.</p>
        </li>
        <li>
          <a href="http://s.vid.ly/embeded.html?link=8k2n4w&amp;autoplay=false"
             rel="external">Marketplace Submission Video</a>
          <p>This video is a little out of date, but it shows the basic process
            of app submission. Two things that are missing for a paid app are
            choosing the <b>Paid</b> option and choosing a price.</p>
        </li>
      </ul>
      <h2>Building an App with In-App Payments</h2>
      <p>The following steps give the general flow for building an app that
        uses in-app payments.</p>
      <ol>
        <li>Get an API key.
          <ul>
            <li>
              <a href="{{ url('mkt.developers.apps.in_app_keys') }}"
                 rel="external">In-app payment keys</a>
              <p>Marketplace developer page where you get a development key to
                use while you are developing the app. Explains that you get an
                official production key when you submit the app.</p>
            </li>
          </ul>
        </li>
        <li>Add a JWT request from the client to the server.
          <ul>
            <li>
              <a href="https://developer.mozilla.org/docs/Web/Apps/Publishing/In-app_payments">
                In-app payments</a>
              <p>Information useful in the steps below.</p>
            </li>
            <li>
              <a href="https://hacks.mozilla.org/2013/04/introducing-navigator-mozpay-for-web-payments">
                Introducing navigator.mozPay() for Web Payments</a>
              <p>High level overview of the process.</p>
            </li>
            <li>
              <a href="https://developer.mozilla.org/docs/Web/API/window.navigator.mozPay">
                window.navigator.mozPay</a>
              <p>The function used for in-app payments.</p>
            </li>
            <li>
              <a href="https://wiki.mozilla.org/WebAPI/WebPayment">
                Web payment</a>
              <p>Background information on in-app payments. The diagram at the
                bottom might be useful, although there are Gecko implementation
                details that you don't need. Also lists some helpful libraries
                regarding JWT near the bottom.</p>
            </li>
          </ul>
        </li>
        <li>Add a JWT response from the server to the client.
          <ul>
            <li>
              <a href="https://developer.mozilla.org/docs/Web/Apps/Publishing/In-app_payments">
                In-app payments</a>
              <p>Mentions the <code>simulate</code> field for development and
                testing.</p>
            </li>
            <li>
              <a href="http://openid.net/specs/draft-jones-json-web-token-07.html"
                 rel="external">JSON Web Token</a>
              <p>A very technical specification useful for developers who don't
                already have a JWT library for their backend/server
                language.</p>
            </li>
          </ul>
        </li>
        <li>Add a
          <a href="https://developer.mozilla.org/docs/Web/API/window.navigator.mozPay">
            window.navigator.mozPay()</a> call from the client
            to the Marketplace payment service.</li>
        <li>Add a postback handler on the server.
          <ul>
            <li>
              <a href="https://developer.mozilla.org/docs/Web/Apps/Publishing/In-app_payments">
                In-app payments</a>
              <p>Mentions how a postback must be responded to to complete the
                monetary transaction.</p>
            </li>
            <li>
              <a href="https://wiki.mozilla.org/WebAPI/WebPayment">
                Web payment</a>
              <p>Mentions that in production the postback and chargeback URLs
                must be over HTTPS, so you are going to need an SSL certificate.
                You should be using encrypted traffic protocols like HTTPS and
                WSS for payments.</p>
            </li>
          </ul>
        </li>
        <li>Release the content to the client.</li>
      </ol>
      <h2>Submit an App with In-App Payments</h2>
      <ol>
        <li>Remove the <code>simulate</code> field from the JWT. <p>Mentioned in
          <a href="https://developer.mozilla.org/docs/Web/Apps/Publishing/In-app_payments">
            In-app payments</a>.</p>
        </li>
        <li>Use HTTPS for postback and chargeback URLs. <p>Mentioned in
          <a href="https://wiki.mozilla.org/WebAPI/WebPayment">Web
            payment</a>.</p>
        </li>
        <li>Submit the app to the Firefox Marketplace, choosing the
          <b>In-app</b> option.</li>
        <li>Get a new API secret.
          <p>See the <a href="{{ url('mkt.developers.apps.in_app_keys') }}">
            In-app payment keys</a> page.</p>
        </li>
        <li>Set up a Bango payment account in the developer's section of the
          Marketplace.</li>
      </ol>
      <h2>Getting More Help</h2>
      <ul>
        <li>IRC on
          <a href="https://wiki.mozilla.org/IRC">irc.mozilla.org</a>
          <ul>
            <li>#b2gpay</li>
            <li>#openwebapps</li>
          </ul>
        </li>
        <li>Email list
          <ul>
            <li>
              <a href="https://lists.mozilla.org/listinfo/dev-webapps"
                 rel="external">dev-webapps</a>
            </li>
          </ul>
        </li>
        <li>
          <a href="https://bugzilla.mozilla.org/enter_bug.cgi?product=Marketplace&amp;component=Payments/Refunds"
             rel="external">Bugzilla</a>
          <ul>
            <li>Product = marketplace</li>
            <li>Component = payments/refunds</li>
          </ul>
        </li>
      </ul>
    </article>
  </div>
{% endblock %}
