{% extends 'ecosystem/base.html' %}
{% from "ecosystem/macros.html" import navigation,
                                       youtube with context %}

{% block title %}
  {{ hub_page_title(_('Quick Start')) }}
{% endblock %}

{% block content %}
  <div class="doc-wrapper">
    {{ navigation('build_quick') }}

    <article>
      <h1>{{ _('Firefox OS Quick Start') }}</h1>
      <p>
        {%- trans url='http://www.mozilla.org/en-US/firefoxos' %}
          The <a href="{{ url }}">Firefox OS</a> platform gives web
          developers exactly what they've wanted for years: a mobile
          environment dedicated to apps created with just HTML, CSS,
          and JavaScript. This guide aims to get you up and running with
          an environment and basic app architecture so that you can
          create the next great app!
        {% endtrans -%}
      </p>
      <p>
        {%- trans url='https://github.com/mozilla/firefoxos-quick-start/archive/master.zip' %}
          If you'd like to follow along with this guide, you can
          <a href="{{ url }}">download the quick start app</a>.
        {% endtrans -%}
      </p>
      <h2>{{ _('App Structure') }}</h2>
      <h3>{{ _('Packaged vs. Hosted Apps') }}</h3>
      <p>
        {%- trans %}
          There are two types of Firefox OS apps: <code>packaged</code> and
          <code>hosted</code>. Packed apps are essentially a
          <code>zip</code> file containing all of of an apps assets: HTML,
          CSS, JavaScript, images, manifest, etc. Hosted apps are run from
          a server at a given domain, just like a standard website. Both
          app types require a valid manifest. When it comes time to list your
          app on the Firefox Marketplace, you will either upload your app as
          a zip file or provide the URL to where your hosted app lives.
        {% endtrans -%}
      </p>
      <p>
        {{ youtube('Q7x-B13y33Q') }}
      </p>
      <p>
        {%- trans %}
          For the purposes of this guide, you'll be creating a hosted app
          which will live at your <code>localhost</code> address. Once your
          app is ready to list on the Firefox Marketplace, you can make the
          decision to bundle as a packed app or launch as a hosted app.
        {% endtrans -%}
      </p>
      <h3>{{ _('App Manifests') }}</h3>
      <p>
        {%- trans url='https://marketplace.firefox.com/developers/docs/manifests' %}
          Every Firefox app requires an manifest.webapp file at the app root.
          The <code><a href="{{ url }}">manifest.webapp</a></code> file
          provides important information about the app, like version, name,
          description, icon location, locale strings, domains the app can be
          installed from, and much more (Only the name and description are
          required). The simple manifest included within the app template
          looks like:
        {% endtrans -%}
        <pre><code>{{ manifest_sample }}</code></pre>

        {{ youtube('dgAUgHQOm8M') }}
      </p>
      <p>
        {%- trans %}
          More specific details can be added as the project gets closer to
          completion, as is the case with most Firefox OS apps. A basic
          manifest will do to get started.
        {% endtrans -%}
      </p>
      <h2>{{ _('App Layout &amp; Design') }}</h2>
      <p>
        {%- trans url='//developer.mozilla.org/docs/CSS/Media_queries' %}
          Responsive design has become increasingly important as more screen
          resolutions become standard on different devices. Even if your app
          targets only Firefox OS, it's important to remember that Firefox
          OS can be installed on a variety of devices which use different
          screen resolutions. <a href="{{ url }}">CSS media queries</a>
          provide a means to adapt layout to device:
        {% endtrans -%}
        <pre><code>{{ css_sample }}</code></pre>
      </p>
      <p>
        {%- trans url='http://twitter.github.com/bootstrap' %}
          There are many JavaScript and CSS frameworks available to aid in
          responsive design and mobile app development
          (<a href="{{ url }}">Bootstrap</a>, etc.); choose the
          framework(s) that best fit your app and development style.
        {% endtrans -%}
      </p>
      <p>
        {%- trans url_mortar='https://github.com/mozilla/mortar',
                  url_zepto='http://zeptojs.com' %}
          One nice utility is Mozilla's
          <a href="{{ url_mortar }}">mortar</a>. Mortar doesn't provide
          responsive design help, but does provide app templates a few
          JavaScript utilities to aid in Firefox OS mobile development,
          like <a href="{{ url_zepto }}">zepto.js</a> (a light alternative
          to jQuery) and a utility to install your app on the Firefox OS
          Simulator. This quick start guide fits you with mortar's most
          basic layout template:
        {% endtrans -%}
        <pre><code>{{ html_sample }}</code></pre>
      </p>
      <p>
        {# L10n: Do not localize text in <code></code> #}
        {%- trans %}
          Feel free to modify the structure set forth by mortar &mdash; the
          snippet above should get you going. Note that all JavaScript code
          must be in separate <code>.js</code> files; no inline, scripting
          is allowed.
        {% endtrans -%}
      </p>
      <h2>{{ _('Web APIs') }}</h2>
      <p>
        {%- trans url='https://wiki.mozilla.org/WebAPI' %}
          JavaScript APIs are being created and enhanced as quickly as
          devices are. Mozilla's <a href="{{ url }}">WebAPI</a> effort
          brings dozens of standard mobile features to JavaScript APIs.
          A list of device support and status is available on the
          <a href="{{ url }}">WebAPI</a> page. Of course JavaScript
          feature detection is still the best practice:
        {% endtrans -%}
        <pre><code>{{ feature_sample }}</code></pre>
        <p>
          {# L10n: Do not localize text in <code></code> #}
          {%- trans %}
            In this very basic app template we'll modify the display style
            of a <code>DIV</code> based on changes in the device's battery
            state:
          {% endtrans -%}
          <pre><code>{{ battery_sample }}</code></pre>
        </p>
      </p>
      <p>
        {# L10n: Do not localize text in <code></code> #}
        {%- trans url='https://developer.mozilla.org/en-US/docs/DOM/window.navigator.battery' %}
          In the code sample above, once you confirm that the
          <a href="{{ url }}">Battery API</a> is supported, you can add event
          listeners for <code>chargingchange</code> and
          <code>levelchange</code> to update the element's display.
        {% endtrans -%}
      </p>
      <p>
        {%- trans url='https://wiki.mozilla.org/WebAPI' %}
          Check the <a href="{{ url }}">WebAPI</a> page frequently to keep up
          to date with device API statuses!
        {% endtrans -%}
      </p>
      <h2>{{ _('WebRT APIs (Permissions-based APIs)') }}</h2>
      <p>
        {# L10n: Do not localize text in <code></code> #}
        {%- trans url='https://wiki.mozilla.org/WebAPI' %}
          There are a number of WebAPIs which are available but require
          permissions for that specific feature to be enabled. Apps may
          register permission requests within the
          <code>manifest.webapp</code> file:
        {% endtrans -%}
        <pre><code>{{ webrt_sample }}</code></pre>
      </p>
      <p>
        {# L10n: Do not localize text in <code></code> #}
        {%- trans %}
          Once you've installed your app on Firefox OS Simulator, open the
          <code>Settings</code> app, select <code>App Permissions</code>,
          select your app, and enable permissions as desired. It's
          important to note that not all Web APIs have been implemented
          within the Firefox OS Simulator.
        {% endtrans -%}
      </p>
      <h2>{{ _('Tools &amp; Testing') }}</h2>
      <p>
        {%- trans %}
          Testing is incredibly important when supporting mobile devices.
          There are many options for testing FirefoxOS apps:
        {% endtrans -%}
      </p>
      <h3>{{ _('Firefox OS Simulator') }}</h3>
      <p>
        {%- trans url='https://marketplace.firefox.com/developers/docs/firefox_os_simulator' %}
          Installing and using the <a href="{{ url }}">Firefox OS
          Simulator</a> is the easiest way to get up and running with your
          app. After installed the simulator is accessible via the
          Tools -> Web Developer -> Firefox OS Simulator menu. The simulator
          launches with a JavaScript console so that you may debug your
          application from within the simulator!
        {% endtrans -%}
      </p>
      <h3>{{ _('Unit Testing') }}</h3>
      <p>
        {%- trans url='http://qunitjs.com' %}
          Unit tests are extremely valuable when testing on different devices
          and builds. jQuery's <a href="{{ url }}">QUnit</a> is a popular
          client-side testing utility, but you can use any set of testing
          tools you'd like.
        {% endtrans -%}
      </p>
      <h3>{{ _('Installing Firefox OS on a Device') }}</h3>
      <p>
        {%- trans url_mdn='https://developer.mozilla.org/en-US/docs/Mozilla/Firefox_OS/Platform',
                  url_phone='http://www.geeksphone.com' %}
          Since Firefox OS is an open source platform, code and tools are
          available to build and install Firefox OS on your own device.
          Build and installation instructions can be found on
          <a href="{{ url_mdn }}">MDN</a>. Firefox OS preview devices will
          be available via <a href="{{ url_phone }}">Geeksphone</a> soon.
        {% endtrans -%}
      </p>
      <h2>{{ _('App Submission and Distribution') }}</h2>
      <p>
        {%- trans url_submit='https://marketplace.firefox.com/developers/submit/app/manifest',
                  url_mkt='https://marketplace.firefox.com' %}
          Once your app is complete, it can be
          <a href="{{ url_submit }}">submitted</a> to the
          <a href="{{ url_mkt }}">Firefox Marketplace</a>. Your app's
          manifest will be validated and you may choose which devices your
          app will support (i.e. Firefox OS, Desktop Firefox, Firefox
          Mobile, Firefox Tablet). Once validated you may add additional
          details about your app (screenshots, descriptions, price, etc.)
          and officially submit the app for listing within the Marketplace.
          Once approved your app is available to the world for purchase
          and installation.
        {% endtrans -%}
      </p>
      <h3>{{ _('More Marketplace &amp; Listing Information') }}</h3>
      <ol>
        <li>
          <a href="//developer.mozilla.org/docs/Apps/Submitting_an_app">
            {{ _('Submitting an App to the Firefox OS Marketplace') }}
          </a>
        </li>
        <li>
          <a href="{{ url('ecosystem.publish_review') }}">
            {{ _('Marketplace Review Criteria') }}
          </a>
        </li>
        <li>
          <a href="http://s.vid.ly/embeded.html?link=8k2n4w&amp;autoplay=false">
            {{ _('App Submission Video Walkthrough') }}
          </a>
        </li>
      </ol>
    </article>
  </div>
{% endblock %}
