{% extends 'ecosystem/base.html' %}
{% from "ecosystem/macros.html" import navigation with context %}

{% block title %}
  {{ hub_page_title(_('Design Fundamentals')) }}
{% endblock %}

{% block content %}
  <div class="doc-wrapper">
    {{ navigation('design_fundamentals') }}

    <article>
      <h1>{{ _('Design Fundamentals') }}</h1>
      <p>
        {%- trans %}
          Consider incorporating the following principles in your app to
          optimize the user experience. Please note that this is only a
          small set of design principles to get you started and it's by
          no means comprehensive.
        {% endtrans -%}
      </p>
      <h2>{{ _('Be consistent') }}</h2>
      <p>
        {%- trans %}
          Be consistent in your language. Refer to an action or an item
          with the same term in your app, and use each term for only one
          action or item.
        {% endtrans -%}
      </p>
      <p>
        {%- trans %}
          Be consistent in your user interface (UI). For example, if you
          place your back button on the top left corner, it should not
          appear on the bottom left corner in other screens within your app.
        {% endtrans -%}
      </p>
      <p>
        {%- trans %}
          Be consistent in your visual elements. If two elements look the
          same, they should have the same behavior. If two elements have
          different functions, they should have distinctively different looks.
        {% endtrans -%}
      </p>
      <h2>{{ _('Be concise and use appropriate language') }}</h2>
      <p>
        {%- trans %}
          The text you use should express the most important information in
          a concise way. Most users don't read a lot before they decide to
          continue or to abandon a task.
        {% endtrans -%}
      </p>
      <h2>{{ _('Always provide clues and immediate feedback') }}</h2>
      <p>
        {%- trans %}
          Provide clues which make the correct steps apparent. For example,
          a big &quot;+&quot; button to indicate adding items if that's the
          correct next step.
        {% endtrans -%}
      </p>
      <p>
        {%- trans %}
          Always give immediate feedback when the users take an action. For
          example, if users click on a &quot;new message&quot; button, lead
          them directly to the screen for creating a new message. You could
          also temporarily change the color of the “new message” button and
          provide a tactile feedback to show that your app understands the
          users' command.
        {% endtrans -%}
      </p>
      <p>
        {%- trans %}
          If an action takes more than a few seconds, provide a status
          update. For example, if your app is downloading the new messages,
          you could show the progress with a loading icon.
        {% endtrans -%}
      </p>
      <h2>{{ _('Minimize typing') }}</h2>
      <p>
        {%- trans %}
          Use selectors, checkboxes, radio buttons etc., whenever you can.
          Typing on mobile devices is often a slow and tedious task.
        {% endtrans -%}
      </p>
      <h2>{{ _('Aim for a pleasant first launch experience') }}</h2>
      <p>
        {%- trans %}
          People often spend only a minute or two deciding whether to
          continue or abandon an app. Some of the factors you may want
          to consider include:
        {% endtrans -%}
        <ul>
          <li>
            {%- trans %}
              provide a quick introduction to your app (and provide an
              easy way to end it anytime)
            {% endtrans -%}
          </li>
          <li>{{ _('instant access to features and suggestions') }}</li>
          <li>{{ _('minimize initial user input') }}</li>
          <li>
            {{ _('express the most important information in a concise way') }}
          </li>
        </ul>
      </p>
      <h2>{{ _('Present action choices if possible') }}</h2>
      <p>
        {%- trans %}
          If your alert says &quot;Delete all contacts?&quot;, you should
          provide action labels like &quot;Delete&quot; instead of
          &quot;OK&quot;.
        {% endtrans -%}
      </p>
      <p>
        {%- trans %}
          Also, try to avoid using alerts that only notify about a
          situation. Give your users a choice of actions to address the
          situation.
        {% endtrans -%}
      </p>
      <h2>{{ _('Focus on the main task') }}</h2>
      <p>
        {%- trans %}
          Decide the main task of each screen and place features related
          to the main task in the most prominent places.
        {% endtrans -%}
      </p>
      <h2>{{ _('Prepare for interruptions') }}</h2>
      <p>
        {%- trans %}
          People may use your app anywhere. Prepare for interruptions by
          saving the user's work automatically if possible. Ideally,
          information and tasks should behave normally even without an
          Internet connection.
        {% endtrans -%}
      </p>
    </article>
  </div>
{% endblock %}
