<header id="site-header">
  <section>
    <div class="wrapper">
      <h1 class="logo"><a href="{{ url('ecosystem.landing') }}">
        {{ _('Firefox Marketplace Developers') }}</a></h1>
      <nav role="navigation">
        <a href="{{ url('ecosystem.developers') }}">{{ _('Developers') }}</a>
        <a href="{{ url('ecosystem.partners') }}">{{ _('Partners') }}</a>
        <a href="{{ url('ecosystem.support') }}">{{ _('Support') }}</a>
        <a href="{{ url('submit.app') }}">Submit an App</a>
      </nav>
    </div>
  </section>
</header>
