{% extends 'developers/base_impala.html' %}

{% block title %}{{ hub_page_title() }}{% endblock %}

{% block extrahead %}
  {{ css('mkt/ecosystem') }}
{% endblock %}

{% block site_header_title %}
{% endblock %}

{% block user_actions %}
  {% if request.user.is_authenticated() %}
    <li class="nomenu">
      <a href="{{ url('mkt.developers.apps') }}">
        {{ _('My Submissions') }}
      </a>
    </li>
  {% endif %}
{% endblock %}

{% block bodyclass %}landing developer-hub{% endblock %}

{% block content %}
  <div id="landing-page">
    <section class="half first">
      <div class="panel">
        <h1>{{ _('Developer Hub') }}</h1>
        <p>
          {%- trans %}
            Develop HTML5 Web apps for an open marketplace.
          {% endtrans -%}
        </p>
        <div class="button-wrapper">
          {%- if request.user.is_authenticated() %}
            <a href="{{ url('submit.app') }}" class="button prominent">
          {% else %}
            <a href="{{ get_login_link(url('submit.app')) }}"
               class="button prominent browserid">
          {%- endif -%}
            {{ _('Submit an App') }}</a>
        </div>
      </div>
      <div class="panel">
        <h2>
          <a href="{{ url('ecosystem.partners') }}">
            {{ _('Business Partners') }}
          </a>
        </h2>
        <p>
          {% trans %}
            Great app experiences delivered across multiple platforms
            and devices.
          {% endtrans %}
        </p>
        <h2>
          <a href="{{ url('ecosystem.support') }}">
            {{ _('Support') }}
          </a>
        </h2>
        <p>
          {% trans %}
            Frequently asked questions about Web apps and the Firefox
              Marketplace.
          {% endtrans %}
        </p>
      </div>
    </section>
    <section class="half sections">
      <ul>
        <li>
          <a href="{{ url('ecosystem.documentation', page='principles') }}">
            {{ _('Design') }}
          </a>
          <p>
            {% trans %}
              Learn basic tips on how to design your app.
            {% endtrans %}
          </p>
        </li>
        <li>
          <a href="{{ url('ecosystem.documentation', page='devtools') }}">
            {{ _('Code') }}
          </a>
          <p>
            {% trans %}
              Build and distribute cross-platform apps powered by Web
              standards.
            {% endtrans %}
          </p>
        </li>
        <li>
          <a href="{{ url('ecosystem.documentation', page='html5') }}">
            {{ _('Publish') }}
          </a>
          <p>
            {% trans %}
              Find out where you can host and submit your app.
            {% endtrans %}
          </p>
        </li>
      </ul>
    </section>
  </div>
{% endblock %}
