{% extends "ecosystem/base.html" %}

{% block title %}{{ _('Developers') }} | {{ super() }}{% endblock %}

{% block bodyclass %}home{% endblock %}

{% block extrahead %}
  {{ css('mkt/ecosystem') }}
{% endblock %}

{% block content %}
  <div id="top-marketing">
    <section  class="primary full call-to-action">
      <img id="rotator" class="placeholder img-rotator"
        src="{{ MEDIA_URL }}img/ecosystem/hero.png"
        alt="{{ _('Open Web Apps') }}">
      <div>
        <h1>{{ _('Open Web Apps') }}</h1>
        <p>
          {% trans %}
            Develop HTML5 web apps for an open marketplace.
          {% endtrans %}
        </p>
      </div>
    </section>
  </div>

  <div id="landing-page">
    <section class="primary half marketing-block no-pad">
      <ul class="marketing-horz">
        <li class="splash">
          <a href="{{ url('ecosystem.developers') }}" class="link-panel">
            <div>
              <img class="placeholder"
                src="{{ MEDIA_URL }}img/ecosystem/html_icon.png">
              <h2>{{ _('Developers') }}</h2>
              <p>
                {% trans %}
                  Build and distribute cross-platform apps powered by web
                  standards.
                {% endtrans %}
              </p>
            </div>
          </a>
        </li>
      </ul>
    </section>
    <section class="half marketing-block no-pad">
      <ul class="marketing-horz">
        <li class="splash">
          <a href="{{ url('ecosystem.partners') }}" class="link-panel">
            <div>
              <img class="placeholder"
                src="{{ MEDIA_URL }}img/ecosystem/open_icon.png"
                alt="{{ _('Partners') }}">
              <h2>{{ _('Business Partners') }}</h2>
              <p>
                {% trans %}
                  Great app experiences delivered across multiple platforms
                  and devices.
                {% endtrans %}
              </p>
            </div>
          </a>
        </li>
      </ul>
    </section>
    <section class="single marketing-block no-pad">
      <ul class="marketing-horz">
        <li>
          <a href="{{ url('ecosystem.support') }}" class="link-panel">
            <div>
              <h2>{{ _('Support') }}</h2>
              <p>
                {% trans %}
                  Frequently asked questions about web apps and the Firefox
                  Marketplace.
                {% endtrans %}
              </p>
            </div>
          </a>
        </li>
      </ul>
    </section>
  </div>
{% endblock %}

{% block sitefooter_append %}
    <p>HTML5 Logo by <a href="http://www.w3.org/">
      <abbr title="World Wide Web Consortium">W3C</abbr></a></p>
{% endblock %}
