{% extends 'ecosystem/base.html' %}

{% from "ecosystem/macros.html" import video_display with context %}

{% block bodyclass %}landing developer-hub{% endblock %}

{% block devhub_categories %}{% endblock %}

{% block content %}
  <div id="landing-page">
    <h1>{{ _('Develop HTML5 Web Apps for an open marketplace.') }}</h1>
    <section class="half initial-steps">
      <div class="panel">
        <h2 class="section-design">{{ _('Design') }}</h2>
        <p>
          {%- trans %}
            Learn how to design Web Apps that provide a user experience
            optimized for Firefox OS &amp; Mobile
          {% endtrans -%}
        </p>
        <div class="link-wrapper first">
          <a href="{{ url('ecosystem.design_concept') }}">
            {{- _('Concept: A great app') }}</a>
          <a href="{{ url('ecosystem.design_fundamentals') }}">
            {{- _('Design Fundamentals') }}</a>
          <a href="{{ url('ecosystem.design_ui') }}">
            {{- _('UI Guidelines') }}</a>
        </div>
      </div>
      <div class="panel">
        <h2 class="section-build">{{ _('Build') }}</h2>
        <p>
          {%- trans %}
            All the tools, docs and references you'll need for
            development and testing of your App
          {% endtrans -%}
        </p>
        <div class="link-wrapper">
          <a href="{{ url('ecosystem.build_quick') }}">
            {{- _('Quick Start') }}</a>
          <a href="{{ url('ecosystem.firefox_os_simulator') }}">
            {{- _('Firefox OS Simulator') }}</a>
          <a href="{{ url('ecosystem.build_reference') }}">
            {{- _('Reference Apps') }}</a>
        </div>
      </div>
      <div class="panel">
        <h2 class="section-publish">{{ _('Publish') }}</h2>
        <p>
          {% trans %}
            Find out how to distribute your Apps on an open marketplace
            that puts users and developers first
          {% endtrans %}
        </p>
        <div class="link-wrapper last">
          <a href="{{ url('ecosystem.publish_deploy') }}">
            {{- _('Deploying your app') }}</a>
          <a href="{{ url('ecosystem.publish_hosted') }}">
            {{- _('Hosted Apps') }}</a>
          <a href="{{ url('ecosystem.publish_packaged') }}">
            {{- _('Packaged Apps') }}</a>
        </div>
      </div>
    </section>

    <section id="partnership">
      <div class="submit-app">
        <div class="app-logo">
          <a href="{{ url('submit.app') }}" class="mkt-logo">
            <img src="{{ media('img/ecosystem/submit-app-mktplace.png') }}">
          </a>
        </div>
        <div class="app-button">
          <h2>{{ _('Do you have an app ready for liftoff?') }}</h2>
          <a href="{{ url('submit.app') }}" class="button">
            {{ _('Submit your app to the Marketplace') }}
          </a>
        </div>
      </div>
      <div class="partner-content">
        <div class="partner-logos">
          <a href="{{ url('ecosystem.partners') }}">
            <ul>
              <li>
                <img src="{{ media('img/ecosystem/partner-facebook.png') }}">
              </li>
              <li>
                <img src="{{ media('img/ecosystem/partner-twitter.png') }}">
              </li>
              <li>
                <img src="{{ media('img/ecosystem/partner-cuttherope.png') }}">
              </li>
              <li>
                <img src="{{ media('img/ecosystem/partner-evernote.png') }}">
              </li>
              <li>
                <img src="{{ media('img/ecosystem/partner-box.png') }}">
              </li>
              <li>
                <img src="{{ media('img/ecosystem/partner-ea.png') }}">
              </li>
              <li>
                <img src="{{ media('img/ecosystem/partner-soundcloud.png') }}">
              </li>
              <li>
                <img src="{{ media('img/ecosystem/partner-lanyrd.png') }}">
              </li>
            </ul>
          </a>
        </div>
        <div class="partner-text">
          <div class="partner-title">
            <h2>
              <a href="{{ url('ecosystem.partners') }}">
                {{- _('Join the community') }}</a>
            </h2>
            <p>{{ _("Look who's already here") }}</p>
          </div>
          <h3>
            {%- trans partner_url=url('ecosystem.partners') %}
              Are you a Web Company, Third-Party Service, or OEM looking to partner
              with Mozilla? <a href="{{ partner_url }}">Check out our Partners page
              for more info.</a>
            {% endtrans -%}
          </h3>
        </div>
      </div>
    </section>

    <section id="platform" class="half">
      <div class="platform-copy">
        <h2>{{ _('The Mozilla Apps platform') }}</h2>
        <p>
          {%- trans %}
            Building Apps for the Web provides developers with full control
            over content, functionality and how Apps are distributed,
            including access to hundreds of millions of Firefox users
            through the Firefox Marketplace.
          {% endtrans -%}
        </p>
        <p>
          {%- trans %}
            Using open Web standards and Mozilla-designed APIs, great app
            experiences can be delivered across multiple platforms,
            devices and operating systems &mdash; closing the gap between Web
            and native apps for the first time.
          {% endtrans -%}
        </p>
      </div>

      <div class="videos">
        {% for video in videos %}
          {{ video_display(video.name, video.path) }}
        {% endfor %}

        <ol class="video-thumbs">
          {% for video in videos %}
            <li data-name="{{ video.name }}">
              <img src="{{ media('img/ecosystem/poster-%s.jpg' % video.name) }}">
            </li>
          {% endfor %}
        </ol>
      </div>
    </section>
    <section id="marketplace" class="half">
      <div class="screenshot">
        <img src="{{ media('img/ecosystem/homescreen-partners.jpg') }}">
      </div>

      <div class="platform-copy right">
        <h2>{{ _('Firefox Marketplace') }}</h2>
        <p>
          {%- trans %}
            The Firefox Marketplace gives users the opportunity to find,
            try and buy Apps and content that matters most to them. This
            means exciting, useful and high-quality Apps relevant to
            local markets across all categories that users can use to
            get the most out of their daily lives.
          {% endtrans -%}
        </p>
        <p>
          {%- trans %}
            Mozilla's global reach extends to hundreds of millions of
            Firefox users worldwide. Through intelligent Marketplace
            curation and effective use of Mozilla’s marketing channels,
            Mozilla can help developers can get their App into the hands
            of their target users around the world.
          {% endtrans -%}
        </p>
        <p>
          {%- trans %}
            Before the public launch later this year, Mozilla will be
            opening the Marketplace for user testing. Take advantage of
            this by being one of the first App developers to build a user
            base. Submit your App to:
          {% endtrans -%}

          <ul class="icons">
            <li class="testing">
              {%- trans %}
                Test your App with a committed group of early adopters.
              {% endtrans -%}
            </li>
            <li class="early">
              {{- _('Build an early fan base and gain popularity.') -}}
            </li>
            <li class="target">
              {{- _('Target tech savvy consumers with your App.') -}}
            </li>
          </ul>
        </p>
      </div>
    </section>

    <div id="newsletter-signup">
      {% if newsletter_form.errors %}
        <div id="footer-email-errors">
          {{ newsletter_form.non_field_errors() }}

          <ul class="errorlist">
            {{ newsletter_form.email.errors }}
            {{ newsletter_form.privacy.errors }}
          </ul>
        </div>
      {% endif %}

      <form {% if newsletter_form.errors %}class="errors"{% endif %}
            method="post">
        {{ csrf() }}

        <div class="form-title">
          <h3>{{ _('Firefox Apps &amp; Hacks') }}</h3>
          <p>
            {%- trans dev_phone_url=url('ecosystem.dev_phone') %}
              Sign up for our monthly newsletter about Firefox OS,
              Marketplace and the Open Web apps ecosystem.
              <a href="{{ dev_phone_url }}">Check out the developer phone preview</a>
            {% endtrans -%}
          </p>
        </div>

        <div class="form-icons">
          <p>
            <img src="{{ media('img/ecosystem/newsletter-phone.png') }}">
            {{ _('Developer Devices') }}
          </p>
          <p>
            <img src="{{ media('img/ecosystem/newsletter-doc.png') }}">
            {{- _('Code &amp; Tools') }}
          </p>
          <p>
            <img src="{{ media('img/ecosystem/newsletter-nametag.png') }}">
            {{ _('Events &amp; Meetups') }}
          </p>
        </div>

        <div class="form-data">
          <div class="field field-email">
            {{ newsletter_form.email }}
          </div>

          <div class="form-details">
            <div class="field field-privacy">
              {{ newsletter_form.privacy }}
              <small>
                {%- trans privacy_link='https://www.mozilla.org/en-US/privacy-policy' %}
                  I'm okay with Mozilla handling this information as explained in the
                  <a href="{{ privacy_link }}">Privacy Policy</a>.
                {% endtrans -%}
              </small>
            </div>
          </div>

          <input type="submit" value="{{ _('Sign me up!') }}" class="button good">
        </div>
      </form>
    </div>
  </div>
{% endblock %}
