{% macro navigation(section) -%}
  <section id="document-navigation">
    <ul>
      <li>
        {% if category == 'build' %}
          <h2>{{ _('Getting Started') }}</h2>
          <ol>
            <li>
              <a href="{{ url('ecosystem.documentation', page='html5') }}"
                {% if section == 'html5' %}class="selected"{% endif %}
                title="{{ _('HTML5') }}">
                {{ _('HTML5') }}
              </a>
            </li>
            <li>
              <a href="{{ url('ecosystem.documentation', page='manifests') }}"
                 {% if section == 'manifests' %}class="selected"{% endif %}
                 title="{{ _('Manifests') }}">
                {{ _('Manifests') }}
              </a>
            </li>
            <li>
              <a href="{{ url('ecosystem.documentation', page='manifest_faq') }}"
                 {% if section == 'manifest_faq' %}class="selected"{% endif %}
                 title="{{ _('Manifest FAQ') }}">
                {{ _('Manifest FAQ') }}
              </a>
            </li>
            <li>
              <a href="{{ url('ecosystem.documentation',
                 page='firefox_os') }}"
                 {% if section == 'firefox_os' %}class="selected"{% endif %}
                 title="{{ _('Firefox OS') }}">
                {{ _('Firefox OS') }}
              </a>
            </li>
          </ol>
          <h2>{{ _('Tutorials') }}</h2>
          <ol>
            <li>
              <a href="{{ url('ecosystem.documentation',
                 page='tutorial_general') }}"
                 {% if section == 'tutorial_general' %}class="selected"{% endif %}
                 title="{{ _('General') }}">
                {{ _('General') }}
              </a>
            </li>
            <li>
              <a href="{{ url('ecosystem.documentation',
                 page='tutorial_weather') }}"
                 {% if section == 'tutorial_weather' %}class="selected"{% endif %}
                 title="{{ _('Weather App') }}">
                {{ _('Weather App') }}
              </a>
            </li>
            <li>
              <a href="{{ url('ecosystem.documentation',
                 page='tutorial_serpent') }}"
                 {% if section == 'tutorial_serpent' %}class="selected"{% endif %}
                 title="{{ _('Serpent Game') }}">
                {{ _('Serpent Game') }}
              </a>
            </li>
          </ol>
          <h2>{{ _('Build') }}</h2>
          <ol>
            <li>
              <a href="{{ get_login_link(url('submit.app')) }}"
                title="{{ _('Submit an App') }}">
                {{ _('Submit an App') }}</a>
            </li>
            <li>
              <a href="{{ url('ecosystem.documentation', page='devtools') }}"
                 {% if section == 'devtools' %}class="selected"{% endif %}
                 title="{{ _('Dev Tools') }}">
                {{ _('Dev Tools') }}
              </a>
            </li>
            <li>
              <a href="{{ url('ecosystem.documentation', page='templates') }}"
                 {% if section == 'templates' %}class="selected"{% endif %}
                 title="{{ _('App Templates') }}">
                {{ _('App Templates') }}
              </a>
            </li>
            <li>
              <a href="{{ url('ecosystem.support') }}"
                 {% if section == 'support' %}class="selected"{% endif %}
                 title="{{ _('Support') }}">
                {{ _('Support') }}
              </a>
            </li>
          </ol>
        {% elif category == 'design' %}
          <h2>{{ _('Design') }}</h2>
          <ol>
            <li>
              <a href="{{ url('ecosystem.documentation',
                 page='principles') }}"
                 {% if section == 'principles' %}class="selected"{% endif %}
                 title="{{ _('Design Principles') }}">
                {{ _('Design Principles') }}
              </a>
            </li>
            <li>
              <a href="{{ url('ecosystem.documentation',
                 page='purpose') }}"
                 {% if section == 'purpose' %}class="selected"{% endif %}
                 title="{{ _('Purpose of your App') }}">
                {{ _('Purpose of your App') }}
              </a>
            </li>
            <li>
              <a href="{{ url('ecosystem.documentation',
                 page='patterns') }}"
                 {% if section == 'patterns' %}class="selected"{% endif %}
                 title="{{ _('Design Patterns') }}">
                {{ _('Design Patterns') }}
              </a>
            </li>
            <li>
              <a href="{{ url('ecosystem.documentation',
                 page='custom_elements') }}"
                 {% if section == 'custom_elements' %}
                   class="selected"{% endif %}
                 title="{{ _('Custom Elements') }}">
                {{ _('Custom Elements') }}
              </a>
            </li>
            <li>
              <a href="{{ url('ecosystem.documentation',
                 page='references') }}"
                 {% if section == 'references' %}class="selected"{% endif %}
                 title="{{ _('References') }}">
                {{ _('References') }}</a>
            </li>
          </ol>
        {% else %}
          <h2>{{ _('Publish') }}</h2>
          <ol>
            <li>
              <a href="{{ url('ecosystem.documentation',
                 page='mkt_hosting') }}"
                 {% if section == 'mkt_hosting' %}class="selected"{% endif %}
                 title="{{ _('Hosting') }}">
                {{ _('Hosting') }}
              </a>
            </li>
            <li>
              <a href="{{ url('ecosystem.documentation',
                 page='mkt_submission') }}"
                 {% if section == 'mkt_submission' %}
                   class="selected"{% endif %}
                 title="{{ _('Marketplace Submission') }}">
                {{ _('Marketplace Submission') }}
              </a>
            </li>
            <li>
              <a href="{{ url('ecosystem.partners') }}"
                 {% if section == 'partners' %}class="selected"{% endif %}
                 title="{{ _('Business Partners') }}">
                {{ _('Business Partners') }}
              </a>
            </li>
          </ol>
        {% endif %}
      </li>
    </ul>
  </section>
{% endmacro -%}
