{% extends 'ecosystem/base.html' %}
{% from "ecosystem/macros.html" import navigation with context %}

{% block title %}
  {{ hub_page_title(_('Packaged Apps')) }}
{% endblock %}

{% block content %}
  <div class="doc-wrapper">
    {{ navigation('publish_packaged') }}

    <article>
      <h1>{{ _('Packaged Apps') }}</h1>
      <p>
        {# L10n: Do not localize text in <code></code> #}
        {%- trans url='//developer.mozilla.org/docs/Apps/Manifest' %}
          A <strong>packaged app</strong> is an Open Web App that has all of
          its resources (HTML, CSS, JavaScript, app manifest, and so on)
          contained in a zip file, instead of having its resources on a Web
          server. A packaged app is simply a zip file with the
          <a href="{{ url }}">app manifest</a> in its root directory. The
          manifest must be named <code>manifest.webapp</code>.
        {% endtrans -%}
      </p>
      <p>
        {%- trans %}
          One difference from a hosted app is that a packaged app must
          specify a launch_path in the manifest, whereas it's an optional
          manifest field for a hosted app.
        {% endtrans -%}
      </p>
      <p>
        {%- trans %}
          <strong>Note:</strong> Currently (July 2013) the Firefox
          Marketplace supports packaged apps only when they are Firefox
          OS apps.
        {% endtrans -%}
      </p>
      <h2>{{ _('Purpose of packaged apps') }}</h2>
      <p>
        {%- trans %}
          The purpose of a packaged app is to have a workable way to provide
          apps that have access to sensitive APIs on devices. The app must
          be verified by the store where the app is distributed (such as the
          Firefox OS Marketplace). The store reviews the app and if it is
          found acceptable, the store cryptographically signs the app's zip
          file with its private key. This gives users of the app more
          assurance that the app has been carefully reviewed for
          potential security, privacy, and capability issues.
        {% endtrans -%}
      </p>
      <h2>{{ _('Types of packaged apps') }}</h2>
      <p>
        {{ _('There are three types of packaged apps:') }}
        <dl>
          <dt>{{ _('Privileged app') }}</dt>
          <dd>
            {# L10n: Do not localize text in <code></code> #}
            {%- trans %}
              A privileged app is approved by the Firefox Marketplace
              using a special process. It is meant to provide
              more safety for users when an app wants access to certain
              sensitive APIs on a device. It is equivalent to a native
              app on a platform like iOS or Android. To specify that an app
              is a privileged app, add the <code>type</code> field to its
              <code>manifest.webapp</code> file and set it to
              <code>privileged</code>. A privileged app has the following
              characteristics:
            {% endtrans -%}
            <ul>
              <li>
                {%- trans %}
                  Approved by an app store after code review or equivalent.
                {% endtrans -%}
              </li>
              <li>{{ _("App's resources are signed by the app store.") }}</li>
              <li>
                {%- trans %}
                  Allowed to use certain sensitive Web APIs that untrusted
                  content cannot have access to.
                {% endtrans -%}
              </li>
              <li>
                {%- trans url='//developer.mozilla.org/en-US/docs/Apps/CSP' %}
                  Enforces a <a href="{{ url }}">Content Security
                  Policy</a> (CSP). A privileged app uses this CSP:
                {% endtrans -%}
                <pre>"default-src *; script-src 'self'; object-src 'none'; style-src 'self' 'unsafe-inline'"</pre>
              </li>
              <li>
                {%- trans url='https://wiki.mozilla.org/Apps/Security' %}
                  Implements other requirements related to security. See
                  <a href="{{ url }}">Security</a> for more information.
                {% endtrans -%}
              </li>
            </ul>
          </dd>
          <dt>{{ _('Certified app') }}</dt>
          <dd>
            {# L10n: Do not localize text in <code></code> #}
            {%- trans %}
              A certified app is intended for a critical system function
              like the default dialer or the system settings app on a
              smartphone. This type of app would be used for critical
              functions on a Firefox OS phone. It is not intended for third
              party apps, so most app developers can disregard this type of
              app. A certified app is a packaged app that is similar to a
              privileged app, except that all device permissions are
              implicit, meaning they do not require explicit user approval.
              A certified app must be approved for a device by the OEM or
              carrier in order to have this implicit approval to use
              critical APIs. To specify that an app is a certified app,
              add the <code>type</code> field to its
              <code>manifest.webapp</code> file and set it to
              <code>certified</code>. The following is the CSP for a
              certified app, which is slightly different from the CSP for
              a privileged app:
            {% endtrans -%}
            <pre>"default-src *; script-src 'self'; object-src 'none'; style-src 'self'"</pre>
            {%- trans url_default_csp='https://wiki.mozilla.org/Apps/CSP',
                      url_bug='https://bugzilla.mozilla.org/show_bug.cgi?id=768029' %}
              This has the effect of slightly looser rules for inline CSP
              for privileged apps when compared to certified apps. If you
              want more of the reasoning behind this, see
              <a href="{{ url_default_csp }}">Default CSP policy</a> and
              <a href="{{ url_bug }}">Bug 768029</a>.</dd>
            {% endtrans -%}
          <dt>{{ _('Plain packaged app') }}</dt>
          <dd>
            {# L10n: Do not localize text in <code></code> #}
            {%- trans %}
              You can also make a regular app that is simply packaged in a
              zip file. The Marketplace signs it, but does not perform the
              special authentication process used for privileged or
              certified apps. This plain packaged app cannot use certain
              sensitive Web APIs. It is not subject to the CSPs described
              for privileged and certified apps. This type of app could be
              useful if you want all of your app's resources available on
              the device when the user first uses it, with no downloading.
              This type of packaged app does not require the <code>type</code>
              field in its <code>manifest.webapp</code> file, because the
              default value for <code>type</code> (<code>web</code>)
              is correct.
            {% endtrans -%}
          </dd>
        </dl>
      </p>
      <h2>{{ _('Differences from hosted apps') }}</h2>
      <p>
        {%- trans %}
          Packaged apps have the same capabilites as normal website-style
          Open Web Apps (&quot;hosted&quot; apps), but packaged apps have a
          few differences:
        {% endtrans -%}
        <ul>
          <li>
            {%- trans %}
              They have no Internet origin. The one-app-per-origin policy
              that governs hosted apps does not apply to packaged apps.
            {% endtrans -%}
          </li>
          <li>
            {# L10n: Do not localize text in <code></code> #}
            {%- trans %}
              They use a special protocol internal to the zip file:
              <code>app://&lt;uuid&gt;</code>. Example: When you load the
              content <code>/index.html</code> in a packaged app, you are
              actually loading something like the following (the UUID will
              be different):
            {% endtrans -%}
            <pre>app://550e8400-e29b-41d4-a716-446655440000/index.html</pre>
          </li>
          <li>
            {# L10n: Do not localize text in <code></code> #}
            {%- trans %}
              The manifest file must be named <code>manifest.webapp</code>.
            {% endtrans -%}
          </li>
          <li>
            {%- trans %}
              Their resources are accessed from the zip file, which is
              stored on the device where the app is installed.
            {% endtrans -%}
          </li>
          <li>
            {# L10n: Do not localize text in <code></code> #}
            {%- trans %}
              They are installed with a different <code>mozApps</code> API
              function: <code>installPackage()</code>.
            {% endtrans -%}
          </li>
          <li>
            {%- trans url='//developer.mozilla.org/docs/Security/CSP/Introducing_Content_Security_Policy' %}
              They enforce a specific <a href="{{ url }}">CSP</a> for all
              application content (a hosted app could also use a CSP, but
              it is not required).
            {% endtrans -%}
          </li>
          <li>
            {%- trans %}
              They can embed remote content in iframes, but that content will
              not have access to privileged APIs nor will it have the default
              CSP applied to it.
            {% endtrans -%}
          </li>
          <li>
            {%- trans %}
              They have an update process for getting new versions of the app
              to users. Hosted apps do not need this process.
            {% endtrans -%}
          </li>
        </ul>
      </p>
      <p>
        {%- trans %}
          The packaged app can still do things like access a database on a
          Web server, like a regular hosted app.
        {% endtrans -%}
      </p>
      <h2>{{ _('Using sensitive Web APIs') }}</h2>
      <p>
        {# L10n: Do not localize text in <code></code> #}
        {%- trans url='//developer.mozilla.org/docs/Apps/Manifest' %}
          There are Web APIs that could be used maliciously, so access to
          them must be controlled. For every sensitive API you want your
          app to access, you must add an entry to the
          <code>permissions</code> field in the <a href="{{ url }}">app's
          manifest</a>.
        {% endtrans -%}
      </p>
      <p>
        {%- trans url='//developer.mozilla.org/docs/Apps/App_permissions' %}
          Some sensitive APIs can be accessed by normal hosted apps, but
          other APIs require that you use a packaged app (privileged or
          certified). See <a href="{{ url }}">App permissions</a> for a
          table that describes the requirements.
        {% endtrans -%}
      </p>
      <h2>{{ _('Packaged apps and the Firefox Marketplace') }}</h2>
      <p>
        {# L10n: Do not localize text in <code></code> #}
        {%- trans %}
          The Firefox Marketplace handles packaged apps differently from
          hosted apps. When you submit your packaged app, its zip file is
          stored on the Marketplace servers, and the Marketplace generates a
          new manifest called the "mini-manifest" that is based on the app
          manifest in your packaged app's zip file. When a user installs
          your app, the mini-manifest is passed to the
          <code>installPackage()</code> function to install the app. The
          mini-manifest exists for installation and update purposes and is
          not used when your app runs.
        {% endtrans -%}
      </p>
      <h2>{{ _('Testing packaged app installation') }}</h2>
      <p>
        {%- trans url_windows='https://ftp.mozilla.org/pub/mozilla.org/labs/r2d2b2g/r2d2b2g-windows.xpi',
                  url_osx='https://ftp.mozilla.org/pub/mozilla.org/labs/r2d2b2g/r2d2b2g-mac.xpi',
                  url_linux='https://ftp.mozilla.org/pub/mozilla.org/labs/r2d2b2g/r2d2b2g-linux.xpi' %}
          Installation of a packaged app is very easy using the Firefox OS
          Simulator.  The Firefox OS Simulator comes in platform specific
          builds, and is available for
          <a href="{{ url_windows }}">Windows</a>,
          <a href="{{ url_osx }}">OSX</a>, and
          <a href="{{ url_linux }}">Linux</a>.
        {% endtrans-%}
      </p>
      <p>
        {%- trans %}
          Installing the simulator adds a menu item to Firefox's Web Developer
          menu.  After opening the addon you can specify, through Add
          Directory, the location of a local webapp.manifest.  The simulator
          will then package the app for you (zipping the containing folder),
          and open the simulator with the newly packaged app.
        {% endtrans -%}
      </p>
      <p>
        {%- trans url='https://developer.android.com/tools/device.html#setting-up' %}
          For Linux and Windows users, there are additional steps for setting up
          Android Debug Bridge (adb) which is used for communicating with an
          acutal device.  Please see
          <a href="{{ url }}">
            step 3: Set up your system to detect your device
          </a>.
        {% endtrans -%}
      </p>
      <p>
        {%- trans %}
          On device, enable Remote debugging by going to: Settings &gt; Device
          Information &gt; More Information &gt; Developer &gt; Remote
          Debugging.
        {% endtrans -%}
      </p>
      <p>
        {%- trans %}
          You may at any point connect a supported device.  When a supported
          device is connected, the simulator will detect it and display
          Device connected.  Next to each app listing, you will also see a new
          button labeled "push".  Click "push" to send your newly packaged app
          to device.
        {% endtrans -%}
      </p>
      <h2>{{ _('Updating packaged apps') }}</h2>
      <p>
        {%- trans url='//developer.mozilla.org/docs/Apps/Updating_apps' %}
          For information on updating apps, see
          <a href="{{ url }}">Updating apps</a>.
        {% endtrans -%}
      </p>
    </article>
  </div>
{% endblock %}
