{% extends 'ecosystem/base.html' %}
{% from "ecosystem/macros.html" import navigation with context %}

{% set page_title = _('Badges, banners, and icons') %}

{% block title %}
  {{ hub_page_title(page_title) }}
{% endblock %}

{% block content %}
  <div class="doc-wrapper">
    {{ navigation('publish_badges') }}

    <article>
      <h1>{{ page_title }}</h1>
      <p>
        {% trans %}
          "Get it in the Firefox Marketplace" are badges that you can use on
          your web site and promotional materials to point to your products
          on the Firefox Marketplace.
        {% endtrans %}
      </p>
      <h2>{{ _('Guidelines') }}</h2>
      <ul>
        <li>
          {% trans %}
            You may not alter the badge in any way
          {% endtrans %}
        </li>
        <li>
          {% trans %}
            When used alongside logos for other marketplaces
            ("Get it on Google Play", "Download on the App Store"), the
            Firefox Marketplace badge should be of equal or greater size
          {% endtrans %}
        </li>
        <li>
          {% trans %}
            The badge should link to an app details page within the Firefox
            Marketplace<br>
            For example: https://marketplace.firefox.com/app/twitter
          {% endtrans %}
        </li>
      </ul>
      <h2>{{ _('Download') }}</h2>
      {% set badge_sizes = ((116, 40), (129, 45), (172, 60)) %}
      {% for heading, color in ((_('Orange'), 'orange'), (_('Grey'), 'grey'), (_('Black'), 'black')) %}
        <h3>{{ heading }}</h3>
        <div class="badges">
          {% for w, h in badge_sizes %}
            <figure>
              <figcaption>{{ w }}&times;{{ h }}</figcaption>
              <img src="{{ media('img/mkt/badges/firefox-marketplace_badge-{color}_{w}_{h}.png'.format(color=color, w=w, h=h)) }}">
            </figure>
          {% endfor %}
        </div>
      {% endfor %}
      <h2>{{ _('Logo') }}</h2>
      <p>
        {% trans style_guide_url='https://www.mozilla.org/en-US/styleguide/identity/marketplace/branding/' %}
          To view and download the Firefox Marketplace logo, please visit the
          <a href="{{ style_guide_url }}">Mozilla style guide</a>.
        {% endtrans %}
      </p>
    </article>
  </div>
{% endblock %}
