{% extends 'ecosystem/base.html' %}
{% from "ecosystem/macros.html" import navigation with context %}

{% block title %}
  {{ hub_page_title(_('Hosted Apps')) }}
{% endblock %}

{% block content %}
  <div class="doc-wrapper">
    {{ navigation('publish_hosted') }}

    <article>
      <h1>{{ _('Hosted Apps') }}</h1>
      <p>
        {%- trans %}
          Once you have finished your app, you need to do the following:
        {% endtrans -%}
        <ul>
          <li>
            {%- trans %}
              Deploy the app &mdash; Arrange for web hosting and get the app
              up and running on the web server.
            {% endtrans -%}
          </li>
          <li>
            {%- trans %}
              Publish the app &mdash; Make the app available for end users
              to install.
            {% endtrans -%}
          </li>
        </ul>
      </p>
      <h2>{{ _('Deploying the app') }}</h2>
      <p>
        {%- trans %}
          You need to host the app on a publicly accessible Web server, just
          like any other website. There are numerous ways to do this.
        {% endtrans -%}
      </p>
      <h3>{{ _('GitHub') }}</h3>
      <p>
        {# L10n: Do not localize text in <code></code> #}
        {%- trans url_github='http://pages.github.com',
                  url_mdn='//developer.mozilla.org/docs/Apps/Manifest#Serving_from_GitHub' %}
          If the Web app is purely static (HTML/CSS/JavaScript, but no
          server-side processing), <a rel="external"
          href="{{ url_github }}">GitHub Pages</a> is a solid hosting option.
          It will serve your manifest with the
          <a href="{{ url_mdn }}">correct MIME type</a> if you give it a
          <code>.webapp</code> extension.
        {% endtrans -%}
      </p>
      <h3>{{ _('Generic hosting solutions') }}</h3>
      <p>
        {%- trans url_heroku='http://www.heroku.com',
                  url_google='http://code.google.com/appengine' %}
          For dynamic websites, use a generic hosting option (like a Web
          server you may already own or have access to) with the right
          capabilities or a hosting provider specifically tailored to the
          needs of your app, like <a rel="external"
          href="{{ url_heroku }}">Heroku</a> or <a rel="external"
          href="{{ url_google }}">Google App Engine</a>.
        {% endtrans -%}
      </p>
      <h2>{{ _('Publishing the app') }}</h2>
      <p>
        {%- trans %}
          Once your Web app has been deployed, you obviously want to make it
          installable by your intended user base. There are currently two
          options for publishing your app.
        {% endtrans -%}
      </p>
      <h3>{{ _('Submit to Firefox Marketplace') }}</h3>
      <p>
        {%- trans url='//developer.mozilla.org/docs/Apps/Submitting_an_app' %}
          <a href="{{ url }}">Submitting your app</a> to the Firefox
          Marketplace has many advantages, such as increased publicity, no
          need to implement special APIs on your own Web site, and the
          possibility of publishing paid apps more easily.
        {% endtrans -%}
      </p>
      <h3>{{ _('Publish on your own website') }}</h3>
      <p>
        {%- trans url='//developer.mozilla.org/docs/Apps/Apps_JavaScript_API' %}
          If you want to let people install your app from a website you own,
          you must <a href="{{ url }}">implement some JavaScript code</a> on
          your Web site to manage installing and updating your app into
          users' browsers.
        {% endtrans -%}
      </p>
    </article>
  </div>
{% endblock %}
