{% extends "ecosystem/base.html" %}

{% block title %}{{ _('Tutorials') }}{% endblock %}

{% block extrahead %}
  {{ css('mkt/ecosystem') }}
{% endblock %}

{% block content %}

  <div id="tutorial" class="marketing-block">
    <div id="content">
      {{ content|xssafe }}
    </div>
    <div id="sidebar">
      <nav id="nav" role="navigation">
        <img src="{{ MEDIA_URL }}img/ecosystem/starship.png" />
        <h3>{{ _('Tutorials') }}</h3>
        <ul>
        {% for item in tutorials %}
          <li>
            <a href="{{ url('ecosystem.tutorial', item.name) }}">{{ item.title }}</a>
            {% if item.name == page %}
              {{ toc|xssafe }}
            {% endif %}
          </li>
        {% endfor %}
        </ul>
        <h3>{{ _('Reference') }}</h3>
        <ul>
          <li><a class="external" href="https://developer.mozilla.org/en/HTML/HTML5">HTML5</a></li>
          <li><a class="external" href="https://developer.mozilla.org/en/JavaScript">Javascript</a></li>
          <li><a class="external" href="https://developer.mozilla.org/en/CSS">CSS</a></li>
          <li><a class="external" href="https://developer.mozilla.org/en/Apps/Apps_JavaScript_API">Open Web App APIs</a></li>
        </ul>
      </nav>
    </div>
  </div>

{% endblock %}
