{# addon, version, request #}
<div class="version {{ itemclass }}" id="version-{{ version.version }}">
  <div class="info">
    <h3><a href="{{ version.get_url_path() }}"
           title="{{ _('Permanent link to this version') }}">
      {{ _('Version {0}')|format_html(version.version) }}</a>
      <span class="meta">
        <time datetime="{{ version.created|isotime }}">
          {# L10n: {0} is a timestamp, such as September 28, 2011. #}
          {{ _('Released {0}')|format_html(version.created|date) }}
        </time>
        {% if version.has_files %}
          <span class="filesize">
            {{ version.all_files[0].size|filesizeformat(binary=True) }}
          </span>
        {% endif %}
      </span>
      {% if version.compatible_apps and addon.type not in amo.NO_COMPAT %}
        <span class="meta compat">
          {# L10n: This refers to this version's compatible applications, such as Firefox 8.0 #}
          {{ _('Works with') }}
          {% for app, compat in version.compatible_apps_ordered -%}
            {% if not loop.first %}, {% endif %}
            {{ compat }}
          {%- endfor %}
        </span>
      {% endif %}
    </h3>

    <div class="desc prose" {{ version.releasenotes|locale_html }}>
      {{ version.releasenotes|nl2br }}
    </div>

    <ul class="source">
    {% if version.license %}
      {% set license = version.license %}
        <li>
          {% if license.url %}
            {% trans url = license.url,
                     name = license.name if license.builtin else _('Custom License') %}
              Source code released under <a href="{{ url }}">{{ name }}</a>
            {% endtrans %}
          {% else %}
            {% trans url = version.license_url(),
                     name = license.name if license.builtin else _('Custom License') %}
              Source code released under <a href="{{ url }}">{{ name }}</a>
            {% endtrans %}
          {% endif %}
        </li>
    {% endif %}
    </ul>

  </div>
  <div class="action">
      {{ install_button(addon, version=version, impala=impala, show_download_anyway=True) }}
  </div>
</div>
