{% extends "impala/base_shared.html" %}

{% block rss_feed %}
{% set feed_view = 'addons.versions.rss' %}
<link  rel="alternate" type="application/rss+xml"
       title="RSS" href="{{ url(feed_view, addon_id=addon.slug) }}">
{% endblock %}

{# L10n: {0} is an add-on name. #}
{% block title %}{{ page_title('{0} :: Versions')|format_html(addon.name) }}{% endblock %}

{% block bodyclass %}versions gutter{% endblock %}

{% block content %}
<section class="primary">
  <header>
    {# L10n: {0} is an add-on name. #}
    <hgroup>
      <h1>{{ _('{0} Version History')|format_html(addon.name) }}</h1>
      {% with cnt=versions.paginator.count %}
        {# L10n: {0} is a number. #}
        <h3>{{ ngettext('<b>{0}</b> version', '<b>{0}</b> versions', cnt)|format_html(cnt) }}</h3>
      {% endwith %}
    </hgroup>
  </header>
  <div class="island hero c listing">
    <div class="warning highlight">
      <h2>{{ _('Be careful with old versions!') }}</h2>
      <p>{% trans url=addon.get_url_path() %}
        These versions are displayed for reference and testing purposes.
        You should always use the <a href="{{ url }}">latest version</a> of an add-on.
      {% endtrans %}</p>
    </div>
    <div class="items versions-list">
      {% for version in versions.object_list %}
        {{ version_detail(addon, version, src='version-history', impala=True) }}
      {% endfor %}
    </div>
    {{ versions|impala_paginator }}
  </div>
</section>
{% endblock %}
