{% extends "editors/base.html" %}

{% block breadcrumbs %}
{{ editors_breadcrumbs(items=[(None, _('Event Log'))]) }}
{% endblock %}

{% block content %}
<h2>{{ _('Event Log') }}</h2>

<div class="listing results">
  <div class="results-inner controls">
    <form action="{{ url('editors.eventlog') }}">
      <p class="date_range">
        {{ form.start.label_tag() }}
        {{ form.start }}
        {{ form.end.label_tag() }}
        {{ form.end }}

        &bullet;

        {{ form.filter.label_tag() }}
        {{ form.filter }}
        {# L10n: "Filter" is a button label (verb) #}
        <button type="submit">{{ _('Filter') }}</button>
      </p>
    </form>
    {% if pager.object_list %}
      <table class="data-grid">
        <thead><tr class="listing-header">
          <th>{{ _('Date') }}</th>
          <th>{{ _('Event') }}</th>
        </tr></thead>
        <tbody>
          {% for item in pager.object_list %}
          <tr>
            <td>
              {{ item.created|babel_datetime }}
            </td>
            <td>
              {{ item.to_string('editor') }}
              {% if item.details %}
              <a href="{{ url('editors.eventlog.detail', item.id) }}">
                {{ _('More details.') }}
              </a>
              {% endif %}
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    {% else %}
      <p>No events found for this period.</p>
    {% endif %}
  </div>

  {% if pager.has_other_pages() %}
  <div class="listing-footer">
    {{ pager|paginator }}
  </div>
  {% endif %}
</div>
{% endblock %}

