{% extends "editors/base.html" %}

{% block content %}
<div id="editors_main">

  {# TODO(gkoberger): Fill in the MOTD below #}
  <div class="featured daily-message">
    <div class="featured-inner">
      <h2>{{ _('Announcement') }}</h2>
      <p>{{ motd }}</p>
      <a class="close" href="#" title="{{ _('Dismiss this announcement') }}">x</a>
    </div>
  </div>


  <div class="featured" id="editors-stats">
    <div class="featured-inner">
      <div class="listing-header">
        <div class="editor-stats-title"><span>{{ _('Total Reviews') }}</span></div>
        <div class="editor-stats-title"><span>{{ _('Month Reviews') }}</span></div>
        <div class="editor-stats-title"><span>{{ _('New Editors') }}</span></div>
      </div>
      <div class="editor-stats">
        <div class="editor-stats-table">
          <div>
            <table>
              {% for row in reviews_total: %}
              <tr>
                <td>{{ row['user__display_name'] }}</td>
                <td class="int">{{ row['approval__count']|numberfmt }}</td>
              </tr>
              {% endfor %}
            </table>
          </div>
        </div>
        <div class="editor-stats-table">
          <div>
            <table>
              {% for row in reviews_monthly: %}
              <tr>
                <td>{{ row['user__display_name'] }}</td>
                <td class="int">{{ row['approval__count']|numberfmt }}</td>
              </tr>
              {% endfor %}
            </table>
          </div>
        </div>
        <div class="editor-stats-table">
          <div>
            <table>
              {# TODO(gkoberger): MOAR Stats #}
              {% for i in range(5) %}
              <tr>
                <td>John Smith</td>
                <td class="date">Today</td>
              </tr>
              {% endfor %}
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="listing results">
    <div class="results-inner">
      {% for item in eventlog %}
      <div class="row">
        {{ item.to_string('editor') }}
        {% trans ago=item.created|timesince, iso=item.created|isotime,
                 pretty=item.created|babel_datetime %}
          <time datetime="{{ iso }}" title="{{ pretty }}">{{ ago }}</time>
        {% endtrans %}
      </div>
      {% endfor %}
    </div>
  </div>
</div>

{% endblock %}
