{% extends "editors/base.html" %}

{% block content %}
<div id="editors_main">
  <div class="featured" id="editors-stats">
    <div class="featured-inner">
      <div class="listing-header">
        <div class="editor-stats-title"><span>{{ _('Total Reviews') }}</span></div>
        <div class="editor-stats-title"><span>{{ _('Reviews This Month') }}</span></div>
        <div class="editor-stats-title"><span>{{ _('New Editors') }}</span></div>
      </div>
      <div class="editor-stats">
        <div class="editor-stats-table">
          <div>
            <table>
              {% for row in reviews_total: %}
              <tr>
                <td>{{ row['user__display_name'] }}</td>
                <td class="int">{{ row['approval_count']|numberfmt }}</td>
              </tr>
              {% endfor %}
            </table>
          </div>
        </div>
        <div class="editor-stats-table">
          <div>
            <table>
              {% for row in reviews_monthly: %}
              <tr>
                <td>{{ row['user__display_name'] }}</td>
                <td class="int">{{ row['approval_count']|numberfmt }}</td>
              </tr>
              {% endfor %}
            </table>
          </div>
        </div>
        <div class="editor-stats-table">
          <div>
            <table>
              {% for editors in new_editors %}
              <tr>
                <td>
                  <a href="{{ url('users.profile', editors['added']) }}">
                    {{ editors['display_name'] }}
                  </a>
                </td>
                <td class="date" title="{{ editors['created']|babel_datetime }}">
                  {{ editors['created']|timesince }}
                </td>
              </tr>
              {% endfor %}
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="listing results">
    <div class="results-inner">
      {% for item in eventlog %}
      <div class="row">
        {{ item.to_string('editor') }}
        {% if item.details %}
        <a href="{{ url('editors.eventlog.detail', item.id) }}">
          {{ _('More details.') }}
        </a>
        {% endif %}
        {% trans ago=item.created|timesince, iso=item.created|isotime,
                 pretty=item.created|babel_datetime %}
          <time datetime="{{ iso }}" title="{{ pretty }}">{{ ago }}</time>
        {% endtrans %}
      </div>
      {% endfor %}
    </div>
  </div>
</div>

{% endblock %}
