{% extends "editors/base.html" %}

{% block breadcrumbs %}
{{ editors_breadcrumbs(queue=tab) }}
{% endblock %}

{% block content %}

{% if waffle.switch('reviewer-incentive-points') %}
<div id="reviewers-score-bar" class="c">
  {{ reviewers_score_bar() }}
</div>
{% endif %}

<ul class="tabnav">
  {% for this, loc, text in queue_tabnav() %}
  <li class="{% if tab==this %}selected{% endif %}"><a href="{{ url('editors.%s' % loc) }}">{{ text }}</a></li>
  {% endfor %}
</ul>

<div class="queue-outer">
  <div class="queue-inner">
    {% if search_form %}
    <div id="queue-search">
      <form action="" method="get">
        {{ search_form['searching'] }}
        <label for="id_text_query">{{ search_form['text_query'].label }}</label>
        {{ search_form['text_query'] }}
        <button type="submit">{{ _('Search') }}</button>
        <a id="toggle-queue-search" href="#">{{ _('Advanced Search') }}</a>
        {% if search_form.data and search_form.data['searching'] %}
          (<a id="clear-queue-search" href="{{ url('editors.queue_%s' % tab) }}">{{ _('clear search') }}</a>)
        {% endif %}
        <div id="advanced-search">
          <div class="column1">
            <div class="form-row">
              {% for elem in ('admin_review', 'application_id',
                              'max_version', 'waiting_time_days') %}
                <label for="id_{{ elem }}">{{ search_form[elem].label }}</label>
                <div class="form-elem">{{ search_form[elem] }}</div>
              {% endfor %}
            </div>
          </div>
          <div class="column2">
            <div class="form-row">
              {% for elem in ('addon_type_ids',) %}
                <label for="id_{{ elem }}">{{ search_form[elem].label }}</label>
                <div class="form-elem">{{ search_form[elem] }}</div>
              {% endfor %}
            </div>
          </div>
          <div class="column3">
            <div class="form-row">
              {% for elem in ('platform_ids',) %}
                <label for="id_{{ elem }}">{{ search_form[elem].label }}</label>
                <div class="form-elem">{{ search_form[elem] }}</div>
              {% endfor %}
            </div>
          </div>
        </div>
      </form>
    </div>
    {% endif %}
    {% if page.has_other_pages() %}
      <div class="data-grid-content data-grid-top">
      {{ page|paginator }}
      </div>
    {% endif %}

    {% if tab == 'moderated' %}
      <div id="reviews-flagged">
        <form method="post" class="item" action="">
          <div class="review-saved">
            <button type="submit">{{ _('Process Reviews') }}</button>
          </div>
          {{ csrf() }}
          {{ reviews_formset.management_form }}
          {% for review in reviews_formset.forms %}
          <div class="review-flagged{%- if not check_review_delete(review.instance) %} disabled{% endif %}">
            <div class="review-flagged-actions">
              {{ review.errors }}
              <strong>{{ _('Moderation actions:') }}</strong>
              {{ review.id }}
              {{ review.action }}
            </div>
            <h3>
              <a href="{{ review.instance.addon.get_url_path() }}">
                {{ review.instance.addon.name }}</a>
              {%- if review.instance.title %}: {{ review.instance.title }}{% endif %}
            </h3>
            <p>
            {% trans user=review.instance.user|user_link, date=review.instance.created|datetime,
                     stars=review.instance.rating|stars, locale=review.instance.title.locale %}
              by {{ user }} on {{ date }}
              {{ stars }} ({{ locale }})
            {% endtrans %}
            </p>
            <p class="description">{{ review.instance.body|nl2br }}</p>
            <ul class="reviews-flagged-reasons">
              {% for reason in review.instance.reviewflag_set.all() %}
              <li>
              <div>
                {% trans user=reason.user|user_link, date=reason.modified|babel_datetime,
                         reason=flags[reason.flag] %}
                <strong>{{ reason }}</strong>
                <span class="light">Flagged by {{ user }} on {{ date }}</span>
                {% endtrans %}
              </div>
              {{ reason.note }}
              </li>
              {% endfor %}
            </ul>
          </div>
          {% endfor %}
          {% if page.paginator.count == 0 %}
            <div class="no-results">{{ _('All reviews have been moderated.  Good work!') }}</div>
          {% else %}
            <div class="review-saved review-flagged">
              <button type="submit">{{ _('Process Reviews') }}</button>
            </div>
          {% endif %}
        </form>
      </div>
    {% else %}
      <table id="addon-queue" class="data-grid" data-url="{{ url('editors.queue_viewing') }}">
        <thead>
          <tr class="listing-header">
              <th>&nbsp;</th>
              {% for column in table.columns %}
                {% if column.is_ordered_reverse %}
                  {% set cls, sprite = 'ordered', 'desc' %}
                {% elif column.is_ordered_straight %}
                  {% set cls, sprite = 'ordered', 'asc' %}
                {% else %}
                  {% set cls, sprite = '', 'both' %}
                {% endif %}
                <th class="{{ cls }}">
                  {% if column.sortable %}
                    <a href="{{ request.get_full_path()|urlparams(sort=column.name_toggled) }}" class="sort-icon ed-sprite-sort-{{ sprite }}">
                      {{ column }}
                    </a>
                  {% else %}
                    {{ column }}
                  {% endif %}
                </th>
              {% endfor %}
          </tr>
        </thead>
        <tbody>
          {% for row in page.object_list %}
          <tr data-addon="{{ row.data.id }}" class="addon-row" id="addon-{{ row.data.id }}">
            <td><div class="addon-locked"></div></td>
            {% for value in row %}
              <td>{{ value|xssafe }}</td>
            {% endfor %}
            <td>
              <div class="addon-version-notes">
                <a href="#" class="ed-sprite-notes app-icon" title="{{ _('Version Notes / Notes for Reviewer') }}">&nbsp;</a>
              </div>
            </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
      {% if page.paginator.count == 0 %}
        <div class="no-results">{{ _('There are currently no add-ons of this type to review.') }}</div>
      {% endif %}
    {% endif %}
    {% if page.has_other_pages() %}
      <div class="data-grid-content data-grid-bottom">
      {{ page|paginator }}
      </div>
    {% endif %}
  </div>
</div>

<div id="helpfulLinks">
{{ _('Helpful Links:') }}
<a href="{{ url('devhub.docs', doc_name='policies') }}">{{ _('Add-on Policy') }}</a>
|
<a href="http://wiki.mozilla.org/Update:Editors">{{ _("Editors' Guide") }}</a>
</div>

<div class="popup" id="popup-notes" data-url="{{ url('editors.queue_version_notes') }}"></div>

{% endblock %}
