<a class="button {% if request.MOBILE %}add{% endif %} {{ b.button_class|join(' ') }} {{ extra }}"
  {% if not addon.is_premium() and not addon.is_webapp() %}
    data-hash="{{ link.file.hash }}"
  {% endif %}
  {% if b.show_warning and not addon.is_webapp() %}
    href="{{ b.addon.get_url_path() }}"
    data-realurl="{{ link.url }}"
  {% elif b.show_eula and not addon.is_webapp() and request.MOBILE %}
    href="{{ link.url|absolutify }}"
    data-realurl="{{ b.xpiurl }}"
  {% else %}
    href="{{ link.url }}"
  {% endif %}>
  {% if request.MOBILE %}
    {% if addon.is_webapp() %}
      {% if (addon.is_premium() and addon.has_purchased(amo_user)) or (not addon.is_premium()) %}
        {{ _('Install') }}
      {% else %}
        {{ _('Purchase for {0}')|f(addon.premium.get_price_locale()) }}
      {% endif %}
    {% else %}
      {{ _('Add to Firefox') }}
    {% endif %}
  {% else %}
    <b></b>
    <span>
      {{ link.text }}
      {% if link.os %}
        <span class="os" data-os="{{ link.os.name }}">
          {% if not (b.show_eula or b.show_contrib) %}
            {# L10n: {0} is a platform name like Windows or Mac OS X. #}
            {{ _('for {0}')|f(link.os.name) }}
          {% endif %}
        </span>
      {% endif %}
    </span>
  {% endif %}
</a>
{{ csrf() }}
