{% extends "bandwagon/impala/base_collection.html" %}

{% set url_base = url('collections.list') %}
{% set title = _('Collections') %}

{% block title %}{{ page_title(title) }}{% endblock %}

{% block primary %}
<section class="primary">
  <masthead class="hero" id="collections-landing">
    <h1>{{ title }}</h1>
    <p>
      {% trans url=url('collections.add') %}
        Collections are groups of related add-ons that anyone can create and
        share. Explore collections created by other users or
        <a href="{{ url }}">create your own</a>.
      {% endtrans %}
    </p>
  </masthead>
  <div class="island hero c listing">
    <div class="items">
      {{ impala_collection_listing_items(collections.object_list, filter.field) }}
    </div>
  </div>
</section>
{% endblock %}
