{% set base_url = url('collections.list') %}
<nav id="side-nav" class="c">
  <h2><a href="{{ base_url }}">{{ _('Collections') }}</a></h2>
  {% if request.user.is_authenticated() %}
    <ul>
      <li id="p-following">
        <a href="{{ url('collections.following') }}">
          {{ _("Collections I'm Following") }}</a></li>
      <li id="p-mine">
        <a href="{{ url('collections.user', user.username) }}">
          {{ _("Collections I've Made") }}</a></li>
      <li><a href="{{ url('collections.detail', user.username, 'favorites') }}">
        {{ _('My Favorite Add-ons') }}</a></li>
    </ul>
  {% endif %}
  <section>
    <h3>{{ _('Create a Collection') }}</h3>
    <p>{% trans %}
      Collections make it easy to keep track of favorite add-ons and share your
      perfectly customized browser with others.
    {% endtrans %}</p>
    <p><a href="{{ url('collections.add') }}" class="button">
      {{ _('Create a Collection') }}</a></p>
  </section>
</nav>
