{% extends 'reviewers/base.html' %}

{% set pagetitle = _('Apps Reviewing') %}

{% block title %}
  {{ reviewers_page_title(title=pagetitle) }}
{% endblock %}

{% block content %}

<header class="c">
  <h1 class="menutrigger">{{ pagetitle }}</h1>
</header>

<section class="island">

  {% if not apps %}
    <p>{{ _('No apps being reviewed right now.') }}</p>
  {% else %}
    {% if DESKTOP %}
      <table id="apps-reviewing" class="data-grid four-col items">
        <thead>
          <tr class="listing-header">
            <th>{{ _('App') }}</th>
            <th>{{ _('Flags') }}</th>
            <th>{{ _('Devices') }}</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          {% for app in apps %}
            {% set this_app = app.app %}
            <tr data-addon="{{ app.id }}" class="addon-row" id="addon-{{ app.id }}">
              <td class="app-name">{{ app.app.name }}</td>
              <td class="flags">{# Flags #}
                {% if this_app.is_packaged %}
                  <div class="sprite-reviewer sprite-reviewer-packaged-app" title="{{ _('Packaged App') }}"></div>
                {% endif %}
                {% if this_app.status == amo.STATUS_BLOCKED %}
                  <div class="sprite-reviewer sprite-reviewer-blocked" title="{{ _('Blocklisted App') }}"></div>
                {% endif %}
                {% if this_app.is_premium() %}
                  <div class="sprite-reviewer sprite-reviewer-premium" title="{{ _('Premium App') }}"></div>
                {% endif %}
                {% if this_app.current_version.has_info_request %}
                  <div class="sprite-reviewer sprite-reviewer-info" title="{{ _('More Information Requested') }}"></div>
                {% endif %}
                {% if this_app.current_version.has_editor_comment %}
                  <div class="sprite-reviewer sprite-reviewer-editor" title="{{ _('Contains Editor Comment') }}"></div>
                {% endif %}
              </td>
              <td>{{ device_list(app.app) }}</td>
              <td>
                <div class="product" data-product="{{ app.app_attrs }}">
                  {{ market_button(app.app, 'reviewer') }}
                </div>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    {% else %}
      <table id="apps-reviewing" class="data-grid two-col items">
        <thead>
          <tr class="listing-header">
            <th>{{ _('App') }}</th>
            <th>{{ _('Flags') }}</th>
          </tr>
        </thead>
        {% for app in apps %}
          {% set this_app = app.app %}
          <tbody>
            <tr data-addon="{{ app.id }}" class="addon-row" id="addon-{{ app.id }}">
              <td class="app-name">{{ app.app.name }}</td>
              <td class="flags">{# Flags #}
                {% if this_app.is_packaged %}
                  <div class="sprite-reviewer sprite-reviewer-packaged-app" title="{{ _('Packaged App') }}"></div>
                {% endif %}
                {% if this_app.status == amo.STATUS_BLOCKED %}
                  <div class="sprite-reviewer sprite-reviewer-blocked" title="{{ _('Blocklisted App') }}"></div>
                {% endif %}
                {% if this_app.is_premium() %}
                  <div class="sprite-reviewer sprite-reviewer-premium" title="{{ _('Premium App') }}"></div>
                {% endif %}
                {% if this_app.current_version.has_info_request %}
                  <div class="sprite-reviewer sprite-reviewer-info" title="{{ _('More Information Requested') }}"></div>
                {% endif %}
                {% if this_app.current_version.has_editor_comment %}
                  <div class="sprite-reviewer sprite-reviewer-editor" title="{{ _('Contains Editor Comment') }}"></div>
                {% endif %}
              </td>
            </tr>
            <tr>
              <td>{{ device_list(app.app) }}</td>
              <td>
                <div class="product" data-product="{{ app.app_attrs }}">
                  {{ market_button(app.app, 'reviewer') }}
                </div>
              </td>
            </tr>
          </tbody>
        {% endfor %}
      </table>
    {% endif %}
  {% endif %}

</section>

{% endblock %}

{% block js %}
  {{ js('mkt/reviewers') }}
{% endblock %}
