{% extends 'developers/skeleton_impala.html' %}
{% import 'reviewers/includes/macros.html' as macros %}

{% block title %}{{ reviewers_page_title() }}{% endblock %}

{% block bodyclass %}editor-tools{% endblock %}

{% block masthead %}
<h1 id="masthead" class="site-title prominent">
  <a href="{{ url('reviewers.home') }}">
    {% trans %}
      <small>Marketplace</small> Reviewer Tools
    {% endtrans %}
  </a>
</h1>

<nav class="pill-nav">
  {% if action_allowed('Apps', 'Review') and action_allowed('Personas', 'Review') %}
    {# Duplicate if statement because eventually there will be three tabs.
       For now, either a reviewer has access to two queues or one. Don't need to show
       this nav is the reviewer only access to one. #}
    {% if action_allowed('Apps', 'Review') %}
      {# "selected" logic will change if we ever have more than just apps + themes #}
      <a {% if 'themes' not in request.path %}class="selected" {% endif %}
         href="{{ url('reviewers.apps.queue_pending') if 'queue' in request.path
                  else url('reviewers.apps.logs') }}">
        {{ _('Apps') }}</a>
    {% endif %}
    <!--<a href="{# url('reviewers.addons.queue_pending') #}">{{ _('Add-ons') }}</a>-->
    {% if action_allowed('Personas', 'Review') %}
      <a {% if 'themes' in request.path %}class="selected" {% endif %}
         href="{{ url('reviewers.themes.list') if 'queue' in request.path
                  else url('reviewers.themes.logs') }}">{{ _('Themes') }}</a>
    {% endif %}
  {% endif %}
</nav>
{% endblock %}

{% block extrahead %}
  {{ css('mkt/reviewers') }}
  {{ css('mkt/gaia') }}
{% endblock %}

{% block site_header_title %}
  <div id="site-nav">
    <div class="pad">
      <nav class="menu-nav app-nav no-img" role="navigation">
        <ul class="c">
          {% block queue_menu %}
            {{ macros.dropdown_menu('queues', _('Queues'), queue_tabnav(),
                                    'queue' in request.path or
                                    url('reviewers.apps.apps_reviewing') in request.path) }}
          {% endblock %}
          {% block log_menu %}
            {{ macros.dropdown_menu('logs', _('Logs'), logs_tabnav(),
                                    'logs' in request.path) }}
          {% endblock %}
          {% if action_allowed('AppReviewerMOTD', 'Edit') %}
            <li class="slim">
              <a href="{{ url('reviewers.apps.motd') }}">{{ _('Announcement') }}</a>
            </li>
          {% endif %}
        </ul>
      </nav>
    </div>
  </div>
{% endblock %}

{% block js %}
  {{ js('mkt/reviewers') }}
{% endblock %}

{# Hiding these for the Marketplace Editor Tools until consumer pages are done. #}
{% block header_search %}{{ super() if not settings.MARKETPLACE }}{% endblock %}
{% block footer %}{{ super() if not settings.MARKETPLACE }}{% endblock %}

{% block outer_content %}
  {% block breadcrumbs %}{% endblock %}
  {% include 'editors/includes/daily-message.html' %}
  {% include 'messages.html' %}

  {% block queues_overlay %}
    {{ macros.mobile_overlay('queue', _('Queues'), queue_tabnav()) }}
  {% endblock %}

  {% block logs_overlay %}
    {{ macros.mobile_overlay('log', _('Logs'), logs_tabnav()) }}
  {% endblock %}
{% endblock %}
