{% extends 'developers/skeleton_impala.html' %}

{% block title %}{{ reviewers_page_title() }}{% endblock %}

{% block bodyclass %}editor-tools{% endblock %}

{% block masthead %}
<h1 id="masthead" class="site-title prominent">
  <a href="{{ url('reviewers.home') }}">
    {% trans %}
      <small>Marketplace</small> Reviewer Tools
    {% endtrans %}
  </a>
</h1>
{% endblock %}

{% block extrahead %}
  {{ css('mkt/reviewers') }}
{% endblock %}

{% block site_header_title %}
  <div id="site-nav">
    <div class="pad">
      <nav class="menu-nav app-nav no-img" role="navigation">
        <ul class="c">
          <li>
            <a href="#" class="controller menutrigger">{{ _('Queues') }}</a>
            <ul class="menucontent" data-title="{{ _('Queues') }}">
              {% for prefix, this, loc, text in queue_tabnav() %}
                <li>
                  <a href="{{ url('reviewers.%s.%s' % (prefix, loc)) }}">{{ text }}</a>
                </li>
              {% endfor %}
            </ul>
          </li>
          <li>
            <a href="#" class="controller">{{ _('Logs') }}</a>
            <ul>
              {% for loc, text in logs_tabnav() %}
                <li><a href="{{ url(loc) }}">{{ text }}</a></li>
              {% endfor %}
            </ul>
          </li>
          {% if action_allowed('AppReviewerMOTD', 'Edit') %}
            <li class="slim">
              <a href="{{ url('reviewers.apps.motd') }}">{{ _('Announcement') }}</a>
            </li>
          {% endif %}
        </ul>
      </nav>
    </div>
  </div>
{% endblock %}

{% block js %}
  {{ js('mkt/reviewers') }}
{% endblock %}

{# Hiding these for the Marketplace Editor Tools until consumer pages are done. #}
{% block header_search %}{{ super() if not settings.MARKETPLACE }}{% endblock %}
{% block footer %}{{ super() if not settings.MARKETPLACE }}{% endblock %}

{% block outer_content %}
  {% block breadcrumbs %}{% endblock %}
  {% include 'editors/includes/daily-message.html' %}
  {% include 'messages.html' %}
{% endblock %}
