{% extends 'reviewers/base.html' %}

{% block breadcrumbs %}
  {{ reviewers_breadcrumbs(queue=tab) }}
{% endblock %}

{% block content %}

{% if waffle.switch('reviewer-incentive-points') %}
<section id="reviewers-score-bar" class="island full c">
  {{ reviewers_score_bar() }}
</section>
{% endif %}

  <ul class="tabnav">
    {% for prefix, this, loc, text in queue_tabnav() %}
      <li class="{% if tab == this %}selected{% endif %}">
        <a href="{{ url('reviewers.%s.%s' % (prefix, loc)) }}">{{ text }}</a></li>
    {% endfor %}
  </ul>

  <section class="island">
    {% if tab == 'moderated' %}
      <div id="reviews-flagged">
        <form method="post" class="item">
          {% if queue_counts[tab] != 0 %}
            <div class="review-saved">
              <button type="submit">{{ _('Process Reviews') }}</button>
            </div>
          {% endif %}
          {{ csrf() }}
          {{ reviews_formset.management_form }}
          {% for review in reviews_formset.forms %}
            <div class="review-flagged">
              <div class="review-flagged-actions">
                {{ review.errors }}
                <strong>{{ _('Moderation actions:') }}</strong>
                {{ review.id }}
                {{ review.action }}
              </div>
              <h3>
                <a href="{{ review.instance.addon.get_url_path() }}">{{ review.instance.addon.name }}</a>
                {%- if review.instance.title %}: {{ review.instance.title }}{% endif %}
              </h3>
              <p>
                {% trans user=review.instance.user|user_link, date=review.instance.created|datetime,
                         stars=review.instance.rating|stars, locale=review.instance.title.locale %}
                  by {{ user }} on {{ date }}
                  {{ stars }} ({{ locale }})
                {% endtrans %}
              </p>
              <p class="description">{{ review.instance.body|nl2br }}</p>
              <ul class="reviews-flagged-reasons">
                {% for reason in review.instance.reviewflag_set.all() %}
                  <li>
                    <div>
                      {% trans user=reason.user|user_link, date=reason.modified|babel_datetime,
                               reason=flags[reason.flag] %}
                      <strong>{{ reason }}</strong>
                      <span class="light">Flagged by {{ user }} on {{ date }}</span>
                      {% endtrans %}
                    </div>
                    {{ reason.note }}
                  </li>
                {% endfor %}
              </ul>
            </div>
          {% endfor %}
          {% if queue_counts[tab] == 0 %}
            <div class="no-results">{{ _('All reviews have been moderated. Good work!') }}</div>
          {% else %}
            <div class="review-saved review-flagged">
              <button type="submit">{{ _('Process Reviews') }}</button>
            </div>
          {% endif %}
        </form>
      </div>
    {% else %}
      {% if search_form %}
        <div id="queue-search">
          <form>
            <label for="{{ search_form.text_query.auto_id }}">{{ search_form.text_query.label }}</label>
            {{ search_form.text_query }}
            <button class="button" type="submit">{{ _('Search') }}</button>
            <a id="toggle-queue-search" href="#">{{ _('Advanced Search') }}</a>
            {% if searching %}
              (<a id="clear-queue-search" href="{{ url('reviewers.apps.queue_%s' % tab) }}">{{ _('Clear Search') }}</a>)
            {% endif %}

            <div id="advanced-search"{% if not adv_searching %} class="hidden"{% endif %}>
              {% macro form_element(search_form, elems) -%}
                <div class="form-row">
                  {% for elem in elems %}
                    {{ search_form[elem].label_tag() }}
                    <div class="form-elem">{{ search_form[elem] }}</div>
                  {% endfor %}
                </div>
              {%- endmacro %}

              <div class="inline-dropdown">
                {{ form_element(search_form, ('admin_review', 'has_editor_comment',
                                              'has_info_request', 'waiting_time_days')) }}
              </div>
              <div class="device-type-select block-dropdown">
                {{ form_element(search_form, ('device_type_ids',)) }}
              </div>
              <div class="premium-type-select block-dropdown">
                {{ form_element(search_form, ('premium_type_ids',)) }}
              </div>
            </div>

          </form>
        </div>
      {% endif %}

      <table id="addon-queue" class="data-grid items"
             data-url="{{ url('editors.queue_viewing') }}">
        <thead>
          <tr class="listing-header">
            <th>&nbsp;</th>
            <th>{{ _('App') }}</th>
            <th>{{ _('Flags') }}</th>
            <th>{{ _('Waiting Time') }}</th>
            <th>{{ _('Devices') }}</th>
            <th>{{ _('Payments') }}</th>
            <th>{{ _('Abuse Reports') }}</th>
          </tr>
        </thead>
        <tbody>
          {% for qa in addons %}
            <tr data-addon="{{ qa.app.id }}" class="addon-row" id="addon-{{ qa.app.id }}">
              <td><div class="addon-locked"></div></td>
              <td><a href="{{ url('reviewers.apps.review', qa.app.app_slug) }}">{{ qa.app.name }}</a></td>
              <td>{# Flags #}
                {% if qa.app.is_packaged %}
                  <div class="sprite-reviewer sprite-reviewer-packaged-app" title="{{ _('Packaged App') }}"></div>
                {% endif %}
                {% if qa.app.status == amo.STATUS_BLOCKED %}
                  <div class="sprite-reviewer sprite-reviewer-blocked" title="{{ _('Blocklisted App') }}"></div>
                {% endif %}
                {% if qa.app.is_premium() %}
                  <div class="sprite-reviewer sprite-reviewer-premium" title="{{ _('Premium App') }}"></div>
                {% endif %}
                {% if qa.app.current_version.has_info_request %}
                  <div class="sprite-reviewer sprite-reviewer-info" title="{{ _('More Information Requested') }}"></div>
                {% endif %}
                {% if qa.app.current_version.has_editor_comment %}
                  <div class="sprite-reviewer sprite-reviewer-editor" title="{{ _('Contains Editor Comment') }}"></div>
                {% endif %}
              </td>
              <td>{{ qa.created|timelabel }}</td>
              <td>{{ device_list(qa.app) }}</td>
              <td>{{ amo.ADDON_PREMIUM_TYPES[qa.app.premium_type] }}</td>
              <td>{{ qa.app.abuse_reports.count() }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>

      {% if queue_counts[tab] == 0 %}
        <div class="no-results">
          {{ _('There are currently no items of this type to review.') }}
        </div>
      {% else %}
        {{ pager|impala_paginator }}
      {% endif %}

    {% endif %}

  </section>

  <p id="helpfulLinks">
    {{ _('Helpful Links:') }}
    <a href="http://wiki.mozilla.org/Update:Editors">{{ _("Editors' Guide") }}</a>
  </p>
{% endblock %}

{% block js %}
  {{ js('zamboni/editors') }}
  {{ js('mkt/reviewers') }}
{% endblock %}
