{% extends 'reviewers/base.html' %}

{% block breadcrumbs %}
  {{ reviewers_breadcrumbs(queue=tab) }}
{% endblock %}

{% block content %}
  <ul class="tabnav">
    {% for this, loc, text in queue_tabnav() %}
      <li class="{% if tab == this %}selected{% endif %}">
        <a href="{{ url('reviewers.%s' % loc) }}">{{ text }}</a></li>
    {% endfor %}
  </ul>

  <div class="queue-outer">
    <div class="queue-inner">
      {% if page.has_other_pages() %}
        <div class="data-grid-content data-grid-top">
        {{ page|paginator }}
        </div>
      {% endif %}
      <table id="addon-queue" class="data-grid"
             data-url="{{ url('editors.queue_viewing') }}">
        <thead>
          <tr class="listing-header">
            <th>&nbsp;</th>
            {% for column in table.columns %}
              {% if column.is_ordered_reverse %}
                {% set cls, sprite = 'ordered', 'desc' %}
              {% elif column.is_ordered_straight %}
                {% set cls, sprite = 'ordered', 'asc' %}
              {% else %}
                {% set cls, sprite = '', 'both' %}
              {% endif %}
              <th class="{{ cls }}">
                {% if column.sortable %}
                  <a href="{{ request.get_full_path()|urlparams(sort=column.name_toggled) }}"
                     class="sort-icon ed-sprite-sort-{{ sprite }}">
                    {{ column }}
                  </a>
                {% else %}
                  {{ column }}
                {% endif %}
              </th>
            {% endfor %}
          </tr>
        </thead>
        <tbody>
          {% for row in page.object_list %}
            <tr data-addon="{{ row.data.id }}" class="addon-row"
                id="addon-{{ row.data.id }}">
              <td><div class="addon-locked"></div></td>
              {% for value in row %}
                <td>{{ value|xssafe }}</td>
              {% endfor %}
            </tr>
          {% endfor %}
        </tbody>
      </table>
      {% if page.paginator.count == 0 %}
        <div class="no-results">
          {{ _('There are currently no items of this type to review.') }}
        </div>
      {% endif %}
      {% if page.has_other_pages() %}
        <div class="data-grid-content data-grid-bottom">
          {{ page|paginator }}
        </div>
      {% endif %}
    </div>
  </div>

  <p id="helpfulLinks">
    {{ _('Helpful Links:') }}
    <a href="http://wiki.mozilla.org/Update:Editors">{{ _("Editors' Guide") }}</a>
  </p>
{% endblock %}
