{% extends 'reviewers/base.html' %}

{% block title %}
  {{ reviewers_page_title(title=product.name) }}
{% endblock %}

{% block bodyclass %}inverse{% endblock %}

{% block breadcrumbs %}
  {{ reviewers_breadcrumbs(queue=tab, items=[(None, product.name)]) }}
{% endblock %}

{% block content %}

<header class="c">
  <h1 class="addon"{{ product.name|locale_html }}>
    <img src="{{ product.icon_url }}" class="icon">
    <span>{{ product.name }}</span>
  </h1>
  <p class="author">{{ _('by') }} {{ users_list(product.listed_authors) }}</p>
</header>

<div id="scroll_sidebar_parent">
  <div id="scroll_sidebar">
    <div class="currently_viewing_warning"></div>
    <ul id="actions" class="c">
      <li class="app-install">
        <div class="product"
          {%- for k, v in product_attrs.items() %} data-{{ k }}="{{ v }}"{% endfor %}>
          {{ market_button(product, 'reviewer') }}
        </div>
        <div class="no-apps">You need to be using<br>
          <a href="http://nightly.mozilla.org/" target="_blank">
          Firefox Nightly</a><br>to install this app.
        </div>
      </li>
      <li><a href="{{ product.get_detail_url() }}" class="button">
        {{ _('View Listing') }}</a></li>
      {% if is_admin %}
        <li><a href="{{ product.get_dev_url() }}" class="button manage">
          {{ _('Edit Listing') }}</a></li>
      {% endif %}
    </ul>
    <strong>{{ _('Review This App') }}</strong>
    <ul>
      <li><a href="#more-about">{{ _('More Information') }}</a></li>
      <li><a href="#history">{{ _('App History') }}</a></li>
      <li><a href="#review-actions">{{ _('Resolution') }}</a></li>
    </ul>
  </div>
</div>

<div id="addon" data-id="{{ product.id }}" data-url="{{ url('editors.review_viewing') }}">

<section class="island">
  {% include 'reviewers/includes/details.html' %}
</section>

  <div id="history" class="island c">
    <div id="review-files-header">
      <h3>
        {{ _('App History') }}
      </h3>
    </div>
    <table id="review-files" class="item-history">
      {% for i in range(pager.object_list.count(), 0, -1) %}
      {% set version = pager.object_list[i-1] %}
      <tr class="listing-header">
        <th colspan="2">
          {% trans version = version.version, created = version.created|datetime, version_status = version.status|join(',') %}
          Version {{ version }} &middot; {{ created }} <span class="light">&middot; {{ version_status }}</span>
          {% endtrans %}
        </th>
      </tr>
      <tr class="listing-body">
        {% if product.is_packaged %}
          <td class="files">
            {% set version_files = version.all_files %}
            {% if version_files %}
              <div><strong>{{ _('Files in this version:') }}</strong></div>
              <ul>
              {% for file in version_files %}
              <li class="file-info">
                <span class="light">
                  <div>
                    {{ file_review_status(product, file) }}
                  </div>
                  <a href="{{ url('mkt.developers.apps.file_validation', product.app_slug, file) }}">{{ _('Validation') }}</a>
                  &middot;
                  <a href="{{ url('mkt.files.list', file) }}">{{ _('Contents') }}</a>
                  {% if show_diff and version == product.latest_version %}
                    &middot;
                    <a class="compare" href="{{ url('mkt.files.compare', file, file_compare(file, show_diff)) }}">{{ _('Compare') }}</a>
                  {% endif %}
                </span>
              </li>
              {% endfor %}
              </ul>
            {% endif %}
          </td>
        {% endif %}
        <td>
          <table class="activity">
            {% if version.releasenotes %}
            <tr>
              <th>{{ _('Version Notes') }}</th>
              <td class="activity_version">
                <div class="history-notes">
                  {{ version.releasenotes|nl2br }}
                </div>
              </td>
            </tr>
            {% endif %}
            {% if version.approvalnotes %}
            <tr>
              <th>{{ _('Notes for Reviewers') }}</th>
              <td class="activity_approval">
                <div class="history-notes">
                  {{ version.approvalnotes|nl2br|urlize(100) }}
                </div>
              </td>
            </tr>
            {% endif %}
            {% set records = version.all_activity %}
            {% for record_version in records %}
              {% set record = record_version.activity_log %}
              <tr>
                <th>
                  {{ record.log.short }}
                </th>
                <td>
                  {% trans user=record.user|user_link,
                           date=record.created|babel_datetime %}
                    <div>By {{ user }} on {{ date }}</div>
                  {% endtrans %}
                  {% if record.details %}
                    <div class="log-comments">{{ record.details.comments|nl2br }}</div>
                  {% endif %}
                </td>
              </tr>
            {% endfor %}
            {% if not version.releasenotes and not version.approvalnotes and not records %}
            <tr>
              <td class="no-activity">
                {{ _('This version has not been reviewed.') }}
              </td>
            </tr>
            {% endif %}
          </table>
        </td>
      </tr>
      {% endfor %}
    </table>
  </div>

<form method="POST">
  {{ csrf() }}
  {# form #}
  <div id="review-actions" class="review-actions">
    <div class="action_nav">
      {{ form.action }}
      {{ form.action.errors }}
    </div>

    <div id="review-actions-form">

      {% for (setting, action) in actions %}
      <div class="data-toggle review-actions-desc" data-value="{{ setting }}">
        {{ action['details'] }}
      </div>
      {% endfor %}

      <div class="currently_viewing_warning">
        {{ _("You can still submit this form, however only do so if you know it won't conflict.") }}
      </div>

      <label for="id_comments">{{ form.comments.label }}</label>
      {{ form.comments }}
      {{ form.comments.errors }}
      <div class="review-actions-canned">
        {{ _('Insert canned response...') }}
        {{ form.canned_response }}
      </div>

      <div class="review-actions-section review-actions-tested data-toggle"
           data-value="{{ actions_minimal|join("|") }}">
        <strong>{{ _('Tested with:') }}</strong>
        <label for="{{ form.device_types.auto_id }}">
          {{ _('Device Types:') }}
        </label>
        {{ form.device_types }}
        <label for="{{ form.browsers.auto_id }}">
          {{ _('Browsers:') }}
        </label>
        {{ form.browsers }}
        {{ form.device_types.errors }}
        {{ form.browsers.errors }}
      </div>
      <div class="review-actions-section review-actions-device-override data-toggle" data-value="public">
        <strong>{{ _('Device Override:') }}</strong>
        {{ form.device_override }}
        {{ form.device_override.errors}}
      </div>
      <div class="review-actions-section">
        {{ form.notify }}
        <label for="id_notify">
          {{ form.notify.label }}
        </label>
        {{ form.notify.errors }}
      </div>
      <div class="review-actions-section review-actions-save">
        <span class="currently_viewing_warning">
          {% trans %}
          <strong>Warning!</strong> Another user was viewing this page before you.
          {% endtrans %}
        </span>
        <input type="submit" value="{{ _('Save') }}" />
      </div>
    </div>
  </div>
</form>

</div> {# /#primary #}

{% endblock %}
