<nav id="side-nav" class="report-menu">
  <ul>
    <li class="subscribers">
      <a href="{{ url('collections.stats.subscribers',
                      collection.author_username, collection.slug) }}">
        {{ _('Subscribers') }}
      </a>
    </li>
    <li class="ratings">
      <a href="{{ url('collections.stats.ratings', collection.author_username,
                      collection.slug) }}">
        {{ _('Ratings') }}
      </a>
    </li>
    <li data-report="downloads">
      <a href="{{ url('collections.stats.downloads',
                      collection.author_username, collection.slug) }}">
        {{ _('Downloads') }}
      </a>
    </li>
  </ul>
</nav>
