  <div class="modal" id="exception-note">
    <a class="close">{{ _('close') }}</a>
    <h2></h2>
    <div></div>
  </div>
  <div class="modal" id="custom-criteria">
    <h2>{{ _('Custom Date Range') }}</h2>
    <a class="close">{{ _('close') }}</a>
    <form id="date-range-form" data-no-csrf>
      <fieldset>
        <p>
          <label for="date-range-start">{{ _('From') }}</label>
          <input type="date" id="date-range-start">
        </p>
        <div id="start-date-picker"></div>
      </fieldset>
      <fieldset>
        <p>
          <label for="date-range-end">{{ _('To') }}</label>
          <input type="date" id="date-range-end">
        </p>
        <div id="end-date-picker"></div>
      </fieldset>
      <footer>
        <p>
          <button id="date-range-submit" type="submit">
            {{ _('Update') }}
          </button>
        </p>
      </footer>
    </form>
  </div>
