{%- if pick -%}
{% set is_disco = module_context == 'discovery' %}
{% set src = 'discovery-promo' if is_disco else 'hp-btn-promo' %}
{% set addon = pick.addon %}
<li class="panel" data-addonguid="{{ addon.guid }}">
  <div id="monthly" class="feature promo">
    <hgroup>
      <h2>{{ _("Mozilla&rsquo;s Pick of the Month!") }}</h2>
    </hgroup>
    <div class="wrap">
      <div>
        {% if is_disco %}
          {% set addon_url = services_url('discovery.addons.detail', addon.slug or addon.id, src=src) %}
        {% else %}
          {% set addon_url = addon.get_url_path()|urlparams(src=src) %}
        {% endif %}
        <div class="blurb">
          <h3><a href="{{ addon_url }}" target="_self">{{ addon.name }}</a></h3>
          <p>{{ pick.blurb }}</p>
          {{ install_button(addon, impala=not is_disco) }}
          <a href="{{ addon_url }}" target="_self" class="button details-link">
            {{ _('Learn More') }}</a>
        </div>
        {% if pick.image or addon.current_previews[0] %}
          <a href="{{ addon_url }}" target="_self" class="thumb">
            <img src="{{ pick.image or addon.current_previews[0].image_url }}" alt="">
          </a>
        {% endif %}
      </div>
    </div>
  </div>
</li>
{%- endif -%}
