{% extends "base.html" %}

{% block title %}:: AMO Admin{% endblock %}

{% block site_header_title %}
    <a href="{{ url('zadmin.index') }}">Site Administration</a>
{% endblock %}

{% block site_css %}
    {{ css('zamboni/css') }}
    {{ css('zamboni/devhub') }}
    {{ css('zamboni/admin') }}
{% endblock %}

{% block js %}
    {{ js('zamboni/admin') }}
{% endblock %}

{% block search_form %}
{% endblock %}

{% block navbar %}
<div id="navbar">
  <ul class="top">
      <li class="top"><a href="" class="controller">Manage Add-ons</a>
      <ul>
        <li><a href="{{ url('zadmin.addon-search') }}">Search for add-ons by name or id</a></li>
        <li><a href="{{ url('zadmin.features') }}">Featured add-ons</a></li>
        <li><a href="{{ url('zadmin.jetpack') }}">Upgrade jetpack add-ons</a></li>
        <li><a href="{{ url('zadmin.addon-name-blocklist') }}">Name blocklist</a></li>
        <li><a href="{{ url('zadmin.validation') }}">Bulk add-on validation</a></li>
        <li><a href="{{ url('zadmin.mail') }}">Fake mail</a></li>
        <li><a href="{{ url('zadmin.flagged') }}">Flagged reviews</a></li>
      </ul>
      </li>
      <li class="top"><a href="" class="controller">Manage Users</a>
      <ul>
        <li><a href="{{ url('admin:access_group_changelist') }}">Configure groups</a></li>
      </ul>
      </li>
      <li class="top"><a href="" class="controller">Site Settings</a>
      <ul>
        <li><a href="{{ url('zadmin.settings') }}">See the site settings</a></li>
        <li><a href="{{ url('zadmin.home') }}">Django admin pages</a></li>
      </ul>
      </li>
      <li class="top"><a href="" class="controller">Server Tools</a>
      <ul>
        <li><a href="{{ url('amo.env') }}">See the request environment</a></li>
        <li><a href="{{ url('zadmin.elastic') }}">Manage elasticsearch</a></li>
        <li><a href="{{ url('zadmin.celery') }}">See celery stats</a></li>
        <li><a href="{{ url('zadmin.hera') }}">Purge pages from zeus</a></li>
        <li><a href="{{ url('amo.graphite', 'addons') }}">See graphite trends</a></li>
        <li><a href="{{ url('zadmin.oauth-consumer-create') }}">Create a new OAuth Consumer</a></li>
      </ul>
      </li>
  </ul>
</div>
{% endblock %}

{% block footer %}
  {% include "amo_footer_small.html" %}
{% endblock %}
