{% set hide_header = True %}
{% extends "base.html" %}

{% block title %}:: AMO Admin{% endblock %}

{% block site_header_title %}
  <h1><a href="{{ url('zadmin.index') }}">Site Administration</a></h1>
{% endblock %}

{% block site_css %}
  {{ css('zamboni/css') }}
  {{ css('zamboni/devhub') }}
  {{ css('zamboni/admin') }}
{% endblock %}

{% block bodyattrs %}
data-default-locale="en-us"
{% endblock %}

{% block js %}
    {{ js('zamboni/admin') }}
{% endblock %}

{% block search_form %}
{% endblock %}

{% set links = {
    'addons': [
        ('Search for add-ons by name or id', url('zadmin.addon-search')),
        ('Featured add-ons', url('zadmin.features')),
        ('Discovery Pane promo modules', url('discovery.module_admin')),
        ('Monthly Pick', url('zadmin.monthly_pick')),
        ('Upgrade jetpack add-ons', url('zadmin.jetpack')),
        ('Name blocklist', url('zadmin.addon-name-blocklist')),
        ('Bulk add-on validation', url('zadmin.validation')),
        ('Fake mail', url('zadmin.mail')),
        ('Flagged reviews', url('zadmin.flagged')),
        ('Review spam', url('addons.reviews.spam')),
        ('ACR Reports', url('zadmin.compat')),
        ('Email Add-on Developers', url('zadmin.email_devs')),
    ],
    'users': [
        ('Configure groups', url('admin:access_group_changelist')),
    ],
    'settings': [
        ('View site settings', url('zadmin.settings')),
        ('Django admin pages', url('zadmin.home')),
        ('Site Events', url('zadmin.site_events')),
    ],
    'tools': [
        ('View request environment', url('amo.env')),
        ('Manage elasticsearch', url('zadmin.elastic')),
        ('View celery stats', url('zadmin.celery')),
        ('Purge data from memcache', url('zadmin.memcache')),
        ('Purge pages from zeus', url('zadmin.hera')),
        ('View graphite trends', url('amo.graphite', 'addons')),
        ('Create a new OAuth Consumer', url('zadmin.oauth-consumer-create')),
        ('View event log', url('admin:editors_eventlog_changelist')),
    ],
} %}

{% macro ul(links, section) %}
  <ul>
    {% for title, link in links[section] %}
      <li><a href="{{ link }}">{{ title }}</a></li>
    {% endfor %}
  </ul>
{% endmacro %}

{% block navbar %}
<div id="navbar">
  <ul class="top">
    <li class="top">
      <a href="" class="controller">Manage Add-ons</a>
      {{ ul(links, 'addons') }}
    </li>
    <li class="top">
      <a href="" class="controller">Manage Users</a>
      {{ ul(links, 'users') }}
    </li>
    <li class="top">
      <a href="" class="controller">Site Settings</a>
      {{ ul(links, 'settings') }}
    </li>
    <li class="top">
      <a href="" class="controller">Server Tools</a>
      {{ ul(links, 'tools') }}
    </li>
  </ul>
</div>
{% endblock %}

{% block footer %}{% endblock %}
