.inverse .primary {
    padding-top: 95px;
}

.inverse.developer-hub .primary {
  padding-top: 0;
}

.addon-tags li.hover .removetag,
#tags .nojs li .removetag {
    font-size: 0;
    line-height: 0;
    height: 16px;
    width: 16px;
}

.inline-delete-box .button {
  display: inline-block;
  float: none;
}

.translation-row, 
.graybox, 
.add-button {
  zoom: 1;
}

.object-lead {
    zoom: 1;
}
