#aux-nav {
    float:right;
}
#aux-nav ul:hover {
    border-right: 3px solid #A2C2D7;
}
#aux-nav ul:hover ul {
    display: block;
}

.toggle-help,
.toggle-info {
    display: none;
}

.install-beta {
    display: block;
}


#search-query .query-label {
    display: none;
}

.install-button .button.platform {
    display: inherit;
}

form.go button {
    display: inherit;
}

.flag-review, .delete-review {
    display: none;
}

.js-hidden {
    display: block;
}