SRC_DIR = "/data/addons-dev/src/addons-dev.allizom.org/zamboni"
WWW_DIR = "/data/addons-dev/www/addons-dev.allizom.org/zamboni"

REMORA_DIR = "/data/addons-dev/src/addons-dev.allizom.org-remora"

REMOTE_APP = "/data/www/addons-dev.allizom.org/zamboni"
REMOTE_UPDATE_SCRIPT = "/data/bin/update-www.sh"

CELERY_SERVICE_PREFIX = "celeryd-dev"
CELERY_SERVICE_MKT_PREFIX = "celeryd-marketplace-dev"

UPDATE_REF = "origin/master"
UPDATE_VENDOR_REF = None # By default vendor will not update

WEB_HOSTGROUP = "addons-dev"
CELERY_HOSTGROUP = "addons-celery-dev"

SSH_KEY = None

# assumes mod_wsgi if False
# Gunicorn default services that need to be restarted on deploy
GUNICORN = [
            'gunicorn-addons',
            'gunicorn-addons-services',
            'gunicorn-addons-update',
            'gunicorn-marketplace',
            'gunicorn-receiptcheck-marketplace',
            'gunicorn-pfs',
           ]

CRON_NAME = "addons-dev"
