{% from "devhub/includes/macros.html" import tip, empty_unless %}

<form method="post" action="{{ url('devhub.addons.section', addon.id, 'details', 'edit') }}">
  <h3>
    {{ _('Add-on Details') }}
    {% if not editable %}
      <a href="{{ url('devhub.addons.section', addon.id, 'details', 'edit') }}" class="button">
      {{ _('Edit') }}</a>
    {% endif %}
  </h3>
  <div class="item">
    <div class="item_wrapper">
      <table>
        <caption>{{ _('Add-on Details for {0}')|f(addon.name) }}</caption>
        <tbody>
          <tr>
            <th>
              {{ tip(_("Description"),
                     _("A longer explanation of features, functionality, and other
                        relevant information. This field is only displayed on the
                        add-on's details page.")) }}
            </th>
            <td>
              {% if editable %}
                {{ form.description|safe }}
                {{ form.description.errors|safe }}
              {% else %}
                {% call empty_unless(addon.description) %}
                  <div id="addon_description">{{ addon.description }}</div>
                {% endcall %}
              {% endif %}
            </td>
          </tr>
          <tr>
            <th>
              {{ tip(_("Default Locale"),
                     _("Information about your add-on is displayed in this locale
                        unless you override it with a locale-specific translation.")) }}
            </th>
            <td class="addon_edit_locale">
              {% if editable %}
                {{ form.default_locale|safe }}
                {{ form.default_locale.errors|safe }}
              {% else %}
                {{ addon.language_ascii() }}
              {% endif %}
            </td>
          </tr>
          <tr>
            <th>
              {{ tip(_("Homepage"),
                     _("If your add-on has another homepage, enter its address here.
                        If your website is localized into other languages, multiple
                        translations of this field can be added.")) }}
            </th>
            <td>
              {% if editable %}
                {{ form.homepage|safe }}
                {{ form.homepage.errors|safe }}
              {% else %}
                {% call empty_unless(addon.homepage) %}
                  {{ addon.homepage }}
                {% endcall %}
              {% endif %}
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    {% if editable %}
    <div class="listing-footer">
      <button>{{ _('Save Changes') }}</button> {{ _('or') }}
        <a href="{{ url('devhub.addons.section', addon.id, 'details') }}"
          class="addon-edit-cancel">
          {{ _('Cancel') }}</a>
    </div>
    {% endif %}
  </div>
</form>

