{# TODO(apps): Finalize copy. #}
{% set urls = (
  (addon.get_edit_url(), _('Edit Listing')),
  (addon.get_edit_url('owner'), 'Manage Authors' if addon.is_webapp()
                                else _('Manage Authors & License')),
  (url('devhub.addons.profile', addon.slug), _('Manage Developer Profile')),
  (url('devhub.addons.payments', addon.slug), _('Manage Payments')),
  (url('devhub.versions', addon.slug), 'Manage App Status' if addon.is_webapp()
                                        else _('Manage Status & Versions')),
) %}
<section class="secondary" role="complementary">
  <div class="highlight" id="edit-addon-nav">
    <h3>{{ addon.name }}</h3>
    <ul class="refinements">
      {% for url, title in urls %}
        <li {% if url in request.path %}class="selected"{% endif %}>
          <a href="{{ url }}">{{ title }}</a></li>
      {% endfor %}
    </ul>
    <ul class="refinements">
      <li><a href="{{ addon.get_url_path() }}">
        {{ _('View Listing') }}</a></li>
      <li><a href="{{ url('devhub.feed', addon.slug) }}">
        {{ _('View Recent Changes') }}</a></li>
      {% if not addon.is_webapp() %}
        <li class="view-stats"><a href="{{ url('stats.overview', addon.slug) }}">
          {{ _('View Statistics Dashboard') }}</a></li>
      {% endif %}
    </ul>
  </div>
</section>
