{% set urls = (
  (addon.get_dev_url(), _('Edit Listing')),
  (addon.get_dev_url('owner'), loc('Manage Authors') if addon.is_webapp()
                               else _('Manage Authors & License')),
  (addon.get_dev_url('profile'), _('Manage Developer Profile')),
  (addon.get_dev_url('payments'), _('Manage Payments')),
  (addon.get_dev_url('versions'), loc('Manage App Status') if addon.is_webapp()
                                  else _('Manage Status & Versions')),
) %}
<section class="secondary" role="complementary">
  <div class="highlight" id="edit-addon-nav">
    <h3>{{ addon.name }}</h3>
    <ul class="refinements">
      {% for url, title in urls %}
        <li {% if url in request.path %}class="selected"{% endif %}>
          <a href="{{ url }}">{{ title }}</a></li>
      {% endfor %}
    </ul>
    <ul class="refinements">
      <li><a href="{{ addon.get_url_path() }}">
        {{ _('View Listing') }}</a></li>
      <li><a href="{{ url('devhub.feed', addon.slug) }}">
        {{ _('View Recent Changes') }}</a></li>
      {% if not addon.is_webapp() %}
        <li class="view-stats"><a href="{{ url('stats.overview', addon.slug) }}">
          {{ _('View Statistics Dashboard') }}</a></li>
      {% endif %}
    </ul>
  </div>
</section>
