{% from "devhub/includes/macros.html" import tip, empty_unless %}

<h3>
  {{ _('Images and Videos') }}
  <a href="#" class="button">{{ _('Edit') }}</a>
</h3>
<div class="item">
  <table>
    <caption>{{ _('Add-on Details for {0}')|f(addon.name) }}</caption>
    <tbody>
      <tr>
        <th>
          {{ tip(_("Add-on Icon"),
                 _("Upload an icon for your add-on or choose from one of ours.
                   The icon is displayed nearly everywhere your add-on is.
                   Uploaded images will be resized to 32 x 32 pixels and must be
                   one of the following image types: .png, .jpg, .gif")) }}
        </th>
        <td>
          <img src="{{ addon.icon_url }}">
        </td>
      </tr>

      <tr>
        <th>{{ _('Screenshots and Videos') }}</th>
        <td>
          {% if previews %}
            {% for preview in preview %}
              <img src="{{ preview.thumbnail_url }}">
            {% endfor %}
          {% endif %}
        </td>
      </tr>
    </tbody>
  </table>
</div>


