{% from "devhub/includes/macros.html" import tip, some_html_tip %}
<tr>
  <th>{{ tip(_('EULA'),
             _('Users will be required to accept the following End-User License Agreement (EULA) prior to installing your add-on. The presence of a EULA significantly affects the number of downloads an add-on receives. Please note that a EULA is not the same as a code license, such as the GPL or MPL.')) }}</th>
  <td>
    {{ policy_form.has_eula|safe }}
    {{ policy_form.has_eula.label_tag()|safe }}
    <div class="eula {{ 'hidden' if not policy_form.initial.has_eula }}">
      {{ policy_form.eula.errors|safe }}
      <label data-for="eula" class="above-the-field">
        {{ policy_form.eula.label }}
      </label>
      {{ policy_form.eula|safe }}
      {{ some_html_tip() }}
    </div>
  </td>
</tr>
<tr>
  <th>{{ tip(_('Privacy Policy'),
             _("If your add-on transmits any data from the user's computer, a privacy policy is required that explains what data is sent and how it is used.")) }}</th>
  <td>
    {{ policy_form.has_priv|safe }}
    {{ policy_form.has_priv.label_tag()|safe }}
    <div class="priv {{ 'hidden' if not policy_form.initial.has_priv }}">
      {{ policy_form.privacy_policy.errors|safe }}
      <label data-for="privacy_policy" class="above-the-field">
        {{ policy_form.privacy_policy.label }}
      </label>
      {{ policy_form.privacy_policy|safe }}
      {{ some_html_tip() }}
    </div>
  </td>
</tr>
