{% extends 'reviewers/base.html' %}
{% from 'site/helpers/form_row.html' import form_row %}

{% block extrahead %}
  {{ super() }}
  {{ css('mkt/gaia') }}
{% endblock %}

{% block breadcrumbs %}
  {{ reviewers_breadcrumbs(queue=tab) }}
{% endblock %}

{% block queue_menu %}
  {{ macros.dropdown_menu('queues', _('Queues'), queue_tabnav_themes(),
                          'queue' in request.path) }}
{% endblock %}

{% block log_menu %}
  {{ macros.dropdown_menu('logs', _('Logs'), logs_tabnav_themes(),
                          'logs' in request.path) }}
{% endblock %}

{% block queues_overlay %}
  {{ macros.mobile_overlay('queue', _('Theme Queues'), queue_tabnav_themes()) }}
{% endblock %}

{% block logs_overlay %}
  {{ macros.mobile_overlay('log', _('Theme Logs'), logs_tabnav_themes()) }}
{% endblock %}
