{% if theme_reviews %}
  <table id="review-history">
  <thead>
    <tr>
      <th>{{ _('Review Date') }}</th>
      {% if not user_history %}<th>{{ _('Reviewer') }}</th>{% endif %}
      {% if user_history %}<th>{{ _('Theme') }}</th>{% endif %}
      <th>{{ _('Action') }}</th>
      <th>{{ _('Reason') }}</th>
      <th>{{ _('Comment') }}</th>
    </tr>
  </thead>
  <tbody>
    {% for theme_review in theme_reviews.object_list %}
      {% set details = theme_review.details %}
      <tr>
        <td>{{ theme_review.created|datetime('%Y-%m-%d') }}</td>
        {% if not user_history %}<td>{{ theme_review.user.display_name }}</td>
        {% else %}
          <td>
            <a href="{{ url('reviewers.themes.single', theme_review.arguments[0].slug) }}">
              {{ theme_review.arguments[0].name }}
            </a>
          </td>
        {% endif %}
        <td>{{ action_dict[details.action] }}</td>
        <td>{% if details.reject_reason not in ['', None] %}{{ reject_reasons[details.reject_reason][1] }}{% endif %}</td>
        <td>{{ details.comment }}</td>
      </tr>
    {% endfor %}
  </tbody>
  </table>
  {% if theme_reviews.paginator.num_pages > 1 %}
    <div class="listing-footer">
      {{ theme_reviews|impala_paginator }}
    </div>
  {% endif %}
{% else %}
  <h4>{{ _('There are currently no reviews.') }}</h4>
{% endif %}
