{% extends "reviewers/base.html" %}

{% block breadcrumbs %}
  {{ reviewers_breadcrumbs(items=[(None, _('Theme Review Log'))]) }}
{% endblock %}

{% block log_url %}
    {{ url('reviewers.themes.logs') }}
{% endblock %}

{% block content %}

  {% include "reviewers/logs_filter.html" %}
  <h1>{{ _('Theme Review Log') }}</h1>

  <section class="island">
    {% if pager.object_list %}
      <table id="log-listing" class="data-grid items">
        <thead>
          <tr class="listing-header">
            <th>{{ _('Date') }}</th>
            <th>{{ _('Event') }}</th>
            <th>{{ _('Reviewer') }}</th>
            <th>&nbsp;</th>
          </tr>
        </thead>
        <tbody>
          {% for item in pager.object_list %}
            <tr{% if item.arguments[0] %} data-addonid="{{ item.arguments[0].id }}"{% endif %}>
              <td>{{ item.created|babel_datetime }}</td>
              <td>
                  <a href="{{ url('reviewers.themes.single', item.arguments.0.slug) }}">{{ item.arguments.0.name }}</a>
                  {{ ACTION_DICT.get(item.details.action) }}
              </td>
              <td>{{ item.user.display_name }}</td>
              <td>
                <a class="comments show" href="#">{{ _('Show Comments') }}</a>
                <a class="comments hide" href="#">{{ _('Hide Comments') }}</a>
              </td>
            </tr>
            <tr class="comments hide">
              <td>&nbsp;</td>
              <td colspan="4">{{ item.details.comment }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    {% else %}
      <p class="no-results">{{ _('No reviews found for this period.') }}</p>
    {% endif %}

    {% if pager.has_other_pages() %}
      {{ pager|impala_paginator }}
    {% endif %}
  </section>

{% endblock %}
