<div class="add-file-modal upload-file modal hidden">
  <form method="post" id="upload-file" action="{{ action }}"
        enctype="multipart/form-data">
    <h3>{{ title }}</h3>
    <div class="upload-file-box">
      <p>
        {% trans %}
          Files added to reviewed versions must be reviewed before they
          will be available for download.
        {% endtrans %}
      </p>
      {{ csrf() }}

      <div class="hidden">
        {{ new_file_form.upload }}
      </div>
      <input type="file" id="upload-addon"  data-upload-url="{{ upload_url }}">

      <div class="platform{% if addon.type == amo.ADDON_SEARCH %} hide{% endif %}">
      {% if modal_type == 'file' %}
        <label>{{ _('Select the target platform for this file.') }}</label>
        {{ new_file_form.platform }}
      {% elif modal_type == 'version' %}
        <div class="desktop-platforms">
          <label>{{ _('Which desktop platforms is this file compatible with?') }}</label>
          {{ new_file_form.desktop_platforms }}
        </div>
        <div class="mobile-platforms">
          <label>{{ _('Which mobile platforms is this file compatible with?') }}</label>
          {{ new_file_form.mobile_platforms }}
        </div>
      {% endif %}
      </div>
      {% if is_admin %}
      <div class="admin-settings">
        <label>{{ _('Administrative overrides') }}</label>
        <div>
          <label for="{{ new_file_form.admin_override_validation.auto_id }}" class="addon-upload-failure-dependant">
            {{ new_file_form.admin_override_validation }}
            {{ new_file_form.admin_override_validation.label }}
          </label>
        </div>
      </div>
      {% endif %}
    </div>

    <div class="upload-status-button-add">
      <button class="addon-upload-dependant button" id="upload-file-finish" disabled>{{ action_label }}</button>
      {{ _('or') }}
      <a href="#" class="upload-file-cancel">{{ _('Cancel') }}</a>
    </div>
  </form>
</div>
