{% extends "devhub/base.html" %}

{% from "devhub/includes/macros.html" import tip, empty_unless, compat %}

{% set title = _('Manage Version {0}')|f(version.version) %}

{% block title %}{{ dev_page_title(title, addon) }}{% endblock %}

{% block content %}
<header>
  {{ dev_breadcrumbs(addon) }}
  {# L10n: {0} is an add-on name. #}
  <h2>{{ _('Manage {0}')|f(addon.name) }}</h2>
</header>
<section class="primary devhub-form" role="main">
  <h3>{{ title }}</h3>
  <a href="{{ url('devhub.versions', addon.id) }}">{{ _('Back to All Versions') }}</a>
  <form method="post" action="">
    <div class="item">
      <div class="item_wrapper">
        {{ csrf() }}
        <table>
          <tr>
            <th>{{ _("Files") }}</th>
            <td>
              {{ file_form.management_form|safe }}
              {{ file_form.non_form_errors()|safe }}
              <table id="file-list">
                <tbody>
                  {% for form in file_form.forms %}
                    {% include "devhub/includes/version_file.html" %}
                  {% endfor %}
                </tbody>
              </table>
              <a href="#" class="add-file button">{{ _('Upload Another File') }}</a>
            </td>
          </tr>
          <tr>
            <th>{{ tip(_("Compatibility"),
                       _("Adjusting application information here will allow users to install your
                          add-on even if the install manifest in the package indicates that the
                          add-on is incompatible.")) }}</th>
            <td class="compat-versions">
                {{ compat_form.non_form_errors()|safe }}
                {{ compat_form.management_form|safe }}
                <table>
                  <tbody>
                    {% for form in compat_form.initial_forms %}
                      {{ compat(form) }}
                    {% endfor %}
                    {% for form in compat_form.extra_forms %}
                      {{ compat(form, is_extra_form=True) }}
                    {% endfor %}
                  </tbody>
                </table>
                <p class="add-app">
                  <a href="#">{{ _('Add Another Application&hellip;')|safe }}</a>
                </p>
                <div class="new-apps"></div>
            </td>
          </tr>
          <tr>
            <th>
              <label for="releasenotes">{{ _("Release Notes") }}</label>
              {{ tip(None, "Information about changes in this release, new features,
                            known bugs, and other useful information specific to this
                            release/version. This information is also shown in the
                            Add-ons Manager when updating.") }}
            </th>
            <td>
              {{ version_form.releasenotes.errors|safe }}
              {{ version_form.releasenotes|safe }}
            </td>
          </tr>
          <tr>
            <th>
              {{ _("License") }}
            </th>
            <td>
              {{ version.license.name }}
              {% if version.license.url %}
                <a class="extra" href="{{ version.license.url }}">{{ _('Details') }}</a>
              {% endif %}
            </td>
          </tr>
          <tr>
            <th>{{ _('Approval Status') }}</th>
            <td>
              <ul>
                {% for file in version.all_files %}
                <li>
                  {% trans file=file.id, platform=file.amo_platform.name,
                           created=file.created|datetime,
                           status=amo.STATUS_CHOICES[file.status],
                           status_date=file.datestatuschanged|datetime %}
                     File {{ file }} ({{ platform }}) created on {{ created }}
                     and changed to {{ status }} on {{ status_date }}
                  {% endtrans %}
                </li>
                {% endfor %}
              </ul>
            </td>
            <tr>
              <th>
                <label for="approvalnotes">{{ _("Notes for Reviewers") }}</label>
                {{ tip(None, "Optionally, enter any information that may be useful
                              to the Editor reviewing this add-on, such as test
                              account information.") }}
              </th>
              <td>
                {{ version_form.approvalnotes.errors|safe }}
                {{ version_form.approvalnotes|safe }}
              </td>
            </tr>
          </tr>
        </table>
      </div>
      <div class="listing-footer">
        <button type="submit">{{ _('Save Changes') }}</button> {{ _('or') }}
        <a href="{{ url('devhub.versions', addon.id) }}">{{ _('Cancel') }}</a>
      </div>
    </div>
  </form>
  <div class="add-file-modal upload-file modal hidden">
    <form method="post" id="upload-file" action="{{ url('devhub.upload') }}"
          enctype="multipart/form-data">
      <h3>{{ _('Upload a New File') }}</h3>
      <div class="upload-file-box">
        <p>
          {% trans %}
            Files added to reviewed versions must be reviewed before they
            will be available for download.
          {% endtrans %}
        </p>

        {{ csrf() }}
        <label>{{ _('Select the target platform for this file.') }}</label>
        {{ new_file_form.platform|safe }}
        <div class="hidden">
        {{ new_file_form.upload|safe }}
        </div>

        <div class="invisible-upload" id="upload-file-widget">
          <a class="button prominent" href="#">{{ _('Select a File') }}</a>
          <input type="file" id="upload-file-input">
        </div>
        <div class="upload-details">
          {{ _('Your add-on should end with .xpi or .jar.') }}
        </div>
      </div>

      <div class="upload-status">
        <strong id="upload-status-text"></strong>
        <div id="upload-status-bar">
          <div></div>
        </div>
        <div id="uploadstatus">
          <span id="uploadstatus_percent"></span>
          &middot;
          <progress id="uploadstatus_progress"></progress>
          <span id="uploadstatus_abort">
            &middot;
            <a href="#">{{ _('Cancel') }}</a>
          </span>
        </div>
        <div id="upload-status-results"></div>
      </div>

      <div class="upload-status-button-add">
        <button id="upload-file-finish" disabled data-url="{{ url('devhub.versions.add_file', addon.id, version.id) }}" class="button">{{ _('Add File') }}</button> or
        <a href="#" class="upload-file-cancel">{{ _('Cancel') }}</a>
      </div>
    </form>
  </div>
</section>
{% include "devhub/includes/addons_edit_nav.html" %}
{% endblock %}
