{% extends "devhub/base.html" %}

{% from "devhub/includes/macros.html" import tip, empty_unless, compat %}

{% set title = _('Manage Version {0}')|f(version.version) %}

{% block title %}{{ dev_page_title(title, addon) }}{% endblock %}

{% block content %}
<header>
  {{ dev_breadcrumbs(addon, items=[(url('devhub.versions', addon.slug),
                                    _('Status & Versions')),
                                   (None, title)]) }}
  {# L10n: {0} is an add-on name. #}
  <h2>{{ _('Manage {0}')|f(addon.name) }}</h2>
</header>
<section class="primary devhub-form edit-version" role="main">
  <h3>{{ title }}</h3>
  <form method="post" action="">
    <div class="item">
      <div class="item_wrapper">
        {{ csrf() }}
        <table>
          <tr>
            <th>{{ _("Files") }}</th>
            <td>
              {{ file_form.management_form|safe }}
              {{ file_form.non_form_errors()|safe }}
              <table id="file-list">
                <tbody>
                  {% for form in file_form.forms %}
                    {% include "devhub/includes/version_file.html" %}
                  {% endfor %}
                </tbody>
              </table>
              {% if version.is_allowed_upload() %}
              <a href="#" class="add-file button">{{ _('Upload Another File') }}</a>
              {% endif %}
            </td>
          </tr>
          {% if compat_form %}
          <tr>
            <th>{{ tip(_("Compatibility"),
                       _("Adjusting application information here will allow users to install your
                          add-on even if the install manifest in the package indicates that the
                          add-on is incompatible.")) }}</th>
            <td class="compat-versions">
                {{ compat_form.non_form_errors()|safe }}
                {{ compat_form.management_form|safe }}
                <table>
                  <tbody>
                    {% for form in compat_form.initial_forms %}
                      {{ compat(form) }}
                    {% endfor %}
                    {% for form in compat_form.extra_forms %}
                      {{ compat(form, is_extra_form=True) }}
                    {% endfor %}
                  </tbody>
                </table>
                <p class="add-app{% if not compat_form.extra_forms %} hide{% endif %}">
                  <a href="#">{{ _('Add Another Application&hellip;')|safe }}</a>
                </p>
                <div class="new-apps"></div>
            </td>
          </tr>
          {% endif %}
          <tr>
          {% with field = version_form.releasenotes %}
            <th>
              <label for="{{ field.auto_id }}">{{ _("Release Notes") }}</label>
              {{ tip(None, "Information about changes in this release, new features,
                            known bugs, and other useful information specific to this
                            release/version. This information is also shown in the
                            Add-ons Manager when updating.") }}
            </th>
            <td>
              {{ field.errors|safe }}
              {{ field|safe }}
            </td>
          {% endwith %}
          </tr>
          <tr>
            <th>
              {{ _("License") }}
            </th>
            <td>
              {{ version.license.name }}
              {% if version.license.url %}
                <a class="extra" href="{{ version.license.url }}">{{ _('Details') }}</a>
              {% endif %}
            </td>
          </tr>
          <tr>
            <th>{{ _('Approval Status') }}</th>
            <td>
              <ul>
                {% for file in version.all_files %}
                <li>
                  {% trans file=file.id, platform=file.amo_platform.name,
                           created=file.created|datetime,
                           status=amo.STATUS_CHOICES[file.status],
                           status_date=file.datestatuschanged|datetime %}
                     File {{ file }} ({{ platform }}) created on {{ created }}
                     and changed to {{ status }} on {{ status_date }}
                  {% endtrans %}
                </li>
                {% endfor %}
              </ul>
            </td>
          </tr>
          <tr>
          {% with field = version_form.approvalnotes %}
            <th>
              <label for="{{ field.auto_id }}">{{ _("Notes for Reviewers") }}</label>
              {{ tip(None, "Optionally, enter any information that may be useful
                            to the Editor reviewing this add-on, such as test
                            account information.") }}
            </th>
            <td>
              {{ field.errors|safe }}
              {{ field|safe }}
            </td>
          {% endwith %}
          </tr>
        </table>
      </div>
      <div class="listing-footer">
        <button type="submit">{{ _('Save Changes') }}</button> {{ _('or') }}
        <a href="{{ url('devhub.versions', addon.slug) }}">{{ _('Cancel') }}</a>
      </div>
    </div>
  </form>
  
  {{ add_file_modal(_("Upload a new file"),
                    url('devhub.versions.add_file', addon.slug, version.id),
                    url('devhub.upload'), _('Add File') )}}
</section>
{% include "devhub/includes/addons_edit_nav.html" %}
{% endblock %}
