{% extends "devhub/base.html" %}

{% set title = _('Status & Versions') %}
{% block title %}{{ dev_page_title(title, addon) }}{% endblock %}

{% macro status(cls, msg) %}
<strong class="status-{{ cls }}">{{ msg }}</strong>
{% endmacro %}

{% block content %}
<header>
  {{ dev_breadcrumbs(addon, items=[(None, title)]) }}
  <h2>{{ title }}</h2>
</header>
<section id="edit-addon" class="primary devhub-form" role="main">
  <h3>{{ _('Current Status') }}</h3>
  <div class="item" id="version-status">
    <div>
      {% if addon.disabled_by_user %}
        {{ status('disabled', _('This add-on has been <b>disabled</b>.')|safe) }}
        {{ _("Your add-on is disabled and will not show up in our gallery or update service.") }}
      {% elif addon.status == amo.STATUS_NULL %}
        {{ status('incomplete', _('This add-on is <b>incomplete</b>.')|safe) }}
        {{ _('Please complete your add-on.') }}
      {% elif addon.status == amo.STATUS_UNREVIEWED %}
        {{ status('unreviewed',  _('This add-on is <b>awaiting preliminary review</b>.')|safe) }}
        {{ _('ASK FLIGTAR') }}
      {% elif addon.status == amo.STATUS_NOMINATED %}
        {{ status('nominated', _('This add-on is <b>awaiting full review</b>.')|safe) }}
        {{ _('ASK FLIGTAR') }}
      {% elif addon.status == amo.STATUS_PUBLIC %}
        {{ status('fully-approved', _('This add-on has been <b>fully approved</b>.')|safe) }}
        {{ _('ASK FLIGTAR') }}
      {% elif addon.status == amo.STATUS_DISABLED %}
        {{ status('admin-disabled', _('This add-on has been <b>disabled by the admins</b>.')|safe) }}
        {{ _('ASK FLIGTAR') }}
      {% elif addon.status == amo.STATUS_LITE %}
        {{ status('lite', _('This add-on has been <b>preliminarily approved</b>.')|safe) }}
        {{ _('ASK FLIGTAR') }}
      {% elif addon.status == amo.STATUS_LITE_AND_NOMINATED %}
        {{ status('lite-nom', _('This add-on has been <b>preliminarily approved</b> and is <b>awaiting full review</b>.')|safe) }}
        {{ _('ASK FLIGTAR') }}
      {% elif addon.status == amo.STATUS_PURGATORY %}
        {{ status('purgatory', _('Please select a review option.')) }}
        {% trans url=remora_url('developers/docs/policies/reviews#selection') %}
          All add-ons hosted in our gallery must now be reviewed by an editor. If you
          wish to continue hosting your add-on, please select a review process from the
          choices below. <a href="{{ url }}">Learn more about the review choices.</a>
        {% endtrans %}
      {% endif %}

      <div class="version-status-actions item-actions">
        {% set req = {amo.STATUS_PUBLIC: _('Request Full Review'),
                      amo.STATUS_LITE: _('Request Preliminary Review')} %}
        {% for status in addon.can_request_review() %}
          <form method="post"
                action="{{ url('devhub.request-review', addon.slug, status) }}">
            {{ csrf() }}
            <button class="link" type="submit">{{ req[status] }}</button> &middot;
          </form>
        {% endfor %}
        {% if not addon.is_disabled and addon.is_under_review %}
          <a href="#" id="cancel-review">{{ _('Cancel Review Request') }}</a> &middot;
        {% endif %}
        {% if addon.disabled_by_user %}
          <a href="{{ url('devhub.addons.enable', addon.slug) }}" id="enable-addon">{{ _('Enable Add-on') }}</a> &middot;
        {% elif not addon.is_disabled %}
          <a href="#" id="disable-addon">{{ _('Disable Add-on') }}</a> &middot;
        {% endif %}
        <a href="#" id="delete-addon">{{ _('Delete Add-on') }}</a>
        {% set current = addon.get_current_version() %}
        {% if current %}
          <span class="version-changed">
          {{ _('Displayed version: {0}')|f(current.version) }}
          </span>
        {% endif %}
      </div>
    </div>
  </div>

  <h3>{{ _('Version History') }}</h3>
  <div class="item" id="version-list">
    <div class="item_wrapper">
      <table>
        <tr>
          <th>{{ _('Version') }}</th>
          <th>{{ _('Submitted') }}</th>
          <th>{{ _('Status') }}</th>
          <th>{{ _('Validation') }}</th>
          <th class="version-delete">{{ _('Delete') }}</th>
        </tr>
        <tr>
          <td colspan="5">
            <a href="#" class="button">{{ _('Upload a New Version') }}</a>
          </td>
        </tr>
        {% for version in versions.object_list %}
        <tr>
          <td>
            <strong>
              <a href="{{ url('devhub.versions.edit', addon.slug, version.id) }}"
                 title="{{ _('Edit this version') }}">
                {{ _('Version {0}', 'addon_display_header_version')|f(version.version) }}</a>
            </strong>
          </td>
          <td>
            <span title="{{ version.created|isotime }}">
              {{ version.created|datetime }}
            </span>
          </td>
          <td class="file-status">
            {% for (count, status) in dev_files_status(version.all_files): %}
            <div>
              {# L10n: {0} is the number of files, {1} is the status #}
              {{ ngettext('{0} file is {1}', '{0} files are {1}', count)
                          .format(count, status) }}
            </div>
            {% else %}
            {{ _('0 files') }}
            {% endfor %}
          </td>
          <td>
            {# TODO(gkoberger): Add validation in when it's implemented #}
            <strong>Coming Soon</strong>
          </td>
          <td class="version-delete">
            <a href="#" class="remove" data-version="{{ version.id }}">x</a>
          </td>
        </tr>
        {% endfor %}
      </table>
    </div>
    {% if versions.paginator.num_pages > 1 %}
      <div class="listing-footer">
        {{ versions|paginator }}
      </div>
    {% endif %}
  </div>

</section>

<div id="modals">

  <div id="modal-delete" class="modal modal-delete">
    {% include "devhub/addons/listing/delete_form.html" %}
  </div>

  <div id="modal-delete-version" class="modal modal-delete">
    <form method="post" action="{{ url('devhub.versions.delete', addon.slug) }}">
      <h3>{{ _('Delete Version') }}</h3>
      <p>
        {% trans %}
          Deleting your add-on version will remove it from the site.
        {% endtrans %}
      </p>
      {{ csrf() }}
      <input type="hidden" name="version_id" class="version_id">
      <input type="hidden" name="addon_id" class="addon_id" value="{{ addon.id }}">
      <button type="submit" class="delete-button">{{ _('Delete Version') }}</button>
      {{ _('or') }} <a href="#" class="close">{{ _('Cancel') }}</a>
    </form>
  </div>

  {% if not addon.disabled_by_user and not addon.is_disabled %}
  <div id="modal-disable" class="modal">
    <form method="post" action="{{ url('devhub.addons.disable', addon.slug) }}">
      <h3>{{ _('Disable Add-on') }}</h3>
      <p>
        {% trans %}
          Disabling your add-on will prevent it from appearing anywhere in our
          gallery and will stop users from receiving automatic updates.
        {% endtrans %}
      </p>
      <p>
        {% trans %}
          Are you sure you wish to disable your add-on?
        {% endtrans %}
      </p>
      {{ csrf() }}
      <input type="hidden" name="version_id" class="version_id">
      <input type="hidden" name="addon_id" class="addon_id" value="{{ addon.id }}">
      <button type="submit">{{ _('Disable Add-on') }}</button>
      {{ _('or') }} <a href="#" class="close">{{ _('Cancel') }}</a>
    </form>
  </div>
  {% endif %}

  {% if not addon.is_disabled and addon.is_under_review %}
  <div id="modal-cancel" class="modal">
    <form method="post" action="{{ url('devhub.addons.cancel', addon.slug) }}">
      <h3>{{ _('Cancel Review Request') }}</h3>
      <p>
        {% if addon.status == amo.STATUS_LITE_AND_NOMINATED %}
          {% trans %}
            Canceling your review request will leave your
            add-on as preliminarily reviewed.
          {% endtrans %}
        {% else %}
          {% trans %}
            Canceling your review request will mark your add-on incomplete.
            If you do not complete your add-on after several days
            by re-requesting review, it will be deleted.
          {% endtrans %}
        {% endif %}
      </p>
      <p>
        {% trans %}
          Are you sure you wish to cancel your review request?
        {% endtrans %}
      </p>
      {{ csrf() }}
      <input type="hidden" name="addon_id" class="addon_id" value="{{ addon.id }}">
      <button type="submit">{{ _('Cancel Review Request') }}</button>
      {{ _('or') }} <a href="#" class="close">{{ _('Close') }}</a>
    </form>
  </div>
  {% endif %}
</div>

{% include "devhub/includes/addons_edit_nav.html" %}
{% endblock %}
