{% extends "mobile/base.html" %}

{% block title %}
{% if category %}
  {{ page_title(category.name) }}
{% else %}
  {{ page_title(_('Extensions')) }}
{% endif %}
{% endblock %}

{% if category %}
  {% set base_url = url('browse.extensions', category.slug) %}
{% else %}
  {% set base_url = url('browse.extensions') %}
{% endif %}

{% block page %}
  {% if category %}
    <h2>{{ category.name }}</h2>
  {% else %}
    <h2>{{ _('Extensions') }}</h2>
  {% endif %}
  {{ mobile_sort_by(base_url, sort_opts, sorting) }}

  <div class="addon-listing">
    <ul class="listview">
      {{ addon_listing_items_mobile(addons.object_list, src='category', sort=sorting) }}
    </ul>
  </div>

  {{ addons|mobile_paginator }}
{% endblock %}
