{% extends "browse/impala/base_listing.html" %}

{% block page %}
  <h2>{{ title }}</h2>
  {{ mobile_sort_by(request.get_full_path(), selected=sorting, search_filter=filter) }}
  {% if addons.object_list %}
    <div class="addon-listing">
      <ul class="listview">
        {{ addon_listing_items_mobile(addons.object_list, src='category', sort=sorting) }}
      </ul>
    </div>
  {% else %}
    <p class="no-results">{{ _('No results found.') }}</p>
  {% endif %}
  {% if sorting != 'featured' %}
    {{ addons|mobile_paginator }}
  {% endif %}
{% endblock %}
