{% set base = url('addons.detail', addon.id)|urlparams('reviews') %}
{% if collection_uuid %}
  {% set base = base|urlparams(collection_uuid=collection_uuid) %}
{% endif %}

<p class="addon-rating">
  {% with num=addon.total_reviews %}
    {% if num %}
    {{ addon.average_rating|float|stars }}
    <a href="{{ base }}">
      {% with count='<span itemprop="count">{0}</span>'|f(num|numberfmt) %}
        {# Using num=count so we don't change an L10n string. #}
        <strong>{{ ngettext('{num} review', '{num} reviews',
                            num)|f(num=count)|safe }}</strong></a>
      {% endwith %}
    {% else %}
      <strong>{{ _('Not yet rated') }}</strong>
    {% endif %}
  {% endwith %}
</p>
