{% set perms = review_perms or {} %}
{% set outdated = (review.version_id
                      and review.version_id != addon._current_version_id) %}
{% set is_reply = review.reply_to_id is not none %}
{% set has_reply = review.id in replies %}
{% if flags %}
  {% set is_flagged = flags[review.id] %}
{% endif %}
<div class="review article {% if is_reply %}reply{% endif %}
            {% if is_flagged %}flagged{% endif %}"
     id="review-{{ review.id }}"
     data-rating="{{ review.rating }}">
  <h5>{{ review.title }}</h5>
  {% if not is_reply %}{{ review.rating|float|stars }}{% endif %}
  <div class="reviewed-on">
    {% if is_reply %}
      {% trans user=review.user|user_link, date=review.created|datetime %}
        by {{ user }} <b>(Developer)</b> on {{ date }}
      {% endtrans %}
    {% else %}
      {% trans user=review.user|user_link, date=review.created|datetime %}
        by {{ user }} on {{ date }}
      {% endtrans %}
    {% endif %}
    {% if (perms.is_admin or perms.is_editor)
          and review.ip_address != '0.0.0.0' %}
      <span>[{{ review.ip_address }}]</span>
    {% endif %}
    <a class="permalink" href="{{ url('reviews.detail', addon.id, review.id) }}">#</a>
  </div>
  <p class="review-body">{{ review.body|nl2br }}</p>
  {% if outdated and not is_reply %}
    {# L10n: {0} is a version number (like 1.01) #}
    <span class="review-note">{{ _('This review is for a previous version of the add-on ({0}).')|f(review.version.version) }}&nbsp;</span>
  {% endif %}
  {% if page != 'user' and review.previous_count %}
  <span class="review-note">
    {% with user_review_url = url('reviews.user', addon.id, review.user.id) %}
      {% if review.is_latest %}
        {% trans cnt=review.previous_count %}
          This user has a <a href="{{ user_review_url }}">previous review</a> of this add-on.
        {% pluralize %}
          This user has <a href="{{ user_review_url }}">{{ cnt }} previous reviews</a> of this add-on.
        {% endtrans %}
      {% else %}
        {% trans %}
          This user has <a href="{{ user_review_url }}">other reviews</a> of this add-on.
        {% endtrans %}
      {% endif %}
    {% endwith %}
  </span>
  {% endif %}
  {% if request.user.is_authenticated() %}
  <ul class="review-options">
    {% if is_flagged %}
      <li>{{ _('Flagged for review') }}</li>
    {% else %}
      <li class="review-wrapper">
        <a class="flag-review" href="{{ url('reviews.flag', addon.id, review.id) }}">
          {{ _('Report this review') }}</a>
      </li>
    {% endif %}
    {% if not (is_reply or has_reply) and (perms.is_author or perms.is_admin) %}
      <li>
        <a class="review-delete" href="{{ url('reviews.reply', addon.id, review.id) }}">
          {{ _('Reply to review') }}</a>
      </li>
    {% endif %}
    {% if review.user_id == request.user.id %}
      <li>
        <a class="review-edit" href="#">
          {{ _('Edit review') }}</a>
      </li>
    {% endif %}
    {% if perms.can_delete %}
      <li>
        <a class="delete-review" href="{{ url('reviews.delete', addon.id, review.id) }}">
          {{ _('Delete review') }}</a>
      </li>
    {% endif %}
  </ul>
  {% endif %}
</div>
