{% extends "base_side_categories.html" %}

{% macro back_to_addon() -%}
<ul>
  <li>
    <a href="{{ addon.get_url_path() }}">
      {{ _('Back to {0}')|f(addon.name) }}
    </a>
  </li>
</ul>
{%- endmacro %}

{% block content %}
<div class="primary" role="main">
  <h2>{{ _('Reviews for {0}')|f(addon.name) }}</h2>

  {{ back_to_addon() }}
  <hr>
  {% for review in reviews.object_list %}
    <div class="item review" id="review-{{ review.id }}">
      {% if review.title %}
        <h3>{{ review.title }}</h3>
      {% endif %}
      <div class="reviewed-on">
        {{ review.rating|stars }}
        {% trans user=review.user|user_link, date=review.created|datetime %}
          by {{ user }} on {{ date }}
        {% endtrans %}
      </div>
      <p>{{ review.body|nl2br }}</p>
    </div>
  {% endfor %}
  {{ reviews|paginator }}
  <hr>
  {{ back_to_addon() }}
</div>
{% endblock content %}
