{% if waffle.switch('disabled-payments') %}
  <div class="no-payments notification-box notice c">
    <p>
      {% if request.path == addon.get_dev_url('payments') %}
        {% set payments_url = '#payments-premium-type' %}
      {% else %}
        {% set payments_url = addon.get_dev_url('payments') + '#payments-premium-type' %}
      {% endif %}
      {% trans %}
        Sorry, <b>payments are currently disabled</b> but are coming soon.
        If you would like users to be able to install your app, please,
        for the time being, <a href="{{ payments_url }}">make your app free</a>.
        You will be notified via email when payments are re-enabled.
        Thanks for your patience.
      {% endtrans %}
    </p>
  </div>
{% endif %}
