{% extends 'developers/base_impala.html' %}
{% set title = _('API') %}

{% block title %}{{ hub_page_title(title) }}{% endblock %}

{% block content %}
  <h1>{{ title }}</h1>
  <section id="submit-api" class="primary">
    <div class="island devhub-form">
      {% trans terms=url('mkt.developers.apps.terms') %}
        <p>This API key provides you access to the Marketplace API. Use of the
        API requires you to accept the <a href="{{ terms }}">terms of service</a>.
        </p>
      {% endtrans %}
      {% trans %}
        <p>Please read the <a href="https://firefox-marketplace-api.readthedocs.org">documentation</a> on how to use
        the Marketplace API. Any testing should occur on the
        development server and not the production server.</p>
      {% endtrans %}
      {% if not roles %}
        <form method="POST">
          {{ csrf() }}
          <table>
            <tbody>
              <tr>
                <th><strong>{{ _('Application Name') }}</strong></th><td><input name="app_name"></input></td>
              </tr>
              <tr>
                <th><strong>{{ _('Redirect URI') }}</strong></th><td><input name="redirect_uri"></input></td>
              </tr>
              </tbody>
          </table>
          <div class="listing-footer">
            <button>{{ _('Create') }}</button>
          </div>
        </form>
      {% endif %}
    </div>
    <div class="island devhub-form">
      {% for consumer in consumers %}
        <table>
          <tbody>
            <tr>
              <th><strong>{{ _('Key') }}</strong></th><td>{{ consumer.key }}</td>
            </tr>
            <tr>
              <th><strong>{{ _('Secret') }}</strong></th><td><textarea readonly>{{ consumer.secret }}</textarea></td>
            </tr>
            <tr>
              <th><strong>{{ _('Application Name') }}</strong></th><td>{{ consumer.app_name }}</td>
            </tr>
            <tr>
              <th><strong>{{ _('Redirect URI') }}</strong></th><td>{{ consumer.redirect_uri }}</td>
            </tr>
          </tbody>
         </table>
         <div class="listing-footer">
           <form method="POST">
             {{ csrf() }}
             <input type="hidden" name="consumer" value="{{ consumer.pk }}">
             <button name="delete" class="cancel" value="delete">{{ _('Delete') }}</button>
           </form>
         </div>
      {% else %}
        <p><strong>{{ _('You currently do not have an API key.') }}</strong></p>
      {% endfor %}
     </div>
  </section>
{% endblock %}
