{% if webapp or WEBAPPS %}
  {% set webapp, WEBAPPS = True, True %}
{% endif %}

{# We're extending from the impala skeleton base template,
   but we're still using legacy styles. One step at a time. #}
{% extends 'developers/skeleton_impala.html' %}

{% if addon %}
  {% set editable = "no-edit" if not check_addon_ownership(request, addon, dev=True) %}
{% endif %}
{% block bodyclass %}{{ 'apps' if webapp }} {{ editable }}{% endblock %}

{# Don't show the amo header on devhub pages #}
{% set hide_header = True %}

{% block bodyattrs %}
{% if addon %}data-default-locale="{{ addon.default_locale|lower }}"{% endif %}
{% endblock %}

{% block title %}{{ hub_page_title() }}{% endblock %}

{% block site_css %}
  {{ css('mkt/devreg') }}
  <!--[if IE]><link rel="stylesheet" href="{{ media('css/legacy/ie.css') }}"><![endif]-->
  <!--[if IE 7]><link rel="stylesheet" href="{{ media('css/legacy/ie7.css') }}"><![endif]-->
{% endblock %}

{% block extrahead %}
  <noscript>
    <link rel="stylesheet" href="{{ media('css/legacy/nojs.css') }}">
  </noscript>
{% endblock %}

{% block js %}
  {# TODO(Kumar) move to base template? #}
  <script src="{{ url('wafflejs') }}"></script>
{% endblock %}
