{% extends "developers/base_impala.html" %}

{% block content %}
  <section id="homepage" class="primary full">
  <div id="phases">
    {# Not localized since it probably won't be around that long #}
    <h2><strong>Phase Two:</strong> Developer Registration</h2>
    <div class="phase-desc">
      <p>
        Currently, we&rsquo;re in the developer registration phase of our launch.
        Developers can reserve names, validate their manifests and submit their apps.
        For this phase, there will be no way for consumers to view and download apps.
      </p>
    </div>

    <div id="timeline">
      <div id="bubble1">
        <div class="bubble"></div>
        <strong>Apps Dev Preview</strong><br>
        <span>December 8, 2011</span>
      </div>
      <div id="bubble2">
        <div class="bubble"></div>
        <strong>Developer Registration</strong><br>
        <span>February 27, 2012</span>
      </div>
      <div id="bubble3">
        <div class="bubble"></div>
        Consumer Beta
        <span>Est March 29, 2012</span>
      </div>
      <div id="bubble4">
        <div class="bubble"></div>
        Public Launch
        <span>Est June 21, 2012</span>
      </div>
    </div>
  </div>
    <div id="devhub-promo" class="island">
      <div class="promo-container">
        <h2>
          {{ loc('What Are Apps?') }}
        </h2>
      <p>
      <p class="intro">
        {{ loc('The Mozilla Labs Apps project is an initiative to bring
        HTML5 app experiences built using Web standards and open technologies
        to all your devices, wherever you are.') }}
        <a href="https://developer.mozilla.org/en-US/apps">Learn more</a>
      </p>
      <p><a href="{{ url('mkt.developers.submit_apps.1') }}"
            class="button prominent">{{ loc('Submit an App') }}</a></p>
      </div>
    </div>
    <div class="cols">
      <div class="col-2">
        <div class="island">
          <h2>{{ _('Learn &amp; Explore') }}</h2>
        </div>
      </div>
      <div class="col-2">
        <div class="island">
          <h2>{{ _('Create &amp; Connect') }}</h2>
        </div>
      </div>
    </div>
  </section>
{% endblock %}
