{% extends 'developers/skeleton_impala.html' %}

{% block title %}{{ mkt_page_title(loc('Developer Registration')) }}{% endblock %}

{% block bodyclass %}login{% endblock %}

{% block js %}
  {% if form.recaptcha %}
    {% include("amo/recaptcha_js.html") %}
  {% endif %}
{% endblock %}

{% block content %}
<div class="primary">
  {% include "developers/timeline.html" %}
  <section class="island swagger hero primary grid {{ 'browserid' if waffle.switch('browserid-login') else 'prettyform' }}">
    <div class="prose">
      <h1>Developer Registration</h1>
      <h2>Want to make an app?</h2>
      <p>
        Learn all about creating an HTML5 app at the
        <a href="https://developer.mozilla.org/en-US/Apps">
          Mozilla Developer Network</a>.
      </p>
      <h2>Already have an app?</h2>
      <p>
        Reserve your spot in our Marketplace by submitting your app today.
        Just log in or register with your
        <a href="https://browserid.org">BrowserID</a> account below.
      </p>
    </div>
    {% include "users/login_form.html" %}
  </section>
</div>
{% endblock content %}
