{% extends 'mkt/base.html' %}

{% set headertitle = _('Firefox Marketplace') %}
{% set bodyclass = 'home login' %}

{% set pagetype = 'notice' %}

{% block content %}
  <section id="welcome" class="primary">
    <div>
      <div class="prose">
        {% include 'home/walled_prose.html' %}
      </div>
      <p class="proceed">
        <a class="button prominent browserid" href="#">{{ _('Log in / Register') }}</a>
      </p>
    </div>
  </section>
{% endblock %}

{% block sitefooter %}
  <footer id="site-footer">
    <div>
      <p id="access-devhub">
        <b>Have an app to submit?</b>
        The Marketplace Developers site is now open.
        <a href="{{ url('ecosystem.landing') }}">Upload your app &raquo;</a>
      </p>
      <div>
        <nav class="footer-links" role="navigation">
          <a href="{{ url('site.privacy') }}">
            {{ _('Privacy Policy') }}</a>
          <a href="{{ url('site.terms') }}">
            {{ _('Terms of Use') }}</a>
        </nav>
      </div>
    </div>
  </footer>
{% endblock %}
