<div id="site-nav">
  <div class="pad">
    <nav class="menu-nav app-nav no-img" role="navigation">
      <ul class="c">
        {% if request.user.is_authenticated() and request.amo_user.is_developer %}
          <li id="submissions" class="top">
            <a href="{{ url('mkt.developers.apps') }}">
              {{ _('My Submissions') }}</a>
            <ul>
              {% set my_apps = request.amo_user.my_apps() %}
              {% for addon in my_apps %}
                {% if loop.index == 8 %}
                  <li><a href="{{ url('mkt.developers.apps') }}">
                    {{ _('more apps...') }}</a></li>
                {% else %}
                  <li><a href="{{ addon.get_dev_url() }}">
                    {{ addon.name }}</a></li>
                {% endif %}
              {% endfor %}
              <li><em><a href="{{ url('submit.app') }}">
                {{ _('Submit a New App') }}</a></em></li>
            </ul>
          </li>
        {% endif %}
        <li id="documentation" class="slim">
          <a href="http://developer.mozilla.org/en-US/apps">
            {{ _('Documentation') }}</a>
        </li>
        <li id="submit-app" class="slim">
          <a href="{{ url('submit.app') }}">
            {{ _('Submit a New App') }}</a>
        </li>
      </ul>
    </nav>
  </div>
</div>
