{% extends "developers/base.html" %}

{% block title %}{{ hub_page_title("about:Add-ons Newsletter") }}{% endblock %}

{% block content %}

{{ breadcrumbs(items=[(url('mkt.developers.index'), _('Developer Hub')),
                      (None, _('about:addons Newsletter'))],
               add_default=False) }}

<div class="newsletter-signup">
  <h2>{{ _('about:addons Newsletter') }}</h2>

  <p>
    {% trans %}
    Enter your email address to subscribe to
    our quarterly newsletter.
    {% endtrans %}
  </p>

  <form action="" method="post">
    {{ csrf() }}

    <ul class="error">
      {% for (name, err) in newsletter_form.errors.iteritems() %}
      <li>{{ name|title }}: {{ err[0] }}</li>
      {% endfor %}
    </ul>

    <p>{{ newsletter_form.email }}</p>
    <p>{{ _('Country') }}:<br /> {{ newsletter_form.region }}</p>
    <p>{{ _('Email format') }}: {{ newsletter_form.format }}</p>
    <p>
      {{ newsletter_form.policy }}
      {% trans url='http://www.mozilla.com/privacy-policy' %}
      I agree to the <a href="{{ url }}">Privacy Policy</a>
      {% endtrans %}
    </p>
    <input type="submit" value="{{ _('Subscribe') }}" />
  </form>
</div>

{% endblock %}
