{% set logged = request.user.is_authenticated() %}
<!DOCTYPE html>
<html lang="{{ LANG }}" dir="{{ DIR }}">
  <head>
    <meta charset="utf-8">
    {% if not settings.ENGAGE_ROBOTS %}
      <meta name="robots" content="noindex">
    {% endif %}
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1">
    {% block extrameta %}{% endblock %}
    <title>{% block title %}{{ _('Firefox Marketplace') }}{% endblock %}</title>

    <link rel="shortcut icon" type="image/x-icon"
          href="{{ MEDIA_URL }}img/mkt/logos/128.png" sizes="128x128">
    <link rel="shortcut icon" type="image/x-icon"
          href="{{ MEDIA_URL }}img/mkt/logos/64.png" sizes="64x64">
    <link rel="shortcut icon" type="image/x-icon"
          href="{{ MEDIA_URL }}img/mkt/logos/32.png" sizes="32x32">

    {{ css('mkt/devreg') }}

    {% block site_css %}
      <!--[if lt IE 9]>
        <script src="{{ media('js/lib/iepp.min.js') }}"></script>
      <![endif]-->
      <!--[if lte IE 9]>
        <link rel="stylesheet" href="{{ media('css/legacy/ie9.css') }}">
      <![endif]-->
    {% endblock %}

    {% block extrahead %}
      <noscript>
        <link rel="stylesheet" href="{{ media('css/impala/nojs.css') }}">
      </noscript>
    {% endblock %}

    {% if logged %}
      <meta name="csrf" content="{{ csrf_token }}">
    {% endif %}
  </head>
  <body class="html-{{ DIR }} {{ request.APP.short }}
               moz-header-slim {% block bodyclass %}{% endblock %}"
        data-app="{{ request.APP.short }}"
        data-appname="{{ request.APP.pretty }}"
        data-appid="{{ request.APP.id }}"
        data-user="{{ user_data(amo_user)|json }}"
        data-readonly="{{ settings.READ_ONLY|json }}"
        data-media-url="{{ MEDIA_URL }}"
        data-login-url="{{ url('users.browserid_login') }}"
        data-persona-url="{{ settings.BROWSERID_JS_URL }}"
        data-native-persona-url="{{ settings.NATIVE_BROWSERID_JS_URL }}"
        data-collect-timings="{{ url('amo.timing.record') }}:{{ collect_timings_percent }}"
        data-locales="{{ ','.join(settings.LANGUAGE_URL_MAP.keys()) }}"
        {% block bodyattrs %}{% endblock %}>
    <section id="site-header">
      {% block site_header %}
        <div class="pad upper-header">
          {% block masthead %}
            <h1 class="logo"><a href="{{ url('ecosystem.landing') }}">
              {{ _('Firefox Marketplace Developers') }}</a></h1>
          {% endblock %}
          {% block account_links %}{% endblock %}
          {% include 'mkt/account-links.html' %}
        </div>
        {% block site_header_title %}
          {% include 'developers/nav.html' %}
        {% endblock %}
      {% endblock site_header %}
    </section>
    {% if ADMIN_MESSAGE or settings.READ_ONLY or not dev_agreement_ok(amo_user) %}
      <div id="site-notice">
        <div class="pad">
          {% if ADMIN_MESSAGE %}
            <p>{{ ADMIN_MESSAGE|safe }}</p>
          {% endif %}
          {% if settings.READ_ONLY %}
            <p>{% trans %}
              Some features are temporarily disabled while we perform
              website maintenance. We'll be back to full capacity shortly.
              {% endtrans %}</p>
          {% endif %}
          {% if not dev_agreement_ok(amo_user) %}
             <p>{% trans url=url('mkt.developers.apps.terms') %}
               The Terms of Service have changed since you last agreed to them.
               Please read and agree to the <a href="{{ url }}">new terms</a>.
               {% endtrans %}</p>
          {% endif %}
        </div>
      </div>
    {% endif %}

    <div id="wrap">
      <div id="page" class="pad section c" role="main">
        {% block main_content %}
          {# outer_content is for something you want above content on every page. #}
          {% block outer_content %}{% include "messages.html" %}{% endblock %}
          {% block content %}{% endblock %}
        {% endblock %}
      </div>
    </div>
    <div id="tooltip">
      <span></span>
    </div>
    {% block site_nav_footer %}{% endblock %}
    {% include 'mkt/footer.html' %}

    {% if not logged %}
      <div class="overlay centre login">
        <section>
          <h2>{{ _('Please sign in') }}</h2>
          <p>
            {% trans url='https://login.persona.org/' %}
              Just log in or register with your
              <a href="{{ url }}">Persona</a> account below.
            {% endtrans %}
          </p>
          <footer>
            <a class="button browserid" href="#">{{ _('Sign in / Sign up') }}</a>
          </footer>
        </section>
      </div>
    {% endif %}

    {% block dbgoverlay %}{% endblock %}

    {# js #}
    {% block site_js %}
      <script src="{{ static(url('jsi18n'))|urlparams(lang=LANG) }}"></script>
      {{ js('mkt/devreg') }}
    {% endblock %}
    {% block js %}{% endblock %}
    {% block js_extras %}{% endblock %}
  </body>
</html>
