<!DOCTYPE html>
<html lang="{{ LANG }}" dir="{{ DIR }}">
  <head>
    <meta charset="utf-8">
    <meta name="robots" content="none">
    {% if not settings.ENGAGE_ROBOTS %}
      <!--<meta name="robots" content="noindex">-->
    {% endif %}
    {% block extrameta %}{% endblock %}
    <title>{% block title %}{{ loc('Mozilla Marketplace') }}{% endblock %}</title>

    <link href="//www.mozilla.org/tabzilla/media/css/tabzilla.css" rel="stylesheet" />

    {{ css('mkt/devreg') }}

    {% block site_css %}
      {{ css('mkt/devreg-impala') }}
      <!--[if lt IE 9]>
        <script src="{{ media('js/lib/iepp.min.js') }}"></script>
      <![endif]-->
      <!--[if lte IE 9]>
        <link rel="stylesheet" href="{{ media('css/legacy/ie9.css') }}">
      <![endif]-->
    {% endblock %}

    {% block extrahead %}
      <noscript>
        <link rel="stylesheet" href="{{ media('css/impala/nojs.css') }}">
      </noscript>
    {% endblock %}

    {% include 'mobile/head_debug.html' %}

    {% if request.user.is_authenticated() %}
      <meta name="csrf" content="{{ csrf_token }}">
    {% endif %}
  </head>
  <body class="html-{{ DIR }} {{ request.APP.short }} moz-header-slim {% block bodyclass %}{% endblock %} is-impala developer-hub"
        data-app="{{ request.APP.short }}"
        data-appname="{{ request.APP.pretty }}"
        data-appid="{{ request.APP.id }}"
        data-anonymous="{{ (not request.user.is_authenticated())|json }}"
        data-readonly="{{ settings.READ_ONLY|json }}"
        data-media-url="{{ MEDIA_URL }}"
        data-collect-timings="{{ url('amo.timing.record') }}:{{ collect_timings_percent }}"
        {% block bodyattrs %}{% endblock %}>
    <section id="site-header">
      {% block site_header %}
        <div class="pad upper-header">
          <div id="tabzilla-wrapper">
            <a id="tabzilla" href="http://mozilla.org/">mozilla</a>
          </div>
          <nav id="aux-nav" role="navigation" class="menu-nav c">
            <ul>
              {% if not settings.READ_ONLY %}
                {% include 'impala/user_login.html' %}
              {% endif %}
            </ul>
          </nav>
          <h1 id="masthead" class="site-title prominent">
            <a href="{{ url('mkt.developers.index') }}"
               title="{{ loc('Return to the Developer Hub homepage') }}">
              <small>Marketplace </small>Developer Hub
            </a>
          </h1>
          {% if ADMIN_MESSAGE or settings.READ_ONLY %}
            <div class="site-balloon" id="site-notice">
              {% if ADMIN_MESSAGE %}
                <p>{{ ADMIN_MESSAGE|safe }}</p>
              {% endif %}
              {% if settings.READ_ONLY %}
                <p>{% trans %}
                  Some features are temporarily disabled while we perform
                  website maintenance. We'll be back to full capacity shortly.
                  {% endtrans %}</p>
              {% endif %}
            </div>
          {% endif %}
        </div>
        {% block site_header_title %}
          {% include 'developers/nav.html' %}
        {% endblock %}
      {% endblock site_header %}
    </section>
    <div id="wrap">
      <div id="page" class="pad section c">
        {# Overridden in base_side_categories, which expands categories
           on the side of the page. #}
        {% block main_content %}
          {# outer_content is for something you want above content on every page. #}
          {% block outer_content %}{% include "messages.html" %}{% endblock %}
          {% block content %}{% endblock %}
        {% endblock %}
      </div>
    </div>
    <div id="tooltip">
      <span></span>
    </div>
    <footer id="footer" class="c">
      <div class="pad">
        <h1 id="footzilla">mozilla</h1>
        <p>
          {% trans %}
            Except where otherwise
            <a href="http://mozilla.com/about/legal.html#site">noted</a>,
            content on this site is licensed under the <br />
            <a href="http://creativecommons.org/licenses/by-sa/3.0/">
              Creative Commons Attribution Share-Alike License v3.0
            </a> or any later version.
          {% endtrans %}
        </p>
        <ul>
          <li><a href="http://mozilla.com/privacy-policy.html">
            {{ _('Privacy Policy') }}</a></li>
          <li><a href="http://mozilla.com/about/legal.html">
            {{ _('Legal Notices') }}</a></li>
          <li><a href="http://mozilla.com/legal/fraud-report/index.html">
            {{ _('Report Trademark Abuse') }}</a></li>
        </ul>
      </div>
    </footer>
    {# js #}
    {% block site_js %}
      <script src="{{ static(url('jsi18n')) }}"></script>
      {% if waffle.switch('browserid-login') %}
        <script async defer src="https://browserid.org/include.js"></script>
      {% endif %}
      {{ js('mkt/devreg-legacy') }}
      <script async defer src="{{ settings.PAYPAL_JS_URL }}"></script>
    {% endblock %}
    {% block js %}{% endblock %}
    {# Webtrends Stats Tracking #}
    <script defer async src="//www.mozilla.org/tabzilla/media/js/tabzilla.js"></script>
    <script defer src="{{ media('js/webtrends/webtrends-v0.1.js') }}"></script>
    {% block js_extras %}{% endblock %}
    <noscript>
      <img class="hidden" id="DCSIMG" width="1" height="1"
        src="https://statse.webtrendslive.com/dcso6de4r0000082npfcmh4rf_4b1e/njs.gif?dcsuri=/nojavascript&amp;WT.js=No&amp;WT.tv=8.6.2" />
    </noscript>
    {# End Webtrends #}
  </body>
</html>
