{% extends 'developers/base_impala.html' %}

{% set title = _('Terms and Conditions') %}

{% block title %}{{ hub_page_title(title) }}{% endblock %}

{% block content %}
  <h1>{{ title }}</h1>
  <section id="submit-terms" class="primary">
    <div id="agreement-container">
      <div id="dev-agreement">
        {% include 'site/dev-agreement.html' %}
      </div>
    </div>
    <ol id="agreement-extra-links">
      <li>
        <a href="{{ url('mkt.developers.docs', 'policies', 'agreement') }}" target="_blank">
          {{ _('Printable Version') }}</a>
      </li>
      <li>
        <a href="https://developer.mozilla.org/en/Apps/Marketplace_Review" target="_blank">
          {{ _('Additional Marketplace Policies') }}</a>
      </li>
    </ol>
    {% if not accepted or not dev_agreement_ok(amo_user) %}
      <form id="agreement-form" method="post">
        {{ csrf() }}
        {{ agreement_form.read_dev_agreement }}
        <button class="continue prominent">
          {{ agreement_form.read_dev_agreement.label }}
        </button>
      </form>
    {% else %}
      <p>{{ _('You have already agreed to this developer agreement.') }}</p>
    {% endif %}
  </section>
{% endblock %}
