{% extends "developers/base_impala.html" %}

{% set title = _('Testing Apps') %}

{% block title %}{{ hub_page_title(title) }}{% endblock %}

{% block content %}
  {{ hub_breadcrumbs(items=[(url('mkt.developers.apps.testing'), _('Testing')), (None, title)]) }}
  <header class="submit-header c">
    <h1>{{ title }}</h1>
  </header>

  <section class="island primary manage" role="main">
    <p>{{ _('Use these tools for testing your Apps prior to submission to the Firefox Marketplace.') }}</p>
  </section>

  {% include 'developers/includes/testing_nav.html' %}
{% endblock %}
