<div id="phases">
  {# Not localized since it probably won't be around that long #}
  <h2><strong>Phase Two:</strong> Developer Registration</h2>
  <div class="phase-desc">
    <p>
      Currently, we&rsquo;re in the developer registration phase of our launch.
      Developers can sign up, reserve names, validate their manifests and submit
      their apps.  For this phase, there will be no way for consumers to view and
      install apps.
    </p>
  </div>

  <div id="timeline">
    <div id="bubble1">
      <div class="bubble"></div>
      <strong>Apps Dev Preview</strong><br>
      <span>December 8, 2011</span>
    </div>
    <div id="bubble2">
      <div class="bubble"></div>
      <strong>Developer Registration</strong><br>
      <span>February 27, 2012</span>
    </div>
    <div id="bubble3">
      <div class="bubble"></div>
      Consumer Beta
      <span>Q2 2012</span>
    </div>
    <div id="bubble4">
      <div class="bubble"></div>
      Public Launch
      <span>2012</span>
    </div>
  </div>
</div>
