{% extends 'developers/base_impala.html' %}
{% from 'site/helpers/form_row.html' import form_row %}

{% set title = _('Transaction Details') %}
{% block title %}{{ hub_page_title(title) }}{% endblock %}

{% block content %}
  <header>
    {{ hub_breadcrumbs(addon, items=[(None, title)]) }}
    <h1>{{ title }}</h1>
  </header>

  <div id="tx-filters" class="island">
    <form>
      {{ form_row(form, ('app',)) }}
      {{ form_row(form, ('transaction_type',)) }}
      {{ form_row(form, ('transaction_id',)) }}
      <div class="date-from">
        {{ form_row(form, ('date_from',)) }}
      </div>
      <div class="date-to">
        {{ form_row(form, ('date_to',)) }}
      </div>
      <button type="submit">{{ _('Filter Transactions') }}</button>
    </form>
  </div>

  <strong class="results-found">{{ ngettext('{num} transaction found',
                                            '{num} transactions found',
                                            count)|f(num=count) }}</strong>

  <div class="island tabcontent">
    {% if not transactions.paginator.count %}
      <p class="no-results">
        {{ _('Your apps currently have no transactions.') }}
      </p>
    {% else %}
      <table class="data-grid">
        <thead>
          <tr>
            <th>{{ _('App') }}</th>
            <th>{{ _('Date') }}</th>
            <th>{{ _('Type') }}</th>
            <th>{{ _('Transaction ID') }}</th>
            <th>{{ _('Currency') }}</th>
            <th class="amount">{{ _('Amount') }}</th>
          </tr>
        </thead>
        <tbody>
          {% for transaction in transactions.object_list %}
            <tr>
              <td>{{ transaction.addon.name }}</td>
              <td>{{ transaction.created|datetime }}</td>
              <td>{{ CONTRIB_TYPES[transaction.type] }}</td>
              <td>{{ transaction.uuid }}</td>
              <td>{{ transaction.currency }}</td>
              {% if transaction.amount %}
                <td class="amount">{{ transaction.amount|numberfmt }}</td>
              {% endif %}
            </tr>
          {% endfor %}
        </tbody>
      </table>
    {% endif %}
  </div>
  {{ transactions|impala_paginator }}
{% endblock %}
