{% extends "developers/base_impala.html" %}

{% if filename %}
  {# L10n: first parameter is a filename like lorem-ipsum-1.0.2.xpi #}
  {% set title = _('Validation Results for {0}')|f(filename) %}
{% else %}
  {% set title = _('Validation Results') %}
{% endif %}
{% block title %}{{ hub_page_title(title, addon) }}{% endblock %}

{% block content %}
<header>
  {{ hub_breadcrumbs(addon, items=[(None, title)]) }}
  <h1>{{ title }}</h1>
</header>

<div class="results-intro">
  <dl class="c">
    {% if timestamp %}
      <dt>{{ _('Validated at:') }}</dt>
      <dd>
        <time datetime="{{ timestamp|isotime }}">
        {{ timestamp|datetime }}</time>
      </dd>
    {% endif %}
  </dl>
</div>

<div class="addon-validator-suite" id="addon-validator-suite"
  data-validateurl="{{ validate_url }}">
  {% include 'developers/apps/includes/validation_test_results.html' %}
</div>
{% endblock %}
