{% extends "developers/base_impala.html" %}

{% set title = _('Validate an App') %}
{% set doc_url = 'https://developer.mozilla.org/docs/Apps/Manifest' %}

{% block title %}{{ hub_page_title(title) }}{% endblock %}

{% block content %}
  {{ hub_breadcrumbs(items=[(None, _('Validate App'))]) }}
  <header class="submit-header c">
    <h1>{{ _('Validate an App') }}</h1>
  </header>

  <section id="upload-file" class="island tabbable spacer">
    <div class="hosted tab active">
      <h2><a href="#">{{ _('Hosted') }}</a></h2>
      <h3>{{ _("Submit your app manifest URL") }}</h3>
      <div class="upload-status">
        <label>
          <form id="validate-field">
            {{ csrf() }}
            <div class="vf-text">
              <input type="text" id="upload-webapp-url" name="manifest" class="large"
                     placeholder="http://" data-upload-url="{{ upload_hosted_url }}" autofocus>
            </div>
            <div class="vf-button">
              <button type="submit" class="disabled" id="validate_app">{{ _('Validate') }}</button>
            </div>
          </form>
        </label>
      </div>
      <div class="upload-details">
        <div id="validate-error-protocol" class="pretty-tooltip tl">
          <span class="protocol">
            {% trans http='http://', https='https://' %}
              <strong>Don't forget a protocol!</strong>
              Try adding either <a href="#">{{ http }}</a> or
              <a href="#">{{ https }}</a>.
            {% endtrans %}
          </span>
        </div>
        <div class="hint">
          {% trans %}
            Manifest URLs must start with a protocol (for example,
            <code>http://</code> or <code>https://</code>) and typically
            use the <code>.webapp</code> extension.
          {% endtrans %}
        </div>
      </div>
    </div>

    <div class="packaged tab">
      <h2><a href="#">{{ _('Packaged') }}</a></h2>
      <input type="file" id="upload-app" data-upload-url="{{ upload_packaged_url }}" />
    </div>
  </section>

  <p class="learn-mdn"><a href="{{ doc_url }}" target="_blank">
    {% trans %}Learn more about <b>app manifests</b> on MDN.{% endtrans %}
    </a>
  </p>

{% endblock %}
