{% extends "developers/base_impala.html" %}

{% set title = _('Test App Validation') %}
{% set doc_url = 'https://developer.mozilla.org/Marketplace/Submission/Submitting_an_app' %}

{% block title %}{{ hub_page_title(title) }}{% endblock %}

{% block content %}
  {{ hub_breadcrumbs(items=[(url('mkt.developers.apps.testing'), _('Testing')), (None, title)]) }}
  <header class="submit-header c">
    <h1>{{ title }}</h1>
  </header>

  <section id="upload-file" class="island tabbable spacer primary manage">
    <div class="hosted tab active">
      <h2><a href="#">{{ _('Hosted') }}</a></h2>
      <h3>{{ _("Submit your app manifest URL") }}</h3>
      <div class="upload-status">
        <label>
          <form id="validate-field">
            {{ csrf() }}
            <div class="vf-text">
              <input type="text" id="upload-webapp-url" name="manifest" class="large"
                     placeholder="http://" data-upload-url="{{ upload_hosted_url }}" autofocus>
            </div>
            <div class="vf-button">
              <button type="submit" class="disabled" id="validate_app">{{ _('Validate') }}</button>
            </div>
          </form>
        </label>
      </div>
      <div class="upload-details">
        <div id="validate-error-protocol" class="pretty-tooltip tl">
          <span class="protocol">
            {% trans http='http://', https='https://' %}
              <strong>Don't forget a protocol!</strong>
              Try adding either <a href="#">{{ http }}</a> or
              <a href="#">{{ https }}</a>.
            {% endtrans %}
          </span>
        </div>
        <div class="hint">
          {% trans %}
            Manifest URLs must start with a protocol (for example,
            <code>http://</code> or <code>https://</code>) and typically
            use the <code>.webapp</code> extension.
          {% endtrans %}
        </div>
      </div>
    </div>

    <div class="packaged tab">
      <form id="upload-webapp">
        <h2><a href="#">{{ _('Packaged') }}</a></h2>
        <input type="file" id="upload-app" data-upload-url="{{ upload_packaged_url }}" />
      </form>
    </div>
  </section>

  <p class="learn-mdn"><a href="{{ doc_url }}" target="_blank">
    {% trans %}Learn more about submitting an app.{% endtrans %}
    </a>
  </p>

  {% include 'developers/includes/testing_nav.html' %}

  <section class="island primary manage">
    <p>
      {% trans repo='https://github.com/mozilla/app-validator' %}
        The validator is a tool which can help test your app for errors, best
        practices, and compliance with Marketplace guidelines before actually
        submitting your app for review. If you're interested in how it works or
        would like to run a copy of your own, the source code is available
        <a href="{{ repo }}">on Github</a>.
      {% endtrans %}
    </p>
  </section>
{% endblock %}
