@import 'lib';

#what-are-roles,
#author-roles-help {
    font-size: .9em;
    line-height: 1.3;
}
#author-roles-help {
    /* Popup! */
    display: none;
    li + li {
        margin-top: .5em;
    }
}
#what-are-roles {
    display: block;
    font-weight: normal;
}
