@import 'lib';

@font-face {
    font-family: 'FeuraSansWeb';
    src: url('../mkt/fonts/FeuraSansWeb-Light.woff') format('woff'),
         url('../mkt/fonts/FeuraSansWeb-Light.svg#feura_sanslight') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'FeuraSansWeb';
    src: url('../mkt/fonts/FeuraSansWeb-Regular.woff') format('woff'),
         url('../mkt/fonts/FeuraSansWeb-Regular.svg#feura_sansregular') format('svg');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'FeuraSansWeb';
    src: url('../mkt/fonts/FeuraSansWeb-Medium.woff') format('woff'),
         url('../mkt/fonts/FeuraSansWeb-Medium.svg#feura_sansmedium') format('svg');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'FeuraSansWeb';
    src: url('../mkt/fonts/FeuraSansWeb-Bold.woff') format('woff'),
         url('../mkt/fonts/FeuraSansWeb-Bold.svg#feura_sansbold') format('svg');
    font-weight: 700;
    font-style: normal;
}

body {
    font-family: $open-stack;
    font-size: 13px;
}

body, h1, h2, h3, h4 {
    font-weight: 400;
}

h1 {
    font-size: 24px;
    line-height: 26px;
}

h2 {
    color: $dark-gray;
    font-size: 26px;
    line-height: 120%;
    text-shadow: .5px .5px $white;
}

h3 {
    font-size: 24px;
}

.listing h3 {
    font-size: 18px;
}

h4 {
    color: $dark-gray;
    font-size: 16px;
}

b, strong {
    font-weight: 600;
}

address {
    color: $medium-gray;
    font-style: normal;
}

.policy-statement {
    line-height: 1.4;
    padding: 5px;
}

dl {
    margin: 0;
}

dt {
    font-weight: bold;
}

dd {
    color: $dark-gray;
    margin: 0 0 10px;
}

.lineclamp.author {
    overflow: hidden;
}
