@import 'lib';

.iarc-sec-code {
    margin-top: 15px;

    label {
        margin-right: 5px;
    }
}

#ratings-summary {
    h2 a {
        bottom: 3px;
        font-size: 11px;
        left: 5px;
        position: relative;
    }
    table {
        margin-bottom: 16px;
        text-align: center;

        th, td {
            border: 1px solid $border-gray;
        }
        thead th {
            background: $bg-gray;
            text-align: center;
        }
        tbody td {
            background: #fff;
            /* padding-left/right set in padding, changing bottom/top. */
            padding-bottom: 20px;
            padding-top: 20px;
            vertical-align: middle;
        }
    }
    .content-rating .icon {
        left: calc(unquote('50% - 32px'));
        position: relative;
    }
}

#ratings-edit {
    .iarc-sec-code {
        th {
            width: 100px;
        }
        tr {
            display: block;
            margin-bottom: 13px;
        }
        input {
            margin-right: 5px;
        }
    }
}

.content-rating, .interactive-elements, .content-descriptors {
    .icon {
        background: #000;
        border-radius: 5px;
        color: #fff;
        float: left;
        font: 600 32px/64px $open-stack;
        max-width: 64px;
        text-align: center;
        vertical-align: middle;
    }
}

.content-rating {
    margin-bottom: 12px;

    .description {
        font-weight: 400;
        margin: 0;
        vertical-align: middle;
        width: 100%;
    }
}

.content-descriptors .icon {
    margin: 1px;
}

.interactive-elements .names {
    margin-bottom: 5px;
}

span.dot-sep:not(:last-child):after {
    content: '\00B7';  // &middot;
    display: inline-block;
    left: 1px;
    margin: 0 1px;
    position: relative;
}
