@import 'lib';

#footer {
    .border-box;
    border-top: 1px solid @faint-gray;
    color: @note-gray;
    padding-top: 2em;
    width: 100%;
    #footzilla {
        background: url(../../img/hub/footzilla.png) no-repeat;
        float: left;
        height: 50px;
        margin-top: 5px;
        opacity: .5;
        text-indent: -9999px;
        width: 100px;
    }
    p, ul {
        .border-box;
        border-left: 1px dotted @faint-gray;
        font-size: 12px;
        line-height: 1.3;
        margin-bottom: 1.5em;
        padding-left: 1em;
    }
    p {
        float: left;
        width: 60%;
    }
    ul {
        float: right;
        line-height: 1.1;
        width: 20%;
        li + li {
            margin-top: 2px;
        }
    }
}
