@import 'lib';

#footer {
    .border-box;
    border-top: 1px solid #eee;
    color: @note-gray;
    padding-top: 2em;
    width: 100%;
    #footzilla {
        background: url(../../img/hub/footzilla.png) no-repeat;
        float: left;
        height: 50px;
        margin-top: 5px;
        opacity: .5;
        text-indent: -9999px;
        width: 100px;
    }
    p, ul {
        font-size: 12px;
        line-height: 1.3;
        margin-bottom: 1.5em;
    }
    ul {
        float: right;
        width: 20%;
    }
    ul, p {
        border-left: #eee 1px dotted;
        padding-left: 1em;
    }
    p {
        float: left;
        width: 60%;
    }
}
