@import 'lib';

.devhub-form .in-app-config {
    input[type="text"] {
        width: 30em;
    }
    .is-https.hint {
        display: inline;
    }
}

#in-app-private-key .secret {
    display: none;
}
