@import 'lib';

.devhub-form .in-app-config {
    input[type="text"] {
        width: 100%;
    }
    .is-https.hint {
        display: inline;
    }
    .preamble {
        padding-bottom: 2em;
        line-height: 1.3em;
    }
}

#in-app-private-key .secret {
    display: none;
}
