// Colors
$bg = #eff1f3;
$bg-gray = #f8f8f8;
$black = #000;
$blue = #258;
$border-black = rgba(#000, .2);
$border-blue = #C9DDF2;
$border-gray = #ddd;
$dark-gray = #333;
$dumpy-brown = #A49460;
$error-red = #C00000;
$faint-blue = #ECF5FE;
$faint-gray = #eee;
$gray = #888;
$green = #093;
$inset-blue = rgba(152,178,201,.3);
$light-gray = #ccc;
$light-green = #4b0;
$link = #447BC4;
$maroon = #800;
$medium-gray = #666;
$mobileborder = #d7d2c3;
$note-gray = #999;
$notice-yellow = #FAF2BD;
$orange = #e60;
$reviewer-header-purple = #563C4B;
$red = #C63717;
$shadow-blue = #98B2C9;
$tab-stripe = #f7f5f3;
$tab-taupe = #efede8;
$taupe = rgb(215,210,195);
$teal = #5875A0;
$text = #424f5a;
$white = #fff;

$border-taupe = darken($taupe, 10%);
$faded-blue = rgba($border-blue,.1);
$faded-taupe = rgba($taupe,.1);


// Colors from EcoSystem
$grain = #394C58;

// Button Colors
$button-green-light = #81bc2e;
$button-green-dark = #659324;
$button-red-light = #da5132;
$button-red-dark = #a91300;


// Font Stacks
$open-stack = "Feura Sans", FeuraSansWeb, "Open Sans", "Helvetica Neue", Arial, sans-serif;
$mono-stack = Menlo, "Ubuntu Mono", "Andale Mono", monospace;


// Media Queries
$retina = unquote('screen and (-webkit-min-device-pixel-ratio: 2), screen and (min--moz-device-pixel-ratio: 2), screen and (min-device-pixel-ratio: 2)');
$landscape-min = unquote('(min-width: 768px)');
$landscape-max = unquote('(max-width: 767px)');
$portrait-max = unquote('(max-width: 480px)');
$mobile-portrait-overlay = unquote('(max-width: 480px) and (max-height: 460px)');
$mobile-landscape = unquote('(min-width: 481px and max-width: 767px)');
// TODO: Figure out tablet sizes. These are messy (and desktop starts at 1024). Talk to Michael.
$tablet-portrait = unquote('(min-width: 768px) and (max-width: 1024px)');

// Mixins
$grain-src = url(../../img/mkt/grain.png);
grain() {
    background-image: $grain-src;
}

transform($tform) {
    -webkit-transform: $tform;
    -moz-transform: $tform;
    -ms-transform: $tform;
    transform: $tform;
}

transform-origin($origin) {
    -webkit-transform-origin: $origin;
    -moz-transform-origin: $origin;
    -ms-transform-origin: $origin;
    transform-origin: $origin;
}

transition($property) {
    -moz-transition: $property;
    -webkit-transition: $property;
    transition: $property;
}

transition-property($property) {
    -moz-transition-property: $property;
    -webkit-transition-property: $property;
    transition-property: $property;
}

transition-duration($duration = 2s) {
    -moz-transition-duration: $duration;
    -webkit-transition-duration: $duration;
    transition-duration: $duration;
}

columns($count, $gap = 1em) {
    column-count: $count;
    -moz-column-count: $count;
    -webkit-column-count: $count;
    column-gap: $gap;
    -moz-column-gap: $gap;
    -webkit-column-gap: $gap;
}

column-count($count) {
    column-count: $count;
    -moz-column-count: $count;
    -webkit-column-count: $count;
}

border-box() {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

ellipsis() {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

hidetext() {
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
}

gradientLeft($gradient) {
    background-image: -webkit-linear-gradient(left, $gradient);
    background-image:         linear-gradient(to right, $gradient);
}

gradientTop($gradient) {
    background-image: -webkit-linear-gradient(top, $gradient);
    background-image:         linear-gradient(to bottom, $gradient);
}

gradient-two-color($color1, $color2) {
    background-color: $color2;
    background-image: -webkit-gradient(linear, left bottom, left top, from($color1), to($color2));
    background-image: linear-gradient($color1, $color2);
    background-image: -moz-linear-gradient($color1, $color2);
    background-image: -webkit-linear-gradient($color1, $color2);
}

// Vertical sprite
sprite-pos($pos, $spacing, $offset = 0) {
    background-position: 0 ($spacing * $pos * -1 + $offset) + 0px;
}
sprite-pos-right($pos, $spacing, $offset = 0) {
    background-position: right ($spacing * $pos * -1 + $offset) + 0px;
}

// Because WebKit can't figure out how to animate PNGs.
webkit-spin() {
    -webkit-animation-duration: 1.5s;
    -webkit-animation-name: spin;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
}

animation($animation) {
    -webkit-animation: $animation;
    -moz-animation: $animation;
    animation: $animation;
}

@-webkit-keyframes spin {
    from { -webkit-transform: rotate(0turn); }
    to { -webkit-transform: rotate(1turn); }
}
@keyframes spin {
    from { transform: rotate(0turn); }
    to { transform: rotate(1turn); }
}

spinner-base-image(type = '') {
    if (type == 'retina') {
        background-image: url(../../img/mkt/btn_spinner_2x.png);
        background-size: 30px auto;
    } else {
        background: url(../../img/mkt/btn_spinner.png) no-repeat center;
    }
}

spinner-base() {
    animation(unquote('0.9s spin infinite steps(30)'));
    height: 30px;
    margin: 0 auto;
    spinner-base-image();
    width: 30px;
}
