@import 'lib';


#manifest-headers,
#manifest-permissions {
    background-color: $faint-gray;
    border: $dark-gray 2px solid;
    padding: 5px 10px;
}

#manifest-headers,
#manifest-permissions,
#manifest-contents {
    border-box();
    clear: both;
    color: $dark-gray;
    font: 12px/14px $mono-stack;
    list-style: none;
    margin: 15px 0;
    overflow-x: auto;
    white-space: pre;
    width: 100%;
}

#manifest-contents {
    background-color: #def;
    border: darken(#def, 75%) 2px solid;
    // Using counters so we can style the line numbers.
    counter-reset: item;
    li {
        counter-increment: item;
        padding: 5px 10px;

        &:before {
            background-color: $faint-gray;
            display: inline-block;
            color: $note-gray;
            content: counter(item);
            margin: -5px 10px -5px -10px;
            padding: 5px;
            text-align: right;
            width: 3ex;
        }
        &:nth-child(2n + 1) {
            background: lighten(#def, 4%);
        }
    }
}

iframe#manifest-contents {
    min-height: 250px;
}

#view-manifest {
    &:hover, b {
        color: #036;
    }
    b {
        &:before {
            content: "(";
        }
        &:after {
            content: ")";
        }
    }
}
