@import 'lib';

.button-wrapper {
    text-align: center;
}

.payment-account-actions {
    display: block;
    float: right;
    font-size: 11px;
    margin: -10px;
    padding: 10px;
}

.payments {
    .indent {
        margin-left: 0;
    }
    #premium-type {
        float: left;
        width: 35%;
    }
    .divider {
        width: 5%;
    }
    .premium-detail {
        border-left: 1px dotted @light-gray;
        float: right;
        padding-left: 10px;
        margin-bottom: 12px;
        width: 60%;
    }
    #payments-price-level {
        .extra {
            margin: 13px 0 5px;
        }
    }
    #payments-currencies {
        ul li label, li {
            display: inline;
        }
        ul li label {
            font-weight: normal;
            margin-right: 4px;
        }
    }
    #payments-payment-account {
        .extra, #payment-label {
            display: inline;
        }
        ul label {
            font-weight: normal;
        }
        p {
            color: @red;
            font-style: italic;
            margin-top: 5px;
        }
        #paypal-id-verify, .loading-submit {
            display: inline;
        }
        .check-icon {
            &:before {
                .border-radius(8px);
                color: @white;
                display: inline-block;
                font-weight: normal;
                height: 16px;
                line-height: 14px;
                margin: 0 10px 0 2px;
                position: relative;
                text-align: center;
                width: 16px;
            }
            &.inactive:before {
                background-color: @light-gray !important;
            }
        }
        #check-passed:before {
            background-color: @green;
            content: "\2714";  /* checkmark */
        }
        #check-failed:before {
            background-color: @red;
            content: "\00D7";  /* mult symbol */
            font-weight: bold;
        }
        .item-actions {
            margin: 2px 0 5px;
            .setup-bounce {
                display: none;
            }
            ul {
                font-size: 11px;
                line-height: 13px;
            }
            li:hover {
                cursor: pointer;
            }
        }
    }
    #payments-upsell {
        .note {
            margin-top: 5px;
        }
        #upsell-form {
            display: none;
        }
    }
    .listing-footer {
        clear: both;
        margin-top: 1.5em;
    }
    .button-wrapper {
        .button:only-child {
            margin-bottom: .25em;
        }
    }
}

.devhub-form .learn-more {
    margin: 10px 0 0;
}


/* overlays */
.overlay {
    .close {
        &:hover {
            cursor: pointer;
            background-position: -25px 0;
            background-color: @red;
        }
    }
    h2 {
        text-align: left;
        font-size: 18px;
        font-weight: 400;
    }
    .brform, input, select {
        margin-top: 10px;
        padding: 5px;
    }
    form {
        margin: 0;
    }
    a {
        display: block;
        margin-top: 10px;
    }
    .listing-footer {
        clear: both;
        margin: 15px -10px -10px;
    }
}
.overlay section.add-bango-account {
    height: 80%;

    max-width: 650px;
    min-width: 650px;

    #bango-account-errors {
        > div {
            margin: 0.25em 0;
        }
        span, ul.errorlist {
            display: inline-block;
            vertical-align: top;
        }
    }

    p label {
        display: inline-block;
        text-align: right;
        width: 30%;
    }

    // Wide controls
    #id_address1,
    #id_address2,
    #id_bankAddress1,
    #id_bankAddress2, {
        width: 400px;
    }

    // Smallish controls
    #id_addressState,
    #id_bankAddressState, {
        width: 120px;
    }

    // Skinny controls
    #id_addressZipCode,
    #id_bankAddressZipCode, {
        width: 100px;
    }

    label[for=id_account_name]:before {
        background: #666;
        clear: both;
        content: '';
        display: block;
        height: 1px;
        margin: 1em 0 1.5em;
        width: 600px;
    }
}

#submit-payment-type {
    .update-payment-type {
        padding: 1em;
    }
}
#bango-payment-accounts label {
    display: none;
}

.island.warning {
    background: orangered;
    color: white;
}
