@import 'lib';

.button-wrapper {
    text-align: center;
}

.payment-account-actions {
    display: block;
    font-size: 11px;
    margin-top: 5px;
}

.helpful-links {
    padding-top: 10px;
    line-height: 1.5em;
}

.payments {
    .indent {
        margin-left: 0;
    }
    #premium-type {
        float: left;
        width: 35%;
    }
    .divider {
        width: 5%;
    }
    .premium-detail {
        border-left: 1px dotted $light-gray;
        float: right;
        padding-left: 10px;
        margin-bottom: 12px;
        width: 60%;
    }
    #payments-price-level {
        .extra {
            margin: 13px 0 5px;
        }
    }
    #payments-currencies {
        ul li label, li {
            display: inline;
        }
        ul li label {
            font-weight: normal;
            margin-right: 4px;
        }
    }
    #payments-payment-account {
        .extra, #payment-label {
            display: inline;
        }
        ul label {
            font-weight: normal;
        }
        p {
            color: $red;
            font-style: italic;
            margin-top: 5px;
        }
        #paypal-id-verify, .loading-submit {
            display: inline;
        }
        .check-icon {
            &:before {
                border-radius: 8px;
                color: $white;
                display: inline-block;
                font-weight: normal;
                height: 16px;
                line-height: 14px;
                margin: 0 10px 0 2px;
                position: relative;
                text-align: center;
                width: 16px;
            }
            &.inactive:before {
                background-color: $light-gray !important;
            }
        }
        #check-passed:before {
            background-color: $green;
            content: "\2714";  /* checkmark */
        }
        #check-failed:before {
            background-color: $red;
            content: "\00D7";  /* mult symbol */
            font-weight: bold;
        }
        .item-actions {
            margin: 2px 0 5px;

            .setup-bounce {
                display: none;
            }
            ul {
                font-size: 11px;
                line-height: 13px;
            }
            li:hover {
                cursor: pointer;
            }
        }
    }
    #payments-upsell {
        .note {
            margin-top: 5px;
        }
        #upsell-form {
            display: none;
        }
    }
    .listing-footer {
        clear: both;
        margin-top: 1.5em;
    }
    .button-wrapper {
        .button:only-child {
            margin-bottom: .25em;
        }
    }
}

.devhub-form .learn-more {
    margin: 10px 0 0;
}


/* overlays */
.overlay {
    header .close,
    header .dismiss{
        color: #888;
        cursor: pointer;
        float: right;
        font-size: 1.5em;

        &:hover {
            color: #666;
        }
    }
    h2 {
        text-align: left;
        font-size: 18px;
        font-weight: 400;
    }
    .brform, input, select {
        margin-top: 10px;
        padding: 5px;
    }
    form {
        margin: 0;

        .field {
            clear: left;
            padding: 1em 0;

            &.no-border, &:last-child {
                padding-bottom: 0;
            }

            + .field {
                border-top: 1px solid #bbb;
            }
            &.no-border + .field {
                border-top: none;
            }

            label {
                display: block;
                float: left;
                line-height: 2em;
                padding-right: 2%;
                position: relative;
                text-align: right;
                width: 30%;

                &[data-optional] {
                    line-height: 1em;

                    &:after {
                        content: attr(data-optional);
                        display: block;
                        font-size: .8em;
                        font-weight: normal;
                    }
                }
            }

            input, select, textarea {
                width: 65%;
            }

            input,
            select,
            textarea,
            .faux-input {
                display: block;
                margin: 0;

                .error {
                    padding-left: 0;
                }

                + small {
                    font-size: .8em;
                }
            }

            .faux-input, .error {
                padding-left: 32%;
            }

            .horiz-strip > * {
                display: inline-block;
            }

            .inline-strip > * {
                display: inline;
            }

            .error {
                font-size: .9em;
                padding-top: 3.5px; // This was a compromise with cvan.
            }
        }
    }
    .listing-footer {
        clear: both;
        margin: 15px -10px -10px;
    }
}
.overlay section.account-list {
    table {
        margin: 0;
        width: 550px;

        + .listing-footer {
            margin-top: 15px;
        }
        th, td {
            border-top: 1px dotted $border-taupe;
            padding: 1em 20px 1em 0;
            vertical-align: top;

            &:last-child {
                padding-right: 0;
            }
        }
        tr {
            &:first-child {
                td, th {
                    border-top: 0;
                    padding-top: 0;
                }
            }
            &:last-child {
                td, th {
                    padding-bottom: 0;
                }
            }
        }
        th {
            font-weight: bold;
        }
        td {
            color: $medium-gray;
        }
    }
    table, tbody {
        border-top: 0;
        border-bottom: 0;
    }
}
.overlay section.payment-account-add,
.overlay section.payment-account-edit {
    height: 80%;

    max-width: 650px;
    min-width: 650px;

    transform(none);
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;

    #payment-account-errors {
        > div {
            margin: .25em 0;
        }

        span, ul.errorlist {
            display: inline-block;
            vertical-align: top;
        }
    }

}
.overlay section.payment-account-add {
    .bank-accounts-strip div {
        width: 45px;

        + div {
            width: 100px;
        }

        + div + div {
            width: 150px;
        }

        + div + div + div {
            width: 45px;
        }

        input,
        + div input {
            width: auto;
        }

        &:last-child {
            line-height: 40px;
            vertical-align: top;
            width: auto;
        }
    }

    .un-groupie-bank-accounts {
        background: #eee;
        border-radius: 1em;
        color: #666;
        cursor: pointer;
        display: inline-block;
        font-size: 1.15em;
        font-weight: bold;
        height: 25px;
        line-height: 25px;
        text-align: center;
        width: 25px;

        &:hover {
            background: #2b69a2;
            color: #fff;
        }
    }
}

/* reference provider overrides */
.overlay section.payment-account-reference {
    height: 21em;
}

#paid-island {
    .note {
        margin: 0;
    }

    .allow-inapp li {
        display: inline;
        margin-right: 10px;
    }
}

#id_upsell_of {
    max-width: 400px;
}

#submit-payment-type {
    .update-payment-type {
        padding: 1em;
    }
}
#bango-payment-accounts label {
    display: none;
}

.island.warning {
    background: orangered;
    color: white;
}

.region-msg.island {
    background-position: 15px 50%;
    border-box();
    float: left;
    line-height: 25px;
    margin-bottom: 10px;
    padding: 15px 15px 15px 45px;
    width: 100%;

    .button {
        float: right;
        font-size: 12px;
    }
}

.status-label {
    color: #800;
    font-size: 10px;
    padding-left: 2px;

    &:not(:empty) {
        &:before {
            content: "(";
        }
        &:after {
            content: ")";
        }
    }
}

.special-regions + ul {
    padding-top: 6px;
}

.overlay > .show-agreement {
    max-width: 650px;
    min-width: 650px;

    h3 {
        font: 300 20px $open-stack;
    }
    h4 {
        font: bold 14px $open-stack;
        margin-top: 10px;
    }
}

.agreement-valid,
.agreement-text {
    margin-bottom: 15px;
}

.agreement-valid time {
    font-weight: bold;
}

.agreement-text {
    max-height: 300px;
    overflow: auto;
}

.show-agreement {
    p {
        padding-top: 10px;
    }
    .listing-footer {
        padding: 10px 10px 6px;
    }
}

.terms-accepted {
    font-family: monospace;
}

.accepted .terms-accepted {
    color: green;

    &:before {
        content: "\2713";
    }
}

.accepted .accept-tos,
.rejected .modify-account,
.rejected .portal-link {
    display: none;
}

label.disabled {
    color: #ccc;
}

#page .devhub-form table td.region-container h3 {
    color: $dark-gray;
    font-weight: 600;
}

.devhub-form table th.region-toggle {
    padding-bottom: 0;
}

.devhub-form table .regions {
    .region-heading {
        display: block;
        hidetext();
    }
    .local-currency-heading,
    .my-currency,
    td .local-retail {
        display: block;
    }
    .local-currency-heading {
        color: $note-gray;
        padding-top: 2px;
    }
    th {
        color: $dark-gray;
        width: 40%;

        &:last-child {
            width: 20%;
        }
    }
    table td {
        border-color: $faint-gray;
        line-height: 1.5em;
        min-height: 1.5em;
        padding: 1em 0;
    }
    table {
        border-bottom: 1px dotted $faint-gray;
        margin: 20px 0;
    }
}

.paid-regions {
    margin-bottom: 10px;
}

body > label {
    font-weight: normal;
}

.note p:only-child {
    margin-bottom: 1em;
}

#regions {
    // Less room to breathe for radios.
    input[type=radio] {
        margin: 1px 3px 1px 1px;
    }
    li + li input[type=radio] {
        margin-top: 6px;
    }
    // More room to breathe for region checkboxes.
    [data-region] input[type=checkbox] {
        margin-right: 4px;
    }
}

#regions-island {
    h2 {
        margin-top: 1.5em;
    }

    #regions {
        // Some nicer formatting around the radio buttons.
        > ul {
            margin: 2px 2px 0;
        }
        header,
        .region-choices,
        .disabled-regions,
        .other-regions {
            margin: 10px 22px 5px;
        }
        .special-regions-unrestricted {
            // Offset for the 2px on the `<ul>`.
            margin: 10px 20px 5px;
        }
        header {
            margin-top: 0;
        }
        .toggles {
            padding-top: 0;
        }
        .other-regions {
            margin-top: 15px;
            padding-top: 15px;
        }
    }

    .special-regions-unrestricted h4 {
        color: $medium-gray;
        font-size: 12px;
        font-weight: 400;
    }
}

.region-cb.disabled:after,
.region-cb.special:after {
    color: $note-gray;
    content: " *";
}

.disabled-regions:before {
    color: $note-gray;
    content: "* ";
    font-size: 14px;
    font-weight: 600;
    vertical-align: top;
}

// Hidden checkboxes for special regions.
.special-regions ul {
    display: none;
}

.paid-regions {
    margin-top: 15px;
}

.region-choices li {
    min-height: 19px;
}

#regions li label {
    font-weight: normal;
}

.region {
    background-repeat: no-repeat;
    background-size: 14px auto;
    min-height: 14px;
    overflow: visible;
    padding: 1px 0 0 20px;
    text-overflow: normal;
}

label .region {
    background-position: 0 50%;
}

.region-worldwide {
    background-image: url(../../img/mkt/icons/regions/worldwide.png);
}

.region-br {
    background-image: url(../../img/mkt/icons/regions/br.png);
}

.region-co {
    background-image: url(../../img/mkt/icons/regions/co.png);
}

.region-es {
    background-image: url(../../img/mkt/icons/regions/es.png);
}

.region-gr {
    background-image: url(../../img/mkt/icons/regions/gr.png);
}

.region-mx {
    background-image: url(../../img/mkt/icons/regions/mx.png);
}

.region-pl {
    background-image: url(../../img/mkt/icons/regions/pl.png);
}

.region-uk {
    background-image: url(../../img/mkt/icons/regions/uk.png);
}

.region-us {
    background-image: url(../../img/mkt/icons/regions/us.png);
}

.region-ve {
    background-image: url(../../img/mkt/icons/regions/ve.png);
}

.region-rs {
    background-image: url(../../img/mkt/icons/regions/rs.png);
}

.region-me {
    background-image: url(../../img/mkt/icons/regions/me.png);
}

.region-hu {
    background-image: url(../../img/mkt/icons/regions/hu.png);
}

.region-gr {
    background-image: url(../../img/mkt/icons/regions/gr.png);
}

.region-de {
    background-image: url(../../img/mkt/icons/regions/de.png);
}

.region-ar {
    background-image: url(../../img/mkt/icons/regions/ar.png);
}

.region-uy {
    background-image: url(../../img/mkt/icons/regions/uy.png);
}

.region-pe {
    background-image: url(../../img/mkt/icons/regions/pe.png);
}

.region-cn {
    background-image: url(../../img/mkt/icons/regions/cn.png);
}
