@import 'lib';

.button-wrapper {
    text-align: center;
}

.payments {
    .listing-footer {
        margin-top: 1.5em;
    }
    .button-wrapper {
        .button:only-child {
            margin-bottom: .25em;
        }
    }
}

.devhub-form .learn-more {
    margin: 10px 0 0;
}

/* paypal-setup */
.paypal-inline {
    &.brform {
        p, li label {
            margin: 0;
        }
    }
    li {
        display: inline-block;
        margin-right: 10px;
        label {
            /* For radios. */
            &[for=id_business_account_0],
            &[for=id_business_account_1] {
                font-weight: normal;
            }
        }
    }
}
