@import 'lib';

.iarc-sec-code {
    margin-top: 15px;

    label {
        margin-right: 5px;
    }
}

#ratings-summary {
    h2 {
        display: inline-block;
        margin: 0 5px 32px 0;
    }
    a.toggle-ratings-page {
        bottom: 2px;
        position: relative;
    }
    table {
        text-align: center;

        th, td {
            border: 1px solid $border-gray;
        }
        thead th {
            background: $bg-gray;
        }
        tbody td {
            background: #fff;
            /* padding-left/right set in padding, changing bottom/top. */
            padding-bottom: 32px;
            padding-top: 32px;
            vertical-align: middle;
        }
    }
}

/* Copied and modified from Fireplace detail styles. */
$box-green = #00b963;
$box-blue = #00d5ff;
$box-yellow = #ffd300;
$box-orange = #ff7c00;
$box-red = #ff2600;
.content-rating {
    color: $text;
    margin-bottom: 12px;

    .icon {
        border-radius: 5px;
        background: #000;
        color: #fff;
        float: left;
        font: 600 32px/64px $open-stack;
        height: 64px;
        left: calc(50% - 32px);
        position: relative;
        text-align: center;
        vertical-align: middle;
        width: 64px;
    }
    .icon-L, .icon-0, .icon-3 {
        background: $box-green;
    }
    .icon-7, .icon-10 {
        background: $box-blue;
    }
    .icon-12, .icon-13 {
        background: $box-yellow;
    }
    .icon-14 {
        background: $box-orange;
    }
    .icon-16, .icon-17, .icon-18 {
        background: $box-red;
    }
}
