@import 'lib';

$mobileborder = #d7d2c3;
@media $portrait-max {
    html {
        font-size: 10px;
    }
    nav.pill-nav {
        bottom: 17px;
        left: 9px;
        margin: 0 0 10px;
        position: relative;
        top: 0;
    }
    .summary.island {
        padding: 0 0 10px 10px;
    }

    .queue-search-mobile, .mobile-paginator {
        display: block;
    }
    .impala-paginator, .advanced-search.desktop {
        display: none;
    }
    .advanced-search,
    .toggle-queue-search,
    .queue-search .button span,
    ul.tabnav a,
    .clear-queue-search {
        font-size: 16px;
    }
    button.button.search {
        top: 7px;

        span {
            bottom: 9px;
        }
    }
    #site-notice {
        margin-top: 0;
    }
    .queue-search {
        margin: 30px 0 6px;
        padding: 0;

        label[for=id_q] {
            display: none;
        }
        input#id_q {
            display: inline-block;
            margin-right: 5px;
            margin-top: 0;
            width: 75%;
        }
        .button {
            margin-right: 0;
            right: 8px;
            top: 7px;
        }
        .toggle-queue-search, .clear-queue-search {
            bottom: 64px;
            float: right;
            left: 0;
            line-height: 6px;
            position: relative;
        }
        .toggle-queue-search {
            margin-right: 10px;
        }
        .clear-queue-search {
            margin-right: 3px;
            text-transform: none;
        }
    }
    .queue-search-desktop, #reviewers-score-bar {
        display: none;
    }
    dt {
        float: none;
        margin: 0 0 3px;
        width: 100%;
    }
    dd {
        margin-bottom: 15px;
    }
    #actions li {
        margin: 5px 5px 5px 0;
        width: 48%;

        + li {
            padding-left: 0;
        }
        &.app-install .button {
            display: block;
        }
        &.app-install button.product, .button {
            border: 0;
            font-size: 13px;
            font-weight: normal;
            height: 48px;
            padding: 0;
            top: 0;
        }
    }
    #page h1.menutrigger {
        background: #d7d2c4;
        border-radius: 3px 3px 0 0;
        color: #686868;
        line-height: 38px;
        margin: 0;
        padding: 0 8px;
    }
    .statuslist, .island.alpha {
        background: #fff;
        border: 1px solid $mobileborder;
        border-radius: 4px;
        margin-bottom: 15px;
    }
    .statuslist {
        > li {
            padding: 0 15px;
            line-height: 40px;

            &:first-child {
                border-bottom: 1px solid $mobileborder;
            }
            &:only-child {
                border-bottom: 0;
            }
        }
        &.padded > li {
            padding: 15px;
        }
    }
    .review-actions .action_nav li {
        border: 1px solid #2E5186;
        border-radius: 0;
        display: block;
    }
    .review-actions .action_nav li:first-child {
        border-radius: 5px 5px 0 0;
    }
    .review-actions .action_nav li:last-child {
        border-radius: 0 0 5px 5px;
    }
    header .author {
        margin: -30px 0 20px 50px;
    }
    .tabnav + .island {
        border-box();
        max-width: 100%;
        overflow-x: auto;
        overflow-y: hidden;
    }
    #page ul.tabnav {
        li {
            margin: 0 1px;
            position: relative;

            a {
                padding: 10px 10px 15px;
            }
        }
        + .island {
            border-box();
            max-width: 100%;
            overflow-x: auto;
            overflow-y: hidden;
        }
    }
    #queue-tab-overlay > menu.nav-action-menu > div button {
        margin-bottom: 7px;
    }
    .status-overlay, .premium_types-overlay span {
        font-size: 14px;
    }
    #page form[role=dialog][data-type=action],
    #page .queue-search div[role=dialog] {
        position: fixed;
        z-index: 5;

        section h1 {
            margin: 0 -15px
        }
        button {
            position: static;
        }
    }
    .tabnav-sprite {
        bottom: 6px;
        display: block;
        position: absolute;
        right: 6px;

        &:after {
            /* Triangle bottom-right. */
            border-bottom: 10px solid $medium-gray;
            border-left: 10px solid transparent;
            content: '';
            display: block;
            height: 0;
            width: 0;
        }
    }
    // No mobile man is an island.
    .island {
        &:not(.mobile-island):not(.summary) {
            background: transparent;
            border: 0;
            border-radius: 0;
            box-shadow: none;
            padding: 0;
        }
        &.mobile-island {
            padding-left: 0;
            padding-right: 0;
        }
        > p {
            line-height: 22px;
            padding: 5px 6px;
        }
    }
    #scroll_sidebar_parent li {
        margin-top: 0;
    }
    .expandable {
        .thumbnail, .expandcontent {
            max-width: 200px;
        }
        .expandcontent {
            float: left;
            max-height: 200px;
            overflow: hidden;

            &.short {
                max-height: 48px;
            }
            &.expanded {
                max-height: inherit;
            }
        }
        .showmore {
            float: right;
            font-weight: bold;
            margin-top: 4px;
        }
    }
    #review-files-header {
        border-bottom: 1px solid #A5BFCE;

        h3 {
            float: none;
        }
    }
    #addon-queue, #search-queue {
        th {
            font-size: 13px;
            padding: 13px 0;
        }
        td {
            padding: 13px 0;

            &.app-name {
                max-width: 144px;
            }
            &.flags {
                min-width: 42px;
                padding-left: 5px;
            }
        }
        .payments {
            display: none;
        }
    }
    .no-results {
        margin-top: 13px;
    }
    #log-filter, #log-listing thead {
        display: none;
    }
    nav.paginator .rel a {
        height: 32px;
        line-height: 32px;
        vertical-align: middle;

        &.button {
            min-width: 0;
        }
        &.jump {
            line-height: 32px;
            padding: 8px;
        }
    }
    #reviews-flagged {
        background: #fff;

        .review-flagged {
            border: 0;
            border-bottom: 1px solid $mobileborder;
            margin: 0;
            padding: 15px;

            &:nth-child(2n) {
                background-color: #f8f8f8;
            }
            &:only-child, &:last-child {
                border-bottom: 0;
            }
        }
        h3 {
            font-weight: bold;
            margin-bottom: 7px;
        }
        .stars {
            display: block;
            float: none;
        }
        .review-flagged-actions {
            border: 0;
            float: none;
            margin: 15px 0 0;
            padding: 0;
            width: auto;

            strong {
                display: block;
                margin-bottom: 6px;
            }
        }
        .review-saved {
            border-top: 1px solid $mobileborder;

            button {
                width: 100%;
            }
        }
        .skip, .nuke, .keep {
            background: rgba(225, 225, 215, .5);
            border: 1px solid $mobileborder;
            box-shadow: inset 0 13px 15px #fff;
            color: $dumpy-brown;
            padding: 15px;
            text-align: center;

            &.active {
                box-shadow: inset 0 0 4px #D7D2C3;
                color: rgba(0, 0, 0, .35);
            }
        }
        .keep, .nuke {
            float: left;
            border-radius: 5px 0 0 0;
            overflow: hidden;
            height: 75px;
            width: 50%;
        }
        .nuke {
            border-left: 0;
            border-radius: 0 5px 0 0;
            line-height: 40px;
        }
        .skip {
            border-top: 0;
            clear: both;
        }
    }
    .device-list {
        bottom: 10px;
        position: relative;
        width: 80px;

        ul {
            position: relative;
        }
        li {
            position: absolute;
        }
        .desktop {
            left: -37px;
        }
        .android-tablet {
            left: -27px;
            top: 10px;
        }
        .firefoxos {
            left: 18px;
        }
        .android-mobile {
            left: -2px;
        }
    }
    .mobile-paginator nav.paginator {
        border-top: 0;
        margin-bottom: 13px;

        .rel {
            margin-bottom: 6px;

            a.button {
                height: 36px;

                span {
                    bottom: 0;
                }
            }
            a.jump {
                padding: 0px 10px;
            }
        }
        .num {
            position: relative;
            top: 8px;
        }
    }
    #review-files table.activity {
        margin: 0;
    }
    .devhub-links, .account-links {
        display: none;
    }
    .queue-search .advanced-search {
        margin: 13px 0 26px;

        > div, .form-row, .form-elem {
            width: 100%;
        }
        .basic-filters label {
            width: auto;
        }
        label {
            margin-bottom: 0;
        }
        .form-elem {
            margin-bottom: 0;
            min-height: 50px;

            &:not(:first-child) {
                border-top: 1px solid $light-gray;
            }
            label {
                float: right;

                &[for] {
                    float: none;
                    position: relative;
                    top: 17px;
                }
                &:first-child {
                    clear: both;
                    position: relative;
                    top: 17px;
                    left: 10px;
                    width: auto;
                }
            }
        }
        input[type="checkbox"], .selected-val {
            float: right;
        }
        .selected-val {
            background: $faint-gray;
            border: 1px solid $medium-gray;
            border-radius: 2px;
            padding: 10px 30px 10px 10px;
            position: relative;
            right: 10px;
            top: 6px;

            .tabnav-sprite {
                bottom: 3px;
                right: 3px;
            }
            &.multi-val {
                display: block;
                float: none;
                left: 0px;
                margin: 16px auto;
                position: relative;
                width: 80%;
            }
        }
    }
    #review-actions-form .review-actions-tested label {
        display: block;
        margin-left: 0;
    }
    #search-queue {
        th, td {
            border-right: 1px solid $faint-gray;
        }
        td {
            padding-left: 10px;
            padding-right: 10px;
        }
        tr {
            &:nth-child(even) {
                background-color: #FAFAFA;
            }
            &:nth-child(odd) {
                background-color: $white;
            }
        }
        .app-name, .price {
            display: none;
        }
        .app-name.app-name-mobile {
            display: table-row;

            span, td {
                font-size: 14px;
            }
        }
    }
}


@media $mobile-portrait-overlay {
    #queue-tab-overlay > menu.nav-action-menu {
        > div {
            max-height: 225px;
            overflow: auto;
        }
        button:not(:last-child) {
            height: 39px;
            line-height: 39px;
            margin-bottom: 5px;
        }
    }
}
