@import 'lib';

#site-header {
    background-color: $reviewer-header-purple;

    .menu-nav {
        margin: 0;
        padding: 0;
    }
}

#site-nav {
    z-index: 10;
}

#aux-nav a {
    color: $medium-gray;
}

h1.site-title {
    display: block;
    font: bold 36px/38px $open-stack;
    text-shadow: 0 1px 1px rgba(#000, .75);
    text-transform: uppercase;
    padding: 15px 0;
    max-width: 900px;

    a {
        color: #fff;
        display: block;
        text-decoration: none;
        width: 100%;

        small {
            color: $light-gray;
            display: block;
            font-size: 12px;
            line-height: 14px;
            padding: 0 2px;
        }
        &:hover {
            color: darken(#fff, 10%);

            small {
                color: darken($light-gray, 20%);
            }
        }
    }
}

.pill-nav {
    border-radius: 16px;
    display: inline-block;
    gradient-two-color(darken($reviewer-header-purple, 50%), darken($reviewer-header-purple, 30%));
    margin-top: 22px;
    padding: 11px 1px;
    position: absolute;
    right: 50px;

    a {
        border-radius: 15px;
        color: $light-gray;
        font-size: 15px;
        padding: 7px 16px;

        &.selected {
            color: #fff;
            gradient-two-color(lighten(#563C4B, 10%), darken(#563C4B, 10%));
            pointer-events: none;
        }
    }
}

.upper-header {
    width: 100%;
}

@media $tablet-portrait {
    #site-header .upper-header, #site-nav .pad {
        padding: 0 2%;
    }
}

@media $landscape-min {
    #masthead {
        display: inline-block;
    }
    .site-title a {
        position: relative;
    }
}

@media $landscape-max {
    #site-header h1 {
        border-box();
        margin: 0;
        max-width: 100%;
        padding: 0;

        a {
            border-box();
            font-size: 14px;
            font-weight: 600;
            line-height: 16px;
            padding: 10px;
        }
        small {
            display: inline-block;
            font-size: 14px;
            font-weight: 200;
            padding: 0;

            &:after {
                color: #bbb;
                content: "\00a0\00a0/\00a0";
                display: inline-block;
                font-size: 14px;
                vertical-align: top;
            }
        }
    }
    #site-header .menu-nav, .upper-header {
        padding: 0;
    }
    #aux-nav {
        background: $border-gray;
        float: none;
        font-size: 11px;
        max-width: 100%;

        > ul > li {
            border-right: 1px solid darken($border-gray, 10%);
        }
    }
    #site-nav {
        border: 1px solid #bbb;
    }
    #site-nav .menu-nav > ul > li {
        margin: 0;

        &:first-child > a {
            padding-left: 10px;
        }
        &:last-child {
            border-right: 1px dotted $light-gray;
        }
        > a {
            font-size: 11px;
            font-weight: 400;
            padding: 10px;
        }
    }
    .menu-nav > ul > li > ul a {
        padding: 16px 8px;
    }
    nav.pill-nav {
        bottom: 1px;
        margin: 0 0 0 5px;
        top: 0;
    }
}

@media $mobile-landscape {
    div#site-nav {
        height: 34px;
    }
}

@media $portrait-max {
    #site-nav {
        border: 0px;

        .pad {
            height: 100%;
            padding: 0;
        }
        nav.menu-nav {
            height: 100%;

            ul {
                height: 100%;
            }
            li {
                height: 100%;

                &.selected {
                    background: rgb(62, 52, 62);

                    a {
                        color: $white;
                    }
                }
                a {
                    font-size: 14px;
                    position: relative;
                    top: 4px;
                }
            }
            > ul li:not(.open):hover > ul,
            &.open > ul {
                display: none;
            }
        }
    }
    .upper-header {
        width: auto;
    }
    #masthead, #site-nav .pad {
        left: 0;
        position: relative;
    }
}
