@import 'lib';

#rejection {
    blockquote {
        margin: 10px 0 0;
    }
    + p {
        margin: 20px 0 0;
    }
}

#version-status {
    h3 {
        color: $medium-gray;
        font: normal 13px $open-stack;

        time {
            color: $note-gray;
            font-weight: normal;

            &:after {
                content: ":";
            }
        }
    }
    label {
        margin-top: 5px;
    }
}

.version-status-actions {
    border-top: 1px dotted $taupe;
    margin-top: 10px;
    padding-top: 5px;

    form {
        display: inline;
    }
}

.status-info {
    .status {
        display: block;
        margin-bottom: 13px;
    }
    .island {
        margin: 20px 0;
    }
    form {
        p {
            margin: 15px 0;
        }
        div[style]:first-child + p:last-child {
            margin: 15px 0 0;
        }
    }
    p:last-child {
        margin-bottom: 13px;
    }
}

#version-status-item a,
.status-none b {
    color: $medium-gray;
}

.status-lite-nominated i,
.status-nominated b,
.status-unreviewed b,
.status-pending b {
    font-style: normal;
    color: #3e7987;
}

.status-incomplete b,
.status-disabled b,
.status-admin-disabled b,
.status-purgatory b {
    color: #851006;
}

.status-fully-approved b,
.status-public b,
.status-lite b,
.status-lite-nom b,
.status-waiting b {
    color: #329902;
}

.status-rejected {
    display: inline;

    b {
        color: #800;
    }
}

#version-list {
    table-layout: auto;
    width: 100%;

    td {
        border-top: 1px dotted $border-taupe;
        padding: 5px 0 5px 5px;
        vertical-align: middle;

        h4 {
            font-size: 150%;
            font-weight: normal;
            padding: 5px;
        }
        small {
            border-left: 1px solid $faint-gray;
            color: $note-gray;
            display: block;
            float: left;
            font-size: 90%;
            line-height: 10px;
            margin: 4px 0 0 10px;
            padding: 7px 0 7px 10px;
        }
        .buttons {
            text-align: right;

            a {
                margin: 0 5px 5px 0;
            }
            form {
                display: inline;
            }
        }
        input[type=checkbox] {
            vertical-align: middle;
        }
        label {
            display: inline-block;
            margin-top: 5px;
        }
    }
    th {
        color: $medium-gray;
        font-weight: bold;
        padding: 5px 0 5px 5px;
        width: auto;
    }
    .date {
        white-space: nowrap;
    }
}

#preload {
    h2 {
        display: inline-block;
    }
    .help {
        background: $light-gray;
        border-radius: 10px;
        bottom: 5px;
        display: inline-block;
        height: 18px;
        left: 5px;
        position: relative;
        width: 18px;

        &:after {
            content: "?";
            left: 6px;
            position: relative;
            top: 2px;
        }
        &:hover {
            background: $dark-gray;
        }
    }
    .outdated {
        font-style: italic;
        margin-left: 8px;
    }

    // Submit form.
    .agree {
        float: left;
    }
    label[for=id_agree] {
        margin-right: 10px;
    }
    label[for=id_test_plan] {
        clear: right;
        display: block;
        float: right;
        margin: 5px 2px 0;

        + .errorlist {
            clear: right;
            float: right;
        }
    }
    input[name=test_plan] {
        float: right;
        display: block;
    }
}
