@import 'lib';

#submission-progress {
    display: table;
    margin: 1em 0 1.5em;
    padding-bottom: 1em;
    table-layout: fixed;
    width: 100%;
    ol {
        display: table-row;
        counter-reset: item;
        margin: 0;
    }
    li {
        color: @light-gray;
        display: table-cell;
        counter-increment: item;
        font: 16px @open-stack;
        text-align: center;
        white-space: nowrap;
        width: 100%;
        &:before {
            .border-radius(30px);
            background: @faint-gray;
            display: block;
            content: counter(item);
            font-size: 18px;
            height: 30px;
            line-height: 30px;
            margin: 0 auto;
            position: relative;
            text-align: center;
            width: 30px;
            text-indent: 2px;
            z-index: 20;
        }
        &:after {
            border-top: 2px solid @faint-gray;
            content: "";
            display: block;
            margin-top: -38px;
            position: relative;
            width: 100%;
            left: -50%;
            z-index: 10;
        }
        &:first-child:after {
            content: none;
        }
        &.current, &.completed {
            color: @dark-gray;
            font-weight: bold;
            &:before {
                background: @white;
                border: 2px solid @dark-gray;
                color: @dark-gray;
                z-index: 20;
            }
            &:after {
                border-color: @dark-gray;
                margin-top: -40px;
            }
        }
    }
    li, li.active, li.active:before {
        .transition(~'1s color ease-in-out, 1s border linear');
    }
}

/* Toggle for no more lines. */
/*
#submission-progress {
    border-bottom: 1px dotted @faint-gray;
    margin: 1em 0;
    padding-bottom: 2em;
    li {
        padding-bottom: 38px;
        &:after {
            border-top: 0;
        }
        &.current b {
            display: none;
        }
    }
}
*/

.continue {
    float: right;
}
