@import 'lib';

#submit-manifest {
    .learn-mdn {
        margin-top: 20px;
    }
}

#upload-webapp-features {
    margin-top: 20px;
    label {
        font-weight: normal;
    }
    ul {
        columns(3);
    }
    li {
        margin: 4px 0;
    }
}
