@import 'lib';

/* Houdinis are toggleable form fields. */
label.houdini {
    .before, .before *, .after .done {
        /* If there is no `.active` nor `.ready`, then hide all toggles. */
        display: none;
    }
    .edit, .done {
        margin-left: 5px;
        &:hover {
            text-decoration: underline;
        }
    }
    .edit {
        color: @link;
        &:hover {
            color: darken(@link, 10%);
        }
    }
    .done {
        color: @dark-gray;
        display: none !important;  /* This is bad for UX right now. */
        &:hover {
            color: @medium-gray;
        }
    }
    &.ready {
        .before, .before * {
            display: inline-block;
        }
        .after {
            /* This is where hidden content (i.e., form fields) lives. */
            display: none;
        }
    }
    &.active {
        /* Toggle content. */
        .before {
            display: none;
        }
        .after, .after * {
            display: inline-block;
        }
    }
}

.devhub-form label.houdini {
    display: inline-block;
    margin: 0;
}

#submit-details {
    #general-details {
        font-family: @open-stack;
        margin: 2em 0;
        padding-left: 95px;
        position: relative;
        h2 {
            color: @blue;
            font-weight: bold;
            margin: 0 0 5px;
        }
        img {
            position: absolute;
            left: 15px;
        }
        b {
            color: @medium-gray;
        }
        .details-url {
            margin: 0 0 5px;
            .houdini {
                .before {
                    margin: 6px 5px;
                }
                .after {
                    margin-left: 5px;
                }
            }
        }
        .errorlist {
            margin: 5px 0 10px;
        }
    }
    #show-privacy {
        &.error {
            label.checkbox {
                display: none;
            }
        }
        &.ready {
            .brform {
                display: none;
            }
        }
        &.active {
            label.checkbox {
                display: none;
            }
            .brform {
                display: block;
            }
        }
        .brform {
        }
    }
    #addon-categories-edit {
        label {
            display: inline-block;
        }
        .addon-app-cats {
            > label {
                margin: 15px 0 5px;
            }
        }
        .addon-categories {
            .column-count(4);
            label {
                margin-top: 5px;
            }
        }
    }
    #support-fields {
        .simple-field {
            float: left;
            width: 48%;
            + .simple-field {
                float: right;
            }
        }
    }
}

@media (max-width: 860px) {
    #submit-details {
        #addon-categories-edit .addon-categories {
            .column-count(3);
        }
    }
}

@media (max-width: 500px) {
    #submit-details {
        #addon-categories-edit .addon-categories {
            .column-count(2);
        }
    }
}
