@import 'lib';

#submit-manifest {
    .learn-mdn {
        margin-top: 20px;
    }
}

#upload-webapp-features {
    label {
        display: block;
        padding: 15px 0;
    }
    .toggle {
        font-weight: 600;
        padding: 10px 20px;
    }
    .toggle.hidden,
    // Hide all the non-checked rows by default.
    .view-all:not(.hidden) ~ .feature-choices li:not(.checked) {
        display: none;
    }
    .feature-choices {
        margin-top: 20px;
    }
    .api, .hint {
        color: #555;
    }
    .api {
        background: #eee;
        border: 1px solid #ccc;
        border-radius: 2px;
        color: #aaa;
        font-size: 11px;
        font-weight: 300;
        padding: 2px 5px;

        + .api {
            margin-left: 4px;
        }
    }
    .apis, .hint {
        padding: 2px 0 0 18px;
    }
    .hint {
        line-height: 1.3;
    }
    .label {
        color: #444;
    }
    input:checked ~ {
        color: #333;

        .label {
            color: #036;
        }
        .hint, .apis .api {
            color: #369;
        }
        .apis .api {
            background: #cef;
            border-color: #036;
        }
    }
    li {
        border-top: 1px dotted #eee;

        &:hover {
            background: #eef9ff;

            .label {
                color: #111;
            }
            .api, .hint {
                color: #222;
            }
        }
    }
}

// Only on submission page.
#upload-webapp #upload-webapp-features {
    border-top: 1px dotted $shadow-blue;
    margin-top: 20px;
    padding-top: 20px;

    .apis {
        float: right;
        padding: 0;
    }
    .hint {
        padding: 2px 0 0 21px;
    }
}
