@import 'lib';

#submit-terms {
    #agreement-container {
        border: 1px solid $light-gray;
        margin: 20px 0 10px;
        max-height: 300px;
        overflow: auto;
        padding: 1em;

        #dev-agreement {
            p {
                margin: 0 0 1em;
            }
            ul, ol {
                list-style: decimal outside;
                margin-left: 4ex;

                .loud-noises {
                    text-transform: uppercase;
                }
                li {
                    margin-bottom: .5em;
                }
                ul {
                    list-style: circle outside;
                    margin: 1em 2em;
                }
            }
        }
    }
    #agreement-extra-links {
        color: $medium-gray;
        font-size: 11px;
        text-align: right;

        li {
            display: inline-block;

            + li:before {
                content: "\00a0\00b7\00a0";
            }
        }
    }
    form {
        margin-top: 1.5em;

        label {
            color: $medium-gray;
        }
    }
}

.html-rtl #submit-terms {
    #agreement-extra-links {
        text-align: left;
    }
}
