@import 'lib';

th.amount, td.amount {
    text-align: right;
}

#tx-filters {
    margin-bottom: 52px;

    label {
        display: inline-block;
        margin-right: 5px;
        text-align: right;
        width: 110px;
    }
    .date-to label {
        width: 50px
    }
    button {
        bottom: 26px;
        float: right;
        position: relative;
    }
    .form-elem, .errorlist, .errorlist li {
        display: inline;
    }
    .errorlist li {
        left: 5px;
        position: relative;
    }
}
.date-from {
    float: left;
}
.form-row {
    margin-bottom: 13px;
}

.results-found {
    clear: both;
    display: block;
    margin-bottom: 13px;
}
