{% if obj.__class__.__name__ == 'Addon' %}
  {% set sharemsg = _('Share this Add-on') %}
  {% set listed = True %}
{% elif obj.__class__.__name__ == 'Collection' %}
  {% set sharemsg = _('Share this Collection') %}
  {% set listed = obj.listed %}
{% endif %}
{% if listed %}
<a class="share widget{{ ' condensed tooltip' if condensed }}"
     data-share-counts="{{ counts|json }}"
     data-base-url="{{ obj.share_url() }}?service="
     title="{{ sharemsg }}"
     href="#">{{ sharemsg if not condensed }}</a>
{% endif %}
