{% if request.MOBILE %}
  {% extends "mobile/base.html" %}
{% else %}
  {% extends "impala/base_side_categories.html" %}
{% endif %}

{% if category %}
  {% set title = category.name %}
{% else %}
  {% if section == 'extensions' %}
    {% set title = {'featured': _('Featured Extensions'),
                    'users': _('Most Popular Extensions'),
                    'rating': _('Top-Rated Extensions'),
                    'created': _('Newest Extensions'),
                    'name': _('Extensions by Name'),
                    'popular': _('Extensions by Weekly Downloads'),
                    'updated': _('Recently Updated Extensions'),
                    'hotness': _('Up & Coming Extensions')}.get(sorting) %}
  {% elif section == 'themes' %}
    {# L10n: "Complete" is used as an adjective. "Complete Theme" means a full-featured theme. #}
    {% set title = {'featured': _('Featured Complete Themes'),
                    'users': _('Most Popular Complete Themes'),
                    'rating': _('Top-Rated Complete Themes'),
                    'created': _('Newest Complete Themes'),
                    'name': _('Complete Themes by Name'),
                    'popular': _('Complete Themes by Weekly Downloads'),
                    'updated': _('Recently Updated Complete Themes'),
                    'hotness': _('Up & Coming Complete Themes')}.get(sorting) %}
  {% endif %}
{% endif %}

{% block title %}
  {{ page_title(title) }}
{% endblock %}

{% set base_crumb = {
    'extensions': (url('browse.extensions'), _('Extensions')),
    'themes': (url('browse.themes'), _('Themes')),
}.get(section, 'extensions') %}

{% if section in ('extensions', 'themes') %}
  {% if category %}
    {% set feed = url('browse.%s.rss' % section, category.slug) %}
  {% elif section == 'extensions' %}
    {% set feed = url('browse.%s.rss' % section) %}
  {% endif %}
  {% if feed %}
    {% set feed_url = feed|urlparams(sort=sorting) %}
    {% block rss_feed %}
      <link rel="alternate" type="application/rss+xml" title="RSS"
            href="{{ feed_url }}">
    {% endblock %}
  {% endif %}
{% endif %}

{% if request.MOBILE %}
  {% block search %}
    {% include "search/mobile/search.html" %}
  {% endblock %}
{% else %}
  {% block bodyclass %}{{ section }} s-{{ sorting }}{% endblock %}
  {% block extrahead %}
    {% if category %}
      <style>
        #c-{{ category.id }} a {
            background: #ecf5fe;
            color: #333;
            font-weight: bold;
        }
        #c-{{ category.id }} a:after {
            color: inherit;
        }
      </style>
    {% endif %}
  {% endblock %}
{% endif %}
