<!DOCTYPE html>
<html lang="{{ LANG }}" dir="{{ DIR }}"><!--TODO: APP_SHORTNAME-->
  <head>
    <title>{% block title %}{{ _('Mozilla Add-ons') }}{% endblock %}</title>

    <link rel="shortcut icon" type="image/x-icon"
          href="{{ MEDIA_URL}}img/favicon.ico">
    <meta charset="utf-8">

    <link rel="stylesheet" media="screen,projection,tv"
          href="{{ MEDIA_URL}}/css/main.css">
    <link rel="stylesheet" media="screen,projection,tv"
          href="{{ MEDIA_URL}}/css/main-mozilla.css">

    {% block extrahead %}{% endblock %}
  </head>
  <body class="html-{{ DIR }} {% block bodyclass %}{% endblock %}">
    <div class="section">

      {% block site_header %}
        <div id="header" role="banner">
          <p id="title">
            {% block site_header_title %}
              <a href="{{ url('home') }}"
                 title="{% trans app=_("Firefox") %}Return to the {{ app }} Add-ons homepage{% endtrans %}">
                {% trans url="%simg/amo2009/app-icons/firefox.png"|format(MEDIA_URL) -%}
                  Add-ons <em>for</em> <img alt="Firefox" src="{{ url }}"> <strong>Firefox</strong>
                {%- endtrans %}</a>
            {% endblock site_header_title %}
          </p>

          <p id="brand">
            <a href="http://www.mozilla.com/" title="{{ _('Mozilla') }}"
               accesskey="1">{{ _('Mozilla') }}</a>
          </p>

          <div id="aux-nav" role="navigation">
            <ul id="other-apps" class="change"
                title="{{ _('Find add-ons for other applications') }}">
              <li><a href="#" class="controller">{{ _('Other Applications') }}</a></li>
            </ul>
            {% include "user_login.html" %}
          </div>
        </div>
      {% endblock site_header %}

      {% block navbar %}
      <div class="stand-alone-options">
        {% block categories %}{% include "categories.html" %}{% endblock %}
        {% block search %}{% include "search.html" %}{% endblock %}
      </div>
      {% endblock %}
      {% block content %}{% endblock %}
    </div>

    <!-- js -->
    <script type="text/javascript" src="{{ MEDIA_URL}}js/__utm.js"></script>
    <script type="text/javascript"
      src="/en-US/firefox/pages/js_constants.js"></script>
    <script type="text/javascript"
      src="{{ MEDIA_URL}}js/jquery-compressed.js"></script>
    <script type="text/javascript"
      src="{{ MEDIA_URL}}js/jquery.cookie.js"></script>
    <script type="text/javascript"
      src="{{ MEDIA_URL}}js/amo2009/global.js"></script>

    <script type="text/javascript"
      src="{{ MEDIA_URL}}js/amo2009/slimbox2.js"></script>
    <script type="text/javascript"
      src="{{ MEDIA_URL}}js/amo2009/addons.js"></script>
    <script type="text/javascript"
      src="{{ MEDIA_URL}}js/amo2009/global-mozilla.js"></script>
    <script type="text/javascript"
      src="{{ MEDIA_URL}}js/amo2009/install-button.js"></script>
    <script type="text/javascript"
      src="{{ MEDIA_URL}}js/jquery-ui/jqModal.js"></script>
    <script type="text/javascript">// <![CDATA[
    $(document).ready(function() {
        $(".hidden").hide(); // hide anything that should be hidden

        if (typeof __utmSetVar == 'function') {
                            __utmSetVar("Loggedin");
                    }
    });
    // ]]></script>

    <script type="text/javascript"
      src="{{ MEDIA_URL}}js/amo2009/home.js"></script>
  </body>
</html>
