<div id="categories" class="categories">
  <h3 title="{{ _('Choose a category') }}">
    <a href="#categoriesdropdown" aria-haspopup="true">
      {% if is_mobile(request.APP) -%}
        {{ _('Mobile Categories') }}
      {% else %}
        {{ _('Categories') }}
      {%- endif %}
    </a>
  </h3>
  <ul id="categoriesdropdown">
    {% set categories, types = sidebar(request.APP) %}
    <li>
      <ul>
        {% for category in categories %}
        <li id="c-{{ category.id }}">
          <a href="{{ category.get_url_path() }}">{{ category.name }}</a>
          <span class="items">{{ category.count }}</span>
        </li>
        {% endfor %}
      </ul>
    </li>
    <li>
      <ul>
        {% for type_ in types %}
          <li><a href="{{ type_.url }}">{{ type_.name }}</a></li>
        {% endfor %}
      </ul>
    </li>
  </ul>
</div>
