<div id="social-footer">
  <ul>
    <li>{{ _('get to know <b>add-ons</b>')|safe }}</li>
    <li><a href="{{ url('pages.about') }}">{{ _('About') }}</a></li>
    <li><a href="http://blog.mozilla.com/addons">{{ _('Blog') }}</a></li>
    <li class="footer-devhub-link"><a href="{{ url('devhub.index') }}">{{ _('Developer Hub') }}</a></li>
    <li><a href="{{ url('pages.faq') }}">{{ _('FAQ') }}</a></li>
    <li><a href="https://forums.addons.mozilla.org">{{ _('Forum') }}</a></li>
  </ul>
</div>
<div id="footer-content">
  {% include "amo_footer.html" %}
</div>

