<div id="header" role="banner">

  <p id="title">
    <a href="{{ url('home') }}"
       title="{% trans app=_("Firefox") %}Return to the {{ app }} Add-ons homepage{% endtrans %}">
      {% trans url="%simg/amo2009/app-icons/firefox.png"|format(MEDIA_URL) -%}
        Add-ons <em>for</em> <img alt="Firefox" src="{{ url }}">
        <strong>Firefox</strong>
      {%- endtrans %}</a>
  </p>

  <p id="brand">
    <a href="http://www.mozilla.com/" title="{{ _('Mozilla') }}"
       accesskey="1">{{ _('Mozilla') }}</a>
  </p>

  <div id="aux-nav" role="navigation">
    <ul id="other-apps" class="change"
        title="{{ _('Find add-ons for other applications') }}">
      <li><a href="#" class="controller">{{ _('Other Applications') }}</a></li>
    </ul>
    {% include "user_login.html" %}
  </div>
</div>
