<h1 class="site-title">
{% macro heading(text, icon) -%}
<a href="{{ url('home') }}"
  title="{{ _('Return to the {0} Add-ons homepage')|f(request.APP.pretty) }}">
  {{ text|f(media('img/zamboni/app_icons/' + icon + '.png'))|safe }}</a>
{%- endmacro %}
{% if request.APP == amo.FIREFOX %}
  {{ heading(_('<img alt="Firefox" src="{0}"> Add-ons'), 'firefox') }}
{% elif request.APP == amo.THUNDERBIRD %}
  {{ heading(_('<img alt="Thunderbird" src="{0}"> Add-ons'), 'thunderbird') }}
{% elif request.APP == amo.MOBILE %}
  {{ heading(_('<img alt="Firefox" src="{0}"> Mobile Add-ons'), 'firefox') }}
{% elif request.APP == amo.SEAMONKEY %}
  {{ heading(_('<img alt="SeaMonkey" src="{0}"> Add-ons'), 'seamonkey') }}
{% elif request.APP == amo.SUNBIRD %}
  {{ heading(_('<img alt="Sunbird" src="{0}"> Add-ons'), 'sunbird') }}
{% else %}
  {{ heading(_('<img alt="" src="{0}"> Add-ons'), 'generic') }}
{% endif %}
</h1>
