<!DOCTYPE html>
<html>
<head>
	<title>QUnit Test Suite</title>
  <link rel="stylesheet" href="{{ url('qunit_css') }}" type="text/css" media="screen">
</head>
<body
        data-app="{{ request.APP.short }}"
        data-appname="{{ request.APP.pretty }}"
        data-appid="{{ request.APP.id }}"
        data-anonymous="true"
        data-readonly="false"
        data-media-url="{{ MEDIA_URL }}">
  <h1 id="qunit-header">QUnit Test Suite ({{ suite.name }})</h1>
	<h2 id="qunit-banner"></h2>
	<div id="qunit-testrunner-toolbar"></div>
  {% if in_directory or subsuites %}
  <div id="navigation">
    {% if in_subdirectory %}
    <a href="{{ url('qunit_test_overview', previous_directory) }}">..</a>
    {% endif %}

    {% for suite in subsuites %}
    <a href="{{ suite }}/">{{ suite }}</a>
    {% endfor %}
  </div>
  {% endif %}
	<h2 id="qunit-userAgent"></h2>
	<ol id="qunit-tests"></ol>
  <div id="qunit-fixture">test markup, will be hidden</div>

  {# The following HTML can be applied to #qunit-fixture in test setup #}
  <div id="addon-validator-template">
    <div class="addon-validator-suite" id="addon-validator-suite-test"
         data-validateurl="/validate">
      {% with validate_url="/validate" %}
        {% include "devhub/addons/includes/validation_test_results.html" %}
      {% endwith %}
    </div>
  </div>

  <script src="{{ url('jsi18n') }}/build:{{ BUILD_ID_JS }}"></script>
  {{ js('common') }}
  <script async defer src="{{ url('addons.buttons.js') }}/build:{{ BUILD_ID_JS }}"></script>
  <script type="text/javascript" src="{{ url('qunit_js') }}"></script>
  <script type="text/javascript" src="{{ MEDIA_URL }}js/zamboni/jquery.mockjax.js"></script>
  {% for url in suite.extra_urls %}
    <script type="text/javascript" src="{{ url }}"></script>
  {% endfor %}
  {% for url in suite.extra_media_urls %}
    <script type="text/javascript" src="{{ MEDIA_URL }}{{ url }}"></script>
  {% endfor %}
  {% for file in files %}
    <script type="text/javascript" src="{{ url('qunit_test', file) }}"></script>
  {% endfor %}

</body>
</html>
