{% set search_form = SearchForm(request) %}
<form action="{{ url('search.search') }}" method="get">
  <span class="wrap">
    <input type="text" name="q"
           class="text {% if not search_form.q.data %}placeholder{% endif %}"
           placeholder="{{ _('search for add-ons') }}"
           value="{{ search_form.q.data or '' }}" required="required">
  </span>
  <input type="image" class="submit" src="{{ settings.MEDIA_URL }}img/zamboni/global/btn-search.png" title="{{ _('Search') }}" alt="{{ _('Search') }}" />
</form>