{# these are custom attributes on <div class="install ..."> found in src/olympia/addons/templates/addons/impala/button.html #}
  data-addon="{{ addon.id }}"
  data-icon="{{ addon.icon_url }}"
  data-developers="{{ addon.meet_the_dev_url() }}"
  data-versions="{{ url('addons.versions', addon.id) }}"
  data-name="{{ addon.name }}"
  {{ b.attrs()|xmlattr }}
{% if compat %}
  data-min="{{ compat.min.version }}"
  data-max="{{ compat.max.version }}"
  data-is-compatible-by-default="{{ version.is_compatible_by_default|json }}"
  data-is-compatible-app="{{ version.is_compatible_app(APP)|json }}"
  data-compat-overrides="{{ version.compat_override_app_versions()|json }}"
{% endif %}
