<a class="button {{ button.button_class|join(' ') }} {{ extra }}"
  data-hash="{{ link.file.hash }}"
  {% if button.show_warning %}
    href="{{ button.addon.get_url_path() }}"
    data-realurl="{{ link.url }}"
  {% else %}
    href="{{ link.url }}"
  {% endif %}>
  <b></b>
  <span>
    {{ link.text }}
    {% if link.os %}
      <span class="os" data-os="{{ link.os.name }}">
          {# L10n: {0} is a platform name like Windows or Mac OS X. #}
          {{ _('for {0}')|format_html(link.os.name) }}
      </span>
    {% endif %}
  </span>
</a>
