/* {{{ Layout */

a,
a:link,
a:visited {
	color: #0080be;
}

a:hover,
a:active {
	color: #005580;
}

body {
	background: #fff url(../../img/firefoxcup/background-repeat.jpg) top center repeat-x;
}

body, h1, h2, h3, h4, h5, h6 {
	font-family: "helvetica neue",arial,helvetica,sans-serif;
}

#wrapper {
	background: url(../../img/firefoxcup/background.jpg) top center no-repeat;
}

#doc {
	width: 990px;
	overflow: auto;
}

.section {
	max-width: none;
	min-height: 0;
	min-width: 0;
	padding: 0;
	width: auto;
}

#footer .section {
	width: 990px;
	text-align: left;
}

/* }}}
/* {{{ Header */

#header {
	float: right;
}

#header li {
	float: left;
	border-left: 1px solid #209b1e;
	padding: 0 10px;
	margin-top: 15px;
	height: 25px;
}

#header li.first {
	padding-left: 0;
	border-left: 0;
}

#header a,
#header a:link,
#header a:visited,
#header a:hover,
#header a:active {
	color: #fff;
	text-decoration: underline;
	display: block;
	padding: 5px 0;
}

#header .languages label {
	color: #fff;
	font-weight: normal;
}

#header .languages button,
#header .languages select {
	vertical-align: middle;
}

/* }}} */
/* {{{ Main Feature */

#main-feature {
	color: #fff;
}

#main-feature h1 {
	float: left;
}

#main-feature h2 {
	float: left;
	font-size: 24px;
	color: #fff;
	width: 330px;
	margin-top: 60px;
	margin-right: 35px;
	line-height: 1.5;
}

/* }}} */
/* {{{ Download */

#download {
	float: left;
	width: 280px;
	margin-top: 45px;
	background: url(../../img/firefoxcup/background-download.png) top right no-repeat;
}


#download a,
#download a span {
	display: block;
	color: #fff;
}

#download a span.title {
	font-size: 24px;
	line-height: 1.5;
	padding: 15px 0 0 5px;
	color: #fff;
}

#download a span {
	padding: 0 90px 5px 5px;
}

#download a:link,
#download a:visited,
#download a:hover,
#download a:active {
	text-decoration: none;
}

#download a:hover span.title,
#download a:active span.title {
	text-decoration: underline;
}

/* }}} */
/* {{{ Main Content */

#main-content {
	clear: both;
	float: left;
	display: inline;
	width: 575px;
	padding: 35px 15px 15px 35px;
	margin:  0 35px 25px 25px;
	background: #fff;
	color: #333;
	border: 1px solid #eee;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	-moz-box-shadow: 1px 1px 2px rgba(0,0,0,0.1), 0 -20px 45px rgba(0,0,0,0.08) inset;
	-webkit-box-shadow: 1px 1px 2px rgba(0,0,0,0.1), 0 -20px 45px rgba(0,0,0,0.08) inset;
	min-height: 300px;
	background: #fff url(../../img/firefoxcup/preview-uk.jpg) 10px 100px no-repeat;
}

#main-content h2 {
	color: #333;
	float: left;
	width: 235px;
	font-size: 20px;
	margin-right: 15px;
	line-height: 1.3;
}

#personas {
	float: left;
	width: 325px;
}

#personas-header h3 {
	color: #666;
	font-size: 13px;
	float: left;
	margin-left: 5px;
  margin-top: 5px;
	padding-right: 25px;
	background: url(../../img/firefoxcup/arrow.png) 100% 50% no-repeat;
}

#personas-nav {
	float: right;
}

#personas-nav li {
	float: left;
}

#personas-nav li a {
	border-left: 1px solid #13a5ff;
	padding: 0 8px;
	display: block;
}

#personas-nav li a.selected {
	color: #666;
}

#personas-nav li.first a {
	border-left: 0;
}

.pager-content {
	clear: both;
}

ul.personas-list {
}

.personas-list li {
	float: left;
	width: 150px;
	margin: 5px;
}

.persona-small .persona-preview [data-browsertheme] {
	width: 150px;
	height: 50px;
  border: none !important;
}

.persona-inner {
  padding: 0;
}

.persona-hover .persona-inner {
  background: none;
}

#personas p {
	margin-left: 5px;
	padding: 20px 0;
  clear: both;
}

/* }}} */
/* {{{ Sidebar */

#sidebar {
	float: left;
	width: 275px;
}

#sidebar .subfeatures li {
}

#sidebar .subfeatures li a:link,
#sidebar .subfeatures li a:visited,
#sidebar .subfeatures li a:hover,
#sidebar .subfeatures li a:active {
	color: #333;
	text-decoration: none;
}

#sidebar .subfeatures li a:hover,
#sidebar .subfeatures li a:active {
	color: #000;
	border-color: #ccc;
}

#sidebar .subfeatures li a {
	display: block;
	padding: 17px 20px 20px 20px;
	padding-left: 75px;
	background: #fff;
	background-repeat: no-repeat;
	background-position: 10px 20px;
	margin: 0 0 20px 0;
	border: 1px solid #eee;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	-moz-box-shadow: 1px 1px 2px rgba(0,0,0,0.1), 0 -20px 45px rgba(0,0,0,0.08) inset;
	-webkit-box-shadow: 1px 1px 2px rgba(0,0,0,0.1), 0 -20px 45px rgba(0,0,0,0.08) inset;
}

#sidebar .subfeatures span.title {
	font-size: 22px;
}

#sidebar .subfeatures span {
	display: block;
}

#sidebar .subfeatures li#featured a {

	display: block;
	min-height: 80px;
}

#sidebar .subfeatures li a#featured-footiefox {
	background-image: url(../../img/firefoxcup/footiefox.png);
}

#sidebar .subfeatures li a#featured-rockyourfirefox {
	background-image: url(../../img/firefoxcup/rockyourfirefox.png);
	background-position: 0 0;
}

#sidebar .subfeatures li a#featured-amo {
	background-image: url(../../img/firefoxcup/addons.png);
	background-position: 10px 20px;
}

#sidebar #email a {
	background-image: url(../../img/firefoxcup/email.png);
	min-height: 62px;
}

#sidebar #facebook a {
	background-image: url(../../img/firefoxcup/facebook.png);
	min-height: 54px;
}

.default #sidebar .subfeatures li a#featured-footiefox { display: block; }
.default #sidebar .subfeatures li a#featured-rockyourfirefox,
.default #sidebar .subfeatures li a#featured-amo { display: none; }

.rockyourfirefox #sidebar .subfeatures li a#featured-rockyourfirefox { display: block; }
.rockyourfirefox #sidebar .subfeatures li a#featured-footiefox,
.rockyourfirefox #sidebar .subfeatures li a#featured-amo { display: none; }

.amo #sidebar .subfeatures li a#featured-amo { display: block; }
.amo #sidebar .subfeatures li a#featured-footiefox,
.amo #sidebar .subfeatures li a#featured-rockyourfirefox { display: none; }

/* }}} */
/* {{{ Teams Personas */

#secondary-content {
	clear: both;
	padding-left: 25px;
}

#secondary-content h2 {
	font-size: 22px;
	color: #333;
}

#teams-section {
	width: 625px;
}

#teams {
	width: 625px;
	float: left;
	border-collapse: separate;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	-moz-box-shadow: 1px 1px 2px rgba(0,0,0,0.1), 0 -20px 45px rgba(0,0,0,0.08) inset;
	-webkit-box-shadow: 1px 1px 2px rgba(0,0,0,0.1), 0 -20px 45px rgba(0,0,0,0.08) inset;
	margin: 25px 35px 25px 0;
}

#teams th,
#teams td {
	padding: 8px 12px;
}

#teams thead th {
	text-align: center;
	background-color: #48b4d5;
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, rgb(87,200,231)), color-stop(1, rgb(54,168,206)));
	background-image: -moz-linear-gradient(center top, rgb(87,200,231) 0%, rgb(54,168,206) 100%);
	color: #fff;
	font-size: 16px;
	padding: 12px;
	border-left: 1px solid #4cb8d8;
	border-right: 1px solid #71c7e0;
}

#teams thead th:first-child {
	-webkit-border-top-left-radius: 10px;
	-moz-border-radius-topleft: 10px;
	border-top-left-radius: 10px;
	border-left: 0;
}

#teams thead th:last-child {
	-webkit-border-top-right-radius: 10px;
	-moz-border-radius-topright: 10px;
	border-top-right-radius: 10px;
	border-right: 0;
}

#teams thead td {
	background: #a8e3f6;
	padding: 1px;
}

#teams tbody td {
	background: #fff;
	border-left: 1px solid #fff;
	border-right: 1px solid #c0e2ec;
	vertical-align: middle;
}

#teams tbody tr:nth-child(even) td {
	background: #dff4fa;
}

#teams tbody td:first-child {
	border-left: 1px solid #eee;
}

#teams tbody td:last-child {
	border-right: 1px solid #eee;
}

#teams tbody tr:last-child td {
	border-bottom: 1px solid #eee;
}

#teams tbody tr:last-child td:first-child {
	-webkit-border-bottom-left-radius: 10px;
	-moz-border-radius-bottomleft: 10px;
	border-bottom-left-radius: 10px;
}

#teams tbody tr:last-child td:last-child {
	-webkit-border-bottom-right-radius: 10px;
	-moz-border-radius-bottomright: 10px;
	border-bottom-right-radius: 10px;
}

#teams tfoot { display: none; }
#teams tfoot td {
	-webkit-border-bottom-right-radius: 10px;
	-webkit-border-bottom-left-radius: 10px;
	-moz-border-radius-bottomright: 10px;
	-moz-border-radius-bottomleft: 10px;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	background: #fff;
	padding: 5px;
}

#teams img {
	display: block;
	margin: 0 auto;
}

/* }}} */
/* {{{ Tweets */

#tweets {
	width: 275px;
	float: left;
	display: inline;
	border-collapse: separate;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	-moz-box-shadow: 1px 1px 2px rgba(0,0,0,0.1), 0 -20px 45px rgba(0,0,0,0.08) inset;
	-webkit-box-shadow: 1px 1px 2px rgba(0,0,0,0.1), 0 -20px 45px rgba(0,0,0,0.08) inset;
	margin: 25px 0;
}

#tweets th,
#tweets td {
	padding: 8px 12px;
}

#tweets thead th {
	background-color: #58cf50;
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, rgb(95,219,87)), color-stop(1, rgb(82,196,74)));
	background-image: -moz-linear-gradient(center top, rgb(95,219,87) 0%, rgb(82,196,74) 100%);
	color: #fff;
	font-size: 16px;
	padding: 4px 12px;
	-webkit-border-top-left-radius: 10px;
	-moz-border-radius-topleft: 10px;
	border-top-left-radius: 10px;
	-webkit-border-top-right-radius: 10px;
	-moz-border-radius-topright: 10px;
	border-top-right-radius: 10px;
}

#tweets thead th a {
	display: block;
	background: url(../../img/firefoxcup/twitter.png) 0 50% no-repeat;
	padding: 12px 0;
	padding-left: 50px;
}

#tweets thead th a:link,
#tweets thead th a:visited,
#tweets thead th a:hover,
#tweets thead th a:active {
	color: #fff;
}

#tweets thead th a:hover,
#tweets thead th a:active {
	text-decoration: underline;
}

#tweets thead th img {
	vertical-align: middle;
	margin-right: 8px;
}

#tweets thead td {
	background: #d5ead5;
	padding: 1px;
}

#tweets tbody td {
	background: #fff;
	border-width: 1px;
	border-style: solid;
	border-color: #f2fcf1 #eee #e3f8df #eee;
}

#tweets tbody tr:nth-child(even) td {
	background: #e3f8df;
}

#tweets tbody td:first-child {
	border-left: 1px solid #eee;
}

#tweets tbody td:last-child {
	border-right: 1px solid #eee;
}

#tweets tbody tr:last-child td {
	border-bottom: 1px solid #eee;
}

#tweets tbody tr:last-child td:first-child {
	-webkit-border-bottom-left-radius: 10px;
	-moz-border-radius-bottomleft: 10px;
	border-bottom-left-radius: 10px;
}

#tweets tbody tr:last-child td:last-child {
	-webkit-border-bottom-right-radius: 10px;
	-moz-border-radius-bottomright: 10px;
	border-bottom-right-radius: 10px;
}

#tweets tfoot { display: none; }
#tweets tfoot td {
	-webkit-border-bottom-right-radius: 10px;
	-webkit-border-bottom-left-radius: 10px;
	-moz-border-radius-bottomright: 10px;
	-moz-border-radius-bottomleft: 10px;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	background: #fff;
	padding: 5px;
}

/* }}} */
/* {{{ Reset AMO Styles */

table {
    border-bottom: 0;
}

thead th {
	border: 0;
}

tbody {
    border: 0;
}

tbody tr th, tbody tr td {
    border-top: 0;
}

/* }}} */
