{% extends 'mkt/base.html' %}

{% set title = _('Report Abuse') %}
{% block title %}
  {# L10n: {0} is the name of the user. #}
  {{ mkt_page_title(_('Report abuse for {0}')|f(profile.name)) }}
{% endblock %}

{% block content %}
  {{ mkt_breadcrumbs(product, [(None, title)]) }}
  <section id="abuse" class="friendly">
    <div>
      <h1>{{ title }}</h1>
      <p>
        <label id="recap-label" for="{{ abuse_form.text.auto_id }}">
          {% trans %}
            If you suspect this user violates our policies, please use the
            form below to describe your concerns. Please do not use this form
            for any other reason.
          {% endtrans %}
        </label>
      </p>
      <form method="post">
        {% include 'site/helpers/abuse.html' %}
        <p class="form-footer">
          <button type="submit">{{ _('Send Report') }}</button> {{ _('or') }}
          <a href="{{ url('users.profile', profile.username) }}">{{ _('Cancel') }}</a>
        </p>
      </form>
    </div>
  </section>
{% endblock %}
