{% extends 'mkt/base.html' %}

{% set pagetitle = _('Feedback') %}
{% set page_parent = '/' %}

{% block content %}
    <section class="main account">

      {% if request.user.is_authenticated() %}
        {% include 'account/includes/nav.html' %}
      {% endif %}
      {% if DESKTOP %}
        <h2>{{ pagetitle }}</h2>
      {% endif %}

      {{ feedback_form(form) }}

      <div class="feedback-links c">
        <a href="https://support.mozilla.org/en-US/products/marketplace" class="fatbutton" target="_blank">{{ _('Get Help') }}</a>
        <a href="{{ url('site.privacy') }}" class="fatbutton" rel="external">{{ _('Privacy Policy') }}</a>
        <a href="{{ url('site.terms') }}" class="fatbutton" rel="external">{{ _('Terms of Use') }}</a>
      </div>
    </section>
{% endblock %}
