{% extends 'mkt/base.html' %}

{% set pagetitle = _('Feedback') %}
{% set page_parent = '/' %}

{% block content %}
    <section class="account">

      {% if request.user.is_authenticated() %}
        {% include 'account/includes/nav.html' %}
      {% endif %}

      <form class="form-grid" method="post" id="feedback-form" action="{{ url('account.feedback') }}">
        {{ csrf() }}

        <div class="simple-field c{{ ' error' if form.feedback.errors }}">
          {{ form.feedback.errors }}
          {{ form.feedback }}
        </div>

        {% include 'site/helpers/recaptcha.html' %}

        {{ form.platform }}
        {{ form.chromeless }}

        <footer class="form-footer c">
          <button type="submit">{{ _('Send') }}</button>
        </footer>
      </form>
      <div class="feedback-links">
        <a href="https://support.mozilla.org/en-US/products/marketplace" class="fatbutton" target="_blank">{{ _('Get Help') }}</a>
        <a href="{{ url('site.privacy') }}" class="fatbutton" target="_blank">{{ _('Privacy Policy') }}</a>
        <a href="{{ url('site.terms') }}" class="fatbutton" target="_blank">{{ _('Terms of Use') }}</a>
      </div>
    </section>
{% endblock %}
