{% extends 'mkt/base.html' %}

{% set pagetitle = _('Feedback') %}
{% set page_parent = '/' %}

{% block content %}
  <section class="main account">
    {% include 'account/includes/nav.html' %}
    {% if DESKTOP %}
      <h2>{{ pagetitle }}</h2>
    {% endif %}

    {{ feedback_form(form) }}

    <div class="several-buttons c">
      <a href="https://support.mozilla.org/en-US/products/marketplace" class="button alt"{% if not DESKTOP %} target="_blank"{% endif %}>{{ _('Get Help') }}</a>
      <a href="{{ url('site.privacy') }}" class="button alt">{{ _('Privacy Policy') }}</a>
      <a href="{{ url('site.terms') }}" class="button alt">{{ _('Terms of Use') }}</a>
    </div>
  </section>
{% endblock %}
