{% extends 'mkt/base.html' %}

{% block title %}
  {{ mkt_page_title(_('User Info for {0}')|f(profile.name)) }}
{% endblock %}

{% block content %}
  <section id="profile" class="account form-grid">
    {{ mkt_breadcrumbs(product, [(None, _('Users')), (None, profile.name)]) }}
    <header class="c">
      <h1 class="fn n">{{ profile.name }}</h1>
      <ul class="sub-nav" id="profile-actions">
      {% if own_profile %}
        <li><a id="edit-profile" href="{{ url('account.settings') }}">
          {{ _('Edit Profile') }}</a></li>
      {% endif %}
      {% if edit_any_user and not own_profile %}
        <li><a id="manage-user" href="{{ url('users.admin_edit', profile.id) }}">
          Manage User</a></li>
      {% endif %}
      </ul>
    </header>
    <section class="c">
      <section id="avatar">
        <img class="avatar" src="{{ profile.picture_url }}">
      </section>
      <section id="prose">
        <dl class="{{ table_class }}">
          <dt>{{ _('Name') }}</dt>
          <dd>{{ profile.name }}</dd>
          {% if profile.location %}
            <dt>{{ _('Location') }}</dt>
            <dd class="adr">{{ profile.location }}</dd>
          {% endif %}
          {% if profile.occupation %}
            <dt>{{ _('Occupation') }}</dt>
            <dd class="role">{{ profile.occupation }}</dd>
          {% endif %}
          {% if profile.homepage %}
            <dt>{{ _('Homepage') }}</dt>
            <dd><a class="url" href="{{ profile.homepage|external_url }}">
              {{ profile.homepage }}</a></dd>
          {% endif %}
          {% if not profile.emailhidden %}
            <dt>{{ _('Email address') }}</dt>
            <dd>{{ emaillink(profile.email) }}</dd>
          {% endif %}
          <dt>{{ _('User since') }}</dd>
          <dd>{{ profile.created|datetime }}</dd>
          <dt>{{ _('Number of apps developed') }}</dt>
          <dd class="num-submissions">
            {% with num=profile.apps_listed|length %}
              {% if num == 0 %}
                {{ _('0 apps') }}
              {% else %}
                <a href="#my-submissions">
                  {% trans num=num %}
                    {{ num }} app
                  {% pluralize %}
                    {{ num }} apps
                  {% endtrans %}
                </a>
              {% endif %}
            {% endwith %}
          </dd>
          <dt>{{ _('Average rating for apps') }}</dt>
          <dd>{{ profile.averagerating|float|stars }}</dd>
        </dl>
      </section>
    </section>
    {% if profile.bio %}
      <section id="bio">
        <h2>{{ _('In a little more detail...') }}</h2>
        <p>{{ profile.bio|nl2br }}</p>
      </section>
    {% endif %}
    {% if submissions.object_list %}
      <div id="my-submissions" class="listing c">
        <h2>{{ _('My Submissions') }}</h2>
        <ol class="items" start="{{ submissions.start_index() }}">
          {{ search_results(submissions.object_list, src='search') }}
        </ol>
        {{ submissions|impala_paginator }}
      </div>
    {% endif %}
  </section>
{% endblock %}
