{% extends 'mkt/base.html' %}

{% set pagetitle = _('Apps') if request.MOBILE else _('My Apps') %}
{% set cache_fragment = 'no' %}
{% set page_parent = '/' %}

{% block content %}
  <section class="account full">
    {% include 'account/includes/nav.html' %}
    <h2>{{ pagetitle }}</h2>

    {% if pager.object_list %}
      <ol class="listing" start="{{ pager.start_index() }}">
      {% for product in pager.object_list %}
        <li>{{ market_tile(product) }}</li>
      {% endfor %}
      </ol>
      {{ pager|impala_paginator }}
    {% else %}
      {{ no_results() }}
    {% endif %}
  </section>
{% endblock %}
