{% extends 'mkt/base.html' %}

{% set title = _('My Purchases') %}
{% block title %}{{ mkt_page_title(title) }}{% endblock %}

{% block content %}
  <section id="purchases" class="listing">
    {{ mkt_breadcrumbs(product, [(None, title)]) }}
    <h1>{{ title }}</h1>
    {% if single %}
      <div id="sorter" class="c">
        <ul><li><a class="opt" href="{{ url('account.purchases') }}">
          {{ _('Show all purchases') }}</a></li></ul>
      </div>
    {% else %}
      {{ impala_addon_listing_header(request.get_full_path(),
                                     search_filter=listing_filter) }}
    {% endif %}
    <ol class="items" start="{{ pager.start_index() }}">
      {% for product in pager.object_list %}
        {% set is_refunded = product.is_refunded(amo_user) %}
        {% set is_chargeback = product.is_chargeback(amo_user) %}
        <li class="item result app c{{ ' refunded' if is_refunded }}{{ ' reversed' if is_chargeback }}">
          <div class="actions">
            {{ market_button(product) }}
            {% if is_refunded %}
              <div class="purchase refund-notice">
                {{ _('Purchase Refunded') }}
              </div>
            {% endif %}
          </div>
          <div class="info">
            {{ product_info(product) }}
            {{ refund_info(product, contributions) }}
          </div>
        </li>
      {% else %}
        {{ no_results() }}
      {% endfor %}
    </ol>
  </section>
{% endblock %}
