{% extends 'mkt/base.html' %}

{% set pagetitle = _('My Apps') %}
{% set cache_fragment = 'no' %}
{% set page_parent = '/' %}

{% block content %}
  <section class="main account full">
    {% include 'account/includes/nav.html' %}
    {% if DESKTOP %}
      <h2>{{ pagetitle }}</h2>
    {% endif %}

    {% if logged %}
      {% if pager.object_list %}
        <ol class="container listing" start="{{ pager.start_index() }}">
        {% for product in pager.object_list %}
          <li class="item c">{{ market_tile(product) }}</li>
        {% endfor %}
        {% if pager.has_other_pages() %}
          <li class="loadmore" data-sel=".listing">
            {{ pager|more_button }}
          </li>
        {% endif %}
        </ol>
      {% else %}
        <p class="notice">{{ _('You have no apps.') }}</p>
      {% endif %}
    {% else %}
      <p class="notice">{{ _('You must be signed in to view your apps.') }}</p>
      <a class="button full browserid" href="#">{{ _('Sign in / Sign up') }}</a>
    {% endif %}

  </section>
{% endblock %}
