{% extends 'mkt/base.html' %}

{% set pagetitle = _('Account Settings') %}
{% set headertitle = _('Account') %}
{% set bodyclass = 'settings' %}
{% set page_parent = '/' %}

{% block content %}
  <section class="main account" id="account-settings">
    {% include 'account/includes/nav.html' %}
    {% if DESKTOP %}
      <h2>{{ pagetitle }}</h2>
    {% endif %}

    <form class="container form-grid" method="post">
      {{ csrf() }}

      {% if amouser %}
        <div class="simple-field c">
          <div class="form-label label">{{ _('Email') }}</div>
          <div class="form-col">
            <input type="text" id="email" readonly value="{{ amouser.email }}">
          </div>
        </div>

        {{ grid_field(form.display_name, validate=True) }}
      {% endif %}

      <div class="simple-field c">
        <div class="form-label"><label for="language">{{ _('Language') }}</label></div>
        <div class="form-col">
          {% if DESKTOP %}<div class="styled select input">{% endif %}
            <select id="language" name="lang" dir="ltr">
              {% for code, name in LANGUAGES|dictsort -%}
                <option value="{{ code }}"{% if code == request.LANG|lower %}
                                             selected data-default{% endif %}>
                {{ name }}</option>
              {%- endfor %}
            </select>
          {% if DESKTOP %}</div>{% endif %}
        </div>
      </div>

      <div class="simple-field c">
        <div class="form-label"><label for="region">{{ _('Region') }}</label></div>
        <div class="form-col">
          {% if DESKTOP %}<div class="styled select input">{% endif %}
            <select id="region" name="region">
              {% for code, region in mkt.regions.REGIONS_CHOICES_SLUG -%}
              <option value="{{ code }}"{% if code == request.REGION.slug %}
                      selected data-default{% endif %}>
                {{ region.name }}</option>
              {%- endfor %}
            </select>
          {% if DESKTOP %}</div>{% endif %}
        </div>
      </div>

      {% if logged %}
        {% if 'admin_log' in form.fields %}
          <h3>Administration</h3>
          {{ grid_field(form.admin_log) }}
          {{ grid_field(form.notes) }}
          {{ grid_field(form.anonymize) }}
          {{ grid_field(form.restricted) }}
        {% endif %}

        <footer class="form-footer c">
          <button disabled type="submit">{{ _('Save Changes') }}</button>
          {# TODO: This will have to come back for desktop. #}
          {# if 'admin_log' in form.fields %}
            <a href="{{ url('admin:users_userprofile_delete', amouser.id) }}"
               class="delete">Delete Account</a>
          {% endif #}
        </footer>
      {% else %}
        <footer class="form-footer c">
          <button disabled type="submit">{{ _('Save Changes') }}</button>
        </footer>
      {% endif %}
    </form>

    {% if not DESKTOP %}
      <div class="several-buttons c">
        {% if logged %}
          {% if is_reviewer %}
            <p><a href="{{ url('reviewers.apps.queue_pending') }}" class="manage button sync" target="_blank">
              {{ _('Reviewer Tools') }}</a></p>
          {% endif %}
          {% if action_allowed('AccountLookup', '%') %}
            <p><a href="{{ url('lookup.home') }}" class="manage button sync" target="_blank">{{ _('Lookup Tool') }}</a></p>
          {% endif %}
          {% if is_reviewer %}
            <p><a href="{{ request.get_full_path()|urlparams(mobile='false', tablet='false') }}" class="manage button sync">
              {{ _('View Full Site') }}</a></p>
          {% endif %}
          <a href="{{ url('users.logout') }}" class="sync button alt logout">{{ _('Sign out') }}</a>
        {% else %}
          <a class="full button alt browserid" href="#">{{ _('Sign in / Sign up') }}</a>
        {% endif %}
      </div>
    {% endif %}

  </section>
{% endblock %}
