{% extends 'mkt/base.html' %}

{% set title = _('Account Settings') %}
{% block title %}{{ mkt_page_title(title) }}{% endblock %}

{% block bodyclass %}settings{% endblock %}

{% block content %}
  <h1 id="top">{{ _('Settings') }}</h1>
  <section id="account-settings" class="account">

    {% include 'account/includes/nav.html' %}

    <form class="form-grid" enctype="multipart/form-data" method="post">
      {{ csrf() }}

      <div class="simple-field c">
        <div class="form-label">
          {{ _('Email') }}
        </div>
        <div class="form-col">
          <input type="text" id="email" readonly value="{{ amouser.email }}">
        </div>
      </div>

      {{ grid_field(form.display_name) }}

      {#
        TODO: This div below should be removed (here for visual reminder).
        Use {% include 'site/includes/languages.html' %} once gaia-ui is
        merged into master.
      #}
      <div class="simple-field two-col c">
        <div class="col-a">
          <label for="language">{{ _('Language') }}:</label>
        </div>
        <div class="col-b">
          <select id="language" dir="ltr" class="hmm">
            {% for code, name in LANGUAGES|dictsort -%}
              <option value="{{ code }}"{% if code == LANG|lower %}
                                           selected{% endif %}>
              {{ name }}</option>
            {%- endfor %}
          </select>
        </div>
      </div>

      {% if 'admin_log' in form.fields %}
        <h3>Administration</h3>
        {{ grid_field(form.admin_log) }}
        {{ grid_field(form.notes) }}
        {{ grid_field(form.anonymize) }}
        {{ grid_field(form.restricted) }}
      {% endif %}

      <footer class="form-footer">
        <button type="submit">{{ _('Save Changes') }}</button>
        {% if 'admin_log' in form.fields %}
          <a href="{{ url('admin:users_userprofile_delete', amouser.id) }}"
             class="delete">Delete Account</a>
        {% endif %}
      </footer>
    </form>
  </section>
{% endblock %}
