#aux-nav ul:hover ul {
    display: block;
}

.toggle-help,
.toggle-info {
    display: none;
}

.install-button .button.platform {
    display: inherit;
}

form.go button {
    display: inherit;
}

.flag-review, .delete-review {
    display: none;
}

.js-hidden {
    display: block;
}
