#header:after {
    content: ".";
    display: block;
    clear: both;
    height: 0;
    visibility: hidden;
}

/*----------------------------------
    Header
----------------------------------*/

#header {
    background: #33589f;
    background: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0, rgb(42,65,135)),
        color-stop(1, rgb(59,105,177))
    );
    background: -moz-linear-gradient(
        center bottom,
        rgb(42,65,135) 0%,
        rgb(59,105,177) 100%
    );
    background: linear-gradient(
        center bottom,
        rgb(42,65,135) 0%,
        rgb(59,105,177) 100%
    );
    height: 57px;
    margin: 0 auto;
    margin-top: 10px;
    font-family: verdana;
    -moz-box-shadow: 0 3px rgba(0,0,0,0.1), inset 0 -4px rgba(0,0,0,0.1);
    -webkit-box-shadow: 0 3px rgba(0,0,0,0.1), inset 0 -4px rgba(0,0,0,0.1);
    box-shadow: 0 3px rgba(0,0,0,0.1), inset 0 -4px rgba(0,0,0,0.1);
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    text-align: center;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3B69B1', endColorstr='#2D488D',GradientType=0 ); /* ie */
/*    width: 980px;*/
}

#header h1 {
    margin: 0;
    float: left;
    font-family: MetaBold;
}

#header h1 a,
#header h1 a:link,
#header h1 a:visited {
    background: url(../global/header-logos.png) 15px 0 no-repeat;
    display: block;
    height: 57px;
    width: 110px;
    text-indent: -9999px;
    overflow: hidden;
    -moz-transition: background 0.2s ease-in-out;
}

#header h1 a:hover,
#header h1 a:active {
    background: -moz-radial-gradient(center 45deg,
                                     ellipse closest-side,
                                     rgba(255,255,255,0.3) 0%,
                                     rgba(255,255,255,0) 100%),
                url(../global/header-logos.png) 15px 0 no-repeat;
    -moz-transition: background 0.2s ease-in-out;
}

#nav-main {
    display: inline-block;
    text-align: left;
}

#nav-main, #nav-main ul, #nav-main li {
    list-style: none;
}

#nav-main ul {
    float: left;
    z-index: 99;
    left: auto;
    margin: 0;
    padding: 0;
}

#nav-main li {
    float: left;
    background: none;
    margin: 0;
    padding: 0;
    position: relative;
}

#nav-main a,
#nav-main span {
    display: block;
    color: #fff;
    font-weight: bold;
    font-size: 13px;
    line-height: 20px;
}

#nav-main ul {
    font-family: "Trebuchet MS", MetaBlack, sans-serif;
}

#nav-main ul ul {
    font-family: "Trebuchet MS", sans-serif;
}

#nav-main ul {
    border-right: 1px solid rgb(83,115,176);
    border-left: 1px solid rgb(47,80,140);
}

#nav-main ul {
    border-right-color: rgba(255,255,255,0.15);
    border-right-color: rgba(255,255,255,0.15);
    border-left-color: rgba(0,0,0,0.2);
}

#nav-main ul li a,
#nav-main ul li span {
    padding: 18px 15px 0 15px;
    height: 39px;
    display: block;
    float: left;
    text-transform: uppercase;
    border-left: 1px solid rgb(83,115,176);
    border-right: 1px solid rgb(47,80,140);
}

#nav-main ul li a {
    border-left-color: rgba(255,255,255,0.15);
    border-right-color: rgba(0,0,0,0.2);
}

#nav-main li ul {
    position: absolute;
    left: -999em;
    opacity: 0;
}

.no-js #nav-main li:hover ul,
#nav-main li.sfhover ul {
    margin-top: 57px;
    left: 0;
    opacity: 1;
    -moz-transition: opacity 0.2s ease-in-out;
    -webkit-transition: opacity 0.2s ease-in-out;
}

#nav-main ul li ul li {
  float: none;
}

#nav-main ul li a,
#nav-main ul li a:link,
#nav-main ul li a:visited {
    color: #fff;
    text-decoration: none;
    -moz-transition: background 0.2s linear;
    -webkit-transition: background 0.2s linear;
}

#nav-main ul li.current a,
#nav-main ul li.current a:link
#nav-main ul li.current a:visited {
    -webkit-transition: none;
}

.moz-header-slim #nav-main ul li.current > a,
.moz-header-slim #nav-main ul li.current > a,
#nav-main ul li a:hover,
#nav-main ul li a:active {
    color: #fff;
    background: #263c7b;
    background: rgba(38,60,123,0.9);
    -moz-transition: background 0.1s ease-in;
    -webkit-transition: background 0.1s ease-in;
}

#nav-main ul li.current span,
#nav-main ul li.current a,
#nav-main ul li.current a:link,
#nav-main ul li.current a:visited {
    height: 35px;
}

#nav-main ul li li.current span,
#nav-main ul li li.current a,
#nav-main ul li li.current a:link,
#nav-main ul li li.current a:visited,
#nav-main ul li.current li a,
#nav-main ul li.current li a:link,
#nav-main ul li.current li a:visited {
    height: auto;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

#nav-main ul li.current a:hover,
#nav-main ul li.current a:active {
    -moz-box-shadow: inset 0 -5px rgba(102,155,225,0.8);
    -webkit-box-shadow: inset 0 -5px rgba(102,155,225,0.8);
    box-shadow: inset 0 -5px rgba(102,155,225,0.8);
}

#nav-main ul li.current {
    border-bottom: 4px solid #5784bf;
    -moz-box-shadow: inset 0 -5px #669be1;
    -webkit-box-shadow: inset 0 -5px #669be1;
    box-shadow: inset 0 -5px #669be1;
}

#nav-main ul ul li.current {
    border-bottom: 0;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

#nav-main ul ul,
#nav-main ul ul li {
    height: auto;
    border: 0;
}

#nav-main ul ul {
    border-top: 0;
    padding: 0 0 4px 0;
    width: 190px;
    background: #263c7b;
    background: rgba(38,60,123,0.9);
    -webkit-border-bottom-right-radius: 4px;
    -webkit-border-bottom-left-radius: 4px;
    -moz-border-radius-bottomright: 4px;
    -moz-border-radius-bottomleft: 4px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    -moz-box-shadow: 0 3px rgba(0,0,0,0.1), inset 0 -4px rgba(0,0,0,0.1), 0 5px 10px rgba(0,0,0,0.2);
    -webkit-box-shadow: 0 3px rgba(0,0,0,0.1), inset 0 -4px rgba(0,0,0,0.1), 0 5px 10px rgba(0,0,0,0.2);
    box-shadow: 0 3px rgba(0,0,0,0.1), inset 0 -4px rgba(0,0,0,0.1), 0 5px 10px rgba(0,0,0,0.2);
    text-shadow: 1px 1px 0 #1b3b6a, 0 0 5px #1b3b6a;
}

#nav-main ul li ul li a,
#nav-main ul li ul li a:link,
#nav-main ul li ul li a:visited,
#nav-main ul li ul li span {
    padding: 5px 15px;
    margin: 0;
    height: auto;
    float: none;
    display: block;
    font-size: 11px;
    font-weight: normal;
    border: 0;
    background-image: none;
    position: relative;
    text-transform: none;
    -moz-transition: background 0.1s ease-in;
    -webkit-transition: background 0.1s ease-in;
}

#nav-main ul li ul li a:hover,
#nav-main ul li ul li a:active {
    background: #263c7b;
    background: rgba(38,60,123,0.9);
    padding-top: 4px;
    padding-bottom: 4px;
    border-bottom: 1px solid #496288;
    border-top: 1px solid #162f55;
    -moz-transition: background 0.1s ease-out;
    -webkit-transition: background 0.1s ease-out;
}

#header a.mozilla {
    color: #a0c8da;
    font-family: georgia, serif;
    font-weight: normal;
    font-style: italic;
    float: right;
    display: block;
    text-align: center;
    padding-top: 20px;
    height: 37px;
    font-size: 14px;
    width: 133px;
}

#header a.mozilla span {
    color: #fff;
}

#header a.mozilla:hover,
#header a.mozilla:active {
    text-decoration: none;
    background: -moz-radial-gradient(center 45deg, ellipse closest-side, rgba(255,255,255,0.3) 0%, rgba(255,255,255,0) 100%);
    -moz-transition: opacity 0.2s ease-in-out;
    -webkit-transition: opacity 0.2s ease-in-out;
}

#nav-access {
    display: none;
}

/* slim header */

.moz-header-slim #header {
    height: 40px;
    -moz-box-shadow: 0 3px rgba(0,0,0,0.1), inset 0 -2px rgba(0,0,0,0.1);
    -webkit-box-shadow: 0 3px rgba(0,0,0,0.1), inset 0 -2px rgba(0,0,0,0.1);
    box-shadow: 0 3px rgba(0,0,0,0.1), inset 0 -2px rgba(0,0,0,0.1);
}

.moz-header-slim #header h1 a,
.moz-header-slim #header h1 a:link,
.moz-header-slim #header h1 a:visited {
    height: 40px;
    width: 95px;
    background: url(../global/wordmark-slim.png) 15px 4px no-repeat;
}

.moz-header-slim #header h1 a:hover,
.moz-header-slim #header h1 a:active {
    background: -moz-radial-gradient(center 45deg, ellipse closest-side, rgba(255,255,255,0.3) 0%, rgba(255,255,255,0) 100%),
        url(../global/wordmark-slim.png) 15px 4px no-repeat;
}

.moz-header-slim #nav-main ul li.current > a,
.moz-header-slim #nav-main ul li.current > span,
.moz-header-slim #nav-main ul li a,
.moz-header-slim #nav-main ul li span {
    padding: 10px 15px 0 15px;
    height: 30px;
    font-size: 12px;
}

.moz-header-slim #nav-main li:hover ul,
.moz-header-slim #nav-main li.sfhover ul {
    margin-top: 40px;
}

.moz-header-slim #nav-main ul li.current,
.moz-header-slim #nav-main ul li.current > a:hover {
    border-bottom: 0;
    -moz-box-shadow: none;
}


.moz-header-slim #header a.mozilla {
    font-size: 16px;
    height: 40px;
    line-height: 35px;
    margin-right: 15px;
    text-align: right;
    width: auto;
    padding-top: 0;
}

/* end slim header */

/* minimal header */

#minimal-header a.mozilla {
    -moz-box-shadow: 0 3px rgba(0,0,0,0.1), inset 0 -2px rgba(0,0,0,0.1);
    -webkit-box-shadow: 0 3px rgba(0,0,0,0.1), inset 0 -2px rgba(0,0,0,0.1);
    box-shadow: 0 3px rgba(0,0,0,0.1), inset 0 -2px rgba(0,0,0,0.1);
    -moz-border-radius: 0 0 6px 6px;
    -webkit-border-radius: 0 0 6px 6px;
    color: #a0c8da;
    border-radius: 0 0 6px 6px;
    margin: 0 0 0 16px;
    float: right;
    padding: 5px 14px;
    line-height: 19px;
    font-family: georgia, serif;
    font-size: 15px;
    font-style: italic;
    position: relative;
    top: -6px;
}

.html-rtl #minimal-header a.mozilla {
    float: left;
    margin: 0 16px 0 0;
}

#minimal-header a.mozilla span {
    color: #fff;
}

/* end minimal header */


/*----------------------------------
    Footer
----------------------------------*/

#footer {
    background: #33559b url(../global/background.png) 0 0 repeat-x;
    clear: both;
    color: #476FBE;
    display: block;
    font-family: Georgia, serif;
    min-width: 978px;
    padding: 115px 0 5px;
}

#footer-logo a,
#footer-logo a:link,
#footer-logo a:visited {
    background: url("../global/header-logos.png") no-repeat scroll 15px 0 transparent;
    display: block;
    height: 57px;
    width: 110px;
    text-indent: -200px;
    overflow: hidden;
    -moz-transition: background 0.2s ease-in-out;
}

#footer-logo a:hover,
#footer-logo a:active {
    background: -moz-radial-gradient(center 45deg,
                                     ellipse closest-side,
                                     rgba(255,255,255,0.3) 0%,
                                     rgba(255,255,255,0) 100%),
                url(../global/header-logos.png) 15px 0 no-repeat;
    -moz-transition: background 0.2s ease-in-out;
}

#footer a:link,
#footer a:visited {
    color: #669BE1;
    text-decoration: none;
}

#footer a:hover,
#footer a:active {
    color: #fff;
    text-decoration: underline;
}

#footer-contents {
    margin: auto;
    text-align: left;
    width: 980px;
}

#footer-contents[dir="rtl"] {
    text-align: right;
}

#footer-logo {
    display: inline;
    float: left;
    margin: 0 50px 0 10px;
}

#footer-logo a,
#footer-logo a:link,
#footer-logo a:visited {
    font-size: 28px;
    padding: 0;
}

#footer-menu,
#footer-menu ul {
    left: auto;
    list-style: none;
    margin: 0;
    padding: 0;
}

#footer-menu li {
    background: none;
    display: inline;
    float: left;
    font-weight: bold;
    list-style-type: none;
    margin: 15px 10px 0 0;
    padding: 0;
    position: relative;
    width: 115px;
}

#footer-menu li a,
#footer-menu li a:link,
#footer-menu li a:visited,
#footer #lang_form label {
    color: #fff;
    font-family: MetaBlack, "Trebuchet MS", sans-serif;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
}

#footer li li a:link,
#footer li li a:visited {
    color: #669BE1;
    font-family: Georgia, serif;
    font-size: 13px;
    font-weight: normal;
    text-transform: none;
}

#footer li li a:hover,
#footer li li a:active {
    color: #fff;
}

#footer-menu ul li ul {
    margin: 4px 0 15px;
}

#footer-menu li.last {
    margin-right: 0;
}

#footer-menu ul ul li {
    display: block;
    float: none;
    font-weight: normal;
    margin: 0;
    padding: 0 0 0.3em;
    width: auto;
}

#footer #footer-right {
    float: right;
    width: 180px;
}

#footer #lang_form {
    margin: 0 0 15px 27px;
}

#footer #lang_form label {
    display: block;
    margin: 10px 0 4px;
}

#footer #lang_form select {
    font-family: sans-serif;
    font-size: 11px;
    width: 140px;
}

#footer #lang_form div {
    display: inline;
}

#footer #copyright {
    clear: both;
}

#footer #copyright p {
    font-size: 85%;
    margin-bottom: 0.5em;
}

#footer #copyright a:hover,
#footer #copyright a:active {
    text-decoration: underline;
}

#footer #footer-links {
    font-size: 85%;
}
