/**
 * Mozilla-local tweaks to ClearLeft sourced main.css
 */
#header #title img {
    height: 75px
}

.with-js .hide-with-js { display: none }
.show-with-js { display: none }
.with-js .show-with-js { display: block }
.clearboth { clear: both; }

/**
 * This is a wtf I found on the collector_features page.  If your page looks
 * like
 *   <div class=primary />
 *   <div class=secondary />
 * then the default clear: both on .secondary will put .secondary content
 * *under* .primary, not beside.  It works if you put the .secondary div first
 * in your code, but that's wrong.
 */
.secondary {
    clear: left;
}

.categories ul {
    padding: 1em;
}

.primary.full,
.secondary.full {
    width: 100%;
}

/** addon listings */
#addon-list-options ul {
    float: none;
    margin: 0 1em 0 .75em;
}
#addon-list-options ul li {
    margin: 0 0;
}
#addon-list-options ul li.perpage {
    float: right;
}
.html-rtl #addon-list-options ul li.perpage {
    float: left;
}
#addon-list-options ul li.perpage div {
    display: block;
    line-height: 2em;
}

/**
 * Fix for bug 494070.  The default width is 50%.  I'm assuming
 * pagination will have most of the line, so we can give it more space.
 * Only tested on collections listing and detail pages.
 */
ol.pagination {
    width: 70%;
}

/* clearleft's category padding is 20px */
li.sub-category {
    padding-left:30px
}

.html-rtl li.sub-category {
    padding-left: 0;
    padding-right: 30px;
}

p.install-button {
    margin: 0;
}
.experimental .install-container {
    min-width: 10em;
    margin: .3em .3em .5em .3em;
}
.install strong.compatmsg {
   padding-bottom: 0.5em;
}
.install label {
    font-weight: normal;
}

.experimental .install .exp-confirm-install {
}
.experimental .install .exp-desc {
}

.teaser-items .item .install {
    float: left;
}

.html-rtl .teaser-items .item .install {
    float: right;
}

.nonfirefox {
    text-align: center;
}
.nonfirefox .installmsg {
    font-size: 120%;
}

.html-rtl .column {
    float: right;
    margin-left: 0;
    margin-right: 2%;
}
.html-rtl .first {
    margin-right: 0;
}

/* Email links */
span.emaillink {
    direction: rtl;
    unicode-bidi: bidi-override;
}
span.emaillink .i {
    display: none;
}

/* Translation Box Element */
.graybox {
    background-color: #fff;
    border: 3px solid #e0effd;
    padding: 15px;
}
.graybox.errors {
    background-color: #fff1eb;
}
.graybox.spaced {
    margin-bottom: 10px;
}
.rounded {
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
}
.translation-box .html_allowed {
    margin-top: -1em;
    margin-bottom: 1em;
}
.translation-box .html_allowed .allowed_tags{
    font-weight: bold;
}
.translation-box h4 {
    border-bottom: 1px solid #2E5186;
}
.translation-box h4 img {
    float: right;
    margin-top: 3px;
}
.html-rtl .translation-box h4 img {
    float: left;
}
.translation-box .translation-button img {
    cursor: pointer;
    float: left;
    background-color: #EEEEEE;
    border: 1px solid #EEEEEE;
    border-bottom: none;
    padding: 2px 5px 3px;
    margin: 5px 0 0 10px;
    height: 1.5em;
    -moz-border-radius-topleft: 6px;
    -moz-border-radius-topright: 6px;
    -webkit-border-top-left-radius: 6px;
    -webkit-border-top-right-radius: 6px;
}
.html-rtl .translation-box .translation-button img {
    float: right;
    margin: 5px 10px 0 0;
}
.translation-box .translation-button.remove img {
    float: right;
}
.html-rtl .translation-box .translation-button.remove img {
    float: left;
}
.translation-box .translation-button img:hover {
    background-color: #E4F3FA;
}
.translation-box .translation-tab {
    float: left;
    margin-right: 2px;
    background-color: #DDDDDD;
    text-align: center;
    padding: 5px;
    -moz-border-radius-topleft: 6px;
    -moz-border-radius-topright: 6px;
    -webkit-border-top-left-radius: 6px;
    -webkit-border-top-right-radius: 6px;
    width: 3.1em;
    height: 1.5em;
    cursor: pointer;
    border-bottom: 1px solid #FFFFFF;
}
.html-rtl .translation-box .translation-tab {
    float: right;
    margin-right: auto;
    margin-left: 2px;
}
.translation-box .translation-tab.selected {
    border: 1px solid #2E5186;
    background-color: #e0effd;
    border-bottom: none;
    color: #1D587F;
}
.translation-box .translation-tab:hover {
    text-decoration: underline;
}
.translation-box .translation-area {
    clear: both;
    margin: 0;
}
.translation-box .translation-maxlength {
    text-align: right;
    display: none;
}
.html-rtl .translation-box .translation-maxlength {
    text-align: left;
}
.translation-box .translation-maxlength.selected {
    display: block;
}
.translation-box .translation-maxlength img {
    display: none;
}
.translation-box .translation-maxlength.over {
    color: #CC3333;
}
.translation-box .translation-maxlength.over img {
    display: inline;
    vertical-align: middle;
}
.translation-box .translation-maxlength span {
    font-weight: bold;
}
.translation-box .input {
    border: 1px solid #2E5186;
    margin: 0;
    -moz-border-radius-bottomleft: 6px;
    -moz-border-radius-bottomright: 6px;
    -webkit-border-bottom-left-radius: 6px;
    -webkit-border-bottom-right-radius: 6px;
    width: 100%;
    display: none;
}
.translation-box .input.selected {
    display: block;
}
.translation-newlocale-container,
.translation-deletelocale-container,
.translation-help-container,
.translation-error-container {
    display: none;
}
.translation-newlocale,
.translation-deletelocale {
    border: 1px solid #1D587F;
    margin: 0;
    -moz-border-radius-bottomleft: 6px;
    -moz-border-radius-bottomright: 6px;
    -webkit-border-bottom-left-radius: 6px;
    -webkit-border-bottom-right-radius: 6px;
    width: 100%;
    height: 100px;
    display: none;
}
.translation-deletelocale.textarea {
    position: absolute;
    z-index: 10;
}
.translation-newlocale.selected,
.translation-deletelocale {
    display: block;
}
.translation-newlocale .padded,
.translation-deletelocale .padded,
.translation-help .padded {
    padding: 15px;
}
.translation-newlocale .buttons,
.translation-deletelocale .buttons {
    text-align: center;
    margin: 10px;
}
.translation-help {
    background-color: #def1f8;
    margin-bottom: 10px;
    display: none;
    border: 1px solid #e0effd;
    -moz-border-radius: 6px;
    border-radius: 6px;
}
.graybox .error-message {
    background: transparent url('../../img/developers/exclamation.png') no-repeat 5px 50%;
    color: red;
    padding: 5px 0 5px 30px;
}
.html-rtl .graybox .error-message {
    background-position: 100% 50%;
    padding: 5px 25px 5px 0;
}

/** jQuery UI tabs */
.ui-tabs-hide {
    display: none !important;
}
.ui-tabs-nav {
    list-style: none;
    margin: 0;
    padding: 0 0 0 3px;
}
.ui-tabs-nav:after { /* clearing without presentational markup, IE gets extra treatment */
    display: block;
    clear: both;
    content: " ";
}
.ui-tabs-nav li {
    float: left;
    margin: 0 0 0 2px;
    font-weight: bold;
}
.ui-tabs-nav a, .ui-tabs-nav a span {
    float: left; /* fixes dir=ltr problem and other quirks IE */
    padding: 0 12px;
    background-color: #26395A;
}
.ui-tabs-nav a {
    margin: 5px 0 0; /* position: relative makes opacity fail for disabled tab in IE */
    padding-left: 0;
    background-position: 100% 0;
    text-decoration: none;
    white-space: nowrap; /* @ IE 6 */
    outline: 0; /* @ Firefox, prevent dotted border after click */
}
.ui-tabs-nav a:link, .ui-tabs-nav a:visited {
    color: #fff;
}
.ui-tabs-nav .ui-tabs-selected a {
    position: relative;
    top: 1px;
    z-index: 2;
    margin-top: 0;
    background-position: 100% -23px;
}
.ui-tabs-nav a span {
    padding-top: 1px;
    padding-right: 0;
    height: 20px;
    background-position: 0 0;
    line-height: 20px;
}
.ui-tabs-nav .ui-tabs-selected a span {
    padding-top: 0;
    height: 27px;
    background-position: 0 -23px;
    line-height: 27px;
}
.ui-tabs-nav .ui-tabs-selected a:link, .ui-tabs-nav .ui-tabs-selected a:visited,
.ui-tabs-nav .ui-tabs-disabled a:link, .ui-tabs-nav .ui-tabs-disabled a:visited { /* @ Opera, use pseudo classes otherwise it confuses cursor... */
    cursor: text;
}
.ui-tabs-nav a:hover, .ui-tabs-nav a:focus, .ui-tabs-nav a:active,
.ui-tabs-nav .ui-tabs-unselect a:hover, .ui-tabs-nav .ui-tabs-unselect a:focus, .ui-tabs-nav .ui-tabs-unselect a:active { /* @ Opera, we need to be explicit again here now... */
    cursor: pointer;
}
.ui-tabs-disabled {
    opacity: .4;
    filter: alpha(opacity=40);
}
.ui-tabs-nav .ui-tabs-disabled a:link, .ui-tabs-nav .ui-tabs-disabled a:visited {
    color: #000;
}
.ui-tabs-panel {
    border: 1px solid #26395A;
    padding: 10px;
    _background: #fff; /* declare background color for container to avoid distorted fonts in IE while fading */
}
/*.ui-tabs-loading em {
    padding: 0 0 0 20px;
    background: url(loading.gif) no-repeat 0 50%;
}*/
/* Additional IE specific bug fixes... */
* html .ui-tabs-nav { /* auto clear @ IE 6 & IE 7 Quirks Mode */
    display: inline-block;
}
*:first-child+html .ui-tabs-nav  { /* auto clear @ IE 7 Standards Mode - do not group selectors, otherwise IE 6 will ignore complete rule (because of the unknown + combinator)... */
    display: inline-block;
}


/* Recently Viewed Collections */

#add-to-recents, #recently-viewed {
    /* Placeholders for js content, hidden until needed. */
    display: none;
}

/** END collections pages */

/* Search Pages */
.no-results,
p.addon-search-message {
    margin-top:2em;
    color: #777777;
    font-size: 180%;
    font-weight: bold;
    text-align:center;
    padding-bottom: .5em;
}
/** END Search Pages */

/** Add-on display page additions **/

#addon .featured .secondary {
    margin-bottom: 0;
    max-width: 205px;
}

#addon .featured .secondary div {
    margin-bottom: 1em;
}

#addon .featured .widget div {
    margin-bottom: 0;
}

#review-box button {
    padding: 0.1em 1em;
    margin-left: 18%;
}

h2 span {
    position:relative;
    top: -0.35em;
}

h2.collection .private,
h2.addon span.version {
    color: #5E728C;
    font-size: 85%;
    margin: 0 .2em;
    vertical-align: bottom;
}

h2.collection .private {
    font-style: italic;
}

h4.author {
    position:relative;
    left:51px;
    top:-25px;
    font-weight: normal;
}

.html-rtl h4.author {
    left: auto;
    right: 51px;
}

h4.author a {
    font-weight: bold;
}

.hidden {
    position: absolute;
    top: -100000px;
}

.addon-cats {
    margin: 0;
}

.addon-cats li {
    display: inline;
}

.addon-cats li:after {
    content: " | ";
}

.addon-cats li:last-child:after {
    content: "";
}

#addon-summary-wrapper {
    float: right;
    width: 100%;
    margin-left: -25em;
}

.html-rtl #addon-summary-wrapper {
    float: left;
    margin-left: auto;
    margin-right: -25em;
}

#addon-summary {
    margin-left: 230px;
    float: none;
    width: auto;
    display: block;
}

.html-rtl #addon-summary {
    margin-left: auto;
    margin-right: 230px;
}

.html-rtl .notification #addon-summary {
    margin: 0;
}

#addon-summary.condensed {
    margin-left: 5px;
    min-height: 30px;
}

.html-rtl #addon-summary.condensed {
    margin-left: 0;
    margin-right: 5px;
}

#addon-summary .stats {
    margin: 0;
    float: none;
    text-align: left;
    color: #6FB727;
}

.html-rtl #addon-summary .stats {
    text-align: right;
}

#addon-summary .stats em {
    font-style: normal;
    font-weight: bold;
}

.preview-img {
    left:-260px;
    padding:0 0 0 20px;
    position:absolute;
    top:0;
}

.html-rtl .preview-img {
    left: auto;
    right: -260px;
    padding-left: 0;
    padding-right: 20px;
}

.updated {
    color: #666; /* evil */
}

#addon-summary .rating {
    left:-240px;
    top: 160px;
    position: absolute;
    font-weight: bold;
}

.html-rtl #addon-summary .rating {
    left: auto;
    right: -240px;
}

#addon-summary .share-this {
    clear:left;
    float:left;
    left:-240px;
    position:absolute;
    width:200px;
    top: 230px;
}

.html-rtl #addon-summary .share-this {
    clear: right;
    float: right;
    left: auto;
    right: -240px;
}

#addon-summary .stats {
    position: absolute;
    left: -240px;
    top: 180px;
}

.html-rtl #addon-summary .stats {
    left: auto;
    right: -240px;
}

.aux #addon-summary .install ,
#addon-summary #addon-install .install {
    float: left;
    text-align: center;
    -webkit-border-radius: 11px;
    -moz-border-radius: 11px;
    border-radius: 11px;
    padding: 0 3px 3px 3px;
}

.html-rtl .aux #addon-summary .install ,
.html-rtl #addon-summary #addon-install .install {
    float: right;
}

#addon-summary .unavailable {
    border: 1px solid #D2E7EE;
    padding: 0.3em;
    width: 10em;
    background-color: #FFFFFF;
    color: #666666;
}

.aux #addon-summary.rec .install,
#addon-summary.rec #addon-install .install {
    background-color: #efe;
    border: 1px solid #2a2;
    padding-top:4px;
    margin-bottom:3px;
}

.aux #addon-summary.exp .install,
#addon-summary.exp #addon-install .install {
    background-color: #fee;
    border: 1px solid #f66;
    padding-top:4px;
    margin-bottom:3px;
}

.aux #addon-summary .install strong ,
#addon-summary #addon-install .install strong {
    display: block;
    font-weight: normal;
    font-size: 0.85em;
    line-height: 1em;
    color: #000;
    text-shadow: #FFFFFF 1px 1px 1px;
    clear: left;
}

.html-rtl .aux #addon-summary .install strong ,
.html-rtl #addon-summary #addon-install .install strong {
    clear: right;
}

table caption {
    position: absolute;
    top: -60000px;
    opacity: 0;
}
#addon-summary table th {
    color: #223355;
}
#addon-summary tr.meta-stats a {
    margin: 0 1em;
}

.share-frame {
    z-index: 100; /** prevents sharing network dropdown from showing up behind preview thumbnails **/
}

#addon-info .item {
    padding: 1em;
}

#addon-info a {
    font-weight: bold;
}

.app_compat ul {
    margin: 0;
}

.userinput ul {
    list-style-type: disc;
}

.prose ul li,
.userinput ul li {
    margin-left: 1em;
}

.html-rtl .prose ul li {
    margin-left: 0;
    margin-right: 1em;
}

.privacypolicy {
    clear: both;
    font-weight: bold;
}

.policy-link {
    clear: both;
}

.highlight.collections-add p {
    margin-bottom: 1em;
}

.hint {
    font-size: 90%;
}
.hint .example{
    font-style: italic;
}

/* addons "old versions" page */
#version-history .listing .item.oldversion {
    padding-left: 1em;
}

#version-history .oldversion ul.legal li {
    padding-left: 20px;
}
#version-history .oldversion ul.legal li.license {
    background: url(../../img/icons/script_code_red.png) left no-repeat;
}
#version-history .oldversion ul.legal li.source,
.version a.source-code {
    background: url(../../img/icons/page_code.png) left no-repeat;
}

/* addons "source license" page */
#version-license pre {
    max-height: 400px;
    overflow-y: auto;
    background-color: #fff;
    padding: 1em 2em;
    -moz-border-radius: 8px;
}

#version-license h2 span {
    top: auto;
}

/** END Add-on display page additions **/

/** Review box **/
#form-review .login, #form-review h3 {
    display: inline;
}

#form-review h4, #form-review .selectReplacement  {
    float: left;
}

.html-rtl #form-review h4, .html-rtl #form-review .selectReplacement  {
    float: right;
}

#form-review .selectReplacement, #form-review .stars {
    margin: 4px 0 0 5px;
    clear: none;
}

#form-review .stars {
    margin: 1px 0 0 5px;
    height: 12px;
}

.html-rtl #form-review .selectReplacement, .html-rtl #form-review .stars {
    margin-left: 0;
    margin-right: 5px;
}

#form-review a {
    font-weight: bold;
}

#form-review button {
    float: right;
}

.html-rtl #form-review button {
    float: left;
}

#form-review p {
    clear: both;
}

/** END Review box **/

/** Highlight styles **/
.highlight a {
    font-weight: bold;
}

.highlight h3 a {
    font-weight: normal;
}

.highlight .prose {
    margin: 0;
}

.highlight .other-author-addons {
    clear: left;
    padding-top: 1em;
}

.highlight .other-author-addons h4 {
    margin-bottom: 0.1667em;
}

.highlight .other-author-addons form#addons-author-addons,
.highlight .other-author-addons ul.xoxo {
    margin-bottom: 0.5833em;
}

.highlight .other-author-addons li {
    margin-bottom: 0;
}

.html-rtl .highlight .other-author-addons {
    clear: right;
}

.highlight h3 label {
    font-weight: normal;
}

/** END Highlight styles **/

/** Header tweaks **/
#header {
    z-index: 2000;
}

/** END header tweaks **/

.item h3, .item h4 {
    overflow: visible;
}

/** END Adding focus outlines to buttons **/


/** FAQ and Validation Pages **/

dl.faq dt:target, dl.validation dt:target { color: #df731b; }

/** END FAQ / Validation Page **/


/** Installation instruction overlays (bug 495124) **/
.app_install {
    margin: 0 auto;
}

#app_install-popup-container {
    z-index: 1000;
}

.app_install-popup {
    width: 32em;
    background: #fbfefb;
    border: 4px solid #b4e4b4;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    text-align: left;
    z-index: 10001;
    display: none;
}

.html-rtl .app_install-popup {
    text-align: right;
}

.app_install-popup-inner {
    padding: 1em;
    border: 1px solid #256350;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.app_install-popup h3 {
    margin-top: 0;
}

.app_install-popup ol,
.app_install-popup p {
    margin-top: 1.5em;
    margin-bottom: 0;
}

.html-rtl .app_install-popup ol {
    margin-left: 0;
    margin-right: 2em;
}

.html-rtl .app_install-popup ol {
    margin-top: 1.5em;
    margin-bottom: 0;
}

.app_install-popup .close {
    font-weight: bold;
    text-align: right;
}

.html-rtl .app_install-popup .close {
    text-align: left;
}
/** END Installation instruction overlays **/


/* Clearfix! */
.browse-thumbs .thumbs:after,
#builder li:after,
.block-row:after,
.barometer:after,
.vcard:after,
#addon-install:after,
.stars:after, .notification:after,
.featured-inner:after,
.article.userinput:after,
.addon-info:after {
    content: ".";
    clear: both;
    display: block;
    visibility: hidden;
    height: 0;
    overflow: hidden;
}

.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.clearfix {
    display: inline-block;
}

html[xmlns] .clearfix {
    display: block;
}

* html .clearfix {
    height: 1%;
}

/* Modal collection subscription box, based on jqModal styling. */
.modal-subscription {
    display: none;
    position: fixed;
    top: 17%;
    left: 50%;
    margin-left: -20em;
    width: 40em;
}

/* Turn off notification box colors. */
.modal-subscription .notification-box {
    background: none;
    border: none;
}

/* The long description. */
.modal-subscription .notification-box div {
    margin-left: 60px; /* the offset from the icon */
    padding-bottom: .5em;
    border-bottom: 2px dotted #b4dfee;
}

/* The short message. */
.modal-subscription .notification-box h2 {
    margin-bottom: 0.5em;
}

.modal-subscription .footer {
    margin-left: 5.3em; /* offset to match the text indent */
    margin-top: -0.5em;
}

.modal-subscription .bother {
    float: right;
    padding-right: 10px; /* matches the notification element */
}

.modal-subscription .bother label {
    font-weight: normal;
}

.jqmOverlay {
    background-color: #000;
}

/** END Modal collection box. */

#license a {
    font-size: 0.9em;
}

/**
 * Tag classes, from 1 to 10, 10 being the largest
 */

.tagLevel1 {font-size: 1.2em;}
.tagLevel2 {font-size: 1.4em;}
.tagLevel3 {font-size: 1.6em;}
.tagLevel4 {font-size: 1.8em;}
.tagLevel5 {font-size: 2em;}
.tagLevel6 {font-size: 2.2em;}
.tagLevel7 {font-size: 2.4em;}
.tagLevel8 {font-size: 2.6em;}
.tagLevel9 {font-size: 2.8em;}
.tagLevel10 {font-size: 3em;}

/** tag styles **/
.addon-tags .tag .tagitem {
    padding-left: 20px;
    background-image: url(../../img/icons/icons.png);
    background-repeat: no-repeat;
    background-position: 0px -1400px;
}

.html-rtl .addon-tags .tag .tagitem {
    background-position: 100% -1400px;
    padding-left: 0;
    padding-right: 20px;
}

.collectionitem,
.collection-add strong {
    padding-left: 22px;
    background: url(../../img/icons/icons.png) no-repeat 0 -300px;
}

.html-rtl .collectionitem,
.html-rtl .collection-add strong {
    background-position: 100% -300px;
    display: inline-block;
    padding: 0 20px 0 0;
}

.addon-otheraddons li .addonitem {
	padding-left: 20px;
	background-image: url(../../img/icons/icons.png);
	background-repeat: no-repeat;
	background-position: 0px -200px;
}

.html-rtl .addon-otheraddons li .addonitem {
	padding-right: 20px;
	padding-left: 0;
	background-position: 100% -200px;
}

.results-head {width: 100%;}
.results-head h2 { margin-bottom: 0; margin-top: 0;}
.results-head h3 {margin-top: 0; font-family: "helvetica neue", arial, helvetica, sans-serif; font-weight: normal; color: #444;}

.results .item .item-info .downloads {display: block; margin-left: 0px;}
.results .item .install {float: none; margin-left: 0px;}

.results .item h3 {
    float: left;
}

.html-rtl .results .item h3 {
    float: right;
}

.results .item blockquote {
    clear: left;
}

.html-rtl .item blockquote {
    clear: right;
}

.secondary ul.refinements li a { padding: 0.21em 1.2em; display: block; color: #444; font-weight: normal;}
.secondary ul.refinements li.selected a {
    background-color: #b9dbe7;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    font-weight: bold;
    background-image: url(../../img/icons/arrows.gif);
    background-repeat: no-repeat;
    background-position:4px -152px;
}
.secondary ul.refinements li a.tagitem {
    padding: 0.21em 2em;
    background-image: url(../../img/icons/icons.png);
    background-repeat: no-repeat;
    background-position: 3px -596px;
}
.secondary ul.refinements ul {
    padding-left: 1em;
}

/*** =Site-notice ***/
#site-notice {
    background: #ffe; border-bottom: 2px solid #ccc;
    font-size: 110%;
    width: 80%;
    padding: 5px 10% 0px;
    margin: 0px;
    text-align: center;
}

.error,
.highlight .error-message {
    color: #C63717;
}

/* Thumbnails (like the personas browser) */
.thumbnails li {
    display: inline-block;
    border: 2px solid #ecf2f5;
    -moz-border-radius: 6px;
    margin: 1.2em;
    padding: 1em 0.5em;
    background: #f9f9f9;
    width: 200px;
    vertical-align: top;
}

.thumbnails {
    background: -moz-linear-gradient(#cfeaf4, #fff 20%);
    background: -webkit-gradient(linear, left top, left 20%, from(#cfeaf4), to(#fff));
    background-repeat: no-repeat;
}
/* END Thumbnails (like the personas browser) */

.hide {
    display:none;
}

.created-by {
    margin-top: -1.2em;
    margin-bottom: 2em;
}

/** jqModal overlay styling */
.jqmWindow {
    display: none;
    position: fixed;
    top: 17%;
    left: 50%;
    margin-left: -400px;
    width: 800px;
    background-color: #efefef;
    color: #333;
    border: 1px solid black;
    padding: 12px;
}
.jqmOverlay {
    background-color: #000;
}

/* Background iframe styling for IE6. Prevents ActiveX bleed-through (<select> form elements, etc.) */
* iframe.jqm {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: expression(this.parentNode.offsetWidth+'px');
    height: expression(this.parentNode.offsetHeight+'px');
}
* html .jqmWindow {
    position: absolute;
    top: expression((document.documentElement.scrollTop || document.body.scrollTop)+Math.round(17 *(document.documentElement.offsetHeight || document.body.clientHeight) / 100)+'px');
}
/** END jqModal */

#credits table {
    width: 100%;
}


/* Listed add-ons */
.install-beta,
.visit-listed {
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    background-color: #fff0a6;
    padding: 1em;
}

.visit-listed p {
    margin-bottom: 1em;
}

.visit-button-wrapper {
    text-align: center;
}

div.visit-listed-popup {
    width: 30em;
    border: 4px solid #cb7e42;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    padding: 0;
}

.visit-listed-popup .visit-listed {
    background-color: #fff;
}
/* END Listed add-ons */

/* Beta Channel */

.install-beta {
    width: 70%;
    margin: 0 auto;
}

.install-beta dl {
    display: table;
    margin-bottom: 0;
}

.install-beta dt, .install-beta dd {
    display: table-cell;
    padding-right: 1em;
}

.install-beta {
    display: none;
}

/* END Beta Channel */

/* Homepage */
.collections-sidebar > img {
    margin-left: 1em;
    float: right;
}

.collections-sidebar h3 {
    margin-top: 0;
}

/* Hide all the add-on lists by default. */
#list-new, #list-updated, #list-popular, #list-featured {
    display: none;
}

/* But show whichever one we have selected. */
.addon-listing-new #list-new,
.addon-listing-updated #list-updated,
.addon-listing-popular #list-popular,
.addon-listing-featured #list-featured {
    display: block;
}
/* END Homepage */

.appversion img {
    vertical-align: middle;
}
