{% extends "legacy_discovery/base.html" %}
{% from "legacy_discovery/macros.html" import addon_list, persona_list with context %}

{% set app = request.APP.pretty %}

{% block bodyclass %}pane no-recs{% endblock %}

{% block bodyattrs %}
data-version="{{ version }}"
data-platform="{{ platform }}"
data-services-url="{{ settings.SERVICES_URL }}"
data-account-url="{{ services_url('discovery.pane.account') }}"
data-featured-url="{{ services_url('discovery.pane.more_addons', 'featured', version, platform, compat_mode) }}"
data-upandcoming-url="{{ services_url('discovery.pane.more_addons', 'up-and-coming', version, platform, compat_mode) }}"
{% endblock %}

{% block content %}
  <header{% if user.is_authenticated() %} class="auth"{% endif %}>
    <section id="intro">
      <h1>
        <img src="{{ static('img/zamboni/discovery_pane/logo-addons.png') }}" width="87" height="82" alt="">
        <span class="translate" data-trans="title">
          {{ _('What are Add-ons?') }}
        </span>
      </h1>
      <p>
        <span class="translate" data-trans="intro">
          {% trans %}
          Add-ons are applications that let you personalize {{ app }} with
          extra functionality or style. Try a time-saving sidebar, a weather
          notifier, or a themed look to make {{ app }} your own.
          {% endtrans %}
        </span>
        <a href="{{ url('home') }}" id="learn-more" class="button translate" data-trans="close">{{ _('Learn More') }}</a>
      </p>
    </section>
    <section id="right-module"></section>
  </header>

  <section id="main">

    <section id="promos" data-promo-url="{{ services_url('discovery.pane.promos', version, platform) }}">
      <ul id="nav-features">
        <li class="nav-prev"><a href="#" class="prev">{{ _('Previous') }}</a></li>
        <li class="nav-next"><a href="#" class="next">{{ _('Next') }}</a></li>
      </ul>
      <ul class="slider"></ul>
    </section>

    {% if featured_addons %}
    <section id="featured-addons">
      <h2 class="translate" data-trans="featured">{{ _('Featured Add-ons') }}</h2>
      <div class="addons">
        {{ addon_list(featured_addons, limit=6) }}
      </div>
    </section>
    {% endif %}
  </section>

  <section id="sub">
    <div id="watch-video">
      <a href="{{ url('home') }}" class="video button">{{ _('Learn More About Add-ons') }}</a>
    </div>
    {% if up_and_coming %}
      <section class="featured featured-addons" id="up-and-coming">
        <h2><a class="all" href="{{ url('browse.extensions')|urlparams(sort='hotness') }}">{{ _('See all') }}</a>
          {{ _('Up & Coming') }}</h2>
        {{ addon_list(up_and_coming, sidebar=True) }}
      </section>
    {% endif %}
    {% if featured_personas %}
      <section class="featured featured-themes" id="featured-themes">
        <h2><a class="all" href="{{ url('browse.personas') }}">{{ _('See all') }}</a>
          {{ _('Featured Themes') }}</h2>
        {{ persona_list(featured_personas) }}
      </section>
    {% endif %}
    <section id="more-ways">
      <h2>{{ _('More ways to customize') }}</h2>
      <ul>
        <li id="more-addons">
          <a href="{{ url('browse.extensions') }}">{{ _('Browse all add-ons') }}</a>
        </li>
        <li id="more-complete-themes">
          <a href="{{ url('browse.themes') }}">{{ _('See all complete themes') }}</a>
        </li>
      </ul>
    </section>
    <section class="featured" id="promo-video-addons">
      <h2>
        <a id="video-close" class="all" href="#">{{ _('Close Video') }}</a>
        <span class="translate" data-trans="addons">{{ _('Add-ons') }}</span>
      </h2>
      <div id="video-details">{{ _('While the video plays, the add-ons being mentioned will appear here.') }}</div>
      {{ addon_list(promovideo, limit=50, sidebar=True, amo=amo, src='discovery-video') }}
    </section>
  </section>
{% endblock %}

{% block js %}
  {{ js('zamboni/discovery') }}
  {% if request.LANG == 'en-US' %}
    {{ js('zamboni/discovery-video', defer=True) }}
  {% endif %}
{% endblock %}
