{% set app = request.APP.pretty %}

{% if user.is_authenticated %}
  <section id="my-account">
    {# L10n: {0} is the user's login name. #}
    <p>{{ _('Hi, {0}')|format_html(request.user.welcome_name) }}</p>
    <ul>
      <li><a href="{{ request.user.get_url_path() }}">{{ _('My Profile') }}</a></li>
      <li><a href="{{ url('collections.detail', request.user.username,
                          'favorites') }}">{{ _('My Favorites') }}</a></li>
      <li><a href="{{ url('collections.user', request.user.username) }}">{{ _('My Collections') }}</a></li>
    </ul>
    <p id="logout"><a href="{{ url('users.logout') }}" target="_self">{{ _('Log out') }}</a></p>
  </section>
{% else %}
  <section id="mission">
     <p>{% trans url="http://www.mozilla.org/" -%}
      Thanks for using {{ app }} and supporting
      <a href="{{ url }}">Mozilla's mission</a>!
      {%- endtrans %}</p>
    {% if addon_downloads %}
      <p id="download-count">
        {{ _('Add-ons downloaded:') }}
        <strong>{{ addon_downloads|numberfmt }}</strong>
      </p>
    {% endif %}
  </section>
{% endif %}
