{% extends "impala/base_shared.html" %}
{% from 'includes/forms.html' import required %}

{% block title %}{{ page_title(_('Delete User Account')) }}{% endblock %}

{% block content %}

<div class="primary" role="main">
  <section class="primary island hero grid prettyform">
    <h1>{{ _('Delete User Account') }}</h1>

    {% if amouser.is_developer %}
      <div class="notification-box info">
      {% trans link=amouser.get_url_path() %}
        You cannot delete your account if you are listed as an
        <a href="{{ link }}"> author of any add-ons</a>. To delete your
        account, please have another person in your development group delete
        you from the list of authors for your add-ons. Afterwards you will be
        able to delete your account here.
      {% endtrans %}
      </div>

    {% else %}

      {% if form %}
        <form method="post" class="object-lead listing-footer">
          <div class="notification-box error prose">
            <p>
            {% trans %}
              By clicking "delete" your account is going to be <strong>permanently removed</strong>. That means:
            {% endtrans %}
            </p>
            <ul>
              <li>
                {% trans site=settings.DOMAIN %}
                  Logging in with this email address into {{ site }} again will create a new account that is in no way associated with this account.
                {% endtrans %}
              </li>
              <li>
                {{ _('Your reviews and ratings will not be deleted, but they will no longer be associated with you.') }}
              </li>
            </ul>
          </div>
          {{ csrf_input }}
          <fieldset>
            <legend>{{ _('Confirm account deletion') }}</legend>
            <ul>
              <li{% if form.email.errors %} class="error"{% endif %}>
                <label for="id_email">{{ _('Email') }} {{ required() }}</label>
                {{ form.email }}
                {{ form.email.errors }}
              </li>
              <li{% if form.confirm.errors %} class="error"{% endif %}>
                <label for="id_confirm" class="check">
                  {{ form.confirm }}
                  {{ _('I understand this step cannot be undone.') }}
                  {{ required() }}
                </label>
                {{ form.confirm.errors }}
              </li>
            </ul>
          </fieldset>
          <div class="listing-footer footer">
            <button type="submit">{{ _('Delete my user account now') }}</button>
          </div>
        </form>
      {% endif %}
    {% endif %}{# /amouser.is_developer #}
  </section>

</div>{# .primary #}

{% endblock content %}
