{% extends "impala/base_shared.html" %}
{% from 'includes/forms.html' import pretty_field, required %}
{% from 'devhub/includes/macros.html' import some_html_tip %}

{% block title %}{{ page_title(_('Account Settings')) }}{% endblock %}

{% block extrahead %}
<link rel="stylesheet" href="{{ static('css/zamboni/translations/trans.css') }}">
{% endblock %}

{% block bodyattrs %}
data-default-locale="{{ request.LANG|lower }}"
{% endblock %}

{% block content %}
{% include 'users/includes/navigation.html' %}
<div id="user_edit" class="primary prettyform grid" role="main">
  {% if user.has_anonymous_display_name() %}
    <div class="notification-box error anonymous">
      <h2>{{ _('Please set your display name') }}</h2>
      <p>{{ _('Please set your display name or username to complete the registration process.') }}</p>
    </div>
  {% endif %}
  <form method="post" class="user-input island"
        enctype="multipart/form-data">
    {% set is_fxa_user = user.fxa_migrated() %}
    {{ csrf() }}
    <div id="user-edit" class="tab-wrapper">
      <div id="user-account" class="tab-panel">
        <fieldset id="acct-account">
          <legend>{{ _('My Account') }}</legend>
          <p class="sub_legend">
            {% trans -%}
              Manage basic account information, such as username and email address.
            {%- endtrans %}
          </p>
          <ul class="formfields">
            <li{% if form.username.errors %} class="error"{% endif %}>
              <label for="id_username">{{ _('Username') }}</label>
              {{ form.username }}
              {{ form.username.errors }}
            </li>
            <li{% if form.email.errors %} class="error"{% endif %}>
              <label for="id_email">
                {{ _('Email Address') }}
                {% if not is_fxa_user %}{{ required() }}{% endif %}
              </label>
              {{ form.email }}
              {% if form.email.help_text %}
                <small class="note">{{ form.email.help_text }}</small>
              {% endif %}
              {{ form.email.errors }}
            </li>
            <li>
              {% if is_fxa_user %}
                <a href="{{ manage_fxa_link() }}">
                  {{ _('Manage Firefox Account...') }}</a>
              {% else %}
                <a href="#acct-password" id="change-acct-password">
                  {{ _('Change Password') }}</a>
              {% endif %}
            </li>
          </ul>
        </fieldset>

        {% if not is_fxa_user %}
          <fieldset id="acct-password">
            <legend>{{ _('Password') }}</legend>
            <p class="sub_legend">
              {% trans reset_url=url('password_reset_form') -%}
              Change your password. If you forgot your password, you can <a href="{{ reset_url }}">use the reset form</a>.
              {%- endtrans %}
            </p>
            <ol class="formfields">
              <li>
                <label for="id_oldpassword">{{ _('Old Password') }}</label>
                {{ form.oldpassword }}
                {{ form.oldpassword.errors }}
              </li>
              <li>
                {% with form_user=form.instance %}{% include "users/tougher_password.html" %}{% endwith %}
              </li>
              <li>
                <label for="id_password">{{ _('New Password') }}</label>
                {{ form.password }}
                {{ form.password.errors }}
              </li>
              <li>
                <label for="id_password2">{{ _('Confirm Password') }}</label>
                {{ form.password2 }}
                {{ form.password2.errors }}
              </li>
            </ol>
          </fieldset>
        {% endif %}

        <fieldset id="profile-personal">
          <legend>{{ _('Profile') }}</legend>
          <p class="sub_legend">
            {% trans -%}
              Give us a bit more information about yourself. All these fields
              are optional, but they'll help other users get to know you better.
            {%- endtrans %}
          </p>
          <ol class="formfields">
            <li>
              <label for="id_display_name">{{ _('Display Name') }}</label>
              {{ form.display_name }}
              {{ form.display_name.errors }}
            </li>
            <li>
              <label for="id_location">{{ _('Location') }}</label>
              {{ form.location }}
              {{ form.location.errors }}
            </li>
            <li>
              <label for="id_occupation">{{ _('Occupation') }}</label>
              {{ form.occupation }}
              {{ form.occupation.errors }}
            </li>
            <li>
              <label for="id_homepage">{{ _('Homepage') }}</label>
              {{ form.homepage }}
              <small class="note">{{ _('This URL will only be visible if you are a developer.') }}</small>
              {{ form.homepage.errors }}
            </li>
            <li class="profile-photo">
              <label for="id_photo">{{ _('Profile Photo') }}</label>
              <img src="{{ amouser.picture_url }}"
                   alt="{% if not amouser.picture_type %}{{ _('No Photo') }}{% endif %}"
                   class="avatar photo">
              <div class="invisible-upload">
                <a class="button" href="#">{{ _('Choose Photo&hellip;') }}</a>
                <input type="file" id="id_photo" name="photo">
              </div>
              {% if amouser.picture_type %}
              <a href="{{ url('users.delete_photo', amouser.id) }}" class="delete">{{ _('Delete current photo') }}</a>
              {% endif %}
              {{ form.photo.errors }}
            </li>
            <li>
              <label for="id_lang">{{ _('Default locale') }}</label>
              {{ form.lang }}
              <small class="note">{{ _('This is the default locale used to display information about you (like your description).') }}</small>
              {{ form.lang.errors }}
            </li>
          </ol>
        </fieldset>
        <fieldset id="profile-detail" class="c">
          <legend>{{ _('Details') }}</legend>
          <p class="sub_legend">
            {% trans -%}
              Introduce yourself to the community, if you like!
              This text will appear publicly on your user info page.
            {%- endtrans %}
          </p>
          {{ l10n_menu(remove_locale_url=amouser.get_user_url('remove-locale')) }}
          <div class="formfields">
          {{ form.bio }}
          {{ some_html_tip(title=
              _('Allowed HTML: {0}. Links are forbidden.')|f(
                  '<abbr title> <acronym title> <b> <blockquote> <code> <em>
                   <i> <li> <ol> <strong> <ul>')|e) }}
          {{ form.bio.errors }}
          </div>
        </fieldset> {# /.profile-detail #}
        <fieldset id="profile-misc" class="c">
          <legend>{{ _('Miscellaneous') }}</legend>
          <p class="sub_legend">
            {% trans -%}
              Decide what collections should be shown in your profile.
            {%- endtrans %}
          </p>
          <ul class="checkboxes">
            <li>
            <label for="id_display_collections" class="check">
              {{ form.display_collections }}
              {{ _('Display the collections I have created') }}
            </label>
            {{ form.display_collections.errors }}
            </li>
            <li>
            <label for="id_display_collections_fav" class="check">
              {{ form.display_collections_fav }}
              {{ _("Display collections I'm following") }}
            </label>
            {{ form.display_collections_fav.errors }}
            </li>
          </ul>
        </fieldset>

        <fieldset id="acct-notify">
          <legend>{{ _('Notifications') }}</legend>
          <p class="sub_legend">
            {% trans %}
              From time to time, Mozilla may send you email about upcoming
              releases and add-on events. Please select the topics you are
              interested in.
            {% endtrans %}
          </p>
          <div class="user-notifications formfields">
            {{ form.notifications }}

            <p class="note">
              {% trans %}
                Mozilla reserves the right to contact you individually about
                specific concerns with your hosted add-ons.
              {% endtrans %}
            </p>
          </div>
        </fieldset>

        {% if 'admin_log' in form.fields %}
            <fieldset id="acct-admin">
              <legend>{{ _('Admin') }}</legend>
              <ul class="formfields">
                <li>
                  {{ form.admin_log.label }} {{ required() }}
                  {{ form.admin_log }}
                  {{ form.admin_log.errors }}
                </li>
                <li>
                  {{ form.notes.label }}
                  {{ form.notes }}
                  {{ form.notes.errors }}
                </li>
                <li>
                  <label for="id_confirmationcode">{{ form.confirmationcode.label }}</label>
                  {{ form.confirmationcode }}
                  {{ form.confirmationcode.errors }}
                </li>
                <li>
                  <label for="id_anonymize">{{ form.anonymize.label }}</label>
                  {{ form.anonymize }}
                  {{ form.anonymize.errors }}
                </li>
                <li>

              </ul>
            </fieldset>
        {% endif %}
      </div>{# /#user-profile #}
      <p class="footer-submit">
        {% if 'admin_log' in form.fields %}
        <a href="{{ url('admin:users_userprofile_delete', amouser.id) }}" class="delete">Delete Account</a>
        {% else %}
        <a href="{{ url('users.delete') }}" class="delete">{{ _('Delete Account') }}</a>
        {% endif %}
        <button type="submit" class="button prominent">{{ _('Update Account') }}</button>
      </p>
    </div>{# /.tab-wrapper #}
  </form>
</div>{# /.primary #}
{% endblock content %}
