{% extends "impala/base_shared.html" %}

{% block title %}{{ page_title(_('Password Reset')) }}{% endblock %}

{% block content %}
<div class="primary" role="main">
  <div class="primary island">
    <h1>{{ _('Password Reset') }}</h1>
    <div class="notification-box success">
      {{ loc("It looks like you already have an account with the
              Firefox Marketplace. We've sent you a password-reset
              email so you can complete your registration with the
              Add-ons site. Thanks!") }}
    </div>
  </div>
</div>
{% endblock content %}
