{% extends "impala/base_shared.html" %}

{% block title %}{{ page_title(_('Password Reset')) }}{% endblock %}

{% block content %}
<div class="primary" role="main">
  <div class="primary island">
    <h1>{{ _('Password Reset') }}</h1>
    <div class="notification-box success">
      <h2>{{ _('An email has been sent to the requested account with further information. If you do not receive an email then please confirm you have entered the same email address used during account registration.') }}</h2>
    </div>
  </div>
</div>
{% endblock content %}
