<form id="report-user-form" method="post"
      action="{{ url('users.abuse', profile.pk) }}">
  {{ csrf_input }}
  <fieldset class="abuse">
    <ol>
      <li>
        <p>{% trans %}Please describe why you are reporting this user,
        such as for spam or an inappropriate picture.{% endtrans %}</p>
      </li>
      <li>
        {{ abuse_form.text }}
        {{ abuse_form.text.errors }}
      </li>
      {% if abuse_form.has_recaptcha %}
        {{ abuse_form.recaptcha }}
        {{ abuse_form.recaptcha.errors }}
      {% endif %}
      <li class="footer-submit">
        <button type="submit">{{ _('Send Report') }}</button>
      </li>
    </ol>
  </fieldset>
</form>
