{% extends "impala/base_shared.html" %}
{% from 'includes/forms.html' import pretty_field, required %}

{% block title %}{{ page_title(_('T-shirt Order')) }}{% endblock %}

{% block bodyclass %}t-shirt-form{% endblock %}

{% block content %}
<h1>{{ _('Special Edition Add-on Creator T-shirt') }}</h1>
{% if eligible %}
  {% if user.t_shirt_requested %}
    <section class="island c user-input prose">
      <p>
        <strong>{{ _('Note:') }}</strong>
        {% trans %}
          You have already submitted a request for a t-shirt. You may
          re-submit this form to update your information, but you will
          only receive one shirt.
        {% endtrans %}
      </p>
    </section>
  {% endif %}

  <section class="island c user-input prose">
    <p>
    {% trans %}
      Thank you for helping to make Firefox the most extensible
      browser available!
    {% endtrans %}
    </p>

    <p>
    {% trans %}
      As a thank you gift, we'd like to send you
      a special-edition, community-designed t-shirt. To receive your
      shirt, please fill out the form below.
    {% endtrans %}
    </p>

    <p>
    {% trans %}
      Your contact information will only be used by Mozilla to ship
      this special edition t-shirt.
    {% endtrans %}
    </p>
  </section>


{% else %}
  <section class="island c user-input prose">
    <p>
    {% trans %}
      We're sorry, but in order to qualify for our special edition
      t-shirt, you must be an add-on developer with at least one
      listed add-on, one unlisted but signed add-on, or any number
      of background themes with a combined total of 10,000 average
      daily users.
    {% endtrans %}
    </p>
  </section>
{% endif %}
{% endblock content %}
