{% extends "impala/base_shared.html" %}
{% block title %}{{ page_title(_('Unsubscribe')) }}{% endblock %}

{% block content %}
<div class="primary island" id="standalone">
  {% if unsubscribed %}
    <h2 id="unsubscribe-success">{{ _('You are successfully unsubscribed!') }}
    </h2>
    <p>
    {% trans email=email %}
    The email address <strong>{{ email }}</strong> will no longer get messages when:
    {% endtrans %}
    </p>
    <ul class="indent">
      {% for s in perm_settings %}
        <li><em>{{ s.label }}</em></li>
      {% endfor %}
    </ul>
    <p>
      <strong>{{ _('More Actions:') }}</strong>
      <a href="{{ url('users.edit') }}#acct-notify">
        {{ _('edit your notification settings') }}</a>
      &middot;
      <a href="{{ url('users.edit') }}">{{ _('edit your profile') }}</a>
    </p>
  {% else %}
    <h2 id="unsubscribe-fail">{{ _('We could not unsubscribe you') }}</h2>
    <p>
      {% set edit_url='%s#acct-notify' % url('users.edit') %}
      {% trans edit_url=edit_url %}
        Unfortunately, we weren't able to unsubscribe you.  The link you clicked is invalid.
        However, you can unsubscribe still unsubscribe on your <a href="{{ edit_url }}">edit profile page</a>.
      {% endtrans %}
    </p>
  {% endif %}
  </p>
</div>
{% endblock content %}
