<table class="{{ table_class }}">
  <caption>{{ _('Developer Information') }}</caption>
  <tbody>
    <tr>
      <th>{{ _('Name') }}</th>
      <td class="fn n">{{ profile.name }}</td>
    </tr>
    {% if profile.location %}
      <tr>
        <th>{{ _('Location') }}</th>
        <td class="adr">{{ profile.location }}</td>
      </tr>
    {% endif %}
    {% if profile.occupation %}
      <tr>
        <th>{{ _('Occupation') }}</th>
        <td class="role">{{ profile.occupation }}</td>
      </tr>
    {% endif %}
    {% if profile.homepage and profile.is_developer %}
      <tr>
        <th>{{ _('Homepage') }}</th>
        <td><a class="url" href="{{ profile.homepage|external_url }}">
          {{ profile.homepage }}</a></td>
      </tr>
    {% endif %}
    <tr>
      <th>{{ _('User since') }}</th>
      <td>{{ profile.created|date }}</td>
    </tr>
    {% if own_profile or edit_any_user %}
      {% if profile.last_login %}
        <tr class="last-login-time">
          <th>{{ _('Time of last login') }}</th>
          <td>{{ profile.last_login|datetime }}</td>
        </tr>
      {% endif %}
      {% if profile.last_login_ip %}
        <tr class="last-login-ip">
          <th>{{ _('IP address of last login') }}</th>
          <td>{{ profile.last_login_ip }}</td>
        </tr>
      {% endif %}
    {% endif %}
    <tr>
      <th>
        {{ _('Number of add-ons developed') }}
      </th>
      <td class="num-addons">
        {% with num=profile.num_addons_listed %}
          {% if num == 0 %}
             {{ _('{0} add-ons')|format_html(num) }}
          {% else %}
            <a href="{{ '#my-submissions' if is_profile else profile.get_url_path() }}">
              {% if profile.is_artist and not profile.is_addon_developer %}
                {% trans cnt=num, num=num|numberfmt %}
                  {{ num }} theme
                {% pluralize %}
                  {{ num }} themes
                {% endtrans -%}
              {% else %}
                {% trans cnt=num, num=num|numberfmt %}
                  {{ num }} add-on
                {% pluralize %}
                  {{ num }} add-ons
                {% endtrans -%}
              {% endif %}
            </a>
          {% endif %}
        {% endwith %}
      </td>
    </tr>
    <tr>
      <th>
        {{ _("Average rating of developer's add-ons") }}
      </th>
      <td>{{ profile.averagerating|float|stars }}</td>
    </tr>
  </tbody>
</table>
