#add {
    font-weight: bold;
}

table {
    width: 100%;
}

th {
    color: #888;
}

#features {
    border: 1px solid #666;
    border-width: 1px 0;
}

#features tr:not(:last-child) {
    border-bottom: 1px dotted #aaa;
}

#features td:last-child {
    vertical-align: middle;
}

#features td.app {
    background-position: 0 5px;
    background-size: auto 24px;
    font-weight: bold;
    line-height: 24px;
    min-height: 24px;
    padding-left: 35px;
    vertical-align: top;
}

#features td.collection {
    width: 40%;
}

#features .replace {
    display: block;
    font-size: 0.8em;
    padding-left: 22px;
}

#features .replace:link,
#features .replace:visited {
    color: #666;
}

#features input.collection-ac {
    width: 16em;
}

#features .loading {
    background: url(../../img/zamboni/loading-white.gif) 50% 50% no-repeat;
}

#features .collectionitem {
    background: url(../../img/icons/icons.png) 0 -300px no-repeat;
    display: inline-block;
    padding-left: 22px;
}

#features .collectionitem.personas-collection {
    background: url(../../img/illustrations/themes.gif) no-repeat;
    background-size: 18px;
}

.ui-autocomplete a b {
    color: #999;
    display: block;
    font-size: 10px;
}

#features a.remove {
    border-radius: 20px;
    background-color: #ddd;
    color: #fff;
    display: inline-block;
    float: right;
    font-size: 14px;
    font-weight: bold;
    height: 18px;
    line-height: 16px;
    text-align: center;
    text-decoration: none;
    width: 18px;
}

#features tr:hover a.remove {
    background-color: #ccc;
}

#features tr:hover a.remove:hover {
    background-color: #2a4364;
}

#featured-webapps {
    margin-top: 15px;
}
.app-container {
    background-color: #eee;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
}
.featured-app {
    border-radius: 5px;
    float: left;
    margin: 0;
}
.featured-app .dashboard {
    display: inline-block;
    border-radius: 5px;
    background: #fff;
    padding: 1px 5px;
}
.featured-app .dashboard em {
    margin-left: 4px;
    vertical-align: middle;
}
.featured-app .dashboard a {
    position: relative;
    top: 3px;
}
.featured-app .dashboard a:hover {
    text-decoration: none;
}
.featured-app h2 {
    font-size: 16px;
    display: inline-block;
    line-height: 32px;
    margin: 0 15px 0 10px;
}
.featured-app li {
    vertical-align: middle;
}
.featured-app img.logo {
    position: relative;
    top: 10px;
}
.app-intro p {
    font-size: 10px;
}
.featured-app p {
    display: inline-block;
    margin: 0;
}
.featured-app .icon {
    display: inline-block;
    background: url(../../img/mkt/icons/mkt-reviewer-icons.png) no-repeat 0 0;
    height: 16px;
    width: 16px;
}
.featured-app .icon.warning {background-position: 0 -32px;}
.featured-app .icon.sponsored {background-position: -32px 0;}
#featured-webapps .side {
    float: right;
    padding: 10px;
    border-radius: 5px;
    background-color: #fff;
    width: 250px;
}
#featured-webapps .side p {
    float: right;
    margin: 0;
}
#featured-webapps .side li {
    font-size: 10px;
}
#featured-webapps .side label {
    display: block;
    font-size: 12px;
}
#featured-webapps .side .devicelist {
    float: left;
    margin: 0 10px 0 0;

}
.featured-app .dates {
    padding-top: 10px;
}
.featured-app .dates label {
    display: inline-block;
    margin-right: 15px;
}
.featured-app input[type=date], #featured-webapps input.placeholder {
    border: 0;
    line-height: 22px;
    height: 22px;
    border-radius: 5px;
}
#featured-webapps input.placeholder {
    border: 1px solid #ccc;
    width: 350px;
}
.featured-app .app-intro {
    padding-bottom: 15px;
}
a.remove {
    margin-left: 10px;
    text-indent: -99999px;
    width: 22px;
    height: 22px;
    background: #999 url(../../img/mkt/header-icons.png) no-repeat -1px -26px;
    border-radius: 50%;
}
a.remove:last-child {
    margin-right: 10px;
}
li.ui-menu-item .ui-corner-all.ui-state-hover {
    border: 0;
}
ul.ui-autocomplete {
    border-radius: 5px;
}
.app-intro h2 {
    white-space: nowrap;
    max-width: 390px;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: bottom;
}
#ui-datepicker-div {
    display: none;
}
.ui-datepicker .ui-datepicker-header {
    height: 25px;
}
