/* Styling for zamboni's admin. */


/* Cycle table row backgrounds. */
table tr {
    background: #ecf7fb;
}

table tr:nth-child(odd) {
    background: #d9eff6;
}

#header #title a {
    color: #d64203;
}

#title {
    margin: 1.5em 0 .9em;
}

/* Django does weird things to align forms and the transbox looks off.  This
 * makes it look ok.
 */
.trans {
    float: left;
}

/* Override the Django body.login background. */
html body.login {
    background: inherit;
}

/* Remove fieldset styling on the admin. */
fieldset {
    padding: 0;
}
