/* Styling for zamboni's admin. */


/* Cycle table row backgrounds. */
table tr {
    background: #ecf7fb;
}

table tr:nth-child(odd) {
    background: #d9eff6;
}

#header #title a {
    color: #d64203;
}

#title {
    margin: 1.5em 0 .9em;
}

/* Django does weird things to align forms and the transbox looks off.  This
 * makes it look ok.
 */
.trans {
    float: left;
}

/* Override the Django body.login background. */
html body.login {
    background: inherit;
}

/* Remove fieldset styling on the admin. */
fieldset {
    padding: 0;
}

.footerlogo {
    display: none;
}

#admin-validation form label,
#admin-validation form span {
    display: block;
    float: left;
}
#admin-validation form label {
    padding: 0 1em;
    width: 10em;
}
#admin-validation form #label-application {
    width: 5em;
}
#admin-validation form #elem-application {
    width: 8em;
}
#admin-validation form #label-target_version {
    width: 7em;
}
#admin-validation form #elem-finish_email,
#admin-validation form #elem-finish_email input {
    width: 13em;
}
#admin-validation form span {
    width: 14em;
}
#admin-validation form .form-row {
    clear: both;
    height: 2.5em;
}
#admin-validation form .last-row {
    padding-left: 15em;
}
#admin-validation form .button {
    float: left;
    padding-left: 10em;
}
#admin-validation .errorlist li {
    list-style: disc;
    margin-left: 2em;
}
#admin-validation .errorlist li li {
    list-style: none;
    margin-left: 1em;
}
#admin-validation .errorlist ul {
    margin-bottom: 1em;
}
#admin-validation .errorlist ul ul {
    margin: 0;
}
div.popup input[type="text"] {
    width: 588px;
}
