.blocked {
    background: left top url(../../img/zamboni/blocklist.png) no-repeat;
    padding-left: 80px;
    width: 760px;
    display: block;
}

.html-rtl .blocked {
    background: right top url(../../img/zamboni/blocklist.png) no-repeat;
    padding-left: 0;
    padding-right: 80px;
    display: block;
}

.blocked h1 {
    font-size: 24px;
    line-height: 26px;
    font-weight: normal;
    color: #333;
}

.blocked h1 + h2 {
    margin: -6px 0 15px;
    font-size: 16px;
    color: #666;
}

.blocked footer {
    font-style: italic;
    font-size: 12px;
}

#blocked-items li {
    font-size: 14px;
    margin-bottom: 1em;
}
