/*clearfix*/
.brform:after,
#status-bar:after,
#addon-validator-suite .tiers:after,
form.select-review:after {
    content: ".";
    display: block;
    clear: both;
    height: 0;
    visibility: hidden;
}
/* @group Edit addon */
.devhub-form .label,
.devhub-form th label {
    margin-right:5px;
}

#edit-addon .edit-addon-section {
    margin-bottom:3em;
}

#edit-addon h3 a {
    font-size: 11px;
}

#edit-addon h3:first-child {
    margin-top: 0;
}

.devhub-form .item {
    background-color: #FFFFFF;
    background-position: left bottom;
    background-repeat: repeat-x;
    clear: both;
    position: relative;
    border: 1px solid #C9E8F3;
    margin: 0 0 1em;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
}

.devhub-form .listing-footer {
    -moz-border-radius: 0 0 8px 8px;
    -webkit-border-radius: 0 0 8px 8px;
    border-radius: 0 0 8px 8px;
    border-top: 1px solid #C9E8F3;
    padding: 9px;
}

.devhub-form .item_wrapper {
    padding: 5px 13px;
}

.devhub-form table {
    margin: 0;
    width: 100%;
}

.devhub-form table th {
    width: 130px;
    vertical-align: top;
    padding: 8px 20px 8px 0;
    border-top: 1px dotted #ADD0DC;
}

.devhub-form table td {
    padding: 8px 0;
    border-top: 1px dotted #ADD0DC;
}

.devhub-form table, .devhub-form tbody {
    border-top: medium none;
    border-bottom: medium none;
}

.devhub-form table tr:first-child td,
.devhub-form table tr:first-child th {
    border-top: medium none;
}

.devhub-form table .screenshot.thumbnail {
    width: 100px;
    height: 75px;
}


.devhub-form .tip,
a.remove {
    -moz-border-radius: 20px;
    -webkit-border-radius :20px;
    border-radius: 20px;
    background-color: #DDDDDD;
    color: white;
    display: inline-block;
    font-size: 14px;
    font-weight: bold;
    height: 18px;
    line-height: 1.3em;
    margin-top: 0;
    text-align: center;
    text-decoration :none;
    width: 18px;
}
.devhub-form .tip {
    vertical-align: top;
}
a.remove {
    cursor: pointer;
    line-height: 16px;
    float: right;
    margin-top: 2px;
}

.devhub-form .author:hover .remove,
tr:hover a.remove,
.devhub-form tr:hover .tip,
.devhub-form tr:hover .remove {
    background-color: #CCC;
}

.devhub-form tr:hover .tip:hover,
.devhub-form .author .remove:hover {
    background-color: #2A4364;
    cursor: help;
}

.devhub-form tr:hover .remove:hover,
tr:hover a.remove:hover {
    background-color: #2A4364;
}

.devhub-form .empty {
    color: #999;
    font-style: italic;
}

ul.refinements:last-child {
    border-bottom-width: 0;
    margin-bottom: 0;
    padding-bottom: 0;
}

#trans-tags input,
#trans-name input {
    width: 80%;
}

#submit-describe #trans-name {
    display: inline-block;
    margin-right: 15px;
    width: 375px;
}

#submit-describe #trans-name input {
    width: 370px;
}

/*#id_homepage, #id_support_url, #id_support_email {*/
#trans-support_email input,
#trans-homepage input,
#trans-support_url input {
    width: 60%;
}

#slug_edit span, #id_slug {
  font-family: Verdana !important;
  /** This is so they match up size-wise **/
}

#slug_edit a {
    font-size:10px;
}

.devhub-form label {
    font-weight: normal;
}
.devhub-form th label {
    font-weight: bold;
    display: inline-block;
}
span.locale{
    font-weight: normal;
    font-size: .9em;
    color: #888;
    display: block;
}

#addon_categories_edit li {
    float: left;
    width: 250px;
}

#addon_description,
#developer_comments {
    max-height: 6.4em;
    overflow: hidden;
}

.edit-addon-details {
    padding-top: 3px;
    font-size: 0.8em;
    color: #555;
}

.edit-media-details {
    padding-bottom: 5px;
    padding-top: 3px;
    font-size: 0.9em;
    color: #444;
}

.edit-media-details .tip {
    font-size: 12px;
    height: 16px;
    width: 16px;
}

#edit-icon-error {
    color: red;
}

#icons_default {
    border: 1px solid #6A89AC;
    max-height: 86px;
    overflow-x: hidden;
    overflow-y: scroll;
    padding: 5px;
    background-color: #fff;
}

#icon_preview_readonly img {
    margin-right: 20px;
}

#icon_preview {
    float: right;
    margin-left: 10px;
    width: 76px;
}

#icon_preview .icon_preview {
    border: 1px solid #6A89AC;
    text-align: center;
    padding: 5px;
    background-color: #fff;
}

#icon_preview .icon_preview img {
    vertical-align: middle;
}

#icon_preview_32 {
    line-height: 32px;
    width: 32px;
    height: 32px;
}

#icon_preview_32 img {
    max-width: 32px;
    max-height: 32px;
}

#icon_preview_48 {
    line-height: 48px;
    width: 48px;
    height: 48px;
}

#icon_preview_48 img {
    max-width: 48px;
    max-height: 48px;
}

#icon_preview_64 {
    line-height: 64px;
    width: 64px;
    height: 64px;
}

#icon_preview_64 img {
    max-width: 64px;
    max-height: 64px;
}

#icons_default label {
    display: none;
}

#icons_default li {
    display: inline-block;
}

#icons_default li.hide {
    display: none;
}

#icons_default li a {
    padding:8px;
    display:block;
    -moz-border-radius: 3px;
}

#icons_default li a:hover {
    background-color:#eee;
}

#icons_default li a img {
    display: block;
}

#icons_default li a.active {
    border: 1px solid #CADBFA;
    background-color: #E8F0FD;
    padding: 7px;
}

/* @end */

/* @group Version Compatibility */

.compat-update-modal {
    min-height: 425px;
}
.compat-update-modal > :first-child {
    margin-top: 0;
}
.compat-update-modal > :last-child {
    margin-bottom: 0;
}

.compat-versions table {
    width: 100%;
}
.compat-versions tbody {
    border: 1px solid #000;
    border-width: 1px 0;
}
.compat-versions thead th {
    color: #888;
}
.compat-versions tbody tr:not(:last-child) {
    border-bottom: 1px dotted #a5bfce;
}

.compat-versions td.app,
.new-apps a.app {
    font-weight: bold;
    min-height: 24px;
    padding-left: 35px;
}
.compat-versions td.app {
    background-position: 0 0.5em;
    -moz-background-size: auto 24px;
    -wekbkit-background-size: auto 24px;
    background-size: auto 24px;
    line-height: 30px;
    vertical-align: top;
}
.new-apps a.app {
    background-position: 0 50%;
    -moz-background-size: auto 16px;
    -wekbkit-background-size: auto 16px;
    background-size: auto 16px;
    line-height: 24px;
}

.compat-versions p.add-app {
    margin-top: -1em;
}
.compat-versions p.add-app a,
.new-apps a.app {
    display: block;
}
.compat-versions p.add-app + .new-apps {
    margin: -1em 0 1em;
}

.compat-versions thead th,
.compat-versions table + p,
.compat-versions .errorlist {
    font-size: 0.85em;
}
.compat-versions .errorlist {
    margin-bottom: 0;
}

.compat-versions td.select {
    display: table-row;
}
.compat-versions td.select div {
    display: table-cell;
    padding: 0 0.5em 0;
}
.compat-versions td.select div:first-child {
    padding-left: 0;
}
.compat-versions td.select select {
    width: 120px;
}

.compat-versions td label,
.compat-versions td.remove input {
    position: absolute;
    left: -9999px;
}
.compat-versions td.remove div {
    position: relative;
    top: 0.308em;
}

.compat-versions tr.app-extra,
.compat-versions .new-apps {
    display: none;
}

/* @end */

/* @group Dashboard */

.action-needed {
    background-color: #fff;
    border: 3px solid #c8e8f3;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    padding: 15px;
}

.action-needed h3:first-child {
    margin-top: 0;
}
.action-needed .button-wrapper {
    text-align: center;
}

.action-needed .button-wrapper:last-child,
.item ul.item-details,
.item .item-actions ul,
.item > p {
    margin-bottom: 0;
}

.users {
    color: #390;
}

.item-actions {
    font-size: 0.9em;
}

.item-actions,
.item-actions a {
    color: #aaa;
}
#dashboard .item:hover .item-actions {
    color: #555;
}
#dashboard .item:hover .item-actions a {
    color: #05e;
}

.item-actions h5,
.item-actions>ul,
.item-actions>ul>li {
    display: inline-block;
}
.item-actions>ul>li {
    margin-right: 4px;
}
.item-actions>ul>li:after {
    margin: 0 0 4px 4px;
}
.item-actions>ul>li:not(:last-child):after {
    background-color: #aaa;
    -moz-border-radius: 5em;
    -webkit-border-radius: 5em;
    border-radius: 5em;
    content: "";
    display: inline-block;
    height: 2px;
    width: 2px;
    margin: 0 0 4px 4px;
}
#dashboard .item:hover .item-actions>ul>li:not(:last-child):after {
    background-color: #555;
}

.item-actions h5 {
    font-size: 1em;
    margin-right: 4px;
}
.item-actions h5:after {
    content: ":";
}

a.more-actions {
    display: block;
    position: relative;
}
a.more-actions:after {
    border-color: #aaa transparent transparent;
    border-style: solid;
    border-width: 3px 3px 0;
    content: "";
    position: absolute;
    top: 0;
    height: 0;
    margin: 8px 0 0 4px;
    width: 0;
}
#dashboard .item:hover .item-actions a.more-actions:after {
    border-color: #05e transparent transparent;
}
a.more-actions:after:hover {
    text-decoration: none;
}

.more-actions-popup li a {
    display: block;
}
.more-actions-popup ul:first-child {
    border-bottom: 1px dotted #aecfda;
    margin-bottom: 0.5em;
    padding-bottom: 0.5em;
}

/* @group Compatibility */

.compat-error {
    background: url(../../img/zamboni/notifications.png) 0px -164px no-repeat;
    padding-left: 15px;
}
#dashboard .item .item-actions a.compat-error {
    color: #c00;
}
.tooltip.ajax-loading {
    -moz-background-size: auto 12px;
    -wekbkit-background-size: auto 12px;
    background-size: auto 12px;
}

.compat-error-popup.popup {
    padding: 15px;
    min-height: 100px;
}
.compat-error-popup.popup .msg {
    padding-left: 45px;
}

/* @end */

#submit-addon {
    margin-bottom: 3em;
}
.cta a.button:link,
.cta a.button:visited {
    background: #5af;
    background: -moz-linear-gradient(top, #acf, #5af);
    background: -webkit-gradient(linear, left top, left bottom, from(#acf), to(#5af));
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    display: block;
    line-height: 1.0;
    padding: 0.75em 0.95em;
    text-align: center;
}
.cta a.button:hover,
.cta a.button:focus {
    border-color: #25f;
    -moz-box-shadow: inset 0 0 2px #fff;
    -webkit-box-shadow: inset 0 0 2px #fff;
    box-shadow: inset 0 0 2px #fff;
}
.cta a.button:active {
    border-color: #03c;
    background: #7bf;
    background: -moz-linear-gradient(top, #5af, #7bf);
    background: -webkit-gradient(linear, left top, left bottom, from(#5af), to(#7bf));
    -moz-box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.5);
    box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.5);
}

.secondary .recent-activity>ul>li {
    color: #555;
    line-height: 1.2em;
    margin-bottom: 0.75em;
}
.secondary .recent-activity>ul>li a {
    color: #333;
}
.activity-timestamp {
    color: #aaa;
    display: block;
    font-size: 0.9em;
    margin-top: 0.15em;
}

.older-activity {
    float: left;
    font-size: 0.9em;
}
.older-activity a:after {
    border-color: transparent transparent transparent #05e;
    border-style: solid;
    border-width: 3px 0 3px 4px;
    content: "";
    float: right;
    height: 0;
    margin: 7px 0 0 4px;
    width: 0;
}

h3 a.subscribe-feed {
    background: url(../../img/zamboni/icons/feed-icons.png) no-repeat;
    display: inline-block;
    line-height: 16px;
    height: 16px;
    padding: 0;
    margin-left: 0.2em;
    text-indent: -9999px;
    width: 16px;
}
h3 a.subscribe-feed:hover {
    background-position: 0 -16px;
}

.addon-submission-process form div.addon-submission-field {
    margin-bottom: 1em;
}

.addon-submission-process form label {
    display: block;
    padding-bottom: 3px;
}
.submit-license input[type=checkbox] + label {
    display: inline;
    padding-bottom: 0;
}

.addon-submission-process #id_name {
    width: 300px;
    display: inline-block;
    margin-right: 10px;
}

/* @end */

/* @group Ownership */
#author_list .email-autocomplete {
    width: 220px;
    padding-right:20px;
}
#author_list {
    padding-top: 4px;
}
#author_list li {
    padding: 8px 0;
    border-bottom: 1px dotted #ADD0DC;
}
#author_list .blank {
    border: 0;
}
#author_list li > label,
#author_list li > input,
#author_list li > select {
    margin-right: .5em;
}
#author_list .handle {
    width: 20px;
    height: 16px;
    display: inline-block;
    cursor: move;
    background: url(../../img/zamboni/icons/icon-draggable.png) no-repeat 0 center;
}
#author_list .blank * {
    display: none;
}
#author_list .blank .email-autocomplete {
    display: inline;
    margin-left: 23px;
}
.author .errorlist {
    display: none;
}
input.formerror {
    border-color: #c00;
}
input.invalid {
    background: url(../../img/zamboni/notifications.png) no-repeat 229px -160px;
}
input.valid {
    background: url(../../img/zamboni/notifications.png) no-repeat 226px -367px;
}
.license-other input {
    margin-bottom: 1em;
}
.devhub-form .priv label,
.devhub-form .eula label,
.devhub-form .license-other label {
    font-weight: bold;
    margin-bottom: .5em;
}
.devhub-form .priv,
.devhub-form .eula,
.devhub-form .license-other {
    margin: 16px 0 0 32px;
}
.eula label,
.priv label {
    font-weight: bold;
}
/* @end */

/* @group Payments */
.payments .intro {
    background-color: #FFFFFF;
    border: 1px solid #C9E8F3;
    padding: 1em;
    width: 300px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    display: inline-block;
}
.payments .intro ul {
    list-style-type: disc;
    padding: 0 0 .5em 1em;
    margin-bottom: 1em;
    border-bottom: 1px dotted #ADD0DC;
}
.payments .intro ul,
.payments .intro p {
    font-size: .9em;
}
.payments .intro .button-wrapper {
    text-align: center;
}
.devhub-form .brform label,
.devhub-form .b {
    font-weight: 500;
}
.brform > label,
.brform > input,
.brform > div,
.brform > ul {
    float: left;
    clear: left;
}
.payments form > div {
    margin-bottom: 2em;
}
.paypal {
    margin-left: 2em;
}
.extra {
    font-size: .9em;
}
a.extra {
    margin-left: .5em;
}
#status-bar form {
    float: right;
    margin: 0;
    padding: 0;
    font-size: .9em;
    font-weight: 500;
}
#status-bar p {
    float: left;
    margin: 0;
    padding: 0;
    line-height: 22px;
}
#status-bar {
    padding: .5em 1em;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    margin-bottom: 2em;
    background: #fff;
    border: 1px solid #C9E8F3;
}
/* @end */


/* @group Versions */

#version-status > div {
    border-top: 1px dotted #ADD0DC;
    margin: 0 10px;
    padding: 10px 0;
}

#version-status > div:first-child {
    border-top: 0;
}

#version-status strong {
    display: block;
}

#version-status .version-changed {
    color: #AAA;
    display: block;
    font-size: 11px;
}

#version-list .file-status {
    text-transform: lowercase;
}

#version-list table {
    width: 100%;
}

#version-list table th {
    color: #888;
    font-size: 11px;
    padding: 0 0 5px 0;
}

#version-list table th.version-delete {
    width: 35px;
}

#version-list table .version-delete {
    text-align: right;
}

#version-list .version-delete .remove {
    float: none;
    margin: 0;
}

.version-status span {
    color: #38A532;
    text-transform: lowercase;
}

.version-status.version-unreviewed span,
.version-status.version-beta span {
    color: #4C8B97;
}

.version-status.version-disabled span,
.version-status.version-null span,
.version-status.version-disabled-by-admins{
    color: #991B0F;
}

.version-status-actions {
    border-top: 1px dotted #ADD0DC;
    margin-top: 10px;
    padding-top: 5px;
}

.delete-button {
    background: #c22;
    background: -moz-linear-gradient(top, #f77, #c22);
    background: -webkit-gradient(linear, left top, left bottom, from(#f77), to(#c22));
    border-color: #ad1212;
    text-shadow: 0 -1px #e00;
}

#modals {
    display: none;
}

/* @end */

/* @group Upload Version */
.upload-file {
    padding: 20px;
}

#upload-file {
    margin: 0;
}

#upload-file h3 {
    margin-top: 0;
}

#upload-file > div {
    margin-top: 1em;
}

#upload-file .upload-status {
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    border:1px solid #D2ECF5;
    margin-bottom: 1em;
    padding: 10px;
}

#upload-file .upload-status div {
    margin-top: 1em;
    line-height: 1em;
}

#upload-file .upload-details {
    font-size: 11px;
    color: #999;
}

#upload-file .upload-status div:first-child {
    margin-top: 0;
}

#upload-file .upload-status strong {
    display: block;
}

#upload-file p {
    margin-bottom: 1em;
}

#upload-status-bar {
    background-color: #F2F2F2;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    height: 20px;
}

#upload-status-bar.bar-fail {
    background-color: #D81916;
}

#upload-status-bar.bar-success {
    background-color: #325487;
}

#upload-status-bar div {
    background-color: #8BC5FA;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    width: 0%;
    height: 20px;
}

#upload-status-bar.progress-idle,
#upload-status-bar.progress-idle div {
    background-image: url('../../img/developers/progress.gif');
}

#upload-status-bar.progress-idle {
    background-position: 0 -26px;
}

#upload-status-results ul {
    font-size: 11px;
    line-height: 1.4em;
    list-style: disc inside none;
    margin: 0 0 0 24px;
    padding-top: 3px;
}

#upload-status-results {
    background-repeat: no-repeat;
    display: none;
}

#upload-status-results a {
    color: #359AFF;
    display: block;
    font-size: 12px;
    padding-left: 24px;
    padding-top: 5px;
}

#upload-status-results.status-fail,
#upload-status-results.status-pass {
    display: block;
}

#upload-status-results strong {
    background-image: url("../../img/zamboni/icons/checks.png");
    background-repeat: no-repeat;
    padding: 2px 0 2px 24px;
}

#upload-status-results.status-fail strong {
    color: #D81916;
    background-position: 0 -120px;
}

#upload-status-results.status-pass strong {
    color: #325487;
    background-position: 0 -80px;
}

#upload-file .upload-status #uploadstatus {
    color: #777777;
    font-size: 11px;
    margin-top: 4px;
}

/* @end */

/* @group Recent Activity */
.secondary-feed {
    padding: 1em 0 0 1em;
}
.secondary-feed .subscribe {
    padding: 2px 0 0 24px;
}
/* @end */

/* @group My Add-ons */
.status-0 { color: gray; }
.status-1,
.status-2,
.status-3 { color: navy; }
.status-4 { color: green; }
.status-5 { color: red; }

.inactive-0 { color: green; }
.inactive-1 { color: red; }
/* @end */


/* @group Header and main navigation bar */
.section {
    max-width: 75em;
}

.developer-hub #content-main,
.developer-hub #dashboard {
    min-height: 30em;
}

#navbar a, #navbar a:active, #navbar a:hover, #navbar a:focus, #navbar a:visited {
    color: white;
    text-decoration: none;
    cursor: pointer;
}
#navbar {
    display: block;
    background-image: url(../../img/amo2009/bg/heading-dark-blue.jpg);
    background-repeat: repeat-x;
    background-position: bottom left;
    background-color: #305083;
    border:  1px solid #021437;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    margin: 0 0 1.5em 0;
    color: white;
    font-size: 1.231em;
    white-space: nowrap;
    overflow: hidden;
}
#navbar ul.top {
    overflow: visible;
}
#navbar li.top,
#navbar li.search {
    float: left;
    border-right: 1px solid #455c87;
    list-style: none;
}
#navbar li.top a.controller {
    display: block;
    padding: .5em 1.3em;
    margin: 0;
}
#navbar li.top a.controller {
    border-right: 1px solid #1e2e4c;
}
#navbar li.search {
    float: right;
    border: none;
}
#navbar li.top:hover,
#navbar li.top.selected {
    background-image: url(../../img/amo2009/bg/heading-dark-blue-highlighted.png);
}
#navbar li.top ul {
    display: none;
    position: absolute;
    z-index: 1;
    top: auto;
    margin-left: -1px;
}
#navbar li.top ul,
#navbar li.top ul li:last-child {
    -moz-border-radius-bottomleft: 8px;
    -webkit-border-bottom-left-radius: 8px;
    border-bottom-left-radius: 8px;
    -moz-border-radius-bottomright: 8px;
    -webkit-border-bottom-right-radius: 8px;
    border-bottom-right-radius: 8px;
}
#navbar li.top:hover ul {
    display: block;
}
#navbar li ul li {
    background-image: url(../../img/amo2009/bg/heading-dark-blue-highlighted.png);
    background-repeat: repeat-x;
    background-position: bottom left;
    background-color: #305083;
    border-bottom: 1px solid #5a7297;
}
#navbar li ul li:hover {
    background-image: url(../../img/amo2009/bg/heading-dark-blue.jpg);
}
#navbar li ul li a {
    display: block;
    padding: .5em 1.3em;
    border-bottom: 1px solid #3f4f6a;
}
#navbar li.top ul li:last-child,
#navbar li.top ul li:last-child a {
    border: none;
}

#navbar li.search form {
    position: relative;
    padding: .3em .5em .1em 1.3em;
    margin: 0;
}
#navbar #query {
    background-image: url(../../img/developers/devhub_search.png);
    background-repeat: no-repeat;
    background-position: 0.3em center;
    background-color: white;
    color: #888;
    min-width: 16em;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    padding: .1em 0 .1em 1.6em;
    cursor: pointer;
}
.html-rtl #navbar #query {
    background-position: 98% center;
    padding: .1em 1.6em .1em 0;
}
#navbar #search-submit {
    margin: -.1em 0 .1em .1em;
    /*padding: 0.3em 0;*/
    padding: 0 .0 .2em 0;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    background-color:#6FB727;
    background-image:url(../../img/amo2009/bg/button-green.jpg);
    background-position:left center;
    background-repeat:repeat-x;
    border:1px solid #B9D999;
/*    width: 12%;*/
}
#navbar #search-submit img {
/*
    width: 9px;
    height: 18px;
    background-image: url(../../img/amo2009/icons/buttons/go-green.gif);
*/
    width: 16px;
    height: 16px;
    background-image: url(../../img/developers/go-arrow.png);
    background-repeat: no-repeat;
    vertical-align: bottom;
    margin: 0;
    padding: 0;
    display: inline;
    border: none;
}
.html-rtl #navbar #search-submit img {
    background-image: url(../../img/amo2009/icons/buttons/go-green_rtl.gif);
/*    background-image: url(../../img/developers/go-arrow_rtl.png); */
}
/* @end */

/* @group Buttons */
.add-button,
.remove-button,
.edit-button,
.action-button {
    background: #fefefe url(../../img/developers/add.png) no-repeat 10px 50%;
    border: 1px solid #ccc;
    -moz-border-radius: 13px;
    -webkit-border-radius: 8px;
    border-radius: 10px;
    padding: 3px 15px 3px 35px;
    white-space: nowrap;
}
.remove-button {
    /* TODO: Combine all these icons into a sprite. */
    background-image: url(../../img/developers/delete.png);
}
.edit-button {
    background-image: url(../../img/developers/edit.png);
}
.html-rtl .add-button,
.html-rtl .remove-button,
.html-rtl .edit-button,
.html-rtl .action-button {
    background-position: 95% 50%;
    padding: 3px 35px 3px 15px;
}
.undo {
    float: right;
}
/* @end */

/* @group Add-on Submission */
#agreement-container {
    margin: 0 0 10px 0;
    padding: 15px;
    max-height: 300px;
    overflow: auto;
    background-color: #fff;
    border: 1px solid #6a89b0;
}
ol.submit-addon-progress {
    color: #94969a;
}
ol.submit-addon-progress li.current,
ol.submit-addon-progress li.current a {
    color: #565656;
    font-weight: bold;
}
#agreement-extra-links {
    text-align: right;
    margin-bottom: 2em;
    font-size: 90%;
}
#agreement-extra-links span {
    padding: 0 0.5em;
}
.submit-buttons,
#agreement-buttons,
.addon-submission-process .submission-buttons{
    border-top: 1px dotted #A4CFDE;
    margin-bottom: 0;
    padding-top: 0.8em;
}
.addon-submission-process h3:nth-of-type(1) {
    margin-top: 0.75em;
}
div.done-next-steps p {
    margin-bottom: 0.3em;
}
div.done-next-steps ul,
.review-type ul {
    list-style: inside disc;
}
div.done-next-steps ul li {
    margin-bottom: 0.3em;
}
#submitted-addon-url {
    font-size: 1.3em;
    padding-left: 5em;
}

/* @group Select a Review Process */

form.select-review .errorlist {
    margin-bottom: 1.5em;
}

.review-type {
    float: left;
    width: 50%;
}
.review-type .highlight {
    background-color: #fff;
    border: 1px solid #c8e8f3;
    margin-right: 0.5em;
}
.review-type + .review-type .highlight {
    margin: 0 0 0 0.5em;
}

.review-type h4 {
    color: #666;
    font-size: 16px;
    margin: 0;
}
.review-type p,
.review-type ul {
    margin-top: 0.5em;
}
.review-type ul {
    min-height: 8em;
}

/* @end */

/* @end */

/** Invisible file inputs */
.invisible-upload {
    position: relative;
    display: inline-block;
    overflow: hidden;
    cursor: pointer;
}

.invisible-upload input {
    display: block;
    position: absolute;
    right: 0;
    bottom: 0;
    width: auto;
    height: 100%;
    opacity: 0;
    cursor: pointer;
    z-index: 1;
    outline: none;
}

.invisible-upload:hover input {
    font-size: 1000px;
}

.invisible-upload a.button {
    position: relative;
    display: inline-block;
}

.invisible-upload:hover a.button,
.invisible-upload.focused a.button {
    border-color: #25f;
    -moz-box-shadow: inset 0 0 2px #fff;
    -webkit-box-shadow: inset 0 0 2px #fff;
    box-shadow: inset 0 0 2px #fff;

}

.invisible-upload a.link {
    text-decoration: none;
    color: #0055EE;
}

.invisible-upload:hover a.link,
.invisible-upload.focused a.link {
    text-decoration: underline;
}
/* @end */

#upload-file li {
    float: left;
    margin-right: 8px;
}
#upload-file ul {
    overflow: hidden;
    margin-bottom: 1em;
}

#file-list { margin-bottom: 1em;}
#file-list tr {
    border-bottom: 1px dotted #ADD0DC;
}

.devhub-form .compat-versions tbody {
    border: 0;
}

.devhub-form .compat-versions p.add-app {
    margin-top: 1em;
}

/* @group Add-on validator suite */
#addon-validator-suite {
    width: 56em;
    color: #929292;
}
#addon-validator-suite .suite,
#addon-validator-suite .suite-container,
#addon-validator-suite .results .tier-results {
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    background-color: #fff;
}
#addon-validator-suite .suite h4 {
    color: #497ae1;
}
#addon-validator-suite .suite .ajax-loading h4 {
    color: #929292;
}
#addon-validator-suite .suite {
    border: 1px solid #4f6697;
}
#addon-validator-suite .suite-container {
    border: 4px solid #b5d9e5;
    margin-bottom: 0;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
}
#addon-validator-suite .test-tier {
    padding: 52px 1em 0 1em;
    margin: 1em 0 1em 0;
    width: 21%;
    float: left;
    text-align: center;
    border-left: 1px dashed #b9cedb;
}
#addon-validator-suite .test-tier:first-child {
    border-left: none;
}
#addon-validator-suite .suite .tests-passed {
    background: url("../../img/developers/suite-pass.png") no-repeat top;
}
#addon-validator-suite .suite .ajax-loading {
    background: url("../../img/developers/suite-running.gif") no-repeat top;
}
#addon-validator-suite .suite .tests-failed {
    background: url("../../img/developers/suite-fail.png") no-repeat top;
}
#addon-validator-suite .suite-summary {
    display: none;
    text-align: center;
    color: #626363;
    padding: 0.5em;
    -webkit-border-radius: 0 0 8px 8px;
    -moz-border-radius: 0 0 8px 8px;
    border-radius: 0 0 8px 8px;
    border-top: 1px solid #bbcad7;
    background: #f7fbfd url("../../img/developers/suite-summary-bg.jpg") repeat-x top;
}
#addon-validator-suite .results .tier-results {
    border: 1px solid #b5d9e5;
    margin: 0 4px 4px 4px;
    background-color: #fff;
}
#addon-validator-suite .results {
    background: none;
    border: none;
}
#addon-validator-suite .results h4 {
    font-size: 1.4em;
    font-weight: normal;
    font-family: georgia,serif;
    margin: 0 0 0.4em 4px;
}
#addon-validator-suite .results .tier-results {
    height: 10em;
}
#addon-validator-suite .results .ajax-loading,
#addon-validator-suite .results .tests-passed,
#addon-validator-suite .results .tests-failed {
    height: auto;
}
#addon-validator-suite .results .tests-passed,
#addon-validator-suite .results .ajax-loading {
    padding: 100px 0 45px 0;
    text-align: center;
}
#addon-validator-suite .results .tests-passed {
    background: #fff url("../../img/developers/suite-pass.png") no-repeat center 50px;
}
#addon-validator-suite .results .ajax-loading {
    background: #fff url("../../img/developers/suite-running.gif") no-repeat center 50px;
}
#addon-validator-suite .result {
    margin-top: 2.85em;
}
#addon-validator-suite .result-summary {
    margin-top: 1.8em;
    visibility: hidden;
}
#addon-validator-suite .result-header {
    padding-bottom: 0.5em;
}
#addon-validator-suite .result h4 {
    float: left;
    margin-right: 1em;
}
#addon-validator-suite ul.result-nav {
    float: right;
    font-size: 0.9em;
    padding-right: 4px;
}
#addon-validator-suite ul.result-nav li {
    display: inline;
}
#addon-validator-suite ul.result-nav li:before {
    content: "|";
    margin: 0.3em;
}
#addon-validator-suite ul.result-nav li:first-child:before {
    content: "";
}
#addon-validator-suite .msg {
    margin: 0 1em;
    padding: 0.8em 1em 1em 45px;
}
#addon-validator-suite .msg {
    border-top: 1px dashed #b9cedb;
}
#addon-validator-suite .msg:first-child {
    border-top: none;
}
#addon-validator-suite .msg h5 {
    font-weight: bold;
    color: #565656;
}
#addon-validator-suite .msg p {
    margin: 0;
}
#addon-validator-suite .msg-error {
    background: transparent url("../../img/developers/test-fail.png") no-repeat 0 1.1em;
    color: #ff0000;
}
#addon-validator-suite .msg-warning,
#addon-validator-suite .msg-info {
    background: transparent url("../../img/developers/test-warning.png") no-repeat 0 1.1em;
    color: #6b6b6b;
}
/* @end */
