/* @Reset *********/
header, hgroup, nav, section, article, aside, footer { display: block; }
html, body, form, fieldset, legend, h1, h2, h3, h4, h5, h6, dt, dd { margin: 0; padding: 0; }
fieldset, a img { border: 0; }
address, caption, cite, code, dfn, th, var { font-style: inherit; font-weight: inherit; }
abbr, acronym, dfn { border-bottom: 1px dotted #666; font-variant: normal; cursor: help; }
input, button, textarea, select, optgroup, option { font-family: inherit; font-size: inherit; font-style: inherit; font-weight: inherit; }
table { border-collapse: collapse; border-spacing: 0; margin: 0 0 1.286em; }
caption, th { text-align: left; }
p, pre, blockquote, dl, ul, ol { margin: 0 0 1.286em; padding: 0; }
li ul, li ol { margin-bottom: 0; }
ul, ol { list-style: none; }

html {
    height: 100%;
}

body {
    font: 12px/1.33 "Lucida Grande", "Lucida Sans", Helvetica, Arial, sans-serif;
    padding: 10px 10px 3em;
    margin: 0 auto;
    color: #373d48;
    text-shadow: 0 1px 0 rgba(255,255,255,0.3);
    max-width: 1150px;
    min-width: 780px;
}

h1, h2, h3 {
    font-weight: normal;
}

h1 {
    font-size: 24px;
}

h2 {
    font-size: 18px;
}

h3 {
    font-size: 16px;
}

a:link, a:visited {
    color: #144fae;
    text-decoration: none;
}

a:hover, a:focus, a:active {
    color: #083681;
    text-decoration: underline;
}

.hidden {
    position: absolute;
    top: -100000px;
}

section > section {
    background: rgba(255,255,255,0.35) no-repeat;
    border: 1px solid #a8b8d1;
    box-shadow: inset 0 1px 3px rgba(58,78,103,0.15), 0 1px 0 rgba(255,255,255,0.5);
}

#main {
    width: 75%;
    float: left;
}

.html-rtl #main {
    float: right;
}

#main > section,
#sub > section {
    padding: 10px;
    margin: 0 0 10px;
    border-radius: 8px;
}

#sub {
    width: 24%;
    float: right;
}

.html-rtl #sub {
    float: left;
}

.pane header {
    border: 1px solid #a8b8d1;
    border-bottom-width: 0;
    border-radius: 8px;
    background: -moz-linear-gradient(top, #fff 0, #ecf1f7 100%);
    box-shadow: inset 0 -3px 0 rgba(58,78,103,0.05), 0 3px 0 rgba(175,195,220,.3);
    margin-bottom: 10px;
}

.pane #right-module {
    display: none;
}

.detail header {
    margin-bottom: 20px;
}

.recs header {
    float: right;
    margin-top: -1px;
    width: 24%;
    width: -moz-calc(24% - 2px);
}

.html-rtl .recs header {
    float: left;
}

/* @Clear floats *********/
body:after,
header:after,
.addons:after {
    content: ".";
    display: block;
    clear: both;
    height: 0;
    visibility: hidden;
}

/* @Introduction *********/
#intro {
    position: relative;
    width: 71%;
    float: left;
    padding: 10px 2.25%;
    border-right: 1px inset rgba(0,0,0,0.25);
    margin: 0;
}

.html-rtl #intro {
    float: right;
    border-right: 0;
    border-left: 1px inset rgba(0,0,0,0.25);
}

.recs #intro {
    display: none;
}

#intro h1 {
    margin: .5em 0 .25em;
    clear: right;
}

#intro h1 img {
    float: left;
    margin: 10px 20px;
}

.html-rtl #intro h1 img {
    float: right;
}

#intro p {
    position: relative;
    padding-right: 140px;
}

.html-rtl #intro p {
    padding: 0 0 0 120px;
}

#intro .button {
    position: absolute;
    right: 0;
    top: 0;
    max-width: 100px;
}

.html-rtl #intro .button {
    right: auto;
    left: 0;
}

/* @group Recommendations */
#main #recs {
    display: none;
    min-height: 200px;
    padding: 0;
    position: relative;
}
.recs #main #recs {
    display: block;
}

#recs .gallery-wrap {
    background-color: #d4edea;
    border-radius: 0 0 8px 8px;
    position: relative;
}

#recs .msg {
    display: table;
    height: 160px;
    width: 100%;
}
#recs .msg p {
    display: table-cell;
    font-size: 15px;
    line-height: 1.3;
    text-align: center;
    vertical-align: middle;
}
#recs .loading p {
    margin-bottom: 0;
    padding-top: 78px;
}
#recs .loading p > span {
    background: url(../../img/zamboni/discovery_pane/loading.gif) no-repeat;
    display: inline-block;
    opacity: 0.25;
    height: 48px;
    position: absolute;
    top: 73px;
    left: 50%;
    left: -moz-calc(50% - 24px);
    width: 48px;
}
/* @end */

/* @Mission, @My-account *********/
#mission, #my-account {
    margin: 0 0 0 -10px;
    padding: 10px;
    float: right;
    width: 22%;
    width: -moz-calc(24% - 22px);
    border-radius: 8px;
}

.recs #mission,
.recs #my-account {
    margin-bottom: 10px;
}

.recs #mission {
    background: -moz-linear-gradient(top, #fff 0, #ecf1f7 100%);
}

#my-account {
    background:
        url(../../img/zamboni/discovery_pane/bg-home.png) no-repeat 100% 100%,
        -moz-linear-gradient(top, #fff 0, #ecf1f7 100%);
    border-radius: 0 8px 8px 0;
}
.no-recs header.auth {
    background:
        url(../../img/zamboni/discovery_pane/bg-home.png) no-repeat 100% -moz-calc(100% - 3px),
        -moz-linear-gradient(top, #fff 0, #ecf1f7 100%);
}
.no-recs #my-account {
    background: none;
    padding-bottom: 0;
}
.recs #mission,
.recs #my-account {
    border-left-width: 0;
    border-radius: 8px;
    float: left;
    margin-left: 0;
    padding-left: 10px;
    width: -moz-calc(100% - 20px);
}

.html-rtl #mission,
.html-rtl #my-account {
    float: left;
}

.html-rtl .recs #mission,
.html-rtl .recs #my-account {
    float: right;
}

#mission p,
#my-account p {
    font-size: 15px;
    line-height: 1.1;
}

#mission p,
#my-account p,
#my-account ul {
    margin-bottom: 0.5em;
}

#my-account ul {
    color: #76787b;
    line-height: 1.5;
    list-style: disc inside;
}

#my-account p#logout {
    font-size: 11px;
    margin: 0 0 0 13px;
}

#mission a,
#mission strong,
#my-account strong {
    font-weight: bold;
}

#mission #download-count {
    font-size: 1em;
}

/* @Main @Feature *********/
#main #main-feature {
    display: none;
    position: relative;
    padding: 0;
    background: transparent;
    border: 0;
    box-shadow: none;
}

.feature {
    background: rgba(255,255,255,0.35) no-repeat;
    border: 1px solid #a8b8d1;
    box-shadow: inset 0 1px 3px rgba(58,78,103,0.15), 0 1px 0 rgba(255,255,255,0.5);
    margin-bottom: 10px;
    min-height: 240px;
    padding: 10px 9%;
    border-radius: 8px;
}

#main #featured-addons {
    margin-top: 283px;
}
#main #main-feature.js + #featured-addons {
    margin-top: 0;
}

#main #main-feature.js {
    height: 273px;
    overflow: hidden;
}

#main-feature.js .feature {
    height: 251px;
    position: relative;
    overflow: hidden;
    box-shadow: none;
}

.slider {
    white-space: nowrap;
    position: relative;
    left: 0;
    -moz-transition-duration: .3s;
    -moz-transition-property: left, right;
    -webkit-transition-duration: .3s;
    -webkit-transition-property: left, right;
}

.slider.noslide {
    -moz-transition: none;
    -webkit-transition: none;
}

.slider > li {
    width: 100%;
    white-space: normal;
    display: inline-block;
    vertical-align: top;
    top: 0;
}

#nav-features,
#nav-recs {
    height: 0;
    margin: 0;
    display: none;
    position: relative;
}

#main-feature.js #nav-features,
.recs #recs #nav-recs.js {
    display: block;
}

#nav-features a,
#nav-recs a {
    position: absolute;
    top: 0;
    margin: 1px;
    z-index: 10;
    display: block;
    height: 271px;
    width: 4%;
    text-indent: -999em;
    text-decoration: none;
    overflow: hidden;
    opacity: 0.3;
    -moz-transition-property: opacity, width;
    -moz-transition-duration: 0.5s;
    -moz-transition-timing-function: ease-out;
}

#nav-recs a {
    margin: 0;
    height: 183px;
}

#nav-features a:hover,
#nav-features a:active,
#nav-recs a:hover,
#nav-recs a:active {
    opacity: 1;
    width: 7%;
    -moz-transition-property: opacity, width, background-color;
    -moz-transition-duration: 0.2s;
    -moz-transition-timing-function: ease-out;
}

#nav-features a:focus,
#nav-recs a:focus {
    outline: 0;
}

.nav-prev a,
#lightbox-nav a#lightbox-nav-btnPrev {
    left: 0;
    border-radius: 8px 0 0 8px;
    background: url("../../img/zamboni/discovery_pane/arrow-left.png") no-repeat center center, -moz-linear-gradient(left, rgba(255,255,255,0.8) 0%, rgba(255,255,255,0.5) 80%) !important;
    box-shadow: inset rgba(255,255,255,0.1) 0px 0px 6px, rgba(125,125,125, 0.1) 1px 0px 3px;
}

.nav-prev a:hover,
.nav-prev a:active {
    box-shadow: inset rgba(255,255,255,0.4) 0px 0px 6px, rgba(125,125,125,0.1) 2px 0px 3px;
}

.nav-next a,
#lightbox-nav a#lightbox-nav-btnNext {
    right: 0;
    border-radius: 0 8px 8px 0;
    background: url("../../img/zamboni/discovery_pane/arrow-right.png") no-repeat center center, -moz-linear-gradient(right, rgba(255,255,255,0.8) 0%, rgba(255,255,255,0.5) 80%) !important;
    box-shadow: inset rgba(255,255,255,0.1) 0px 0px 6px, rgba(125,125,125, 0.1) -1px 0px 3px;
}

.nav-next a:hover,
.nav-next a:active {
    box-shadow: inset rgba(255,255,255,0.4) 0px 0px 6px, rgba(125,125,125,0.1) -2px 0px 3px;
}

#nav-recs .nav-prev a {
    border-top-left-radius: 0;
}
#nav-recs .nav-next a {
    border-top-right-radius: 0;
}

.nav-prev .disabled,
.nav-next .disabled {
    visibility: hidden;
}

/* @group Rock Your Firefox (RYFF) */
.ryff {
    position: relative;
    overflow: hidden;
    padding: 20px 10% 10px 270px;
    background: url(../../img/zamboni/discovery_pane/promos/ryff-bg.png) 0 0 no-repeat;
    color: #333;
}

.ryff h3,
.promo h2 {
    font-size: 36px;
    font-weight: bold;
    line-height: 1.1;
}

.ryff h2 {
    white-space: nowrap;
}

.ryff h3 {
    margin-bottom: 10px;
}

.ryff h3 a {
    color: #7e100a;
    text-decoration: none;
}

.ryff img {
    width: 40%;
    float: right;
    margin: 0 0 .5em 10px;
}
/* @end */

/* @Collection *********/
.collection h2,
#featured-addons h2 {
    max-width: 650px;
    margin: 10px auto;
}

.collection.promo h2 {
    margin: 0;
    max-width: auto;
}

.collection.promo h2 a {
    color: inherit;
    text-decoration: none;
}

.promo hgroup,
#monthly .wrap,
#go-mobile .wrap,
#recs .header h2,
#recs .gallery {
    margin: 0 auto;
    max-width: 650px;
    width: 100%;
}

.promo h2,
.promo h3 {
    margin-bottom: 0;
}

.promo h2 {
    text-shadow: 0 1px 0 rgba(255,255,255,0.5);
}

.promo hgroup {
    margin: 10px auto 20px;
}

.collection .more {
    text-align: center;
}

#starter .more,
#st-patricks .more,
#fx4-collection .more {
    display: none;
}

.shopping {
    background-image: url("../../img/zamboni/discovery_pane/bg-hanger.png"),
    url("../../img/zamboni/discovery_pane/bg-gift.png");
    background-position: 107% 20px, 9% 92%;
    background-repeat: no-repeat;
}

/* @group Starter Pack */
#starter.feature {
    background: none;
    background-image:
        url(../../img/zamboni/discovery_pane/promos/starter-bg-left.png),
        url(../../img/zamboni/discovery_pane/promos/starter-bg.png),
        url(../../img/zamboni/discovery_pane/promos/starter-bg-right.png);
    background-position: 0 100%, 50% 0, 100% 0;
    background-repeat: no-repeat, repeat-x, no-repeat;
}

#starter.feature hgroup:after {
    background: url(../../img/zamboni/discovery_pane/promos/starter-bg-right.png) 100% 0 no-repeat;
    display: block;
    content: "";
    position: absolute;
    height: 100%;
    top: 0;
    right: 0;
    width: 153px;
}

#starter h2 {
    color: #075f7a;
}
/* @end */

/* @group St. Patrick's Day Personas */
#st-patricks.feature {
    background: url(../../img/zamboni/discovery_pane/promos/st-patricks-bg.png) 50% 0 no-repeat;
}
#st-patricks h2 {
    color: #296215;
}
/* @end */

/* @group Monthly Pick */
#monthly {
    background: url(../../img/zamboni/discovery_pane/promos/monthly-bg.png) 50% 0 no-repeat;
}
#monthly .wrap > div,
#go-mobile .wrap > div {
    padding: 20px;
}
#monthly .wrap > div {
    overflow: hidden;
}
#monthly h2 {
    color: #8b0101;
}
#monthly h3 {
    margin-bottom: 10px;
}
#monthly .wrap > div > div > p {
    padding-right: 20px;
}
#monthly p.install-button,
#go-mobile p.install-button {
    margin-bottom: 0;
}
#monthly .wrap > div > div {
    float: left;
    width: 50%;
}
#monthly img {
    display: block;
    float: right;
    max-width: 50%;
}
/* @end */

/* @group Go Mobile */
#go-mobile {
    background: url(../../img/zamboni/discovery_pane/promos/go-mobile-bg.png) 50% 0 no-repeat;
}
#go-mobile h2 {
    color: #485c65;
    width: 300px;
}
#go-mobile .wrap {
    width: 384px;
    margin: 0;
}
/* @end */

/* @group Firefox 4 Collection */
#fx4-collection {
    background: url(../../img/zamboni/discovery_pane/promos/fx4-collection-bg.png) 50% 0 no-repeat;
}
#fx4-collection h2 {
    color: #2c5c89;
}
/* @end */

#featured-addons {
    padding: 10px 9%;
}

/* @Addon @boxes *********/
.addons ul,
ul.addons {
    width: 100%;
    max-width: 650px;
    margin: 0 auto 1em;
}

.addons li {
    float: left;
    width: 30%;
    position: relative;
    margin-right: 5%;
    margin-bottom: 5%;
}

.html-rtl .addons li {
    float: right;
}

.addons li:nth-child(3n) {
    margin-right: 0;
}

.addons li > a,
.rec-addons li > a,
#monthly > div,
#go-mobile > div {
    background: -moz-linear-gradient(top, #fff 0, #ecf1f7 100%);
    border: 1px solid #b7c3d7;
    border-radius: 6px;
    box-shadow: inset 0 -2px 0 rgba(58,78,103,0.08), 0 2px 0 rgba(190,210,230,0.5);
}

.addons li > a,
.rec-addons li > a {
    display: block;
    display: -moz-box;
    -moz-box-orient: vertical;
    -moz-box-align: center;
    position: relative;
    height: 120px;
    width: 100%;
    width: -moz-calc(100% - 22px);
    padding: 10px;
    -moz-transition-property: border-color, box-shadow;
    -moz-transition-duration: 0.5s;
    -moz-transition-timing-function: ease-out;
}

.addons li > a:hover,
.addons li > a:focus,
.addons li > a:active,
.rec-addons li > a:hover,
.rec-addons li > a:focus,
.rec-addons li > a:active {
    border-color: rgba(165,175,185,1);
    box-shadow: inset 0 -2px 0 rgba(58,78,103,0.1), 0 2px 0 rgba(190,210,230,0.85);
    -moz-transition-property: border-color, box-shadow;
    -moz-transition-duration: 0.1s;
    -moz-transition-timing-function: ease-out;
    text-decoration: none;
}

.addons h3,
.rec-addons h3 {
    font-size: 14px;
    line-height: 1.1;
    font-weight: bold;
    font-family: inherit;
    margin: .25em 0;
    text-align: center;
    overflow: hidden;
}

.addons li > a:hover h3,
.addons li > a:focus h3,
.addons li > a:active h3,
.rec-addons li > a:hover h3,
.rec-addons li > a:focus h3,
.rec-addons li > a:active h3 {
    text-decoration: underline;
}

.addons p.desc,
.rec-addons p.desc {
    -moz-box-flex: 1;
    overflow: hidden;
    font-size: 11px;
    text-align: left;
    color: #373d48;
    margin: 0;
}

.html-rtl .addons p.desc,
.html-rtl .rec-addons p.desc {
    text-align: right;
}

.addons img,
.rec-addons img {
    display: block;
    max-width: 50px;
}

/* @group Top Add-ons and Featured Personas */
#sub .featured {
    position: relative;
}

#recs .header,
#sub .featured h2,
#more-ways h2 {
    margin: -10px -10px 0;
    padding: 0.45em 10px;
    background: -moz-linear-gradient(top, #fff 0, #ecf1f7 100%);
    box-shadow: inset 0 -3px 0 rgba(58,78,103,0.05), 0 3px 0 rgba(175,195,220,.3);
    border-radius: 8px 8px 0 0;
    border-bottom: 1px solid #a8b8d1;
    overflow: hidden;
}

#recs .header {
    margin: 0;
    padding: 0.45em 9%;
    width: 82%;
}

#sub ul {
    margin: 0 0 -10px;
}

#sub li {
    border-bottom: 1px solid #cdd4de;
    margin: 0 -10px;
    clear: both;
}
#featured-personas li {
    border-bottom-color: #666;
}
#sub li:last-child {
    border-bottom-width: 0;
}

#sub .featured li,
#featured-personas li h6,
#more-ways li {
    font-size: 13px;
}

#sub li a {
    text-decoration: none;
}

.htruncate {
    white-space: nowrap;
    overflow: hidden;
}

#up-and-coming a.addon-title .htruncate {
    line-height: 32px;
    display: inline-block;
    width: -moz-calc(100% - 48px);
}

#up-and-coming a.addon-title,
#featured-personas span.addon-title {
    display: block;
    background: rgba(255,255,255,0.35) url("../../img/zamboni/discovery_pane/arrow-right.png") 95% 50% no-repeat;
    color: #333;
    overflow: hidden;
}
#featured-personas span.addon-title {
    pointer-events: none;
}

#up-and-coming a.addon-title,
#featured-personas span.addon-title b {
    padding: 0.5em 30px 0.5em 10px;
}

#featured-personas span.addon-title b {
    display: block;
    font-weight: normal;
}

#featured-personas span.addon-title {
    background-color: rgba(255,255,255,0.65);
    border-top: 1px solid rgba(255,255,255,0.35);
    text-decoration: none;
    position: absolute;
    bottom: 0;
    width: 100%;
}

#up-and-coming a.addon-title:hover,
#up-and-coming a.addon-title:focus,
#up-and-coming a.addon-title:active,
#featured-personas a:hover span.addon-title,
#featured-personas a:focus span.addon-title,
#featured-personas a:active span.addon-title {
    background-color: rgba(255,255,255,0.65);
    background-position: 96% 50%;
    -moz-transition-property: background-color, background-position;
    -moz-transition-duration: 0.1s;
    -moz-transition-timing-function: ease-out;
    color: #083681;
}

#featured-personas a:hover span.addon-title,
#featured-personas a:focus span.addon-title,
#featured-personas a:active span.addon-title {
    background-color: rgba(255,255,255,0.8);
}

#sub .featured li:last-child a,
#featured-personas ul li:last-child a span.addon-title {
    border-radius: 0 0 8px 8px;
}

#up-and-coming img {
    display: block;
    float: left;
    vertical-align: middle;
    margin: 0 8px 0 0;
}

#sub .all,
#recs .header h2 a {
    line-height: 24px;
    font-size: 13px;
}

#sub .all {
    display: block;
    float: right;
}

#recs .header h2 a {
    display: inline-block;
    margin-left: 10px;
}
.html-rtl #recs .header h2 a {
    float: left;
    height: 18px;
    line-height: 25px;
    margin: 0 10px 0 0;
}

/* @end */

/* @group Personas */
.persona-preview {
    display: block;
    position: relative;
    line-height: 1;
}
.persona-preview [data-browsertheme] {
    display: block;
    position: relative;
}

.pane #main .persona-feature {
    position: relative;
    left: 4px;
}

#recs .persona-feature + .addon-feature {
    left: -4px;
}

#recs .persona-feature + .persona-feature {
    left: 0;
}

#recs .addon-feature + .persona-feature {
    left: 0;
}

#recs .persona-feature:nth-child(3n) {
    left: -4px;
}

.pane #main .persona-feature .persona,
.pane #main .persona-feature h3,
.pane #main .persona-feature .persona-preview {
    position: absolute;
}

.pane #main .persona-feature .persona {
    width: 100%;
}

.pane #main .persona-feature h3 {
    top: 80px;
    margin: 10px;
    width: -moz-calc(100% - 20px);
}

.pane #main .persona-feature .persona .persona-preview {
    border: 1px solid #b7c3d7;
    box-shadow: inset 0 -2px 0 rgba(58,78,103,0.08), 0 2px 0 rgba(190,210,230,0.5);
    top: -132px;
    margin-left: -4px;
    /* Think this is cheesy? You're right. Our minifier ruins additions within -moz-calc*/
    width: -moz-calc(100% - -6px);
}

.pane #main .persona-large .persona-preview [data-browsertheme] {
    background-position: 50% 0;
    height: 67px;
    width: 100%;
}

.pane #sub .persona-large .persona-preview [data-browsertheme] {
    background-position: 100% 50%;
    height: 60px;
}

.detail .persona-large {
    box-shadow: 0 1px 3px rgba(0,0,0,0.15);
    width: 680px;
}
.detail .persona-large .persona-preview [data-browsertheme] {
    background: transparent no-repeat left top;
    border: 1px solid #a9a9a9;
    height: 100px;
}
.detail .persona-hover.persona-large .persona-preview [data-browsertheme] {
    border-color: #666;
}
.detail .persona-large .caption {
    background-color: rgba(0,0,0,0.35);
    color: #fff;
    font-size: 11px;
    padding: 7px 10px;
    position: absolute;
}
.detail .persona-hover.persona-large .caption {
    display: none;
}
/* @end */

/* @More ways to customize *********/
#more-ways ul {
    font-size: 13px;
    clear: right;
}

#more-ways a {
    display: block;
    padding: 12px 30px 10px 12px;
    min-height: 45px;
    background: rgba(255,255,255,0.1) url("../../img/zamboni/discovery_pane/arrow-right.png") 95% 8px no-repeat;
    color: #333;
    text-decoration: none;
    text-shadow: 0 0 1px #fff;
}

#more-ways a:hover,
#more-ways a:focus,
#more-ways a:active {
    background-position: 96% 8px;
    background-color: rgba(255,255,255,0.5);
    -moz-transition-property: background-position, background-color;
    -moz-transition-duration: 0.1s;
    -moz-transition-timing-function: ease-out;
    color: #083681;
}

#more-addons {
    background: transparent url("../../img/zamboni/discovery_pane/bg-moreaddons.jpg") 95% 50% no-repeat;
}

#more-personas {
    background: transparent url("../../img/zamboni/discovery_pane/bg-morepersonas.jpg") 70% 50% no-repeat;
    border-radius: 0 0 8px 8px;
}

/* @Narrow *********/
@media (max-width: 860px) {
    body {
        margin: 0 10px;
        min-width: 620px;
    }

    .no-recs header #mission,
    .no-recs header #my-account,
    .recs header {
        display: none;
    }

    #main,
    #sub,
    #mission,
    #my-account {
        float: none;
        width: 100%;
    }

    #main #main-feature {
        height: 290px;
    }

    .feature {
        height: 270px;
    }

    #intro {
        border: 0;
        width: auto;
        float: none;
    }

    #sub #up-and-coming,
    #sub #featured-personas,
    #sub #more-ways {
        float: left;
        margin-right: 1%;
        width: 30%;
        width: -moz-calc(100% / 3 - 22px - 0.5%);
    }
    #sub #more-ways {
        margin-right: 0;
        width: -moz-calc(100% / 3 - 22px - 1%);
    }
}

/* @Detail page *********/
body.detail {
    padding: 20px;
    margin: 0;
}

.detail #main,
.detail #addon-reviews {
    padding-left: 52px;
    width: auto;
    float: none;
    position: relative;
}

.html-rtl.detail #main,
.html-rtl.detail #addon-reviews {
    padding: 0 52px 0 0;
}

/* @group Add-on details header */
.detail header {
    margin: 0 0 1.6em;
    position: relative;
    text-shadow: 0 1px 0 rgba(255,255,255,0.8);
}

.detail h1.addon,
.detail h2.author {
    width: 90%;
}

.detail h1.addon {
    color: #000;
    font-weight: bold;
}

.detail h1.addon .version {
    font-size: .833em;
    font-weight: normal;
    color: #76787b;
}

.html-rtl.detail h1.addon,
.html-rtl.detail h2.author {
    text-align: right;
}

.detail h1.addon .icon {
    max-width: 32px;
    position: absolute;
    left: -52px;
}

.html-rtl.detail h1.addon .icon {
    left: auto;
    right: -52px;
}

.detail h2.author,
.detail p#back {
    font-size: 1em;
    font-weight: bold;
}

.detail p#back {
    position: absolute;
    top: 4px;
    right: 0;
}
.html-rtl.detail p#back {
    left: 0;
    right: auto;
    margin: 0 1em 1em 0;
}

p#back:before {
    content: "\25B4";
    margin-right: 0.5em;
    position: relative;
    bottom: 1px;
}
.html-rtl p#back:before {
    margin: 0 0 0 0.5em;
}

p#back:before,
p#back a:link,
p#back a:visited {
    color: #144fae;
}

p#back:hover:before {
    color: #083681;
}
/* @end */

/* @group Add-on detail install button/links */
#install {
    overflow: hidden;
}

#install li {
    float: left;
    font-weight: bold;
    margin-right: 10px;
}
.html-rtl #install li {
    float: right;
}
.html-rtl #install li:first-child {
    margin-right: 0;
}

#install .privacy {
    padding-top: 5px;
}

#install .privacy-policy {
    display: none;
}

#install .button {
    display: inline-block;
}

.install-shell p {
    margin-bottom: 0;
}

.install-shell .extra {
    font-size: .85em;
    font-weight: bold;
    padding-top: 6px;
}

.install + .extra {
    margin-top: 6px;
}

.install-shell .notavail {
    padding: 1px 0 1px 20px;
    margin-left: 3px;
    background: url(../../img/zamboni/icons/no-14x14.png) 0 30% no-repeat;
    white-space: nowrap;
}
.html-rtl .install-shell .notavail {
    padding: 1px 20px 1px 0;
    background-position: 100% 30%;
}

#install .warning {
    clear: both;
    margin: 4px 0 0;
    padding: 0 4px;
    width: 175px;
}

.featuredaddon .install-button + strong {
    display: none;
}

#install #no-restart-msg {
    background-color: #fff;
    border: 1px solid #B6D9E5;
    border-radius: 3px;
    color: #294473;
    display: block;
    font-size: 0.9em;
    font-weight: bold;
    padding: 4px 12px 3px;
}

.performance-note {
    background: #fff3cc;
    border-radius: 5px;
    display: inline-block;
    margin-bottom: 1.286em;
    padding: 1em;
}
.performance-note h3 {
    font: normal bold 14px/1.2em "helvetica neue", helvetica, arial, sans-serif;
}
.performance-note span:first-child {
    background: url(../../img/zamboni/notifications.png) no-repeat 0 -226px;
    float: left;
    height: 32px;
    width: 32px;
}
.performance-note div {
    margin-left: 45px;
}

/* @group Installation popup notices */

.install-note .msg {
    background-repeat: no-repeat;
    margin-bottom: 10px;
    min-height: 32px;
}

.mobile .install-note .msg,
.firefox .install-note .msg { background-image: url(../../img/app-icons/small/firefox.png); }
.thunderbird .install-note .msg { background-image: url(../../img/app-icons/small/thunderbird.png); }
.sunbird .install-note .msg { background-image: url(../../img/app-icons/small/sunbird.png); }
.seamonkey .install-note .msg { background-image: url(../../img/app-icons/small/seamonkey.png); }

.install-note .msg.m-unreviewed,
.install-note .msg.m-selfhosted {
    background-image: url(../../img/zamboni/icons/alert-32x32.png);
}

.install-note .msg.m-platforms {
    background-image: url(../../img/zamboni/icons/no-32x32.png);
}

.install-note .beta,
.fxbeta .install-note .nobeta {
    display: none;
}

.fxbeta .install-note .beta {
    display: block;
}

.install-note {
    position: absolute;
    left: 35px;
    background: #fff;
    border: 3px solid #2e5186;
    border-radius: 8px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.35);
    margin-top: 12px;
    padding: 10px;
}

.install-note {
    width: 300px;
}

.install-note:before,
.install-note:after {
    border: 10px solid transparent;
    border-bottom-color: #2e5186;
    content: "\00a0";
    position: absolute;
    left: 50px;
    top: -20px; /* value = - border-top-width - border-bottom-width */
    pointer-events: none;
    width: 0;
    height: 0;
}

/* creates the smaller triangle */
.install-note:after {
    border-width: 5px;
    border-bottom-color: #fff;
    left: 55px;
    top: -10px; /* value = - border-top-width - border-bottom-width */
}

.install-note p {
    font-weight: normal;
    padding-left: 50px;
}

.install-note strong {
    margin: 0;
    color: inherit;
    font-size: inherit;
}

.install-note .button {
    display: inline-block;
}

/* @end */

/* @end */

.addon-info li {
    clear: both;
    overflow: hidden;
    padding-left: 110px;
    padding-bottom: .5em;
    margin-bottom: .5em;
    border-bottom: 2px groove rgba(255,255,255,.25);
}

.html-rtl .addon-info li {
    padding-left: 0;
    padding-right: 110px;
}

.addon-info li:last-child {
    border: 0;
}

.addon-info h3 {
    color: #76787b;
    font-size: 1em;
    font-weight: bold;
    line-height: 1.3;
    width: 100px;
    float: left;
    margin-left: -110px;
}

.html-rtl .addon-info h3 {
    float: right;
    margin: 0 -110px 0 0;
}

.addon-info p {
    margin: 0;
}

.addon-info .stars {
    margin: -1px 8px 0 0;
    vertical-align: middle;
}

.html-rtl .addon-info .stars {
    float: right;
    margin: -1px 0 0 8px;
}

/* @group Headings */
#addon-reviews h3,
body.eula header + h3 {
    margin-bottom: 0.75em;
    position: relative;
}

#addon-reviews h3:after,
body.eula header + h3:after {
    border-top: 2px groove rgba(255,255,255,.25);
    content: "";
    display: block;
    position: absolute;
    bottom: 4px;
    right: 0;
    width: -moz-calc(100% - 70px);
}
body.eula header + h3:after {
    width: -moz-calc(100% - 235px);
}

.html-rtl #addon-reviews h3,
.html-rtl.eula h3 {
    text-align: right;
}

.html-rtl #addon-reviews h3:after,
.html-rtl.eula header + h3:after {
    left: 0;
    right: auto;
}
/* @end */

/* @Reviews *********/
#addon-reviews .review-detail {
    margin: 0 0 1.5em;
    padding: 0 0 .25em;
    border-bottom: 2px groove rgba(255,255,255,.25);
}

#addon-reviews .rev-title {
    font-weight: bold;
    font-size: 1em;
    margin: 0 0 .25em;
}

#addon-reviews .stars {
    float: none;
    display: inline-block;
    margin: -3px 0 0;
    vertical-align: middle;
}

#addon-reviews .rev-author {
    font-size: 1em;
    color: #76787b;
    margin: 0 0 .5em;
}

#addon-reviews .more-info,
p.users {
    font-weight: bold;
}

/* @Star ratings *********/
.stars {
    text-indent: -999em;
    background: url(../../img/icons/stars.png) 0 50% no-repeat;
    margin-right: .5em;
    width: 65px;
    float: left;
}
.stars-4 { background-position: -13px 50%; }
.stars-3 { background-position: -26px 50%; }
.stars-2 { background-position: -39px 50%; }
.stars-1 { background-position: -52px 50%; }
.stars-0 { background-position: -65px 50%; }

/* @Buttons *********/
a.button {
    padding: 4px 12px 3px;
    border: 1px solid rgba(165,175,185,0.75);
    color: #333;
    text-decoration: none;
    text-shadow: 0 1px 0 rgba(255,255,255,0.5);
    background: -moz-linear-gradient(top, rgba(255,255,255,0.5) 0, rgba(235,235,235,0.5) 50%, rgba(215,215,215,0.5) 52%, rgba(240,240,240,0.5) 100%);
    border-radius: 3px;
    box-shadow: inset 0 0 2px rgba(255,255,255,0.65);
}

.button:hover,
.button:focus,
.button:active {
    border-color: rgba(165,175,185,1);
    color: #083681;
    background: -moz-linear-gradient(top, rgba(255,255,255,0.8) 0, rgba(235,235,235,0.8) 50%, rgba(215,215,215,0.8) 52%, rgba(240,240,240,0.8) 100%);
}

/** @Blue @Button *********/
.button.go {
    font-weight: bold;
    color: #fff;
    background: -moz-linear-gradient(top, #7bf 40%, #39f 60%);
    border-color: #05e;
    text-shadow: 0 -1px 0 #05e;
}

.button.go:hover,
.button.go:focus,
.button.go:active {
    border-color: #03c;
}

.button.go:active {
    background: -moz-linear-gradient(top, #39f 40%, #7bf 60%);
}

/** @Green @button *********/
.button.download,
.button.add,
.button.installer {
    font-weight: bold;
    color: #fff;
    background: -moz-linear-gradient(top, #93c85e 30%, #55a802 55%);
    border-color: #3a7404;
    text-shadow: 0 -1px 0 #3a7404;
}

.button.download:hover,
.button.download:focus,
.button.add:hover,
.button.add:focus,
.button.installer:hover,
.button.installer:focus {
    border-color: #1a5404;
}

.button.download:active,
.button.add:active,
.button.installer:active {
    background: -moz-linear-gradient(#55a802 40%, #83c046 65%);
}

.button.download b,
.button.add b {
    padding: 3px 16px 3px 12px;
    margin: 0 0 0 -12px;
    width: 16px;
    background: transparent url("../../img/zamboni/icons/button-icons.png") 25% 0 no-repeat;
}

.html-rtl .button b {
    padding: 3px 12px 3px 16px;
    margin: 0 -12px 0 0;
}

.button.add span {
    border-left: 2px groove rgba(150,150,150,0.35);
    padding: 0 0 0 12px;
    margin: 0 2px 0 -2px;
    display: inline-block;
    line-height: 1.2;
    white-space: normal;
}

.html-rtl .button.add span {
    border-left: 0;
    border-right: 2px groove rgba(150,150,150,0.35);
    padding: 0 8px 0 6px;
    margin: 0 -2px 0 2px;
}

.button.concealed {
    background-image: -moz-linear-gradient(top, #bbb 40%, #888 60%);
    border-color: #888;
    text-shadow: 0 -1px 0 #666;
}

.button.concealed:hover,
.button.concealed:focus,
.button.concealed:active {
    border-color: #666;
}

.button.concealed:active {
    background: -moz-linear-gradient(top, #888 40%, #bbb 60%);
}

/* For other platforms */
.install-button .button span.os {
    padding: 0;
    margin: 0;
    border: 0;
    font-weight: normal;
    display: inline;
    white-space: nowrap;
}

.install-button .button.platform {
    display: none;
}

.mac .button.mac,
.linux .button.linux,
.other .button.bsd,
.other .button.solaris,
.windows .button.windows {
    display: inline;
}

/* @Images *********/
#jquery-overlay {
    background-color: rgba(216, 225, 239, 0.75) !important;
    opacity: 1 !important;
}
#lightbox-container-image-data-box {
    font: 10px/1.4 "Lucida Grande", "Lucida Sans", Helvetica, Arial, sans-serif !important;
}

#lightbox-secNav-btnClose img {
    display: none;
}
a#lightbox-secNav-btnClose:after {
    content: "\D7";
}
a#lightbox-secNav-btnClose {
    -moz-border-radius: 20px;
    border-radius: 20px;
    background-color: #ddd;
    color: #fff;
    display: inline-block;
    font-size: 14px;
    font-weight: bold;
    height: 25px;
    line-height: 22px;
    margin-top: 2px;
    padding-bottom: 0;
    text-align: center;
    text-decoration: none;
    width: 25px;
}

#jquery-lightbox:hover a#lightbox-secNav-btnClose {
    background-color: #ccc;
}

#jquery-lightbox:hover a#lightbox-secNav-btnClose:hover {
    background-color: #2a4364;
}

#images,
#screenshot,
.detail .persona-large {
    margin: 0 0 16px;
}

#images {
    background: rgba(255,255,255,0.35) no-repeat;
    border: 1px solid #a8b8d1;
    box-shadow: inset 0 1px 3px rgba(58,78,103,0.15), 0 1px 0 rgba(255,255,255,0.5);
    max-height: 140px;
    display: none;
    position: relative;
    overflow: hidden;
    border-radius: 8px;
}

#recs .gallery {
    overflow: hidden;
    height: 183px;
}

#recs .gallery-addons {
    margin: 0 auto;
    width: 82%;
}

#images + .addon-info {
    margin-top: 158px;
}

#images + .addon-info.js {
    margin-top: 0;
}

#images.js {
    height: 140px;
    overflow: hidden;
}

#images.js .panel {
    width: -moz-calc(100% / 3);
    margin: 0 -3px;
    padding: 15px 0;
    text-align: center;
    height: 110px;
    position: relative;
    overflow: hidden;
    box-shadow: none;
}

#recs .panel {
    margin: 20px 5% 20px 0;
    width: 30%;
}
#recs .panel:nth-child(3n) {
    margin-right: 0;
}

#screenshot img,
#images a img {
    border: 1px solid #a9a9a9;
    box-shadow: 0 1px 3px rgba(0,0,0,.15);
}

#screenshot img {
    display: block;
}

#images a img {
    max-width: 95%;
    max-height: 100%;
}

#images a:hover img,
#images a:focus img,
#images a:active img {
    border-color: inherit;
}

#images .nav-images {
    height: 0;
    margin: 0;
    display: none;
}

#images.js .nav-images {
    display: block;
}

.nav-images a,
#lightbox-nav a {
    position: absolute;
    top: 0;
    margin: 1px;
    z-index: 10;
    display: block;
    height: 140px;
    width: 4%;
    text-indent: -999em;
    text-decoration: none;
    overflow: hidden;
    opacity: 0.3;
    -moz-transition-property: opacity, width;
    -moz-transition-duration: 0.5s;
    -moz-transition-timing-function: ease-out;
}
#lightbox-nav a {
    min-width: 3em;
}

.nav-images a:hover,
.nav-images a:active,
#lightbox-nav a:hover,
#lightbox-nav a:active {
    opacity: 1;
    width: 7%;
    -moz-transition-property: opacity, width, background-color;
    -moz-transition-duration: 0.2s;
    -moz-transition-timing-function: ease-out;
}
#lightbox-nav a:hover,
#lightbox-nav a:active {
    min-width: 4em;
}
.nav-images a:focus {
    outline: 0;
}

body.eula,
body.eula #main {
    height: 80%;
}

#eula {
    padding: 15px;
    margin: 0 0 1.6em;
    overflow: auto;
    max-height: 80%;
    background: #f3f8fb;
    border-radius: 8px;
    border: 2px groove rgba(255,255,255,.25);
}

#eula p:last-child {
    margin-bottom: 0;
}
