#file-viewer div.featured-inner {
    padding: 1em;
}

#files {
    width: 20%;
    display: block;
    float: left;
}

#files li a {
    display: inline-block;
    padding: 2px 20px;
}

#files ul.root {
    overflow-x: auto;
}

#files ul.root ul {
    padding-left: 20px;
}

/* The following fixes the minimum width and makes
   the pages wrap correctly on very large peices of text. */
body.file-viewer div.section {
    min-width: 90em;
}

.syntaxhighlighter .line {
    display: block;
    white-space: pre;
    max-width: 58em;
}

.full .syntaxhighlighter .line {
    max-width: 80em;
}

#content-wrapper, #thinking {
    padding-left: 25%;
}

#content-wrapper.full, #thinking.full {
    padding-left: 0;
}

span.number {
    width: 4em;
    display: inline-block;
    text-align: right;
}

.diff-bar-height {
    min-height: 200px;
    display: block;
}

div.code div.line:hover {
    background-color: #ffffcc;
}

div.diff-bar .add, #diff td.code div.add, #diff td.code div.add .content {
    background-color: #99ff99;
}

div.diff-bar .delete, #diff td.code div.delete, #diff td.code div.delete .content {
    background-color: #ffd8d8;
}

#diff .string, #diff .string a, #diff .comments, #diff .comments a, #diff .color1, #diff .color1 a{
    color: #444444;
}

#diff .syntaxhighlighter, #diff table {
    margin: 0;
}

a.closed {
    background: url('../../img/icons/plus.gif') 0 no-repeat;
}

a.open {
    background: url('../../img/icons/minus.gif') 0 no-repeat;
}

a.diff {
    background-color: #ffffcc;
}

div.diff-bar {
    margin-left: -1px;
}

a.selected {
    background-color: #ddf8dd;
}

.waiting {
    background-image: url(../../img/zamboni/loading-white.gif);
    background-repeat: no-repeat;
    background-position: left top;
    padding-left: 2em;
}

#commands th {
    padding: 0 0 1px;
}

#commands code {
    display: block;
    font-weight: bold;
    color: white;
    background-color: darkgray;
    text-align: center;
    min-width: 1.1em;
    padding: 0px 2px;
    border-radius: 2px;
    -moz-border-radius: 2px;
}

#commands td {
    padding: 0 0 0 1ex;
}

#diff {
    padding-left: 11px;
}

#diff-wrapper {
    position: relative;
}

td.gutter, td.code {
    padding-top: 0;
    padding-bottom: 0;
}

.diff-bar {
    border: 1px solid gray;
    width: 10px;
    position: absolute;
    overflow: hidden;
    height: 200px;
}

.diff-bar a {
    display: block;
    width: 100%;
    border: 0px solid gray;
}

.diff-bar a:hover {
    text-decoration: none;
}

.diff-bar .add {
    border-color: #33aa33;
}

.diff-bar .delete {
    border-color: #aa3434;
}

.diff-bar-viewport {
    position: absolute;
    left: 0;
    right: 0;
    min-height: 2px;
    border: 1px solid rgba(0, 0, 0, .4) !important;
}

#tooltip {
    max-width: 100%;
}

.number-combo {
    display: inline-block;
}

.number-combo-button-up,
.number-combo-button-down {
    padding-left: .2em;
}

.number-combo-button-up:hover,
.number-combo-button-down:hover,
.number-combo-button-up:focus,
.number-combo-button-down:focus,
.number-combo-button-up:active,
.number-combo-button-down:active {
    text-decoration: none;
}

.number-combo-button-up:hover,
.number-combo-button-down:hover {
    text-shadow: black 0 0 .01em;
}

#tab-stops-container {
    display: none;
}
