#file-viewer div.featured-inner {
    padding: 1em;
}

#files {
    width: 20%;
    display: block;
    float: left;
}

#files li a {
    display: inline-block;
    margin-left: 20px;
    padding: 2px 5px 2px 15px;
}

#files ul.root {
    overflow-x: scroll;
}

#files ul {
    padding-left: 1em;
}

#thinking {
    padding-left: 25%;
}

span.number {
    width: 4em;
    display: inline-block;
    text-align: right;
}

pre {
    overflow-x: scroll;
}

pre.wrapped {
    white-space: pre-wrap;
    word-wrap: break-word;
    overflow-x: hidden;
}

pre div.line:hover {
    background-color: #ffffcc;
}

.add {
    background-color: #e6ffe6;
}

.delete {
    background-color: #ffe6e6;
}

a.selected {
    background-color: #ddf8dd;
}

a.closed {
    background: url('/media/img/icons/plus.gif') 0 no-repeat;
}

a.open {
    background: url('/media/img/icons/minus.gif') 0 no-repeat;
}

.waiting {
    background-image: url(../../img/zamboni/loading-white.gif);
    background-repeat: no-repeat;
    background-position: left top;
    padding-left: 2em;
}

code {
    font-weight: bold;
    color: white;
    background-color: darkgrey;
    padding: 2px 6px 2px 6px;
    margin: 2px;
}

a.no-key {
    margin-left: 29px;
}
