#file-viewer, #files-wrapper, #file-viewer table tr td {
    /* The file viewer currently completely falls apart in RTL mode.
       The contents also tend to be formatted for LTR regardless of
       locale. */
    direction: ltr;
    text-align: left;
}
.html-rtl #files,
.html-rtl h4,
.html-rtl #diff-wrapper + * {
    direction: rtl;
    text-align: right;
}

#file-viewer div.featured-inner {
    padding: 1em;
}

#file-viewer-inner {
    position: relative;
    min-height: 40em;
}

#files {
    display: block;
    position: absolute;
    width: 20em;
    z-index: 2;
}

#files li a {
    display: inline-block;
    padding: 1px 1px 2px 20px;
}

#files ul.root {
    white-space: nowrap;
    overflow: visible;
}

#files ul.root ul {
    padding-left: 20px;
}

#files-inner {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}

#files-wrapper {
    max-height: 100%;
    overflow: auto;
}

#content-wrapper, #messages, #thinking {
    padding-left: 23em;
}

#controls {
    height: 0;
}

#controls-inner {
    padding-bottom: .5em;
}

.collapsed-files #files {
    width: 2em;
}

.collapsed-files #content-wrapper, .collapsed-files #messages, .collapsed-collapsed #thinking {
    padding-left: 3em;
}

.collapsed-files #files-wrapper {
    height: 1.8em;
    width: 1.8em;
    overflow: visible;
    background: url(../../img/developers/folder.png) no-repeat center center;
}

.collapsed-files #files-wrapper:hover {
    border-top: 1px solid #000;
    margin-top: -1px;
}

.collapsed-files #files-wrapper:hover > #files-tree {
    display: block;
    background: #fff;
    position: absolute;
    margin: -1px 0 0 1.8em;
    max-height: 100%;
    overflow-y: auto;
    padding-left: 1em;
    width: 20em;
    border: 1px solid #000;
    border-left: none;
    border-radius: 0 1em 1em 0;
}

.collapsed-files #files-tree {
    display: none;
}

.collapsed-files .command,
.collapsed-files #toggle-known-container,
.collapsed-files #jetpack-version,
.collapsed-files #tab-stops-container {
    display: none !important;
}

.collapsed-files #files {
    padding-bottom: 0 !important;
}

/* Hack to find the default font's em width. */
#metadata {
    width: 1em;
}

/* The following fixes the minimum width and makes
   the pages wrap correctly on very large peices of text. */
body.file-viewer div.section {
    min-width: 90em;
}

.syntaxhighlighter .line {
    display: block;
    white-space: pre;
    max-width: 58em;
}

.collapsed-files .syntaxhighlighter .line {
    max-width: 80em;
}

#validating {
    text-align: center;
    margin-bottom: 1em;
}

span.number {
    width: 4em;
    display: inline-block;
    text-align: right;
}

.diff-bar-height {
    min-height: 200px;
    display: block;
}

div.code div.line:hover {
    background-color: #ffffcc;
}

div.diff-bar .add, #diff td.code div.add, #diff td.code div.add .content {
    background-color: #99ff99;
}

div.diff-bar .delete, #diff td.code div.delete, #diff td.code div.delete .content {
    background-color: #ffd8d8;
}

#diff .string, #diff .string a, #diff .comments, #diff .comments a, #diff .color1, #diff .color1 a{
    color: #444444;
}

.syntaxhighlighter, .syntaxhighlighter table {
    margin: 0;
}

#diff-wrapper {
    margin-bottom: 1em;
}

a.closed {
    background: url('../../img/icons/plus.gif') 0 no-repeat;
}

a.open {
    background: url('../../img/icons/minus.gif') 0 no-repeat;
}

#files a > span {
    -moz-boder-radius: 4px;
    border-radius: 4px;
    padding: 3px;
}

a.diff > span {
    background-color: #ffffcc;
}

a.known > span {
    color: #bbb;
}

.hide-known-files .known {
    display: none !important;
}

#files a.notice, #files a.warning, #files a.error {
    font-weight: bold;
}

#files a.notice > span:after,
#files a.warning > span:after,
#files a.error > span:after {
    display: inline-block;
    background: url(../../img/zamboni/notifications.png) no-repeat;
    width: 16px;
    height: 18px;
    margin-left: 4px;
    vertical-align: middle;
    content: "\00a0";
}

#files a.notice > span:after {
    background-position: 0px -516px;
    width: 18px;
    margin-left: 8px;
}

#files a.warning > span:after {
    background-position: 2px -304px;
}

#files a.error > span:after {
    background-position: 2px -162px;
}

a.selected > span {
    background-color: #3D6DB5;
    color: white;
}

.gutter a.notice, .gutter a.warning, .gutter a.error {
    margin: -1px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    border: 1px solid #000;
    font-weight: bold;
}
.code .notice, .code .warning, .code .error {
    margin: -1px;
}

.gutter a.notice, .diff-bar .notice {
    background-color: #1A81FE;
    color: white;
}
.code .notice {
    border: 1px dotted #1A81FE;
}

.gutter a.warning, .diff-bar .warning {
    background-color: #F0B500;
    color: white;
}
.code .warning {
    border: 1px dotted #F0B500;
}

.gutter a.error, .diff-bar .error {
    background-color: #D81E00;
    color: white;
}
.code .error {
    border: 1px dotted #D81E00;
}

div.diff-bar {
    margin-left: -1px;
}

.waiting {
    background-image: url(../../img/zamboni/loading-white.gif);
    background-repeat: no-repeat;
    background-position: left top;
    padding-left: 2em;
}

#commands th {
    padding: 0 0 1px;
}

#commands code {
    display: block;
    font-weight: bold;
    color: white;
    background-color: darkgray;
    text-align: center;
    min-width: 1.1em;
    padding: 0px 2px;
    border-radius: 2px;
    -moz-border-radius: 2px;
    cursor: pointer;
}

#commands td {
    padding: 0 0 0 .5em;
}

#diff, #content {
    padding-left: 11px;
}

.diff-bar.js-hidden + #diff, .diff-bar.js-hidden + #content {
    padding-left: 0;
}

#diff-wrapper {
    position: relative;
}

td.gutter, td.code {
    padding-top: 0;
    padding-bottom: 0;
}

.diff-bar {
    border: 1px solid gray;
    width: 10px;
    position: absolute;
    height: 200px;
}

.diff-bar a {
    display: block;
    width: 100%;
    border: 0px solid gray;
}

.diff-bar a:hover {
    text-decoration: none;
}

.diff-bar .add {
    border-color: #33aa33;
}

.diff-bar .delete {
    border-color: #aa3434;
}

.diff-bar-viewport {
    position: absolute;
    left: 0;
    right: 0;
    min-height: 2px;
    border: 1px solid rgba(0, 0, 0, .4) !important;
}

#tooltip {
    max-width: 100%;
}

#tooltip > span {
    white-space: pre-wrap;
    text-align: left;
    max-width: 70ex;
}


.message {
    display:none;

    position: absolute;
    padding-left: 10px;
    top: -.2em;
    left: 100%;

    position: absolute;
    z-index: 16385;
    text-align: left;
    font-size: 11px;
}

.diff-bar .message {
    top: -.8em;
    margin-top: -4px;
}

.message-inner {
    position: relative;
    padding: 0.5em 1em;

    border: 1px solid #fff;
    border-radius: .8em;
    background: #2A4364;
    color: white;
    border-radius: .8em;
    -moz-border-radius: .8em;
    -webkit-border-radius: .8em;
}

.message a {
    color: white;
    font-weight: bold;
    text-decoration: underline !important;
}

.message-inner > div {
    line-height: 1.2em;
    width: 70ex;
    white-space: pre-wrap;
}
.message-inner > div + div {
    margin-top: 1em;
}

.message p {
    margin: 1em 0;
}

.message-inner:before {
    content: "\00a0";
    display: block; /* reduce the damage in FF3.0 */
    position: absolute;
    width: 0;
    height: 0;
    margin-top: -6px;
    top: 1.1em;
    left: -16px;
    border: solid transparent;
    border-width: 6px 9px;
    border-right-color: #2A4364;
    pointer-events: none;
}

.message-container {
    position: relative;
    overflow: visible !important;
}

.message-container:hover > .message {
    display: block;
}


.number-combo {
    display: inline-block;
}

.number-combo-button-up,
.number-combo-button-down {
    padding-left: .2em;
}

.number-combo-button-up:hover,
.number-combo-button-down:hover,
.number-combo-button-up:focus,
.number-combo-button-down:focus,
.number-combo-button-up:active,
.number-combo-button-down:active {
    text-decoration: none;
}

.number-combo-button-up:hover,
.number-combo-button-down:hover {
    text-shadow: #000 0 0 .01em;
}

#tab-stops-container {
    display: none;
    margin: .5em 0;
}

#toggle-known-container {
    margin-top: .3em;
}

#jetpack-version {
    margin: .5em 0;
}
