/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
/* end meyer reset */

/* don't want any more transitions? this is the kill-switch!*/
/*
*, *:after {
    -moz-transition: none !important;
}
*/

i {
    font-style: italic;
    color: #838382;
}

/** Clearfix */
.listview li a:after,
header:after,
section:after,
.menu:after,
.grouped_ratings:after {
    content: ".";
    display: block;
    clear: both;
    height: 0;
    visibility: hidden;
}

.locked #page {
    display: none;
}

/************************************/
/*             TYPOGRAPHY           */
/************************************/

h1, h2, h3,
.copy, .paginator,
.moz-menu {
    font-family: Georgia, serif;
}
a:link {
    font-family: Georgia, serif;
    color: #447bc4;
    text-decoration: none;
}
.num_ratings,
.review .old-version,
.install-wrapper,
.install-wrapper a {
    font-family: "Droid Sans", sans-serif;
}
#content h2,
#eula h2 {
    font-style: italic;
    margin: 0 14px 14px;
    font-size: 1.4em;
}
#content h3 {
    font-size: 1.2em;
    padding-bottom: 2px;
}
.copy p {
    color: #444;
}

/************************************/
/*             GRADIENTS            */
/************************************/

/* 'Mozilla' */
.moz-menu .tab {
    background: #33589f;
/*    background: -webkit-gradient(
        linear,
        left bottom,
        left top,
        from(rgb(42,65,135)),
        to(rgb(59,105,177))
    );
    background: -moz-linear-gradient(
        center bottom,
        rgb(42,65,135) 0%,
        rgb(59,105,177) 100%
    );
    background: linear-gradient(
        center bottom,
        rgb(42,65,135) 0%,
        rgb(59,105,177) 100%
    );
*/}

footer:before,
.tabs {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAABCAYAAAASC7TOAAAAEElEQVQIHWP8//8/Aw7wHwBR6AP+G53o6QAAAABJRU5ErkJggg=='),
                      -moz-linear-gradient(#fff, #dcedfd);
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAABCAYAAAASC7TOAAAAEElEQVQIHWP8//8/Aw7wHwBR6AP+G53o6QAAAABJRU5ErkJggg=='),
                      -webkit-gradient(linear, left top, left bottom, from(#fff), to(#dcedfd));
}

html {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAABCAYAAAASC7TOAAAAEElEQVQIHWP8//8/Aw7wHwBR6AP+G53o6QAAAABJRU5ErkJggg=='),
                      -moz-linear-gradient(#dcedfd 0, #fff 200px);
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAABCAYAAAASC7TOAAAAEElEQVQIHWP8//8/Aw7wHwBR6AP+G53o6QAAAABJRU5ErkJggg=='),
                      -webkit-gradient(linear, left top, left 200, from(#dcedfd), to(#fff));

}


/************************************/
/*            FANCY ARROW           */
/************************************/

#sort-menu .label span:after,
.moz-menu .tab a:after,
.menu a.expando:after {
    content: "\00a0";
    display: block;
    position: absolute;
    right: 8px;
    width: 0;
    height: 0;
    -moz-transition: .3s -moz-transform ease;
    -webkit-transition: .3s -webkit-transform ease;
    -moz-transform-origin: 50% 25%;
    -webkit-transform-origin: 50% 25%;
    top: 16px;
    border: 5px solid transparent;
    border-top-color: black;
    pointer-events: none;
}

/************************************/
/*              GENERAL             */
/************************************/

.htruncate {
    white-space: nowrap;
    overflow: hidden;
}

table {
    width: 100%;
    font-family: Helvetica, "Droid Sans", sans-serif;
}
table th {
    text-align: right;
    padding: 0 8px 8px 0;
    font-weight: bold;
    color: #666;
}
#content {
    width: 100%;
    overflow: hidden;
    position: relative;
}

#content > details,
#content > p,
#content > .copy,
#content > .menu {
    margin: 0 14px;
}

.copy {
    line-height: 1.2em;
}

.text-listing h2,
#eula h2 {
    padding-bottom: 4px;
    border-bottom: 1px solid #ccc;
    box-shadow: 0 1px #fff;
}

.paginator {
    display: -moz-box;
    display: -webkit-box;
    text-align: center;
    color: #ccc;
    font-size: 1.1em;
    width: 100%;
    height: 40px;
}
.paginator .page {
    color: #666;
    margin: 0 2%;
    -moz-box-flex: 1;
    -webkit-box-flex: 1;
}
.paginator a {
    padding: 14px;
}
.paginator .next a:after {
    content: ' \00bb';
}
.paginator .prev a:before {
    content: ' \00ab';
}
/************************************/
/*              HEADER              */
/************************************/
#home-header,
.mini-header {
    margin: 0 14px;
}
.moz-menu {
    -moz-transition: .5s top ease;
    -webkit-transition: .5s top ease;
    position: relative;
    top: 0;
    z-index: 100;
}
.moz-menu .tab {
    border-radius: 0 0 6px 6px;
    -moz-border-radius: 0 0 6px 6px;
    -webkit-border-radius: 0 0 6px 6px;
    box-shadow: 0 -3px rgba(0,0,0,.2) inset;
    -moz-box-shadow: 0 -3px rgba(0,0,0,.2) inset;
    -webkit-box-shadow: 0 -3px rgba(0,0,0,.2) inset;
}
.moz-menu .tab a {
    background: url(../../img/zamboni/global/wordmark.png) no-repeat 8px 6px;
    display: block;
    height: 30px;
    line-height: 22px;
    text-align: right;
    color: white;
    font-style: italic;
    padding: 8px 25px;
}
.mini-header .moz-menu .tab {
    width: 104px;
    float: right;
    overflow: hidden;
    position: relative;
}
.mini-header .moz-menu .tab a {
    text-indent: -9999px;
    text-align: left;
}
.moz-menu .menu-items li {
    border-bottom: 1px solid #294976;
    border-top: 1px solid #537ab4;
    background-color: #3a67af;
/*    background-image: -moz-linear-gradient(#3a67af, #385eaa);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#3a67af), to(#385eaa));
*/    height: 50px;
    width: 100%;
    padding: 0 14px;
}
.moz-menu .menu-items a {
    font-family: "Trebuchet MS", "Droid Sans", sans-serif;
    color: white;
    font-size: 17px;
    text-transform: uppercase;
    font-weight: bold;
    display: block;
    height: 26px;
    line-height: 26px;
    padding: 12px 0;
}
.moz-menu .menu-items {
    position: absolute;
    width: 100%;
    left: -14px;
    bottom: 46px;
}
.mini-header .moz-menu .menu-items {
    bottom: 0;
}

.moz-menu .tab a:after {
    top: 18px;
    border: 6px solid transparent;
    border-top-color: white;
}

.moz-menu.expand .tab a:after {
    -moz-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
}
.moz-menu.expand {
    top: 312px;
}

header hgroup {
    margin-top: 8px;
    position: relative;
    padding-left: 80px;
}
header #home, header .back-link {
    clear: both;
    color: #447BC4;
    float: left;
    padding: 14px 0;
    line-height: 14px;
}
.mini-header .site-title {
    padding-right: 120px;
}
.mini-header .site-title a {
    font-size: 22px;
    line-height: 22px;
}
#home-header hgroup {
    min-height: 75px;
    margin-bottom: 8px;
}
.mini-header hgroup {
    margin-top: 0;
    padding: 2px 0 0;
}
#home-header h1 {
    padding-top: 4px;
}
#home-header h2 {
    margin: 4px 0;
    color: #666;
}
#home-header .site-title img {
    position: absolute;
    left: 0;
    top: 0;
}
.site-title a {
    text-decoration: none;
    color: black;
    font-family: Georgia, serif;
    text-transform: uppercase;
    font-size: 36px;
    line-height: 32px;
}
.site-title span {
    display: block;
}
.mini-header .site-title img {
    float: left;
    height: 50px;
    margin-right: 6px;
}
#home-header #search {
    margin: 0;
}
#learnmore-msg {
    position: absolute;
    left: 0;
    margin: 12px 14px 0;
    max-width: 260px;
    color: white;
    font-family: sans-serif;
    line-height: 1.2em;
    font-size: 14px;
    padding: 14px;
    z-index: 100;
    -moz-border-radius: 1em;
    -webkit-border-radius: 1em;
    border-radius: 1em;
    background: #444;
    opacity: 0;
    pointer-events: none;
    -moz-transition: .3s opacity ease;
    -webkit-transition: .3s opacity ease;
    box-shadow: 0 0 3px #000;
    -moz-box-shadow: 0 0 3px #000;
    -webkit-box-shadow: 0 0 3px #000;
}
#learnmore-msg.show {
    opacity: 1;
    pointer-events: auto;
}
#learnmore {
    color: #447BC4;
    padding: 4px 0;
}
#learnmore-msg:after {
    content: "\00a0";
    display: block;
    position: absolute;
    z-index: 100;
    top: -28px;
    left: 94px;
    width: 0;
    height: 0;
    border: 15px solid transparent;
    border-bottom-color: #444;
    pointer-events: none;
}
/************************************/
/*             LISTVIEWS            */
/************************************/

.listview,
.infobox {
    margin: 14px 14px 0;
    border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border: 1px solid #ddd;
    background-color: #f4f4f4;
/*    background-image: -moz-linear-gradient(#fff, rgba(255,255,255,0) 12px);
    -moz-box-shadow: 0 -3px rgba(0,0,0,.1) inset;
    -webkit-box-shadow: 0 -3px rgba(0,0,0,.1) inset;*/
    margin-bottom: 1em;
    display: block;
}
.infobox {
    padding: 14px;
}
.listview li {
    border-top: 1px solid #ccc;
    font-size: 1em;
}
.listview li:first-child {
    border: 0;
}
.listview li > a,
a.listview {
    padding: 14px 10px;
    color: #444;
    font-family: Georgia, serif;
    font-size: 1.1em;
    display: block;
    overflow: hidden;
    text-decoration: none;
    position: relative;
}
.listview .item > a,
.listview div.item {
    padding: 10px;
    font-size: 1em;
}
.listview li > a:before,
a.listview:before {
    content: " ";
    display: block;
    width: 10px;
    height: 16px;
    position: absolute;
    right: 10px;
    top: 50%;
    margin-top: -8px;
    background: url(../../img/zamboni/mobile/arrow.svg) no-repeat center center;
}
.icon {
    float: left;
    margin-right: 8px;
}

.item {
    line-height: 1.3em;
}
.item h3 {
    font-size: 1.1em;
}
.item .desc {
    white-space: nowrap;
}
.item details {
    overflow: hidden;
    margin-right: 12px;
}

/************************************/
/*              SEARCH              */
/************************************/

#search {
    margin-bottom: 14px;
    display: -moz-box;
    display: -webkit-box;
    width: 100%;
}

#search input[type=search] {
    background: url(../../img/zamboni/mobile/search.svg) no-repeat 10px center #fff;
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    height: 41px;
    padding-left: 40px;
    border: 1px solid #ddd;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    margin: -1px 8px 0 0;
    font-size: 18px;
}

#search button[type=submit] {
    margin: 0;
    height: 45px;
    width: 56px;
    background-color: #83c53c;
    background-image: none;
/*    background-image: -moz-linear-gradient(#83c53c, #4f9c19);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#83c53c), to(#4f9c19));*/
    border: 0;
    -webkit-box-shadow: 0 -3px rgba(0,0,0,.1) inset;
    -moz-box-shadow: 0 -3px rgba(0,0,0,.1) inset;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}

/************************************/
/*            SORT MENU             */
/************************************/

#sort-menu {
    -moz-box-align: center;
}

#sort-menu ul {
    height: 0;
    position: relative;
    top: -1px;
    overflow: hidden;
    -moz-transition: .5s height ease;
    -webkit-transition: .5s height ease;
    border: 0px solid transparent;
    border-width: 1px 0;
}

#sort-menu.expand ul {
    border-color: #a9badb;
    height: 254px;
}

#sort-menu li {
    border-top: 1px solid #dde4ef;
}
#sort-menu li a {
    display: block;
    height: 26px;
    line-height: 26px;
    padding: 12px 14px;
}
#sort-menu li:first-child {
    border-top: 0;
}

#sort-menu .label {
    color: #888;
    padding-left: 14px;
}
#sort-menu .label span {
    position: relative;
    display: inline-block;
    z-index: 10;
    background: transparent;
    color: #447bc4;
    text-align: center;
    white-space: nowrap;
    border: 1px solid transparent;
    border-width: 1px 1px 0 1px;
    border-radius: 6px 6px 0 0;
    -moz-border-radius: 6px 6px 0 0;
    -webkit-border-radius: 6px 6px 0 0;
    margin-left: 4px;
    padding: 11px 22px 11px 6px;
    -moz-transition: .3s background ease;
}
#sort-menu.expand .label span {
    background: white;
    border-color: #a9badb;
    border-bottom: 1px solid white;
    box-shadow: 0 -1px 1px #dde4ef;
}
/* menu arrow */
#sort-menu .label span:after {
    top: 16px;
    border: 5px solid transparent;
    border-top-color: #447BC4;
}

#sort-menu.expand .label span:after {
    -moz-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
}


/************************************/
/*               TABS               */
/************************************/

.tabs {
    border-bottom: 1px solid #a2bbdc;
    height: 41px;
    font: 16px Georgia, serif;
    padding: 14px 14px 0;
    box-shadow: 0 -1px 1px rgba(0,0,0,.1) inset;
}
.tabs ul {
    display: -webkit-box;
    display: -moz-box;
    margin: 0px;
    width: 100%;
    z-index: 1;
}

.tabs ul li {
    -moz-box-flex: 1;
    -webkit-box-flex: 1;
    border: 0;
    -webkit-transition: .3s background ease;
    -moz-transition: .3s background ease;
}
.tabs a:-moz-focusring {
    outline: 0;
    border: 0;
}
.tabs ul li a {
    display: block;
    white-space: nowrap;
    text-align: center;
    color: #447bc4;
    padding: 11px 8px 11px 6px;
}
.tabs ul li.selected {
    background: white;
    box-shadow: 0 -1px 1px rgba(0,0,0,.1);
    border: 1px solid #a2bbdc;
    border-width: 1px 1px 0 1px;
    border-radius: 6px 6px 0 0;
    -moz-border-radius: 6px 6px 0 0;
    -webkit-border-radius: 6px 6px 0 0;
}
.tabs ul li.selected a {
    color: #444;
    padding: 11px 8px 11px 6px ;
}

.tab-pane {
    display: none;
}
.tab-pane.selected {
    display: block;
}
.slider {
    white-space:nowrap;
    position: relative;
    left: 0;
    -moz-transition: .3s left ease;
    -webkit-transition: .3s left ease;
}
.slider-mask {
    width: 100%;
    overflow: hidden;
}
.slider .tab-pane {
    vertical-align: top;
    width: 100%;
    display: inline-block;
}

/************************************/
/*             LIGHTBOX             */
/************************************/

#lightbox {
    background: rgba(0,0,0,.9);
    position: absolute;
    width: 100%;
    height: 101%;
    display: none;
    z-index: 9000;
    color: white;
    text-align: center;
    opacity: 0;
    overflow: hidden;
    pointer-events: none;
    -moz-transition: .5s opacity ease;
    -webkit-transition: .5s opacity ease;
}
#lightbox .close {
    font-family: sans;
    display: block;
    position: absolute;
    z-index: 100;
    font-family: sans-serif;
    color: white;
    top: 14px;
    right: 14px;
    line-height: 12px;
    text-align: center;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    width: 12px;
    height: 12px;
    padding: 12px;
    border: 1px solid white;
}

#lightbox.show {
    pointer-events: auto;
    opacity: 1;
}
#lightbox section {
    position: relative;
    width: 100%;
    height: 100%;
}
#lightbox .content {
    height: 70%;
    display: block;
    position: relative;
    text-align: center;
}
#lightbox .controls {
    height: 25%;
    min-height: 100px;
    position: relative;
    padding: 5% 40px 0;
}
#lightbox .control.prev {
    color: #fff;
    left: 0;
}
#lightbox .control.next {
    color: #fff;
    right: 0;
}
#lightbox .caption {
    font-size: 18px;
}
#lightbox img {
    max-width: 95%;
    max-height: 100%;
    -moz-transition: .5s opacity ease;
    -webkit-transition: .5s opacity ease;
    opacity: 0;
    position: absolute;
}

/************************************/
/*           DETAILS PAGE           */
/************************************/

td .versions li a {
    display: block;
    padding: 4px 0;
}

.author,
.author a {
    font-family: "Droid Sans", sans-serif;
    color: #888;
    font-size: 12px;
    line-height: 12px;
}

/************************************/
/*             VERSIONS             */
/************************************/

.version h3 {
    font-size: 20px;
    color: black;
}

.version time {
    display: block;
    font-family: "Droid Sans", sans-serif;
    margin: 10px 0;
}

.version blockquote {
    color: #666;
    font-family: Georgia, serif;
    overflow: hidden;
}

.version .meta {
    font-style: italic;
    color: #666;
}

.version .meta h4 {
    margin-top: 12px;
    font-family: "Droid Sans", sans-serif;
    font-weight: bold;
    color: #666;
}

/************************************/
/*           NOTIFICATIONS          */
/************************************/

.message {
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    margin: 14px;
    padding: 14px;
}
.message h3 {
    font-family: "Droid Sans", Helvetica, sans-serif;
    font-weight: bold;
    margin-bottom: 14px;
}
.message.warning {
    background: #fff0a6;
}
/************************************/
/*              BUTTONS             */
/************************************/

.install-wrapper {
    margin: 10px 0 4px;
    padding-top: 8px;
    text-align: center;
    font-weight: bold;
}

.infobox .install-wrapper {
    border-top: 2px solid #fff;
    box-shadow: 0 -1px #ccc;
}

.button, a.button {
    -moz-transition: -moz-box-shadow 0.3s ease 0s;
    background-color: #669BE1;
/*    background-image: -moz-linear-gradient(#669BE1, #5784BF) repeat scroll 0 0 transparent;
    background-image: -webkit-gradient(
        linear,
        left top,
        left bottom,
        from(#669BE1),
        to(#5784BF)
    );*/
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    box-shadow: 0 3px rgba(0, 0, 0, 0.1), 0 -4px rgba(0, 0, 0, 0.1) inset;
    -moz-box-shadow: 0 3px rgba(0, 0, 0, 0.1), 0 -4px rgba(0, 0, 0, 0.1) inset;
    -webkit-box-shadow: 0 3px rgba(0, 0, 0, 0.1), 0 -4px rgba(0, 0, 0, 0.1) inset;
    color: #FFFFFF;
    display: inline-block;
    font-family: "Droid Sans", "Trebuchet MS", sans-serif;
    font-size: 20px;
    font-weight: bold;
    line-height: 1;
    padding: 12px 16px 14px;
    position: relative;
    text-align: center;
    display: block;
    font-weight: bold;
    text-decoration: none;
}

.button:active,
.button.selected {
    top: 2px;
    -moz-box-shadow: 0 1px rgba(0, 0, 0, 0.1),
                     0 -4px rgba(0, 0, 0, 0.1) inset,
                     0 0 100px rgba(255, 255, 255, 0.2) inset;
}

.button.small {
    font-size: 13px;
    font-weight: normal;
    padding: 6px 12px;
    padding-bottom: 9px;
    -moz-box-shadow: 0 2px rgba(0, 0, 0, 0.1),
                     0 -3px rgba(0, 0, 0, 0.1) inset;
}

.button.small:hover,
.button.small:focus,
.button.small:active,
.button.small.selected {
    -moz-box-shadow: 0 2px rgba(0, 0, 0, 0.1),
                     0 -3px rgba(0, 0, 0, 0.1) inset,
                     0 0 100px rgba(255, 255, 255, 0.2) inset;
}

.button.small:active,
.button.small.selected {
    top: 2px;
    -moz-box-shadow: 0 0px rgba(0, 0, 0, 0.1),
                     0 -3px rgba(0, 0, 0, 0.1) inset,
                     0 0 100px rgba(255, 255, 255, 0.2) inset;
}

.button.affirmative,
.button.add {
    background-color: #84C63C;
/*    background-image: -moz-linear-gradient(#84C63C, #489615);
    background-image: -webkit-gradient(
        linear,
        left top,
        left bottom,
        from(#84C63C),
        to(#489615)
    );*/
    color: #fff;
}
.button.negative {
    background-color: #84C63C;
/*    background-image: -moz-linear-gradient(#b25951, #932b0d);
    background-image: -webkit-gradient(
        linear,
        left top,
        left bottom,
        from(#b25951),
        to(#932b0d)
    );*/
    color: #fff;
}
.button.add {
    padding-left: 40px;
}
.button.add:before {
    content: " ";
    display: block;
    width: 24px;
    height: 24px;
    position: absolute;
    left: 14px;
    top: 10px;
    background: url(../../img/zamboni/mobile/install.svg) no-repeat top left;
}

.button.warning {
    background-attachment: scroll, scroll;
    background-clip: border-box, border-box;
    background-color: transparent;
/*    background-image: -moz-linear-gradient(rgba(255, 255, 255, 0.25), rgba(255, 255, 255, 0.25)),
                    url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAIAAAAC64paAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAGlJREFUeNqc0cEJACEMRFFNARaw/RexFe1dG3AjCBJJYDL/kNtjDqn9lRLUnlrixjd5qVdo6WNQOhiXN05Jg7PyYEJuzMmFaRn+GZG6KrQMlxHpY1A6GJc3TkmDs/JgQm7MyYVpqf0CDABVcj3T2ITzOAAAAABJRU5ErkJggg==);
*/
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAIAAAAC64paAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAGlJREFUeNqc0cEJACEMRFFNARaw/RexFe1dG3AjCBJJYDL/kNtjDqn9lRLUnlrixjd5qVdo6WNQOhiXN05Jg7PyYEJuzMmFaRn+GZG6KrQMlxHpY1A6GJc3TkmDs/JgQm7MyYVpqf0CDABVcj3T2ITzOAAAAABJRU5ErkJggg==);
    background-origin: padding-box, padding-box;
    background-position: 0 0%, 0 0;
    background-repeat: repeat, repeat;
    background-size: auto auto, auto auto;
    color: #333333;
    text-shadow: 0 -1px 0 rgba(255, 255, 255, 0.5);
    top: 0;
}
.button.add.warning:before {
    background: url(../../img/zamboni/mobile/install.svg) no-repeat 0 -50px;
}
.button.disabled {
    background-color: #d1d4d7;
/*    background-image: -moz-linear-gradient(#d1d4d7, #c1c5ca);*/
    color: #fff;
    -moz-box-shadow: 0 3px rgba(0, 0, 0, 0.05),
                     0 -4px rgba(0, 0, 0, 0.05) inset;
    top: 0;
}
.button.add.disabled:before {
    background: url(../../img/zamboni/mobile/install.svg) no-repeat top left;
}

/** Button Badges */

.badges {
    margin-top: 8px;
}
.badges a, .badges li {
    display: block;
    color: black;
}
.badges li {
    border: 1px solid #ddd;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    margin-bottom: 8px;
    font-size: .8em;
    line-height: 20px;
    height: 20px;
    background: #fff;
}
.badges .error {
    background-color: #edd4d2;
    border-color: #ac9a98;
}
.badges .warning {
    background-color: #fef9d7;
    border-color: #bebaa1;
}
.install .privacy-policy {
    display: block;
    margin-top: 12px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    height: 27px;
    font-size: .9em;
    color: black;
    line-height: 25px;
    border: 1px solid #ccc;
    background-color: #e6e6e6;
/*    background-image: -moz-linear-gradient(#e6e6e6, #d3d3d3);*/
}

/************************************/
/*                EULA              */
/************************************/

#eula {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100%;
    background: #333;
    display: none;
}
#eula-content {
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    margin: 14px;
    padding: 14px 0 70px 0;
    background: #fff;
}
#eula-text {
    padding: 0 14px;
    font-family: Georgia, serif;
    line-height: 1.2em;
}
#eula-body {
    margin-top: 14px;
    color: #666;
}
#eula-body ul {
    list-style: disc outside none;
    margin-left: 20px;
}
#eula-body ol {
    list-style: decimal outside none;
    margin-left: 20px;
}
#eula-menu {
    position: fixed;
    bottom: -1px;
    left: 14px;
    width: -moz-calc(100% - 28px);
    background: #fff;
}
#eula:after {
    position: absolute;
    content: "";
    bottom: 0;
    height: 20px;
    width: -moz-calc(100% - 28px);
    z-index: 1000;
    border-width: 14px;
    border-style: solid;
    pointer-events: none;
    border-color: transparent #333 #333;
    -moz-border-radius: 14px;
    -webkit-border-radius: 14px;
    border-radius: 14px;
}
#eula-menu div {
    margin-bottom: 14px;
    overflow: hidden;
    position: relative;
    background: #fff;
    -moz-border-radius: 0 0 6px 6px;
    -webkit-border-radius: 0 0 6px 6px;
    border-radius: 0 0 6px 6px;
}
#eula-menu .button {
    margin: 8px;
    display: block;
    float: left;
    width: -moz-calc(50% - 48px);
}



/************************************/
/*              REVIEWS             */
/************************************/

.stars {
    text-indent:-5000px;
    background-image: url(../../img/amo2009/icons/stars.png);
    background-position: 0 50%;
    background-repeat: no-repeat;
    margin-right: 0.5em;
    width: 63px;
    display: block;
}
.reviews .stars {
    float: left;
}
.html-rtl .stars {
    float: right;
}

.stars-4 {
    background-position: -13px 50%;
}
.stars-3 {
    background-position: -26px 50%;
}
.stars-2 {
    background-position: -39px 50%;
}
.stars-1 {
    background-position: -52px 50%;
}
.stars-0 {
    background-position: -65px 50%;
}
.grouped_ratings {
    margin: 16px 0;
}
.grouped_ratings .stars-4 {
    background-position: 13px 50%;
}
.grouped_ratings .stars-3 {
    background-position: 26px 50%;
}
.grouped_ratings .stars-2 {
    background-position: 39px 50%;
}
.grouped_ratings .stars-1 {
    background-position: 52px 50%;
}
.grouped_ratings .stars-0 {
    background-position: 65px 50%;
}

.grouped_ratings li {
    height: 12px;
    margin-bottom: 8px;
    clear: both;
}


.grouped_ratings .rating_bar {
    float: left;
    height: 12px;
    margin-top: 4px;
    background: #eee;
    position: relative;
    overflow: visible;
    width: 120px;
}
.num_ratings {
    font-size: .9em;
    color: #888;
    line-height: 22px;
    width: 1px;
    position: absolute;
    right: -6px;
    top: 0px;
    line-height: 1em;
    font-size: .9em;
}
.grouped_ratings .rating_bar span.bar {
    display:block;
    height: 100%;
    background: #888;
    height: 12px;
}

/* rtl */
.html-rtl .grouped_ratings .rating_bar {
    border-left: 0;
    float: right;
}

.html-rtl .grouped_ratings .rating_bar span.bar {
    float: right;
}

.html-rtl .grouped_ratings .rating_bar span.num_ratings {
    right: auto;
    left: -4px;
}
.review .old-version {
    font-size: .8em;
    font-style: italic;
    line-height: 1em;
    color: #888;
    margin-top: 4px;
}
.review {
    margin-bottom: 1.5em;
}

/************************************/
/*              CAROUSEL            */
/************************************/

.carousel .control,
#lightbox .control {
    display: block;
    position: absolute;
    top: 0;
    opacity: .9;
    width: 45px;
    height: 95%;
    line-height: 100px;
    font-size: 48px;
    text-align: center;
    color: #447BC4;
    text-shadow: 0 0 5px #fff;
    -moz-transition: .2s color ease;
    -webkit-transition: .2s color ease;
}
.carousel .control.disabled {
    color: #ccc;
}
.carousel .control.prev {
    background-image: -moz-linear-gradient(left, #fff 20%, rgba(255,255,255,0));
    left: 0;
}
.carousel .control.next {
    background-image: -moz-linear-gradient(left, rgba(255,255,255,0), #fff 80%);
    right: 0;
}

.carousel {
    position: relative;
    padding: 14px 40px;
    overflow: hidden;
/*    background-image: -moz-linear-gradient(#fff 95%, #dcedfd);*/
    background-color: #fff;
    border-bottom: 2px solid #dcedfd;
    margin-bottom: 20px;
}

.carousel ul {
    height: 78px;
    white-space: nowrap;
    position: relative;
    left: 0;
    -moz-transition: .5s left ease;
    -webkit-transition: .5s left ease;
}

.carousel li {
    display: inline-block;
    width: 50%;
    text-align: center;
}

.carousel li img {
    border: 1px solid #afbed0;
    max-height: 75px;
    max-width: 100px;
    border-radius: 6px;
    -moz-box-shadow: 0 0 4px rgba(0,0,0,.2);
    -webkit-box-shadow: 0 0 4px rgba(0,0,0,.2);
}

/************************************/
/*              EXPANDO             */
/************************************/

a.expando:-moz-focusring {
    border: 0;
    outline: none;
}
a.expando {
    color: #447BC4;
}
.menu a.expando {
    position: relative;
    display: block;
    padding: 10px 20px;
    float: right;
    color: #447BC4;
}
.menu a.expando:after {
    border-top-color: #447BC4;
    top: 15px;
}
.menu a.expando.expand:after {
    -moz-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
}
.expando-managed {
    overflow: hidden;
    height: 0;
    -moz-transition: .5s height ease;
    -webkit-transition: .5s height ease;
}

/************************************/
/*              FOOTER              */
/************************************/

footer:before {
    content: " ";
    display: block;
    position: absolute;
    top: -30px;
    left: 0;
    width: 100%;
    height: 30px;
    box-shadow: 0 -2px rgba(0,0,0,.1) inset;
}
footer {
    font-family: "Droid Sans", sans-serif;
    font-size: 1em;
    color: white;
    margin-top: 30px;
    padding: 14px;
    position: relative;
    min-height: 200px;
    box-shadow: 0 2px rgba(0,0,0,.1) inset;
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAABCAYAAAASC7TOAAAAFElEQVQIHWO0DZ3xnwELYOXgYwAAOHwCRjqu6SgAAAAASUVORK5CYII=');
}
footer select {
    margin-top: 4px;
    display: block;
    width: 100%;
    padding-top: 4px;
    height: 30px;
}
#footer-links, #footer-links a {
    color: #5f92ce;
    text-align:center;
    font-size: 14px;
    padding: 4px;
}

footer a.desktop-link {
    background: #5f92ce;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    color: #fff;
    display: block;
    font-family: "Trebuchet MS", "Droid Sans", sans-serif;
    font-size: 150%;
    font-weight: bold;
    line-height: 200%;
    margin: 1em 0;
    text-align: center;
    text-transform: uppercase;
}
