/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
/* end meyer reset */

/** Clearfix */
.listview li a:after,
header:after,
section:after {
    content: ".";
    display: block;
    clear: both;
    height: 0;
    visibility: hidden;
}

/************************************/
/*             TYPOGRAPHY           */
/************************************/

h1, h2, h3,
.copy, .paginator,
.moz-menu {
    font-family: Georgia, serif;
}
#content h2 {
    font-style: italic;
    margin: 0 14px 14px;
    font-size: 1.2em;
}
a:link {
    font-family: Georgia, serif;
    color: #447bc4;
    text-decoration: none;
}

/************************************/
/*             GRADIENTS            */
/************************************/

/* 'Mozilla' */
.moz-menu .tab {
    background: #33589f;
    background: -webkit-gradient(
        linear,
        left bottom,
        left top,
        from(rgb(42,65,135)),
        to(rgb(59,105,177))
    );
    background: -moz-linear-gradient(
        center bottom,
        rgb(42,65,135) 0%,
        rgb(59,105,177) 100%
    );
    background: linear-gradient(
        center bottom,
        rgb(42,65,135) 0%,
        rgb(59,105,177) 100%
    );
}

footer:before,
.tabs {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAABCAYAAAASC7TOAAAAEElEQVQIHWP8//8/Aw7wHwBR6AP+G53o6QAAAABJRU5ErkJggg=='),
                      -moz-linear-gradient(#fff, #dcedfd);
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAABCAYAAAASC7TOAAAAEElEQVQIHWP8//8/Aw7wHwBR6AP+G53o6QAAAABJRU5ErkJggg=='),
                      -webkit-linear-gradient(from(#fff), to(#dcedfd));
}

html {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAABCAYAAAASC7TOAAAAEElEQVQIHWP8//8/Aw7wHwBR6AP+G53o6QAAAABJRU5ErkJggg=='),
                      -moz-linear-gradient(#dcedfd 0, #fff 120px);
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAABCAYAAAASC7TOAAAAEElEQVQIHWP8//8/Aw7wHwBR6AP+G53o6QAAAABJRU5ErkJggg=='),
                      -webkit-linear-gradient(#dcedfd 0, #fff 120px);

}

/************************************/
/*              GENERAL             */
/************************************/

table {
    width: 100%;
    font-family: Helvetica, "Droid Sans", sans-serif;
}
table th {
    text-align: right;
    padding: 0 8px 8px 0;
    font-weight: bold;
    color: #666;
}
#content {
    margin-top: 1em;
    width: 100%;
    overflow: hidden;
    position: relative;
}

#content > details,
#content > p {
    margin: 14px;
}

.menu {
    margin: 0 14px;
}

.paginator {
    display: -moz-box;
    display: -webkit-box;
    text-align: center;
    color: #ccc;
    font-size: 1.1em;
    width: 100%;
    height: 40px;
}
.paginator .page {
    color: #666;
    margin: 0 2%;
    -moz-box-flex: 1;
    -webkit-box-flex: 1;
}
.paginator a {
    padding: 14px;
}
.paginator .next a:after {
    content: ' \00bb';
}
.paginator .prev a:before {
    content: ' \00ab';
}
/************************************/
/*              HEADER              */
/************************************/
#home-header,
.mini-header {
    margin: 0 14px;
}
.moz-menu {
    -moz-transition: .5s top ease;
    -webkit-transition: .5s top ease;
    position: relative;
    top: 0;
    z-index: 100;
}
.moz-menu .tab {
    -moz-border-radius: 0 0 6px 6px;
    -webkit-border-radius: 0 0 6px 6px;
    -moz-box-shadow: 0 -3px rgba(0,0,0,.2) inset;
    -webkit-box-shadow: 0 -3px rgba(0,0,0,.2) inset;
}
.moz-menu .tab a {
    background: url(../../img/zamboni/global/wordmark.png) no-repeat 8px 6px;
    display: block;
    height: 30px;
    line-height: 22px;
    text-align: right;
    color: white;
    font-style: italic;
    padding: 8px 25px;
}
.mini-header .moz-menu .tab {
    width: 104px;
    float: right;
    position: relative;
}
.mini-header .moz-menu .tab a {
    text-indent: -9999px;
    text-align: left;
}
.moz-menu .menu-items li {
    border-bottom: 1px solid #294976;
    border-top: 1px solid #537ab4;
    background-image: -moz-linear-gradient(#3a67af, #385eaa);
    background-image: -webkit-linear-gradient(#3a67af, #385eaa);
    height: 50px;
    width: 100%;
    padding: 0 14px;
}
.moz-menu .menu-items a {
    font-family: "Trebuchet MS", "Droid Sans", sans-serif;
    color: white;
    font-size: 17px;
    text-transform: uppercase;
    font-weight: bold;
    display: block;
    height: 26px;
    line-height: 26px;
    padding: 12px 0;
}
.moz-menu .menu-items {
    position: absolute;
    width: 100%;
    left: -14px;
    bottom: 46px;
}
.mini-header .moz-menu .menu-items {
    bottom: 0;
}

.moz-menu .tab a:after {
    content: "\00a0";
    display: block;
    position: absolute;
    right: 8px;
    width: 0;
    height: 0;
    -moz-transition: .3s -moz-transform ease;
    -webkit-transition: .3s -webkit-transform ease;
    -moz-transform-origin: 50% 25%;
    -webkit-transform-origin: 50% 25%;
    top: 18px;
    border: 6px solid transparent;
    border-top-color: white;
    pointer-events: none;
}

.moz-menu.expand .tab a:after {
    -moz-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
}
.moz-menu.expand {
    top: 312px;
}

header hgroup {
    margin-top: 8px;
    position: relative;
    padding-left: 80px;
}
.mini-header .site-title a {
    font-size: 22px;
    line-height: 22px;
}
#home-header hgroup {
    min-height: 75px;
    margin-bottom: 8px;
}
.mini-header hgroup {
    margin-top: 0;
    padding: 2px 0 0;
}
#home-header h1 {
    padding-top: 4px;
}
#home-header h2 {
    margin: 4px 0;
    color: #666;
}
#home-header .site-title img {
    position: absolute;
    left: 0;
    top: 0;
}
.site-title a {
    text-decoration: none;
    color: black;
    font-family: Georgia, serif;
    text-transform: uppercase;
    font-size: 36px;
    line-height: 32px;
}
.site-title span {
    display: block;
}
.mini-header .site-title img {
    float: left;
    height: 50px;
    margin-right: 6px;
}
#home-header #search {
    margin: 0;
}
/************************************/
/*             LISTVIEWS            */
/************************************/

.listview {
    margin: 14px 14px 0;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border: 1px solid #ddd;
    background-color: #f4f4f4;
    background-image: -moz-linear-gradient(#fff, rgba(255,255,255,0) 12px);
    -moz-box-shadow: 0 -3px rgba(0,0,0,.1) inset;
    -webkit-box-shadow: 0 -3px rgba(0,0,0,.1) inset;
    margin-bottom: 1em;
    display: block;
}
.listview li {
    border-top: 1px solid #ccc;
    font-size: 1em;
}
.listview li:first-child {
    border: 0;
}
.listview li > a,
a.listview {
    padding: 14px 10px;
    color: #444;
    font-family: Georgia, serif;
    font-size: 1.1em;
    display: block;
    overflow: hidden;
    text-decoration: none;
    position: relative;
}
.listview .item > a,
.listview div.item {
    padding: 10px;
    font-size: 1em;
}
.listview li > a:before,
a.listview:before {
    content: " ";
    display: block;
    width: 10px;
    height: 16px;
    position: absolute;
    right: 10px;
    top: 50%;
    margin-top: -8px;
    background: url(../../img/zamboni/mobile/arrow.svg) no-repeat center center;
    background-size: cover;
}
.listview .icon {
    float: left;
    margin-right: 8px;
}

.listview .item {
    line-height: 1.3em;
}
.listview .item h3 {
    font-size: 1.1em;
}
.listview .item .desc {
    white-space: nowrap;
}
.listview .item details {
    overflow: hidden;
}

/************************************/
/*              SEARCH              */
/************************************/

#search {
    margin-bottom: 14px;
    display: -moz-box;
    display: -webkit-box;
    width: 100%;
}

#search input[type=search] {
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    height: 41px;
    border: 1px solid #ddd;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    margin: -1px 8px 0 0;
}

#search input[type=submit] {
    margin: 0;
    height: 45px;
    width: 56px;
    background-image: -moz-linear-gradient(#83c53c, #4f9c19);
    background-image: -webkit-linear-gradient(#83c53c, #4f9c19);
    border: 0;
    -webkit-box-shadow: 0 -3px rgba(0,0,0,.1) inset;
    -moz-box-shadow: 0 -3px rgba(0,0,0,.1) inset;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}

#sort-menu {
    display: -moz-box;
    display: -webkit-box;
    width: 100%;
    -moz-box-sizing: border-box;
    -moz-box-align: center;
}

#sort-menu span {
    display: block;
    margin-right: 4px;
}

#sort-menu select {
    height: 30px;
    display: block;
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
}

/************************************/
/*               TABS               */
/************************************/

.tabs {
    border-bottom: 1px solid #a2bbdc;
    height: 41px;
    font: 16px Georgia, serif;
    padding: 14px 14px 0;
    box-shadow: 0 -1px 1px rgba(0,0,0,.1) inset;
}
.tabs ul {
    display: -webkit-box;
    display: -moz-box;
    margin: 0px;
    width: 100%;
    z-index: 1;
}

.tabs ul li {
    -moz-box-flex: 1;
    -webkit-box-flex: 1;
    border: 0;
    -webkit-transition: .3s background ease;
    -moz-transition: .3s background ease;
}
.tabs a:-moz-focusring {
    outline: 0;
    border: 0;
}
.tabs ul li a {
    display: block;
    white-space: nowrap;
    text-align: center;
    color: #447bc4;
    padding: 11px 8px 11px 6px;
}
.tabs ul li.selected {
    background: white;
    box-shadow: 0 -1px 1px rgba(0,0,0,.1);
    border: 1px solid #a2bbdc;
    border-width: 1px 1px 0 1px;
    -moz-border-radius: 6px 6px 0 0;
    -webkit-border-radius: 6px 6px 0 0;
}
.tabs ul li.selected a {
    color: #444;
    padding: 11px 8px 11px 6px ;
}

.tab-pane {
    display: none;
}
.tab-pane.selected {
    display: block;
}
.slider {
    white-space:nowrap;
    position: relative;
    left: 0;
    -moz-transition: .3s left ease;
    -webkit-transition: .3s left ease;
}
.slider-mask {
    width: 100%;
    overflow: hidden;
}
.slider .tab-pane {
    vertical-align: top;
    width: 100%;
    display: inline-block;
}

/************************************/
/*           DETAILS PAGE           */
/************************************/

td .versions li {
    margin-bottom: 8px;
}

/************************************/
/*              REVIEWS             */
/************************************/

.stars {
    text-indent:-5000px;
    background-image: url(../../img/amo2009/icons/stars.png);
    background-position: 0 50%;
    background-repeat: no-repeat;
    margin-right: 0.5em;
    width: 63px;
    display: block;
}
.stars-4 {
    background-position: -13px 50%;
}
.stars-3 {
    background-position: -26px 50%;
}
.stars-2 {
    background-position: -39px 50%;
}
.stars-1 {
    background-position: -52px 50%;
}
.stars-0 {
    background-position: -65px 50%;
}

/************************************/
/*              CAROUSEL            */
/************************************/

.carousel {
    height: 100px;
    overflow: hidden;
}

.carousel li {
    display: inline-block;
}

/************************************/
/*              FOOTER              */
/************************************/

footer:before {
    content: " ";
    display: block;
    position: absolute;
    top: -30px;
    left: 0;
    width: 100%;
    height: 30px;
    box-shadow: 0 -2px rgba(0,0,0,.1) inset;
}
footer {
    font-family: "Droid Sans", sans-serif;
    font-size: 1em;
    color: white;
    margin-top: 30px;
    padding: 14px;
    position: relative;
    min-height: 200px;
    box-shadow: 0 2px rgba(0,0,0,.1) inset;
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAABCAYAAAASC7TOAAAAFElEQVQIHWO0DZ3xnwELYOXgYwAAOHwCRjqu6SgAAAAASUVORK5CYII=');
}
footer select {
    margin-top: 4px;
    display: block;
    border-radius: 6px;
    width: 100%;
    height: 30px;
}
