// Colors
$bg = #eff1f3;
$bg-gray = #f8f8f8;
$black = #000;
$blue = #258;
$border-black = rgba(#000, .2);
$border-blue = #C9DDF2;
$border-gray = #ddd;
$dark-gray = #333;
$dumpy-brown = #A49460;
$error-red = #C00000;
$faint-blue = #ECF5FE;
$faint-gray = #eee;
$gray = #888;
$green = #093;
$inset-blue = rgba(152,178,201,.3);
$light-gray = #ccc;
$light-green = #4b0;
$link = #447BC4;
$maroon = #800;
$medium-gray = #666;
$mobileborder = #d7d2c3;
$note-gray = #999;
$notice-yellow = #FAF2BD;
$orange = #e60;
$reviewer-header-purple = #563C4B;
$red = #C63717;
$shadow-blue = #98B2C9;
$tab-stripe = #f7f5f3;
$tab-taupe = #efede8;
$taupe = rgb(215,210,195);
$teal = #5875A0;
$text = #424f5a;
$white = #fff;

$border-taupe = darken($taupe, 10%);
$faded-blue = rgba($border-blue,.1);
$faded-taupe = rgba($taupe,.1);

// Button Colors
$button-green-light = #81bc2e;
$button-green-dark = #659324;
$button-red-light = #da5132;
$button-red-dark = #a91300;


// Font Stacks
$open-stack = "Feura Sans", FeuraSansWeb, "Open Sans", "Helvetica Neue", Arial, sans-serif;


transform($tform) {
    -webkit-transform: $tform;
    -moz-transform: $tform;
    -ms-transform: $tform;
    transform: $tform;
}

transition($property) {
    -moz-transition: $property;
    -webkit-transition: $property;
    transition: $property;
}

border-box() {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

ellipsis() {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

gradient-two-color($color1, $color2) {
    background-color: $color2;
    background-image: -webkit-gradient(linear, left bottom, left top, from($color1), to($color2));
    background-image: linear-gradient($color1, $color2);
    background-image: -moz-linear-gradient($color1, $color2);
    background-image: -webkit-linear-gradient($color1, $color2);
}
