<div class="barometer">
  <form method="post" class="upvote" action="{{ up_action }}" data-no-csrf>
    <input class="{{ up_class }}" value="{{ c.upvotes }}" type="submit"
           title="{{ up_title }}">
  </form>
  <form method="post" class="downvote" action="{{ down_action }}" data-no-csrf>
    <input class="{{ down_class }}" value="{{ c.downvotes }}" type="submit"
           title="{{ down_title }}">
  </form>
  {# L10n: Link to remove a collection vote #}
  {% if user.is_anonymous() %}
    <div class="collection-rate-dropdown install-note">
      <div class="collection-rate-login">
        <p>
          {{ _('To rate collections, you must have an add-ons account.') }}
        </p>
        <p class="register-button">
          <a class="button" href="{{ register_link() }}">{{ _('Create an Add-ons Account') }}</a>
        </p>
        <p>
          {% trans login=login_link() %}
            or <a href="{{ login }}">log in to your current account</a>
          {% endtrans %}
        </p>
      </div>
    </div>
  {% endif %}
</div>
