<ul class="listing-grid c {{ columns }}">
{% for page in pages %}
  {% set first_page = loop.first %}
  <section>
  {% for collection in page %}
    <li>
      <div class="hovercard collection addon">
        <a href="{{ collection.get_url_path() }}">
          <div class="icon">
            {% if first_page %}
              <img src="{{ collection.icon_url }}" alt="">
            {% else %}
              <img data-defer-src="{{ collection.icon_url }}"  alt=""
                   src="{{ static('img/addon-icons/default-32.png') }}">
            {% endif %}
          </div>
          <div class="summary">
            <h3>{{ collection.name }}</h3>
            <p class="desc">{{ collection.description|striptags }}</p>
          </div>
        </a>
        <div class="more">
          {% set addons = collection.addon_count %}
          {% trans num=addons, addons=addons|numberfmt %}
            <span>{{ addons }}</span> add-on
          {% pluralize %}
            <span>{{ addons }}</span> add-ons
          {% endtrans %}
          &middot;
          {% set subscribers = collection.subscribers %}
          {% trans num=subscribers, followers=subscribers|numberfmt %}
            <span>{{ followers }}</span> follower
          {% pluralize %}
            <span>{{ followers }}</span> followers
          {% endtrans %}
        </div>
      </div>
    </li>
  {% endfor %}
  </section>
{% endfor %}
</ul>
