{% for c in collections %}
<div class="item">
  <div class="item-info">
    <ul>
      {% if field in ('created', 'updated') %}
        <li class="modified">
          {% if field == 'created' %}
            {# L10n: {0} is a date. #}
            {{ _('Added {0}')|format_html(c.created|date) }}
          {% elif field == 'updated' %}
            {# L10n: {0} is a date. #}
            {{ _('Updated {0}')|format_html(c.modified|date) }}
          {% endif %}
        </li>
      {% endif %}
    </ul>
    {{ collection_widgets(c, condensed=True) }}
  </div>
  <h3>
    <a href="{{ c.get_url_path() }}">
      <img class="icon" src="{{ c.icon_url }}" alt="">
      {{ c.name }}
    </a>
    <span>
      {% if c.type == amo.ADDON_PERSONA %}
        {{ users_list(c.persona.listed_authors) or c.persona.display_username }}
      {% else %}
        {{ _('by {0}')|format_html(c.author|user_link) }}
      {% endif %}
    </span>
  </h3>
  <blockquote>{{ c.description|no_links }}</blockquote>
</div>
{% endfor %}
