{% extends "base.html" %}

{% set c = collection %}

{% block title %}{{ page_title(_('{0} :: Collections')|format_html(c.name)) }}{% endblock %}

{% block bodyclass %}inverse{% endblock %}

{% block rss_feed %}
<link rel="alternate" type="application/rss+xml" title="RSS"
      href="{{ url('collections.detail.rss', c.author_username, c.slug) }}">
{% endblock %}

{% block content %}
  <hgroup>
    <h2 class="collection" data-collectionid="{{ collection.id }}">
      <img src="{{ c.icon_url }}" class="icon" alt="">
      <span>{{ c.name }}</span>
      {% if not c.listed %}
        <span class="private">{{ _('private') }}</span>
      {% endif %}
    </h2>
    {% if collection.author %}
    <h4 class='author'>
      {% trans users=users_list([collection.author]) %}
        by {{ users }}
      {% endtrans %}
    </h4>
    {% endif %}
  </hgroup>
<div class="primary">
  <div class="featured">
    <div class="featured-inner object-lead">
      <div class="meta">
        <ul>
          {% if c.listed %}
            <li>{{ barometer(collection) }}</li>
            <li class="followers">
              {% trans p=c.subscribers, num=c.subscribers|numberfmt %}
                <span>{{ num }}</span> follower {% pluralize %} <span>{{ num }}</span> followers
              {% endtrans %}
            </li>
          {% endif %}
          <li>{{ _('Updated {0}')|format_html(c.modified|date) }}</li>
        </ul>
      </div>
      <div class='object-details'>
        <h3>{{ _('About this Collection') }}</h3>
        {% if c.type == amo.COLLECTION_FAVORITES %}
          {{ favorites_description() }}
        {% elif c.description %}
          <p>{{ c.description|no_links }}</p>
        {% elif c.type == amo.COLLECTION_MOBILE %}
          <p>{{ _('Add-ons synced to my Mobile Firefox') }}</p>
        {% endif %}
        {% if c.type == amo.COLLECTION_FAVORITES and c.owned_by(user) %}
          <ul id="collection-favorites-opts">
            <li>
              <form method="post" action="{{ url('collections.edit_privacy', c.author_username, c.slug) }}">
                {% csrf_token %}
                <button type="submit">
                  {% if c.listed %}
                    {{ _('Make this Collection Private') }}
                  {% else %}
                    {{ _('Make this Collection Public') }}
                  {% endif %}
                </button>
              </form>
            </li>
          </ul>
        {% endif %}
        {{ collection_widgets(c) }}
        {% if request.check_ownership(c) %}
          <p class="highlight collection-admin">
            {{ _('More Options:') }}
              <a class="edit" href="{{ c.edit_url() }}">{{ _('Edit Collection') }}</a>
              {% if request.check_ownership(c, require_owner=True) %}
                <a class="delete" href="{{ c.delete_url() }}">{{ _('Delete Collection') }}</a>
              {% endif %}
          </p>
        {% endif %}
      </div>
    </div>
  </div>

  {% if c.all_personas %}
    <div class='collections-personas'>
      <h3>
        {% trans num=addons.paginator.count %}
          {{ num }} Theme in this Collection
        {% pluralize %}
          {{ num }} Themes in this Collection
        {% endtrans %}
      </h3>
      {{ persona_grid(addons.object_list) }}
    </div>
  {% else %}
    <div class="separated-listing">
      <h3>
        {% trans num=addons.paginator.count %}
          {{ num }} Add-on in this Collection
        {% pluralize %}
          {{ num }} Add-ons in this Collection
        {% endtrans %}
      </h3>
      <form class="item-sort go" data-no-csrf>
        <label for="sortby">{{ _('Sort by:') }}</label>
        <select id="sortby" name="{{ filter.key }}">
          {% for value, title in filter.opts %}
          <option value="{{ value }}"{% if value == filter.field %} selected{% endif %}>
            {{ title }}</option>
          {% endfor %}
        </select>
        <button type="submit">{{ _('Go') }}</button>
      </form>
      {{ addon_listing_items(addons.object_list, notes=notes.next(), src="collection") }}
    </div>
  {% endif %}
  {{ addons|paginator }}
</div> {# primary #}

<div class="secondary">
<div class="highlight">
  <h3>{{ _('What are Collections?') }}</h3>
  <p>{% trans %}
  Collections are groups of related add-ons that anyone can create and share.
  {% endtrans %}</p>
  <a class="more-info" href="{{ url('collections.list') }}">
    {{ _('Explore Collections') }}</a>
</div>

{% if tags %}
  <div>
    <h3>{{ _('Common Tags') }}</h3>
    <ul class="addon-tags">
      {% for tag in tags %}
        <li class="usertag">
          <a class="tagitem" href="{{ tag.get_url_path() }}">
            {{ tag.tag_text }}</a>
        </li>
      {% endfor %}
    </ul>
  </div>
{% endif %}

{% if author_collections %}
  <div>
    <h3>{{ _('More by this User') }}</h3>
    <ul class="addon-collections">
    {% for ac in author_collections %}
      <li><a class="collectionitem" href="{{ ac.get_url_path() }}">
        {{ ac.name }}</a></li>
    {% endfor %}
    </ul>
    <a class="more-info n" href="{{ url('collections.user', c.author.username) }}">
      {{ _('See all collections by this user') }}</a>
  </div>
{% endif %}

</div> {# secondary #}

{% endblock %}

{% macro favorites_description() %}
  {% if c.owned_by(user) %}
    {% if c.listed %}
      <p>{% trans %}
        Add-ons that you mark as favorites using the <b>Add to Favorites</b> feature appear
        below. This collection is currently <b>public</b>, which means everyone can see it. If
        you would like to hide it from public view, click the button below to make it
        private.
      {% endtrans %}</p>
    {% else %}
      <p>{% trans %}
        Add-ons that you mark as favorites using the <b>Add to Favorites</b> feature appear below.
        This collection is currently <b>private</b>, which means only you can see it. If you would
        like everyone to be able to see your favorites, click the button below to make it public.
      {% endtrans %}</p>
    {% endif %}
  {% else %} {# owned-by #}
    {% if c.description %}
      <p>{{ c.description|no_links }}</p>
    {% else %}
      <p>{{ _('My favorite add-ons') }}</p>
    {% endif %}
  {% endif %}
{% endmacro %}
