{% extends "base.html" %}
{% block title %}
{# L10n: %s is the name of the collection. #}
{{ page_title(_('Delete {0}')|format_html(collection.name)) }}
{% endblock %}

{% block content %}

  <header>
    <h2>{{ _('Delete {0}')|format_html(collection.name) }}</h2>
    <h3>{{ _('Are you sure?') }}</h3>
  </header>

  <form method="post" action="{{ url('collections.delete', username, slug) }}">
    {% csrf_token %}
    <button name="sure" value="1">{{ _('Yes') }}</button>
    <button name="sure" value="0">{{ _('No') }}</button>
  </form>

{% endblock %}
