{% macro user_row(user, role) %}
<tr>
  <td>
    {{ user.username }}
  </td>
  <td>
    {{ user.email }}
  </td>
  <td class="contributor" {% if role == _('Owner') %}colspan="2"{% endif %}>
    {{ role }}

    {% if role != _('Owner') %}
    <input type="hidden" name="contributor" value="{{ user.email }}">
    <span><a class="make-owner" href="#">{{ _('Make Owner') }}</a></span>
    {% endif %}
  </td>
  {% if role != _('Owner') %}
  <td class="remove"><a title="{{ _('Remove this user as a contributor') }}" class="remove">{{ _('Remove') }}</a></td>
  {% endif %}
</tr>
{% endmacro %}

<div class="content">
  <h3>{{ _('Collection Contributors') }}</h3>
  <p>
  {% trans %}
    You can add multiple contributors to this collection. A contributor can
    add and remove add-ons from this collection, but cannot change its name or
    description. To add a contributor, enter their email in the box below.
    Contributors must have a Mozilla Add-ons account.
  {% endtrans %}
  </p>
</div>

{{ csrf_input }}
<fieldset>
  <table id="contributors-list">
    <thead>
      <tr>
        <th>{{ _('User') }}</th>
        <th>{{ _('Email') }}</th>
        <th>{{ _('Role') }}</th>
        <th>{{ _('Remove') }}</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td colspan="4" class="input">
          <input id="contributor-ac" class="long placeholder" data-src="{{ url('users.ajax') }}"
                 data-owner="{{ collection.author_id }}"
                 placeholder="{{ _('Enter the email address of the contributor to add') }}" />
          <button id="contributor-ac-button">
            {{ _('Add Contributor') }}
          </button>
          <div id="contributor-ac-error"></div>
        </td>
      </tr>
      {{ user_row(collection.author, _('Owner')) }}
      {% for user in collection.users.all() %}
        {{ user_row(user, _('Contributor')) }}
      {% endfor %}
    </tbody>
  </table>
</fieldset>

{% if is_admin %}
  <fieldset>
    <h3>{{ _('Admin Settings') }}</h3>
    {{ admin_form.as_p() }}
  </fieldset>
{% endif %}

<div class="hidden">
  <div id="change-owner" class="popup warning left">
    <p class="msg">
      {% trans %}
        <b>Warning:</b> By changing the owner of this collection, you
        will no longer be able to edit it. You will only be able to
        add and remove add-ons from it.
      {% endtrans %}
    </p>
    <p class="register-button">
      <a class="button" id="change-owner-submit" href="#">{{ _('Continue') }}</a>
      {% trans %}
        or <a id="change-owner-cancel" href="#">Cancel</a>
      {% endtrans %}
    </p>
  </div>
</div>
