{% extends "base.html" %}

{% block title %}
{# L10n: {0} is the name of the collection. #}
{{ page_title(_('Edit {0}')|format_html(collection.name)) }}
{% endblock %}
{% set owner = (collection.owned_by(user) or is_admin) %}

{% block content %}
  <div class="secondary">
    {% include 'bandwagon/includes/collection_sidebar.html' %}
  </div>
  <div class="primary">
    <header>
      <h2>{{ _('Edit {0}')|format_html(collection.name) }}</h2>
    </header>

    <div id="a" class="tab-wrapper">
      <ul class="tab-nav">
        {% if owner %}
        <li>
          <a href="#details-edit">
            {{ _('Description') }}</a>
        </li>
        {% endif %}
        <li>
          <a href="#addons-edit">
            {{ _('Add-ons') }}</a>
        </li>
      </ul>

    {% if owner and form %}
      {% include 'bandwagon/includes/addedit_errors.html' %}
    {% endif %}

    {% if owner %}
      <div class="tab_panel tab-panel tab-selected" id="details-edit">
        <form method="post" action="{{ url('collections.edit', username, slug) }}"
              enctype="multipart/form-data">
          {% include 'bandwagon/includes/addedit.html' %}
          <div class="listing-footer">
            <input type="submit" value="{{ _('Save Changes') }}">
            {% include 'bandwagon/includes/delete.html' %}
          </div>
        </form>
      </div>
    {% endif %}

      <div class="tab_panel tab-panel tab-selected" id="addons-edit">
        <form method="post"
              action="{{ url('collections.edit_addons', username, slug) }}">
        {{ csrf_input }}
        {% include 'bandwagon/includes/addon_selector.html' %}
        <div class="listing-footer">
          <input type="submit" value="{{ _('Save Changes') }}">
          {% if owner %}
            {% include 'bandwagon/includes/delete.html' %}
          {% endif %}
        </div>

        </form>
      </div>

    </div>
  </div> {# primary #}
{% endblock %}
