{% set previews = [product.promo] if product.promo else product.all_previews %}
{% if previews %}
  {% set preview = previews[0].image_url if feature else
                   previews[0].thumbnail_url %}
{% endif %}
<a class="{{ classes }}" href="{{ product.get_url_path()|urlparams(src=data_attrs.src) }}" data-prefetch="1"
   {% for k, v in data_attrs.items() -%}
      data-{{ k }}="{{ v }}" {% endfor %}>
  <div class="img icon" style="background-image:url({{ product.get_icon_url(64) }})"></div>
  <div class="img preview" style="background-image:url({{ preview }})"></div>
  <h3>{{ product.name }}</h3>
  {% if product.listed_authors %}
    <em class="author">{{ product.listed_authors[0].name }}</em>
  {% endif %}
  <p class="price">{{ product.get_price() }}</p>
  {% if waffle.switch('ratings') %}
    <div class="rating">{{ product.average_rating|float|stars }}</div>
  {% endif %}
</a>
