{% set previews = [product.promo] if product.promo else product.all_previews %}
{% if previews %}
  {% set preview = previews[0].image_url if feature else
                   previews[0].thumbnail_url %}
{% endif %}
{% set tag = 'a' if link else 'div' %}
<{{ tag }} class="{{ classes }}"
  {% if link %}href="{{ product.get_url_path()|urlparams(src=data_attrs.src) }}"{% endif %}
  {% for k, v in data_attrs.items() %} data-{{ k }}="{{ v }}"{% endfor %}>
  <img class="icon" src="{{ product.get_icon_url(64) }}">
  <div class="info">
    <h3>{{ product.name }}</h3>
    {% if product.listed_authors %}
      <div class="author vital">{{ product.listed_authors[0].name }}</div>
    {% endif %}
    <div class="price vital">{{ product.get_price() }}</div>
    {% if waffle.switch('ratings') %}
      <div class="rating vital">{{ product.average_rating|float|stars }}</div>
    {% endif %}
  </div>
  {% if product.has_author(request.amo_user) %}
    {{ market_button(product, 'developer') }}
  {% else %}
    {{ market_button(product) }}
  {% endif %}
</{{ tag }}>
<div class="tray previews">
</div>
