{% set urls = [
  (url('mkt.stats.apps_count_new'), _('Apps added')),
  (url('mkt.stats.apps_count_installed'), _('Apps installed')),
  (url('mkt.stats.apps_review_count_new'), _('Reviews')),
  (url('mkt.stats.mmo_user_count_new'), _('New users')),
  (url('mkt.stats.mmo_user_count_total'), _('Total users')),
  (url('mkt.stats.mmo_total_visitors'), _('Total visitors')),
] %}

<section class="secondary">
  <div class="report-menu" id="side-nav">
    <ul>
      {% for link, title in urls %}
        <li{% if url_quote(request.path) == link %} class="selected active"{% endif %}>
          <a href="{{ link }}">{{ title }}</a></li>
      {% endfor %}
    </ul
  </div>
</section>
