{% extends "admin/change_form.html" %}
{% load admin_urls static django_vite %}
{% block admin_change_form_document_ready %}
{{ block.super }}
{% vite_asset 'js/blocklist_blocklistsubmission.js' %}
{% endblock %}

{% block submit_buttons_bottom %}
  <div class="submit-row">
    {% if has_delete_permission and change and show_delete %}
        {% url opts|admin_urlname:'delete' original.pk|admin_urlquote as delete_url %}
        <p class="deletelink-box"><a href="{% add_preserved_filters delete_url %}" class="deletelink">Delete</a></p>
    {% endif %}
    {% if can_change_object and change %}
        <input type="submit" value="Update" class="default" name="_save">
    {% endif %}
    {% if can_reject %}
      <input type="submit" value="Reject Submission" name="_reject">
    {% endif %}
    {% if can_approve %}
      <input type="submit" value="Approve Submission" name="_approve">
    {% endif %}
  </div>
{% endblock %}
