{% extends 'operators/base.html' %}

{% block title %}
  {{ operators_page_title(title=_('Preload Candidates')) }}
{% endblock %}

{% block content %}
  <h1>{{ _('Preload Candidates') }}</h1>

  <table class="preload-candidates data-grid">
    <thead>
     {% if preloads %}
        <tr>
          <th>{{ _('App') }}</th>
          <th>{{ _('Developer') }}</th>
          <th>{{ _('Category') }}</th>
          <th>{{ _('Preload Opt-in') }}</th>
          <th>{{ _('Test Plan') }}</th>
        </tr>
     {% endif %}
    </thead>
    <tbody>
      {% for preload in preloads %}
        <tr>
          <td>
            <a href="{{ preload.addon.get_detail_url() }}"><img src="{{ preload.addon.icon_url }}"></a>
            <h3><a href="{{ preload.addon.get_detail_url() }}">{{ preload.addon.name }}</a></h3>
            <p>{{ preload.addon.description|truncate(length=150) }}</p>
          </td>
          <td>
            {% if preload.addon.authors.exists() %}
              {{ emaillink(preload.addon.authors.all()[0].email) }}
            {% endif %}
          </td>
          <td>
            {% set cats = preload.addon.categories %}
            {% if cats.exists() %}
              {% set cats = cats.all() %}
              {% if cats.count() > 1 %}
                {# L10N: {0} and {1} are category names. #}
                {{ _('{0}, {1}')|f(cats[0], cats[1]) }}
              {% else %}
                {{ cats[0] }}
              {% endif %}
            {% endif %}
          </td>
          <td><time datetime="{{ preload.last_submission }}">{{ preload.last_submission|datetime }}</time></td>
          <td>
            <a href="{{ preload.preload_test_plan_url }}" download>
              {{ _('Download') }}
            </a>
          </td>
        </tr>
      {% else %}
        <h2>{{ _('No preload candidates found') }}</h2>
      {% endfor %}
    </tbody>
  </table>

  {{ preloads|impala_paginator }}
{% endblock %}
