{% extends "base.html" %}

{% block title %}
  {% if query %}
    {{ page_title(_('Collection Search Results for {0}')|f(query)) }}
  {% else %}
    {{ page_title(_('Collection Search Results')) }}
  {% endif %}
{% endblock %}

{% block content %}
<div class="primary" role="main">
  <header class="results-head">
    {{ breadcrumbs([(None, _('Search'))]) }}
    <h2>{{ _('Collection Search Results') }}</h2>
    <h3 class="results-count">{{ showing(query, tag, pager) }}</h3>
  </header>
  <div class="featured listing">
    {% if pager.object_list %}
      <div class="featured-inner">
        <div class="listing-header">
          <form class="item-sort go" action="">
            <div>
              {{ form['q']|safe }}
              {{ form['cat']|safe }}
              {{ form['pp']|safe }}
              <label for="id_sortby">
                {{ form['sortby'].label }}
              </label>
              {{ form['sortby']|safe }}
            </div>
          </form>
        </div>
        {% if settings.NEW_COLLECTIONS %}
          {{ collection_listing_items(pager.object_list,
                                      show_date=opts.sort) }}
        {% else %}
        {% for c in pager.object_list %}
          <div class="item">
            <div class="item-info">
              <ul>
                <li class="addons">
                  {{ _('<strong>{0}</strong> add-ons')|f(c.addon_count)|safe }}
                </li>
                <li class="subscribers">
                  {{ _('<strong>{0}</strong> subscribers')|f(c.subscribers)|safe }}
                </li>
                <li>
                  {{ barometer(c) }}
                </li>
                {% if request.user.is_authenticated() %}
                  <li>
                    {{ collection_favorite(c) }}
                  </li>
                {% endif %}
              </ul>
            </div> {# /item-info #}
            <h3>
              <a href="{{ c.get_url_path() }}">{{ c.name }}</a>
              <span>{{ _('created by {0}')|f(c.author|user_link)|safe }}</span>
              <a href="{{ c.get_url_path() }}">
                <img class="icon" alt="" src="{{ c.icon_url }}">
              </a>
            </h3>
            <blockquote>{{ c.description|nl2br }}</blockquote>
          </div>
        {% endfor %}
        {% endif %}
      </div>
      <div class="listing-footer">{{ pager|paginator }}</div>
    {% else %}
      {% include 'search/no_results.html' %}
    {% endif %}
  </div>
</div> {# /primary #}

<div class="secondary" role="complementary">
  {% include 'bandwagon/includes/collection_sidebar.html' %}
</div>

{% endblock %}
