#add {
    font-weight: bold;
}

table {
    width: 100%;
}

th {
    color: #888;
}

#features {
    border: 1px solid #666;
    border-width: 1px 0;
}

#features tr:not(:last-child) {
    border-bottom: 1px dotted #aaa;
}

#features td:last-child {
    vertical-align: middle;
}

#features td.app {
    background-position: 0 5px;
    background-size: auto 24px;
    font-weight: bold;
    line-height: 24px;
    min-height: 24px;
    padding-left: 35px;
    vertical-align: top;
}

#features td.collection {
    width: 40%;
}

#features .replace {
    display: block;
    font-size: 0.8em;
    padding-left: 22px;
}

#features .replace:link,
#features .replace:visited {
    color: #666;
}

#features input.collection-ac {
    width: 16em;
}

#features .loading {
    background: url(../../img/zamboni/loading-white.gif) 50% 50% no-repeat;
}

#features .collectionitem {
    background: url(../../img/icons/icons.png) 0 -300px no-repeat;
    display: inline-block;
    padding-left: 22px;
}

#features .collectionitem.personas-collection {
    background: url(../../img/illustrations/themes.gif) no-repeat;
    background-size: 18px;
}

.ui-autocomplete a b {
    color: #999;
    display: block;
    font-size: 10px;
}

#features a.remove {
    border-radius: 20px;
    background-color: #ddd;
    color: #fff;
    display: inline-block;
    float: right;
    font-size: 14px;
    font-weight: bold;
    height: 18px;
    line-height: 16px;
    text-align: center;
    text-decoration: none;
    width: 18px;
}

#features tr:hover a.remove {
    background-color: #ccc;
}

#features tr:hover a.remove:hover {
    background-color: #2a4364;
}

a.remove {
    margin-left: 10px;
    text-indent: -99999px;
    width: 22px;
    height: 22px;
    background: #999 url(../../img/impala/header-icons.png) no-repeat -1px -26px;
    border-radius: 50%;
}
a.remove:last-child {
    margin-right: 10px;
}
li.ui-menu-item .ui-corner-all.ui-state-hover {
    border: 0;
}
ul.ui-autocomplete {
    border-radius: 5px;
}
#ui-datepicker-div {
    display: none;
}
.ui-datepicker .ui-datepicker-header {
    height: 25px;
}
.localepicker {
    height: 150px;
}
