/* Styling for zamboni's admin. */

/* Make the admin wide */
.section {
    width: auto;
    max-width: 90%;
}

/* Cycle table row backgrounds. */
table tr {
    background: #ecf7fb;
}

table tr:nth-child(odd) {
    background: #d9eff6;
}

#masthead h1 a {
    text-decoration: none;
}

.amo-header {
    min-height: 50px;
}

.header-search {
    display: none;
}

#header #title a {
    color: #d64203;
}

#title {
    margin: 1.5em 0 .9em;
}

/* Django does weird things to align forms and the transbox looks off.  This
 * makes it look ok.
.trans {
    float: left;
}
*/

/* Override the Django body.login background. */
html body.login {
    background: inherit;
}

/* Remove fieldset styling on the admin. */
fieldset {
    padding: 0;
}

.footerlogo {
    display: none;
}

#admin-validation form label,
#admin-validation form span {
    display: block;
    float: left;
}
#admin-validation form label {
    padding: 0 1em;
    width: 10em;
}
#admin-validation form #label-application {
    width: 5em;
}
#admin-validation form #elem-application {
    width: 8em;
}
#admin-validation form #label-target_version {
    width: 7em;
}
#admin-validation form #elem-finish_email,
#admin-validation form #elem-finish_email input {
    width: 13em;
}
#admin-validation form span {
    width: 14em;
}
#admin-validation form .form-row {
    clear: both;
    height: 2.5em;
}
#admin-validation .errorlist li {
    list-style: disc;
    margin-left: 2em;
}
#admin-validation .errorlist li li {
    list-style: none;
    margin-left: 1em;
}
#admin-validation .errorlist ul {
    margin-bottom: 1em;
}
#admin-validation .errorlist ul ul {
    margin: 0;
}
.validation-intro {
    padding: 0.5em;
}
.validation-intro p, .validation-intro ul {
    margin-bottom: 0;
}
.validation-intro ul li {
    list-style: disc;
    margin-left: 2em;
}
div.popup input[type="text"] {
    width: 588px;
}

.job-status {
    color: #777777;
    font-size: 11px;
    margin-top: 4px;
}

.job-status-bar {
    background-color: #F2F2F2;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    height: 13px;
    border: 1px solid #3D6DB5;
}

.job-status-bar div {
    background-color: #8BC5FA;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    width: 0%;
    height: 13px;
}

a.headerlink {
    color: #ccc;
    font-size: 1.1em;
    margin-left: 6px;
    padding: 0 4px 0 4px;
    text-decoration: none;
    border: none;
    visibility: hidden;
    font-style: none;
}
a.headerlink:hover {
    color: #c60f0f;
    border: none;
}
:-moz-any(h1,h2,h3,h4,h5,h6):hover a.headerlink {
  visibility: visible;
}


#content {
    display: table;
}

#content.colM, #content.flex {
    display: block;
}

section {
    display: table-cell;
}

section dl {
    -moz-column-count: 3;
}

aside {
    padding-left: 3em;
    display: table-cell;
}

fieldset.module {
    border: 0;
}

.form-row {
    margin: 12px 0;
}

/* Fix yes/no images for Firefox or fix the django image path (hah!). */
#changelist-form #result_list td img[alt=False]:after,
#changelist-form #result_list td img[alt=True]:after {
    background: #fff url(../../img/admin/icon-no.gif) no-repeat center center;
    content: "";
    position: absolute;
    float: right;
    width: 31px;
    height: 18px;
    margin-left: -26px;
}
#changelist-form #result_list .row1 td img[alt=False]:after,
#changelist-form #result_list .row1 td img[alt=True]:after {
    background-color: #D9EFF6;
}
#changelist-form #result_list td img[alt=True]:after {
    background-image: url(../../img/admin/icon-yes.gif);
    width: 35px;
}
#changelist-form #result_list td img[alt=True],
#changelist-form #result_list td img[alt=False] {
    background: url(../../img/admin/icon-no.gif) no-repeat center center;
    /* Webkit hack...if the icon width is less than the broken image icon. */
    width: 15px;
    height: 18px;
}
#changelist-form #result_list td img[alt=True] {
    background: url(../../img/admin/icon-yes.gif) no-repeat center center;
}
#result_list thead tr th.action-checkbox-column {
    min-width: auto;
}
