/*clearfix*/
.brform:after,
#status-bar:after,
#addon-validator-suite .tiers:after,
form.select-review:after,
form .char-count:after,
#addon-compat-upload:after {
    content: ".";
    display: block;
    clear: both;
    height: 0;
    visibility: hidden;
}
/* @group Edit addon */
#edit-addon .edit-addon-section {
    margin-bottom:3em;
    width: 100%;
    overflow: hidden;
    word-wrap: break-word;
    word-break: break-all;
}

#edit-addon h3 a {
    font-size: 11px;
    font-style: normal;
    position: relative;
    top: -3px;
    left: 3px;
}

#edit-addon h3 {
    margin-top: 0;
}

.save-badge {
    background: #41B300;
    border-radius: 1em;
    color: #fff;
    font-family: helvetica, arial, sans-serif;
    font-size: 10px;
    font-style: normal;
    font-weight: bold;
    margin-left: 0.5em;
    padding: 0.375em 1em;
    -moz-transition-property: opacity;
    -moz-transition-duration: 1s;
}

#version-status .version-changed {
    float: right;
    color: #888888;
}

#setup h3,
#marketplace-confirm h3,
.addon-submission-process > h3,
.developer-hub .primary > h3 {
    margin-top: 0;
    padding-top: 0;
}



ul.refinements:last-child {
    border-bottom-width: 0;
    margin-bottom: 0;
    padding-bottom: 0;
}

#trans-tags input,
#trans-name input,
#id_contributions {
    width: 80%;
}

#submit-describe #trans-name,
#submit-describe #trans-support_email,
#submit-describe #trans-support_url {
    display: inline-block;
    margin-right: 8px;
    vertical-align: bottom;
}

#submit-describe #trans-name input,
#submit-describe #trans-support_email input,
#submit-describe #trans-support_url input {
    width: 370px;
}

/*#id_homepage, #id_support_url, #id_support_email {*/
#trans-support_email input,
#trans-homepage input,
#trans-support_url input {
    width: 60%;
}

#slug_edit span, #id_slug {
  font-family: Verdana !important;
  /** This is so they match up size-wise **/
}

#slug_edit a {
    font-size: 10px;
}

#addon_tags_edit input {
    width: 80%;
}

form .char-count,
.html-rtl form .edit-addon-details .char-count {
    float: left;
}
.html-rtl form .char-count,
form .edit-addon-details .char-count {
    float: right;
}

form .char-count {
    font-size: 0.9em;
}
form .edit-addon-details .char-count,
form .edit-addon-details .html-support {
    font-size: 1em;
}

form .char-count.error,
form .char-count.error b {
    color: #c00;
    margin-bottom: 0;
}

form .char-count b,
span.locale,
span.hint,
.devhub-form label {
    font-weight: normal;
}
.devhub-form th label {
    font-weight: bold;
    display: inline;
}

form .char-count,
span.locale,
span.hint {
    color: #888;
}

span.locale,
span.hint {
    display: block;
    font-size: .9em;
    line-height: 1;
    margin-top: 2px;
}

label.above-the-field .locale {
    display: inline;
    margin-left: 0.5em;
}

/*
Bug 622030- TODO (potch) fix this later

#addon-description,
#developer_comments {
    max-height: 6.4em;
    overflow: hidden;
}
*/

table .prose {
    margin: 0;
    overflow: hidden;
}

.edit-addon-details,
.edit-media-details {
    padding-top: 3px;
    font-size: 0.9em;
}

.edit-addon-details,
form .char-count b {
    color: #555;
}

.edit-media-details {
    padding-bottom: 5px;
    color: #444;
}

.edit-media-details .tip {
    font-size: 12px;
    height: 16px;
    width: 16px;
}

/* @group Add-on category selection */

.addon-app-cats {
    margin: 0 0 1.5em;
}

#edit-addon-basic p {
    margin: 0;
}

#edit-addon-basic .addon-app-cats {
    border-top: 1px dotted #add0dc;
    margin: 8px 0 0;
    padding-top: 8px;
}
#edit-addon-basic input + .addon-app-cats,
#edit-addon-basic p.addon-app-cats:first-child {
    border-top-width: 0;
    margin-top: 0;
    padding-top: 0;
}

.addon-categories {
    -moz-column-count: 3;
    -webkit-column-count: 3;
    column-count: 3;
    -moz-column-gap: 1.5em;
    -webkit-column-gap: 1.5em;
    column-gap: 1.5em;
    margin-bottom: 0.5em;
}

#addon-categories-edit .addon-categories {
    -moz-column-count: 2;
    -webkit-column-count: 2;
    column-count: 2;
}

.addon-misc-category,
.addon-app-cats-inline {
    margin: 0;
}

.addon-categories label,
.addon-misc-category label {
    font-weight: normal;
}

.addon-app-cats-inline li b {
    margin-right: 0.25em;
}

/* @end */

.edit-previews-submit #file-list {
    margin-bottom: 5px;
}

#file-list .preview {
    overflow: auto;
    margin-bottom: 15px;
    padding-bottom: 15px;
    border-bottom: 1px dotted #ADD0DC;
    background-color: #fff;
}

#file-list > div:last-child {
    display: none;
}

#file-list .preview .preview-delete {
    margin-right: 1.6em;
    text-align: right;
}

.html-rtl #file-list .preview .preview-delete {
    margin-right: 0;
}

#file-list .preview .preview_extra {
    display: none;
}

#file-list .preview label {
    color: #666666;
    display: block;
    font-size: 0.9em;
    font-weight: bold;
    padding-bottom: 0;
}

#file-list .preview textarea {
    font-size: 0.9em;
    height: 59px;
    line-height: 1.1em;
    width: 356px;
}

#file-list .preview .edit-previews-text {
    float: left;
}

.edit-previews-submit {
    border: 1px solid #C9E8F3;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    margin-top: 10px;
    padding: 15px;
}

.preview-thumb, .preview-error {
    -moz-background-size: contain;
    -webkit-background-size: contain;
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    border: 3px solid #D2EDF5;
    float: left;
    height: 94px;
    margin-right: 15px;
    width: 125px;
}

.preview-error {
    background: #040204 url("../../img/zamboni/loading.gif") no-repeat center center;
    opacity: 0.5;
}

.preview-thumb.error-loading {
    border-color: #C63717;
    opacity: 0.5;
}

.edit-previews-readonly .preview-thumb {
    margin-right: 10px;
}

.addon-submission-process table td {
    border-bottom: 1px dotted #A4CFDE;
    padding-bottom: 15px;
    padding-top: 15px;
}

.addon-submission-process #submit-media,
.addon-submission-process #submit-media .item {
    margin-top: 0;
}

#submit-media > p {
    margin: 0;
}

#icons_default {
    border: 1px solid #6A89AC;
    max-height: 100px;
    overflow-x: hidden;
    overflow-y: scroll;
    padding: 5px;
    background-color: #fff;
}

#icon_preview_readonly img {
    margin-right: 20px;
}

#icons_default label {
    display: none;
}

#icons_default li {
    display: inline-block;
}

#icons_default li.hide {
    display: none;
}

#icons_default li a {
    padding:8px;
    display:block;
    -moz-border-radius: 3px;
}

#icons_default li a:hover {
    background-color:#eee;
}

#icons_default li a img {
    display: block;
}

#icons_default li a.active {
    border: 1px solid #CADBFA;
    background-color: #E8F0FD;
    padding: 7px;
}

/* @end */

.addon-submission-process form div.addon-submission-field {
    margin-bottom: 1em;
}

.clear-info-request label {
    font-weight: normal;
}

.clear-info-request blockquote {
    font-style: italic;
}

.clear-info-request blockquote p {
    margin-bottom: 0;
}

.clear-info-request input[type="checkbox"] {
    margin-left: 0;

}

form.new-addon-file label,
#edit-addon-basic .addon-app-cats label {
    display: block;
    padding-bottom: 3px;
}
form.new-addon-file label[for=id_is_sideload] {
    display: none;
    margin-left: 20px;
}
.submit-license input[type=checkbox] + label {
    display: inline;
    padding-bottom: 0;
}

.addon-submission-process #id_name {
    width: 300px;
    display: inline-block;
    margin-right: 10px;
}

.addon-submission-process {
    padding-top: 1em;
}

/* @group Ownership */
#author_list .email-autocomplete {
    width: 220px;
    padding-right:20px;
}
#author_list {
    padding-top: 4px;
}
#author_list li {
    padding: 8px 0;
    border-bottom: 1px dotted #ADD0DC;
}
#author_list .blank {
    border: 0;
}
#author_list li > label,
#author_list li > input,
#author_list li > select {
    margin-right: .5em;
}
#author_list .handle,
#file-list .handle {
    width: 20px;
    height: 16px;
    display: inline-block;
    cursor: move;
    background: url(../../img/zamboni/icons/icon-draggable.png) no-repeat 0 center;
}
#file-list .handle {
    display: block;
    float: left;
}
#author_list .blank * {
    display: none;
}
#author_list .blank .email-autocomplete {
    display: inline;
    margin-left: 23px;
}
.author .errorlist {
    display: none;
}
input.formerror {
    border-color: #c00;
}
input.invalid {
    background: url(../../img/zamboni/notifications.png) no-repeat 229px -160px;
}
input.valid {
    background: url(../../img/zamboni/notifications.png) no-repeat 226px -367px;
}
.license-other input {
    margin-bottom: 1em;
}
.devhub-form .priv label,
.devhub-form .eula label,
.devhub-form .license-other label {
    font-weight: bold;
    margin-bottom: .5em;
}
.devhub-form .priv,
.devhub-form .eula,
.devhub-form .license-other {
    margin: 16px 0 0 32px;
}
.eula label,
.priv label {
    font-weight: bold;
}
#author-roles-help {
    display: none;
}
#what-are-roles {
    display: block;
    font-size: .9em;
    font-weight: normal;
}
/* @end */

/* @group Payments */
.payments .intro {
    background-color: #FFFFFF;
    border: 1px solid #C9E8F3;
    padding: 1em;
    width: 300px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    display: inline-block;
    vertical-align: top;
}
.payments .full-intro {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
}
.payments .intro ul {
    list-style-type: disc;
    padding: 0 0 1em 1em;
    border-bottom: 1px dotted #ADD0DC;
}
.html-rtl .payments .intro ul {
    padding: 0 1em 1em 0;
}
.payments .intro h3 {
    margin-top: 0;
}
.payments .intro ul,
.payments .intro p {
    font-size: 12px;
    line-height: 16px;
    margin-bottom: 1em;
}
.payments .intro ul li + li {
    margin-top: .5em;
}
.payments .intro p.error {
    margin: 0;
}
.payments .intro .button-wrapper,
.payments .learn-more {
    text-align: center;
}
.payments .indent {
    padding-left: 2em;
}
.devhub-form .brform label,
.devhub-form .b {
    font-weight: 500;
}
.brform > label,
.brform > input,
.brform > div,
.brform > ul {
    display: block;
}
.payments form > div {
    margin-bottom: 2em;
}
.extra {
    font-size: .9em;
    line-height: 1.4em;
}
a.extra {
    margin-left: .5em;
}
#status-bar form {
    float: right;
    margin: 0;
    padding: 0;
    font-size: .9em;
    font-weight: 500;
}
#status-bar p {
    float: left;
    margin: 0;
    padding: 0;
}
#status-bar p span {
    font-size: 0.9em;
}
#status-bar {
    padding: .5em 1em;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    margin-bottom: 2em;
    background: #fff;
    border: 1px solid #C9E8F3;
}
/* @end */


/* @group Versions */

#version-status > div {
    border-top: 1px dotted #ADD0DC;
    margin: 0 10px;
    padding: 10px 0;
}

#version-status > div:first-child {
    border-top: 0;
}

#version-status strong {
    display: block;
}

#version-status .version-changed {
    color: #AAA;
    display: block;
    font-size: 11px;
}

#version-list table {
    width: 100%;
}

#version-list table th {
    color: #888;
    font-size: 11px;
    padding: 0 0 5px 0;
}

#version-list table th.version-delete {
    width: 35px;
}

#version-list table .version-delete {
    text-align: right;
}

#version-list .version-delete .remove {
    float: none;
    margin: 0;
}

b.review-history-pending-count {
    background-color: #000;
    border-radius: 5px;
    padding: 0 0.3em;
    color: #FFF;
}

div.history-container {
    margin: 0em 1em;
}

div.review-entry {
    padding: 0.5em 1em;
    margin-bottom: 0.25em;
}

div.review-entry.new {
    background-color: #FFFFD5;
}

div.review-entry p {
    color: #999;
    margin-bottom: 0px;
}

div.review-entry pre {
    white-space: pre-wrap;
    max-width: 650px;
    word-wrap: break-word;
    margin-bottom: 0px;
}

div.dev-review-reply {
    margin: 0em 1em;
}

div.dev-review-reply textarea {
    border-color: #999;
    border-radius: 3px;
    margin: 0.5em 0em;
}

div.dev-review-reply button {
    float: right;
}

.status-lite-nom i,
.status-nominated b,
.status-unreviewed b {
    font-style: normal;
    color: #3e7987;
}

.status-incomplete b,
.status-disabled b,
.status-admin-disabled b,
.status-purgatory b {
    color: #851006;
}

.status-approved b,
.status-lite b,
.status-lite-nom b {
    color: #329902;
}

#version-status-item b {
    font-weight: normal;
}

.version-status-actions {
    border-top: 1px dotted #ADD0DC;
    margin-top: 10px;
    padding-top: 5px;
}

.version-status-actions form {
    display: inline;
}

.version-status-actions button.link {
    font-weight: normal;
}

.version-status-actions .warning {
    font-weight: bold;
    color: #666;
    background: #fff0a6;
}

.delete-button:hover,
.delete-button {
    background: #c22;
    background: linear-gradient(#f77, #c22);
    background: -webkit-gradient(linear, left top, left bottom, from(#f77), to(#c22));
    border-color: #ad1212;
    text-shadow: 0 -1px #e00;
}
a.delete-button:hover,
a.delete-button {
    border: 1px solid #ad1212;
    -moz-border-radius: .95em;
    -webkit-border-radius: .95em;
    border-radius: .95em;
    -moz-box-shadow: inset 0 0 2px rgba(255,255,255,0.1);
    -webkit-box-shadow: inset 0 0 2px rgba(255,255,255,0.1);
    box-shadow: inset 0 0 2px rgba(255,255,255,0.1);
    color: #fff;
    display: inline-block;
    font-weight: bold;
    line-height: 1.538;
    padding: 0 .95em;
    text-decoration: none;
    text-shadow: 0 -1px 0 #e00;
}
a.delete-button:hover {
    -moz-box-shadow: inset 0 0 2px rgba(255,255,255,1);
    -webkit-box-shadow: inset 0 0 2px rgba(255,255,255,1);
    box-shadow: inset 0 0 2px rgba(255,255,255,1);
    color: #fff;
}

.email_comment {
    white-space: pre-wrap;
}

pre.email_comment {
    /* Override unwanted <pre> styles */
    margin-bottom: 0;
    color: inherit;
    font: inherit;
}

.modal p + .close,  /* Hide impala X buttons. */
#modals {
    display: none;
}

/* @end */

/* @group Upload Version */
.upload-file {
    padding: 20px;
}

#upload-file {
    margin: 0;
}

#upload-file h3 {
    margin-top: 0;
}

#upload-file > div, .modal-actions {
    margin-top: 1em;
}

#upload-file .upload-status {
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    border:1px solid #D2ECF5;
    margin-bottom: 1em;
    padding: 10px;
}

#upload-file .upload-status div {
    margin-top: 1em;
    line-height: 1em;
}

#upload-file .upload-details {
    font-size: 11px;
    color: #999;
    margin: 0 0 10px;
}

#upload-file .upload-status div:first-child {
    margin-top: 0;
}

#upload-file .upload-status #upload-status-results strong {
    display: block;
}

#upload-file p {
    margin-bottom: 1em;
}

#upload-file .admin-settings {
    margin-top: 1em;
}

#upload-status-bar {
    background-color: #F2F2F2;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    height: 20px;
}

#upload-status-bar.bar-fail {
    background-color: #D81916;
}

#upload-status-bar.bar-success {
    background-color: #325487;
}

#upload-status-bar div {
    background-color: #8BC5FA;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    width: 0%;
    height: 20px;
}

#upload-status-bar.progress-idle,
#upload-status-bar.progress-idle div {
    background-image: url('../../img/developers/progress.gif');
}

#upload-status-bar.progress-idle {
    background-position: 0 -26px;
}

#upload-status-results ul {
    font-size: 11px;
    line-height: 1.4em;
    list-style: disc inside none;
    margin: 0 0 0 24px;
    padding-top: 3px;
}

#upload-status-results {
    background-repeat: no-repeat;
    display: none;
}

#upload-status-results a.view-more {
    color: #359AFF;
    display: block;
    font-size: 12px;
    padding-left: 24px;
    padding-top: 5px;
}

#upload-status-results.status-fail,
#upload-status-results.status-pass {
    display: block;
}

#upload-status-results a.addons-linter-info {
    font-size: 0.8em;
    padding: 0px 0 10px 0;
    display: inline-block;
}

#upload-status-results strong {
    background-image: url("../../img/zamboni/icons/checks.png");
    background-repeat: no-repeat;
    padding: 2px 0 2px 24px;
}
.html-rtl #upload-status-results strong {
    padding: 2px 24px 2px 0;
}

#upload-status-results.status-fail strong {
    color: #D81916;
    background-position: 0 -120px;
}
.html-rtl #upload-status-results.status-fail strong {
    background-position: 100% -120px;
}

#upload-status-results.status-pass strong {
    color: #325487;
    background-position: 0 -80px;
}
.html-rtl #upload-status-results.status-pass strong {
    background-position: 100% -80px;
}

#upload-file .upload-status #uploadstatus {
    color: #777777;
    font-size: 11px;
    margin-top: 4px;
}

.platform-disabled {
    color: #777777;
}

#upload-file .submission-checklist {
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #F0B500;
}

#upload-file .submission-checklist h5 {
    line-height: 32px;
}

#upload-file .submission-checklist h5:before {
    background-image: url('../../img/developers/test-warning.png');
    width: 32px;
    height: 32px;
    margin-right: 10px;
    content: " ";
    display: inline-block;
    vertical-align: middle;
}
#upload-file .submission-checklist ul {
    margin-left: 0;
}
#upload-file .submission-checklist li {
    float: none;
}
#upload-file .submission-checklist a.review-process-overview {
    font-style: italic;
    display: block;
    margin-top: 10px;
}

#upload-file .important-warning {
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #F0B500;
}

#upload-file .important-warning h5 {
    line-height: 32px;
}

#upload-file .important-warning h5:before {
    background-image: url('../../img/developers/test-warning-important.png');
    width: 32px;
    height: 32px;
    margin-right: 10px;
    content: " ";
    display: inline-block;
    vertical-align: middle;
}
#upload-file .important-warning a.review-process-overview {
    display: block;
    margin-top: 10px;
}


/* @end */

/* @group Recent Activity */
.secondary-feed {
    padding: 1em 0 0 1em;
}
.secondary-feed .subscribe {
    padding: 2px 0 0 24px;
}

#recent-activity .listing .item img.icon {
    top: 1em;
}

#recent-activity .listing .item p {
    padding-left: 7px;
}

.listing .item .action {
    background: url(../../img/zamboni/icons/feed-icons.png) no-repeat;
    display: block;
    float: left;
    margin-top: 3px;
    height: 32px;
    width: 23px;
}
.listing .item .action.action-review     { background-position: 0 -32px; }
.listing .item .action.action-tag        { background-position: 0 -64px; }
.listing .item .action.action-collection { background-position: 0 -96px; }
.listing .item .action.action-edit       { background-position: 0 -128px; }
.listing .item .action.action-add        { background-position: 0 -160px; }
.listing .item .action.action-delete     { background-position: 0 -192px; }
.listing .item .action.action-approve    { background-position: 0 -224px; }
.listing .item .action.action-reject     { background-position: 0 -256px; }

#recent-activity .listing .item .timestamp {
    color: #555;
    font-size: 0.9em;
}

/* @end */

/* @group Header and main navigation bar */
.section {
    max-width: 75em;
}

.developer-hub #content-main,
.developer-hub .dashboard {
    min-height: 30em;
}

#navbar a, #navbar a:active, #navbar a:hover, #navbar a:focus, #navbar a:visited {
    color: white;
    text-decoration: none;
    cursor: pointer;
}
#navbar {
    display: block;
    border:  1px solid #021437;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    margin: 0 0 1.5em 0;
    color: white;
    font-size: 1.231em;
    white-space: nowrap;
    overflow: hidden;
}
#navbar ul.top {
    overflow: visible;
}
#navbar li.top {
    float: left;
    border-right: 1px solid #455c87;
    list-style: none;
}
#navbar li.top a.controller {
    display: block;
    padding: .5em 1.3em;
    margin: 0;
}
#navbar li.top a.controller {
    border-right: 1px solid #1e2e4c;
}
#navbar li.top:hover,
#navbar li.top.selected {
    background-image: url(../../img/bg/heading-dark-blue-highlighted.png);
}
#navbar li.top ul {
    display: none;
    position: absolute;
    z-index: 1001;
    top: auto;
    margin-left: -1px;
}
#navbar li.top ul,
#navbar li.top ul li:last-child {
    -moz-border-radius-bottomleft: 8px;
    -webkit-border-bottom-left-radius: 8px;
    border-bottom-left-radius: 8px;
    -moz-border-radius-bottomright: 8px;
    -webkit-border-bottom-right-radius: 8px;
    border-bottom-right-radius: 8px;
}
#navbar li.top:hover ul {
    display: block;
}
#navbar li ul li {
    background-image: url(../../img/bg/heading-dark-blue-highlighted.png);
    background-repeat: repeat-x;
    background-position: bottom left;
    background-color: #305083;
    border-bottom: 1px solid #5a7297;
}
#navbar li ul li a {
    display: block;
    padding: .5em 1.3em;
    border-bottom: 1px solid #3f4f6a;
}
#navbar li.top ul li:last-child,
#navbar li.top ul li:last-child a {
    border: none;
}
/* @end */

/* @group Select a Review Process */

form.select-review .errorlist {
    margin-bottom: 1.5em;
}

.review-type {
    float: left;
    width: 50%;
}
.review-type .highlight {
    background-color: #fff;
    border: 1px solid #c8e8f3;
    margin-right: 0.5em;
}
.review-type + .review-type .highlight {
    margin: 0 0 0 .5em;
}

.review-type h4 {
    color: #666;
    font-size: 16px;
    margin: 0;
}
.review-type p,
.review-type ul {
    margin-top: 0.5em;
}
.review-type ul {
    min-height: 8em;
}

/* @end */

#upload-file li {
    float: left;
    margin-right: 8px;
}
.html-rtl #upload-file li {
    float: right;
}
#upload-file ul {
    overflow: hidden;
    margin-bottom: 1em;
}

#upload-file select {
    margin: 1em 0;
}
#upload-file .binary-source input[type="file"] {
    margin-bottom: 1em;
}

#file-list select {
    margin-right: 1em;
}
#file-list { margin-bottom: 1em;}
#file-list tr {
    border-bottom: 1px dotted #ADD0DC;
}

/* @group Add-on validator suite */
#addon-validator-suite {
    color: #929292;
}
#addon-validator-suite .template,
#addon-validator-suite .hidden {
    display: none;
}
#addon-validator-suite .suite,
#addon-validator-suite .suite-container,
#addon-validator-suite .results .tier-results {
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    background-color: #fff;
}
#addon-validator-suite .suite h4 {
    color: #497ae1;
}
#addon-validator-suite .suite .ajax-loading h4 {
    color: #929292;
}
#addon-validator-suite .suite {
    border: 1px solid #4f6697;
}
#addon-validator-suite .suite-container {
    border: 4px solid #b5d9e5;
    margin-bottom: 0;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
}
#addon-validator-suite .test-tier {
    padding: 52px 1em 0 1em;
    margin: 1em 0 1em 0;
    width: 17.1%;
    float: left;
    text-align: center;
    border-left: 1px dashed #b9cedb;
}
#addon-validator-suite .test-tier:first-child {
    border-left: none;
}
#addon-validator-suite .suite .tests-passed {
    background: url("../../img/developers/suite-pass.png") no-repeat top;
}
#addon-validator-suite .suite .tests-notrun {
    background: url("../../img/developers/suite-notrun.png") no-repeat top;
}
#addon-validator-suite .suite .ajax-loading {
    background: url("../../img/developers/suite-running.gif") no-repeat top;
}
#addon-validator-suite .suite .tests-failed {
    background: url("../../img/developers/suite-fail.png") no-repeat top;
}
#addon-validator-suite .suite .tests-warnings {
    background: url("../../img/developers/test-warning.png") no-repeat center 4px / 40px;
}
#addon-validator-suite .suite-summary {
    display: none;
    text-align: center;
    color: #626363;
    padding: 0.5em;
    border-radius: 0 0 8px 8px;
    border-top: 1px solid #bbcad7;
    background: #f7fbfd url("../../img/developers/suite-summary-bg.jpg") repeat-x top;
}
#addon-validator-suite .suite-options {
    padding-left: 1em;
    color: #626363;
    padding: 0.5em;
    border-radius: 0 0 8px 8px;
    border-top: 1px solid #bbcad7;
    background: #f7fbfd url("../../img/developers/suite-summary-bg.jpg") repeat-x top;
}
#addon-validator-suite .results .tier-results {
    border: 1px solid #b5d9e5;
    margin: 0 4px 4px 4px;
    background-color: #fff;
}
#addon-validator-suite .results {
    background: none;
    border: none;
}
#addon-validator-suite .results h4 {
    font-size: 1.4em;
    font-weight: normal;
    font-family: georgia,serif;
    margin: 0 0 0.4em 4px;
}
#addon-validator-suite .results .tier-results {
    height: 10em;
}
#addon-validator-suite .results .ajax-loading,
#addon-validator-suite .results .tests-passed,
#addon-validator-suite .results .tests-passed-notices,
#addon-validator-suite .results .tests-passed-warnings,
#addon-validator-suite .results .tests-failed,
#addon-validator-suite .results .tests-notrun {
    height: auto;
}
#addon-validator-suite .results .tests-passed,
#addon-validator-suite .results .tests-notrun,
#addon-validator-suite .results .ajax-loading {
    padding: 100px 0 45px 0;
    text-align: center;
}
#addon-validator-suite .results .tests-passed {
    background: #fff url("../../img/developers/suite-pass.png") no-repeat center 50px;
}
#addon-validator-suite .results .tests-notrun {
    background: #fff url("../../img/developers/suite-notrun.png") no-repeat center 50px;
}
#addon-validator-suite .results .ajax-loading {
    background: #fff url("../../img/developers/suite-running.gif") no-repeat center 50px;
}
#addon-validator-suite .result {
    margin-top: 2.85em;
}
#addon-validator-suite .result-summary {
    margin-top: 1.8em;
    visibility: hidden;
}
#addon-validator-suite .result-header {
    padding-bottom: 0.5em;
}
#addon-validator-suite .result h4 {
    float: left;
    margin-right: 1em;
}
#addon-validator-suite ul.result-nav {
    float: right;
    font-size: 0.9em;
    padding-right: 4px;
}
#addon-validator-suite ul.result-nav li {
    display: inline;
}
#addon-validator-suite ul.result-nav li:before {
    content: "|";
    margin: 0.3em;
}
#addon-validator-suite ul.result-nav li:first-child:before {
    content: "";
}
#addon-validator-suite .msg {
    margin: 0 1em;
    padding: 0.8em 1em 1em 45px;
}
#addon-validator-suite .msg {
    border-top: 1px dashed #b9cedb;
}
#addon-validator-suite .msg:first-child {
    border-top: none;
}
#addon-validator-suite .msg h5 {
    font-weight: bold;
    color: #565656;
}
#addon-validator-suite .msg p {
    margin: .8em 0;
}
#addon-validator-suite .msg-error {
    background: transparent url("../../img/developers/test-fail.png") no-repeat 0 1.1em;
    color: #ff0000;
}
#addon-validator-suite .msg-warning {
    background: transparent url("../../img/developers/test-warning.png") no-repeat 0 1.1em;
    color: #6b6b6b;
}
#addon-validator-suite .msg-info,
#addon-validator-suite .msg-notice {
    background: transparent url("../../img/developers/test-info.png") no-repeat 0 1.1em;
    color: #6b6b6b;
}
#addon-validator-suite .context {
    margin: 0.5em 0 0 1em;
    padding: 0.4em;
    color: #868686;
    border: 1px solid #f3f3f3;
    background-color: #f9f9f9;
    font-family: "Courier New", Courier, monospace;
}
#addon-validator-suite .context .file {
    font-size: 105%;
    margin-bottom: 0.3em;
}
#addon-validator-suite .context .lines {
    float: left;
    background-color: #f9f9f9;
}
#addon-validator-suite .context .inner-code {
    float: left;
    padding-left: 0.2em;
}
#addon-validator-suite .context .inner-code div {
    max-width: 45em;
    height: 1.65em;
    overflow: hidden;
    white-space: pre;
}
#addon-validator-suite .context .code:last-child:after {
    content: ".";
    display: block;
    clear: both;
    height: 0;
    visibility: hidden;
}
#addon-validator-suite .context .code {
    font-size: 95%;
    background-color: #f3f3f3;
}
#addon-validator-suite .context .lines div,
#addon-validator-suite .context .inner-code div {
    padding: 0.1em;
}
#addon-validator-suite .context .lines div {
    margin-right: 0.3em;
}
#addon-validator-suite .version-change-link {
    display: block;
    float: right;
    font-size: 95%;
    margin-right: 5px;
}

#addon-validator-suite .validator-signing-only {
    display: none;
}
#addon-validator-suite.automated-signing .validator-signing-only {
    display: block;
}

/* @end */

.loading, .loaded {
    position:relative;
}
.loading:before {
    -moz-transition: opacity .5s;
    content: "\00a0";
    display: block;
    position: absolute;
    background: #040204 url("../../img/zamboni/loading.gif") no-repeat center center;
    opacity: .4;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    top: 0;
}
.item.loading:before {
    -moz-border-radius: 8px 8px 8px 8px;
}
.loaded:before {
    opacity: 0;
    pointer-events: none;
}

/* newsletter signup */
.newsletter-signup input[type="email"],
.newsletter-signup select {
    width: 30%;
}

.newsletter-signup input[type="submit"] {
    margin-top: 5px;
    padding: 0 10px;
}

.newsletter-signup form {
    margin-bottom: 0;
}

.newsletter-signup p {
    margin: 10px 0;
}

.newsletter-signup h3 {
    font-style: normal;
    margin: 0;
    margin-bottom: 10px;
}

button.search-button {
  background: #84c63c url("../../img/icons/go-arrow.png") center no-repeat;
  background-image: url("../../img/icons/go-arrow.png"), linear-gradient(#84c63c, #489615);
  background-image: url("../../img/icons/go-arrow.png"), -webkit-linear-gradient(#84c63c, #489615);
  border: 0;
  float: right;
  vertical-align: bottom;
  cursor: pointer;
  height: 30px;
  width: 36px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  box-shadow: 0 1px rgba(0, 0, 0, 0.1), 0 -2px rgba(0, 0, 0, 0.1) inset;
  -moz-box-shadow: 0 1px rgba(0, 0, 0, 0.1), 0 -2px rgba(0, 0, 0, 0.1) inset;
  -webkit-box-shadow: 0 1px rgba(0, 0, 0, 0.1), 0 -2px rgba(0, 0, 0, 0.1) inset;
}

.html-rtl button.search-button {
  float: left;
  -moz-transform: scalex(-1);
  -webkit-transform: scalex(-1);
}

#addon-compat-upload {
    margin: 1em 0;
}
#addon-compat-upload label, #addon-compat-upload span {
    display: block;
    float: left;
}
#addon-compat-upload label {
    margin-right: .3em;
}
#addon-compat-upload span {
    margin-right: 3em;
}

.html-rtl #addon-compat-upload label, .html-rtl #addon-compat-upload span {
    float: right;
}
.html-rtl #addon-compat-upload label {
    margin: 0 0 0 .3em;
}
.html-rtl #addon-compat-upload span {
    margin: 0 0 0 3em;
}

span.distribution-tag-listed, span.distribution-tag-unlisted {
    color: white;
    border-radius: 4px;
    padding: 1px 5px;
    font-size: smaller
}

span.distribution-tag-listed {
    background-color: #01BDAD;
}

span.distribution-tag-unlisted {
    background-color: #7A2F7A;
}
