/** Performance page. **/
#perf-results {
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid #e0effd;
    padding: 1em;
}

#perf-results table {
    border-bottom: 1px dotted #add0dc;
    margin-bottom: 0;
    width: 100%;
}

/* Hide children over 10 until show-more is clicked. */
#perf-results:not(.show-more) .addon-row:nth-child(n+11) {
    display: none;
}

#perf-results th {
    font-size: 11px;
    vertical-align: top;
    padding: 0 20px 8px 0;
}

th.rank {
    width: 32px;
}

.html-rtl th.rank {
    padding-right: 0;
    text-align: right;
}

th.impact {
    padding-right: 0;
    width: 300px;
}

th.impact .percentage {
    color: #999;
    font-weight: normal;
}

#perf-results td {
    border-top: 1px dotted #add0dc;
    padding: 8px 0;
    vertical-align: middle;
}

td.rank {
    vertical-align: top;
}

.rank b,
.impact b,
.addon-title > a {
    font-size: 1.4em;
}

.rank b {
    font-weight: normal;
    vertical-align: top;
}

.addon div {
    position: relative;
}

.addon .icon {
    position: absolute;
    top: 0;
    left: 0;
}

.html-rtl .addon .icon {
    right: 0;
}

#perf-results th.addon,
.addon .addon-title {
    padding-left: 50px;
}

.html-rtl .addon,
.html-rtl .addon .addon-title {
    padding-left: 0;
    padding-right: 50px;
}

.addon-title > a {
    font-weight: bold;
}

.impact {
    color: #777;
    line-height: 1.3em;
}

.addon-row:nth-child(n+11) .rank b,
.addon-row:nth-child(n+11) .impact b,
.addon-row:nth-child(n+11) .addon-title > a {
    font-size: 1.0em;
}

.addon-row:nth-child(n+11) .impact .slower span {
    display: none;
}

.impact .slower,
.impact .percentage {
    display: table-cell;
}

.impact .slower {
    border-right: 1px solid #f77;
    padding-right: 10px;
    text-align: right;
    width: 100px;
}

.html-rtl .impact .slower {
    border-right-width: 0;
    border-left: 1px solid #f77;
    padding: 0 0 0 10px;
    text-align: left;
}

th.impact .slower,
.html-rtl th.impact .slower {
    border: none;
}

.impact .percentage {
    vertical-align: middle;
    width: 70%;
}

.impact b {
    color: #444;
    display: block;
}

.bar {
    background-color: #f77;
    height: 15px;
    -moz-transition: .3s width;
}

.addon-row:nth-child(n+11) .bar {
    height: 10px;
}

#perf-more {
    font-size: 0.9em;
    margin: 1em 0 0 52px;
}

#perf-more a {
    background: url(../../img/icons/arrows.gif) 100% -73px no-repeat;
    padding-right: 15px;
}

.html-rtl #perf-more a {
    background-position: 0 -73px;
    padding: 0 0 0 15px;
}
