{% extends "moz_header/footer.html" %}

{% block copyright %}
  {% block lang_form %}
    <form class="languages go" id="lang_form" method="get" action="">
      <label for="language">{{ _('Other languages') }}</label>
      <select id="language" name="lang" dir="ltr">
        {% for code, name in LANGUAGES|dictsort -%}
          <option value="{{ code }}" {{ code|ifeq(LANG|lower, "selected") }}>
            {{ name }}
          </option>
        {%- endfor %}
      </select>
      {% for key, value in request.GET.items() %}
        <input type="hidden" name="{{ key }}" value="{{ value }}">
      {% endfor %}
      <noscript><button type="submit">{{ _('Go') }}</button></noscript>
    </form>
  {% endblock %}
  {% include 'copyright.html' %}
{% endblock %}
