<!DOCTYPE html>
<html lang="{{ LANG }}" dir="{{ DIR }}">
  <head>
    <meta charset="utf-8">
      {% if not settings.ENGAGE_ROBOTS %}
        <meta name="robots" content="noindex">
      {% endif %}
    {% block extrameta %}{% endblock %}
    <title>{% block title %}{{ _('Mozilla Add-ons') }}{% endblock %}</title>

    <link rel="shortcut icon" type="image/x-icon"
          href="{{ static('img/favicon.ico') }}">

    {% block rss_feed %}{% endblock %}

    {# L10n: {0} is an application, like Firefox. #}
    <link title="{{ _('{0} Add-ons')|format_html(APP.pretty) }}"
          rel="search" type="application/opensearchdescription+xml"
          href="{{ url('amo.opensearch') }}" />

    {% block site_css %}
      {{ css('zamboni/css') }}
    {% endblock %}

    {% block extrahead %}{% endblock %}

    {% block restyle %}
      {{ css('restyle/css') }}
    {% endblock %}

    <noscript><link rel="stylesheet" href="{{ static('css/legacy/nojs.css') }}"></noscript>

    {% if settings.DEBUG %}
      {% if settings.LESS_LIVE_REFRESH %}
        <meta id="live_refresh" name="live_refresh" value="1">
      {% endif %}
      {{ js('debug') }}
    {% endif %}

    {% if request.user.is_authenticated() %}
      <meta name="csrf" content="{% csrf_token %}">
    {% endif %}

    {{ js('preload') }}
  </head>
  <body class="html-{{ DIR }} {{ request.APP.short }} moz-header-slim {% block bodyclass %}{% endblock %} restyle"
        data-app="{{ request.APP.short }}"
        data-appname="{{ request.APP.pretty }}"
        data-appid="{{ request.APP.id }}"
        data-anonymous="{{ (not request.user.is_authenticated())|json }}"
        data-readonly="{{ settings.READ_ONLY|json }}"
        data-media-url="{{ MEDIA_URL }}"
        data-static-url="{{ STATIC_URL }}"
        data-raven-dsn="{{ settings.RAVEN_DSN }}"
        data-raven-urls="{{ settings.RAVEN_ALLOW_LIST }}"
        {% block bodyattrs %}{% endblock %}>

    <div id="main-wrapper">
      {% set admin_message = get_config('site_notice') %}
      {% if admin_message or settings.READ_ONLY %}
        <div id="site-notice">
          {% if admin_message %}
            <p>{{ admin_message|safe }}</p>
          {% endif %}
          {% if settings.READ_ONLY %}
            <p>{{ _("Some features are temporarily disabled while we perform website maintenance. We'll be back to full capacity shortly.") }}</p>
          {% endif %}
        </div>
      {% endif %}
      <div class="section">
        {% block site_header %}
          <div class="header-bg">
            <div class="amo-header-wrapper">
              <div class="amo-header">
                <nav id="aux-nav" role="navigation" class="menu-nav c">
                  <ul>
                    {% if not settings.READ_ONLY %}
                      {% block user_login_include %}
                        {% include "impala/user_login.html" %}
                      {% endblock %}
                    {% endif %}
                    {% block aux_nav %}
                      <li>
                        <a href="#" id="other-apps"
                           title="{{ _('Find add-ons for other applications') }}">
                          {{ _('Other Applications') }}</a>
                        <ul class="other-apps">
                          {% for app in amo.APP_USAGE %}
                            {% if app != request.APP %}
                              <li id="app-{{ app.short }}" class="{{ app.short }}">
                                <a href="{{ locale_url(app.short) }}">{{ app.pretty }}</a>
                              </li>
                            {% endif %}
                          {% endfor %}
                        </ul>
                      </li>
                    {% endblock aux_nav %}
                  </ul>
                </nav>
                {% block header_search %}
                <div class="header-search" role="search">
                  {% block search_form %}
                    {% with query_term=query_term %}
                      {% include 'impala/search.html' %}
                    {% endwith %}
                  {% endblock %}
                </div>
                {% endblock %}
                <div id="masthead">
                  {% block site_header_title %}
                  {% include "impala/header_title.html" %}
                  {{ site_nav() }}
                  {% endblock %}
                  {% block navbar %}{% endblock %}
                  {% block site_stats %}{% endblock %}
                </div>
              </div>
            </div> {# .header-bg #}
          </div> {# .amo-header-wrapper #}
          {% if APP == amo.FIREFOX and waffle.switch('try-new-frontend') %}
            <div class="site-balloon" id="try-new-frontend">
              <p>
                {{ _('AMO is getting a new look. Would you like to see it?') }}
              </p>
              <p>
                <a href="#" class="mobile-link">{{ _('Visit the new site') }}</a>
              </p>
              <a href="#" class="close">{{ _('Close') }}</a>
            </div>
          {% endif %}
        {% endblock site_header %}

        {# Overridden in base_side_categories, which expands categories
           on the side of the page. #}
        {% block main_content %}
          {# outer_content is for something you want above content on every page. #}
          {% block outer_content %}{% include "messages.html" %}{% endblock %}
          {% block content %}{% endblock %}
        {% endblock %}
      </div>
      <div id="tooltip">
        <span></span>
      </div>
      <div id="popup-staging">
        <div id="add-to-collection" class="popup">
          <div class="collection-add-login">
            <p>{% trans %}
              To create your own collections, you must have a Mozilla Add-ons account.
            {% endtrans %}</p>
            <p class="register-button">
              <a class="button" href="{{ register_link() }}">{{ _('Create an Add-ons Account') }}</a>
            </p>
            <p>
              {% trans login=login_link() %}
                or <a href="{{ login }}">log in to your current account</a>
              {% endtrans %}
            </p>
          </div>
        </div>
        {% block popups %}
        {% endblock %}
      </div>
      {# js #}
      {% block site_js %}
        <script src="{{ CDN_HOST }}{{ cache_buster(url('jsi18n')) }}"></script>
        {{ js('common') }}
      {% endblock %}
      {% block js %}{% endblock %}
      {% block footer %}
        <div id="footer" role="contentinfo">
          <div class="section">
            {% block footer_extras %}
            <img class="footerlogo" src="{{ static('img/zamboni/footer-logo-med.png') }}" alt="{{ _('Footer logo') }}">
            {% endblock %}
            {% include "footer.html" %}
          </div> {# section #}
        </div> {# footer #}
      {% endblock %}
    </div>
  </body>
</html>
