<div id="copyright">
  <p id="footer-links">
    {% block footer_links %}
      <a href="https://www.mozilla.org/privacy/websites/">
        {{ _('Privacy Policy') }}
      </a> &nbsp;|&nbsp;
      <a href="https://www.mozilla.org/en-US/about/legal/report-infringement/">
        {{ _('Report Trademark or Copyright Infringement') }}
      </a> &nbsp;|&nbsp;
      <a href="https://www.mozilla.org/about/legal/">
        {{ _('Legal Notices') }}
      </a> &nbsp;|&nbsp;
      <a href="https://www.mozilla.org/about/legal/fraud-report/">
        {{ _('Report Misuse of Thunderbird Trademark') }}
      </a>
      {% block extra_footer_links %}
        <!--&nbsp;|&nbsp;<a href="https://status.mozilla.org">{{ _('Site Status')}}</a>-->
        &nbsp;|&nbsp;<a href="https://github.com/thundernest/addons-server/issues/new">{{ _('Report a bug')}}</a>
      {% endblock %}
    {% endblock %}
  </p>
  <p>
    {% trans %}
      Except where otherwise
      <a href="https://www.mozilla.org/about/legal/">noted</a>,
      content on this site is licensed under the <br />
      <a href="https://creativecommons.org/licenses/by-sa/3.0/">
        Creative Commons Attribution Share-Alike License v3.0
      </a> or any later version.
    {% endtrans %}
  </p>
</div>
