<footer class="Footer">
    <div class="Footer-wrapper">
        <div class="Footer-mozilla-link-wrapper">
            <a class="Footer-mozilla-link" href="https://mozilla.org/" title="{% trans %}Go to Mozilla's homepage{% endtrans %}"><span class="Icon Icon-mozilla Footer-mozilla-logo"><span class="visually-hidden">{{ _("Go to Mozilla's homepage") }}</span></span></a>
        </div>

        <section class="Footer-column Footer-amo-links">
            <h4 class="Footer-links-header"><a href="{{ url('home') }}">{{ _('Add-ons') }}</a></h4>

            <ul class="Footer-column Footer-links">
                <li><a href="{{ url('pages.about') }}">{{ _('About') }}</a></li>
                <li><a href="{{ settings.EXTERNAL_SITE_URL }}/blog/">{{ _('Firefox Add-ons Blog') }}</a></li>
                <li><a class="Footer-extension-workshop-link" href="{{ settings.EXTENSION_WORKSHOP_URL }}/?utm_source=addons.mozilla.org&amp;utm_medium=referral&amp;utm_content=footer-link">{{ _('Extension Workshop') }}</a></li>
                <li><a href="{{ url('devhub.index') }}">{{ _('Developer Hub') }}</a></li>
                <li><a href="{{ settings.EXTENSION_WORKSHOP_URL }}/documentation/publish/add-on-policies/?utm_source=addons.mozilla.org&utm_medium=photon-footer">{{ _('Developer Policies') }}</a></li>
                <li><a href="https://blog.mozilla.com/addons">{{ _('Community Blog') }}</a></li>
                <li><a href="https://discourse.mozilla-community.org/c/add-ons">{{ _('Forum') }}</a></li>
                <li><a class="Footer-bug-report-link" href="https://addons.mozilla.org/about">{{ _('Report a bug') }}</a></li>
                <li><a href="{{ url('pages.review_guide') }}">{{ _('Review Guide') }}</a></li>
            </ul>
        </section>

        <section class="Footer-column Footer-download-links">
            <h4 class="Footer-links-header">{{ _('Download') }}</h4>

            <ul class="Footer-links">
                <li><a href="https://www.firefox.com/thanks/?utm_content=footer-link&utm_medium=referral&utm_source=addons.mozilla.org">{{ _('Download Firefox') }}</a></li>
                <li><a href="https://www.firefox.com/en-US/download/windows/?utm_content=footer-link&utm_medium=referral&utm_source=addons.mozilla.org">{{ _('Windows') }}</a></li>
                <li><a href="https://www.firefox.com/en-US/download/mac/?utm_content=footer-link&utm_medium=referral&utm_source=addons.mozilla.org">{{ _('macOS') }}</a></li>
                <li><a href="https://www.firefox.com/en-US/download/ios/?utm_content=footer-link&utm_medium=referral&utm_source=addons.mozilla.org">{{ _('iOS') }}</a></li>
                <li><a href="https://www.firefox.com/en-US/download/android/?utm_content=footer-link&utm_medium=referral&utm_source=addons.mozilla.org">{{ _('Android') }}</a></li>
                <li><a href="https://www.firefox.com/en-US/download/linux/?utm_content=footer-link&utm_medium=referral&utm_source=addons.mozilla.org">{{ _('Linux') }}</a></li>
                <li><a href="https://www.firefox.com/en-US/download/all/?utm_content=footer-link&utm_medium=referral&utm_source=addons.mozilla.org">{{ _('All') }}</a></li>
            </ul>
        </section>

        <section class="Footer-column Footer-build-links">
            <section class="Footer-latest-links">
            <h4 class="Footer-links-header">{{ _('Latest Builds') }}</h4>

            <ul class="Footer-links">
                <li><a href="https://www.firefox.com/en-US/channel/desktop/#nightly?utm_content=footer-link&utm_medium=referral&utm_source=addons.mozilla.org">{{ _('Nightly') }}</a></li>
                <li><a href="https://www.firefox.com/en-US/channel/desktop/#beta?utm_content=footer-link&utm_medium=referral&utm_source=addons.mozilla.org">{{ _('Beta') }}</a></li>
            </ul>
        </section>
        <section class="Footer-business-links">
            <h4 class="Footer-links-header">{{ _('Firefox for Business') }}</h4>

            <ul class="Footer-links">
                <li><a href="https://www.firefox.com/en-US/browsers/enterprise/?utm_content=footer-link&utm_medium=referral&utm_source=addons.mozilla.org">{{ _('Enterprise') }}</a></li>
            </ul>
        </section>
        </section>

        <section class="Footer-column Footer-community-links">
            <h4 class="Footer-links-header">{{ _('Community') }}</h4>

            <ul class="Footer-links">
                <li><a href="https://connect.mozilla.org/?utm_content=footer-link&utm_medium=referral&utm_source=addons.mozilla.org">{{ _('Connect') }}</a></li>
                <li><a href="https://www.mozilla.org/contribute/?utm_content=footer-link&utm_medium=referral&utm_source=addons.mozilla.org">{{ _('Contribute') }}</a></li>
                <li><a href="https://www.firefox.com/en-US/channel/desktop/developer/?utm_content=footer-link&utm_medium=referral&utm_source=addons.mozilla.org">{{ _('Developer') }}</a></li>
            </ul>
        </section>

        <section class="Footer-column Footer-follow-links">
            <h4 class="Footer-links-header">{{ _('Follow') }}</h4>

            <ul class="Footer-links">
                <li><a href="https://www.instagram.com/firefox">{{ _('Instagram') }}</a></li>
                <li><a href="https://www.youtube.com/user/firefoxchannel">{{ _('YouTube') }}</a></li>
                <li><a href="https://www.tiktok.com/@firefox">{{ _('TikTok') }}</a></li>
                <li><a href="https://bsky.app/profile/firefox.com">{{ _('Bluesky') }}</a></li>
                <li><a href="https://www.youtube.com/@firefox/podcasts">{{ _('Podcast') }}</a></li>
            </ul>
        </section>

        <ul class="Footer-legal-links">
            <li><a class="Footer-privacy-link" href="https://www.mozilla.org/privacy/websites/">{{ _('Privacy') }}</a></li>
            <li><a class="Footer-cookies-link" href="https://www.mozilla.org/privacy/websites/">{{ _('Cookies') }}</a></li>
            <li><a class="Footer-legal-link" href="https://www.mozilla.org/about/legal/amo-policies/">{{ _('Legal') }}</a></li>
        </ul>

        <p class="Footer-copyright">{% trans %}Except where otherwise <a href="https://www.mozilla.org/about/legal/">noted</a>, content on this site is licensed under the <a href="https://creativecommons.org/licenses/by-sa/3.0/">Creative Commons Attribution Share-Alike License v3.0</a> or any later version.{% endtrans %}</p>

        <div class="Footer-language-picker">
            <div class="LanguagePicker">
              {% include 'includes/lang_switcher.html' %}
            </div>
        </div>
    </div>
</footer>
