{% extends "base.html" %}
{% from "browse/macros.html" import secondary_categories %}

{% set name = category.name if category else filter.title %}
{# L10n: {0} is a category name. Ex: "Sports" #}
{% set title = _('Themes') if is_homepage else _('{0} Themes')|format_html(name) %}
{% set url_base = request.path %}
{% if category %}
  {% set url_base = profile.get_themes_url_path(args=[category.slug]) if profile else url('browse.personas', category.slug) %}
{% endif %}

{% block title %}
  {% if profile %}
    {# L10n: {0} is a user's name. #}
    {% set pagetitle = _("{0}'s Themes")|format_html(profile.name) %}
    {{ page_title('%s :: %s' % (name ~ '', pagetitle)) }}
  {% else %}
    {{ page_title(title) }}
  {% endif %}
{% endblock %}

{% block extrahead %}
{% if not is_homepage or profile %}
{% with key = category.id if category else filter.field %}
  {{ category_arrow(key, prefix='p') }}
{% endwith %}
{% endif %}
{% endblock %}

{% macro persona_categories() %}
<div class="secondary" role="complementary">
  {% if profile %}
    <aside class="profile">
      <a href="{{ profile.get_url_path() }}">
        <img class="avatar" src="{{ profile.picture_url }}" alt="{{ profile.name }}">
        <h2>{{ profile.name }}</h2>
        <div>{{ _('View Profile') }}</div>
      </a>
    </aside>
    {{ secondary_categories(_("{0}'s Themes")|format_html(profile.name), 'browse.personas', categories, filter, profile) }}
  {% else %}
    {{ secondary_categories(_('Themes'), 'browse.personas', categories, filter) }}
    <div class="submit-theme">
      <h3>{{ _('Create Your Own Theme') }}</h3>
      <p>
        {% trans %}
          Your browser, your style! Dress it up with a design of your own!
        {% endtrans %}
      </p>

      {% if waffle.switch('disable-lwt-uploads') %}
          <p><a href="{{ url('devhub.submit.agreement') }}" class="button">{{ _('Submit a New Theme') }}</a></p>
      {% else %}
          <p><a href="{{ url('devhub.themes.submit') }}" class="button">{{ _('Submit a New Theme') }}</a></p>
      {% endif %}
      <p><a href="{{ url('devhub.docs', 'themes') }}" class="learn-more">{{ _('Learn more') }}</a></p>
    </div>
  {% endif %}
</div>
{% endmacro %}
