{% extends "browse/personas/base.html" %}

{% set addon_sets = filter.all() %}
{% set special = 'up-and-coming' %}
{% set more_links = {
    'created': _('View All Recently Added'),
    'popular': _('View All Most Popular'),
    'rating': _('View All Top Rated'),
} %}

{% macro sort_link(key) -%}
{% if category %}
    {{ url('browse.personas', category.slug)|urlparams(sort=key) }}
{% else %}
    {{ url('browse.personas')|urlparams(sort=key) }}
{% endif %}
{%- endmacro %}

{% block bodyclass %}category-landing{% endblock %}

{% block content %}
<div class="primary" role="main">
  <header>
    <h2>{{ category.name }}</h2>
  </header>
  {% if is_homepage %}
    <div id="featured-addons" class="featured personas-home">
      <div class="featured-inner themes">
        {% set addons = addon_sets[special][:15] %}
        <ul class="personas-slider">
          {% for addon in addons %}
            <li>{{ persona_preview(addon.persona, size='small') }}</li>
          {% endfor %}
        </ul>
        <h2>{{ _('Themes') }}</h2>
        <p class="intro">
        {% trans url=url('browse.personas')|urlparams(sort=special) %}
          Over 300,000 designs to personalize your browser! Move
          your mouse over a Background Theme to try it on.
          <a href="{{ url }}" class="more-info">Start exploring</a>
        {% endtrans %}</p>
      </div>
      <div class="featured-inner complete-themes">
        <h2>{{ _('Want more personalization?') }}</h2>
        <p class="intro">
          {# L10n: "Complete" is used as an adjective. "Complete Theme" means a full-featured theme. #}
          {% trans url=url('browse.themes') %}
            Complete Themes transform the look of your browser with styles for the window frame, address bar, buttons, tabs, and menus.
            <a href="{{ url }}" class="more-info">Start exploring</a>
          {% endtrans %}
        </p>
      </div>
    </div>

    {% set addons = featured[:6] %}
    {% if addons %}
      <div class="personas-featured">
        <h3>{{ _('Featured Themes') }}</h3>
        <ul class="persona-list-3col">
          {% for addon in addons %}
            <li>{{ persona_preview(addon.persona, size='small') }}</li>
          {% endfor %}
        </ul>
      </div>
    {% endif %}
  {% else %}
    {% set addons = addon_sets[special][:6] %}
    <div id="featured-addons" class="featured personas">
      <div class="featured-inner">
        <h3>
          <a href="{{ sort_link(special) }}">{{ _('Up & Coming Themes') }}</a>
        </h3>
        <ul class="persona-list-3col">
          {% for addon in addons %}
            <li>{{ persona_preview(addon.persona, size='small') }}</li>
          {% endfor %}
        </ul>
        <p class="view-all">
          <a href="{{ sort_link(special) }}">
            {{ _('View All Up & Coming') }}</a>
        </p>
      </div>
    </div> {# featured-addons #}
  {% endif %}

  {% for key, title in filter.opts if key != special %}
    {% set addons = addon_sets[key][:6] %}
    {% set link = sort_link(key) %}
    <div id="personas-{{ key }}" class="addons-column {{ 'last' if loop.last }}">
      <h3><a href="{{ link }}">{{ filter.opts_dict[key] }}</a></h3>
      <ul class="personas">
        {% for addon in addons %}
          <li>{{ persona_preview(addon.persona, size='small', extra=key) }}</li>
        {% endfor %}
      </ul>
      <p class="view-all"><a href="{{ link }}">{{ more_links[key] }}</a></p>
    </div>
  {% endfor %}
</div>
{{ persona_categories() }}
{% endblock content %}
