{% extends "browse/personas/base.html" %}

{% block content %}
<div class="primary" role="main">
  <header>
    <h2>{{ title }}</h2>
  </header>
  <div class="featured listing">
    <div class="featured-inner">
      {% if addons.object_list %}
        {{ addon_listing_header(url_base, filter.opts, filter.field) }}
        {{ persona_grid(addons.object_list) }}
        <div class="listing-footer">
          {{ addons|paginator }}
        </div>
      {% else %}
        <div class="listing-header">
          <p class="no-results">{{ _('No themes found') }}</p>
        </div>
      {% endif %}
    </div>
  </div>
</div>
{{ persona_categories() }}
{% endblock content %}
