{% from "devhub/includes/macros.html" import compat %}
<h3>{{ _('Update Compatibility') }}</h3>
<p>
  {% trans %}
    Adjusting application information here will allow users to install
    your add-on even if the install manifest in the package indicates
    that the add-on is incompatible.
  {% endtrans %}
</p>
<form action="{{ url('devhub.ajax.compat.update', addon.slug, version.id) }}"
      class="compat-versions" data-addonid="{{ addon.id }}">
  {% csrf_token %}
  {{ compat_form.non_form_errors() }}
  {{ compat_form.management_form }}
  <table>
    <thead>
      <th>{{ _('Application') }}</th>
      <th>{{ _('Supported Versions') }}</th>
      <th>{{ _('Remove') }}</th>
    </thead>
    <tbody>
      {% for form in compat_form.initial_forms %}
        {{ compat(form) }}
      {% endfor %}
      {% for form in compat_form.extra_forms %}
        {{ compat(form, is_extra_form=True) }}
      {% endfor %}
    </tbody>
  </table>
  <p class="add-app{% if not compat_form.extra_forms %} hidden{% endif %}">
    <a href="#">{{ _('Add Another Application&hellip;') }}</a>
  </p>
  <div class="new-apps"></div>
  <p class="compat-save">
    <button type="submit">{{ _('Save Changes') }}</button>
    {{ _('or') }} <a href="#" class="close cancel">{{ _('Cancel') }}</a>
  </p>
  <a href="#" class="close">{{ _('Close') }}</a>
</form>
