{% extends "devhub/base_impala.html" %}

{% set title = _('Set Up Payment') %}

{% block js %}
{{ super() }}
<script src="https://js.stripe.com/v3/"></script>
<script src="{{ static('js/devhub/stripe.js') }}"></script>
{% endblock %}

{% block title %}
{{ dev_page_title(title, addon) }}
{% endblock %}

{% block content %}
<section class="primary full">
  <div id="onboard-addon" class="devhub-form">
    <h2>{{ _('Set Up Payment') }}</h2>

    {% if stripe_checkout_completed %}
      {% if already_promoted %}
      <p>
        {% trans %}
        You're done!
        {% endtrans %}
      </p>
      {% else %}
      <p>
        {% if new_version_number %}
          {% trans addon_name=addon.name, group_name=promoted_group.name %}
          You're done! A new version <strong>{{ new_version_number }}</strong> of your add-on
          <strong>{{ addon_name }}</strong> will be published as {{ group_name }}
          and should become available shortly.
          {% endtrans %}
          {% if existing_version_pending %}
            {{ _('A newer version of your add-on is currently pending review.') }}
          {% endif %}
          {{ _('If you have any questions, don’t hesitate to contact us.') }}
        {% else %}
          {% trans %}
          Your payment has been recorded, but there are currently no published versions of your add-on.
          Please upload a new public version in order to complete this process.
          {% endtrans %}
        {% endif %}
      </p>
      {% endif %}
    <p>
      <a class="button" href="{{ addon.get_dev_url() }}">
        {{ _('Manage add-on') }}
      </a>
    </p>
    {% else %}
      {% if stripe_checkout_cancelled %}
      <div class="notification-box error">
        <p>
          {% trans email=settings.VERIFIED_ADDONS_EMAIL %}
          There was an error while setting up payment for your add-on. If you're
          experiencing problems with this process or you've changed your mind,
          please contact us at
          <a href="mailto:{{ email }}">{{ email }}</a>.
          {% endtrans %}
        </p>
      </div>
      {% else %}
        <p>
        {% trans %}
        Thank you for joining the Promoted Add-ons Program!
        {% endtrans %}
      </p>
      {% endif %}
    <p>
      {% trans addon_name=addon.name %}
      Your add-on <strong>{{ addon_name }}</strong> will be included in the
      program once payment is set up through the Stripe system. Click on the
      button below to continue:
      {% endtrans %}
    </p>
    <p>
      <button
        id="checkout-button"
        data-sessionid="{{ stripe_session_id }}"
        data-publickey="{{ stripe_api_public_key }}"
      >
        {{ _('Continue to Stripe Checkout') }}
      </button>
    </p>
    {% endif %}
  </div>
</section>
{% endblock %}
