{% extends "devhub/base.html" %}


{% set title = _('Manage Authors & License') %}

{% block title %}
{{ dev_page_title(title, addon) }}
{% endblock %}

{% block bodyclass %}
{{ super() }}
{% if not check_addon_ownership(request, addon) %} no-edit{% endif %}
{% endblock %}

{% block content %}
<header>
  {{ l10n_menu(addon.default_locale) }}
  <h2>{{ addon.name }}</h2>
</header>
<section id="edit-addon" class="primary devhub-form" role="main">
<form method="post" class="item">
  {% csrf_token %}
  {{ user_form.management_form }}
  <div class="item_wrapper">
    <table>
      <tr>
        <th>
          {{ _('Authors') }}
          <a id="what-are-roles" href="#">{{ _('About author roles') }}</a>
        </th>
        <td>
          {{ user_form.non_form_errors() }}
          <ul id="author_list">
          {% for form in user_form.forms %}
            <li class="author {{ 'initial' if not form.user.errors }}">
              <span class="handle">&nbsp;</span>
              {{ form.user.errors }}
              {{ form.user }}
              {{ form.role }}
              {{ form.listed }}{{ form.listed.label_tag() }}
              {{ form.id }}
              <span class="js-hidden delete">{{ form.DELETE }}{{ form.DELETE.label_tag() }}</span>
              <span class="js-hidden position">{{ form.position }}</span>
              <a href="#" class="remove">x</a>
            </li>
          {% endfor %}
          </ul>
        </td>
      </tr>
      {% if license_form %}
        {% include "devhub/includes/license_form.html" %}
      {% endif %}
      {% if policy_form %}
        {% include "devhub/includes/policy_form.html" %}
      {% endif %}
    </table>
  </div>
  <div class="listing-footer"><button type="submit">{{ _('Save Changes') }}</button></div>
</form>
{% with form=user_form.empty_form %}
<ul id="user-form-template" class="hidden">
  <li class="blank">
    <span class="handle">&nbsp;</span>
    {{ form.user }}
    {{ form.role }}
    {{ form.listed }}{{ form.listed.label_tag() }}
    <span class="js-hidden">{{ form.DELETE }}{{ form.DELETE.label_tag() }}</span>
    <span class="js-hidden position">{{ form.position }}</span>
    <a href="#" class="remove">x</a>
  </li>
</ul>
{% endwith %}
</section>
{% include "devhub/includes/addons_edit_nav.html" %}

<div id="author-roles-help" class="popup">
  {% trans %}
  <p>Add-ons can have any number of authors with 2 possible roles:</p>
  <ul>
    <li><b>Owner:</b> Can manage all aspects of the add-on's listing, including adding and removing other authors</li>
    <li><b>Developer:</b> Can manage all aspects of the add-on's listing, except for adding and removing other authors</li>
  </ul>
  {% endtrans %}
  <p><a href="#" class="cancel close">{{ _('Close') }}</a></p>
</div>
{% endblock %}
