{% extends "devhub/base.html" %}

{% set title = _('Manage Developer Profile') %}
{% block title %}{{ dev_page_title(title, addon) }}{% endblock %}

{% block content %}
<header>
  {{ l10n_menu(addon.default_locale) }}
  <h2>{{ addon.name }}</h2>
</header>
<section class="primary" role="main">
  {% set remove_url = addon.get_dev_url('profile.remove') %}
  {% if addon.has_full_profile() and addon.takes_contributions %}
    <div id="status-bar">
      <p>{% trans url=addon.meet_the_dev_url() %}
        Your <a href="{{ url }}">developer profile</a> is currently
        <strong>public</strong> and <strong>required</strong> for contributions.
      {% endtrans %}</p>
      <form method="post" action="{{ remove_url }}">
        {{ csrf() }}
        <button type="submit">{{ _('Remove Both') }}</button>
      </form>
    </div>
  {% elif addon.has_profile() %}
    <div id="status-bar">
      <p>{% trans url=addon.meet_the_dev_url() %}
        Your <a href="{{ url }}">developer profile</a> is currently
        <strong>public</strong>.
      {% endtrans %}</p>
      <form method="post" action="{{ remove_url }}">
        {{ csrf() }}
        <button type="submit">{{ _('Remove Profile') }}</button>
      </form>
    </div>
  {% endif %}
  <form id="profile-form" method="post" action="{{ addon.get_dev_url('profile') }}">
    {{ csrf() }}
    {% include "devhub/includes/addons_create_profile.html" %}
    <p class="item-group">
      <button>
        {{ _('Save Changes') if addon.has_profile() else _('Create Profile') }}
      </button>
      {{ _('or') }} <a href="{{ addon.get_dev_url() }}">{{ _('Cancel') }}</a>
    </p>
  </form>
</section>
{% include "devhub/includes/addons_edit_nav.html" %}
{% endblock %}
