.field-addon_card > div > div.readonly {
    margin-left: 0;
}
.field-addon_card > div > label {
    display: none;
}

.addon-info-and-previews {
    display: flex;
    outline: 2px solid #eee;
    flex-flow: row wrap;
}
.addon-info-and-previews h2 {
    flex: 1 100%;
    font-size: 20px;
    font-weight: bold;
}
.addon_previews {
    flex: 1 220px;
}
.addon-info {
    flex: 1 auto;
}
.field-addon_card h3 {
    padding-left: 0;
}
.addon-info-and-previews caption {
    display: none;
}
form ul.user_ratings {
    margin-left: 0;
    padding-left: 0;
}
.screenshot.thumbnail {
    border: 3px solid #C9E8F3;
    float: left;
    margin-right: 1em;
    margin-bottom: 1em;
    height: 150px;
    width: 200px;
}
.screenshot.thumbnail img {
    display: block;
    max-height: 150px;
    max-width: 200px;
}
