div.horizontal-grid {
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr 1fr;
}

form ul.guid_list {
    margin: 0;
    border: solid 1px black;
    max-height: 12em;
    min-height: 12em;
    overflow:hidden; overflow-y:scroll;
    padding: 5px 20px;
}

form .guid_list li ul {
    margin: 0;
}

form ul.guid_list >li {
    list-style-type: disc;
}

form ul.guid_list .addon-name {
    font-weight: 800;
}

.form-row.field-block_history div.readonly {
    margin-left: 0;
    margin-right: 0;
}

.field-block_history div.readonly li {
    list-style-type: disc;
}

.field-block_history div.readonly li ul li {
    list-style-type: none;
    font-style: italic;
}

.field-blocks label {
    display: none;
}
.field-blocks div.readonly {
    margin-left: 0 !important;
    margin-right: 0;
}

#id_reason:disabled,
#id_canned_reasons:disabled,
#id_url:disabled {
    background-color:#eeeeee;
}
label[for="id_reason"],
label[for="id_url"] {
    display: inline-block;
}
