.vForeignKeyRawIdAdminField {
    width: 13em;
}

.field-previews .discovery-preview {
    clear: left;
    margin-top: 2em;
}

.field-previews h2.heading {
    background: none;
    color: #444;
    font-size: 14px;
    font-weight: medium;
    line-height: 1.2;
    margin: 0.75em 0 0 0;
    padding: 0;
}

.field-previews .heading span {
    color: #6a6a6a;
    font-size: 10px;
    font-weight: normal;
}

.field-previews .heading span a:link,
.field-previews .heading span a:visited,
.field-previews .heading span a:focus,
.field-previews .heading span a:hover,
.field-previews .heading span a:active {
    color: #6a6a6a;
    text-decoration: underline;
}

.field-previews .editorial-description {
    color: #444;
    font-size: 12px;
    margin: 0.75em 0;
}

.field-previews .editorial-description blockquote {
    border: none;
    color: inherit;
    font-size: inherit;
    margin-left: 0;
    padding-left: 0;
}

.field-previews .discovery-preview::before {
    content: attr(data-locale);
    display: block;
}

.dynamic-primaryhero .field-gradient_color li,
.dynamic-primaryhero .field-image li {
    display: inline-flex;
}

.dynamic-primaryhero .field-gradient_color li div,
.dynamic-primaryhero .field-image li div {
    height: 9em;
    width: 12em;
    background-size: contain;
    background-repeat: no-repeat;
}

.dynamic-modules .field-icon li {
    display: inline-block;
    margin: 0.25em;
    vertical-align: top;
    background-color: #EEEEEE;
}

.dynamic-modules .field-icon li div {
    height: 3em;
    width: 4.25em;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
}

.dynamic-modules .field-icon li div label {
    color: transparent;
    display: block;
    width: inherit;
}

.dynamic-modules .field-icon li:first-child div label {
    color: black;
}

.select-image-noimage {
    display: inline-block;
    width: 147px;
}

.select-image-preview {
    width: 150px;
    height: 120px;
}

.primaryhero-preview {
    width: 150px;
}
