/* note: this is shared between scannerrule and scannerqueryrule admins */

.model-scannerqueryrule.hide-action-buttons .field-state_with_actions button {
    /* 
    Hide query rule action buttons if user has no permission (through class set
    on body by the change view/list template). We use visibility: hidden so
    that the view looks the same for people with or without the buttons
    */
    visibility: hidden;
}

.form-row.field-toggle_run_on_specific_channels:not(:has(input:checked))
    + .form-row.field-run_on_specific_channels {
    display: none;
}

.field-formatted_definition .readonly pre {
    overflow-wrap: anywhere;
    white-space: pre-wrap;
}
