.hasaddremoveip .deletelink {
    position: relative;
    top: -1px;
}

.hasaddremoveip .addlink, .hasaddremoveip .deletelink {
    cursor: pointer;
}

.hasaddremoveip .addlink, .hasaddremoveip .deletelink {
    visibility: hidden
}

.hasaddremoveip:hover .addlink, .hasaddremoveip:hover .deletelink {
    visibility: visible;
}

.hasaddremoveip.notinsearch .deletelink, .hasaddremoveip:not(.notinsearch) .addlink {
    display: none;
}

.hasaddremoveip .addlink:hover, .hasaddremoveip .deletelink:hover {
    outline: 1px dotted black;
}

.notinsearch {
    color: deeppink;
    font-weight: bold;
}

#toolbar #searchbar.dirty {
    border-color: orange;
}

.change-list .field-known_ip_adresses ul {
    margin: 0;
    padding: 0;
}

.change-list .field-known_ip_adresses li {
    list-style-type: none;
}
