{% extends 'base.html' %}

{% block title %}{{ _('Firefox Cup') }}{% endblock %}

{% block site_header %}{% endblock %}
{% block site_css %}
  {{ css('firefoxcup/f') }}
{% endblock %}

{% block main_content %}

<div id="wrapper">

<div id="doc">

  <ul id="header">
    <li class="first"><a href="http://www.mozilla.com/">{{ _('Mozilla') }}</a></li>
    <li><a href="http://addons.mozilla.org/">{{ _('Add-ons') }}</a></li>
    <li><a href="http://support.mozilla.com/">{{ _('Support') }}</a></li>
    <li>{% include 'includes/lang_switcher.html' %}</li>
  </ul>

  <div id="main-feature">
      <h1><img src="{{ MEDIA_URL }}img/firefoxcup/logo.png" alt="{{ _('Firefox Cup') }}" /></h1>
      <h2>{{ _('Install Personas to support your team and compete for the Firefox Cup.') }}</h2>
    <div id="download">
      <a href="http://www.mozilla.com/firefox/">
        <span class="title">{{ _('Get Firefox') }}</span>
        <span>{{ _('Upgrade to Firefox 3.6 and experience the best of the Web and Firefox Cup.') }}</span>
      </a>
    </div>
  </div>

  <div id="main-content">

    <h2>{{ _('Personas show your passion as your team plays for glory.') }}</h2>

    <div id="personas" class="pager pager-with-tabs">

      <div id="personas-header">
        <h3>{{ _('Roll over to try, click to apply') }}</h3>
        <ul id="personas-nav" class="pager-tabs">
          <li class="first"><a href="#p1">{{ _('1') }}</a></li>
          <li><a href="#p2">{{ _('2') }}</a></li>
          <li><a href="#p3">{{ _('3') }}</a></li>
          <li><a href="#p4">{{ _('4') }}</a></li>
          <li><a href="#p5">{{ _('5') }}</a></li>
        </ul>
      </div>

      <div class="pager-content">

        {% for batch in personas|batch(8) %}
          <div class="personas-contents {% if loop.index == 1 %}default-page{% endif %}" id="feature-p{{ loop.index }}">
            <ul class="personas-list">
              {% for persona in batch %}
                <li>{{ persona_preview(persona, size='small', linked=True) if persona else 'Persona not found' }}</li>
              {% endfor %}
            </ul>
          </div>
        {% endfor %}
      </div>
      <p>{{ _('Dress up your Firefox with team spirit and share the love with friends. The team with the most fans using Personas wins the Firefox Cup!') }}</p>
    </div>
  </div>

  <div id="sidebar">

    <ul class="subfeatures">

      {% if email_enabled %}
        <li id="email">
          <a href="#">
            <span class="title">{{ _('Sign Up!') }}</span>
            <span>{{ _('Stay current with Firefox Cup news by email.') }}</span>
          </a>
        </li>
      {% endif %}

      <li>
        <a href="https://addons.mozilla.org/firefox/addon/725/?src=external-firefoxcup" id="footiefox">
          <span class="title">{{ _('FootieFox') }}</span>
          <span>{{ _("Don't miss a moment of action. FootieFox shows latest scores in your Firefox.") }}</span>
        </a>
      </li>
      <li id="featured">
        <a href="http://rockyourfirefox.com/" id="featured-rockyourfirefox">
          <span class="title">{{ _('Rock Your Firefox') }}</span>
          <span>{{ _("Discover new add-ons to brighten your day.") }}</span>
        </a>
        <a href="https://addons.mozilla.org/" id="featured-amo">
          <span class="title">{{ _('Get Personal') }}</span>
          <span>{{ _("Adapt Firefox to the way you browse with 1,000s of free add-ons.") }}</span>
        </a>
      </li>

      <li id="facebook">
        <a href="http://www.facebook.com/#!/Firefox">
          <span class="title">{{ _('Stay Connected!') }}</span>
          <span>{{ _('Become a Fan') }}</span>
        </a>
      </li>

    </ul>

  </div>

  <div id="secondary-content">

    <div id="teams-section">

      <h2>{{ _('Find Your Team Persona') }}</h2>
      <p>{{ _("Rollover your country's flag to preview Personas, then click to install. At the end of the tournament, the team whose fans used Personas the most wins the Firefox Cup.") }}</p>

    </div>

    <table id="teams">
      <thead>
        <tr>
          <th>{{ _('Flag') }}</th>
          <th>{{ _('Country') }}</th>
          <th>{{ _('Fans') }}</th>
        </tr>
        <tr><td colspan="3"></td></tr>
      </thead>
      <tbody>
        {% for team in teams %}
          <tr>
            <td class="persona"><div class="persona-preview flag flag-{{ team.id }}" data-browsertheme="{{ team.persona.json_data if team.persona }}"></div></td>
            <td>{{ team.name }}</td>
            <td class="fans"><span class="inlinesparkline">{{ team.stats }}</span>{{ team.persona.popularity|numberfmt if team.persona else 0 }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>

    <table id="tweets">
      <thead>
        <tr>
          <th><a href="http://twitter.com/firefox">{{ _('Follow our tweets') }}</a></th>
        </tr>
        <tr><td></td></tr>
      </thead>
      <tbody>
        {% for tweet in tweets %}
          <tr><td>{{ tweet }}</td></tr>
        {% endfor %}
      </tbody>
    </table>

  </div>


</div><!-- end #doc -->
</div><!-- end #wrapper -->

{% endblock %}
{% block footer %}{% endblock %}
{% block site_js %}{% endblock %}
{% block js %}
  <script type="text/javascript">
    media_url = '{{ MEDIA_URL }}';
  </script>
  {{ js('firefoxcup') }}
{% endblock %}
