{% extends "devhub/base.html" %}

{% set title = _('Manage Payments') %}
{% block title %}{{ dev_page_title(title, addon) }}{% endblock %}

{% set can_edit = check_addon_ownership(request, addon) %}
{% block bodyclass %}
  {{ super() }}{% if not can_edit %} no-edit{% endif %}
{% endblock %}

{% block content %}
<header>
  <h2>{{ addon.name }}</h2>
</header>
<section class="primary payments devhub-form" role="main">
  <p class="error">
    {{ _('This page will soon be removed in favor of the Contributions URL field in '
         'the main Edit page. Make sure to use that field to keep Contributions '
         'enabled.') }}
  </p>
  {% set contrib = addon.takes_contributions and addon.has_full_profile() or errors %}
  {% if contrib and not errors %}
    <div id="status-bar">
      <p>
        {{ _('You are currently requesting <b>contributions</b> from users') }}
        <br>
        <span class="light">
          {% trans url=url('addons.about', addon.slug),
                   url_full=url('addons.about', addon.slug, host=settings.SITE_URL) %}
          Your contribution page: <a href="{{ url }}">{{ url_full }}</a>
          {% endtrans %}
        </span>
      </p>
      <form method="post" action="{{ addon.get_dev_url('payments.disable') }}">
        {% csrf_token %}
        <button type="submit">{{ _('Disable Contributions') }}</button>
      </form>
    </div>
  {% elif not errors %}
    <div class="intro">
      <h3>{{ _('Voluntary Contributions') }}</h3>
      <p>{{ _('Add-ons enrolled in our contributions program can request voluntary financial support from users.') }}</p>
      <ul>
        <li>{{ _('Encourage users to support your add-on through your Developer Profile') }}</li>
        <li>{{ _('Choose when and how users are asked to contribute') }}</li>
        <li>{{ _('Receive contributions in your PayPal account or send them to an organization of your choice') }}</li>
      </ul>
      {% if not addon.has_listed_versions() %}
        <p class="error">
        {% trans %}
          Contributions are only available for add-ons with listed versions.
        {% endtrans %}
        </p>
      {% else %}
        {% if not addon.has_full_profile() %}
          <p class="error">
          {% trans url=addon.get_dev_url('profile') %}
            Contributions are only available for add-ons with a <a href="{{ url }}">completed developer profile</a>.
          {% endtrans %}
          </p>
        {% elif addon.status != amo.STATUS_PUBLIC %}
          <p class="error">
          {% trans %}
            Contributions are only available for approved add-ons.
          {% endtrans %}
          </p>
        {% else %}
          <div class="button-wrapper">
            <a href="#setup" id="do-setup" class="button prominent">{{ _('Set up Contributions') }}</a>
          </div>
        {% endif %}
      {% endif %}
    </div>
  {% endif %}

  {% include "devhub/payments/voluntary.html" %}
</section>
{% include "devhub/includes/addons_edit_nav.html" %}
{% endblock %}
