{% extends "devhub/base.html" %}
{% from 'devhub/includes/macros.html' import some_html_tip %}

{% set title = _('Manage Payments') %}
{% block title %}{{ dev_page_title(title, addon) }}{% endblock %}

{% block content %}
<header>
  <h2>{{ title }}</h2>
</header>
<section class="primary payments devhub-form" role="main">
    <h3>{{ _('Step 2. Pricing and Availability') }}</h3>
    <form method="post">
        {{ csrf() }}
        {% include "devhub/payments/includes/tier.html" %}
        <button type="submit">{{ _('Continue') }}</button>
        {% trans cancel=addon.get_dev_url('payments') %}
            or <a href="{{ cancel }}">Cancel</a>
        {% endtrans %}
    </form>
</section>
{% include "devhub/includes/addons_edit_nav.html" %}
{% endblock %}
