<div id="pay" class="overlay">
  <section>
    <a href="#" class="close">X</a>
    <div class="product-details c">
      <h1>{{ _('You are about to make a purchase of {0}')|
              f(product|price_label) }}</h1>
      <div class="visual">
        <img class="icon" src="{{ product.get_icon_url(64) }}">
      </div>
      <div class="vitals">
        <h2>{{ product.name }}</h2>
        <h3 class="authors">{{ users_list(product.listed_authors) }}</h3>
        <p class="downloads">
          {% trans cnt=product.weekly_downloads,
                   num=product.weekly_downloads|numberfmt %}
            {{ num }} weekly download
          {% pluralize %}
            {{ num }} weekly downloads
          {% endtrans %}
        </p>
        {{ device_list(product) }}
      </div>
    </div>
    {% if request.amo_user and not request.amo_user.has_preapproval_key() %}
      <form id="preapproval" method="post"
            action="{preapprovalUrl}">
        {{ csrf() }}
        <h3>{{ _('To complete your purchase please set up your Marketplace
                  Wallet.') }}</h3>
        <p><button>{{ _('Set up') }}</button></p>
      </form>
    {% else %}
      <a href="#" id="payment-confirm" class="button">{{ _('Yes') }}</a>
      <a href="#" id="payment-cancel" class="button">{{ _('No') }}</a>
    {% endif %}
  </section>
</div>

