{# TODO(apps): Finalize copy. #}
<div id="marketplace-confirm" class="hidden">
  <h3>{{ loc('Marketplace') }}</h3>
  {% if not webapp and addon.status == amo.STATUS_UNREVIEWED %}
    <div class="notification-box warning">
      {{ loc('Your add-on must have a full review to be in the Firefox Marketplace.
      This add-on is currently in the Preliminary Review Queue, so at the end of this wizard
      we will move your add-on to the Full Review queue.') }}
    </div>
  {% endif %}
  {% if webapp %}
    <p>
      {% with doc_url=url('devhub.docs', doc_name='marketplace'),
              agree_url=url('devhub.docs', doc_name='policies', doc_page='agreement') %}
        {{ loc('Thanks for your interest in selling your app in the Mozilla
                Marketplace.') }}
                {# TODO(marketplace-docs):
                Please be sure to read our
                <a href="{0}">Marketplace Documentation and Policies</a>
                before continuing, as well as the <a href="{1}">
                Developer Agreement</a> you agreed to when first submitting
                this app.')|f(doc_url, agree_url)|safe
                #}
      {% endwith %}
    </p>
    <p>{{ loc('Please confirm this is the premium app you wish to sell.') }}</p>
  {% else %}
    <p>{% with doc_url=url('devhub.docs', doc_name='marketplace'),
                agree_url=url('devhub.docs', doc_name='policies', doc_page='agreement') %}
      Thanks for your interest in selling your add-on in the Firefox Marketplace.
      {# TODO(marketplace-docs):
      Please be sure to read our <a href="{{ doc_url }}">Marketplace Documentation and Policies</a>
      before continuing, as well as the <a href="{{ agree_url }}">Developer Agreement</a> you agreed
      to when first submitting this add-on.
      #}
    {% endwith %}</p>
    <p>{{ loc('Please confirm this is the premium add-on you wish to sell.') }}</p>
  {% endif %}
  <div class="indent">
    <h4>{{ addon.name }}</h4>
    <p>{{ addon.guid }}</p>
  </div>
  {% if not webapp %}
    <p>{{ loc('If this is the free version of your add-on, please create a new UUID
      for your premium add-on and submit it separately before enrolling in Firefox Marketplace.') }}
    </p>
  {% endif %}
  <a class="button" href="{{ addon.get_dev_url('market.1') }}"
     id="marketplace-submit" type="submit">
     {{ loc('Sell this App') if webapp else loc('Sell this Add-on') }}</a>
  {{ loc('or <a id="marketplace-cancel" href="#">Cancel</a>')|safe }}
</div>
