<div id="marketplace-setup" class="{{ 'hidden' if not addon.is_premium() }}">
  <h3>{{ _('Marketplace') }}</h3>
  <p class="{{ 'hidden' if premium }}">{{ _('Fill in the fields below to begin selling your addon.') }}</p>
  <form id="marketplace-payments-setup-form" method="post" action="{{ url('devhub.addons.payments', addon.slug) }}">
    {{ csrf() }}
    <div>
      {{ sales_form.non_field_errors() }}
    </div>
    <div id="marketplace-dev" class="brform paypal">
      {{ sales_form.paypal_id.errors }}
      <label for="mp_paypal_id">{{ _('What is your PayPal ID?') }}</label>
      <div>{{ sales_form.paypal_id }} <a class="extra" href="{{ settings.PAYPAL_CGI_URL + '?cmd=_registration-run' }}">{{ _('Sign up for Paypal') }}</a></div>
    </div>
    {% if not addon.has_full_profile() %}
      {% with slim=True %}
        {% include "devhub/includes/addons_create_profile.html" %}
      {% endwith %}
    {% endif %}
    <button type="submit">{{ _('Save Changes') if premium  else _('Activate Sales') }}</button>
    <span class="{{ 'hidden' if premium }}">
      {% trans %}
        or <a id="marketplace-setup-cancel" href="#">Cancel</a>
      {% endtrans %}
    </span>
  </form>
</div>
