{% extends "devhub/base.html" %}
{% from 'devhub/includes/macros.html' import some_html_tip %}

{% set title = _('Manage Payments') %}
{% block title %}{{ dev_page_title(title, addon) }}{% endblock %}

{% block content %}
<header>
  {{ dev_breadcrumbs(addon, items=[(None, title)]) }}
  {# l10n_menu(addon.default_locale) #}
  <h2>{{ title }}</h2>
</header>
<section class="primary payments devhub-form" role="main">
    <h3>{{ _('Step 4. Confirm') }}</h3>
    {% if webapp %}
      <p>
        {{ loc('Please review your Marketplace enrollment details below.
                Once you enroll in Marketplace, your app must be reviewed for
                compliance with Marketplace policies before it will be
                available for sale.') }}
      </p>
    {% else %}
      <p>{% trans %}Please review your Marketplace enrollment details below.
      Once you enroll in Marketplace, your add-on must be reviewed for
      compliance with Marketplace policies before it will be available for sale.
      {% endtrans %}</p>
    {% endif %}
    <form method="post">
        {{ csrf() }}
        <h3>{{ addon.name }}</h3>
        <ul>
            <li>{% trans price=premium.price %}Price {{ price }}{% endtrans %}</li>
            {% if upsell %}
            <li>{% trans name=upsell.free.name %}Premium upgrade to {{ name }}{% endtrans %}</li>
            {% endif %}
        </ul>
        <button type="submit">{{ _('Enroll in Marketplace') }}</button>
        {% trans cancel=addon.get_dev_url('payments') %}
            or <a href="{{ cancel }}">Cancel</a>
        {% endtrans %}
    </form>
</section>
{% include "devhub/includes/addons_edit_nav.html" %}
{% endblock %}
