{% extends "devhub/base.html" %}

{% set title = _('Manage Payments') %}
{% block title %}{{ dev_page_title(title, addon) }}{% endblock %}

{% block content %}
<header>
  {{ dev_breadcrumbs(addon, items=[(None, title)]) }}
  {% if not settings.APP_PREVIEW %}
    {{ l10n_menu(addon.default_locale) }}
  {% endif %}
  <h2>{{ title }}</h2>
</header>
<section class="primary payments devhub-form" role="main">
    <h3>{{ _('Step 3. Upsell Settings') }}</h3>
    <form method="post">
        {{ csrf() }}
        {% include "devhub/payments/includes/upsell.html" %}
        <button type="submit">{{ _('Continue') }}</button>
        {% trans cancel=addon.get_dev_url('payments') %}
            or <a href="{{ cancel }}">Cancel</a>
        {% endtrans %}
    </form>
</section>
{% include "devhub/includes/addons_edit_nav.html" %}
{% endblock %}
