{% extends 'admin/base.html' %}

{% block title %} | Marketplace Admin{% endblock %}

{% block navbar %}
<div id="navbar">
  <ul class="top">
    <li class="top">
      <a href="" class="controller">Manage Apps</a>
      {{ ul(links, 'apps') }}
    </li>
    <li class="top">
      <a href="" class="controller">Manage Users</a>
      {{ ul(links, 'users') }}
    </li>
    <li class="top">
      <a href="" class="controller">Site Settings</a>
      {{ ul(links, 'settings') }}
    </li>
    <li class="top">
      <a href="" class="controller">Server Tools</a>
      {{ ul(links, 'tools') }}
    </li>
  </ul>
</div>
{% endblock %}

{% block footer %}{% endblock %}
