{% extends 'zadmin/base.html' %}


{% block js %}
{{ super() }}
<script src="{{ media('js/mkt/admin_featuredapp.js') }}"></script>
<script type="text/template" id="featured-app-template">
      <tr><td>
        <div class="current-webapp js-hidden" style="display: block;">
          <div>
            <a target="_blank" href="<%= app_url %>">
              <img src="<%= featured_graphic %>"><span><%= _.escape(app_name) %></span></a><%= format_support %>
            </div>
          <div>
            <span class="sponsor"><%= is_sponsor %></span> <span class="localepicker"><%= locale %></span>
          </div>
        <a class="remove">×</a>
        </div>
      </td></tr>
</script>
{% endblock %}

{% set title = _('Feature Manager') %}
{% block title %}{{ mkt_page_title(title) }}{% endblock %}

{% block content %}
<h2>{{ title }}</h2>

<form method="post">
  {{ csrf() }}
  <h3>{{ _('Featured Apps') }}</h3>
  {{ _('Section') }}:
  <select id="categories"
          data-src="{{ url('zadmin.featured_categories_ajax') }}">
  </select>
  <div id="featured-webapps" data-src="{{ url('zadmin.featured_apps_ajax') }}">
  </div>
  <div class="hidden">
    <div class="current-webapp js-hidden"></div>
    <input placeholder="{{ _('Enter the name of the webapp to include') }}"
           class="placeholder addon-ac large"
           data-src="{{ url('search.apps_ajax') }}">
    <a class="remove">×</a>
  </div>

  <p><a href="#" id="featured-add">{{ _('Add an app') }}</a></p>
</form>
{% endblock %}
