{% extends 'zadmin/base.html' %}


{% block js %}
{{ super() }}
<script src="{{ media('js/mkt/admin_featuredapp.js') }}"></script>
{% endblock %}

{% set title = 'Feature Manager' %}
{% block title %}{{ mkt_page_title(title) }}{% endblock %}

{% macro appsform(id, apps) %}
  <table>
    <thead>
      <th>App</th>
      <th class="js-hidden">Delete</th>
    </thead>
    <tbody id="{{ id }}-webapps">
      {% for idx, app in apps %}
      <tr><td>
        <div class="current-webapp js-hidden" style="display: block;">
          <a target="_blank" href="{{ app.get_url_path() }}">
            <img src="{{ app.icon_url }}"> {{ app.name }}</a>
        </div>
        <input type="hidden" name="{{ idx }}-{{ id }}-webapp" value="{{ app.id }}">
        <a class="remove">×</a>
      </td></tr>
      {% endfor %}
    </tbody>
    <tfoot class="hidden">
      <tr><td>
        <div class="current-webapp js-hidden" style="display: block;"></div>
        <input placeholder="{{ _('Enter the name of the webapp to include') }}"
               class="placeholder addon-ac large" data-src="{{ url('search.apps_ajax') }}">
        <input type="hidden"><a class="remove">×</a>
      </td></tr>
    </tfoot>
  </table>
{% endmacro %}

{% block content %}
<h2>{{ title }}</h2>

<form method="post">
  {{ csrf() }}
  <h3>Home Featured</h3>
  {{ appsform('home', home_featured) }}
  <p><a href="#" id="home-add">Add an app</a></p>
  <p>
    <button type="submit" name="home_submit">Save Changes</button> or <a href="">Cancel</a>
  </p>
  <h3>Category Featured</h3>
  {{ appsform('category', category_featured) }}
  <p><a href="#" id="category-add">Add an app</a></p>
  <p>
    <button type="submit" name="category_submit">Save Changes</button> or <a href="">Cancel</a>
  </p>
</form>
{% endblock %}
