{% block content %}
{% for row, selected_regions in apps_regions -%}
<tr>
  <td>
    <table data-app-id="{{ row.pk }}" data-url="{{ url('zadmin.set_attrs_ajax') }}">
      <tr>
        <td><img src="{{ row.app.icon_url }}"></td>
        <td>{{ row.app.name }}</td>
        <td>{% for dt in row.app.device_types %}
          {{ dt.name }}{% if not loop.last %}, {% endif%}
          {% endfor %}</td>
      </tr>
      <tr>
        <td>{% if row.app.promo %}
          <a href="{{ row.app.get_dev_url() }}">Manage featured graphics</a>
          {% else %}
          <a href="{{ row.app.get_dev_url() }}">No featured graphics</a>
          {% endif %}
        </td>
        <td>{% if row.is_sponsor %}Sponsored{% else %}Not sponsored{% endif %}</td>
        <td>
          <select class="localepicker" multiple>
            {%- for locName, loc in regions -%}
              <option value="{{ loc.id }}"
                {%- if loc.id in selected_regions %} selected{%- endif -%}
                >{{ loc.name }}</option>
            {%- endfor -%}
          </select>
        </td>
      </tr>
      <tr>
        <td>
          {{ _('Start date') }}
        </td>
        <td>
          <input type="date" class="date-range-start" value="{{ row.start_date }}">
          <div class="start-date-picker"></div>
        </td>
      </tr>
      <tr>
        <td>
          {{ _('End date') }}
        </td>
        <td>
          <input type="date" class="date-range-end" value="{{ row.end_date }}">
          <div class="end-date-picker"></div>
        </td>
      </tr>
    </table>
  </td>
  <td><input type="hidden"><a class="remove" data-id="{{ row.app.id }}">×</a></td>
</tr>
{% endfor %}
{% endblock %}
