{% extends 'developers/base_impala.html' %}

{% set hosted_url = 'https://developer.mozilla.org/en-US/docs/Apps/Manifest' %}
{# TODO(bug ): Change this link when that bug gets closed. #}
{% set packaged_url = 'https://bugzilla.mozilla.org/show_bug.cgi?id=784448' %}

{% set title = _('Submit an App') %}

{% block title %}{{ hub_page_title(title) }}{% endblock %}

{% block content %}

  {# Needs real text. See bug 783418 #}

  {{ hub_breadcrumbs(items=[(None, _('Submit App'))]) }}
  <h1>{{ _('Submit an App') }}</h1>
  {{ progress(request, addon=None, step=step) }}
  <section id="submit-choose" class="primary">
    <h2>{{ _('Choose an App Type') }}</h2>
    <section id="upload-file" class="c">
      <div class="island">
        <p>
          {% trans url=url('submit.app.manifest') %}
            If the app is <b>hosted on your own server</b>,
            then your app type is
            <a href="{{ url }}" class="button">Hosted</a>
          {% endtrans %}
        </p>
        <p>
          {% trans %}
            <b>What's next</b>: submit your app manifest URL
          {% endtrans %}
        </p>
        <p class="learn-mdn"><a href="{{ hosted_url }}" target="_blank">
          {% trans %}
            Learn more about <b>app manifests</b> on MDN.
          {% endtrans %}
        </a></p>
        {# TODO(bug 784448): Remove when other a.soon is gone. #}
        <span class="soon">&nbsp;</a>
      </div>
      <div class="island">
        <p>
          {% trans url=url('submit.app.package') %}
            If the app is going to be <b>hosted by Mozilla</b>,
            then your app type is
            <a href="{{ url }}" class="button">Packaged</a>
          {% endtrans %}
        </p>
        <p>
          {% trans %}
            <b>What's next</b>: upload your packaged app
          {% endtrans %}
        </p>
        <p class="learn-mdn"><a href="{{ packaged_url }}" target="_blank">
          {% trans %}
            Learn more about <b>packaged apps</b> on MDN.
          {% endtrans %}
        </a></p>
        <a href="{{ packaged_url }}" class="soon">Coming soon</a>
      </div>
    </section>
    <section>
      <div class="island full">
        <h2>{{ _('Frequently Asked Questions') }} <a href="{{ packaged_url }}" class="soon">Coming soon</a></h2>
        <ul>
          <li><a href="{{ packaged_url }}">What are the differences between a Hosted App and a Packaged App?</a></li>
          <li><a href="{{ packaged_url }}">Hosted App submission checklist</a></li>
          <li><a href="{{ packaged_url }}">Packaged App submission checklist</a></li>
        </ul>
      </div>
    </secion>
  </section>
{% endblock %}
