{% extends 'hub/base.html' %}

{% block title %}Submit an App | Mozilla Marketplace{% endblock %}

{% block content %}
  <ol id="submission-progress" class="c">
    <li class="active">Developer Account</li>
    <li class="active">App Details</li>
    <li>Manifest</li>
    <li>Payments</li>
    <li>Finished!</li>
  </ol>
  <section id="content" class="primary">
    <div id="describe">
      <h1>Describe Your App</h1>
      <form class="c" method="post">
        <h2>Name</h2>
        <p><label><input type="text" name="name" class="large"></label></p>
        <h2>Description</h2>
        <p><label><textarea name="description" rows="4" cols="50"></textarea></label></p>
        <footer>
          <button class="prominent">
            Continue
          </button>
        </footer>
      </form>
    </div>
  </section>
{% endblock %}
