{% extends 'developers/base_impala.html' %}

{% set title = '' %}

{% block title %}{{ hub_page_title(title) }}{% endblock %}

{% block content %}
  {{ progress(webapp, 'details') }}
  <section id="content" class="primary">
    <div id="describe">
      <h1>{{ mkt.APP_STEPS_TITLES['details'] }}</h1>
      <form class="c" method="post">
        <h2>Name</h2>
        <p><label><input type="text" name="name" class="large"></label></p>
        <h2>Description</h2>
        <p><label><textarea name="description" rows="4" cols="50"></textarea></label></p>
        <footer>
          <button class="prominent">
            Continue
          </button>
        </footer>
      </form>
    </div>
  </section>
{% endblock %}
