{% from 'developers/includes/macros.html' import select_cats %}
{% from 'includes/forms.html' import required %}
{% extends 'developers/base_impala.html' %}

{% set title = loc('Verify App Details') %}

{% block title %}{{ hub_page_title(title) }}{% endblock %}

{% block content %}
  {# TODO: Someone decide what the breadcrumbs/h1 should say for a resumable step. #}
  {{ hub_breadcrumbs(addon, items=[(None, _('Submit App'))]) }}
  <h1>{{ _('Submit an App') }}</h1>
  {{ progress(request, addon=addon, step=step) }}
  <section id="submit-details" class="primary">
    <h2>{{ loc('Verify App Details') }}</h2>
    <p>
      {{ loc("Please review your listing information below. We've pre-filled "
             "as much as we can from your manifest.") }}
    </p>
    <form action="" enctype="multipart/form-data" method="post" class="devhub-form">
      {{ csrf() }}
      <header id="general-details" class="island swagger c">
        <img src="{{ addon.get_icon_url(64) }}">
        <label class="houdini {{ 'error' if form_basic.name.errors else 'ready' }}">
          <span class="before">
            <h2 class="output">{{ addon.name }}</h2>
            <span class="edit">{{ _('Edit') }}</span>
          </span>
          <span class="after">
            {{ form_basic.name }}
            {{ form_basic.name.errors }}
            <span class="done">{{ _('Done') }}</span>
          </span>
        </label>
        <div class="details-url">
          <b>{{ loc('Details page:') }}</b>
          {# The URL for the details page hasn't been finalized,
             so let's not reverse it just yet. #}
          {{ settings.SITE_URL }}/&hellip;/
          <label class="houdini {{ 'error' if form_basic.slug.errors else 'ready' }}">
            <span class="before">
              <span class="output">{{ addon.app_slug }}</span>
              <span class="edit">{{ _('Edit') }}</span>
            </span>
            <span class="after">
              {{ form_basic.slug }}
              {{ form_basic.slug.errors }}
              <span class="done">{{ _('Done') }}</span>
            </span>
          </label>
        </div>
      </header>

      {{ form_field(form_basic.summary, hint=True) }}

      <div id="addon-categories-edit"
           data-max-categories="{{ amo.MAX_CATEGORIES }}">
        {{ form_cats.non_form_errors() }}
        {{ form_cats.management_form }}
        {% for form in form_cats.initial_forms %}
          {% if not form.disabled %}
            {{ select_cats(amo.MAX_CATEGORIES, form, webapp=True, req=True) }}
          {% endif %}
        {% endfor %}
      </div>

      {{ form_field(form_basic.description, hint=True) }}
      {{ form_field(form_basic.privacy_policy, hint=True) }}

      {# TODO: Remove since Privacy Policy is required.
        <div id="show-privacy" class="{{ 'error' if form_details.form_basic.errors else 'ready' }} brform simple-field">
          <label class="checkbox">
            <input type="checkbox" name="show_privacy">
            {{ _('This app has a privacy policy') }}
          </label>
          {{ form_field(form_basic.privacy_policy) }}
        </div>
      #}

      {{ form_field(form_basic.homepage, hint=True) }}

      <div id="support-fields" class="c">
        {{ form_field(form_basic.support_url, hint=True) }}
        {{ form_field(form_basic.support_email, hint=True) }}
      </div>

      {{ form_field(form_devices.device_types) }}

      <div>
        <label>
          {{ loc('Please provide at least one screen shot of your app:') }}
        </label>
        {{ required() }}
      </div>
      <div class="brform simple-field island" id="submit-media">
        {{ form_previews.management_form }}
        {{ form_previews.non_form_errors() }}
        <div id="file-list">
          {% for form in form_previews.forms %}
            <div class="preview">
              <span class="handle">&nbsp;</span>
              {% if form.instance.id %}
                <div class="preview-thumb" style="background-image:url({{ form.instance.thumbnail_url }})">
                </div>
              {% else %}
                <div class="preview-thumb"></div>
              {% endif %}
              {{ form.id }}
              <span class="js-hidden delete">{{ form.DELETE }}{{ form.DELETE.label_tag() }}</span>
              <div class="edit-previews-text">
                <label data-for="{{ form.prefix }}-{{ form.caption.name }}" class="above-the-field">
                  {{ _('Please provide a caption for this screenshot:') }}
                </label>
                {{ form.caption }}
                <a href="#" class="remove">x</a>
              </div>
              <div class="js-hidden position">
                {{ form.position }}
              </div>
              <div class="preview_extra">
                {{ form.upload_hash }}
              </div>
              {{ form.errors }}
            </div>
          {% endfor %}
        </div>
        <div class="invisible-upload">
          <a class="button" href="#">{{ _('Add a Screenshot...') }}</a>
          <input type="file" id="screenshot_upload" name="uploads" multiple
                 data-upload-url="{{ url('mkt.developers.addons.upload_preview', addon.slug) }}">
        </div>
        <div>
          <span class="hint">{{ loc('JPG, PNG, and GIF supported. Max size is 700 x 520 px.') }}</span>
        </div>
      </div>

      <button class="prominent continue c" type="submit">
        {{ _('Continue') }}
      </button>
    </form>
  </section>
{% endblock %}
