{% from 'developers/includes/macros.html' import select_cats %}
{% from 'includes/forms.html' import required %}
{% extends 'developers/base_impala.html' %}

{% set title = loc('Edit App Details') %}

{% block title %}{{ hub_page_title(title) }}{% endblock %}

{% block content %}
  {{ hub_breadcrumbs(addon, items=[(None, _('Submit App'))]) }}
  <div id="temp-locale-container">{{ l10n_menu(addon.default_locale) }}</div>
  <h1>{{ _('Submit an App') }}</h1>
  {{ progress(request, addon=addon, step=step) }}
  <section id="submit-details" class="primary">
    <h2>{{ title }}</h2>
    <p>
      {{ loc("Please review your listing information below. We've pre-filled "
             "as much as we can from your manifest.") }}
    </p>
    <form enctype="multipart/form-data" method="post" class="devhub-form"
          id="submit-media" data-checkurl="{{ url('mkt.developers.ajax.image.status', addon.slug) }}">
      {{ csrf() }}
      <header id="general-details" class="island swagger c">
        <div id="icon_preview" class="invisible-upload">
          <div id="icon_preview_64" class="icon_preview">
            <img src="{{ addon.get_icon_url(64) }}">
            <input type="file" id="id_icon_upload" name="icon_upload"
                   data-upload-url="{{ url('mkt.developers.addons.upload_icon', addon.slug) }}">
          </div>
        </div>
        <div class="houdini {{ 'error' if form_basic.name.errors or
                                          form_basic.slug.errors else 'ready' }}">
          <div class="before">
            <h2 class="output">{{ addon.name }}</h2>
            <b>{{ loc('Details page:') }}</b>
            {# The URL for the details page hasn't been finalized,
               so let's not reverse it just yet. #}
            {{ settings.SITE_URL }}/&hellip;/
            {{ addon.app_slug }}
            <em class="edit-addon-details">{{ loc('(Not Available Yet)') }}</em>
          </div>
          <div class="after">
            <table>
              <tr>
                <th>
                  <label for="{{ form_basic.name.auto_id }}">
                    {{ _('Name') }}
                  </label>
                </th>
                <td>
                  {{ form_basic.name }}
                  {{ form_basic.name.errors }}
                </td>
              </tr>
              <tr>
                <th>
                  <label for="{{ form_basic.name.auto_id }}">
                    {{ _('App URL') }}
                  </label>
                </th>
                <td>
                  <div class="edit_with_prefix c">
                    <span>{{ settings.SITE_URL }}/&hellip;/</span>{{ form_basic.slug }}
                  </div>
                  {{ form_basic.slug.errors }}
                </td>
              </tr>
            </table>
          </div>
          <div class="before">
            <span class="edit">{{ ('Change name') }}</span>
          </div>
        </div>
        <div class="js-hidden">
          {{ form_icon.icon_upload_hash }}
          {{ form_icon.icon_type }}
          {{ form_icon.unsaved_icon_data }}
        </div>
      </header>

      {{ form_field(form_basic.summary, hint=True,
                    cc_startswith=form_basic.summary.auto_id + '_',
                    cc_maxlength=form_basic.summary.field.max_length) }}

      <div id="addon-categories-edit"
           data-max-categories="{{ amo.MAX_CATEGORIES }}">
        {{ form_cats.non_form_errors() }}
        {{ form_cats.management_form }}
        {% for form in form_cats.initial_forms %}
          {% if not form.disabled %}
            {{ select_cats(amo.MAX_CATEGORIES, form, webapp=True, req=True) }}
          {% endif %}
        {% endfor %}
      </div>

      {{ form_field(form_basic.description, hint=True, some_html=True) }}
      {{ form_field(form_basic.privacy_policy, hint=True) }}

      {# TODO: Remove since Privacy Policy is required.
        <div id="show-privacy" class="{{ 'error' if form_details.form_basic.errors else 'ready' }} brform simple-field">
          <label class="checkbox">
            <input type="checkbox" name="show_privacy">
            {{ _('This app has a privacy policy') }}
          </label>
          {{ form_field(form_basic.privacy_policy) }}
        </div>
      #}

      {{ form_field(form_basic.homepage, hint=True) }}

      <div id="support-fields" class="c">
        {{ form_field(form_basic.support_url, hint=True) }}
        {{ form_field(form_basic.support_email, hint=True) }}
      </div>

      {{ form_field(form_devices.device_types) }}

      <div>
        <label>
          {{ loc('Please provide at least one screen shot of your app:') }}
        </label>
        {{ required() }}
      </div>
      <div class="brform simple-field island" id="screenshots">
        {{ form_previews.management_form }}
        {{ form_previews.non_form_errors() }}
        <div id="file-list">
          {% for form in form_previews.forms %}
            <div class="preview">
              <span class="handle">&nbsp;</span>
              {% if form.instance.id %}
                <div class="preview-thumb"
                     style="background-image:url({{ form.instance.thumbnail_url }})">
                </div>
              {% else %}
                <div class="preview-thumb"></div>
              {% endif %}
              {{ form.id }}
              <span class="js-hidden delete">{{ form.DELETE }}{{ form.DELETE.label_tag() }}</span>
              <div class="edit-previews-text">
                <label data-for="{{ form.prefix }}-{{ form.caption.name }}" class="above-the-field">
                  {{ _('Please provide a caption for this screenshot:') }}
                </label>
                {{ form.caption }}
                <a href="#" class="remove">x</a>
              </div>
              <div class="js-hidden position">
                {{ form.position }}
              </div>
              <div class="preview_extra">
                {{ form.upload_hash }}
                {{ form.unsaved_image_data }}
              </div>
              {{ form.errors }}
            </div>
          {% endfor %}
        </div>
        <div class="invisible-upload">
          <a class="button" href="#">{{ _('Add a Screenshot...') }}</a>
          <input type="file" id="screenshot_upload" name="uploads" multiple
                 data-upload-url="{{ url('mkt.developers.addons.upload_preview', addon.slug) }}">
        </div>
        <div>
          <span class="hint">{{ loc('JPG, PNG, and GIF supported. Max size is 700 x 520 px.') }}</span>
        </div>
      </div>
      <button class="prominent continue c" type="submit">
        {{ _('Continue') }}
      </button>
    </form>
  </section>
{% endblock %}
