{% from 'developers/includes/macros.html' import select_cats_submission, tip %}
{% from 'includes/forms.html' import required %}
{% extends 'developers/base_impala.html' %}

{% set title = _('Edit App Details') %}

{% block title %}{{ hub_page_title(title) }}{% endblock %}

{% block submit_next_step %}{% endblock %}

{% set icon_status_url = addon.get_dev_url('ajax.image.status') %}
{% set icon_upload_url = addon.get_dev_url('upload_icon') %}
{% set screenshot_upload_url = addon.get_dev_url('upload_preview') %}

{% block content %}
  {{ hub_breadcrumbs(addon, items=[(None, _('Submit App'))]) }}
  <div id="temp-locale-container">{{ l10n_menu(addon.default_locale) }}</div>
  <header class="submit-header c">
    <h1>{{ _('Submit an App') }}</h1>
    {{ progress(request, addon=addon, step=step) }}
  </header>
  <section id="submit-details" class="primary">
    <h2>{{ title }}</h2>
    <p>
      {{ _("Please review your listing information below. We've pre-filled "
           "as much as we can from your manifest.") }}
    </p>
    <form enctype="multipart/form-data" method="post" class="devhub-form submit-media"
          id="submit-media" data-checkurl="{{ addon.get_dev_url('ajax.image.status') }}">
      {{ csrf() }}
      <header id="general-details" class="island swagger c">
        <div id="icon_preview" class="invisible-upload">
          <div id="icon_preview_64" class="icon_preview">
            <img src="{{ addon.get_icon_url(64) }}"
                 data-checkurl="{{ icon_status_url }}">
            <input type="file" id="id_icon_upload" name="icon_upload"
                   data-allowed-types="image/jpeg|image/png"
                   data-upload-url="{{ icon_upload_url }}">
          </div>
        </div>
        <div class="houdini{{ ' ready' if not form_basic.app_slug.errors }}">
          <div class="before">
            <!-- {{ addon.name }} -->
            <h2 class="output">{{ addon.name }}</h2>
            {# The URL for the details page hasn't been finalized,
               so let's not reverse it just yet. #}
            {{ settings.SITE_URL }}/&hellip;/
            {{ addon.app_slug }}
            <a class="view" href="{{ addon.get_url_path() }}"
               target="_blank">{{ _('Open details page') }}</a>
          </div>
          <div class="after">
            <table>
              <tr>
                <th>
                  <label>
                    {{ _('Name') }}
                  </label>
                </th>
                <td>
                  {{ addon.name }}
                </td>
              </tr>
              <tr{% if form_basic.app_slug.errors %} class="error"{% endif %}>
                <th>
                  <label for="{{ form_basic.app_slug.auto_id }}">
                    {{ _('App URL') }}
                  </label>
                  {{ tip(None, _('Select a unique URL for your detail page. '
                                 'By default we use your app name to create '
                                 'this URL.')) }}
                </th>
                <td>
                  <div class="edit_with_prefix c">
                    <span>{{ settings.SITE_URL }}/&hellip;/</span>{{ form_basic.app_slug }}
                  </div>
                  {{ form_basic.app_slug.errors }}
                </td>
              </tr>
            </table>
          </div>
          <div class="before">
            <span class="edit">{{ _('Edit') }}</span>
          </div>
        </div>
        <div class="js-hidden">
          {{ form_icon.icon_upload_hash }}
          {{ form_icon.icon_type }}
          {{ form_icon.unsaved_icon_data }}
        </div>
        <ul class="icon-errorlist errorlist"></ul>
      </header>

      {{ form_field(form_basic.description, hint=True, some_html=True) }}

      <div id="addon-categories-edit"
           data-max-categories="{{ form_cats.max_categories() }}">
        {{ select_cats_submission(amo.MAX_CATEGORIES, form_cats) }}
      </div>

      {{ form_field(form_basic.privacy_policy, hint=True) }}

      {# TODO: Remove since Privacy Policy is required.
        <div id="show-privacy" class="{{ 'error' if form_details.form_basic.errors else 'ready' }} brform simple-field">
          <label class="checkbox">
            <input type="checkbox" name="show_privacy">
            This app has a privacy policy
          </label>
          {{ form_field(form_basic.privacy_policy) }}
        </div>
      #}

      {{ form_field(form_basic.homepage, hint=True) }}

      <div id="support-fields" class="c">
        {{ form_field(form_basic.support_url, hint=True) }}
        {{ form_field(form_basic.support_email, hint=True) }}
      </div>

      {{ form_field(form_basic.flash) }}

      <div>
        <label>
          {{ _('Screenshot or video of your app:') }}
        </label>
        {{ required() }}
        <span class="hint-inline">{{ _('You must provide at least one.') }}</span>
      </div>
      <div class="brform simple-field island" id="screenshots">
        {{ form_previews.management_form }}
        {{ form_previews.non_form_errors() }}
        <div id="file-list">
          {% for form in form_previews.forms %}
            <div class="preview c">
              <span class="handle">&nbsp;</span>
              {% if form.instance.id %}
                <div class="preview-thumb"
                     style="background-image:url({{ form.instance.thumbnail_url }})">
                </div>
              {% else %}
                <div class="preview-thumb"></div>
              {% endif %}
              {{ form.id }}
              <a href="#" class="remove">x</a>
              <span class="js-hidden delete">{{ form.DELETE }}{{ form.DELETE.label_tag() }}</span>
              <div class="edit-previews-text">{# div holding potential error messages #}</div>
              <div class="js-hidden position">
                {{ form.position }}
              </div>
              <div class="preview_extra">
                {{ form.upload_hash }}
                {{ form.unsaved_image_type }}
                {{ form.unsaved_image_data }}
              </div>
              {{ form.errors }}
            </div>
          {% endfor %}
        </div>
        <div class="invisible-upload">
          <a class="button" href="#">{{ _('Add a Screenshot or Video...') }}</a>
          <input type="file" class="screenshot_upload" name="uploads" multiple
                 data-allowed-types="image/jpeg|image/png|video/webm"
                 data-upload-url="{{ screenshot_upload_url }}">
        </div>
        <div>
          <span class="hint">
            {{ _('PNG and JPG supported. Screenshots must be at least 320px by 480px. '
                 'Screenshots proportional to 320px by 480px are optimal. '
                 'WebM supported for video.') }}
          </span>
        </div>
      </div>

      {{ form_field(form_basic.publish, tooltip=True) }}

      <button class="prominent continue" type="submit">
        {{ _('Continue') }}
      </button>
    </form>
  </section>
{% endblock %}
