{% extends 'developers/base_impala.html' %}

{% set title = _('Finished!') %}

{% block title %}{{ hub_page_title(title) }}{% endblock %}

{% set payments = waffle.switch('allow-b2g-paid-submission') and addon.is_premium() %}

{% block content %}
  {{ hub_breadcrumbs(items=[(None, _('Submit App'))]) }}
  <header class="submit-header c">
    <h1>{{ title }}</h1>
    {{ progress(request, addon=addon, step=step) }}
  </header>
  <section id="submit-done" class="primary{{ ' payments' if payments }}">
    <h2>{{ _('Success! What happens now?') }}</h2>
    <div class="island devhub-form c">
      {% if addon.make_public == amo.PUBLIC_WAIT %}
        <p>
          {%- trans url=addon.get_dev_url('versions') -%}
            We've got your app saved and ready to go! Your app is currently
            awaiting review, and once it is reviewed you will need to be manually
            enable your app from the <a href="{{ url }}">Manage Status page</a>
            for it to show up on listing pages and in search. Until then, feel
            free to tweak your app's details and settings.
          {%- endtrans -%}
        </p>
      {% else %}
        <p>
          {% if payments %}
            {%- trans %}
              Before your app can go live, you need to provide payment
              information. Once you've added a payment account and price,
              your app will be submitted for review.
            {% endtrans -%}
          {% else %}
            {%- trans %}
              We've got your app saved and ready to go! Your app is currently
              awaiting review, and will show up on listing pages and in search
              once it is reviewed. Until then, feel free to tweak your app's
              details and settings.
            {% endtrans -%}
          {% endif %}
        </p>
      {% endif %}
      <footer class="listing-footer button-wrapper">
        {%- if payments -%}
          <a href="{{ addon.get_dev_url('payments') }}" class="button prominent">
            {{- _('Set Up Payments') }}</a>
          <span class="or">{{ _('or') }}</span>
        {%- endif %}
        <a href="{{ addon.get_dev_url('edit') }}" class="button prominent">
          {{- _('Manage My App') }}</a>
        {%- if not payments -%}
          <a href="{{ url('submit.app') }}" class="button prominent">
            {{- _('Submit Another App') }}</a>
        {%- endif -%}
      </footer>
    </div>
  </section>
{% endblock %}
