{% extends 'developers/base_impala.html' %}

{% set title = _('App Manifest') %}

{% block title %}{{ hub_page_title(title) }}{% endblock %}

{% block content %}
  {{ hub_breadcrumbs(items=[(None, _('Submit App'))]) }}
  <h1>{{ _('Submit an App') }}</h1>
  {{ progress(request, addon=None, step=step) }}
  <section id="submit-manifest" class="primary">
    <h2>Where's your manifest?</h2>
    <p>
      Kick off things by creating your app's manifest and entering its URL
      below. <a href="https://developer.mozilla.org/en/Apps/The_Manifest" target="_blank">
      Learn about manifests.</a>
    </p>
    <section id="upload-file" class="island">
      <div class="upload-status">
        <label>
          {{ loc('Submit your app manifest by URL:') }}
          <form id="validate-field">
            <div class="vf-text">
              <input type="text" id="upload-webapp-url" name="manifest" class="large"
                     placeholder="http://" data-upload-url="{{ url('mkt.developers.upload_manifest') }}">
            </div>
            <div class="vf-button">
              <button type="submit" class="disabled" id="validate_app">{{ _('Validate') }}</button>
            </div>
          </form>
        </label>
        <div class="upload-details">
          <div id="validate-error-protocol" class="pretty-tooltip tl">
            <span class="protocol">
              <strong>Don't forget a protocol!</strong> Try adding either <a href="#">http://</a> or <a href="#">https://</a>.
            </span>
            <!-- TODO: We should expose a tooltip error if the URL looks malformed. -->
          </div>
          <div class="hint">
            {{ loc('App URLs must start with a protocol (for example, '
                   '<code>http://</code> or <code>https://</code>) and end '
                   'with either <code>.webapp</code> or <code>.json</code>.')|safe }}
          </div>
        </div>
      </div>
      <form method="post" id="upload-webapp">
        {{ csrf() }}
        <div class="hidden">
          {{ form.upload }}
        </div>
        <footer class="listing-footer">
          <button class="upload-file-submit prominent" type="submit">
            {{ _('Continue') }}
          </button>
        </footer>
      </form>
    </section>
  </section>
{% endblock %}
