{% extends 'developers/base_impala.html' %}

{% set title = _('Next Steps') %}

{% block title %}{{ hub_page_title(title) }}{% endblock %}

{% set payments = waffle.flag('allow-b2g-paid-submission') and addon.is_premium() %}
{% set rated = addon.is_rated() %}
{% set public = addon.is_public() %}

{% block content %}
  {{ hub_breadcrumbs(items=[(None, _('Submit App'))]) }}
  <header class="submit-header c">
    <h1>{{ title }}</h1>
    {{ progress(request, addon=addon, step=step) }}
  </header>

  <section id="submit-next-steps" class="primary">
    {# Checklist #}
    <div class="island devhub-form c">
      <ol class="next-steps">
        <h2>
          {% if public %}
            {{ _('Published!' ) }}
          {% else %}
            {{ _('Almost There!') }}
          {% endif %}
        </h2>
        <li class="done"><span>{{ _('Submit App Manifest') }}</span></li>
        <li class="done"><span>{{ _('Enter App Details') }}</span></li>
        <li{% if rated %} class="done"{% endif %}>
          {%- trans url=addon.get_dev_url('ratings') %}
            <span>Set up <a href="{{ url }}">Content Ratings</a></span>
          {% endtrans -%}
        </li>
        {% if addon.is_premium() %}
          <li{% if not addon.has_payment_account() %} class="done"{% endif %}>
            {% trans url=addon.get_dev_url('payments') %}
              Set up <a href="{{ url }}">Payments & Countries</a>
            {% endtrans %}
          </li>
        {% endif %}
        <li{% if public or addon.is_public_waiting() %} class="done"{% endif %}><span>{{ _('Wait for Review') }}</span></li>
        <li{% if public %} class="done"{% endif %}><span>{{ _('Publish') }}</span></li>
      </ol>

     {# Tell the developer what's next to do. #}
      <p>
        {% if payments %}
          {% trans url=addon.get_dev_url('ratings'), payment_url=addon.get_dev_url('payments') %}
            You must now set up <a href="{{ url }}">Content Ratings</a> and
            <a href="{{ payment_url }}">Payments & Countries</a> before we can review your app.
          {% endtrans %}
        {% elif not rated %}
          {% trans url=addon.get_dev_url('ratings') %}
            You must now set up <a href="{{ url }}">Content Ratings</a> before we can review your app.
          {% endtrans %}
        {% endif %}
      </p>

      <h2>{{ _('At any point, you can') }}</h2>
      <ul class="other-options">
        <li>
          {% trans url=addon.get_dev_url() %}
            Revise your app details on <a href="{{ url }}">Edit Listing</a>
          {% endtrans %}
        </li>
        <li>
          {% trans url=url('mkt.developers.apps') %}
            View a list of all of your submissions on <a href="{{ url }}">My Submissions</a>
          {% endtrans %}
        </li>
      </ul>

      <p>
        {# Tell the developer what's happens after review based on public-waiting. #}
        {% if addon.make_public == amo.PUBLIC_WAIT %}
          {% trans url=addon.get_dev_url('versions') %}
            Once your app is reviewed, you will have to manually
            publish your app from <a href="{{ url }}">Manage Status</a>.
            It would then show up on listing pages and in search for others to
            enjoy.
          {% endtrans %}
        {% elif public %}
          {% trans %}
            Your app has been approved! It is now showing up on listing pages
            and in search for others to enjoy.
          {% endtrans %}
        {% else %}
          {% trans %}
            Once your app is reviewed, it will show up on listing pages and in
            search for others to enjoy.
          {% endtrans %}
        {% endif %}
      </p>

      <footer class="listing-footer">
        {% if not rated %}
          <span>
            {% trans %}
              <strong>What's next:</strong> Set up Content Ratings
            {% endtrans %}
          </span>
        {% elif payments and not addon.has_payment_account() %}
          <span>
            {% trans %}
              <strong>What's next:</strong> Set up Payments & Countries
            {% endtrans %}
          </span>
        {% elif addon.is_public_waiting() %}
          <span>
            {% trans %}
              <strong>What's next:</strong> Publish Your App
            {% endtrans %}
          </span>
        {% endif %}
        <a href="{{ addon.get_dev_url('ratings') }}" class="button prominent">
          {{- _('Continue') }}</a>
      </footer>
    </div>
  </section>
{% endblock %}
