{% extends 'developers/base_impala.html' %}

{% set title = _('App Payments') %}

{% block title %}{{ hub_page_title(title) }}{% endblock %}

{% block content %}
  {{ hub_breadcrumbs(items=[(None, _('Submit App'))]) }}
  <h1>{{ _('Submit an App') }}</h1>
  {{ progress(request, addon=addon, step=step) }}
  <section id="submit-payments" class="primary">
    <h2>{{ title }}</h2>
    <form method="post" class="devhub-form">
      {{ csrf() }}
      <div class="brform island swagger c paypal-inline">
        <p>{{ _("Next, we'll set up your PayPal account so you can
                 receive payments. If you don't have one, we can help
                 you create one.") }}</p>
        {{ form_field(form.business_account) }}
        {{ form_field(form.email) }}
        <p>{{ _('Learn about <a href="{0}">different PayPal account types</a>.')|f("https://www.paypal.com/cgi-bin/webscr?cmd=xpt/Marketing/general/PayPalAccountTypes-outside")|xssafe }}</p>
      </div>
      <button class="prominent continue c" type="submit">
        {{ _('Continue') }}
      </button>
    </form>
  </section>
{% endblock %}


