{% extends 'developers/base_impala.html' %}

{% set title = _('Submit an App') %}

{% block title %}{{ hub_page_title(title) }}{% endblock %}

{% block content %}
  {{ hub_breadcrumbs(items=[(None, _('Submit App'))]) }}
  <header class="submit-header c">
    <h1>{{ title }}</h1>
    {{ progress(request, addon=None, step=step) }}
  </header>
  <section id="submit-terms" class="primary">
    <h2>{{ _('Marketplace Developer Program') }}</h2>
    <p>
      {% trans %}
        We're excited you've built an app using web technologies, and
        submitting it to the Firefox Marketplace is the best way for users
        to discover and enjoy it across their devices. First, you'll need to
        join the Marketplace Developer Program below.
      {% endtrans %}
    </p>
    <p>
      {% trans %}
        To begin, please read and accept our <strong>Developer
        Agreement</strong>:
      {% endtrans %}
    </p>
    <div id="agreement-container">
      <div id="dev-agreement">
        {{ get_doc_template('dev-agreement') }}
      </div>
    </div>
    <ol id="agreement-extra-links">
      <li>
        <a href="{{ url('mkt.developers.docs', 'policies', 'agreement') }}" target="_blank">
          {{ _('Printable Version') }}</a>
      </li>
      <li>
        <a href="https://developer.mozilla.org/en-US/docs/Apps/Marketplace_Review" target="_blank">
          {{ _('Additional Marketplace Policies') }}</a>
      </li>
    </ol>
    <form method="post">
      {{ csrf() }}
      {{ form_field(agreement_form.newsletter,
                    label=_('Mozilla may email me with relevant App Developer '
                            'news and surveys'), opt=True) }}
      {{ agreement_form.newsletter.errors }}
      {{ agreement_form.read_dev_agreement }}
      {{ agreement_form.read_dev_agreement.errors }}
      <button class="continue prominent">
        {{ agreement_form.read_dev_agreement.label }}
      </button>
    </form>
  </section>
{% endblock %}
