{% extends 'developers/base_impala.html' %}

{% set title = _('Submit an App') %}

{% block title %}{{ hub_page_title(title) }}{% endblock %}

{% block content %}
  {{ hub_breadcrumbs(items=[(None, _('Submit App'))]) }}
  <h1>{{ title }}</h1>
  {{ progress(request, addon=None, step=step) }}
  <section id="submit-terms" class="primary">
    <h2>Marketplace Developer Program</h2>
    <p>
      We're excited you've built an app using web technologies, and
      submitting it to the Mozilla Marketplace is the best way for users
      to discover and enjoy it across their devices. First, you'll need to
      join the Marketplace Developer Program below.
    </p>
    <p>
      To begin, please read and accept our <strong>Developer
      Agreement</strong>:
    </p>
    <div id="agreement-container">
      <div id="dev-agreement">
        {% include 'site/dev-agreement.html' %}
      </div>
    </div>
    <div id="agreement-extra-links" class="c">
      <a href="{{ url('mkt.developers.docs', 'policies', 'agreement') }}">{{ _('Printable Version') }}</a>
      {# TODO: What's this supposed to link to?
      &middot; <a href="">{{ loc('Additional Marketplace Policies') }}</a>
      #}
    </div>
    <form method="post">
      {# TODO: Add newsletter field. #}
      {{ csrf() }}
      {{ agreement_form.read_dev_agreement.errors }}
      {{ agreement_form.read_dev_agreement }}
      <button class="good prominent">
        {{ agreement_form.read_dev_agreement.label }}
      </button>
    </form>
  </section>
{% endblock %}
