@import 'lib';

#abuse {
    padding: 0 15px;
    form, form .simple-field {
        margin: 0;
    }
    form label[for=id_text] {
        display: none;
    }
    .form-footer button {
        margin-bottom: 15px;
    }
}
