@import 'lib';

.account-links {
    cursor: pointer;
    position: absolute;
    right: 13px;
    text-align: left;
    top: 46px;
    white-space: nowrap;
    z-index: 12;
    ul {
        background: rgb(43, 54, 63);
        border-radius: 3px 0 3px 3px;
        line-height: 15px;
        list-style-type: none;
        margin: 0;
        padding: 6px 4px;
    }
    li {
        position: relative;
        + li {
            &:before,
            &:after {
                content: "";
                display: block;
                height: 1px;
                position: absolute;
                top: 0;
                width: 100%;
            }
            &:before {
                gradientLeft(unquote('rgba(33, 40, 46, 0), rgba(33, 40, 46, .75) 25%, rgba(33, 40, 46, .75) 75%, rgba(33, 40, 46, 0) 100%'));
            }
            &:after {
                gradientLeft(unquote('rgba(59, 71, 80, 0), rgba(59, 71, 80, .95) 25%, rgba(59, 71, 80, .95) 75%, rgba(59, 71, 80, 0) 100%'));
                top: 1px;
            }
        }
        a {
            color: $white;
            display: block;
            text-decoration: none;
            text-shadow: 0 .5px 0 $black;
            padding: 10px 15px;
            &:hover {
                gradientTop(unquote('rgba(36, 45, 51, 1) 0%, rgba(36, 45, 51, 0.57) 18%, rgba(36, 45, 51, 0) 42%)'));
                color: rgb(26, 149, 252);
            }
        }
    }
    a em {
        color: $note-gray;
        display: block;
        font-style: italic;
        margin-bottom: 6px;
    }
    a:hover em {
        color: $light-gray;
    }
}
