@import 'lib';

#breadcrumbs {
    // Colors below should be one-time use only.
    border-top: 1px solid #c2c8cc;
    border-bottom: 1px solid #bdc2c5;
    .gradient-two-color(rgba(176,186,192, 0.33), rgba(187,195,199, 0.33));
    color: @text;
    margin-bottom: 24px;
    .light-text-shadow;
    padding-top: 3px;
    width: 100%;
    ol {
        list-style: none;
        padding: 0;
        margin: 0 auto;
        line-height: 20px;
    }
    li {
        display: inline-block;
        + li:before {
            content: '\00a0\/\00a0';
            font-size: 14px;
        }
        a {
            display: inline-block;
            font-weight: bold;
            padding: 5px 0;
            &.home {
                &:before {
                    background: url(../../img/mkt/icons/home_crumb.png) 0 2px no-repeat;
                    content: "";
                    display: inline-block;
                    opacity: .8;
                    position: relative;
                    text-decoration: none;
                    top: 1px;
                    height: 16px;
                    width: 25px;
                }
                &:hover {
                    &:before {
                        opacity: 1;
                    }
                }
            }
        }
    }
}
