@import 'lib';

#breadcrumbs {
    color: @text;
    font-family: @open-stack;
    width: 100%;
    border-top: 1px solid #c2c8cc; // define
    border-bottom: 1px solid #bdc2c5; // define this
    .gradient-two-color(rgba(176, 186, 192, 0.33), rgba(187, 195, 199, 0.33));
    padding-top: 3px;
    margin-bottom: 5px;
    ol {
        list-style: none;
        padding: 0 0 5px;
        .width(14);
        margin: 0 auto;
        line-height: 20px;
    }
    li {
        display: inline-block;
        &:before {
            content: '\00a0\/\00a0';
            font-size: 14px;
        }
        a {
            font-weight: bold;
        }
        a.home, &:first-child a {
            background: url(../../img/mkt/icons/home_crumb.png) no-repeat 0 3px;
            display: block;
            float: left;
            height: 17px;
            margin-top: 3px;
            overflow: hidden;
            text-indent: -9999px;
            text-decoration: none;
            width: 15px;
            &:hover {
                opacity: .7;
            }
        }
        &:first-child:before {
            content: none;
        }
        &:nth-child(2) {
            padding-left: 7px;
            &:before {
                content: none;
            }
        }
    }
}
