@import 'lib';

#browse-featured {
    padding-top: 24px;
}

.popular {
    .see-all {
        span, em {
            display: inline-block;
        }
        span {
            float: left;
        }
        em {
            color: @medium-gray;
            float: right;
            font-size: 16px;
            font-style: normal;
            margin-left: 15px;
            text-decoration: none;
        }
        a:hover {
            span {
                text-decoration: underline;
            }
            color: @dark-gray;
        }
    }
}
@media (max-width: @4col) {
    #browse-featured {
        padding-top: 2px;
        h2.sticky {
            display: block;
            font-size: 22px;
            padding-bottom: 5px;
        }
    }
    #page section.main.subheading {
        padding-left: 10px;
        margin-top: -20px;
        position: relative;
        h2 {
            font-size: 14px;
            line-height: 18px;
            padding: 6px 0 7px;
            font-weight: 400;
            a {
                color: #83CEF3;
                text-shadow: 0 1px 0 rgba(0,0,0,.5);
                em {
                    display: none;
                }
            }
        }
    }
}
