@import 'lib';

.friendly h1 + p.intro {
    margin-top: 15px;
}

.form-grid {
    float: left;
    margin: 0;
    width: 100%;
    .form-footer {
        button {
            height: auto;
            line-height: 26px;
            padding: 0 12px;
        }
    }
    .form-label {
        label {
            margin-top: 5px;
        }
    }
}

.form-col {
    .styled {
        margin: 0;
        overflow: hidden;
        padding: 0;
        select {
            appearance-none();
            background: none;
            border: none;
            box-shadow: none;
            cursor: pointer;
            margin-top: 0;
            max-width: 115%;
            padding: 5px;
            width: 115%;
        }
        &.select {
            margin-top: 5px;
            position: relative;
            width: 60%;
            &:before,
            &:after {
                content: "";
                display: block;
                pointer-events: none;
                position: absolute;
                top: 13px;
            }
            &:before {
                border: transparent 8px solid;
                border-top-color: #e1e2e4;
                height: 0;
                right: 11px;
                width: 0;
            }
            &:after {
                background: #c4c9cc;
                height: 1px;
                right: 12px;
                width: 13.5px;
            }
            &:hover {
                &:before {
                    border-top-color: darken(#e1e2e4, 10%);
                }
                &:after {
                    background: darken(#c4c9cc, 10%);
                }
            }
            &.active {
                background: rgba(255,255,255,.9);
                border-color: $medium-gray;
            }
        }
    }
}
