@import 'lib';

.detail #page {
    padding: 120px 0 40px;

    > section {
        background-color: fade(#fff, 90%);
    }
    .review {
        float: left;
        width: 50%;
        padding: 0 5px;
    }
    .listing {
        border: 0;

        .mkt-tile {
            h3 {
                font-weight: 600;
            }
            .author {
                color: @text;
                text-shadow: 0 0;
            }
            + .tray {
                background: transparent;
                border-bottom: 0;
                border-bottom: 1px solid rgba(3, 16, 26, 0.13);
            }
        }
    }
    #reviews-detail {
        padding: 20px;
        ul {
            margin: 0 -5px;
        }
    }
    .infobox {
        > div {
            padding: 20px;
        }
        ul.c {
            margin: 0 -5px;
            li {
                margin: 0;
                width: 25%;
                padding: 0 5px;
            }
        }
    }
}