@import 'lib';

.detail {
    #page {
        padding: 40px 0;
        section.main {
            background-color: rgba(255,255,255,.3);
        }
    }
    #reviews {
        margin: 20px;
    }
    .listing {
        border: 0;
        .mkt-tile h3 {
            font-weight: 600;
        }
    }
    #reviews-detail {
        padding: 20px;
        ul {
            margin: 0 -20px;
            position: relative;
            .review {
                float: left;
                width: 50%;
                padding: 0 20px;
            }
            &:before {
                content: '';
                display: block;
                position: absolute;
                top: 0;
                right: 50%;
                width: 0;
                bottom: 20px;
                border-left: 1px solid rgba(255,255,255,.5);
                border-right: 1px solid rgba(3, 16, 26, .13);

            }
        }
    }
    .infobox {
        > div {
            padding: 20px;
        }
        ul.c {
            margin: -5px;
            li {
                margin: 0;
                width: 25%;
                padding: 5px;
            }
        }
    }
}

// Chrome fix. This seems to be the reflow issue: http://is.gd/d06sTY
.actions .button {
    width: 572px;
}
