@import 'lib';

.simple-field.rating {
    .border-radius(0);
    .box-shadow(none);
    background: @faint-gray;
    padding: 0;
    position: absolute;
    top: 57px;
    width: 383px;
    left: 26px;
    > label {
        font-weight: normal;
        font-size: 13px;
        padding: 0 10px;
    }
    .ratingwidget {
        display: inline-block;
        margin: 0;
    }
}

#edit-review {
    form {
        padding: 5px 25px;
        textarea {
            min-height: 110px;
            padding-top: 40px;
            width: 385px;
            font-size: 13px;
        }
    }
    footer button {
        width: auto;
        margin: 0 0 0 10px;
    }
    .form-footer {
        margin-bottom: 15px;
    }
}

.form-footer {
    .char-count {
        display: inline-block;
    }
}

// Override mobile stars. In our galaxy all stars are mobile no?
.stars {
    &.ratingwidget {
        &.stars-1 label[data-stars="1"], &.stars-2 label[data-stars="1"], &.stars-2 label[data-stars="2"],
        &.stars-3 label[data-stars="1"], &.stars-3 label[data-stars="2"], &.stars-3 label[data-stars="3"],
        &.stars-4 label[data-stars="1"], &.stars-4 label[data-stars="2"], &.stars-4 label[data-stars="3"], &.stars-4 label[data-stars="4"],
        &.stars-5 label[data-stars="1"], &.stars-5 label[data-stars="2"], &.stars-5 label[data-stars="3"], &.stars-5 label[data-stars="4"], &.stars-5 label[data-stars="5"] {
            background: url(../../img/mkt/stars/sprite_18.png) 100% 100%;
        }
        label {
            height: 18px;
            width: 18px;
        }
    }
}
