@import 'lib';

.account h2 {
    margin-bottom: 15px;
}

#page > section:only-child {
    padding: 30px 0;
}

.toggles {
    display: none;
}

.listing,
.form-grid {
    background-color: rgba(0,0,0,.03);
    border: 1px solid rgba(0,0,0,.04);
}

.form-grid {
    float: left;
    margin: 0;
    padding: 25px;
    width: 100%;
    .form-footer {
        button {
            height: auto;
            line-height: 26px;
            padding: 0 12px;
        }
    }
}

.simple-field select {
    margin-top: 5px;
}

.feedback-links {
    .fatbutton + .fatbutton {
        float: left;
        width: 49%;
        + .fatbutton {
            float: right;
        }
    }
}

#account-settings {
    select {
        width: 50%;
    }
}
