@import 'lib';

#site-header h1.site,
.account-links {
    display: none;
}

@media (min-width: @desktop) {
    //.overlay.dropdown {
    //    background: transparent;
    //}
    .account-links {
        cursor: pointer;
        display: block;
        float: right;
        position: absolute;
        right: 0;
        height: 100%;
        width: 39px;
        ul {
            .border-radius(3px 0 3px 3px);
            .transition(~'.2s opacity, .2s visibility, .2s top');
            background: rgb(43,54,63);
            line-height: 15px;
            opacity: 0;
            padding: 6px 4px;
            position: absolute;
            top: 0;
            right: 0;
            visibility: hidden;
        }
        li {
            position: relative;
            &:before,
            &:after {
                content: "";
                display: block;
                height: 100%;
                position: absolute;
                top: 0;
                height: 1px;
                width: 100%;
            }
            &:before {
                .gradient(~'left, rgba(33,40,46,0), rgba(33,40,46,.75) 25%, rgba(33,40,46,.75) 75%, rgba(33,40,46,0) 100%');
            }
            &:after {
                .gradient(~'left, rgba(59,71,80,0), rgba(59,71,80,.95) 25%, rgba(59,71,80,.95) 75%, rgba(59,71,80,0) 100%');
                top: 1px;
            }
            a {
                color: @white;
                display: block;
                padding: 10px 15px;
            }
        }
        .user {
            a {
                color: @note-gray;
                font-style: italic;
            }
            &:before,
            &:after {
                display: none;
            }
        }
        &.inactive {
            display: none;
        }
        &.active {
            width: 210px;
            ul {
                opacity: 1;
                top: 48px; // 67px;  // 48px
                visibility: visible;
            }
            .settings {
                &:after {
                    .gradient(~'bottom, rgba(43,54,63,1) 0%, rgba(43,54,63,0.07) 85%, rgba(252,252,253,0) 100%');
                    content: "";
                    display: block;
                    height: 39px; //58px;  // 39px
                    position: relative;
                    float: right;
                    width: 40px;
                    z-index: 2;
                }
                &:before {
                    background-position: 0 -24px;
                }
            }
        }
    }

    #site-header {
        height: 80px;
        #search,
        #search-q {
            width: 175px;
        }
        #search-q {
            .border-radius(3px);
            .box-shadow(0 1px 0 rgba(255,255,255,.1),
                        0 1px 0 rgba(0,0,0,.5) inset,
                        0 1px 1px rgba(0,0,0,.5) inset);
            font-size: 14px;
            font-weight: 300;
            margin-top: -15px;
            position: absolute;
            top: 50%;
            right: 0;
            &:-moz-placeholder {
                color: lighten(#48535d, 15%);
            }
            &::-moz-placeholder {
                color: lighten(#48535d, 15%);
            }
            &::-webkit-input-placeholder {
                color: lighten(#48535d, 15%);
            }

        }
    }
    #page {
        padding-top: 80px;
    }
    .incompatible-browser.active {
        top: 80px;
    }

    // Hide page titles. Show just the logo. Everywhere.
    #site-header h1.page {
        display: none !important;
    }

    .force-mobile #site-header > section,
    #site-header nav,
    #search {
        height: 100%;
    }

    #search {
        display: block;
        position: absolute;
        right: 50px;
    }

    .logged #search {
        right: 35px;
    }

    #site-header, .classic-header {
        .box-shadow(~'0 -1px 0 rgba(0,0,0,.15) inset, 0 1px 0 rgba(255,255,255,.1) inset');
        background: darken(#3f4f5b, 5%) @grain-src;
        background-size: 100px 100px;
        position: absolute;
    }

    body, .home {
        #site-header h1.site {
            //background: url(../../img/mkt/logos/large.png) 0 50% no-repeat;
            background: url(../../img/mkt/logos/mp_aurora_wordmark_200x30.png) 0 50% no-repeat;
            display: block;
            text-indent: -9999px;
            height: 100%;
            left: 0;
            max-width: 280px;
            top: 0;
            width: 280px;
            a {
                display: block;
                height: 100%;
                width: 100%;
            }
        }
    }
    .header-button {
        float: none;
        position: absolute;
        top: 50%;
        margin-top: -25px;
        right: 0;
        width: 50px;
        &.back,
        &.home {
            display: none !important;
        }
        &:after {
            display: none;
        }
        &.settings {
            display: block;
            &:before {
                background-image: url(../../img/mkt/icons/settings.png);
                left: 19px;
                z-index: 3;
            }
        }
        &.browserid {
            display: block;
            height: 100%;
            line-height: 80px;
            margin: 0;
            text-align: right;
            position: absolute;
            top: 0;
            width: 60px;
            &.loading-submit {
                .hidetext;
                -webkit-animation-duration: 1.5s;
                -webkit-animation-name: spin;
                -webkit-animation-iteration-count: infinite;
                -webkit-animation-timing-function: linear;
                background: url(../../img/mkt/loading-16.png) 33px 50% no-repeat;
                &:after {
                    display: none;
                }
            }
        }
    }
}

@media screen and (min-width: @desktop),
       @retina {
    body, .home {
        #site-header h1.site {
            //background-image: url(../../img/mkt/logos/large-2x.png);
            background-image: url(../../img/mkt/logos/mp_aurora_wordmark_400x60.png);
            background-size: 280px auto;
        }
        .header-button.settings:before {
            background-image: url(../../img/mkt/icons/settings-2x.png);
            background-size: 23px auto;
        }
    }
}
