@import 'lib';

.product-details {
    .actions {
        .width(2);
        float: right;
        margin-bottom: 16px;
    }
    .icon {
        padding: 4px;
        background: #fff;
        .border-radius(2px);
        .box-shadow(0 1px 2px #000);
    }
    .vitals {
        float: left;
        word-wrap: break-word;
    }
    .visual {
        float: left;
        width: 88px;
        height: 100px;
    }
}
.description {
    clear: both;
    padding: 16px;
    p {
        .max-width(10);
        margin: 0 auto;
    }
}

.device-list {
    h4, ul {
        display: inline-block;
        line-height: 20px;
        vertical-align: top;
    }
    ul {
        color: @medium-gray;
        margin: 0;
        padding: 0;
    }
    li {
        display: inline-block;
        height: 22px;
        line-height: 20px;
        position: relative;
        padding-left: 23px;
        margin-left: 16px;
        overflow: hidden;

        &:before, &:after {
            content: '';
            background: #fff;
            display: block;
            position: absolute;
            border-radius: 2px;
            top: 0;
            left: 0;
            border: 2px solid #666;
        }
        &.mobile:before {
            left: 3px;
            width: 10px;
            height: 12px;
            border-width: 3px 2px 6px;
        }
        &.mobile:after {
            border-width: 1px;
            border-color: #fff;
            left: 9px;
            top: 17px;
        }
        &.tablet:before {
            top: 3px;
            left: 0px;
            width: 16px;
            height: 10px;
        }
        &.tablet:after {
            display: none;
        }
        &.desktop:before {
            top: 3px;
            width: 16px;
            height: 8px;
        }
        &.desktop:after {
            top: 15px;
            width: 6px;
            left: 5px;
        }
    }
}

.html-rtl .device-list {
    h4, ul {
        float: right;
    }
    h4 {
        margin: 5px 0 5px 10px;
    }
    li {
        + li {
            margin: 0 10px 0 0;
        }
    }
}

// 7 columns
@media (max-width: @7col) {
    .product-details {

    }
}

//4 columns
@media (max-width: @4col) {
    .description {
        border-width: 1px 0;
        padding: 16px;
    }
    .product-details {
        .vitals {
            .width(2);
        }
        .actions {
            .width(1);
        }
    }
    .device-list {
        h4 {
            display: none;
        }
        li {
            width: 0;
            margin-left: 0;
        }
    }
}

// 3 columns
@media (max-width: @3col) {
    .product-details {
        .visual {
        }
        .vitals {
            .width(3);
            float: none;
        }
        .actions {
            float: none;
            clear: both;
            .width(3);
        }
    }
}
