@import 'lib';

#filters {
    position: fixed;
    z-index: 10;
    width: 100%;
    height: 100%;
    background-color: @bg;
    .grain();
    top: 0;
    display: none;
    form > div {
        padding: 0 15px;
        margin-top: 84px;
        > h2 {
            font-size: 16px;
            margin: 35px 0 10px;
        }
    }
    .classic-header {
        .apply, .back {
            display: block;
        }
        h1 {
            font-weight: 400;
            font-size: 18px;
            line-height: 50px;
            display: block;
            color: @white;
            text-align: center;
            position: absolute;
            width: 100%;
        }
    }
}
.force-mobile #filters {
    max-width: 320px;
}
.toggles {
    padding: 0;
    margin: 0;
    list-style-type: none;
    font-size: 14px;
    .border-radius(5px);
    li {
        float: left;
        width: 33%;
        .box-shadow(0 1px 0 0 #f2f4f5);
        height: 35px;
        a {
            &:hover {
                text-decoration: none;
            }
        }
        &:first-child, &:first-child a, &:nth-child(3n+1), &:nth-child(3n+1) a {
            .border-radius(5px 0 0 5px);
        }
        &:last-child, &:last-child a, &:nth-child(3n), &:nth-child(3n) a {
            .border-radius(0 5px 5px 0);
        }
    }
}
.toggles li a, .picker {
    line-height: 33px;
    border: 1px solid #cdcbcb;
    display: inline-block;
    width: 100%;
    text-align: center;
    .gradient-two-color(#f7f7f7, @faint-gray);
    font-weight: 600;
    color: @text;
    .ellipsis();
    &.sel, &:active {
        background: rgba(68,82,91,.08);
        border-top: 1px solid #a5b0b6;
    }
}
.picker {
    margin: 0;
    .border-radius(5px);
    cursor: pointer;
    font-size: 14px;
    width: auto;
    padding: 0 30px 0 15px;
    position: relative;
    &:after {
        border-color: @note-gray transparent transparent;
        border-style: solid;
        border-width: 5px 5px 0;
        content: "";
        margin: 5px 0 0 5px;
        position: absolute;
        height: 0;
        top: 10px;
        width: 0;
    }
    &:hover:after {
        border-top-color: #333;
    }
}
.confirm-action {
    display: none;
    position: absolute; // This should be 'fixed' but FF18 doesn't repaint.
    z-index: 99;
    bottom: 0;
    left: 0;
    padding: 21px 19px;
    background: @grain-src @bg;
    list-style-type: none;
    width: 100%;
    margin: 0;
    .border-radius(5px 5px 0 0);
    .box-shadow(0 0 5px 2px rgba(0,0,0,0.5));
    li {
        a {
            .border-radius(5px);
            width: 100%;
            margin-bottom: 6px;
            font-size: 14px;
            .ellipsis();
            &.cancel {
                margin-top: 13px;
            }
        }
    }
    &.two-col {
        li {
            float: left;
            width: 50%;
            text-align: left;
            a {
                width: 138px;
            }
            &:nth-child(2n) {
                text-align: right;
            }
            &:last-child {
                float: none;
                width: 100%;
                a {
                    width: 100%;
                }
            }
        }
    }
    &.show {
        display: block;
    }
}
.footer-action {
    top: auto;
    bottom: 0;
    text-align: center;
    a {
        padding: 0 30px;
        &:hover {
            line-height: 31px;
        }
    }
}
// Ugh!
.force-mobile .confirm-action {
    max-width: 320px;
    left: 50%;
    margin-left: -160px;
}
