@import 'lib';

#site-header {
    .border-box;
    background-color: #404f5a;
    background-image: url(../../img/mkt/grain.png);
    height: 82px;

    h1, form {
        line-height: 30px;
    }
    h1 {
        float: left;
        padding: 15px 0;
        a {
            background-image: url(../../img/mkt/logo.png);
            background-repeat: no-repeat;
            display: block;
            width: 215px;
            height: 52px;
            text-indent: -9999px;
            overflow: hidden;
        }
    }
    form {
        float: right;
    }
    .menu-button {
        height: 28px;
        width: 28px;
        float: right;
        height: 30px;
        margin: 25px 0 0 44px;
        display: block;
        position: relative;
        overflow: hidden;
        // CSS Menu icon.
        b, b:before, b:after {
            position: absolute;
            top: 0;
            left: 0;
            text-indent: -9999px;
            .border-radius(2px);
            .box-shadow(0 1px 0 fadeOut(#fff, 80%),
                        0 1px 0 rgba(0,0,0,.5) inset,
                        0 1px 1px rgba(0,0,0,.5) inset);
            .gradient-two-color(#21292f, #2a353c);
            display: block;
            content: '';
            background: black;
            margin-bottom: 3px;
            width: 28px;
            height: 7px;
        }
        b:before {
            top: 10px;
        }
        b:after {
            top: 20px;
        }
    }
}

/* Content header (breadcrumbs, heading, subnav) - used on Account Settings, etc. */

#page header {
    margin-bottom: 10px;
    h1 {
        float: left;
    }
    .sub-nav {
        float: right;
    }
    .sub-nav {
        .border-radius(15px);
        .box-shadow(0 1px 0 @barely-gray);
        list-style: none;
        margin: 0;
        padding: 0;
        li {
            background-clip: padding-box;
            float: left;
            a {
                .gradient-two-color(@white, rgba(238,238,238,.8));
                border: 1px solid @note-gray;
                border-right: 0;
                color: @medium-gray;
                display: inline-block;
                font-size: 13px;
                line-height: 15px;
                padding: 5px 15px;
                text-decoration: none;
                text-shadow: 0 1px 0 rgba(255,255,255,.8);
                &:hover {
                    .gradient-two-color(@barely-gray, darken(@barely-gray, 15%));
                    color: @dark-gray;
                    text-shadow: 0 1px 0 rgba(255,255,255,.8);
                }
                &:active {
                    .box-shadow(0 1px 2px rgba(0,0,0,.1) inset);
                    background: @faint-gray;
                    border-color: @note-gray;
                }
            }
            &.selected {
                a, a:hover {
                    .box-shadow(0 1px 0 rgba(0,0,0,.2) inset);
                    .gradient-two-color(@medium-gray, fadeOut(@medium-gray, 75%));
                    border-color: @medium-gray;
                    color: @white;
                    text-shadow: 0 1px 0 rgba(0,0,0,.2);
                }
            }
            &:first-child a {
                .border-radius(15px 0 0 15px);
            }
            &:last-child a {
                .border-radius(0 15px 15px 0);
                border-right: 1px solid @note-gray;
            }
            &:only-child a {
                .border-radius(15px);
            }
        }
    }
}

.html-rtl #page header {
    h1 {
        float: right;
    }
    .sub-nav {
        float: left;
    }
}

@media (max-width: @4col) {
    #page header h1,
    #page header .sub-nav,
    #page header .sub-nav li {
        float: none;
    }
    #page header .sub-nav {
        .border-radius(0);
        .box-shadow(0);
        margin: 15px 0;
        li a,
        li a:first-child {
            .border-radius(0);
        }
        li {
            a {
                border: 1px solid @note-gray;
                border-top-width: 0;
                display: block;
                padding: 10px 15px;
            }
            &:first-child a {
                border-top-width: 1px;
            }
        }
    }
}
