// styles for the global site header only.
@import 'lib';

// ***************** Wide Mobile (600+ px)

// usable on any header
.header {
    gradient-two-color(#566773, #3e4e59);
    box-shadow: 0 -1px 0 rgba(0,0,0,.15) inset, 0 0 3px 3px rgba(0,0,0,.3), 0 1px 0 rgba(255,255,255,.1) inset;
    height: 50px;
    max-height: 50px;
    width: 100%;
    display-flex();
    > * {
        flex-center();
    }
    .title {
        flex(1);
        color: #fff;
        font-size: 18px;
        font-weight: 300;
        line-height: 50px;
        z-index: 10;
        padding-left: 10px;
    }
}

// # for the primary site header *only*. If you need to generalize a style in here, move it.
.site-header {
    display: block;
    position: fixed;
    z-index: 10;
    text-align: center;
    > * {
        display: block;
    }
    > nav {
        height: 50px;
        display-flex();
        position: relative;
        text-align: left;
        width: 100%;
        > * {
            flex-center();
            display: block;
        }
    }
    .site {
        hidetext();
        width: 200px;
        height: 30px;
        margin-left: 10px;
    }
    .wordmark {
        background: url(../../img/mkt/logos/large.png) no-repeat;
        background-size: auto 30px;
        display: block;
        height: 30px;
        width: 200px;
    }
    .header-button {
        display: none;
    }
}
// compensate for fixed header on page el.
#page {
    padding-top: 50px;
}

.act-tray {
    position: relative;
    width: 50px;
    height: 50px;
    .header-button.settings {
        position: absolute;
        top: 0;
        left: 0;
    }
}

.site-header .search {
    position: relative;
    width: 230px;
    label {
        display: none;
    }
    margin: 0 10px;
    transition(.3s all);
}
#search-q {
    box-shadow: 0 1px 0 rgba(255,255,255,.1), 0 1px 0 rgba(0,0,0,.5) inset, 0 1px 1px rgba(0,0,0,.5) inset;
    gradient-two-color-with-image(#21292f, #2a353c, url(../../img/mkt/icons/magnifier.png), unquote('8px 8px'), no-repeat);
    -webkit-appearance: none;
    -moz-appearance: none;
    border: 0;
    border-radius: 3px;
    color: lighten(#99abb9, 2%);
    font: 17px/30px $open-stack;
    height: 30px;
    outline: none;
    padding: 0 30px 0 30px;
    z-index: 2;
    width: 100%;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    &:focus {
        box-shadow: 0 1px 1px rgba(0,0,0,0.06) inset, 0 0 8px rgba(80, 160, 220, 0.6);
        color: $white;
    }
    &:-moz-placeholder {
        color: lighten(#99abb9, 3%);
    }
    &::-moz-placeholder {
        color: lighten(#99abb9, 3%);
    }
    &::-webkit-input-placeholder {
        color: lighten(#99abb9, 3%);
    }
}
.search-clear {
    hidetext();
    position: absolute;
    height: 12px;
    width: 11px;
    background: url(../../img/mkt/icons/clear.png) no-repeat;
    top: 10px;
    right: 10px;
}
input:invalid ~ .search-clear {
    display: none;
}


// Buttons that appear in headers.
.header-button {
    display: block;
    width: 50px;
    height: 50px;
    line-height: 50px;
    color: #fff;
    text-align: center;
    &:before {
        content: '';
        display: block;
        z-index: 11;
        height: 34px;
        width: 2px;
        background: url(../../img/mkt/divider.png) no-repeat;
        margin-top: 7px;
        float: left;
    }

    // header buttons with icons
    &.icon {
        position: relative;
        hidetext();
        &:after {
            content: '';
            background: url(../../img/mkt/header-icons.png) no-repeat;
            display: block;
        }
    }
    &.cancel:after {
        width: 24px;
        height: 24px;
        position: absolute;
        top: 12px;
        left: 13px;
        background-position: 0 -24px;
    }
    &.settings {
        display: block;
    }
    &.settings:after {
        background-image: url(../../img/mkt/icons/settings.png);
        width: 24px;
        height: 24px;
        margin: 12px;
    }

    // Back is complicated.
    &.back {
        hidetext();
        width: 20px;
        &:before {
            float: right;
        }
        b {
            background: url(../../img/mkt/header-icons.png) 0 -72px no-repeat;
            width: 12px;
            height: 24px;
            content: '';
            margin: 12px 3px;
            display: block;
        }
        &:hover b {
            header-hover();
        }
        &:active b {
            header-active();
       }
    }

    // 'Sign In'
    &.browserid {
        display: none;
        word-wrap: normal;
        &.loading-submit {
            animation(unquote('0.9s spin infinite steps(30)'));
            background: url(../../img/mkt/btn_spinner_18.png) center no-repeat;
            hidetext();
            outline: 0;
            &:after {
                display: none;
            }
        }
    }
}


// search results tile expand toggle
.expand-toggle {
    display: block;
    width: 64px;
    height: 50px;
    line-height: 50px;
    color: #fff;
    position: relative;
    &:after {
        position: absolute;
        top: 0;
        left: 0;
        content: '';
        margin-top: 12px;
        width: 54px;
        height: 24px;
        display: block;
        background: url(../../img/mkt/expand-toggle.png) no-repeat;
    }
    &.active:after {
        background-position: 0 -24px;
    }
}

.overlay .expand-toggle,
.account-links, .active .account-links {
    display: none;
}

// How does the header look for the various page "types"?
[data-page-type='root'] {
    .header .expand-toggle {
        display: none;
    }
}

[data-page-type='search'] {
    .back, .expand, .filter {
        display: block;
    }
    .site {
        display: none;
    }
    .site-header .title {
        display: none;
    }
    .flex-span {
        display: block;
        flex(1);
    }
}
[data-page-type='leaf'] {
    .header .expand-toggle, .search, .site {
        display: none;
    }
    .back {
        display: block;
    }
}

// ***************** Cursor (Desktop) (>= 1024px)

// This probably shouldn't be media query based.
@media (min-width: 1024px) {
    .site-header {
        box-shadow: 0 -1px 0 rgba(0,0,0,.5) inset, 0 1px 0 rgba(255,255,255,.1) inset;
        background: darken(#3f4f5b, 5%) $grain-src;
        background-size: 100px 100px;
    }

    .header-button {
        &:before {
            content: none;
        }
        &.settings {
            width: 40px;
            position: relative;
            &:before {
                background: none;
            }
            &:after {
                margin: 12px 7px;
            }
        }
    }

    .act-tray {
        display: block;
        .settings {
            display: block;
        }
    }
    .act-tray.active {
        position: relative;
        .settings {
            &:before {
                gradientTop(unquote('rgba(252, 252, 253, 0) 0%, rgba(43, 54, 63, 0.07) 15%, rgba(43, 54, 63, 1) 100%'));
                content: "";
                display: block;
                position: absolute;
                height: 39px;
                width: 40px;
                left: -3px;
                z-index: 2;
            }
            &:after {
                position: absolute;
                z-index: 3;
                background-position: 0 -24px;
            }
        }
    }

    .site-header {
        height: 80px;
        max-height: 80px;
        position: relative;
        > nav {
            height: 80px;
            max-width: $desktop-hdr;
            margin: 0 auto;
        }
        .site {
            width: 280px;
            height: 60px;
        }
        .wordmark {
            background: url(../../img/mkt/logos/large.png) 0 50% no-repeat;
            background-size: 280px auto;
            height: 60px;
            max-width: 280px;
            width: 280px;
        }
        .browserid {
            display: block;
        }
        .act-tray {
            display: none;
        }
    }

    .logged .site-header {
        .act-tray {
            display: block;
        }
        .browserid {
            display: none;
        }
    }

    .active .account-links {
        display: block;
    }

    #page {
        padding-top: 0;
    }

    .search-clear {
        top: 8px;
    }

    #search-q {
        gradient-two-color-with-image(#21292f, #2a353c, url(../../img/mkt/icons/search.png), unquote('8px 8px'), no-repeat);
        font-size: 12px;
        font-weight: 300;
        height: 26px;
        line-height: 23px;
        padding: 1px 30px 0 25px;
        &:-moz-placeholder {
            color: lighten(#48535d, 25%);
        }
        &::-moz-placeholder {
            color: lighten(#48535d, 25%);
        }
        &::-webkit-input-placeholder {
            color: lighten(#48535d, 25%);
        }
    }

    // How does the header look for the various page "types"?
    [data-page-type='root'] {
        .site-header .title {
            text-indent: -9999px;
        }
    }
    [data-page-type='search'] {
        .back, .filter, .site {
            display: block;
        }
        .back, .site-header .expand-toggle {
            display: none;
        }
        .header-button.filter {
            display: none;
        }
        .flex-span {
            display: none;
        }
        .site-header .title {
            display: block;
            text-indent: -9999px;
        }
    }
    [data-page-type='leaf'] {
        .back, .site, .search {
            display: block;
        }
        .back, .expand-toggle {
            display: none;
        }
        .site-header .title {
            text-indent: -9999px;
        }
    }
}


// ***************** Narrow Mobile (< 600px)

@media (max-width: 540px) {
    [data-page-type='root'] {
        .site-header {
            .site, .wordmark {
                width: 32px;
            }
            .title {
                display: none;
            }
            .search {
                flex(1);
                width: auto;
                margin: 0 10px;
            }
        }
    }
    [data-page-type='search'] {
        .site-header.title {
            text-indent: -9999px;
        }
        .flex-span {
            display: none;
        }
        .act-tray {
            display: none;
        }
        .header {
            .search {
                flex(1);
                width: auto;
                margin: 0 10px;
            }
        }
    }
    [data-page-type='leaf'] {
        .act-tray {
            display: none;
        }
    }
    .site-header.suggestions {
        nav > *:not(.search) {
            display: none;
        }
        .search {
            position: relative;
            width: 100%;
            left: auto;
        }
        .search-clear {
            display: block;
        }
    }
}


@media $retina {
    .search-clear {
        background-image: url(../../img/mkt/icons/clear-2x.png);
        background-size: 11px auto;
    }
    .header-button.settings:after {
        background-image: url(../../img/mkt/icons/settings-2x.png);
        background-size: 23px auto;
    }
    .site-header .wordmark {
        background-image: url(../../img/mkt/logos/large-2x.png);
    }
    .header-button.browserid.loading-submit {
        background: url(../../img/mkt/btn_spinner_18_2x.png) no-repeat center;
        background-size: 18px auto;
    }
}
$retina-wide= $retina unquote('and (min-width: 1024px)');
@media $retina-wide {
    #search-q {
        gradient-two-color-with-image(#21292f, #2a353c, url(../../img/mkt/icons/search-2x.png), unquote('8px 8px'), no-repeat);
        background-size: 12px auto, auto;
    }
}

.nav-overlay.show {
    background: transparent;
}

/* Content header (breadcrumbs, heading, subnav) - used on Account Settings, etc. */
#page .account header.c {
    margin-bottom: 10px;
    h1 {
        float: left;
    }
    .sub-nav {
        float: right;
    }
    .sub-nav {
        border-radius: 15px;
        box-shadow: 0 1px 0 $barely-gray;
        list-style: none;
        margin: 0;
        padding: 0;
        li {
            background-clip: padding-box;
            float: left;
            a {
                gradient-two-color($white, rgba(238, 238, 238, .8));
                border: 1px solid $note-gray;
                border-right: 0;
                color: $medium-gray;
                display: inline-block;
                font-size: 13px;
                line-height: 15px;
                padding: 5px 15px;
                text-decoration: none;
                text-shadow: 0 1px 0 rgba(255,255,255,.8);
                &:hover {
                    gradient-two-color($barely-gray, darken($barely-gray, 15%));
                    color: $dark-gray;
                    text-shadow: 0 1px 0 rgba(255,255,255,.8);
                }
                &:active {
                    box-shadow: 0 1px 2px rgba(0,0,0,.1) inset;
                    background: $faint-gray;
                    border-color: $note-gray;
                }
            }
            &.selected {
                a, a:hover {
                    border-color: $medium-gray;
                    box-shadow: 0 1px 0 rgba(0,0,0,.2) inset;
                    color: $white;
                    gradient-two-color($medium-gray, rgba($medium-gray, .25));
                    text-shadow: 0 1px 0 rgba(0,0,0,.2);
                }
            }
            &:first-child a {
                border-radius: 15px 0 0 15px;
            }
            &:last-child a {
                border-radius: 0 15px 15px 0;
                border-right: 1px solid $note-gray;
            }
            &:only-child a {
                border-radius: 15px;
            }
        }
    }
}
