@import 'lib';

.homepage-promo {
    background-image: url(../../img/mkt/grain.png),
                      linear-gradient(#394C58, #60747F);
    background-image: url(../../img/mkt/grain.png),
                      -moz-linear-gradient(#394C58, #60747F);
    background-image: url(../../img/mkt/grain.png),
                      -webkit-linear-gradient(#394C58, #60747F);
    background-image: url(../../img/mkt/grain.png),
                      -webkit-gradient(linear, left bottom, left top, from(#60747F), to(#394C58));
    /*.gradient-two-color(#394C58, #60747F);*/
    height: 320px;
    color: @white;
    div {
        .border-box;
        padding-top: 58px;
        position: relative;
        .width(10);
        margin: 0 auto;
    }
    p {
        font-size: 14px;
        width: 320px;
    }
    h2 {
        font-size: 43px;
        line-height: 52px;
        margin-bottom: 0px;
    }
}
.featured {
    background: #60747F;
    .grain;
    color: @white;
    height: 282px;
    border-bottom: 1px solid #666;
}
