@import 'lib';

.home {
    /* Cover the box-shadow from #page */
    #site-header:after {
        background: url(../../img/mkt/grain.png) #394C58;
        content: "";
        display: block;
        height: 4px;
        top: -2px;
        position: relative;
        z-index: 1;
        width: 100%;
    }
}

.homepage-promo {
    background-image: url(../../img/mkt/grain.png),
                      linear-gradient(#394C58, #60747F);
    background-image: url(../../img/mkt/grain.png),
                      -moz-linear-gradient(#394C58, #60747F);
    background-image: url(../../img/mkt/grain.png),
                      -webkit-linear-gradient(#394C58, #60747F);
    background-image: url(../../img/mkt/grain.png),
                      -webkit-gradient(linear, left bottom, left top, from(#60747F), to(#394C58));
    /*.gradient-two-color(#394C58, #60747F);*/
    min-height: 320px;
    color: @white;
    text-shadow: 0 1px 0 rgba(0,0,0,.25);
    div {
        .border-box;
        background: url(../../img/mkt/quest.png) 100% 58px no-repeat;
        min-height: 330px;
        padding-top: 58px;
        position: relative;
        .width(10);
        margin: 0 auto;
    }
    p {
        font-size: 14px;
        width: 320px;
    }
    h1 {
        font-size: 48px;
        letter-spacing: -2px;
        line-height: 100%;
    }
}

@media (max-width: @10col) {
    .homepage-promo {
        div {
            .background-size(60% auto);
        }
        h2, p {
            .width(3);
        }
    }
    .home #page > section.full > div {
        margin: 0 15px;
        width: 100%;
    }
}

@media (max-width: @4col) {
    .homepage-promo div {
        background-position: 150% 58px;
    }
}

.featured, .popular {
    &.slider {
        height: 282px;
    }
}
.featured {
    background: #60747F;
    .grain;
    color: @white;
    &.slider {
        border-bottom: 1px solid #666;
    }
    a {
        color: lighten(@text, 60%);
        &:hover {
            color: @white;
        }
    }
}

.popular {
    h2 {
        padding-top: 10px;
    }
    a {
        color: @text;
        &:hover {
            color: darken(@text, 15%);
        }
    }
}

.popular, .categories {
    h2 {
        padding-top: 10px;
    }
}

.categories {
    background: @pale-bg;
    .controls {
        .next-page, .prev-page {
            height: 162px;
            top: 12px;
        }
    }
    a {
        color: @medium-gray;
        &:hover {
            color: @dark-gray;
        }
    }
    .promo-slider {
        li, li a, img {
            height: 120px;
            width: 120px;
        }
        li {
            h3 {
                margin: 0;
                text-align: center;
                width: 100%;
            }
            a {
                .box-shadow(~'0 1px 2px 0 rgba(0,0,0,.3),'
                             '0 2px 1px 0 rgba(0,0,0,0.1),'
                             '0 0 0 1px rgba(0,0,0,.05),'
                             '0 0 12px 0 rgba(0,0,0,.05),'
                             '0 0 12px 0 rgba(0,0,0,.05) inset');
                .transition-duration(0.1s);
                .transition-property(~'background-color,'
                                      '-moz-box-shadow, -webkit-box-shadow,'
                                      'box-shadow, line-height');
                background-color: #D9DDE0;
                display: block;
                line-height: 120px;
                margin: 0 auto;
                text-align: center;
                &:hover {
                    .box-shadow(~'0 1px 2px 0 rgba(0,0,0,.3),'
                                 '0 4px 1px 0 rgba(0,0,0,.1),'
                                 '0 0 0 1px rgba(0,0,0,.05),'
                                 '0 0 12px 0 rgba(0,0,0,.05),'
                                 '0 0 48px 0 @white inset,'
                                 '0 -3px 0 0 rgba(0,0,0,.15) inset');
                    line-height: 118px;
                }
                &:active {
                    background-color: rgba(0,0,0,0.1);
                    .box-shadow(~'0 2px 0 0 rgba(0,0,0,.2) inset,'
                                 '0 12px 24px 6px rgba(0,0,0,.2) inset',
                                 '0 2px 2px 2px rgba(0,0,0,.2) inset');
                    line-height: 124px;
                }
            }
        }
        img {
            background: url(../../img/mkt/glyphs/rocket.png) 50% 50% no-repeat;
        }
    }
    .promo-slider ul a:after {
        bottom: 5px;
        right: 5px;
    }
}

.arrow.button {
    .border-box;
    .width(3);
    color: lighten(@text, 60%);
    font-size: 18px;
    line-height: 35px;
    position: relative;
    text-align: left;
    &:after {
        background: url(../../img/mkt/arrows/plain-lrg-go.png) 0 0 no-repeat;
        content: "";
        display: block;
        height: 19px;
        opacity: .7;
        position: absolute;
        top: 8px;
        right: 15px;
        width: 18px;
    }
    &:hover {
        color: @white;
        &:after {
            opacity: 1;
        }
    }
}

.html-rtl .arrow.button {
    text-align: right;
}
