@import 'lib';

#walled {
    font-size: 125%;
}

.home {
    /* Cover the box-shadow from #page */
    #site-header:after {
        background: @grain-src @navy-gray;
        content: "";
        display: block;
        height: 4px;
        top: -2px;
        position: relative;
        z-index: 1;
        width: 100%;
    }
}

.homepage-promo {
    background-image: @grain-src,
                      linear-gradient(@navy-gray, @header-bg);
    background-image: @grain-src,
                      -moz-linear-gradient(@navy-gray, @header-bg);
    background-image: @grain-src,
                      -webkit-linear-gradient(@navy-gray, @header-bg);
    background-image: @grain-src,
                      -webkit-gradient(linear, left bottom, left top, from(@header-bg), to(@navy-gray));
    /*.gradient-two-color(@navy-gray, @header-bg);*/
    min-height: 320px;
    overflow: hidden;
    color: @white;
    overflow: hidden;
    text-shadow: 0 1px 0 rgba(0,0,0,.25);
    div {
        .border-box;
        min-height: 330px;
        padding-top: 20px;
        position: relative;
        .width(10);
        margin: 0 auto;
        &:after {
            content: url(../../img/mkt/crate.png);
            position: absolute;
            top: 20px;
            right: -97px;
        }
    }
    p {
        font-size: 14px;
        width: 320px;
        margin-bottom: 24px;
    }
    h1 {
        font-size: 48px;
        letter-spacing: -2px;
        line-height: 100%;
    }
}

/* Hide narrow-specific stuff. (For "Popular" and "New" tabbed sections.) */
.narrow {
    display: none;
}

@media (max-width: @10col) {
    .homepage-promo {
        div {
            .background-size(auto 50%);
        }
        h2, p {
            width: 300px;
        }
    }
}

@media (max-width: @4col) {
    .home {
        #site-header:after,
        .homepage-promo,
        .categories,
        .promo-slider p,
        .featured h2 {
            display: none;
        }
        .featured.slider {
            .controls {
                .next-page, .prev-page {
                    top: 13px;
                    height: 120px;
                }
            }
            .promo-slider {
                height: 155px;
            }
        }
        .promo-slider {
            ul {
                li,
                li .img {
                    width: 120px;
                }
                li {
                    .img {
                        background-position: 25% 50%;
                        height: 120px;
                        margin-bottom: 2px;
                    }
                    h3 {
                        color: lighten(@text, 60%);
                        font-size: 12px;
                        margin: 0;
                        max-width: 100%;
                        text-shadow: .5px .5px 0 @navy-gray;
                    }
                }
            }
        }
        .home #site-header:after {
            display: none;
        }
        .homepage-promo div {
            background-position: 150% 58px;
        }
        // Until we have gallery icons (bug 744648), let's use promo graphics.
        .promo-slider ul li .img {
            height: 83px;
        }
        .featured.slider .controls .next-page,
        .featured.slider .controls .prev-page {
            height: 108px;
        }
        .featured.slider .promo-slider {
            height: 118px;
        }
    }

    #site-header .menu-button {
        margin-left: 20px;
    }
    #search {
        // TODO: Expose search results when clicking on magnifying-glass icon.
        #find {
            .border-radius(15px);
            background-color: darken(@navy-gray, 20%);
            display: none;
            height: 18px;
            margin-top: 3px;
            position: relative;
            width: 18px;
            &:before {
                .border-radius(15px);
                .box-shadow(0 1px 0 rgba(255,255,255,.2) inset);
                .grain;
                background-color: @navy-gray;
                content: "";
                display: block;
                font-weight: bold;
                font-size: 36px;
                position: absolute;
                top: 3px;
                left: 3px;
                height: 12px;
                width: 12px;
            }
            &:after {
                .transform(~'rotate(-45deg)');
                border-right: 3px solid darken(@navy-gray, 20%);
                content: "";
                height: 10px;
                position: absolute;
                right: -4px;
                bottom: -10px;
                width: 12px;
            }
        }
    }

    /* Show narrow-specific stuff. */
    .wide {
        display: none;
    }
    .narrow {
        display: block;
    }

    /* Toggle tabbed content. */
    [data-group], .narrow[data-group] {
        display: none;
    }
    [data-shown], .narrow[data-shown] {
        display: block;
    }
}
