@import 'lib';

section {
    .border-radius(2px);
    .box-shadow(0 2px 2px fadeOut(#000, 20%));
    background-color: @bg;
    .grain;
    .border-box;
    margin: 10px;
    height: 200px;
    position: relative;
    header {
        .box-shadow(0 2px 2px fadeOut(#000, 50%));
        background-color: #404f5a;
        .grain;
        color: @white;
        padding: 10px;
    }
    & > div {
        padding: 10px 1em;
        margin-bottom: 54px;
        overflow: hidden;
    }
    .product-details {
        float: left;
        width: 270px;
    }
    .actions {
        float: right;
        width: 120px;
        .button {
            display: block;
        }
    }
    footer {
        .border-box;
        font-size: 12px;
        position: absolute;
        bottom: 0;
        width: 100%;
        padding: 10px;
        text-align: center;
    }
}