html {
    background: none;
}
body {
    border: none;
}
#page {
    margin: 0;
    min-height: 250px;
    min-width: 300px;
    max-width: none;
    width: auto;
    height: auto;
}
.payment-screen {
    border: 0;
    width: 300px;
    margin: 0 auto;
    z-index: auto;
    border-radius: 0;
    box-shadow: none;
    padding: 1em;
    position: relative;
    float: none;
    background: none;
    left: auto;
}
