// when to show what header buttons where.
// not certain if this is how we'll do this yet.
body {
    .header-button {
        display: none;
    }
    &[data-page-type='search'] {
        .header-button {
            &.home, &.expand, &.filter {
                display: block;
            }
        }
        #search {
            display: block;
        }
        #search-q {
            width: 144px;
        }
    }
    &[data-page-type='leaf'], &[data-page-type='alpha'] {
        .header-button {
            &.back {
                display: block;
            }
        }
    }
    &[data-page-type='root'] {
        .header-button {
            &.search, &.settings {
                display: block;
            }
        }
    }
    // Simple single pages with a home icon.
    &[data-page-type='notice'] {
        .header-button {
            &.home {
                display: block;
            }
        }
    }
    &.show-search {
        #top {
            display: none;
        }
        #search {
            display: block;
        }
        .header-button {
            &.right {
                display: none;
            }
            &.cancel {
                display: block;
            }
        }
    }
}
