@import 'lib';

// when to show what header buttons where.
// not certain if this is how we'll do this yet.
body {
    .header-button {
        display: none;
    }
    &[data-page-type='search'] {
        .header-button {
            &.back, &.expand, &.filter {
                display: block;
            }
        }
        #site-header h1.page {
            display: none;
        }
        #search, #search-q {
            display: block;
            width: 99px;
        }
        #site-header:not(.suggestions) #search {
            float: left;
            margin-left: -7px;
        }
        .suggestions {
            #search {
                margin-left: 12px;
            }
            #search, #search-q {
                width: 185px;
            }
        }
    }
    &[data-page-type='leaf'], &[data-page-type='alpha'] {
        .header-button {
            &.back {
                display: block;
            }
        }
    }
    &[data-page-type='root'] {
        .fancy {
            opacity: 0;
            top: 40px;
            left: 40px;
            position: relative;
            visibility: hidden;
        }
        .header-button {
            &.search, &.settings {
                display: block;
            }
        }
        #search {
            display: block;
            overflow: hidden;
            width: 253px;
        }
        &.show-search {
            #search-q {
                left: 40px;
                width: 145px;
            }
            .suggestions {
                #search {
                    width: 243px;
                }
                #search-q {
                    width: 135px;
                }
            }
            #site-header .wordmark {
                opacity: 0;
                top: -20px;
                .transition(~'top .5s, opacity .5s');
                z-index: 5;
            }
            #site-header .fancy {
                opacity: 1;
                top: 0;
                .transition(~'top .5s, opacity .5s, visibility .5s');
                visibility: visible;
                z-index: 10;
                .search-clear {
                    right: 57px;
                    top: 10px;
                }
            }
        }
    }
    // Simple single pages with a home icon.
    &[data-page-type='notice'] {
        .header-button {
            &.home {
                display: block;
            }
        }
    }
}

@media (min-width: 532px) {
    body[data-page-type='root'] {
         .fancy {
            opacity: 1;
            top: 0;
            visibility: visible;
        }
        #search {
            display: block;
        }
        .header-button {
            &.search {
                display: none;
            }
        }
    }
    body[data-page-type='search'] {
        #search {
            float: right;
            margin: 0 32px 0 0;
        }
    }
}
