@import 'lib';

body {
    font-family: "Open Sans", "Helvetica Neue", Arial, sans-serif;
    font-size: 13px;
}

body, h1, h2, h3, h4 {
    font-weight: 400;
}

h1 {
    font-size: 24px;
    line-height: 26px;
}

h2 {
    color: $dark-gray;
    font-size: 26px;
    line-height: 120%;
    text-shadow: .5px .5px $white;
}

h3 {
    font-size: 24px;
}

.offline {
    h3 {
        text-align: center;
        margin: 2em;
    }
    button {
        display: block;
        margin: auto;
    }

    #site-header h1 {
        position: relative;
        margin: 0 auto;
        left: auto;
    }
}
