@import 'lib';

.offline {
    h3 {
        text-align: center;
        margin: 2em;
    }
    button {
        display: block;
        margin: auto;
    }

    #site-header h1 {
        position: relative;
        margin: 0 auto;
        left: auto;
    }
}