@import 'lib';

.loadmore {
    position: relative;
    padding: 15px;
    list-style-type: none;
    button {
        display: block;
        margin: auto;
        width: 100%;
        max-width: 320px;
        padding: 0;
    }
    .throbber {
        display: none;
    }
    &.loading {
        button {
            visibility: hidden;
        }
        .throbber {
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            margin: auto;
            width: 32px;
            height: 32px;
            border-radius: 20px;
            border: 4px solid #666;
            border-color: #666 transparent;
            .animation(~'spin 1s linear infinite');
        }
    }
}

.listing .loadmore {
    height: auto;
}
