@import 'lib';

.promo-grid .mkt-tile {
    &:hover,
    &:active {
        background: $faint-gray;
        box-shadow: none;
    }
    &:active {
        depressed();
    }
}

.promo-grid, .slider {
    h3 {
        font-size: 18px;
        line-height: 22px;
    }
}

.slider .rating {
    display: none;
}

.promo-grid {
    ul {
        float: left;
        list-style: none;
        padding: 0;
        width: 100%;
    }
    li {
        float: left;
        padding: 0 20px 20px 0;
        width: 33.33%;
        &:nth-of-type(3n) {
            padding-right: 0;
        }
        // We can have up to 10 apps (so we have two equal columns of five on tablet).
        &:nth-of-type(10n) {
            display: none;
        }
    }
    .rating {
        float: right;
    }
    .mkt-tile {
        light-text-shadow();
        background: rgba($light-gray, .5);
        display: block;
        height: 64px;
        padding: 10px 10px 10px 90px;
        position: relative;
        text-decoration: none;
        &:hover {
            box-shadow: 0 1px 2px rgba($black, .5);
            background: $faint-gray;
            .author {
                color: $medium-gray;
            }
        }
        &:active {
            background: $light-gray;
            box-shadow: inset 0 2px 0 0 rgba(0,0,0,.2), inset 0 12px 24px 6px rgba(0,0,0,.2), inset 0 0 2px 2px rgba(0,0,0,.2);
        }
        .img.icon {
            background-position: 50% 50%;
            background-repeat: no-repeat;
            background-size: contain;
            width: 64px;
            height: 64px;
            position: absolute;
            top: 10px;
            left: 10px;
        }
        .img.preview {
            background-image: none !important;
            display: none;
        }
        h3, .author {
            ellipsis();
            // Because `overflow: hidden` is required for `text-overflow: ellipsis`
            // and the letter 'g' gets clipped, my g.
            margin-bottom: -6px;
        }
        h3 {
            padding: 0 25px 2px 0;
        }
        .author {
            color: $medium-gray;
            display: block;
            margin: 5px 0;
            font-style: normal;
            padding-bottom: 2px;
        }
        .price {
            position: absolute;
            bottom: 7px;
            font-size: 15px;
            line-height: 17px;
            font-weight: bold;
            margin: 0;
        }
    }
}

.html-rtl .promo-grid {
    a {
        padding: 10px 90px 10px 10px;
    }
}

@media (max-width: 1024px) {
    .promo-grid {
        li {
            width: 50%;
            &:nth-of-type(2n) {
                padding-right: 0;
            }
            &:nth-of-type(2n + 1) {
                padding-right: 20px;
            }
            &:nth-of-type(10n) {
                display: block;
            }
        }
    }
}

@media (max-width: 600px) {
    .featured.slider {
        .controls {
            .next-page, .prev-page {
                top: 15px;
                height: 120px;
            }
        }
        .promo-slider {
            height: 145px;
        }
    }
    .promo-grid .rating {
        display: none;
    }
    .promo-slider {
        ul {
            li,
            li .img {
                width: 120px;
            }
            li {
                .img {
                    background-position: 50% 50%;
                    height: 120px;
                    margin-bottom: 2px;
                    background-color: #fff;
                }
                h3 {
                    color: lighten($text, 60%);
                    font-size: 15px;
                    margin: 2px 0 0;
                    max-width: 100%;
                    text-shadow: .5px .5px 0 $navy-gray;
                }
            }
        }
    }

    .promo-grid {
        h3, .author {
            margin-bottom: -9px;
            padding-bottom: 5px;
        }
        h3 {
            font-size: 18px;
            font-weight: 400;
            line-height: 1;
            text-shadow: .2px .2px 0 $barely-gray;
        }
        .author {
            font-size: 15px;
            padding-top: 2px;
        }
        .price {
            color: darken($green, 15%);
            font-size: 13px;
            bottom: 10px;
        }
        ul {
            background: $bg-lite;
            margin: 0;
            overflow: hidden;
            position: relative;
            z-index: 3;
            width: 100%;
        }
        li {
            border-bottom: 1px solid darken($light-gray, 2%);
            float: none;
            margin: 0;
            padding: 0;
            width: 100%;
            + li {
                border-top: 1px solid lighten($faint-gray, 4%);
            }
            &:last-child {
                border-bottom: 0;
            }
            &:nth-child(2n) {
                .mkt-tile {
                    background: darken($bg, 1%);
                }
            }
            &:nth-of-type(2n + 1) {
                padding-right: 0;
            }
            .img {
                top: 10px;
            }
            .mkt-tile {
                background: $bg-lite;
                height: 74px;
                padding: 10px 40px 0 85px;
            }
        }
    }
    .html-rtl .promo-grid {
        li .mkt-tile {
            padding: 10px 85px 10px 40px;
        }
    }
}
