@import 'lib';

.detail {
    .reviews {
        margin-bottom: 15px;
        > div {
            float: left;
            width: 50%;
        }
    }
    #submit-review {
        bottom: 15px;
    }
    #reviews-info,
    #review-list {
        min-height: 400px;
    }
}

.listing {
    header img {
        float: left;
        margin-right: 10px;
    }
    .reviews {
        margin-bottom: 5px;
        figure,
        figure + div {
            float: left;
        }
        figure {
            width: 40%;
            + div {
                width: 25%;
            }
        }
        #submit-review {
            bottom: 20px;
        }
    }
    #review-list + .paginator {
        margin-top: 15px;
    }
}

.reviews {
    position: relative;
    #reviews-info {
        margin-top: 20px;
        position: relative;
    }
    ul {
        padding: 0;
        margin: 0;
    }
    > div {
        .border-box;
    }
    figure {
        display: block;
        background: fade(#fff, 50%);
        margin-right: @spacing;
        padding: @spacing;
        margin-bottom: 2em;
    }
    figcaption {
        margin-bottom: 10px;
        font-size: 22px;
    }
    canvas {
        margin-top: 10px;
        width: 100%;
        height: 72px;
    }
    a[data-review-filter] {
        display: block;
        color: @medium-gray;
        padding: 5px 0;
        &:hover {
            background: fade(#fff, 25%);
            text-decoration: none;
        }
        &.selected {
            background: fade(#fff, 50%);
            pointer-events: none;
        }
    }
    h3 {
        padding-left: 36px;
        &.upvotes {
            background: url(../../img/icons/thumbs.png) no-repeat;
            background-position: 8px 8px;
            color: #00b960;
        }
        &.downvotes {
            background: url(../../img/icons/thumbs.png) no-repeat;
            color: #d93a40;
            background-position: 8px -78px;
        }
    }
    .filter-all .review:nth-child(5) ~ .review {
        display: none;
    }
    .filter-positive .review.negative,
    .filter-negative .review.positive {
        display: none;
    }
    #review-list {
        background: fade(#fff, 50%);
    }
    .review {
        list-style-type: none;
        padding: @spacing;
        p {
            margin: 0 0 10px;
        }
        .byline, .timestamp {
            font-size: 11px;
        }
        .byline {
            color: @medium-gray;
            a {
                color: darken(@link, 15%);
                &:hover {
                    color: darken(@link, 30%);
                }
            }
            &:after {
                color: @light-gray;
                content: "\00b7";
                margin: 0 2px;
            }
        }
        .timestamp {
            color: @note-gray;
            &:hover {
                color: @gray;
            }
        }
        + .review {
            border-top: 1px dotted @light-gray;
        }
    }
    #submit-review {
        position: absolute;
        margin: 10px 0;
    }
}

#submit-rating {
    form {
        margin-top: 25px;
        .simple-field {
            margin: 0;
        }
    }
    select {
        display: none;
    }
    .barometer {
        font-size: 120%;
        line-height: 1.2;
        margin-bottom: 20px;
    }
    .form-footer {
        margin-top: 20px;
    }
}

.barometer {
    span {
        display: inline-block;
        .width(1.5);
        &:before {
            background: url(../../img/icons/thumbs.png) no-repeat;
            content: "";
            display: block;
            float: left;
            margin-right: 10px;
            height: 20px;
            width: 15px;
        }
        &:hover {
            cursor: pointer;
        }
        &.voted {
            font-weight: bold;
        }
    }
    .upvotes {
        color: #00b960;
        &:before {
            background-position: 0 -42px;
        }
        &:hover, &.voted {
            &:before {
                background-position: 0 0;
            }
        }
    }
    .downvotes {
        color: #d93a40;
        &:before {
            background-position: 100% 100%;
        }
        &:hover, &.voted {
            &:before {
                background-position: 100% -82px;
            }
        }
    }
}
