.reviews {
    ul {
        padding: 0;
    }
    > div {
        width: 50%;
        float: left;
    }
    h3 {
        text-align: center;
    }
    .review {
        list-style-type: none;
        p {
            font-size: 120%;
        }
    }
}