@import 'lib';

.no-results {
    font-size: 24px;
    font-weight: bold;
    opacity: .5;
    padding: 20px;
    text-align: center;
}

b[data-href] {
    color: @link-dark;
    cursor: pointer;
    font-weight: 600;
    &:hover {
        text-decoration: underline;
    }
}
