@import 'lib';

/* Long titles othwerwise break our layout everywhere. */
* {
    word-wrap: break-word;
}

a {
    text-decoration: none;
    color: @link;
    &:hover {
        text-decoration: underline;
    }
}

body {
    color: @text;
    overflow-x: hidden;
    background: #f0f0f0;
}

#site-header, #page {
    > section {
        .width(10);
        margin: 0 auto;
        .border-box;
        &:after {
            content: '';
            display: block;
            clear: both;
        }
        &.full {
            width: 100%;
        }
    }
}

// account for the header.
#page {
     margin-top: 70px;
}

// 7 columns (portrait tablet)
@media (max-width: @7col) {
    #site-header, #page {
        > section {
            .width(7);
        }
    }
    #site-header > section {
        .width(7);
    }
}

// 4 columns (landscape smartphone)
@media (max-width: @4col) {
    #site-header, #page {
        > section {
            .width(4);
        }
    }
    #site-header section {
        .width(4);
    }
}

// 3 columns (portrait smartphone)
@media (max-width: @3col) {
    #site-header, #page {
        > section {
            .width(3);
        }
    }
    #site-header {
        margin-bottom: 20px;
        > section {
            .width(3);
        }
    }
}

.row {
    clear: both;
}

// TODO potch: Belongs with the "collapsible" widget.
.more {
    display: none;
    &.expand {
        display: block;
    }
}

footer {
    border-top: 1px solid black;
    margin-top: 20px;
    padding: 16px;
    text-align: center;
}
