@import 'lib';

.slider {
    display: block;
    position: relative;
    overflow-x: hidden;
    overflow-y: hidden;
    padding: 0;
    max-width: 100%;
    .content {
        .border-box();
        -webkit-overflow-scrolling: touch;
        -webkit-transition: .5s -webkit-transform ease-out;
        -moz-transition: .5s -moz-transform ease-out;
        &.panning {
            -webkit-transition: none;
            -moz-transition: none;
        }
    }
}

.slide-pager {
    margin: 5px 0 0;
    .next-page, .prev-page {
        display: inline-block;
        width: 18px;
        height: 19px;
        background: url(../../img/mkt/arrows/plain-lrg-go.png) no-repeat 0 0;
        &:hover {
            background-position: 0 -19px;
        }
    }
    .prev-page {
        .transform(scaleX(-1));
    }
    .next-page {
        float: right;
    }
}

.touch {
    .slider {
        overflow-x: scroll;
    }
}

.desktop {
    .slider ul {
        left: 0;
        position: relative;
    }
}

.promo-slider {
    height: 200px;
    ul {
        white-space: nowrap;
        padding: 0;
        list-style-type: none;
        a {
            display: block;
            opacity: .8;
            position: relative;
            &:after {
                .arrow;
                content: "";
                display: block;
                opacity: .7;
                position: absolute;
                bottom: 10px;
                right: 10px;
                height: 18px;
                width: 18px;
            }
            &:hover,
            &:hover:after {
                opacity: 1;
            }
        }
        li {
            clear: both;
            margin-right: 24px;
            display: inline-block;
            vertical-align: top;
            width: 264px;
            img {
                width: 264px;
                height: 184px;
                display: block;
                .box-shadow(0 1px 2px rgba(0,0,0,.5));
                margin-bottom: 10px;
            }
            h3, p {
                line-height: 22px;
                margin: 0 10px;
            }
            h3 {
                .ellipsis;
                float: left;
                max-width: 190px;
            }
            p {
                float: right;
            }
        }
    }
}
