@import 'lib';

#site-search-suggestions {
    background: $bg $grain-src;
    font: 13px/26px $open-stack;
    height: 100%;
    left: 0;
    opacity: 0;
    position: fixed;
    top: 55px;
    transition-duration(.3s);
    transition-property(unquote('bottom, opacity, visibility'));
    visibility: hidden;
    width: 100%;
    z-index: 4;
    &.visible {
        opacity: 1;
        top: 50px;
        visibility: visible;
    }
    ul {
        list-style: none;
        margin: 0 0 1px;
        padding: 0;
    }
    a {
        background: $bg $grain-src;
        border-bottom: 1px solid #cbd0d3;
        border-top: 1px solid $white;
        color: $text;
        display: block;
        font-size: 19px;
        line-height: 44px;
        position: relative;
        text-decoration: none;
        z-index: 6;
        &:after {
            clear: both;
            content: ".";
            display: block;
            height: 0;
            visibility: hidden;
        }
        span {
            display: block;
            float: left;
            padding: 0 15px;
        }
    }
    li a:hover,
    li a.sel,
    &.sel li a.sel:hover {
        border-color: $faded-link;
        color: darken($link, 20%);
        gradient-two-color(rgba(85, 170, 204, .1), rgba(17, 102, 153, .05));
    }
    &.sel li a:hover {
        background: transparent;
        border-color: $faint-gray transparent transparent transparent;
        color: $link;
    }
}

@media (min-width: 1024px) {
    #site-search-suggestions,
    #site-search-suggestions .wrap,
    #site-search-suggestions ul,
    #site-search-suggestions li:only-child a {
        border-radius: 3px;
    }

    #site-search-suggestions {
        box-shadow: 0 0 1px;
        height: auto;
        left: auto;
        width: 230px;
        z-index: 11;
        a {
            font-size: 12px;
            line-height: 30px;
            span {
                ellipsis();
                width: 220px;
            }
        }
        &.visible {
            opacity: 1;
            top: 55px;
            visibility: visible;
        }

        li:first-child a {
            border-radius: 3px 3px 0 0;
        }
        li:last-child a {
            border-radius: 0 0 3px 3px;
            border-bottom: 0;
        }
        li:only-child a {
            border-bottom: 0;
        }
    }
}
