@import 'lib';

// base class

.mkt-tile {
    position: relative;
    overflow: hidden;
    display: block;
    color: @text;
    &:hover {
        text-decoration: none;
    }
    .icon {
        height: 64px;
        width: 64px;
        display: block;
    }
    .info h3 {
        .ellipsis;
    }
}

.grid, .listing {
    float: left;
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 100%;
}

// TODO: Figure out how we will scale/arrange the tiles on tablet and desktop.
@media (max-width: 336px) {
    .grid, .listing {
        background: @black-border;
    }
}

// Listing
// name + icon + price + rating in a vertical listview.
// also used as standalone "card" on detail pages.

.product-details,
.listing .mkt-tile {
    // TODO: Maybe we don't need this twice. We'll see when we do desktop.
    .gradient-two-color-with-image(#f7f7f7, @barely-gray, @grain-src);
}

.listing .mkt-tile {
    min-height: 66px;
    padding: 20px 15px 20px 88px;
    h3 {
        font-size: 20px;
        font-weight: 400;
        line-height: 22px;
        margin: -4px 0 2px;
    }
    .icon {
        float: left;
        position: absolute;
        top: 20px;
        left: 10px;
    }
    .author {
        color: @subtext;
        font-size: 12px;
        line-height: 14px;
        max-height: 28px;
        margin-bottom: -3px;
        padding-bottom: 2px;
    }
    .button {
        float: right;
        height: 24px;
        line-height: 24px;
        font-size: 13px;
        margin-left: 10px;
        padding: 0;
        width: 100px;
    }
    .rating {
        clear: both;
        margin-top: 4px;
        color: @subtext;
        display: block;
        font-size: 11px;
        .cnt {
            color: @note-gray;
            font-weight: 600;
        }
    }
    .price {
        display: none;
    }
}


// Grid
// store graphic, name, price in a floated grid (3 tiles wide at 320).
// center of each row is 1 px wider to provide for proper division by 3.

.grid {
    margin: -1px -1px 0 0;
    min-width: 321px;
    li {
        float: left;
        margin-top: 1px;
        max-width: 107px;
        width: 100%/3;
    }
    .mkt-tile {
        position: relative;
        width: 100%;
        height: 106px;
        .info {
            .box-shadow(0 0 1px rgba(0,0,0,.25));
            background: rgba(255,255,255,.85);
            height: 40px;
            padding: 6px 4px;
            position: absolute;
            bottom: 0;
            width: 106px;
        }
        h3, .vital {
            font-size: 12px;
            line-height: 13px;
            margin: 0;
            padding: 0;
        }
        .price {
            font-size: 11px;
            font-weight: bold;
            color: @link;
        }
        .icon {
            background-color: @white;
            width: 106px;
            height: 106px;
        }
        .button {
            display: none;
        }
        .author {
            display: none;
        }
        .price,
        .rating {
            display: inline-block;
            vertical-align: middle;
        }
        .rating {
            margin-left: 2px;
        }
        &.category {
            h3 {
                color: @text-light;
                padding: 8px;
                text-align: center;
                text-shadow: 0 1px 1px fade(#000, 50%);
                position: absolute;
                bottom: 0;
                width: 100%;
            }
            .icon {
                background-color: rgba(45,51,55,1);
            }
        }
        &:hover, &:active {
            .info {
                background: rgba(255,255,255,.95);
            }
        }
        &.category {
            &:hover, &:active {
                h3 {
                    color: @white;
                }
            }
        }
        &:hover .icon {
            opacity: .8;
        }
        &:active .icon,
        &.category:active h3 {
            opacity: .4;
        }
    }
}
.listing {
    li {
        border-top: 1px solid @light-gray;
        &:first-child {
            border-top: 0;
        }
    }
}

// Previews tray.
.expanded .mkt-tile + .tray {
    .gradient-two-color-with-image(rgba(221,225,228,.35), rgba(159,164,169,.95), @grain-src);
    height: 232px;
    border-bottom: 1px solid rgba(0,0,0,.3);
    border-top: 1px solid rgba(0,0,0,.05);
    position: relative;
    width: 100% !important;  // TODO: This'll probably change with desktop.
    ul {
        padding: 15px;
        margin: 0;
        list-style-type: none;
        text-align: center;
        white-space: nowrap;
        overflow: hidden;
        height: 232px;
    }
    li {
        margin-left: 15px;
        display: inline-block;
        &:first-child {
            margin-left: 0px;
        }
        img {
            width: 180px;
            max-height: 270px;
        }
    }
}

// TODO: Maybe later.
.noApps {
    display: none;
}
