<div id="content-wrapper">
    <div>
        <div id="diff-wrapper">
	        <div class="diff-bar js-hidden"></div>
            {% if viewer %}
                {% if viewer.selected %}
                    {% set binary = viewer.selected['binary'] %}
                    {% if not binary %}
                        <pre id="content" class="brush: {{ viewer.selected['syntax'] }}; toolbar: false">{{ content }}</pre>
                    {% elif binary == 'image' %}
                        <img src="{{ viewer.selected['url_serve'] }}" alt="" />
                    {% endif %}
                {% endif %}
            {% endif %}
            {% if diff %}
                {% if left or right %}
                    <pre id="diff" class="diff-bar-height js-hidden brush: diff; toolbar: false"></pre>
                    <pre class="left js-hidden">{{ left }}</pre>
                    <pre class="right js-hidden">{{ right }}</pre>
                {% else %}
                    {% if diff.right.selected.binary == 'image' %}
                    <div class="img-before img">
                        <img src="{{ diff.right.selected.url_serve }}" alt="" />
                    </div>
                    {% endif %}
                    {% if diff.left.selected.binary == 'image' %}
                    <div class="img-after img">
                        {% if diff.left.selected.md5 == diff.right.selected.md5 %}
                            <p>Image did not change.</p>
                        {% else %}
                            <img src="{{ diff.left.selected.url_serve }}" alt="" />
                        {% endif %}
                    </div>
                    {% endif %}
                {% endif %}
            {% endif %}
        </div>
        <div class="island">
            {% if viewer %}
                {% if viewer.selected %}
                    {% with selected = viewer.selected %}
                        {% include "fileviewer/file.html" %}
                    {% endwith %}
                {% endif %}
            {% endif %}
            {% if diff %}
                {% if diff.left and diff.left.selected %}
                    {% with selected = diff.left.selected %}
                        {% include "fileviewer/file.html" %}
                    {% endwith %}
                {% endif %}
                <hr />
                {% if diff.right and diff.right.selected %}
                    {% with selected = diff.right.selected %}
                        {% include "fileviewer/file.html" %}
                    {% endwith %}
                {% endif %}
            {% endif %}
        </div>
    </div>
</div>
