@import '../mkt/lib';

@devhub-box-shadow: #bbb 0 2px 3px;

.doc-wrapper, .upper-header, #site-nav .menu-nav {
    margin: 0 auto;
    width: 960px;
}

#site-nav.devhub-categories {
    background: @grain-src @grain;
    border: 0;
    ul {
        margin: 0 auto;
        padding: 0;
        width: 800px;

        li {
            border-left: 0;
            margin: 0;
            padding: 0 15px;
            width: 240px;
            text-align: center;

            a {
                display: block;
                color: @faint-gray;
                font-size: 25px;
                font-weight: 400;
                line-height: 25px;
                padding: 10px 5px;
                text-align: center;
                text-shadow: @dark-gray 1px 1px 2px;
                text-transform: none;
                width: 100%;

                &:hover, &.selected {
                    background: @bg-light-gray @grain-src;
                    color: @dark-gray;
                    text-decoration: none;
                    text-shadow: #fff 0 1px 1px;
                }
            }
        }
    }
}

#aux-nav li ul {
    margin-top: 0;
}

#document-navigation {
    background-color: #f9f9f9;
    .border-radius(5px 0 0 5px);
    .box-shadow(@devhub-box-shadow);
    float: left;
    padding: 10px 20px;
    width: 170px;

    ul {
        padding: 0;

        li > h2 {
            color: @dark-gray;
            font-size: 18px;
            line-height: 22px;
            margin: 0;
            text-transform: none;
        }
    }

    ol {
        margin-top: 5px;
        padding: 0;

        li {
            font-size: 13px;
            font-weight: @heavy;
            line-height: 16px;
        }

        a {
            display: block;
            padding: 2px 4px;

            &.selected {
                background-color: @faint-gray;
                color: @dark-gray;
                text-transform: none;
            }
        }
    }
}

#page article {
    background-color: #fff;
    .box-shadow(@devhub-box-shadow);
    color: @dark-gray;
    float: left;
    font-size: 13px;
    font-weight: @heavy;
    line-height: 18px;
    padding: 30px;
    width: 685px;

    ol, ul {
        list-style-type: disc;
        padding: 20px 30px 0;

        li + li {
            margin-top: 10px;
        }
    }

    h1 {
        color: @dark-gray;
    }

    h2, h3 {
        color: #888;
        margin: 30px 0 10px;
    }

    a:visited {
        color: #6d598b;
    }

    pre {
        background-color: @faint-gray;
        color: @dark-gray;
        margin: 20px 0;
        overflow: auto;
        padding: 20px;
    }
}
