{% extends "base.html" %}

{% set title = _('Slow Performing Add-ons') %}
{% set worst = addons[0].ts_slowness %}
{% set app = APP.pretty %}

{% block title %}{{ page_title(title) }}{% endblock %}

{% block bodyclass %}inverse{% endblock %}


{% block content %}
<header>
  {{ breadcrumbs([(None, title)]) }}
  <h2>{{ title }}</h2>
</header>

<div class="primary" role="main">
  <p>{% trans %}
    Add-ons provide many useful features and functions, but they can also cause
    {{ app }} to become slower. Some add-ons can even slow {{ app }} to a crawl
    and make it difficult to use for regular web browsing. If you think add-ons
    might be the reason {{ app }} is lethargic, check the list below for some
    of the biggest bottlenecks. And remember, for best performance you should
    disable add-ons that you no longer use regularly.
  {% endtrans %}</p>

  <h3>{{ _('Add-ons with Slowest Start-up') }}</h3>
  <p>{% trans %}
    The following add-ons have the most impact on how long it takes {{ app }}
    to start up.
  {% endtrans %}</p>

  <div id="perf-results">
    <div id="perf-results-inner">
      <table>
        <thead>
          <tr>
            <th class="rank">{{ _('Rank') }}</th>
            <th class="addon">{{ _('Add-on') }}</th>
            <th class="impact">
              <span class="slower">{{ _('Impact') }}</span>
              <span class="percentage">{{ _('Longer lines are slower') }}</span>
            </th>
          </tr>
        </thead>
        <tbody>
          {% for addon in addons %}
          <tr id="addon-{{ loop.index }}" data-rank="{{ loop.index }}"
              {% if loop.index > 10 %}class="perf-hidden perf-small"{% endif %}>
            <td class="rank">#<b>{{ loop.index }}</b></td>
            <td class="addon">
              <div>
                <img src="{{ addon.icon_url }}" class="icon"
                     width="32" height="32">
                <span class="addon-title">
                  <a href="{{ addon.get_url_path() }}">{{
                    addon.name.localized_string }}</a>
                  <span class="author">
                    {{ _('by') }} {{ users_list(addon.listed_authors) }}
                  </span>
                </span>
              </div>
            </td>
            {% with num = addon.ts_slowness %}
              <td class="impact">
                <div class="slower">
                  {# L10n: {0} is an add-on's percentage of slowness #}
                  {{ _('<b>{0}%</b> <span>slower</span>')|f(num|int)|safe }}
                </div>
                <div class="percentage">
                  <div class="bar" style="width: {{ num / worst * 100 }}%">&nbsp;</div>
                </div>
              </td>
            {% endwith %}
          </tr>
          {% endfor %}
        </tbody>
      </table>
      {% if addons|length > 10 %}
        <p id="perf-more"><a href="#addon-11">{{ _('Show more add-ons') }}</a></p>
      {% endif %}
    </div>
  </div>
</div>

<div class="secondary">
  <div class="highlight">
    <h4>{{ _('For Add-on Developers') }}</h4>
    <p>{% trans %}
    Don't let poor performance affect the experience of your users.  Here are a
    few tips on how to keep your add-ons responsive and nimble.
    {% endtrans %}</p>
    <p><a class="more-info" href="https://developer.mozilla.org/en/Extensions/Performance_best_practices_in_extensions">
      {{ _('Learn more about performance') }}</a></p>
  </div>
</div>
{% endblock %}
