{% extends "base.html" %}

{% set title = _('Slow Performing Add-ons') %}
{% set worst = addons[0].ts_slowness %}
{% set app = APP.pretty %}

{% block title %}{{ page_title(title) }}{% endblock %}

{% block bodyclass %}inverse{% endblock %}


{% block content %}
<header>
  {{ breadcrumbs([(None, title)]) }}
  <h2>{{ title }}</h2>
</header>

<div class="primary" role="main">
  <p>{% trans %}
    Add-ons provide many useful features and functions for your browser.
    However, add-ons can also slow down your browsing experience.  Some add-ons
    can even slow down {{ app }} until it is difficult to use for regular web
    browsing.  It can also be difficult to determine what add-ons are the source
    of the problem.  We provide this list in the hopes that it will help you
    identify add-ons that are affecting the performance of your browser.
  {% endtrans %}</p>

  <h3>{{ _('Add-ons with Slowest Start-up') }}</h3>
  <p>{% trans %}
    The following add-ons have the most impact on how long it takes {{ app }} to
    start up.
  {% endtrans %}</p>

  <table id="perf-results">
    <thead>
      <tr>
        <th>{{ _('Rank') }}</th>
        <th>{{ _('Add-on') }}</th>
        <th>{{ _('Impact') }}</th>
        <th class="shhhh">{{ _('Longer lines are slower') }}</th>
      </tr>
    </thead>
    <tbody>
      {% for addon in addons %}
      <tr>
        <td># {{ loop.index }}</td>
        <td>
          <img src="{{ addon.icon_url }}" class="icon">
          <a href="{{ addon.get_url_path() }}">{{ addon.name }}</a>
          {{ _('by') }} {{ users_list(addon.listed_authors) }}
        </td>
        {% with num = addon.ts_slowness %}
          <td>{{ _('{0}% slower')|f(num|int) }}</td>
          <td><div class="bar" style="background-color: red; width: {{ num / worst * 100 }}%">&nbsp</div></td>
        {% endwith %}
      </tr>
      {% endfor %}
    </tbody>
  </table>
  <a href="#">{{ _('Show more add-ons') }}</a>
</div>

<div class="secondary">
  <div class="highlight">
    <h4>{{ _('For Add-on Developers') }}</h4>
    <p>{% trans %}
    Don't let poor performance affect the experience of your users.  Here are a
    few tips on how to keep your add-ons responsive and nimble.
    {% endtrans %}</p>
    <a class="more-info" href="#">
      {{ _('Learn more about performance') }}</a>
  </div>
</div>
{% endblock %}
