{% cache pages %}
<ul class="addon-grid c {{ columns }}">
{% for page in pages %}
  {% set first_page = loop.first %}
  <section>
  {% for addon in page %}
    <li>
      <div class="item addon">
        <a href="{{ addon.get_url_path(impala=True) }}">
          <div class="icon">
            {% if first_page %}
              <img src="{{ addon.icon_url }}">
            {% else %}
              <img data-defer-src="{{ addon.icon_url }}" src="{{ media('img/addon-icons/default-32.png') }}">
            {% endif %}
          </div>
          <div class="summary">
            <h3>{{ addon.name }}</h3>
            <div class="category" class="more-info">{{ addon.get_category(APP.id) }}</div>
            <div class="rating">{{ addon.average_rating|stars }} ({{ addon.total_reviews|numberfmt }})</div>
          </div>
        </a>
        <div class="more">
          {{ install_button(addon) }}
          {{ addon.summary|truncate(250)|nl2br }}
        </div>
      </div>
    </li>
  {% endfor %}
  </section>
{% endfor %}
</ul>
{% endcache %}
