{% set author_addons = profile.addons_listed %}
{% if author_addons %}
  <ol>
    {% for other in author_addons[:6] %}
      {% if other.id == addon.id %}{% continue %}{% endif %}
      <li>
        <a href="{{ other.get_url_path(impala=True) }}" title="{{ other.name }}">
          {{ other.name|string|truncate(50) }}</a>
      </li>
    {% endfor %}
  </ol>
  {% if author_addons|length > 6 %}
    <a href="{{ profile.get_url_path() }}">{{ _('More add-ons by this developer') }}</a>
  {% endif %}
{% endif %}
