{% set b = button %}
{% set _obj = version if amo.HAS_COMPAT[addon.type] else addon %}
{% set compat = _obj.compatible_apps[APP] if _obj else None %}

<div class="install-shell">
<div class="install {{ b.install_class|join(' ') }}"
     data-addon="{{ addon.id }}"
     data-icon="{{ addon.icon_url }}"
     data-developers="{{ addon.meet_the_dev_url() }}"
     data-name="{{ addon.name }}"
     {{ b.attrs()|xmlattr }}
  {% if waffle.switch('marketplace') and addon.can_be_purchased() %}
     data-purchase="{{ shared_url('addons.purchase', addon) }}?"
     data-start-purchase="{{ shared_url('addons.purchase.start', addon) }}"
     data-cost="{{ addon.premium.get_price() }}"
     data-login-url="{{ url('users.login_modal') }}"
  {% endif %}
  {% if compat %}
     data-min="{{ compat.min.version }}"
     data-max="{{ compat.max.version }}"
  {% endif %}
  {% if addon.is_webapp() %}
     data-manifest-url="{% if (addon.is_premium() and addon.has_purchased(amo_user)) or (not addon.is_premium()) -%}
        {{ addon.manifest_url }}
     {%- endif %}"
     data-record-url="{{ url('apps.record', addon.app_slug) }}"
  {% endif %}
  >
  <p class="install-button">
    {% set links = b.links() %}
    {% if b.is_premium and not b.can_be_purchased %}
      {{ _('Not ready for purchase.') }}
    {% elif not links %}
      {{ _('No compatible versions') }}
    {% endif %}
    {% if settings.ADD_TO_MOBILE %}
    {% if APP == amo.MOBILE %}
      {% if request.user.is_authenticated() %}
        {% set action = url('collections.alter', request.amo_user.username, 'mobile', 'add') %}
      {% endif %}
      {% if installed %}
        {% set extra, text = 'status ok', _('Added to Mobile') %}
      {% else %}
        {% set text = _('Add to Mobile') %}
      {% endif %}
      <form method="post" action="{{ action }}">
        {{ csrf() }}
        <input type="hidden" name="addon_id" value="{{ addon.id }}">
        <button class="button mobile {{ extra }} {{ b.button_class|join(' ') }}">
          <b></b>
          <span>{{ text }}</span>
        </button>
    </form>
    {% endif %}
    {% endif %}
    {% for link in links %}
      {% set extra = "platform " + link.os.shortname if link.os else "" %}
      <a class="button {{ b.button_class|join(' ') }} {{ extra }}"
         {% if not addon.is_premium() and not addon.is_webapp() %}
           data-hash="{{ link.file.hash }}"
         {% endif %}
         {% if b.show_warning and not addon.is_webapp() %}
           href="{{ b.addon.get_url_path() }}"
           data-realurl="{{ link.url }}"
         {% elif waffle.switch('marketplace') and addon.can_be_purchased() %}
           href="{{ shared_url('addons.purchase', addon) }}"
           {% if not addon.is_webapp() %}
             data-realurl="{{ link.url }}"
           {% endif %}
         {% elif addon.is_webapp() %}
            href="#"
         {% else %}
            href="{{ link.url }}"
         {% endif %}>
        <b></b>
        <span>
          {{ link.text }}
          {% if link.os %}
            <span class="os" data-os="{{ link.os.name }}">
              {% if not (b.show_eula or b.show_contrib) %}
                {# L10n: {0} is a platform name like Windows or Mac OS X. #}
                {{ _('for {0}')|f(link.os.name) }}
              {% endif %}
            </span>
          {% endif %}
        </span>
      </a>
    {% endfor %}
  </p>
</div> {# install #}

{% if b.detailed %}
  {% if addon.privacy_policy %}
    <a class="privacy-policy badge" href="{{ url('addons.privacy', addon.slug) }}">
      {{ _('Privacy Policy') }}
    </a>
  {% endif %}

  {% if addon.is_unreviewed() %}
    <p class="warning">
      {% if addon.is_webapp() %}
        {% trans url=url('pages.faq') + "#unreviewed" %}
          This app has not been reviewed by Mozilla.
          <a href="{{ url }}">Learn more</a>
        {% endtrans %}
      {% else %}
        {% trans url=url('pages.faq') + "#unreviewed" %}
          This add-on has not been reviewed by Mozilla.
          <a href="{{ url }}">Learn more</a>
        {% endtrans %}
      {% endif %}
    </p>
  {% elif b.lite %}
    <p class="warning">{% trans url=url('pages.faq') + "#preliminary" %}
      This add-on has been preliminarily reviewed by Mozilla.
      <a href="{{ url }}">Learn more</a>
    {% endtrans %} </p>
  {% elif addon.is_selfhosted() %}
    <p class="warning">{{ _("This add-on is hosted on the developer's own website and has not been reviewed by Mozilla.") }}</p>
  {% endif %}
{% endif %}
</div> {# install-shell #}

{% if addon.is_webapp() %}
  {% include 'addons/includes/apps_error_msg.html' %}
{% endif %}
