{% set meet_url = url('addons.meet', addon.slug) %}
{% if addon.charity %}
  {% set charity_url = addon.charity.outgoing_url %}
  {% set charity_name = addon.charity.name %}
{% endif %}
<div class="notice c author" id="contribution">

  {% with single_dev = addon.listed_authors|random %}
    {% if single_dev %}
      <img class="avatar" alt="{{ single_dev.name }}"
           src="{{ single_dev.picture_url }}">
    {% endif %}
  {% endwith %}

  <div class="aux">
    <div class="button-wrapper">
      <a class="button contribute prominent" id="contribute-button" href="#">
        <b></b>{{ _('Contribute') }}
      </a>
    </div>{# /button-wrapper #}

    <p class="suggestion">
      {% if has_suggested %}
        {% trans amt = addon.suggested_amount|currencyfmt('USD') %}
          <b>{{ amt }}</b> suggested
        {% endtrans %}
      {% endif %}
    </p>{# /suggestion #}

    {% if show_install %}
      {# L10n: Click Contribute button OR Install button #}
      <span class="continue">{{ _('or') }}</span>
      {% set ver = version or None %}
      {{ install_button(addon, impala=True, version=ver, show_contrib=False) }}
    {% endif %}
  </div>{# /aux #}

  {% if addon.is_webapp() %}
    <h3>{{ _('Enjoy this app?') }}</h3>
  {% else %}
    <h3>{{ _('Enjoy this add-on?') }}</h3>
  {% endif %}
  <p class="{% if show_install %}show-install{% endif %}">
    {% if text %}
      {{ text }}
    {% elif not addon.charity %}
      {% if addon.is_webapp() %}
        {% trans %}
          The <a href="{{ meet_url }}">developer of this app</a> asks that you help support its
          continued development by making a small contribution.
        {% endtrans %}
      {% else %}
        {% trans %}
          The <a href="{{ meet_url }}">developer of this add-on</a> asks that you help support its
          continued development by making a small contribution.
        {% endtrans %}
      {% endif %}
    {% elif addon.charity_id == amo.FOUNDATION_ORG %}
      {% if addon.is_webapp() %}
        {% trans %}
          The <a href="{{ meet_url }}">developer of this app</a> asks that you show your support
          by making a donation to the <a href="{{ charity_url }}">{{ charity_name }}</a>.
        {% endtrans %}
      {% else %}
        {% trans %}
          The <a href="{{ meet_url }}">developer of this add-on</a> asks that you show your support
          by making a donation to the <a href="{{ charity_url }}">{{ charity_name }}</a>.
        {% endtrans %}
      {% endif %}
    {% else %}
      {% if addon.is_webapp() %}
        {% trans %}
          The <a href="{{ meet_url }}">developer of this app</a> asks that you show your support
          by making a small contribution to <a href="{{ charity_url }}">{{ charity_name }}</a>.
        {% endtrans %}
      {% else %}
        {% trans %}
          The <a href="{{ meet_url }}">developer of this add-on</a> asks that you show your support
          by making a small contribution to <a href="{{ charity_url }}">{{ charity_name }}</a>.
        {% endtrans %}
      {% endif %}
    {% endif %}
  </p>

  {% include "addons/contributions_lightbox.html" %}

</div>{# /notification #}
