{% extends "impala/base.html" %}

{% block title %}{{ page_title(addon.name) }}{% endblock %}
{% block js %}{% include("amo/recaptcha_js.html") %}{% endblock %}
{% block bodyclass %}gutter{% endblock %}

{% block extrahead %}
  {% if settings.ENGAGE_ROBOTS and addon.status == amo.STATUS_UNREVIEWED %}
    <meta name="robots" content="noindex">
  {% endif %}
  {% for preview in addon.all_previews %}
    <link rel="prefetch" href="{{ preview.image_url }}">
  {% endfor %}
{% endblock %}

{% block content %}
{{ impala_breadcrumbs([(addon.type_url(), amo.ADDON_TYPES[addon.type]),
                (None, addon.name)]) }}

<aside class="secondary addon-vitals">
  {{ addon.average_rating|stars(large=True) }}
  <div><a class="scrollto" href="#reviews">{{ _('{0} user reviews')|f(addon.total_reviews|numberfmt) }}</a></div>
  <div id="daily-users">{{ _('<b>{0}</b> active users')|f(addon.average_daily_users|numberfmt)|safe }}</div>
  <div class="widgets">
    {{ favorites_widget(addon) }}
    {% include 'addons/includes/collection_add_widget.html' %}
    {{ sharing_widget(addon) }}
  </div>
  {% if request.check_ownership(addon, require_owner=False) %}
    <a href="{{ url('devhub.addons.edit', addon.slug) }}" class="button developer prominent"><span>{{ _('Manage') }}</span></a>
  {% endif %}
</aside>

{% set version = addon.current_version %}
<section class="primary">
  <div id="addon" class="island c" role="main" data-id="{{ addon.id }}">
    <hgroup>
      <img id="addon-icon" src="{{ addon.get_icon_url(64) }}" class="icon">
      <h2 class="addon"{{ addon.name|locale_html }}>
        {{ addon.name }}
        <span class="version">{{ version.version }}</span>
      </h2>
      <h4 class="author">{{ _('by') }} {{ users_list(addon.listed_authors) }}</h4>
    </hgroup>
    <p id="addon-summary" {{ addon.summary|locale_html }}>{{ addon.summary|nl2br }}</p>
    {{ big_install_button(addon, show_warning=False, impala=True) }}
    {% if addon.is_featured(APP, LANG) %}
      <div class="banner featured">{{ _('Featured') }}</div>
    {% endif %}
  </div>

  {% if settings.PERF_THRESHOLD and addon.ts_slowness >= settings.PERF_THRESHOLD %}
    {{ impala_performance_note(amount=addon.ts_slowness) }}
  {% endif %}

  {% if addon.takes_contributions %}
    {{ impala_contribution(addon=addon, src='addon-detail') }}
  {% endif %}

</section>

{% if addon.type != amo.ADDON_PERSONA %}
  {% if addon.all_previews|length > 0 %}
    <section class="previews carousel">
      <a href="#" class="control prev">&laquo;</a>
      <a href="#" class="control next">&raquo;</a>
      <ul id="preview" class="slider">
        {%- for preview in addon.all_previews -%}
          <li class="panel">
            <a class="screenshot thumbnail" rel="jquery-lightbox"
               href="{{ preview.image_url }}" title="{{ preview.caption }}">
              <img src="{{ preview.thumbnail_url }}">
            </a>
          </li>
        {%- endfor -%}
      </ul>
    </section>
    <div id="lightbox">
      <section>
        <div class="content">
          <a class="close" href="#">Close</a>
        </div>
        <div class="controls">
          <a href="#" class="control next">&raquo;</a>
          <a href="#" class="control prev">&laquo;</a>
          <span class="caption"></span>
        </div>
      </section>
    </div>
  {% endif %}
{% endif %}

<aside class="secondary metadata c">
  <ul class="links">
    {% if addon.homepage %}
      <li><a class="home" href="{{ addon.homepage }}">{{ _('Add-on home page') }}</a></li>
    {% endif %}
    {% if addon.support_url %}
      <li><a class="support" href="{{ addon.support_url|external_url }}">{{ _('Support site') }}</a></li>
    {% endif %}
    {% if addon.support_email %}
      <li>{{ emaillink(addon.support_email.localized_string,
                       _('Support E-mail')) }}</li>
    {% endif %}
    {% if addon.has_satisfaction %}
      {# get satisfaction only supports en-US so no L10n here #}
      <li><a href="#" id="feedback_btn" class="support-gs"
           data-company="{{ addon.get_satisfaction_company }}"
           data-product="{{ addon.get_satisfaction_product }}">Get Satisfaction</a>
      </li>
    {% endif %}
  </ul>
  <ul>
    <li>{{ _('Version {0}')|f(version.version) }} <a class="scrollto" href="#detail-relnotes">{{ _('Info') }}</a></li>
    <li>{{ version.created|datetime }}</li>
    <li>
      {% trans url = version.license_url(), name = version.license %}
        Released under <a href="{{ url }}">{{ name }}</a>
      {% endtrans %}
    </li>
  </ul>
</aside>

{% if addon.description %}
  <section class="primary island c">
    <h2>{{ _('About this Add-on') }}</h2>
    <p id="addon-description" {{ addon.description|locale_html }}>{{ addon.description|nl2br }}</p>
  </section>
{% endif %}

<aside class="secondary addon-reviews c">
  <div>
    {{ addon.average_rating|stars }}
    {{ _('Average') }}
  </div>
  {% include "reviews/grouped_ratings.html" %}
  <p>
    <a class="button" id="add-review" href="{{ url('reviews.add', addon.slug) }}">{{ _('Write a review') }}</a>
  </p>
</aside>

<section id="reviews" class="primary island c">
  <h2>Reviews</h2>
  {% if reviews %}
    {{ impala_review_list_box(addon=addon, reviews=reviews) }}
  {% else %}
    <div class="review">
      <h3>{{ _('This add-on has not yet been reviewed.') }}</h3>
      <p>
        <a href="{{ url('reviews.add', addon.slug) }}">
          {{ _('Be the first to write a review!') }}
        </a>
      </p>
    </div>
  {% endif %}
</section>

<aside class="secondary metadata c">
  <h3>{{ _('Related Categories') }}</h3>
  {% with categories = addon.categories.filter(application=APP.id) %}
    {% if categories %}
      <ul>
        {% for category in categories %}
        <li>
          <a href="{{ category.get_url_path() }}">
            {{ category }}
          </a>
        </li>
        {% endfor %}
      </ul>
    {% endif %}
  {% endwith %}
  {{ tags_box(addon=addon, tags=tags) }}
</aside>

<section class="primary island c">
  {% if recommendations %}
    <section>
      <h2 class="compact-bottom">{{ _('Often used with&hellip;')|safe }}</h2>
      {{ recommendations|addon_grid(cols=3) }}
    </section>
  {% endif %}
  {% if collections %}
    <section>
      <h2>{{ _('Part of these Collections') }}</h2>
      {{ collections|collection_grid(cols=3) }}
    </section>
    {% endif %}
  {% if author_addons %}
    <section>
      <h2>
        {% trans count = addon.listed_authors|length,
                 author = users_list(addon.listed_authors) %}
          Other add-ons by {{ author }}
        {% pluralize %}
          Other add-ons by these authors
        {% endtrans %}
      </h2>
      {{ author_addons|addon_grid(cols=3) }}
    </section>
  {% endif %}
</section>

<section class="primary island c">
  {% if addon.developer_comments %}
    <section class="expando">
      <h2>{{ _('Developer’s Comments') }}<a class="toggle" href="#"><b></b></a></h2>
      <div class="content">
        <p{{ addon.developer_comments|locale_html }}>
          {{ addon.developer_comments|nl2br }}</p>
      </div>
    </section>
  {% endif %}
  <section id="detail-relnotes" class="expando">
    <h2>{{ _('Version Information') }}<a class="toggle" href="#"><b></b></a></h2>
    <div class="content">
      {{ version_detail(addon, version, src="addon-detail-version") }}
    </div>
  </section>

  {% if addon.show_beta and show_actions %}
    <section id="beta-channel" class="expando">
      <h2>{{ _('Development Channel') }}<a class="toggle" href="#"><b></b></a></h2>
      <div class="content">
        <p>
          {% trans %}
          The Development Channel lets you test an experimental new version of this
          add-on before it's released to the general public. Once you install
          the development version, you will continue to get updates from this channel.
          {% endtrans %}
          <a href="#install-beta">{{ _('Install development version') }}</a>
        </p>
        <div class="install-beta" id="install-beta">
          <p>
            {% trans %}
            <strong>Caution:</strong> Development versions of this add-on have not
            been reviewed by Mozilla. Once you install a development version you will
            continue to receive development updates from this developer. To stop
            receiving development updates, reinstall the default version from the
            link above.
            {% endtrans %}
          </p>
          <dl>
            <dt class="beta-version">{{ _('Version {0}:')|f(
              addon.current_beta_version.version) }}</dt>
            <dd>{{ install_button(addon, version=addon.current_beta_version,
                                  show_warning=False) }}</dd>
          </dl>
        </div>
      </div>
    </section>
  {% endif %}
</section>

{% if abuse_form %}
  {{ addon_report_abuse(hide=True, addon=addon) }}
{% endif %}

{% endblock content %}

{% block popups %}
  {% if addon.privacy_policy %}
    <div class="modal" id="privacy-policy">
      <a href="#" class="close">{{ _('close') }}</a>
      <h2>{{ _('Privacy Policy') }}</h2>
      <div class="copy">
        {{ addon.privacy_policy|nl2br }}
      </div>
    </div>
  {% endif %}
  {% if review_form: %}
    {% if request.user.is_authenticated() %}
      {{ impala_review_add_box(addon=addon) }}
    {% endif %}
  {% endif %}
{% endblock %}

