{% extends "impala/base.html" %}

{% block title %}{{ page_title(addon.name) }}{% endblock %}
{% block js %}{% include("amo/recaptcha_js.html") %}{% endblock %}
{% block bodyclass %}gutter addon-details{% endblock %}

{% block extrahead %}
  {% if settings.ENGAGE_ROBOTS and addon.status == amo.STATUS_UNREVIEWED %}
    <meta name="robots" content="noindex">
  {% endif %}
  {% for preview in addon.all_previews %}
    <link rel="prefetch" href="{{ preview.image_url }}">
  {% endfor %}
{% endblock %}

{% block content %}
{{ impala_breadcrumbs([(addon.type_url(), amo.ADDON_TYPES[addon.type]),
                       (None, addon.name)]) }}
<aside class="secondary addon-vitals">
  {{ addon.average_rating|stars(large=True) }}
  {% set r_list = '%sreviews.list' % ('i_' if settings.IMPALA_REVIEWS else '') %}
  <div><a id="reviews-link" href="{{ url(r_list, addon.slug) }}">
    {% trans cnt=addon.total_reviews, num=addon.total_reviews|numberfmt %}
      {{ num }} user review
    {% pluralize %}
      {{ num }} user reviews
    {% endtrans %}
  </a></div>

  {% if addon.average_daily_users %}
    <div id="daily-users">
      {% if addon.public_stats %}
        {# TODO real reverse URL #}
        <a class='stats' title='View statistics' href="{{ locale_url('/statistics/addon/{0}'|f(addon.id)) }}">
          {{ _('<b>{0}</b> users')|f(addon.average_daily_users|numberfmt)|safe }}
        </a>
      {% else %}
        {{ _('<b>{0}</b> users')|f(addon.average_daily_users|numberfmt)|safe }}
      {% endif %}
    </div>
  {% endif %}

  <div class="widgets">
    {{ favorites_widget(addon) }}
    {% include 'addons/includes/collection_add_widget.html' %}
    {{ sharing_widget(addon) }}
  </div>
  {% if request.check_ownership(addon, require_owner=False) %}
    <a href="{{ url('devhub.addons.edit', addon.slug) }}" class="button developer prominent"><span>{{ _('Manage') }}</span></a>
  {% endif %}
</aside>

{% set version = addon.current_version if not addon.is_webapp() else None %}

{# All this depends on the addon or version, and nothing needs the user,
   so we can cache it all against the addon. #}
{% cache addon %}
<section class="primary">
  <div id="addon" class="island c" role="main" data-id="{{ addon.id }}">
    <hgroup>
      <img id="addon-icon" src="{{ addon.get_icon_url(64) }}" class="icon">
      <h1 class="addon"{{ addon.name|locale_html }}>
        {{ addon.name }}
        {% if version %}
          <span class="version-number">{{ version.version }}</span>
        {% endif %}
        {% if addon.is_no_restart() %}
          &nbsp;<span class="no-restart">{{ _('No Restart') }}</span>
        {% endif %}
      </h1>
      <h4 class="author">{{ _('by') }} {{ users_list(addon.listed_authors) }}</h4>
    </hgroup>
    <p id="addon-summary" {{ addon.summary|locale_html }}>{{ addon.summary|nl2br }}</p>
    {% if version or addon.is_webapp() %}
      {{ big_install_button(addon, show_warning=False, impala=True) }}
    {% endif %}
    {% if addon.is_featured(APP, LANG) %}
      <div class="banner-box">
        <div class="banner featured">{{ _('Featured') }}</div>
      </div>
    {% endif %}
  </div>

  {% if settings.PERF_THRESHOLD and addon.ts_slowness >= settings.PERF_THRESHOLD %}
    {{ impala_performance_note(amount=addon.ts_slowness) }}
  {% endif %}

  {% if addon.takes_contributions %}
    {{ impala_contribution(addon=addon, src='addon-detail') }}
  {% elif addon.has_profile() and addon.listed_authors %}
    <div class="notice c author">
      {% with single_dev = addon.listed_authors|random %}
        <h3>
          {% trans count=addon.listed_authors|length,
                   name=single_dev.name,
                   url=addon.meet_the_dev_url(impala=settings.IMPALA_MEET) %}
            Meet the Developer: <a href="{{ url }}">{{ name }}</a>
          {% pluralize %}
            <a href="{{ url }}">Meet the Developers</a>
          {% endtrans %}
        </h3>
        <img class="avatar" alt="{{ single_dev.name }}" height="64"
             width="64" src="{{ single_dev.picture_url }}"/>
        <p>{{ _("Learn why {0} was created and find out what's next for this "
                'add-on.')|f(addon.name) }}</p>
      {% endwith %}
    </div>
  {% endif %}
</section>

{% if addon.type != amo.ADDON_PERSONA %}
  {% if addon.all_previews|length > 0 %}
    <section class="previews carousel">
      <a href="#" class="control prev">&laquo;</a>
      <a href="#" class="control next">&raquo;</a>
      <ul id="preview" class="slider">
        {%- for preview in addon.all_previews -%}
          <li class="panel">
            <a class="screenshot thumbnail" rel="jquery-lightbox"
               href="{{ preview.image_url }}" title="{{ preview.caption }}">
              <img src="{{ preview.thumbnail_url }}">
            </a>
          </li>
        {%- endfor -%}
      </ul>
    </section>
    <div id="lightbox">
      <section>
        <div class="content">
          <a class="close" href="#">Close</a>
        </div>
        <div class="controls">
          <a href="#" class="control next">&raquo;</a>
          <a href="#" class="control prev">&laquo;</a>
          <div class="caption"><span></span></div>
        </div>
      </section>
    </div>
  {% endif %}
{% endif %}

<aside class="secondary metadata c">
  <ul class="links">
    {% if addon.homepage %}
      <li><a class="home" href="{{ addon.homepage|external_url }}">{{ _('Add-on home page') }}</a></li>
    {% endif %}
    {% if addon.support_url %}
      <li><a class="support" href="{{ addon.support_url|external_url }}">{{ _('Support site') }}</a></li>
    {% endif %}
    {% if addon.support_email %}
      <li>{{ emaillink(addon.support_email.localized_string,
                       _('Support E-mail')) }}</li>
    {% endif %}
    {% if addon.has_satisfaction %}
      {# get satisfaction only supports en-US so no L10n here #}
      <li><a href="#" id="feedback_btn" class="support-gs"
           data-company="{{ addon.get_satisfaction_company }}"
           data-product="{{ addon.get_satisfaction_product }}">Get Satisfaction</a>
      </li>
    {% endif %}
  </ul>
  {% if version %}
    <ul>
      <li>{{ _('Version {0}')|f(version.version) }} <a class="scrollto" href="#detail-relnotes">{{ _('Info') }}</a></li>
      <li>{{ version.created|datetime }}</li>
      <li>
        {% if version.license %}
          {% trans url = version.license_url(),
             name = version.license if version.license.builtin else _('Custom License') %}
            Released under <a href="{{ url }}">{{ name }}</a>
          {% endtrans %}
        {% endif %}
      </li>
    </ul>
  {% endif %}
</aside>

<section class="primary island c">
  <h2>{{ _('About this Add-on') }}</h2>
  <div class="prose">
  {% if addon.description %}
    <p id="addon-description" class="prose" {{ addon.description|locale_html }}>{{ addon.description|nl2br }}</p>
  {% else %}
    <p id="addon-description" class="prose" {{ addon.description|locale_html }}>{{ addon.summary|nl2br }}</p>
  {% endif %}
  </div>
</section>

<div id="more-webpage" class="primary c" data-more-url="{{ addon.get_url_path(more=True) }}"></div>

{% if version or addon.developer_comments or addon.show_beta %}
<section class="primary island c">
  {% if addon.developer_comments %}
    <section class="expando" id="developer-comments">
      <h2>{{ _('Developer’s Comments') }}<a class="toggle" href="#developer-comments"><b></b></a></h2>
      <div class="content prose">
        <p{{ addon.developer_comments|locale_html }}>
          {{ addon.developer_comments|nl2br }}</p>
      </div>
    </section>
  {% endif %}

  {% if version %}
    <section id="detail-relnotes" class="expando">
      <h2>{{ _('Version Information') }}<a class="toggle" href="#detail-relnotes"><b></b></a></h2>
      <div class="content prose">
        {{ version_detail(addon, version, src="addon-detail-version", impala=True) }}
      </div>
    </section>
  {% endif %}

  {% if addon.show_beta %}
    <section id="beta-channel" class="expando">
      <h2>{{ _('Development Channel') }}<a class="toggle" href="#beta-channel"><b></b></a></h2>
      <div class="content">
        <p>
          {% trans %}
            The Development Channel lets you test an experimental new version of this
            add-on before it's released to the general public. Once you install the
            development version, you will continue to get updates from this channel. To
            stop receiving development updates, reinstall the default version from the link
            above.
          {% endtrans %}
          <a href="#install-beta">{{ _('Install development version') }}</a>
        </p>
        <div class="install-beta" id="install-beta">
          <p>
            {% trans %}
              <strong>Caution:</strong> Development versions of this add-on have not been reviewed by Mozilla.
            {% endtrans %}
          </p>
          <dl>
            <dt class="beta-version">{{ _('Version {0}:')|f(
              addon.current_beta_version.version) }}</dt>
            <dd>{{ install_button(addon, version=addon.current_beta_version,
                                  show_warning=False, impala=True,
                                  src=request.GET.get('src', 'dp-btn-devchannel')) }}</dd>
          </dl>
        </div>
      </div>
    </section>
  {% endif %}
</section>
{% endif %}

{% endcache %} {# cache addon #}

{# The rest of the detail page content is in details-more.html.
   We want above-the-fold to return and render really fast so we pull
   in reviews and links to other add-ons with js. #}
{% endblock content %}

{% block popups %}
  {% if addon.privacy_policy %}
    <div class="modal" id="privacy-policy">
      <a href="#" class="close">{{ _('close') }}</a>
      <h2>{{ _('Privacy Policy') }}</h2>
      <div class="prose">
        {{ addon.privacy_policy|nl2br }}
      </div>
    </div>
  {% endif %}
  {% if review_form and request.user.is_authenticated() %}
      {{ impala_review_add_box(addon=addon) }}
  {% endif %}
  {% if abuse_form %}
    <div id="abuse-modal" class="modal">
      <a href="#" class="close">{{ _('close') }}</a>
      <h2>{{ _('Report Abuse') }}</h2>
      {{ addon_report_abuse(hide=False, addon=addon) }}
    </div>
  {% endif %}
{% endblock %}

