{# The front of the detail page content is in details.html.
   We want the above-the-fold portion to return and render really fast
   so we pull in reviews and links to other add-ons with js.
   This view returns a chunk of HTML that's injected into the DOM. #}
{% set version = addon.current_version %}
<aside class="secondary addon-reviews c">
  {% if reviews %}
    <div>
      {{ addon.average_rating|stars }}
      {{ _('Average') }}
    </div>
  {% endif %}
  {% include "reviews/grouped_ratings.html" %}
  {% set amo_user = request.amo_user if user.is_authenticated() else None %}
  {% if not addon.has_author(amo_user) %}
    <div>
      <a class="button" id="add-review" href="{{ url('reviews.add', addon.slug) }}">{{ _('Write a review') }}</a>
    </div>
  {% endif %}
  <a id="report-abuse" href="{{ remora_url('developers/docs/policies/contact') }}"
     class="abuse-image">{{ _('Report Abuse') }}</a>
</aside>

<section id="reviews" class="primary island c">
  <h2>{{ _('Reviews') }}</h2>
  {{ impala_review_list_box(addon=addon, reviews=reviews) }}
</section>

{# Cache all of this against the addon because the data doesn't change much
   and it all depends on the addon in some way. #}
{% cache addon %}
<aside class="secondary metadata c">
  <h3>{{ _('Related Categories') }}</h3>
  {% with categories = addon.categories.filter(application=APP.id) %}
    {% if categories %}
      <ul>
        {% for category in categories %}
        <li>
          <a href="{{ category.get_url_path() }}">
            {{ category }}
          </a>
        </li>
        {% endfor %}
      </ul>
    {% endif %}
  {% endwith %}
  {{ tags_box(addon=addon, tags=tags) }}
</aside>

{% if recommendations or collections or author_addons %}
  <section class="primary island c">
    {% if recommendations %}
      <section>
        <h2 class="compact-bottom">{{ _('Often used with&hellip;')|safe }}</h2>
        {{ recommendations|addon_grid(cols=3) }}
      </section>
    {% endif %}
    {% if collections %}
      <section>
        <h2>{{ _('Part of these Collections') }}</h2>
        {{ collections|collection_grid(cols=3) }}
      </section>
      {% endif %}
    {% if author_addons %}
      <section>
        <h2>
          {% trans count = addon.listed_authors|length,
                   author = users_list(addon.listed_authors) %}
            Other add-ons by {{ author }}
          {% pluralize %}
            Other add-ons by these authors
          {% endtrans %}
        </h2>
        {{ author_addons|addon_grid(cols=3) }}
      </section>
    {% endif %}
  </section>
{% endif %}

<section class="primary island c">
  {% if addon.developer_comments %}
    <section class="expando">
      <h2>{{ _('Developer’s Comments') }}<a class="toggle" href="#"><b></b></a></h2>
      <div class="content">
        <p{{ addon.developer_comments|locale_html }}>
          {{ addon.developer_comments|nl2br }}</p>
      </div>
    </section>
  {% endif %}
  <section id="detail-relnotes" class="expando">
    <h2>{{ _('Version Information') }}<a class="toggle" href="#"><b></b></a></h2>
    <div class="content">
      {{ version_detail(addon, version, src="addon-detail-version", impala=True) }}
    </div>
  </section>

  {% if addon.show_beta and show_actions %}
    <section id="beta-channel" class="expando">
      <h2>{{ _('Development Channel') }}<a class="toggle" href="#"><b></b></a></h2>
      <div class="content">
        <p>
          {% trans %}
          The Development Channel lets you test an experimental new version of this
          add-on before it's released to the general public. Once you install
          the development version, you will continue to get updates from this channel.
          {% endtrans %}
          <a href="#install-beta">{{ _('Install development version') }}</a>
        </p>
        <div class="install-beta" id="install-beta">
          <p>
            {% trans %}
            <strong>Caution:</strong> Development versions of this add-on have not
            been reviewed by Mozilla. Once you install a development version you will
            continue to receive development updates from this developer. To stop
            receiving development updates, reinstall the default version from the
            link above.
            {% endtrans %}
          </p>
          <dl>
            <dt class="beta-version">{{ _('Version {0}:')|f(
              addon.current_beta_version.version) }}</dt>
            <dd>{{ install_button(addon, version=addon.current_beta_version,
                                  show_warning=False) }}</dd>
          </dl>
        </div>
      </div>
    </section>
  {% endif %}
</section>
{% endcache %} {# cache addon #}
