{% extends "impala/base.html" %}

{% block title %}{{ _('Add-ons for {0}')|f(request.APP.pretty) }}{% endblock %}

{% block bodyclass %}home{% endblock %}

{% set ext, extrss = url('browse.extensions'), url('browse.extensions.rss') %}
{% set view_all = {
  'featured': {
    'text': _('Featured Extensions'),
    'link': url('browse.featured'),
    'feed': url('browse.featured.rss'),
  },
  'popular': {
    'text': _('Popular Extensions'),
    'link': ext|urlparams(sort='popular'),
    'feed': extrss|urlparams(sort='popular'),
  }
}
%}


{% block content %}

<section class="secondary">
  {{ side_nav(amo.ADDON_EXTENSION) }}
</section>

<section class="primary" id="homepage">
  {% if request.APP == amo.FIREFOX %}
    <section class="island" id="promos" data-promo-url="{{ url('addons.homepage_promos') }}">
      <div>
        <ul class="slider">
        </ul>
      </div>
    </section>
  {% endif %}

  {# Cache everything in one block since changes in each block are rare. #}
  {% cache popular %}
    <section class="secondary">
      <h2>{{ _('Most Popular') }}
        <a class="seeall" href="{{ url('browse.extensions')|urlparams(sort='popular') }}">{{ _('All »') }}</a>
      </h2>
      {{ popular|addon_toplist }}
    </section>

    <section class="primary">
      {% if featured %}
        <div class="island">
          <h2>{{ _('Featured Extensions') }}
            <a class="seeall" href="{{ url('browse.featured') }}">{{ _('See all »') }}</a>
          </h2>
          {{ featured|addon_grid }}
        </div>
      {% endif %}
      {% if hotness %}
        <div class="island">
          <h2>{{ _('Up &amp; Coming Extensions') }}</h2>
          {{ hotness|addon_grid }}
        </div>
      {% endif %}
      {% if personas %}
        <div class="island">
          <h2>{{ _('Featured Personas') }}
            <a class="seeall" href="{{ url('browse.personas')|urlparams(sort='featured') }}">{{ _('See all »') }}</a>
          </h2>
          {{ personas|impala_persona_grid }}
        </div>
      {% endif %}
      {% if featured %}
        <div class="island">
          <h2>{{ _('Featured Collections') }}
            <a class="seeall" href="{{ url('collections.list')|urlparams(sort='featured') }}">{{ _('See all »') }}</a>
          </h2>
          {{ collections|collection_grid }}
        </div>
      {% endif %}
    </section>
  {% endcache %}
</section>

{% endblock content %}

{% block extrahead %}
{% for feed in view_all.itervalues() %}
  <link rel="alternate" type="application/rss+xml" title="{{ feed['text'] }}"
        href="{{ feed['feed'] }}">
{% endfor %}
{% endblock %}
