<ul class="listing-grid personas {{ columns }} c">
{% for page in pages %}
  {% set first_page = loop.first %}
  <section>
  {% for addon in page %}
    <li>
      <div class="persona hovercard">
        <a href="{{ addon.get_url_path() }}">
          <div class="persona-preview">
            <img {{ 'src' if first_page else 'data-defer-src' }}="{{ addon.persona.thumb_url }}"
                 data-browsertheme="{{ addon.persona.json_data }}">
          </div>
          <h3>{{ addon.name }}</h3>
        </a>
        <div class="more adu">
          {{ _('{0} users')|f(addon.persona.popularity|numberfmt) }}
        </div>
      </div>
    </li>
  {% endfor %}
  </section>
{% endfor %}
</ul>
