{% set reviews = reviews[:3] %}
{% cache reviews %}
  {% if reviews %}
    {% set replies = get_replies(reviews) %}
    {% for review in reviews %}
      <div class="review">
        <h3>
          {% if review.title %}
            <span>{{ review.title }}</span>
          {% endif %}
          {{ review.rating|stars }}
        </h3>
        <p class="byline">
          {% trans user=review.user|user_link, date=review.created|datetime %}
            by {{ user }} on {{ date }}
          {% endtrans %}
          {% if replies[review.id] %}
            <a class="show-more" href="{{ replies[review.id].get_url_path() }}">
              {{ _("Show the developer's reply to this review") }}</a>
          {% endif %}
        </p>
        <p class="description">{{ review.body|nl2br }}</p>
      </div>
    {% endfor %}
    {% if addon %}
      <p>
        <a class="more-info" href="{{ url('reviews.list', addon.slug) }}">
          {% trans num=addon.total_reviews, cnt=addon.total_reviews|numberfmt %}
            See all user reviews &raquo;
          {% pluralize %}
            See all {{ cnt }} user reviews &raquo;
          {% endtrans %}
        </a>
      </p>
    {% endif %}
  {% else %}
    <div class="review">
      <h3>{{ _('This add-on has not yet been reviewed.') }}</h3>
      <p>
        <a href="{{ url('reviews.add', addon.slug) }}">
          {{ _('Be the first to write a review!') }}
        </a>
      </p>
    </div>
  {% endif %}
{% endcache %}
