{% if pager.paginator.num_pages > 1 %}
  <nav class="paginator c">
    <p class="num">
      {# L10n: {0} is a page number. #}
      <a href="{{ pager.url|urlparams(page=pager.number) }}">
        {{ _('Page {0}')|f(pager.number) }}</a>
    </p>
    <p class="rel">
      <a href="{{ pager.url|urlparams(page=1) }}"
         {% if not pager.has_previous() %}class="disabled"{% endif %}>
        &#x25C2;&#x25C2;</a>
      <a href="{{ pager.url|urlparams(page=pager.previous_page_number()) }}"
         class="button{% if not pager.has_previous() %} disabled{% endif %}">
        &#x25C2; {{ _('Previous') }}</a>
      <a href="{{ pager.url|urlparams(page=pager.next_page_number()) }}"
         class="button{% if not pager.has_next() %} disabled{% endif %}">
        {{ _('Next') }} &#x25B8;</a>
      <a href="{{ pager.url|urlparams(page=pager.paginator.num_pages) }}"
         {% if not pager.has_next() %}class="disabled"{% endif %}>
        &#x25B8;&#x25B8;</a>
    </p>
    <p class="pos">
      {# L10n: first and second arguments are the result range (e.g., 1-20);
               third argument is the number of total results (e.g., 1,000). #}
      {% trans begin=pager.start_index(), end=pager.end_index(),
               count=pager.paginator.count|numberfmt %}
        Showing <b>{{ begin }}</b>&ndash;<b>{{ end }}</b> of <b>{{ count }}</b>
      {% endtrans %}
    </p>
  </nav>
{% endif %}
