<nav id="side-nav">
  <ul>
    <li>
      <a href="{{ url('stats.dashboard') }}">
        {{ _('Dashboard') }}</a>
    </li>
    <li>
      <a href="{{ url('stats.addons_in_use') }}">
        {{ _('Add-ons in Use') }}</a>
    </li>
    <li>
      <a href="{{ url('stats.addons_created') }}">
        {{ _('Add-ons Created') }}</a>
    </li>
    <li>
      <a href="{{ url('stats.addons_downloaded') }}">
        {{ _('Add-ons Downloaded') }}</a>
    </li>
    <li>
      <a href="{{ url('stats.addons_updated') }}">
        {{ _('Add-ons Updated') }}</a>
    </li>
    <li>
      <a href="{{ url('stats.collections_created') }}">
        {{ _('Collections Created') }}</a>
    </li>
    <li>
      <a href="{{ url('stats.reviews_created') }}">
        {{ _('Reviews Written') }}</a>
    </li>
    <li>
      <a href="{{ url('stats.users_created') }}">
        {{ _('User Signups') }}</a>
    </li>
  </ul>
</nav>
