{% extends "stats/stats.html" %}

{% block stats %}
<div class="statbox">
  <div class="tabular">
    <table class="bar-table">
    </table>
  </div>
</div>
{% endblock %}

{% block chartconfig %}
  <script>
    AMO.seriesList = {
      metric: "locales",
      fields: [
        "locales|en-US",
        "locales|es-ES",
        "locales|de"
      ]
    };
  
    AMO.csvTableConfig = {
        el: $("table.bar-table")[0],
        report: "{{ report }}",
        columns: [{
            label: "{{_('Date')}}",
            field: 'date',
            format: function (value) {
                return Highcharts.dateFormat('%a, %b %e, %Y', new Date(value));
            }
        },
        {
            label: "{{_('English (US)')}}",
            field: 'locales|en-US',
            format: function (value) {
                return Highcharts.numberFormat(value, 0);
            }
        },
        {
            label: "{{_('Spanish')}}",
            field: 'locales|es-ES',
            format: function (value) {
                return Highcharts.numberFormat(value, 0);
            }
        },
        {
            label: "{{_('German')}}",
            field: 'locales|de',
            format: function (value) {
                return Highcharts.numberFormat(value, 0);
            }
        }
        ]
    };
  </script>
{% endblock %}