{% extends "stats/stats.html" %}

{% block chart_config %}
  data-series="count"
{% endblock %}

{% block chart_menu %}
  <ul id='series-select'>
    <li class="selected">
      <a href="#"
         data-report='downloads'
         data-series='count'>
            {{_('Downloads')}}
      </a>
    </li>
    <li>
      <a href="#"
         data-report='usage'
         data-series='count'>
            {{_('Daily Users')}}
      </a>
    </li>
  </ul>
{% endblock %}

{% block stats %}
    <div class="featured">
      <div class="featured-inner two-up">
        <div><a href="downloads/">{{ _('{0} Downloads')|f(addon.total_downloads|numberfmt) }}</a><br/><small>{{ _('{0} in last 30 days')|f('<span id="sum_downloads_range"></span>')|safe }}</small></div>
        <div><div><a href="usage/">{{ _('{0} Daily Users')|f(addon.average_daily_users|numberfmt) }}</a><br/><small>{{ _('{0} in last 30 days')|f('<span id="sum_usage_range"></span>')|safe }}</small></div></div>
      </div>
    </div>
    <div class="toplists">
      <div class="toplist loading">
        <div class="statbox">
          <h3>{{ _('Most Used Applications') }}</h3>
          <div class="piechart"></div>
          <table data-report="apps" data-field="applications">
          </table>
          <a href="apps/">{{ _('See More Applications...') }}</a>
        </div>
      </div>
      <div class="toplist loading">
        <div class="statbox">
          <h3>{{ _('Most Used Languages') }}</h3>
          <div class="piechart"></div>
          <table data-report="locales" data-field="locales">
          </table>
          <a href="locales/">{{ _('See More languages...') }}</a>
        </div>
      </div>
      <div class="toplist loading">
        <div class='statbox'>
          <h3>{{ _('Most Used OSes') }}</h3>
          <div class="piechart"></div>
          <table data-report="os" data-field="oses">
          </table>
          <a href="os/">{{ _('See more operating systems...') }}</a>
        </div>
      </div>
    </div>
{% endblock %}