<nav id='side-nav'>
  <ul>
    {% for item in report_tree %}
      {% if item.name == report %}
        <li class="selected">
      {% else %}
        <li>
      {% endif %}
        <a href="{{ base_url + item.url }}">{{ item.title }}</a>
      </li>
      {% if item.children %}
        <ul>
          {% for child in item.children %}
            {% if child.name == report %}
              <li class="selected">
            {% else %}
              <li>
            {% endif %}
              <a href="{{ base_url + child.url }}">{{ child.title }}</a>
              </li>
          {% endfor %}
        </ul>
      {% endif %}
    {% endfor %}
  </ul>
</nav>
