{% extends "stats/stats.html" %}

{% block stats %}
<div class="statbox">
  <div class="tabular">
    <table class="bar-table">
    </table>
  </div>
</div>
{% endblock %}

{% block chartconfig %}
  <script>
    AMO.seriesList = {
      metric: "sources",
      fields: [
        "sources|api",
        "sources|search",
        "sources|collection"
      ]
    };
  
    AMO.csvTableConfig = {
        el: $("table.bar-table")[0],
        report: "{{ report }}",
        columns: [{
            label: "{{_('Date')}}",
            field: 'date',
            format: function (value) {
                return Highcharts.dateFormat('%a, %b %e, %Y', new Date(value));
            }
        },
        {
            label: "{{_('API')}}",
            field: 'sources|api',
            format: function (value) {
                return Highcharts.numberFormat(value, 0);
            }
        },
        {
            label: "{{_('Search')}}",
            field: 'sources|search',
            format: function (value) {
                return Highcharts.numberFormat(value, 0);
            }
        },
        {
            label: "{{_('Collection')}}",
            field: 'sources|collection',
            format: function (value) {
                return Highcharts.numberFormat(value, 0);
            }
        }
        ]
    };
  </script>
{% endblock %}