{% extends "stats/stats.html" %}

{% block chart_config %}
  data-series="api,search,collection"
{% endblock %}

{% block csvtable %}
<h3>{{_('Download sources by Date')}}<a id="export_data" href=''>{{_('Export as CSV')}}</a></h3>
<div class="statbox">
  <div class="tabular">
    <table class="csv-table">
      <thead>
        <tr>
          <th 
            data-field="date"
            data-format="date">
              {{_('Date')}}
          </th>
          <th 
            data-field="sources|api"
            data-format="number">
              {{_('API')}}
          </th>
          <th 
            data-field="sources|search"
            data-format="number">
              {{_('Search')}}
          </th>
          <th 
            data-field="sources|collection"
            data-format="number">
              {{_('Collections')}}
          </th>
        </tr>
      </thead>
    </table>
  </div>
</div>
{% endblock %}
