{% extends "impala/base.html" %}

{% set range = view.range %}

{% block bodyclass %}statistics{% endblock %}

{% block extrahead %}
  {{ css('zamboni/stats') }}
  <link rel="stylesheet"
        href="{{ media('css/zamboni/jquery-ui/custom-1.7.2.css') }}">
{% endblock %}

{% block title %}
      {# L10n: {0} is an add-on name, {1} is an app name (like Firefox) #}
      {{ _('{0} :: Statistics Dashboard :: Add-ons for {1}')|f(addon.name, request.APP.pretty) }}
{% endblock %}

{% block navbar %}
<header>
  <div class="criteria group island">
    <ul>
      <li>{{ _('Group by:') }}</li>
      <li data-group="day">
          <a href="#">{{ _('day') }}</a>
      </li>
      <li data-group="week">
          <a href="#">{{ _('week') }}</a>
      </li>
      <li data-group="month">
          <a href="#">{{ _('month') }}</a>
      </li>
    </ul>
  </div>
  <div class="criteria range island">
    <ul>
      <li>{{ _('For last:') }}</li>
      <li data-range="7 days"
          {% if range=='7' %}class="selected"{% endif %}>
          <a href="#">{{ _('7 days') }}</a></li>
      <li data-range="30 days"
          {% if range=='30' %}class="selected"{% endif %}>
          <a href="#">{{ _('30 days') }}</a></li>
      <li data-range="90 days"
          {% if range=='90' %}class="selected"{% endif %}>
          <a href="#">{{ _('90 days') }}</a></li>
      <li data-range="365 days"
          {% if range=='365' %}class="selected"{% endif %}>
          <a href="#">{{ _('365 days') }}</a></li>
      <li data-range="custom"
          {% if range=='custom' %}class="selected"{% endif %}>
          <a id="custom-date-range" href="#">{{ _('Custom...') }}</a></li>
    </ul>
  </div>
  {{ impala_breadcrumbs([(addon.type_url(), amo.ADDON_TYPES[addon.type]),
                         (addon.get_url_path(), addon.name),
                         (link, _('Statistics'))]) }}
  {# TODO: Replace above line with this --> once we serve the extension home. { breadcrumbs([(addon.type.get_url_path(), amo.ADDON_TYPES[addon.type_id])]) } #}
  <hgroup>
    <h1 class="addon"{{ addon.name|locale_html }}>
      {# L10n: {0} is an add-on name #}
      {{ _('Statistics for {0}')|f(addon.name) }}
    </h1>
  </hgroup>
</header>
{% endblock %}

{% block content %}
  <div id="lm" class="loadmessage"><span>{{ _('Loading the latest data&hellip;') }}</span></div>
  <div class="secondary">
    {{ report_menu(request, addon, report) }}
    {% block stats_note %}
    {% endblock %}
    <pre id="dbgout"></pre>
  </div>
  <div class="primary statistics"
    data-report="{{ report }}"
    data-addon_id="{{ addon.id }}"
    {% if view.last %}
    data-range="{{ view.last }} days"
    {% endif %}
    {% if view.start and view.end %}
    data-range="custom"
    data-start_date="{{ view.start }}"
    data-end_date="{{ view.end }}"
    {% endif %}
    data-base_url="{{ stats_base_url }}">
    <div class="island chart">
      <div id="head-chart"></div>
    </div>
    {% block stats %}
    {% endblock %}
    {% block csvtable %}
      <div class="island">
        {% block csvtitle %}{% endblock %}
        <div class="tabular csv-table">
          <div class="table-box">
            <table>
              <thead>
              </thead>
            </table>
          </div>
          <footer>
            <nav class="paginator c">
              <p class="range">
              </p>
              <p class="rel">
                <a href="#"
                   class="button prev disabled">
                  &#x25C2; {{ _('Previous') }}</a>
                <a href="#"
                   class="button next">
                  {{ _('Next') }} &#x25B8;</a>
              </p>
            </nav>
          </footer>
        </div>
      </div>
    {% endblock %}
    <div class="hidden">
      <div id="fieldMenuPopup" class="popup">
        <form id="fieldMenu">
          <ul id="fieldList">
          </ul>
        </form>
      </div>
    </div>
  </div>
{% endblock %}

{% block popups %}
  <div class="modal" id="custom-criteria">
    <h2>{{ _('Custom Date Range') }}</h2>
    <a class="close">close</a>
    <form id="date-range-form">
      <fieldset>
        <p>
          <label for="date-range-start">{{ _('From') }}</label>
          <input type="date" id="date-range-start">
        </p>
        <div id="start-date-picker"></div>
      </fieldset>
      <fieldset>
        <p>
          <label for="date-range-end">{{ _('To') }}</label>
          <input type="date" id="date-range-end">
        </p>
        <div id="end-date-picker"></div>
      </fieldset>
      <footer>
        <p>
          <button id="date-range-submit" type="submit">{{ _('Update') }}</button>
        </p>
      </footer>
    </form>
  </div>
{% endblock %}

{% block js %}
<!--[if IE]>
   <script src="{{ media('js/lib/excanvas.compiled.js" type="text/javascript') }}"></script>
<![endif]-->
{{ js('zamboni/stats') }}
{% endblock %}
