{% if link_to_list %}
  {% set base = url('addons.ratings.list', addon.slug) %}
{% else %}
  {% set base = addon.get_url_path()|urlparams('reviews') %}
  {% if collection_uuid %}
    {% set base = base|urlparams(collection_uuid=collection_uuid) %}
  {% endif %}
{% endif %}

<span class="rating">
  {% with num=addon.total_ratings %}
    {% if num %}
      {{ addon.average_rating|float|stars }}
      <a href="{{ base }}">({{ num|numberfmt }})</a>
    {% else %}
      <b>{{ _('Not yet rated') }}</b>
    {% endif %}
  {% endwith %}
</span>
