{% extends "devhub/base.html" %}

{% set title = _('Status & Versions') %}
{% block title %}{{ dev_page_title(title, addon) }}{% endblock %}

{% if addon.has_listed_versions() %}
  {% set has_listed_versions = True %}
{% endif %}
{% if addon.has_unlisted_versions() %}
  {% set has_unlisted_versions = True %}
{% endif %}

{% if has_listed_versions and has_unlisted_versions %}
  {% macro distro_tag(channel) %}
    {% if channel == amo.RELEASE_CHANNEL_LISTED %}
      <span class="distribution-tag-listed tooltip"
            title="{{ _('Listed on this site after passing code review. Automatic updates are handled by this site.') }}"
            >AMO</span>
    {% elif channel == amo.RELEASE_CHANNEL_UNLISTED %}
      <span class="distribution-tag-unlisted tooltip"
            title="{{ _('Signed for self-distribution. Updates are handled by you.') }}"
            >Self</span>
    {% endif %}
  {% endmacro %}
{% else %}
  {% macro distro_tag(channel) %}{% endmacro %}
{% endif %}

{% macro version_details(version, full_info=False) %}
  {% set latest_version_in_channel = version.addon.find_latest_version(channel=version.channel, exclude=()) %}
  <tr{% if version_disabled(version) %} class="version-disabled"{% endif %}>
    <td>
      <strong>
        <a href="{{ url('devhub.versions.edit', addon.slug, version.id) }}"
           title="{{ _('Edit this version') }}">
          {{ _('Version {0}')|format_html(version.version) }}</a>
      </strong>
      <span title="{{ version.created|isotime }}" class="note">
        {{ version.created|date }}
      </span>
    </td>
    <td class="file-status">
      {% for count, status in dev_files_status(version.all_files) %}
          <div>
            {{ distro_tag(version.channel)}} {{ status }}
          </div>
      {% else %}
          {{ _('0 files') }}
      {% endfor %}
      {% if version.is_user_disabled %}
        <div>
        <form method="post" action="{{ url('devhub.versions.reenable', addon.slug) }}">
            {% csrf_token %}
            <input type="hidden" name="version_id" class="version_id" value="{{ version.id }}">
            <input type="hidden" name="addon_id" class="addon_id" value="{{ addon.id }}">
            <button type="submit" class="link">{{ _('Re-enable Version') }}</button>
        </form>
        </div>
      {% endif %}
      <div>
          <a href="#" class="review-history-show" data-div="#{{ version.id }}-review-history"
            id="review-history-show-{{ version.id }}" data-version="{{ version.id }}">{{ _('Review History') }}</a>
          <a href="#" class="review-history-hide hidden">{{ _('Close Review History') }}</a>
          {% if latest_version_in_channel == version %}
              {% set pending_count = pending_activity_log_count_for_developer(version) %}
              {% if pending_count > 0 %}
                  <b class="review-history-pending-count">{{ pending_count }}</b>
              {% endif %}
          {% endif %}
      </div>
    </td>
    <td class="file-validation">
      <ul>
        {% for file in version.all_files %}
          <li>{{ file.get_platform_display() }}
          <ul>
          {% if file.has_been_validated %}
            <li><a href="{{ url('devhub.file_validation', addon.slug, file.id) }}">
              {{ summarize_validation(file.validation) }}</a></li>
          {% else %}
            <li>{{ _('Not validated.') }}
              <a href="{{ url('devhub.file_validation', addon.slug, file.id) }}">
                  {{ _('Validate now.') }}</a>
            </li>
          {% endif %}
          </ul>
          </li>
        {% endfor %}
      </ul>
    </td>
    <td class="version-delete">
      <a href="#" class="remove" data-version="{{ version.id }}" data-is-current="{{ (version == addon.current_version)|int }}">x</a>
    </td>
  </tr>
  {% set can_request_review=addon.can_request_review() %}
  {% set can_cancel=(not addon.is_disabled and addon.status==amo.STATUS_NOMINATED) %}
  {% if full_info and check_addon_ownership(request, addon, dev=True) and (can_request_review or can_cancel) %}
    <tr>
      <td colspan="0" class="version-status-actions item-actions">
        {% if can_request_review %}
          <form method="post"
                action="{{ url('devhub.request-review', addon.slug) }}">
            {% csrf_token %}
            <button class="link" type="submit">{{ _('Request Review') }}</button> &middot;
          </form>
        {% endif %}
        {% if can_cancel %}
          <a href="#" id="cancel-review">{{ _('Cancel Review Request') }}</a>
        {% endif %}
      </td>
    </tr>
  {% endif %}
  <tr>
      <td colspan="4" id="{{ version.id }}-review-history" class="review-history hidden"
            data-api-url="{{ url('version-reviewnotes-list', addon.id, version.id) }}"
            data-token="{{ token }}">
          <div class="history-container">
              <div class="review-entry-loading">{{ _('Loading Review History...') }}</div>
              <div class="review-entry-failure hidden">{{ _('We had a problem retrieving review notes') }}</div>
              <div class="review-entry-loadmore hidden">
                  <p><a href="#" class="review-history-loadmore" data-div="#{{ version.id }}-review-history">{{ _('Load older...') }}</a></p>
              </div>
              <div class="review-entry-empty hidden">
                  <p><span class="action">$action_label</span> {{ _('by') }}
                  <a href="$user_profile">$user_name</a> <time class="timeago" datetime=$date>$date</time></p>
                  <pre>$comments</pre>
              </div>
          </div>
          {% if latest_version_in_channel == version %}
            <div class="dev-review-reply">
              <form class="dev-review-reply-form" action="{{ url('version-reviewnotes-list', addon.id, version.id) }}"
                    data-token="{{ token }}" data-history="#{{ version.id }}-review-history" data-no-csrf>
                  <textarea name="comments" placeholder="{{ _('Leave a reply') }}"></textarea>
                  <button type="submit" class="submit" >{{ _('Reply') }}</button ty>
              </form>
            </div>
          {% else %}
            <div>
              <a href="#" class="review-history-show" data-version="{{ latest_version_in_channel.id }}">{{ _('Leave a reply') }}</a>
            </div>
          {% endif %}
      </td>
  </tr>
{% endmacro %}

{% block content %}
<header>
  <h2>{{ addon.name }}</h2>
</header>
<section id="edit-addon" class="primary devhub-form" role="main">
  {% if has_listed_versions %}
    <h3>{{ distro_tag(amo.RELEASE_CHANNEL_LISTED)}} {{ _('Listing visibility') }}</h3>
    <div class="item" id="addon-current-state">
      <div class="item_wrapper">
        {% set owner = check_addon_ownership(request, addon, dev=True) %}
        <label><input name="addon-state" value="listed" type="radio"
                    {% if not owner or addon.status == amo.STATUS_DISABLED %}disabled="disabled"{% endif %}
                    {% if not addon.is_disabled %}checked="checked"{% endif %}
                    data-url="{{ addon.get_dev_url('enable') }}"
                    class="enable-addon">
        {{ _("{label_open}Visible:{label_close} Visible to everyone on {site_url} and included "
             "in search results and listing pages.")|format_html(
             label_open='<strong>'|safe, label_close='</strong>'|safe, site_url=settings.SITE_URL)|safe }}</label>
        <br>
        <label><input name="addon-state" value="hidden" type="radio"
                    {% if not owner %}disabled="disabled"{% endif %}
                    {% if addon.is_disabled %}checked="checked"{% endif %}
                    class="disable-addon">
        {{ _("{label_open}Invisible:{label_close} Won't be included in search results, and its listing page will "
              "indicate you disabled it. New version submissions for listing "
              "won't be accepted in this state.")|format_html(
             label_open='<strong>'|safe, label_close='</strong>'|safe) }}</label>
      </div>
    </div>

    {% set latest_listed_version=addon.find_latest_version(channel=amo.RELEASE_CHANNEL_LISTED) %}
    {% set current_version=addon.current_version %}

    {% if latest_listed_version or current_version %}
        <h3>{{ distro_tag(amo.RELEASE_CHANNEL_LISTED)}} {{ _('Listed versions') }}</h3>
    {% endif %}
    {% if current_version %}
      <div class="item" id="current-version-status">
        <div class="item_wrapper">
          <table>
            <tr>
              <th>{{ _('Currently on AMO') }}</th>
              <th>{{ _('Status') }}</th>
              <th>{{ _('Validation') }}</th>
              <th class="version-delete">{{ _('Delete/Disable') }}</th>
            </tr>
            {{ version_details(current_version,
                               full_info=(not latest_listed_version
                                          or latest_listed_version == current_version)) }}
          </table>
        </div>
      </div>
    {% endif %}

    {% if latest_listed_version and latest_listed_version != current_version %}
      <div class="item" id="next-version-status">
        <div class="item_wrapper">
          <table>
            <tr>
              <th>{{ _('Next version of this add-on') }}</th>
              <th>{{ _('Status') }}</th>
              <th>{{ _('Validation') }}</th>
              <th class="version-delete">{{ _('Delete/Disable') }}</th>
            </tr>
            {{ version_details(latest_listed_version, full_info=True) }}
          </table>
        </div>
      </div>
    {% endif %}

    <h3>{{ _('Other versions') }}</h3>
  {% else %}
    <h3>{{ _('All versions') }}</h3>
  {% endif %}
  <div class="item" id="version-list"
       data-stats="{{ url('devhub.versions.stats', addon.slug) }}">
    <div class="item_wrapper">
      {% if addon.status != amo.STATUS_DISABLED %}{# i.e. Admin disabled #}
      <div>
        {% set version_upload_url = url('devhub.submit.version', addon.slug) %}
        <a href="{{ version_upload_url }}" class="button version-upload">{{ _('Upload a New Version') }}</a>
      </div>
      {% endif %}
      <table>
        <tr>
          <th>{{ _('Version') }}</th>
          <th>{{ _('Status') }}</th>
          <th>{{ _('Validation') }}</th>
          <th class="version-delete">{{ _('Delete/Disable') }}</th>
        </tr>

        {% set latest_listed_version_including_disabled = addon.find_latest_version(channel=amo.RELEASE_CHANNEL_LISTED, exclude=()) %}
        {% for version in versions.object_list %}
          {% if version != current_version and version != latest_listed_version %}
            {{ version_details(version, full_info=version==latest_listed_version_including_disabled) }}
          {% endif %}
        {% endfor %}
      </table>
    </div>
    {% if versions.paginator.num_pages > 1 %}
      <div class="listing-footer">
        {{ versions|paginator }}
      </div>
    {% endif %}
  </div>
  {% if check_addon_ownership(request, addon) and addon.can_be_deleted() %}
  <h3>{{ _('Delete Add-on') }}</h3>
  <div class="item" id="addon-delete-listing">
    <div class="item_wrapper">
      <p>{% trans %}
      Deleting your add-on will permanently delete all versions and files you
      have submitted for this add-on, listed or not. The add-on ID will
      continue to be linked to your account, so others won't be able to submit
      versions using the same ID.
      {% endtrans %}</p>
      <a class="delete-button delete-addon" href="{{ addon.get_dev_url('versions') }}#delete-addon">{{ _('Delete Add-on') }}</a>
    </div>
  </div>
  {% endif %}
</section>

<div id="modals">

  {% if addon.can_be_deleted() %}
    <div id="modal-delete" class="modal modal-delete">
      {% include "devhub/addons/listing/delete_form.html" %}
    </div>
  {% endif %}

  <div id="modal-delete-version" class="modal modal-delete">
    <form method="post" action="{{ url('devhub.versions.delete', addon.slug) }}">
      <h3 data-tmpl="{{ _('Delete Version {version}') }}"></h3>
      <p class="current-version-warning highlight">{{ _('You are about to delete the current version of your add-on. This may cause your add-on status to change, or your listing to lose public visibility, if this is the only public version of your add-on.') }}</p>
      <p>{{ _('Deleting this version will permanently delete:') }}</p>
      <ul>
        <li id="del-files"></li>
        <li id="del-reviews"></li>
      </ul>
      <p class="highlight warning">
      {% trans %}
        <strong>Important:</strong>
        Once a version has been deleted, you may not upload a new
        version with the same version number.
      {% endtrans %}
      <p>{{ _('Are you sure you wish to delete this version?') }}</p>
      {% csrf_token %}
      <div class="modal-actions">
        <input type="hidden" name="version_id" class="version_id">
        <input type="hidden" name="addon_id" class="addon_id" value="{{ addon.id }}">
        <button type="submit" class="delete-button">{{ _('Delete Version') }}</button>
        <button type="submit" class="disable-button" name="disable_version">
          {{ _('Disable Version') }}
        </button>
        {{ _('or') }} <a href="#" class="close">{{ _('Cancel') }}</a>
      </div>
    </form>
  </div>

  {% if has_listed_versions %}
  {% if not addon.disabled_by_user and not addon.is_disabled %}
  <div id="modal-disable" class="modal">
    <form method="post" action="{{ addon.get_dev_url('disable') }}">
      <h3>
        {{ _('Hide Add-on') }}
      </h3>
      <p>
        {% trans %}
          Hiding your add-on will prevent it from appearing anywhere in our
          gallery and will stop users from receiving automatic updates.
        {% endtrans %}
      </p>
      {% if latest_listed_version and latest_listed_version.is_unreviewed %}
        <p>
            {% trans %}
            The files awaiting review will be disabled and you will need to
            upload new versions.
            {% endtrans %}
        </p>
      {% endif %}
      <p>
        {% trans %}
          Are you sure you wish to hide your add-on?
        {% endtrans %}
      </p>
      {% csrf_token %}
      <input type="hidden" name="version_id" class="version_id">
      <input type="hidden" name="addon_id" class="addon_id" value="{{ addon.id }}">
      <p>
        <button type="submit">
          {{ _('Hide Add-on') }}
        </button>
        {{ _('or') }} <a href="#" class="close">{{ _('Cancel') }}</a>
      </p>
    </form>
  </div>
  {% endif %}

  {% if not addon.is_disabled and addon.status == amo.STATUS_NOMINATED %}
  <div id="modal-cancel" class="modal">
    <form method="post" action="{{ url('devhub.addons.cancel', addon.slug) }}">
      <h3>{{ _('Cancel Review Request') }}</h3>
      <p>
        {% trans %}
            Canceling your review request will mark your add-on incomplete,
            and any versions awaiting review will be disabled.
        {% endtrans %}
      </p>
      <p>
        {% trans %}
          Are you sure you wish to cancel your review request?
        {% endtrans %}
      </p>
      {% csrf_token %}
      <input type="hidden" name="addon_id" class="addon_id" value="{{ addon.id }}">
      <p>
        <button type="submit">{{ _('Cancel Review Request') }}</button>
        {{ _('or') }} <a href="#" class="cancel close">{{ _('Close') }}</a>
      </p>
      <a href="#" class="close">{{ _('Close') }}</a>
    </form>
  </div>
  {% endif %}
  {% endif %}
</div>

{% include "devhub/includes/addons_edit_nav.html" %}
{% endblock %}
