{% if products %}
  <div class="promo-slider">
    <div class="controls">
      <a href="#" class="prev-page"></a>
      <a href="#" class="next-page"></a>
    </div>
    <ul class="content">
      {% for product in products %}
        {# TODO: Replace previews with promo graphics (bug 744648). #}
        {% set previews = product.all_previews %}
        {% if previews %}
          {% set preview = previews[0].image_url if feature else
                           previews[0].thumbnail_url %}
        {% endif %}
        {% if not preview or preview.filetype != 'video/webm' %}
          <li>
            <a href="{{ product.get_url_path() }}">
              <img src="{{ preview }}">
              <h3>{{ product.name }}</h3>
              <p>
                {{ product.get_price() }}
              </p>
            </a>
          </li>
        {% endif %}
      {% endfor %}
    </ul>
  </div>
{% endif %}
