@import '../common/normalize.css';
@import '../impala/fonts/fira/fira.less';

// Colors
@primary-font: 'Fira Sans', sans-serif;
@primary-font-color: #fff;
@secondary-font-color: #333;

@button-border: #979797;
@primary-button-background: #29c978;

@primary-section-background: #0568ba;
@secondary-section-background: #f3f5f8;

@phone-large: ~"only screen and (min-width: 428px)";
@phone: ~"only screen and (max-width: 768px)";
@tablet: ~"only screen and (min-width: 768px)";
@desktop: ~"only screen and (min-width: 1024px)";

// Common styles
* {
  font-family: @primary-font;
}

body {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 40px;
  line-height: 1.2;
  margin-bottom: 0;
  margin-top: 20px;
  margin-top: 0;
}

section {
  padding: 20px 20px 60px;

  > p {
    font-weight: 300;
    margin-top: 10px;
  }
}

// Utilities

.show-on-desktop {
  display: none;

  @media @desktop {
    display: inline;
  }
}

.hide-on-desktop {
  @media @desktop {
    display: none;
  }
}

// Components

.Button {
  border-radius: 2px;
  border: 1px @button-border;
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.3);
  color: @primary-font-color;
  display: inline-block;
  padding: 10px 30px;
  text-align: center;
  text-decoration: none;
}

.Button--primary {
  background-color: @primary-button-background;
}

.Logo {
  display: flex;

  &::before {
    content: '';
    display: inline-block;
    height: 32px;
    width: 32px;
    background: url('../../img/developers/addons-logo.svg') no-repeat left center;
    background-size: contain;
  }

  span {
    display: none;
    align-self: center;

    @media @desktop {
      display: inline;
      margin-left: 10px;
    }
  }
}

.Logo--secondary::before {
  background: url('../../img/developers/addons-logo-black.svg') no-repeat left center;
  background-size: contain;
}

.DevHub-Header {
  background-color: @primary-section-background;

  @media @phone-large {
    text-align: center;
  }

  h1,
  p {
    color: @primary-font-color;
  }

  p {
    font-weight: 300;
    font-size: 24px;
    margin: 20px auto;
    max-width: 560px;

    > a {
      color: @primary-font-color;
    }

    @media @phone {
      font-size: 20px;
    }
  }
}

.DevHub-Navigation {
  background-color: @primary-section-background;
  padding: 0 20px 20px;

  ul {
    align-items: center;
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;

    li {
      margin: 10px 20px;

      &:first-child {
        margin-left: 0;
        margin-right: auto;

        @media @phone-large {
          margin-left: 20px;
        }

        @media @tablet {
          margin-left: 60px;
        }
      }
    }

    a {
      color: @primary-font-color;
      text-decoration: none;
    }
  }
}

.DevHub-Navigation--signedin {
  background-color: @secondary-section-background;

  ul {
    li {
      a {
        color: @secondary-font-color;
      }

      &.avatar {
        display: none;

        @media @desktop {
          display: inline;
        }

        img {
          width: 40px;
          border-radius: 50%;
        }
      }
    }
  }
}
