@import '../common/normalize.css';
@import '../impala/fonts/fira/fira.less';

// Colors
@primary-font: 'Fira Sans', sans-serif;
@primary-font-color: #fff;
@secondary-font-color: #333;

@button-border: #979797;
@primary-button-background: #29c978;

@primary-section-background: #0568ba;
@secondary-section-background: #f3f5f8;

@retina: ~"only screen and (-webkit-min-device-pixel-ratio: 1.3),
  only screen and (-o-min-device-pixel-ratio: 13/10),
  only screen and (min-resolution: 120dpi)";

@tablet: ~"only screen and (min-device-width: 768px)";


// Common styles
* {
  font-family: @primary-font;
}

body {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 40px;
  line-height: 1.2;
  margin-bottom: 0;
  margin-top: 20px;
  margin-top: 0;
}

section {
  padding: 0 20px 60px;

  > p {
    font-weight: 300;
    margin-top: 10px;
  }
}

.Button {
  border-radius: 2px;
  border: 1px @button-border;
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.3);
  color: @primary-font-color;
  display: inline-block;
  padding: 10px 30px;
  text-align: center;
  text-decoration: none;
}

.Button--primary {
  background-color: @primary-button-background;
}

.DevHub-Header {
  background-color: @primary-section-background;

  h1,
  p {
    color: @primary-font-color;
  }

  p {
    font-weight: 300;

    > a {
      color: @primary-font-color;
    }
  }
}


.Logo {
  content: '';
  display: inline-block;
  height: 48px;
  width: 48px;
  background: url('../../img/developers/addons-logo.svg') 50% 50% no-repeat;
  background-size: cover;
}

.Logo--secondary {
  background: url('../../img/developers/addons-logo-black.svg') 50% 50% no-repeat;
}

.DevHub-Navigation {
  background-color: @primary-section-background;
  padding: 0 20px 20px;

  ul {
    align-items: center;
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;

    li {
      margin: 10px 20px;

      &:first-child {
        margin-left: 0;
        margin-right: auto;
      }
    }

    a {
      color: @primary-font-color;
      text-decoration: none;
    }
  }
}

.DevHub-Navigation--signedin {
  background-color: @secondary-section-background;

  ul {
    li {
      a {
        color: @secondary-font-color;
      }

      &.avatar {
        display: none;

        @media @tablet {
          display: inline;
        }

        img {
          width: 40px;
          border-radius: 50%;
        }
      }
    }
  }
}
