@import '../impala/lib';

.dashboard {
    position: relative;
    margin-left: 0;
    margin-right: 210px;
    clear: none;
    float: none;
    width: auto;
    display: block;

    #sorter {
        font-family: @sans-stack;
        font-size: 11px;
        margin-bottom: 1em;

        h3, ul, li {
            color: @note-gray;
            display: inline;
            margin: 0;
        }
        li.selected a {
            color: @orange;
            font-weight: bold;
            pointer-events: none;
            text-decoration: none;
        }

        a {
            border-right: 1px solid #ccc;
            padding: 0 6px;
        }

        li:last-child a {
            border-right: 0;
        }

        h3 {
            font: inherit;
        }
    }

    .listing {
        .item {
            background: #fff;
            border-bottom: 0;
            color: #666;
            display: table;
            padding: 0;
            position: static;
            width: 100%;

            &:hover {
                background-color: rgba(201,221,242,.1);

                .item-actions a {
                    color: #447bc4;
                }
            }

            h3 {
                color: inherit;
                font-size: 16px;
                font-weight: 700;
                line-height: 18px;
                margin: 0 0 5px;

                img {
                    top: auto;
                    left: 25px;
                }
            }

            .info {
                border-top: 1px dotted #c9ddf2;
                display: table-cell;
                max-width: 470px;
                overflow: hidden;
                padding: 20px 0 20px 102px;
                position: static;
                vertical-align: top;
            }

            .item-actions {
                h5, ul {
                    margin: 0;
                }

                a {
                    color: #999;
                }
            }
        }
    }

    .island {
        border-radius: 0 5px 5px;
        display: block;
        float: left;
        margin-bottom: 15px;
        margin-right: 0;
        padding: 14px 14px 16px;
        position: relative;
        width: 720px;

        .users {
            color: #390;
        }

        h3 {
            overflow: visible;
        }
    }
}

.devhub-sidebar {
    clear: none;
    float: right;

    .item {
        margin: 0;
    }
}

.submission-type-tabs {
    margin-bottom: 8px;
    padding-top: 10px;

    a {
        .box-shadow(0 -2px 0 rgba(204, 223, 243, 0.3) inset, 0 0 1px rgba(0, 0, 0, 0.1));
        .gradient-two-color(#fcfdfe, #f4f8fc);
        background: #fcfdfe;
        border-radius: 5px 5px 0 0;
        border: 1px solid @border-blue;
        padding: 8px 14px;
        position: relative;
        top: -1px;
        z-index: 0;
        &:hover {
            background: #f4f8fc;
        }
    }
    a.active {
        .gradient-two-color(#fff, #fcfdfe);
        border-bottom: 0;
        box-shadow: none;
        color: @orange;
        cursor: default;
        font-weight: bold;
        top: 0;
        z-index: 1;
        &:hover {
            text-decoration: none;
        }
    }
}

.action-needed {
    p {
        color: @medium-gray;
        font-size: 14px;
        line-height: 16px;
    }
    .button-wrapper {
        margin: 1em 0 0;
        text-align: center;
    }
}

p.submit-cta {
    margin-bottom: 1em;
    padding: 0;

    + p.submit-cta {
        margin-bottom: 1.5em;
    }
    .button {
        display: block;
        font-size: 13px;
    }
}

.more-actions-popup {
    ul:first-child {
        border-bottom: 1px dotted @border-blue;
        margin-bottom: -.5em;
        padding-bottom: .5em;
    }
    li a {
        display: block;
    }
}

.older-activity {
    font-size: 0.9em;

    a {
        display: block;
    }
}

h3 a.subscribe-feed {
    background: url(../../img/zamboni/icons/subscribe-icons.png) no-repeat;
    display: inline-block;
    line-height: 16px;
    height: 16px;
    padding: 0;
    margin-left: 0.2em;
    text-indent: -9999px;
    width: 16px;

    &:hover {
        background-position: 0 -16px;
    }
}

.compat-error-popup.popup {
    min-height: 80px;
}

.theme-dashboard {
    position: static;
}

h2.submission-count {
    margin-top: 0;
    margin-bottom: 20px;
}
