#theme-wizard label {
  display: block;
  font-size: 1.1em;
}
#theme-wizard .note {
  display: block;
  padding-top: 2px;
}
#theme-wizard .note li {
  display: inline-block;
  font-size: 0.9em;
}
#theme-wizard .note li::before {
  content: "\b7";
  padding-right: 3px;
}
#theme-wizard h3 {
  font-size: 14px;
  font-weight: bold;
}
#theme-wizard h3.colors {
  margin-top: 26px;
}
#theme-wizard .colors li.row {
  display: inline-block;
  margin-right: 0px;
  margin-left: 0px;
  width: 325px;
}
#theme-wizard .colors li.left {
  display: inline-block;
  margin-right: 20px;
  margin-left: 20px;
  width: 325px;
}
#theme-wizard .colors li.row label {
  font-weight: normal;
  margin-top: 5px;
  width: 290px;
}
#theme-wizard .colors li.row label span {
  white-space: nowrap;
}
#theme-wizard .colors li.row label span span.optional {
  font-weight: 400;
  color: #888;
}
#theme-wizard .colors li.row input {
  width: 290px;
  padding-left: 30px;
  padding-right: 7px;
  padding-bottom: 4px;
  padding-top: 4px;
}
#theme-wizard .colors li.row .minicolors-swatch,
#theme-wizard .colors li.row .minicolors-swatch-color {
  border-radius: 3px;
}
#theme-wizard .preview,
#theme-wizard .reset {
  display: none;
}
#theme-wizard .reset {
  font-weight: bold;
}
#theme-wizard .preview {
  width: auto;
  max-width: 680px;
  max-height: 200px;
}
#theme-wizard #browser-preview {
  background-color: #ccc;
  height: 100px;
  width: 680px;
}
#theme-wizard #theme-header .preview.loading {
  height: 50px;
}
#theme-wizard .loading,
#theme-wizard .loaded {
  display: block;
}
#theme-wizard .loading:before {
  background: #444;
  background-size: auto 70%;
  content: "\00a0";
  display: block;
  height: 100%;
  opacity: .4;
  transition: opacity .5s;
  width: 100%;
}
#theme-wizard .loaded:before {
  opacity: 0;
}
#theme-wizard #manifest {
  display: none;
}
#theme-wizard .button.upload.uploading {
  background-image: url(../../img/zamboni/discovery_pane/loading.gif);
  background-size: 1.5em;
  background-repeat: no-repeat;
  background-position: 95% center;
  padding-left: 3em;
  padding-right: 3em;
}
#theme-wizard .html-rtl .button.upload.uploading {
  background-position: 5% center;
}
