{% set b = button %}
{% set _obj = version if amo.HAS_COMPAT[addon.type] else addon %}
{% set compat = _obj.compatible_apps[APP] if _obj else None %}

<div class="install {{ b.install_class|join(' ') }}"
  {% include 'addons/includes/button_data_attributes.html' %}>
  <div class="buttons">
    {% set links = b.links() %}
    {% if not (links or addon.is_unreviewed()) %}
      <a class="button disabled">
        {{ _('No compatible versions') }}
      </a>
    {% endif %}
    {% for link in links %}
      {% set extra = "platform " + link.os.shortname if link.os else "" %}
      <!-- install error messages -->
      <div class="apps-error-msg"><h2></h2><p></p></div>
      {% include 'addons/includes/install_button.html' %}
    {% endfor %}
  </div>
  {% if addon.privacy_policy %}
    <a class="privacy-policy" href="{{ url('addons.privacy', addon.slug) }}">
      {{ _('View privacy policy') }}
    </a>
  {% endif %}
  {% if addon.eula %}
    <a class="eula" href="{{ url('addons.eula', addon.slug) }}">
      {{ _('View End-User License Agreement') }}
    </a>
  {% endif %}
</div> {# install #}

