<tbody>
  <tr class="artist">
    <th>{{ _('Artist') }}</th>
    <td>{{ author }}</td>
  </tr>
  <tr>
    <th>{{ _('Updated') }}</th>
    <td>
      <time datetime="{{ addon.modified|isotime }}">{{
        addon.modified|datetime }}</time>
    </td>
  </tr>
  <tr class="meta-stats">
    <th>{{ _('Daily Users') }}</th>
    <td>
      <strong class="downloads">{{ persona.popularity|numberfmt }}</strong>
    </td>
  </tr>
  {% if persona.license %}
    <tr>
      <th>{{ _('License') }}</th>
      <td>{{ license_link(amo.PERSONA_LICENSES_IDS[persona.license]) }}</td>
    </tr>
  {% endif %}
</tbody>
