<h1>{{ _('Request Refund') }}</h1>
{% if addon.is_webapp() %}
  <p>{{ loc('Your request for a refund of {name} has been submitted. You will '
            'receive an email when the author of this app has '
            'responded.')|f(name=addon.name) }}</p>
{% else %}
  <p>{% trans name=addon.name %}Your request for a refund of {{ name }} has been
  submitted. You will receive an email when the author of this add-on has
  responded.{% endtrans %}</p>
{% endif %}
<p><a href="{{ url('users.purchases') }}" class="button">{{ _('Continue') }}</a></p>
