<h1>{{ _('Request Refund') }}</h1>
<form method="POST">
  {% set support_url = url('users.support', contribution.pk, 'author') %}
  {{ csrf() }}
  {% if webapp %}
    <p>
      {{ loc('If you are unsatisfied with your purchase, you may request a
              refund from the developer for up to 60 days. Requests within 30
              minutes after purchase are automatically granted. If you are
              having difficulty using the app, we encourage you to
              <a href="{url}">ask the developer for support</a> before
              requesting a refund.')|f(url=support_url)|safe }}
    </p>
  {% else %}
    <p>{% trans url=support_url %}
    If you are unsatisfied with your purchase, you may request
    a refund from the developer for up to 60 days. Requests within 30 minutes
    after purchase are automatically granted. If you are having difficulty
    using the add-on, we encourage you to <a href="{{ url }}">ask the developer for
    support</a> before requesting a refund.{% endtrans %}</p>
    <p>{% trans name=addon.name %}In order to continue with the refund
    process, <b>you must completely
    remove the add-on from all of your devices</b>. Open Add-ons Manager,
    select Remove next to {{ name }} and restart Firefox.{% endtrans %}</p>
  {% endif %}
  {% if not webapp %}
    <p>{{ form.remove }} {{ _('I have removed this add-on from all of my devices.') }}</p>
  {% endif %}
  {{ form.remove.errors }}
  <p>
    <button>{{ _('Continue') }}</button> {{ _('or') }}
    <a href="{{ url('users.purchases') }}">{{ _('Cancel') }}</a>
  </p>
</form>
