<h1>{{ _('Add-on Support') }}</h1>
<p>{% trans %}For support questions regarding this add-on's functionality,
   please visit the add-on author's support website to search for
   a solution:{% endtrans %}</p>
<h2><a href="{{ addon.support_url }}">{{ addon.name }}</a></h2>
<p>{% trans url=url('users.support', contribution.pk, 'author') %}
   If you are unable to find the answer to your question at the
   above support website, please <a href="{{ url }}">contact the author</a>.
   {% endtrans %}</p>

