<h1>{{ _('What do you need help with?') }}</h1>
<p><a href="{% with step='site' if addon.support_url else 'author' %}{{ url('users.support', contribution.pk, step) }}{% endwith %}">
  {% if webapp %}
    {{ _("This app isn't working as expected &raquo;") -}}
  {% else %}
    {{ _("This add-on isn't working as expected &raquo;") -}}
  {% endif -%}
  </a></p>
{# TODO(marketplace-docs)
<p><a href="{{ url('users.support', contribution.pk, 'resources') }}">
  {{ _("I can't install my purchase &raquo;") }}</a></p>
#}
{# TODO(marketplace-docs)
<p><a href="{{ url('users.support', contribution.pk, 'resources') }}">
  {{ _('I have billing or payment concerns &raquo;') }}</a></p>
#}
{% if waffle.flag('allow-refund') %}
  <p><a href="{{ url('users.support', contribution.pk, 'request') }}">
     {{ _('I want to request a refund &raquo;') }}</a></p>
{% else %}
  {# Temporary text, no i18n or even loc on purpose #}
  <p>Refunds are not enabled in the Apps Developer Preview.
     If you wish to provide a refund you can do so through the PayPal user
     interface.</p>
{% endif %}
