{% extends "devhub/base_impala.html" %}

{% from "includes/forms.html" import pretty_field, required, tip %}
{% from "devhub/includes/macros.html" import some_html_tip %}

{% set title = _('Edit Listing') %}

{% block title %}
  {{ dev_page_title(title, addon) }}
{% endblock %}

{% set can_delete = check_addon_ownership(request, addon) and addon.can_be_deleted() %}

{% block content %}

<section class="primary full">
  {{ l10n_menu(addon.default_locale) }}

  <h1>{{ title }}</h1>

  <div class="island swagger theme-info c">
    <div class="addon-name-and-icon c">
      <img class="addon-icon" src="{{ addon.icon_url }}" alt="">
      <h2 class="addon-name">{{ addon.name }}</h2>
      <h3 class="author">
        {{ _('by {0}')|format_html(users_list(addon.listed_authors)|safe or persona.display_username|safe) }}
        <a href="#ownership" class="button transfer-ownership">{{ _('Transfer ownership') }}</a>
      </h3>
      <div class="owner-email hidden">
        <form action="{{ request.path }}#ownership" method="post">
          {% csrf_token %}
          {{ owner_form.owner.errors }}
          {{ owner_form.owner }}
          <button name="owner_submit" type="submit">{{ _('Save Changes') }}</button>
        </form>
      </div>
    </div>
    <div>
      {{ persona_preview(persona, linked=False) }}
      <div class="info">
        <p>
          <strong>{{ _('Status:') }}</strong>
          <span class="{{ status_class(addon) }}"><b>{{ addon.STATUS_CHOICES[addon.status] }}</b></span>
        </p>
        {% set position = get_position(addon) %}
        {% if position and position.pos and position.total %}
          <p>
            <strong>{{ _('Queue Position:') }}</strong>
            {% trans position=position.pos|numberfmt,
                     total=position.total|numberfmt %}
              {{ position }} of {{ total }}
            {% endtrans %}
          </p>
        {% endif %}

	{% if addon.status == amo.STATUS_PUBLIC or addon.status == amo.STATUS_PENDING %}
	    <p><a href="{{ addon.get_url_path() }}">{{ _('View Listing') }}</a></p>
	{% endif %}

	<p><a href="{{ url('devhub.feed', addon.slug) }}">
          {{ _('View Recent Changes') }}</a></p>
        {% if waffle.switch('theme-stats') %}
          <p><a href="{{ url('stats.usage', addon.slug) }}">{{ _('View Statistics') }}</a></p>
        {% endif %}
        {% if can_delete %}
          <a href="#" class="button scary delete-addon">{{ _('Delete Theme') }}</a>
          <div class="modal-delete modal hidden">
            {% include 'devhub/addons/listing/delete_form.html' %}
          </div>
        {% endif %}
      </div>
    </div>
  </div>

  <div class="island prettyform" id="submit-persona">
    <form method="post">
      {% csrf_token %}
      {{ form.unsaved_data }}
      <fieldset>
        <legend>{{ _('Theme Details') }}</legend>
        <ul>
          <li class="row">
            <label for="id_name" class="row" data-for="name">
              <p>{{ form.name.label }} {{ required() }}</p>
            </label>
            {{ form.name }}
          </li>
          <li class="row">
            {% set before_slug = ('<span class="url-prefix">%s/addon/</span>' % settings.SITE_URL)|safe %}
            {{ pretty_field(form.slug, label=_('Supply a pretty URL for your detail page.'), tag=None, before=before_slug, validate=True) }}
            <span class="note">
              {{ _('Please use only letters, numbers, underscores, and dashes in your URL.') }}
            </span>
          </li>
          {{ pretty_field(form.category, label=_('Select the category that best describes your Theme.'),
                          class='row radios addon-cats', validate=True) }}
          <li class="row">
            {{ pretty_field(form.tags, label=_('Add some tags to describe your Theme.'), tag=None, opt=True, validate=True) }}
            <span class="note">
              {{ ngettext('Comma-separated, minimum of {0} character.',
                          'Comma-separated, minimum of {0} characters.',
                          amo.MIN_TAG_LENGTH)|format_html(amo.MIN_TAG_LENGTH) }}
              {{ _('Example: dark, cinema, noir. Limit 20.') }}
            </span>
          </li>
          <li class="row">
            <label for="{{ form.description.auto_id }}" class="row" data-for="description">
              <p>{{ form.description.label }}</p>
              {{ tip(None, _("A short explanation of your theme's "
                             "basic functionality that is displayed in "
                             "search and browse listings, as well as at "
                             "the top of your theme's details page.")) }}
            </label>
            {{ form.description }}
            {{ form.description.errors }}
            <div class="note">
              {{ some_html_tip() }}
              <span class="char-count" data-for-startswith="id_description"
                    data-maxlength="{{ form.description.field.max_length }}"></span>
            </div>
          </li>
        </ul>
      </fieldset>
      <fieldset>
        <legend>{{ _('Theme License') }}</legend>
        <div id="cc-chooser">
          {{ form.license }}
          {{ form.license.errors }}
          <h3>{{ _("Can others share your Theme, as long as you're given credit?") }}</h3>
          <ul class="radios">
            <li>
              <label>
                <input type="radio" name="cc-attrib" value="0" data-cc="cc-attrib">
                {{ _('Yes') }}
                {{ tip(None, _('The licensor permits others to copy, distribute, '
                               'display, and perform the work, including for '
                               'commercial purposes.')) }}
              </label>
            </li>
            <li>
              <label>
                <input type="radio" name="cc-attrib" value="1" data-cc="copyr">
                {{ _('No') }}
                {{ tip(None, _('The licensor permits others to copy, distribute, '
                               'display, and perform the work for non-commercial '
                               'purposes only.')) }}
              </label>
            </li>
          </ul>
          <h3 class="noncc">{{ _('Can others make commercial use of your Theme?') }}</h3>
          <ul class="noncc radios">
            <li>
              <label>
                <input type="radio" name="cc-noncom" value="0">
                {{ _('Yes') }}
                {{ tip(None, _('The licensor permits others to copy, distribute, '
                               'display, and perform the work, including for '
                               'commercial purposes.')) }}
              </label>
            </li>
            <li>
              <label>
                <input type="radio" name="cc-noncom" value="1" data-cc="cc-noncom">
                {{ _('No') }}
                {{ tip(None, _('The licensor permits others to copy, distribute, '
                               'display, and perform the work for non-commercial '
                               'purposes only.')) }}
              </label>
            </li>
          </ul>
          <h3 class="noncc">{{ _('Can others create derivative works from your Theme?') }}</h3>
          <ul class="noncc radios">
            <li>
              <label>
                <input type="radio" name="cc-noderiv" value="0">
                {{ _('Yes') }}
                {{ tip(None, _('The licensor permits others to copy, distribute, '
                               'display and perform the work, as well as make '
                               'derivative works based on it.')) }}
              </label>
            </li>
            <li>
              <label>
                <input type="radio" name="cc-noderiv" value="1" data-cc="cc-share">
                {{ _('Yes, as long as they share alike') }}
                {{ tip(None, _('The licensor permits others to distribute derivative'
                               'works only under the same license or one compatible '
                               "with the one that governs the licensor's work.")) }}
              </label>
            </li>
            <li>
              <label>
                <input type="radio" name="cc-noderiv" value="2" data-cc="cc-noderiv">
                {{ _('No') }}
                {{ tip(None, _('The licensor permits others to copy, distribute and '
                               'transmit only unaltered copies of the work — not '
                               'derivative works based on it.')) }}
              </label>
            </li>
          </ul>
          <div id="persona-license">
            <p>{{ _('Your Theme will be released under the following license:') }}</p>
            <p id="cc-license" class="license icon"></p>
            <p class="select-license">
              <a href="#">{{ _('Select a different license.') }}</a>
            </p>
          </div>
        </div>
        <div id="persona-license-list">
          <h3>{{ _('Select a license for your Theme.') }}</h3>
          <ul class="radios">
            {% for license in amo.PERSONA_LICENSES %}
              <li><label><input type="radio" name="license" value="{{ license.id }}">
                {{ license.name }}</label></li>
            {% endfor %}
          </ul>
        </div>
      </fieldset>
      <fieldset id="persona-design" class="edit">
        <legend>{{ _('Theme Design') }}</legend>

        <!--Theme upload new design/reupload.-->
        {% if not addon.is_pending() %}
          <a class="reupload">{{ _('Upload New Design') }}</a>
          <a class="reupload cancel">{{ _('Cancel') }}</a>
          <div class="theme-design c">
            <h2>{{ _('Upload New Design') }}</h2>
            <p>
              {% trans %}
                Upon upload and form submission, the AMO Team will review your
                updated design. Your current design will still be public in the
                meantime.
              {% endtrans %}
            </p>

            <div class="theme-design-form">
              {% with required = False %}
                {% include "devhub/personas/includes/theme_design.html" %}
              {% endwith %}
            </div>

            {% set rereview = persona.rereviewqueuetheme_set.all() %}
            {% if rereview.exists() %}
              <h3>{{ _('Your previously resubmitted design, '
                       'which is under pending review.') }}</h3>
              <ul class="rereview-preview">
                <li id="persona-header" class="row">
                  <h3>{{ _('Pending Header') }}</h3>
                  <img class="preview loaded" src="{{ rereview[0].header_url }}" alt="">
                </li>
              </ul>
            {% endif %}
          </div>
        {% else %}
          <span class="reupload">
            {{ _('You may update your theme design here once it has been approved.') }}</span>
        {% endif %}

        <ul class="theme-preview">
          <li id="persona-header" class="row">
            <h3>{{ _('Header') }}</h3>
            <img class="preview loaded" src="{{ persona.header_url }}" alt="">
          </li>
        </ul>
        <h3 class="colors">{{ _('Select colors for your Theme.') }}</h3>
        <ul class="colors">
          {{ pretty_field(form.textcolor, label=_('Foreground Text'),
                          tooltip=_('This is the color of the tab text.'),
                          validate=True) }}
          {{ pretty_field(form.accentcolor, label=_('Background'),
                          tooltip=_('This is the color of the tabs.'),
                          validate=True) }}
        </ul>
      </fieldset>
      <fieldset id="persona-preview">
        <legend>{{ _('Preview') }}</legend>
        <div class="persona persona-large persona-preview">
          <div class="persona-viewer" data-browsertheme="{{ persona.json_data }}"
               style="background-image:url({{ persona.header_url }})">
            <div class="details">
              <span class="title" id="persona-preview-name">
                {{ _("Your Theme's Name") }}</span>
              <span class="author">
                {% trans user=user.username,
                         profile_url=url('users.profile', user.id) %}
                  by <a href="{{ profile_url }}">{{ user }}</a>
                {% endtrans %}
              </span>
            </div>
          </div>
        </div>
      </fieldset>
      <div class="listing-footer">
        <button class="button prominent" disabled type="submit">{{ _('Save Changes') }}</button>
      </div>
    </form>
  </div>
</section>
{% endblock %}
