{% set addon_type = amo.ADDON_PERSONA %}
{% extends "impala/base_side_categories.html" %}

{% from "includes/forms.html" import pretty_field, tip %}
{% from "devhub/includes/macros.html" import some_html_tip %}

{% set title = _('Create a New Theme') %}

{% block title %}{{ page_title(title) }}{% endblock %}

{% block primary %}
<section class="primary">
  <masthead class="hero submit-theme">
    <h1>{{ title }}</h1>
    <p>
      {% trans submit_url=url('devhub.docs', 'themes') %}
        Background themes let you easily personalize the look of your Firefox.
        Submit your own design below, or <a href="{{ submit_url }}">learn how
        to create one</a>!
      {% endtrans %}
    </p>
  </masthead>

  <div class="island hero prettyform" id="submit-persona">
    <form method="post">
      {% csrf_token %}
      {{ form.unsaved_data }}
      <fieldset>
        <legend>{{ _('Theme Details') }}</legend>
        <ul>
          {{ pretty_field(form.name, label=_('Give your Theme a name.'), validate=True) }}
          <li class="row">
            {% set before_slug = ('<span class="url-prefix">%s/addon/</span>' % settings.SITE_URL)|safe %}
            {{ pretty_field(form.slug, label=_('Supply a pretty URL for your detail page.'), tag=None, before=before_slug, validate=True) }}
            <span class="note">
              {{ _('Please use only letters, numbers, underscores, and dashes in your URL.') }}
            </span>
          </li>
          {{ pretty_field(form.category, label=_('Select the category that best describes your Theme.'),
                          class='row radios addon-cats', validate=True) }}
          <li class="row">
            {{ pretty_field(form.tags, label=_('Add some tags to describe your Theme.'), tag=None, opt=True, validate=True) }}
            <span class="note">
              {{ ngettext('Comma-separated, minimum of {0} character.',
                          'Comma-separated, minimum of {0} characters.',
                          amo.MIN_TAG_LENGTH)|format_html(amo.MIN_TAG_LENGTH) }}
              {{ _('Example: dark, cinema, noir. Limit 20.') }}
            </span>
          </li>
          <li class="row c">
            {{ pretty_field(form.description, label=_('Describe your Theme.'),
                            tooltip=_("A short explanation of your theme's "
                                      "basic functionality that is displayed in "
                                      "search and browse listings, as well as at "
                                      "the top of your theme's details page."),
                            tag=None, opt=True, validate=True) }}
            <div class="note">
              {{ some_html_tip() }}
              <span class="char-count" data-for="{{ form.description.auto_id }}"
                    data-maxlength="{{ form.description.field.max_length }}"></span>
            </div>
          </li>
        </ul>
      </fieldset>
      <fieldset>
        <legend>{{ _('Theme License') }}</legend>
        {{ form.license }}
        {{ form.license.errors }}
        {% include 'devhub/addons/includes/cc_license_chooser.html' %}
        <div id="persona-license-list">
          <h3>{{ _('Select a license for your Theme.') }}</h3>
          <ul class="radios">
            {% for license in amo.PERSONA_LICENSES %}
              <li><label><input type="radio" name="license" value="{{ license.id }}">
                {{ license.name }}</label></li>
            {% endfor %}
          </ul>
        </div>
      </fieldset>
      <fieldset id="persona-design">
        <legend>{{ _('Theme Design') }}</legend>
        {% with required = True %}
          {% include "devhub/personas/includes/theme_design.html" %}
        {% endwith %}
        <h3>{{ _('Select colors for your Theme.') }}</h3>
        <ul class="colors">
          {{ pretty_field(form.textcolor, label=_('Foreground Text'),
                          tooltip=_('This is the color of the tab text.'),
                          validate=True) }}
          {{ pretty_field(form.accentcolor, label=_('Background'),
                          tooltip=_('This is the color of the tabs.'),
                          validate=True) }}
        </ul>
      </fieldset>
      <fieldset id="persona-preview">
        <legend>{{ _('Preview') }}</legend>
        <div class="persona persona-large persona-preview">
          <div class="persona-viewer" data-browsertheme>
            <div class="details">
              <span class="title" id="persona-preview-name">
                {{ _("Your Theme's Name") }}</span>
              <span class="author">
                {% trans user=user.username,
                         profile_url=user.get_url_path() %}
                  by <a href="{{ profile_url }}">{{ user }}</a>
                {% endtrans %}
              </span>
            </div>
          </div>
        </div>
      </fieldset>
      <p class="legal">
        <label>
          {{ form.agreed.as_widget(attrs={'required': ''}) }}
          {% trans agreement_link_open='<a href="https://developer.mozilla.org/en-US/Add-ons/AMO/Policy/Agreement">'|safe,
                   privacy_notice_link_open='<a href="https://www.mozilla.org/en-US/privacy/websites/">'|safe, link_close='</a>'|safe %}
            I agree to the {{ agreement_link_open }}Firefox Add-on Distribution Agreement{{ link_close }} and to my information being handled as described in the {{ privacy_notice_link_open }}Websites, Communications and Cookies Privacy Notice{{ link_close }}.
          {% endtrans %}
        </label>
        {{ form.agreed.errors }}
      </p>
      <p class="listing-footer"><button class="button prominent" disabled type="submit">{{ _('Submit Theme') }}</button></p>
    </form>
  </div>
</section>
{% endblock %}
