<h1>
  {{ title }}
  <a href="{{ url('lookup.user_summary', account.id) }}"
     title="{{ _('Account Summary') }}">{{ account.display_name }}</a>
  ({{ account.pk }})
</h1>

<section id="avatar">
  <img class="avatar" src="{{ account.picture_url }}">
  <nav class="shortcuts" role="navigation">
    <ul>
      <li>
        <a href="{{ account.get_url_path() }}">
          {{ _('Public Profile') }}
        </a>
      </li>
      <li>
        <a href="{{ url('lookup.user_activity', account.id) }}"
          {% if page_type == 'activity' %}class="sel"{% endif %}>
          {{ _('Activity') }}
        </a>
      </li>
      <li>
        <a href="{{ url('lookup.user_purchases', account.id) }}"
          {% if page_type == 'purchases' %}class="sel"{% endif %}>
          {{ _('Purchases') }}
        </a>
      </li>
      {% if is_admin %}
      <li class="edit">
        <a href="{{ url('users.admin_edit', account.id) }}">
          {{ _('Edit Account') }}
        </a>
      </li>
      {% endif %}
    </ul>
  </nav>
</section>
