{% extends "base_side_categories.html" %}

{% block title %}
{% if category %}
  {{ page_title(category.name) }}
{% else %}
  {{ page_title(_('Extensions')) }}
{% endif %}
{% endblock %}

{% block extrahead %}
{% if category %}
  <style>
    #c-{{ category.id }} a {
        color: inherit;
    }
  </style>
  {# TODO; when remora goes away, fix this blob #}
  {% with sort = {'created': 'newest', 'downloads': 'popular', 'rating': 'averagerating'}[sorting] %}
    {% if not sort %}
      {% set sort = 'updated' %}
    {% endif %}

    <link rel="alternate" type="application/rss+xml" title="RSS"
          href="/{{ LANG }}/{{ APP.short }}/browse/type:{{ category.type.id }}/cat:{{ category.id }}/format:rss?sort={{ sort }}" />
  {% endwith %}
{% endif %}
{% endblock %}
