{% extends "base_side_categories.html" %}

{% block title %}
{% if category %}
  {{ page_title(category.name) }}
{% else %}
  {{ page_title(_('Extensions')) }}
{% endif %}
{% endblock %}

{% block extrahead %}
{% if category %}
  <style>
    #c-{{ category.id }} a {
        color: inherit;
    }
  </style>
{% endif %}
{% endblock %}

{% block rss_feed %}
{% with sort = {'created': 'newest', 'popular': 'popular', 'rating': 'averagerating'}[sorting] %}
  {% if not sort %}
    {% set sort = 'updated' %}
  {% endif %}

  {% if category %}
    {% set feed = url('browse.extensions.rss', category.slug) %}
  {% else %}
    {% set feed = url('browse.extensions.rss') %}
  {% endif %}
  <link rel="alternate" type="application/rss+xml" title="RSS"
        href="{{ feed }}?sort={{ sort }}">
{% endwith %}
{% endblock rss_feed %}
