{% extends "browse/base_listing.html" %}

{% block content %}
<header>
  {% if category %}
    {{ breadcrumbs([(url('browse.extensions'), _('Extensions')), (None, category.name)]) }}
    <hgroup>
    <h2>{{ category.name }}</h2>
  {% else %}
    {{ breadcrumbs([(None, _('Extensions'))]) }}
    <hgroup>
    <h2>{{ _('Extensions') }}</h2>
  {% endif %}
  {# L10n: {0} is an integer. #}
  <h3>{{ ngettext('<b>{0}</b> add-on', '<b>{0}</b> add-ons', addons.paginator.count)|f(
            addons.paginator.count|numberfmt)|safe }}</h3>
  </hgroup>
</header>

<div class="featured listing">
  <div class="featured-inner">
    {% if category %}
      {% set url_base = url('browse.extensions', category.slug) %}
    {% else %}
      {% set url_base = url('browse.extensions') %}
    {% endif %}
    {{ addon_listing_header(url_base, sort_opts, sorting, unreviewed) }}
    {{ addon_listing_items(addons.object_list, src='category',
                           show_date=sorting) }}
    <div class="listing-footer">
      {{ addons|paginator }}
    </div>
  </div> {# featured-inner #}
</div>
{% endblock %}
