{% extends "browse/base_listing.html" %}

{% block title %}
  {{ page_title(_('Featured Add-ons')) }}
{% endblock %}

{% block extrahead %}
  <link rel="alternate" type="application/rss+xml" title="RSS" href="{{ remora_url('/recommended/format:rss') }}"/>
{% endblock %}

{% block content %}
  <div>
    {% trans %}
    With so many great add-ons available, there's something for everyone.
    To get you started, here's a list of some of the most popular. Enjoy!
    {% endtrans %}
  </div>

  {% cache addons %}
  <div class="featured listing">
    <div class="featured-inner">
      {{ addon_listing_items(addons|list|shuffle) }}
    </div>
  </div>
  {% endcache %}
{% endblock content %}
