{% extends "browse/base_listing.html" %}

{% block title %}
  {{ page_title(_('Featured Add-ons')) }}
{% endblock %}

{% block rss_feed %}
  <link rel="alternate" type="application/rss+xml" title="RSS" href="{{ url('browse.featured.rss') }}"/>
{% endblock %}

{% block content %}
  {{ breadcrumbs([(None, _('Featured Add-ons'))]) }}
  <h2>{{ _('Featured Add-ons') }}</h2>
  <p>
    {% trans app=APP.pretty %}
    Here's a few of our favorite add-ons to help you get started customizing
    {{ app }}.
    {% endtrans %}
    {% if APP == amo.FIREFOX %}
      {% trans url="http://www.rockyourfirefox.com?src=amo-featured" %}
      Be sure to visit
      <a href="{{ url }}">Rock Your Firefox</a>
      to learn about other useful add-ons every week!
      {% endtrans %}
    {% endif %}
  </p>

  {% cache addons %}
  <div class="featured listing">
    <div class="featured-inner">
      {{ addon_listing_items(addons|list|shuffle, src="recommended") }}
    </div>
  </div>
  {% endcache %}
{% endblock content %}
