{% extends "base.html" %}

{% block title %}
{# L10n: {0} is a translated theme name like "Nature" or "Sports" #}
{{ page_title(_('{0} Themes')|f(selected.name)) }}
{% endblock %}

{% block bodyclass %}browse-thumbs{% endblock %}

{% block content %}
<div class="secondary">
  {% set params = dict(unreviewed=unreviewed, sort=sorting) %}
  <div id="thumb-categories" class="highlight">
    <h3>{{ _('Themes') }}</h3>
    <ul class="subcategories">
      <li {% if selected not in categories %}class="selected"{% endif %}>
        <a href="{{ url('browse.themes')|urlparams(**params) }}">
          {{ _('All') }}</a>
        <span class="items">{{ total_count }}</span>
      </li>
      {# TODO(jbalogh): cache by categories & selected #}
      {# cache categories #}
      {% for category in categories %}
        <li {{ category|class_selected(selected) }}>
        <a href="{{ url('browse.themes', category.slug)|urlparams(**params) }}">
            {{ category}}</a>
          <span class="items">{{ category.count }}</span>
        </li>
      {% endfor %}
      {# endcache #}
    </ul>
  </div>
</div>

<div class="primary" role="main">
  <hgroup>
    <h2>{{ _('{0} Themes')|f(selected.name) }}</h2>
    {# L10n: {0} is the add-on count. #}
    <h3>{{ ngettext("{0} add-on", "{0} add-ons",
                    selected.count)|f(selected.count) }}</h3>
  </hgroup>

  <div id="addon-listing" class="featured listing">
    <div class="featured-inner">
      {% with url_base=url('browse.themes', selected.slug) %}
        {{ addon_listing_header(url_base, sort_opts, sorting, unreviewed) }}
      {% endwith %}
      {% cache themes.object_list %}
      {% for row in themes.object_list|batch(4) %}
      <ul class="thumbs">
        {% for addon in row %}
        {% set compat = addon.compatible_apps[request.APP] %}
        <li {% if compat %}
              data-min="{{ compat.min.version }}"
              data-max="{{ compat.max.version }}"
              {% endif %} class="{{ addon|statusflags }}">
        <div class="inner">
          {{ addon|flag }}
          <a href="{{ addon.get_url_path() }}">
            <img alt="" src="{{ addon.thumbnail_url }}">
          </a>
          <div class="details">
            <h4><a href="{{ addon.get_url_path() }}">{{ addon.name }}</a></h4>
            <p class="meta">
              {% if sorting == "updated" %}
                {{ _('Updated {0}')|f(addon.last_updated|datetime) }}
              {% elif sorting == "created" %}
                {{ _('Added {0}')|f(addon.created|datetime) }}
              {% elif sorting == "downloads" %}
                {% with num=addon.weekly_downloads %}
                  {# L10n: {0} is the number of downloads. #}
                  {{ ngettext("{0} weekly download", "{0} weekly downloads",
                              num)|f(num|numberfmt) }}
                {% endwith %}
              {% else %}
                {{ addon.average_rating|float|stars }}
                <a href="{{ addon.get_url_path() }}#reviews">
                  {% with num=addon.total_reviews %}
                    {# L10n: {0} is the review count. #}
                    {{ ngettext("{0} review", "{0} reviews", num)|f(num|numberfmt) }}</a>
                  {% endwith %}
              {% endif %}
            </p>
          </div>
        </div>
        </li>
        {% endfor %}
      </ul>
      {% endfor %}
      {% endcache %}
    </div> {# featured-inner #}
  </div> {# featured #}
  {{ themes|paginator }}
</div>
{% endblock %}

{% block js %}
<script src="{{ MEDIA_URL }}js/zamboni/themes.js"></script>
{% endblock %}
