{% extends "base.html" %}

{% block title %}
{% if category %}
  {# L10n: {0} is a translated theme name like "Nature" or "Sports" #}
  {{ page_title(_('{0} :: Themes')|f(category.name)) }}
{% else %}
  {{ page_title(_('Themes')) }}
{% endif %}
{% endblock %}

{% block bodyclass %}browse-thumbs{% endblock %}

{% block extrahead %}
{% if category %}
<style>
  #c-{{ category.id }} {
    background: url({{ MEDIA_URL }}img/zamboni/arrow-right-blue.png) no-repeat left center;
  }
  .html-rtl #c-{{ category.id }} {
    background: url({{ MEDIA_URL }}img/zamboni/arrow-left-blue.png) no-repeat right center;
  }
  #c-{{ category.id }} a {
    color: inherit;
  }
</style>
{% endif %}
<link rel="alternate" type="application/rss+xml" title="RSS"
      href="/{{ LANG }}/{{ APP.short }}/browse/type:{{ amo.ADDON_THEME }}/{% if category%}cat:{{ category.id }}/{% endif %}format:rss?sort={{ sorting }}" />
{% endblock %}

{% block content %}
<div class="primary" role="main">
  <header>
    {% if category %}
      {{ breadcrumbs([(url('browse.themes'), _('Themes')),
                      (None, category.name)]) }}
      <hgroup>
        <h2>{{ category.name }}</h2>
    {% else %}
      {{ breadcrumbs([(None, _('Themes'))]) }}
      <hgroup>
        <h2>{{ _('Themes') }}</h2>
    {% endif %}
        {# L10n: {0} is an integer. #}
        {% with num=themes.paginator.count %}
          <h3>{{ ngettext('<b>{0}</b> add-on', '<b>{0}</b> add-ons',
                          num)|f(num|numberfmt)|safe }}</h3>
        {% endwith %}
      </hgroup>
  </header>

  <div id="addon-listing" class="featured listing">
    <div class="featured-inner">
      {% with url_base=url('browse.themes', category.slug) %}
        {{ addon_listing_header(url_base, sort_opts, sorting, unreviewed) }}
      {% endwith %}
      {% cache themes.object_list %}
      {% for row in themes.object_list|batch(4) %}
      <ul class="thumbs">
        {% for addon in row %}
        {% set compat = addon.compatible_apps[request.APP] %}
        <li {% if compat %}
              data-min="{{ compat.min.version }}"
              data-max="{{ compat.max.version }}"
              {% endif %} class="{{ addon|statusflags }}">
        <div class="inner">
          {{ addon|flag }}
          <a href="{{ addon.get_url_path() }}">
            <img alt="" src="{{ addon.thumbnail_url }}">
          </a>
          <div class="details">
            <h4><a href="{{ addon.get_url_path() }}">{{ addon.name }}</a></h4>
            <p class="meta">
              {% if sorting == "updated" %}
                {{ _('Updated {0}')|f(addon.last_updated|datetime) }}
              {% elif sorting == "created" %}
                {{ _('Added {0}')|f(addon.created|datetime) }}
              {% elif sorting == "downloads" %}
                {% with num=addon.weekly_downloads %}
                  {# L10n: {0} is the number of downloads. #}
                  {{ ngettext("{0} weekly download", "{0} weekly downloads",
                              num)|f(num|numberfmt) }}
                {% endwith %}
              {% else %}
                {{ addon.average_rating|float|stars }}
                <a href="{{ addon.get_url_path() }}#reviews">
                  {% with num=addon.total_reviews %}
                    {# L10n: {0} is the review count. #}
                    {{ ngettext("{0} review", "{0} reviews", num)|f(num|numberfmt) }}</a>
                  {% endwith %}
              {% endif %}
            </p>
          </div>
        </div>
        </li>
        {% endfor %}
      </ul>
      {% endfor %}
      {% endcache %}
    </div> {# featured-inner #}
  </div> {# featured #}
  {{ themes|paginator }}
</div>

<div class="secondary" role="complementary">
  <div class="other-categories highlight">
    <h3>{{ _('Themes') }}</h3>
    <ul>
    {% cache categories %}
    {% for cat in categories %}
      <li id="c-{{ cat.id }}">
        <a href="{{ url('browse.themes', cat.slug) }}">{{ cat.name }}</a>
        <span class="items">{{ cat.count }}</span>
      </li>
    {% endfor %}
    {% endcache %}
    </ul>
  </div>
</div>
{% endblock %}

{% block js %}
<script src="{{ MEDIA_URL }}js/zamboni/themes.js"></script>
{% endblock %}
