@import 'lib';

#site-header {
    .border-box;
    overflow: hidden;
    background: @darkgray;
    color: #fff;
    padding: 8px;
    width: 100%;
    section {
        .width(10);
        margin: 0 auto;
    }
    h1 {
        font-size: 20px;
        font-weight: 300;
    }
}