name: Test Docker Image

run-name: |
  Test ${{ github.workflow }} name: ${{ inputs.artifact_name }} splits: ${{ inputs.splits }}

on:
  workflow_call:
    inputs:
      artifact_name:
        description: The name of the artifact to download
        type: string
        required: true
      tag:
        description: The docker tag of the image
        type: string
        required: true

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        include:
          -
            name: Needs Locale Compilation
            services: ''
            run: make test_needs_locales_compilation
          -
            name: Static Assets
            services: ''
            # TODO: we should remove this once we
            # a) update the asset tests to look in the static-assets folder
            # b) copy the static file into the container also.
            run: |
              make update_assets
              make test_static_assets
          -
            name: Internal Routes
            services: ''
            run: make test_internal_routes_allowed
          -
            name: Elastic Search
            services: ''
            run: make test_es_tests
          -
            name: Codestyle
            services: web
            run: make lint-codestyle
          -
            name: Manage Check
            services: web
            run: make check
    steps:
      - uses: actions/checkout@v4

      - name: Test (${{ matrix.name }})
        uses: ./.github/actions/run-docker
        with:
          artifact_name: ${{ inputs.artifact_name }}
          tag: ${{ inputs.tag }}
          services: ${{ matrix.services }}
          run: ${{ matrix.run }}
