name: Release

on:
  # This workflow runs when the CI worfklow has completed successfully
  # This allows us to trigger release jobs only after all CI checks have passed
  workflow_run:
    workflows: [CI]
    types:
      - completed

jobs:
  context:
    runs-on: ubuntu-latest

    # Only continue if CI was successful
    if: github.event.workflow_run.conclusion == 'success'

    outputs:
      release_master: ${{ steps.context.outputs.release_master }}
      release_tag: ${{ steps.context.outputs.release_tag }}
      head_branch: ${{ steps.context.outputs.head_branch }}

    steps:
      - id: context
        shell: bash
        run: |
          cat <<EOF
          ${{toJson(github)}}
          EOF

          head_branch="${{ github.event.workflow_run.head_branch }}"
          event="${{ github.event.workflow_run.event }}"
          default_branch="${{ github.event.repository.default_branch}}"

          release_master="false"
          release_tag="false"

          if [[ "$event" == 'push' && "$head_branch" == "$default_branch" ]]; then
            release_master="true"
          fi

          if [[ "$event" == 'release' ]]; then
            release_tag="true"
          fi

          echo "release_master=$release_master" >> $GITHUB_OUTPUT
          echo "release_tag=$release_tag" >> $GITHUB_OUTPUT
          echo "head_branch=$head_branch" >> $GITHUB_OUTPUT

          cat $GITHUB_OUTPUT

  release_master:
    runs-on: ubuntu-latest
    needs: context

    if: needs.context.outputs.release_master == 'true'

    steps:
      - run: |
          echo "Pushing brnach ${{ needs.context.outputs.head_branch }} to dev"

  release_tag:
    runs-on: ubuntu-latest
    needs: context

    if: needs.context.outputs.release_tag == 'true'

    steps:
      - run: |
          echo "Pushing tag ${{ needs.context.outputs.head_branch }} to staging"



