name: Verify Docker Image

on:
  pull_request:
    branches:
      - master

jobs:
  verify_docker_image:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Build Docker image
        id: build
        uses: ./.github/actions/build-docker

      - name: Smoke test
        uses: ./.github/actions/run-docker
        with:
          version: ${{ steps.build.outputs.version }}
          options:
          run: |
            make update_deps
            make check
