{% extends "base.html" %}

{% block title %}
  {{ page_title( _('Thank you for installing {0}')|f(addon.name)) }}
{% endblock %}

{% set authors = addon.listed_authors %}

{% block bodyclass %}
{% if authors|length > 1 %}
  inverse
{% endif %}
about
{% endblock bodyclass %}

{# this is a 'headerless' page, so remove those elements #}
{% block site_header %}{% endblock %}
{% block navbar %}{% endblock %}

{% block content %}

{% set version = addon.current_version %}
{% set previews = addon.previews.all() %}

<h2 class="addon"{{ addon.name|locale_html }}>
  <img src="{{ addon.icon_url }}" class="icon"/>
  <span>
    {{ _('Thank you for installing {0}')|f(addon.name) }}
  </span>
  {% if version and not addon.is_selfhosted() %}
    <span class="version">{{ version.version }}</span>
  {% endif %}
</h2>

{% if authors|length == 1 %}
  {% if addon.takes_contributions %}
    {{ contribution(addon=addon, src='addon-detail', show_install=False,
        text=_('Before downloading this add-on, please consider supporting the
        development of this add-on by making a small contribution.')) }}
  {% endif %}
  {% set user = addon.listed_authors[0] %}
  <div class="secondary" role="complementary">
    <div class="vcard">
	  <img class="avatar photo photo-large" alt="" src="{{ user.picture_url }}"/>
      {% with profile = user, about_addons = True,
              table_class = 'person-info' %}
        {% include "users/vcard.html" %}
      {% endwith %}
    </div>
  </div>
  <div id="addon" class="primary" role="main">
      <div class="primary prose">
        {% if user.bio %}
        <h3>{{ _('Who is {0}?')|f(user.display_name) }}</h3>
        <p class="intro">{{ user.bio }}</p>
        {% endif %}
        {% if addon.the_reason %}
        <h3>{{ _("Why was {0} created?")|f(addon.name) }}</h3>
        <p>{{ addon.the_reason }}</p>
        {% endif %}
        {% if addon.the_future %}
        <h3>{{ _("What's next for {0}")|f(addon.name) }}</h3>
        <p>{{ addon.the_future }}</p>
        {% endif %}
      </div>
      <div class="secondary" role="navigation">
	      {% with other_addon_class = "secondary-item-list" %}
          {% include "addons/author_other_addons.html" %}
        {% endwith %}
      </div>
  </div>{# /#addon primary #}

{% else %}{# more than one author #}

  <div class="primary featured section-teaser">
    <div class="featured-inner inverse">
      <div class="teaser-header">
      <ol>
        {% for author in authors %}
          <li>
            <a href="#t-author-{{ author.id }}">{{ author.display_name }}</a>
          </li>
        {% endfor %}
      </ol>
      </div>
      <ol class="teaser-items no-autorotate">
        {% for author in authors %}
          <li class="vcard" id="t-author-{{ author.id }}">
            <div class="secondary">
              <img class="avatar photo-large photo" alt=""
                   src="{{ author.picture_url }}"/>
            </div>
            <div class="primary">
              <h3>{{ author.display_name }}</h3>
                <p class="intro">{{ author.bio }}</p>
                {% with profile = author, about_addons = True,
                        table_class = 'person-info' %}
                  {% include "users/vcard.html" %}
                {% endwith %}
            </div>
          </li>
        {% endfor %}
      </ol>
    </div>
  </div>
  <div class="secondary" role="navigation">
    {% with other_addon_class = "secondary-item-list" %}
      {% include "addons/author_other_addons.html" %}
    {% endwith %}
  </div>

{% endif %}

{% endblock content %}