<div class="notification">
  {% if pledge %}
    {% cache pledge %}
      <div class="pledgebox">
        {% with target=pledge.target|float|currencyfmt('USD') %}
        {# L10n: {0} is a number #}
        <h3>{{ _('Help the developer of this add-on raise {0} to support '
                 'its continued development.')|f(target) }}</h3>
        <p>{{ pledge.what_ima_gonna_do }}</p>
        <div class="o-meter">
          <dl class="raised">
            <dt>
              {# L10n: title for the amount of money a developer has raised #}
              {{ _('Raised') }}
            </dt>
            <dd>
              {# L10n: {0} is a number, {1} is a user count #}
              {{ _('<span class="money">{0}</span> from {1} users')|f(
                pledge.raised|float|currencyfmt('USD'), pledge.num_users)|safe }}
            </dd>
          </dl>
          <canvas class="pledge-o-meter"
                  data-ratio="{{ pledge.raised / pledge.target|float }}"
                  data-radius="14" height="70px"></canvas>
          <dl class="goal">
            <dt>
              {# L10n: title for the amount of money a developer would like to raise #}
              {{ _('Goal') }}
            </dt>
            <dd>
              {# L10n: {0} is a number, {1} is a username #}
              {{ _('<span class="money">{0}</span> by {1}')|f(
                target, pledge.deadline|datetime(_('%b %d')))|safe }}
            </dd>
          </dl>
        </div>
        {% endwith %}
      </div>{# /pledgebox #}
    {% endcache %}
  {% else %}
    <h3>{{ text }}</h3>
  {% endif %}

  <div class="aux">
    <div class="button-wrapper">
      <a class="button contribute prominent"
        {# The id triggers a dropdown, so don't expose it if there isn't a
           suggested amount (i.e., only one choice). #}
        {% if has_suggested %}id="contribute-button"{% endif %}
        href="{{ url('addons.contribute', addon.id)|urlparams(source=src) }}">
        <b></b>{{ _('Contribute') }}
      </a>

      {% if show_install %}
        {# L10n: Click Contribute button OR Install button #}
        <span class="continue">{{ _('or') }}</span>
        {% set ver = version or None %}
        {{ install_button(addon, version=ver, show_contrib=False) }}
      {% endif %}
    </div>{# /button-wrapper #}

    <div class="suggestion">
      {% if has_suggested %}
        <p>{{ _('Suggested Donation: {0}')|f(
          addon.suggested_amount|currencyfmt('USD')) }}</p>
      {% endif %}
      {% if show_help %}
          <a id="contribute-more-info" href="#contribute-why">
            {{ _("What's this?") }}{# msgctxt addons_display_a_license_what #}
          </a>
      {% endif %}
    </div>{# /suggestion #}
  </div>{# /aux #}

  {% if has_suggested %}
    <div id="contribute-box" class="jqmWindow">
      <form action="{{ url('addons.contribute', addon.id) }}" method="get">
        <input type="hidden" name="source" value="{{ src }}"/>
        <h2>{{ _('Make a Contribution') }}</h2>
        <p class="support">
          {% trans addon_name=addon.name, paypal_url='http://paypal.com' %}
            Help support the continued development of <strong>{{
            addon_name }}</strong> by making a small contribution through
            <a href="{{ paypal_url }}">Paypal</a>.
          {% endtrans %}
        </p>

        <h4>{{ _('How much would you like to contribute?') }}</h4>
        <div class="error" id="contrib-too-much"
             data-max-amount="{{ settings.MAX_CONTRIBUTION }}">
            {{ _('The maximum contribution amount is {0}.')|f(
               settings.MAX_CONTRIBUTION|currencyfmt('USD')) }}
        </div>
        <ul>
          <li>
            <input type="radio" name="type" value="suggested"
                   id="contrib-suggested" checked="checked"/>
            <label for="contrib-suggested">
              {# L10n: {1} is a currency amount (e.g., $5.00) #}
              {{ _('A one-time suggested contribution of {0}')|f(
                addon.suggested_amount|currencyfmt('USD')) }}
            </label>
          </li>
          <li>
            <input type="radio" name="type" value="onetime"
                   id="contrib-onetime"/>
            <label>
              {# L10n: {0} is a currency symbol (e.g., $),
                       {1} is an amount input field #}
              {{ _('A one-time contribution of {0} {1}')|f(
                '$', '<input type="text" name="onetime-amount" value=""/>')|safe }}
            </label>
          </li>
          <li>
            <input type="radio" name="type" value="monthly"
                   id="contrib-monthly"/>
            <label for="contrib-monthly">
              {# L10n: {0} is a currency symbol (e.g., $),
                       {1} is an amount input field #}
              {{ _('A regular monthly contribution of {0} {1}')|f(
                '$', '</label><input type="text" name="monthly-amount" value=""/>')|safe }}
          </li>
        </ul>

        <h4 class="comment">
          <label for="contrib-comment">
            {{ _('Leave a comment or request with your contribution.') }}
          </label>
        </h4><span>{{ _('(optional)') }}</span>
        <textarea name="comment" id="contrib-comment"></textarea>
        <span class="commentlen"></span>

        <button id="contribute-confirm" type="submit" class="prominent">
          {{ _('Make Contribution') }}
        </button>
        <span class="cancel"><a href="#">{{ _('No Thanks') }}</a></span>
      </form>
    </div>{# /contribute-box #}
  {% endif %}


</div>{# /notification #}

<div class="hidden">
  <div id="contribute-why" class="popup">
    <p class="msg">
      {% trans %}
        Mozilla is committed to supporting a vibrant and healthy developer
        ecosystem. Your optional contribution helps sustain further development
        of this add-on.
      {% endtrans %}
    </p>
  </div>
</div>
