{% extends "base.html" %}

{% block title %}{{ page_title(addon.name) }}{% endblock %}
{% block js %}{% include("amo/recaptcha_js.html") %}{% endblock %}
{% block bodyclass %}inverse{% endblock %}

{% block extrahead %}
  {% if settings.ENGAGE_ROBOTS and addon.status == amo.STATUS_UNREVIEWED %}
    <meta name="robots" content="noindex">
  {% endif %}
  {% for preview in addon.all_previews %}
    <link rel="prefetch" href="{{ preview.image_url }}">
  {% endfor %}
{% endblock %}

{% block content %}
{{ breadcrumbs([(addon.type_url(), amo.ADDON_TYPES[addon.type]),
                (None, addon.name)]) }}

{% set version = addon.current_version %}
<hgroup>
  <h2 class="addon"{{ addon.name|locale_html }}>
    <img src="{{ addon.icon_url }}" class="icon"/>
    <span>
      {{ addon.name }}
    </span>
    {% if version and not addon.is_selfhosted() %}
      <span class="version">{{ version.version }}</span>
    {% endif %}
  </h2>
  <h4 class="author">{{ _('by') }} {{ users_list(addon.listed_authors) }}</h4>
</hgroup>

<div id="addon" class="primary" role="main" data-id="{{ addon.id }}">
  {% include "messages.html" %}

  {% set show_actions = True %} {# Show things like the install button, favorites, etc #}
  {% include "addons/details_box.html" %}
</div>

<div class="secondary" role="navigation">

  {% if addon.has_profile() and addon.listed_authors %}
  <div class="highlight">
    {% with single_dev = addon.listed_authors|random %}
      <h3 class="compact-bottom">
        {% trans count=addon.listed_authors|length %}
        Meet the Developer
        {% pluralize %}
        Meet the Developers
        {% endtrans %}
      </h3>
      <img class="avatar" alt="{{ single_dev.name }}" height="64"
           width="64" src="{{ single_dev.picture_url }}"/>
      <p>{{ _("Learn why {0} was created and find out what's next for this "
              'add-on.')|f(addon.name) }}</p>
      <p>
        <a class="more-info" href="{{ addon.meet_the_dev_url() }}">
        {% if addon.listed_authors|length > 1 %}
          {{ _('Meet the Developers') }}
        {% else %}
          {{ _('Meet {0}')|f(single_dev.name) }}
        {% endif %}
        </a>
      </p>
    {% endwith %}
  </div>
  {% endif %}{# /meet the devs #}

  {# categories and other add-ons #}
  {% with categories = addon.categories.filter(application=APP.id) %}
    {% if categories or author_addons %}
    <div class="highlight">
      {% if categories %}
        <ul>
          {# TODO reverse URL #}
          {% for category in categories %}
          <li>
            <a href="{{ category.get_url_path() }}" class="more-info">
              {# L10n: {0} is the name of a category #}
              {{ _('See All {0} Add-ons')|f(category) }}
            </a>
          </li>
          {% endfor %}
        </ul>
      {% endif %}

      {% if author_addons %}
        {% with multi_as_select = True %}
          {% include "addons/author_other_addons.html" %}
        {% endwith %}
      {% endif %}
    </div>
    {% endif %}
  {% endwith %}
  {# /categories #}

  {# support box #}
  {% if addon.support_email or addon.support_url or addon.has_satisfaction %}
  <div id="support" class="highlight">
    <h3 class="compact-bottom">{{ _('Need help with this add-on?') }}</h3>
    <ul class="xoxo">
      {% if addon.has_satisfaction %}
        {# get satisfaction only supports en-US so no L10n here #}
        <li>Ask others on
          <a href="#" id="feedback_btn" class="feedback_btn"
            data-company="{{ addon.get_satisfaction_company }}"
            data-product="{{ addon.get_satisfaction_product }}"
             >Get Satisfaction</a>
        </li>
      {% endif %}
      {% if addon.support_email %}
        <li>{{ emaillink(addon.support_email.localized_string,
                         _('E-mail your question')) }}</li>
      {% endif %}
      {% if addon.support_url %}
        <li><a href="{{ addon.support_url|external_url }}">{{
          _('Visit the support site') }}</a></li>
      {% endif %}
    </ul>

    {% if addon.has_satisfaction %}
    <div id="get_satisfaction_container"></div>
    {% endif %}

  </div>
  {% endif %}
  {# /support #}

  {{ tags_box(addon=addon, tags=tags) }}

  {# addon recommendations #}
  {% if recommendations %}
  <div>
    <h3 class="compact-bottom">{{ _('Often used with&hellip;')|safe }}</h3>
    <ul class="addon-otheraddons">
      {% for rec in recommendations %}
      <li>
      <a href="{{ url('addons.detail', rec.slug) }}?src=oftenusedwith"
         class="addonitem">{{ rec.name }}</a>
      </li>
      {% endfor %}
    </ul>
  </div>
  {% endif %}
  {# /recommendations #}

  {# related collections #}
  <div class="collections-add">
    <h3 class="compact-bottom">{{ _('Related Collections') }}</h3>

    {% if not collections %}
      <p>{{ _('This add-on is not yet in any collections.') }}</p>
    {% else %}
      <ul class="addon-collections">
        {% for coll in collections %}
        <li><a href="{{ coll.get_url_path() }}"
               class="collectionitem">{{ coll.name }}</a></li>
        {% endfor %}
      </ul>
    {% endif %}

  </div>
  {# /collections #}

</div>{# /secondary #}

{% endblock content %}
