{% extends "base.html" %}

{% block title %}{{ page_title(addon.name) }}{% endblock %}

{% block bodyclass %}inverse{% endblock %}

{% block content %}

{% set version = addon.current_version %}
{% set previews = addon.previews.all() %}

<header>
  {% with addonname=addon.name|string|truncate(40) %}
    {{ breadcrumbs([(addon.type_url(), amo.ADDON_TYPES[addon.type]),
                    (None, addonname )]) }}
  {% endwith %}
  <hgroup>
    <h2 class="addon"{{ addon.name|locale_html }}>
      <img src="{{ addon.icon_url }}" class="icon"/>
      <span>{{ addon.name }}</span>
      {% if version and not addon.is_selfhosted() %}
        <span class="version">{{ version.version }}</span>
      {% endif %}
    </h2>
    <h4 class="author">
      {{ _('by') }} {{ users_list(addon.listed_authors) }}
    </h4>
  </hgroup>
</header>
{# TODO(fwenzel): "add-on has been added to collection" notification #}

<div id="addon" class="primary" role="main">
  <div class="featured">
    <div class="featured-inner object-lead inverse">

      <div id="addon-summary-wrapper">
        <div id="addon-summary" class="primary">
          <p{{ addon.summary|locale_html }}>{{ addon.summary|nl2br }}</p>

          {{ big_install_button(addon, show_warning=False) }}

          {% if addon.takes_contributions %}
            {{ contribution(addon=addon, src='addon-detail',
                text=_('The developer of this add-on asks that you help '
                       'support its continued development by making a small '
                       'contribution.')) }}
          {% endif %}

          <table itemscope itemtype="http://data-vocabulary.org/Review-aggregate">
            {% with addon_name='<span itemprop="itemreviewed">{0}</span>'|f(addon.name) %}
              <caption>{{ _('Add-on Information for {0}')|f(addon_name)|safe }}</caption>
            {% endwith %}
            <tbody>
              <tr>
                <th>{{ _('Updated') }}</th>
                <td>
                  <time datetime="{{ addon.last_updated|isotime }}">{{
                    addon.last_updated|datetime }}</time>
                </td>
              </tr>
              {% if addon.homepage %}
                <tr>
                  <th>{{ _('Website') }}</th>
                  <td>
                    <strong><a href="{{ addon.homepage|external_url }}">{{
                      addon.homepage }}</a></strong>
                  </td>
                </tr>
              {% endif %}
              {% if addon.compatible_apps %}
                <tr>
                  <th>{{ _('Works with') }}</th>
                  <td>{{ addon.compatible_apps[APP] }}</td>
                </tr>
              {% endif %}
              {# XXX future feature: 'Depends on' ... #}
              {# XXX future feature: 'Localizations' ... #}
              <tr>
                <th>{{ _('Rating', 'advanced_search_form_rating') }}</th>
                <td>{{ addon|reviews_link }}</td>
              </tr>
              {% if not addon.is_selfhosted() %}
                <tr class="meta-stats">
                  <th>{{ _('Downloads', 'list_sortby_downloads') }}</th>
                  <td>
                    <strong class="downloads">{{
                      addon.total_downloads|numberfmt }}</strong>
                    {% if addon.public_stats %}
                      {# TODO real reverse URL #}
                      <a href="{{ locale_url('/statistics/addon/{0}'|f(addon.id)) }}">
                        {{ _('View Statistics') }}</a>
                    {% endif %}
                  </td>
                </tr>
              {% endif %}
            </tbody>
          </table>

        </div>{# /addon-summary #}
      </div>{# /addon-summary-wrapper #}

      <div class="secondary">
        {% if previews %}
          {% with preview=previews[0] %}
            <a class="screenshot thumbnail" rel="jquery-lightbox"
              href="{{ preview.image_url }}" title="{{ preview.caption }}">
                <img alt="" src="{{ preview.thumbnail_url }}" />
            </a>
          {% endwith %}
        {% else %}
          <img class="screenshot thumbnail" src="{{ addon.thumbnail_url }}"
            alt="" width="200" height="150" />
        {% endif %}

        {{ addon_sharing(addon) }}

      </div>{# /secondary #}

    </div>{# /featured-inner #}
  </div>{# /featured #}

  <h3>{{ _('More about this add-on') }}</h3>
  <div class="article userinput">
    <p{{ addon.description|locale_html }}>{{ addon.description|nl2br }}</p>

    {% if previews|length > 1 %}
      <h4>{{ _('Image Gallery') }}</h4>
      {% for preview in previews[1:] %}
        <a class="screenshot thumbnail" rel="jquery-lightbox"
          href="{{ preview.image_url }}" title="{{ preview.caption }}">
            <img src="{{ preview.thumbnail_url }}" alt="" />
        </a>
      {% endfor %}
    {% endif %}

    {% if addon.developer_comments %}
    <h4>{{ _('Developer Comments', 'addons_display_developer_comments') }}</h4>
      <div class="prose userinput">
        <p{{ addon.developer_comments|locale_html }}>{{
          addon.developer_comments|nl2br }}</p>
      </div>
    {% endif %}

    {# beta channel #}
    {% if addon.show_beta and addon.current_beta_version %}
      <h4 id="beta-channel">{{ _('Beta Channel') }}</h4>
      <div>
        <p>
          {% trans %}
          The Beta Channel lets you test an experimental new version of this
          add-on before it's released to the general public. Once you install
          the beta version, you will continue to get updates from this channel.
          {% endtrans %}
          <a href="#install-beta">{{ _('Install beta version') }}</a>
        </p>
        <div class="install-beta" id="install-beta">
          <p>
            {% trans %}
            <strong>Caution:</strong> Beta versions of this add-on have not
            been reviewed by Mozilla. Once you install a beta version you will
            continue to receive beta updates from this developer. To stop
            receiving beta updates, reinstall the default version from the
            link above.
            {% endtrans %}
          </p>
          <dl>
            <dt class="beta-version">{{ _('Version {0}:')|f(
              addon.current_beta_version.version) }}</dt>
            <dd>{{ install_button(addon, version=addon.current_beta_version,
                                  show_warning=False) }}</dd>
          </dl>
        </div>{# /install-beta #}
      </div>
    {% endif %}
    {# /beta #}
  </div>{# /article #}

  {{ review_list_box(addon=addon, reviews=addon.reviews) }}

  {{ review_add_box(addon=addon) }}


  {% if not addon.is_selfhosted() and version %}
  <h3 id="releasenotes">{{ _('Release Notes', 'addons_display_release_notes') }}</h3>
  <div class="article">
    {# TODO reverse URL #}
    {% set base = remora_url('/addons/versions/{0}'|f(addon.id)) %}
    <p><a href="{{ base }}#version-{{ version.version }}"
          title="{{ _('Permanent link to this version') }}">
         {{ _('Version {0}', 'addon_display_header_version')|f(version.version) }}</a>
      &mdash;
      <span title="{{ version.created|isotime }}">{{
        version.created|datetime }}</span>
      {% if version.has_files %}
        &mdash;
        {{ _('{0} KB')|f(version.all_files[0].size|int|numberfmt) }}
      {% endif %}
    </p>

    <div class="prose userinput">
      <p id="release-notes"{{ version.releasenotes|locale_html }}>
        {{ version.releasenotes|nl2br }}
      </p>
    </div>

    {# License #}
    {% if version.license %}
      <h5 id="license">
        {{ _('Source Code License') }}
        {# TODO reverse URL #}
        <a href="{{ remora_url('/pages/developer_faq#license') }}">
          {{ _("What's this?", 'addons_display_a_license_what') }}
        </a>
      </h5>
      {# TODO reverse URL #}
      <p>
        <a href="{{ remora_url('/versions/license/{0}'|f(version.id)) }}">
          {{ version.license.name }}</a>
      </p>
    {% endif %}

    <ul class="further-navigation">
      {% if addon.view_source and user.is_authenticated() and
        version.has_files %}
        <li>
          {# TODO reverse URL #}
          <a href="{{ remora_url('/files/browse/{0}'|f(version.all_files[0].pk)) }}">
            {{ _('View the source') }}</a>
        </li>
      {% endif %}
      {% if not addon.is_selfhosted() %}
        <li>
          {# TODO reverse URL #}
          <a href="{{ remora_url('/addons/versions/{0}'|f(addon.id)) }}">
            {{ _('View All Versions') }}
          </a>
        </li>
      {% endif %}
    </ul>
  </div> <!-- Release Notes -->
  {% endif %}

</div>{# /primary #}

<div class="secondary" role="navigation">

  {% if addon.the_reason and addon.the_future and addon.listed_authors %}
  <div class="highlight">
    {% with single_dev = addon.listed_authors|random %}
      <h3 class="compact-bottom">
        {% trans count=addon.listed_authors|length %}
        Meet the Developer
        {% pluralize %}
        Meet the Developers
        {% endtrans %}
      </h3>
      <img class="avatar" alt="{{ single_dev.display_name }}" height="64"
           width="64" src="{{ single_dev.picture_url }}"/>
      <p>{{ _("Learn why {0} was created and find out what's next for this "
              'add-on.')|f(addon.name) }}</p>
      <p>
        <a class="more-info" href="{{ addon.meet_the_dev_url() }}">
        {% if addon.listed_authors|length > 1 %}
          {{ _('Meet the Developers') }}
        {% else %}
          {{ _('Meet {0}')|f(single_dev.display_name) }}
        {% endif %}
        </a>
      </p>
    {% endwith %}
  </div>
  {% endif %}{# /meet the devs #}

  {# categories and other add-ons #}
  {% with categories = addon.categories.filter(application=APP.id) %}
    {% if categories or author_addons %}
    <div class="highlight">
      {% if categories %}
        <ul>
          {# TODO reverse URL #}
          {% for category in categories %}
          <li>
            <a href="{{ category.get_url_path() }}" class="more-info">
              {{ _('See All {0} Add-ons')|f(category) }}
            </a>
          </li>
          {% endfor %}
        </ul>
      {% endif %}

      {% if author_addons %}
      <div class="other-author-addons">
        <h4>
          {% trans count = addon.listed_authors|length,
                   author = users_list(addon.listed_authors) %}
            Other add-ons by {{ author }}
          {% pluralize %}
            Other add-ons by these authors
          {% endtrans %}
        </h4>

        {% if author_addons|length > 4 %}
          <form id="addons-author-addons" method="get" action="">
            <select id="addons-author-addons-select"
              name="addons-author-addons-select"
              onchange="this.form.submit()">
            {% for other in author_addons %}
              {% with id=other.id, title=other.name,
                      name=other.name|string|truncate(25) %}
                <option value="{{ id }}" title="{{ title }}"{{
                        id == addon.id and ' selected="selected"' or '' }}>
                  {{ name }}
                </option>
              {% endwith %}
            {% endfor %}
            </select>
            <input class="hidden" type="submit" value="{{
              _('Go', 'addons_author_addons_submit') }}"/>
          </form>

        {% else %}
          <ul>
          {% for other in author_addons %}
            {% with id=other.id, title=other.name,
                    name=other.name|string|truncate(25) %}
              {%- if id == addon.id %}{% continue %}{% endif %}
              <li>
                <a href="{{ other.get_url_path() }}" title="{{ title }}"
                   class="addonitem">{{ name }}</a>
              </li>
            {% endwith %}
          {% endfor %}
          </ul>
        {% endif %}

      </div>{# /highlight #}
      {% endif %}

    </div>
    {% endif %}
  {% endwith %}
  {# /categories #}


  {# support box #}
  {% if addon.support_email or addon.support_url or addon.has_satisfaction %}
  <div id="support" class="highlight">
    <h3 class="compact-bottom">{{ _('Need help with this add-on?') }}</h3>
    <ul class="xoxo">
      {% if addon.has_satisfaction %}
        {# get satisfaction only supports en-US so no L10n here #}
        <li>Ask others on
          <a href="#" id="feedback_btn" class="feedback_btn"
            data-company="{{ addon.get_satisfaction_company }}"
            data-product="{{ addon.get_satisfaction_product }}"
             >Get Satisfaction</a>
        </li>
      {% endif %}
      {% if addon.support_email %}
        <li><a href="mailto:{{ addon.support_email }}">{{
          _('E-mail your question') }}</a></li>
      {% endif %}
      {% if addon.support_url %}
        <li><a href="{{ addon.support_url|external_url }}">{{
          _('Visit the support site') }}</a></li>
      {% endif %}
    </ul>

    {% if addon.has_satisfaction %}
    <div id="get_satisfaction_container"></div>
    {% endif %}

  </div>
  {% endif %}
  {# /support #}

  {{ tags_box(addon=addon, dev_tags=dev_tags, user_tags=user_tags,
              current_user_tags=current_user_tags) }}

  {# addon recommendations #}
  {% if recommendations %}
  <div>
    <h3 class="compact-bottom">{{ _('Often used with&hellip;')|safe }}</h3>
    <ul class="addon-otheraddons">
      {% for rec in recommendations %}
      <li>
      <a href="{{ url('addons.detail', addon_id=rec.id) }}?src=oftenusedwith"
         class="addonitem">{{ rec.name }}</a>
      </li>
      {% endfor %}
    </ul>
  </div>
  {% endif %}
  {# /recommendations #}

  {# related collections #}
  <div class="collections-add">
    <h3 class="compact-bottom">{{ _('Related Collections') }}</h3>

    {% if not collections %}
      <p>{{ _('This add-on is not yet in any collections.') }}</p>
    {% else %}
      <ul class="addon-collections">
        {% for coll in collections %}
        <li><a href="{{ coll.get_url_path() }}"
               class="collectionitem">{{ coll.name }}</a></li>
        {% endfor %}
        {% if other_collection_count %}
        {# TODO reverse URL #}
        <li>
          <a href="{{ remora_url('/collections/addon/{0}'|f(addon.id)) }}">
            {% trans count=other_collection_count %}
            and {{ count }} more collection
            {% pluralize %}
            and {{ count }} more collections
            {% endtrans %}
          </a>
        </li>
        {% endif %}
      </ul>
    {% endif %}

    {% if user.is_authenticated() %}
    {# TODO reverse URLs #}
    <form action="{{ remora_url('/collections/addtocollection') }}"
          method="post" id="coll_publish"
          data-detail-url="{{ remora_url('/collection') }}/"
          data-json-url="{{ remora_url('/collections/json') }}">
      <div>
        <a href="{{ remora_url('/collections/') }}" class="what">
          {{ _("What's this?", 'addons_display_a_license_what') }}</a>
        <h3>
          <label for="publish_to">{{ _('Add to a collection:') }}</label>
        </h3>
        {{ cake_csrf_token() }}
        <input name="data[addon_id]" type="hidden" value="{{ addon.id }}"/>
        <select name="data[collection_uuid]" id="publish_to">
          <option value="" selected="selected">{{ _('Select a collection...') }}</option>
          {% for collection in user_collections %}
            <option value="{{ collection.uuid }}">{{ collection.name }}</option>
          {% endfor %}
          <option value="new">{{ _('New Collection...') }}</option>
        </select>
        <button>{{ _('Publish') }}</button>
      </div>
    </form>
    {% endif %}
  </div>
  {# /collections #}

</div>{# /secondary #}
{% endblock content %}
