{% extends "base.html" %}

{% block title %}
{% if page == "installed" %}
  {{ page_title( _('Thank you for installing {0}')|f(addon.name)) }}
{% else %}
  {{ page_title(_('Meet the {0} Developer')|f(addon.name)) }}
{% endif %}
{% endblock %}

{% set authors = addon.listed_authors %}
{% set num_authors = authors|length %}

{% block bodyclass -%}
  {% if num_authors > 1 %}inverse{% endif %}
  {% if page == "installed" %}about{% endif %}
{%- endblock bodyclass %}

{% if page == "roadblock" %}
  {% set msg = _('Before downloading this add-on, please consider supporting the '
                 'development of this add-on by making a small contribution.') %}
{% else %}
  {% set msg = _('The developer of this add-on asks that you help support its '
                 'continued development by making a small contribution.') %}
{% endif %}

{# contribute/installed is a 'headerless' page, so remove those elements. #}
{% block site_header %}
{% if page != "installed" %}{{ super() }}{% endif %}
{% endblock %}
{% block navbar %}
{% if page != "installed" %}{{ super() }}{% endif %}
{% endblock %}


{% block content %}
{% if page == "installed" %}
  <h2 class="addon"{{ addon.name|locale_html }}>
    <img src="{{ addon.icon_url }}" class="icon"/>
    <span>{{ _('Thank you for installing {0}')|f(addon.name) }}</span>
  </h2>
{% else %}
  <header>
    {{ breadcrumbs([(addon.type_url(), amo.ADDON_TYPES[addon.type] ),
                    (addon.get_url_path(), addon.name),
                    (None, _('Meet the {0} Developer')|f(addon.name))]) }}
    <h2>{{ _('Meet the {0} Developer')|f(addon.name) }}</h2>
  </header>
{% endif %}

{% set src = page if page == "developers" else None %}
{% set contrib = contribution(addon=addon, src=src, text=msg,
                              show_install=(page != "installed")) %}

{% if num_authors == 1 %}
  {% set user = authors[0] %}
  {% if page == "installed" and addon.takes_contributions %}
    {{ contrib }}
  {% endif %}
  <div class="secondary" role="complementary">
    <div class="vcard">
      <img class="avatar photo" alt=""
           src="{{ user.picture_url }}"/>
      {% with profile = user, about_addons = True,
              table_class = 'person-info' %}
        {% include "users/vcard.html" %}
      {% endwith %}
    </div>
  </div>
  <div class="primary" role="main">
    {% if page != "installed" and addon.takes_contributions %}
      {{ contrib }}
    {% endif %}
    <div class="primary prose">
      {% if user.bio %}
        <h3>{{ _('Who is {0}')|f(user.name) }}</h3>
        <p class="intro">{{ user.bio }}</p>
      {% endif %}
      {% if addon.the_reason %}
        <h3>{{ _("Why was {0} created?")|f(addon.name) }}</h3>
        <p>{{ addon.the_reason }}</p>
      {% endif %}
      {% if addon.the_future %}
        <h3>{{ _("What's next for {0}")|f(addon.name) }}</h3>
        <p>{{ addon.the_future }}</p>
      {% endif %}
    </div>
    {% if author_addons %}
      <div role="complementary" class="secondary">
        {% with other_addon_class = "secondary-item-list" %}
          {% include "addons/author_other_addons.html" %}
        {% endwith %}
      </div>
    {% endif %}
  </div>

{% else %}{# multiple authors  #}

  {% if page == "installed" and addon.takes_contributions %}
    {{ contrib }}
  {% endif %}
  <div class="primary">
    {% if page != "installed" and addon.takes_contributions %}
      {{ contrib }}
    {% endif %}
    <div class="featured section-teaser">
      <div class="featured-inner inverse">
        <div class="teaser-header">
          <ol>
            {% for author in authors %}
              <li>
                <a href="#t-author-{{ author.id }}">{{ author.name }}</a>
              </li>
            {% endfor %}
          </ol>
        </div>
        <ol class="teaser-items no-autorotate">
          {% for author in authors %}
            <li class="vcard" id="t-author-{{ author.id }}">
              <div class="secondary">
                <img class="avatar photo" alt=""
                     src="{{ author.picture_url }}"/>
              </div>
              <div class="primary">
                <h3>{{ author.name }}</h3>
                <p class="intro">{{ author.bio }}</p>
                {% with profile = author, about_addons = True,
                        table_class = 'person-info' %}
                  {% include "users/vcard.html" %}
                {% endwith %}
              </div>
            </li>
          {% endfor %}
        </ol>
      </div>
    </div>  {# featured #}
  </div>  {# primary #}
  {% if author_addons %}
    <div role="complementary" class="secondary">
      {% with other_addon_class = "secondary-item-list" %}
        {% include "addons/author_other_addons.html" %}
      {% endwith %}
    </div>
  {% endif %}
  <div class="primary prose">
    {% if addon.the_reason %}
      {# L10n: {0} is the name of the add-on #}
      <h3>{{ _("Why was {0} created?")|f(addon.name) }}</h3>
      <p>{{ addon.the_reason }}</p>
    {% endif %}
    {% if addon.the_future %}
      {# L10n: {0} is the name of the add-on #}
      <h3>{{ _("What's next for {0}")|f(addon.name) }}</h3>
      <p>{{ addon.the_future }}</p>
    {% endif %}
  </div>
{% endif %}

{% endblock content %}
