{% extends "base.html" %}

{% block title %}{{ page_title(addon.name) }}{% endblock %}
{% block bodyclass %}inverse{% endblock %}

{% block content %}
{{ breadcrumbs([(addon.type_url(), amo.ADDON_TYPES[addon.type]),
                (None, addon.name)]) }}

<hgroup>
  <h2 class="addon"{{ addon.name|locale_html }}>
    <img src="{{ addon.icon_url }}" class="icon"/>
    <span>
      {{ addon.name }}
    </span>
  </h2>
  <h4 class="author">{{ _('by') }} {{ users_list(addon.listed_authors) }}</h4>
</hgroup>

<div id="addon" class="primary" role="main" data-id="{{ addon.id }}">
  <div class="notification-box error">
  {% if addon.disabled_by_user %}
      {{ _('This add-on has been removed by its author.') }}
  {% elif addon.status == amo.STATUS_DISABLED %}
      {{ _('This add-on has been disabled by an administrator.') }}
  {% elif addon.is_premium() %}
      {{ _('This add-on is not ready for sale yet.') }}
  {% endif %}
  </div>
</div>

{% endblock content %}
