{# Reminder: When this page is done for real, be sure to add L10n #}

<style type="text/css">
#horizon {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 0px;
    width: 100%;
    height: 1px;
    overflow: visible;
    display: block;
}

#content {
    width: 600px;
    height: 200px;
    margin-left: -300px;
    position: absolute;
    top: -100px;
    left: 50%;
    visibility: visible;
}
</style>
<div id="horizon">
  <div id="content">
    <h1>Something good is coming!</h1>
    <p>This area will soon explain what add-ons are, feature some of the best,
       and help you pick from thousands of ways to customize Firefox.</p>

    <p>Until then, visit the
        <a href="https://addons.mozilla.org/en-US/firefox/">Firefox Add-ons</a>
       website.</p>
  </div>
</div>
