{% extends "base_side_categories.html" %}

{% block title %}
  {# L10n: {0} is the name of the Addon #}
  {{ page_title(_('End-User License Agreement for {0}')|f(addon.name)) }}
{% endblock %}

{% block bodyclass %}policy{% endblock %}

{% block content %}
<header>
  {# L10n: EULA stand for End User License Agreement #}
  {{ breadcrumbs([(addon.type_url(), amo.ADDON_TYPES[addon.type] ),
                  (url('addons.detail',addon.id), addon.name),
                  (None, _('EULA'))]) }}
  <h2 class="name"{{ addon.name|locale_html }}>
    <span>
      {{ addon.name }}
    </span>
    {% if version and not addon.is_selfhosted() %}
      <span class="version">{{ version.version }}</span>
    {% endif %}
  </h2>
</header>
<h3>{{ _('End-User License Agreement') }}</h3>
<div class="addon-policy-tagline">
  <p>
    {% trans addon_name = addon.name %}
      {{ addon_name }} requires that you accept the following
      End-User License Agreement before installation can proceed:
    {% endtrans %}
  </p>
</div>
<div class="policy-statement">{{ addon.eula }}</div>
{{ install_button(addon, version=version, show_contrib=False,
                  show_eula=False, show_warning=False) }}
<p class="policy-link">
  <a href ="{{ url('addons.detail', addon.id) }}">
    {{ _('Cancel Installation')|f(addon.name) }}
  </a>
</p>
<p class="policy-link">
  <a href ="{{ url('addons.detail', addon.id) }}">
    {{ _('Back to {0}...')|f(addon.name) }}
  </a>
</p>

{% endblock content %}
