{% extends "base_side_categories.html" %}

{% block title %}{{ _('Add-ons for Firefox') }}{% endblock %}

{% block site_stats %}
{% if downloads and pings %}
<ul class="stats">
  <li>
    <a href="{{ url('statistics.dashboard') }}">
      {% trans plural=downloads.count, count=downloads.count|numberfmt %}
        <strong>{{ count }}</strong><span>add-on downloaded</span>
      {% pluralize %}
        <strong>{{ count }}</strong><span>add-ons downloaded</span>
      {% endtrans %}
    </a>
  </li>
  <li>
    <a href="{{ url('statistics.dashboard') }}">
      {% trans plural=pings.count, count=pings.count|numberfmt %}
        <strong>{{ count }}</strong><span>add-on in use</span>
      {% pluralize %}
        <strong>{{ count }}</strong><span>add-ons in use</span>
      {% endtrans %}
    </a>
  </li>
</ul>
{% endif %}
{% endblock %}

{% set view_all = {
  'featured': _('View all featured add-ons'),
  'popular': _('View all popular add-ons'),
  'new': _('View all newly created add-ons'),
  'updated': _('View all recently updated add-ons'),
}
%}


{% block content %}

{% include "addons/collections_teaser.html" %}

{% if is_mobile(request.APP) %}
<h2>{{ _('Browse Mobile Add-ons') }}</h2>
{% else %}
<h2>{{ _('Browse Add-ons') }}</h2>
{% endif %}

<div class="primary" id="homepage">
  <div class="featured listing">
    <div class="featured-inner">
      <div class="listing-header">
        <ul>
          {% for value, title in filter.opts %}
          <li {{ value|class_selected(filter.field) }} id="{{ value }}">
          <a href="{{ url('home')|urlparams(browse=value) }}" data-target="{{ value }}">
            {{ title }}</a>
          </li>
          {% endfor %}
        </ul>
      </div>
      <div class="addon-listing addon-listing-{{ filter.field }}">
        {% for key, addons in addon_sets.items() %}
          <div id="list-{{ key }}">
            {% for addon in addons %}
            {% cache addon %}
              <div class="item">
                <div class="install">Install button</div>
                <h3>
                  <a href="{{ addon.get_url_path() }}">{{ addon.name }}</a>
                  <span>
                    {% trans users=users_list(addon.authors.all()) %}
                      by {{ users }}
                    {% endtrans %}
                  </span>
                </h3>
                <a href="{{ addon.get_url_path() }}">
                  <img class="icon" width="32" height="32" src="{{ addon.icon_url }}"
                       alt="{{ addon.name }}">
                </a>
                <blockquote>
                  {{ addon.description|truncate(250) }}
                </blockquote>
                <div class="meta">
                  {{ addon|reviews_link }}
                  <span class="downloads">
                    {% with num=addon.weekly_downloads %}
                      {# L10n: {0} is the number of downloads. #}
                      {{ ngettext("<strong>{0}</strong> weekly download",
                                  "<strong>{0}</strong> weekly downloads",
                                  num)|f(num|numberfmt)|safe }}
                    {% endwith %}
                  </span>
                  <span class="updated">
                    {{ _('Updated {0}')|f(addon.last_updated|datetime) }}
                  </span>
                  {{ support_addon(addon) }}
                </div>
              </div>
            {% endcache %}
            {% endfor %}
            <div class="listing-footer">
              {# TODO(jbalogh): browse and rss page urls #}
              <a class="subscribe" href="#">
                {{ _('Subscribe', 'addons_home_browse_subscribe') }}</a>
              <a class="more-info" href="#">{{ view_all[key] }}</a>
            </div>
          </div> {# listing-{{ key }} #}
        {% endfor %}
      </div> {# addon-listing #}
    </div> {# featured-inner #}
  </div>
</div>

<div class="secondary collections-sidebar">
  <img alt="" width="100" height="125"
       src="{{ MEDIA_URL }}img/amo2009/illustrations/logo-collections-100x125.png">
   {# TODO(jbalogh): reverse #}
   <h3><a href="/collections">{{ _('Collections', 'addons_home_collections') }}</a></h3>
   <p>
     {% trans %}
     Collections are a way for you to categorize, mix, match and mingle add-ons.
     Subscribe to collections created by other users or create your own.
     {% endtrans %}
   </p>
   <h4>{{ _('Popular Collections') }}</h4>
   {% include "addons/collections_sidebar.html" %}
</div>
{% endblock content %}

{% block js %}
<script src="{{ MEDIA_URL }}js/zamboni/homepage.js"></script>
{% endblock %}

{% block under_categories %}
<div class="highlight">
  <h3>{{ _('Build a {0} Add-on')|f(request.APP.pretty) }}</h3>
  <p>{{ _('Find all the tools and resouces you need to make your first add-on.') }}</p>
  {# TODO(jbalogh): reverse #}
  <p><strong><a href="/developers">{{ _('Visit the Developer Hub') }}</a></strong></p>
</div>
{% endblock %}
