{% extends "base_side_categories.html" %}

{% block site_stats %}
<ul class="stats">
  <li>
    <a href="{{ url('statistics.dashboard') }}">
      {% trans plural=downloads.count, count=downloads.count|numberfmt %}
        <strong>{{ count }}</strong><span>add-on downloaded</span>
      {% pluralize %}
        <strong>{{ count }}</strong><span>add-ons downloaded</span>
      {% endtrans %}
    </a>
  </li>
  <li>
    <a href="{{ url('statistics.dashboard') }}">
      {% trans plural=pings.count, count=pings.count|numberfmt %}
        <strong>{{ count }}</strong><span>add-on in use</span>
      {% pluralize %}
        <strong>{{ count }}</strong><span>add-ons in use</span>
      {% endtrans %}
    </a>
  </li>
</ul>
{% endblock %}


{% block content %}
<h2>{{ _('Browse Add-ons') }}</h2>
<div class="secondary collections-sidebar">
  <img alt="" width="100" height="125"
       src="{{ MEDIA_URL }}img/amo2009/illustrations/logo-collections-100x125.png">
   {# TODO(jbalogh): reverse #}
   <h3><a href="/collections">{{ _('Collections', 'addons_home_collections') }}</a></h3>
   <p>
     {% trans %}
     Collections are a way for you to categorize, mix, match and mingle add-ons.
     Subscribe to collections created by other users or create your own.
     {% endtrans %}
   </p>
   <h4>{{ _('Popular Collections') }}</h4>
   {% include "addons/collections_sidebar.html" %}
</div>
{% endblock content %}
