<div id="addon-list-options" class="listing-header">
  <ul>
    <li>{{ _('Sort by:') }}</li>
    {% for value, title in sort_opts %}
      <li {{ value|class_selected(selected) }}>
      <a href="{{ url_base|urlparams(experimental=experimental, sort=value) }}">
        {{ title }}</a>
      </li>
    {% endfor %}
    {% if show_experimental %}
      <li class="perpage">
        <form action="" method="get" class="go">
          <label>
            <input type="checkbox" name="experimental"
                  {{ experimental|ifeq("on", "checked") }}>
            {{ _('Show experimental add-ons') }}
          </label>
          <button type="submit">{{ _('Go') }}</button>
        </form>
      </li>
    {% endif %}
  </ul>
</div>
