{% macro vital(addon, type) %}
  <div class="vital">
    {% if type == 'rating' %}
      {{ impala_reviews_link(addon) }}
    {% endif %}
    {% if type == 'adu' %}
      <span class="adu">
        {% trans cnt=addon.average_daily_users,
                 num=addon.average_daily_users|numberfmt %}
          {{ num }} user
        {% pluralize %}
          {{ num }} users
        {% endtrans %}
      </span>
    {% endif %}
  </div>
{% endmacro %}

{% macro addon_heading(addon, version) %}
  <h1{{ addon.name|locale_html }}>
    {{ addon.name }}
    {% if version and not addon.is_selfhosted() %}
      <span class="version">{{ version.version }}</span>
    {% endif %}
  </h1>
{% endmacro %}
