{% macro vital(addon, type) %}
  <div class="vital">
    {% if type in ('updated', 'created') %}
      <span class="updated">
        {% if type == 'updated' %}
          {# L10n: {0} is a date. #}
          {{ _('Updated {0}')|f(addon.last_updated|datetime) }}
        {% else %}
          {# L10n: {0} is a date. #}
          {{ _('Added {0}')|f(addon.created|datetime) }}
        {% endif %}
      </span>
    {% elif type == 'rating' %}
      {{ impala_reviews_link(addon) }}
      {{ price(addon) }}
    {% elif type in ('downloads', 'adu') %}
      <span class="adu">
        {% if type == 'downloads' %}
          {% trans cnt=addon.weekly_downloads,
                   num=addon.weekly_downloads|numberfmt %}
            {{ num }} weekly download
          {% pluralize %}
            {{ num }} weekly downloads
          {% endtrans %}
        {% else %}
          {% trans cnt=addon.average_daily_users,
                   num=addon.average_daily_users|numberfmt %}
            {{ num }} user
          {% pluralize %}
            {{ num }} users
          {% endtrans %}
        {% endif %}
      </span>
    {% endif %}
  </div>
{% endmacro %}

{% macro addon_heading(addon, version) %}
  <h1{{ addon.name|locale_html }}>
    {{ addon.name }}
    {% if version and not addon.is_selfhosted() %}
      <span class="version">{{ version.version }}</span>
    {% endif %}
  </h1>
{% endmacro %}

{% macro price(addon) %}
  {% if waffle.switch('marketplace') %}
    <span class="vital price {% if addon.is_premium() %}premium{% endif %}">
      {% if addon.is_premium() %}
        {{ addon.premium.get_price_locale() }}
      {% else %}
        {{ _('FREE') }}
      {% endif %}
    </span>
  {% endif %}
{% endmacro %}

{% macro refund_info(amo, addon, contributions, is_refunded, is_chargeback) %}
  {% set contributions = contributions.get(addon.pk, []) %}
  {% if contributions %}
    {% if is_refunded %}
      <span class="purchase refund-notice">
        {{ _('Purchase Refunded') }}
      </span>
    {% elif is_chargeback %}
      <span class="purchase refund-notice">
        {{ _('Purchase Reversed') }}
      </span>
    {% endif %}
    <ul>
      {% for contribution in contributions %}
        <li>
          <span class="purchase">
            {% if contribution.type == amo.CONTRIB_PURCHASE %}
              {% trans date=addon.created|datetime,
                       amt=contribution.get_amount_locale() %}
                Purchased {{ date }} for {{ amt }}
                {% endtrans %}
              {% if not is_refunded and not is_chargeback %}
                <a href="{{ url('users.support', contribution.pk) }}">
                  {{ _('Request Support') }}</a>
              {% endif %}
            {% elif contribution.type == amo.CONTRIB_REFUND %}
              {% trans date=addon.created|datetime,
                       amt=contribution.get_amount_locale() %}
                Refunded {{ date }} for {{ amt }}
              {% endtrans %}
            {% elif contribution.type == amo.CONTRIB_CHARGEBACK %}
              {% trans date=addon.created|datetime,
                       amt=contribution.get_amount_locale() %}
                Reversed {{ date }} for {{ amt }}
              {% endtrans %}
            {% endif %}
          </span>
        </li>
      {% endfor %}
    </ul>
  {% endif %}
{% endmacro %}

{% macro sort_vital(addon, field) %}
  {% if field in ('popular', 'downloads') or not addon.show_adu() %}
    <div class="adu downloads">
      {% with num=addon.weekly_downloads %}
        {# L10n: {0} is the number of downloads. #}
        {{ ngettext('{0} weekly download', '{0} weekly downloads',
                    num)|f(num|numberfmt) }}
      {% endwith %}
    </div>
  {% else %}
    <div class="adu">
      {% with num=addon.average_daily_users %}
        {# L10n: {0} is the number of users. #}
        {{ ngettext('{0} user', '{0} users', num)|f(num|numberfmt) }}
      {% endwith %}
    </div>
  {% endif %}
  {% if field in ('created', 'updated') %}
    <div class="updated">
      {% if field == 'created' %}
        {# L10n: {0} is a date. #}
        {{ _('Added {0}')|f(addon.created|datetime) }}
      {% else %}
        {# L10n: {0} is a date. #}
        {{ _('Updated {0}')|f(addon.last_updated|datetime) }}
      {% endif %}
    </div>
  {% endif %}
{% endmacro %}
