{% macro vital(addon, type) %}
  <div class="vital">
    {% if type in ('updated', 'created') %}
      <span class="updated">
        {% if type == 'updated' %}
          {# L10n: {0} is a date. #}
          {{ _('Updated {0}')|f(addon.last_updated|datetime) }}
        {% else %}
          {# L10n: {0} is a date. #}
          {{ _('Added {0}')|f(addon.created|datetime) }}
        {% endif %}
      </span>
    {% elif type == 'rating' %}
      {{ impala_reviews_link(addon) }}
      {{ price(addon) }}
    {% elif type in ('downloads', 'adu') %}
      <span class="adu">
        {% if type == 'downloads' %}
          {% trans cnt=addon.weekly_downloads,
                   num=addon.weekly_downloads|numberfmt %}
            {{ num }} weekly download
          {% pluralize %}
            {{ num }} weekly downloads
          {% endtrans %}
        {% else %}
          {% trans cnt=addon.average_daily_users,
                   num=addon.average_daily_users|numberfmt %}
            {{ num }} user
          {% pluralize %}
            {{ num }} users
          {% endtrans %}
        {% endif %}
      </span>
    {% endif %}
  </div>
{% endmacro %}

{% macro addon_heading(addon, version) %}
  <h1{{ addon.name|locale_html }}>
    {{ addon.name }}
    {% if version and not addon.is_selfhosted() %}
      <span class="version">{{ version.version }}</span>
    {% endif %}
  </h1>
{% endmacro %}

{% macro price(addon) %}
  {% if waffle.switch('marketplace') %}
    <span class="vital price {% if addon.is_premium() %}premium{% endif %}">
      {% if addon.is_premium() %}
        {{ addon.premium.get_price_locale() }}
      {% else %}
        {{ _('FREE') }}
      {% endif %}
    </span>
  {% endif %}
{% endmacro %}

{% macro refund_info(amo, addon, contributions, is_refunded) %}
  {% for contribution in contributions.get(addon.pk, []) %}
    <span class="vital purchase">
      {% if contribution.type == amo.CONTRIB_PURCHASE %}
        {% trans date=addon.created|datetime,
                 amt=contribution.get_amount_locale() %}
          Purchased {{ date }} for {{ amt }}
        {% endtrans %}
        {% if not is_refunded %}
          <a href="{{ url('users.support', contribution.pk) }}">
            {{ _('Request Support') }}</a>
        {% endif %}
      {% elif contribution.type == amo.CONTRIB_REFUND %}
        {% trans date=addon.created|datetime,
                 amt=contribution.get_amount_locale() %}
          Refunded {{ date }} for {{ amt }}
        {% endtrans %}
      {% endif %}
    </span>
  {% endfor %}
  {% if is_refunded %}
    <span class="vital purchase refund-notice">
      {{ _('Purchase Refunded') }}
    </span>
  {% endif %}
{% endmacro %}
