{% extends "base_modal.html" if is_ajax else "impala/base_shared.html" %}

{% block classes %}paypal-modal{% endblock %}

{% block content %}
<section class="paypal-parent paypal-thank-you" id="addon_info" data-addon="{{ addon.id }}">
  {% if addon.is_webapp() %}
    <h2>{{ loc('Purchase App') }}</h2>
  {% else %}
    <h2>{{ loc('Purchase Add-on') }}</h2>
  {% endif %}
  <h5 class="error">{{ loc('Error with your purchase') }}</h5>
  {# TODO(apps): Finalize copy. #}
  {% with addon_name=addon.name, support_link="mailto:%s" % settings.MARKETPLACE_EMAIL %}
  <p>
  Unfortunately, your purchase of <strong class='addon-title'>{{ addon_name }}</strong> could <strong>not</strong> be completed.
  </p>
  <p>You can try again, or <a href="{{ support_link }}">try contacting us</a>.</p>
  {% endwith %}
</section>
<section class="paypal-parent">
  {# TODO(marketplace-docs)
  &middot;
  <a href="{{ url('devhub.docs', doc_name='marketplace') }}">{{ loc('Marketplace Support') }}</a>
  #}
</section>
{% endblock %}

