{% extends "base_modal.html" if is_ajax else "base.html" %}

{% block classes %}paypal-modal{% endblock %}

{% block content %}
<section class="paypal-parent" id="addon_info" data-addon="{{ addon.id }}">
  {% if addon.is_webapp() %}
    <h2>{{ loc('Purchase App') }}</h2>
  {% else %}
    <h2>{{ loc('Purchase Add-on') }}</h2>
  {% endif %}
  <h5>{{ loc('Thank you!') }}</h5>
  {# TODO(apps): Finalize copy. #}
  {% with addon_name=addon.name, manifest_url=addon.manifest_url if addon.is_webapp() else '',
          receipt=receipt, href='#' if addon.is_webapp() else download,
          class='trigger_app_install' if addon.is_webapp() else 'trigger_download' %}
    Your purchase of <strong class='addon-title'>{{ addon_name }}</strong> is complete.
    <p>If installation does not automatically begin, please <a class="{{ class }}"
      data-receipt="{{ receipt }}" data-manifest-url="{{ manifest_url }}" href="{{ href }}">click here</a>.</p>
  {% endwith %}
  <p class="mozilla-mission">
  {% with learn_more='http://www.mozilla.org/causes' %}
    Your purchase helps support Mozilla's mission.
    <a href="{{ learn_more }}" target="_blank">Learn more</a>
  {% endwith %}
  </p>
</section>
<section class="paypal-parent">
  <a href="{{ url('users.purchases') }}">{{ loc('My Purchases') }}</a>
  &middot;
  <a href="{{ url('devhub.docs', doc_name='marketplace') }}">{{ loc('Marketplace Support') }}</a>
</section>
{% endblock %}
