{% extends "base_modal.html" if is_ajax else "impala/base_shared.html" %}

{% block classes %}paypal-modal{% endblock %}

{% block content %}
<section class="paypal-parent paypal-thank-you" id="addon_info" data-addon="{{ addon.id }}">
  {% if addon.is_webapp() %}
    <h2>{{ loc('Purchase App') }}</h2>
  {% else %}
    <h2>{{ loc('Purchase Add-on') }}</h2>
  {% endif %}
  <h5>{{ loc('Thank you!') }}</h5>
  {# TODO(apps): Finalize copy. #}
  {% with addon_name=addon.name, manifest_url=addon.manifest_url if addon.is_webapp() else '',
          receipt=receipt, href='#' if addon.is_webapp() else download,
          class='trigger_app_install' if addon.is_webapp() else 'trigger_download' %}
    Your purchase of <strong class='addon-title'>{{ addon_name }}</strong> is complete.
    <p>If installation does not automatically begin, please <a class="{{ class }}"
      data-receipt="{{ receipt }}" data-manifest-url="{{ manifest_url }}" href="{{ href }}">click here</a>.</p>
  {% endwith %}
  <p class="mozilla-mission">
  {% with learn_more='http://www.mozilla.org/causes' %}
    Your purchase helps support Mozilla's mission.
    <a href="{{ learn_more }}" target="_blank">Learn more</a>
  {% endwith %}
  </p>
</section>

{% if waffle.flag('allow-pre-auth') and not amo_user.has_preapproval_key() %}
  <section class="paypal-parent">
    <form form id="preapproval" method="post">
      {{ csrf() }}
      <p>{{ loc('Want to do this faster next time?') }}</p>
      <p>{{ loc('Setting up PayPal pre-approval allows you to buy apps quickly on this site. They also allow you to use in-app purchases that go through this site.') }}</p>
      <p><button>{{ loc('Set up pre-approval') }}</button></p>
    </form>
  </section>
{% endif %}

<section class="paypal-parent">
  {# TODO(marketplace-docs)
  &middot;
  <a href="{{ url('devhub.docs', doc_name='marketplace') }}">{{ loc('Marketplace Support') }}</a>
  #}
</section>
{% endblock %}
