{% extends "base_modal.html" if is_ajax else "impala/base_shared.html" %}

{% block classes %}paypal-modal{% endblock %}

{% block content %}
{% if user.is_authenticated() and addon.has_purchased(user.get_profile()) %}
<section class="paypal-parent ajax-submit" id="addon_info" data-addon="{{ addon.id }}">
  {% if addon.is_webapp() %}
  <h2>{{ _('Purchased App') }}</h2>
  {{ _("You've already bought this app!") }}
  {% else %}
  <h2>{{ _('Purchased Add-on') }}</h2>
  {{ _("You've already bought this add-on!") }}
  {% endif %}
  {% trans manifest_url=addon.manifest_url if addon.is_webapp() else '',
          class='trigger_app_install' if addon.is_webapp() else 'trigger_download',
          receipt='receipt',
          href='#' if addon.is_webapp() else download %}
          <p>If installation does not automatically begin, please <a class="{{ class }}" data-manifest-url="{{ manifest_url }}" href="{{ href }}"
            data-receipt="{{ receipt }}">click here</a>.</p>
  {% endtrans %}
  </p>
</section>
{% else: %}
<div class="ajax-submit">
  {% if addon.is_webapp() %}
  <h2>{{ _('Purchase App') }}</h2>
  {% else %}
  <h2>{{ _('Purchase Add-on') }}</h2>
  {% endif %}
  <div class="paypal-content">
    <div class="price-wrapper">
      <span class="price">{{ addon.premium.get_price_locale() }}</span>
      {% if currencies|length > 1 %}
        <br />
        <a href="#">change currency</a>
        <select name="currency" class="js-hidden">
          {% for pk, currency in currencies %}
          <option value="{{ pk }}" data-display="{{ currency.get_price_locale() }}">{{ amo.PAYPAL_CURRENCIES[currency.currency] }}</option>
          {% endfor %}
        </select>
      </span>
      {% endif %}
    </div>
    <h5>{{ addon.name }}</h5>
    <div class="paypal-links">
      {# TODO(apps): Add a link to purchase info.
        <a>{{ _('Learn about purchases') }}</a>
      #}
    </div>
    <div class="paypal-parent">
      {% if user.is_authenticated() %}
      <div class="paypal-user">
        {% trans user_email=user.email %}
        You are logged in as <strong>{{ user_email }}</strong>!
        {% endtrans %}
      </div>
      <form method="post" action="{{ shared_url('addons.purchase', addon) }}?">
        {{ csrf() }}
        <button class="button prominent paypal"
                data-realurl="{{ download }}"
                data-thanksurl="{{ shared_url('addons.purchase.thanks', addon) }}">
          {# The <small> makes it smaller, <em> makes it darker. Don't localize "PayPal". #}
          {{ loc('Pay <small>with</small> Pay<em>Pal</em>')|xssafe }}
        </button>
      </form>
      <p>{{ loc('Complete your purchase with PayPal.  No PayPal account is necessary.') }}</p>
      {% else %}
      <div class="paypal-user login">
        <a href="#" class="browserid-login button prominent"
          data-url="{{ url('users.browserid_login') }}" data-event="login-complete">
          {{ loc('Log in / Register') }}
        </a>
      </div>
      <p>{{ loc('You need to be logged in to download and install apps to your browser.') }}</p>
      {% endif %}
    </div>
  </div>
{% endif %}
{% endblock %}
