{% extends "base_modal.html" if is_ajax else "base.html" %}

{% block classes %}paypal-modal{% endblock %}

{% block content %}
<section class="paypal-parent" id="addon_info" data-addon="{{ addon.id }}">
  {% if addon.is_webapp() %}
    <h2>{{ _('Purchase App') }}</h2>
  {% else %}
    <h2>{{ _('Purchase Add-on') }}</h2>
  {% endif %}
  <h5>{{ _('Thank you!') }}</h5>
  {% trans addon_name=addon.name, manifest_url=addon.manifest_url if addon.is_webapp() else '',
          class='trigger_app_install' if addon.is_webapp() else 'trigger_download',
          href='#' if addon.is_webapp() else download %}
    Your purchase of <strong class='addon-title'>{{ addon_name }}</strong> is complete.
    <p>If installation does not automatically begin, please <a class="{{ class }}" data-manifest-url="{{ manifest_url }}" href="{{ download }}">click here</a>.</p>
  {% endtrans %}
  <p class="mozilla-mission">
  {% trans learn_more='http://www.mozilla.org/causes' %}
  Your purchase helps support Mozilla's mission. <a href="{{ learn_more }}" target="_blank">Learn more</a>
  {% endtrans %}
  </p>
</section>
<section class="paypal-parent">
  <a href="{{ url('users.purchases') }}">{{ _('My Purchases') }}</a>
  &middot;
  <a href="{{ url('devhub.docs', doc_name='marketplace') }}">{{ _('Marketplace Support') }}</a>
</section>
{% endblock %}
