{% if request.APP == amo.FIREFOX %}
{% if listing %}
  <div class="performance-note">
    {{ _('This add-on can slow down Firefox.') }}
    &nbsp;<a href="#">{{ _('More&hellip;')|safe }}</a>
    <div class="popup warning hidden">
      <p class="msg">
        {% trans amount=amount|int %}
          <b>Performance warning:</b> Installing this add-on can slow down
          Firefox's start-up by <b>{{ amount }}%</b>.
        {% endtrans %}
      </p>
      <p>
        <a href="{{ url('perf.index' )}}">{{ _('Learn more&hellip;')|safe }}</a>
      </p>
    </div>
  </div>
{% else %}
  <div class="notification performance-note">
    <span></span>
    <div>
      <h3>{{ _('This add-on can slow down Firefox.') }}</h3>
      {% trans amount=amount|int %}
        Installing this add-on can slow down
        Firefox's start-up by <b>{{ amount }}%</b>.
      {% endtrans %}
      <a href="{{ url('perf.index' )}}">{{ _('Learn more&hellip;')|safe }}</a>
    </div>
  </div>
{% endif %}
{% endif %}
