{% extends "base.html" %}

{% block title %}{{ page_title(addon.name) }}{% endblock %}
{% block js %}{% include("amo/recaptcha_js.html") %}{% endblock %}
{% block bodyclass %}inverse{% endblock %}

{% block content %}
{{ breadcrumbs([(addon.type_url(), amo.ADDON_TYPES[addon.type]), (None, addon.name)]) }}

<hgroup>
  <h2 class="addon"{{ addon.name|locale_html }}>
    <img src="{{ addon.icon_url }}" class="icon"/>
    <span>
      {{ addon.name }}
    </span>
  </h2>
  <h4 class="author">{{ _('by') }} {{ users_list(addon.listed_authors) or persona.display_username }}</h4>
</hgroup>

<div id="persona" class="primary" role="main" data-id="{{ addon.id }}">
  <div class="featured">
    <div class="featured-inner object-lead">

      <div id="addon-summary-wrapper">
        <div id="persona-summary" class="{{ addon|statusflags }}">

          {{ persona_preview(persona, linked=False) }}

          <table itemscope itemtype="http://data-vocabulary.org/Review-aggregate">
            {% with addon_name='<span itemprop="itemreviewed">{0}</span>'|f(addon.name|e) %}
              {# L10n: This is a caption for a table. {0} is an add-on name. #}
              <caption>{{ _('Add-on Information for {0}')|f(addon_name)|xssafe }}</caption>
            {% endwith %}
            {% include "addons/persona_detail_table.html" %}
          </table>

          <p{{ addon.description|locale_html }}>{{ addon.description|nl2br }}</p>

          {{ big_install_button(addon, show_warning=False) }}

          {% if waffle.flag('submit-personas') and request.check_ownership(addon, require_owner=False) %}
            <p><a href="{{ addon.get_dev_url() }}" class="button developer prominent">{{ _('Edit Theme') }}</a></p>
          {% endif %}
          {% if waffle.flag('submit-personas') and is_reviewer %}
            {# TODO: Move Reviewer Tools to AMO so we don't need to hack. #}
            <p><a href="{{ settings.SITE_URL|replace('//addons', '//marketplace') }}/reviewers/themes/queue/single/{{ addon.slug }}" class="button prominent">
              {{ _('Approve / Reject') if addon.is_pending() else _('Review History') }}</a>
          {% endif %}

          <div class="widgets">
            {{ favorites_widget(addon) }}
            {% include 'addons/includes/collection_add_widget.html' %}
          </div>

          {# TODO(davedash): Remove until zamboni does sharing
          {{ sharing_box(addon) }}
          #}

      </div></div>{# /addon-summary and -wrapper #}
  </div></div>{# /featured-inner and featured #}

  <div id="more-personas">
    {% if category_personas %}
      <div id="more-category" class="persona-list {{ 'persona-list-3col' if not author_personas else 'persona-list-2col' }}">
        {# L10n: {0} is a category name, such as Nature #}
        <h3>{{ _('More {0} Themes')|f(categories[0].name) }}</h3>
        <div class="article">
          {% for other in category_personas %}
            {{ persona_preview(other.persona, size='small') }}
          {% endfor %}
        </div>
        {# L10n: {0} is a category name, such as Nature #}
        <a href="{{ categories[0].get_url_path() }}" class="more-link">{{ _('See all {0} Themes')|f(categories[0].name) }}</a>
      </div>
    {% endif %}

    {% if author_personas %}
      <div id="more-artist">
        <h3>{{ _('More by this Artist') }}</h3>
        <div class="article">
          {% for other in author_personas %}
            {{ persona_preview(other.persona, size='small') }}
          {% endfor %}
        </div>
        {% if author_gallery %}
          <a href="{{ author_gallery }}" class="more-link">{{ _('See all Themes by this Artist') }}</a>
        {% endif %}
      </div>
    {% endif %}
  </div>{# /more-personas #}

  {{ review_list_box(addon=addon, reviews=reviews) }}
  {% if request.user.is_authenticated() %}
    {{ review_add_box(addon=addon) }}
  {% endif %}

  {% if abuse_form %}
    {{ addon_report_abuse(hide=True, addon=addon) }}
  {% endif %}

</div>{# /primary #}

<div id="persona-side" class="secondary" role="navigation">
  {% if categories %}
  <div class="category-list">
    <h3 class="compact-bottom">{{ _('Categories') }}</h3>
    <ul>
      {# TODO reverse URL #}
      {% for category in categories %}
      <li>
        <a href="{{ category.get_url_path() }}" class="category">{{ category }}</a>
      </li>
      {% endfor %}
    </ul>
  </div>
  {% endif %}

  {{ tags_box(addon=addon, tags=tags) }}

</div>{# /secondary #}
{% endblock content %}
