<div class="persona persona-{{ size }}">
  <div class="persona-inner">
    <div class="persona-preview">
      {% set tag = 'a' if linked else 'div' %}
      <{{ tag }} {{ ('href="%s" ' % addon.get_url_path())|safe if
                    linked else '' }}
      title="{{ addon.name }}" style="background-image:url('{{ preview }}')"
      data-browsertheme="{{ persona.json_data }}">
        {% if extra == 'created' %}
          <span class="created">
            {{ _('Added {0}')|f(addon.created|datetime) }}
          </span>
        {% elif extra == 'popular' %}
          <span class="users">
            {{ _('<b>{0}</b> users')|f(addon.persona.popularity|numberfmt)|safe }}
          </span>
        {% elif extra == 'rating' %}
          {# TODO(jbalogh): call this rating when remora is gone. #}
          <span class="reviews">
            {{ addon.average_rating|float|stars }} {{ addon.total_reviews|numberfmt }}
          </span>
        {% endif %}
      </{{ tag }}>

      {% if details %}
        <h6><a href="{{ addon.get_url_path() }}">{{ addon.name }}</a></h6>
        <div class="details">
          <p>
          {# L10n: For datetime formatting, see the table on http://docs.python.org/library/datetime.html#strftime-and-strptime-behavior #}
            {% set dt = _('%Y-%m-%d') %}
            {{ _('by {0} on {1}')|f(addon.persona.display_username,
                                    addon.created|datetime(dt)) }}
          </p>
          {% if addon.total_reviews %}
            <a href="{{ url('reviews.list', addon.id) }}">
              {{ addon.average_rating|float|stars }}
              {{ addon.total_reviews }}</a>
          {% else %}
            <span>{{ _('Not yet rated') }}</span>
          {% endif %}
          <span class="users">
            {{ _('<b>{0}</b> users')|f(addon.persona.popularity|numberfmt)|safe }}
          </span>
        </div>
      {% endif %}

      {% if linked %}
      {# TODO persona install button on hover #}
      <span class="persona-install"></span>
      {% endif %}
    </div>
  </div>
</div>
