{% extends "base_side_categories.html" %}

{% block title %}
  {# L10n: {0} is the name of the Addon #}
  {{ page_title(_('Privacy Policy for {0}')|f(addon.name)) }}
{% endblock %}

{% block bodyclass %}policy{% endblock %}

{% set version = addon.current_version %}

{% block content %}
<header>
  {# L10n: The Privacy Policy for this addon #}
  {{ breadcrumbs([(addon.type_url(), amo.ADDON_TYPES[addon.type] ),
                  (url('addons.detail',addon.id), addon.name),
                  (None, _('Privacy Policy'))]) }}
  <h2 class="name"{{ addon.name|locale_html }}>
    <span>
      {{ addon.name }}
    </span>
    {% if version and not addon.is_selfhosted() %}
      <span class="version">{{ version.version }}</span>
    {% endif %}
  </h2>
</header>
<h3>{{ _('Privacy Policy') }}</h3>
<div class="policy-statement">{{ addon.privacy_policy }}</div>
<p class="policy-link">
  <a href ="{{ url('addons.detail', addon.id) }}">
    {{ _('Back to {0}...')|f(addon.name) }}
  </a>
</p>
{% endblock content %}