<form method="post" action="{{ shared_url('addons.abuse', addon) }}">
  {{ csrf() }}
  <fieldset class="abuse">
    {% if hide %}
    <legend><a href="{{ url('devhub.docs', 'policies', 'contact') }}"
               class="abuse-image">{{ _('Report Abuse') }}</a></legend>
    {% endif %}
    <ol {% if hide %}style="display: none"{% endif %}>
      <li>
        {% if addon.is_webapp() %}
          <p>
            {# TODO(apps): Add link back to apps policies when bug 685602 is done. #}
            {{ loc('If you suspect this app violates our policies or has
                    security or privacy issues, please use the form below to
                    describe your concerns. Please do not use this form for
                    any other reason.') }}
          </p>
        {% else %}
          <p>{% trans url=remora_url('developers/docs/policies') %}
            If you suspect this add-on violates <a href="{{ url }}">our policies</a> or
            has security or privacy issues, please use the form below to describe your
            concerns. Please do not use this form for any other reason.{% endtrans %}</p>
        {% endif %}
      </li>
      <li>
        {{ abuse_form.text }}
        {{ abuse_form.text.errors }}
      </li>
      {% if abuse_form.has_recaptcha %}
        {{ recaptcha(abuse_form) }}
      {% endif %}
      <li class="footer-submit">
        <button type="submit">{{ _('Send Report') }}</button>
        {% if hide %}
        {{ _('or') }} <a href="#" class="cancel">{{ _('Cancel') }}</a>
        {% endif %}
      </li>
    </ol>
  </fieldset>
</form>
