{% extends "impala/base_shared.html" %}

{% set title = _('Report abuse for {0}')|f(addon.name) %}
{% block bodyclass %}gutter abuse{% endblock %}
{% block title %}{{ page_title(title) }}{% endblock %}
{% block js %}{% include("amo/recaptcha_js.html") %}{% endblock %}
{% block content %}
<header>
  {{ impala_breadcrumbs([(addon.type_url(), amo.ADDON_TYPES[addon.type]),
                         (addon.get_url_path(), addon.name),
                         (None, _('Report Abuse'))]) }}
  <h1>{{ title }}</h1>
</header>
<section class="primary island c prettyform">
  {{ addon_report_abuse(hide=False, addon=addon) }}
</section>
{% endblock %}
