{% extends "base_side_categories.html" %}

{% set title = _('Report abuse for {0}')|f(addon.name) %}

{% block title %}{{ page_title(title) }}{% endblock %}
{% block js %}{% include("amo/recaptcha_js.html") %}{% endblock %}
{% block content %}

<header>
  {{ breadcrumbs([(addon.type_url(), amo.ADDON_TYPES[addon.type]),
                  (addon.get_url_path(), addon.name),
                  (None, _('Add Abuse'))]) }}
  <h2>{{ title }}</h2>
</header>

{{ addon_report_abuse(hide=False, addon=addon) }}

{% endblock %}
