{% extends "base_side_categories.html" %}

{% block title %}It's an Add-on Buffet!{% endblock %}

{% macro item(addon, version=None) %}
<div class="item">
  {{ install_button(addon, version) }}
  <hgroup>
    <h3>{{ addon.name }}</h3>
    <h5>({{ addon.tag }})</h5>
  </hgroup>
  <blockquote>{{ addon.summary }}</blockquote>
</div>
{% endmacro %}

{% block content %}
<div class="featured listing">
  <div class="featured-inner">
    {% for addon in addons %}
      {{ item(addon) }}
    {% endfor %}
    {{ item(beta, beta.current_beta_version) }}
  </div>
</div>
{% endblock %}
