{% if addon.takes_contributions %}
  {% set base = url('addons.contribute', addon.id)|urlparams(source='direct') %}
  <div class="contribute">
    {% if addon.suggested_amount is not none %}
    {% trans url=base|urlparams(type='suggested')|escape,
             amt=addon.suggested_amount|currencyfmt('USD') %}
      Support this add-on: <a href="{{ url }}">Contribute {{ amt }}</a>
    {% endtrans %}
    {% else %}
      <a href="{{ base }}">{{ _('Support this add-on') }}</a>
    {% endif %}
  </div>
{% endif %}
