<div class="other-categories highlight">
  <h3><a href="{{ url('collections.list') }}">{{ _('Collections') }}</a></h3>
  {% if request.user.is_authenticated() %}
    <ul>
      <li id="p-following">
        <a href="{{ url('collections.following') }}">
          {{ _("Collections I'm Following") }}</a></li>
      <li id="p-mine">
        <a href="{{ url('collections.user', user.username) }}">
          {{ _("Collections I've Made") }}</a></li>
      <li><a href="{{ url('collections.detail', user.username, 'favorites') }}">
        {{ _("My Favorite Add-ons") }}</a></li>
    </ul>
  {% endif %}
</div>

<div>
  <h3>{{ _('Create a New Collection') }}</h3>
  <p>{% trans %}
    Collections make it easy to keep track of favorite add-ons and share your
    perfectly customized browser with others.
  {% endtrans %}</p>
  <a href="{{ url('collections.add') }}" class="button">
    {{ _('Create a Collection') }}</a>
</div>

