{% set ns = "stats." + site %}

{% if site == 'addons' %}
  {% set base = "https://graphite-phx.mozilla.org/render/?width={0}&height={1}"|f(width, height) %}
{% else %}
  {% set base = "https://graphite-sjc.mozilla.org/render/?width={0}&height={1}"|f(width, height) %}
{% endif %}

{% set site_name = {
    'pamo': 'Preview',
    'namo': 'Next',
    'amo': 'Production',
    'addons': 'PHX',
}[site] %}

{% set site_url = {
    'pamo': 'https://addons.allizom.org',
    'namo': 'https://addons-next.allizom.org',
    'amo': 'https://addons.mozilla.org',
    'addons': 'https://addons.mozilla.org',
}[site] %}

{% set fifteen = "from=-15minutes&title=15 minutes" %}
{% set hour = "from=-1hours&title=1 hour" %}
{% set day = "from=-24hours&title=24 hours" %}
{% set week = "from=-7days&title=7 days" %}

{% macro grid() %}
  <img class="fifteen" src="{{ base }}&{{ caller()|trim }}&{{ fifteen }}">
  <img class="hour" src="{{ base }}&{{ caller()|trim }}&{{ hour }}">
  <img class="day" src="{{ base }}&{{ caller()|trim }}&{{ day }}">
  <img class="week" src="{{ base }}&{{ caller()|trim }}&{{ week }}">
{% endmacro %}

<!DOCTYPE html>
<html>
  <head>
    <title>Graphite for {{ site_name }}</title>
    <style>
      #sizes { list-style-type: none; }
      #sizes li { display: inline; }
      a { text-decoration: none; color: #393992; }
    </style>
  </head>
  <body>
    <h1>Graphite for <a href="{{ site_url }}">{{ site_url }}</a></h1>
    <p>If you don't see pictures, you don't have LDAP authentication.</p>
    <ul>
      <li><a href="#responses">All Responses</a></li>
      <li><a href="#errors">Redirects and Errors</a></li>
      <li><a href="#celery">Celery</a></li>
      <li><a href="#guid-search">GUID Search Perf</a></li>
      <li><a href="#homepage">Homepage</a></li>
      <li><a href="#search">Search</a></li>
    </ul>
    <ul id=sizes>
      <li><a href="{{ request.get_full_path()|urlparams(width=300, height=None) }}">
          small</a></li>
      <li><a href="{{ request.get_full_path()|urlparams(width=None, height=None) }}">
          normal</a></li>
      <li><a href="{{ request.get_full_path()|urlparams(width=1250, height=None) }}">
          wide</a></li>
      <li><a href="{{ request.get_full_path()|urlparams(width=1250, height=657) }}">
          big</a></li>
    </ul>

    <h2 id="responses">All Responses</h2>
    {% call grid() %}
      target=sumSeries%28{{ ns }}.response.*%29&target={{ ns }}.response.200&target={{ ns }}.response.301&target={{ ns }}.response.302&target={{ ns }}.response.403&target={{ ns }}.response.404&target={{ ns }}.response.405&target={{ ns }}.response.500
    {% endcall %}


    <h2 id="errors">Redirects and Errors</h2>
    {% call grid() %}
      target={{ ns }}.response.301&target={{ ns }}.response.302&target={{ ns }}.response.304&target={{ ns }}.response.400&target={{ ns }}.response.403&target={{ ns }}.response.404&target={{ ns }}.response.405&target={{ ns }}.response.500&target={{ ns }}.response.503
    {% endcall %}

    <h2 id="celery">Celery (<a href="{{ url('zadmin.celery') }}">details</a>)</h2>
    {% call grid() %}
      target=sumSeries({{ site }}.celery.tasks.pending.*.*.*)&target=nonNegativeDerivative(sumSeries({{ site }}.celery.tasks.total.*.*.*))&target=nonNegativeDerivative(sumSeries({{ site }}.celery.tasks.failed.*.*.*))
    {% endcall %}

    <h2 id="guid-search">GUID Search Perf</h2>
    {% call grid() %}
      target=stats.timers.{{ site }}.view.api.views.guid_search.GET.lower&target=stats.timers.{{ site }}.view.api.views.guid_search.GET.mean&target=stats.timers.{{ site }}.view.api.views.guid_search.GET.upper_90&target=scale%28stats.timers.{{ site }}.view.api.views.guid_search.GET.count%2C%200.01%29
    {% endcall %}

    <h2 id="homepage">Homepage</h2>
    {% call grid() %}
      target=stats.timers.{{ site }}.view.addons.views.home.GET.count&target=stats.timers.{{ site }}.view.addons.views.home.GET.lower&target=stats.timers.{{ site }}.view.addons.views.home.GET.mean&target=stats.timers.{{ site }}.view.addons.views.home.GET.upper_90
    {% endcall %}

    <h2 id="search">Search</h2>
    {% call grid() %}
      target=stats.timers.{{ site }}.view.search.views.search.GET.count&target=stats.timers.{{ site }}.view.search.views.search.GET.lower&target=stats.timers.{{ site }}.view.search.views.search.GET.mean&target=stats.timers.{{ site }}.view.search.views.search.GET.upper_90
    {% endcall %}

    <script>
      /* Press `r` to only update the pictures that really need it. */
      var classes = {
        /* Map CSS class to [last updated, update threshold]. */
        fifteen: [new Date, 0],
        hour: [new Date, 30],
        day: [new Date, 60],
        week: [new Date, 600],
      }

      /* Remember the original src. */
      var imgs = document.querySelectorAll('img');
      for (var i = 0; i < imgs.length; i++) {
        imgs[i].setAttribute('data-src', imgs[i].getAttribute('src'));
      }

      document.addEventListener('keypress', function(e) {
        /* Figure out what needs to be updated and fix lastUpdated slot. */
        var now = (new Date), update = [];
        Object.keys(classes).map(function(k) {
          var [lastLoad, limit] = classes[k];
          if (now - lastLoad > limit * 1000) {
            classes[k][0] = now;
            update.push(k);
          }
        });
        var selector = ['img.' + c for each (c in update)].join(',');

        /* Replace img src if we got the right keypress. */
        if (e.charCode == 'r'.charCodeAt()) {
          var imgs = document.querySelectorAll(selector);
          for (var i = 0; i < imgs.length; i++) {
            imgs[i].setAttribute('src', imgs[i].getAttribute('data-src') + '&' + new Date);
          }
        }
      }, false);
    </script>
  </body>
</html>
