{% set ns = "stats." + site %}
{% set base = "https://graphite.mozilla.org/render/" %}

<!DOCTYPE html>
<html>
  <head>
    <title>Graphite for Preview</title>
    <base href="{{ base }}">
  </head>
  <body>
    <h1>Grahpite for <a href="https://addons.allizom.org">https://addons.allizom.org</a></h1>
    <p>Make sure you're on VPN!</p>
    <h2 id="responses">Responses</h2>
    <img src="?width={{ width }}&height={{ height }}&target=sumSeries%28{{ ns }}.response.200%2C{{ ns }}.response.301%2C{{ ns }}.response.302%2C{{ ns }}.response.404%2C{{ ns }}.response.405%2C{{ ns }}.response.500%29&target={{ ns }}.response.200&target={{ ns }}.response.301&target={{ ns }}.response.302&target={{ ns }}.response.403&target={{ ns }}.response.404&target={{ ns }}.response.405&target={{ ns }}.response.500&from=-15minutes">
    <img src="?width={{ width }}&height={{ height }}&target=sumSeries%28{{ ns }}.response.200%2C{{ ns }}.response.301%2C{{ ns }}.response.302%2C{{ ns }}.response.404%2C{{ ns }}.response.405%2C{{ ns }}.response.500%29&target={{ ns }}.response.200&target={{ ns }}.response.301&target={{ ns }}.response.302&target={{ ns }}.response.403&target={{ ns }}.response.404&target={{ ns }}.response.405&target={{ ns }}.response.500&from=-1hours">
    <img src="?width={{ width }}&height={{ height }}&target=sumSeries%28{{ ns }}.response.200%2C{{ ns }}.response.301%2C{{ ns }}.response.302%2C{{ ns }}.response.404%2C{{ ns }}.response.405%2C{{ ns }}.response.500%29&target={{ ns }}.response.200&target={{ ns }}.response.301&target={{ ns }}.response.302&target={{ ns }}.response.403&target={{ ns }}.response.404&target={{ ns }}.response.405&target={{ ns }}.response.500&from=-24hours">
    <img src="?width={{ width }}&height={{ height }}&target=sumSeries%28{{ ns }}.response.200%2C{{ ns }}.response.301%2C{{ ns }}.response.302%2C{{ ns }}.response.404%2C{{ ns }}.response.405%2C{{ ns }}.response.500%29&target={{ ns }}.response.200&target={{ ns }}.response.301&target={{ ns }}.response.302&target={{ ns }}.response.403&target={{ ns }}.response.404&target={{ ns }}.response.405&target={{ ns }}.response.500&from=-7days">
  </body>
</html>
