{% extends 'base.html' %}
{% block title %}Mozilla Add-ons Site Status{% endblock title %}
{% block main_content %}
<div class="notification-box {% if status_summary.memcache %}info{% else %}error{% endif %}">
  <h2>[Memcache] Connection Tests</h2>
  <ul>
  {% for ip, port, result in memcache_results %}
    <li>{{ ip }}:{{ port }}
    {% if result %}
      Success
    {% else %}
      <strong>Failed</strong>
    {% endif %}
    </li>
  {% else %}
    <li>There are no memcache servers!</li>
  {% endfor %}
  </ul>
  <p>There must be a minimum of 2 working servers.</p>
</div>

{% endblock main_content %}
