{% extends 'base.html' %}

{% block title %}Mozilla Add-ons Site Status{% endblock title %}

{% macro status(b) %}
  {% if b %}info{% else %}error{% endif %}
{% endmacro %}

{% block main_content %}
<div class="notification-box {{ status(status_summary.memcache) }}">
  <h2>[Memcache] Connection Tests</h2>
  <ul>
  {% for ip, port, result in memcache_results %}
    <li>{{ ip }}:{{ port }}
    {% if result %}
      Success
    {% else %}
      <strong>Failed</strong>
    {% endif %}
    </li>
  {% else %}
    <li>There are no memcache servers!</li>
  {% endfor %}
  </ul>
  <p>There must be a minimum of 2 working servers.</p>
</div>

<div class="notification-box {{ status(status_summary.filepaths) }}">
  <h2>[Paths] Paths and Permissions</h2>
  <dl>
  {% for path, exists, permissions, extra in filepath_results %}
    <dt>{{ path }}</dt>
    <dd>
    {% if exists %}
      Exists...
    {% else %}
      <strong>Does not exist</strong>
    {% endif %}

    {% if permissions %}
      with proper permissions.
    {% else %}
      <strong>and does not have the permissions we expect.</strong>
    {% endif %}
    {% if extra %}
      ({{ extra }})
    {% endif %}
    </dd>
  {% endfor %}
  </dl>
</div>

<div class="notification-box {{ status(status_summary.redis) }}">
  <h2>Redis Info</h2>
  {% with info, error = redis_results %}
    {% if info %}
      <ul>
        {% for k, v in info.items() %}
          <li><code>{{ k }}: {{ v }}</code></li>
        {% endfor %}
      </ul>
    {% else %}
      <strong>Error!</strong>
      <code>{{ error }}</code>
    {% endif %}
  {% endwith %}
</div>

{% endblock main_content %}
